openapi: 3.0.3
info:
  title: Marketplace Service API
  description: 'Enterprise-grade Item Marketplace System  NECPGAME .


    ## 🎯 **Marketplace Service Overview**


    Marketplace Service NECPGAME  enterprise-grade   .


    ### ** **

    - **Listing Management**:

    - **Price Discovery**:

    - **Inventory Management**:

    - **Transaction Processing**:


    ### ** **

    - **Fixed Price**:

    - **Negotiable Price**:

    - **Bulk Listings**:

    - **Premium Listings**:


    ### ** **

    - **Search & Filtering**:

    - **Price Analytics**:

    - **Seller Ratings**:

    - **Market Trends**:


    ## 📊 **Performance Targets**

    - **P99 Latency**: <35ms

    - **Throughput**: 30,000+ marketplace operations/second

    - **Concurrent Users**: 300,000+

    - **Listings Volume**: 2M+


    ## 🔐 **Security**

    - JWT RS256

    - Rate limiting

    - Input validation  sanitization

    - Audit logging

    '
  version: 1.0.0
  contact:
    name: NECPGAME Platform Team
    email: platform@necpgame.com
  license:
    name: Proprietary
    url: https://necpgame.com/license
servers:
- url: https://marketplace.necpgame.com/api/v1
  description: Production Environment
- url: https://marketplace-staging.necpgame.com/api/v1
  description: Staging Environment
- url: http://localhost:8080/api/v1
  description: Local Development
security:
- BearerAuth: []
tags:
- name: Listing Management
  description: null
- name: Search & Discovery
  description: null
- name: Transaction Processing
  description: null
- name: Seller Management
  description: null
- name: Market Analytics
  description: null
- name: Inventory
  description: null
- name: Health
  description: null
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /listings:
    $ref: ./paths/listings.yaml#/paths/~1listings
  /listings/{listingId}:
    $ref: ./paths/listings-{listingId}.yaml#/paths/~1listings~1{listingId}
  /listings/search:
    $ref: ./paths/listings-search.yaml#/paths/~1listings~1search
  /listings/{listingId}/purchase:
    $ref: ./paths/listings-{listingId}-purchase.yaml#/paths/~1listings~1{listingId}~1purchase
  /listings/{listingId}/negotiate:
    $ref: ./paths/listings-{listingId}-negotiate.yaml#/paths/~1listings~1{listingId}~1negotiate
  /sellers/{sellerId}/listings:
    $ref: ./paths/sellers-{sellerId}-listings.yaml#/paths/~1sellers~1{sellerId}~1listings
  /sellers/{sellerId}/rating:
    $ref: ./paths/sellers-{sellerId}-rating.yaml#/paths/~1sellers~1{sellerId}~1rating
  /listings/{listingId}/watch:
    $ref: ./paths/listings-{listingId}-watch.yaml#/paths/~1listings~1{listingId}~1watch
  /market/analytics:
    $ref: ./paths/market-analytics.yaml#/paths/~1market~1analytics
  /market/trends:
    $ref: ./paths/market-trends.yaml#/paths/~1market~1trends
  /inventory/{playerId}:
    $ref: ./paths/inventory-{playerId}.yaml#/paths/~1inventory~1{playerId}
  /market/price-guide:
    $ref: ./paths/market-price-guide.yaml#/paths/~1market~1price-guide
components:
  schemas:
    CharacterEntity:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/CharacterEntity
    BaseEntity:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/BaseEntity
    OptimisticLock:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/OptimisticLock
    ErrorResponse:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/ErrorResponse
    HealthResponse:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/HealthResponse
    HealthBatchRequest:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/HealthBatchRequest
    HealthBatchResponse:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/HealthBatchResponse
    ListingEntity:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/ListingEntity
    ListedItemEntity:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/ListedItemEntity
    SellerRatingEntity:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/SellerRatingEntity
    ListingWatchEntity:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/ListingWatchEntity
    CreateListingRequest:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/CreateListingRequest
    UpdateListingRequest:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/UpdateListingRequest
    ListingResponse:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/ListingResponse
    ListingListResponse:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/ListingListResponse
    SearchResultsResponse:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/SearchResultsResponse
    PurchaseRequest:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/PurchaseRequest
    PurchaseResponse:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/PurchaseResponse
    NegotiateRequest:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/NegotiateRequest
    NegotiateResponse:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/NegotiateResponse
    SellerListingsResponse:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/SellerListingsResponse
    SellerRatingResponse:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/SellerRatingResponse
    WatchListingRequest:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/WatchListingRequest
    WatchResponse:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/WatchResponse
    MarketAnalyticsResponse:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/MarketAnalyticsResponse
    MarketTrendsResponse:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/MarketTrendsResponse
    PlayerInventoryResponse:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/PlayerInventoryResponse
    PriceGuideResponse:
      $ref: ./schemas/marketplace-service-schemas.yaml#/components/schemas/PriceGuideResponse
  responses: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
