openapi: "3.0.3"

info:
  title: "Marketplace Service API"
  description: |
    Enterprise-grade Item Marketplace System для NECPGAME платформы.

    ## 🎯 **Marketplace Service Overview**

    Marketplace Service предоставляет комплексную систему рынка предметов для платформы NECPGAME с enterprise-grade производительностью и масштабируемостью.

    ### **Ключевые Возможности**
    - **Listing Management**: Управление объявлениями о продаже
    - **Price Discovery**: Определение рыночных цен
    - **Inventory Management**: Управление инвентарем продавцов
    - **Transaction Processing**: Обработка транзакций

    ### **Типы Объявлений**
    - **Fixed Price**: Фиксированная цена
    - **Negotiable Price**: Договорная цена
    - **Bulk Listings**: Массовые объявления
    - **Premium Listings**: Премиум объявления

    ### **Расширенные Возможности**
    - **Search & Filtering**: Поиск и фильтрация
    - **Price Analytics**: Аналитика цен
    - **Seller Ratings**: Рейтинги продавцов
    - **Market Trends**: Тренды рынка

    ## 📊 **Performance Targets**
    - **P99 Latency**: <35ms для операций с объявлениями
    - **Throughput**: 30,000+ marketplace operations/second
    - **Concurrent Users**: 300,000+ активных пользователей
    - **Listings Volume**: 2M+ активных объявлений

    ## 🔐 **Security**
    - JWT RS256 аутентификация
    - Rate limiting для предотвращения спама
    - Input validation и sanitization
    - Audit logging всех операций

  version: "1.0.0"
  contact:
    name: "NECPGAME Platform Team"
    email: "platform@necpgame.com"
  license:
    name: "Proprietary"
    url: "https://necpgame.com/license"

servers:
  - url: "https://marketplace.necpgame.com/api/v1"
    description: "Production Environment"
  - url: "https://marketplace-staging.necpgame.com/api/v1"
    description: "Staging Environment"
  - url: "http://localhost:8080/api/v1"
    description: "Local Development"

security:
  - BearerAuth: []

tags:
  - name: "Listing Management"
    description: "Управление объявлениями"
  - name: "Search & Discovery"
    description: "Поиск и обнаружение"
  - name: "Transaction Processing"
    description: "Обработка транзакций"
  - name: "Seller Management"
    description: "Управление продавцами"
  - name: "Market Analytics"
    description: "Аналитика рынка"
  - name: "Inventory"
    description: "Инвентарь"
  - name: "Health"
    description: "Мониторинг здоровья сервиса"

paths:
  /health:
    get:
      summary: "Проверка здоровья сервиса"
      operationId: "healthCheck"
      tags: ["Health"]
      responses:
        "200":
          description: "Сервис работает корректно"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: "Сервис недоступен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /health/batch:
    post:
      summary: "Пакетная проверка здоровья"
      operationId: "healthBatchCheck"
      tags: ["Health"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthBatchRequest"
      responses:
        "200":
          description: "Результаты проверки здоровья"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthBatchResponse"
        "400":
          description: "Некорректный запрос"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /health/ws:
    get:
      summary: "WebSocket проверка здоровья"
      operationId: "healthWebSocketCheck"
      tags: ["Health"]
      responses:
        "101":
          description: "WebSocket соединение установлено"
        "503":
          description: "WebSocket недоступен"

  /listings:
    post:
      summary: "Создание объявления"
      operationId: "createListing"
      tags: ["Listing Management"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateListingRequest"
      responses:
        "201":
          description: "Объявление создано"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingResponse"
        "400":
          description: "Некорректные данные"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: "Предмет недоступен для продажи"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      summary: "Получение списка объявлений"
      operationId: "getListings"
      tags: ["Listing Management"]
      parameters:
        - name: "status"
          in: "query"
          schema:
            type: string
            enum: ["active", "sold", "expired", "cancelled"]
            default: "active"
        - name: "sellerId"
          in: "query"
          schema:
            type: string
            format: "uuid"
        - name: "category"
          in: "query"
          schema:
            type: string
            enum: ["weapons", "armor", "cyberware", "consumables", "misc"]
        - name: "minPrice"
          in: "query"
          schema:
            type: integer
            minimum: 0
        - name: "maxPrice"
          in: "query"
          schema:
            type: integer
            minimum: 0
        - name: "rarity"
          in: "query"
          schema:
            type: string
            enum: ["common", "uncommon", "rare", "epic", "legendary"]
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
        - name: "sortBy"
          in: "query"
          schema:
            type: string
            enum: ["price_asc", "price_desc", "newest", "oldest", "popularity"]
            default: "newest"
      responses:
        "200":
          description: "Список объявлений"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingListResponse"

  /listings/{listingId}:
    get:
      summary: "Получение объявления по ID"
      operationId: "getListing"
      tags: ["Listing Management"]
      parameters:
        - name: "listingId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "Объявление найдено"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingResponse"
        "404":
          description: "Объявление не найдено"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      summary: "Обновление объявления"
      operationId: "updateListing"
      tags: ["Listing Management"]
      parameters:
        - name: "listingId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateListingRequest"
      responses:
        "200":
          description: "Объявление обновлено"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingResponse"
        "403":
          description: "Недостаточно прав"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "Объявление не найдено"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      summary: "Удаление объявления"
      operationId: "deleteListing"
      tags: ["Listing Management"]
      parameters:
        - name: "listingId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "Объявление удалено"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingResponse"
        "403":
          description: "Невозможно удалить объявление"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "Объявление не найдено"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /listings/search:
    get:
      summary: "Поиск объявлений"
      operationId: "searchListings"
      tags: ["Search & Discovery"]
      parameters:
        - name: "query"
          in: "query"
          schema:
            type: string
            description: "Текст для поиска"
        - name: "category"
          in: "query"
          schema:
            type: string
            enum: ["weapons", "armor", "cyberware", "consumables", "misc"]
        - name: "minPrice"
          in: "query"
          schema:
            type: integer
            minimum: 0
        - name: "maxPrice"
          in: "query"
          schema:
            type: integer
            minimum: 0
        - name: "rarity"
          in: "query"
          schema:
            type: string
            enum: ["common", "uncommon", "rare", "epic", "legendary"]
        - name: "sellerRating"
          in: "query"
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
        - name: "sortBy"
          in: "query"
          schema:
            type: string
            enum: ["relevance", "price_asc", "price_desc", "newest", "rating"]
            default: "relevance"
      responses:
        "200":
          description: "Результаты поиска"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResultsResponse"

  /listings/{listingId}/purchase:
    post:
      summary: "Покупка предмета"
      operationId: "purchaseListing"
      tags: ["Transaction Processing"]
      parameters:
        - name: "listingId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PurchaseRequest"
      responses:
        "200":
          description: "Покупка совершена"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseResponse"
        "400":
          description: "Ошибка покупки"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: "Предмет уже продан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /listings/{listingId}/negotiate:
    post:
      summary: "Предложение цены"
      operationId: "negotiatePrice"
      tags: ["Transaction Processing"]
      parameters:
        - name: "listingId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NegotiateRequest"
      responses:
        "200":
          description: "Предложение отправлено"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NegotiateResponse"
        "400":
          description: "Некорректное предложение"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /sellers/{sellerId}/listings:
    get:
      summary: "Объявления продавца"
      operationId: "getSellerListings"
      tags: ["Seller Management"]
      parameters:
        - name: "sellerId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
        - name: "status"
          in: "query"
          schema:
            type: string
            enum: ["active", "sold", "expired", "all"]
            default: "all"
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
      responses:
        "200":
          description: "Объявления продавца"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SellerListingsResponse"

  /sellers/{sellerId}/rating:
    get:
      summary: "Рейтинг продавца"
      operationId: "getSellerRating"
      tags: ["Seller Management"]
      parameters:
        - name: "sellerId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "Рейтинг продавца"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SellerRatingResponse"

  /listings/{listingId}/watch:
    post:
      summary: "Следить за объявлением"
      operationId: "watchListing"
      tags: ["Listing Management"]
      parameters:
        - name: "listingId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WatchListingRequest"
      responses:
        "200":
          description: "Подписка установлена"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WatchResponse"
        "409":
          description: "Уже подписаны на это объявление"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      summary: "Прекратить следить за объявлением"
      operationId: "unwatchListing"
      tags: ["Listing Management"]
      parameters:
        - name: "listingId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "Подписка отменена"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WatchResponse"

  /market/analytics:
    get:
      summary: "Аналитика рынка"
      operationId: "getMarketAnalytics"
      tags: ["Market Analytics"]
      parameters:
        - name: "period"
          in: "query"
          schema:
            type: string
            enum: ["hourly", "daily", "weekly", "monthly"]
            default: "daily"
        - name: "category"
          in: "query"
          schema:
            type: string
            enum: ["weapons", "armor", "cyberware", "consumables", "misc"]
      responses:
        "200":
          description: "Аналитика рынка"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketAnalyticsResponse"

  /market/trends:
    get:
      summary: "Тренды рынка"
      operationId: "getMarketTrends"
      tags: ["Market Analytics"]
      parameters:
        - name: "period"
          in: "query"
          schema:
            type: string
            enum: ["daily", "weekly", "monthly"]
            default: "weekly"
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 50
            default: 20
      responses:
        "200":
          description: "Тренды рынка"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketTrendsResponse"

  /inventory/{playerId}:
    get:
      summary: "Инвентарь игрока для продажи"
      operationId: "getPlayerInventory"
      tags: ["Inventory"]
      parameters:
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
        - name: "category"
          in: "query"
          schema:
            type: string
            enum: ["weapons", "armor", "cyberware", "consumables", "misc"]
        - name: "rarity"
          in: "query"
          schema:
            type: string
            enum: ["common", "uncommon", "rare", "epic", "legendary"]
      responses:
        "200":
          description: "Инвентарь игрока"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerInventoryResponse"

  /market/price-guide:
    get:
      summary: "Путеводитель по ценам"
      operationId: "getPriceGuide"
      tags: ["Market Analytics"]
      parameters:
        - name: "itemType"
          in: "query"
          schema:
            type: string
        - name: "rarity"
          in: "query"
          schema:
            type: string
            enum: ["common", "uncommon", "rare", "epic", "legendary"]
      responses:
        "200":
          description: "Путеводитель по ценам"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceGuideResponse"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Common inherited entities
    CharacterEntity:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/CharacterEntity"
    BaseEntity:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/BaseEntity"
    OptimisticLock:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/OptimisticLock"
    ErrorResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse"
    HealthResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthResponse"
    HealthBatchRequest:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthBatchRequest"
    HealthBatchResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthBatchResponse"

    # Marketplace specific schemas
    ListingEntity:
      type: object
      description: "Сущность объявления"
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - sellerId
            - item
            - price
            - status
          properties:
            sellerId:
              type: string
              description: "ID продавца"
              format: uuid
              example: "123e4567-e89b-12d3-a456-426614174000"
            item:
              $ref: "#/components/schemas/ListedItemEntity"
            price:
              type: object
              description: "Цена"
              required:
                - amount
                - currency
              properties:
                amount:
                  type: integer
                  description: "Сумма"
                  minimum: 1
                  example: 5000
                currency:
                  type: string
                  description: "Валюта"
                  enum: ["eddies", "eurobucks", "credits"]
                  example: "eddies"
            status:
              type: string
              description: "Статус объявления"
              enum: ["active", "sold", "expired", "cancelled", "pending"]
              example: "active"
            listingType:
              type: string
              description: "Тип объявления"
              enum: ["fixed_price", "negotiable", "bulk", "premium"]
              example: "fixed_price"
            views:
              type: integer
              description: "Количество просмотров"
              minimum: 0
              example: 150
            favorites:
              type: integer
              description: "Количество добавлений в избранное"
              minimum: 0
              example: 25
            negotiable:
              type: boolean
              description: "Цена договорная"
              default: false
            expiresAt:
              type: string
              description: "Время истечения"
              format: date-time
            buyerId:
              type: string
              description: "ID покупателя (после продажи)"
              format: uuid
            soldAt:
              type: string
              description: "Время продажи"
              format: date-time
            transactionId:
              type: string
              description: "ID транзакции"
              format: uuid
            isPremium:
              type: boolean
              description: "Премиум объявление"
              default: false
            $ref: "#/components/schemas/OptimisticLock"

    ListedItemEntity:
      type: object
      description: "Предмет в объявлении"
      required:
        - itemId
        - quantity
      properties:
        itemId:
          type: string
          description: "ID предмета"
          format: uuid
          example: "456e7890-e89b-12d3-a456-426614174001"
        quantity:
          type: integer
          description: "Количество"
          minimum: 1
          example: 1
        itemName:
          type: string
          description: "Название предмета"
          maxLength: 100
          example: "Militech M-10AF Lexington"
        itemType:
          type: string
          description: "Тип предмета"
          enum: ["weapon", "armor", "cyberware", "consumable", "misc"]
          example: "weapon"
        rarity:
          type: string
          description: "Редкость предмета"
          enum: ["common", "uncommon", "rare", "epic", "legendary"]
          example: "rare"
        level:
          type: integer
          description: "Уровень предмета"
          minimum: 1
          example: 15
        description:
          type: string
          description: "Описание предмета"
          maxLength: 500
        attributes:
          type: object
          description: "Атрибуты предмета"
          additionalProperties: true
        images:
          type: array
          description: "Изображения предмета"
          items:
            type: string
            format: uri
        estimatedValue:
          type: integer
          description: "Оценочная стоимость"
          minimum: 0

    SellerRatingEntity:
      type: object
      description: "Рейтинг продавца"
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - sellerId
          properties:
            sellerId:
              type: string
              description: "ID продавца"
              format: uuid
            overallRating:
              type: number
              description: "Общий рейтинг"
              minimum: 0
              maximum: 5
              example: 4.7
            totalRatings:
              type: integer
              description: "Общее количество оценок"
              minimum: 0
              example: 150
            totalSales:
              type: integer
              description: "Общее количество продаж"
              minimum: 0
              example: 120
            successfulTransactions:
              type: integer
              description: "Успешные транзакции"
              minimum: 0
              example: 118
            disputeRate:
              type: number
              description: "Процент споров"
              minimum: 0
              maximum: 1
              example: 0.02
            averageResponseTime:
              type: integer
              description: "Среднее время ответа в минутах"
              minimum: 0
              example: 30
            badges:
              type: array
              description: "Значки продавца"
              items:
                type: string
                enum: ["trusted_seller", "fast_shipper", "top_rated", "veteran"]
            $ref: "#/components/schemas/OptimisticLock"

    ListingWatchEntity:
      type: object
      description: "Подписка на объявление"
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - listingId
            - watcherId
          properties:
            listingId:
              type: string
              description: "ID объявления"
              format: uuid
            watcherId:
              type: string
              description: "ID наблюдателя"
              format: uuid
            watchStarted:
              type: string
              description: "Время начала наблюдения"
              format: date-time
            notificationsEnabled:
              type: boolean
              description: "Уведомления включены"
              default: true
            priceThreshold:
              type: integer
              description: "Порог цены для уведомлений"
              minimum: 0
            $ref: "#/components/schemas/OptimisticLock"

    # Request/Response schemas
    CreateListingRequest:
      type: object
      required:
        - item
        - price
      properties:
        item:
          $ref: "#/components/schemas/ListedItemEntity"
        price:
          type: object
          required:
            - amount
            - currency
          properties:
            amount:
              type: integer
              minimum: 1
            currency:
              type: string
              enum: ["eddies", "eurobucks", "credits"]
        listingType:
          type: string
          enum: ["fixed_price", "negotiable", "bulk", "premium"]
          default: "fixed_price"
        negotiable:
          type: boolean
          default: false
        duration:
          type: integer
          description: "Длительность объявления в часах"
          minimum: 1
          maximum: 720
          default: 24
        isPremium:
          type: boolean
          default: false

    UpdateListingRequest:
      type: object
      properties:
        price:
          type: object
          properties:
            amount:
              type: integer
              minimum: 1
            currency:
              type: string
              enum: ["eddies", "eurobucks", "credits"]
        negotiable:
          type: boolean
        duration:
          type: integer
          minimum: 1
          maximum: 720

    ListingResponse:
      type: object
      properties:
        listing:
          $ref: "#/components/schemas/ListingEntity"
        sellerRating:
          $ref: "#/components/schemas/SellerRatingEntity"
        metadata:
          type: object
          properties:
            createdAt:
              type: string
              format: date-time
            timeRemaining:
              type: integer
              description: "Оставшееся время в секундах"

    ListingListResponse:
      type: object
      properties:
        listings:
          type: array
          items:
            $ref: "#/components/schemas/ListingEntity"
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 100
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean
        filters:
          type: object
          properties:
            appliedFilters:
              type: object
              additionalProperties: true
            totalMatching:
              type: integer
              minimum: 0

    SearchResultsResponse:
      type: object
      properties:
        query:
          type: string
        results:
          type: array
          items:
            $ref: "#/components/schemas/ListingEntity"
        totalResults:
          type: integer
          minimum: 0
        searchTime:
          type: integer
          description: "Время поиска в миллисекундах"
        suggestions:
          type: array
          items:
            type: string
        pagination:
          type: object
          properties:
            limit:
              type: integer
              minimum: 1
              maximum: 100
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean

    PurchaseRequest:
      type: object
      required:
        - buyerId
      properties:
        buyerId:
          type: string
          format: uuid
        negotiatedPrice:
          type: object
          description: "Договорная цена (для negotiable объявлений)"
          properties:
            amount:
              type: integer
              minimum: 1
            currency:
              type: string
              enum: ["eddies", "eurobucks", "credits"]

    PurchaseResponse:
      type: object
      properties:
        listingId:
          type: string
          format: uuid
        buyerId:
          type: string
          format: uuid
        sellerId:
          type: string
          format: uuid
        item:
          $ref: "#/components/schemas/ListedItemEntity"
        price:
          type: object
          properties:
            amount:
              type: integer
            currency:
              type: string
        transactionId:
          type: string
          format: uuid
        purchasedAt:
          type: string
          format: date-time

    NegotiateRequest:
      type: object
      required:
        - buyerId
        - offeredPrice
      properties:
        buyerId:
          type: string
          format: uuid
        offeredPrice:
          type: object
          required:
            - amount
            - currency
          properties:
            amount:
              type: integer
              minimum: 1
            currency:
              type: string
              enum: ["eddies", "eurobucks", "credits"]
        message:
          type: string
          description: "Сообщение продавцу"
          maxLength: 500

    NegotiateResponse:
      type: object
      properties:
        listingId:
          type: string
          format: uuid
        buyerId:
          type: string
          format: uuid
        offeredPrice:
          type: object
          properties:
            amount:
              type: integer
            currency:
              type: string
        message:
          type: string
        sentAt:
          type: string
          format: date-time

    SellerListingsResponse:
      type: object
      properties:
        sellerId:
          type: string
          format: uuid
        listings:
          type: array
          items:
            $ref: "#/components/schemas/ListingEntity"
        statistics:
          type: object
          properties:
            totalListings:
              type: integer
              minimum: 0
            activeListings:
              type: integer
              minimum: 0
            soldListings:
              type: integer
              minimum: 0
            totalRevenue:
              type: integer
              minimum: 0
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 100
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean

    SellerRatingResponse:
      type: object
      properties:
        sellerId:
          type: string
          format: uuid
        rating:
          $ref: "#/components/schemas/SellerRatingEntity"
        recentReviews:
          type: array
          items:
            type: object
            properties:
              buyerId:
                type: string
                format: uuid
              rating:
                type: integer
                minimum: 1
                maximum: 5
              comment:
                type: string
                maxLength: 500
              createdAt:
                type: string
                format: date-time
        ratingBreakdown:
          type: object
          properties:
            "5_stars":
              type: integer
              minimum: 0
            "4_stars":
              type: integer
              minimum: 0
            "3_stars":
              type: integer
              minimum: 0
            "2_stars":
              type: integer
              minimum: 0
            "1_star":
              type: integer
              minimum: 0

    WatchListingRequest:
      type: object
      required:
        - watcherId
      properties:
        watcherId:
          type: string
          format: uuid
        priceThreshold:
          type: integer
          minimum: 0
        notificationsEnabled:
          type: boolean
          default: true

    WatchResponse:
      type: object
      properties:
        listingId:
          type: string
          format: uuid
        watcherId:
          type: string
          format: uuid
        isWatching:
          type: boolean
        watchersCount:
          type: integer

    MarketAnalyticsResponse:
      type: object
      properties:
        period:
          type: string
          enum: ["hourly", "daily", "weekly", "monthly"]
        category:
          type: string
        totalListings:
          type: integer
          minimum: 0
        activeListings:
          type: integer
          minimum: 0
        totalValue:
          type: integer
          minimum: 0
        averagePrice:
          type: number
        medianPrice:
          type: number
        priceRange:
          type: object
          properties:
            min:
              type: number
            max:
              type: number
        salesVolume:
          type: integer
          minimum: 0
        topSellingItems:
          type: array
          items:
            type: object
            properties:
              itemName:
                type: string
              salesCount:
                type: integer
                minimum: 0
              averagePrice:
                type: number
        categoryBreakdown:
          type: object
          additionalProperties:
            type: integer
            minimum: 0

    MarketTrendsResponse:
      type: object
      properties:
        period:
          type: string
          enum: ["daily", "weekly", "monthly"]
        trends:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
              trend:
                type: string
                enum: ["rising", "falling", "stable"]
              changePercent:
                type: number
              averagePrice:
                type: number
              volume:
                type: integer
                minimum: 0

    PlayerInventoryResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        items:
          type: array
          items:
            type: object
            properties:
              itemId:
                type: string
                format: uuid
              itemName:
                type: string
              quantity:
                type: integer
                minimum: 1
              rarity:
                type: string
                enum: ["common", "uncommon", "rare", "epic", "legendary"]
              estimatedValue:
                type: integer
                minimum: 0
              canBeListed:
                type: boolean
              listingFee:
                type: integer
                minimum: 0
        totalItems:
          type: integer
          minimum: 0

    PriceGuideResponse:
      type: object
      properties:
        itemType:
          type: string
        rarity:
          type: string
        priceGuide:
          type: object
          properties:
            marketAverage:
              type: number
            suggestedPrice:
              type: object
              properties:
                min:
                  type: number
                max:
                  type: number
                recommended:
                  type: number
            recentSales:
              type: array
              items:
                type: object
                properties:
                  price:
                    type: number
                  soldAt:
                    type: string
                    format: date-time
            priceHistory:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  averagePrice:
                    type: number
                  volume:
                    type: integer
                    minimum: 0