openapi: 3.0.3
info:
  title: World Regions API - Enterprise-Grade Template
  description: '**Enterprise-Grade World Regions API for NECPGAME**


    This domain provides comprehensive world regions management with timeline data,
    geographical information, and integration with narrative systems.

    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation

    - **Backend optimization hints** for struct alignment and performance

    - **Complete validation** with redocly and ogen code generation

    - **Security-first approach** with JWT authentication

    - **Performance-optimized** response structures

    - **Comprehensive error handling** with proper HTTP status codes


    ## Domain Purpose

    World Regions domain manages geographical regions of the game world, including
    timeline events, cities, and narrative integration.

    Follows enterprise-grade microservices patterns with clear boundaries.


    ## Performance Targets

    - P99 Latency: <50ms for hot paths

    - Memory: <50KB per region instance

    - Concurrent users: 10,000+ simultaneous connections

    - Data consistency: Event-sourced with CQRS patterns

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/world-regions
  description: Production server
- url: https://staging-api.necpgame.com/v1/world-regions
  description: Staging server
- url: http://localhost:8080/api/v1/world-regions
  description: Local development server
security:
- BearerAuth: []
tags:
- name: World Regions
  description: Core world regions operations
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /regions:
    $ref: ./paths/regions.yaml#/paths/~1regions
  /regions/{region_id}:
    $ref: ./paths/regions-{region_id}.yaml#/paths/~1regions~1{region_id}
  /regions/{region_id}/timeline:
    $ref: ./paths/regions-{region_id}-timeline.yaml#/paths/~1regions~1{region_id}~1timeline
  /regions/import:
    $ref: ./paths/regions-import.yaml#/paths/~1regions~1import
components:
  schemas:
    Error:
      $ref: ./schemas/region-service-schemas.yaml#/components/schemas/Error
    HealthResponse:
      $ref: ./schemas/region-service-schemas.yaml#/components/schemas/HealthResponse
    WebSocketHealthMessage:
      $ref: ./schemas/region-service-schemas.yaml#/components/schemas/WebSocketHealthMessage
    WorldRegion:
      $ref: ./schemas/region-service-schemas.yaml#/components/schemas/WorldRegion
    WorldRegionDetail:
      $ref: ./schemas/region-service-schemas.yaml#/components/schemas/WorldRegionDetail
    TimelineEvent:
      $ref: ./schemas/region-service-schemas.yaml#/components/schemas/TimelineEvent
    TimelinePeriod:
      $ref: ./schemas/region-service-schemas.yaml#/components/schemas/TimelinePeriod
    KeyLocation:
      $ref: ./schemas/region-service-schemas.yaml#/components/schemas/KeyLocation
    PaginationParams:
      $ref: ./schemas/region-service-schemas.yaml#/components/schemas/PaginationParams
    PaginatedResponse:
      $ref: ./schemas/region-service-schemas.yaml#/components/schemas/PaginatedResponse
  responses:
    OK:
      $ref: ./schemas/region-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/region-service-responses.yaml#/components/responses/Created
    BadRequest:
      $ref: ./schemas/region-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/region-service-responses.yaml#/components/responses/Unauthorized
    Forbidden:
      $ref: ./schemas/region-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/region-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/region-service-responses.yaml#/components/responses/Conflict
    InternalServerError:
      $ref: ./schemas/region-service-responses.yaml#/components/responses/InternalServerError
    HealthOK:
      $ref: ./schemas/region-service-responses.yaml#/components/responses/HealthOK
    HealthBatchSuccess:
      $ref: ./schemas/region-service-responses.yaml#/components/responses/HealthBatchSuccess
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
