openapi: 3.0.3
info:
  title: Player Orders Validation Components
  version: 1.0.0
  description: Схемы чек-листов и результатов валидации заказов игроков.
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
paths: {}
components:
  schemas:
    PlayerOrderValidationIssue:
      type: object
      required: [code, message, severity, source]
      properties:
        code:
          type: string
          description: Код ошибки валидации (например, `VAL_MISSING_OBJECTIVES`).
        message:
          type: string
          description: Человекочитаемое сообщение для UI.
        severity:
          type: string
          enum: [info, warning, error, critical]
        source:
          type: string
          enum: [social, economy, world, factions, content, telemetry]
          description: Сервис, инициировавший ошибку.
        field:
          type: string
          description: Поле брифа или бюджета, вызвавшее ошибку.
        remediation:
          type: string
          description: Рекомендация по исправлению.
    PlayerOrderValidationChecklistItem:
      type: object
      required: [stage, status]
      properties:
        stage:
          type: string
          enum: [completeness, legal, sanctions, toxicity, budget]
        status:
          type: string
          enum: [passed, failed, warnings]
        issues:
          type: array
          items:
            $ref: '#/components/schemas/PlayerOrderValidationIssue'
    PlayerOrderValidationSummary:
      type: object
      required: [result, checklist]
      properties:
        result:
          type: string
          enum: [passed, failed]
        checklist:
          type: array
          items:
            $ref: '#/components/schemas/PlayerOrderValidationChecklistItem'
        validatedAt:
          type: string
          format: date-time
        nextRequiredAction:
          type: string
          description: Рекомендация по дальнейшим действиям (редактирование брифа, запрос допуска фракций).
    PlayerOrderValidationResult:
      type: object
      required: [orderId, validation]
      properties:
        orderId:
          type: string
          format: uuid
        validation:
          $ref: '#/components/schemas/PlayerOrderValidationSummary'
        telemetryId:
          type: string
          description: Идентификатор записи в telemetry-service.
  requestBodies:
    PlayerOrderValidationRequest:
      required: true
      description: Запуск полной валидации заказа.
      content:
        application/json:
          schema:
            type: object
            required: [orderId]
            properties:
              orderId:
                type: string
                format: uuid
              force:
                type: boolean
                description: Форсировать валидацию, игнорируя кэшированные результаты.
          examples:
            validationRequest:
              $ref: '#/components/examples/ValidationRequestExample'
  examples:
    ValidationRequestExample:
      summary: Запрос полной валидации
      value:
        orderId: "0f8fad5b-d9cb-469f-a165-70867728950e"
        force: true

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
