openapi: 3.0.3
info:
  title: Character Management API
  version: 1.0.0
  description: |
    REST API для управления персонажами игрока: создание, просмотр, удаление,
    восстановление, переключение и кастомизация внешности. Основано на
    `.BRAIN/05-technical/backend/player-character-management.md` (v1.0.0).
  x-microservice:
    name: character-service
    port: 8082
    domain: characters
    base-path: /api/v1/characters
    package: com.necpgame.characterservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

x-tags:
  - Characters
  - Appearance

paths:
  /characters:
    get:
      tags: [Characters]
      summary: Получить список персонажей
      description: Возвращает активных и удаленных персонажей в рамках grace period.
      operationId: listCharacters
      security:
        - BearerAuth: []
      parameters:
        - name: include_deleted
          in: query
          schema:
            type: boolean
            default: false
          description: Включить персонажей в статусе soft delete
      responses:
        '200':
          description: Список персонажей игрока
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterListResponse'
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
    post:
      tags: [Characters]
      summary: Создать нового персонажа
      description: |
        Создает нового персонажа при наличии свободного слота (3 базовых + 2 премиум).
        Лимит: 3 создания за час на аккаунт.
      operationId: createCharacter
      security:
        - BearerAuth: []
      x-rateLimit:
        rules:
          - key: create-character
            limit: 3
            interval: 60m
            scope: account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CharacterCreateRequest'
      responses:
        '201':
          description: Персонаж создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterDetails'
        '400': { "$ref": "../../shared/common/responses.yaml#/components/responses/BadRequest" }
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '409': { "$ref": "../../shared/common/responses.yaml#/components/responses/Conflict" }
        '429': { "$ref": "../../shared/common/responses.yaml#/components/responses/TooManyRequests" }

  /characters/{characterId}:
    get:
      tags: [Characters]
      summary: Получить информацию о персонаже
      operationId: getCharacterDetails
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CharacterId'
      responses:
        '200':
          description: Детали персонажа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterDetails'
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '404': { "$ref": "../../shared/common/responses.yaml#/components/responses/NotFound" }
    delete:
      tags: [Characters]
      summary: Удалить персонажа (soft delete)
      operationId: deleteCharacter
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CharacterId'
      responses:
        '200':
          description: Персонаж помечен как удалённый, возвращается дедлайн восстановления
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterDeleteResponse'
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '404': { "$ref": "../../shared/common/responses.yaml#/components/responses/NotFound" }

  /characters/{characterId}/restore:
    post:
      tags: [Characters]
      summary: Восстановить персонажа
      operationId: restoreCharacter
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CharacterId'
      responses:
        '200':
          description: Персонаж восстановлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterDetails'
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '404': { "$ref": "../../shared/common/responses.yaml#/components/responses/NotFound" }
        '410': { "$ref": "../../shared/common/responses.yaml#/components/responses/ResourceGone" }

  /characters/{characterId}/switch:
    post:
      tags: [Characters]
      summary: Сделать персонажа активным
      description: Переключает активного персонажа и инициирует игровую сессию.
      operationId: switchActiveCharacter
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CharacterId'
      responses:
        '200':
          description: Персонаж активирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterSwitchResponse'
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '404': { "$ref": "../../shared/common/responses.yaml#/components/responses/NotFound" }

  /characters/{characterId}/appearance:
    patch:
      tags: [Appearance]
      summary: Обновить внешность персонажа
      operationId: updateCharacterAppearance
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CharacterId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CharacterAppearanceUpdateRequest'
      responses:
        '200':
          description: Внешность обновлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterAppearance'
        '400': { "$ref": "../../shared/common/responses.yaml#/components/responses/BadRequest" }
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }

  /characters/{characterId}/name:
    patch:
      tags: [Characters]
      summary: Переименовать персонажа
      description: Требует проверки уникальности и наличия премиум ресурса.
      operationId: renameCharacter
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CharacterId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CharacterRenameRequest'
      responses:
        '200':
          description: Имя изменено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterDetails'
        '400': { "$ref": "../../shared/common/responses.yaml#/components/responses/BadRequest" }
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '409': { "$ref": "../../shared/common/responses.yaml#/components/responses/Conflict" }

components:
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'

  parameters:
    CharacterId:
      name: characterId
      in: path
      required: true
      schema:
        type: string
        format: uuid

  schemas:
    CharacterListResponse:
      type: object
      properties:
        characters:
          type: array
          items:
            $ref: '#/components/schemas/CharacterSummary'
        slot_summary:
          $ref: '../players/players.yaml#/components/schemas/CharacterSlotSummary'
    CharacterSummary:
      type: object
      properties:
        character_id:
          type: string
          format: uuid
        name:
          type: string
        class_id:
          type: string
        level:
          type: integer
          format: int32
        is_active:
          type: boolean
        is_deleted:
          type: boolean
        deleted_until:
          type: string
          format: date-time
          nullable: true
    CharacterDetails:
      allOf:
        - $ref: '#/components/schemas/CharacterSummary'
        - type: object
          properties:
            experience:
              type: integer
              format: int64
            origin_id:
              type: string
            attributes:
              type: object
              additionalProperties:
                type: integer
            skills:
              type: object
              additionalProperties:
                type: integer
            appearance:
              $ref: '#/components/schemas/CharacterAppearance'
            current_location:
              type: string
            last_played_at:
              type: string
              format: date-time
    CharacterAppearance:
      type: object
      properties:
        body_type:
          type: string
        hair_style:
          type: string
        hair_color:
          type: string
        skin_tone:
          type: string
        cyberware_visibility:
          type: string
          enum: [hidden, visible, auto]
    CharacterAppearanceUpdateRequest:
      type: object
      required: [appearance]
      properties:
        appearance:
          $ref: '#/components/schemas/CharacterAppearance'
    CharacterCreateRequest:
      type: object
      required: [name, class_id, appearance]
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 20
          pattern: "^[A-Za-z][A-Za-z0-9_-]{2,19}$"
          description: Имя персонажа. Уникальное, без запрещённых слов.
        class_id:
          type: string
        origin_id:
          type: string
          nullable: true
        appearance:
          $ref: '#/components/schemas/CharacterAppearance'
    CharacterDeleteResponse:
      type: object
      properties:
        character_id:
          type: string
          format: uuid
        deleted_at:
          type: string
          format: date-time
        restore_until:
          type: string
          format: date-time
    CharacterRenameRequest:
      type: object
      required: [new_name]
      properties:
        new_name:
          type: string
          minLength: 3
          maxLength: 20
          pattern: "^[A-Za-z][A-Za-z0-9_-]{2,19}$"
    CharacterSwitchResponse:
      type: object
      properties:
        character_id:
          type: string
          format: uuid
        session_id:
          type: string
          description: Идентификатор созданной игровой сессии
