openapi: 3.0.3
info:
  title: Narrative Tools API
  version: 1.0.0
  description: |
    API для нарративных инструментов и генераторов.
    
    Функционал:
    - NPC Generator (templates, personality)
    - Quest Generator (procedural quests)
    - Dialogue Generator (dynamic dialogues)
    - Event Generator (random events)
    - Coherence Validator (проверка целостности)
    - Content Tools (для content team)
    
    Источники: .BRAIN/04-narrative/ (split documents + generators)

  x-microservice:
    name: narrative-service
    port: 8087
    domain: narrative
    base-path: /api/v1/narrative
    package: com.necpgame.narrativeservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Generators
    description: Генераторы контента
  - name: Validation
    description: Валидация нарратива
  - name: Tools
    description: Инструменты

paths:
  /narrative/tools/npc/generate:
    post:
      summary: Сгенерировать NPC
      operationId: generateNPC
      tags: [Generators]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                template:
                  type: string
                faction:
                  type: string
                region:
                  type: string
                role:
                  type: string
      responses:
        '200':
          description: NPC сгенерирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  npc_id:
                    type: string
                  name:
                    type: string
                  personality:
                    type: object
                  backstory:
                    type: string

  /narrative/tools/quest/generate:
    post:
      summary: Сгенерировать процедурный квест
      operationId: generateQuest
      tags: [Generators]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                difficulty:
                  type: string
                region:
                  type: string
      responses:
        '200':
          description: Квест сгенерирован
          content:
            application/json:
              schema:
                type: object

  /narrative/tools/validate:
    post:
      summary: Валидировать нарративную последовательность
      operationId: validateNarrative
      tags: [Validation]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quest_sequence:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                player_choices:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
      responses:
        '200':
          description: Результат валидации
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  errors:
                    type: array
                    items:
                      type: string
                  warnings:
                    type: array
                    items:
                      type: string

components:
  schemas: {}

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

