openapi: 3.0.3
info:
  title: Auction House Search API
  version: 1.0.0
  description: |
    API для поиска и фильтрации на аукцион доме.
    
    Источник: .BRAIN/02-gameplay/economy/economy-auction-house.md v1.0.0
    
    Поиск и фильтрация:
    - По типу предмета
    - По категории
    - По уровню
    - По цене (min/max)
    - По редкости
    - По бренду
    - По продавцу
    
    Сортировка: По цене, по времени, по редкости
    
    Основной файл: auction-house-core.yaml

  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Auction House Search
    description: Поиск и фильтрация

paths:
  /gameplay/economy/auction/search:
    get:
      summary: Поиск лотов
      description: |
        Выполняет поиск лотов с фильтрацией и сортировкой.
        Поддерживает множественные фильтры одновременно.
      operationId: searchAuctionLots
      tags:
        - Auction House Search
      parameters:
        - name: query
          in: query
          schema:
            type: string
          description: Текстовый поиск по названию
        - name: category
          in: query
          schema:
            type: string
        - name: item_type
          in: query
          schema:
            type: string
            enum: [weapon, armor, implant, cyberware, resource, consumable]
        - name: rarity
          in: query
          schema:
            type: string
            enum: [common, uncommon, rare, epic, legendary, iconic]
        - name: min_level
          in: query
          schema:
            type: integer
        - name: max_level
          in: query
          schema:
            type: integer
        - name: min_price
          in: query
          schema:
            type: number
        - name: max_price
          in: query
          schema:
            type: number
        - name: brand
          in: query
          schema:
            type: string
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [price_asc, price_desc, time_asc, time_desc, rarity]
            default: time_desc
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Результаты поиска
          content:
            application/json:
              schema:
                type: object
                properties:
                  lots:
                    type: array
                    items:
                      $ref: './auction-house-core.yaml#/components/schemas/AuctionLot'
                  total:
                    type: integer
                  pagination:
                    $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginationMeta'
              examples:
                legendary_weapons:
                  summary: Поиск легендарного оружия
                  value:
                    lots:
                      - lot_id: "lot_001"
                        item_name: "Legendary Katana"
                        rarity: "legendary"
                        current_price: 125000
                        buyout_price: 150000
                        time_remaining: 3600
                    total: 15
                    pagination:
                      page: 1
                      limit: 50
                      total_pages: 1

  /gameplay/economy/auction/filters/available:
    get:
      summary: Получить доступные фильтры
      description: |
        Возвращает список доступных значений для фильтров.
        Категории, бренды, уровни, редкости.
      operationId: getAvailableFilters
      tags:
        - Auction House Search
      responses:
        '200':
          description: Доступные фильтры
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      type: string
                  brands:
                    type: array
                    items:
                      type: string
                  rarities:
                    type: array
                    items:
                      type: string
                  level_range:
                    type: object
                    properties:
                      min:
                        type: integer
                      max:
                        type: integer
                  price_range:
                    type: object
                    properties:
                      min:
                        type: number
                      max:
                        type: number

components:
  schemas: {}


