x-target-architecture:
  microservices:
    - name: social-service
      port: 8084
  apiBase:
    - /api/v1/social/resonance
  frontendModules:
    - modules/social/resonance
  stateStores:
    - useSocialStore.resonanceSlice
  uiComponents:
    - ResonanceMeter
    - RelationshipGrid
    - CampaignCard
  forms:
    - ResonanceCampaignForm
    - RelationshipUpdateForm
  hooks:
    - useRealtime
    - useDebounce
openapi: 3.0.3
info:
  title: Social Resonance API
  version: 1.0.0
  description: |
    Контракты social-service для панели Social Resonance. Основано на `.BRAIN/06-tasks/active/CURRENT-WORK/active/2025-11-07-world-interaction-ui.md` (v1.0.0),
    `.BRAIN/02-gameplay/social/social-overview.md`, `.BRAIN/02-gameplay/social/social-campaigns.md`,
    `.BRAIN/04-narrative/romance-system/romance-framework.md`, `.BRAIN/05-technical/ui/social/ui-social-core.md` и задании
    `API-SWAGGER/tasks/active/queue/task-243-social-resonance-api.md`. Индекс доверия комбинирует Reputation 40%, Romance 20%, Social Events 40%
    и синхронизируется с World Pulse и Crisis мониторингом.
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - name: Social Resonance
    description: Текущий индекс доверия и интеграция с World Pulse
  - name: Campaigns
    description: Управление социальными кампаниями и их эффектами
  - name: Relationships
    description: Романтические и альянсные связи игрока и организаций
  - name: Analytics
    description: История и прогнозы Resonance, связи с Crisis системой
paths:
  /social/resonance:
    get:
      summary: Получить текущее состояние Social Resonance
      description: |
        Возвращает актуальный индекс доверия, настроение, вклад источников и прогноз воздействия на World Pulse.
        Подготовлено для UI `modules/social/resonance` и виджета `ResonanceMeter`.
      operationId: getSocialResonanceSnapshot
      tags:
        - Social Resonance
      x-required-scopes:
        - social:resonance:read
      parameters:
        - $ref: './schemas/resonance-support.yaml#/components/parameters/IncludeCampaignsQuery'
        - $ref: './schemas/resonance-support.yaml#/components/parameters/IncludeRelationshipsQuery'
      responses:
        '200':
          description: Текущее состояние индекса доверия и связанных с ним компонентов
          content:
            application/json:
              schema:
                $ref: './schemas/resonance-models.yaml#/components/schemas/SocialResonanceSnapshot'
              examples:
                default:
                  $ref: './schemas/resonance-support.yaml#/components/examples/ResonanceSnapshotExample'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'
  /social/resonance/campaigns:
    get:
      summary: Получить доступные и активные кампании
      description: |
        Возвращает список кампаний, необходимых требований, стоимости и ожидаемого влияния на индекс доверия и World Pulse.
        Включает статус cooldown и требуемые роли (guild-leader, city-official).
      operationId: listResonanceCampaigns
      tags:
        - Campaigns
      x-required-scopes:
        - social:resonance:read
      parameters:
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
        - $ref: './schemas/resonance-support.yaml#/components/parameters/CampaignStatusFilter'
        - $ref: './schemas/resonance-support.yaml#/components/parameters/CampaignCategoryFilter'
        - $ref: './schemas/resonance-support.yaml#/components/parameters/CampaignTierFilter'
      responses:
        '200':
          description: Перечень кампаний и их ожидаемых эффектов
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: './schemas/resonance-models.yaml#/components/schemas/SocialCampaign'
                  meta:
                    $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginationMeta'
              examples:
                default:
                  $ref: './schemas/resonance-support.yaml#/components/examples/CampaignListExample'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'
    post:
      summary: Запустить социальную кампанию или выполнить симуляцию
      description: |
        Планирует запуск кампании или выполняет симуляцию при параметре `simulate=true`. Проверяет роли инициатора, cooldown,
        бюджет и интеграцию с Crisis системой при ожидаемом падении индекса ниже 20%.
      operationId: launchResonanceCampaign
      tags:
        - Campaigns
      x-required-scopes:
        - social:resonance:manage
      security:
        - BearerAuth: []
      parameters:
        - $ref: './schemas/resonance-support.yaml#/components/parameters/SimulateQuery'
        - $ref: './schemas/resonance-support.yaml#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        $ref: './schemas/resonance-support.yaml#/components/requestBodies/SocialCampaignLaunchRequest'
      responses:
        '201':
          description: Кампания подтверждена или просимулирована
          content:
            application/json:
              schema:
                $ref: './schemas/resonance-models.yaml#/components/schemas/SocialCampaignLaunchResponse'
              examples:
                default:
                  $ref: './schemas/resonance-support.yaml#/components/examples/CampaignLaunchExample'
        '202':
          description: Кампания запланирована и ожидает ручного утверждения
          content:
            application/json:
              schema:
                $ref: './schemas/resonance-models.yaml#/components/schemas/SocialCampaignLaunchResponse'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'
        '422':
          $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'
  /social/resonance/relationships:
    get:
      summary: Получить связи игрока и организации
      description: |
        Возвращает романтические, альянсные и гильдейские связи с фильтрами по типу и рангу.
        Используется `RelationshipGrid` и поддерживает пагинацию и аудит (`createdBy`, `approvedBy`).
      operationId: listResonanceRelationships
      tags:
        - Relationships
      x-required-scopes:
        - social:resonance:relationships:read
      parameters:
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
        - $ref: './schemas/resonance-support.yaml#/components/parameters/RelationshipTypeFilter'
        - $ref: './schemas/resonance-support.yaml#/components/parameters/RelationshipTierFilter'
        - $ref: './schemas/resonance-support.yaml#/components/parameters/OrganizationFilter'
      responses:
        '200':
          description: Пагинированный список связей с текущим влиянием на индекс
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: './schemas/resonance-models.yaml#/components/schemas/RelationshipSummary'
                  meta:
                    $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginationMeta'
              examples:
                default:
                  $ref: './schemas/resonance-support.yaml#/components/examples/RelationshipListExample'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'
  /social/resonance/relationships/{relationshipId}/update:
    parameters:
      - $ref: './schemas/resonance-support.yaml#/components/parameters/RelationshipIdPath'
    post:
      summary: Обновить статус социальной связи
      description: |
        Обновляет прогресс романтической или альянсной связи. Поддерживает approval workflow и аудит,
        обновляет вклад в Social Resonance и World Pulse триггеры.
      operationId: updateResonanceRelationship
      tags:
        - Relationships
      x-required-scopes:
        - social:resonance:relationships:write
      security:
        - BearerAuth: []
      requestBody:
        $ref: './schemas/resonance-support.yaml#/components/requestBodies/RelationshipUpdateRequest'
      responses:
        '200':
          description: Связь обновлена и синхронизирована с индексом доверия
          content:
            application/json:
              schema:
                $ref: './schemas/resonance-models.yaml#/components/schemas/RelationshipUpdateResult'
              examples:
                default:
                  $ref: './schemas/resonance-support.yaml#/components/examples/RelationshipUpdateExample'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'
        '422':
          $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'
  /social/resonance/history:
    get:
      summary: Получить историю изменений индекса доверия
      description: |
        Возвращает временной ряд изменений индекса с указанием источников, причин, дельты и синхронизации с World Pulse и Crisis Alerts.
      operationId: listResonanceHistory
      tags:
        - Analytics
      x-required-scopes:
        - social:resonance:read
      parameters:
        - $ref: './schemas/resonance-support.yaml#/components/parameters/FromDateQuery'
        - $ref: './schemas/resonance-support.yaml#/components/parameters/ToDateQuery'
        - $ref: './schemas/resonance-support.yaml#/components/parameters/ResolutionQuery'
      responses:
        '200':
          description: Временной ряд изменений индекса доверия
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: './schemas/resonance-models.yaml#/components/schemas/TrustHistoryEntry'
                  crisisAlertsTriggered:
                    type: boolean
                    description: Флаг, указывающий, был ли активирован Crisis Alert в заданном диапазоне
                    example: true
                  lastCrisisAt:
                    type: string
                    format: date-time
                    nullable: true
                    description: Время последнего уведомления Crisis системы
              examples:
                default:
                  $ref: './schemas/resonance-support.yaml#/components/examples/HistoryResponseExample'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'
        '422':
          $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'
  /social/resonance/forecasts:
    get:
      summary: Получить прогноз индекса доверия
      description: |
        Возвращает прогноз на 24/72 часа с учётом активных кампаний, мировых кризисов и симуляций.
        Применяется в аналитике World Pulse и отображается как overlay на `ResonanceMeter`.
      operationId: getResonanceForecast
      tags:
        - Analytics
      x-required-scopes:
        - social:resonance:read
      parameters:
        - $ref: './schemas/resonance-support.yaml#/components/parameters/HorizonQuery'
        - $ref: './schemas/resonance-support.yaml#/components/parameters/ResolutionQuery'
      responses:
        '200':
          description: Прогноз индекса доверия на выбранный горизонт
          content:
            application/json:
              schema:
                $ref: './schemas/resonance-models.yaml#/components/schemas/TrustForecast'
              examples:
                default:
                  $ref: './schemas/resonance-support.yaml#/components/examples/ForecastExample'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'
        '422':
          $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'
components:
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'


