openapi: 3.0.3
info:
  title: Player Orders Budget Components
  version: 1.0.0
  description: Формулы и структуры расчёта бюджета заказов игроков.
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
paths: {}
components:
  schemas:
    PlayerOrderComplexityFactor:
      type: object
      required: [name, weight, value]
      properties:
        name:
          type: string
          description: Название фактора (зона, этап, требуемый навык).
        weight:
          type: number
          minimum: 0
          description: Вес фактора при расчёте сложности.
        value:
          type: number
          minimum: 0
          description: Нормализованное значение фактора.
        source:
          type: string
          description: Источник данных (`world-service`, `factions-service`, `content-service`).
    PlayerOrderBudgetFactors:
      type: object
      required:
        - complexityFactors
        - riskModifier
        - marketIndex
        - timeModifier
      properties:
        complexityFactors:
          type: array
          description: Набор факторов, участвующих в расчёте сложности.
          items:
            $ref: '#/components/schemas/PlayerOrderComplexityFactor'
        riskModifier:
          type: number
          minimum: 0.5
          maximum: 2.0
          description: Коэффициент риска, рассчитанный из `PlayerOrderRiskProfile`.
        marketIndex:
          type: number
          minimum: 0
          description: Рыночный индекс, предоставляемый economy-service.
        timeModifier:
          type: number
          minimum: 0.5
          maximum: 2.0
          description: Коэффициент срочности и количества чекпоинтов.
        bonuses:
          type: array
          description: Дополнительные бонусы, предлагаемые заказчиком.
          items:
            type: number
        penalties:
          type: array
          description: Штрафы за невыполнение чекпоинтов.
          items:
            type: number
    PlayerOrderBudgetEstimate:
      type: object
      required:
        - complexityScore
        - riskModifier
        - marketIndex
        - timeModifier
        - baseReward
        - escrow
        - commission
        - medianDeviation
      properties:
        complexityScore:
          type: number
          description: Итоговая сложность заказа.
        riskModifier:
          type: number
          description: Применённый коэффициент риска.
        marketIndex:
          type: number
          description: Рыночный индекс на момент расчёта.
        timeModifier:
          type: number
          description: Учёт дедлайнов и чекпоинтов.
        baseReward:
          type: number
          description: Расчётная базовая сумма награды.
        escrow:
          type: number
          description: Сумма, блокируемая в escrow.
        commission:
          type: number
          description: Комиссия платформы.
        insurancePremium:
          type: number
          description: Стоимость страховки (при выборе расширенных гарантий).
        medianDeviation:
          type: number
          description: Отклонение от медианного бюджета по типу заказа (в процентах).
        recommendations:
          type: array
          description: Рекомендации по бюджету (повышение/снижение, страховка).
          items:
            type: string
        warnings:
          type: array
          description: Предупреждения (например, превышение медианы).
          items:
            type: string
    PlayerOrderBudgetHistoryItem:
      type: object
      required: [calculatedAt, baseReward]
      properties:
        calculatedAt:
          type: string
          format: date-time
        baseReward:
          type: number
        escrow:
          type: number
        commission:
          type: number
        medianDeviation:
          type: number
          description: Отклонение от медианы на момент пересчёта.
    PlayerOrderBudgetSummary:
      type: object
      required:
        - current
        - history
      properties:
        current:
          $ref: '#/components/schemas/PlayerOrderBudgetEstimate'
        history:
          type: array
          items:
            $ref: '#/components/schemas/PlayerOrderBudgetHistoryItem'
  requestBodies:
    PlayerOrderEstimateRequest:
      required: true
      description: Параметры для расчёта бюджета заказа.
      content:
        application/json:
          schema:
            type: object
            required:
              - factors
            properties:
              factors:
                $ref: '#/components/schemas/PlayerOrderBudgetFactors'
              corporateOrder:
                type: boolean
                description: Признак корпоративного заказа (влияет на коэффициенты).
              factionId:
                type: string
                format: uuid
                description: Корпоративный идентификатор для запросов factions-service.
          examples:
            estimateRequest:
              $ref: '#/components/examples/EstimateRequestExample'
  examples:
    EstimateRequestExample:
      summary: Запрос расчёта бюджета
      value:
        factors:
          complexityFactors:
            - name: "district-threat-level"
              weight: 0.35
              value: 1.4
              source: "world-service"
            - name: "required-specialist-count"
              weight: 0.25
              value: 1.2
              source: "social-service"
          riskModifier: 1.3
          marketIndex: 1.12
          timeModifier: 1.1
          bonuses: [5000]
          penalties: [2000]
        corporateOrder: true
        factionId: "0d48bf02-8388-44c9-9c38-2a4dfb2a8b77"

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
