openapi: 3.0.3
info:
  title: Security Service API - Enterprise-Grade Authentication & Anti-Cheat
  description: '**Enterprise-Grade Security Service API for NECPGAME**

    Comprehensive authentication, authorization, and anti-cheat microservice.

    ## Key Features

    - **JWT-based authentication** with refresh token support - **Role-based access control (RBAC)** with granular permissions
    - **Anti-cheat validation** with ML-powered pattern detection - **Security threat monitoring** with real-time alerts -
    **Enterprise-grade security** with TLS 1.2+, rate limiting, CORS - **Audit logging** for all security events

    ## Domain Purpose

    The Security Service provides centralized authentication, authorization, and anti-cheat capabilities for the entire NECPGAME
    ecosystem.

    Implements zero-trust security model with comprehensive monitoring.

    ## Performance Targets

    - P99 Latency: <10ms for authentication, <50ms for validation - Memory: <30KB per active session - Concurrent users: 100,000+
    simultaneous validations - Security events: 10,000+ events/second processing

    ## BACKEND OPTIMIZATION NOTES

    **Struct Alignment Hints:** - JWT payload structs aligned to 8-byte boundaries (30-50% memory savings) - Security threat
    records use pointer fields to reduce memory footprint - Permission arrays pre-allocated with capacity hints

    **Performance Optimizations:** - JWT validation cached in Redis with TTL - Permission checks use bloom filters for O(1)
    lookups - Anti-cheat validation batched for concurrent processing - Connection pooling: PostgreSQL (50 max), Redis (20
    max)

    **Zero Allocations in Hot Paths:** - Authentication endpoint: no heap allocations in success path - Permission validation:
    stack-only operations - Threat detection: pre-allocated buffers reused '
  version: 1.0.0
  contact:
    name: NECPGAME Security Team
    url: https://necpgame.com/security
    email: security@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/security
  description: Production server
- url: https://staging-api.necpgame.com/v1/security
  description: Staging server
- url: http://localhost:3000/api/v1/security
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Authentication
  description: User authentication and session management
- name: Authorization
  description: Permission checking and access control
- name: Anti-Cheat
  description: Game action validation and cheat detection
- name: Threat Monitoring
  description: Security threat detection and monitoring
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Security service health check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the security microservice.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds '
      operationId: securityHealthCheck
      tags:
      - Health Monitoring
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '400':
          description: Bad request - invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service is degraded or unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /ready:
    get:
      summary: Security service readiness check
      description: '**Kubernetes readiness probe endpoint**

        Verifies that the service is ready to accept traffic.

        Checks database connectivity and critical dependencies.

        **Performance:** <5ms response time '
      operationId: securityReadinessCheck
      tags:
      - Health Monitoring
      responses:
        '200':
          description: Service is ready to accept traffic
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
        '400':
          description: Bad request - invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service is not ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - not_ready
                  message:
                    type: string
  /auth/login:
    post:
      summary: User authentication
      description: '**JWT-based user authentication**

        Authenticates user credentials and returns access/refresh tokens.

        Includes security monitoring and rate limiting.

        **Performance:** <20ms average, <50ms P99 **Rate Limit:** 5 attempts per minute per IP '
      operationId: authenticateUser
      tags:
      - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
          headers:
            X-Rate-Limit-Remaining:
              schema:
                type: integer
              description: Remaining authentication attempts
        '400':
          description: Invalid request format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/refresh:
    post:
      summary: Refresh access token
      description: '**JWT token refresh**

        Exchanges refresh token for new access/refresh token pair.

        Validates refresh token and generates new tokens.

        **Performance:** <10ms average '
      operationId: refreshToken
      tags:
      - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refresh successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Invalid request format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/logout:
    post:
      summary: User logout
      description: '**Secure user logout**

        Invalidates access token and clears session data.

        Logs logout event for audit purposes.

        **Performance:** <5ms average '
      operationId: logoutUser
      tags:
      - Authentication
      security:
      - BearerAuth: []
      responses:
        '204':
          description: Logout successful
        '401':
          description: Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/permissions:
    get:
      summary: Get current user permissions
      description: '**Retrieve user permissions and roles**

        Returns current user''s roles and permissions for authorization.

        Used by frontend and other services for UI rendering and access control.

        **Performance:** <5ms average, cached for 5 minutes '
      operationId: getUserPermissions
      tags:
      - Authorization
      security:
      - BearerAuth: []
      responses:
        '200':
          description: User permissions retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPermissions'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/check-permission:
    post:
      summary: Check specific permission
      description: '**Fine-grained permission validation**

        Validates if current user has specific permission.

        Used for API-level authorization decisions.

        **Performance:** <2ms average, bloom filter lookup '
      operationId: checkPermission
      tags:
      - Authorization
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckPermissionRequest'
      responses:
        '200':
          description: Permission check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckPermissionResponse'
        '400':
          description: Invalid request format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /security/threats:
    get:
      summary: Get security threats
      description: '**Security threat monitoring dashboard**

        Retrieves security threats with filtering and pagination.

        Requires security.threats.read permission or admin role.

        **Performance:** <100ms for large result sets '
      operationId: getSecurityThreats
      tags:
      - Threat Monitoring
      security:
      - BearerAuth: []
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: Number of threats to return
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Pagination offset
      - name: severity
        in: query
        schema:
          type: string
          enum:
          - low
          - medium
          - high
          - critical
        description: Filter by threat severity
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - resolved
          - dismissed
          default: active
        description: Filter by threat status
      responses:
        '200':
          description: Security threats retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSecurityThreatsResponse'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /anticheat/validate:
    post:
      summary: Validate game action
      description: '**Anti-cheat game action validation**

        Validates player actions for cheating patterns.

        Uses ML models and statistical analysis for detection.

        **Performance:** <50ms P99, batched processing **Rate Limit:** 1000 validations per second per user '
      operationId: validateGameAction
      tags:
      - Anti-Cheat
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateGameActionRequest'
      responses:
        '200':
          description: Action validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateGameActionResponse'
        '400':
          description: Invalid request format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token for authentication
  schemas:
    Error:
      type: object
      required:
      - code
      - message
      properties:
        message:
          type: string
          description: Error message
        details:
          type: object
          description: Additional error details
        code:
          type: integer
          description: HTTP status code
    HealthResponse:
      type: object
      required:
      - status
      - domain
      - timestamp
      - version
      properties:
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
        domain:
          type: string
          example: security-service
        timestamp:
          type: string
          format: date-time
        version:
          type: string
          example: 1.0.0
        database:
          type: boolean
          description: Database connectivity status
        redis:
          type: boolean
          description: Redis connectivity status
        uptime_seconds:
          type: integer
          description: Service uptime in seconds
    ReadinessResponse:
      type: object
      required:
      - status
      - checks
      properties:
        status:
          type: string
          enum:
          - ready
        checks:
          type: array
          items:
            type: string
          example:
          - database
          - redis
          - auth_service
    LoginRequest:
      type: object
      required:
      - username
      - password
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 50
          description: User username or email
        password:
          type: string
          minLength: 8
          maxLength: 128
          description: User password
      description: User login credentials
    LoginResponse:
      type: object
      required:
      - access_token
      - refresh_token
      - token_type
      - expires_in
      - user
      properties:
        access_token:
          type: string
          description: JWT access token
        refresh_token:
          type: string
          description: JWT refresh token for obtaining new access tokens
        token_type:
          type: string
          enum:
          - Bearer
          default: Bearer
        user:
          $ref: '#/components/schemas/UserInfo'
        expires_in:
          type: integer
          description: Access token expiration time in seconds
          example: 3600
      description: Successful authentication response
    RefreshTokenRequest:
      type: object
      required:
      - refresh_token
      properties:
        refresh_token:
          type: string
          description: Valid refresh token
      description: Token refresh request
    UserInfo:
      type: object
      required:
      - id
      - username
      - roles
      properties:
        id:
          type: string
          description: Unique user identifier
        username:
          type: string
          description: User username
        email:
          type: string
          format: email
          description: User email address
        created_at:
          type: string
          format: date-time
          description: Account creation timestamp
        roles:
          type: array
          items:
            type: string
          description: User roles
    UserPermissions:
      type: object
      required:
      - user_id
      - roles
      - permissions
      properties:
        user_id:
          type: string
          description: User identifier
        expires_at:
          type: string
          format: date-time
          description: Permission cache expiration
        roles:
          type: array
          items:
            type: string
          description: User roles
          example:
          - player
          - moderator
        permissions:
          type: array
          items:
            type: string
          description: User permissions
          example:
          - gameplay.access
          - chat.send
          - friends.manage
    CheckPermissionRequest:
      type: object
      required:
      - permission
      properties:
        permission:
          type: string
          description: Permission to check
          example: gameplay.access
        resource:
          type: string
          description: Optional resource identifier
        context:
          type: object
          description: Additional context for permission evaluation
    CheckPermissionResponse:
      type: object
      required:
      - permission
      - granted
      - reason
      properties:
        permission:
          type: string
          description: Checked permission
        reason:
          type: string
          description: Reason for the decision
        user_id:
          type: string
          description: User identifier
        checked_at:
          type: string
          format: date-time
          description: Permission check timestamp
        granted:
          type: boolean
          description: Whether permission is granted
    SecurityThreat:
      type: object
      required:
      - id
      - type
      - severity
      - status
      - description
      - detected_at
      properties:
        id:
          type: string
          description: Unique threat identifier
        type:
          type: string
          enum:
          - brute_force
          - suspicious_login
          - anticheat_violation
          - rate_limit_exceeded
          - unusual_activity
          description: Type of security threat
        severity:
          type: string
          enum:
          - low
          - medium
          - high
          - critical
          description: Threat severity level
        status:
          type: string
          enum:
          - active
          - resolved
          - dismissed
          description: Current threat status
        description:
          type: string
          description: Human-readable threat description
        user_id:
          type: string
          description: Affected user identifier
        ip_address:
          type: string
          format: ipv4
          description: IP address associated with threat
        user_agent:
          type: string
          description: User agent string
        location:
          type: string
          description: Geographic location (if available)
        detected_at:
          type: string
          format: date-time
          description: Threat detection timestamp
        resolved_at:
          type: string
          format: date-time
          description: Threat resolution timestamp
        actions_taken:
          type: array
          items:
            type: string
          description: Actions taken to resolve threat
        confidence_score:
          type: number
          minimum: 0
          maximum: 1
          description: AI confidence score (0-1)
    GetSecurityThreatsResponse:
      type: object
      required:
      - threats
      - summary
      - pagination
      properties:
        summary:
          type: object
          required:
          - total_active
          - critical_count
          - recent_incidents
          properties:
            total_active:
              type: integer
              description: Total active threats
            critical_count:
              type: integer
              description: Number of critical severity threats
            recent_incidents:
              type: integer
              description: Threats detected in last 24 hours
        pagination:
          type: object
          required:
          - page
          - limit
          - total_count
          - has_more
          properties:
            page:
              type: integer
              minimum: 1
              description: Current page number
            limit:
              type: integer
              minimum: 1
              maximum: 100
              description: Items per page
            total_count:
              type: integer
              description: Total number of threats
            has_more:
              type: boolean
              description: Whether more pages are available
        threats:
          type: array
          items:
            $ref: '#/components/schemas/SecurityThreat'
    ValidateGameActionRequest:
      type: object
      required:
      - action_type
      properties:
        action_type:
          type: string
          enum:
          - movement
          - combat
          - interaction
          - crafting
          - trading
          description: Type of game action being validated
        parameters:
          type: object
          description: Action-specific parameters for validation
          properties:
            speed:
              type: number
              description: Movement speed (for movement actions)
            accuracy:
              type: number
              minimum: 0
              maximum: 1
              description: Accuracy percentage (for combat actions)
            distance:
              type: number
              description: Interaction distance (for interaction actions)
            target_id:
              type: string
              description: Target entity identifier
            timestamp:
              type: integer
              description: Action timestamp (Unix timestamp)
        metadata:
          type: object
          description: Additional validation context
          properties:
            session_id:
              type: string
              description: Game session identifier
            client_version:
              type: string
              description: Game client version
    ValidateGameActionResponse:
      type: object
      required:
      - valid
      properties:
        flags:
          type: array
          items:
            type: string
          description: Detected cheat flags (if any)
          example:
          - speed_hack
          - aimbot_suspicious
        confidence_score:
          type: number
          minimum: 0
          maximum: 1
          description: Validation confidence (higher = more certain)
        valid:
          type: boolean
          description: Whether the action is valid (no cheating detected)
        validation_time_ms:
          type: integer
          description: Time taken for validation in milliseconds
