openapi: 3.0.3
info:
  title: Cyberspace Easter Eggs API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Cyberspace Easter Eggs Domain API for NECPGAME**

    This API manages hidden interactive objects (easter eggs) in the cyberspace, providing
    discovery mechanics, rewards distribution, and player progression tracking.

    ## Key Features

    - **Discovery Validation**: Real-time validation of easter egg discoveries with
    anti-cheat protection - **Rewards Distribution**: Automated reward claiming with
    inventory integration - **Achievement System**: Integration with player achievements
    and progression - **Lore Integration**: Dynamic lore reveals based on discoveries
    - **Performance Optimized**: MMOFPS-grade performance with <50ms P99 latency

    ## Domain Purpose

    The Cyberspace Easter Eggs domain handles all aspects of hidden content discovery
    in the digital realm of Night City. Players explore networks, find easter eggs,
    and unlock rewards that enhance their gameplay experience.

    ## Performance Targets

    - P99 Latency: <50ms for discovery validation - Memory: <25KB per active discovery
    session - Concurrent users: 50,000+ simultaneous cyberspace explorations - Cache
    Hit Rate: >95% for easter egg definitions '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/cyberspace
  description: Production server
- url: https://staging-api.necpgame.com/v1/cyberspace
  description: Staging server
- url: http://localhost:8080/v1/cyberspace
  description: Local development server
security:
- BearerAuth: []
tags: []
paths:
  /easter-eggs:
    $ref: ./paths/easter-eggs.yaml#/paths/~1easter-eggs
  /easter-eggs/{easter_egg_id}/discover:
    $ref: ./paths/easter-eggs-{easter_egg_id}-discover.yaml#/paths/~1easter-eggs~1{easter_egg_id}~1discover
  /easter-eggs/{easter_egg_id}/hints:
    $ref: ./paths/easter-eggs-{easter_egg_id}-hints.yaml#/paths/~1easter-eggs~1{easter_egg_id}~1hints
  /players/{player_id}/discoveries:
    $ref: ./paths/players-{player_id}-discoveries.yaml#/paths/~1players~1{player_id}~1discoveries
components:
  schemas:
    EasterEggListResponse:
      $ref: ./schemas/cyberspace-navigation-service-schemas.yaml#/components/schemas/EasterEggListResponse
    EasterEggSummary:
      $ref: ./schemas/cyberspace-navigation-service-schemas.yaml#/components/schemas/EasterEggSummary
    DiscoveryRequest:
      $ref: ./schemas/cyberspace-navigation-service-schemas.yaml#/components/schemas/DiscoveryRequest
    DiscoveryResponse:
      $ref: ./schemas/cyberspace-navigation-service-schemas.yaml#/components/schemas/DiscoveryResponse
    Reward:
      $ref: ./schemas/cyberspace-navigation-service-schemas.yaml#/components/schemas/Reward
    LoreReveal:
      $ref: ./schemas/cyberspace-navigation-service-schemas.yaml#/components/schemas/LoreReveal
    HintsResponse:
      $ref: ./schemas/cyberspace-navigation-service-schemas.yaml#/components/schemas/HintsResponse
    Hint:
      $ref: ./schemas/cyberspace-navigation-service-schemas.yaml#/components/schemas/Hint
    PlayerDiscoveriesResponse:
      $ref: ./schemas/cyberspace-navigation-service-schemas.yaml#/components/schemas/PlayerDiscoveriesResponse
    PlayerDiscovery:
      $ref: ./schemas/cyberspace-navigation-service-schemas.yaml#/components/schemas/PlayerDiscovery
    ErrorResponse:
      $ref: ./schemas/cyberspace-navigation-service-schemas.yaml#/components/schemas/ErrorResponse
    HealthResponse:
      $ref: ./schemas/cyberspace-navigation-service-schemas.yaml#/components/schemas/HealthResponse
    Error:
      $ref: ./schemas/cyberspace-navigation-service-schemas.yaml#/components/schemas/Error
    PaginationParams:
      $ref: ./schemas/cyberspace-navigation-service-schemas.yaml#/components/schemas/PaginationParams
    PaginatedResponse:
      $ref: ./schemas/cyberspace-navigation-service-schemas.yaml#/components/schemas/PaginatedResponse
  responses:
    Unauthorized:
      $ref: ./schemas/cyberspace-navigation-service-responses.yaml#/components/responses/Unauthorized
    NotFound:
      $ref: ./schemas/cyberspace-navigation-service-responses.yaml#/components/responses/NotFound
    TooManyRequests:
      $ref: ./schemas/cyberspace-navigation-service-responses.yaml#/components/responses/TooManyRequests
    OK:
      $ref: ./schemas/cyberspace-navigation-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/cyberspace-navigation-service-responses.yaml#/components/responses/Created
    BadRequest:
      $ref: ./schemas/cyberspace-navigation-service-responses.yaml#/components/responses/BadRequest
    Forbidden:
      $ref: ./schemas/cyberspace-navigation-service-responses.yaml#/components/responses/Forbidden
    Conflict:
      $ref: ./schemas/cyberspace-navigation-service-responses.yaml#/components/responses/Conflict
    InternalServerError:
      $ref: ./schemas/cyberspace-navigation-service-responses.yaml#/components/responses/InternalServerError
    HealthOK:
      $ref: ./schemas/cyberspace-navigation-service-responses.yaml#/components/responses/HealthOK
    HealthBatchSuccess:
      $ref: ./schemas/cyberspace-navigation-service-responses.yaml#/components/responses/HealthBatchSuccess
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
