openapi: 3.0.3
info:
  title: Skill Service API
  description: 'Enterprise-grade Skill System  NECPGAME .


    ## 🎯 **Skill Service Overview**


    Skill Service NECPGAME  enterprise-grade   .


    ### ** **

    - **Skill Tree Management**:

    - **Skill Progression**:

    - **Specialization System**:

    - **Skill Balancing**:


    ### ** **

    - **Combat Skills**:

    - **Crafting Skills**:

    - **Social Skills**:

    - **Exploration Skills**:


    ### ** **

    - **Skill Combinations**:

    - **Mastery System**:

    - **Skill Prerequisites**:

    - **Dynamic Scaling**:


    ## 📊 **Performance Targets**

    - **P99 Latency**: <25ms

    - **Throughput**: 30,000+ skill operations/second

    - **Concurrent Players**: 500,000+

    - **Memory per Player**: <2KB


    ## 🔐 **Security**

    - JWT RS256

    - Rate limiting

    - Input validation  sanitization

    - Audit logging

    '
  version: 1.0.0
  contact:
    name: NECPGAME Platform Team
    email: platform@necpgame.com
  license:
    name: Proprietary
    url: https://necpgame.com/license
servers:
- url: https://skill.necpgame.com/api/v1
  description: Production Environment
- url: https://skill-staging.necpgame.com/api/v1
  description: Staging Environment
- url: http://localhost:8080/api/v1
  description: Local Development
security:
- BearerAuth: []
tags:
- name: Skill Management
  description: null
- name: Skill Trees
  description: null
- name: Progression
  description: null
- name: Specialization
  description: null
- name: Health
  description: null
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /skills:
    $ref: ./paths/skills.yaml#/paths/~1skills
  /skills/{skillId}:
    $ref: ./paths/skills-{skillId}.yaml#/paths/~1skills~1{skillId}
  /skill-trees:
    $ref: ./paths/skill-trees.yaml#/paths/~1skill-trees
  /skill-trees/{treeId}:
    $ref: ./paths/skill-trees-{treeId}.yaml#/paths/~1skill-trees~1{treeId}
  /players/{playerId}/skills:
    $ref: ./paths/players-{playerId}-skills.yaml#/paths/~1players~1{playerId}~1skills
  /players/{playerId}/skills/learn:
    $ref: ./paths/players-{playerId}-skills-learn.yaml#/paths/~1players~1{playerId}~1skills~1learn
  /players/{playerId}/skills/{skillId}/upgrade:
    $ref: ./paths/players-{playerId}-skills-{skillId}-upgrade.yaml#/paths/~1players~1{playerId}~1skills~1{skillId}~1upgrade
  /players/{playerId}/specializations:
    $ref: ./paths/players-{playerId}-specializations.yaml#/paths/~1players~1{playerId}~1specializations
  /skills/mastery/{skillId}:
    $ref: ./paths/skills-mastery-{skillId}.yaml#/paths/~1skills~1mastery~1{skillId}
  /skills/analytics/popular:
    $ref: ./paths/skills-analytics-popular.yaml#/paths/~1skills~1analytics~1popular
components:
  schemas:
    CharacterEntity:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/CharacterEntity
    BaseEntity:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/BaseEntity
    OptimisticLock:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/OptimisticLock
    ErrorResponse:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/ErrorResponse
    HealthResponse:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/HealthResponse
    HealthBatchRequest:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/HealthBatchRequest
    HealthBatchResponse:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/HealthBatchResponse
    SkillEntity:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/SkillEntity
    SkillTreeEntity:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/SkillTreeEntity
    PlayerSkillEntity:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/PlayerSkillEntity
    PlayerSpecializationEntity:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/PlayerSpecializationEntity
    CreateSkillRequest:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/CreateSkillRequest
    UpdateSkillRequest:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/UpdateSkillRequest
    SkillResponse:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/SkillResponse
    SkillListResponse:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/SkillListResponse
    CreateSkillTreeRequest:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/CreateSkillTreeRequest
    UpdateSkillTreeRequest:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/UpdateSkillTreeRequest
    SkillTreeResponse:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/SkillTreeResponse
    SkillTreeListResponse:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/SkillTreeListResponse
    PlayerSkillListResponse:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/PlayerSkillListResponse
    LearnSkillRequest:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/LearnSkillRequest
    LearnSkillResponse:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/LearnSkillResponse
    UpgradeSkillRequest:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/UpgradeSkillRequest
    UpgradeSkillResponse:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/UpgradeSkillResponse
    PlayerSpecializationResponse:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/PlayerSpecializationResponse
    ChooseSpecializationRequest:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/ChooseSpecializationRequest
    ChooseSpecializationResponse:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/ChooseSpecializationResponse
    SkillMasteryResponse:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/SkillMasteryResponse
    PopularSkillsResponse:
      $ref: ./schemas/skill-service-schemas.yaml#/components/schemas/PopularSkillsResponse
  responses: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
