openapi: "3.0.3"

info:
  title: "Skill Service API"
  description: |
    Enterprise-grade Skill System для NECPGAME платформы.

    ## 🎯 **Skill Service Overview**

    Skill Service предоставляет комплексную систему навыков и специализаций для платформы NECPGAME с enterprise-grade производительностью и масштабируемостью.

    ### **Ключевые Возможности**
    - **Skill Tree Management**: Управление деревьями навыков
    - **Skill Progression**: Прогрессия и развитие навыков
    - **Specialization System**: Система специализаций
    - **Skill Balancing**: Балансировка навыков

    ### **Типы Навыков**
    - **Combat Skills**: Боевые навыки
    - **Crafting Skills**: Ремесленные навыки
    - **Social Skills**: Социальные навыки
    - **Exploration Skills**: Навыки исследования

    ### **Расширенные Возможности**
    - **Skill Combinations**: Комбинации навыков
    - **Mastery System**: Система мастерства
    - **Skill Prerequisites**: Система требований
    - **Dynamic Scaling**: Динамическое масштабирование

    ## 📊 **Performance Targets**
    - **P99 Latency**: <25ms для операций с навыками
    - **Throughput**: 30,000+ skill operations/second
    - **Concurrent Players**: 500,000+ активных игроков
    - **Memory per Player**: <2KB для навыков

    ## 🔐 **Security**
    - JWT RS256 аутентификация
    - Rate limiting для предотвращения спама
    - Input validation и sanitization
    - Audit logging всех операций

  version: "1.0.0"
  contact:
    name: "NECPGAME Platform Team"
    email: "platform@necpgame.com"
  license:
    name: "Proprietary"
    url: "https://necpgame.com/license"

servers:
  - url: "https://skill.necpgame.com/api/v1"
    description: "Production Environment"
  - url: "https://skill-staging.necpgame.com/api/v1"
    description: "Staging Environment"
  - url: "http://localhost:8080/api/v1"
    description: "Local Development"

security:
  - BearerAuth: []

tags:
  - name: "Skill Management"
    description: "Управление навыками"
  - name: "Skill Trees"
    description: "Деревья навыков"
  - name: "Progression"
    description: "Прогрессия навыков"
  - name: "Specialization"
    description: "Специализации"
  - name: "Health"
    description: "Мониторинг здоровья сервиса"

paths:
  /health:
    get:
      summary: "Проверка здоровья сервиса"
      operationId: "healthCheck"
      tags: ["Health"]
      responses:
        "200":
          description: "Сервис работает корректно"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: "Сервис недоступен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /health/batch:
    post:
      summary: "Пакетная проверка здоровья"
      operationId: "healthBatchCheck"
      tags: ["Health"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthBatchRequest"
      responses:
        "200":
          description: "Результаты проверки здоровья"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthBatchResponse"
        "400":
          description: "Некорректный запрос"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /health/ws:
    get:
      summary: "WebSocket проверка здоровья"
      operationId: "healthWebSocketCheck"
      tags: ["Health"]
      responses:
        "101":
          description: "WebSocket соединение установлено"
        "503":
          description: "WebSocket недоступен"

  /skills:
    post:
      summary: "Создание нового навыка"
      operationId: "createSkill"
      tags: ["Skill Management"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSkillRequest"
      responses:
        "201":
          description: "Навык создан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SkillResponse"
        "400":
          description: "Некорректные данные"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: "Недостаточно прав"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      summary: "Получение списка навыков"
      operationId: "getSkills"
      tags: ["Skill Management"]
      parameters:
        - name: "category"
          in: "query"
          schema:
            type: "string"
            enum: ["combat", "crafting", "social", "exploration"]
        - name: "treeId"
          in: "query"
          schema:
            type: "string"
            format: "uuid"
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
      responses:
        "200":
          description: "Список навыков"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SkillListResponse"

  /skills/{skillId}:
    get:
      summary: "Получение навыка по ID"
      operationId: "getSkill"
      tags: ["Skill Management"]
      parameters:
        - name: "skillId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "200":
          description: "Навык найден"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SkillResponse"
        "404":
          description: "Навык не найден"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      summary: "Обновление навыка"
      operationId: "updateSkill"
      tags: ["Skill Management"]
      parameters:
        - name: "skillId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSkillRequest"
      responses:
        "200":
          description: "Навык обновлен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SkillResponse"
        "403":
          description: "Недостаточно прав"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "Навык не найден"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /skill-trees:
    post:
      summary: "Создание дерева навыков"
      operationId: "createSkillTree"
      tags: ["Skill Trees"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSkillTreeRequest"
      responses:
        "201":
          description: "Дерево навыков создано"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SkillTreeResponse"
        "400":
          description: "Некорректные данные"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      summary: "Получение списка деревьев навыков"
      operationId: "getSkillTrees"
      tags: ["Skill Trees"]
      parameters:
        - name: "category"
          in: "query"
          schema:
            type: "string"
            enum: ["combat", "crafting", "social", "exploration"]
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 50
            default: 20
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
      responses:
        "200":
          description: "Список деревьев навыков"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SkillTreeListResponse"

  /skill-trees/{treeId}:
    get:
      summary: "Получение дерева навыков по ID"
      operationId: "getSkillTree"
      tags: ["Skill Trees"]
      parameters:
        - name: "treeId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "200":
          description: "Дерево навыков найдено"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SkillTreeResponse"
        "404":
          description: "Дерево навыков не найдено"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      summary: "Обновление дерева навыков"
      operationId: "updateSkillTree"
      tags: ["Skill Trees"]
      parameters:
        - name: "treeId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSkillTreeRequest"
      responses:
        "200":
          description: "Дерево навыков обновлено"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SkillTreeResponse"
        "403":
          description: "Недостаточно прав"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "Дерево навыков не найдено"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /players/{playerId}/skills:
    get:
      summary: "Получение навыков игрока"
      operationId: "getPlayerSkills"
      tags: ["Progression"]
      parameters:
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
        - name: "category"
          in: "query"
          schema:
            type: "string"
            enum: ["combat", "crafting", "social", "exploration"]
        - name: "learnedOnly"
          in: "query"
          schema:
            type: boolean
            default: true
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
      responses:
        "200":
          description: "Навыки игрока"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerSkillListResponse"

  /players/{playerId}/skills/learn:
    post:
      summary: "Изучение навыка"
      operationId: "learnSkill"
      tags: ["Progression"]
      parameters:
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LearnSkillRequest"
      responses:
        "200":
          description: "Навык изучен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LearnSkillResponse"
        "400":
          description: "Невозможно изучить навык"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "Навык не найден"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /players/{playerId}/skills/{skillId}/upgrade:
    post:
      summary: "Улучшение навыка"
      operationId: "upgradeSkill"
      tags: ["Progression"]
      parameters:
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
        - name: "skillId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpgradeSkillRequest"
      responses:
        "200":
          description: "Навык улучшен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpgradeSkillResponse"
        "400":
          description: "Невозможно улучшить навык"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "Навык не найден"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /players/{playerId}/specializations:
    get:
      summary: "Получение специализаций игрока"
      operationId: "getPlayerSpecializations"
      tags: ["Specialization"]
      parameters:
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "200":
          description: "Специализации игрока"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerSpecializationResponse"

    post:
      summary: "Выбор специализации"
      operationId: "chooseSpecialization"
      tags: ["Specialization"]
      parameters:
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChooseSpecializationRequest"
      responses:
        "200":
          description: "Специализация выбрана"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChooseSpecializationResponse"
        "400":
          description: "Невозможно выбрать специализацию"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /skills/mastery/{skillId}:
    get:
      summary: "Получение мастерства навыка"
      operationId: "getSkillMastery"
      tags: ["Progression"]
      parameters:
        - name: "skillId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "200":
          description: "Мастерство навыка"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SkillMasteryResponse"

  /skills/analytics/popular:
    get:
      summary: "Популярные навыки"
      operationId: "getPopularSkills"
      tags: ["Skill Management"]
      parameters:
        - name: "period"
          in: "query"
          schema:
            type: "string"
            enum: ["daily", "weekly", "monthly"]
            default: "weekly"
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 50
            default: 20
      responses:
        "200":
          description: "Популярные навыки"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopularSkillsResponse"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Common inherited entities
    CharacterEntity:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/CharacterEntity"
    BaseEntity:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/BaseEntity"
    OptimisticLock:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/OptimisticLock"
    ErrorResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse"
    HealthResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthResponse"
    HealthBatchRequest:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthBatchRequest"
    HealthBatchResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthBatchResponse"

    # Skill specific schemas
    SkillEntity:
      type: object
      description: "Сущность навыка"
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - name
            - description
            - category
            - maxLevel
          properties:
            name:
              type: string
              description: "Название навыка"
              maxLength: 100
              example: "Мечное Мастерство"
            description:
              type: string
              description: "Описание навыка"
              maxLength: 500
              example: "Увеличивает урон от мечей и точность"
            category:
              type: string
              description: "Категория навыка"
              enum: ["combat", "crafting", "social", "exploration"]
              example: "combat"
            treeId:
              type: string
              description: "ID дерева навыков"
              format: uuid
            iconUrl:
              type: string
              description: "URL иконки навыка"
              format: uri
              example: "https://cdn.necpgame.com/skills/sword-mastery.png"
            maxLevel:
              type: integer
              description: "Максимальный уровень навыка"
              minimum: 1
              maximum: 100
              example: 50
            prerequisites:
              type: array
              description: "Требования для изучения"
              items:
                type: object
                properties:
                  skillId:
                    type: string
                    format: uuid
                  requiredLevel:
                    type: integer
                    minimum: 1
                  type:
                    type: string
                    enum: ["skill", "level", "item"]
            effects:
              type: array
              description: "Эффекты навыка по уровням"
              items:
                type: object
                properties:
                  level:
                    type: integer
                    minimum: 1
                  effectType:
                    type: string
                    enum: ["damage_bonus", "accuracy_bonus", "craft_quality", "social_bonus"]
                  value:
                    type: number
                  description:
                    type: string
                    maxLength: 200
            costFormula:
              type: string
              description: "Формула стоимости улучшения"
              example: "level * 100 + level^2 * 10"
            isActive:
              type: boolean
              description: "Активен ли навык"
              default: true
            $ref: "#/components/schemas/OptimisticLock"

    SkillTreeEntity:
      type: object
      description: "Сущность дерева навыков"
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - name
            - category
            - rootSkillId
          properties:
            name:
              type: string
              description: "Название дерева навыков"
              maxLength: 100
              example: "Боевые Навыки"
            description:
              type: string
              description: "Описание дерева навыков"
              maxLength: 500
            category:
              type: string
              description: "Категория дерева"
              enum: ["combat", "crafting", "social", "exploration"]
              example: "combat"
            rootSkillId:
              type: string
              description: "ID корневого навыка"
              format: uuid
            specializations:
              type: array
              description: "Доступные специализации"
              items:
                type: object
                properties:
                  name:
                    type: string
                    maxLength: 50
                  description:
                    type: string
                    maxLength: 200
                  requiredSkills:
                    type: array
                    items:
                      type: string
                      format: uuid
                  bonuses:
                    type: object
                    additionalProperties:
                      type: number
            isActive:
              type: boolean
              description: "Активно ли дерево"
              default: true
            $ref: "#/components/schemas/OptimisticLock"

    PlayerSkillEntity:
      type: object
      description: "Навык игрока"
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - playerId
            - skillId
            - level
            - experience
          properties:
            playerId:
              type: string
              description: "ID игрока"
              format: uuid
              example: "123e4567-e89b-12d3-a456-426614174000"
            skillId:
              type: string
              description: "ID навыка"
              format: uuid
              example: "456e7890-e89b-12d3-a456-426614174001"
            level:
              type: integer
              description: "Текущий уровень навыка"
              minimum: 0
              example: 15
            experience:
              type: integer
              description: "Опыт в навыке"
              minimum: 0
              example: 2500
            experienceToNext:
              type: integer
              description: "Опыт до следующего уровня"
              minimum: 0
              example: 500
            learnedAt:
              type: string
              description: "Время изучения"
              format: date-time
            lastUsedAt:
              type: string
              description: "Последнее использование"
              format: date-time
            specializationBonus:
              type: number
              description: "Бонус от специализации"
              default: 1.0
            $ref: "#/components/schemas/OptimisticLock"

    PlayerSpecializationEntity:
      type: object
      description: "Специализация игрока"
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - playerId
            - treeId
            - specializationName
          properties:
            playerId:
              type: string
              description: "ID игрока"
              format: uuid
            treeId:
              type: string
              description: "ID дерева навыков"
              format: uuid
            specializationName:
              type: string
              description: "Название специализации"
              maxLength: 50
              example: "Мастер Меча"
            chosenAt:
              type: string
              description: "Время выбора специализации"
              format: date-time
            bonuses:
              type: object
              description: "Бонусы специализации"
              additionalProperties:
                type: number
            $ref: "#/components/schemas/OptimisticLock"

    # Request/Response schemas
    CreateSkillRequest:
      type: object
      required:
        - name
        - description
        - category
        - maxLevel
      properties:
        name:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 500
        category:
          type: string
          enum: ["combat", "crafting", "social", "exploration"]
        treeId:
          type: string
          format: uuid
        iconUrl:
          type: string
          format: uri
        maxLevel:
          type: integer
          minimum: 1
          maximum: 100
        prerequisites:
          type: array
          items:
            type: object
            properties:
              skillId:
                type: string
                format: uuid
              requiredLevel:
                type: integer
                minimum: 1
              type:
                type: string
                enum: ["skill", "level", "item"]
        effects:
          type: array
          items:
            type: object
            properties:
              level:
                type: integer
                minimum: 1
              effectType:
                type: string
                enum: ["damage_bonus", "accuracy_bonus", "craft_quality", "social_bonus"]
              value:
                type: number
              description:
                type: string
                maxLength: 200
        costFormula:
          type: string

    UpdateSkillRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 500
        category:
          type: string
          enum: ["combat", "crafting", "social", "exploration"]
        treeId:
          type: string
          format: uuid
        iconUrl:
          type: string
          format: uri
        maxLevel:
          type: integer
          minimum: 1
          maximum: 100
        prerequisites:
          type: array
          items:
            type: object
            properties:
              skillId:
                type: string
                format: uuid
              requiredLevel:
                type: integer
                minimum: 1
              type:
                type: string
                enum: ["skill", "level", "item"]
        effects:
          type: array
          items:
            type: object
            properties:
              level:
                type: integer
                minimum: 1
              effectType:
                type: string
                enum: ["damage_bonus", "accuracy_bonus", "craft_quality", "social_bonus"]
              value:
                type: number
              description:
                type: string
                maxLength: 200
        costFormula:
          type: string
        isActive:
          type: boolean

    SkillResponse:
      type: object
      properties:
        skill:
          $ref: "#/components/schemas/SkillEntity"
        metadata:
          type: object
          properties:
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time

    SkillListResponse:
      type: object
      properties:
        skills:
          type: array
          items:
            $ref: "#/components/schemas/SkillEntity"
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 100
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean

    CreateSkillTreeRequest:
      type: object
      required:
        - name
        - category
        - rootSkillId
      properties:
        name:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 500
        category:
          type: string
          enum: ["combat", "crafting", "social", "exploration"]
        rootSkillId:
          type: string
          format: uuid
        specializations:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                maxLength: 50
              description:
                type: string
                maxLength: 200
              requiredSkills:
                type: array
                items:
                  type: string
                  format: uuid
              bonuses:
                type: object
                additionalProperties:
                  type: number

    UpdateSkillTreeRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 500
        category:
          type: string
          enum: ["combat", "crafting", "social", "exploration"]
        specializations:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                maxLength: 50
              description:
                type: string
                maxLength: 200
              requiredSkills:
                type: array
                items:
                  type: string
                  format: uuid
              bonuses:
                type: object
                additionalProperties:
                  type: number
        isActive:
          type: boolean

    SkillTreeResponse:
      type: object
      properties:
        skillTree:
          $ref: "#/components/schemas/SkillTreeEntity"
        skills:
          type: array
          items:
            $ref: "#/components/schemas/SkillEntity"
        metadata:
          type: object
          properties:
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time

    SkillTreeListResponse:
      type: object
      properties:
        skillTrees:
          type: array
          items:
            $ref: "#/components/schemas/SkillTreeEntity"
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 50
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean

    PlayerSkillListResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        skills:
          type: array
          items:
            $ref: "#/components/schemas/PlayerSkillEntity"
        totalLearned:
          type: integer
          minimum: 0
        totalPointsSpent:
          type: integer
          minimum: 0
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 100
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean

    LearnSkillRequest:
      type: object
      required:
        - skillId
      properties:
        skillId:
          type: string
          format: uuid

    LearnSkillResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        skill:
          $ref: "#/components/schemas/PlayerSkillEntity"
        learnedAt:
          type: string
          format: date-time
        costPaid:
          type: integer
          minimum: 0

    UpgradeSkillRequest:
      type: object
      required:
        - levels
      properties:
        levels:
          type: integer
          description: "Количество уровней для улучшения"
          minimum: 1
          maximum: 10
          default: 1

    UpgradeSkillResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        skill:
          $ref: "#/components/schemas/PlayerSkillEntity"
        levelsGained:
          type: integer
          minimum: 1
        experienceGained:
          type: integer
          minimum: 0
        costPaid:
          type: integer
          minimum: 0
        upgradedAt:
          type: string
          format: date-time

    PlayerSpecializationResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        specializations:
          type: array
          items:
            $ref: "#/components/schemas/PlayerSpecializationEntity"
        availableSpecializations:
          type: array
          items:
            type: object
            properties:
              treeId:
                type: string
                format: uuid
              treeName:
                type: string
              specializations:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    description:
                      type: string
                    canChoose:
                      type: boolean
                    requirements:
                      type: array
                      items:
                        type: string

    ChooseSpecializationRequest:
      type: object
      required:
        - treeId
        - specializationName
      properties:
        treeId:
          type: string
          format: uuid
        specializationName:
          type: string
          maxLength: 50

    ChooseSpecializationResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        specialization:
          $ref: "#/components/schemas/PlayerSpecializationEntity"
        bonusesApplied:
          type: object
          description: "Примененные бонусы"
          additionalProperties:
            type: number
        chosenAt:
          type: string
          format: date-time

    SkillMasteryResponse:
      type: object
      properties:
        skillId:
          type: string
          format: uuid
        skillName:
          type: string
        totalPlayersLearned:
          type: integer
          minimum: 0
        averageLevel:
          type: number
          minimum: 0
        maxLevelAchieved:
          type: integer
          minimum: 0
        masteryDistribution:
          type: object
          properties:
            novice:
              type: integer
              minimum: 0
              description: "Уровни 1-10"
            intermediate:
              type: integer
              minimum: 0
              description: "Уровни 11-25"
            advanced:
              type: integer
              minimum: 0
              description: "Уровни 26-40"
            expert:
              type: integer
              minimum: 0
              description: "Уровни 41-50"
            master:
              type: integer
              minimum: 0
              description: "Уровень 50+"

    PopularSkillsResponse:
      type: object
      properties:
        period:
          type: string
          enum: ["daily", "weekly", "monthly"]
        skills:
          type: array
          items:
            type: object
            properties:
              skillId:
                type: string
                format: uuid
              name:
                type: string
              category:
                type: string
              learnedCount:
                type: integer
                minimum: 0
              levelIncreaseCount:
                type: integer
                minimum: 0
              popularityRank:
                type: integer
                minimum: 1