openapi: 3.0.3
info:
  title: Anti-Cheat System API
  version: 1.0.0
  description: |
    API для системы анти-чита.
    
    Функционал:
    - Pattern detection (выявление паттернов читинга)
    - Auto-ban система
    - Manual review queue
    - Audit logs
    - Suspicious activity tracking
    - Report system
    - Appeal process
    - Ban management
    
    Типы читов:
    - Speed hacks
    - Teleportation
    - Item duplication
    - Aimbot/ESP
    - Economy exploitation
    - Botting
    
    Источник: .BRAIN/05-technical/infrastructure/anti-cheat-system.md v1.0.0

  x-microservice:
    name: admin-service
    port: 8088
    domain: admin
    base-path: /api/v1/admin
    package: com.necpgame.adminservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Detection
    description: Обнаружение читов
  - name: Bans
    description: Управление банами
  - name: Reports
    description: Репорты игроков
  - name: Appeals
    description: Апелляции

paths:
  /admin/anti-cheat/report:
    post:
      summary: Зарепортить подозрительную активность
      operationId: reportSuspiciousActivity
      tags: [Detection]
      description: Автоматически от backend систем или от игроков
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheatReportRequest'
      responses:
        '201':
          description: Репорт создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheatReport'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /admin/anti-cheat/reports:
    get:
      summary: Получить список репортов
      operationId: getCheatReports
      tags: [Reports]
      description: Только для модераторов
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, UNDER_REVIEW, CONFIRMED, DISMISSED]
        - name: severity
          in: query
          schema:
            type: string
            enum: [LOW, MEDIUM, HIGH, CRITICAL]
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Список репортов
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CheatReport'
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'

  /admin/anti-cheat/reports/{report_id}:
    get:
      summary: Получить детали репорта
      operationId: getCheatReport
      tags: [Reports]
      parameters:
        - name: report_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Детали репорта
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheatReportDetailed'
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'

  /admin/anti-cheat/reports/{report_id}/review:
    post:
      summary: Провести ревью репорта
      operationId: reviewCheatReport
      tags: [Reports]
      parameters:
        - name: report_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewRequest'
      responses:
        '200':
          description: Ревью завершено
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'

  /admin/anti-cheat/bans:
    post:
      summary: Забанить игрока
      operationId: banPlayer
      tags: [Bans]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BanRequest'
      responses:
        '201':
          description: Бан выдан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ban'
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'

    get:
      summary: Получить список банов
      operationId: getBans
      tags: [Bans]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ACTIVE, EXPIRED, APPEALED, LIFTED]
        - name: type
          in: query
          schema:
            type: string
            enum: [TEMPORARY, PERMANENT]
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Список банов
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Ban'

  /admin/anti-cheat/bans/{ban_id}:
    get:
      summary: Получить информацию о бане
      operationId: getBan
      tags: [Bans]
      parameters:
        - name: ban_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Информация о бане
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BanDetailed'

    delete:
      summary: Снять бан
      operationId: liftBan
      tags: [Bans]
      parameters:
        - name: ban_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Бан снят
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'

  /admin/anti-cheat/appeals:
    post:
      summary: Подать апелляцию на бан
      operationId: appealBan
      tags: [Appeals]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppealRequest'
      responses:
        '201':
          description: Апелляция подана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appeal'

    get:
      summary: Получить список апелляций
      operationId: getAppeals
      tags: [Appeals]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, UNDER_REVIEW, APPROVED, REJECTED]
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Список апелляций
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Appeal'

  /admin/anti-cheat/player/{player_id}/history:
    get:
      summary: Получить историю нарушений игрока
      operationId: getPlayerViolationHistory
      tags: [Detection]
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: История нарушений
          content:
            application/json:
              schema:
                type: object
                properties:
                  violations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Violation'
                  total_violations:
                    type: integer
                  risk_score:
                    type: number
                    description: Риск скор игрока (0-100)

components:
  schemas:
    CheatReportRequest:
      type: object
      required:
        - reported_player_id
        - cheat_type
      properties:
        reported_player_id:
          type: string
          format: uuid
        reporter_id:
          type: string
          format: uuid
          nullable: true
          description: Null если автоматический репорт
        cheat_type:
          type: string
          enum: [SPEED_HACK, TELEPORT, DUPLICATION, AIMBOT, ESP, ECONOMY_EXPLOIT, BOTTING]
        evidence:
          type: object
          properties:
            description:
              type: string
            logs:
              type: array
              items:
                type: string
            screenshots:
              type: array
              items:
                type: string
                format: uri
        severity:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
        auto_detected:
          type: boolean

    CheatReport:
      type: object
      properties:
        report_id:
          type: string
          format: uuid
        reported_player_id:
          type: string
          format: uuid
        cheat_type:
          type: string
        severity:
          type: string
        status:
          type: string
          enum: [PENDING, UNDER_REVIEW, CONFIRMED, DISMISSED]
        auto_detected:
          type: boolean
        created_at:
          type: string
          format: date-time

    CheatReportDetailed:
      allOf:
        - $ref: '#/components/schemas/CheatReport'
        - type: object
          properties:
            evidence:
              type: object
            reviewer_id:
              type: string
              format: uuid
              nullable: true
            review_notes:
              type: string
              nullable: true
            action_taken:
              type: string
              nullable: true

    ReviewRequest:
      type: object
      required:
        - reviewer_id
        - decision
      properties:
        reviewer_id:
          type: string
          format: uuid
        decision:
          type: string
          enum: [CONFIRM, DISMISS, ESCALATE]
        notes:
          type: string
        action:
          type: string
          enum: [WARNING, TEMPORARY_BAN, PERMANENT_BAN, NONE]
          nullable: true
        ban_duration_days:
          type: integer
          nullable: true

    BanRequest:
      type: object
      required:
        - player_id
        - reason
        - type
      properties:
        player_id:
          type: string
          format: uuid
        reason:
          type: string
        type:
          type: string
          enum: [TEMPORARY, PERMANENT]
        duration_days:
          type: integer
          nullable: true
        related_report_id:
          type: string
          format: uuid
          nullable: true

    Ban:
      type: object
      properties:
        ban_id:
          type: string
          format: uuid
        player_id:
          type: string
          format: uuid
        type:
          type: string
          enum: [TEMPORARY, PERMANENT]
        reason:
          type: string
        status:
          type: string
          enum: [ACTIVE, EXPIRED, APPEALED, LIFTED]
        issued_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
          nullable: true

    BanDetailed:
      allOf:
        - $ref: '#/components/schemas/Ban'
        - type: object
          properties:
            issued_by:
              type: string
              format: uuid
            related_reports:
              type: array
              items:
                type: string
                format: uuid
            appeal:
              $ref: '#/components/schemas/Appeal'
              nullable: true

    AppealRequest:
      type: object
      required:
        - ban_id
        - player_id
        - reason
      properties:
        ban_id:
          type: string
          format: uuid
        player_id:
          type: string
          format: uuid
        reason:
          type: string
        evidence:
          type: string

    Appeal:
      type: object
      properties:
        appeal_id:
          type: string
          format: uuid
        ban_id:
          type: string
          format: uuid
        player_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [PENDING, UNDER_REVIEW, APPROVED, REJECTED]
        submitted_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
          nullable: true

    Violation:
      type: object
      properties:
        violation_id:
          type: string
          format: uuid
        player_id:
          type: string
          format: uuid
        type:
          type: string
        severity:
          type: string
        detected_at:
          type: string
          format: date-time
        action_taken:
          type: string
          nullable: true

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

