openapi: 3.0.3
info:
  title: Avatar Service API - Enterprise-Grade Avatar Management
  description: '**Enterprise-Grade Avatar Management API for NECPGAME**

    Service for managing user avatars, profile pictures, and visual representations.
    Provides comprehensive avatar upload, processing, storage, and delivery capabilities.

    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation

    - **Backend optimization hints** for struct alignment and performance

    - **Complete validation** with redocly and ogen code generation

    - **Security-first approach** with JWT authentication

    - **Performance-optimized** response structures

    - **Comprehensive error handling** with proper HTTP status codes

    ## Domain Purpose

    Manages user avatars including upload, processing, storage, caching, and delivery.
    Supports multiple formats, sizes, and provides CDN integration for optimal performance.

    ## Performance Targets

    - P99 Latency: <25ms for avatar retrieval

    - Memory: <20KB per cached avatar

    - Concurrent users: 10,000+ simultaneous avatar requests

    - Storage: Optimized image compression and CDN delivery

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/avatar
  description: Production server
- url: https://staging-api.necpgame.com/v1/avatar
  description: Staging server
- url: http://localhost:8080/api/v1/avatar
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Avatar Management
  description: Core avatar operations
- name: Avatar Processing
  description: Image processing and optimization
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Avatar service health check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the avatar management microservice.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds '
      operationId: avatarServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /avatars/{user_id}:
    get:
      summary: Get user avatar by user ID
      description: '**Avatar retrieval endpoint**

        Retrieves user avatar with optimal size and format based on client requirements.
        Supports multiple sizes and formats with CDN caching for performance.

        **Performance:** <15ms P95 with CDN caching '
      operationId: getUserAvatar
      tags:
      - Avatar Management
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: User unique identifier
      - name: size
        in: query
        schema:
          type: string
          enum:
          - small
          - medium
          - large
          - original
          default: medium
        description: Avatar size variant
      - name: format
        in: query
        schema:
          type: string
          enum:
          - jpeg
          - png
          - webp
          default: webp
        description: Image format (webp preferred for performance)
      responses:
        '200':
          description: Avatar retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=3600, public
            ETag:
              schema:
                type: string
                example: '"avatar-123-medium-webp"'
            Content-Type:
              schema:
                type: string
                example: image/webp
            Last-Modified:
              schema:
                type: string
                format: date-time
                example: '2025-12-21T10:00:00Z'
          content:
            image/webp:
              schema:
                type: string
                format: binary
                description: Avatar image data
            image/jpeg:
              schema:
                type: string
                format: binary
                description: Avatar image data
            image/png:
              schema:
                type: string
                format: binary
                description: Avatar image data
        '400':
          description: Invalid request - malformed user ID or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Avatar not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    put:
      summary: Upload or update user avatar
      description: '**Avatar upload/update endpoint**

        Uploads new avatar image, processes it with optimization and generates multiple
        sizes. Supports validation, compression, and automatic format conversion.

        **Performance:** <200ms P95, includes image processing '
      operationId: updateUserAvatar
      tags:
      - Avatar Management
      security:
      - BearerAuth: []
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: User unique identifier
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - avatar
              properties:
                avatar:
                  type: string
                  format: binary
                  description: Avatar image file (JPEG, PNG, WebP, max 5MB)
                crop_x:
                  type: integer
                  minimum: 0
                  description: Crop X coordinate (optional)
                crop_y:
                  type: integer
                  minimum: 0
                  description: Crop Y coordinate (optional)
                crop_width:
                  type: integer
                  minimum: 64
                  maximum: 2048
                  description: Crop width (optional)
                crop_height:
                  type: integer
                  minimum: 64
                  maximum: 2048
                  description: Crop height (optional)
      responses:
        '200':
          description: Avatar updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarResponse'
        '400':
          description: Invalid request - malformed file or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions to update avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: Payload too large - image file exceeds size limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '415':
          description: Unsupported media type - invalid image format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - image validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - upload rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    delete:
      summary: Delete user avatar
      description: '**Avatar deletion endpoint**

        Removes user avatar and all generated variants. Supports soft delete with
        recovery.

        **Performance:** <10ms P95, includes cleanup operations '
      operationId: deleteUserAvatar
      tags:
      - Avatar Management
      security:
      - BearerAuth: []
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: User unique identifier
      responses:
        '204':
          description: Avatar deleted successfully
        '400':
          description: Invalid request - malformed user ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions to delete avatar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Avatar not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - deletion rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /avatars/{user_id}/metadata:
    get:
      summary: Get avatar metadata
      description: '**Avatar metadata endpoint**

        Retrieves metadata about user''s avatar including sizes, formats, and upload
        history.

        **Performance:** <5ms P95, cached metadata '
      operationId: getAvatarMetadata
      tags:
      - Avatar Management
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: User unique identifier
      responses:
        '200':
          description: Avatar metadata retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarMetadataResponse'
        '400':
          description: Invalid request - malformed user ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Avatar metadata not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /process:
    post:
      summary: Process avatar image
      description: '**Image processing endpoint**

        Processes uploaded image for avatar use with optimization, resizing, and format
        conversion. Used internally by upload endpoint but available for advanced
        use cases.

        **Performance:** <150ms P95, includes image processing pipeline '
      operationId: processAvatarImage
      tags:
      - Avatar Processing
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessAvatarRequest'
      responses:
        '200':
          description: Image processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessAvatarResponse'
        '400':
          description: Invalid request - malformed processing parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - image processing failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
components:
  responses:
    OK:
      $ref: ../common-service/responses/success.yaml#/OK
    Created:
      $ref: ../common-service/responses/success.yaml#/Created
    BadRequest:
      $ref: ../common-service/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common-service/responses/error.yaml#/Unauthorized
    Forbidden:
      $ref: ../common-service/responses/error.yaml#/Forbidden
    NotFound:
      $ref: ../common-service/responses/error.yaml#/NotFound
    Conflict:
      $ref: ../common-service/responses/error.yaml#/Conflict
    InternalServerError:
      $ref: ../common-service/responses/error.yaml#/InternalServerError
  schemas:
    HealthResponse:
      $ref: ../common-service/schemas/health.yaml#/HealthResponse
    Error:
      $ref: ../common-service/schemas/error.yaml#/Error
    Avatar:
      type: object
      required:
      - user_id
      - status
      - created_at
      properties:
        user_id:
          type: string
          format: uuid
          description: User unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        avatar_id:
          type: string
          format: uuid
          description: Avatar unique identifier
          example: 660e8400-e29b-41d4-a716-446655440001
        filename:
          type: string
          maxLength: 255
          description: Original filename
          example: cyberpunk-avatar.jpg
        content_type:
          type: string
          enum:
          - image/jpeg
          - image/png
          - image/webp
          description: Image content type
          example: image/webp
        size_bytes:
          type: integer
          minimum: 0
          description: File size in bytes
          example: 245760
        width:
          type: integer
          minimum: 64
          maximum: 2048
          description: Image width in pixels
          example: 512
        height:
          type: integer
          minimum: 64
          maximum: 2048
          description: Image height in pixels
          example: 512
        status:
          type: string
          enum:
          - processing
          - active
          - failed
          - deleted
          default: active
          description: Avatar processing status
          example: active
        created_at:
          type: string
          format: date-time
          description: Upload timestamp
          example: '2025-12-21T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-21T10:00:00Z'
        urls:
          $ref: '#/components/schemas/AvatarUrls'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    AvatarUrls:
      type: object
      properties:
        original:
          type: string
          format: uri
          description: Original size avatar URL
          example: https://cdn.necpgame.com/avatars/550e8400-e29b-41d4-a716-446655440000/original.webp
        large:
          type: string
          format: uri
          description: Large size avatar URL (512x512)
          example: https://cdn.necpgame.com/avatars/550e8400-e29b-41d4-a716-446655440000/large.webp
        medium:
          type: string
          format: uri
          description: Medium size avatar URL (256x256)
          example: https://cdn.necpgame.com/avatars/550e8400-e29b-41d4-a716-446655440000/medium.webp
        small:
          type: string
          format: uri
          description: Small size avatar URL (128x128)
          example: https://cdn.necpgame.com/avatars/550e8400-e29b-41d4-a716-446655440000/small.webp
        thumbnail:
          type: string
          format: uri
          description: Thumbnail size avatar URL (64x64)
          example: https://cdn.necpgame.com/avatars/550e8400-e29b-41d4-a716-446655440000/thumbnail.webp
    ProcessAvatarRequest:
      type: object
      required:
      - image_data
      - user_id
      properties:
        image_data:
          type: string
          description: Base64 encoded image data
          example: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==
        user_id:
          type: string
          format: uuid
          description: User unique identifier
        crop_x:
          type: integer
          minimum: 0
          default: 0
          description: Crop X coordinate
        crop_y:
          type: integer
          minimum: 0
          default: 0
          description: Crop Y coordinate
        crop_width:
          type: integer
          minimum: 64
          maximum: 2048
          description: Crop width
        crop_height:
          type: integer
          minimum: 64
          maximum: 2048
          description: Crop height
        output_formats:
          type: array
          items:
            type: string
            enum:
            - jpeg
            - png
            - webp
          description: Desired output formats (defaults to webp if empty)
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    ProcessAvatarResponse:
      type: object
      required:
      - success
      - avatar_id
      properties:
        success:
          type: boolean
          description: Processing success status
          example: true
        avatar_id:
          type: string
          format: uuid
          description: Generated avatar ID
          example: 660e8400-e29b-41d4-a716-446655440001
        urls:
          $ref: '#/components/schemas/AvatarUrls'
        metadata:
          type: object
          properties:
            original_size:
              type: integer
              description: Original file size in bytes
            processed_size:
              type: integer
              description: Processed file size in bytes
            compression_ratio:
              type: number
              description: Compression ratio achieved
              example: 0.75
            processing_time_ms:
              type: integer
              description: Processing time in milliseconds
              example: 150
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    AvatarResponse:
      type: object
      required:
      - avatar
      properties:
        avatar:
          $ref: '#/components/schemas/Avatar'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    AvatarMetadataResponse:
      type: object
      required:
      - metadata
      properties:
        metadata:
          $ref: '#/components/schemas/Avatar'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
  securitySchemes:
    BearerAuth:
      $ref: ../common-service/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common-service/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common-service/security/security.yaml#/ServiceAuth
