openapi: 3.0.3
info:
  title: Avatar Service API
  description: '**Enterprise-grade API for Avatar and Image Management**


    ## Domain Purpose

    Comprehensive avatar management service providing image upload, processing, storage,

    and CDN delivery for enhanced user experience across the NECPGAME platform.


    ## Business Value

    - High-performance image processing and delivery

    - Scalable cloud storage with global CDN distribution

    - Advanced avatar customization and effects

    - Enterprise-grade security and access control

    - GDPR compliant image management with user consent


    ## Performance Targets

    - P99 Latency: <200ms for upload operations

    - Processing Time: <5 seconds for image processing

    - CDN Hit Rate: >95% for popular avatars

    - Storage Efficiency: <500KB per avatar average


    ## Domain Inheritance

    This service inherits from infrastructure-entities.yaml providing:

    - Configuration management for storage and CDN settings

    - Audit trails for image operations and access

    - User account references for ownership and permissions

    - Optimistic locking for concurrent image operations

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/avatar-service
  description: Production environment
- url: https://staging-api.necpgame.com/v1/avatar-service
  description: Staging environment
- url: http://localhost:8080/api/v1/avatar-service
  description: Local development
security:
- BearerAuth: []
tags:
- name: Avatar Management
  description: Core avatar operations and lifecycle
- name: Image Processing
  description: Image transformation and effects
- name: Storage Management
  description: Storage and CDN operations
- name: Access Control
  description: Avatar access permissions
- name: Analytics & Reporting
  description: Usage analytics and reporting
- name: Health Monitoring
  description: Service health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /avatars:
    $ref: ./paths/avatars.yaml#/paths/~1avatars
  /avatars/{avatarId}:
    $ref: ./paths/avatars-{avatarId}.yaml#/paths/~1avatars~1{avatarId}
  /avatars/{avatarId}/image:
    $ref: ./paths/avatars-{avatarId}-image.yaml#/paths/~1avatars~1{avatarId}~1image
  /avatars/{avatarId}/transform:
    $ref: ./paths/avatars-{avatarId}-transform.yaml#/paths/~1avatars~1{avatarId}~1transform
  /avatars/{avatarId}/duplicate:
    $ref: ./paths/avatars-{avatarId}-duplicate.yaml#/paths/~1avatars~1{avatarId}~1duplicate
  /avatars/user/{userId}:
    $ref: ./paths/avatars-user-{userId}.yaml#/paths/~1avatars~1user~1{userId}
  /avatars/batch/delete:
    $ref: ./paths/avatars-batch-delete.yaml#/paths/~1avatars~1batch~1delete
  /avatars/analytics/usage:
    $ref: ./paths/avatars-analytics-usage.yaml#/paths/~1avatars~1analytics~1usage
  /avatars/storage/cleanup:
    $ref: ./paths/avatars-storage-cleanup.yaml#/paths/~1avatars~1storage~1cleanup
components:
  schemas:
    Avatar:
      $ref: ./schemas/avatar-service-schemas.yaml#/components/schemas/Avatar
    AvatarSummary:
      $ref: ./schemas/avatar-service-schemas.yaml#/components/schemas/AvatarSummary
    UserAvatarStatistics:
      $ref: ./schemas/avatar-service-schemas.yaml#/components/schemas/UserAvatarStatistics
    AvatarUsageAnalytics:
      $ref: ./schemas/avatar-service-schemas.yaml#/components/schemas/AvatarUsageAnalytics
    StorageCleanupResult:
      $ref: ./schemas/avatar-service-schemas.yaml#/components/schemas/StorageCleanupResult
    BatchOperationResult:
      $ref: ./schemas/avatar-service-schemas.yaml#/components/schemas/BatchOperationResult
    UpdateAvatarRequest:
      $ref: ./schemas/avatar-service-schemas.yaml#/components/schemas/UpdateAvatarRequest
    TransformAvatarRequest:
      $ref: ./schemas/avatar-service-schemas.yaml#/components/schemas/TransformAvatarRequest
    DuplicateAvatarRequest:
      $ref: ./schemas/avatar-service-schemas.yaml#/components/schemas/DuplicateAvatarRequest
    BatchDeleteAvatarsRequest:
      $ref: ./schemas/avatar-service-schemas.yaml#/components/schemas/BatchDeleteAvatarsRequest
    StorageCleanupRequest:
      $ref: ./schemas/avatar-service-schemas.yaml#/components/schemas/StorageCleanupRequest
  responses:
    OK:
      $ref: ./schemas/avatar-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/avatar-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/avatar-service-responses.yaml#/components/responses/Updated
    Deleted:
      $ref: ./schemas/avatar-service-responses.yaml#/components/responses/Deleted
    BadRequest:
      $ref: ./schemas/avatar-service-responses.yaml#/components/responses/BadRequest
    Forbidden:
      $ref: ./schemas/avatar-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/avatar-service-responses.yaml#/components/responses/NotFound
    PayloadTooLarge:
      $ref: ./schemas/avatar-service-responses.yaml#/components/responses/PayloadTooLarge
    UnsupportedMediaType:
      $ref: ./schemas/avatar-service-responses.yaml#/components/responses/UnsupportedMediaType
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
