openapi: 3.0.3
info:
  title: Backend Audit API
  description: |
    API для полного аудита backend систем проекта NECPGAME.
    Анализ компонентов, архитектурные рекомендации, технический долг.
    
    **Основано на:**
    - Backend audit part 1 (259 строк)
    - Backend audit part 2 (258 строк)
    
    **Категории аудита:**
    - Authentication & Authorization
    - Player/Character Management
    - Inventory & Loot
    - Economy Systems
    - Social Systems
    - Quest & Narrative
    - Combat & Gameplay
    - Infrastructure
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support

  x-microservice:
    name: admin-service
    port: 8088
    domain: admin
    base-path: /api/v1/technical
    package: com.necpgame.adminservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Backend Audit
    description: Полный аудит backend систем
  - name: Component Analysis
    description: Анализ отдельных компонентов
  - name: Recommendations
    description: Архитектурные рекомендации
  - name: Technical Debt
    description: Управление техническим долгом

paths:
  /technical/backend/audit:
    get:
      tags:
        - Backend Audit
      summary: Получить полный аудит backend систем
      description: |
        Возвращает comprehensive аудит всех backend систем:
        - Статус каждого компонента
        - Обнаруженные проблемы
        - Метрики качества
        - Технический долг
        - Приоритетные рекомендации
        
        **Admin only endpoint.**
      operationId: getBackendAudit
      parameters:
        - name: include_metrics
          in: query
          description: Включить детальные метрики
          schema:
            type: boolean
            default: true
        - name: severity_filter
          in: query
          description: Фильтр по severity
          schema:
            type: string
            enum: ["low", "medium", "high", "critical"]
      responses:
        '200':
          description: Аудит загружен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendAudit'
              example:
                audit_id: "audit_2025_11_07"
                timestamp: "2025-11-07T17:30:00Z"
                overall_status: "good"
                components_audited: 48
                critical_issues: 0
                high_issues: 2
                components:
                  - component_id: "auth"
                    name: "Authentication & Authorization"
                    status: "excellent"
                    implementation_status: "completed"
                    issues: []
                    metrics:
                      code_coverage: 95
                      performance_score: 92
                recommendations:
                  - id: "rec_001"
                    priority: "medium"
                    category: "optimization"
                    description: "Implement caching for frequently accessed data"
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'

  /technical/backend/audit/{component}:
    get:
      tags:
        - Component Analysis
      summary: Получить аудит конкретного компонента
      description: |
        Детальный аудит одного backend компонента.
        Включает код, архитектуру, тесты, производительность.
      operationId: getComponentAudit
      parameters:
        - name: component
          in: path
          required: true
          schema:
            type: string
            enum: [
              "authentication",
              "player-management",
              "inventory",
              "loot",
              "quest-engine",
              "combat-session",
              "progression",
              "economy",
              "social",
              "narrative",
              "infrastructure"
            ]
      responses:
        '200':
          description: Component audit загружен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentAudit'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /technical/backend/audit/analyze:
    post:
      tags:
        - Backend Audit
      summary: Запустить новый анализ
      description: |
        Запускает полный анализ backend систем.
        Процесс асинхронный, возвращает audit_id для отслеживания.
        
        **Admin only.**
      operationId: startBackendAnalysis
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                components:
                  type: array
                  description: Список компонентов для анализа (пусто = все)
                  items:
                    type: string
                include_tests:
                  type: boolean
                  description: Включить анализ тестов
                  default: true
                include_performance:
                  type: boolean
                  description: Включить performance benchmarks
                  default: true
      responses:
        '202':
          description: Анализ запущен
          content:
            application/json:
              schema:
                type: object
                properties:
                  audit_id:
                    type: string
                    example: "audit_2025_11_07_001"
                  status:
                    type: string
                    example: "in_progress"
                  estimated_time:
                    type: integer
                    description: Оценка времени в секундах
                    example: 300
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'

  /technical/backend/recommendations:
    get:
      tags:
        - Recommendations
      summary: Получить архитектурные рекомендации
      description: |
        Список рекомендаций по улучшению backend систем.
        Сортировка по приоритету и impact.
      operationId: getRecommendations
      parameters:
        - name: priority
          in: query
          description: Фильтр по приоритету
          schema:
            type: string
            enum: ["low", "medium", "high", "critical"]
        - name: category
          in: query
          description: Категория рекомендации
          schema:
            type: string
            enum: [
              "security",
              "performance",
              "scalability",
              "maintainability",
              "testing",
              "documentation"
            ]
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Рекомендации загружены
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Recommendation'

  /technical/backend/technical-debt:
    get:
      tags:
        - Technical Debt
      summary: Получить информацию о техническом долге
      description: |
        Анализ технического долга по категориям и компонентам.
        Включает оценку времени на устранение.
      operationId: getTechnicalDebt
      responses:
        '200':
          description: Technical debt загружен
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_debt_hours:
                    type: integer
                    description: Общее время на устранение (часы)
                    example: 120
                  debt_by_category:
                    type: array
                    items:
                      $ref: '#/components/schemas/TechnicalDebtCategory'
                  debt_by_component:
                    type: array
                    items:
                      $ref: '#/components/schemas/ComponentDebt'

  /technical/backend/metrics:
    get:
      tags:
        - Component Analysis
      summary: Получить метрики backend систем
      description: |
        Агрегированные метрики по всем backend компонентам:
        - Code coverage
        - Performance scores
        - API response times
        - Error rates
      operationId: getBackendMetrics
      responses:
        '200':
          description: Метрики загружены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendMetrics'

components:
  schemas:
    BackendAudit:
      type: object
      required:
        - audit_id
        - timestamp
        - overall_status
      properties:
        audit_id:
          type: string
          description: Уникальный ID аудита
          example: "audit_2025_11_07"
        timestamp:
          type: string
          format: date-time
          description: Время проведения аудита
        overall_status:
          type: string
          enum: ["excellent", "good", "fair", "poor", "critical"]
          description: Общий статус backend
        components_audited:
          type: integer
          description: Количество проверенных компонентов
          example: 48
        critical_issues:
          type: integer
          description: Количество критических проблем
          example: 0
        high_issues:
          type: integer
          description: Количество важных проблем
          example: 2
        medium_issues:
          type: integer
          example: 5
        low_issues:
          type: integer
          example: 12
        components:
          type: array
          description: Детали по каждому компоненту
          items:
            $ref: '#/components/schemas/ComponentAudit'
        recommendations:
          type: array
          description: Приоритетные рекомендации
          items:
            $ref: '#/components/schemas/Recommendation'
        technical_debt:
          $ref: '#/components/schemas/TechnicalDebtSummary'

    ComponentAudit:
      type: object
      required:
        - component_id
        - name
        - status
      properties:
        component_id:
          type: string
          example: "auth"
        name:
          type: string
          example: "Authentication & Authorization"
        status:
          type: string
          enum: ["excellent", "good", "fair", "poor", "critical"]
        implementation_status:
          type: string
          enum: ["completed", "in_progress", "not_started"]
          example: "completed"
        issues:
          type: array
          items:
            $ref: '#/components/schemas/Issue'
        metrics:
          type: object
          properties:
            code_coverage:
              type: integer
              description: Code coverage %
              example: 95
              minimum: 0
              maximum: 100
            performance_score:
              type: integer
              description: Performance score (0-100)
              example: 92
            security_score:
              type: integer
              description: Security score (0-100)
              example: 98
            maintainability_index:
              type: integer
              description: Maintainability index (0-100)
              example: 85
        dependencies:
          type: array
          description: Зависимости от других компонентов
          items:
            type: string
        api_endpoints:
          type: integer
          description: Количество API endpoints
          example: 12
        last_updated:
          type: string
          format: date-time

    Issue:
      type: object
      required:
        - id
        - severity
        - description
      properties:
        id:
          type: string
          example: "issue_001"
        severity:
          type: string
          enum: ["low", "medium", "high", "critical"]
        category:
          type: string
          enum: ["security", "performance", "scalability", "maintainability", "bug"]
        description:
          type: string
          example: "Database queries not optimized for large datasets"
        affected_endpoints:
          type: array
          items:
            type: string
        estimated_fix_time:
          type: integer
          description: Время на исправление (часы)
          example: 8
        recommendation:
          type: string
          description: Рекомендация по исправлению
          example: "Implement database indexing and query optimization"

    Recommendation:
      type: object
      required:
        - id
        - priority
        - description
      properties:
        id:
          type: string
          example: "rec_001"
        priority:
          type: string
          enum: ["low", "medium", "high", "critical"]
        category:
          type: string
          enum: [
            "security",
            "performance",
            "scalability",
            "maintainability",
            "testing",
            "documentation"
          ]
        description:
          type: string
          example: "Implement Redis caching for frequently accessed data"
        rationale:
          type: string
          description: Обоснование рекомендации
          example: "Will reduce database load by 40% and improve response times"
        estimated_effort:
          type: integer
          description: Оценка усилий (часы)
          example: 16
        impact:
          type: string
          enum: ["low", "medium", "high"]
          description: Ожидаемый impact
        affected_components:
          type: array
          items:
            type: string

    TechnicalDebtSummary:
      type: object
      properties:
        total_debt_hours:
          type: integer
          description: Общее время на устранение (часы)
          example: 120
        critical_debt_items:
          type: integer
          example: 2
        by_category:
          type: object
          properties:
            security:
              type: integer
              example: 20
            performance:
              type: integer
              example: 40
            scalability:
              type: integer
              example: 30
            maintainability:
              type: integer
              example: 30

    TechnicalDebtCategory:
      type: object
      properties:
        category:
          type: string
          enum: ["security", "performance", "scalability", "maintainability", "testing"]
        debt_hours:
          type: integer
          description: Время на устранение (часы)
        items_count:
          type: integer
          description: Количество items
        priority_distribution:
          type: object
          properties:
            critical:
              type: integer
            high:
              type: integer
            medium:
              type: integer
            low:
              type: integer

    ComponentDebt:
      type: object
      properties:
        component_id:
          type: string
        component_name:
          type: string
        debt_hours:
          type: integer
        issues:
          type: array
          items:
            $ref: '#/components/schemas/Issue'

    BackendMetrics:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        average_code_coverage:
          type: integer
          description: Средний code coverage %
          example: 87
        average_performance_score:
          type: integer
          example: 90
        total_api_endpoints:
          type: integer
          example: 295
        average_response_time:
          type: integer
          description: Среднее время ответа (ms)
          example: 120
        error_rate:
          type: number
          format: float
          description: Error rate %
          example: 0.5
        uptime:
          type: number
          format: float
          description: Uptime %
          example: 99.95

security:
  - BearerAuth: []


