openapi: 3.0.3
info:
  title: Deployment Management API
  description: |
    API для управления deployments и версиями NECPGAME.
    
    **Функции:**
    - Deployment orchestration
    - Version management
    - Rollback capabilities
    - Blue-green deployment
    - Feature flags management
    - Release tracking
  version: 1.0.0

  x-microservice:
    name: admin-service
    port: 8088
    domain: admin
    base-path: /api/v1/technical
    package: com.necpgame.adminservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Deployments
  - name: Versions
  - name: Feature Flags
  - name: Rollbacks

paths:
  /technical/deployments:
    get:
      tags:
        - Deployments
      summary: Get deployment history
      description: История всех deployments
      operationId: getDeployments
      parameters:
        - name: environment
          in: query
          schema:
            type: string
            enum: ["production", "staging", "development"]
        - name: status
          in: query
          schema:
            type: string
            enum: ["success", "failed", "in_progress", "rolled_back"]
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Deployment history
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Deployment'

  /technical/deployments/deploy:
    post:
      tags:
        - Deployments
      summary: Trigger deployment
      description: Запуск deployment (admin only)
      operationId: triggerDeployment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - version
                - environment
              properties:
                version:
                  type: string
                environment:
                  type: string
                  enum: ["production", "staging"]
                deployment_strategy:
                  type: string
                  enum: ["rolling", "blue_green", "canary"]
                  default: "rolling"
      responses:
        '202':
          description: Deployment started
          content:
            application/json:
              schema:
                type: object
                properties:
                  deployment_id:
                    type: string
                  status:
                    type: string
                  estimated_time_minutes:
                    type: integer
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'

  /technical/deployments/{deployment_id}/rollback:
    post:
      tags:
        - Rollbacks
      summary: Rollback deployment
      description: Откат к предыдущей версии
      operationId: rollbackDeployment
      parameters:
        - name: deployment_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Rollback started
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'

  /technical/deployments/versions:
    get:
      tags:
        - Versions
      summary: Get version information
      description: Информация о всех версиях системы
      operationId: getVersions
      responses:
        '200':
          description: Version info
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_version:
                    type: string
                  previous_versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/VersionInfo'

  /technical/feature-flags:
    get:
      tags:
        - Feature Flags
      summary: Get feature flags
      description: Список всех feature flags
      operationId: getFeatureFlags
      responses:
        '200':
          description: Feature flags
          content:
            application/json:
              schema:
                type: object
                properties:
                  flags:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeatureFlag'

    post:
      tags:
        - Feature Flags
      summary: Create/Update feature flag
      description: Управление feature flags (admin only)
      operationId: updateFeatureFlag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - flag_name
                - enabled
              properties:
                flag_name:
                  type: string
                enabled:
                  type: boolean
                rollout_percentage:
                  type: integer
                  minimum: 0
                  maximum: 100
      responses:
        '200':
          description: Feature flag updated

components:
  schemas:
    Deployment:
      type: object
      properties:
        deployment_id:
          type: string
        version:
          type: string
        environment:
          type: string
        status:
          type: string
          enum: ["success", "failed", "in_progress", "rolled_back"]
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        deployed_by:
          type: string
        deployment_strategy:
          type: string
        services_deployed:
          type: array
          items:
            type: string

    VersionInfo:
      type: object
      properties:
        version:
          type: string
        release_date:
          type: string
          format: date-time
        changelog:
          type: array
          items:
            type: string
        deployment_count:
          type: integer

    FeatureFlag:
      type: object
      properties:
        flag_name:
          type: string
        enabled:
          type: boolean
        rollout_percentage:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

security:
  - BearerAuth: []


