openapi: 3.0.3
info:
  title: Disaster Recovery API
  description: |
    API для disaster recovery и emergency procedures NECPGAME.
    
    **Критически важно для:**
    - Business continuity
    - Data protection
    - System reliability
    - Emergency response
  version: 1.0.0

  x-microservice:
    name: admin-service
    port: 8088
    domain: admin
    base-path: /api/v1/technical
    package: com.necpgame.adminservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Disaster Recovery
  - name: Backups
  - name: Failover

paths:
  /technical/disaster-recovery/status:
    get:
      tags:
        - Disaster Recovery
      summary: DR readiness status
      description: Статус готовности disaster recovery систем
      operationId: getDrStatus
      responses:
        '200':
          description: DR status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrStatus'

  /technical/disaster-recovery/backup:
    post:
      tags:
        - Backups
      summary: Create emergency backup
      description: Создание emergency full backup
      operationId: createEmergencyBackup
      responses:
        '202':
          description: Backup started
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'

  /technical/disaster-recovery/restore:
    post:
      tags:
        - Backups
      summary: Restore from backup
      description: Восстановление из backup
      operationId: restoreFromBackup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - backup_id
              properties:
                backup_id:
                  type: string
                restore_point:
                  type: string
                  format: date-time
      responses:
        '202':
          description: Restore started

  /technical/disaster-recovery/failover:
    post:
      tags:
        - Failover
      summary: Initiate failover
      description: Переключение на backup datacenter
      operationId: initiateFailover
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                target_datacenter:
                  type: string
                reason:
                  type: string
      responses:
        '202':
          description: Failover initiated

components:
  schemas:
    DrStatus:
      type: object
      properties:
        ready:
          type: boolean
        last_backup:
          type: string
          format: date-time
        backup_frequency:
          type: string
        failover_ready:
          type: boolean
        rpo_minutes:
          type: integer
          description: Recovery Point Objective
        rto_minutes:
          type: integer
          description: Recovery Time Objective

security:
  - BearerAuth: []


