openapi: 3.0.3
info:
  title: Global State Extended API
  version: 1.0.0
  description: |
    API для расширенной системы глобального состояния.
    
    Функционал:
    - Global state core (центральное состояние игры)
    - State management (CRUD операции с состоянием)
    - State synchronization (синхронизация между клиентами)
    - State operations (атомарные операции)
    - State events (события изменения состояния)
    - Conflict resolution
    - Version control
    - State snapshots
    
    Компоненты состояния:
    - Player states
    - World states
    - Faction states
    - Economy states
    - Combat states
    - Quest states
    
    Источники: .BRAIN/05-technical/global-state/ (5 documents)

  x-microservice:
    name: admin-service
    port: 8088
    domain: admin
    base-path: /api/v1/technical
    package: com.necpgame.adminservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Global State
    description: Глобальное состояние
  - name: State Sync
    description: Синхронизация
  - name: State Events
    description: События состояния

paths:
  /technical/global-state:
    get:
      summary: Получить глобальное состояние
      operationId: getGlobalState
      tags: [Global State]
      parameters:
        - name: components
          in: query
          description: Компоненты для получения
          schema:
            type: array
            items:
              type: string
              enum: [WORLD, FACTIONS, ECONOMY, PLAYER_COUNT, ACTIVE_EVENTS]
      responses:
        '200':
          description: Глобальное состояние
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalState'

  /technical/global-state/character/{character_id}:
    get:
      summary: Получить состояние персонажа
      operationId: getCharacterState
      tags: [Global State]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Состояние персонажа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterState'

    patch:
      summary: Обновить состояние персонажа
      operationId: updateCharacterState
      tags: [Global State]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StateUpdateRequest'
      responses:
        '200':
          description: Состояние обновлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StateUpdateResult'

  /technical/global-state/sync:
    post:
      summary: Синхронизировать состояние
      operationId: syncState
      tags: [State Sync]
      description: Client-server state sync
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncRequest'
      responses:
        '200':
          description: Синхронизация выполнена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncResponse'

  /technical/global-state/operations:
    post:
      summary: Выполнить атомарную операцию с состоянием
      operationId: executeStateOperation
      tags: [Global State]
      description: Atomic state operations (compare-and-swap)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StateOperationRequest'
      responses:
        '200':
          description: Операция выполнена
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  new_version:
                    type: integer
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'

  /technical/global-state/events/subscribe:
    post:
      summary: Подписаться на события состояния
      operationId: subscribeToStateEvents
      tags: [State Events]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                character_id:
                  type: string
                  format: uuid
                event_types:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Подписка создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscription_id:
                    type: string
                    format: uuid
                  websocket_url:
                    type: string

  /technical/global-state/snapshots:
    post:
      summary: Создать snapshot состояния
      operationId: createStateSnapshot
      tags: [Global State]
      description: Для backup или rollback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                character_id:
                  type: string
                  format: uuid
                description:
                  type: string
      responses:
        '201':
          description: Snapshot создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StateSnapshot'

    get:
      summary: Получить список snapshots
      operationId: getStateSnapshots
      tags: [Global State]
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Список snapshots
          content:
            application/json:
              schema:
                type: object
                properties:
                  snapshots:
                    type: array
                    items:
                      $ref: '#/components/schemas/StateSnapshot'

  /technical/global-state/world/factions:
    get:
      summary: Получить состояние фракций
      operationId: getFactionsState
      tags: [Global State]
      responses:
        '200':
          description: Состояние фракций
          content:
            application/json:
              schema:
                type: object
                properties:
                  factions:
                    type: array
                    items:
                      $ref: '#/components/schemas/FactionState'

  /technical/global-state/world/economy:
    get:
      summary: Получить экономическое состояние мира
      operationId: getEconomyState
      tags: [Global State]
      responses:
        '200':
          description: Экономическое состояние
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EconomyState'

components:
  schemas:
    GlobalState:
      type: object
      properties:
        version:
          type: integer
          description: Версия состояния для conflict resolution
        timestamp:
          type: string
          format: date-time
        world:
          $ref: '#/components/schemas/WorldState'
        online_players:
          type: integer
        active_sessions:
          type: integer
        server_time:
          type: string
          format: date-time

    WorldState:
      type: object
      properties:
        current_year:
          type: integer
        current_era:
          type: string
        active_global_events:
          type: array
          items:
            type: string
        faction_power_balance:
          type: object
          additionalProperties:
            type: number
        economic_indicators:
          type: object

    CharacterState:
      type: object
      properties:
        character_id:
          type: string
          format: uuid
        version:
          type: integer
        position:
          type: object
          properties:
            location_id:
              type: string
            x:
              type: number
            y:
              type: number
            z:
              type: number
        status:
          type: string
          enum: [ONLINE, OFFLINE, IN_COMBAT, IN_QUEST, IN_TRADE, AFK]
        health:
          type: object
          properties:
            current:
              type: integer
            max:
              type: integer
        active_effects:
          type: array
          items:
            type: object
        quest_states:
          type: object
          additionalProperties:
            type: string
        last_updated:
          type: string
          format: date-time

    StateUpdateRequest:
      type: object
      required:
        - version
        - updates
      properties:
        version:
          type: integer
          description: Текущая версия (для optimistic locking)
        updates:
          type: object
          additionalProperties: true
        merge_strategy:
          type: string
          enum: [OVERWRITE, MERGE, APPEND]
          default: MERGE

    StateUpdateResult:
      type: object
      properties:
        success:
          type: boolean
        new_version:
          type: integer
        conflicts:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              expected_version:
                type: integer
              actual_version:
                type: integer

    SyncRequest:
      type: object
      required:
        - character_id
        - client_version
      properties:
        character_id:
          type: string
          format: uuid
        client_version:
          type: integer
        client_state:
          type: object
          description: Состояние на клиенте
          additionalProperties: true

    SyncResponse:
      type: object
      properties:
        server_version:
          type: integer
        needs_update:
          type: boolean
        state_delta:
          type: object
          description: Изменения которые нужно применить
          additionalProperties: true
        full_state:
          $ref: '#/components/schemas/CharacterState'
          nullable: true
          description: Полное состояние если delta слишком большая

    StateOperationRequest:
      type: object
      required:
        - character_id
        - operation_type
      properties:
        character_id:
          type: string
          format: uuid
        operation_type:
          type: string
          enum: [INCREMENT, DECREMENT, SET, APPEND, REMOVE]
        field:
          type: string
        value:
          type: object
        expected_version:
          type: integer

    StateSnapshot:
      type: object
      properties:
        snapshot_id:
          type: string
          format: uuid
        character_id:
          type: string
          format: uuid
        state:
          $ref: '#/components/schemas/CharacterState'
        description:
          type: string
        created_at:
          type: string
          format: date-time
        can_restore:
          type: boolean

    FactionState:
      type: object
      properties:
        faction_id:
          type: string
        power_level:
          type: number
        controlled_territories:
          type: array
          items:
            type: string
        relations:
          type: object
          additionalProperties:
            type: integer
        active_operations:
          type: integer

    EconomyState:
      type: object
      properties:
        inflation_rate:
          type: number
        currency_rates:
          type: object
          additionalProperties:
            type: number
        market_health:
          type: string
          enum: [STRONG, STABLE, WEAK, CRISIS]
        active_events:
          type: array
          items:
            type: string

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

