openapi: 3.0.3
info:
  title: Logging & Error Handling API
  description: |
    API для централизованной системы логирования и обработки ошибок.
    
    **Функции:**
    - Централизованное логирование
    - Error tracking
    - Alert management
    - Log analysis
  version: 1.0.0

  x-microservice:
    name: admin-service
    port: 8088
    domain: admin
    base-path: /api/v1/technical
    package: com.necpgame.adminservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Logging
  - name: Error Tracking
  - name: Alerts

paths:
  /technical/logs:
    post:
      tags:
        - Logging
      summary: Отправить log entry
      description: Сервисы отправляют logs централизованно
      operationId: createLogEntry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogEntry'
      responses:
        '201':
          description: Log created

    get:
      tags:
        - Logging
      summary: Получить logs
      description: Query logs с фильтрацией
      operationId: getLogs
      parameters:
        - name: service
          in: query
          schema:
            type: string
        - name: level
          in: query
          schema:
            type: string
            enum: ["TRACE", "DEBUG", "INFO", "WARN", "ERROR", "FATAL"]
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Logs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/LogEntry'

  /technical/errors:
    get:
      tags:
        - Error Tracking
      summary: Error tracking
      description: Статистика ошибок, группировка, частота
      operationId: getErrors
      parameters:
        - name: service
          in: query
          schema:
            type: string
        - name: time_range
          in: query
          schema:
            type: string
            enum: ["1h", "24h", "7d"]
      responses:
        '200':
          description: Error stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_errors:
                    type: integer
                  error_groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/ErrorGroup'

  /technical/alerts:
    post:
      tags:
        - Alerts
      summary: Create alert rule
      description: Создание правила alerting
      operationId: createAlert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertRule'
      responses:
        '201':
          description: Alert created

components:
  schemas:
    LogEntry:
      type: object
      required:
        - level
        - service
        - message
      properties:
        timestamp:
          type: string
          format: date-time
        level:
          type: string
          enum: ["TRACE", "DEBUG", "INFO", "WARN", "ERROR", "FATAL"]
        service:
          type: string
        trace_id:
          type: string
        player_id:
          type: string
        message:
          type: string
        error:
          type: object
          properties:
            type:
              type: string
            message:
              type: string
            stack:
              type: string
        context:
          type: object
          additionalProperties: true

    ErrorGroup:
      type: object
      properties:
        error_type:
          type: string
        count:
          type: integer
        first_seen:
          type: string
          format: date-time
        last_seen:
          type: string
          format: date-time
        affected_users:
          type: integer
        severity:
          type: string
          enum: ["low", "medium", "high", "critical"]

    AlertRule:
      type: object
      properties:
        rule_name:
          type: string
        condition:
          type: string
          description: Alert condition (e.g., "error_rate > 5%")
        notification_channels:
          type: array
          items:
            type: string
            enum: ["email", "slack", "pagerduty"]

security:
  - BearerAuth: []


