openapi: 3.0.3
info:
  title: Matchmaking API
  version: 1.0.0
  description: |
    API для системы подбора игроков (matchmaking).
    
    Источник: .BRAIN/05-technical/backend/matchmaking-system.md v1.0.0
    
    Queue system: Очереди для разных активностей (PvP, raids, dungeons)
    
    Типы активностей:
    - PvP: Arena 3v3, 5v5, 10v10
    - PvE: Raids (10/25 players), Dungeons (5 players)
    - Extraction Zones (4-6 players)
    
    Match criteria:
    - Level range
    - Role (tank, dps, healer, support)
    - Rating (MMR/ELO)
    - Region/language
    
    Party formation: Автоматическое создание групп
    Team balancing: Баланс сил команд
    MMR/ELO: Рейтинговая система

  x-microservice:
    name: admin-service
    port: 8088
    domain: admin
    base-path: /api/v1/technical
    package: com.necpgame.adminservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Matchmaking
    description: Подбор игроков

paths:
  /technical/matchmaking/join-queue:
    post:
      summary: Войти в очередь
      description: |
        Добавляет игрока в очередь для подбора группы.
        Указывает активность и роль.
      operationId: joinQueue
      tags:
        - Matchmaking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - activity_type
                - role
              properties:
                character_id:
                  type: string
                activity_type:
                  type: string
                  enum: [pvp_arena_3v3, pvp_arena_5v5, raid_10, raid_25, dungeon_5, extraction_zone]
                role:
                  type: string
                  enum: [tank, dps, healer, support]
                party_id:
                  type: string
                  description: Если в группе
            examples:
              solo_pvp:
                summary: Соло PvP арена
                value:
                  character_id: "char_123"
                  activity_type: "pvp_arena_3v3"
                  role: "dps"
      responses:
        '200':
          description: Добавлен в очередь
          content:
            application/json:
              schema:
                type: object
                properties:
                  queue_id:
                    type: string
                  position:
                    type: integer
                  estimated_wait_time:
                    type: number
                    description: Оценка времени ожидания (секунды)
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'

  /technical/matchmaking/leave-queue:
    post:
      summary: Покинуть очередь
      description: Убирает игрока из очереди подбора
      operationId: leaveQueue
      tags:
        - Matchmaking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
              properties:
                character_id:
                  type: string
      responses:
        '200':
          description: Убран из очереди
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /technical/matchmaking/queue-status:
    get:
      summary: Получить статус очереди
      description: |
        Возвращает текущий статус в очереди.
        Включает позицию и оценку времени.
      operationId: getQueueStatus
      tags:
        - Matchmaking
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Статус очереди
          content:
            application/json:
              schema:
                type: object
                properties:
                  in_queue:
                    type: boolean
                  queue_id:
                    type: string
                  activity_type:
                    type: string
                  position:
                    type: integer
                  estimated_wait_time:
                    type: number
                  time_in_queue:
                    type: number
                    description: Время в очереди (секунды)

  /technical/matchmaking/accept-match:
    post:
      summary: Принять матч
      description: |
        Принимает найденный матч.
        Все игроки должны принять за 30 секунд.
      operationId: acceptMatch
      tags:
        - Matchmaking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - match_id
              properties:
                character_id:
                  type: string
                match_id:
                  type: string
      responses:
        '200':
          description: Матч принят
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  match_id:
                    type: string
                  accepted_count:
                    type: integer
                  required_count:
                    type: integer

  /technical/matchmaking/match-details:
    get:
      summary: Получить детали матча
      description: Возвращает информацию о найденном матче
      operationId: getMatchDetails
      tags:
        - Matchmaking
      parameters:
        - name: match_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Детали матча
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchDetails'

components:
  schemas:
    MatchDetails:
      type: object
      properties:
        match_id:
          type: string
        activity_type:
          type: string
        teams:
          type: array
          items:
            type: object
            properties:
              team_id:
                type: string
              players:
                type: array
                items:
                  type: object
        average_rating:
          type: number
        server:
          type: string
        created_at:
          type: string
          format: date-time


