openapi: 3.0.3
info:
  title: Notification System API
  version: 1.0.0
  description: |
    API для системы уведомлений.
    
    Источник: .BRAIN/05-technical/backend/notification-system.md v1.0.0
    
    Tier 2 система. UX и коммуникация!
    
    Возможности:
    - In-game notifications (popup, toast)
    - WebSocket push (real-time)
    - Email notifications (важные события)
    - Multiple types (system, quest, trade, party, guild, friend)
    - Notification preferences (настройки)
    - History (30 дней)
    - Priority levels (low, normal, high, urgent)
    
    БД структура:
    - notifications (id, player_id, type, priority, message, read, created_at)

  x-microservice:
    name: admin-service
    port: 8088
    domain: admin
    base-path: /api/v1/technical
    package: com.necpgame.adminservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Notifications
    description: Система уведомлений

paths:
  /technical/notifications:
    get:
      summary: Получить уведомления
      description: |
        Возвращает список уведомлений.
        Поддерживает фильтрацию и пагинацию.
      operationId: getNotifications
      tags:
        - Notifications
      security:
        - bearerAuth: []
      parameters:
        - name: player_id
          in: query
          required: true
          schema:
            type: string
        - name: unread_only
          in: query
          schema:
            type: boolean
            default: false
        - name: type
          in: query
          schema:
            type: string
            enum: [system, quest, trade, party, guild, friend, achievement]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Список уведомлений
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
                  pagination:
                    $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginationMeta'

  /technical/notifications/send:
    post:
      summary: Отправить уведомление
      description: |
        Отправляет уведомление игроку.
        Используется системой для различных событий.
      operationId: sendNotification
      tags:
        - Notifications
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - player_id
                - type
                - message
              properties:
                player_id:
                  type: string
                type:
                  type: string
                  enum: [system, quest, trade, party, guild, friend, achievement]
                priority:
                  type: string
                  enum: [low, normal, high, urgent]
                  default: normal
                message:
                  type: string
                data:
                  type: object
                  description: Дополнительные данные (quest_id, trade_id, etc.)
                send_email:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Уведомление отправлено
          content:
            application/json:
              schema:
                type: object
                properties:
                  notification_id:
                    type: string

  /technical/notifications/{notification_id}/mark-read:
    post:
      summary: Отметить как прочитанное
      description: Отмечает уведомление как прочитанное
      operationId: markNotificationRead
      tags:
        - Notifications
      security:
        - bearerAuth: []
      parameters:
        - name: notification_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Уведомление прочитано
          content:
            application/json:
              schema:
                type: object

  /technical/notifications/mark-all-read:
    post:
      summary: Отметить все как прочитанные
      description: Отмечает все уведомления как прочитанные
      operationId: markAllNotificationsRead
      tags:
        - Notifications
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - player_id
              properties:
                player_id:
                  type: string
      responses:
        '200':
          description: Все уведомления прочитаны
          content:
            application/json:
              schema:
                type: object

components:
  schemas:
    Notification:
      type: object
      properties:
        notification_id:
          type: string
        player_id:
          type: string
        type:
          type: string
          enum: [system, quest, trade, party, guild, friend, achievement]
        priority:
          type: string
          enum: [low, normal, high, urgent]
        message:
          type: string
        data:
          type: object
        is_read:
          type: boolean
        created_at:
          type: string
          format: date-time

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT


