openapi: 3.0.3
info:
  title: Security Audit API
  description: |
    API для security audit и мониторинга безопасности NECPGAME.
    
    **Функции:**
    - Security vulnerability detection
    - Authentication audit trail
    - Authorization checks validation
    - Security event tracking
    - Compliance monitoring
    - Threat detection
  version: 1.0.0

  x-microservice:
    name: admin-service
    port: 8088
    domain: admin
    base-path: /api/v1/technical
    package: com.necpgame.adminservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Security Audit
  - name: Vulnerability Scanning
  - name: Security Events
  - name: Compliance

paths:
  /technical/security/audit:
    get:
      tags:
        - Security Audit
      summary: Get security audit report
      description: |
        Comprehensive security audit:
        - Authentication security
        - Authorization checks
        - Data encryption
        - API security
        - Known vulnerabilities
      operationId: getSecurityAudit
      parameters:
        - name: include_details
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Security audit report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityAuditReport'
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'

  /technical/security/vulnerabilities:
    get:
      tags:
        - Vulnerability Scanning
      summary: Get detected vulnerabilities
      description: List всех обнаруженных security vulnerabilities
      operationId: getVulnerabilities
      parameters:
        - name: severity
          in: query
          schema:
            type: string
            enum: ["low", "medium", "high", "critical"]
        - name: status
          in: query
          schema:
            type: string
            enum: ["open", "in_progress", "resolved"]
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Vulnerabilities list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Vulnerability'

  /technical/security/scan:
    post:
      tags:
        - Vulnerability Scanning
      summary: Trigger security scan
      description: Запуск security vulnerability scan (admin only)
      operationId: triggerSecurityScan
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scan_type:
                  type: string
                  enum: ["quick", "full", "targeted"]
                  default: "quick"
                targets:
                  type: array
                  items:
                    type: string
      responses:
        '202':
          description: Scan started
          content:
            application/json:
              schema:
                type: object
                properties:
                  scan_id:
                    type: string
                  estimated_time_minutes:
                    type: integer
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'

  /technical/security/events:
    get:
      tags:
        - Security Events
      summary: Get security events
      description: |
        Security event log:
        - Failed login attempts
        - Authorization failures
        - Suspicious activities
        - API abuse
      operationId: getSecurityEvents
      parameters:
        - name: event_type
          in: query
          schema:
            type: string
            enum: ["failed_login", "auth_failure", "suspicious_activity", "api_abuse"]
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Security events
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SecurityEvent'

components:
  schemas:
    SecurityAuditReport:
      type: object
      properties:
        audit_id:
          type: string
        timestamp:
          type: string
          format: date-time
        overall_security_score:
          type: integer
          description: Security score (0-100)
          minimum: 0
          maximum: 100
        categories:
          type: object
          properties:
            authentication:
              $ref: '#/components/schemas/SecurityCategoryScore'
            authorization:
              $ref: '#/components/schemas/SecurityCategoryScore'
            data_protection:
              $ref: '#/components/schemas/SecurityCategoryScore'
            api_security:
              $ref: '#/components/schemas/SecurityCategoryScore'
        vulnerabilities_summary:
          type: object
          properties:
            critical:
              type: integer
            high:
              type: integer
            medium:
              type: integer
            low:
              type: integer

    SecurityCategoryScore:
      type: object
      properties:
        score:
          type: integer
          minimum: 0
          maximum: 100
        status:
          type: string
          enum: ["excellent", "good", "fair", "poor"]
        issues:
          type: array
          items:
            type: string

    Vulnerability:
      type: object
      properties:
        vulnerability_id:
          type: string
        title:
          type: string
        severity:
          type: string
          enum: ["low", "medium", "high", "critical"]
        description:
          type: string
        affected_components:
          type: array
          items:
            type: string
        status:
          type: string
          enum: ["open", "in_progress", "resolved"]
        remediation:
          type: string
        discovered_at:
          type: string
          format: date-time

    SecurityEvent:
      type: object
      properties:
        event_id:
          type: string
        event_type:
          type: string
        timestamp:
          type: string
          format: date-time
        source_ip:
          type: string
        user_id:
          type: string
        details:
          type: object
          additionalProperties: true
        severity:
          type: string
          enum: ["info", "warning", "critical"]

security:
  - BearerAuth: []


