openapi: 3.0.3
info:
  title: Session Management API
  version: 1.0.0
  description: |
    API для системы управления игровыми сессиями.
    
    Источник: .BRAIN/05-technical/backend/session-management-system.md v1.0.0
    
    Функции:
    - Создание/закрытие сессий при login/logout
    - Heartbeat mechanism (каждые 30 секунд)
    - AFK detection (автоматический logout)
    - Reconnection (быстрое переподключение)
    - Concurrent sessions protection (один аккаунт = одна сессия)
    - Session state (character_id, location, party, activity)
    - Automatic timeout (5 минут без heartbeat)
    
    WebSocket: Real-time обновления состояния сессии

  x-microservice:
    name: admin-service
    port: 8088
    domain: admin
    base-path: /api/v1/technical
    package: com.necpgame.adminservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Session Management
    description: Управление сессиями

paths:
  /technical/sessions/create:
    post:
      summary: Создать игровую сессию
      description: |
        Создает новую игровую сессию при входе игрока.
        Проверяет на дубликаты (concurrent sessions).
      operationId: createSession
      tags:
        - Session Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - account_id
                - character_id
              properties:
                account_id:
                  type: string
                character_id:
                  type: string
                client_version:
                  type: string
                device_info:
                  type: object
            examples:
              pc_login:
                summary: Вход с ПК
                value:
                  account_id: "acc_123"
                  character_id: "char_456"
                  client_version: "1.0.5"
                  device_info:
                    platform: "PC"
                    os: "Windows 11"
      responses:
        '200':
          description: Сессия создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id:
                    type: string
                  character_id:
                    type: string
                  created_at:
                    type: string
                    format: date-time
                  heartbeat_interval:
                    type: integer
                    description: Интервал heartbeat (секунды)
                  afk_timeout:
                    type: integer
                    description: Таймаут AFK (секунды)
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'

  /technical/sessions/heartbeat:
    post:
      summary: Heartbeat (keepalive)
      description: |
        Отправляет heartbeat для поддержания сессии активной.
        Должен вызываться каждые 30 секунд.
      operationId: sendHeartbeat
      tags:
        - Session Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - session_id
              properties:
                session_id:
                  type: string
                activity:
                  type: string
                  enum: [active, idle, afk]
                  default: active
                location:
                  type: string
                  description: Текущая локация персонажа
      responses:
        '200':
          description: Heartbeat принят
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id:
                    type: string
                  last_heartbeat:
                    type: string
                    format: date-time
                  server_time:
                    type: string
                    format: date-time

  /technical/sessions/close:
    post:
      summary: Закрыть сессию
      description: |
        Закрывает игровую сессию при выходе игрока.
        Сохраняет state персонажа.
      operationId: closeSession
      tags:
        - Session Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - session_id
              properties:
                session_id:
                  type: string
                reason:
                  type: string
                  enum: [logout, timeout, disconnect, kick]
      responses:
        '200':
          description: Сессия закрыта
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id:
                    type: string
                  closed_at:
                    type: string
                    format: date-time
                  duration:
                    type: number
                    description: Длительность сессии (секунды)

  /technical/sessions/reconnect:
    post:
      summary: Переподключение
      description: |
        Быстрое переподключение к существующей сессии.
        Восстанавливает state персонажа.
      operationId: reconnectSession
      tags:
        - Session Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - account_id
                - character_id
              properties:
                account_id:
                  type: string
                character_id:
                  type: string
                previous_session_id:
                  type: string
      responses:
        '200':
          description: Переподключение успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id:
                    type: string
                  reconnected:
                    type: boolean
                  session_state:
                    type: object
                    properties:
                      location:
                        type: string
                      party_id:
                        type: string
                      activity:
                        type: string

  /technical/sessions/{session_id}/state:
    get:
      summary: Получить состояние сессии
      description: Возвращает текущее состояние игровой сессии
      operationId: getSessionState
      tags:
        - Session Management
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Состояние сессии
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionState'

  /technical/sessions/active:
    get:
      summary: Получить активные сессии
      description: |
        Возвращает список активных сессий (для админов).
        Может фильтроваться по account_id.
      operationId: getActiveSessions
      tags:
        - Session Management
      parameters:
        - name: account_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Активные сессии
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions:
                    type: array
                    items:
                      $ref: '#/components/schemas/SessionInfo'

components:
  schemas:
    SessionState:
      type: object
      properties:
        session_id:
          type: string
        character_id:
          type: string
        account_id:
          type: string
        created_at:
          type: string
          format: date-time
        last_heartbeat:
          type: string
          format: date-time
        activity:
          type: string
          enum: [active, idle, afk]
        location:
          type: string
        party_id:
          type: string
        current_activity:
          type: string
          description: Текущее действие (combat, trading, quest, etc)
        connection_status:
          type: string
          enum: [connected, disconnected, reconnecting]

    SessionInfo:
      type: object
      properties:
        session_id:
          type: string
        character_id:
          type: string
        character_name:
          type: string
        created_at:
          type: string
          format: date-time
        last_heartbeat:
          type: string
          format: date-time
        duration:
          type: number
          description: Длительность сессии (секунды)


