openapi: 3.0.3
info:
  title: UI Systems API
  version: 1.0.0
  description: |
    API для UI систем и компонентов.
    
    Функционал:
    - Login screen data
    - Server selection
    - Character selection
    - Character creation flow
    - Appearance editor
    - Main game HUD
    - UI features & settings
    - UI system state
    
    Источники: .BRAIN/05-technical/ui/ (8 split documents)

  x-microservice:
    name: admin-service
    port: 8088
    domain: admin
    base-path: /api/v1/technical
    package: com.necpgame.adminservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: UI Data
    description: Данные для UI
  - name: Character Creation UI
    description: UI создания персонажа
  - name: Game UI
    description: Игровой UI

paths:
  /technical/ui/login:
    get:
      summary: Получить данные для экрана входа
      operationId: getLoginScreenData
      tags: [UI Data]
      responses:
        '200':
          description: Данные для login screen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginScreenData'

  /technical/ui/servers:
    get:
      summary: Получить список серверов
      operationId: getServerList
      tags: [UI Data]
      responses:
        '200':
          description: Список серверов
          content:
            application/json:
              schema:
                type: object
                properties:
                  servers:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServerInfo'

  /technical/ui/character-creation/flow:
    get:
      summary: Получить flow создания персонажа
      operationId: getCharacterCreationFlow
      tags: [Character Creation UI]
      responses:
        '200':
          description: Creation flow
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterCreationFlow'

  /technical/ui/character-creation/appearance-options:
    get:
      summary: Получить опции внешности
      operationId: getAppearanceOptions
      tags: [Character Creation UI]
      responses:
        '200':
          description: Опции внешности
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppearanceOptions'

  /technical/ui/character-select/{account_id}:
    get:
      summary: Получить персонажей для выбора
      operationId: getCharacterSelectData
      tags: [UI Data]
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Данные для character select
          content:
            application/json:
              schema:
                type: object
                properties:
                  characters:
                    type: array
                    items:
                      $ref: '#/components/schemas/CharacterSelectInfo'
                  max_slots:
                    type: integer

  /technical/ui/hud/{character_id}:
    get:
      summary: Получить данные для HUD
      operationId: getHUDData
      tags: [Game UI]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: HUD данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HUDData'

  /technical/ui/features:
    get:
      summary: Получить доступные UI features
      operationId: getUIFeatures
      tags: [Game UI]
      responses:
        '200':
          description: UI features
          content:
            application/json:
              schema:
                type: object
                properties:
                  features:
                    type: array
                    items:
                      $ref: '#/components/schemas/UIFeature'

  /technical/ui/settings/{character_id}:
    get:
      summary: Получить UI настройки персонажа
      operationId: getUISettings
      tags: [Game UI]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: UI settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UISettings'

    put:
      summary: Обновить UI настройки
      operationId: updateUISettings
      tags: [Game UI]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UISettings'
      responses:
        '200':
          description: Настройки обновлены

components:
  schemas:
    LoginScreenData:
      type: object
      properties:
        motd:
          type: string
          description: Message of the day
        news:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              content:
                type: string
              image_url:
                type: string
        server_status:
          type: string
          enum: [ONLINE, MAINTENANCE, OFFLINE]
        version:
          type: string

    ServerInfo:
      type: object
      properties:
        server_id:
          type: string
        name:
          type: string
        region:
          type: string
        population:
          type: string
          enum: [LOW, MEDIUM, HIGH, FULL]
        status:
          type: string
          enum: [ONLINE, MAINTENANCE, OFFLINE]
        ping_ms:
          type: integer

    CharacterCreationFlow:
      type: object
      properties:
        steps:
          type: array
          items:
            type: object
            properties:
              step_id:
                type: string
              title:
                type: string
              description:
                type: string
              order:
                type: integer
        total_steps:
          type: integer
        estimated_time_minutes:
          type: integer

    AppearanceOptions:
      type: object
      properties:
        body_types:
          type: array
          items:
            type: object
        face_presets:
          type: array
          items:
            type: object
        hairstyles:
          type: array
          items:
            type: object
        customization_sliders:
          type: array
          items:
            type: object
            properties:
              slider_id:
                type: string
              name:
                type: string
              min:
                type: number
              max:
                type: number
              default:
                type: number

    CharacterSelectInfo:
      type: object
      properties:
        character_id:
          type: string
          format: uuid
        name:
          type: string
        level:
          type: integer
        class:
          type: string
        location:
          type: string
        playtime_hours:
          type: integer
        last_played:
          type: string
          format: date-time
        thumbnail_url:
          type: string

    HUDData:
      type: object
      properties:
        character:
          type: object
          properties:
            name:
              type: string
            level:
              type: integer
            hp:
              type: integer
            hp_max:
              type: integer
            stamina:
              type: integer
        minimap:
          type: object
          properties:
            location:
              type: string
            nearby_poi:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  type:
                    type: string
                  distance_meters:
                    type: number
        quick_actions:
          type: array
          items:
            type: object
            properties:
              slot:
                type: integer
              action_id:
                type: string
              cooldown_remaining:
                type: number
        notifications:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
              severity:
                type: string
              timestamp:
                type: string
                format: date-time

    UIFeature:
      type: object
      properties:
        feature_id:
          type: string
        name:
          type: string
        description:
          type: string
        enabled:
          type: boolean
        required_level:
          type: integer
          nullable: true

    UISettings:
      type: object
      properties:
        character_id:
          type: string
          format: uuid
        hud_scale:
          type: number
          format: float
        show_minimap:
          type: boolean
        show_damage_numbers:
          type: boolean
        show_quest_tracker:
          type: boolean
        chat_font_size:
          type: integer
        ui_theme:
          type: string
          enum: [DARK, LIGHT, CYBERPUNK]
        custom_settings:
          type: object
          additionalProperties: true

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

