openapi: 3.0.3
info:
  title: Clan War Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Clan Warfare API for NECPGAME**

    This API manages clan wars and military conflicts between groups, providing battle
    coordination, war declarations, and territorial conquest mechanics in Night City.

    ## Key Features

    - **War Declarations**: Formal declaration and management of clan conflicts -
    **Battle Coordination**: Strategic battle planning and troop deployment - **Territorial
    Conquest**: Capture and control of contested territories - **War Statistics**:
    Comprehensive tracking of war performance and casualties - **Alliance Support**:
    Integration with alliance systems during conflicts - **Performance Optimized**:
    MMOFPS-grade performance with <50ms P99 latency

    ## Domain Purpose

    The Clan War domain handles all aspects of organized warfare between clans and
    groups in Night City. Players engage in strategic conflicts, coordinate attacks,
    and compete for territorial dominance through structured warfare systems and military
    tactics.

    ## Performance Targets

    - P99 Latency: <50ms for war operations - Memory: <35KB per active war session
    - Concurrent users: 200,000+ simultaneous war operations - Battle calculations:
    <20ms response time

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/clan-war
  description: Production server
- url: https://staging-api.necpgame.com/v1/clan-war
  description: Staging server
- url: http://localhost:8080/api/v1/clan-war
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Clan Warfare
  description: Core clan war declaration and management operations
- name: War Management
  description: Active war coordination and battle management
- name: War Statistics
  description: Combat statistics and performance analytics
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /clan-wars:
    $ref: ./paths/clan-wars.yaml#/paths/~1clan-wars
  /clan-wars/{warId}:
    $ref: ./paths/clan-wars-{warId}.yaml#/paths/~1clan-wars~1{warId}
  /clan-wars/{warId}/battles:
    $ref: ./paths/clan-wars-{warId}-battles.yaml#/paths/~1clan-wars~1{warId}~1battles
  /clan-wars/{warId}/statistics:
    $ref: ./paths/clan-wars-{warId}-statistics.yaml#/paths/~1clan-wars~1{warId}~1statistics
  /clan-wars/{warId}/negotiate:
    $ref: ./paths/clan-wars-{warId}-negotiate.yaml#/paths/~1clan-wars~1{warId}~1negotiate
components:
  schemas:
    Error:
      $ref: ./schemas/clan-war-service-schemas.yaml#/components/schemas/Error
    HealthResponse:
      $ref: ./schemas/clan-war-service-schemas.yaml#/components/schemas/HealthResponse
    PaginationMeta:
      $ref: ./schemas/clan-war-service-schemas.yaml#/components/schemas/PaginationMeta
    ClanWar:
      $ref: ./schemas/clan-war-service-schemas.yaml#/components/schemas/ClanWar
    WarDeclarationRequest:
      $ref: ./schemas/clan-war-service-schemas.yaml#/components/schemas/WarDeclarationRequest
    WarUpdateRequest:
      $ref: ./schemas/clan-war-service-schemas.yaml#/components/schemas/WarUpdateRequest
    ClanWarResponse:
      $ref: ./schemas/clan-war-service-schemas.yaml#/components/schemas/ClanWarResponse
    ClanWarListResponse:
      $ref: ./schemas/clan-war-service-schemas.yaml#/components/schemas/ClanWarListResponse
    BattleReportRequest:
      $ref: ./schemas/clan-war-service-schemas.yaml#/components/schemas/BattleReportRequest
    BattleReportResponse:
      $ref: ./schemas/clan-war-service-schemas.yaml#/components/schemas/BattleReportResponse
    BattleHistoryResponse:
      $ref: ./schemas/clan-war-service-schemas.yaml#/components/schemas/BattleHistoryResponse
    WarStatisticsResponse:
      $ref: ./schemas/clan-war-service-schemas.yaml#/components/schemas/WarStatisticsResponse
    WarNegotiationRequest:
      $ref: ./schemas/clan-war-service-schemas.yaml#/components/schemas/WarNegotiationRequest
    NegotiationResponse:
      $ref: ./schemas/clan-war-service-schemas.yaml#/components/schemas/NegotiationResponse
  responses:
    OK:
      $ref: ./schemas/clan-war-service-responses.yaml#/components/responses/OK
    BadRequest:
      $ref: ./schemas/clan-war-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/clan-war-service-responses.yaml#/components/responses/Unauthorized
    NotFound:
      $ref: ./schemas/clan-war-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/clan-war-service-responses.yaml#/components/responses/Conflict
    TooManyRequests:
      $ref: ./schemas/clan-war-service-responses.yaml#/components/responses/TooManyRequests
    InternalServerError:
      $ref: ./schemas/clan-war-service-responses.yaml#/components/responses/InternalServerError
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
