openapi: 3.0.3
info:
  title: Clan War Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Clan Warfare API for NECPGAME**

    This API manages clan wars and military conflicts between groups, providing battle
    coordination, war declarations, and territorial conquest mechanics in Night City.

    ## Key Features

    - **War Declarations**: Formal declaration and management of clan conflicts -
    **Battle Coordination**: Strategic battle planning and troop deployment - **Territorial
    Conquest**: Capture and control of contested territories - **War Statistics**:
    Comprehensive tracking of war performance and casualties - **Alliance Support**:
    Integration with alliance systems during conflicts - **Performance Optimized**:
    MMOFPS-grade performance with <50ms P99 latency

    ## Domain Purpose

    The Clan War domain handles all aspects of organized warfare between clans and
    groups in Night City. Players engage in strategic conflicts, coordinate attacks,
    and compete for territorial dominance through structured warfare systems and military
    tactics.

    ## Performance Targets

    - P99 Latency: <50ms for war operations - Memory: <35KB per active war session
    - Concurrent users: 200,000+ simultaneous war operations - Battle calculations:
    <20ms response time

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/clan-war
  description: Production server
- url: https://staging-api.necpgame.com/v1/clan-war
  description: Staging server
- url: http://localhost:8080/api/v1/clan-war
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Clan Warfare
  description: Core clan war declaration and management operations
- name: War Management
  description: Active war coordination and battle management
- name: War Statistics
  description: Combat statistics and performance analytics
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Clan war service health check
      description: '**Enterprise-grade health check endpoint**


        Provides real-time health status of the clan war service microservice.

        Critical for service discovery, load balancing, and monitoring.


        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: clanWarServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: ../common/schemas/health.yaml#/HealthResponse
        '500':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /clan-wars:
    get:
      summary: List clan wars with filtering and pagination
      description: '**Enterprise-grade clan war listing endpoint**

        Supports complex filtering by status, participants, duration, and outcomes.
        Optimized for high-throughput scenarios with proper indexing.

        **Performance:** <15ms P95, supports 1000+ concurrent requests

        '
      operationId: listClanWars
      tags:
      - Clan Warfare
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Page number for pagination
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Number of items per page
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - preparing
          - ended
          - cancelled
          - all
          default: all
        description: Filter by war status
      - name: clan_id
        in: query
        schema:
          type: string
          format: uuid
        description: Filter wars involving specific clan
      - name: war_type
        in: query
        schema:
          type: string
          enum:
          - territorial
          - resource
          - reputation
          - alliance
          - all
          default: all
        description: Filter by war type
      responses:
        '200':
          description: Clan wars retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClanWarListResponse'
        '400':
          description: Invalid request - malformed query parameters
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    post:
      summary: Declare clan war
      description: '**Enterprise-grade war declaration endpoint**

        Validates war legitimacy, clan relations, and political constraints. Initiates
        formal war declaration with treaty requirements.

        **Performance:** <75ms P95, includes diplomatic validation

        '
      operationId: declareClanWar
      tags:
      - Clan Warfare
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarDeclarationRequest'
      responses:
        '201':
          description: Clan war declared successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClanWarResponse'
        '400':
          description: Invalid declaration - validation failed
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '403':
          description: Forbidden - insufficient authority or alliances
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '409':
          description: Conflict - existing war or treaty violations
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /clan-wars/{warId}:
    get:
      summary: Get clan war details
      description: '**Enterprise-grade clan war retrieval endpoint**

        Retrieves complete war information including participants, battles, casualties,
        and current status with real-time updates.

        Optimized with caching and conditional requests.

        **Performance:** <10ms P95 with Redis caching

        '
      operationId: getClanWar
      tags:
      - Clan Warfare
      parameters:
      - name: warId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Clan war unique identifier
      - name: include_battles
        in: query
        schema:
          type: boolean
          default: false
        description: Include battle history and details
      - name: include_participants
        in: query
        schema:
          type: boolean
          default: true
        description: Include participant clan details
      responses:
        '200':
          description: Clan war retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClanWarResponse'
        '404':
          description: Clan war not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    put:
      summary: Update clan war
      description: '**Enterprise-grade clan war update endpoint**

        Supports status updates, treaty negotiations, and ceasefire agreements. Ensures
        war integrity and participant consent for major changes.

        **Performance:** <40ms P95, includes diplomatic impact calculation

        '
      operationId: updateClanWar
      tags:
      - Clan Warfare
      security:
      - BearerAuth: []
      parameters:
      - name: warId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Clan war unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarUpdateRequest'
      responses:
        '200':
          description: Clan war updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClanWarResponse'
        '400':
          description: Invalid request - validation failed
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '403':
          description: Forbidden - insufficient authority
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '404':
          description: Clan war not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '409':
          description: Conflict - treaty or ceasefire violations
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /clan-wars/{warId}/battles:
    get:
      summary: Get war battle history
      description: '**Enterprise-grade battle history endpoint**

        Retrieves complete battle log for the war including outcomes, casualties,
        strategic movements, and performance statistics.

        Critical for war analysis and strategic planning.

        **Performance:** <20ms P95, cached with 5-minute TTL

        '
      operationId: getWarBattles
      tags:
      - War Management
      parameters:
      - name: warId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Clan war unique identifier
      - name: battle_type
        in: query
        schema:
          type: string
          enum:
          - skirmish
          - major_battle
          - siege
          - naval
          - aerial
          - all
          default: all
        description: Filter by battle type
      - name: outcome
        in: query
        schema:
          type: string
          enum:
          - victory
          - defeat
          - draw
          - ongoing
          - all
          default: all
        description: Filter by battle outcome
      responses:
        '200':
          description: Battle history retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BattleHistoryResponse'
        '404':
          description: Clan war not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    post:
      summary: Report battle results
      description: '**Enterprise-grade battle reporting endpoint**

        Submits verified battle results with casualty reports, strategic analysis,
        and performance metrics for official war record.

        **Performance:** <50ms P95, includes validation and statistics update

        '
      operationId: reportBattle
      tags:
      - War Management
      security:
      - BearerAuth: []
      parameters:
      - name: warId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Clan war unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BattleReportRequest'
      responses:
        '201':
          description: Battle report submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BattleReportResponse'
        '400':
          description: Invalid report - validation failed
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '403':
          description: Forbidden - insufficient reporting authority
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '409':
          description: Conflict - duplicate or conflicting report
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /clan-wars/{warId}/statistics:
    get:
      summary: Get war statistics
      description: '**Enterprise-grade war statistics endpoint**

        Provides comprehensive war analytics including casualty rates, territory gains,
        resource expenditures, and performance metrics for all participants.

        Essential for strategic assessment and post-war analysis.

        **Performance:** <25ms P95, cached with real-time updates

        '
      operationId: getWarStatistics
      tags:
      - War Statistics
      parameters:
      - name: warId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Clan war unique identifier
      - name: timeframe
        in: query
        schema:
          type: string
          enum:
          - daily
          - weekly
          - monthly
          - total
          default: total
        description: Statistics timeframe
      - name: clan_id
        in: query
        schema:
          type: string
          format: uuid
        description: Focus statistics on specific clan
      responses:
        '200':
          description: War statistics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarStatisticsResponse'
        '404':
          description: Clan war not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /clan-wars/{warId}/negotiate:
    post:
      summary: Propose war negotiation
      description: '**Enterprise-grade war negotiation endpoint**

        Initiates diplomatic negotiations including ceasefire proposals, peace treaties,
        and surrender terms during active warfare.

        **Performance:** <60ms P95, includes diplomatic validation

        '
      operationId: proposeWarNegotiation
      tags:
      - Clan Warfare
      security:
      - BearerAuth: []
      parameters:
      - name: warId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Clan war unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarNegotiationRequest'
      responses:
        '201':
          description: Negotiation proposal submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NegotiationResponse'
        '400':
          description: Invalid proposal - validation failed
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '403':
          description: Forbidden - insufficient diplomatic authority
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '409':
          description: Conflict - existing negotiation in progress
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
components:
  responses:
    OK:
      $ref: ../common/responses/success.yaml#/OK
    BadRequest:
      $ref: ../common/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common/responses/error.yaml#/Unauthorized
    NotFound:
      $ref: ../common/responses/error.yaml#/NotFound
    Conflict:
      $ref: ../common/responses/error.yaml#/Conflict
    TooManyRequests:
      $ref: ../common/responses/error.yaml#/TooManyRequests
    InternalServerError:
      $ref: ../common/responses/error.yaml#/InternalServerError
  schemas:
    Error:
      $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    HealthResponse:
      $ref: ../common/schemas/health.yaml#/HealthResponse
    PaginationMeta:
      $ref: ../common/schemas/pagination.yaml#/PaginationMeta
    ClanWar:
      type: object
      required:
      - id
      - name
      - attacking_clan_id
      - defending_clan_id
      - war_type
      - status
      - declared_at
      - is_active
      properties:
        id:
          type: string
          format: uuid
          description: Clan war unique identifier
        name:
          type: string
          minLength: 3
          maxLength: 100
          description: War designation and title
          example: The Great Corporate Schism War
        description:
          type: string
          maxLength: 2000
          description: War justification and objectives
        attacking_clan_id:
          type: string
          format: uuid
          description: Clan initiating the war
        defending_clan_id:
          type: string
          format: uuid
          description: Primary defending clan
        allied_clans:
          type: array
          items:
            type: string
            format: uuid
          description: Clans allied with attackers
        defending_allies:
          type: array
          items:
            type: string
            format: uuid
          description: Clans allied with defenders
        war_type:
          type: string
          enum:
          - territorial
          - resource
          - reputation
          - alliance
          - ideological
          description: Primary motivation for the war
          example: territorial
        status:
          type: string
          enum:
          - preparing
          - active
          - ceasefire
          - negotiating
          - ended
          - cancelled
          description: Current war status
          example: active
        declared_at:
          type: string
          format: date-time
          description: War declaration timestamp
        started_at:
          type: string
          format: date-time
          description: Actual war commencement
        ended_at:
          type: string
          format: date-time
          description: War conclusion timestamp
        victory_conditions:
          type: object
          description: Terms for war victory
          additionalProperties: true
        total_casualties:
          type: integer
          minimum: 0
          description: Total confirmed casualties
          example: 1250
        territory_gained:
          type: integer
          minimum: 0
          description: Territories captured by attackers
          example: 3
        resources_spent:
          type: integer
          minimum: 0
          description: Total resource expenditure
          example: 500000
        is_active:
          type: boolean
          description: Whether war is currently active
          example: true
        ceasefire_active:
          type: boolean
          description: Whether ceasefire is currently in effect
          example: false
      description: '"BACKEND NOTE: Fields ordered for struct alignment (large → small).

        Expected memory savings: 30-50%. War data optimized for frequent status updates."

        '
    WarDeclarationRequest:
      type: object
      required:
      - name
      - defending_clan_id
      - war_type
      - justification
      - victory_conditions
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
          description: Proposed war designation
          example: Resource War Alpha
        defending_clan_id:
          type: string
          format: uuid
          description: Target clan for war declaration
        allied_clans:
          type: array
          items:
            type: string
            format: uuid
          maxItems: 10
          description: Allied clans supporting the declaration
        war_type:
          type: string
          enum:
          - territorial
          - resource
          - reputation
          - alliance
          - ideological
          description: Primary war motivation
        justification:
          type: string
          minLength: 10
          maxLength: 1000
          description: Formal justification for war
        victory_conditions:
          type: object
          description: Specific victory requirements
          additionalProperties: true
        preparation_period_hours:
          type: integer
          minimum: 24
          maximum: 168
          default: 72
          description: Hours before war becomes active
      description: '"BACKEND NOTE: Declaration validation includes diplomatic relations
        and clan authority.

        Preparation period allows for defensive preparations."

        '
    WarUpdateRequest:
      type: object
      properties:
        status:
          type: string
          enum:
          - ceasefire
          - negotiating
          - ended
          - cancelled
          description: New war status
        ceasefire_terms:
          type: object
          description: Ceasefire agreement terms
          additionalProperties: true
        peace_terms:
          type: object
          description: Peace negotiation terms
          additionalProperties: true
        winner_clan_id:
          type: string
          format: uuid
          description: Victorious clan (for ended status)
        final_casualties:
          type: integer
          minimum: 0
          description: Final confirmed casualty count
      description: '"BACKEND NOTE: Status changes require participant consent for
        major modifications.

        Automatic validation prevents invalid state transitions."

        '
    ClanWarResponse:
      type: object
      required:
      - clan_war
      properties:
        clan_war:
          $ref: '#/components/schemas/ClanWar'
        current_battles:
          type: integer
          minimum: 0
          description: Currently active battles
        negotiation_status:
          type: string
          enum:
          - none
          - proposed
          - accepted
          - rejected
          description: Current negotiation status
      description: '"BACKEND NOTE: Extended response includes real-time war status.

        Optimizes for dashboard and strategic planning displays."

        '
    ClanWarListResponse:
      type: object
      required:
      - clan_wars
      - total_count
      - has_more
      properties:
        clan_wars:
          type: array
          items:
            $ref: '#/components/schemas/ClanWar'
          description: List of clan wars
        total_count:
          type: integer
          minimum: 0
          description: Total number of wars matching criteria
          example: 15
        has_more:
          type: boolean
          description: Whether there are more results available
          example: false
        active_wars:
          type: integer
          minimum: 0
          description: Number of currently active wars
          example: 3
        page:
          type: integer
          minimum: 1
          description: Current page number
          example: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
          description: Items per page
          example: 20
      description: '"BACKEND NOTE: Paginated war list with summary statistics.

        Optimized for war monitoring dashboards."

        '
    BattleReportRequest:
      type: object
      required:
      - battle_location
      - attacking_forces
      - defending_forces
      - outcome
      - casualties
      properties:
        battle_location:
          type: string
          format: uuid
          description: Territory or location of battle
        battle_type:
          type: string
          enum:
          - skirmish
          - major_battle
          - siege
          - naval
          - aerial
          - ambush
          description: Type of battle engagement
          example: major_battle
        attacking_forces:
          type: integer
          minimum: 1
          description: Number of attacking combatants
          example: 150
        defending_forces:
          type: integer
          minimum: 1
          description: Number of defending combatants
          example: 120
        attacking_clan_id:
          type: string
          format: uuid
          description: Clan leading the attack
        defending_clan_id:
          type: string
          format: uuid
          description: Clan leading the defense
        outcome:
          type: string
          enum:
          - attacker_victory
          - defender_victory
          - draw
          - retreat
          description: Battle outcome
          example: attacker_victory
        casualties:
          type: object
          required:
          - attackers
          - defenders
          properties:
            attackers:
              type: integer
              minimum: 0
              description: Attacker casualties
              example: 45
            defenders:
              type: integer
              minimum: 0
              description: Defender casualties
              example: 67
        strategic_importance:
          type: integer
          minimum: 0
          maximum: 100
          description: Strategic significance (0-100)
          example: 85
        battle_report:
          type: string
          maxLength: 2000
          description: Detailed battle report and analysis
      description: '"BACKEND NOTE: Battle reports require verification from both sides.

        Strategic importance affects war score calculations."

        '
    BattleReportResponse:
      type: object
      required:
      - battle_id
      - verification_status
      - submitted_at
      properties:
        battle_id:
          type: string
          format: uuid
          description: Unique battle identifier
        verification_status:
          type: string
          enum:
          - submitted
          - verified
          - disputed
          - rejected
          description: Report verification status
          example: submitted
        submitted_at:
          type: string
          format: date-time
          description: Report submission timestamp
        verification_deadline:
          type: string
          format: date-time
          description: Deadline for opponent verification
        war_impact:
          type: object
          description: Calculated impact on war statistics
          additionalProperties: true
      description: '"BACKEND NOTE: Reports enter verification workflow before affecting
        war statistics.

        Disputed reports require mediation."

        '
    BattleHistoryResponse:
      type: object
      required:
      - battles
      - total_count
      properties:
        battles:
          type: array
          items:
            $ref: '#/components/schemas/BattleReportRequest'
          description: List of battles in the war
        total_count:
          type: integer
          minimum: 0
          description: Total number of battles
          example: 23
        major_battles:
          type: integer
          minimum: 0
          description: Number of major battles
          example: 5
        attacker_victories:
          type: integer
          minimum: 0
          description: Battles won by attackers
          example: 14
        defender_victories:
          type: integer
          minimum: 0
          description: Battles won by defenders
          example: 7
      description: '"BACKEND NOTE: Battle history provides comprehensive war analysis.

        Victory ratios help assess war momentum."

        '
    WarStatisticsResponse:
      type: object
      required:
      - war_id
      - overall_statistics
      - clan_statistics
      properties:
        war_id:
          type: string
          format: uuid
          description: Clan war identifier
        overall_statistics:
          type: object
          required:
          - total_battles
          - total_casualties
          - territory_changes
          - duration_days
          properties:
            total_battles:
              type: integer
              minimum: 0
              description: Total battles fought
              example: 23
            total_casualties:
              type: integer
              minimum: 0
              description: Total confirmed casualties
              example: 1250
            territory_changes:
              type: integer
              description: Net territory changes (+/-)
              example: 3
            duration_days:
              type: integer
              minimum: 0
              description: War duration in days
              example: 45
            resource_expenditure:
              type: integer
              minimum: 0
              description: Total resources spent
              example: 2500000
          description: Overall war statistics
        clan_statistics:
          type: array
          items:
            type: object
            required:
            - clan_id
            - battles_won
            - casualties_suffered
            - territory_controlled
            properties:
              clan_id:
                type: string
                format: uuid
                description: Clan identifier
              battles_won:
                type: integer
                minimum: 0
                description: Battles won by this clan
                example: 12
              casualties_suffered:
                type: integer
                minimum: 0
                description: Clan casualties
                example: 450
              territory_controlled:
                type: integer
                minimum: 0
                description: Territories currently controlled
                example: 8
              resource_spent:
                type: integer
                minimum: 0
                description: Resources spent by clan
                example: 750000
          description: Per-clan statistics
      description: '"BACKEND NOTE: Comprehensive war analytics for strategic assessment.

        Statistics update in real-time during active conflicts."

        '
    WarNegotiationRequest:
      type: object
      required:
      - negotiation_type
      - proposed_terms
      properties:
        negotiation_type:
          type: string
          enum:
          - ceasefire
          - peace_treaty
          - surrender_terms
          - alliance_offer
          - territory_trade
          description: Type of negotiation
          example: ceasefire
        proposed_terms:
          type: object
          description: Specific negotiation terms and conditions
          additionalProperties: true
        target_clan_id:
          type: string
          format: uuid
          description: Clan to negotiate with
        justification:
          type: string
          maxLength: 1000
          description: Diplomatic justification for negotiation
        urgency_level:
          type: string
          enum:
          - low
          - medium
          - high
          - critical
          description: Negotiation urgency
          example: high
      description: '"BACKEND NOTE: Negotiation proposals enter formal diplomatic process.

        Urgency affects response time requirements."

        '
    NegotiationResponse:
      type: object
      required:
      - negotiation_id
      - negotiation_type
      - status
      - submitted_at
      properties:
        negotiation_id:
          type: string
          format: uuid
          description: Unique negotiation identifier
        negotiation_type:
          type: string
          description: Type of negotiation submitted
        status:
          type: string
          enum:
          - submitted
          - under_review
          - accepted
          - rejected
          - counter_proposed
          description: Current negotiation status
          example: submitted
        submitted_at:
          type: string
          format: date-time
          description: Negotiation submission timestamp
        response_deadline:
          type: string
          format: date-time
          description: Deadline for response
        political_impact:
          type: object
          description: Expected political consequences
          additionalProperties: true
      description: '"BACKEND NOTE: Negotiations track formal diplomatic process lifecycle.

        Status updates trigger war state modifications."

        '
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth

