# Target Architecture:
# - Microservice: loot-service (port 8097)
# - Examples for: generation, tables, distribution

openapi: 3.0.3
info:
  title: Loot Generation Examples
  version: 1.0.0
  description: Примеры запросов и ответов для Loot Generation API.

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/loot
    package: com.necpgame.gameplayservice
paths: {}

components:
  examples:
    RaidBossGeneration:
      summary: Генерация лута для рейдового босса
      value:
        tableId: "raid_table_boss_omega"
        distributionHint: "RAID"
        context:
          sourceType: "RAID"
          zoneId: "neo_tokyo_raid"
          difficultyTier: "LEGENDARY"
          participants:
            - playerId: "5e1f7fd8-23a8-4cba-9048-2c7c18a5bc11"
              characterId: "7b9f4e15-3c4f-4425-8db7-987f2cde1201"
              level: 80
              contribution: 0.92
              luckBonus: 1.15
              role: "TANK"
            - playerId: "f6a1a6dc-1b55-4f6b-8c6b-e4d3d2f5dd02"
              characterId: "c7a68345-6f3a-4e7a-861b-23a79a9a7ef4"
              level: 80
              contribution: 0.88
              luckBonus: 1.05
              role: "HEALER"
          luckModifiers:
            personal: 0.12
            party: 0.08
            global: 0.2
          eventFlags: ["ANNIVERSARY", "NEON_STORM"]
          killTimestamp: "2025-11-07T21:18:34Z"
          seed: "raid-omega-2025-11-07"

    SeasonalTableUpsert:
      summary: Обновление таблицы под сезонный ивент
      value:
        tableId: "event_neon_gala"
        name: "Neon Gala Rewards"
        tableType: "EVENT_LOOT"
        sourceId: "event:neon_gala"
        minItems: 2
        maxItems: 4
        currencyRange:
          min: 1000
          max: 4000
        rarityCurve: "EVENT_HIGH"
        modifiers:
          - type: "EVENT"
            value: 1.25
            expiresAt: "2025-12-01T00:00:00Z"
        pityConfig:
          enabled: true
          threshold: 15
          rewardTemplateId: "legendary_neon_wings"
          resetMode: "ON_SEASON"
        entries:
          - entryId: "legendary_wings"
            templateId: "legendary_neon_wings"
            weight: 1
            quantityRange: { min: 1, max: 1 }
            rarityOverride: "LEGENDARY"
            tags: ["COSMETIC", "FLIGHT"]
          - entryId: "rare_shader"
            templateId: "rare_neon_shader"
            weight: 25
            quantityRange: { min: 1, max: 1 }
            tags: ["COSMETIC"]
          - entryId: "token_bundle"
            templateId: "raid_token_pack"
            weight: 40
            quantityRange: { min: 5, max: 10 }

    SharedDistribution:
      summary: Распределение общего лута после боя
      value:
        resultId: "0a5d9bf6-7944-4ad9-8b58-8be9ba0b6a6f"
        partyId: "9b55e7c2-1d71-4c67-a0fb-8ef1bfac9ace"
        threshold: "ROUND_ROBIN"
        autoAssignCommons: true
        rollConfig:
          timeoutSeconds: 75
          autoPassAfk: true
          allowNeedRoles: ["TANK", "HEALER", "DPS"]


servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
