openapi: 3.0.3
info:
  title: Legend Templates Generation Service API
  description: Story generation and validation operations
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://legend-templates.necpgame.com/v1
  description: Production server
- url: https://staging-legend-templates.necpgame.com/v1
  description: Staging server
security:
- BearerAuth: []
paths:
  /generate:
    post:
      summary: Generate legend story from event data
      operationId: generateLegend
      description: '**HOT PATH ENDPOINT** - Optimized for real-time story generation

        Expected performance: <1ms per request, zero allocations

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateLegendRequest'
      responses:
        '200':
          $ref: '#/components/responses/GeneratedLegendResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /templates/active:
    get:
      summary: Get active templates for fast generation
      operationId: getActiveTemplates
      description: '**HOT PATH ENDPOINT** - Returns cached active templates

        Expected performance: <100μs per request

        '
      parameters:
      - name: type
        in: query
        schema:
          type: string
          enum:
          - combat
          - social
          - economic
          - exploration
        description: Filter by template type
      responses:
        '200':
          $ref: '#/components/responses/ActiveTemplatesResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /validate:
    post:
      summary: Validate template structure
      operationId: validateTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateTemplateRequest'
      responses:
        '200':
          $ref: '#/components/responses/ValidationResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    GeneratedLegendResponse:
      description: Generated legend story
      content:
        application/json:
          schema:
            type: object
            properties:
              story:
                type: string
                description: Generated story text
              template_id:
                type: string
                format: uuid
                description: Template used for generation
              variant_id:
                type: string
                format: uuid
                description: Variant used for generation
              variables_used:
                type: object
                description: Variables substituted in the template
                additionalProperties:
                  type: string
            description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    ActiveTemplatesResponse:
      description: Active templates for fast generation
      content:
        application/json:
          schema:
            type: object
            properties:
              templates:
                type: array
                items:
                  $ref: '#/components/schemas/ActiveTemplate'
              cache_timestamp:
                type: string
                format: date-time
            description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    ValidationResponse:
      description: Template validation result
      content:
        application/json:
          schema:
            type: object
            properties:
              valid:
                type: boolean
                example: true
              errors:
                type: array
                items:
                  type: string
                description: Validation errors (empty if valid)
            description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    ValidationError:
      description: Template validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              valid:
                type: boolean
                example: false
              errors:
                type: array
                items:
                  type: string
                  description: Validation error messages
            description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: invalid_request
              message:
                type: string
                example: Invalid request parameters
              details:
                type: object
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: internal_error
              message:
                type: string
                example: Internal server error
  schemas:
    GenerateLegendRequest:
      type: object
      required:
      - event_type
      - event_data
      properties:
        event_type:
          type: string
          enum:
          - combat
          - social
          - economic
          - exploration
          description: Type of event to generate legend for
        event_data:
          type: object
          description: Event data for variable substitution
          properties:
            player_name:
              type: string
              description: Player character name
            action_verb:
              type: string
              description: Action performed (killed, helped, found, etc.)
            enemy_type:
              type: string
              description: Type of enemy (corporation, gang, robot, etc.)
            location:
              type: string
              description: Location where event occurred
            number:
              type: integer
              description: Numerical value (kills, helped people count, etc.)
            time_context:
              type: string
              description: Time context (yesterday, last week, etc.)
            faction:
              type: string
              description: Faction involved
            emotion:
              type: string
              enum:
              - fear
              - admiration
              - respect
              - envy
              - neutral
              description: Emotional context
            additional_data:
              type: object
              description: Additional event-specific data
        context:
          type: object
          description: Additional generation context
          properties:
            narrator_faction:
              type: string
              description: Faction of the NPC telling the story
            narrator_location:
              type: string
              description: Current location of narrator
            time_of_day:
              type: string
              enum:
              - morning
              - afternoon
              - evening
              - night
              description: Time of day affecting story tone
            story_style:
              type: string
              enum:
              - formal
              - casual
              - slang
              - dramatic
              description: Desired story telling style
        variant_count:
          type: integer
          minimum: 1
          maximum: 5
          default: 1
          description: Number of story variants to generate
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    ValidateTemplateRequest:
      type: object
      required:
      - template
      properties:
        template:
          $ref: '#/components/schemas/StoryTemplate'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    ActiveTemplate:
      type: object
      required:
      - id
      - type
      - category
      - base_template
      - variables
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - combat
          - social
          - economic
          - exploration
        category:
          type: string
        base_template:
          type: string
        variables:
          type: array
          items:
            type: string
        variants:
          type: array
          items:
            type: string
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    StoryTemplate:
      type: object
      required:
      - id
      - type
      - category
      - base_template
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - combat
          - social
          - economic
          - exploration
        category:
          type: string
          description: Event category
        base_template:
          type: string
          description: Base template with {variable} placeholders
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        conditions:
          type: object
          description: Activation conditions
        variables:
          type: array
          items:
            type: string
          description: Required variables for this template
        variants:
          type: array
          items:
            type: string
          description: Alternative template formulations
        active:
          type: boolean
          default: true
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
