openapi: 3.0.3
info:
  title: Legend Templates Variables Service API
  description: Variable rules management for legend template generation
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://legend-templates.necpgame.com/v1
    description: Production server
  - url: https://staging-legend-templates.necpgame.com/v1
    description: Staging server

security:
  - BearerAuth: [ ]

paths:
  # Variable rules management
  /variables:
    get:
      summary: Get all variable rules
      operationId: getVariables
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum:
              [
                player_name,
                action_verb,
                enemy_type,
                location,
                number,
                time_context,
                faction,
                emotion,
              ]
          description: Filter by variable type
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Maximum number of results
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Pagination offset
      responses:
        "200":
          $ref: "#/components/responses/VariablesListResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: Create variable rule
      operationId: createVariable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVariableRequest"
      responses:
        "201":
          $ref: "#/components/responses/VariableResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /variables/{variable_id}:
    parameters:
      - name: variable_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Variable ID

    get:
      summary: Get variable by ID
      operationId: getVariable
      responses:
        "200":
          $ref: "#/components/responses/VariableResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      summary: Update variable rule
      operationId: updateVariable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateVariableRequest"
      responses:
        "200":
          $ref: "#/components/responses/VariableResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: Delete variable rule
      operationId: deleteVariable
      responses:
        "204":
          description: Variable deleted successfully
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    VariablesListResponse:
      description: List of variable rules
      content:
        application/json:
          schema:
            type: object
            properties:
              variables:
                type: array
                items:
                  $ref: "#/components/schemas/VariableRule"
              total:
                type: integer
                minimum: 0
              offset:
                type: integer
                minimum: 0
              limit:
                type: integer
                minimum: 1
                maximum: 100
            description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    VariableResponse:
      description: Single variable response
      content:
        application/json:
          schema:
            type: object
            properties:
              variable:
                $ref: "#/components/schemas/VariableRule"
            description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: invalid_request
              message:
                type: string
                example: Invalid request parameters
              details:
                type: object

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: not_found
              message:
                type: string
                example: Variable not found

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: internal_error
              message:
                type: string
                example: Internal server error

  schemas:
    # Variable schemas
    VariableRule:
      type: object
      required: [ id, type, name, rules ]
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            [
              player_name,
              action_verb,
              enemy_type,
              location,
              number,
              time_context,
              faction,
              emotion,
            ]
        name:
          type: string
          description: Variable placeholder name
        rules:
          type: object
          description: Substitution rules (synonyms, transformations, etc.)
          properties:
            synonyms:
              type: array
              items:
                type: string
              description: Alternative words/phrases for this variable
            transformations:
              type: object
              description: Text transformation rules
              properties:
                case:
                  type: string
                  enum: [ lower, upper, title ]
                plural:
                  type: boolean
                gender_adapt:
                  type: boolean
            context_rules:
              type: object
              description: Context-dependent substitution rules
              additionalProperties:
                type: object
        active:
          type: boolean
          default: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    CreateVariableRequest:
      type: object
      required: [ type, name, rules ]
      properties:
        type:
          type: string
          enum:
            [
              player_name,
              action_verb,
              enemy_type,
              location,
              number,
              time_context,
              faction,
              emotion,
            ]
        name:
          type: string
        rules:
          type: object
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    UpdateVariableRequest:
      type: object
      properties:
        type:
          type: string
          enum:
            [
              player_name,
              action_verb,
              enemy_type,
              location,
              number,
              time_context,
              faction,
              emotion,
            ]
        name:
          type: string
        rules:
          type: object
        active:
          type: boolean
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."
