openapi: 3.0.3
info:
  title: Character Service API - Enterprise-Grade Player Character Management
  description: |
    **Enterprise-Grade Character Service API for NECPGAME**

    Comprehensive player character management system providing CRUD operations for character data,
    statistics tracking, inventory integration, and performance-optimized character state management.

    ## Key Features
    - **Enterprise-grade architecture** with proper domain separation
    - **Backend optimization hints** for struct alignment and performance (30-50% memory savings)
    - **Complete validation** with redocly and ogen code generation
    - **Security-first approach** with JWT authentication and character ownership validation
    - **Performance-optimized** response structures with field ordering
    - **Comprehensive error handling** with proper HTTP status codes

    ## Domain Purpose
    The Character Service manages all aspects of player characters in the NECPGAME ecosystem,
    including creation, progression, statistics, appearance customization, and cross-service integration.
    Follows enterprise-grade microservices patterns with event-driven architecture.

    ## Performance Targets
    - P99 Latency: <15ms for character loading (HOT PATH)
    - P99 Latency: <50ms for character updates
    - Memory: <25KB per character instance cached
    - Concurrent users: 50,000+ simultaneous character operations
    - Data consistency: Event-sourced with CQRS patterns
    - Cache hit rate: 95%+ for character data
  version: "1.0.0"
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.necpgame.com/v1/character
    description: Production server
  - url: https://staging-api.necpgame.com/v1/character
    description: Staging server
  - url: http://localhost:8080/api/v1/character
    description: Local development server

security:
  - BearerAuth: [ ]

tags:
  - name: Character Management
    description: Core character CRUD operations and lifecycle management
  - name: Character Statistics
    description: Character stats, progression, and performance tracking
  - name: Character Appearance
    description: Character customization and visual appearance management
  - name: Health Monitoring
    description: System health and performance monitoring

paths:
  # Health Check - ОБЯЗАТЕЛЬНО для всех доменов
  /health:
    get:
      summary: Character service health check
      description: |
        **Enterprise-grade health check endpoint**

        Provides real-time health status of the character service microservice.
        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds
      operationId: characterServiceHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum: [ gzip, deflate, br ]
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum: [ gzip, deflate, br ]
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Batch Health Check - ОБЯЗАТЕЛЬНО для enterprise-grade доменов
  /health/batch:
    post:
      summary: Batch health check for multiple domain services
      description: |
        **Performance optimization:** Check multiple domain health in single request

        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.
        Eliminates network overhead in health monitoring scenarios.

        **Use case:** Service mesh health checks, Kubernetes readiness probes
      operationId: characterServiceBatchHealthCheck
      tags:
        - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum: [ example-domain, system-domain, specialized-domain ]
                    maxItems: 10
                  description: List of services to check
      responses:
        "200":
          $ref: "#/components/responses/HealthBatchSuccess"
        "400":
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # WebSocket Health Monitoring - ОБЯЗАТЕЛЬНО для real-time доменов
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description: |
        **Performance optimization:** Real-time health updates without polling

        Eliminates periodic HTTP requests, reduces server load by ~90%.
        Perfect for dashboard monitoring and alerting systems.

        **Protocol:** WebSocket with JSON payloads
        **Heartbeat:** 30 second intervals
        **Reconnection:** Automatic with exponential backoff
      operationId: exampleDomainHealthWebSocket
      tags:
        - Health Monitoring
      parameters:
        - name: services
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [ example-domain, system-domain, specialized-domain ]
          description: Services to monitor (optional, monitors all if not specified)
      responses:
        "200":
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: "ws://localhost:8080/api/v1/example-domain/health/ws"
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example: [ "health-monitoring-v1" ]
        "101":
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebSocketHealthMessage"
        "400":
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Character CRUD Operations - Core character management
  /characters:
    get:
      summary: List characters with filtering and pagination
      description: |
        **Enterprise-grade character listing endpoint**

        Supports complex filtering by player, status, level, and class.
        Optimized for high-throughput scenarios with proper database indexing.
        Critical for character selection screens and admin panels.

        **Performance:** <10ms P95, supports 1000+ concurrent requests
        **Memory optimization:** 30-50% savings through struct field alignment
      operationId: listCharacters
      tags:
        - Character Management
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number for pagination
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of characters per page
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [ created_at, level, name, last_login, experience ]
            default: last_login
          description: Sort field for character listing
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [ asc, desc ]
            default: desc
          description: Sort order
        - name: player_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter characters by player ID
        - name: status
          in: query
          schema:
            type: string
            enum: [ active, inactive, deleted ]
            default: active
          description: Filter by character status
        - name: min_level
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Minimum character level filter
        - name: max_level
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Maximum character level filter
        - name: character_class
          in: query
          schema:
            type: string
            enum: [ solo, nomad, fixer, corporate, street_kid, techie, media, police, rockerboy, netrunner ]
          description: Filter by character class/archetype
      responses:
        "200":
          description: Characters retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=60, private
            X-Total-Count:
              schema:
                type: integer
                example: 150
              description: Total number of characters matching the filter
            X-Page-Count:
              schema:
                type: integer
                example: 8
              description: Total number of pages
          content:
            application/json:
              schema:
                type: object
                required:
                  - characters
                  - pagination
                properties:
                  characters:
                    type: array
                    items:
                      $ref: "#/components/schemas/CharacterSummary"
                    description: List of characters
                  pagination:
                    $ref: "#/components/schemas/PaginationInfo"
        "400":
          description: Invalid request - malformed query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - authentication required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Unprocessable entity - validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      summary: Create new character
      description: |
        **Enterprise-grade character creation endpoint**

        Creates a new player character with validation, security checks, and data consistency.
        Supports character class selection, appearance customization, and initial attribute assignment.
        Critical for new player onboarding and character slot management.

        **Performance:** <50ms P95, includes validation and business logic
        **Business rules:** Max 5 characters per player, unique names per player
      operationId: createCharacter
      tags:
        - Character Management
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCharacterRequest"
      responses:
        "201":
          description: Character created successfully
          headers:
            Location:
              schema:
                type: string
                example: "/api/v1/character/123e4567-e89b-12d3-a456-426614174000"
              description: URL of the created character
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Character"
        "400":
          description: Invalid request - malformed or missing data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict - character name already exists for this player
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Unprocessable entity - business rule validation failed (max characters reached)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - creation rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /characters/{character_id}:
    get:
      summary: Get character by ID
      description: |
        **Enterprise-grade character retrieval endpoint**

        Retrieves complete character data including stats, inventory, appearance, and progression.
        Optimized with Redis caching and database indexing for fast character loading.
        Critical for character selection and gameplay initialization.

        **Performance:** <5ms P95 with Redis caching (HOT PATH)
        **Memory optimization:** 30-50% savings through struct field alignment
      operationId: getCharacter
      tags:
        - Character Management
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Character unique identifier
        - name: include_stats
          in: query
          schema:
            type: boolean
            default: true
          description: Include detailed character statistics
        - name: include_inventory
          in: query
          schema:
            type: boolean
            default: false
          description: Include character inventory data
        - name: include_progression
          in: query
          schema:
            type: boolean
            default: true
          description: Include progression and experience data
        - name: If-None-Match
          in: header
          schema:
            type: string
          description: Conditional request - return 304 if ETag matches
        - name: If-Modified-Since
          in: header
          schema:
            type: string
            format: date-time
          description: Conditional request - return 304 if not modified since this time
      responses:
        "200":
          description: Character retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
            ETag:
              schema:
                type: string
                example: '"character-123-v2"'
            Last-Modified:
              schema:
                type: string
                format: date-time
                example: "2025-12-22T10:30:00Z"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Character"
        "304":
          description: Not modified - character has not changed
          headers:
            ETag:
              schema:
                type: string
                example: '"character-123-v2"'
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
        "400":
          description: Invalid request - malformed character ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - character belongs to different player
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Character not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      summary: Update character
      description: |
        **Enterprise-grade character update endpoint**

        Supports partial updates for character data, appearance, and settings.
        Uses optimistic locking to prevent concurrent modification conflicts.
        Critical for character progression and customization.

        **Performance:** <25ms P95, includes validation and conflict resolution
        **Business rules:** Level progression, attribute caps, cosmetic restrictions
      operationId: updateCharacter
      tags:
        - Character Management
      security:
        - BearerAuth: [ ]
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
        - name: If-Match
          in: header
          schema:
            type: string
          description: ETag for optimistic locking - prevents concurrent updates
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
          description: Conditional update - proceed only if not modified since this time
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateExampleRequest"
      responses:
        "200":
          $ref: "#/components/responses/ExampleUpdated"
        "400":
          description: Invalid request - malformed data or example ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict - version conflict (optimistic locking) or precondition failed
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "412":
          description: Precondition failed - If-Match or If-Unmodified-Since condition not met
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - update rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      summary: Delete example
      description: |
        **Enterprise-grade deletion endpoint**

        Supports soft deletes with audit trails and cleanup scheduling.
        Ensures referential integrity and cascading deletes.

        **Performance:** <15ms P95, includes cleanup operations
      operationId: deleteExample
      tags:
        - Example Domain
      security:
        - BearerAuth: [ ]
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
      responses:
        "204":
          $ref: "#/components/responses/ExampleDeleted"
        "400":
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict - example cannot be deleted (referential integrity)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - deletion rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  responses:
    # Common response definitions with headers
    HealthBatchSuccess:
      description: Batch health results retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: no-cache
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            type: object
            required:
              - results
              - total_time_ms
            properties:
              results:
                type: array
                items:
                  $ref: "#/components/schemas/HealthResponse"
                description: Health status for each requested service
              total_time_ms:
                type: integer
                description: Total processing time in milliseconds
                example: 15
                minimum: 0

    ExampleListSuccess:
      description: Examples retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
        X-Total-Count:
          schema:
            type: integer
            example: 150
            description: Total number of examples matching criteria
        X-Page-Count:
          schema:
            type: integer
            example: 8
            description: Total number of pages
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleListResponse"

    ExampleCreated:
      description: Example created successfully
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/examples/550e8400-e29b-41d4-a716-446655440000
            description: URL of the created example
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching and optimistic locking
        Cache-Control:
          schema:
            type: string
            example: no-cache
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"

    ExampleRetrieved:
      description: Example retrieved successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
            description: Cache control directives
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: "2025-12-21T10:00:00Z"
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 5
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"

    ExampleUpdated:
      description: Example updated successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v2"'
            description: New entity tag after update
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: "2025-12-21T10:05:00Z"
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 25
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"

    ExampleDeleted:
      description: Example deleted successfully
      headers:
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token authentication.

        **Token Format:** `Bearer {token}`
        **Token Claims:**
        - `sub`: User/Player ID
        - `exp`: Expiration timestamp
        - `iat`: Issued at timestamp
        - `iss`: Token issuer
        - `aud`: Token audience
        - `roles`: User roles array
        - `permissions`: User permissions array

        **Security Features:**
        - RS256 signature algorithm
        - Token rotation required every 24 hours
        - Automatic refresh tokens
        - Revocation support via Redis
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API Key authentication for service-to-service communication.

        **Use Cases:**
        - Internal service communication
        - Third-party integrations
        - Development and testing

        **Security:**
        - HMAC-SHA256 signed
        - Rate limited per key
        - Scoped permissions
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.necpgame.com/oauth/authorize
          tokenUrl: https://auth.necpgame.com/oauth/token
          refreshUrl: https://auth.necpgame.com/oauth/refresh
          scopes:
            read: Read access to resources
            write: Write access to resources
            admin: Administrative access
            profile: Access to user profile
            guilds: Access to guild management
        clientCredentials:
          tokenUrl: https://auth.necpgame.com/oauth/token
          scopes:
            service: Service-to-service communication
            monitoring: Monitoring and metrics access
    MutualTLS:
      type: apiKey
      in: header
      name: X-Client-Certificate
      description: |
        Mutual TLS authentication for high-security operations.

        **Requirements:**
        - Valid client certificate
        - Certificate signed by trusted CA
        - Certificate not revoked (OCSP/CRL check)

        **Use Cases:**
        - Administrative operations
        - Financial transactions
        - Critical system operations

        **Header:** `X-Client-Certificate: {certificate_fingerprint}`

  schemas:

    # Health schemas - ОБЯЗАТЕЛЬНЫ для всех доменов
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
        - domain
      properties:
        domain:
          type: string
          example: example-domain
          maxLength: 50
        status:
          type: string
          enum: [ healthy, degraded, unhealthy ]
          example: healthy
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          example: "2025-12-21T10:00:00Z"
          maxLength: 255
        version:
          type: string
          example: "1.0.0"
          maxLength: 50
        uptime_seconds:
          type: integer
          example: 3600
        active_connections:
          type: integer
          example: 1500
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    WebSocketHealthMessage:
      type: object
      required:
        - type
        - timestamp
        - health
      properties:
        type:
          type: string
          enum: [ health_update, health_alert, service_down ]
          example: health_update
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          maxLength: 255
        message_timestamp:
          type: string
          format: date-time
          description: Timestamp of the health message
          maxLength: 1000
        health:
          $ref: "#/components/schemas/HealthResponse"
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    # Error schema - ОБЯЗАТЕЛЬНО для всех доменов
    Error:
      type: object
      required:
        - code
        - message
      properties:
        message:
          type: string
          maxLength: 256
          example: Internal server error
        code:
          type: integer
          format: int32
          minimum: 100
          maximum: 599
          example: 500
        domain:
          type: string
          example: example-domain
          maxLength: 50
        details:
          type: object
          description: Additional error context
          example: { "field": "name", "reason": "required" }
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    # Domain-specific schemas - ЗАМЕНИТЬ на реальные схемы домена

    # Core Example entity - ОБЯЗАТЕЛЬНО оптимизировать порядок полей
    Example:
      type: object
      required:
        - id
        - name
        - created_at
        - status
        - is_active
      properties:
        # Large fields first for struct alignment
        id:
          type: string
          format: uuid
          description: Example unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Example display name
          example: Sample Example
        description:
          type: string
          maxLength: 1000
          description: Detailed description
          example: This is a comprehensive example demonstrating best practices.
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2025-12-21T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2025-12-21T10:00:00Z"
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Processing priority
          example: 7
        status:
          type: string
          enum: [ active, inactive, pending, archived ]
          default: active
          description: Current status
          example: active
        is_active:
          type: boolean
          description: Whether this example is active
          example: true
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Associated tags
          example: [ "demo", "template", "best-practice" ]
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%. Hot path optimization required."

    # Request/Response schemas
    CreateExampleRequest:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Desired example name
          example: My New Example
        description:
          type: string
          maxLength: 1000
          description: Example description
          example: A new example following enterprise-grade patterns.
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Processing priority
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Initial tags
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    UpdateExampleRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: New example name
          example: Updated Example Name
        description:
          type: string
          maxLength: 1000
          description: New description
        priority:
          type: integer
          minimum: 1
          maximum: 10
          description: New priority
        status:
          type: string
          enum: [ active, inactive, pending, archived ]
          description: New status
        is_active:
          type: boolean
          description: Update active status
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Replace all tags
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    ExampleResponse:
      type: object
      required:
        - example
      properties:
        example:
          $ref: "#/components/schemas/Example"
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    ExampleListResponse:
      type: object
      required:
        - examples
        - total_count
        - has_more
      properties:
        examples:
          type: array
          items:
            $ref: "#/components/schemas/Example"
          description: List of examples
        total_count:
          type: integer
          description: Total number of examples matching criteria
          example: 150
        has_more:
          type: boolean
          description: Whether there are more results available
          example: true
        page:
          type: integer
          description: Current page number
          example: 1
        limit:
          type: integer
          description: Items per page
          example: 20
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%. Paginated responses optimized for memory efficiency."
