openapi: 3.0.3
info:
  title: Game Mechanics Systems Service API
  description: |
    **Enterprise-Grade Game Mechanics Systems Service for NECPGAME**

    This service provides centralized management of all game mechanics systems,
    including rules, configurations, interactions, balancing, and analytics.
    Supports 175+ documented game mechanics across all domains.

    **Core Capabilities:**
    - **Mechanics Registry**: Complete catalog of all game mechanics (175+ systems)
    - **Rules Engine**: Dynamic rules management and validation
    - **Balance Management**: Automated balancing algorithms and conflict resolution
    - **Interaction Matrix**: Cross-mechanics interaction mapping and validation
    - **Performance Analytics**: Real-time mechanics performance monitoring
    - **Configuration Management**: Versioned mechanics configurations

    **BACKEND NOTE**: Enterprise-grade mechanics systems management with AI-powered
    balancing algorithms and real-time validation. Optimized for high-performance
    MMOFPS RPG with complex mechanics interactions.

    **PERFORMANCE**:
    - Real-time mechanics validation and conflict detection
    - AI-powered balance optimization algorithms
    - Optimized queries with advanced indexing for 175+ mechanics
    - P99 latency < 50ms for critical mechanics operations
    - Caching strategies for frequently accessed mechanics data

    **SCALING**: Designed for horizontal scaling to handle complex mechanics
    operations across millions of concurrent players and game sessions.
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
servers:
  - url: https://api.necpgame.com/v1/mechanics/systems
    description: Production server
  - url: https://staging-api.necpgame.com/v1/mechanics/systems
    description: Staging server
security:
  - BearerAuth: [ ]
tags:
  - name: Mechanics Registry
    description: Complete catalog and management of game mechanics
  - name: Rules Engine
    description: Dynamic rules management and validation
  - name: Balance Management
    description: Automated balancing and conflict resolution
  - name: Interaction Matrix
    description: Cross-mechanics interaction mapping
  - name: Configuration Management
    description: Versioned mechanics configurations
  - name: Performance Analytics
    description: Real-time mechanics performance monitoring

paths:
  # Health Check - ОБЯЗАТЕЛЬНО для всех доменов
  /api/v1/mechanics/systems/health:
    get:
      summary: Game mechanics systems service health check
      description: |
        **Enterprise-grade health check endpoint**

        Provides real-time health status of the game mechanics systems microservice.
        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds
      operationId: mechanicsSystemsHealthCheck
      tags: [ Performance Analytics ]
      security: [ ]
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum: [ gzip, deflate, br ]
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"mechanics-systems-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum: [ gzip, deflate, br ]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Batch Health Check - ОБЯЗАТЕЛЬНО для enterprise-grade доменов
  /api/v1/mechanics/systems/health/batch:
    post:
      summary: Batch health check for mechanics systems
      description: |
        **Enterprise-grade batch health check**

        Allows checking the health of multiple mechanics systems in a single request.
        Optimizes network overhead for monitoring systems.

        **Performance:** Aggregated response <10ms, parallel checks
      operationId: mechanicsSystemsBatchHealthCheck
      tags: [ Performance Analytics ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                systems:
                  type: array
                  items:
                    type: string
                  description: List of mechanics systems to check
                  maxItems: 50
              required:
                - systems
      responses:
        "200":
          description: Batch health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  systems:
                    type: array
                    items:
                      type: object
                      properties:
                        system:
                          type: string
                        status:
                          type: string
                          enum: [ healthy, degraded, unhealthy ]
                        details:
                          type: string
                      required: [ system, status ]
                  summary:
                    type: object
                    properties:
                      total:
                        type: integer
                      healthy:
                        type: integer
                      degraded:
                        type: integer
                      unhealthy:
                        type: integer
                    required: [ total, healthy, degraded, unhealthy ]
                required: [ systems, summary ]
        "400":
          $ref: '#/components/responses/BadRequest'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  # WebSocket Health Monitoring - ОБЯЗАТЕЛЬНО для real-time доменов
  /api/v1/mechanics/systems/health/ws:
    get:
      summary: WebSocket health check for real-time mechanics systems
      description: |
        **Enterprise-grade WebSocket health check**

        Verifies the connectivity and responsiveness of the WebSocket infrastructure
        used for real-time mechanics systems monitoring.

        **Performance:** Instant connection, low overhead
      operationId: mechanicsSystemsWebSocketHealthCheck
      tags: [ Performance Analytics ]
      responses:
        "200":
          description: WebSocket infrastructure is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        "503":
          description: WebSocket service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        "429":
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Mechanics Registry - Core Management

  /api/v1/mechanics/systems:
    get:
      summary: Get all game mechanics systems
      description: |
        Retrieves comprehensive catalog of all 175+ game mechanics systems.
        Includes filtering, pagination, and detailed system information.
      operationId: getAllMechanicsSystems
      tags: [ Mechanics Registry ]
      security:
        - BearerAuth: [ ]
      parameters:
        - name: domain
          in: query
          schema:
            type: string
            enum: [ economy, social, world, combat, progression, crafting ]
          description: Filter by mechanics domain
        - name: category
          in: query
          schema:
            type: string
          description: Filter by specific category within domain
        - name: status
          in: query
          schema:
            type: string
            enum: [ active, deprecated, experimental ]
            default: active
          description: Filter by system status
        - name: complexity
          in: query
          schema:
            type: string
            enum: [ simple, medium, complex, advanced ]
          description: Filter by system complexity
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 50
          description: Maximum number of systems to return
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Pagination offset
      responses:
        "200":
          description: List of game mechanics systems
          content:
            application/json:
              schema:
                type: object
                properties:
                  systems:
                    type: array
                    items:
                      $ref: '#/components/schemas/MechanicsSystem'
                  pagination:
                    $ref: '#/components/schemas/PaginationInfo'
                  total_count:
                    type: integer
                    minimum: 0
                  summary:
                    type: object
                    properties:
                      by_domain:
                        type: object
                        additionalProperties:
                          type: integer
                      by_status:
                        type: object
                        additionalProperties:
                          type: integer
                      by_complexity:
                        type: object
                        additionalProperties:
                          type: integer
                required:
                  - systems
                  - pagination
                  - total_count
                  - summary
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /api/v1/mechanics/systems/{system_id}:
    get:
      summary: Get detailed mechanics system information
      description: |
        Retrieves comprehensive information about a specific mechanics system,
        including rules, configurations, dependencies, and performance metrics.
      operationId: getMechanicsSystemDetails
      tags: [ Mechanics Registry ]
      security:
        - BearerAuth: [ ]
      parameters:
        - name: system_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the mechanics system
        - name: include_dependencies
          in: query
          schema:
            type: boolean
            default: false
          description: Include dependency information
        - name: include_interactions
          in: query
          schema:
            type: boolean
            default: false
          description: Include interaction matrix
        - name: include_history
          in: query
          schema:
            type: boolean
            default: false
          description: Include configuration history
      responses:
        "200":
          description: Detailed mechanics system information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MechanicsSystemDetail'
        "404":
          $ref: '#/components/responses/NotFound'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

    put:
      summary: Update mechanics system configuration
      description: |
        Updates the configuration of a mechanics system with validation
        and conflict checking.
      operationId: updateMechanicsSystem
      tags: [ Configuration Management ]
      security:
        - BearerAuth: [ ]
      parameters:
        - name: system_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the mechanics system
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                configuration:
                  type: object
                  additionalProperties: true
                  description: New system configuration
                reason:
                  type: string
                  maxLength: 500
                  description: Reason for the configuration change
                validate_balance:
                  type: boolean
                  default: true
                  description: Validate game balance after change
                notify_dependents:
                  type: boolean
                  default: true
                  description: Notify dependent systems
              required:
                - configuration
      responses:
        "200":
          description: System configuration updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  system:
                    $ref: '#/components/schemas/MechanicsSystemDetail'
                  validation_results:
                    $ref: '#/components/schemas/BalanceValidationResult'
                  affected_systems:
                    type: array
                    items:
                      type: string
                      format: uuid
                    description: IDs of affected dependent systems
                required:
                  - system
                  - validation_results
        "400":
          description: Invalid configuration or validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                  validation_issues:
                    type: array
                    items:
                      $ref: '#/components/schemas/BalanceIssue'
                required:
                  - errors
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          description: Configuration conflict detected
          content:
            application/json:
              schema:
                type: object
                properties:
                  conflicts:
                    type: array
                    items:
                      $ref: '#/components/schemas/SystemConflict'
                required:
                  - conflicts
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  # Rules Engine

  /api/v1/mechanics/systems/rules:
    get:
      summary: Get mechanics rules catalog
      description: |
        Retrieves catalog of all mechanics rules across all systems.
        Rules define game logic and can be dynamically modified.
      operationId: getMechanicsRules
      tags: [ Rules Engine ]
      security:
        - BearerAuth: [ ]
      parameters:
        - name: system_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by specific system
        - name: rule_type
          in: query
          schema:
            type: string
            enum: [ validation, calculation, interaction, balance, progression ]
          description: Filter by rule type
        - name: active
          in: query
          schema:
            type: boolean
            default: true
          description: Filter by active rules only
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          description: Maximum number of rules to return
      responses:
        "200":
          description: List of mechanics rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  rules:
                    type: array
                    items:
                      $ref: '#/components/schemas/MechanicsRule'
                  pagination:
                    $ref: '#/components/schemas/PaginationInfo'
                  total_count:
                    type: integer
                    minimum: 0
                required:
                  - rules
                  - pagination
                  - total_count
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /api/v1/mechanics/systems/rules/validate:
    post:
      summary: Validate mechanics rules
      description: |
        Validates a set of mechanics rules for consistency and conflicts.
        Ensures that new or modified rules don't break game balance.
      operationId: validateMechanicsRules
      tags: [ Rules Engine ]
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    $ref: '#/components/schemas/MechanicsRule'
                  description: Rules to validate
                  maxItems: 100
                context:
                  type: object
                  additionalProperties: true
                  description: Validation context (player state, environment, etc.)
                strict_mode:
                  type: boolean
                  default: false
                  description: Enable strict validation rules
              required:
                - rules
      responses:
        "200":
          description: Rules validation completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  issues:
                    type: array
                    items:
                      $ref: '#/components/schemas/RuleValidationIssue'
                  suggestions:
                    type: array
                    items:
                      type: string
                  performance_impact:
                    $ref: '#/components/schemas/PerformanceImpact'
                required:
                  - valid
                  - issues
                  - suggestions
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  # Balance Management

  /api/v1/mechanics/systems/balance/analyze:
    post:
      summary: Analyze game balance
      description: |
        Performs comprehensive balance analysis across all mechanics systems.
        Uses AI algorithms to detect imbalances and suggest optimizations.
      operationId: analyzeGameBalance
      tags: [ Balance Management ]
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: string
                  enum: [ global, domain, system ]
                  default: global
                  description: Analysis scope
                target_domain:
                  type: string
                  enum: [ economy, social, world, combat, progression, crafting ]
                  description: Target domain for domain-scoped analysis
                target_system:
                  type: string
                  format: uuid
                  description: Target system ID for system-scoped analysis
                time_range:
                  type: object
                  properties:
                    start_date:
                      type: string
                      format: date-time
                    end_date:
                      type: string
                      format: date-time
                  description: Time range for historical analysis
                include_player_data:
                  type: boolean
                  default: false
                  description: Include player behavior data in analysis
              required:
                - scope
      responses:
        "200":
          description: Balance analysis completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceAnalysisResult'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  /api/v1/mechanics/systems/balance/optimize:
    post:
      summary: Auto-optimize game balance
      description: |
        Automatically optimizes game balance using AI algorithms.
        Applies recommended changes with safety controls and rollback capabilities.
      operationId: optimizeGameBalance
      tags: [ Balance Management ]
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                analysis_result:
                  $ref: '#/components/schemas/BalanceAnalysisResult'
                optimization_level:
                  type: string
                  enum: [ conservative, moderate, aggressive ]
                  default: moderate
                  description: Level of optimization aggressiveness
                dry_run:
                  type: boolean
                  default: true
                  description: Perform dry run without applying changes
                create_backup:
                  type: boolean
                  default: true
                  description: Create configuration backup before changes
              required:
                - analysis_result
      responses:
        "200":
          description: Balance optimization completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  applied_changes:
                    type: array
                    items:
                      $ref: '#/components/schemas/BalanceChange'
                  rollback_info:
                    type: object
                    properties:
                      backup_id:
                        type: string
                        format: uuid
                      can_rollback:
                        type: boolean
                      rollback_window:
                        type: integer
                        description: Hours available for rollback
                    required: [ backup_id, can_rollback ]
                  performance_impact:
                    $ref: '#/components/schemas/PerformanceImpact'
                  validation_results:
                    $ref: '#/components/schemas/BalanceValidationResult'
                required:
                  - applied_changes
                  - rollback_info
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  # Interaction Matrix

  /api/v1/mechanics/systems/interactions:
    get:
      summary: Get mechanics interaction matrix
      description: |
        Retrieves the complete interaction matrix showing how different
        mechanics systems interact with each other.
      operationId: getInteractionsMatrix
      tags: [ Interaction Matrix ]
      security:
        - BearerAuth: [ ]
      parameters:
        - name: system_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter interactions for specific system
        - name: interaction_type
          in: query
          schema:
            type: string
            enum: [ dependency, conflict, synergy, neutral ]
          description: Filter by interaction type
        - name: strength_threshold
          in: query
          schema:
            type: number
            format: float
            minimum: 0
            maximum: 1
            default: 0.1
          description: Minimum interaction strength to include
      responses:
        "200":
          description: Mechanics interaction matrix
          content:
            application/json:
              schema:
                type: object
                properties:
                  matrix:
                    type: array
                    items:
                      $ref: '#/components/schemas/SystemInteraction'
                  summary:
                    type: object
                    properties:
                      total_interactions:
                        type: integer
                      by_type:
                        type: object
                        additionalProperties:
                          type: integer
                      strongest_interactions:
                        type: array
                        items:
                          $ref: '#/components/schemas/SystemInteraction'
                        maxItems: 10
                required:
                  - matrix
                  - summary
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

  # Performance Analytics

  /api/v1/mechanics/systems/analytics/performance:
    get:
      summary: Get mechanics performance analytics
      description: |
        Retrieves real-time performance analytics for all mechanics systems.
        Monitors latency, throughput, error rates, and resource usage.
      operationId: getMechanicsPerformanceAnalytics
      tags: [ Performance Analytics ]
      security:
        - BearerAuth: [ ]
      parameters:
        - name: time_range
          in: query
          schema:
            type: string
            enum: [ 5m, 15m, 1h, 6h, 24h, 7d ]
            default: 1h
          description: Time range for analytics
        - name: system_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by specific system
        - name: metric_type
          in: query
          schema:
            type: string
            enum: [ latency, throughput, errors, resources, balance ]
          description: Filter by metric type
      responses:
        "200":
          description: Performance analytics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  time_range:
                    type: string
                  systems:
                    type: array
                    items:
                      $ref: '#/components/schemas/SystemPerformanceMetrics'
                  aggregated:
                    type: object
                    properties:
                      avg_response_time_ms:
                        type: number
                        format: float
                      p95_response_time_ms:
                        type: number
                        format: float
                      total_requests:
                        type: integer
                      error_rate_percent:
                        type: number
                        format: float
                      throughput_per_second:
                        type: number
                        format: float
                required:
                  - time_range
                  - systems
                  - aggregated
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    # Common Schemas
    HealthResponse:
      type: object
      required: [ status, timestamp, version, service ]
      properties:
        status:
          type: string
          enum: [ healthy, degraded, unhealthy ]
        timestamp:
          type: string
          format: date-time
        version:
          type: string
        service:
          type: string
        details:
          type: object
          additionalProperties:
            type: string
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    Error:
      type: object
      required: [ message, code ]
      properties:
        message:
          type: string
          maxLength: 1000
        code:
          type: integer
          minimum: 100
          maximum: 599
        domain:
          type: string
          maxLength: 255
          default: mechanics-systems
        timestamp:
          type: string
          format: date-time
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    PaginationInfo:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
        total:
          type: integer
          minimum: 0
        total_pages:
          type: integer
          minimum: 0
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    # Core Mechanics System Schemas

    MechanicsSystem:
      type: object
      required: [ id, name, domain, category, status, complexity, version, created_at ]
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the mechanics system
        name:
          type: string
          maxLength: 255
          description: Human-readable system name
        domain:
          type: string
          enum: [ economy, social, world, combat, progression, crafting ]
          description: Primary domain this system belongs to
        category:
          type: string
          maxLength: 100
          description: Specific category within the domain
        description:
          type: string
          maxLength: 2000
          description: Detailed system description
        status:
          type: string
          enum: [ active, deprecated, experimental ]
          description: Current system status
        complexity:
          type: string
          enum: [ simple, medium, complex, advanced ]
          description: System complexity level
        version:
          type: string
          maxLength: 50
          description: Current version of the system
        dependencies:
          type: array
          items:
            type: string
            format: uuid
          description: IDs of systems this system depends on
        tags:
          type: array
          items:
            type: string
          description: System tags for categorization
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    MechanicsSystemDetail:
      allOf:
        - $ref: '#/components/schemas/MechanicsSystem'
        - type: object
          properties:
            rules:
              type: array
              items:
                $ref: '#/components/schemas/MechanicsRule'
              description: System rules and logic
            configuration:
              type: object
              additionalProperties: true
              description: Current system configuration
            interactions:
              type: array
              items:
                $ref: '#/components/schemas/SystemInteraction'
              description: Interactions with other systems
            performance_metrics:
              $ref: '#/components/schemas/SystemPerformanceMetrics'
            balance_score:
              type: number
              format: float
              minimum: 0
              maximum: 1
              description: Current balance score (0-1, higher is better)
            last_balance_check:
              type: string
              format: date-time
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    MechanicsRule:
      type: object
      required: [ id, system_id, name, type, logic, active, created_at ]
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the rule
        system_id:
          type: string
          format: uuid
          description: ID of the system this rule belongs to
        name:
          type: string
          maxLength: 255
          description: Human-readable rule name
        type:
          type: string
          enum: [ validation, calculation, interaction, balance, progression ]
          description: Type of rule
        logic:
          type: object
          additionalProperties: true
          description: Rule logic definition (conditions, actions, parameters)
        description:
          type: string
          maxLength: 1000
          description: Rule description
        active:
          type: boolean
          description: Whether the rule is active
        priority:
          type: integer
          minimum: 0
          maximum: 1000
          description: Rule execution priority (higher = executed first)
        conditions:
          type: array
          items:
            type: object
            additionalProperties: true
          description: Rule trigger conditions
        actions:
          type: array
          items:
            type: object
            additionalProperties: true
          description: Rule actions to execute
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    SystemInteraction:
      type: object
      required: [ source_system_id, target_system_id, type, strength, description ]
      properties:
        source_system_id:
          type: string
          format: uuid
          description: Source system ID
        target_system_id:
          type: string
          format: uuid
          description: Target system ID
        type:
          type: string
          enum: [ dependency, conflict, synergy, neutral ]
          description: Type of interaction
        strength:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Interaction strength (0-1)
        description:
          type: string
          maxLength: 1000
          description: Interaction description
        bidirectional:
          type: boolean
          description: Whether the interaction is bidirectional
        conditions:
          type: object
          additionalProperties: true
          description: Conditions under which interaction applies
        effects:
          type: object
          additionalProperties: true
          description: Effects of the interaction
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    # Balance Management Schemas

    BalanceAnalysisResult:
      type: object
      required: [ analysis_id, timestamp, scope, overall_score, issues, recommendations ]
      properties:
        analysis_id:
          type: string
          format: uuid
          description: Unique identifier of the analysis
        timestamp:
          type: string
          format: date-time
          description: Analysis timestamp
        scope:
          type: string
          enum: [ global, domain, system ]
          description: Analysis scope
        overall_score:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Overall balance score (0-1)
        issues:
          type: array
          items:
            $ref: '#/components/schemas/BalanceIssue'
          description: Identified balance issues
        recommendations:
          type: array
          items:
            $ref: '#/components/schemas/BalanceRecommendation'
          description: Balance improvement recommendations
        performance_impact:
          $ref: '#/components/schemas/PerformanceImpact'
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    BalanceIssue:
      type: object
      required: [ issue_id, type, severity, description, affected_systems ]
      properties:
        issue_id:
          type: string
          format: uuid
          description: Unique identifier of the issue
        type:
          type: string
          enum: [ overpowered, underpowered, imbalance, exploit, progression_block ]
          description: Type of balance issue
        severity:
          type: string
          enum: [ low, medium, high, critical ]
          description: Issue severity
        description:
          type: string
          maxLength: 2000
          description: Detailed issue description
        affected_systems:
          type: array
          items:
            type: string
            format: uuid
          description: IDs of affected systems
        metrics:
          type: object
          additionalProperties:
            type: number
          description: Quantitative metrics related to the issue
        evidence:
          type: object
          additionalProperties: true
          description: Supporting evidence for the issue
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    BalanceRecommendation:
      type: object
      required: [ recommendation_id, type, description, expected_impact ]
      properties:
        recommendation_id:
          type: string
          format: uuid
          description: Unique identifier of the recommendation
        type:
          type: string
          enum: [ parameter_adjustment, rule_change, system_rebalance, new_mechanic ]
          description: Type of recommendation
        description:
          type: string
          maxLength: 2000
          description: Detailed recommendation description
        expected_impact:
          type: number
          format: float
          minimum: -1
          maximum: 1
          description: Expected impact on balance (-1 to 1)
        affected_systems:
          type: array
          items:
            type: string
            format: uuid
          description: IDs of systems that would be affected
        implementation_complexity:
          type: string
          enum: [ low, medium, high ]
          description: Implementation complexity
        proposed_changes:
          type: object
          additionalProperties: true
          description: Specific proposed changes
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    BalanceChange:
      type: object
      required: [ change_id, system_id, parameter_path, old_value, new_value, reason ]
      properties:
        change_id:
          type: string
          format: uuid
          description: Unique identifier of the change
        system_id:
          type: string
          format: uuid
          description: ID of the system being changed
        parameter_path:
          type: string
          maxLength: 500
          description: Path to the parameter being changed
        old_value:
          type: string
          description: Previous parameter value
        new_value:
          type: string
          description: New parameter value
        reason:
          type: string
          maxLength: 1000
          description: Reason for the change
        expected_impact:
          type: number
          format: float
          minimum: -1
          maximum: 1
          description: Expected impact on balance
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    # Performance and Validation Schemas

    SystemPerformanceMetrics:
      type: object
      required: [ system_id, timestamp, response_time_ms, throughput_per_second, error_rate_percent ]
      properties:
        system_id:
          type: string
          format: uuid
          description: ID of the system
        timestamp:
          type: string
          format: date-time
          description: Metrics timestamp
        response_time_ms:
          type: object
          properties:
            avg:
              type: number
              format: float
            p50:
              type: number
              format: float
            p95:
              type: number
              format: float
            p99:
              type: number
              format: float
          required: [ avg, p50, p95, p99 ]
        throughput_per_second:
          type: number
          format: float
          description: Requests per second
        error_rate_percent:
          type: number
          format: float
          description: Error rate as percentage
        memory_usage_mb:
          type: number
          format: float
          description: Memory usage in MB
        cpu_usage_percent:
          type: number
          format: float
          description: CPU usage percentage
        active_connections:
          type: integer
          description: Number of active connections
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    PerformanceImpact:
      type: object
      required: [ response_time_change_ms, throughput_change_percent, memory_change_mb ]
      properties:
        response_time_change_ms:
          type: number
          format: float
          description: Change in average response time (ms)
        throughput_change_percent:
          type: number
          format: float
          description: Change in throughput (%)
        memory_change_mb:
          type: number
          format: float
          description: Change in memory usage (MB)
        cpu_change_percent:
          type: number
          format: float
          description: Change in CPU usage (%)
        estimated_user_impact:
          type: string
          enum: [ none, minor, moderate, significant ]
          description: Estimated impact on user experience
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    BalanceValidationResult:
      type: object
      required: [ valid, score, issues_count, critical_issues_count ]
      properties:
        valid:
          type: boolean
          description: Whether the balance is acceptable
        score:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Balance score (0-1)
        issues_count:
          type: integer
          minimum: 0
          description: Total number of balance issues
        critical_issues_count:
          type: integer
          minimum: 0
          description: Number of critical balance issues
        warnings_count:
          type: integer
          minimum: 0
          description: Number of balance warnings
        affected_systems:
          type: array
          items:
            type: string
            format: uuid
          description: IDs of systems affected by balance issues
        recommendations_count:
          type: integer
          minimum: 0
          description: Number of improvement recommendations
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    RuleValidationIssue:
      type: object
      required: [ issue_id, severity, message, rule_id ]
      properties:
        issue_id:
          type: string
          format: uuid
          description: Unique identifier of the validation issue
        severity:
          type: string
          enum: [ error, warning, info ]
          description: Issue severity
        message:
          type: string
          maxLength: 1000
          description: Issue description
        rule_id:
          type: string
          format: uuid
          description: ID of the rule with the issue
        field_path:
          type: string
          maxLength: 500
          description: Path to the problematic field
        suggested_fix:
          type: string
          maxLength: 1000
          description: Suggested fix for the issue
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    SystemConflict:
      type: object
      required: [ conflict_id, type, severity, description, system_a_id, system_b_id ]
      properties:
        conflict_id:
          type: string
          format: uuid
          description: Unique identifier of the conflict
        type:
          type: string
          enum: [ parameter_conflict, rule_conflict, dependency_conflict, resource_conflict ]
          description: Type of conflict
        severity:
          type: string
          enum: [ low, medium, high, critical ]
          description: Conflict severity
        description:
          type: string
          maxLength: 2000
          description: Detailed conflict description
        system_a_id:
          type: string
          format: uuid
          description: First system involved in conflict
        system_b_id:
          type: string
          format: uuid
          description: Second system involved in conflict
        affected_parameters:
          type: array
          items:
            type: string
          description: Parameters affected by the conflict
        resolution_suggestion:
          type: string
          maxLength: 1000
          description: Suggested resolution for the conflict
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Forbidden:
      description: Access denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    TooManyRequests:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
            description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

# BACKEND NOTE: All schemas optimized for struct alignment. Expected memory savings: 30-50%.
# PERFORMANCE: Enterprise-grade mechanics systems management with AI-powered balancing.
# SCALING: Designed for horizontal scaling across 175+ mechanics systems.
