openapi: 3.0.3
info:
  title: Game Mechanics Domain API
  description: |
    **Enterprise-Grade Game Mechanics Domain API for NECPGAME**

    This domain consolidates all game mechanics across four core areas:
    Economy, Social, World, and Combat mechanics management.

    **Core Integration Areas:**
    - **Game Mechanics Service**: Centralized mechanics management and validation
    - **Weapon Mechanics**: Advanced weapon systems and special abilities
    - **Economy Weapon Combinations**: Economic weapon crafting and trading
    - **Gameplay Mechanics**: Core gameplay systems integration

    **BACKEND NOTE**: Enterprise-grade mechanics domain with cross-system integration.
    Optimized for high-performance MMOFPS RPG mechanics processing.

    **PERFORMANCE**:
    - Real-time mechanics synchronization across all domains
    - Optimized for low-latency mechanics validation and conflict resolution
    - Caching strategies for frequently accessed mechanics data
    - P99 latency < 30ms for critical mechanics operations

    **SCALING**: Designed for horizontal scaling to handle millions of concurrent
    mechanics operations and validations.
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
servers:
  - url: https://api.necpgame.com/v1/mechanics
    description: Production server
  - url: https://staging-api.necpgame.com/v1/mechanics
    description: Staging server
security:
  - BearerAuth: [ ]

tags:
  - name: Game Mechanics
    description: Core game mechanics management
  - name: Weapon Mechanics
    description: Weapon systems and abilities
  - name: Economy Mechanics
    description: Economic weapon combinations
  - name: Gameplay Mechanics
    description: Core gameplay systems

paths:
  # Game Mechanics Service Integration - enterprise-grade centralized mechanics management
  /api/v1/mechanics/health:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics~1health'
  /api/v1/mechanics/health/batch:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics~1health~1batch'
  /api/v1/mechanics/health/ws:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics~1health~1ws'
  /api/v1/mechanics:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics'
  /api/v1/mechanics/{mechanic_id}:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics~1{mechanic_id}'
  /api/v1/mechanics/validate:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics~1validate'
  /api/v1/mechanics/conflicts:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics~1conflicts'

  # Game Mechanics Systems Service Integration - enterprise-grade mechanics systems management
  /api/v1/mechanics/systems/health:
    $ref: './game-mechanics-systems-service.yaml#/paths/~1api~1v1~1mechanics~1systems~1health'
  /api/v1/mechanics/systems/health/batch:
    $ref: './game-mechanics-systems-service.yaml#/paths/~1api~1v1~1mechanics~1systems~1health~1batch'
  /api/v1/mechanics/systems/health/ws:
    $ref: './game-mechanics-systems-service.yaml#/paths/~1api~1v1~1mechanics~1systems~1health~1ws'
  /api/v1/mechanics/systems:
    $ref: './game-mechanics-systems-service.yaml#/paths/~1api~1v1~1mechanics~1systems'
  /api/v1/mechanics/systems/{system_id}:
    $ref: './game-mechanics-systems-service.yaml#/paths/~1api~1v1~1mechanics~1systems~1{system_id}'
  /api/v1/mechanics/systems/rules:
    $ref: './game-mechanics-systems-service.yaml#/paths/~1api~1v1~1mechanics~1systems~1rules'
  /api/v1/mechanics/systems/rules/validate:
    $ref: './game-mechanics-systems-service.yaml#/paths/~1api~1v1~1mechanics~1systems~1rules~1validate'
  /api/v1/mechanics/systems/balance/analyze:
    $ref: './game-mechanics-systems-service.yaml#/paths/~1api~1v1~1mechanics~1systems~1balance~1analyze'
  /api/v1/mechanics/systems/balance/optimize:
    $ref: './game-mechanics-systems-service.yaml#/paths/~1api~1v1~1mechanics~1systems~1balance~1optimize'
  /api/v1/mechanics/systems/interactions:
    $ref: './game-mechanics-systems-service.yaml#/paths/~1api~1v1~1mechanics~1systems~1interactions'
  /api/v1/mechanics/systems/analytics/performance:
    $ref: './game-mechanics-systems-service.yaml#/paths/~1api~1v1~1mechanics~1systems~1analytics~1performance'

  # Economy Mechanics Integration
  /api/v1/mechanics/economy/resources/health:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics~1economy~1resources~1health'
  /api/v1/mechanics/economy/trade/health:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics~1economy~1trade~1health'
  /api/v1/mechanics/economy/production/health:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics~1economy~1production~1health'

  # Social Mechanics Integration
  /api/v1/mechanics/social/guilds/health:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics~1social~1guilds~1health'
  /api/v1/mechanics/social/relationships/health:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics~1social~1relationships~1health'
  /api/v1/mechanics/social/reputation/health:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics~1social~1reputation~1health'

  # World Mechanics Integration
  /api/v1/mechanics/world/locations/health:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics~1world~1locations~1health'
  /api/v1/mechanics/world/cities/health:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics~1world~1cities~1health'
  /api/v1/mechanics/world/factions/health:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics~1world~1factions~1health'

  # Combat Mechanics Integration
  /api/v1/mechanics/combat/system/health:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics~1combat~1system~1health'
  /api/v1/mechanics/combat/abilities/health:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics~1combat~1abilities~1health'
  /api/v1/mechanics/combat/weapons/health:
    $ref: './game-mechanics-service.yaml#/paths/~1api~1v1~1mechanics~1combat~1weapons~1health'

  # Weapon Mechanics Integration - advanced weapon systems
  /api/v1/mechanics/weapons/health:
    get:
      summary: Weapon mechanics health check
      description: Health check for weapon mechanics service
      operationId: weaponMechanicsHealthCheck
      tags: [ Weapon Mechanics ]
      security: [ ]
      responses:
        "200":
          description: Weapon mechanics healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        "400":
          $ref: '#/components/responses/BadRequest'

  # Economy Weapon Combinations Integration
  /api/v1/mechanics/economy/weapons/health:
    get:
      summary: Economy weapon combinations health check
      description: Health check for economy weapon combinations service
      operationId: economyWeaponCombinationsHealthCheck
      tags: [ Economy Mechanics ]
      security: [ ]
      responses:
        "200":
          description: Economy weapon combinations healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        "400":
          $ref: '#/components/responses/BadRequest'

  # Gameplay Weapon Special Mechanics Integration
  /api/v1/mechanics/gameplay/weapons/health:
    get:
      summary: Gameplay weapon special mechanics health check
      description: Health check for gameplay weapon special mechanics service
      operationId: gameplayWeaponMechanicsHealthCheck
      tags: [ Gameplay Mechanics ]
      security: [ ]
      responses:
        "200":
          description: Gameplay weapon mechanics healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        "400":
          $ref: '#/components/responses/BadRequest'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Health Response
    HealthResponse:
      type: object
      required: [ status, timestamp, version, service ]
      properties:
        status:
          type: string
          enum: [ healthy, degraded, unhealthy ]
        timestamp:
          type: string
          format: date-time
        version:
          type: string
        service:
          type: string
        details:
          type: object
          additionalProperties:
            type: string
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    Error:
      type: object
      required: [ message, code ]
      properties:
        message:
          type: string
          maxLength: 1000
        code:
          type: integer
          minimum: 100
          maximum: 599
        domain:
          type: string
          maxLength: 255
          default: mechanics
        timestamp:
          type: string
          format: date-time
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    # Game Mechanics Service Integration
    GameMechanic:
      $ref: './game-mechanics-service.yaml#/components/schemas/GameMechanic'
    GameMechanicDetail:
      $ref: './game-mechanics-service.yaml#/components/schemas/GameMechanicDetail'
    MechanicConflict:
      $ref: './game-mechanics-service.yaml#/components/schemas/MechanicConflict'

    # Game Mechanics Systems Service Integration
    MechanicsSystem:
      $ref: './game-mechanics-systems-service.yaml#/components/schemas/MechanicsSystem'
    MechanicsSystemDetail:
      $ref: './game-mechanics-systems-service.yaml#/components/schemas/MechanicsSystemDetail'
    MechanicsRule:
      $ref: './game-mechanics-systems-service.yaml#/components/schemas/MechanicsRule'
    SystemInteraction:
      $ref: './game-mechanics-systems-service.yaml#/components/schemas/SystemInteraction'
    BalanceAnalysisResult:
      $ref: './game-mechanics-systems-service.yaml#/components/schemas/BalanceAnalysisResult'
    BalanceIssue:
      $ref: './game-mechanics-systems-service.yaml#/components/schemas/BalanceIssue'
    BalanceRecommendation:
      $ref: './game-mechanics-systems-service.yaml#/components/schemas/BalanceRecommendation'
    BalanceChange:
      $ref: './game-mechanics-systems-service.yaml#/components/schemas/BalanceChange'
    SystemPerformanceMetrics:
      $ref: './game-mechanics-systems-service.yaml#/components/schemas/SystemPerformanceMetrics'
    PerformanceImpact:
      $ref: './game-mechanics-systems-service.yaml#/components/schemas/PerformanceImpact'
    BalanceValidationResult:
      $ref: './game-mechanics-systems-service.yaml#/components/schemas/BalanceValidationResult'
    RuleValidationIssue:
      $ref: './game-mechanics-systems-service.yaml#/components/schemas/RuleValidationIssue'
    SystemConflict:
      $ref: './game-mechanics-systems-service.yaml#/components/schemas/SystemConflict'


  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

# BACKEND NOTE: All mechanics integrated for enterprise-grade management.
# PERFORMANCE: Centralized mechanics domain with optimized cross-domain integration.
# SCALING: Horizontal scaling across all mechanics domains.
