openapi: 3.0.3
info:
  title: Main Story Core API
  version: 1.0.0
  description: |
    API для главного сюжета игры "Последний выбор человечества" (2090-2093).
    
    Источник: .BRAIN/04-narrative/main-story/NECPGAME-MAIN-STORY-2090-2093.md v1.0.0
    
    Структура: 3 акта + пролог + эпилог (60+ квестов)
    Период: 2090-2093 (3 года игрового времени)
    Длительность: 80-120 часов основной сюжет + 200+ часов побочные
    Философская идея: "Что значит быть человеком?" (Человечность vs Трансгуманизм)
    Концовки: 8+ вариантов
    Life Path: 3 стартовых истории
    
    Вдохновение: BG3 (глубокий выбор), Cyberpunk 2077 (личная драма), Witcher 3 (моральные дилеммы)
    
    ПРИМЕЧАНИЕ: Детали актов в отдельных файлах (prologue, act1, act2, act3, epilogue)

  x-microservice:
    name: narrative-service
    port: 8087
    domain: narrative
    base-path: /api/v1/narrative
    package: com.necpgame.narrativeservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Main Story
    description: Главный сюжет

paths:
  /narrative/main-story/progress:
    get:
      summary: Получить прогресс главного сюжета
      description: |
        Возвращает текущий прогресс игрока в главном сюжете.
        Включает акт, квест, сделанные выборы.
      operationId: getMainStoryProgress
      tags:
        - Main Story
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Прогресс главного сюжета
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MainStoryProgress'
              examples:
                act1_progress:
                  summary: Игрок в Акте 1
                  value:
                    character_id: "char_123"
                    current_act: "act1"
                    current_quest_id: "quest_act1_05"
                    life_path: "corpo"
                    key_choices:
                      - choice_id: "prologue_ending"
                        decision: "trust_fixers"
                    humanity_score: 65
                    endings_unlocked: []

  /narrative/main-story/start:
    post:
      summary: Начать главный сюжет
      description: |
        Начинает главный сюжет с выбранным Life Path.
        Запускает пролог соответствующей истории.
      operationId: startMainStory
      tags:
        - Main Story
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - life_path
              properties:
                character_id:
                  type: string
                life_path:
                  type: string
                  enum: [corpo, street_kid, nomad]
            examples:
              corpo:
                summary: Начать как Corpo
                value:
                  character_id: "char_123"
                  life_path: "corpo"
      responses:
        '200':
          description: Сюжет начат
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  character_id:
                    type: string
                  life_path:
                    type: string
                  prologue_quest_id:
                    type: string
                  starting_location:
                    type: string

  /narrative/main-story/choice:
    post:
      summary: Сделать ключевой выбор
      description: |
        Регистрирует ключевой выбор игрока в сюжете.
        Влияет на развитие сюжета и доступные концовки.
      operationId: makeStoryChoice
      tags:
        - Main Story
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - quest_id
                - choice_id
                - decision
              properties:
                character_id:
                  type: string
                quest_id:
                  type: string
                choice_id:
                  type: string
                decision:
                  type: string
                reasoning:
                  type: string
                  description: Опциональное обоснование выбора
      responses:
        '200':
          description: Выбор зарегистрирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  choice_id:
                    type: string
                  decision:
                    type: string
                  consequences:
                    type: array
                    items:
                      type: string
                  humanity_change:
                    type: number
                  relationships_affected:
                    type: array
                    items:
                      type: object

  /narrative/main-story/endings:
    get:
      summary: Получить доступные концовки
      description: |
        Возвращает список концовок, доступных на основе выборов игрока.
      operationId: getAvailableEndings
      tags:
        - Main Story
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Доступные концовки
          content:
            application/json:
              schema:
                type: object
                properties:
                  character_id:
                    type: string
                  available_endings:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ending'

  /narrative/main-story/humanity:
    get:
      summary: Получить шкалу человечности
      description: |
        Возвращает текущее значение шкалы "Человечность vs Трансгуманизм".
        Влияет на доступные выборы и концовки.
      operationId: getHumanityScore
      tags:
        - Main Story
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Шкала человечности
          content:
            application/json:
              schema:
                type: object
                properties:
                  character_id:
                    type: string
                  humanity_score:
                    type: number
                    minimum: 0
                    maximum: 100
                    description: 0 = Трансгуманизм, 100 = Человечность
                  alignment:
                    type: string
                    enum: [transhumanist, neutral, humanist]
                  key_moments:
                    type: array
                    description: Моменты, повлиявшие на шкалу
                    items:
                      type: object

components:
  schemas:
    MainStoryProgress:
      type: object
      properties:
        character_id:
          type: string
        current_act:
          type: string
          enum: [prologue, act1, act2, act3, epilogue]
        current_quest_id:
          type: string
        life_path:
          type: string
          enum: [corpo, street_kid, nomad]
        key_choices:
          type: array
          items:
            type: object
            properties:
              choice_id:
                type: string
              decision:
                type: string
        humanity_score:
          type: number
        endings_unlocked:
          type: array
          items:
            type: string

    Ending:
      type: object
      properties:
        ending_id:
          type: string
        name:
          type: string
        description:
          type: string
        requirements:
          type: array
          items:
            type: string
        unlocked:
          type: boolean


