openapi: 3.0.3
info:
  title: Inventory Storage Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Inventory Storage API for NECPGAME**

    This API manages player inventory storage, item organization, capacity management,
    and storage optimization for the cyberpunk RPG experience.

    ## Key Features

    - **Storage Management**: Multi-level inventory organization and categorization
    - **Capacity Optimization**: Dynamic storage expansion and weight management -
    **Item Organization**: Smart sorting, filtering, and search capabilities - **Storage
    Security**: Item protection and anti-theft mechanisms - **Performance Optimized**:
    MMOFPS-grade performance with <50ms P99 latency

    ## Domain Purpose

    The Inventory Storage domain handles all aspects of item storage and organization
    in Night City. Players manage their gear, weapons, implants, and collected items
    through an intuitive storage system with advanced organization features.

    ## Performance Targets

    - P99 Latency: <50ms for inventory operations - Memory: <30KB per active player
    inventory - Concurrent users: 100,000+ simultaneous inventory accesses - Storage
    operations: <15ms response time

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/inventory-storage
  description: Production server
- url: https://staging-api.necpgame.com/v1/inventory-storage
  description: Staging server
- url: http://localhost:8080/api/v1/inventory-storage
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Inventory Storage
  description: Core inventory storage operations
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /inventory/{userId}:
    $ref: ./paths/inventory-{userId}.yaml#/paths/~1inventory~1{userId}
  /inventory/{userId}/items:
    $ref: ./paths/inventory-{userId}-items.yaml#/paths/~1inventory~1{userId}~1items
  /inventory/{userId}/capacity:
    $ref: ./paths/inventory-{userId}-capacity.yaml#/paths/~1inventory~1{userId}~1capacity
components:
  schemas:
    InventoryResponse:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/InventoryResponse
    InventoryCapacity:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/InventoryCapacity
    InventoryItem:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/InventoryItem
    InventorySettings:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/InventorySettings
    InventoryMetadata:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/InventoryMetadata
    UpdateInventorySettingsRequest:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/UpdateInventorySettingsRequest
    InventorySettingsResponse:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/InventorySettingsResponse
    AddItemsRequest:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/AddItemsRequest
    AddItemEntry:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/AddItemEntry
    AddItemsResponse:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/AddItemsResponse
    AddedItemResult:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/AddedItemResult
    RemoveItemsRequest:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/RemoveItemsRequest
    RemoveItemEntry:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/RemoveItemEntry
    RemoveItemsResponse:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/RemoveItemsResponse
    RemovedItemResult:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/RemovedItemResult
    InventoryCapacityResponse:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/InventoryCapacityResponse
    ExpansionOption:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/ExpansionOption
    ExpandCapacityRequest:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/ExpandCapacityRequest
    ExpandCapacityResponse:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/ExpandCapacityResponse
    WebSocketHealthMessage:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/WebSocketHealthMessage
    Error:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/Error
    HealthResponse:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/HealthResponse
    PaginationMeta:
      $ref: ./schemas/inventory-storage-service-schemas.yaml#/components/schemas/PaginationMeta
  responses:
    HealthBatchSuccess:
      $ref: ./schemas/inventory-storage-service-responses.yaml#/components/responses/HealthBatchSuccess
    InventoryRetrieved:
      $ref: ./schemas/inventory-storage-service-responses.yaml#/components/responses/InventoryRetrieved
    InventoryUpdated:
      $ref: ./schemas/inventory-storage-service-responses.yaml#/components/responses/InventoryUpdated
    ItemsAdded:
      $ref: ./schemas/inventory-storage-service-responses.yaml#/components/responses/ItemsAdded
    ItemsRemoved:
      $ref: ./schemas/inventory-storage-service-responses.yaml#/components/responses/ItemsRemoved
    CapacityRetrieved:
      $ref: ./schemas/inventory-storage-service-responses.yaml#/components/responses/CapacityRetrieved
    CapacityExpanded:
      $ref: ./schemas/inventory-storage-service-responses.yaml#/components/responses/CapacityExpanded
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
