openapi: 3.0.3
info:
  title: Inventory Storage Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Inventory Storage API for NECPGAME**

    This API manages player inventory storage, item organization, capacity management,
    and storage optimization for the cyberpunk RPG experience.

    ## Key Features

    - **Storage Management**: Multi-level inventory organization and categorization
    - **Capacity Optimization**: Dynamic storage expansion and weight management -
    **Item Organization**: Smart sorting, filtering, and search capabilities - **Storage
    Security**: Item protection and anti-theft mechanisms - **Performance Optimized**:
    MMOFPS-grade performance with <50ms P99 latency

    ## Domain Purpose

    The Inventory Storage domain handles all aspects of item storage and organization
    in Night City. Players manage their gear, weapons, implants, and collected items
    through an intuitive storage system with advanced organization features.

    ## Performance Targets

    - P99 Latency: <50ms for inventory operations - Memory: <30KB per active player
    inventory - Concurrent users: 100,000+ simultaneous inventory accesses - Storage
    operations: <15ms response time

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/inventory-storage
  description: Production server
- url: https://staging-api.necpgame.com/v1/inventory-storage
  description: Staging server
- url: http://localhost:8080/api/v1/inventory-storage
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Inventory Storage
  description: Core inventory storage operations
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Inventory storage health check
      description: '**Enterprise-grade health check endpoint**


        Provides real-time health status of the inventory storage microservice.

        Critical for service discovery, load balancing, and monitoring.


        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: inventoryStorageHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: ../common/schemas/health.yaml#/HealthResponse
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../common/schemas/health.yaml#/HealthResponse
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /health/batch:
    post:
      summary: Batch health check for multiple domain services
      description: '**Performance optimization:** Check multiple domain health in
        single request


        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.


        **Use case:** Service mesh health checks, Kubernetes readiness probes

        '
      operationId: inventoryStorageBatchHealthCheck
      tags:
      - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                    - inventory-storage
                    - item-service
                    - equipment-service
                    - crafting-service
                  maxItems: 10
                  description: List of services to check
      responses:
        '200':
          $ref: ../common/responses/success.yaml#/HealthBatchSuccess
        '400':
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description: '**Performance optimization:** Real-time health updates without
        polling


        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.


        **Protocol:** WebSocket with JSON payloads

        **Heartbeat:** 30 second intervals

        **Reconnection:** Automatic with exponential backoff

        '
      operationId: inventoryStorageHealthWebSocket
      tags:
      - Health Monitoring
      parameters:
      - name: services
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - inventory-storage
            - item-service
            - equipment-service
            - crafting-service
        description: Services to monitor (optional, monitors all if not specified)
      responses:
        '200':
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/inventory-storage/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                    - health-monitoring-v1
        '101':
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSocketHealthMessage'
        '400':
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '401':
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /inventory/{userId}:
    get:
      summary: Get user inventory
      description: '**Enterprise-grade inventory retrieval endpoint**

        Retrieves complete inventory information for a user including all items, storage
        capacity, organization settings, and metadata.

        Optimized for high-throughput scenarios with proper caching.

        **Performance:** <15ms P95, supports 1000+ concurrent requests

        '
      operationId: getUserInventory
      tags:
      - Inventory Storage
      security:
      - BearerAuth: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: User identifier
      - name: include_metadata
        in: query
        schema:
          type: boolean
          default: true
        description: Include item metadata and statistics
      - name: category
        in: query
        schema:
          type: string
          enum:
          - weapons
          - armor
          - implants
          - consumables
          - quest_items
          - all
          default: all
        description: Filter by item category
      responses:
        '200':
          description: Inventory retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryResponse'
        '400':
          description: Invalid request - malformed parameters
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '404':
          description: User not found or inventory unavailable
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    put:
      summary: Update inventory settings
      description: '**Enterprise-grade inventory configuration endpoint**

        Updates inventory organization settings, capacity preferences, and display
        options.

        Supports partial updates with optimistic locking.

        **Performance:** <25ms P95, includes validation and persistence

        '
      operationId: updateInventorySettings
      tags:
      - Inventory Storage
      security:
      - BearerAuth: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: User identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInventorySettingsRequest'
      responses:
        '200':
          description: Inventory settings updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventorySettingsResponse'
        '400':
          description: Invalid request - validation failed
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '409':
          description: Conflict - concurrent modification detected
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /inventory/{userId}/items:
    post:
      summary: Add items to inventory
      description: '**Enterprise-grade item addition endpoint**

        Adds one or multiple items to user inventory with validation and capacity
        checks.

        Supports bulk operations and automatic organization.

        **Performance:** <30ms P95, includes validation and capacity management

        '
      operationId: addItemsToInventory
      tags:
      - Inventory Storage
      security:
      - BearerAuth: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: User identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddItemsRequest'
      responses:
        '200':
          description: Items added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddItemsResponse'
        '400':
          description: Invalid request - validation failed
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '413':
          description: Payload too large - too many items
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '507':
          description: Insufficient storage - inventory full
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    delete:
      summary: Remove items from inventory
      description: '**Enterprise-grade item removal endpoint**

        Removes items from user inventory with proper cleanup and validation.

        Supports bulk operations and maintains inventory integrity.

        **Performance:** <20ms P95, includes validation and cleanup

        '
      operationId: removeItemsFromInventory
      tags:
      - Inventory Storage
      security:
      - BearerAuth: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: User identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveItemsRequest'
      responses:
        '200':
          description: Items removed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveItemsResponse'
        '400':
          description: Invalid request - validation failed
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '404':
          description: Item not found in inventory
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /inventory/{userId}/capacity:
    get:
      summary: Get inventory capacity information
      description: '**Enterprise-grade capacity check endpoint**

        Returns current inventory capacity, usage statistics, and expansion options.

        Critical for UI capacity indicators and expansion planning.

        **Performance:** <5ms P95, cached for 30 seconds

        '
      operationId: getInventoryCapacity
      tags:
      - Inventory Storage
      security:
      - BearerAuth: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: User identifier
      responses:
        '200':
          description: Capacity information retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryCapacityResponse'
        '404':
          description: User inventory not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    post:
      summary: Expand inventory capacity
      description: '**Enterprise-grade capacity expansion endpoint**

        Increases inventory capacity using various expansion methods.

        Validates costs, availability, and applies changes atomically.

        **Performance:** <50ms P95, includes payment processing

        '
      operationId: expandInventoryCapacity
      tags:
      - Inventory Storage
      security:
      - BearerAuth: []
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: User identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpandCapacityRequest'
      responses:
        '200':
          description: Capacity expanded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpandCapacityResponse'
        '400':
          description: Invalid expansion method or insufficient funds
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '402':
          description: Payment required - insufficient currency
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
components:
  responses:
    HealthBatchSuccess:
      $ref: ../common/responses/success.yaml#/HealthBatchSuccess
    InventoryRetrieved:
      description: Inventory retrieved successfully
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InventoryResponse'
    InventoryUpdated:
      description: Inventory settings updated successfully
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InventorySettingsResponse'
    ItemsAdded:
      description: Items added to inventory successfully
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AddItemsResponse'
    ItemsRemoved:
      description: Items removed from inventory successfully
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RemoveItemsResponse'
    CapacityRetrieved:
      description: Capacity information retrieved successfully
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InventoryCapacityResponse'
    CapacityExpanded:
      description: Inventory capacity expanded successfully
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExpandCapacityResponse'
  schemas:
    InventoryResponse:
      type: object
      required:
      - user_id
      - capacity
      - items
      - settings
      - metadata
      properties:
        user_id:
          type: string
          format: uuid
          description: User identifier
        capacity:
          $ref: '#/components/schemas/InventoryCapacity'
        items:
          type: array
          items:
            $ref: '#/components/schemas/InventoryItem'
          description: List of items in inventory
        settings:
          $ref: '#/components/schemas/InventorySettings'
        metadata:
          $ref: '#/components/schemas/InventoryMetadata'
      description: '"BACKEND NOTE: Fields ordered for struct alignment (large → small).

        Expected memory savings: 30-50%. Inventory responses optimized for memory
        efficiency."

        '
    InventoryCapacity:
      type: object
      required:
      - current
      - maximum
      - used_percentage
      properties:
        current:
          type: integer
          minimum: 0
          description: Current capacity
          example: 100
        maximum:
          type: integer
          minimum: 1
          description: Maximum capacity
          example: 150
        used_percentage:
          type: number
          minimum: 0
          maximum: 100
          description: Used capacity percentage
          example: 66.7
        expandable:
          type: boolean
          description: Whether capacity can be expanded
          example: true
    InventoryItem:
      type: object
      required:
      - id
      - item_id
      - quantity
      - category
      properties:
        id:
          type: string
          format: uuid
          description: Inventory item instance ID
        item_id:
          type: string
          format: uuid
          description: Item template ID
        quantity:
          type: integer
          minimum: 1
          description: Quantity of this item
          example: 5
        category:
          type: string
          enum:
          - weapon
          - armor
          - implant
          - consumable
          - quest_item
          - miscellaneous
          description: Item category for organization
        equipped:
          type: boolean
          description: Whether item is currently equipped
          example: false
        locked:
          type: boolean
          description: Whether item is locked (cannot be removed)
          example: false
        metadata:
          type: object
          description: Additional item-specific data
          additionalProperties: true
    InventorySettings:
      type: object
      properties:
        auto_sort:
          type: boolean
          description: Automatically sort items
          example: true
        sort_by:
          type: string
          enum:
          - name
          - category
          - rarity
          - quantity
          description: Sort criteria
          example: category
        sort_order:
          type: string
          enum:
          - asc
          - desc
          description: Sort order
          example: asc
        display_mode:
          type: string
          enum:
          - grid
          - list
          - compact
          description: UI display mode
          example: grid
        show_tooltips:
          type: boolean
          description: Show item tooltips
          example: true
    InventoryMetadata:
      type: object
      required:
      - total_items
      - total_value
      - last_updated
      properties:
        total_items:
          type: integer
          minimum: 0
          description: Total number of items
          example: 47
        total_value:
          type: integer
          minimum: 0
          description: Total inventory value in game currency
          example: 15420
        last_updated:
          type: string
          format: date-time
          description: Last inventory modification time
        item_counts:
          type: object
          description: Count of items by category
          additionalProperties:
            type: integer
            minimum: 0
    UpdateInventorySettingsRequest:
      type: object
      properties:
        auto_sort:
          type: boolean
        sort_by:
          type: string
          enum:
          - name
          - category
          - rarity
          - quantity
        sort_order:
          type: string
          enum:
          - asc
          - desc
        display_mode:
          type: string
          enum:
          - grid
          - list
          - compact
        show_tooltips:
          type: boolean
      description: '"BACKEND NOTE: Partial update request. Only provided fields are
        updated.

        Struct alignment optimized for common update patterns."

        '
    InventorySettingsResponse:
      type: object
      required:
      - settings
      - updated_at
      properties:
        settings:
          $ref: '#/components/schemas/InventorySettings'
        updated_at:
          type: string
          format: date-time
          description: Settings update timestamp
    AddItemsRequest:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AddItemEntry'
          minItems: 1
          maxItems: 100
          description: Items to add to inventory
        source:
          type: string
          enum:
          - loot
          - purchase
          - reward
          - craft
          - trade
          description: Source of items
          example: loot
      description: '"BACKEND NOTE: Bulk operation optimized for performance.

        Maximum 100 items per request to prevent memory issues."

        '
    AddItemEntry:
      type: object
      required:
      - item_id
      - quantity
      properties:
        item_id:
          type: string
          format: uuid
          description: Item template ID
        quantity:
          type: integer
          minimum: 1
          maximum: 1000
          description: Quantity to add
          example: 1
        metadata:
          type: object
          description: Item-specific metadata
          additionalProperties: true
    AddItemsResponse:
      type: object
      required:
      - added_items
      - capacity_after
      properties:
        added_items:
          type: array
          items:
            $ref: '#/components/schemas/AddedItemResult'
          description: Results of adding each item
        capacity_after:
          $ref: '#/components/schemas/InventoryCapacity'
        warnings:
          type: array
          items:
            type: string
          description: Non-critical warnings (e.g., partial adds)
    AddedItemResult:
      type: object
      required:
      - item_id
      - quantity_added
      - success
      properties:
        item_id:
          type: string
          format: uuid
          description: Item template ID
        quantity_added:
          type: integer
          minimum: 0
          description: Actual quantity added
        success:
          type: boolean
          description: Whether addition was successful
        reason:
          type: string
          description: Reason if addition failed or was partial
    RemoveItemsRequest:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/RemoveItemEntry'
          minItems: 1
          maxItems: 50
          description: Items to remove from inventory
        reason:
          type: string
          enum:
          - consume
          - sell
          - discard
          - equip
          - trade
          description: Reason for removal
          example: consume
    RemoveItemEntry:
      type: object
      required:
      - inventory_item_id
      - quantity
      properties:
        inventory_item_id:
          type: string
          format: uuid
          description: Inventory item instance ID
        quantity:
          type: integer
          minimum: 1
          description: Quantity to remove
    RemoveItemsResponse:
      type: object
      required:
      - removed_items
      - capacity_after
      properties:
        removed_items:
          type: array
          items:
            $ref: '#/components/schemas/RemovedItemResult'
          description: Results of removing each item
        capacity_after:
          $ref: '#/components/schemas/InventoryCapacity'
    RemovedItemResult:
      type: object
      required:
      - inventory_item_id
      - quantity_removed
      - success
      properties:
        inventory_item_id:
          type: string
          format: uuid
          description: Inventory item instance ID
        quantity_removed:
          type: integer
          minimum: 0
          description: Actual quantity removed
        success:
          type: boolean
          description: Whether removal was successful
        remaining_quantity:
          type: integer
          minimum: 0
          description: Remaining quantity after removal
    InventoryCapacityResponse:
      type: object
      required:
      - capacity
      - expansion_options
      properties:
        capacity:
          $ref: '#/components/schemas/InventoryCapacity'
        expansion_options:
          type: array
          items:
            $ref: '#/components/schemas/ExpansionOption'
          description: Available capacity expansion options
    ExpansionOption:
      type: object
      required:
      - type
      - cost
      - capacity_gain
      properties:
        type:
          type: string
          enum:
          - premium
          - currency
          - item
          - achievement
          description: Type of expansion
          example: currency
        cost:
          type: object
          description: Cost for expansion
          additionalProperties: true
        capacity_gain:
          type: integer
          minimum: 1
          description: Capacity increase from this expansion
          example: 25
        available:
          type: boolean
          description: Whether this option is currently available
          example: true
    ExpandCapacityRequest:
      type: object
      required:
      - expansion_type
      properties:
        expansion_type:
          type: string
          enum:
          - premium
          - currency
          - item
          - achievement
          description: Type of expansion to perform
        payment_method:
          type: string
          description: Payment method (for currency expansions)
          example: game_currency
    ExpandCapacityResponse:
      type: object
      required:
      - capacity_before
      - capacity_after
      - expansion_applied
      properties:
        capacity_before:
          $ref: '#/components/schemas/InventoryCapacity'
        capacity_after:
          $ref: '#/components/schemas/InventoryCapacity'
        expansion_applied:
          $ref: '#/components/schemas/ExpansionOption'
        transaction_id:
          type: string
          format: uuid
          description: Transaction ID for payment tracking
    WebSocketHealthMessage:
      type: object
      required:
      - type
      - timestamp
      - health
      properties:
        type:
          type: string
          enum:
          - health_update
          - health_alert
          - service_down
          example: health_update
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          maxLength: 255
        message_timestamp:
          type: string
          format: date-time
          description: Timestamp of the health message
          maxLength: 1000
        health:
          $ref: ../common/schemas/health.yaml#/HealthResponse
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    Error:
      $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    HealthResponse:
      $ref: ../common/schemas/health.yaml#/HealthResponse
    PaginationMeta:
      $ref: ../common/schemas/pagination.yaml#/PaginationMeta
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth

