x-target-architecture:
  microservices:
    - name: world-service
      port: 8086
    - name: gameplay-service
      port: 8083
  apiBase:
    - /world
    - /progression
  dependencies:
    - economy-service
    - social-service
    - notification-service
    - analytics-service
    - realtime-service
    - quest-service
  frontendModules:
    - modules/world/state
    - modules/progression/action-xp
  uiComponents:
    - WorldChronicleFeed
    - FactionControlMap
    - LogisticsRouteBoard
    - BaseManagementPanel
    - ActionXpMeter
    - FatigueWarningBanner
  forms:
    - ControlShiftForm
    - LogisticsRouteForm
    - BaseUpgradeForm
    - ActionXpRestForm
  hooks:
    - useWorldChronicle
    - useFactionControl
    - useLogisticsRoutes
    - useActionXpSummary
    - useFatigueAlerts
openapi: 3.0.3
info:
  title: Living World & Action XP API
  version: 1.0.0
  description: |
    Контракты `world-service` и `gameplay-service` для симуляции живого мира,
    управления фракционным контролем, логистическими маршрутами и гибридной
    прокачкой Action XP с учётом усталости. Источник: `.BRAIN/02-gameplay/world/world-state/living-world-kenshi-hybrid.md`
    v0.2.0 (review, api-readiness: ready).
  x-microservice:
    name: world-service
    port: 8086
    domain: world
    base-path: /api/v1/world
    package: com.necpgame.worldservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - name: Faction Control
    description: Управление сменой власти и состоянием регионов
  - name: Settlements
    description: Базы игроков и их развитие
  - name: Logistics
    description: Логистические маршруты и безопасность
  - name: Squads
    description: Автономные отряды и их маршрутизация
  - name: Chronicle
    description: Хроника мира, события и подписки
  - name: Action XP
    description: Начисление Action XP и управление усталостью
  - name: Metrics
    description: Метрики живого мира и аналитика
  - name: Maintenance
    description: Административное управление симуляцией
paths:
  /world/factions/{factionId}/control:
    parameters:
      - $ref: './schemas/living-world-components.yaml#/components/parameters/FactionId'
    get:
      summary: Получить контроль фракции в регионах
      description: Возвращает контрольные показатели выбранной фракции по регионам с возможностью фильтрации.
      operationId: getFactionControl
      tags: [Faction Control]
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/RegionId'
      responses:
        '200':
          description: Состояние контроля фракции
          content:
            application/json:
              schema:
                $ref: './schemas/living-world-components.yaml#/components/schemas/FactionControl'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
  /world/factions/control-shift:
    post:
      summary: Инициировать смену контроля региона
      description: Планирует смену власти в регионе при выполнении условий (триггер, накопленное влияние, подтверждение аналитикой).
      operationId: initiateControlShift
      tags: [Faction Control]
      x-required-scopes:
        - living-world:manage
      security:
        - BearerAuth: []
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/IdempotencyKeyHeader'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/AuditIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/living-world-components.yaml#/components/schemas/ControlShiftRequest'
            examples:
              leaderDeath:
                $ref: './schemas/living-world-components.yaml#/components/examples/ControlShiftLeaderDeath'
      responses:
        '202':
          description: Смена контроля запланирована
          content:
            application/json:
              schema:
                $ref: './schemas/living-world-components.yaml#/components/schemas/ControlShiftResponse'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
  /world/settlements:
    get:
      summary: Получить список поселений и баз
      description: Возвращает перечень баз игроков и фракций с их статусами, экономикой и активными угрозами.
      operationId: listSettlements
      tags: [Settlements]
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/OwnerFactionQuery'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/SettlementStatusQuery'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/SettlementTierQuery'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Список поселений
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: './schemas/living-world-components.yaml#/components/schemas/Settlement'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
  /world/settlements/{settlementId}:
    parameters:
      - $ref: './schemas/living-world-components.yaml#/components/parameters/SettlementId'
    get:
      summary: Получить информацию о поселении
      operationId: getSettlement
      tags: [Settlements]
      responses:
        '200':
          description: Детали поселения
          content:
            application/json:
              schema:
                $ref: './schemas/living-world-components.yaml#/components/schemas/Settlement'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
    patch:
      summary: Обновить статус поселения
      description: Позволяет повысить статус базы, обновить оборону и логистические приоритеты с учётом требований.
      operationId: updateSettlement
      tags: [Settlements]
      x-required-scopes:
        - living-world:manage
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/IdempotencyKeyHeader'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/AuditIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/living-world-components.yaml#/components/schemas/SettlementUpdateRequest'
      responses:
        '200':
          description: Поселение обновлено
          content:
            application/json:
              schema:
                $ref: './schemas/living-world-components.yaml#/components/schemas/Settlement'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
  /world/logistics/routes:
    get:
      summary: Получить логистические маршруты
      description: Возвращает активные и архивные маршруты с фильтрацией по типу, статусу и владельцу.
      operationId: listLogisticsRoutes
      tags: [Logistics]
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/RouteTypeQuery'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/RouteStatusQuery'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/OwnerFactionQuery'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Список маршрутов
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: './schemas/living-world-components.yaml#/components/schemas/LogisticsRoute'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
    post:
      summary: Создать логистический маршрут
      description: Планирует новый маршрут с расчётом ETA, охраны и требований к ресурсам.
      operationId: createLogisticsRoute
      tags: [Logistics]
      x-required-scopes:
        - living-world:manage
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/IdempotencyKeyHeader'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/AuditIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/living-world-components.yaml#/components/schemas/LogisticsRouteCreateRequest'
      responses:
        '201':
          description: Маршрут создан
          content:
            application/json:
              schema:
                $ref: './schemas/living-world-components.yaml#/components/schemas/LogisticsRoute'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
  /world/logistics/routes/{routeId}:
    parameters:
      - $ref: './schemas/living-world-components.yaml#/components/parameters/RouteId'
    get:
      summary: Получить детали маршрута
      operationId: getLogisticsRoute
      tags: [Logistics]
      responses:
        '200':
          description: Детали маршрута
          content:
            application/json:
              schema:
                $ref: './schemas/living-world-components.yaml#/components/schemas/LogisticsRoute'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
    patch:
      summary: Обновить статус маршрута
      description: Обновляет статус маршрута, угрозы и назначенные отряды при перехватах или сопровождении.
      operationId: updateLogisticsRoute
      tags: [Logistics]
      x-required-scopes:
        - living-world:manage
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/IdempotencyKeyHeader'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/AuditIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/living-world-components.yaml#/components/schemas/LogisticsRouteUpdateRequest'
      responses:
        '200':
          description: Маршрут обновлён
          content:
            application/json:
              schema:
                $ref: './schemas/living-world-components.yaml#/components/schemas/LogisticsRoute'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
  /world/squads:
    get:
      summary: Получить активные автономные отряды
      description: Возвращает список отрядов с маршрутами, миссиями и ETA.
      operationId: listAutonomousSquads
      tags: [Squads]
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/SquadMissionQuery'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/RegionId'
      responses:
        '200':
          description: Список отрядов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './schemas/living-world-components.yaml#/components/schemas/AutonomousSquad'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
    post:
      summary: Зарегистрировать автономный отряд
      description: Регистрирует новый отряд симуляции или игроков для сопровождения маршрутов.
      operationId: registerAutonomousSquad
      tags: [Squads]
      x-required-scopes:
        - living-world:manage
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/IdempotencyKeyHeader'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/AuditIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/living-world-components.yaml#/components/schemas/AutonomousSquadCreateRequest'
      responses:
        '201':
          description: Отряд создан
          content:
            application/json:
              schema:
                $ref: './schemas/living-world-components.yaml#/components/schemas/AutonomousSquad'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
  /world/squads/{squadId}:
    parameters:
      - $ref: './schemas/living-world-components.yaml#/components/parameters/SquadId'
    patch:
      summary: Обновить состояние отряда
      description: Фиксирует текущее положение, угрозы и связь с маршрутом для аналитики и уведомлений.
      operationId: updateAutonomousSquad
      tags: [Squads]
      x-required-scopes:
        - living-world:manage
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/IdempotencyKeyHeader'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/AuditIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/living-world-components.yaml#/components/schemas/AutonomousSquadUpdateRequest'
      responses:
        '200':
          description: Отряд обновлён
          content:
            application/json:
              schema:
                $ref: './schemas/living-world-components.yaml#/components/schemas/AutonomousSquad'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
  /world/chronicle:
    get:
      summary: Получить хронику мира
      description: Возвращает поток событий с курсором, типами и регионами для фронтенда и уведомлений.
      operationId: getWorldChronicle
      tags: [Chronicle]
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/CursorQuery'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/LimitQuery'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/ChronicleEventTypeQuery'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/RegionId'
      responses:
        '200':
          description: Лента хроники
          content:
            application/json:
              schema:
                $ref: './schemas/living-world-components.yaml#/components/schemas/ChronicleFeed'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
  /world/chronicle/subscriptions:
    get:
      summary: Получить активные подписки
      operationId: listChronicleSubscriptions
      tags: [Chronicle]
      responses:
        '200':
          description: Подписки пользователя или гильдии
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './schemas/living-world-components.yaml#/components/schemas/ChronicleSubscription'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
    post:
      summary: Создать подписку на хронику
      description: Регистрирует подписку игрока или гильдии на события регионов, типов или логистических маршрутов.
      operationId: createChronicleSubscription
      tags: [Chronicle]
      x-required-scopes:
        - chronicle:subscribe
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/living-world-components.yaml#/components/schemas/ChronicleSubscriptionRequest'
      responses:
        '201':
          description: Подписка создана
          content:
            application/json:
              schema:
                $ref: './schemas/living-world-components.yaml#/components/schemas/ChronicleSubscription'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
  /world/chronicle/subscriptions/{subscriptionId}:
    parameters:
      - $ref: './schemas/living-world-components.yaml#/components/parameters/SubscriptionId'
    delete:
      summary: Отменить подписку на хронику
      operationId: deleteChronicleSubscription
      tags: [Chronicle]
      x-required-scopes:
        - chronicle:subscribe
      responses:
        '204':
          description: Подписка отменена
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /world/living-world/metrics:
    get:
      summary: Получить метрики живого мира
      description: >
        Возвращает контрольные показатели мира: частота смен власти, перегруз Action XP,
        безопасность маршрутов.
      operationId: getLivingWorldMetrics
      tags: [Metrics]
      x-required-scopes:
        - living-world:read
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/MetricsWindowQuery'
      responses:
        '200':
          description: Метрики живого мира
          content:
            application/json:
              schema:
                $ref: './schemas/living-world-components.yaml#/components/schemas/LivingWorldMetricsResponse'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
  /world/living-world/maintenance/pause:
    post:
      summary: Приостановить симуляцию живого мира
      description: Используется администраторами для остановки симуляции при критических патчах или сбоях.
      operationId: pauseLivingWorld
      tags: [Maintenance]
      x-required-scopes:
        - living-world:manage
      security:
        - ServiceToken: []
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/IdempotencyKeyHeader'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/AuditIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/living-world-components.yaml#/components/schemas/MaintenanceCommandRequest'
      responses:
        '202':
          description: Симуляция поставлена на паузу
          content:
            application/json:
              schema:
                $ref: './schemas/living-world-components.yaml#/components/schemas/MaintenanceCommandResponse'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
  /world/living-world/maintenance/resume:
    post:
      summary: Возобновить симуляцию живого мира
      description: Возобновляет все фоновые процессы после паузы, синхронизируя очереди событий и отряды.
      operationId: resumeLivingWorld
      tags: [Maintenance]
      x-required-scopes:
        - living-world:manage
      security:
        - ServiceToken: []
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/IdempotencyKeyHeader'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/AuditIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/living-world-components.yaml#/components/schemas/MaintenanceCommandRequest'
      responses:
        '202':
          description: Симуляция возобновлена
          content:
            application/json:
              schema:
                $ref: './schemas/living-world-components.yaml#/components/schemas/MaintenanceCommandResponse'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
  /progression/action-xp:
    post:
      summary: Батчевое начисление Action XP
      description: Принимает пакет начислений Action XP с учётом множителей активности и индекса усталости.
      operationId: postActionXpBatch
      tags: [Action XP]
      x-required-scopes:
        - action-xp:write
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/IdempotencyKeyHeader'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/AuditIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/living-world-components.yaml#/components/schemas/ActionXpBatchRequest'
      responses:
        '200':
          description: Action XP начислено
          content:
            application/json:
              schema:
                $ref: './schemas/living-world-components.yaml#/components/schemas/ActionXpBatchResponse'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
  /progression/action-xp/summary:
    get:
      summary: Получить сводку Action XP
      description: Возвращает дневные лимиты, fatigue modifier и прогресс soft cap для персонажа и навыка.
      operationId: getActionXpSummary
      tags: [Action XP]
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/CharacterIdQuery'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/SkillIdQuery'
      responses:
        '200':
          description: Сводка Action XP
          content:
            application/json:
              schema:
                $ref: './schemas/living-world-components.yaml#/components/schemas/ActionXpSummary'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /progression/action-xp/metrics:
    get:
      summary: Получить метрики Action XP
      description: Предоставляет агрегированные показатели Action XP по навыкам, типам активностей и усталости.
      operationId: getActionXpMetrics
      tags: [Action XP]
      x-required-scopes:
        - living-world:read
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/MetricsWindowQuery'
      responses:
        '200':
          description: Метрики Action XP
          content:
            application/json:
              schema:
                $ref: './schemas/living-world-components.yaml#/components/schemas/ActionXpMetrics'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /progression/fatigue/reset:
    post:
      summary: Сброс усталости по навыку
      description: Сбрасывает усталость навыка с применением экономических предметов или административных полномочий.
      operationId: resetFatigue
      tags: [Action XP]
      x-required-scopes:
        - action-xp:write
      parameters:
        - $ref: './schemas/living-world-components.yaml#/components/parameters/IdempotencyKeyHeader'
        - $ref: './schemas/living-world-components.yaml#/components/parameters/AuditIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/living-world-components.yaml#/components/schemas/FatigueResetRequest'
      responses:
        '200':
          description: Усталость сброшена
          content:
            application/json:
              schema:
                $ref: './schemas/living-world-components.yaml#/components/schemas/SkillFatigue'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
x-kafka-topics:
  bootstrapServers: kafka+ssl://kafka.internal.necpgame:9093
  topics:
    world.faction.controlShifted:
      summary: Смена контроля региона
      payload:
        $ref: './schemas/living-world-components.yaml#/components/schemas/ControlShiftEvent'
    world.logistics.routeCreated:
      summary: Создан логистический маршрут
      payload:
        $ref: './schemas/living-world-components.yaml#/components/schemas/LogisticsRouteEvent'
    world.squad.spawned:
      summary: Создан автономный отряд
      payload:
        $ref: './schemas/living-world-components.yaml#/components/schemas/AutonomousSquadEvent'
    gameplay.actionXp.gained:
      summary: Начислен Action XP
      payload:
        $ref: './schemas/living-world-components.yaml#/components/schemas/ActionXpEvent'
    gameplay.actionXp.softCapReached:
      summary: Достигнут мягкий лимит Action XP
      payload:
        $ref: './schemas/living-world-components.yaml#/components/schemas/ActionXpSoftCapEvent'
x-websocket:
  url: wss://api.necp.game/v1/world/chronicle/stream
  description: Реалтайм поток событий хроники мира и статусов маршрутов.
  messages:
    chronicleEvent:
      summary: Событие хроники
      payload:
        $ref: './schemas/living-world-components.yaml#/components/schemas/ChronicleEvent'
    logisticsAlert:
      summary: Предупреждение по маршруту
      payload:
        $ref: './schemas/living-world-components.yaml#/components/schemas/LogisticsAlertEvent'
    fatigueWarning:
      summary: Достижение soft cap Action XP
      payload:
        $ref: './schemas/living-world-components.yaml#/components/schemas/ActionXpSoftCapEvent'
components:
  securitySchemes:
    BearerAuth: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth' }
    ServiceToken: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/ServiceToken' }
  parameters:
    FactionId: { $ref: './schemas/living-world-components.yaml#/components/parameters/FactionId' }
    RegionId: { $ref: './schemas/living-world-components.yaml#/components/parameters/RegionId' }
    SettlementId: { $ref: './schemas/living-world-components.yaml#/components/parameters/SettlementId' }
    RouteId: { $ref: './schemas/living-world-components.yaml#/components/parameters/RouteId' }
    SquadId: { $ref: './schemas/living-world-components.yaml#/components/parameters/SquadId' }
    SubscriptionId: { $ref: './schemas/living-world-components.yaml#/components/parameters/SubscriptionId' }
    IdempotencyKey: { $ref: './schemas/living-world-components.yaml#/components/parameters/IdempotencyKeyHeader' }
    AuditId: { $ref: './schemas/living-world-components.yaml#/components/parameters/AuditIdHeader' }
    CharacterId: { $ref: './schemas/living-world-components.yaml#/components/parameters/CharacterIdQuery' }
    SkillId: { $ref: './schemas/living-world-components.yaml#/components/parameters/SkillIdQuery' }
    Cursor: { $ref: './schemas/living-world-components.yaml#/components/parameters/CursorQuery' }
    Limit: { $ref: './schemas/living-world-components.yaml#/components/parameters/LimitQuery' }
  schemas:
    FactionControl: { $ref: './schemas/living-world-components.yaml#/components/schemas/FactionControl' }
    Settlement: { $ref: './schemas/living-world-components.yaml#/components/schemas/Settlement' }
    LogisticsRoute: { $ref: './schemas/living-world-components.yaml#/components/schemas/LogisticsRoute' }
    AutonomousSquad: { $ref: './schemas/living-world-components.yaml#/components/schemas/AutonomousSquad' }
    ChronicleEvent: { $ref: './schemas/living-world-components.yaml#/components/schemas/ChronicleEvent' }
    ChronicleFeed: { $ref: './schemas/living-world-components.yaml#/components/schemas/ChronicleFeed' }
    ChronicleSubscription: { $ref: './schemas/living-world-components.yaml#/components/schemas/ChronicleSubscription' }
    ActionXpBatchResponse: { $ref: './schemas/living-world-components.yaml#/components/schemas/ActionXpBatchResponse' }
    ActionXpSummary: { $ref: './schemas/living-world-components.yaml#/components/schemas/ActionXpSummary' }
    ActionXpMetrics: { $ref: './schemas/living-world-components.yaml#/components/schemas/ActionXpMetrics' }
    SkillFatigue: { $ref: './schemas/living-world-components.yaml#/components/schemas/SkillFatigue' }
    LivingWorldMetricsResponse: { $ref: './schemas/living-world-components.yaml#/components/schemas/LivingWorldMetricsResponse' }
    MaintenanceCommandResponse: { $ref: './schemas/living-world-components.yaml#/components/schemas/MaintenanceCommandResponse' }


