openapi: 3.0.3
info:
  title: Random Events Extended Schemas
  version: 1.0.0
  x-microservice:
    name: world-service
    port: 8086
    domain: world
    base-path: /api/v1/world
    package: com.necpgame.worldservice
paths: {}
components:
  schemas:
    RandomEvent:
      type: object
      properties:
        event_id:
          type: string
          example: event_badlands_ambush
        name:
          type: string
          example: Badlands Ambush
        description:
          type: string
        category:
          type: string
          enum:
          - COMBAT
          - SOCIAL
          - ECONOMY
          - EXPLORATION
          - FACTION
          - STORY
        period:
          type: string
          example: 2060-2077
        base_trigger_chance:
          type: number
          format: float
          description: Базовый шанс появления (0-1)
          example: 0.15
        trigger_conditions:
          $ref: '#/components/schemas/TriggerConditions'
        possible_outcomes_count:
          type: integer
          example: 3
    RandomEventDetailed:
      allOf:
      - $ref: '#/components/schemas/RandomEvent'
      - type: object
        properties:
          full_description:
            type: string
          trigger_locations:
            type: array
            items:
              type: string
          time_restrictions:
            type: object
            properties:
              time_of_day:
                type: array
                items:
                  type: string
                  enum:
                  - MORNING
                  - DAY
                  - EVENING
                  - NIGHT
              weather:
                type: array
                items:
                  type: string
          npcs_involved:
            type: array
            items:
              type: object
              properties:
                npc_id:
                  type: string
                role:
                  type: string
          choices:
            type: array
            items:
              $ref: '#/components/schemas/EventChoice'
          outcomes:
            type: array
            items:
              $ref: '#/components/schemas/EventOutcome'
    TriggerConditions:
      type: object
      properties:
        min_level:
          type: integer
          nullable: true
        max_level:
          type: integer
          nullable: true
        required_reputation:
          type: object
          additionalProperties:
            type: integer
          nullable: true
        required_items:
          type: array
          items:
            type: string
          nullable: true
        previous_events:
          type: array
          description: События, которые должны произойти раньше
          items:
            type: string
          nullable: true
        mutually_exclusive_with:
          type: array
          description: События, с которыми несовместимо
          items:
            type: string
          nullable: true
    EventChoice:
      type: object
      properties:
        choice_id:
          type: string
        text:
          type: string
          example: Help the stranded nomad
        skill_check:
          type: object
          nullable: true
          properties:
            skill:
              type: string
            difficulty:
              type: integer
        item_requirement:
          type: string
          format: uuid
          nullable: true
        reputation_requirement:
          type: object
          additionalProperties:
            type: integer
          nullable: true
        leads_to_outcome:
          type: string
    EventOutcome:
      type: object
      properties:
        outcome_id:
          type: string
        description:
          type: string
        consequences:
          type: object
          properties:
            reputation_changes:
              type: object
              additionalProperties:
                type: integer
            items_gained:
              type: array
              items:
                type: object
                properties:
                  item_id:
                    type: string
                    format: uuid
                  quantity:
                    type: integer
            items_lost:
              type: array
              items:
                type: object
                properties:
                  item_id:
                    type: string
                    format: uuid
                  quantity:
                    type: integer
            currency_change:
              type: object
              properties:
                eddies:
                  type: integer
            experience_gained:
              type: integer
            unlocks:
              type: array
              description: Квесты/локации/NPC
              items:
                type: string
            follow_up_events:
              type: array
              description: События, которые могут появиться после
              items:
                type: string
    TriggerEventRequest:
      type: object
      required:
      - event_id
      - character_id
      - location_id
      properties:
        event_id:
          type: string
        character_id:
          type: string
          format: uuid
        location_id:
          type: string
        override_chance:
          type: boolean
          default: false
          description: Для тестирования - заставить событие произойти
    TriggeredEventInstance:
      type: object
      properties:
        instance_id:
          type: string
          format: uuid
        event:
          $ref: '#/components/schemas/RandomEventDetailed'
        triggered_at:
          type: string
          format: date-time
        location:
          type: string
        expires_at:
          type: string
          format: date-time
          description: Время, после которого событие исчезает
    ActiveEventInstance:
      type: object
      properties:
        instance_id:
          type: string
          format: uuid
        event:
          $ref: '#/components/schemas/RandomEvent'
        triggered_at:
          type: string
          format: date-time
        time_remaining_seconds:
          type: integer
    ResolveEventRequest:
      type: object
      required:
      - instance_id
      - choice_id
      properties:
        instance_id:
          type: string
          format: uuid
        choice_id:
          type: string
    EventResolutionResult:
      type: object
      properties:
        instance_id:
          type: string
          format: uuid
        choice_made:
          type: string
        skill_check_result:
          type: object
          nullable: true
          properties:
            success:
              type: boolean
            roll:
              type: integer
            modifier:
              type: integer
        outcome:
          $ref: '#/components/schemas/EventOutcome'
        consequences_applied:
          type: object
          description: Фактически примененные последствия
    EventHistoryEntry:
      type: object
      properties:
        instance_id:
          type: string
          format: uuid
        event_id:
          type: string
        event_name:
          type: string
        choice_made:
          type: string
        outcome_achieved:
          type: string
        triggered_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
        consequences_summary:
          type: string
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
