# Target Architecture:
# - Microservice: economy-service (port 8085)
# - Base Path: /api/v1/economy/player-orders/*
# - Frontend Module: modules/social/player-orders/budget
# - UI: BudgetSimulator, EscrowSummary, RiskIndicator, InsuranceTierCard
# - Forms: BudgetAdjustForm, GuaranteeSelectionForm
# - Hooks: useEconomyRates, useMarketIndex, useRealtime, useDebounce
# - Depends On: world-service, factions-service, telemetry-service
openapi: 3.0.3
info:
  title: Player Order Budget API
  version: 1.0.0
  description: |
    Экономический сервис рассчитывает бюджет заказов игроков, управляет escrow и страховыми гарантиями.

    Источники: `.BRAIN/02-gameplay/social/player-orders-creation-детально.md`,
    `API-SWAGGER/tasks/active/queue/task-318-player-orders-budget-api.md`.
  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/economy
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - name: Budget
    description: Расчёт бюджета и сравнение с медианой.
  - name: Market
    description: Работа с рыночными индексами и страховыми планами.
  - name: Escrow
    description: Управление блокировкой и освобождением escrow.
paths:
  /economy/player-orders/budget/estimate:
    post:
      tags: [Budget]
      summary: Рассчитать бюджет заказа
      description: Синхронный расчёт `BaseReward`, escrow, комиссий и страховых тарифов с предупреждениями.
      operationId: calculatePlayerOrderBudget
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './player-orders-budget-components.yaml#/components/schemas/PlayerOrderBudgetEstimateRequest'
            examples:
              default:
                $ref: './budget-examples.yaml#/components/examples/BudgetEstimateRequestExample'
      responses:
        '200':
          description: Бюджет рассчитан
          content:
            application/json:
              schema:
                $ref: './player-orders-budget-components.yaml#/components/schemas/PlayerOrderBudgetEstimateResponse'
              examples:
                calculated:
                  $ref: './budget-examples.yaml#/components/examples/BudgetEstimateResponseExample'
        '202':
          description: Расчёт продолжится асинхронно, возвращён jobId
          content:
            application/json:
              schema:
                $ref: './player-orders-budget-components.yaml#/components/schemas/BudgetEstimateJob'
              examples:
                queued:
                  $ref: './budget-examples.yaml#/components/examples/BudgetEstimateJobExample'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /economy/player-orders/budget/estimate/jobs:
    post:
      tags: [Budget]
      summary: Запустить асинхронный расчёт бюджета
      operationId: enqueuePlayerOrderBudgetJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './player-orders-budget-components.yaml#/components/schemas/PlayerOrderBudgetEstimateRequest'
            examples:
              default:
                $ref: './budget-examples.yaml#/components/examples/BudgetEstimateRequestExample'
      responses:
        '202':
          description: Задача расчёта поставлена в очередь
          content:
            application/json:
              schema:
                $ref: './player-orders-budget-components.yaml#/components/schemas/BudgetEstimateJob'
              examples:
                status:
                  $ref: './budget-examples.yaml#/components/examples/BudgetEstimateJobExample'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /economy/player-orders/budget/estimate/jobs/{jobId}:
    get:
      tags: [Budget]
      summary: Получить статус расчёта бюджета
      operationId: getPlayerOrderBudgetJob
      parameters:
        - $ref: './player-orders-budget-components.yaml#/components/parameters/JobId'
      responses:
        '200':
          description: Текущий статус расчёта
          content:
            application/json:
              schema:
                $ref: './player-orders-budget-components.yaml#/components/schemas/BudgetEstimateJob'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /economy/player-orders/market-index:
    get:
      tags: [Market]
      summary: Получить рыночный индекс заказов
      description: Возвращает текущие и исторические значения `MarketIndex` для района и фракции.
      operationId: getPlayerOrderMarketIndex
      parameters:
        - $ref: './player-orders-budget-components.yaml#/components/parameters/DistrictCode'
        - $ref: './player-orders-budget-components.yaml#/components/parameters/FactionCode'
        - $ref: './player-orders-budget-components.yaml#/components/parameters/Interval'
      responses:
        '200':
          description: Значения рыночного индекса
          content:
            application/json:
              schema:
                $ref: './player-orders-budget-components.yaml#/components/schemas/MarketIndexHistory'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /economy/player-orders/insurance-tiers:
    get:
      tags: [Market]
      summary: Получить страховые планы
      operationId: listPlayerOrderInsuranceTiers
      parameters:
        - $ref: './player-orders-budget-components.yaml#/components/parameters/Currency'
      responses:
        '200':
          description: Доступные страховые планы
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './player-orders-budget-components.yaml#/components/schemas/InsuranceTier'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /economy/player-orders/{orderId}/budget/compare:
    post:
      tags: [Budget]
      summary: Сравнить бюджет с медианой
      operationId: comparePlayerOrderBudget
      parameters:
        - $ref: './player-orders-budget-components.yaml#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './player-orders-budget-components.yaml#/components/schemas/BudgetComparisonRequest'
      responses:
        '200':
          description: Результат сравнения
          content:
            application/json:
              schema:
                $ref: './player-orders-budget-components.yaml#/components/schemas/BudgetComparisonResult'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /economy/player-orders/{orderId}/escrow/lock:
    post:
      tags: [Escrow]
      summary: Заблокировать escrow
      description: Фиксирует сумму escrow и страховой план, публикует событие `economy.player-orders.escrow.locked`.
      operationId: lockPlayerOrderEscrow
      parameters:
        - $ref: './player-orders-budget-components.yaml#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './player-orders-budget-components.yaml#/components/schemas/EscrowLockRequest'
            examples:
              default:
                $ref: './budget-examples.yaml#/components/examples/EscrowLockRequestExample'
      responses:
        '202':
          description: Escrow заблокирован или запланирован
          content:
            application/json:
              schema:
                $ref: './player-orders-budget-components.yaml#/components/schemas/EscrowLockResponse'
              examples:
                default:
                  $ref: './budget-examples.yaml#/components/examples/EscrowLockResponseExample'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
    delete:
      tags: [Escrow]
      summary: Освободить escrow
      operationId: releasePlayerOrderEscrow
      parameters:
        - $ref: './player-orders-budget-components.yaml#/components/parameters/OrderId'
      responses:
        '202':
          description: Escrow освобождён или освобождение запланировано
          content:
            application/json:
              schema:
                $ref: './player-orders-budget-components.yaml#/components/schemas/EscrowReleaseResponse'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
components:
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'
x-kafka-topics:
  economy.player-orders.budget.estimated:
    summary: Расчёт бюджета завершён.
    payload:
      $ref: './player-orders-budget-components.yaml#/components/schemas/PlayerOrderBudgetEstimateResponse'
  economy.player-orders.escrow.locked:
    summary: Escrow заблокирован.
    payload:
      $ref: './player-orders-budget-components.yaml#/components/schemas/EscrowLockResponse'
  economy.player-orders.insurance.applied:
    summary: Страховой план применён к заказу.
    payload:
      $ref: './player-orders-budget-components.yaml#/components/schemas/InsuranceTier'

