openapi: 3.0.3
info:
  title: Player Order Budget Core Schemas
  version: 1.0.0
  description: Базовые структуры расчёта бюджета заказов игроков.
  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/economy
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
paths: {}
components:
  schemas:
    BudgetEstimateRequest:
      type: object
      required:
        - templateCode
        - complexityScore
        - riskModifier
        - marketIndex
        - timeModifier
        - preferredCurrency
      properties:
        orderId:
          type: string
          format: uuid
          description: Идентификатор заказа для повторного расчёта.
        templateCode:
          type: string
          description: Код шаблона заказа (combat, hacker, economic и др.).
          example: combat
        complexityScore:
          type: number
          description: Итоговый показатель сложности заказа.
          minimum: 0
          example: 275.5
        riskModifier:
          type: number
          description: Модификатор риска (0.8–1.5).
          minimum: 0.8
          maximum: 1.5
          example: 1.2
        marketIndex:
          type: number
          description: Текущее значение рыночного индекса.
          minimum: 0
          example: 1.08
        timeModifier:
          type: number
          description: Модификатор времени (1.0–1.3).
          minimum: 1.0
          maximum: 1.3
          example: 1.1
        districtCode:
          type: string
          description: Код района выполнения заказа.
          example: NC-WAT-01
        factionCode:
          type: string
          description: Корпорация или фракция заказчика.
          example: ARASAKA
        playerRank:
          type: string
          description: Текущий рейтинг заказчика.
          example: Silver
        preferredCurrency:
          type: string
          description: Код валюты расчёта.
          example: NCU
        isCorporate:
          type: boolean
          description: Флаг корпоративного заказа.
          default: false
        guaranteeTier:
          type: string
          description: Выбранный страховой пакет.
          enum: [basic, extended, premium]
        bonuses:
          type: array
          description: Дополнительные бонусные коэффициенты.
          items:
            type: string
        penalties:
          type: array
          description: Штрафные коэффициенты.
          items:
            type: string
        manualAdjustment:
          type: object
          description: Ручная корректировка бюджета оператором.
          required: [amount, reason]
          properties:
            amount:
              type: number
              description: Корректирующая сумма.
            reason:
              type: string
              description: Обоснование корректировки.
        auditTraceId:
          type: string
          format: uuid
          description: Идентификатор трассы для связи с world-service.
    BudgetEstimateResponse:
      type: object
      required:
        - calculationId
        - baseReward
        - escrow
        - commission
        - insuranceFee
        - currency
        - breakdown
        - warnings
        - timestamp
      properties:
        calculationId:
          type: string
          format: uuid
          description: Идентификатор расчёта бюджета.
        auditTraceId:
          type: string
          format: uuid
          description: Трассовый идентификатор для аудита.
        baseReward:
          type: number
          description: Рекомендованный базовый бюджет.
          minimum: 0
        escrow:
          type: number
          description: Рекомендуемая сумма escrow.
          minimum: 0
        escrowRate:
          type: number
          description: Применённая ставка escrow (10–30%).
          minimum: 0.1
          maximum: 0.3
        commission:
          type: number
          description: Комиссия платформы.
          minimum: 0
        commissionRate:
          type: number
          description: Ставка комиссии (5–12%).
          minimum: 0.05
          maximum: 0.12
        insuranceFee:
          type: number
          description: Стоимость страхового плана.
          minimum: 0
        insuranceTier:
          type: string
          description: Выбранный страховой пакет.
          enum: [basic, extended, premium]
        currency:
          type: string
          description: Код валюты расчёта.
        recommendedBudgetRange:
          type: object
          description: Рекомендованный диапазон бюджета.
          required: [min, max]
          properties:
            min:
              type: number
              minimum: 0
            max:
              type: number
              minimum: 0
        median:
          type: number
          description: Медианное значение бюджета.
        medianDeviationPercent:
          type: number
          description: Отклонение от медианы в процентах.
        warnings:
          type: array
          description: Предупреждения и рекомендации.
          items:
            $ref: '#/components/schemas/BudgetWarning'
        breakdown:
          $ref: '#/components/schemas/BudgetBreakdown'
        recommendedActions:
          type: array
          description: Рекомендации для заказчика.
          items:
            type: string
        timestamp:
          type: string
          format: date-time
          description: Время расчёта.
        expiresAt:
          type: string
          format: date-time
          description: Момент устаревания расчёта.
    BudgetWarning:
      type: object
      required: [code, severity, message, suggestedAction]
      properties:
        code:
          type: string
          description: Код предупреждения.
          enum:
            - BUDGET_OVERESTIMATED
            - BUDGET_UNDERESTIMATED
            - MARKET_SPIKE
            - RISK_HIGH
            - ESCROW_MINIMUM
            - COMMISSION_THRESHOLD
        severity:
          type: string
          description: Уровень серьёзности.
          enum: [info, warning, error]
        message:
          type: string
          description: Сообщение для пользователя.
        suggestedAction:
          type: string
          description: Рекомендованное действие.
        threshold:
          type: number
          description: Пороговое значение, вызвавшее предупреждение.
          nullable: true
    BudgetBreakdown:
      type: object
      required:
        - complexityComponent
        - riskComponent
        - marketComponent
        - timeComponent
        - manualAdjustments
      properties:
        complexityComponent:
          type: number
          description: Вклад сложности.
        riskComponent:
          type: number
          description: Вклад риска.
        marketComponent:
          type: number
          description: Вклад рыночного индекса.
        timeComponent:
          type: number
          description: Вклад временного модификатора.
        manualAdjustments:
          type: number
          description: Сумма ручных корректировок.
        currency:
          type: string
          description: Код валюты breakdown.
    BudgetComparisonRequest:
      type: object
      required:
        - proposedAmount
        - currency
        - templateCode
      properties:
        proposedAmount:
          type: number
          minimum: 0
          description: Предлагаемый бюджет заказчика.
        currency:
          type: string
          description: Код валюты.
        templateCode:
          type: string
          description: Код шаблона заказа.
        districtCode:
          type: string
          description: Код района.
        calculationId:
          type: string
          format: uuid
          description: Последний расчёт бюджета для сопоставления.
        manualOverride:
          type: boolean
          description: Флаг ручного подтверждения сверх медианы.
          default: false
    BudgetComparisonResponse:
      type: object
      required:
        - proposed
        - recommended
        - median
        - deviationPercent
        - warnings
      properties:
        proposed:
          type: number
          description: Предложенный бюджет.
        recommended:
          type: number
          description: Рекомендованный бюджет.
        median:
          type: number
          description: Медианное значение.
        deviationPercent:
          type: number
          description: Отклонение от медианы в процентах.
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/BudgetWarning'
        requiresAcknowledgement:
          type: boolean
          description: Требуется ли подтверждение заказчика.
        acknowledgmentToken:
          type: string
          description: Токен подтверждения world-service.
          nullable: true

