openapi: 3.0.3
info:
  title: Player Order Budget Examples
  version: 1.0.0
  description: Примеры запросов и ответов для API расчёта бюджета и escrow.
  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/economy
    package: com.necpgame.economyservice
paths: {}
components:
  examples:
    BudgetEstimateRequestExample:
      summary: Пример запроса расчёта бюджета
      value:
        complexityScore: 285.4
        riskModifier: 1.18
        marketIndex: 1.07
        timeModifier: 1.1
        templateCode: combat
        districtCode: NC-DIST-13
        factionCode: NETRUNNERS
        riskLevel: high
        preferredCurrency: NCU
        guaranteeTier: extended
        isCorporate: true
        bonuses:
          - code: loyalty_bonus
            description: "Лояльность заказчика"
            value: 5000
            type: additive
        penalties:
          - code: rush_deadline
            description: "Сжатые сроки"
            value: 0.1
            type: multiplicative
    BudgetEstimateResponseExample:
      summary: Пример ответа расчёта бюджета
      value:
        baseReward: 145000
        escrow: 43500
        commission: 15225
        commissionRate: 0.105
        insuranceFee: 8500
        insuranceTier: extended
        recommendedBudgetRange:
          min: 132000
          max: 158000
        median: 118000
        deviationPercent: 22.9
        currency: NCU
        warnings:
          - code: BUDGET_OVERESTIMATED
            severity: warning
            messageKey: budget.over.estimated
            defaultMessage: "Бюджет выше медианы по рынку."
            suggestedAction: "Понизить бонусы или выбрать базовый escrow."
        calculationBreakdown:
          baseRewardFormula: "(complexityScore * marketIndex) * riskModifier * timeModifier"
          factors:
            complexityScore: 285.4
            riskModifier: 1.18
            marketIndex: 1.07
            timeModifier: 1.1
            districtAdjustment: 0.05
            factionAdjustment: 0.02
            manualAdjustment: 0.0
          auditTrail:
            - timestamp: "2025-11-08T16:45:12Z"
              action: "market-index"
              valueBefore: 1.03
              valueAfter: 1.07
        nextRefreshAt: "2025-11-08T17:00:00Z"
        jobId: "c3d5830c-1234-4f21-9a63-2bc75f1e2d4b"
    BudgetEstimateJobExample:
      summary: Пример задачи расчёта бюджета
      value:
        jobId: "68f1e5f0-c3e0-4e62-86a8-3f44a54c5b61"
        status: completed
        submittedAt: "2025-11-08T16:40:00Z"
        startedAt: "2025-11-08T16:40:05Z"
        completedAt: "2025-11-08T16:40:30Z"
        progress: 1.0
        result:
          baseReward: 145000
          escrow: 43500
          commission: 15225
          commissionRate: 0.105
          insuranceFee: 8500
          insuranceTier: extended
          recommendedBudgetRange:
            min: 132000
            max: 158000
          median: 118000
          deviationPercent: 22.9
          currency: NCU
          warnings:
            - code: BUDGET_OVERESTIMATED
              severity: warning
              messageKey: budget.over.estimated
              defaultMessage: "Бюджет выше медианы по рынку."
              suggestedAction: "Понизить бонусы или выбрать базовый escrow."
          calculationBreakdown:
            baseRewardFormula: "(complexityScore * marketIndex) * riskModifier * timeModifier"
            factors:
              complexityScore: 285.4
              riskModifier: 1.18
              marketIndex: 1.07
              timeModifier: 1.1
              districtAdjustment: 0.05
              factionAdjustment: 0.02
              manualAdjustment: 0.0
            auditTrail:
              - timestamp: "2025-11-08T16:45:12Z"
                action: "market-index"
                valueBefore: 1.03
                valueAfter: 1.07
          nextRefreshAt: "2025-11-08T17:00:00Z"
    EscrowLockRequestExample:
      summary: Пример запроса блокировки escrow
      value:
        ownerId: "4fa8fb3a-8a9c-4d52-96bc-74f7f48ef2d5"
        escrowAmount: 43500
        insuranceTier: extended
        holdDurationMinutes: 360
        currency: NCU
        auditTraceId: "9a474761-9ddd-4af0-9dfc-fc25105a0b1f"
    EscrowLockResponseExample:
      summary: Пример ответа блокировки escrow
      value:
        orderId: "8c7b94a8-4b08-43c3-bab3-08ec5acaa28a"
        escrowAmount: 43500
        status: locked
        insuranceTier: extended
        lockExpiresAt: "2025-11-08T22:40:00Z"
        warnings:
          - code: ESCROW_TOO_LOW
            severity: warning
            messageKey: escrow.low
            defaultMessage: "Escrow ниже рекомендуемого."
            suggestedAction: "Увеличить escrow до 30%."
        kafkaEventId: "a1e4c942-2d59-4b5e-9714-7f517adb2d98"

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
