openapi: 3.0.3
info:
  title: Player Order Budget Shared Components
  version: 1.0.0
  description: Переиспользуемые параметры и схемы для API расчёта бюджета заказов игроков.
  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/economy
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
paths: {}
components:
  parameters:
    OrderId:
      name: orderId
      in: path
      required: true
      description: Уникальный идентификатор заказа игрока.
      schema:
        type: string
        format: uuid
    JobId:
      name: jobId
      in: path
      required: true
      description: Идентификатор асинхронной задачи расчёта бюджета.
      schema:
        type: string
        format: uuid
    DistrictCode:
      name: district
      in: query
      required: false
      description: Код района, для которого рассчитывается бюджет.
      schema:
        type: string
        minLength: 2
        maxLength: 32
    FactionCode:
      name: faction
      in: query
      required: false
      description: Код фракции, влияющей на коэффициенты рынка.
      schema:
        type: string
        minLength: 2
        maxLength: 32
    Interval:
      name: interval
      in: query
      required: false
      description: Интервал агрегации рыночного индекса.
      schema:
        type: string
        enum: [15m, 1h, 6h, 24h]
    Currency:
      name: currency
      in: query
      required: false
      description: ISO 4217 код валюты расчёта.
      schema:
        type: string
        pattern: '^[A-Z]{3}$'
  schemas:
    PlayerOrderBudgetEstimateRequest:
      type: object
      required:
        - complexityScore
        - riskModifier
        - marketIndex
        - timeModifier
        - templateCode
        - districtCode
        - preferredCurrency
      properties:
        complexityScore:
          type: number
          format: float
          minimum: 0
        riskModifier:
          type: number
          minimum: 0.8
          maximum: 1.5
        marketIndex:
          type: number
          minimum: 0
        timeModifier:
          type: number
          minimum: 1.0
          maximum: 1.3
        templateCode:
          type: string
          enum: [combat, hacker, economy, social, exploration]
        districtCode:
          type: string
          minLength: 2
          maxLength: 32
        factionCode:
          type: string
          minLength: 2
          maxLength: 32
        riskLevel:
          type: string
          enum: [low, medium, high, severe, extreme]
        preferredCurrency:
          type: string
          pattern: '^[A-Z]{3}$'
        guaranteeTier:
          type: string
          enum: [basic, extended, premium]
        isCorporate:
          type: boolean
          default: false
        manualAdjustment:
          type: boolean
          default: false
        adjustmentReason:
          type: string
          minLength: 3
          maxLength: 512
        bonuses:
          type: array
          items:
            $ref: '#/components/schemas/BudgetModifier'
        penalties:
          type: array
          items:
            $ref: '#/components/schemas/BudgetModifier'
    BudgetModifier:
      type: object
      required: [code, value]
      properties:
        code:
          type: string
          minLength: 2
          maxLength: 64
        description:
          type: string
          minLength: 2
          maxLength: 256
        value:
          type: number
          format: float
        type:
          type: string
          enum: [additive, multiplicative]
    BudgetWarning:
      type: object
      required: [code, severity, messageKey]
      properties:
        code:
          type: string
          enum:
            [BUDGET_OVERESTIMATED, BUDGET_UNDERESTIMATED, MARKET_SPIKE, MARKET_DROP, RISK_HIGH, ESCROW_TOO_LOW, COMMISSION_TOO_LOW]
        severity:
          type: string
          enum: [info, warning, error]
        messageKey:
          type: string
          minLength: 3
          maxLength: 128
        defaultMessage:
          type: string
          minLength: 3
          maxLength: 512
        suggestedAction:
          type: string
          minLength: 3
          maxLength: 256
        threshold:
          type: number
          format: float
    CalculationBreakdown:
      type: object
      required: [baseRewardFormula, factors]
      properties:
        baseRewardFormula:
          type: string
        factors:
          type: object
          required: [complexityScore, riskModifier, marketIndex, timeModifier]
          properties:
            complexityScore: { type: number, format: float }
            riskModifier: { type: number, format: float }
            marketIndex: { type: number, format: float }
            timeModifier: { type: number, format: float }
            districtAdjustment: { type: number, format: float }
            factionAdjustment: { type: number, format: float }
            manualAdjustment: { type: number, format: float }
        auditTrail:
          type: array
          items:
            type: object
            required: [timestamp, action]
            properties:
              timestamp: { type: string, format: date-time }
              action: { type: string }
              valueBefore: { type: number, format: float }
              valueAfter: { type: number, format: float }
    PlayerOrderBudgetEstimateResponse:
      type: object
      required:
        - baseReward
        - escrow
        - commission
        - insuranceFee
        - recommendedBudgetRange
        - warnings
        - calculationBreakdown
      properties:
        baseReward: { type: number, format: float, minimum: 0 }
        escrow: { type: number, format: float, minimum: 0 }
        commission: { type: number, format: float, minimum: 0 }
        commissionRate: { type: number, format: float, minimum: 0.05, maximum: 0.12 }
        insuranceFee: { type: number, format: float, minimum: 0 }
        insuranceTier: { type: string, enum: [basic, extended, premium] }
        recommendedBudgetRange:
          type: object
          required: [min, max]
          properties:
            min: { type: number, format: float }
            max: { type: number, format: float }
        median: { type: number, format: float }
        deviationPercent: { type: number, format: float }
        currency: { type: string, pattern: '^[A-Z]{3}$' }
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/BudgetWarning'
        calculationBreakdown:
          $ref: '#/components/schemas/CalculationBreakdown'
        nextRefreshAt: { type: string, format: date-time }
        jobId: { type: string, format: uuid }
    BudgetEstimateJob:
      type: object
      required: [jobId, status, submittedAt]
      properties:
        jobId: { type: string, format: uuid }
        status:
          type: string
          enum: [queued, running, completed, failed]
        submittedAt: { type: string, format: date-time }
        startedAt: { type: string, format: date-time }
        completedAt: { type: string, format: date-time }
        progress: { type: number, format: float, minimum: 0, maximum: 1 }
        result:
          $ref: '#/components/schemas/PlayerOrderBudgetEstimateResponse'
        errors:
          type: array
          items:
            type: string
    BudgetComparisonRequest:
      type: object
      required: [proposedBudget, templateCode, districtCode]
      properties:
        proposedBudget: { type: number, format: float, minimum: 0 }
        templateCode: { type: string, enum: [combat, hacker, economy, social, exploration] }
        districtCode: { type: string, minLength: 2, maxLength: 32 }
        factionCode: { type: string, minLength: 2, maxLength: 32 }
        currency: { type: string, pattern: '^[A-Z]{3}$' }
    BudgetComparisonResult:
      type: object
      required: [proposedBudget, recommendedBudget, medianBudget, deviationPercent, warnings]
      properties:
        proposedBudget: { type: number, format: float }
        recommendedBudget: { type: number, format: float }
        medianBudget: { type: number, format: float }
        deviationPercent: { type: number, format: float }
        percentileRange:
          type: object
          properties:
            p25: { type: number, format: float }
            p75: { type: number, format: float }
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/BudgetWarning'
    InsuranceTier:
      type: object
      required: [id, name, coverage, commissionRate, escrowMultiplier]
      properties:
        id: { type: string, enum: [basic, extended, premium] }
        name: { type: string, minLength: 3, maxLength: 64 }
        description: { type: string, minLength: 3, maxLength: 256 }
        coverage: { type: number, format: float, minimum: 0 }
        commissionRate: { type: number, format: float, minimum: 0.05, maximum: 0.12 }
        escrowMultiplier: { type: number, format: float, minimum: 0.1, maximum: 0.3 }
        bonusReputation: { type: number, format: float }
        conditions:
          type: array
          items: { type: string }
    MarketIndexHistory:
      type: object
      required: [snapshots]
      properties:
        interval: { type: string, enum: [15m, 1h, 6h, 24h] }
        snapshots:
          type: array
          items:
            $ref: '#/components/schemas/MarketIndexSnapshot'
        nextRefreshAt: { type: string, format: date-time }
    MarketIndexSnapshot:
      type: object
      required: [timestamp, value]
      properties:
        timestamp: { type: string, format: date-time }
        value: { type: number, format: float }
        volatility: { type: number, format: float }
        source: { type: string, minLength: 2, maxLength: 64 }
    EscrowLockRequest:
      type: object
      required: [ownerId, escrowAmount, insuranceTier]
      properties:
        ownerId: { type: string, format: uuid }
        escrowAmount: { type: number, format: float, minimum: 0 }
        insuranceTier: { type: string, enum: [basic, extended, premium] }
        holdDurationMinutes: { type: integer, minimum: 5, maximum: 1440 }
        currency: { type: string, pattern: '^[A-Z]{3}$' }
        auditTraceId: { type: string, format: uuid }
    EscrowLockResponse:
      type: object
      required: [orderId, escrowAmount, status, lockExpiresAt]
      properties:
        orderId: { type: string, format: uuid }
        escrowAmount: { type: number, format: float }
        status: { type: string, enum: [locked, pending, released] }
        insuranceTier: { type: string, enum: [basic, extended, premium] }
        lockExpiresAt: { type: string, format: date-time }
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/BudgetWarning'
        kafkaEventId: { type: string, format: uuid }
    EscrowReleaseResponse:
      type: object
      required: [orderId, status]
      properties:
        orderId: { type: string, format: uuid }
        status: { type: string, enum: [released, pending] }
        releasedAt: { type: string, format: date-time }

