openapi: 3.0.3
info:
  title: Player Order Risk Alert Schemas
  version: 1.0.0
  description: Схемы подписки на оповещения и batch-задач оценки рисков.
  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/economy
    package: com.necpgame.economyservice
paths: {}
components:
  schemas:
    RiskEvaluationJobRequest:
      type: object
      required:
        - requesterId
        - scope
      properties:
        requesterId:
          type: string
          format: uuid
        scope:
          type: string
          enum: [orders, players, regions]
        orderIds:
          type: array
          items:
            type: string
            format: uuid
        playerIds:
          type: array
          items:
            type: string
            format: uuid
        regionIds:
          type: array
          items:
            type: string
            pattern: '^[A-Z0-9\\-]{3,24}$'
        parameters:
          type: object
          additionalProperties:
            type: number
            format: float
    RiskAlertSubscription:
      type: object
      required:
        - subscriptionId
        - subscriberId
        - thresholds
      properties:
        subscriptionId:
          type: string
          format: uuid
        subscriberId:
          type: string
          format: uuid
        channels:
          type: array
          items:
            type: string
            enum: [email, sms, push, webhook]
        thresholds:
          type: array
          items:
            $ref: '#/components/schemas/RiskAlertThreshold'
        createdAt:
          type: string
          format: date-time
    RiskAlertThreshold:
      type: object
      required:
        - metric
        - operator
        - value
      properties:
        metric:
          type: string
          enum: [riskScore, escrowAmount, disputeRate, ratingDelta]
        operator:
          type: string
          enum: [gt, gte, lt, lte, eq]
        value:
          type: number
          format: float
        coolDownMinutes:
          type: integer
          minimum: 0

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
