openapi: 3.0.3
info:
  title: Player Order Risk Parameters
  version: 1.0.0
  description: Общие параметры для API скоринга рисков и страхования заказов игроков.
  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/economy
    package: com.necpgame.economyservice
paths: {}
components:
  parameters:
    OrderId:
      name: orderId
      in: path
      required: true
      description: Идентификатор заказа игрока.
      schema:
        type: string
        format: uuid
    PlayerId:
      name: playerId
      in: path
      required: true
      description: Идентификатор игрока (заказчика или исполнителя).
      schema:
        type: string
        format: uuid
    JobId:
      name: jobId
      in: path
      required: true
      description: Идентификатор batch-задачи пересчёта риска.
      schema:
        type: string
        format: uuid
    RegionId:
      name: regionId
      in: query
      description: Регион или город для оценки риска.
      schema:
        type: string
        pattern: '^[A-Z0-9\\-]{3,24}$'
    OrderType:
      name: orderType
      in: query
      description: Тип заказа для фильтрации риск-профиля.
      schema:
        type: string
        enum: [combat, hacker, logistics, economy, social, exploration]
    Period:
      name: period
      in: query
      description: Период агрегации данных риска или страхования.
      schema:
        type: string
        enum: [24h, 7d, 30d, 90d, season, lifetime]
    SubscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: Идентификатор подписки на алерты риска.
      schema:
        type: string
        format: uuid

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
