openapi: 3.0.3
info:
  title: Player Order Risk Core Schemas
  version: 1.0.0
  description: Основные структуры скоринга рисков и страхования заказов игроков.
  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/economy
    package: com.necpgame.economyservice
paths: {}
components:
  schemas:
    RiskEvaluationRequest:
      type: object
      required:
        - orderId
        - requesterId
        - context
      properties:
        orderId:
          type: string
          format: uuid
        requesterId:
          type: string
          format: uuid
        role:
          type: string
          enum: [executor, client, operator]
        context:
          $ref: '#/components/schemas/RiskContext'
        overrideFactors:
          type: array
          items:
            $ref: '#/components/schemas/RiskFactorOverride'
    RiskContext:
      type: object
      required:
        - orderType
        - complexityScore
        - regionId
        - deadlineHours
      properties:
        orderType:
          type: string
          enum: [combat, hacker, logistics, economy, social, exploration]
        complexityScore:
          type: number
          format: float
          minimum: 0
        regionId:
          type: string
          pattern: '^[A-Z0-9\\-]{3,24}$'
        deadlineHours:
          type: integer
          minimum: 1
        requiredSkills:
          type: array
          items:
            type: string
        factionTags:
          type: array
          items:
            type: string
        playerRatings:
          type: object
          properties:
            executor:
              type: number
              format: float
            client:
              type: number
              format: float
        lastIncidents:
          type: array
          items:
            $ref: '#/components/schemas/RiskIncident'
    RiskFactorOverride:
      type: object
      required:
        - factor
        - value
      properties:
        factor:
          type: string
          enum: [regionThreat, factionConflict, escrowHistory, ratingVariance, disputeRate]
        value:
          type: number
          format: float
    RiskIncident:
      type: object
      required:
        - incidentId
        - type
        - occurredAt
      properties:
        incidentId:
          type: string
          format: uuid
        type:
          type: string
          enum: [payment_delay, contract_breach, dispute_loss, fraud_attempt, arbitration]
        severity:
          type: string
          enum: [low, medium, high, critical]
        occurredAt:
          type: string
          format: date-time
        resolvedAt:
          type: string
          format: date-time
        notes:
          type: string
    RiskScore:
      type: object
      required:
        - score
        - grade
        - riskModifier
        - factors
      properties:
        score:
          type: number
          format: float
          minimum: 0
          maximum: 100
        grade:
          type: string
          enum: [low, moderate, elevated, high, severe]
        riskModifier:
          type: number
          format: float
          minimum: 0.5
          maximum: 2.0
        recommendedEscrowRate:
          type: number
          format: float
          minimum: 0.1
          maximum: 0.3
        recommendedCommissionRate:
          type: number
          format: float
          minimum: 0.05
          maximum: 0.12
        insuranceTier:
          type: string
          enum: [basic, enhanced, premium, corporate]
        factors:
          type: array
          items:
            $ref: '#/components/schemas/RiskFactorBreakdown'
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/RiskAlert'
        evaluatedAt:
          type: string
          format: date-time
    RiskFactorBreakdown:
      type: object
      required:
        - factor
        - weight
        - contribution
      properties:
        factor:
          type: string
          enum:
            - regionThreat
            - factionConflict
            - playerRating
            - disputeHistory
            - escrowHistory
            - orderComplexity
            - deadlinePressure
        weight:
          type: number
          format: float
        contribution:
          type: number
          format: float
    RiskAlert:
      type: object
      required:
        - code
        - severity
      properties:
        code:
          type: string
          enum: [fraud_suspected, escrow_required, manual_review, blacklist_match, insurance_required]
        severity:
          type: string
          enum: [info, warning, critical]
        messageKey:
          type: string
          example: risk.alert.manual_review
        description:
          type: string
        recommendedAction:
          type: string
    RiskEvaluationResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/RiskScore'
    RiskEvaluationJobResponse:
      type: object
      required:
        - jobId
        - status
      properties:
        jobId:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued, running, completed, failed, cancelled]
        processed:
          type: integer
          minimum: 0
        failed:
          type: integer
          minimum: 0
        errors:
          type: array
          items:
            type: string
        requestedBy:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
        finishedAt:
          type: string
          format: date-time

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
