openapi: 3.0.3
info:
  title: Voice Chat Service API
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  description: Voice Chat Service for MMO Real-Time Communication with WebRTC signaling, room management, and spatial audio
    support
servers:
- url: https://voice-chat.necpgame.com/api/v1
  description: Production server
- url: http://localhost:8080/api/v1
  description: Local development
security:
- BearerAuth: []
paths:
  /health:
    get:
      tags:
      - health
      summary: Health check
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /rooms:
    get:
      tags:
      - rooms
      summary: List voice rooms
      operationId: listRooms
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - inactive
          - full
          - closed
      - name: game_session_id
        in: query
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: List of voice rooms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - rooms
      summary: Create voice room
      operationId: createRoom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoomRequest'
      responses:
        '201':
          description: Voice room created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceRoom'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /rooms/{roomId}:
    get:
      tags:
      - rooms
      summary: Get voice room details
      operationId: getRoom
      parameters:
      - name: roomId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/RoomId'
      responses:
        '200':
          description: Voice room details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceRoom'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - rooms
      summary: Update voice room
      operationId: updateRoom
      parameters:
      - name: roomId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/RoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoomRequest'
      responses:
        '200':
          description: Voice room updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceRoom'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - rooms
      summary: Delete voice room
      operationId: deleteRoom
      parameters:
      - name: roomId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/RoomId'
      responses:
        '204':
          description: Voice room deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /rooms/{roomId}/join:
    post:
      tags:
      - rooms
      summary: Join voice room
      operationId: joinRoom
      parameters:
      - name: roomId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/RoomId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinRoomRequest'
      responses:
        '200':
          description: Successfully joined room
          content:
            application/json:
              schema:
                type: object
                properties:
                  room:
                    $ref: '#/components/schemas/VoiceRoom'
                  ice_servers:
                    type: array
                    items:
                      type: object
                      properties:
                        urls:
                          type: string
                        username:
                          type: string
                        credential:
                          type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /rooms/{roomId}/leave:
    post:
      tags:
      - rooms
      summary: Leave voice room
      operationId: leaveRoom
      parameters:
      - name: roomId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/RoomId'
      responses:
        '200':
          description: Successfully left room
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /signal:
    post:
      tags:
      - signaling
      summary: Send WebRTC signaling message
      operationId: sendSignal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebRTCSignal'
      responses:
        '200':
          description: Signal sent successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Resource conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: object
          description: Additional error details
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    PlayerId:
      type: string
      format: uuid
      description: Player unique identifier
    RoomId:
      type: string
      format: uuid
      description: Voice room unique identifier
    SessionId:
      type: string
      format: uuid
      description: Voice session unique identifier
    VoiceRoom:
      type: object
      required:
      - id
      - name
      - host_id
      - max_participants
      - status
      - created_at
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Voice room display name
        description:
          type: string
          maxLength: 500
          description: Optional room description
        status:
          type: string
          enum:
          - active
          - inactive
          - full
          - closed
          description: Room status
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        host_id:
          $ref: '#/components/schemas/PlayerId'
        id:
          $ref: '#/components/schemas/RoomId'
        game_session_id:
          $ref: '#/components/schemas/SessionId'
        participants:
          type: array
          items:
            $ref: '#/components/schemas/VoiceParticipant'
        max_participants:
          type: integer
          minimum: 2
          maximum: 50
          default: 10
          description: Maximum number of participants
        current_participants:
          type: integer
          minimum: 0
          description: Current number of participants
        is_spatial_audio:
          type: boolean
          default: false
          description: Whether spatial audio is enabled
        is_muted:
          type: boolean
          default: false
          description: Whether room is globally muted
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    VoiceParticipant:
      type: object
      required:
      - player_id
      - joined_at
      - is_muted
      - is_host
      properties:
        display_name:
          type: string
          maxLength: 50
          description: Player display name
        joined_at:
          type: string
          format: date-time
        player_id:
          $ref: '#/components/schemas/PlayerId'
        position:
          $ref: '#/components/schemas/Vector3'
          description: 3D position for spatial audio
        volume_level:
          type: number
          minimum: 0.0
          maximum: 1.0
          default: 1.0
          description: Participant volume level
        is_muted:
          type: boolean
          description: Whether participant is muted
        is_host:
          type: boolean
          description: Whether participant is room host
        is_deafened:
          type: boolean
          default: false
          description: Whether participant has deafened themselves
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    Vector3:
      type: object
      required:
      - x
      - y
      - z
      properties:
        x:
          type: number
          format: float
          description: X coordinate
        y:
          type: number
          format: float
          description: Y coordinate
        z:
          type: number
          format: float
          description: Z coordinate
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    WebRTCSignal:
      type: object
      required:
      - type
      - from_player_id
      - to_player_id
      - room_id
      properties:
        type:
          type: string
          enum:
          - offer
          - answer
          - ice_candidate
          description: WebRTC signal type
        timestamp:
          type: string
          format: date-time
        payload:
          type: object
          description: WebRTC signal payload (SDP, ICE candidate)
        from_player_id:
          $ref: '#/components/schemas/PlayerId'
        to_player_id:
          $ref: '#/components/schemas/PlayerId'
        room_id:
          $ref: '#/components/schemas/RoomId'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    CreateRoomRequest:
      type: object
      required:
      - name
      - max_participants
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Voice room name
        description:
          type: string
          maxLength: 500
          description: Optional room description
        game_session_id:
          $ref: '#/components/schemas/SessionId'
        max_participants:
          type: integer
          minimum: 2
          maximum: 50
          default: 10
        is_spatial_audio:
          type: boolean
          default: false
        is_private:
          type: boolean
          default: false
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    UpdateRoomRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        max_participants:
          type: integer
          minimum: 2
          maximum: 50
        is_spatial_audio:
          type: boolean
        is_muted:
          type: boolean
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    JoinRoomRequest:
      type: object
      properties:
        password:
          type: string
          description: Password for private rooms
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    RoomListResponse:
      type: object
      required:
      - rooms
      - total_count
      - page
      - page_size
      properties:
        rooms:
          type: array
          items:
            $ref: '#/components/schemas/VoiceRoom'
        total_count:
          type: integer
          minimum: 0
        page:
          type: integer
          minimum: 1
          default: 1
        page_size:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
