# Voice Chat Service API - Modular OpenAPI 3.0.3 Specification
# Issue: #2206 - Backend Agent will implement this service

openapi: 3.0.3
info:
  title: Voice Chat Service API
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  description: Voice Chat Service for MMO Real-Time Communication with WebRTC signaling, room management, and spatial audio support

servers:
  - url: https://voice-chat.necpgame.com/api/v1
    description: Production server
  - url: http://localhost:8080/api/v1
    description: Local development

security:
  - BearerAuth: [ ]

paths:
  /health:
    get:
      tags: [ health ]
      summary: Health check
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  timestamp:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /rooms:
    get:
      tags: [ rooms ]
      summary: List voice rooms
      operationId: listRooms
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ active, inactive, full, closed ]
        - name: game_session_id
          in: query
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: List of voice rooms
          content:
            application/json:
              schema:
                $ref: './voice-chat-service-schemas.yaml#/RoomListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [ rooms ]
      summary: Create voice room
      operationId: createRoom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './voice-chat-service-schemas.yaml#/CreateRoomRequest'
      responses:
        '201':
          description: Voice room created
          content:
            application/json:
              schema:
                $ref: './voice-chat-service-schemas.yaml#/VoiceRoom'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /rooms/{roomId}:
    get:
      tags: [ rooms ]
      summary: Get voice room details
      operationId: getRoom
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            $ref: './voice-chat-service-schemas.yaml#/RoomId'
      responses:
        '200':
          description: Voice room details
          content:
            application/json:
              schema:
                $ref: './voice-chat-service-schemas.yaml#/VoiceRoom'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [ rooms ]
      summary: Update voice room
      operationId: updateRoom
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            $ref: './voice-chat-service-schemas.yaml#/RoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './voice-chat-service-schemas.yaml#/UpdateRoomRequest'
      responses:
        '200':
          description: Voice room updated
          content:
            application/json:
              schema:
                $ref: './voice-chat-service-schemas.yaml#/VoiceRoom'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [ rooms ]
      summary: Delete voice room
      operationId: deleteRoom
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            $ref: './voice-chat-service-schemas.yaml#/RoomId'
      responses:
        '204':
          description: Voice room deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /rooms/{roomId}/join:
    post:
      tags: [ rooms ]
      summary: Join voice room
      operationId: joinRoom
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            $ref: './voice-chat-service-schemas.yaml#/RoomId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: './voice-chat-service-schemas.yaml#/JoinRoomRequest'
      responses:
        '200':
          description: Successfully joined room
          content:
            application/json:
              schema:
                type: object
                properties:
                  room:
                    $ref: './voice-chat-service-schemas.yaml#/VoiceRoom'
                  ice_servers:
                    type: array
                    items:
                      type: object
                      properties:
                        urls:
                          type: string
                        username:
                          type: string
                        credential:
                          type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /rooms/{roomId}/leave:
    post:
      tags: [ rooms ]
      summary: Leave voice room
      operationId: leaveRoom
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            $ref: './voice-chat-service-schemas.yaml#/RoomId'
      responses:
        '200':
          description: Successfully left room
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /rooms/{roomId}/participants:
    get:
      tags: [ participants ]
      summary: List room participants
      operationId: listParticipants
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            $ref: './voice-chat-service-schemas.yaml#/RoomId'
      responses:
        '200':
          description: List of participants
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './voice-chat-service-schemas.yaml#/VoiceParticipant'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /rooms/{roomId}/participants/{playerId}:
    put:
      tags: [ participants ]
      summary: Update participant settings
      operationId: updateParticipant
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            $ref: './voice-chat-service-schemas.yaml#/RoomId'
        - name: playerId
          in: path
          required: true
          schema:
            $ref: './voice-chat-service-schemas.yaml#/PlayerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './voice-chat-service-schemas.yaml#/ParticipantUpdateRequest'
      responses:
        '200':
          description: Participant updated
          content:
            application/json:
              schema:
                $ref: './voice-chat-service-schemas.yaml#/VoiceParticipant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [ participants ]
      summary: Remove participant from room
      operationId: removeParticipant
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            $ref: './voice-chat-service-schemas.yaml#/RoomId'
        - name: playerId
          in: path
          required: true
          schema:
            $ref: './voice-chat-service-schemas.yaml#/PlayerId'
      responses:
        '204':
          description: Participant removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /signal:
    post:
      tags: [ signaling ]
      summary: Send WebRTC signaling message
      operationId: sendSignal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './voice-chat-service-schemas.yaml#/WebRTCSignal'
      responses:
        '200':
          description: Signal sent successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /rooms/{roomId}/mute:
    post:
      tags: [ moderation ]
      summary: Mute entire room (host only)
      operationId: muteRoom
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            $ref: './voice-chat-service-schemas.yaml#/RoomId'
      responses:
        '200':
          description: Room muted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /rooms/{roomId}/unmute:
    post:
      tags: [ moderation ]
      summary: Unmute entire room (host only)
      operationId: unmuteRoom
      parameters:
        - name: roomId
          in: path
          required: true
          schema:
            $ref: './voice-chat-service-schemas.yaml#/RoomId'
      responses:
        '200':
          description: Room unmuted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: './voice-chat-service-schemas.yaml#/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: './voice-chat-service-schemas.yaml#/Error'
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: './voice-chat-service-schemas.yaml#/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: './voice-chat-service-schemas.yaml#/Error'
    Conflict:
      description: Resource conflict
      content:
        application/json:
          schema:
            $ref: './voice-chat-service-schemas.yaml#/Error'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: './voice-chat-service-schemas.yaml#/Error'