openapi: 3.0.3
info:
  title: Universe Timeline API
  version: 1.0.0
  description: |
    REST API for universe leagues, timeline events, simulation stages and blackwall insights.
    Source: .BRAIN/03-lore/universe.md v1.1.0.
    Integrations: world-service (global events), narrative-service (quest arcs),
    economy-service (technology availability), analytics (progression metrics).
  x-microservice:
    name: world-service
    port: 8086
    domain: world
    base-path: /api/v1/world/universe
    directory: api/v1/world/universe
    package: com.necpgame.worldservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Development API Gateway
tags:
  - name: UniverseTimeline
    description: Timeline and league catalogue
  - name: SimulationStages
    description: Simulation reveal stages and anomalies
  - name: Blackwall
    description: Blackwall insights and restricted knowledge
  - name: UniverseMetrics
    description: Progression metrics and forecasts
paths:
  /world/universe/timeline:
    get:
      tags: [UniverseTimeline]
      summary: List timeline events
      description: Returns paginated timeline events for the active or requested league with phase filters.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
        - $ref: './universe-models.yaml#/components/parameters/LeagueId'
        - $ref: './universe-models.yaml#/components/parameters/PhaseCode'
        - $ref: './universe-models.yaml#/components/parameters/EventType'
        - $ref: './universe-models.yaml#/components/parameters/FromYear'
        - $ref: './universe-models.yaml#/components/parameters/ToYear'
      responses:
        '200':
          description: Timeline event list
          content:
            application/json:
              schema:
                $ref: './universe-models-operations.yaml#/components/schemas/TimelineEventListResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }
  /world/universe/timeline/{eventId}:
    parameters:
      - $ref: './universe-models.yaml#/components/parameters/EventId'
    get:
      tags: [UniverseTimeline]
      summary: Get timeline event
      description: Returns detailed timeline event with related entities, technologies and narrative hooks.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Timeline event detail
          content:
            application/json:
              schema:
                $ref: './universe-models-operations.yaml#/components/schemas/TimelineEventDetailResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }
  /world/universe/leagues:
    get:
      tags: [UniverseTimeline]
      summary: List leagues
      description: Returns leagues with duration, acceleration factor and reset type.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
        - $ref: './universe-models.yaml#/components/parameters/RealYear'
        - $ref: './universe-models.yaml#/components/parameters/LeagueStatus'
      responses:
        '200':
          description: League list
          content:
            application/json:
              schema:
                $ref: './universe-models-operations.yaml#/components/schemas/LeagueListResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalServerError' }
  /world/universe/leagues/{leagueId}/phases:
    parameters:
      - $ref: './universe-models.yaml#/components/parameters/LeagueIdPath'
    get:
      tags: [UniverseTimeline]
      summary: Get league phases
      description: Returns all phases for the specified league including technology levels and unlocks.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: League phases
          content:
            application/json:
              schema:
                $ref: './universe-models-operations.yaml#/components/schemas/LeaguePhaseListResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }
  /world/universe/simulation/stages:
    get:
      tags: [SimulationStages]
      summary: Get simulation stages
      description: Returns ordered list of simulation reveal stages with current stage indicator.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Simulation stages
          content:
            application/json:
              schema:
                $ref: './universe-models-operations.yaml#/components/schemas/SimulationStageListResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalServerError' }
  /world/universe/simulation/stages/advance:
    post:
      tags: [SimulationStages]
      summary: Advance simulation stage
      description: Initiates transition to the next simulation stage after validating triggers.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './universe-models-operations.yaml#/components/schemas/SimulationAdvanceRequest'
      responses:
        '202':
          description: Stage advance accepted
          content:
            application/json:
              schema:
                $ref: './universe-models-operations.yaml#/components/schemas/SimulationAdvanceResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalServerError' }
  /world/universe/simulation/anomalies:
    get:
      tags: [SimulationStages]
      summary: List simulation anomalies
      description: Returns anomalies affecting lore disclosure and data access.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
        - $ref: './universe-models.yaml#/components/parameters/AnomalySeverity'
      responses:
        '200':
          description: Anomaly list
          content:
            application/json:
              schema:
                $ref: './universe-models-operations.yaml#/components/schemas/AnomalyListResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalServerError' }
    post:
      tags: [SimulationStages]
      summary: Register anomaly
      description: Registers a new anomaly with mitigation steps (admin operation).
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './universe-models-operations.yaml#/components/schemas/AnomalyCreateRequest'
      responses:
        '201':
          description: Anomaly registered
          content:
            application/json:
              schema:
                $ref: './universe-models-operations.yaml#/components/schemas/AnomalyDetailResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '500': { $ref: '#/components/responses/InternalServerError' }
  /world/universe/blackwall/insights:
    get:
      tags: [Blackwall]
      summary: List blackwall insights
      description: Aggregated blackwall intelligence with access levels and narrative hooks.
      security:
        - BearerAuth: []
      parameters:
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
        - $ref: './universe-models.yaml#/components/parameters/AccessLevel'
      responses:
        '200':
          description: Blackwall insight list
          content:
            application/json:
              schema:
                $ref: './universe-models-operations.yaml#/components/schemas/BlackwallInsightListResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalServerError' }
  /world/universe/metrics/progression:
    get:
      tags: [UniverseMetrics]
      summary: Get universe progression metrics
      description: Returns league progression metrics, reveal rate and forecast for next stage.
      security:
        - BearerAuth: []
      parameters:
        - $ref: './universe-models.yaml#/components/parameters/LeagueId'
      responses:
        '200':
          description: Progression metrics payload
          content:
            application/json:
              schema:
                $ref: './universe-models-operations.yaml#/components/schemas/ProgressionMetricsResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }
components:
  responses:
    BadRequest:
      $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
    Unauthorized:
      $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
    Forbidden:
      $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'
    NotFound:
      $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
    Conflict:
      $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'
    UnprocessableEntity:
      $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity'
    InternalServerError:
      $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'

