# Target Architecture:
# - Microservice: social-service (guilds module, port 8084)
# - API Base: /api/v1/guilds
# - Dependencies: auth-service, friend-service, clan-war-service, progression-service, economy-service, notification-service, analytics-service, realtime-service, moderation-service
# - Frontend Module: modules/social/guilds (useGuildStore)
# - UI: GuildDashboard, GuildMemberList, GuildRankEditor, GuildBankPanel, GuildEventsCalendar, GuildWarStatus
# - Forms: GuildCreateForm, GuildApplicationForm, GuildRankForm, GuildBankTransactionForm, GuildEventForm
# - Hooks: useGuild, useGuildMembers, useGuildBank, useGuildEvents, useGuildWars

openapi: 3.0.3
info:
  title: Guild System API
  description: "Управление гильдиями NECPGAME: членство, ранги, банк, события, войны и аналитика."
  version: 1.0.0
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/guilds
    package: com.necpgame.socialservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - name: Guilds
    description: Жизненный цикл гильдий
  - name: Members
    description: Управление участниками и заявками
  - name: Ranks
    description: Ранги и разрешения
  - name: Bank
    description: Гильдейский банк и транзакции
  - name: Progression
    description: Уровни, перки и исследования
  - name: Events
    description: Расписание гильдейских событий
  - name: Wars
    description: Интеграция с клановыми войнами и союзами
  - name: Analytics
    description: Отчёты и аудит
paths:
  /guilds:
    post:
      tags: [Guilds]
      summary: Создать гильдию
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './guild-components.yaml#/components/schemas/GuildCreateRequest' }
            examples:
              createGuild:
                $ref: './guild-examples.yaml#/components/examples/CreateGuild'
      responses:
        '201':
          description: Гильдия создана
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildSummary' }
        '400':
          description: Некорректные данные или имя занято
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
    get:
      tags: [Guilds]
      summary: Поиск гильдий
      parameters:
        - in: query
          name: query
          schema: { type: string }
        - in: query
          name: language
          schema: { type: string }
        - in: query
          name: playstyle
          schema: { type: string }
        - in: query
          name: shard
          schema: { type: string }
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Подходящие гильдии
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildSearchResponse' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /guilds/{guildId}:
    parameters:
      - $ref: './guild-components.yaml#/components/parameters/GuildId'
    get:
      tags: [Guilds]
      summary: Получить информацию о гильдии
      responses:
        '200':
          description: Полная карточка гильдии
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildDetail' }
              examples:
                guildDetail:
                  $ref: './guild-examples.yaml#/components/examples/GuildDetail'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
    patch:
      tags: [Guilds]
      summary: Обновить настройки гильдии
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './guild-components.yaml#/components/schemas/GuildUpdateRequest' }
      responses:
        '200':
          description: "Настройки обновлены"
        '400':
          description: "Некорректные параметры"
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
    delete:
      tags: [Guilds]
      summary: Распустить гильдию
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './guild-components.yaml#/components/schemas/GuildDisbandRequest' }
      responses:
        '202':
          description: "Распуск инициирован"
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
  /guilds/{guildId}/members:
    parameters:
      - $ref: './guild-components.yaml#/components/parameters/GuildId'
    get:
      tags: [Members]
      summary: Список участников
      responses:
        '200':
          description: Участники и ранги
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildMembersResponse' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
    post:
      tags: [Members]
      summary: Пригласить или добавить участника
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './guild-components.yaml#/components/schemas/GuildMemberAddRequest' }
      responses:
        '202':
          description: "Приглашение отправлено / участник добавлен"
        '400':
          description: "Лимит достигнут"
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /guilds/{guildId}/members/{memberId}:
    parameters:
      - $ref: './guild-components.yaml#/components/parameters/GuildId'
      - $ref: './guild-components.yaml#/components/parameters/MemberId'
    patch:
      tags: [Members]
      summary: Обновить роль участника
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './guild-components.yaml#/components/schemas/GuildMemberUpdateRequest' }
      responses:
        '200':
          description: "Роль обновлена"
        '400':
          description: "Недопустимая операция"
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
    delete:
      tags: [Members]
      summary: Исключить участника / добровольный выход
      responses:
        '204':
          description: "Участник удалён"
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /guilds/{guildId}/applications:
    parameters:
      - $ref: './guild-components.yaml#/components/parameters/GuildId'
    get:
      tags: [Members]
      summary: Получить заявки
      responses:
        '200':
          description: Заявки на вступление
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildApplicationsResponse' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
    post:
      tags: [Members]
      summary: Подать заявку в гильдию
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './guild-components.yaml#/components/schemas/GuildApplicationRequest' }
      responses:
        '202':
          description: "Заявка создана"
        '400':
          description: "Заявка уже существует"
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildError' }
  /guilds/{guildId}/applications/{applicationId}/approve:
    parameters:
      - $ref: './guild-components.yaml#/components/parameters/GuildId'
      - $ref: './guild-components.yaml#/components/parameters/ApplicationId'
    post:
      tags: [Members]
      summary: Принять или отклонить заявку
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './guild-components.yaml#/components/schemas/GuildApplicationDecisionRequest' }
      responses:
        '200':
          description: "Решение применено"
        '400':
          description: "Заявка недействительна"
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /guilds/{guildId}/ranks:
    parameters:
      - $ref: './guild-components.yaml#/components/parameters/GuildId'
    get:
      tags: [Ranks]
      summary: Получить ранги гильдии
      responses:
        '200':
          description: Ранги и разрешения
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildRanksResponse' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
    put:
      tags: [Ranks]
      summary: Обновить ранги гильдии
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './guild-components.yaml#/components/schemas/GuildRankUpdateRequest' }
      responses:
        '200':
          description: "Ранги обновлены"
        '400':
          description: "Недопустимые разрешения"
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /guilds/{guildId}/bank:
    parameters:
      - $ref: './guild-components.yaml#/components/parameters/GuildId'
    get:
      tags: [Bank]
      summary: Статус гильдейского банка
      responses:
        '200':
          description: Баланс и транзакции
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildBankResponse' }
              examples:
                bank:
                  $ref: './guild-examples.yaml#/components/examples/GuildBank'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /guilds/{guildId}/bank/transactions:
    parameters:
      - $ref: './guild-components.yaml#/components/parameters/GuildId'
    post:
      tags: [Bank]
      summary: Внести или вывести средства
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './guild-components.yaml#/components/schemas/GuildBankTransactionRequest' }
      responses:
        '202':
          description: "Транзакция создана и ждёт подтверждения"
        '400':
          description: "Лимит превышен"
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /guilds/{guildId}/progression:
    parameters:
      - $ref: './guild-components.yaml#/components/parameters/GuildId'
    get:
      tags: [Progression]
      summary: Получить прогрессию гильдии
      responses:
        '200':
          description: Уровень, XP и перки
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildProgression' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /guilds/{guildId}/progression/upgrade:
    parameters:
      - $ref: './guild-components.yaml#/components/parameters/GuildId'
    post:
      tags: [Progression]
      summary: Разблокировать перк или исследование
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './guild-components.yaml#/components/schemas/GuildPerkUnlockRequest' }
      responses:
        '200':
          description: "Перк разблокирован, исследование начато"
        '400':
          description: "Недостаточно ресурсов или зависимость"
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /guilds/{guildId}/events:
    parameters:
      - $ref: './guild-components.yaml#/components/parameters/GuildId'
    get:
      tags: [Events]
      summary: Получить расписание событий
      responses:
        '200':
          description: События гильдии и attendance
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildEventsResponse' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
    post:
      tags: [Events]
      summary: Создать событие
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './guild-components.yaml#/components/schemas/GuildEventCreateRequest' }
            examples:
              eventCreate:
                $ref: './guild-examples.yaml#/components/examples/GuildEventCreate'
      responses:
        '201':
          description: "Событие создано"
        '400':
          description: "Конфликт расписаний"
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /guilds/{guildId}/events/{eventId}/attendance:
    parameters:
      - $ref: './guild-components.yaml#/components/parameters/GuildId'
      - $ref: './guild-components.yaml#/components/parameters/EventId'
    post:
      tags: [Events]
      summary: Подтвердить участие
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './guild-components.yaml#/components/schemas/GuildAttendanceRequest' }
      responses:
        '200':
          description: "Attendance обновлён"
        '400':
          description: "Лимит участников достигнут"
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /guilds/{guildId}/wars:
    parameters:
      - $ref: './guild-components.yaml#/components/parameters/GuildId'
    get:
      tags: [Wars]
      summary: Статус войн и союзов
      responses:
        '200':
          description: Текущие войны, союзы, договоры
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildWarStatusResponse' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /guilds/{guildId}/alliances:
    parameters:
      - $ref: './guild-components.yaml#/components/parameters/GuildId'
    post:
      tags: [Wars]
      summary: Подать заявку на союз
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './guild-components.yaml#/components/schemas/AllianceRequest' }
      responses:
        '202':
          description: "Заявка отправлена"
        '400':
          description: "Конфликт интересов"
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /guilds/{guildId}/audit:
    parameters:
      - $ref: './guild-components.yaml#/components/parameters/GuildId'
    get:
      tags: [Analytics]
      summary: Журнал действий гильдии
      responses:
        '200':
          description: Audit и санкции
          content:
            application/json:
              schema: { $ref: './guild-components.yaml#/components/schemas/GuildAuditResponse' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }

x-websocket:
  url: wss://api.necp.game/v1/guilds/{guildId}/stream
  description: Realtime события гильдий
  parameters:
    - name: guildId
      in: path
      required: true
      schema: { type: string }
  messages:
    memberJoined:
      summary: Новый участник
      payload: { $ref: './guild-components.yaml#/components/schemas/GuildMemberEvent' }
    bankUpdated:
      summary: Обновление банка
      payload: { $ref: './guild-components.yaml#/components/schemas/GuildBankEvent' }
    eventCreated:
      summary: Новое событие
      payload: { $ref: './guild-components.yaml#/components/schemas/GuildEvent' }
    warStatus:
      summary: Обновление войны
      payload: { $ref: './guild-components.yaml#/components/schemas/GuildWarStatus' }
components:
  securitySchemes:
    BearerAuth: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth' }
    ServiceToken: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/ServiceToken' }
    GuildOfficerToken: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/GuildOfficerToken' }
  parameters:
    GuildId: { $ref: './guild-components.yaml#/components/parameters/GuildId' }
  schemas:
    GuildSummary: { $ref: './guild-components.yaml#/components/schemas/GuildSummary' }
    GuildMembersResponse: { $ref: './guild-components.yaml#/components/schemas/GuildMembersResponse' }
    GuildBankResponse: { $ref: './guild-components.yaml#/components/schemas/GuildBankResponse' }
    GuildError: { $ref: './guild-components.yaml#/components/schemas/GuildError' }
  examples:
    CreateGuild: { $ref: './guild-examples.yaml#/components/examples/CreateGuild' }
    GuildDetail: { $ref: './guild-examples.yaml#/components/examples/GuildDetail' }
    GuildBank: { $ref: './guild-examples.yaml#/components/examples/GuildBank' }
    GuildEventCreate: { $ref: './guild-examples.yaml#/components/examples/GuildEventCreate' }
