openapi: 3.0.3
info:
  title: Guild Examples
  version: 1.0.0
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
paths: {}
components:
  examples:
    CreateGuild:
      summary: Создание гильдии
      value:
        name: "Neon Vanguard"
        tag: "NVG"
        description: "Киберпанк-сопротивление, рейды и PvP."
        language: "ru-RU"
        shard: "eu-central-1"
        policy: "application"
        emblemId: "emblem-neon-falcon"
        playstyle: "raid"
    GuildDetail:
      summary: Карточка гильдии
      value:
        guildId: "guild-42af"
        name: "Neon Vanguard"
        tag: "NVG"
        description: "Киберпанк-сопротивление, рейды и PvP."
        language: "ru-RU"
        policy: "application"
        playstyle: "raid"
        level: 12
        xp: 284500
        perksUnlocked: ["bank-tier-2", "mission-bonus-1"]
        shard: "eu-central-1"
        createdAt: "2025-07-18T18:05:00Z"
        emblemUrl: "https://cdn.necpgame.com/guilds/emblems/neon-falcon.png"
        officers: ["player-neo-01", "player-glitch-77"]
    GuildBank:
      summary: Состояние банка
      value:
        balance: 820000
        currency: "credits"
        softCap: 1000000
        hardCap: 1500000
        withdrawalPolicy: "officer_approval"
        transactions:
          - transactionId: "tx-9921"
            type: deposit
            amount: 50000
            initiatorId: "player-neo-01"
            approvedBy: "player-glitch-77"
            status: approved
            timestamp: "2025-11-07T18:22:00Z"
            notes: "Вклад после рейда"
    GuildEventCreate:
      summary: Создание рейдового события
      value:
        title: "Blackwall Siege"
        type: "raid"
        schedule: "2025-11-09T19:30:00Z"
        location: "Blackwall Gate"
        maxParticipants: 40
        description: "Сбор в хабе за 30 минут до начала."
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
