# Target Architecture:
# - Microservice: social-service (8084)
# - Dependencies: world-service, economy-service, notification-service, analytics-service, content-service, telemetry-service
# - Frontend Module: modules/social/player-orders/news
# - State: useSocialStore(playerOrderNews, playerOrderAlerts, newsSubscriptions)
# - UI: NewsFeed, EventBanner, CrisisTicker, CityActivityMap, HighlightCard
# - Forms: NewsFilterForm, SubscriptionForm
# - Hooks: useRealtime, useWebsocket, usePagination, useNotification, useFilters, useMap
# - API Base: /api/v1/social/player-orders/*
openapi: 3.0.3
info:
  title: Player Orders News API
  version: 1.0.0
  description: |
    Социальный сервис для новостной ленты заказов игроков, кризисов, хайлайтов и подписок.

    Источники: `.BRAIN/02-gameplay/social/player-orders-world-impact-детально.md` v1.0.0 (approved, api-readiness: ready)
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - name: Player Order News
    description: Новостная лента и хайлайты заказов игроков
  - name: Player Order Alerts
    description: Уведомления и подписки на события заказов
paths:
  /social/player-orders/news:
    get:
      tags: [Player Order News]
      summary: Получить новостную ленту
      description: Возвращает ленту новостей с фильтрами по городам, тегам, тяжести, заказам и периоду.
      operationId: listPlayerOrderNews
      parameters:
        - $ref: '../player-orders-news-components.yaml#/components/parameters/CityFilter'
        - $ref: '../player-orders-news-components.yaml#/components/parameters/TagFilter'
        - $ref: '../player-orders-news-components.yaml#/components/parameters/SeverityFilter'
        - $ref: '../player-orders-news-components.yaml#/components/parameters/OrderFilter'
        - $ref: '../player-orders-news-components.yaml#/components/parameters/TemplateFilter'
        - $ref: '../player-orders-news-components.yaml#/components/parameters/PeriodFilter'
        - $ref: '../player-orders-news-components.yaml#/components/parameters/LanguageFilter'
        - $ref: '../player-orders-news-components.yaml#/components/parameters/SinceFilter'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Новости получены
          content:
            application/json:
              schema:
                $ref: '../player-orders-news-components.yaml#/components/schemas/PlayerOrderNewsList'
              examples:
                default:
                  $ref: '../player-orders-news-examples.yaml#/components/examples/NewsListExample'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
  /social/player-orders/news/{newsId}:
    parameters:
      - $ref: '../player-orders-news-components.yaml#/components/parameters/NewsId'
    get:
      tags: [Player Order News]
      summary: Получить новость
      description: Возвращает полную информацию о конкретной новости, связанных заказах и событиях.
      operationId: getPlayerOrderNews
      responses:
        '200':
          description: Новость найдена
          content:
            application/json:
              schema:
                $ref: '../player-orders-news-components.yaml#/components/schemas/PlayerOrderNewsItem'
              examples:
                default:
                  $ref: '../player-orders-news-examples.yaml#/components/examples/NewsItemExample'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /social/player-orders/news/highlights:
    get:
      tags: [Player Order News]
      summary: Получить хайлайты
      description: Возвращает подборку ключевых событий и баннеров по заказам и кризисам.
      operationId: listPlayerOrderNewsHighlights
      parameters:
        - $ref: '../player-orders-news-components.yaml#/components/parameters/CityFilter'
        - $ref: '../player-orders-news-components.yaml#/components/parameters/TagFilter'
        - $ref: '../player-orders-news-components.yaml#/components/parameters/SeverityFilter'
        - $ref: '../player-orders-news-components.yaml#/components/parameters/LanguageFilter'
      responses:
        '200':
          description: Хайлайты получены
          content:
            application/json:
              schema:
                $ref: '../player-orders-news-components.yaml#/components/schemas/PlayerOrderNewsHighlightList'
              examples:
                default:
                  $ref: '../player-orders-news-examples.yaml#/components/examples/NewsHighlightsExample'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
  /social/player-orders/news/publish:
    post:
      tags: [Player Order News]
      summary: Опубликовать новость
      description: Создаёт новость в ленте; требует модераторских прав и проверяет контент.
      operationId: publishPlayerOrderNews
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '../player-orders-news-components.yaml#/components/schemas/PlayerOrderNewsPublishRequest'
            examples:
              default:
                $ref: '../player-orders-news-examples.yaml#/components/examples/NewsPublishRequestExample'
      responses:
        '201':
          description: Новость опубликована
          content:
            application/json:
              schema:
                $ref: '../player-orders-news-components.yaml#/components/schemas/PlayerOrderNewsItem'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
  /social/player-orders/news/subscriptions:
    post:
      tags: [Player Order Alerts]
      summary: Создать подписку
      description: Создаёт подписку на новости и уведомления по выбранным фильтрам.
      operationId: createPlayerOrderNewsSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '../player-orders-news-components.yaml#/components/schemas/PlayerOrderNewsSubscriptionRequest'
            examples:
              default:
                $ref: '../player-orders-news-examples.yaml#/components/examples/SubscriptionRequestExample'
      responses:
        '201':
          description: Подписка создана
          content:
            application/json:
              schema:
                $ref: '../player-orders-news-components.yaml#/components/schemas/PlayerOrderNewsSubscription'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
    get:
      tags: [Player Order Alerts]
      summary: Список подписок
      description: Возвращает подписки текущего пользователя или организации.
      operationId: listPlayerOrderNewsSubscriptions
      responses:
        '200':
          description: Подписки получены
          content:
            application/json:
              schema:
                $ref: '../player-orders-news-components.yaml#/components/schemas/PlayerOrderNewsSubscriptionList'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
  /social/player-orders/news/subscriptions/{subscriptionId}:
    parameters:
      - $ref: '../player-orders-news-components.yaml#/components/parameters/SubscriptionId'
    delete:
      tags: [Player Order Alerts]
      summary: Отменить подписку
      description: Удаляет подписку и прекращает доставку уведомлений.
      operationId: deletePlayerOrderNewsSubscription
      responses:
        '204':
          description: Подписка удалена
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
components:
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'
x-kafka-topics:
  social.player-orders.news:
    summary: Публикация новости о заказе
    payload:
      $ref: '../player-orders-news-components.yaml#/components/schemas/PlayerOrderNewsEvent'
  social.player-orders.alert:
    summary: Уведомление о кризисе или предупреждении
    payload:
      $ref: '../player-orders-news-components.yaml#/components/schemas/PlayerOrderNewsAlert'
  social.player-orders.subscription.updated:
    summary: Изменение статуса подписки на новости
    payload:
      $ref: '../player-orders-news-components.yaml#/components/schemas/PlayerOrderNewsSubscription'


