openapi: 3.0.3
info:
  title: Player Orders System API
  version: 1.0.0
  description: |
    API для системы заказов игроков.
    
    Источник: .BRAIN/02-gameplay/social/player-orders-system.md v1.1.0
    
    Типы заказов: крафт, добыча ресурсов, охота, охрана, доставка, квесты
    Механика: заказчик создает → исполнитель принимает → выполняет → получает награду
    Репутация: влияет на доступ к заказам и награды

  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social/player-orders
    package: com.necpgame.socialservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Player Orders
    description: Заказы игроков

paths:
  /:
    get:
      summary: Получить доступные заказы
      description: Возвращает список активных заказов от игроков
      operationId: getPlayerOrders
      tags:
        - Player Orders
      parameters:
        - name: order_type
          in: query
          schema:
            type: string
            enum: [craft, gather, hunt, escort, delivery, quest]
      responses:
        '200':
          description: Список заказов
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      type: object

    post:
      summary: Создать заказ
      description: Создает новый заказ от игрока
      operationId: createPlayerOrder
      tags:
        - Player Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - creator_id
                - order_type
                - description
                - reward
              properties:
                creator_id:
                  type: string
                order_type:
                  type: string
                description:
                  type: string
                reward:
                  type: number
      responses:
        '200':
          description: Заказ создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id:
                    type: string

  /{order_id}/accept:
    post:
      summary: Принять заказ
      description: Исполнитель принимает заказ
      operationId: acceptPlayerOrder
      tags:
        - Player Orders
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - executor_id
              properties:
                executor_id:
                  type: string
      responses:
        '200':
          description: Заказ принят
          content:
            application/json:
              schema:
                type: object

components:
  schemas: {}
