# Target Architecture:
# - Microservice: social-service (8084)
# - API Base: /social/player-orders/*
# - Frontend Module: modules/social/player-orders/ratings
# - State: useSocialRatingsStore(ratings, reviews, penalties, categories)
# - UI: RatingOverview, RatingTrendChart, ReviewFeed, PenaltyTimeline, CategoryBenefitsCard
# - Forms: ReviewSubmitForm, PenaltyApplyForm, CategoryThresholdsForm
# - Hooks: useRatings, useReviews, useRatingJobs, usePenaltyHistory, useAdminScopes
# - Integrations: economy-service, relationships-service, notification-service, telemetry-service, analytics-service
openapi: 3.0.3
info:
  title: Player Order Ratings API
  version: 1.0.0
  description: |
    Контракт social-service для управления рейтинговой системой заказов игроков:
    расчёт баллов, отзывы, санкции и конфигурация категорий.
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - name: Ratings
    description: Получение и пересчёт рейтингов исполнителей и заказчиков.
  - name: Reviews
    description: Управление отзывами в системе заказов.
  - name: Penalties
    description: Применение и просмотр санкций.
  - name: Categories
    description: Конфигурации категорий и decay параметров.
paths:
  /social/player-orders/ratings/{playerId}:
    get:
      tags: [Ratings]
      summary: Получить рейтинг игрока
      description: Возвращает рейтинг игрока по роли, метрики, предупреждения и тренды.
      operationId: getPlayerOrderRating
      parameters:
        - $ref: './ratings-parameters.yaml#/components/parameters/PlayerId'
        - $ref: './ratings-parameters.yaml#/components/parameters/RatingRole'
        - $ref: './ratings-parameters.yaml#/components/parameters/Period'
        - $ref: './ratings-parameters.yaml#/components/parameters/OrderType'
        - $ref: './ratings-parameters.yaml#/components/parameters/IncludeTrends'
        - $ref: './ratings-parameters.yaml#/components/parameters/IncludeMetrics'
        - $ref: './ratings-parameters.yaml#/components/parameters/Locale'
      responses:
        '200':
          description: Рейтинг найден
          content:
            application/json:
              schema:
                $ref: './ratings-schemas-ratings.yaml#/components/schemas/RatingSummaryResponse'
              examples:
                gold:
                  $ref: './ratings-examples.yaml#/components/examples/PlayerRatingGoldExample'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /social/player-orders/ratings:
    get:
      tags: [Ratings]
      summary: Список рейтингов
      description: Возвращает список рейтингов с фильтрами по роли, категории и типу заказов.
      operationId: listPlayerOrderRatings
      parameters:
        - $ref: './ratings-parameters.yaml#/components/parameters/RatingRole'
        - $ref: './ratings-parameters.yaml#/components/parameters/RatingCategory'
        - $ref: './ratings-parameters.yaml#/components/parameters/OrderType'
        - $ref: './ratings-parameters.yaml#/components/parameters/Period'
        - $ref: './ratings-parameters.yaml#/components/parameters/IncludeMetrics'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Рейтинги получены
          content:
            application/json:
              schema:
                $ref: './ratings-schemas-ratings.yaml#/components/schemas/RatingListResponse'
              examples:
                list:
                  $ref: './ratings-examples.yaml#/components/examples/RatingListResponseExample'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /social/player-orders/ratings/recalculate:
    post:
      tags: [Ratings]
      summary: Запустить пересчёт рейтингов
      description: Ставит batch-задачу пересчёта рейтингов в очередь и публикует событие при завершении.
      operationId: recalculatePlayerOrderRatings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './ratings-schemas-config.yaml#/components/schemas/RatingRecalculateRequest'
            examples:
              default:
                $ref: './ratings-examples.yaml#/components/examples/RatingRecalculateRequestExample'
      responses:
        '202':
          description: Пересчёт запущен
          content:
            application/json:
              schema:
                $ref: './ratings-schemas-config.yaml#/components/schemas/RatingRecalculateJobResponse'
              examples:
                queued:
                  $ref: './ratings-examples.yaml#/components/examples/RatingRecalculateJobExample'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /social/player-orders/ratings/jobs/{jobId}:
    get:
      tags: [Ratings]
      summary: Получить статус задачи пересчёта
      description: Возвращает подробности batch-задачи пересчёта рейтингов.
      operationId: getPlayerOrderRatingJob
      parameters:
        - $ref: './ratings-parameters.yaml#/components/parameters/JobId'
      responses:
        '200':
          description: Статус задачи
          content:
            application/json:
              schema:
                $ref: './ratings-schemas-config.yaml#/components/schemas/RatingRecalculateJobResponse'
              examples:
                job:
                  $ref: './ratings-examples.yaml#/components/examples/RatingRecalculateJobExample'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /social/player-orders/reviews:
    post:
      tags: [Reviews]
      summary: Создать отзыв
      description: Создаёт отзыв о заказе и отправляет его на модерацию токсичности.
      operationId: createPlayerOrderReview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './ratings-schemas-feedback.yaml#/components/schemas/PlayerOrderReviewCreateRequest'
            examples:
              default:
                $ref: './ratings-examples.yaml#/components/examples/ReviewCreateRequestExample'
      responses:
        '201':
          description: Отзыв принят
          content:
            application/json:
              schema:
                $ref: './ratings-schemas-feedback.yaml#/components/schemas/ReviewSubmissionResponse'
              examples:
                pending:
                  $ref: './ratings-examples.yaml#/components/examples/ReviewSubmissionResponseExample'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
    get:
      tags: [Reviews]
      summary: Получить отзывы игрока
      description: Возвращает отзывы о целевом игроке с фильтрами по роли и периоду.
      operationId: listPlayerOrderReviews
      parameters:
        - $ref: './ratings-parameters.yaml#/components/parameters/TargetPlayerId'
        - $ref: './ratings-parameters.yaml#/components/parameters/RatingRole'
        - $ref: './ratings-parameters.yaml#/components/parameters/RatingCategory'
        - $ref: './ratings-parameters.yaml#/components/parameters/Period'
        - $ref: './ratings-parameters.yaml#/components/parameters/Locale'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Отзывы получены
          content:
            application/json:
              schema:
                $ref: './ratings-schemas-feedback.yaml#/components/schemas/PlayerOrderReviewListResponse'
              examples:
                list:
                  $ref: './ratings-examples.yaml#/components/examples/ReviewListResponseExample'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /social/player-orders/reviews/{orderId}:
    get:
      tags: [Reviews]
      summary: Получить отзывы по заказу
      description: Возвращает отзывы, связанные с конкретным заказом.
      operationId: listPlayerOrderReviewsByOrder
      parameters:
        - $ref: './ratings-parameters.yaml#/components/parameters/OrderId'
        - $ref: './ratings-parameters.yaml#/components/parameters/RatingRole'
        - $ref: './ratings-parameters.yaml#/components/parameters/Locale'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Отзывы по заказу получены
          content:
            application/json:
              schema:
                $ref: './ratings-schemas-feedback.yaml#/components/schemas/PlayerOrderReviewListResponse'
              examples:
                order:
                  $ref: './ratings-examples.yaml#/components/examples/ReviewListResponseExample'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /social/player-orders/penalties:
    post:
      tags: [Penalties]
      summary: Применить санкцию
      description: Создаёт санкцию для игрока и публикует событие о корректировке награды.
      operationId: applyPlayerOrderPenalty
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './ratings-schemas-feedback.yaml#/components/schemas/PlayerOrderPenaltyRequest'
            examples:
              default:
                $ref: './ratings-examples.yaml#/components/examples/PenaltyRequestExample'
      responses:
        '201':
          description: Санкция применена
          content:
            application/json:
              schema:
                $ref: './ratings-schemas-feedback.yaml#/components/schemas/PlayerOrderPenaltyResponse'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /social/player-orders/penalties/{playerId}:
    get:
      tags: [Penalties]
      summary: История санкций игрока
      description: Возвращает список санкций и их статус для указанного игрока.
      operationId: listPlayerOrderPenalties
      parameters:
        - $ref: './ratings-parameters.yaml#/components/parameters/PlayerId'
        - $ref: './ratings-parameters.yaml#/components/parameters/RatingRole'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: История санкций получена
          content:
            application/json:
              schema:
                $ref: './ratings-schemas-feedback.yaml#/components/schemas/PlayerOrderPenaltyListResponse'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /social/player-orders/categories:
    get:
      tags: [Categories]
      summary: Получить конфигурацию категорий
      description: Возвращает актуальные пороги рейтингов, decay и бонусы.
      operationId: getPlayerOrderRatingCategories
      responses:
        '200':
          description: Конфигурация категорий
          content:
            application/json:
              schema:
                $ref: './ratings-schemas-config.yaml#/components/schemas/RatingCategoriesResponse'
              examples:
                default:
                  $ref: './ratings-examples.yaml#/components/examples/CategoryConfigExample'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
    patch:
      tags: [Categories]
      summary: Обновить конфигурацию категорий
      description: Обновляет пороги категорий и настройки decay. Требует административных привилегий.
      operationId: patchPlayerOrderRatingCategories
      security:
        - BearerAuth: []
      x-required-scopes:
        - social.ratings.admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './ratings-schemas-config.yaml#/components/schemas/RatingCategoryPatchRequest'
            examples:
              default:
                $ref: './ratings-examples.yaml#/components/examples/CategoryConfigExample'
      responses:
        '202':
          description: Конфигурация обновляется
          content:
            application/json:
              schema:
                $ref: './ratings-schemas-config.yaml#/components/schemas/RatingCategoriesResponse'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
components:
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'
x-kafka-topics:
  social.player-orders.rating.updated:
    summary: Рейтинг игрока обновлён.
    payload:
      $ref: './ratings-schemas-config.yaml#/components/schemas/RatingUpdatedEvent'
  social.player-orders.review.created:
    summary: Создан новый отзыв.
    payload:
      $ref: './ratings-schemas-config.yaml#/components/schemas/ReviewCreatedEvent'
  social.player-orders.penalty.applied:
    summary: Применена санкция к игроку.
    payload:
      $ref: './ratings-schemas-config.yaml#/components/schemas/PenaltyAppliedEvent'
  economy.player-orders.reward.adjusted:
    summary: Экономический сервис скорректировал награду после санкции.
    payload:
      type: object
      required: [orderId, playerId, delta, appliedAt]
      properties:
        orderId:
          type: string
          format: uuid
        playerId:
          type: string
          format: uuid
        delta:
          type: number
          format: float
        appliedAt:
          type: string
          format: date-time


