openapi: 3.0.3
info:
  title: Player Order Ratings Config Schemas
  version: 1.0.0
  description: Конфигурации категорий, batch задач и событий рейтингов.
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
paths: {}
components:
  schemas:
    RatingRecalculateRequest:
      type: object
      required:
        - playerIds
        - role
        - reason
      properties:
        playerIds:
          type: array
          minItems: 1
          maxItems: 500
          items:
            type: string
            format: uuid
        role:
          type: string
          enum: [executor, client, both]
        reason:
          type: string
          enum:
            - seasonal_reset
            - anomaly_detected
            - manual_adjustment
            - dispute_resolution
            - data_sync
        requestedBy:
          type: string
          format: uuid
        notifyPlayers:
          type: boolean
          default: false
    RatingRecalculateJob:
      type: object
      required:
        - jobId
        - status
        - createdAt
      properties:
        jobId:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued, running, completed, failed, cancelled]
        role:
          type: string
          enum: [executor, client, both]
        processedCount:
          type: integer
          minimum: 0
        failedCount:
          type: integer
          minimum: 0
        errors:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
        finishedAt:
          type: string
          format: date-time
        requestedBy:
          type: string
          format: uuid
    RatingRecalculateJobResponse:
      type: object
      required:
        - jobId
        - status
      properties:
        jobId:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued, running, completed, failed, cancelled]
        job:
          $ref: '#/components/schemas/RatingRecalculateJob'
    RatingCategoryConfig:
      type: object
      required:
        - category
        - minScore
        - maxScore
      properties:
        category:
          type: string
          enum: [bronze, silver, gold, platinum]
        minScore:
          type: number
          format: float
        maxScore:
          type: number
          format: float
        decayRate:
          type: number
          format: float
          description: Ежедневное снижение рейтинга без активности.
        boostThreshold:
          type: integer
          description: Количество успешных заказов до бонуса.
        benefits:
          $ref: '#/components/schemas/RatingCategoryBenefits'
        warnings:
          type: array
          items:
            type: string
    RatingCategoryBenefits:
      type: object
      properties:
        commissionDiscount:
          type: number
          format: float
          example: 0.05
        escrowBonus:
          type: number
          format: float
          example: 0.1
        inviteQuota:
          type: integer
          example: 10
        exclusiveContracts:
          type: boolean
        matchmakingBoost:
          type: boolean
    RatingCategoriesResponse:
      type: object
      required:
        - data
        - version
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RatingCategoryConfig'
        version:
          type: string
          example: "2077.Q4"
        updatedAt:
          type: string
          format: date-time
        decayDefaults:
          type: object
          properties:
            inactivityGraceDays:
              type: integer
              minimum: 0
            minimumFloor:
              type: number
              format: float
              minimum: 0
              maximum: 100
    RatingCategoryPatchRequest:
      type: object
      required:
        - version
        - categories
      properties:
        version:
          type: string
        categories:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RatingCategoryConfig'
        decayDefaults:
          type: object
          properties:
            inactivityGraceDays:
              type: integer
            minimumFloor:
              type: number
              format: float
        updatedBy:
          type: string
          format: uuid
    RatingUpdatedEvent:
      type: object
      required:
        - eventId
        - playerId
        - role
        - score
        - category
        - occurredAt
      properties:
        eventId:
          type: string
          format: uuid
        playerId:
          type: string
          format: uuid
        role:
          type: string
          enum: [executor, client]
        score:
          type: number
          format: float
        category:
          type: string
          enum: [bronze, silver, gold, platinum]
        previousScore:
          type: number
          format: float
        previousCategory:
          type: string
        delta:
          type: number
          format: float
        occurredAt:
          type: string
          format: date-time
        source:
          type: string
          enum: [recalculate, review, penalty, manual]
    ReviewCreatedEvent:
      type: object
      required:
        - eventId
        - reviewId
        - orderId
        - targetId
        - role
        - createdAt
      properties:
        eventId:
          type: string
          format: uuid
        reviewId:
          type: string
          format: uuid
        orderId:
          type: string
          format: uuid
        targetId:
          type: string
          format: uuid
        role:
          type: string
          enum: [executor, client]
        sentimentScore:
          type: number
          format: float
        createdAt:
          type: string
          format: date-time
    PenaltyAppliedEvent:
      type: object
      required:
        - eventId
        - penaltyId
        - playerId
        - role
        - delta
        - appliedAt
      properties:
        eventId:
          type: string
          format: uuid
        penaltyId:
          type: string
          format: uuid
        playerId:
          type: string
          format: uuid
        role:
          type: string
          enum: [executor, client]
        penaltyType:
          type: string
        delta:
          type: number
          format: float
        appliedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
