openapi: 3.0.3
info:
  title: Player Order Reviews Core Schemas
  version: 1.0.0
  description: Базовые структуры отзывов для системы заказов игроков.
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
paths: {}
components:
  schemas:
    PlayerOrderReviewCreateRequest:
      type: object
      required:
        - orderId
        - reviewerId
        - targetId
        - role
        - ratings
        - text
      properties:
        orderId:
          type: string
          format: uuid
        reviewerId:
          type: string
          format: uuid
        targetId:
          type: string
          format: uuid
        role:
          type: string
          enum: [executor, client]
        ratings:
          $ref: '#/components/schemas/ReviewRatings'
        text:
          type: string
          minLength: 16
          maxLength: 2000
        tags:
          type: array
          items:
            type: string
            maxLength: 32
        visibility:
          type: string
          enum: [public, private, trusted_only]
          default: public
        locale:
          type: string
          pattern: '^[a-z]{2}(-[A-Z]{2})?$'
        attachments:
          type: array
          items:
            type: string
            format: uri
        metadata:
          type: object
          additionalProperties: true
    PlayerOrderReview:
      type: object
      required:
        - reviewId
        - orderId
        - reviewerId
        - targetId
        - role
        - ratings
        - text
        - createdAt
        - moderation
      properties:
        reviewId:
          type: string
          format: uuid
        orderId:
          type: string
          format: uuid
        reviewerId:
          type: string
          format: uuid
        targetId:
          type: string
          format: uuid
        role:
          type: string
          enum: [executor, client]
        ratings:
          $ref: '#/components/schemas/ReviewRatings'
        text:
          type: string
        flags:
          type: array
          items:
            $ref: '#/components/schemas/ReviewFlag'
        moderation:
          $ref: '#/components/schemas/ReviewModeration'
        sentimentScore:
          type: number
          format: float
          minimum: -1
          maximum: 1
        locale:
          type: string
        attachments:
          type: array
          items:
            type: string
            format: uri
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        status:
          type: string
          enum: [active, archived, removed]
    ReviewRatings:
      type: object
      required:
        - quality
        - communication
      properties:
        quality:
          type: integer
          minimum: 1
          maximum: 5
        communication:
          type: integer
          minimum: 1
          maximum: 5
        professionalism:
          type: integer
          minimum: 1
          maximum: 5
        fairness:
          type: integer
          minimum: 1
          maximum: 5
    ReviewFlag:
      type: object
      required:
        - flag
        - setBy
        - setAt
      properties:
        flag:
          type: string
          enum: [positive, neutral, negative, warning, dispute]
        reason:
          type: string
          maxLength: 512
        setBy:
          type: string
          format: uuid
        setAt:
          type: string
          format: date-time
    ReviewModeration:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [pending, approved, rejected, needs_revision]
        reviewerId:
          type: string
          format: uuid
        reviewedAt:
          type: string
          format: date-time
        toxicityScore:
          type: number
          format: float
          minimum: 0
          maximum: 1
        rejectionReason:
          type: string
          maxLength: 1024
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ReviewModerationAction'
    ReviewModerationAction:
      type: object
      required:
        - action
        - performedAt
      properties:
        action:
          type: string
          enum: [ban_author, archive_review, escalate_to_arbitration, request_revision]
        performedBy:
          type: string
          format: uuid
        performedAt:
          type: string
          format: date-time
        notes:
          type: string
          maxLength: 1024
    ReviewSummary:
      type: object
      required:
        - playerId
        - role
        - average
        - count
      properties:
        playerId:
          type: string
          format: uuid
        role:
          type: string
          enum: [executor, client]
        average:
          $ref: '#/components/schemas/ReviewRatings'
        count:
          type: integer
          minimum: 0
        flagsBreakdown:
          type: object
          additionalProperties:
            type: integer
        lastUpdated:
          type: string
          format: date-time
    PlayerOrderReviewListResponse:
      type: object
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PlayerOrderReview'
        pagination:
          $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginationMeta'
    PlayerOrderReviewSummaryResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/ReviewSummary'
    PlayerOrderReviewUpdateRequest:
      type: object
      properties:
        text:
          type: string
          minLength: 16
          maxLength: 2000
        tags:
          type: array
          items:
            type: string
            maxLength: 32
        visibility:
          type: string
          enum: [public, private, trusted_only]
        locale:
          type: string
          pattern: '^[a-z]{2}(-[A-Z]{2})?$'
        attachments:
          type: array
          items:
            type: string
            format: uri

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
