openapi: 3.0.3
info:
  title: Player Order Reviews Parameters
  version: 1.0.0
  description: Общие параметры для API отзывов заказов игроков.
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
paths: {}
components:
  parameters:
    ReviewId:
      name: reviewId
      in: path
      required: true
      description: Идентификатор отзыва.
      schema:
        type: string
        format: uuid
    OrderId:
      name: orderId
      in: path
      required: true
      description: Идентификатор заказа.
      schema:
        type: string
        format: uuid
    TargetPlayerId:
      name: playerId
      in: query
      description: Идентификатор игрока, чьи отзывы запрашиваются.
      schema:
        type: string
        format: uuid
    ReviewerId:
      name: reviewerId
      in: query
      description: Фильтр по автору отзыва.
      schema:
        type: string
        format: uuid
    Role:
      name: role
      in: query
      description: Роль участника в заказе.
      schema:
        type: string
        enum: [executor, client]
    Flag:
      name: flag
      in: query
      description: Фильтр по флагу отзыва.
      schema:
        type: string
        enum: [positive, neutral, negative, warning, dispute]
    ModerationStatus:
      name: moderationStatus
      in: query
      description: Статус модерации отзывов.
      schema:
        type: string
        enum: [pending, approved, rejected, needs_revision]
    Category:
      name: category
      in: query
      description: Категория рейтинга игрока.
      schema:
        type: string
        enum: [bronze, silver, gold, platinum]
    Period:
      name: period
      in: query
      description: Временной диапазон выборки отзывов.
      schema:
        type: string
        enum: [7d, 30d, 90d, season, lifetime]
    Locale:
      name: locale
      in: query
      description: Локализация текстов отзывов.
      schema:
        type: string
        pattern: '^[a-z]{2}(-[A-Z]{2})?$'

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
