openapi: 3.0.3
info:
  title: Player Order Reviews Examples
  version: 1.0.0
  description: Примеры запросов и ответов для API отзывов заказов игроков.
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
paths: {}
components:
  examples:
    ReviewCreateExample:
      summary: Создание отзыва
      value:
        orderId: "3d5bfb02-6a27-4c9a-9747-6d1e0fb2c912"
        reviewerId: "7fb0f6c8-93a0-4e9b-94dc-6a3fa0b2c1c2"
        targetId: "2fa9bd27-bf54-479b-b5ed-ef30cd7a1c8d"
        role: client
        ratings:
          quality: 5
          communication: 4
          professionalism: 5
          fairness: 4
        text: "Команда выполнила заказ качественно и без задержек, рекомендую."
        tags: ["stealth", "teamplay"]
        visibility: public
        locale: "ru-RU"
    ReviewResponseExample:
      summary: Отзыв после модерации
      value:
        reviewId: "6ab5d3d2-53a8-4f68-8a9d-793b1a3f506d"
        orderId: "3d5bfb02-6a27-4c9a-9747-6d1e0fb2c912"
        reviewerId: "7fb0f6c8-93a0-4e9b-94dc-6a3fa0b2c1c2"
        targetId: "2fa9bd27-bf54-479b-b5ed-ef30cd7a1c8d"
        role: client
        ratings:
          quality: 5
          communication: 4
          professionalism: 5
          fairness: 4
        text: "Команда выполнила заказ качественно и без задержек, рекомендую."
        flags:
          - flag: positive
            setBy: "7fb0f6c8-93a0-4e9b-94dc-6a3fa0b2c1c2"
            setAt: "2025-11-08T16:01:22Z"
        moderation:
          status: approved
          reviewerId: "a1ef2e4d-22ed-4d78-bd0e-b54ce76b4468"
          reviewedAt: "2025-11-08T16:01:22Z"
          toxicityScore: 0.03
        sentimentScore: 0.82
        locale: "ru-RU"
        createdAt: "2025-11-08T16:00:00Z"
        updatedAt: "2025-11-08T16:01:22Z"
        status: active
    ReviewListExample:
      summary: Выборка отзывов по игроку
      value:
        data:
          - reviewId: "6ab5d3d2-53a8-4f68-8a9d-793b1a3f506d"
            orderId: "3d5bfb02-6a27-4c9a-9747-6d1e0fb2c912"
            reviewerId: "7fb0f6c8-93a0-4e9b-94dc-6a3fa0b2c1c2"
            targetId: "2fa9bd27-bf54-479b-b5ed-ef30cd7a1c8d"
            role: client
            ratings:
              quality: 5
              communication: 4
              professionalism: 5
              fairness: 4
            text: "Команда выполнила заказ качественно и без задержек, рекомендую."
            flags:
              - flag: positive
                setBy: "7fb0f6c8-93a0-4e9b-94dc-6a3fa0b2c1c2"
                setAt: "2025-11-08T16:01:22Z"
            moderation:
              status: approved
              reviewerId: "a1ef2e4d-22ed-4d78-bd0e-b54ce76b4468"
              reviewedAt: "2025-11-08T16:01:22Z"
              toxicityScore: 0.03
            sentimentScore: 0.82
            locale: "ru-RU"
            createdAt: "2025-11-08T16:00:00Z"
            updatedAt: "2025-11-08T16:01:22Z"
            status: active
        pagination:
          page: 1
          pageSize: 20
          total: 1
          totalPages: 1
    ReviewSummaryExample:
      summary: Сводка отзывов по игроку
      value:
        data:
          playerId: "2fa9bd27-bf54-479b-b5ed-ef30cd7a1c8d"
          role: executor
          average:
            quality: 4.6
            communication: 4.4
            professionalism: 4.8
            fairness: 4.3
          count: 182
          flagsBreakdown:
            positive: 158
            neutral: 12
            negative: 9
            dispute: 3
          sentimentScore: 0.65
          lastUpdated: "2025-11-08T16:30:00Z"
    ReviewFlagExample:
      summary: Установка флага отзыва
      value:
        flag: dispute
        reason: "Оплата задержана, заказчик не вышел на связь."
        setBy: "2fa9bd27-bf54-479b-b5ed-ef30cd7a1c8d"
    ReviewDisputeExample:
      summary: Жалоба на отзыв
      value:
        complaintType: payment_issue
        description: "Заказчик оставил негативный отзыв, хотя оплата была задержана его банком."
        attachments:
          - "https://cdn.necpgame.com/proofs/payment-receipt.png"

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
