openapi: 3.0.3
info:
  title: Player Order Reviews Admin Schemas
  version: 1.0.0
  description: Схемы для жалоб, модерации и агрегаций отзывов.
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
paths: {}
components:
  schemas:
    ReviewFlagRequest:
      type: object
      required:
        - flag
      properties:
        flag:
          type: string
          enum: [positive, neutral, negative, warning, dispute]
        reason:
          type: string
          maxLength: 512
        setBy:
          type: string
          format: uuid
    ReviewFlagResponse:
      type: object
      required:
        - reviewId
        - flags
      properties:
        reviewId:
          type: string
          format: uuid
        flags:
          type: array
          items:
            $ref: './reviews-schemas-core.yaml#/components/schemas/ReviewFlag'
    ReviewModerationRequest:
      type: object
      required:
        - action
      properties:
        action:
          type: string
          enum: [approve, reject, request_revision, escalate, archive]
        notes:
          type: string
          maxLength: 1024
    ReviewDisputeRequest:
      type: object
      required:
        - complaintType
        - description
      properties:
        complaintType:
          type: string
          enum: [payment_issue, harassment, fraud, spam, other]
        description:
          type: string
          minLength: 16
          maxLength: 2000
        attachments:
          type: array
          items:
            type: string
            format: uri
    ReviewDisputeResponse:
      type: object
      required:
        - reviewId
        - disputeId
        - status
      properties:
        reviewId:
          type: string
          format: uuid
        disputeId:
          type: string
          format: uuid
        status:
          type: string
          enum: [filed, investigating, resolved, rejected]
        createdAt:
          type: string
          format: date-time
    ReviewAggregation:
      type: object
      required:
        - role
        - totals
        - averages
      properties:
        role:
          type: string
          enum: [executor, client]
        totals:
          type: object
          additionalProperties:
            type: integer
        averages:
          $ref: './reviews-schemas-core.yaml#/components/schemas/ReviewRatings'
        flagsBreakdown:
          type: object
          additionalProperties:
            type: integer
        sentimentScore:
          type: number
          format: float
    ReviewAggregationResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ReviewAggregation'

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
