# Target Architecture:
# - Microservice: gameplay-service (port 8083)
# - API Base: /api/v1/gameplay/clans
# - Dependencies: auth-service, guild-service, economy-service, notification-service, analytics-service, incident-service, realtime-service
# - Frontend Module: modules/clans/war (useClanWarStore)
# - UI: ClanWarDashboard, WarDeclarationForm, SiegeTimeline, TerritoryMap, AlliancePanel, WarRewardsModal
# - Forms: DeclareWarForm, ScheduleSiegeForm, AllianceInviteForm, RewardDistributionForm
# - Layouts: ClanHQLayout, WarOperationsLayout
# - Hooks: useWarTimeline, useTerritoryControl, useSiegeStatus

openapi: 3.0.3
info:
  title: Clan War System API
  description: "Клановые войны, осады и контроль территорий NECPGAME: объявление, расписания, награды, штрафы и аналитика."
  version: 1.0.0
  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/clans
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - name: Wars
    description: Управление войнами, фазами и расписаниями
  - name: Sieges
    description: Планирование и отчёты по осадам
  - name: Territories
    description: Контроль территорий, укрепления и бонусы
  - name: Alliances
    description: Союзы кланов и координация поддержки
  - name: Analytics
    description: История, аналитика и глобальные показатели
  - name: Governance
    description: Администраторские операции, штрафы и broadcast
paths:
  /gameplay/clans/{clanId}/wars/declare:
    parameters:
      - $ref: './clan-war-components.yaml#/components/parameters/ClanId'
    post:
      tags: [Wars]
      summary: Объявить войну другому клану
      description: Проверяет стоимостные требования, подготовительные окна и ограничения по союзам, инициирует фазу подготовки.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './clan-war-components.yaml#/components/schemas/WarDeclarationRequest' }
            examples:
              declareWar:
                $ref: './examples.yaml#/components/examples/WarDeclarationRequest'
      responses:
        '201':
          description: Война объявлена
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/WarDeclarationResponse' }
        '400':
          description: Условия войны не выполнены
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/ClanWarError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '409':
          description: Клан уже в войне или превышен лимит
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/ClanWarError' }
  /gameplay/clans/wars/pending:
    get:
      tags: [Wars]
      summary: Список войн в подготовительной фазе
      parameters:
        - name: region
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Подготовительные войны и таймеры
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/PendingWarsResponse' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/clans/wars/{warId}/accept:
    parameters:
      - $ref: './clan-war-components.yaml#/components/parameters/WarId'
    post:
      tags: [Wars]
      summary: Принять или отклонить войну защищающимся кланом
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './clan-war-components.yaml#/components/schemas/WarAcceptanceRequest' }
      responses:
        '200': { description: Статус войны обновлён }
        '400':
          description: Нельзя изменить статус (истёк таймер)
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/ClanWarError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/clans/wars/{warId}:
    parameters:
      - $ref: './clan-war-components.yaml#/components/parameters/WarId'
    get:
      tags: [Wars]
      summary: Получить детали клановой войны
      responses:
        '200':
          description: Детальная информация о войне
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/ClanWar' }
              examples:
                warDetail:
                  $ref: './examples.yaml#/components/examples/ClanWarDetail'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /gameplay/clans/wars/{warId}/schedule-siege:
    parameters:
      - $ref: './clan-war-components.yaml#/components/parameters/WarId'
    post:
      tags: [Sieges]
      summary: Запланировать осаду в ходе войны
      description: Создаёт событие осады с привязкой к территории, проверяя окна уязвимости и ограничения realtime-серверов.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './clan-war-components.yaml#/components/schemas/SiegePlanRequest' }
            examples:
              siegePlan:
                $ref: './examples.yaml#/components/examples/SiegePlanRequest'
      responses:
        '201':
          description: Осада запланирована
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/SiegePlan' }
        '400':
          description: Территория недоступна или окно защиты
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/ClanWarError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/clans/wars/{warId}/sieges:
    parameters:
      - $ref: './clan-war-components.yaml#/components/parameters/WarId'
    get:
      tags: [Sieges]
      summary: Получить список осад по войне
      responses:
        '200':
          description: Текущие и завершённые осады
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/SiegeListResponse' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/clans/wars/{warId}/alliances:
    parameters:
      - $ref: './clan-war-components.yaml#/components/parameters/WarId'
    post:
      tags: [Alliances]
      summary: Управление союзами в ходе войны
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './clan-war-components.yaml#/components/schemas/AllianceRequest' }
      responses:
        '200': { description: Союз обновлён }
        '400':
          description: Превышен лимит союзников или конфликт интересов
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/ClanWarError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/clans/territories:
    get:
      tags: [Territories]
      summary: Получить карту территорий
      parameters:
        - name: region
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Список территорий и статусов
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/TerritoryMapResponse' }
              examples:
                territories:
                  $ref: './examples.yaml#/components/examples/TerritoryMap'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/clans/territories/{territoryId}/fortify:
    parameters:
      - $ref: './clan-war-components.yaml#/components/parameters/TerritoryId'
    post:
      tags: [Territories]
      summary: Укрепить территорию
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './clan-war-components.yaml#/components/schemas/FortifyRequest' }
      responses:
        '200': { description: Укрепление применено }
        '400':
          description: Недостаточно ресурсов или cooldown
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/ClanWarError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/clans/wars/{warId}/report:
    parameters:
      - $ref: './clan-war-components.yaml#/components/parameters/WarId'
    post:
      tags: [Sieges]
      summary: Зарегистрировать боевой отчёт
      description: Фиксирует результаты конкретного боя/осады, начисляет очки и запускает рассылку уведомлений.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './clan-war-components.yaml#/components/schemas/WarReportRequest' }
      responses:
        '202': { description: Отчёт принят к обработке }
        '400':
          description: Нарушение формата отчёта или повторная отправка
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/ClanWarError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/clans/wars/{warId}/resolve:
    parameters:
      - $ref: './clan-war-components.yaml#/components/parameters/WarId'
    post:
      tags: [Wars]
      summary: Завершить войну и распределить награды
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './clan-war-components.yaml#/components/schemas/WarResolutionRequest' }
            examples:
              resolution:
                $ref: './examples.yaml#/components/examples/WarResolutionRequest'
      responses:
        '200':
          description: Война завершена, награды/штрафы рассчитаны
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/WarResolutionResponse' }
        '400':
          description: Ещё есть активные осады или не закрыты отчёты
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/ClanWarError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/clans/wars/history:
    get:
      tags: [Analytics]
      summary: История войн
      parameters:
        - name: clanId
          in: query
          schema: { type: string }
        - name: territoryId
          in: query
          schema: { type: string }
        - name: range
          in: query
          schema: { type: string, enum: [7d, 30d, season] }
      responses:
        '200':
          description: Записи истории войн
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/WarHistoryResponse' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/clans/wars/analytics:
    get:
      tags: [Analytics]
      summary: Аналитика клановых войн
      parameters:
        - name: range
          in: query
          schema: { type: string, enum: [7d, 30d, 90d], default: 30d }
        - name: region
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Показатели войн, доминирование территорий
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/WarAnalyticsResponse' }
              examples:
                analytics:
                  $ref: './examples.yaml#/components/examples/WarAnalytics'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/clans/wars/{warId}/penalties:
    parameters:
      - $ref: './clan-war-components.yaml#/components/parameters/WarId'
    post:
      tags: [Governance]
      summary: Применить штрафы
      security:
        - ServiceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './clan-war-components.yaml#/components/schemas/PenaltyRequest' }
      responses:
        '202': { description: Штраф принят в обработку }
        '400':
          description: Штраф не соответствует политике
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/ClanWarError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/clans/wars/{warId}/broadcast:
    parameters:
      - $ref: './clan-war-components.yaml#/components/parameters/WarId'
    post:
      tags: [Governance]
      summary: Отправить уведомление о войне
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './clan-war-components.yaml#/components/schemas/BroadcastRequest' }
            examples:
              broadcast:
                $ref: './examples.yaml#/components/examples/BroadcastRequest'
      responses:
        '202': { description: Уведомление поставлено в очередь }
        '400':
          description: Канал рассылки недоступен или совпадает с cooldown
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/ClanWarError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/clans/wars/settings:
    get:
      tags: [Governance]
      summary: Получить настройки системы клановых войн
      responses:
        '200':
          description: Лимиты, окна защиты, стоимость объявлений
          content:
            application/json:
              schema: { $ref: './clan-war-components.yaml#/components/schemas/ClanWarSettings' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
components:
  securitySchemes:
    BearerAuth: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth' }
    ServiceToken: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/ServiceToken' }
  parameters:
    ClanId: { $ref: './clan-war-components.yaml#/components/parameters/ClanId' }
    WarId: { $ref: './clan-war-components.yaml#/components/parameters/WarId' }
    TerritoryId: { $ref: './clan-war-components.yaml#/components/parameters/TerritoryId' }
  schemas:
    ClanWar: { $ref: './clan-war-components.yaml#/components/schemas/ClanWar' }
    ClanWarError: { $ref: './clan-war-components.yaml#/components/schemas/ClanWarError' }
    WarAnalyticsResponse: { $ref: './clan-war-components.yaml#/components/schemas/WarAnalyticsResponse' }
    WarHistoryResponse: { $ref: './clan-war-components.yaml#/components/schemas/WarHistoryResponse' }
    TerritoryMapResponse: { $ref: './clan-war-components.yaml#/components/schemas/TerritoryMapResponse' }
  examples:
    WarDeclarationRequest: { $ref: './examples.yaml#/components/examples/WarDeclarationRequest' }
    ClanWarDetail: { $ref: './examples.yaml#/components/examples/ClanWarDetail' }
    SiegePlanRequest: { $ref: './examples.yaml#/components/examples/SiegePlanRequest' }
    WarResolutionRequest: { $ref: './examples.yaml#/components/examples/WarResolutionRequest' }
    WarAnalytics: { $ref: './examples.yaml#/components/examples/WarAnalytics' }
    TerritoryMap: { $ref: './examples.yaml#/components/examples/TerritoryMap' }
    BroadcastRequest: { $ref: './examples.yaml#/components/examples/BroadcastRequest' }

