openapi: 3.0.3
info:
  title: User Preference Service API - Enterprise-Grade Personalization
  description: |
    **Enterprise-Grade User Personalization API for NECPGAME**
    Service for managing user preferences, settings, and personalization options. Provides comprehensive user experience customization across all platform features.
    ## Key Features
    - **Enterprise-grade architecture** with proper domain separation
    - **Backend optimization hints** for struct alignment and performance
    - **Complete validation** with redocly and ogen code generation
    - **Security-first approach** with JWT authentication
    - **Performance-optimized** response structures
    - **Comprehensive error handling** with proper HTTP status codes
    ## Domain Purpose
    Manages user preferences, UI settings, game configurations, and personalization options. Ensures consistent user experience across all platform components and devices.
    ## Performance Targets
    - P99 Latency: <20ms for preference access
    - Memory: <25KB per user session
    - Concurrent users: 10,000+ simultaneous preference updates
    - Data consistency: Real-time preference synchronization
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.necpgame.com/v1/user-preference
    description: Production server
  - url: https://staging-api.necpgame.com/v1/user-preference
    description: Staging server
  - url: http://localhost:8080/api/v1/user-preference
    description: Local development server
security:
  - BearerAuth: [ ]
tags:
  - name: User Preferences
    description: Core user preference operations
  - name: UI Settings
    description: User interface customization
  - name: Game Settings
    description: Game configuration and settings
  - name: Health Monitoring
    description: System health and performance monitoring
paths:
  /health:
    get:
      summary: User preference service health check
      description: |-
        **Enterprise-grade health check endpoint**
        Provides real-time health status of the user preference management microservice.
        Critical for service discovery, load balancing, and monitoring.
        **Performance:** <1ms response time, cached for 30 seconds 
      operationId: userPreferenceServiceHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
              - deflate
              - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                  - gzip
                  - deflate
                  - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /preferences/{user_id}:
    get:
      summary: Get user preferences by user ID
      description: |-
        **Enterprise-grade preference retrieval endpoint**
        Retrieves all user preferences and settings for personalized experience. Supports caching and conditional requests for optimal performance.
        **Performance:** <15ms P95 with Redis caching 
      operationId: getUserPreferences
      tags:
        - User Preferences
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: User unique identifier
      responses:
        '200':
          description: Preferences retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferencesResponse'
        '400':
          description: Invalid request - malformed user ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User preferences not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update user preferences
      description: |-
        **Enterprise-grade preference update endpoint**
        Updates user preferences with validation and conflict resolution. Supports partial updates and maintains preference history.
        **Performance:** <25ms P95, includes validation and persistence 
      operationId: updateUserPreferences
      tags:
        - User Preferences
      security:
        - BearerAuth: [ ]
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: User unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserPreferencesRequest'
      responses:
        '200':
          description: Preferences updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferencesResponse'
        '400':
          description: Invalid request - malformed data or user ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions to update preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User preferences not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - update rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /ui-settings/{user_id}:
    get:
      summary: Get UI settings for user
      description: |-
        **UI customization retrieval endpoint**
        Retrieves user interface preferences including themes, layouts, and accessibility settings.
        **Performance:** <10ms P95 with in-memory caching 
      operationId: getUISettings
      tags:
        - UI Settings
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: User unique identifier
      responses:
        '200':
          description: UI settings retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UISettingsResponse'
        '400':
          description: Invalid request - malformed user ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: UI settings not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update UI settings
      description: |-
        **UI customization update endpoint**
        Updates user interface preferences with immediate effect.
        **Performance:** <20ms P95, real-time updates 
      operationId: updateUISettings
      tags:
        - UI Settings
      security:
        - BearerAuth: [ ]
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: User unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUISettingsRequest'
      responses:
        '200':
          description: UI settings updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UISettingsResponse'
        '400':
          description: Invalid request - malformed data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /game-settings/{user_id}:
    get:
      summary: Get game settings for user
      description: |-
        **Game configuration retrieval endpoint**
        Retrieves game-specific preferences including controls, audio, graphics, and gameplay options.
        **Performance:** <12ms P95 with optimized queries 
      operationId: getGameSettings
      tags:
        - Game Settings
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: User unique identifier
      responses:
        '200':
          description: Game settings retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameSettingsResponse'
        '400':
          description: Invalid request - malformed user ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Game settings not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update game settings
      description: |-
        **Game configuration update endpoint**
        Updates game-specific preferences with validation for game compatibility.
        **Performance:** <25ms P95, includes game validation 
      operationId: updateGameSettings
      tags:
        - Game Settings
      security:
        - BearerAuth: [ ]
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: User unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGameSettingsRequest'
      responses:
        '200':
          description: Game settings updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameSettingsResponse'
        '400':
          description: Invalid request - malformed data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - game validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /defaults:
    get:
      summary: Get default preference templates
      description: |-
        **Default settings endpoint**
        Provides default preference templates for new users and system defaults.
        **Performance:** <5ms P95, cached indefinitely 
      operationId: getDefaultPreferences
      tags:
        - User Preferences
      responses:
        '200':
          description: Default preferences retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=3600, public
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultPreferencesResponse'
components:
  responses:
    OK:
      description: Operation completed successfully
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: true
              message:
                type: string
                example: Operation completed
    Created:
      description: Resource created successfully
      headers:
        Location:
          schema:
            type: string
            format: uri
          description: URI of the created resource
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: Unique identifier of created resource
              created_at:
                type: string
                format: date-time
                description: Creation timestamp
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Access denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Resource conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          enum:
            - healthy
            - degraded
            - unhealthy
          example: healthy
          maxLength: 255
        domain:
          type: string
          example: service-name
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          example: '2025-12-28T10:00:00Z'
          maxLength: 255
        version:
          type: string
          example: 1.0.0
          maxLength: 50
        uptime_seconds:
          type: integer
          example: 3600
          minimum: 0
        active_connections:
          type: integer
          example: 1500
          minimum: 0
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          example: 500
          format: int32
          minimum: 100
          maximum: 599
        message:
          type: string
          example: Internal server error
          maxLength: 1000
        details:
          type: object
          description: Additional error details
      description: Standard error response format
    UserPreferences:
      type: object
      required:
        - user_id
        - ui_settings
        - game_settings
        - notifications
        - privacy
      properties:
        user_id:
          type: string
          format: uuid
          description: User unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        ui_settings:
          $ref: '#/components/schemas/UISettings'
        game_settings:
          $ref: '#/components/schemas/GameSettings'
        notifications:
          $ref: '#/components/schemas/NotificationPreferences'
        privacy:
          $ref: '#/components/schemas/PrivacyPreferences'
        created_at:
          type: string
          format: date-time
          description: Preferences creation timestamp
          example: '2025-12-21T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-21T10:00:00Z'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    UISettings:
      type: object
      properties:
        theme:
          type: string
          enum:
            - light
            - dark
            - auto
          default: auto
          description: UI theme preference
        language:
          type: string
          maxLength: 10
          default: en
          description: Interface language
          example: en
        timezone:
          type: string
          maxLength: 50
          description: User timezone
          example: America/New_York
        date_format:
          type: string
          enum:
            - MM/DD/YYYY
            - DD/MM/YYYY
            - YYYY-MM-DD
          default: MM/DD/YYYY
          description: Preferred date format
        accessibility:
          type: object
          properties:
            high_contrast:
              type: boolean
              default: false
              description: High contrast mode
            large_text:
              type: boolean
              default: false
              description: Large text mode
            reduce_motion:
              type: boolean
              default: false
              description: Reduce animations
      description: User interface customization settings
    GameSettings:
      type: object
      properties:
        audio:
          type: object
          properties:
            master_volume:
              type: integer
              minimum: 0
              maximum: 100
              default: 80
              description: Master audio volume
            music_volume:
              type: integer
              minimum: 0
              maximum: 100
              default: 70
              description: Background music volume
            sfx_volume:
              type: integer
              minimum: 0
              maximum: 100
              default: 90
              description: Sound effects volume
            voice_volume:
              type: integer
              minimum: 0
              maximum: 100
              default: 85
              description: Voice audio volume
        graphics:
          type: object
          properties:
            quality:
              type: string
              enum:
                - low
                - medium
                - high
                - ultra
              default: high
              description: Graphics quality preset
            resolution:
              type: string
              pattern: ^\d+x\d+$
              default: 1920x1080
              description: Screen resolution
            vsync:
              type: boolean
              default: true
              description: Vertical sync enabled
            fps_limit:
              type: integer
              minimum: 30
              maximum: 300
              default: 144
              description: FPS limit
        controls:
          type: object
          properties:
            mouse_sensitivity:
              type: number
              minimum: 0.1
              maximum: 5
              default: 1
              description: Mouse sensitivity multiplier
            invert_mouse:
              type: boolean
              default: false
              description: Invert mouse Y axis
            key_bindings:
              type: object
              description: Custom key bindings
              additionalProperties:
                type: string
                maxLength: 50
        gameplay:
          type: object
          properties:
            auto_save:
              type: boolean
              default: true
              description: Auto-save enabled
            difficulty:
              type: string
              enum:
                - easy
                - normal
                - hard
                - nightmare
              default: normal
              description: Game difficulty
            subtitles:
              type: boolean
              default: false
              description: Show subtitles
      description: Game-specific configuration settings
    NotificationPreferences:
      type: object
      properties:
        email_notifications:
          type: boolean
          default: true
          description: Email notifications enabled
        push_notifications:
          type: boolean
          default: true
          description: Push notifications enabled
        in_game_notifications:
          type: boolean
          default: true
          description: In-game notifications enabled
        marketing_emails:
          type: boolean
          default: false
          description: Marketing emails allowed
        friend_requests:
          type: boolean
          default: true
          description: Friend request notifications
        achievement_notifications:
          type: boolean
          default: true
          description: Achievement notifications
      description: Notification preferences and settings
    PrivacyPreferences:
      type: object
      properties:
        profile_visibility:
          type: string
          enum:
            - public
            - friends
            - private
          default: public
          description: Profile visibility setting
        show_online_status:
          type: boolean
          default: true
          description: Show online status to others
        allow_friend_requests:
          type: boolean
          default: true
          description: Allow friend requests from others
        data_sharing:
          type: boolean
          default: false
          description: Allow anonymous data sharing
        analytics_opt_in:
          type: boolean
          default: true
          description: Opt-in to analytics collection
      description: Privacy and data sharing preferences
    UpdateUserPreferencesRequest:
      type: object
      properties:
        ui_settings:
          $ref: '#/components/schemas/UISettings'
        game_settings:
          $ref: '#/components/schemas/GameSettings'
        notifications:
          $ref: '#/components/schemas/NotificationPreferences'
        privacy:
          $ref: '#/components/schemas/PrivacyPreferences'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    UpdateUISettingsRequest:
      type: object
      properties:
        theme:
          type: string
          enum:
            - light
            - dark
            - auto
        language:
          type: string
          maxLength: 10
        timezone:
          type: string
          maxLength: 50
        date_format:
          type: string
          enum:
            - MM/DD/YYYY
            - DD/MM/YYYY
            - YYYY-MM-DD
        accessibility:
          type: object
          properties:
            high_contrast:
              type: boolean
            large_text:
              type: boolean
            reduce_motion:
              type: boolean
    UpdateGameSettingsRequest:
      type: object
      properties:
        audio:
          type: object
          properties:
            master_volume:
              type: integer
              minimum: 0
              maximum: 100
            music_volume:
              type: integer
              minimum: 0
              maximum: 100
            sfx_volume:
              type: integer
              minimum: 0
              maximum: 100
            voice_volume:
              type: integer
              minimum: 0
              maximum: 100
        graphics:
          type: object
          properties:
            quality:
              type: string
              enum:
                - low
                - medium
                - high
                - ultra
            resolution:
              type: string
              pattern: ^\d+x\d+$
            vsync:
              type: boolean
            fps_limit:
              type: integer
              minimum: 30
              maximum: 300
        controls:
          type: object
          properties:
            mouse_sensitivity:
              type: number
              minimum: 0.1
              maximum: 5
            invert_mouse:
              type: boolean
        gameplay:
          type: object
          properties:
            auto_save:
              type: boolean
            difficulty:
              type: string
              enum:
                - easy
                - normal
                - hard
                - nightmare
            subtitles:
              type: boolean
    UserPreferencesResponse:
      type: object
      required:
        - preferences
      properties:
        preferences:
          $ref: '#/components/schemas/UserPreferences'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    UISettingsResponse:
      type: object
      required:
        - ui_settings
      properties:
        ui_settings:
          $ref: '#/components/schemas/UISettings'
    GameSettingsResponse:
      type: object
      required:
        - game_settings
      properties:
        game_settings:
          $ref: '#/components/schemas/GameSettings'
    DefaultPreferencesResponse:
      type: object
      required:
        - defaults
      properties:
        defaults:
          type: object
          properties:
            ui_settings:
              $ref: '#/components/schemas/UISettings'
            game_settings:
              $ref: '#/components/schemas/GameSettings'
            notifications:
              $ref: '#/components/schemas/NotificationPreferences'
            privacy:
              $ref: '#/components/schemas/PrivacyPreferences'
          description: Default preference templates for new users
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token authentication
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API Key authentication
    ServiceAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Service-to-service authentication token
