openapi: 3.0.3
info:
  title: User Preference Service API
  description: '**Enterprise-grade API for User Settings & Personalization**


    ## Domain Purpose

    Comprehensive user preference management service providing customizable settings,

    personalization options, and cross-platform synchronization for enhanced user
    experience.


    ## Business Value

    - Personalized user experience across all platforms

    - Granular preference controls for all features

    - Real-time preference synchronization

    - Privacy-aware preference management

    - Enterprise-grade scalability and performance


    ## Performance Targets

    - P99 Latency: <20ms for preference access

    - Memory per Instance: <25KB baseline

    - Concurrent Preference Operations: 50,000+ per second

    - Cache Hit Rate: >99% for active preferences


    ## Domain Inheritance

    This service inherits from infrastructure-entities.yaml providing:

    - Configuration management for user preferences

    - Audit trails for preference changes

    - User account references

    - Optimistic locking for concurrent updates

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/user-preference-service
  description: Production environment
- url: https://staging-api.necpgame.com/v1/user-preference-service
  description: Staging environment
- url: http://localhost:8080/api/v1/user-preference-service
  description: Local development
security:
- BearerAuth: []
tags:
- name: Preference Management
  description: Core preference operations and lifecycle
- name: Category Management
  description: Preference categories and schemas
- name: Synchronization
  description: Cross-platform preference sync
- name: Privacy Controls
  description: Privacy-aware preference handling
- name: Defaults Management
  description: Default preference templates
- name: Health Monitoring
  description: Service health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /users/{userId}/preferences:
    $ref: ./paths/users-{userId}-preferences.yaml#/paths/~1users~1{userId}~1preferences
  /users/{userId}/preferences/reset:
    $ref: ./paths/users-{userId}-preferences-reset.yaml#/paths/~1users~1{userId}~1preferences~1reset
  /users/{userId}/preferences/{category}:
    $ref: ./paths/users-{userId}-preferences-{category}.yaml#/paths/~1users~1{userId}~1preferences~1{category}
  /preferences/categories:
    $ref: ./paths/preferences-categories.yaml#/paths/~1preferences~1categories
  /preferences/categories/{category}/schema:
    $ref: ./paths/preferences-categories-{category}-schema.yaml#/paths/~1preferences~1categories~1{category}~1schema
  /users/{userId}/preferences/sync:
    $ref: ./paths/users-{userId}-preferences-sync.yaml#/paths/~1users~1{userId}~1preferences~1sync
  /preferences/defaults:
    $ref: ./paths/preferences-defaults.yaml#/paths/~1preferences~1defaults
  /audit/preferences:
    $ref: ./paths/audit-preferences.yaml#/paths/~1audit~1preferences
components:
  schemas:
    UserPreferences:
      $ref: ./schemas/user-preference-service-schemas.yaml#/components/schemas/UserPreferences
    PreferenceCategory:
      $ref: ./schemas/user-preference-service-schemas.yaml#/components/schemas/PreferenceCategory
    PreferenceCategoryInfo:
      $ref: ./schemas/user-preference-service-schemas.yaml#/components/schemas/PreferenceCategoryInfo
    PreferenceCategorySchema:
      $ref: ./schemas/user-preference-service-schemas.yaml#/components/schemas/PreferenceCategorySchema
    PreferenceAuditEntry:
      $ref: ./schemas/user-preference-service-schemas.yaml#/components/schemas/PreferenceAuditEntry
    AppearancePreferences:
      $ref: ./schemas/user-preference-service-schemas.yaml#/components/schemas/AppearancePreferences
    NotificationPreferences:
      $ref: ./schemas/user-preference-service-schemas.yaml#/components/schemas/NotificationPreferences
    GameplayPreferences:
      $ref: ./schemas/user-preference-service-schemas.yaml#/components/schemas/GameplayPreferences
    PrivacyPreferences:
      $ref: ./schemas/user-preference-service-schemas.yaml#/components/schemas/PrivacyPreferences
    AccessibilityPreferences:
      $ref: ./schemas/user-preference-service-schemas.yaml#/components/schemas/AccessibilityPreferences
    PerformancePreferences:
      $ref: ./schemas/user-preference-service-schemas.yaml#/components/schemas/PerformancePreferences
    UpdatePreferencesRequest:
      $ref: ./schemas/user-preference-service-schemas.yaml#/components/schemas/UpdatePreferencesRequest
    PatchPreferencesRequest:
      $ref: ./schemas/user-preference-service-schemas.yaml#/components/schemas/PatchPreferencesRequest
    UpdateCategoryRequest:
      $ref: ./schemas/user-preference-service-schemas.yaml#/components/schemas/UpdateCategoryRequest
    ResetPreferencesRequest:
      $ref: ./schemas/user-preference-service-schemas.yaml#/components/schemas/ResetPreferencesRequest
    SyncPreferencesRequest:
      $ref: ./schemas/user-preference-service-schemas.yaml#/components/schemas/SyncPreferencesRequest
  responses:
    OK:
      $ref: ./schemas/user-preference-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/user-preference-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/user-preference-service-responses.yaml#/components/responses/Updated
    Deleted:
      $ref: ./schemas/user-preference-service-responses.yaml#/components/responses/Deleted
    BadRequest:
      $ref: ./schemas/user-preference-service-responses.yaml#/components/responses/BadRequest
    NotFound:
      $ref: ./schemas/user-preference-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/user-preference-service-responses.yaml#/components/responses/Conflict
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
