openapi: 3.0.3
info:
  title: Social Domain - Notifications Module API
  description: |
    **Enterprise-Grade Notifications Module** for NECPGAME MMOFPS RPG.

    **Module Purpose:** Complete real-time notification system with WebSocket support, push notifications, and advanced filtering.

    **Architecture:** Event-driven microservice with WebSocket connections and Kafka integration.

    **Core Features:**
    - Real-time WebSocket notifications (10k+ concurrent connections)
    - Push notification support (iOS, Android, Web)
    - Advanced filtering and preferences
    - Notification history and archiving
    - Batch operations for performance
    - Rate limiting and anti-spam protection
    - Multi-channel delivery (in-game, push, email, SMS)

    **Performance Targets:**
    - Hot paths: 1000+ RPS, P99 <50ms (send/receive notifications)
    - WebSocket connections: 10k+ concurrent, <100MB memory per 1000 connections
    - Push notifications: 5000+ per minute, <10s delivery time
    - Cache hit rate: >95% (Redis for active notifications)
    - Message size: <1KB per notification

    **BACKEND NOTE:** Memory per notification: ~256 bytes. WebSocket worker pools required.
    Notification schemas optimized for 30-50% memory savings in generated Go structs.
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: NECPGAME Notifications API Support
    url: https://necpgame.com/support
    email: notifications@necpgame.com

servers:
  - url: https://notifications.necpgame.com/api/v1
    description: Notifications Module Production Server
  - url: https://staging-notifications.necpgame.com/api/v1
    description: Notifications Module Staging Server
  - url: http://localhost:8085/api/v1/social-domain/notifications
    description: Notifications Module Development Server

security:
  - BearerAuth: [ ]

tags:
  - name: Notifications Core
    description: Core notification operations
  - name: Real-time Notifications
    description: WebSocket-based real-time notifications
  - name: Push Notifications
    description: Mobile and web push notifications
  - name: Notification Preferences
    description: User notification preferences management
  - name: Notification History
    description: Notification history and archiving
  - name: Health Monitoring
    description: System health and performance monitoring

paths:
  # Health Check - ОБЯЗАТЕЛЬНО для всех доменов
  /health:
    get:
      summary: Notifications module health check
      description: |
        **Enterprise-grade health check endpoint**

        Provides real-time health status of the notifications module microservice.
        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds
      operationId: notificationsHealthCheck
      tags:
        - Health Monitoring
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  # Batch Health Check - ОБЯЗАТЕЛЬНО для всех доменов
  /health/batch:
    post:
      summary: Batch health check for multiple services
      description: |
        **Enterprise-grade batch health check**

        Checks health status of multiple related services in a single request.
        Optimizes monitoring and reduces network overhead.

        **Performance:** <5ms total response time
      operationId: notificationsBatchHealthCheck
      tags:
        - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum: [ websocket, push, history, preferences ]
                  minItems: 1
                  maxItems: 10
      responses:
        "200":
          description: Batch health results
          content:
            application/json:
              schema:
                $ref: "#/components/responses/HealthBatchSuccess"
        "400":
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # WebSocket Health - ОБЯЗАТЕЛЬНО для всех доменов
  /health/ws:
    get:
      summary: WebSocket connection health check
      description: |
        **Enterprise-grade WebSocket health check**

        Validates WebSocket connection capabilities and real-time messaging.
        Essential for real-time notification delivery.

        **Performance:** <10ms connection establishment
      operationId: notificationsWebSocketHealthCheck
      tags:
        - Health Monitoring
        - Real-time Notifications
      responses:
        "200":
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                required:
                  - websocket_url
                  - supported_protocols
                  - max_connections
                properties:
                  websocket_url:
                    type: string
                    example: "ws://localhost:8085/api/v1/health/ws"
                  supported_protocols:
                    type: array
                    items:
                      type: string
                      enum: [ notification-v1, push-v1 ]
                  max_connections:
                    type: integer
                    example: 10000
                  heartbeat_interval:
                    type: integer
                    example: 30000

  # Core Notification Operations
  /notifications:
    post:
      summary: Create notification
      description: |
        **Enterprise-grade notification creation**

        Creates a new notification for delivery through multiple channels.
        Supports real-time delivery, push notifications, and email.

        **Performance:** <10ms processing, async delivery
      operationId: createNotification
      tags:
        - Notifications Core
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNotificationRequest"
      responses:
        "201":
          description: Notification created successfully
          headers:
            Location:
              schema:
                type: string
                example: /api/v1/notifications/550e8400-e29b-41d4-a716-446655440000
            ETag:
              schema:
                type: string
                example: '"notification-123-v1"'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationResponse"
        "400":
          description: Invalid request - malformed notification data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Unprocessable entity - validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    get:
      summary: List notifications
      description: |
        **Enterprise-grade notification listing**

        Retrieves paginated list of notifications with advanced filtering.
        Supports real-time status updates and caching.

        **Performance:** <50ms for typical queries, cached results
      operationId: listNotifications
      tags:
        - Notifications Core
      security:
        - BearerAuth: [ ]
      parameters:
        - name: account_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: Account ID to filter notifications for
        - name: status
          in: query
          schema:
            type: string
            enum: [ unread, read, archived ]
            default: unread
          description: Filter by notification status
        - name: type
          in: query
          schema:
            type: string
            enum: [ quest, message, achievement, system, friend, guild, trade, combat ]
          description: Filter by notification type
        - name: priority
          in: query
          schema:
            type: string
            enum: [ low, medium, high, critical ]
          description: Filter by priority level
        - name: channel
          in: query
          schema:
            type: string
            enum: [ in_game, websocket, push, email, sms ]
          description: Filter by delivery channel
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number for pagination
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of items per page
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [ created_at, priority, type ]
            default: created_at
          description: Sort field
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [ asc, desc ]
            default: desc
          description: Sort order
      responses:
        "200":
          description: Notifications retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=60, private
            X-Total-Count:
              schema:
                type: integer
                example: 150
                description: Total number of notifications matching criteria
            X-Page-Count:
              schema:
                type: integer
                example: 8
                description: Total number of pages
            X-Unread-Count:
              schema:
                type: integer
                example: 12
                description: Number of unread notifications
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationListResponse"
        "400":
          description: Invalid request - malformed query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /notifications/{id}:
    get:
      summary: Get notification by ID
      description: |
        **Enterprise-grade notification retrieval**

        Retrieves detailed information about a specific notification.
        Includes delivery status and metadata.

        **Performance:** <5ms with Redis caching
      operationId: getNotification
      tags:
        - Notifications Core
      security:
        - BearerAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Notification ID
      responses:
        "200":
          description: Notification retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
            ETag:
              schema:
                type: string
                example: '"notification-123-v1"'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationResponse"
        "404":
          description: Notification not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      summary: Update notification
      description: |
        **Enterprise-grade notification update**

        Updates notification properties and delivery preferences.
        Supports partial updates for efficiency.

        **Performance:** <15ms with optimistic locking
      operationId: updateNotification
      tags:
        - Notifications Core
      security:
        - BearerAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Notification ID
        - name: If-Match
          in: header
          schema:
            type: string
          description: ETag for optimistic locking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateNotificationRequest"
      responses:
        "200":
          description: Notification updated successfully
          headers:
            ETag:
              schema:
                type: string
                example: '"notification-123-v2"'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationResponse"
        "400":
          description: Invalid request - malformed update data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Notification not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "412":
          description: Precondition failed - ETag mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      summary: Delete notification
      description: |
        **Enterprise-grade notification deletion**

        Permanently removes a notification from the system.
        Includes cleanup of related delivery records.

        **Performance:** <20ms with cascade deletion
      operationId: deleteNotification
      tags:
        - Notifications Core
      security:
        - BearerAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Notification ID
      responses:
        "204":
          description: Notification deleted successfully
        "404":
          description: Notification not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /notifications/{id}/read:
    post:
      summary: Mark notification as read
      description: |
        **Enterprise-grade read status update**

        Marks a notification as read and updates delivery tracking.
        Triggers real-time updates for connected clients.

        **Performance:** <5ms with WebSocket broadcast
      operationId: markNotificationRead
      tags:
        - Notifications Core
      security:
        - BearerAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Notification ID
      responses:
        "200":
          description: Notification marked as read
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationStatusResponse"
        "404":
          description: Notification not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /notifications/batch/read:
    post:
      summary: Mark multiple notifications as read
      description: |
        **Enterprise-grade batch read operation**

        Marks multiple notifications as read in a single operation.
        Optimizes performance for bulk actions.

        **Performance:** <50ms for up to 100 notifications
      operationId: batchMarkNotificationsRead
      tags:
        - Notifications Core
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - notification_ids
              properties:
                notification_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 1
                  maxItems: 100
                  description: Array of notification IDs to mark as read
      responses:
        "200":
          description: Notifications marked as read
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchOperationResponse"
        "400":
          description: Invalid request - malformed notification IDs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: One or more notifications not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Preferences Management
  /preferences:
    get:
      summary: Get notification preferences
      description: |
        **Enterprise-grade preferences retrieval**

        Retrieves user's notification preferences for all channels.
        Includes channel-specific settings and quiet hours.

        **Performance:** <10ms with user preferences caching
      operationId: getNotificationPreferences
      tags:
        - Notification Preferences
      security:
        - BearerAuth: [ ]
      responses:
        "200":
          description: Preferences retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationPreferencesResponse"
        "404":
          description: User preferences not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      summary: Update notification preferences
      description: |
        **Enterprise-grade preferences update**

        Updates user's notification preferences with validation.
        Supports partial updates and channel-specific settings.

        **Performance:** <20ms with preference validation
      operationId: updateNotificationPreferences
      tags:
        - Notification Preferences
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateNotificationPreferencesRequest"
      responses:
        "200":
          description: Preferences updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationPreferencesResponse"
        "400":
          description: Invalid preferences data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # WebSocket Connection
  /ws:
    get:
      summary: Establish WebSocket connection for real-time notifications
      description: |
        **Enterprise-grade WebSocket connection**

        Establishes persistent WebSocket connection for real-time notification delivery.
        Supports authentication, heartbeat, and automatic reconnection.

        **Performance:** 10k+ concurrent connections, <100MB memory per 1000 connections
      operationId: websocketConnect
      tags:
        - Real-time Notifications
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: JWT authentication token
        - name: client_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: Unique client identifier for connection tracking
        - name: client_version
          in: query
          schema:
            type: string
            default: "1.0.0"
          description: Client version for protocol compatibility
        - name: compress
          in: query
          schema:
            type: boolean
            default: true
          description: Enable message compression (recommended)
        - name: heartbeat_interval
          in: query
          schema:
            type: integer
            minimum: 10000
            maximum: 300000
            default: 30000
          description: Heartbeat interval in milliseconds
      responses:
        "101":
          description: WebSocket connection established successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - connection_id
                  - server_time
                  - heartbeat_interval
                  - supported_channels
                properties:
                  connection_id:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  server_time:
                    type: integer
                    format: int64
                    example: 1640995200000
                  heartbeat_interval:
                    type: integer
                    example: 30000
                  supported_channels:
                    type: array
                    items:
                      type: string
                      enum: [ notifications, system, friend_requests, guild_events ]
                  max_message_size:
                    type: integer
                    example: 1024
        "400":
          description: Invalid connection parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Connection limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    HealthBatchSuccess:
      description: Batch health results retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: no-cache
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            type: object
            required:
              - results
              - total_time_ms
            properties:
              results:
                type: array
                items:
                  $ref: "#/components/schemas/HealthResponse"
                description: Health status for each requested service
              total_time_ms:
                type: integer
                description: Total processing time in milliseconds
                example: 15
                minimum: 0

  schemas:
    # Health schemas - ОБЯЗАТЕЛЬНЫ для всех доменов
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
        - domain
      properties:
        domain:
          type: string
          example: notifications
          maxLength: 50
        status:
          type: string
          enum: [ healthy, degraded, unhealthy ]
          example: healthy
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          example: "2025-12-21T10:00:00Z"
          maxLength: 255
        version:
          type: string
          example: "1.0.0"
          maxLength: 50
        uptime_seconds:
          type: integer
          example: 86400
        active_connections:
          type: integer
          example: 1250
        queued_notifications:
          type: integer
          example: 15
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    Error:
      type: object
      required:
        - message
        - code
        - timestamp
      properties:
        message:
          type: string
          description: Human-readable error message
          example: Internal server error
          maxLength: 1000
        code:
          type: integer
          description: HTTP status code
          example: 500
          format: int32
          minimum: 100
          maximum: 599
        timestamp:
          type: string
          format: date-time
          description: Error timestamp
        domain:
          type: string
          description: Domain where error occurred
          example: notifications
          maxLength: 255
        details:
          type: object
          additionalProperties: true
          description: Additional error details (optional)
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Core Notification Schemas
    Notification:
      type: object
      required:
        - id
        - account_id
        - type
        - title
        - content
        - status
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique notification identifier
        account_id:
          type: string
          format: uuid
          description: Account that owns this notification
        type:
          type: string
          enum: [ quest, message, achievement, system, friend, guild, trade, combat ]
          description: Notification category
        title:
          type: string
          maxLength: 200
          description: Notification title
        content:
          type: string
          maxLength: 2000
          description: Notification content/body
        status:
          type: string
          enum: [ unread, read, archived ]
          default: unread
          description: Read status
        priority:
          type: string
          enum: [ low, medium, high, critical ]
          default: medium
          description: Notification priority
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Optional expiration timestamp
        data:
          type: object
          additionalProperties: true
          description: Additional notification data (optional)
        channels:
          type: array
          items:
            type: string
            enum: [ in_game, websocket, push, email, sms ]
          default: [ in_game ]
          description: Delivery channels
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        read_at:
          type: string
          format: date-time
          nullable: true
          description: Read timestamp
        delivered_at:
          type: string
          format: date-time
          nullable: true
          description: Delivery timestamp
        delivery_attempts:
          type: integer
          minimum: 0
          default: 0
          description: Number of delivery attempts
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    CreateNotificationRequest:
      type: object
      required:
        - account_id
        - type
        - title
        - content
      properties:
        account_id:
          type: string
          format: uuid
          description: Target account ID
        type:
          type: string
          enum: [ quest, message, achievement, system, friend, guild, trade, combat ]
          description: Notification category
        title:
          type: string
          maxLength: 200
          description: Notification title
        content:
          type: string
          maxLength: 2000
          description: Notification content/body
        priority:
          type: string
          enum: [ low, medium, high, critical ]
          default: medium
          description: Notification priority
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Optional expiration timestamp
        data:
          type: object
          additionalProperties: true
          description: Additional notification data (optional)
        channels:
          type: array
          items:
            type: string
            enum: [ in_game, websocket, push, email, sms ]
          default: [ in_game ]
          description: Delivery channels
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    UpdateNotificationRequest:
      type: object
      properties:
        status:
          type: string
          enum: [ read, archived ]
          description: Update read status
        priority:
          type: string
          enum: [ low, medium, high, critical ]
          description: Update priority
        expires_at:
          type: string
          format: date-time
          description: Update expiration timestamp
        data:
          type: object
          additionalProperties: true
          description: Update additional data
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    NotificationResponse:
      type: object
      required:
        - notification
      properties:
        notification:
          $ref: '#/components/schemas/Notification'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    NotificationListResponse:
      type: object
      required:
        - notifications
        - total_count
        - has_more
      properties:
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
          description: Array of notifications
        total_count:
          type: integer
          minimum: 0
          description: Total number of notifications matching criteria
        has_more:
          type: boolean
          description: Whether there are more results available
        next_page:
          type: integer
          nullable: true
          description: Next page number (if has_more is true)
        unread_count:
          type: integer
          minimum: 0
          description: Number of unread notifications in results
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    NotificationStatusResponse:
      type: object
      required:
        - notification_id
        - status
        - updated_at
      properties:
        notification_id:
          type: string
          format: uuid
          description: Notification ID
        status:
          type: string
          enum: [ read, archived ]
          description: Updated status
        updated_at:
          type: string
          format: date-time
          description: Status update timestamp
        previous_status:
          type: string
          enum: [ unread, read, archived ]
          description: Previous status before update
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    BatchOperationResponse:
      type: object
      required:
        - operation
        - success_count
        - total_count
        - results
      properties:
        operation:
          type: string
          example: "mark_read"
          description: Operation type
        success_count:
          type: integer
          minimum: 0
          description: Number of successful operations
        total_count:
          type: integer
          minimum: 1
          description: Total number of requested operations
        results:
          type: array
          items:
            type: object
            required:
              - id
              - success
            properties:
              id:
                type: string
                format: uuid
                description: Resource ID
              success:
                type: boolean
                description: Operation success status
              error:
                type: string
                nullable: true
                description: Error message if operation failed
          description: Detailed results for each operation
        processing_time_ms:
          type: integer
          minimum: 0
          description: Total processing time in milliseconds
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Preferences Schemas
    NotificationPreferences:
      type: object
      required:
        - account_id
        - channels
        - created_at
        - updated_at
      properties:
        account_id:
          type: string
          format: uuid
          description: Account ID
        channels:
          type: object
          description: Channel-specific preferences
          properties:
            in_game:
              $ref: '#/components/schemas/ChannelPreferences'
            push:
              $ref: '#/components/schemas/ChannelPreferences'
            email:
              $ref: '#/components/schemas/ChannelPreferences'
            sms:
              $ref: '#/components/schemas/ChannelPreferences'
        quiet_hours:
          type: object
          nullable: true
          description: Quiet hours configuration
          properties:
            enabled:
              type: boolean
              default: false
            start_time:
              type: string
              pattern: '^([01]?[0-9]|2[0-3]):[0-5][0-9]$'
              example: "22:00"
            end_time:
              type: string
              pattern: '^([01]?[0-9]|2[0-3]):[0-5][0-9]$'
              example: "08:00"
            timezone:
              type: string
              default: "UTC"
              example: "America/New_York"
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ChannelPreferences:
      type: object
      required:
        - enabled
      properties:
        enabled:
          type: boolean
          default: true
          description: Whether this channel is enabled
        types:
          type: object
          description: Type-specific preferences for this channel
          properties:
            quest:
              type: boolean
              default: true
            message:
              type: boolean
              default: true
            achievement:
              type: boolean
              default: true
            system:
              type: boolean
              default: true
            friend:
              type: boolean
              default: true
            guild:
              type: boolean
              default: true
            trade:
              type: boolean
              default: true
            combat:
              type: boolean
              default: true
        priorities:
          type: object
          description: Priority-specific preferences for this channel
          properties:
            low:
              type: boolean
              default: true
            medium:
              type: boolean
              default: true
            high:
              type: boolean
              default: true
            critical:
              type: boolean
              default: true
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    NotificationPreferencesResponse:
      type: object
      required:
        - preferences
      properties:
        preferences:
          $ref: '#/components/schemas/NotificationPreferences'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    UpdateNotificationPreferencesRequest:
      type: object
      properties:
        channels:
          type: object
          description: Update channel-specific preferences
          properties:
            in_game:
              $ref: '#/components/schemas/ChannelPreferences'
            push:
              $ref: '#/components/schemas/ChannelPreferences'
            email:
              $ref: '#/components/schemas/ChannelPreferences'
            sms:
              $ref: '#/components/schemas/ChannelPreferences'
        quiet_hours:
          type: object
          description: Update quiet hours configuration
          properties:
            enabled:
              type: boolean
            start_time:
              type: string
              pattern: '^([01]?[0-9]|2[0-3]):[0-5][0-9]$'
            end_time:
              type: string
              pattern: '^([01]?[0-9]|2[0-3]):[0-5][0-9]$'
            timezone:
              type: string
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

# Issue: #notifications_api_spec
