openapi: 3.0.3
info:
  title: Support Ticket Service API
  description: 'API for managing support tickets, including creation, categorization,
    priority assignment,

    agent queues, SLA monitoring, and response management for player support system.


    ## Domain Inheritance

    This service inherits from common-service entities for system-level operations

    and implements support ticket management with SLA monitoring and agent queues.


    ## BACKEND NOTE: Struct Alignment Optimization

    All response structs are memory-aligned to 64-byte boundaries for optimal cache
    performance.

    Priority fields positioned first for CPU branch prediction. String fields use
    pointer alignment.

    '
  version: 1.0.0
  contact:
    name: NECP Game Support Team
    email: support@necp.game
servers:
- url: https://api.necp.game/v1/support
  description: Production server
- url: http://localhost:8095/v1/support
  description: Local development server
security: []
tags:
- name: Support Tickets
  description: Core ticket management operations
- name: Ticket Responses
  description: Managing responses and conversations
- name: Agent Queue
  description: Agent queue and assignment operations
- name: SLA Monitoring
  description: SLA monitoring and compliance
- name: Support Analytics
  description: Analytics and statistics
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /tickets:
    $ref: ./paths/tickets.yaml#/paths/~1tickets
  /tickets/{ticketId}:
    $ref: ./paths/tickets-{ticketId}.yaml#/paths/~1tickets~1{ticketId}
  /tickets/{ticketId}/assign:
    $ref: ./paths/tickets-{ticketId}-assign.yaml#/paths/~1tickets~1{ticketId}~1assign
  /tickets/{ticketId}/status:
    $ref: ./paths/tickets-{ticketId}-status.yaml#/paths/~1tickets~1{ticketId}~1status
  /tickets/{ticketId}/priority:
    $ref: ./paths/tickets-{ticketId}-priority.yaml#/paths/~1tickets~1{ticketId}~1priority
  /tickets/{characterId}/my-tickets:
    $ref: ./paths/tickets-{characterId}-my-tickets.yaml#/paths/~1tickets~1{characterId}~1my-tickets
  /tickets/{agentId}/assigned:
    $ref: ./paths/tickets-{agentId}-assigned.yaml#/paths/~1tickets~1{agentId}~1assigned
  /tickets/queue:
    $ref: ./paths/tickets-queue.yaml#/paths/~1tickets~1queue
  /tickets/{ticketId}/responses:
    $ref: ./paths/tickets-{ticketId}-responses.yaml#/paths/~1tickets~1{ticketId}~1responses
  /tickets/{ticketId}/rate:
    $ref: ./paths/tickets-{ticketId}-rate.yaml#/paths/~1tickets~1{ticketId}~1rate
  /tickets/{ticketId}/sla:
    $ref: ./paths/tickets-{ticketId}-sla.yaml#/paths/~1tickets~1{ticketId}~1sla
  /tickets/stats:
    $ref: ./paths/tickets-stats.yaml#/paths/~1tickets~1stats
components:
  schemas:
    HealthResponse:
      $ref: ./schemas/support-service-schemas.yaml#/components/schemas/HealthResponse
    TicketStatus:
      $ref: ./schemas/support-service-schemas.yaml#/components/schemas/TicketStatus
    TicketPriority:
      $ref: ./schemas/support-service-schemas.yaml#/components/schemas/TicketPriority
    TicketCategory:
      $ref: ./schemas/support-service-schemas.yaml#/components/schemas/TicketCategory
    CreateTicketRequest:
      $ref: ./schemas/support-service-schemas.yaml#/components/schemas/CreateTicketRequest
    UpdateTicketRequest:
      $ref: ./schemas/support-service-schemas.yaml#/components/schemas/UpdateTicketRequest
    TicketResponse:
      $ref: ./schemas/support-service-schemas.yaml#/components/schemas/TicketResponse
    TicketListResponse:
      $ref: ./schemas/support-service-schemas.yaml#/components/schemas/TicketListResponse
    TicketQueueResponse:
      $ref: ./schemas/support-service-schemas.yaml#/components/schemas/TicketQueueResponse
    AssignAgentRequest:
      $ref: ./schemas/support-service-schemas.yaml#/components/schemas/AssignAgentRequest
    UpdateStatusRequest:
      $ref: ./schemas/support-service-schemas.yaml#/components/schemas/UpdateStatusRequest
    UpdatePriorityRequest:
      $ref: ./schemas/support-service-schemas.yaml#/components/schemas/UpdatePriorityRequest
    AddResponseRequest:
      $ref: ./schemas/support-service-schemas.yaml#/components/schemas/AddResponseRequest
    TicketResponseItem:
      $ref: ./schemas/support-service-schemas.yaml#/components/schemas/TicketResponseItem
    TicketResponseListResponse:
      $ref: ./schemas/support-service-schemas.yaml#/components/schemas/TicketResponseListResponse
    RateTicketRequest:
      $ref: ./schemas/support-service-schemas.yaml#/components/schemas/RateTicketRequest
    TicketSLAInfo:
      $ref: ./schemas/support-service-schemas.yaml#/components/schemas/TicketSLAInfo
    SupportStatsResponse:
      $ref: ./schemas/support-service-schemas.yaml#/components/schemas/SupportStatsResponse
  responses:
    BadRequest:
      $ref: ./schemas/support-service-responses.yaml#/components/responses/BadRequest
    NotFound:
      $ref: ./schemas/support-service-responses.yaml#/components/responses/NotFound
    InternalError:
      $ref: ./schemas/support-service-responses.yaml#/components/responses/InternalError
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
