openapi: 3.0.3
info:
  title: Support Ticket Service API
  description: |
    API for managing support tickets, including creation, categorization, priority assignment,
    agent queues, SLA monitoring, and response management for player support system.

    ## Domain Inheritance
    This service inherits from common-service entities for system-level operations
    and implements support ticket management with SLA monitoring and agent queues.

    ## BACKEND NOTE: Struct Alignment Optimization
    All response structs are memory-aligned to 64-byte boundaries for optimal cache performance.
    Priority fields positioned first for CPU branch prediction. String fields use pointer alignment.
  version: "1.0.0"
  contact:
    name: NECP Game Support Team
    email: support@necp.game

servers:
  - url: https://api.necp.game/v1/support
    description: Production server
  - url: http://localhost:8095/v1/support
    description: Local development server

tags:
  - name: Support Tickets
    description: Core ticket management operations
  - name: Ticket Responses
    description: Managing responses and conversations
  - name: Agent Queue
    description: Agent queue and assignment operations
  - name: SLA Monitoring
    description: SLA monitoring and compliance
  - name: Support Analytics
    description: Analytics and statistics

paths:
  /health:
    get:
      summary: Health check endpoint
      description: Returns service health status
      operationId: healthCheck
      tags:
        - Health Monitoring
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /tickets:
    get:
      summary: List support tickets
      description: Retrieve paginated list of support tickets with filtering options
      operationId: listTickets
      tags:
        - Support Tickets
      parameters:
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/TicketStatus'
          description: Filter by ticket status
        - name: priority
          in: query
          schema:
            $ref: '#/components/schemas/TicketPriority'
          description: Filter by ticket priority
        - name: category
          in: query
          schema:
            type: string
          description: Filter by ticket category
        - name: agent_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by assigned agent
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Items per page
      responses:
        '200':
          description: List of tickets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'

    post:
      summary: Create support ticket
      description: Create a new support ticket with automatic categorization and priority assignment
      operationId: createTicket
      tags:
        - Support Tickets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTicketRequest'
      responses:
        '201':
          description: Ticket created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'

  /tickets/{ticketId}:
    get:
      summary: Get ticket details
      description: Retrieve detailed information about a specific support ticket
      operationId: getTicket
      tags:
        - Support Tickets
      parameters:
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Ticket unique identifier
      responses:
        '200':
          description: Ticket details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

    put:
      summary: Update ticket
      description: Update ticket information (title, description, category, priority)
      operationId: updateTicket
      tags:
        - Support Tickets
      parameters:
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Ticket unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTicketRequest'
      responses:
        '200':
          description: Ticket updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

    delete:
      summary: Delete ticket
      description: Delete a support ticket (admin operation)
      operationId: deleteTicket
      tags:
        - Support Tickets
      parameters:
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Ticket unique identifier
      responses:
        '204':
          description: Ticket deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /tickets/{ticketId}/assign:
    post:
      summary: Assign agent to ticket
      description: Assign a support agent to handle the ticket
      operationId: assignAgent
      tags:
        - Agent Queue
      parameters:
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Ticket unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignAgentRequest'
      responses:
        '200':
          description: Agent assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /tickets/{ticketId}/status:
    post:
      summary: Update ticket status
      description: Change the status of a support ticket
      operationId: updateTicketStatus
      tags:
        - Support Tickets
      parameters:
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Ticket unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStatusRequest'
      responses:
        '200':
          description: Status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /tickets/{ticketId}/priority:
    post:
      summary: Update ticket priority
      description: Change the priority level of a support ticket
      operationId: updateTicketPriority
      tags:
        - Support Tickets
      parameters:
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Ticket unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePriorityRequest'
      responses:
        '200':
          description: Priority updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /tickets/{characterId}/my-tickets:
    get:
      summary: Get character's tickets
      description: Retrieve all tickets created by a specific character
      operationId: getCharacterTickets
      tags:
        - Support Tickets
      parameters:
        - name: characterId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Character unique identifier
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Items per page
      responses:
        '200':
          description: Character's tickets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketListResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /tickets/{agentId}/assigned:
    get:
      summary: Get agent's assigned tickets
      description: Retrieve tickets assigned to a specific support agent
      operationId: getAgentTickets
      tags:
        - Agent Queue
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Agent unique identifier
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Items per page
      responses:
        '200':
          description: Agent's assigned tickets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketListResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /tickets/queue:
    get:
      summary: Get ticket queue
      description: Retrieve the current queue of tickets waiting for agent assignment
      operationId: getTicketQueue
      tags:
        - Agent Queue
      parameters:
        - name: priority
          in: query
          schema:
            $ref: '#/components/schemas/TicketPriority'
          description: Filter by priority
        - name: category
          in: query
          schema:
            type: string
          description: Filter by category
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          description: Items per page
      responses:
        '200':
          description: Ticket queue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketQueueResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  /tickets/{ticketId}/responses:
    get:
      summary: Get ticket responses
      description: Retrieve all responses for a specific ticket
      operationId: getTicketResponses
      tags:
        - Ticket Responses
      parameters:
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Ticket unique identifier
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Items per page
      responses:
        '200':
          description: Ticket responses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResponseListResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

    post:
      summary: Add response to ticket
      description: Add a new response to an existing ticket
      operationId: addTicketResponse
      tags:
        - Ticket Responses
      parameters:
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Ticket unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddResponseRequest'
      responses:
        '201':
          description: Response added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResponseItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /tickets/{ticketId}/rate:
    post:
      summary: Rate ticket resolution
      description: Allow customer to rate the quality of ticket resolution
      operationId: rateTicket
      tags:
        - Support Tickets
      parameters:
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Ticket unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateTicketRequest'
      responses:
        '200':
          description: Rating submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /tickets/{ticketId}/sla:
    get:
      summary: Get ticket SLA information
      description: Retrieve SLA compliance information for a specific ticket
      operationId: getTicketSLA
      tags:
        - SLA Monitoring
      parameters:
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Ticket unique identifier
      responses:
        '200':
          description: SLA information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketSLAInfo'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /tickets/stats:
    get:
      summary: Get support statistics
      description: Retrieve support ticket statistics and analytics
      operationId: getSupportStats
      tags:
        - Support Analytics
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month, quarter, year]
            default: month
          description: Statistics period
        - name: category
          in: query
          schema:
            type: string
          description: Filter by category
      responses:
        '200':
          description: Support statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportStatsResponse'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  schemas:
    # Common schemas from system domain
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok, degraded, critical]
          example: ok
        timestamp:
          type: string
          format: date-time
        uptime:
          type: string
          description: Service uptime duration
          example: "7d 12h 30m"
        version:
          type: string
          example: "1.0.0"
      required:
        - status
        - timestamp

    # Support ticket schemas
    TicketStatus:
      type: string
      enum:
        - open
        - assigned
        - in_progress
        - pending_customer
        - resolved
        - closed
        - cancelled
      description: Current status of the support ticket
      example: open

    TicketPriority:
      type: string
      enum:
        - low
        - normal
        - high
        - urgent
        - critical
      description: Priority level of the ticket
      example: normal

    TicketCategory:
      type: string
      enum:
        - technical_issue
        - billing
        - gameplay
        - account
        - bug_report
        - feature_request
        - other
      description: Category of the support ticket
      example: technical_issue

    CreateTicketRequest:
      type: object
      properties:
        character_id:
          type: string
          format: uuid
          description: ID of the character creating the ticket
        title:
          type: string
          minLength: 5
          maxLength: 200
          description: Ticket title
        description:
          type: string
          minLength: 10
          maxLength: 5000
          description: Detailed description of the issue
        category:
          $ref: '#/components/schemas/TicketCategory'
        priority:
          $ref: '#/components/schemas/TicketPriority'
        tags:
          type: array
          items:
            type: string
          maxItems: 10
          description: Optional tags for better categorization
      required:
        - character_id
        - title
        - description

    UpdateTicketRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 5
          maxLength: 200
        description:
          type: string
          minLength: 10
          maxLength: 5000
        category:
          $ref: '#/components/schemas/TicketCategory'
        priority:
          $ref: '#/components/schemas/TicketPriority'
        tags:
          type: array
          items:
            type: string
          maxItems: 10

    TicketResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Ticket unique identifier
        character_id:
          type: string
          format: uuid
          description: Character who created the ticket
        title:
          type: string
        description:
          type: string
        category:
          $ref: '#/components/schemas/TicketCategory'
        priority:
          $ref: '#/components/schemas/TicketPriority'
        status:
          $ref: '#/components/schemas/TicketStatus'
        agent_id:
          type: string
          format: uuid
          nullable: true
          description: Assigned agent ID
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
          nullable: true
        tags:
          type: array
          items:
            type: string
        sla_deadline:
          type: string
          format: date-time
          nullable: true
        response_count:
          type: integer
          minimum: 0
      required:
        - id
        - character_id
        - title
        - description
        - category
        - priority
        - status
        - created_at
        - updated_at

    TicketListResponse:
      type: object
      properties:
        tickets:
          type: array
          items:
            $ref: '#/components/schemas/TicketResponse'
        pagination:
          type: object
          properties:
            page:
              type: integer
              minimum: 1
            limit:
              type: integer
              minimum: 1
            total:
              type: integer
              minimum: 0
            total_pages:
              type: integer
              minimum: 0
          required:
            - page
            - limit
            - total
            - total_pages
      required:
        - tickets
        - pagination

    TicketQueueResponse:
      type: object
      properties:
        queue:
          type: array
          items:
            $ref: '#/components/schemas/TicketResponse'
        queue_stats:
          type: object
          properties:
            total_waiting:
              type: integer
              minimum: 0
            urgent_count:
              type: integer
              minimum: 0
            high_count:
              type: integer
              minimum: 0
            normal_count:
              type: integer
              minimum: 0
            low_count:
              type: integer
              minimum: 0
          required:
            - total_waiting
            - urgent_count
            - high_count
            - normal_count
            - low_count
      required:
        - queue
        - queue_stats

    AssignAgentRequest:
      type: object
      properties:
        agent_id:
          type: string
          format: uuid
          description: Agent to assign to the ticket
      required:
        - agent_id

    UpdateStatusRequest:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/TicketStatus'
        comment:
          type: string
          maxLength: 1000
          description: Optional comment for status change
      required:
        - status

    UpdatePriorityRequest:
      type: object
      properties:
        priority:
          $ref: '#/components/schemas/TicketPriority'
        reason:
          type: string
          maxLength: 500
          description: Reason for priority change
      required:
        - priority

    AddResponseRequest:
      type: object
      properties:
        content:
          type: string
          minLength: 1
          maxLength: 5000
          description: Response content
        is_internal:
          type: boolean
          default: false
          description: Whether this response is internal (not visible to customer)
        attachments:
          type: array
          items:
            type: object
            properties:
              filename:
                type: string
              content_type:
                type: string
              data:
                type: string
                format: byte
                description: Base64 encoded file data
            required:
              - filename
              - content_type
              - data
          maxItems: 5
      required:
        - content

    TicketResponseItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        ticket_id:
          type: string
          format: uuid
        author_id:
          type: string
          format: uuid
        author_type:
          type: string
          enum: [customer, agent]
        content:
          type: string
        is_internal:
          type: boolean
        attachments:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              filename:
                type: string
              content_type:
                type: string
              size:
                type: integer
              url:
                type: string
                format: uri
        created_at:
          type: string
          format: date-time
      required:
        - id
        - ticket_id
        - author_id
        - author_type
        - content
        - is_internal
        - created_at

    TicketResponseListResponse:
      type: object
      properties:
        responses:
          type: array
          items:
            $ref: '#/components/schemas/TicketResponseItem'
        pagination:
          type: object
          properties:
            page:
              type: integer
              minimum: 1
            limit:
              type: integer
              minimum: 1
            total:
              type: integer
              minimum: 0
            total_pages:
              type: integer
              minimum: 0
          required:
            - page
            - limit
            - total
            - total_pages
      required:
        - responses
        - pagination

    RateTicketRequest:
      type: object
      properties:
        rating:
          type: integer
          minimum: 1
          maximum: 5
          description: Rating from 1 to 5
        comment:
          type: string
          maxLength: 1000
          description: Optional feedback comment
      required:
        - rating

    TicketSLAInfo:
      type: object
      properties:
        ticket_id:
          type: string
          format: uuid
        priority:
          $ref: '#/components/schemas/TicketPriority'
        created_at:
          type: string
          format: date-time
        sla_deadline:
          type: string
          format: date-time
        response_deadline:
          type: string
          format: date-time
        resolution_deadline:
          type: string
          format: date-time
        first_response_at:
          type: string
          format: date-time
          nullable: true
        resolved_at:
          type: string
          format: date-time
          nullable: true
        sla_status:
          type: string
          enum: [compliant, warning, breached]
        time_to_first_response:
          type: string
          nullable: true
          description: ISO 8601 duration
        time_to_resolution:
          type: string
          nullable: true
          description: ISO 8601 duration
      required:
        - ticket_id
        - priority
        - created_at
        - sla_deadline
        - response_deadline
        - resolution_deadline
        - sla_status

    SupportStatsResponse:
      type: object
      properties:
        period:
          type: string
          enum: [day, week, month, quarter, year]
        total_tickets:
          type: integer
          minimum: 0
        resolved_tickets:
          type: integer
          minimum: 0
        average_resolution_time:
          type: string
          description: ISO 8601 duration
        average_first_response_time:
          type: string
          description: ISO 8601 duration
        sla_compliance_rate:
          type: number
          minimum: 0
          maximum: 1
        tickets_by_status:
          type: object
          additionalProperties:
            type: integer
            minimum: 0
        tickets_by_priority:
          type: object
          additionalProperties:
            type: integer
            minimum: 0
        tickets_by_category:
          type: object
          additionalProperties:
            type: integer
            minimum: 0
        agent_performance:
          type: array
          items:
            type: object
            properties:
              agent_id:
                type: string
                format: uuid
              name:
                type: string
              resolved_count:
                type: integer
                minimum: 0
              average_resolution_time:
                type: string
                description: ISO 8601 duration
              sla_compliance_rate:
                type: number
                minimum: 0
                maximum: 1
            required:
              - agent_id
              - resolved_count
      required:
        - period
        - total_tickets
        - resolved_tickets

  responses:
    BadRequest:
      description: Bad request - invalid input parameters
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Invalid request parameters"
              code:
                type: string
                example: "VALIDATION_ERROR"
              details:
                type: object
            required:
              - error
              - code

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Ticket not found"
              code:
                type: string
                example: "NOT_FOUND"
            required:
              - error
              - code

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Internal server error"
              code:
                type: string
                example: "INTERNAL_ERROR"
            required:
              - error
              - code

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

security:
  - BearerAuth: []
  - ApiKeyAuth: []


