# Default owners for everything in the repo
* @${{ github.repository_owner }}

# Backend services
/services/ @${{ github.repository_owner }}
/proto/ @${{ github.repository_owner }}

# Client
/client/ @${{ github.repository_owner }}

# Infrastructure
/infrastructure/ @${{ github.repository_owner }}
/k8s/ @${{ github.repository_owner }}

# CI/CD
/.github/ @${{ github.repository_owner }}

