openapi: 3.0.3
info:
  title: Gameplay Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Gameplay API for NECPGAME**

    This API manages gameplay systems including affixes, difficulty rating, and combat
    abilities, providing comprehensive game mechanics, player skill assessment, dynamic
    content adaptation, and advanced combat systems.

    ## Key Features

    - **Affix Management**: Full CRUD operations for affix entities with validation
    - **Rotation System**: Automated weekly affix rotation with manual triggers -
    **Instance Application**: Dynamic affix application to dungeon/raid instances
    - **Difficulty Rating**: Player skill assessment, content difficulty rating, and
    automatic adjustments - **Combat Abilities**: Complete ability system with catalog,
    loadouts, activation, cooldowns, synergies - **Cyberpsychosis Tracking**: Real-time
    tracking of cybernetic implant effects - **Analytics**: Comprehensive telemetry
    and performance metrics - **Real-time Effects**: WebSocket integration for live
    game effects

    ## Domain Purpose

    The Gameplay Affixes domain manages the dynamic difficulty system for raids and
    dungeons, providing players with fresh and challenging content through randomized
    modifiers.

    ## Performance Targets

    - P99 Latency: <50ms for affix operations, <10ms for effect processing - Memory:
    <10MB for affix configurations, <1KB per instance affixes - Concurrent instances:
    1000+ simultaneous instances with affixes - Response time: <100ms P95 for API
    endpoints

    ## Security Features

    - Server-side affix validation (zero trust model) - Anti-cheat protection for
    affix manipulation - Audit trails for all affix operations - Rate limiting for
    admin operations

    ## Integration Points

    - **Combat Service**: Real-time affix effect processing and difficulty adjustments
    - **World Service**: Instance creation and management with difficulty scaling
    - **Analytics Service**: Telemetry data aggregation for rating calculations -
    **Leaderboard Service**: Difficulty-based rankings and skill assessments - **Matchmaking
    Service**: Player skill-based team composition - **Realtime Gateway**: WebSocket
    synchronization for live difficulty updates

    ## Affix Categories

    - **Combat**: Damage modifiers, health changes, ability effects - **Environmental**:
    Area effects, weather modifications, terrain changes - **Debuff**: Status effects,
    movement impairments, stat reductions - **Defensive**: Resistance boosts, healing
    modifiers, survivability improvements

    ## Rotation System

    Weekly rotations ensure content freshness with 8-10 active affixes per week. Seasonal
    affixes provide special events and limited-time challenges.

    '
  version: 1.0.0
  license:
    name: Proprietary
    url: https://necpgame.com/license
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@gameplay.necpgame.com
servers:
- url: https://api.necpgame.com/v1/gameplay
  description: Production server
- url: https://staging-api.necpgame.com/v1/gameplay
  description: Staging server
- url: http://localhost:8083/api/v1/gameplay
  description: Local development server
security:
- bearerAuth: []
tags:
- name: Affix Management
  description: Core affix CRUD operations and management
- name: Rotation System
  description: Affix rotation management and scheduling
- name: Instance Operations
  description: Affix application to game instances
- name: Analytics
  description: Affix performance and popularity metrics
- name: Health Monitoring
  description: System health and performance monitoring
- name: Difficulty Rating
  description: Player skill rating, content difficulty assessment, and automatic adjustments
- name: Combat Abilities
  description: Ability catalog, loadouts, activation, cooldowns, and synergies management
- name: Ability Catalog
  description: Ability catalog browsing and management operations
- name: Ability Loadouts
  description: Player ability loadout configuration and management
- name: Ability Activation
  description: Real-time ability activation and execution
- name: Ability Cooldowns
  description: Cooldown management and synchronization
- name: Ability Synergies
  description: Synergy calculation and application
- name: Cyberpsychosis
  description: Cyberpsychosis tracking and management
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /api/v1/gameplay/affixes/active:
    $ref: ./paths/api-v1-gameplay-affixes-active.yaml#/paths/~1api~1v1~1gameplay~1affixes~1active
  /api/v1/gameplay/affixes/{id}:
    $ref: ./paths/api-v1-gameplay-affixes-{id}.yaml#/paths/~1api~1v1~1gameplay~1affixes~1{id}
  /api/v1/gameplay/instances/{instanceId}/affixes:
    $ref: ./paths/api-v1-gameplay-instances-{instanceId}-affixes.yaml#/paths/~1api~1v1~1gameplay~1instances~1{instanceId}~1affixes
  /api/v1/gameplay/affixes/rotation/current:
    $ref: ./paths/api-v1-gameplay-affixes-rotation-current.yaml#/paths/~1api~1v1~1gameplay~1affixes~1rotation~1current
  /api/v1/gameplay/affixes/rotation/history:
    $ref: ./paths/api-v1-gameplay-affixes-rotation-history.yaml#/paths/~1api~1v1~1gameplay~1affixes~1rotation~1history
  /api/v1/gameplay/affixes/rotation/trigger:
    $ref: ./paths/api-v1-gameplay-affixes-rotation-trigger.yaml#/paths/~1api~1v1~1gameplay~1affixes~1rotation~1trigger
  /api/v1/gameplay/affixes:
    $ref: ./paths/api-v1-gameplay-affixes.yaml#/paths/~1api~1v1~1gameplay~1affixes
  /api/v1/admin/gameplay/affixes/{id}:
    $ref: ./paths/api-v1-admin-gameplay-affixes-{id}.yaml#/paths/~1api~1v1~1admin~1gameplay~1affixes~1{id}
  /api/v1/analytics/affixes/popularity:
    $ref: ./paths/api-v1-analytics-affixes-popularity.yaml#/paths/~1api~1v1~1analytics~1affixes~1popularity
  /api/v1/analytics/affixes/difficulty:
    $ref: ./paths/api-v1-analytics-affixes-difficulty.yaml#/paths/~1api~1v1~1analytics~1affixes~1difficulty
  /api/v1/analytics/affixes/combinations:
    $ref: ./paths/api-v1-analytics-affixes-combinations.yaml#/paths/~1api~1v1~1analytics~1affixes~1combinations
  /api/v1/gameplay/difficulty-rating/player/{playerId}:
    $ref: ./paths/api-v1-gameplay-difficulty-rating-player-{playerId}.yaml#/paths/~1api~1v1~1gameplay~1difficulty-rating~1player~1{playerId}
  /api/v1/gameplay/difficulty-rating/content/{contentId}:
    $ref: ./paths/api-v1-gameplay-difficulty-rating-content-{contentId}.yaml#/paths/~1api~1v1~1gameplay~1difficulty-rating~1content~1{contentId}
  /api/v1/gameplay/difficulty-rating/recommendations/{playerId}:
    $ref: ./paths/api-v1-gameplay-difficulty-rating-recommendations-{playerId}.yaml#/paths/~1api~1v1~1gameplay~1difficulty-rating~1recommendations~1{playerId}
  /api/v1/gameplay/difficulty-rating/adjust:
    $ref: ./paths/api-v1-gameplay-difficulty-rating-adjust.yaml#/paths/~1api~1v1~1gameplay~1difficulty-rating~1adjust
  /api/v1/gameplay/combat/abilities/catalog:
    $ref: ./paths/api-v1-gameplay-combat-abilities-catalog.yaml#/paths/~1api~1v1~1gameplay~1combat~1abilities~1catalog
  /api/v1/gameplay/combat/abilities/{abilityId}:
    $ref: ./paths/api-v1-gameplay-combat-abilities-{abilityId}.yaml#/paths/~1api~1v1~1gameplay~1combat~1abilities~1{abilityId}
  /api/v1/gameplay/combat/abilities/loadouts:
    $ref: ./paths/api-v1-gameplay-combat-abilities-loadouts.yaml#/paths/~1api~1v1~1gameplay~1combat~1abilities~1loadouts
  /api/v1/gameplay/combat/abilities/activate:
    $ref: ./paths/api-v1-gameplay-combat-abilities-activate.yaml#/paths/~1api~1v1~1gameplay~1combat~1abilities~1activate
  /api/v1/gameplay/combat/abilities/cooldowns:
    $ref: ./paths/api-v1-gameplay-combat-abilities-cooldowns.yaml#/paths/~1api~1v1~1gameplay~1combat~1abilities~1cooldowns
  /api/v1/gameplay/combat/abilities/synergies:
    $ref: ./paths/api-v1-gameplay-combat-abilities-synergies.yaml#/paths/~1api~1v1~1gameplay~1combat~1abilities~1synergies
  /api/v1/gameplay/combat/abilities/synergies/apply:
    $ref: ./paths/api-v1-gameplay-combat-abilities-synergies-apply.yaml#/paths/~1api~1v1~1gameplay~1combat~1abilities~1synergies~1apply
  /api/v1/gameplay/combat/abilities/cyberpsychosis:
    $ref: ./paths/api-v1-gameplay-combat-abilities-cyberpsychosis.yaml#/paths/~1api~1v1~1gameplay~1combat~1abilities~1cyberpsychosis
  /api/v1/gameplay/combat/abilities/metrics:
    $ref: ./paths/api-v1-gameplay-combat-abilities-metrics.yaml#/paths/~1api~1v1~1gameplay~1combat~1abilities~1metrics
components:
  schemas:
    Error:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/Error
    HealthResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/HealthResponse
    Affix:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/Affix
    ActiveAffixesResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/ActiveAffixesResponse
    AffixDetailsResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/AffixDetailsResponse
    InstanceAffixesResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/InstanceAffixesResponse
    CurrentRotationResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/CurrentRotationResponse
    RotationHistoryResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/RotationHistoryResponse
    RotationTriggerResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/RotationTriggerResponse
    CreateAffixRequest:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/CreateAffixRequest
    UpdateAffixRequest:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/UpdateAffixRequest
    ListAffixesResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/ListAffixesResponse
    PopularityMetricsResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/PopularityMetricsResponse
    DifficultyMetricsResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/DifficultyMetricsResponse
    CombinationAnalysisResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/CombinationAnalysisResponse
    PlayerSkillRatingResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/PlayerSkillRatingResponse
    Ability:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/Ability
    AbilityEffect:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/AbilityEffect
    Synergy:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/Synergy
    Loadout:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/Loadout
    AbilitySlot:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/AbilitySlot
    CooldownState:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/CooldownState
    CyberpsychosisState:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/CyberpsychosisState
    CyberpsychosisEffect:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/CyberpsychosisEffect
    AbilityCatalogResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/AbilityCatalogResponse
    AbilityDetailsResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/AbilityDetailsResponse
    PlayerLoadoutsResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/PlayerLoadoutsResponse
    LoadoutResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/LoadoutResponse
    CreateLoadoutRequest:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/CreateLoadoutRequest
    ActivateAbilityRequest:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/ActivateAbilityRequest
    ActivationResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/ActivationResponse
    CheckCooldownsRequest:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/CheckCooldownsRequest
    CooldownsResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/CooldownsResponse
    SynergiesResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/SynergiesResponse
    ApplySynergyRequest:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/ApplySynergyRequest
    SynergyResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/SynergyResponse
    CyberpsychosisResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/CyberpsychosisResponse
    UpdateCyberpsychosisRequest:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/UpdateCyberpsychosisRequest
    AbilityMetricsResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/AbilityMetricsResponse
    ContentDifficultyRatingResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/ContentDifficultyRatingResponse
    DifficultyRecommendationsResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/DifficultyRecommendationsResponse
    DifficultyAdjustmentRequest:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/DifficultyAdjustmentRequest
    DifficultyAdjustmentResponse:
      $ref: ./schemas/gameplay-service-schemas.yaml#/components/schemas/DifficultyAdjustmentResponse
  responses: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
