openapi: 3.0.3
info:
  title: Combat Stats Service API - Enterprise-Grade Template
  description: |-
    **Enterprise-Grade Combat Statistics Service API**
    This service provides comprehensive battle analytics, performance tracking, and combat statistics aggregation for the NECPGAME MMOFPS RPG system.
    ## Key Features - **Real-time combat analytics** with sub-second latency - **Performance tracking** for players, weapons, and abilities - **Battle statistics aggregation** with historical data - **Anti-cheat validation** through statistical analysis - **Leaderboards and rankings** with caching optimization - **Memory-aligned structures** for 30-50% memory savings
    ## Domain Purpose Combat Stats Service collects, processes, and provides access to detailed combat statistics and performance metrics for the Cyberpunk 2077-style MMOFPS RPG gameplay.
    ## Performance Targets - P99 Latency: <50ms for hot paths, <200ms for analytics - Memory: <50KB per player stats instance - Concurrent users: 10,000+ simultaneous stat tracking - Throughput: 5000+ stat updates/second sustained - Data consistency: Event-sourced with CQRS patterns 
  version: 1.0.0
  contact:
    name: NECPGAME Combat Stats API Support
    url: https://necpgame.com/support
    email: combat-stats@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.necpgame.com/v1/combat-stats
    description: Production server
  - url: https://staging-api.necpgame.com/v1/combat-stats
    description: Staging server
  - url: http://localhost:8080/api/v1/combat-stats
    description: Local development server
security:
  - BearerAuth: []
tags:
  - name: Combat Statistics
    description: Core combat statistics operations
  - name: Player Performance
    description: Individual player combat analytics
  - name: Weapon Analytics
    description: Weapon and implant performance tracking
  - name: Leaderboards
    description: Rankings and competitive statistics
  - name: Health Monitoring
    description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Combat stats service health check
      description: |-
        **Enterprise-grade health check endpoint**
        Provides real-time health status of the combat statistics service. Critical for service discovery, load balancing, and monitoring.
        **Performance:** <1ms response time, cached for 30 seconds 
      operationId: combatStatsHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
              - deflate
              - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                  - gzip
                  - deflate
                  - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |-
        JWT Bearer token authentication.
        **Token Format:** `Bearer {token}`
        **Token Claims:** - `sub`: User/Player ID - `exp`: Expiration timestamp - `iat`: Issued at timestamp - `iss`: Token issuer - `aud`: Token audience - `roles`: User roles array - `permissions`: User permissions array
        **Security Features:** - RS256 signature algorithm - Token rotation required every 24 hours - Automatic refresh tokens - Revocation support via Redis 
  schemas:
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
        - domain
      properties:
        domain:
          type: string
          example: combat-stats
          maxLength: 50
        status:
          type: string
          enum:
            - healthy
            - degraded
            - unhealthy
          example: healthy
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          example: '2025-12-23T23:54:00Z'
          maxLength: 255
        version:
          type: string
          example: 1.0.0
          maxLength: 50
        uptime_seconds:
          type: integer
          example: 3600
        active_sessions:
          type: integer
          example: 5000
        stats_processed_per_second:
          type: integer
          example: 2500
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    Error:
      type: object
      required:
        - code
        - message
      properties:
        message:
          type: string
          maxLength: 256
          example: Internal server error
        domain:
          type: string
          example: combat-stats
          maxLength: 50
        details:
          type: object
          description: Additional error context
          example:
            field: player_id
            reason: invalid_uuid_format
        code:
          type: integer
          format: int32
          minimum: 100
          maximum: 599
          example: 500
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    PlayerCombatStats:
      type: object
      required:
        - player_id
        - total_kills
        - total_deaths
        - total_damage_dealt
        - total_damage_received
        - accuracy_percentage
        - headshot_percentage
        - average_session_duration
        - win_rate
        - favorite_weapon
        - rank
        - updated_at
      properties:
        player_id:
          type: string
          format: uuid
          description: Player unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        total_kills:
          type: integer
          format: int64
          description: Total confirmed kills
          example: 15420
          minimum: 0
        total_deaths:
          type: integer
          format: int64
          description: Total deaths
          example: 12850
          minimum: 0
        total_damage_dealt:
          type: integer
          format: int64
          description: Total damage dealt to enemies
          example: 2850000
          minimum: 0
        total_damage_received:
          type: integer
          format: int64
          description: Total damage received from enemies
          example: 2150000
          minimum: 0
        accuracy_percentage:
          type: number
          format: float
          description: Overall shooting accuracy (0.0-100.0)
          example: 68.5
          minimum: 0
          maximum: 100
        headshot_percentage:
          type: number
          format: float
          description: Headshot accuracy percentage
          example: 24.3
          minimum: 0
          maximum: 100
        average_session_duration:
          type: integer
          description: Average combat session duration in seconds
          example: 1250
          minimum: 0
        win_rate:
          type: number
          format: float
          description: Win rate percentage (0.0-100.0)
          example: 54.7
          minimum: 0
          maximum: 100
        favorite_weapon:
          type: string
          description: Most used weapon name
          example: Malorian Arms 3516
          maxLength: 100
        rank:
          type: integer
          description: Current player rank
          example: 1250
          minimum: 0
        updated_at:
          type: string
          format: date-time
          description: Last statistics update timestamp
          example: '2025-12-23T23:54:00Z'
        kd_ratio:
          type: number
          format: float
          description: Kill/Death ratio
          example: 1.2
          minimum: 0
        total_sessions:
          type: integer
          format: int32
          description: Total combat sessions played
          example: 1250
          minimum: 0
        total_playtime_hours:
          type: integer
          description: Total playtime in hours
          example: 890
          minimum: 0
        achievements_unlocked:
          type: integer
          description: Number of combat achievements unlocked
          example: 45
          minimum: 0
        current_streak:
          type: integer
          description: Current win/loss streak
          example: 7
        longest_streak:
          type: integer
          description: Longest win streak
          example: 23
          minimum: 0
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%. Hot path optimization required for real-time updates.'
    PlayerCombatStatsResponse:
      type: object
      required:
        - stats
      properties:
        stats:
          $ref: '#/components/schemas/PlayerCombatStats'
        trends:
          type: object
          description: Performance trend analysis (optional)
          properties:
            kd_ratio_trend:
              type: string
              enum:
                - improving
                - declining
                - stable
              example: improving
            accuracy_trend:
              type: string
              enum:
                - improving
                - declining
                - stable
              example: stable
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    UpdatePlayerStatsRequest:
      type: object
      required:
        - session_stats
      properties:
        session_stats:
          type: object
          required:
            - kills
            - deaths
            - damage_dealt
            - damage_received
            - session_duration
            - weapons_used
          properties:
            kills:
              type: integer
              minimum: 0
              example: 12
            deaths:
              type: integer
              minimum: 0
              example: 8
            damage_dealt:
              type: integer
              minimum: 0
              example: 15400
            damage_received:
              type: integer
              minimum: 0
              example: 12300
            session_duration:
              type: integer
              minimum: 0
              example: 1800
            weapons_used:
              type: array
              items:
                type: object
                required:
                  - weapon_id
                  - shots_fired
                  - hits
                properties:
                  weapon_id:
                    type: string
                    format: uuid
                    example: 550e8400-e29b-41d4-a716-446655440001
                  shots_fired:
                    type: integer
                    minimum: 0
                    example: 450
                  hits:
                    type: integer
                    minimum: 0
                    example: 180
                  headshots:
                    type: integer
                    minimum: 0
                    example: 45
            abilities_used:
              type: array
              items:
                type: object
                required:
                  - ability_id
                  - times_used
                properties:
                  ability_id:
                    type: string
                    format: uuid
                    example: 550e8400-e29b-41d4-a716-446655440002
                  times_used:
                    type: integer
                    minimum: 0
                    example: 8
            session_outcome:
              type: string
              enum:
                - victory
                - defeat
                - draw
              example: victory
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%. Optimized for batch processing.'
    PlayerStatsUpdateResponse:
      type: object
      required:
        - player_id
        - updated_at
        - success
      properties:
        player_id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        updated_at:
          type: string
          format: date-time
          example: '2025-12-23T23:54:00Z'
        success:
          type: boolean
          example: true
        new_rank:
          type: integer
          description: Updated player rank after stats update
          example: 1251
        achievements_unlocked:
          type: array
          items:
            type: string
            maxLength: 100
          description: Any new achievements unlocked
          example:
            - Sharpshooter
            - Combo Master
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
