# Issue: #2246
openapi: 3.0.3
info:
  title: Combat Stats Service API - Enterprise-Grade Template
  description: '**Enterprise-Grade Combat Statistics Service API**

    This service provides comprehensive battle analytics, performance tracking, and combat statistics
    aggregation for the NECPGAME MMOFPS RPG system.

    ## Key Features
    - **Real-time combat analytics** with sub-second latency
    - **Performance tracking** for players, weapons, and abilities
    - **Battle statistics aggregation** with historical data
    - **Anti-cheat validation** through statistical analysis
    - **Leaderboards and rankings** with caching optimization
    - **Memory-aligned structures** for 30-50% memory savings

    ## Domain Purpose
    Combat Stats Service collects, processes, and provides access to detailed combat statistics
    and performance metrics for the Cyberpunk 2077-style MMOFPS RPG gameplay.

    ## Performance Targets
    - P99 Latency: <50ms for hot paths, <200ms for analytics
    - Memory: <50KB per player stats instance
    - Concurrent users: 10,000+ simultaneous stat tracking
    - Throughput: 5000+ stat updates/second sustained
    - Data consistency: Event-sourced with CQRS patterns
    '
  version: 1.0.0
  contact:
    name: NECPGAME Combat Stats API Support
    url: https://necpgame.com/support
    email: combat-stats@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/combat-stats
  description: Production server
- url: https://staging-api.necpgame.com/v1/combat-stats
  description: Staging server
- url: http://localhost:8080/api/v1/combat-stats
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Combat Statistics
  description: Core combat statistics operations
- name: Player Performance
  description: Individual player combat analytics
- name: Weapon Analytics
  description: Weapon and implant performance tracking
- name: Leaderboards
  description: Rankings and competitive statistics
- name: Health Monitoring
  description: System health and performance monitoring

# Module-based API structure
paths:
  /health:
    get:
      summary: Combat stats service health check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the combat statistics service.
        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds
        '
      operationId: combatStatsHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT Bearer token authentication.

        **Token Format:** `Bearer {token}`

        **Token Claims:**
        - `sub`: User/Player ID
        - `exp`: Expiration timestamp
        - `iat`: Issued at timestamp
        - `iss`: Token issuer
        - `aud`: Token audience
        - `roles`: User roles array
        - `permissions`: User permissions array

        **Security Features:**
        - RS256 signature algorithm
        - Token rotation required every 24 hours
        - Automatic refresh tokens
        - Revocation support via Redis
        '

  # Import all schemas from modules
  schemas:
    # Common schemas
    HealthResponse:
      type: object
      required:
      - status
      - timestamp
      - domain
      properties:
        domain:
          type: string
          example: combat-stats
          maxLength: 50
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
          example: healthy
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          example: '2025-12-23T23:54:00Z'
          maxLength: 255
        version:
          type: string
          example: 1.0.0
          maxLength: 50
        uptime_seconds:
          type: integer
          example: 3600
        active_sessions:
          type: integer
          example: 5000
        stats_processed_per_second:
          type: integer
          example: 2500
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    Error:
      type: object
      required:
      - code
      - message
      properties:
        message:
          type: string
          maxLength: 256
          example: Internal server error
        domain:
          type: string
          example: combat-stats
          maxLength: 50
        details:
          type: object
          description: Additional error context
          example:
            field: player_id
            reason: invalid_uuid_format
        code:
          type: integer
          format: int32
          minimum: 100
          maximum: 599
          example: 500
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Import module schemas
    $ref: './modules/player-stats.yaml#/components/schemas'
    $ref: './modules/weapon-analytics.yaml#/components/schemas'
