openapi: 3.0.3
info:
  title: Game Initial State API
  version: 1.0.0
  description: |
    API для получения начального состояния игры.
    
    **Источники:**
    - `.BRAIN/05-technical/game-start-scenario.md` (v1.0.0)
    - `.BRAIN/05-technical/mvp-data-json/locations.json`
    - `.BRAIN/05-technical/mvp-data-json/npcs.json`
    - `.BRAIN/05-technical/mvp-data-json/quests.json`
    - Задание: `API-SWAGGER/tasks/active/queue/task-027-game-initial-content-api.md`
    - Task ID: API-TASK-027
    
    **Начальное состояние включает:**
    - Стартовую локацию (Downtown)
    - Доступных NPC (Сара Миллер, Джейк Арчер, Виктор Вектор)
    - Первый квест ("Доставка груза")
    - Доступные действия в локации

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/game
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Initial State
    description: Начальное состояние игры

paths:
  /game/initial-state:
    get:
      summary: Получить начальное состояние игры
      description: |
        Возвращает начальное состояние игры для персонажа.
        
        **Бизнес-логика:**
        - Загружает информацию о текущей локации
        - Возвращает список доступных NPC в локации
        - Возвращает первый доступный квест
        - Возвращает список доступных действий
        
        **Источник:** `.BRAIN/05-technical/game-start-scenario.md` (Этап 3-5)
      operationId: getInitialState
      tags:
        - Initial State
      parameters:
        - name: characterId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID персонажа
          example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Начальное состояние игры
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitialStateResponse'
              example:
                location:
                  id: "loc-downtown-001"
                  name: "Downtown - Корпоративный центр"
                  description: "Вы стоите в центре корпоративного района Night City. Вокруг вас возвышаются небоскребы мегакорпораций. Неоновые вывески освещают улицы."
                  city: "Night City"
                  district: "Downtown"
                  dangerLevel: "low"
                  minLevel: 1
                  type: "corporate"
                  connectedLocations: ["loc-watson-001"]
                availableNPCs:
                  - id: "npc-sarah-miller"
                    name: "Сара Миллер"
                    description: "Офицер NCPD, работает в корпоративном районе Downtown."
                    type: "quest_giver"
                    faction: "ncpd"
                    greeting: "Привет. Я офицер Миллер. Если ты хочешь помочь полиции, у меня есть несколько заданий."
                    availableQuests: ["quest-delivery-001"]
                  - id: "npc-jake-archer"
                    name: "Джейк Арчер"
                    description: "Торговец оружием и снаряжением."
                    type: "trader"
                    faction: null
                    greeting: "Привет, чомбата. Что тебе нужно? У меня есть оружие, броня, все что нужно для выживания в Night City."
                    availableQuests: []
                  - id: "npc-victor-vector"
                    name: "Виктор Вектор"
                    description: "Риппердок, устанавливает и обслуживает кибернетические импланты."
                    type: "citizen"
                    faction: null
                    greeting: "Привет. Я Виктор, риппердок. Если тебе нужны импланты или ремонт - обращайся."
                    availableQuests: []
                firstQuest:
                  id: "quest-delivery-001"
                  name: "Доставка груза"
                  description: "Офицер NCPD Сара Миллер просит доставить посылку в Watson. Это простое задание для новичка."
                  type: "side"
                  level: 1
                  giverNpcId: "npc-sarah-miller"
                  rewards:
                    experience: 100
                    money: 200
                    items: []
                    reputation:
                      faction: "ncpd"
                      amount: 5
                availableActions:
                  - id: "look-around"
                    label: "Осмотреть окрестности"
                    description: "Осмотрите окрестности, чтобы найти точки интереса"
                    enabled: true
                  - id: "talk-to-npc"
                    label: "Поговорить с NPC"
                    description: "Поговорите с одним из доступных NPC"
                    enabled: true
                  - id: "move"
                    label: "Переместиться"
                    description: "Переместитесь в другую локацию"
                    enabled: true
                  - id: "rest"
                    label: "Отдохнуть"
                    description: "Отдохните, чтобы восстановить здоровье и энергию"
                    enabled: true
                  - id: "inventory"
                    label: "Открыть инвентарь"
                    description: "Откройте инвентарь для управления предметами"
                    enabled: true
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /game/tutorial-steps:
    get:
      summary: Получить шаги туториала
      description: |
        Возвращает список шагов туториала для нового игрока.
        
        **Бизнес-логика:**
        - Возвращает последовательность шагов туториала
        - Показывает текущий шаг
        - Позволяет пропустить туториал
        
        **Источник:** `.BRAIN/05-technical/ui-game-start.md` (Туториал)
      operationId: getTutorialSteps
      tags:
        - Initial State
      parameters:
        - name: characterId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID персонажа
          example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Шаги туториала
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TutorialStepsResponse'
              example:
                steps:
                  - id: "step-1"
                    title: "Добро пожаловать"
                    description: "Это ваш первый день в Night City. Вы находитесь в корпоративном районе Downtown."
                    hint: "Изучите интерфейс и выберите действие"
                  - id: "step-2"
                    title: "Осмотрите локацию"
                    description: "Изучите описание локации Downtown. Обратите внимание на уровень опасности и доступные переходы."
                    hint: "Нажмите 'Осмотреть окрестности'"
                  - id: "step-3"
                    title: "Поговорите с NPC"
                    description: "Найдите офицера Сару Миллер и поговорите с ней. Она даст вам первое задание."
                    hint: "Выберите 'Поговорить с NPC' и найдите Сару Миллер"
                  - id: "step-4"
                    title: "Примите первый квест"
                    description: "Сара Миллер даст вам первое задание 'Доставка груза'. Примите его, чтобы начать."
                    hint: "Выберите опцию 'Какие задания у тебя есть?'"
                currentStep: 0
                totalSteps: 4
                canSkip: true
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
        '500':
          $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

components:
  schemas:
    InitialStateResponse:
      type: object
      required:
        - location
        - availableNPCs
        - firstQuest
        - availableActions
      properties:
        location:
          $ref: './start.yaml#/components/schemas/GameLocation'
        availableNPCs:
          type: array
          items:
            $ref: '#/components/schemas/GameNPC'
          description: Список доступных NPC в текущей локации
        firstQuest:
          $ref: '#/components/schemas/GameQuest'
        availableActions:
          type: array
          items:
            $ref: '#/components/schemas/GameAction'
          description: Список доступных действий в локации

    GameNPC:
      type: object
      required:
        - id
        - name
        - type
        - greeting
      properties:
        id:
          type: string
          description: Уникальный идентификатор NPC
          example: "npc-sarah-miller"
        name:
          type: string
          description: Имя NPC
          minLength: 1
          maxLength: 100
          example: "Сара Миллер"
        description:
          type: string
          description: Описание NPC
          maxLength: 500
          example: "Офицер NCPD, работает в корпоративном районе Downtown."
        type:
          type: string
          enum: [trader, quest_giver, citizen, enemy]
          description: |
            Тип NPC:
            - trader: торговец
            - quest_giver: квестодатель
            - citizen: обычный житель
            - enemy: враг
          example: "quest_giver"
        faction:
          type: string
          nullable: true
          description: Фракция NPC (если есть)
          example: "ncpd"
        greeting:
          type: string
          description: Приветствие NPC при первом взаимодействии
          minLength: 10
          maxLength: 500
          example: "Привет. Я офицер Миллер. Если ты хочешь помочь полиции, у меня есть несколько заданий."
        availableQuests:
          type: array
          items:
            type: string
          description: Список ID доступных квестов от этого NPC
          example: ["quest-delivery-001"]

    GameQuest:
      type: object
      required:
        - id
        - name
        - description
        - level
        - giverNpcId
        - rewards
      properties:
        id:
          type: string
          description: Уникальный идентификатор квеста
          example: "quest-delivery-001"
        name:
          type: string
          description: Название квеста
          minLength: 1
          maxLength: 200
          example: "Доставка груза"
        description:
          type: string
          description: Описание квеста
          minLength: 10
          maxLength: 2000
          example: "Офицер NCPD Сара Миллер просит доставить посылку в Watson. Это простое задание для новичка."
        type:
          type: string
          enum: [main, side, contract]
          description: |
            Тип квеста:
            - main: основной квест
            - side: побочный квест
            - contract: контракт
          example: "side"
        level:
          type: integer
          minimum: 1
          description: Рекомендуемый уровень для квеста
          example: 1
        giverNpcId:
          type: string
          description: ID NPC, дающего квест
          example: "npc-sarah-miller"
        rewards:
          $ref: '#/components/schemas/GameQuestRewards'

    GameQuestRewards:
      type: object
      properties:
        experience:
          type: integer
          minimum: 0
          description: Опыт за выполнение квеста
          example: 100
        money:
          type: integer
          minimum: 0
          description: Деньги (eddies) за выполнение квеста
          example: 200
        items:
          type: array
          items:
            type: string
          description: Список ID предметов в награду
          example: []
        reputation:
          type: object
          nullable: true
          properties:
            faction:
              type: string
              description: Фракция, с которой изменяется репутация
              example: "ncpd"
            amount:
              type: integer
              description: Изменение репутации (может быть отрицательным)
              example: 5
          description: Изменение репутации

    GameAction:
      type: object
      required:
        - id
        - label
      properties:
        id:
          type: string
          description: Уникальный идентификатор действия
          example: "look-around"
        label:
          type: string
          description: Название действия для отображения
          minLength: 1
          maxLength: 100
          example: "Осмотреть окрестности"
        description:
          type: string
          description: Описание действия
          maxLength: 500
          example: "Осмотрите окрестности, чтобы найти точки интереса"
        enabled:
          type: boolean
          description: Доступно ли действие в данный момент
          default: true
          example: true

    TutorialStepsResponse:
      type: object
      required:
        - steps
        - currentStep
        - totalSteps
        - canSkip
      properties:
        steps:
          type: array
          items:
            $ref: '#/components/schemas/TutorialStep'
          description: Список шагов туториала
        currentStep:
          type: integer
          minimum: 0
          description: Текущий шаг туториала (0-based индекс)
          example: 0
        totalSteps:
          type: integer
          minimum: 1
          description: Общее количество шагов
          example: 4
        canSkip:
          type: boolean
          description: Можно ли пропустить туториал
          example: true

    TutorialStep:
      type: object
      required:
        - id
        - title
        - description
        - hint
      properties:
        id:
          type: string
          description: Уникальный идентификатор шага
          example: "step-1"
        title:
          type: string
          description: Заголовок шага
          minLength: 1
          maxLength: 100
          example: "Добро пожаловать"
        description:
          type: string
          description: Описание шага
          minLength: 10
          maxLength: 500
          example: "Это ваш первый день в Night City. Вы находитесь в корпоративном районе Downtown."
        hint:
          type: string
          description: Подсказка для игрока
          minLength: 1
          maxLength: 200
          example: "Изучите интерфейс и выберите действие"

  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'

security:
  - BearerAuth: []

