openapi: 3.0.3
info:
  title: Crafting System - Craft Item
  version: 1.0.0
  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
paths:
  /gameplay/economy/crafting/craft:
    post:
      summary: Крафтнуть предмет
      operationId: craftItem
      tags: [Crafting]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '../schemas/index.yaml#/components/schemas/CraftRequest'
      responses:
        '200':
          description: Крафт начат
          content:
            application/json:
              schema:
                $ref: '../schemas/index.yaml#/components/schemas/CraftingSession'
        '400':
          $ref: '../../../shared/common/responses.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '404':
          $ref: '../../../shared/common/responses.yaml#/components/responses/NotFound'
        '422':
          $ref: '../../../shared/common/responses.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: '../../../shared/common/responses.yaml#/components/responses/InternalServerError'

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
