openapi: 3.0.3
info:
  title: Crafting System - Get Known Recipes
  version: 1.0.0
  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
paths:
  /gameplay/economy/crafting/character/{character_id}/known-recipes:
    get:
      summary: Получить известные рецепты персонажа
      operationId: getKnownRecipes
      tags: [Recipes]
      security:
        - BearerAuth: []
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: category
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Известные рецепты
          content:
            application/json:
              schema:
                type: object
                properties:
                  known_recipes:
                    type: array
                    items:
                      $ref: '../schemas/index.yaml#/components/schemas/CraftingRecipe'
                  total_recipes:
                    type: integer
                  recipes_by_category:
                    type: object
                    additionalProperties:
                      type: integer
        '400':
          $ref: '../../../shared/common/responses.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '404':
          $ref: '../../../shared/common/responses.yaml#/components/responses/NotFound'
        '500':
          $ref: '../../../shared/common/responses.yaml#/components/responses/InternalServerError'
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
