openapi: 3.0.3
info:
  title: Crafting System - Learn Recipe
  version: 1.0.0
  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
paths:
  /gameplay/economy/crafting/character/{character_id}/learn-recipe:
    post:
      summary: Изучить новый рецепт
      operationId: learnRecipe
      tags: [Blueprints]
      security:
        - BearerAuth: []
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                recipe_id:
                  type: string
                blueprint_item_id:
                  type: string
                  format: uuid
                  description: ID чертежа в инвентаре
      responses:
        '200':
          description: Рецепт изучен
        '400':
          $ref: '../../../shared/common/responses.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '404':
          $ref: '../../../shared/common/responses.yaml#/components/responses/NotFound'
        '409':
          $ref: '../../../shared/common/responses.yaml#/components/responses/Conflict'
        '422':
          $ref: '../../../shared/common/responses.yaml#/components/responses/UnprocessableEntity'
        '500':
          $ref: '../../../shared/common/responses.yaml#/components/responses/InternalServerError'

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
