openapi: 3.0.3
info:
  title: Crafting System - List Recipes
  version: 1.0.0
  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
paths:
  /gameplay/economy/crafting/recipes:
    get:
      summary: Получить список рецептов
      operationId: listRecipes
      tags: [Recipes]
      security:
        - BearerAuth: []
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [WEAPONS, ARMOR, IMPLANTS, MODS, CONSUMABLES]
        - name: tier
          in: query
          description: Tier рецепта
          schema:
            type: string
            enum: [T1, T2, T3, T4, T5]
        - name: min_skill_level
          in: query
          schema:
            type: integer
        - $ref: '../../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Список рецептов
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '../schemas/index.yaml#/components/schemas/CraftingRecipe'
        '400':
          $ref: '../../../shared/common/responses.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '500':
          $ref: '../../../shared/common/responses.yaml#/components/responses/InternalServerError'
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
