openapi: 3.0.3
info:
  title: Economy Analytics Service API
  description: '**Enterprise-Grade Economy Analytics Service for NECPGAME**


    This service provides comprehensive analytics and reporting capabilities for the game''s

    economic systems. It focuses on market analysis, trade statistics, economic forecasting,

    and data visualization for players and administrators.


    **BACKEND NOTE**: All schemas are optimized for struct alignment (large → small)

    to ensure maximum memory efficiency in Go backend services.

    Expected memory savings: 30-50%.


    **PERFORMANCE**:

    - Real-time data aggregation and processing for economic metrics.

    - Optimized database queries with time-series and statistical indexes.

    - Caching strategies for frequently accessed analytical reports.

    - P99 latency < 20ms for critical analytics endpoints.


    **SCALING**: Designed for horizontal scaling to handle massive volumes of

    economic data and analytical queries from millions of concurrent players.

    '
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: Backend Team
    email: backend@necp.game
servers:
- url: https://api.necpgame.com/v1/economy/analytics
  description: Production server
- url: https://staging-api.necpgame.com/v1/economy/analytics
  description: Staging server
- url: http://localhost:8210/api/v1/economy/analytics
  description: Local development
security:
- BearerAuth: []
tags:
- name: Market Analytics
  description: Market trend analysis and forecasting
- name: Trade Statistics
  description: Trade volume and performance statistics
- name: Economic Forecasting
  description: Economic predictions and scenarios
- name: Data Visualization
  description: Charts, graphs, and dashboard data
paths:
  /api/v1/economy/analytics/health:
    get:
      summary: Economy analytics service health check
      description: '**Enterprise-grade health check endpoint**


        Provides real-time health status of the economy analytics microservice.

        Critical for service discovery, load balancing, and monitoring.

        '
      operationId: economyAnalyticsHealthCheck
      tags:
      - Data Visualization
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/economy/analytics/market/trends:
    get:
      summary: Get market trends analysis
      description: 'Analyzes current market trends including price movements, volume changes,

        and market sentiment across all economic sectors.

        '
      operationId: getMarketTrends
      tags:
      - Market Analytics
      security:
      - BearerAuth: []
      parameters:
      - name: timeframe
        in: query
        schema:
          type: string
          enum:
          - 1h
          - 24h
          - 7d
          - 30d
          - 90d
          default: 24h
        description: Analysis timeframe
      - name: sector
        in: query
        schema:
          type: string
          enum:
          - all
          - commodities
          - real_estate
          - stocks
          - currencies
          - cryptocurrencies
          default: all
        description: Economic sector filter
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Market trends analysis
          content:
            application/json:
              schema:
                type: object
                properties:
                  timeframe:
                    type: string
                  sector:
                    type: string
                  trends:
                    type: array
                    items:
                      $ref: '#/components/schemas/MarketTrend'
                  summary:
                    $ref: '#/components/schemas/MarketSummary'
                required:
                - timeframe
                - sector
                - trends
                - summary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/economy/analytics/trade/volume:
    get:
      summary: Get trade volume statistics
      description: 'Provides detailed statistics on trade volumes across different markets,

        including daily/weekly/monthly breakdowns and comparisons.

        '
      operationId: getTradeVolumeStats
      tags:
      - Trade Statistics
      security:
      - BearerAuth: []
      parameters:
      - name: period
        in: query
        schema:
          type: string
          enum:
          - daily
          - weekly
          - monthly
          - yearly
          default: daily
        description: Statistical period
      - name: market_type
        in: query
        schema:
          type: string
          enum:
          - all
          - stock
          - commodity
          - real_estate
          - auction
          default: all
        description: Market type filter
      - name: from_date
        in: query
        schema:
          type: string
          format: date
        description: Start date for analysis
      - name: to_date
        in: query
        schema:
          type: string
          format: date
        description: End date for analysis
      responses:
        '200':
          description: Trade volume statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeVolumeReport'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/economy/analytics/forecast:
    post:
      summary: Generate economic forecast
      description: 'Generates economic forecasts based on current market data, historical trends,

        and predictive algorithms for short-term and long-term predictions.

        '
      operationId: generateEconomicForecast
      tags:
      - Economic Forecasting
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForecastRequest'
      responses:
        '200':
          description: Economic forecast generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForecastResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Invalid forecast parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/economy/analytics/dashboard:
    get:
      summary: Get dashboard analytics data
      description: 'Provides aggregated data for economic dashboards, including key metrics,

        charts data, and performance indicators for player interfaces.

        '
      operationId: getDashboardData
      tags:
      - Data Visualization
      security:
      - BearerAuth: []
      parameters:
      - name: dashboard_type
        in: query
        schema:
          type: string
          enum:
          - player
          - admin
          - trader
          - investor
          default: player
        description: Dashboard type
      - name: data_points
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: Number of data points for charts
      responses:
        '200':
          description: Dashboard analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/economy/analytics/performance:
    get:
      summary: Get economic performance metrics
      description: 'Provides comprehensive performance metrics for the economic system,

        including system health, data processing rates, and user engagement metrics.

        '
      operationId: getPerformanceMetrics
      tags:
      - Market Analytics
      security:
      - BearerAuth: []
      parameters:
      - name: metric_type
        in: query
        schema:
          type: string
          enum:
          - system
          - user
          - market
          - prediction_accuracy
          default: system
        description: Type of performance metrics
      - name: time_range
        in: query
        schema:
          type: string
          enum:
          - 1h
          - 24h
          - 7d
          - 30d
          default: 24h
        description: Time range for metrics
      responses:
        '200':
          description: Performance metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceMetrics'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    HealthResponse:
      type: object
      required:
      - status
      - timestamp
      - version
      - service
      properties:
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
          description: Current health status of the service
        timestamp:
          type: string
          format: date-time
          description: Time of the health check
        version:
          type: string
          description: Service version
        service:
          type: string
          description: Name of the service
        details:
          type: object
          additionalProperties:
            type: string
          description: Additional health details
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    Error:
      type: object
      required:
      - message
      - code
      properties:
        message:
          type: string
          maxLength: 1000
        domain:
          type: string
          maxLength: 255
          default: economy-analytics
        timestamp:
          type: string
          format: date-time
        code:
          type: integer
          minimum: 100
          maximum: 599
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    MarketTrend:
      type: object
      required:
      - asset_id
      - asset_name
      - trend_direction
      - confidence_score
      properties:
        asset_id:
          type: string
          format: uuid
          description: Unique asset identifier
        asset_name:
          type: string
          maxLength: 255
          description: Human-readable asset name
        trend_direction:
          type: string
          enum:
          - bullish
          - bearish
          - neutral
          - volatile
          description: Market trend direction
        last_updated:
          type: string
          format: date-time
        confidence_score:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: AI confidence in the trend prediction (0-1)
        price_change_percent:
          type: number
          format: float
          description: Price change percentage
        volume_change_percent:
          type: number
          format: float
          description: Volume change percentage
        volatility_index:
          type: number
          format: float
          minimum: 0
          description: Market volatility index
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    MarketSummary:
      type: object
      properties:
        market_sentiment:
          type: string
          enum:
          - very_bullish
          - bullish
          - neutral
          - bearish
          - very_bearish
          description: Overall market sentiment
        timestamp:
          type: string
          format: date-time
        average_confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Average confidence score across all trends
        total_assets_analyzed:
          type: integer
          minimum: 0
          description: Total number of assets analyzed
        bullish_trends:
          type: integer
          minimum: 0
          description: Number of bullish trends
        bearish_trends:
          type: integer
          minimum: 0
          description: Number of bearish trends
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    TradeVolumeReport:
      type: object
      required:
      - period
      - market_type
      - total_volume
      - trade_count
      properties:
        period:
          type: string
          description: Analysis period
        market_type:
          type: string
          description: Market type analyzed
        generated_at:
          type: string
          format: date-time
        volume_breakdown:
          type: object
          additionalProperties:
            type: number
            format: float
          description: Volume breakdown by time periods
        top_traded_assets:
          type: array
          items:
            type: object
            properties:
              asset_id:
                type: string
                format: uuid
              asset_name:
                type: string
              volume:
                type: number
                format: float
              trade_count:
                type: integer
            required:
            - asset_id
            - asset_name
            - volume
            - trade_count
          maxItems: 10
        total_volume:
          type: number
          format: float
          minimum: 0
          description: Total trade volume
        average_trade_size:
          type: number
          format: float
          minimum: 0
          description: Average trade size
        trade_count:
          type: integer
          minimum: 0
          description: Total number of trades
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    ForecastRequest:
      type: object
      required:
      - forecast_type
      - timeframe
      properties:
        forecast_type:
          type: string
          enum:
          - price_prediction
          - volume_forecast
          - market_sentiment
          - economic_indicator
          description: Type of forecast to generate
        timeframe:
          type: string
          enum:
          - short_term
          - medium_term
          - long_term
          description: Forecast timeframe
        parameters:
          type: object
          additionalProperties: true
          description: Additional forecast parameters
        asset_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Specific assets to forecast (optional)
        confidence_level:
          type: number
          format: float
          minimum: 0
          maximum: 1
          default: 0.8
          description: Desired confidence level for predictions
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    ForecastResponse:
      type: object
      required:
      - forecast_id
      - forecast_type
      - predictions
      - confidence_level
      properties:
        forecast_id:
          type: string
          format: uuid
          description: Unique forecast identifier
        forecast_type:
          type: string
          description: Type of forecast generated
        timeframe:
          type: string
          description: Forecast timeframe
        generated_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
          description: When the forecast expires and should be regenerated
        predictions:
          type: array
          items:
            type: object
            properties:
              asset_id:
                type: string
                format: uuid
              asset_name:
                type: string
              predicted_value:
                type: number
                format: float
              confidence_interval:
                type: object
                properties:
                  lower_bound:
                    type: number
                    format: float
                  upper_bound:
                    type: number
                    format: float
                required:
                - lower_bound
                - upper_bound
              probability_distribution:
                type: object
                additionalProperties:
                  type: number
                  format: float
                description: Probability distribution of outcomes
            required:
            - asset_id
            - asset_name
            - predicted_value
        confidence_level:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Overall confidence level of the forecast
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    DashboardData:
      type: object
      required:
      - dashboard_type
      - metrics
      - charts
      properties:
        dashboard_type:
          type: string
          description: Type of dashboard
        last_updated:
          type: string
          format: date-time
          description: When this dashboard data was last updated
        metrics:
          type: object
          properties:
            total_market_value:
              type: number
              format: float
              description: Total market value
            active_traders:
              type: integer
              description: Number of active traders
            daily_volume:
              type: number
              format: float
              description: Daily trading volume
            market_sentiment_index:
              type: number
              format: float
              minimum: -1
              maximum: 1
              description: Market sentiment index (-1 to 1)
            volatility_index:
              type: number
              format: float
              description: Current market volatility
            prediction_accuracy:
              type: number
              format: float
              minimum: 0
              maximum: 1
              description: AI prediction accuracy
          description: Key performance metrics
        charts:
          type: object
          properties:
            price_history:
              type: array
              items:
                type: object
                properties:
                  timestamp:
                    type: string
                    format: date-time
                  asset_id:
                    type: string
                    format: uuid
                  price:
                    type: number
                    format: float
                required:
                - timestamp
                - asset_id
                - price
              description: Historical price data for charts
            volume_distribution:
              type: object
              additionalProperties:
                type: number
                format: float
              description: Volume distribution by asset type
            trend_indicators:
              type: array
              items:
                type: object
                properties:
                  indicator_name:
                    type: string
                  value:
                    type: number
                    format: float
                  change_percent:
                    type: number
                    format: float
                required:
                - indicator_name
                - value
              description: Key trend indicators
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    PerformanceMetrics:
      type: object
      required:
      - metric_type
      - time_range
      - metrics
      properties:
        metric_type:
          type: string
          description: Type of metrics collected
        time_range:
          type: string
          description: Time range for metrics
        timestamp:
          type: string
          format: date-time
          description: When metrics were collected
        metrics:
          type: object
          properties:
            response_time_avg:
              type: number
              format: float
              description: Average response time in milliseconds
            response_time_p95:
              type: number
              format: float
              description: 95th percentile response time
            response_time_p99:
              type: number
              format: float
              description: 99th percentile response time
            throughput_per_second:
              type: number
              format: float
              description: Requests processed per second
            error_rate:
              type: number
              format: float
              minimum: 0
              maximum: 1
              description: Error rate (0-1)
            data_processing_rate:
              type: number
              format: float
              description: Data records processed per second
            cache_hit_rate:
              type: number
              format: float
              minimum: 0
              maximum: 1
              description: Cache hit rate (0-1)
            prediction_accuracy_avg:
              type: number
              format: float
              minimum: 0
              maximum: 1
              description: Average prediction accuracy (for forecasting metrics)
          description: Performance metrics data
        alerts:
          type: array
          items:
            type: object
            properties:
              alert_type:
                type: string
                enum:
                - performance_degradation
                - high_error_rate
                - prediction_accuracy_drop
              severity:
                type: string
                enum:
                - low
                - medium
                - high
                - critical
              message:
                type: string
              threshold_value:
                type: number
                format: float
              current_value:
                type: number
                format: float
              timestamp:
                type: string
                format: date-time
            required:
            - alert_type
            - severity
            - message
          description: Active performance alerts
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
            description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    Limit:
      name: limit
      in: query
      description: Maximum number of items to return
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 100
