openapi: 3.0.3
info:
  title: Stock Integration Economy Service API
  description: |
    API для интеграции биржи с экономическими системами.

    Функционал:
    - Влияние биржи на экономику
    - Влияние экономических событий на акции
    - Синхронизация курсов валют
  version: 1.0.0
  contact:
    name: Economy Team
    email: economy@necp.game
servers:
  - url: https://api.necp.game/v1
    description: Production
  - url: https://api-stage.necp.game/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development
tags:
  - name: economy-integration
    description: Интеграция с экономическими системами
paths:
  /economy/stock-impact:
    get:
      tags:
        - economy-integration
      summary: Получить влияние биржи на экономику
      description: |
        Возвращает информацию о влиянии биржевых операций на экономику.
        Включает влияние на цены ресурсов, курсы валют, экономические индикаторы.
      operationId: getStockEconomyImpact
      security:
        - BearerAuth: []
      parameters:
        - name: period
          in: query
          required: false
          description: Период анализа
          schema:
            type: string
            enum:
              - day
              - week
              - month
            default: week
      responses:
        '200':
          description: Влияние биржи на экономику успешно получено
          content:
            application/json:
              schema:
                type: object
                properties:
                  period:
                    type: string
                  trading_volume:
                    type: number
                    format: double
                    description: Объем торгов
                  market_cap_change:
                    type: number
                    format: double
                    description: Изменение рыночной капитализации (%)
                  resource_price_impacts:
                    type: array
                    items:
                      type: object
                      properties:
                        resource_id:
                          type: string
                          format: uuid
                        resource_name:
                          type: string
                        price_change_percent:
                          type: number
                          format: double
                  currency_rate_impacts:
                    type: array
                    items:
                      type: object
                      properties:
                        currency_pair:
                          type: string
                        rate_change_percent:
                          type: number
                          format: double
                  economic_indicators:
                    type: object
                    properties:
                      gdp_impact:
                        type: number
                        format: double
                      inflation_impact:
                        type: number
                        format: double
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT токен для аутентификации
  schemas:
    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: Тип ошибки
        message:
          type: string
          description: Сообщение об ошибке
        code:
          type: string
          description: Код ошибки
          nullable: true
        details:
          type: object
          additionalProperties: true
          description: Дополнительные детали ошибки
          nullable: true
  responses:
    BadRequest:
      description: Неверный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: BadRequest
            message: Неверные параметры запроса
            code: INVALID_PARAMETERS
    Unauthorized:
      description: Требуется аутентификация
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Unauthorized
            message: Требуется аутентификация
            code: AUTH_REQUIRED
    InternalServerError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: InternalServerError
            message: Внутренняя ошибка сервера
            code: INTERNAL_ERROR
