openapi: 3.0.3
info:
  title: AI Adaptive Service API
  description: |
    API для системы адаптивного AI врагов в MMORPG.

    ## Описание системы

    Система адаптивного AI анализирует действия игроков в реальном времени и адаптирует поведение врагов:
    - **Анализ тактик**: сбор данных о паттернах игроков, предпочтительных позициях, комбо-последовательностях
    - **Адаптация атак**: фокус на слабых игроках, прерывание комбо, изменение приоритетов целей
    - **Адаптация защиты**: уклонение от частых атак, блокирование способностей, позиционирование
    - **Контр-стратегии**: разделение команды, фокус на саппортах, использование окружения

    ## Архитектура

    **Микросервис**: `ai-service-go`

    **База данных**: PostgreSQL с таблицами:
    - `ai_profiles` - профили AI врагов
    - `player_tactics_analysis` - анализ тактик игроков
    - `encounter_sessions` - сессии встреч
    - `ai_adaptation_history` - история адаптаций

    **Интеграции**:
    - `gameplay-service` - данные о действиях игроков
    - `analytics-service` - анализ паттернов и машинное обучение
    - `combat-service` - управление боями

    **AI компоненты**:
    - Tactical Analyzer - анализ тактик в реальном времени
    - Pattern Recognizer - распознавание паттернов
    - Strategy Adapter - адаптация стратегий
    - Machine Learning Engine - обучение моделей
  version: 1.0.0
  contact:
    name: AI Team
    email: ai@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.necpgame.com/v1
    description: Production server
  - url: https://staging-api.necpgame.com/v1
    description: Staging server
  - url: http://localhost:8080/v1
    description: Local development server

security:
  - BearerAuth: []
  - ApiKeyAuth: []

paths:
  /api/v1/gameplay/combat/ai/profiles:
    get:
      summary: Получить список профилей AI
      description: |
        Возвращает список всех доступных профилей AI врагов с их характеристиками,
        тактиками и адаптационными возможностями.
      operationId: getAIProfiles
      tags:
        - AI Profiles
      parameters:
        - name: difficulty
          in: query
          schema:
            type: string
            enum: [street, tactical, mythic, raid]
          description: Фильтр по уровню сложности
        - name: faction
          in: query
          schema:
            type: string
            enum: [neutral, arasaka, militech, kang_tao, netwatch, voodoo_boys]
          description: Фильтр по фракции
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Максимальное количество профилей
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Смещение для пагинации
      responses:
        '200':
          description: Список профилей AI
          content:
            application/json:
              schema:
                type: object
                properties:
                  profiles:
                    type: array
                    items:
                      $ref: '#/components/schemas/AIProfile'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/gameplay/combat/ai/profiles/{profileId}:
    get:
      summary: Получить информацию о профиле AI
      description: |
        Возвращает детальную информацию о конкретном профиле AI,
        включая текущие адаптации и статистику использования.
      operationId: getAIProfile
      tags:
        - AI Profiles
      parameters:
        - name: profileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID профиля AI
      responses:
        '200':
          description: Информация о профиле AI
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIProfileDetailed'
        '404':
          description: Профиль не найден
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/gameplay/combat/ai/profiles/{profileId}/telemetry:
    get:
      summary: Получить телеметрию профиля AI
      description: |
        Возвращает телеметрию использования профиля AI: эффективность адаптаций,
        паттерны поведения игроков, статистику побед/поражений.
      operationId: getAIProfileTelemetry
      tags:
        - AI Profiles
      parameters:
        - name: profileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID профиля AI
        - name: timeframe
          in: query
          schema:
            type: string
            enum: [hour, day, week, month]
            default: day
          description: Временной интервал для телеметрии
      responses:
        '200':
          description: Телеметрия профиля AI
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AITelemetry'
        '404':
          description: Профиль не найден
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/gameplay/combat/raids/{raidId}/phase:
    post:
      summary: Переход фазы рейда
      description: |
        Инициирует переход рейда на следующую фазу с адаптацией AI босса
        на основе анализа действий игроков в предыдущей фазе.
      operationId: transitionRaidPhase
      tags:
        - Raid Management
      parameters:
        - name: raidId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID рейда
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - new_phase
              properties:
                new_phase:
                  type: integer
                  minimum: 1
                  description: Номер новой фазы
                player_performance_analysis:
                  $ref: '#/components/schemas/PlayerPerformanceAnalysis'
                adaptation_recommendations:
                  type: array
                  items:
                    type: string
                  description: Рекомендации по адаптации AI
      responses:
        '200':
          description: Фаза рейда успешно изменена
          content:
            application/json:
              schema:
                type: object
                properties:
                  raid_id:
                    type: string
                    format: uuid
                  previous_phase:
                    type: integer
                  current_phase:
                    type: integer
                  ai_adaptations_applied:
                    type: array
                    items:
                      $ref: '#/components/schemas/AIAdaptation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Рейд не найден
        '409':
          description: Переход фазы невозможен в текущем состоянии
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/gameplay/combat/ai/encounter:
    post:
      summary: Создать новую встречу с AI
      description: |
        Создает новую встречу с врагами, использующими адаптивный AI.
        AI анализирует доступные данные о игроках для оптимизации тактики.
      operationId: createAIEncounter
      tags:
        - Encounter Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - encounter_type
                - difficulty
                - player_ids
              properties:
                encounter_type:
                  type: string
                  enum: [street, tactical, mythic, raid]
                  description: Тип встречи
                difficulty:
                  type: string
                  enum: [normal, hard, mythic]
                player_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 1
                  maxItems: 10
                  description: ID игроков в группе
                location_id:
                  type: string
                  format: uuid
                  description: ID локации
                time_limit:
                  type: integer
                  format: int64
                  description: Ограничение времени в секундах
      responses:
        '201':
          description: Встреча успешно создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  encounter:
                    $ref: '#/components/schemas/Encounter'
                  ai_profiles_assigned:
                    type: array
                    items:
                      $ref: '#/components/schemas/AIProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/gameplay/combat/ai/encounter/{encounterId}:
    get:
      summary: Получить информацию о встрече
      description: |
        Возвращает детальную информацию о встрече с AI,
        включая текущие адаптации и статистику.
      operationId: getEncounter
      tags:
        - Encounter Management
      parameters:
        - name: encounterId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID встречи
      responses:
        '200':
          description: Информация о встрече
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncounterDetailed'
        '404':
          description: Встреча не найдена
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/gameplay/combat/ai/encounter/{encounterId}/start:
    post:
      summary: Начать встречу
      description: |
        Запускает встречу с адаптивным AI. В этот момент AI начинает
        анализ действий игроков и адаптацию поведения.
      operationId: startEncounter
      tags:
        - Encounter Management
      parameters:
        - name: encounterId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID встречи
      responses:
        '200':
          description: Встреча успешно запущена
          content:
            application/json:
              schema:
                type: object
                properties:
                  encounter_id:
                    type: string
                    format: uuid
                  started_at:
                    type: string
                    format: date-time
                  initial_ai_state:
                    $ref: '#/components/schemas/AIEncounterState'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Встреча не найдена
        '409':
          description: Встреча уже запущена
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/gameplay/combat/ai/encounter/{encounterId}/end:
    post:
      summary: Завершить встречу
      description: |
        Завершает встречу и сохраняет финальную телеметрию AI,
        включая все адаптации и анализ эффективности.
      operationId: endEncounter
      tags:
        - Encounter Management
      parameters:
        - name: encounterId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID встречи
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - result
              properties:
                result:
                  type: string
                  enum: [victory, defeat, timeout, aborted]
                  description: Результат встречи
                final_statistics:
                  $ref: '#/components/schemas/EncounterStatistics'
      responses:
        '200':
          description: Встреча успешно завершена
          content:
            application/json:
              schema:
                type: object
                properties:
                  encounter_id:
                    type: string
                    format: uuid
                  ended_at:
                    type: string
                    format: date-time
                  final_telemetry:
                    $ref: '#/components/schemas/AITelemetry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Встреча не найдена
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/gameplay/combat/ai/analysis/player-tactics:
    post:
      summary: Анализировать тактики игроков
      description: |
        Анализирует действия игроков в реальном времени для определения паттернов
        и подготовки адаптаций AI.
      operationId: analyzePlayerTactics
      tags:
        - Tactical Analysis
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - encounter_id
                - player_actions
              properties:
                encounter_id:
                  type: string
                  format: uuid
                player_actions:
                  type: array
                  items:
                    $ref: '#/components/schemas/PlayerAction'
                  minItems: 1
                  maxItems: 1000
                time_window:
                  type: integer
                  format: int64
                  description: Анализируемый временной интервал в секундах
                  default: 300
      responses:
        '200':
          description: Анализ тактик выполнен
          content:
            application/json:
              schema:
                type: object
                properties:
                  analysis_id:
                    type: string
                    format: uuid
                  detected_patterns:
                    type: array
                    items:
                      $ref: '#/components/schemas/TacticPattern'
                  recommended_adaptations:
                    type: array
                    items:
                      $ref: '#/components/schemas/AIAdaptation'
                  confidence_score:
                    type: number
                    format: float
                    minimum: 0.0
                    maximum: 1.0
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  schemas:
    AIProfile:
      type: object
      required:
        - profile_id
        - name
        - difficulty
        - base_tactics
      properties:
        profile_id:
          type: string
          format: uuid
          description: Уникальный ID профиля
        name:
          type: string
          description: Название профиля
          example: "Arasaka Elite Tactical Unit"
        difficulty:
          type: string
          enum: [street, tactical, mythic, raid]
        faction:
          type: string
          enum: [neutral, arasaka, militech, kang_tao, netwatch, voodoo_boys]
        base_tactics:
          type: array
          items:
            type: string
          description: Базовые тактики AI
        adaptation_capabilities:
          type: array
          items:
            type: string
          description: Возможности адаптации
        statistics:
          $ref: '#/components/schemas/AIProfileStatistics'

    AIProfileDetailed:
      allOf:
        - $ref: '#/components/schemas/AIProfile'
        - type: object
          properties:
            current_adaptations:
              type: array
              items:
                $ref: '#/components/schemas/AIAdaptation'
            telemetry_summary:
              $ref: '#/components/schemas/AITelemetrySummary'
            machine_learning_models:
              type: array
              items:
                type: string
              description: Используемые модели ML

    AITelemetry:
      type: object
      properties:
        profile_id:
          type: string
          format: uuid
        timeframe:
          type: string
          enum: [hour, day, week, month]
        encounters_total:
          type: integer
        victories:
          type: integer
        defeats:
          type: integer
        average_encounter_duration:
          type: integer
          format: int64
        most_common_adaptations:
          type: array
          items:
            type: object
            properties:
              adaptation_type:
                type: string
              usage_count:
                type: integer
        player_tactic_patterns:
          type: array
          items:
            $ref: '#/components/schemas/TacticPattern'
        performance_metrics:
          type: object
          additionalProperties:
            type: number
            format: float

    AITelemetrySummary:
      type: object
      properties:
        win_rate:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
        average_adaptation_effectiveness:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
        most_successful_tactics:
          type: array
          items:
            type: string
        learning_progress:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0

    AIProfileStatistics:
      type: object
      properties:
        total_encounters:
          type: integer
        win_rate:
          type: number
          format: float
        average_difficulty_faced:
          type: number
          format: float
        common_counter_strategies:
          type: array
          items:
            type: string

    Encounter:
      type: object
      required:
        - encounter_id
        - encounter_type
        - difficulty
        - status
        - created_at
      properties:
        encounter_id:
          type: string
          format: uuid
        encounter_type:
          type: string
          enum: [street, tactical, mythic, raid]
        difficulty:
          type: string
          enum: [normal, hard, mythic]
        status:
          type: string
          enum: [created, active, completed, failed]
        player_ids:
          type: array
          items:
            type: string
            format: uuid
        ai_profiles:
          type: array
          items:
            type: string
            format: uuid
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
          nullable: true
        ended_at:
          type: string
          format: date-time
          nullable: true

    EncounterDetailed:
      allOf:
        - $ref: '#/components/schemas/Encounter'
        - type: object
          properties:
            current_ai_state:
              $ref: '#/components/schemas/AIEncounterState'
            player_performance:
              type: array
              items:
                $ref: '#/components/schemas/PlayerPerformance'
            adaptations_applied:
              type: array
              items:
                $ref: '#/components/schemas/AIAdaptation'
            real_time_telemetry:
              $ref: '#/components/schemas/AITelemetry'

    AIEncounterState:
      type: object
      properties:
        encounter_phase:
          type: string
          enum: [initialization, analysis, adaptation, execution, conclusion]
        active_adaptations:
          type: array
          items:
            $ref: '#/components/schemas/AIAdaptation'
        threat_assessment:
          type: object
          additionalProperties:
            type: number
            format: float
          description: Оценка угрозы по игрокам
        strategy_confidence:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0

    PlayerPerformanceAnalysis:
      type: object
      properties:
        player_id:
          type: string
          format: uuid
        damage_dealt:
          type: integer
        damage_received:
          type: integer
        abilities_used:
          type: object
          additionalProperties:
            type: integer
        positioning_effectiveness:
          type: number
          format: float
        team_coordination_score:
          type: number
          format: float

    PlayerPerformance:
      type: object
      required:
        - player_id
        - damage_dealt
        - damage_received
        - survival_time
      properties:
        player_id:
          type: string
          format: uuid
        damage_dealt:
          type: integer
        damage_received:
          type: integer
        survival_time:
          type: integer
          format: int64
        abilities_used:
          type: array
          items:
            type: string
        positioning_score:
          type: number
          format: float

    AIAdaptation:
      type: object
      required:
        - adaptation_type
        - target_player
        - effectiveness_score
        - applied_at
      properties:
        adaptation_type:
          type: string
          enum: [attack_focus, defense_adjustment, counter_strategy, positioning_change]
        target_player:
          type: string
          format: uuid
          nullable: true
        parameters:
          type: object
          description: Параметры адаптации
        effectiveness_score:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
        applied_at:
          type: string
          format: date-time

    PlayerAction:
      type: object
      required:
        - player_id
        - action_type
        - timestamp
      properties:
        player_id:
          type: string
          format: uuid
        action_type:
          type: string
          enum: [ability_used, position_changed, damage_dealt, damage_received, item_used]
        timestamp:
          type: string
          format: date-time
        coordinates:
          type: object
          properties:
            x:
              type: number
              format: float
            y:
              type: number
              format: float
            z:
              type: number
              format: float
        target_id:
          type: string
          format: uuid
          nullable: true
        parameters:
          type: object

    TacticPattern:
      type: object
      required:
        - pattern_type
        - confidence
        - frequency
      properties:
        pattern_type:
          type: string
          example: "burst_damage_combo"
        confidence:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
        frequency:
          type: integer
        affected_players:
          type: array
          items:
            type: string
            format: uuid
        recommended_counter:
          type: string

    EncounterStatistics:
      type: object
      properties:
        duration:
          type: integer
          format: int64
        total_damage_dealt:
          type: integer
        total_damage_received:
          type: integer
        player_survival_rates:
          type: object
          additionalProperties:
            type: number
            format: float
        ai_effectiveness_scores:
          type: object
          additionalProperties:
            type: number
            format: float

    Pagination:
      type: object
      properties:
        offset:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        has_more:
          type: boolean

  responses:
    BadRequest:
      description: Некорректный запрос
      content:
        application/json:
          schema:
            type: object
            required:
              - error
            properties:
              error:
                type: string
                example: "VALIDATION_ERROR"
              message:
                type: string
                example: "Invalid request parameters"
              details:
                type: object

    Unauthorized:
      description: Не авторизован
      content:
        application/json:
          schema:
            type: object
            required:
              - error
            properties:
              error:
                type: string
                example: "UNAUTHORIZED"
              message:
                type: string
                example: "Authentication required"

    InternalServerError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            type: object
            required:
              - error
            properties:
              error:
                type: string
                example: "INTERNAL_ERROR"
              message:
                type: string
                example: "Internal server error occurred"

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT токен авторизации
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API ключ для внутренних сервисов
