# Issue: #130

openapi: 3.0.3
info:
  title: Combat Session Service API
  description: |
    API для управления боевыми сессиями в MMOFPS RPG.
    
    Функциональность:
    - Создание и управление боевыми сессиями
    - Обработка боевых действий
    - Статистика и логи
  version: 1.0.0
  contact:
    name: NECPGAME Backend Team
    email: backend@necp.game

servers:
  - url: https://api.necp.game/api/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Local

security:
  - BearerAuth: []

tags:
  - name: Combat Sessions
  - name: Combat Actions
  - name: Combat Analytics

paths:
  /gameplay/combat/sessions:
    post:
      summary: Создать боевую сессию
      operationId: createCombatSession
      tags:
        - Combat Sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
      responses:
        '201':
          description: Сессия создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombatSessionResponse'
        '400':
          $ref: 'common.yaml#/components/responses/BadRequest'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'

    get:
      summary: Список сессий
      operationId: listCombatSessions
      tags:
        - Combat Sessions
      parameters:
        - $ref: 'common.yaml#/components/parameters/Limit'
        - $ref: 'common.yaml#/components/parameters/Offset'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/SessionStatus'
        - name: session_type
          in: query
          schema:
            $ref: '#/components/schemas/SessionType'
      responses:
        '200':
          description: Список сессий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionListResponse'

  /gameplay/combat/sessions/{sessionId}:
    parameters:
      - $ref: '#/components/parameters/SessionId'
    
    get:
      summary: Получить сессию
      operationId: getCombatSession
      tags:
        - Combat Sessions
      responses:
        '200':
          description: Состояние сессии
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombatSessionResponse'
        '404':
          $ref: 'common.yaml#/components/responses/NotFound'

    delete:
      summary: Завершить сессию
      operationId: endCombatSession
      tags:
        - Combat Sessions
      responses:
        '200':
          description: Сессия завершена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionEndResponse'
        '403':
          $ref: 'common.yaml#/components/responses/Forbidden'

  /gameplay/combat/sessions/{sessionId}/actions:
    parameters:
      - $ref: '#/components/parameters/SessionId'
    
    post:
      summary: Выполнить действие
      description: Выполнение боевого действия (с античит-валидацией)
      operationId: executeCombatAction
      tags:
        - Combat Actions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionRequest'
      responses:
        '200':
          description: Действие выполнено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionResponse'
        '400':
          $ref: 'common.yaml#/components/responses/BadRequest'
        '403':
          description: Античит отклонил
          content:
            application/json:
              schema:
                $ref: 'common.yaml#/components/schemas/Error'

  /gameplay/combat/sessions/{sessionId}/state:
    parameters:
      - $ref: '#/components/parameters/SessionId'
    
    get:
      summary: Получить realtime состояние
      operationId: getCombatState
      tags:
        - Combat Sessions
      responses:
        '200':
          description: Текущее состояние
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombatState'

  /gameplay/combat/sessions/{sessionId}/logs:
    parameters:
      - $ref: '#/components/parameters/SessionId'
    
    get:
      summary: Логи сессии
      operationId: getCombatLogs
      tags:
        - Combat Analytics
      parameters:
        - $ref: 'common.yaml#/components/parameters/Limit'
        - $ref: 'common.yaml#/components/parameters/Offset'
      responses:
        '200':
          description: Логи
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogsResponse'

  /gameplay/combat/sessions/{sessionId}/stats:
    parameters:
      - $ref: '#/components/parameters/SessionId'
    
    get:
      summary: Статистика сессии
      operationId: getCombatStats
      tags:
        - Combat Analytics
      responses:
        '200':
          description: Статистика
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsResponse'

components:
  securitySchemes:
    BearerAuth:
      $ref: 'common.yaml#/components/securitySchemes/BearerAuth'

  parameters:
    SessionId:
      name: sessionId
      in: path
      required: true
      schema:
        type: string
        format: uuid

  schemas:
    SessionType:
      type: string
      enum: [pvp_arena, pve_raid, extract_zone, guild_war]

    SessionStatus:
      type: string
      enum: [pending, active, ended, aborted]

    Difficulty:
      type: string
      enum: [normal, hard, elite]

    ActionType:
      type: string
      enum: [attack, ability, move, reload, extract, heal, revive]

    ParticipantStatus:
      type: string
      enum: [alive, dead, extracted, disconnected]

    CreateSessionRequest:
      type: object
      required: [session_type, participants]
      properties:
        session_type:
          $ref: '#/components/schemas/SessionType'
        participants:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          maxItems: 200
        zone_id:
          type: string
        difficulty:
          $ref: '#/components/schemas/Difficulty'
        settings:
          type: object

    CombatSessionResponse:
      allOf:
        - $ref: 'common.yaml#/components/schemas/BaseEntityWithTimestamps'
        - type: object
          required: [session_type, status, participants]
          properties:
            session_type:
              $ref: '#/components/schemas/SessionType'
            status:
              $ref: '#/components/schemas/SessionStatus'
            zone_id:
              type: string
            difficulty:
              $ref: '#/components/schemas/Difficulty'
            participants:
              type: array
              items:
                $ref: 'combat-session-schemas.yaml#/components/schemas/Participant'
            winner_team:
              type: string
              nullable: true

    SessionListResponse:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SessionSummary'
        pagination:
          $ref: 'common.yaml#/components/schemas/PaginationResponse'

    SessionSummary:
      type: object
      required: [id, session_type, status, created_at]
      properties:
        id:
          type: string
          format: uuid
        session_type:
          $ref: '#/components/schemas/SessionType'
        status:
          $ref: '#/components/schemas/SessionStatus'
        participant_count:
          type: integer
        created_at:
          type: string
          format: date-time

    ActionRequest:
      type: object
      required: [action_type]
      properties:
        action_type:
          $ref: '#/components/schemas/ActionType'
        target_id:
          type: string
          format: uuid
        position:
          $ref: 'common.yaml#/components/schemas/Position3D'
        ability_id:
          type: string
        weapon_id:
          type: string
          format: uuid

    ActionResponse:
      type: object
      required: [success, action_type, timestamp]
      properties:
        success:
          type: boolean
        action_type:
          $ref: '#/components/schemas/ActionType'
        damage_dealt:
          type: integer
        effects_applied:
          type: array
          items:
            $ref: 'combat-session-schemas.yaml#/components/schemas/StatusEffect'
        validation:
          $ref: 'combat-session-schemas.yaml#/components/schemas/ActionValidation'
        timestamp:
          type: string
          format: date-time

    CombatState:
      type: object
      required: [session_id, participants_state, current_turn]
      properties:
        session_id:
          type: string
          format: uuid
        participants_state:
          type: array
          items:
            $ref: 'combat-session-schemas.yaml#/components/schemas/ParticipantState'
        current_turn:
          type: string
          format: uuid
        turn_number:
          type: integer

    LogsResponse:
      type: object
      required: [logs, pagination]
      properties:
        logs:
          type: array
          items:
            $ref: 'combat-session-schemas.yaml#/components/schemas/CombatLog'
        pagination:
          $ref: 'common.yaml#/components/schemas/PaginationResponse'

    StatsResponse:
      type: object
      required: [session_id, participants_stats]
      properties:
        session_id:
          type: string
          format: uuid
        participants_stats:
          type: array
          items:
            $ref: 'combat-session-schemas.yaml#/components/schemas/ParticipantStats'
        total_damage:
          type: integer
          format: int64

    SessionEndResponse:
      type: object
      required: [session_id, status]
      properties:
        session_id:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/SessionStatus'
        winner_team:
          type: string
          nullable: true
        rewards:
          type: array
          items:
            $ref: 'combat-session-schemas.yaml#/components/schemas/Reward'






