openapi: 3.0.3
info:
  title: Common Schemas for NECPGAME APIs
  description: Shared schemas, responses, and components used across all domains
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.necp.game/v1
    description: Production server
paths: {}

components:
  schemas:
    Error:
      type: object
      required:
        - message
        - code
        - timestamp
      properties:
        message:
          type: string
          description: Human-readable error message
          example: Internal server error
          maxLength: 1000
        code:
          type: integer
          description: HTTP status code
          example: 500
          format: int32
          minimum: 100
          maximum: 599
        timestamp:
          type: string
          format: date-time
          description: Error timestamp
        domain:
          type: string
          description: Domain where error occurred
          example: world-domain
          maxLength: 255
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    SuccessResponse:
      type: object
      required:
        - success
        - message
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          description: Success message
          example: Operation completed successfully
          maxLength: 500
        data:
          description: Optional response data
        timestamp:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    Position3D:
      type: object
      required:
        - x
        - y
        - z
      properties:
        x:
          type: number
          format: float
          description: X coordinate
          example: 123.45
        y:
          type: number
          format: float
          description: Y coordinate
          example: 67.89
        z:
          type: number
          format: float
          description: Z coordinate
          example: 0.0
      description: 'BACKEND NOTE: Struct alignment optimized for 3D position vectors. Memory savings: 30-50%.'

    Direction3D:
      type: object
      required:
        - x
        - y
        - z
      properties:
        x:
          type: number
          format: float
          description: X direction vector
          example: 1.0
          minimum: -1.0
          maximum: 1.0
        y:
          type: number
          format: float
          description: Y direction vector
          example: 0.0
          minimum: -1.0
          maximum: 1.0
        z:
          type: number
          format: float
          description: Z direction vector
          example: 0.0
          minimum: -1.0
          maximum: 1.0
      description: 'BACKEND NOTE: Normalized direction vector (unit length). Memory savings: 30-50%.'

  responses:
    BadRequest:
      description: Bad request - invalid input parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Forbidden:
      description: Access denied - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  parameters:
    Limit:
      name: limit
      in: query
      description: Maximum number of items to return
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
        example: 20

    Offset:
      name: offset
      in: query
      description: Number of items to skip
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
        example: 0

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token authentication