openapi: 3.0.3
info:
  title: Economy Production Chains Service API
  description: |
    API для управления производственными цепочками и заказами.
    
    **Функциональность:**
    - Многоэтапное производство предметов
    - Создание и управление заказами
    - Массовое производство
    - Ускорители и rush-заказы
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    email: api@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production server
  - url: http://localhost:8100/v1
    description: Development server

tags:
  - name: Production Chains
    description: Производственные цепочки
  - name: Production Orders
    description: Заказы на производство

paths:
  /production/chains:
    get:
      summary: Получить список производственных цепочек
      description: Возвращает доступные производственные цепочки
      operationId: getProductionChains
      tags:
        - Production Chains
      parameters:
        - name: category
          in: query
          description: Категория предметов
          schema:
            type: string
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Список производственных цепочек
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductionChainListResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /production/chains/{chain_id}:
    get:
      summary: Получить детали производственной цепочки
      description: Возвращает детальную информацию о производственной цепочке
      operationId: getProductionChain
      tags:
        - Production Chains
      parameters:
        - name: chain_id
          in: path
          required: true
          description: ID производственной цепочки
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Детали цепочки
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductionChain"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /production/orders:
    post:
      summary: Создать заказ на производство
      description: Создает новый заказ на производство предмета
      operationId: createProductionOrder
      tags:
        - Production Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProductionOrderRequest"
      responses:
        "201":
          description: Заказ создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductionOrder"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

    get:
      summary: Получить список заказов
      description: Возвращает заказы на производство игрока
      operationId: getProductionOrders
      tags:
        - Production Orders
      parameters:
        - name: player_id
          in: query
          required: true
          description: ID игрока
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          description: Фильтр по статусу
          schema:
            $ref: "#/components/schemas/ProductionStatus"
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Список заказов
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductionOrderListResponse"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /production/orders/{order_id}:
    get:
      summary: Получить детали заказа
      description: Возвращает информацию о заказе на производство
      operationId: getProductionOrder
      tags:
        - Production Orders
      parameters:
        - name: order_id
          in: path
          required: true
          description: ID заказа
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Детали заказа
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductionOrder"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

    delete:
      summary: Отменить заказ
      description: Отменяет заказ на производство
      operationId: cancelProductionOrder
      tags:
        - Production Orders
      parameters:
        - name: order_id
          in: path
          required: true
          description: ID заказа
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Заказ отменен
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "409":
          description: Заказ нельзя отменить
          content:
            application/json:
              schema:
                $ref: "common.yaml#/components/schemas/Error"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /production/orders/{order_id}/rush:
    post:
      summary: Rush-заказ
      description: Ускоряет производство за дополнительную плату
      operationId: rushProductionOrder
      tags:
        - Production Orders
      parameters:
        - name: order_id
          in: path
          required: true
          description: ID заказа
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Rush применен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductionOrder"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

components:
  schemas:
    ProductionStatus:
      type: string
      enum:
        - queued
        - in_progress
        - completed
        - cancelled
        - failed
      description: Статус производства

    ProductionStage:
      type: object
      required:
        - stage_number
        - name
        - duration_minutes
      properties:
        stage_number:
          type: integer
        name:
          type: string
        duration_minutes:
          type: integer
        required_resources:
          type: array
          items:
            type: object
            properties:
              resource_id:
                type: string
                format: uuid
              quantity:
                type: integer

    ProductionChain:
      type: object
      required:
        - chain_id
        - item_id
        - stages
      properties:
        chain_id:
          type: string
          format: uuid
        item_id:
          type: string
          format: uuid
        item_name:
          type: string
        stages:
          type: array
          items:
            $ref: "#/components/schemas/ProductionStage"
        total_duration_minutes:
          type: integer
        requires_license:
          type: boolean
        required_station_level:
          type: integer

    CreateProductionOrderRequest:
      type: object
      required:
        - chain_id
        - player_id
        - station_id
      properties:
        chain_id:
          type: string
          format: uuid
        player_id:
          type: string
          format: uuid
        station_id:
          type: string
          format: uuid
        quantity:
          type: integer
          default: 1
          description: Количество для массового производства

    ProductionOrder:
      type: object
      required:
        - order_id
        - chain_id
        - player_id
        - status
        - created_at
      properties:
        order_id:
          type: string
          format: uuid
        chain_id:
          type: string
          format: uuid
        player_id:
          type: string
          format: uuid
        station_id:
          type: string
          format: uuid
        status:
          $ref: "#/components/schemas/ProductionStatus"
        current_stage:
          type: integer
          description: Текущий этап
        total_stages:
          type: integer
        progress_percent:
          type: integer
          minimum: 0
          maximum: 100
        estimated_completion:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time

    ProductionChainListResponse:
      type: object
      required:
        - chains
        - pagination
      properties:
        chains:
          type: array
          items:
            $ref: "#/components/schemas/ProductionChain"
        pagination:
          $ref: "common.yaml#/components/schemas/PaginationResponse"

    ProductionOrderListResponse:
      type: object
      required:
        - orders
        - pagination
      properties:
        orders:
          type: array
          items:
            $ref: "#/components/schemas/ProductionOrder"
        pagination:
          $ref: "common.yaml#/components/schemas/PaginationResponse"

  securitySchemes:
    BearerAuth:
      $ref: "common.yaml#/components/securitySchemes/BearerAuth"

