openapi: 3.0.3
info:
  title: Gameplay Combos Service API
  description: |
    API для управления системой комбо и синергий в NECPGAME.
    Обеспечивает каталог комбо, активацию, синергии, scoring и аналитику.
  version: 1.0.0
  contact:
    name: API Support
    email: api@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production server
  - url: https://staging-api.necp.game/v1
    description: Staging server
  - url: http://localhost:8083/v1
    description: Local development

security:
  - BearerAuth: []
  - ApiKeyAuth: []

paths:
  # Каталог комбо
  /gameplay/combat/combos/catalog:
    get:
      summary: Получить каталог комбо
      description: |
        Возвращает список доступных комбо с фильтрацией по типам и сложности.
        Поддерживает пагинацию для больших каталогов.
      operationId: getComboCatalog
      tags:
        - Combos Catalog
      parameters:
        - name: comboType
          in: query
          schema:
            type: string
            enum: [solo, team, legendary]
          description: Фильтр по типу комбо
        - name: complexity
          in: query
          schema:
            type: string
            enum: [Bronze, Silver, Gold, Platinum, Legendary]
          description: Фильтр по сложности комбо
        - name: characterId
          in: query
          schema:
            type: string
            format: uuid
          description: ID персонажа для фильтрации доступных комбо
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Количество элементов на страницу
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Смещение для пагинации
      responses:
        "200":
          description: Успешный ответ с каталогом комбо
          content:
            application/json:
              schema:
                type: object
                properties:
                  combos:
                    type: array
                    items:
                      $ref: "#/components/schemas/ComboDefinition"
                  pagination:
                    $ref: "#/components/schemas/PaginationInfo"
                  total:
                    type: integer
                    description: Общее количество комбо в каталоге
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # Детали комбо
  /gameplay/combat/combos/{comboId}:
    get:
      summary: Получить информацию о конкретном комбо
      description: Возвращает подробную информацию о комбо по его ID
      operationId: getComboById
      tags:
        - Combos Catalog
      parameters:
        - name: comboId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID комбо
      responses:
        "200":
          description: Успешный ответ с информацией о комбо
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComboDefinition"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # Активация комбо
  /gameplay/combat/combos/activate:
    post:
      summary: Активировать комбо
      description: |
        Проверяет и активирует комбо на основе выполненных действий.
        Проверяет требования, участников и применяет эффекты.
      operationId: activateCombo
      tags:
        - Combo Activation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - comboId
                - characterId
                - actions
              properties:
                comboId:
                  type: string
                  format: uuid
                  description: ID комбо для активации
                characterId:
                  type: string
                  format: uuid
                  description: ID персонажа-инициатора
                participants:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: ID участников команды (для team комбо)
                  maxItems: 5
                actions:
                  type: array
                  items:
                    $ref: "#/components/schemas/ComboAction"
                  description: Последовательность действий для активации
                  minItems: 1
                  maxItems: 20
                context:
                  $ref: "#/components/schemas/ComboContext"
      responses:
        "200":
          description: Комбо успешно активировано
          content:
            application/json:
              schema:
                type: object
                properties:
                  activationId:
                    type: string
                    format: uuid
                    description: ID активации комбо
                  combo:
                    $ref: "#/components/schemas/ComboDefinition"
                  synergies:
                    type: array
                    items:
                      $ref: "#/components/schemas/SynergyEffect"
                    description: Примененные синергии
                  score:
                    $ref: "#/components/schemas/ComboScore"
                  chainEligible:
                    type: boolean
                    description: Доступно ли chain-комбо
                  cooldown:
                    type: integer
                    description: Кулдаун в секундах
                required:
                  - activationId
                  - combo
                  - synergies
                  - score
          headers:
            X-Request-ID:
              schema:
                type: string
                format: uuid
              description: ID запроса для трассировки
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          description: Комбо недоступно для данного персонажа
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Комбо находится на кулдауне
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Последовательность действий не соответствует комбо
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # Применение синергии
  /gameplay/combat/combat/combos/synergy:
    post:
      summary: Применить синергию
      description: |
        Рассчитывает и применяет синергии для активного комбо.
        Проверяет доступность синергий всех типов.
      operationId: applySynergy
      tags:
        - Synergy System
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - comboActivationId
                - synergyType
              properties:
                comboActivationId:
                  type: string
                  format: uuid
                  description: ID активации комбо
                synergyType:
                  type: string
                  enum: [ability, team, equipment, implant, timing]
                  description: Тип синергии для применения
                synergyId:
                  type: string
                  format: uuid
                  description: ID конкретной синергии (опционально)
      responses:
        "200":
          description: Синергия успешно применена
          content:
            application/json:
              schema:
                type: object
                properties:
                  synergyEffects:
                    type: array
                    items:
                      $ref: "#/components/schemas/SynergyEffect"
                    description: Примененные эффекты синергии
                  bonuses:
                    type: object
                    description: Примененные бонусы
                    additionalProperties:
                      type: number
                  duration:
                    type: integer
                    description: Длительность эффектов в секундах
                required:
                  - synergyEffects
                  - bonuses
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          description: Синергия или активация комбо не найдена
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Синергия уже применена или недоступна
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # Лоадаут комбо - получение
  /gameplay/combat/combos/loadout:
    get:
      summary: Получить лоадаут комбо персонажа
      description: Возвращает активные комбо и настройки лоадаута для персонажа
      operationId: getComboLoadout
      tags:
        - Combo Loadout
      parameters:
        - name: characterId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID персонажа
      responses:
        "200":
          description: Успешный ответ с лоадаутом комбо
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComboLoadout"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    # Лоадаут комбо - обновление
    post:
      summary: Обновить лоадаут комбо персонажа
      description: |
        Обновляет активные комбо и настройки лоадаута.
        Проверяет доступность комбо для персонажа.
      operationId: updateComboLoadout
      tags:
        - Combo Loadout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComboLoadoutUpdate"
      responses:
        "200":
          description: Лоадаут успешно обновлен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComboLoadout"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          description: Некоторые комбо недоступны для данного персонажа
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Конфликт с текущими активными комбо
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # Отправка результатов scoring
  /gameplay/combat/combos/score:
    post:
      summary: Отправить результаты scoring комбо
      description: |
        Сохраняет результаты оценки выполненного комбо.
        Используется для аналитики и начисления наград.
      operationId: submitComboScore
      tags:
        - Combo Scoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - activationId
                - score
              properties:
                activationId:
                  type: string
                  format: uuid
                  description: ID активации комбо
                score:
                  $ref: "#/components/schemas/ComboScore"
                metadata:
                  type: object
                  description: Дополнительные метаданные scoring
                  additionalProperties: true
      responses:
        "200":
          description: Результаты scoring сохранены
          content:
            application/json:
              schema:
                type: object
                properties:
                  scoreId:
                    type: string
                    format: uuid
                    description: ID сохраненного scoring
                  category:
                    type: string
                    enum: [Bronze, Silver, Gold, Platinum, Legendary]
                    description: Категория достижения
                  rewards:
                    type: array
                    items:
                      $ref: "#/components/schemas/Reward"
                    description: Доступные награды за достижение
                required:
                  - scoreId
                  - category
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          description: Активация комбо не найдена
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Scoring уже отправлен для данной активации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # Метрики эффективности
  /gameplay/combat/combos/analytics:
    get:
      summary: Получить метрики эффективности комбо
      description: |
        Возвращает аналитику по использованию комбо для персонажа или команды.
        Используется для оптимизации и балансировки.
      operationId: getComboAnalytics
      tags:
        - Combo Analytics
      parameters:
        - name: characterId
          in: query
          schema:
            type: string
            format: uuid
          description: ID персонажа (опционально, если не указан - статистика по всем)
        - name: comboType
          in: query
          schema:
            type: string
            enum: [solo, team, legendary]
          description: Фильтр по типу комбо
        - name: timeRange
          in: query
          schema:
            type: string
            enum: [1h, 24h, 7d, 30d, all]
            default: 7d
          description: Временной диапазон для статистики
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          description: Количество топ комбо для возврата
      responses:
        "200":
          description: Успешный ответ с метриками комбо
          content:
            application/json:
              schema:
                type: object
                properties:
                  characterId:
                    type: string
                    format: uuid
                    description: ID персонажа
                  timeRange:
                    type: string
                    description: Временной диапазон статистики
                  totalActivations:
                    type: integer
                    description: Общее количество активаций
                  successfulActivations:
                    type: integer
                    description: Успешных активаций
                  averageScore:
                    type: number
                    format: float
                    description: Средний score
                  topCombos:
                    type: array
                    items:
                      type: object
                      properties:
                        comboId:
                          type: string
                          format: uuid
                        comboName:
                          type: string
                        activationCount:
                          type: integer
                        averageScore:
                          type: number
                          format: float
                        successRate:
                          type: number
                          format: float
                          minimum: 0
                          maximum: 1
                      required:
                        - comboId
                        - comboName
                        - activationCount
                    description: Топ комбо по использованию
                  synergyStats:
                    type: object
                    description: Статистика по синергиям
                    additionalProperties:
                      type: object
                      properties:
                        appliedCount:
                          type: integer
                        successRate:
                          type: number
                          format: float
                required:
                  - totalActivations
                  - successfulActivations
                  - topCombos
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

components:
  schemas:
    # Основные сущности
    ComboDefinition:
      type: object
      description: Определение комбо
      properties:
        id:
          type: string
          format: uuid
          description: Уникальный ID комбо
        name:
          type: string
          description: Название комбо
          maxLength: 255
        description:
          type: string
          description: Описание комбо
        comboType:
          type: string
          enum: [solo, team, legendary]
          description: Тип комбо
        complexity:
          type: string
          enum: [Bronze, Silver, Gold, Platinum, Legendary]
          description: Уровень сложности
        requirements:
          $ref: "#/components/schemas/ComboRequirements"
        sequence:
          type: array
          items:
            $ref: "#/components/schemas/ComboAction"
          description: Последовательность действий
          minItems: 1
          maxItems: 20
        bonuses:
          type: object
          description: Бонусы при успешной активации
          additionalProperties:
            type: number
        cooldown:
          type: integer
          description: Кулдаун в секундах
          minimum: 0
        chainCompatible:
          type: boolean
          description: Совместимо с chain-комбо
          default: false
        createdAt:
          type: string
          format: date-time
          description: Дата создания
      required:
        - id
        - name
        - comboType
        - complexity
        - sequence

    ComboRequirements:
      type: object
      description: Требования для активации комбо
      properties:
        minLevel:
          type: integer
          description: Минимальный уровень персонажа
          minimum: 1
        requiredSkills:
          type: array
          items:
            type: object
            properties:
              skillId:
                type: string
                format: uuid
              minLevel:
                type: integer
                minimum: 1
            required:
              - skillId
              - minLevel
          description: Требуемые навыки
        requiredAbilities:
          type: array
          items:
            type: string
            format: uuid
          description: Требуемые способности
        equipmentRequirements:
          type: object
          description: Требования к экипировке
          additionalProperties:
            type: string
        teamSize:
          type: integer
          description: Размер команды для team комбо
          minimum: 2
          maximum: 5

    ComboAction:
      type: object
      description: Действие в последовательности комбо
      properties:
        actionType:
          type: string
          enum: [ability, movement, attack, defense, special]
          description: Тип действия
        abilityId:
          type: string
          format: uuid
          description: ID способности (для ability действий)
        parameters:
          type: object
          description: Параметры действия
          additionalProperties: true
        timing:
          type: number
          format: float
          description: Временные ограничения в секундах
          minimum: 0
      required:
        - actionType

    ComboContext:
      type: object
      description: Контекст выполнения комбо
      properties:
        location:
          type: object
          properties:
            x:
              type: number
              format: float
            y:
              type: number
              format: float
            z:
              type: number
              format: float
          description: Координаты выполнения
        enemies:
          type: array
          items:
            type: string
            format: uuid
          description: ID врагов в зоне
        allies:
          type: array
          items:
            type: string
            format: uuid
          description: ID союзников в зоне
        environment:
          type: object
          description: Параметры окружающей среды
          additionalProperties: true

    SynergyEffect:
      type: object
      description: Эффект синергии
      properties:
        synergyId:
          type: string
          format: uuid
          description: ID синергии
        synergyType:
          type: string
          enum: [ability, team, equipment, implant, timing]
          description: Тип синергии
        bonuses:
          type: object
          description: Примененные бонусы
          additionalProperties:
            type: number
        duration:
          type: integer
          description: Длительность эффекта в секундах
          minimum: 0
      required:
        - synergyId
        - synergyType
        - bonuses

    ComboScore:
      type: object
      description: Результаты scoring комбо
      properties:
        executionDifficulty:
          type: integer
          description: Сложность исполнения (1-10)
          minimum: 1
          maximum: 10
        damageOutput:
          type: integer
          description: Нанесенный урон
          minimum: 0
        visualImpact:
          type: integer
          description: Визуальный эффект (1-10)
          minimum: 1
          maximum: 10
        teamCoordination:
          type: integer
          description: Координация команды (1-10)
          minimum: 1
          maximum: 10
        totalScore:
          type: integer
          description: Общий score
          minimum: 0
        category:
          type: string
          enum: [Bronze, Silver, Gold, Platinum, Legendary]
          description: Категория достижения
      required:
        - executionDifficulty
        - damageOutput
        - visualImpact
        - totalScore
        - category

    ComboLoadout:
      type: object
      description: Лоадаут комбо персонажа
      properties:
        characterId:
          type: string
          format: uuid
          description: ID персонажа
        activeCombos:
          type: array
          items:
            type: string
            format: uuid
          description: ID активных комбо
          maxItems: 10
        preferences:
          type: object
          description: Настройки предпочтений
          properties:
            autoActivate:
              type: boolean
              description: Автоматическая активация
              default: false
            priorityCombos:
              type: array
              items:
                type: string
                format: uuid
              description: Приоритетные комбо
              maxItems: 5
            synergyPreferences:
              type: object
              description: Предпочтения синергий
              additionalProperties:
                type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - characterId
        - activeCombos

    ComboLoadoutUpdate:
      type: object
      description: Обновление лоадаута комбо
      properties:
        characterId:
          type: string
          format: uuid
          description: ID персонажа
        activeCombos:
          type: array
          items:
            type: string
            format: uuid
          description: ID активных комбо
          maxItems: 10
        preferences:
          type: object
          description: Настройки предпочтений
          properties:
            autoActivate:
              type: boolean
              description: Автоматическая активация
            priorityCombos:
              type: array
              items:
                type: string
                format: uuid
              description: Приоритетные комбо
              maxItems: 5
            synergyPreferences:
              type: object
              description: Предпочтения синергий
              additionalProperties:
                type: boolean
      required:
        - characterId

    Reward:
      type: object
      description: Награда за комбо
      properties:
        type:
          type: string
          enum: [experience, currency, item, title, achievement]
          description: Тип награды
        value:
          oneOf:
            - type: integer
              description: Числовое значение
            - type: string
              description: Строковое значение
            - type: object
              description: Сложное значение
        description:
          type: string
          description: Описание награды
      required:
        - type
        - value

    PaginationInfo:
      type: object
      description: Информация о пагинации
      properties:
        limit:
          type: integer
          description: Размер страницы
        offset:
          type: integer
          description: Смещение
        hasNext:
          type: boolean
          description: Есть следующая страница
        hasPrev:
          type: boolean
          description: Есть предыдущая страница
      required:
        - limit
        - offset
        - hasNext
        - hasPrev

    Error:
      type: object
      description: Описание ошибки
      properties:
        code:
          type: string
          description: Код ошибки
        message:
          type: string
          description: Сообщение об ошибке
        details:
          type: object
          description: Дополнительные детали ошибки
          additionalProperties: true
      required:
        - code
        - message

  # Переиспользуемые ответы
  responses:
    BadRequest:
      description: Неверный запрос
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    Unauthorized:
      description: Не авторизован
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    InternalServerError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  # Схемы безопасности
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT токен авторизации

    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API ключ для сервер-сервер коммуникации

# WebSocket спецификации (документация)
x-websockets:
  combo-session-stream:
    url: wss://api.necp.game/v1/gameplay/combat/combos/{sessionId}
    description: |
      WebSocket поток для сессии комбо. Отправляет обновления о активированных комбо в реальном времени.
    parameters:
      sessionId:
        type: string
        format: uuid
        description: ID игровой сессии
    messages:
      combo-activated:
        type: object
        properties:
          type:
            type: string
            enum: [combo_activated]
          data:
            type: object
            properties:
              activationId:
                type: string
                format: uuid
              comboId:
                type: string
                format: uuid
              characterId:
                type: string
                format: uuid
              participants:
                type: array
                items:
                  type: string
                  format: uuid
              synergies:
                type: array
                items:
                  $ref: "#/components/schemas/SynergyEffect"
              score:
                $ref: "#/components/schemas/ComboScore"

  combo-player-notifications:
    url: wss://api.necp.game/v1/gameplay/combat/combos/player/{characterId}
    description: |
      Персональные уведомления о комбо для игрока. Отправляет уведомления о доступных синергиях,
      chain-комбо возможностях и достижениях.
    parameters:
      characterId:
        type: string
        format: uuid
        description: ID персонажа
    messages:
      synergy-available:
        type: object
        properties:
          type:
            type: string
            enum: [synergy_available]
          data:
            type: object
            properties:
              synergyType:
                type: string
                enum: [ability, team, equipment, implant, timing]
              bonuses:
                type: object
                additionalProperties:
                  type: number

      chain-opportunity:
        type: object
        properties:
          type:
            type: string
            enum: [chain_opportunity]
          data:
            type: object
            properties:
              windowTime:
                type: integer
                description: Время окна в секундах
              compatibleCombos:
                type: array
                items:
                  type: string
                  format: uuid

      achievement-unlocked:
        type: object
        properties:
          type:
            type: string
            enum: [achievement_unlocked]
          data:
            type: object
            properties:
              comboId:
                type: string
                format: uuid
              category:
                type: string
                enum: [Bronze, Silver, Gold, Platinum, Legendary]
              rewards:
                type: array
                items:
                  $ref: "#/components/schemas/Reward"

# Event Bus спецификации (документация)
x-event-bus:
  events:
    combat.combo.activated:
      description: Событие активации комбо
      payload:
        type: object
        properties:
          activationId:
            type: string
            format: uuid
          comboId:
            type: string
            format: uuid
          characterId:
            type: string
            format: uuid
          participants:
            type: array
            items:
              type: string
              format: uuid
          synergies:
            type: array
            items:
              $ref: "#/components/schemas/SynergyEffect"
          score:
            $ref: "#/components/schemas/ComboScore"
        required:
          - activationId
          - comboId
          - characterId

    combat.combo.synergy:
      description: Событие применения синергии
      payload:
        type: object
        properties:
          comboActivationId:
            type: string
            format: uuid
          synergyEffects:
            type: array
            items:
              $ref: "#/components/schemas/SynergyEffect"
        required:
          - comboActivationId
          - synergyEffects

    combat.combo.score:
      description: Событие завершения scoring комбо
      payload:
        type: object
        properties:
          activationId:
            type: string
            format: uuid
          score:
            $ref: "#/components/schemas/ComboScore"
          rewards:
            type: array
            items:
              $ref: "#/components/schemas/Reward"
        required:
          - activationId
          - score

    combat.combo.chain:
      description: Событие срабатывания chain-комбо
      payload:
        type: object
        properties:
          firstComboId:
            type: string
            format: uuid
          secondComboId:
            type: string
            format: uuid
          bonuses:
            type: object
            additionalProperties:
              type: number
          cooldownReduction:
            type: integer
        required:
          - firstComboId
          - secondComboId
# Issue: #158
