openapi: 3.0.3
info:
  title: Gameplay Combos Service API
  description: |
    API для управления системой комбо и синергий в NECPGAME.
    Обеспечивает каталог комбо, активацию, синергии, scoring и аналитику.
  version: 1.0.0
  contact:
    name: API Support
    email: api@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production server
  - url: https://staging-api.necp.game/v1
    description: Staging server
  - url: http://localhost:8083/v1
    description: Local development

security:
  - BearerAuth: [ ]
  - ApiKeyAuth: [ ]

paths:
  # Каталог комбо
  /gameplay/combat/combos/catalog:
    get:
      summary: Получить каталог комбо
      description: |
        Возвращает список доступных комбо с фильтрацией по типам и сложности.
        Поддерживает пагинацию для больших каталогов.
      operationId: getComboCatalog
      tags:
        - Combos Catalog
      parameters:
        - name: comboType
          in: query
          schema:
            type: string
            enum: [ solo, team, legendary ]
          description: Фильтр по типу комбо
        - name: complexity
          in: query
          schema:
            type: string
            enum: [ Bronze, Silver, Gold, Platinum, Legendary ]
          description: Фильтр по сложности комбо
        - name: characterId
          in: query
          schema:
            type: string
            format: uuid
          description: ID персонажа для фильтрации доступных комбо
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Количество элементов на страницу
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Смещение для пагинации
      responses:
        "200":
          description: Успешный ответ с каталогом комбо
          content:
            application/json:
              schema:
                type: object
                properties:
                  combos:
                    type: array
                    items:
                      $ref: "#/components/schemas/ComboDefinition"
                  pagination:
                    $ref: "#/components/schemas/PaginationInfo"
                  total:
                    type: integer
                    description: Общее количество комбо в каталоге
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # Детали комбо
  /gameplay/combat/combos/{comboId}:
    get:
      summary: Получить информацию о конкретном комбо
      description: Возвращает подробную информацию о комбо по его ID
      operationId: getComboById
      tags:
        - Combos Catalog
      parameters:
        - name: comboId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID комбо
      responses:
        "200":
          description: Успешный ответ с информацией о комбо
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComboDefinition"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # Активация комбо
  /gameplay/combat/combos/activate:
    post:
      summary: Активировать комбо
      description: |
        Проверяет и активирует комбо на основе выполненных действий.
        Проверяет требования, участников и применяет эффекты.
      operationId: activateCombo
      tags:
        - Combo Activation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - comboId
                - characterId
                - actions
              properties:
                comboId:
                  type: string
                  format: uuid
                  description: ID комбо для активации
                characterId:
                  type: string
                  format: uuid
                  description: ID персонажа-инициатора
                participants:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: ID участников команды (для team комбо)
                  maxItems: 5
                actions:
                  type: array
                  items:
                    $ref: "#/components/schemas/ComboAction"
                  description: Последовательность действий для активации
                  minItems: 1
                  maxItems: 20
                context:
                  $ref: "#/components/schemas/ComboContext"
      responses:
        "200":
          description: Комбо успешно активировано
          content:
            application/json:
              schema:
                type: object
                properties:
                  activationId:
                    type: string
                    format: uuid
                    description: ID активации комбо
                  combo:
                    $ref: "#/components/schemas/ComboDefinition"
                  synergies:
                    type: array
                    items:
                      $ref: "#/components/schemas/SynergyEffect"
                    description: Примененные синергии
                  score:
                    $ref: "#/components/schemas/ComboScore"
                  chainEligible:
                    type: boolean
                    description: Доступно ли chain-комбо
                  cooldown:
                    type: integer
                    description: Кулдаун в секундах
                required:
                  - activationId
                  - combo
                  - synergies
                  - score
          headers:
            X-Request-ID:
              schema:
                type: string
                format: uuid
              description: ID запроса для трассировки
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          description: Комбо недоступно для данного персонажа
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Комбо находится на кулдауне
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Последовательность действий не соответствует комбо
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # Применение синергии
  /gameplay/combat/combat/combos/synergy:
    post:
      summary: Применить синергию
      description: |
        Рассчитывает и применяет синергии для активного комбо.
        Проверяет доступность синергий всех типов.
      operationId: applySynergy
      tags:
        - Synergy System
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - comboActivationId
                - synergyType
              properties:
                comboActivationId:
                  type: string
                  format: uuid
                  description: ID активации комбо
                synergyType:
                  type: string
                  enum: [ ability, team, equipment, implant, timing ]
                  description: Тип синергии для применения
                synergyId:
                  type: string
                  format: uuid
                  description: ID конкретной синергии (опционально)
      responses:
        "200":
          description: Синергия успешно применена
          content:
            application/json:
              schema:
                type: object
                properties:
                  synergyEffects:
                    type: array
                    items:
                      $ref: "#/components/schemas/SynergyEffect"
                    description: Примененные эффекты синергии
                  bonuses:
                    type: object
                    description: Примененные бонусы
                    additionalProperties:
                      type: number
                  duration:
                    type: integer
                    description: Длительность эффектов в секундах
                required:
                  - synergyEffects
                  - bonuses
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          description: Синергия или активация комбо не найдена
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Синергия уже применена или недоступна
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # Лоадаут комбо - получение
  /gameplay/combat/combos/loadout:
    get:
      summary: Получить лоадаут комбо персонажа
      description: Возвращает активные комбо и настройки лоадаута для персонажа
      operationId: getComboLoadout
      tags:
        - Combo Loadout
      parameters:
        - name: characterId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID персонажа
      responses:
        "200":
          description: Успешный ответ с лоадаутом комбо
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComboLoadout"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    # Лоадаут комбо - обновление
    post:
      summary: Обновить лоадаут комбо персонажа
      description: |
        Обновляет активные комбо и настройки лоадаута.
        Проверяет доступность комбо для персонажа.
      operationId: updateComboLoadout
      tags:
        - Combo Loadout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComboLoadoutUpdate"
      responses:
        "200":
          description: Лоадаут успешно обновлен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComboLoadout"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          description: Некоторые комбо недоступны для данного персонажа
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Конфликт с текущими активными комбо
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # Отправка результатов scoring
  /gameplay/combat/combos/score:
    post:
      summary: Отправить результаты scoring комбо
      description: |
        Сохраняет результаты оценки выполненного комбо.
        Используется для аналитики и начисления наград.
      operationId: submitComboScore
      tags:
        - Combo Scoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - activationId
                - score
              properties:
                activationId:
                  type: string
                  format: uuid
                  description: ID активации комбо
                score:
                  $ref: "#/components/schemas/ComboScore"
                metadata:
                  type: object
                  description: Дополнительные метаданные scoring
                  additionalProperties: true
      responses:
        "200":
