openapi: 3.0.3
info:
  title: Housing Service API
  description: API для управления квартирами, мебелью, престижем и посещениями.
  version: 1.0.0

servers:
  - url: https://api.necp.game/v1
    description: Production server
  - url: http://localhost:8104/v1
    description: Development server

tags:
  - name: Apartments
    description: Управление квартирами
  - name: Furniture
    description: Управление мебелью
  - name: Visits
    description: Посещения квартир

paths:
  /housing/apartments/available:
    get:
      summary: Получить доступные квартиры
      description: Возвращает список доступных для покупки квартир
      operationId: getAvailableApartments
      tags:
        - Apartments
      parameters:
        - name: location
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            $ref: "#/components/schemas/ApartmentType"
      responses:
        "200":
          description: Список доступных квартир
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApartmentListResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security: []

  /housing/apartments/purchase:
    post:
      summary: Купить квартиру
      description: Покупает квартиру для игрока
      operationId: purchaseApartment
      tags:
        - Apartments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PurchaseApartmentRequest"
      responses:
        "201":
          description: Квартира куплена
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Apartment"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "409":
          description: Недостаточно средств или квартира недоступна
          content:
            application/json:
              schema:
                $ref: "common.yaml#/components/schemas/Error"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /housing/apartments/{apartment_id}:
    get:
      summary: Получить информацию о квартире
      description: Возвращает детали квартиры
      operationId: getApartment
      tags:
        - Apartments
      parameters:
        - name: apartment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Детали квартиры
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Apartment"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /housing/apartments/{apartment_id}/settings:
    put:
      summary: Обновить настройки квартиры
      description: Обновляет настройки доступа к квартире
      operationId: updateApartmentSettings
      tags:
        - Apartments
      parameters:
        - name: apartment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApartmentSettings"
      responses:
        "200":
          description: Настройки обновлены
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Apartment"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /housing/furniture/catalog:
    get:
      summary: Получить каталог мебели
      description: Возвращает доступную для покупки мебель
      operationId: getFurnitureCatalog
      tags:
        - Furniture
      parameters:
        - name: category
          in: query
          schema:
            $ref: "#/components/schemas/FurnitureCategory"
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Каталог мебели
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FurnitureListResponse"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security: []

  /housing/furniture/purchase:
    post:
      summary: Купить мебель
      description: Покупает мебель для игрока
      operationId: purchaseFurniture
      tags:
        - Furniture
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PurchaseFurnitureRequest"
      responses:
        "201":
          description: Мебель куплена
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FurnitureItem"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "409":
          description: Недостаточно средств
          content:
            application/json:
              schema:
                $ref: "common.yaml#/components/schemas/Error"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /housing/apartments/{apartment_id}/furniture:
    get:
      summary: Получить мебель в квартире
      description: Возвращает размещённую мебель в квартире
      operationId: getApartmentFurniture
      tags:
        - Furniture
      parameters:
        - name: apartment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Размещённая мебель
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlacedFurnitureListResponse"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

    post:
      summary: Разместить мебель
      description: Размещает мебель в квартире
      operationId: placeFurniture
      tags:
        - Furniture
      parameters:
        - name: apartment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceFurnitureRequest"
      responses:
        "201":
          description: Мебель размещена
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlacedFurniture"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "409":
          description: Нет свободных слотов или позиция занята
          content:
            application/json:
              schema:
                $ref: "common.yaml#/components/schemas/Error"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /housing/apartments/{apartment_id}/furniture/{furniture_id}:
    delete:
      summary: Убрать мебель
      description: Убирает мебель из квартиры
      operationId: removeFurniture
      tags:
        - Furniture
      parameters:
        - name: apartment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: furniture_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Мебель убрана
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /housing/apartments/{apartment_id}/visit:
    post:
      summary: Посетить квартиру
      description: Посещает квартиру другого игрока
      operationId: visitApartment
      tags:
        - Visits
      parameters:
        - name: apartment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VisitRequest"
      responses:
        "200":
          description: Квартира посещена
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Visit"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: "common.yaml#/components/schemas/Error"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

components:
  schemas:
    ApartmentType:
      type: string
      enum:
        - STUDIO
        - STANDARD
        - PENTHOUSE
        - GUILD_HALL
      description: Тип квартиры

    FurnitureCategory:
      type: string
      enum:
        - DECORATIVE
        - FUNCTIONAL
        - COMFORT
        - STORAGE
      description: Категория мебели

    AccessType:
      type: string
      enum:
        - PRIVATE
        - FRIENDS_ONLY
        - PUBLIC
        - GUILD_ONLY
      description: Тип доступа к квартире

    Apartment:
      type: object
      required:
        - id
        - owner_id
        - type
        - location
        - furniture_slots
        - access_type
        - prestige_rating
      properties:
        id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        type:
          $ref: "#/components/schemas/ApartmentType"
        location:
          type: string
        furniture_slots:
          type: object
          properties:
            total:
              type: integer
            used:
              type: integer
        access_type:
          $ref: "#/components/schemas/AccessType"
        prestige_rating:
          type: integer
        functional_bonuses:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              value:
                type: number

    PurchaseApartmentRequest:
      type: object
      required:
        - player_id
        - apartment_type
        - location
      properties:
        player_id:
          type: string
          format: uuid
        apartment_type:
          $ref: "#/components/schemas/ApartmentType"
        location:
          type: string

    ApartmentSettings:
      type: object
      properties:
        access_type:
          $ref: "#/components/schemas/AccessType"

    FurnitureItem:
      type: object
      required:
        - id
        - name
        - category
        - price
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        category:
          $ref: "#/components/schemas/FurnitureCategory"
        price:
          type: number
          format: double
        prestige_value:
          type: integer
        functional_bonus:
          type: object

    PurchaseFurnitureRequest:
      type: object
      required:
        - player_id
        - furniture_id
        - quantity
      properties:
        player_id:
          type: string
          format: uuid
        furniture_id:
          type: string
          format: uuid
        quantity:
          type: integer
          minimum: 1

    PlacedFurniture:
      type: object
      required:
        - id
        - furniture_id
        - position
        - rotation
      properties:
        id:
          type: string
          format: uuid
        furniture_id:
          type: string
          format: uuid
        position:
          type: object
          properties:
            x:
              type: number
            y:
              type: number
            z:
              type: number
        rotation:
          type: number

    PlaceFurnitureRequest:
      type: object
      required:
        - furniture_id
        - position
        - rotation
      properties:
        furniture_id:
          type: string
          format: uuid
        position:
          type: object
          properties:
            x:
              type: number
            y:
              type: number
            z:
              type: number
        rotation:
          type: number

    VisitRequest:
      type: object
      required:
        - visitor_id
      properties:
        visitor_id:
          type: string
          format: uuid

    Visit:
      type: object
      properties:
        visitor_id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time

    ApartmentListResponse:
      type: object
      required:
        - apartments
      properties:
        apartments:
          type: array
          items:
            $ref: "#/components/schemas/Apartment"

    FurnitureListResponse:
      type: object
      required:
        - furniture
        - pagination
      properties:
        furniture:
          type: array
          items:
            $ref: "#/components/schemas/FurnitureItem"
        pagination:
          $ref: "common.yaml#/components/schemas/PaginationResponse"

    PlacedFurnitureListResponse:
      type: object
      required:
        - furniture
      properties:
        furniture:
          type: array
          items:
            $ref: "#/components/schemas/PlacedFurniture"

  securitySchemes:
    BearerAuth:
      $ref: "common.yaml#/components/securitySchemes/BearerAuth"
