openapi: 3.0.3
info:
  title: Inventory Core Service API
  description: API для управления основным инвентарём персонажа (backpack).
  version: 1.0.0

servers:
  - url: https://api.necp.game/v1
    description: Production server
  - url: http://localhost:8086/v1
    description: Development server

tags:
  - name: Inventory
    description: Основной инвентарь персонажа

paths:
  /economy/inventory/{character_id}:
    get:
      summary: Получить инвентарь
      description: Возвращает полный инвентарь персонажа
      operationId: getInventory
      tags:
        - Inventory
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Инвентарь персонажа
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Inventory"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /economy/inventory/{character_id}/items:
    post:
      summary: Добавить предмет
      description: Добавляет предмет в инвентарь персонажа
      operationId: addItem
      tags:
        - Inventory
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddItemRequest"
      responses:
        "201":
          description: Предмет добавлен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryItem"
        "400":
          description: Недостаточно места или неверный предмет
          content:
            application/json:
              schema:
                $ref: "common.yaml#/components/schemas/Error"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /economy/inventory/{character_id}/items/{item_id}:
    put:
      summary: Обновить предмет
      description: Обновляет информацию о предмете в инвентаре
      operationId: updateItem
      tags:
        - Inventory
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: item_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateItemRequest"
      responses:
        "200":
          description: Предмет обновлён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryItem"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

    delete:
      summary: Удалить предмет
      description: Удаляет предмет из инвентаря персонажа
      operationId: deleteItem
      tags:
        - Inventory
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: item_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Предмет удалён
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /economy/inventory/{character_id}/items/{item_id}/move:
    post:
      summary: Переместить предмет
      description: Перемещает предмет в другой слот инвентаря
      operationId: moveItem
      tags:
        - Inventory
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: item_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - target_slot
              properties:
                target_slot:
                  type: integer
      responses:
        "200":
          description: Предмет перемещён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryItem"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /economy/inventory/{character_id}/items/{item_id}/split:
    post:
      summary: Разделить стек
      description: Разделяет стек предметов на два
      operationId: splitStack
      tags:
        - Inventory
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: item_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - quantity
              properties:
                quantity:
                  type: integer
                  minimum: 1
      responses:
        "200":
          description: Стек разделён
          content:
            application/json:
              schema:
                type: object
                properties:
                  original:
                    $ref: "#/components/schemas/InventoryItem"
                  new:
                    $ref: "#/components/schemas/InventoryItem"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /economy/inventory/{character_id}/items/{item_id}/merge:
    post:
      summary: Объединить стеки
      description: Объединяет два стека одинаковых предметов
      operationId: mergeStacks
      tags:
        - Inventory
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: item_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - target_item_id
              properties:
                target_item_id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Стеки объединены
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryItem"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /economy/inventory/{character_id}/free-slots:
    get:
      summary: Получить свободные слоты
      description: Возвращает количество свободных слотов в инвентаре
      operationId: getFreeSlots
      tags:
        - Inventory
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Количество свободных слотов
          content:
            application/json:
              schema:
                type: object
                properties:
                  free_slots:
                    type: integer
                  total_slots:
                    type: integer
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

components:
  schemas:
    Inventory:
      type: object
      required:
        - character_id
        - slots
        - items
      properties:
        character_id:
          type: string
          format: uuid
        slots:
          type: integer
        items:
          type: array
          items:
            $ref: "#/components/schemas/InventoryItem"
        total_weight:
          type: number
        max_weight:
          type: number

    InventoryItem:
      type: object
      required:
        - id
        - item_type
        - quantity
        - slot
      properties:
        id:
          type: string
          format: uuid
        item_type:
          type: string
        quantity:
          type: integer
        slot:
          type: integer
        weight:
          type: number
        bound:
          type: boolean
        tradeable:
          type: boolean
        stackable:
          type: boolean
        max_stack:
          type: integer

    AddItemRequest:
      type: object
      required:
        - item_type
        - quantity
      properties:
        item_type:
          type: string
        quantity:
          type: integer
        slot:
          type: integer
          nullable: true

    UpdateItemRequest:
      type: object
      properties:
        quantity:
          type: integer
        slot:
          type: integer

  securitySchemes:
    BearerAuth:
      $ref: "common.yaml#/components/securitySchemes/BearerAuth"

