openapi: 3.0.3
info:
  title: Inventory Storage Service API
  description: API для управления банком и хранилищем персонажа.
  version: 1.0.0

servers:
  - url: https://api.necp.game/v1
    description: Production server
  - url: http://localhost:8086/v1
    description: Development server

tags:
  - name: Storage
    description: Банк и хранилище

paths:
  /economy/inventory/{character_id}/storage:
    get:
      summary: Получить хранилище
      description: Возвращает банк/стэш персонажа
      operationId: getStorage
      tags:
        - Storage
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Хранилище персонажа
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Storage"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /economy/inventory/{character_id}/storage/deposit:
    post:
      summary: Положить в хранилище
      description: Перемещает предмет из инвентаря в хранилище
      operationId: depositToStorage
      tags:
        - Storage
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StorageOperationRequest"
      responses:
        "200":
          description: Предмет помещён в хранилище
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Storage"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /economy/inventory/{character_id}/storage/withdraw:
    post:
      summary: Взять из хранилища
      description: Перемещает предмет из хранилища в инвентарь
      operationId: withdrawFromStorage
      tags:
        - Storage
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StorageOperationRequest"
      responses:
        "200":
          description: Предмет взят из хранилища
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageWithdrawResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

components:
  schemas:
    Storage:
      type: object
      required:
        - character_id
        - items
      properties:
        character_id:
          type: string
          format: uuid
        items:
          type: array
          items:
            $ref: "#/components/schemas/StorageItem"
        capacity:
          type: integer
        used_slots:
          type: integer

    StorageItem:
      type: object
      required:
        - id
        - item_type
        - quantity
      properties:
        id:
          type: string
          format: uuid
        item_type:
          type: string
        quantity:
          type: integer
        stored_at:
          type: string
          format: date-time

    StorageOperationRequest:
      type: object
      required:
        - item_id
      properties:
        item_id:
          type: string
          format: uuid
        quantity:
          type: integer

    StorageWithdrawResponse:
      type: object
      properties:
        storage:
          $ref: "#/components/schemas/Storage"
        inventory_item:
          type: object
          properties:
            id:
              type: string
              format: uuid
            slot:
              type: integer

  securitySchemes:
    BearerAuth:
      $ref: "common.yaml#/components/securitySchemes/BearerAuth"

