openapi: 3.0.0
info:
  title: Loot Service API
  description: 'Loot Service управляет генерацией и распределением предметов из таблиц лута.

    Поддерживает Smart Loot, Bad Luck Protection, roll системы и world drops.

    '
  version: 1.0.0
servers:
- url: https://api.necpgame.com
  description: Production server
- url: https://staging-api.necpgame.com
  description: Staging server
tags:
- name: Loot Generation
  description: Генерация лута
- name: Loot Distribution
  description: Распределение и выдача лута
- name: World Drops
  description: Управление физическими объектами лута в мире
- name: Roll Management
  description: Управление roll системой
paths:
  /api/v1/loot/generate:
    post:
      tags:
      - Loot Generation
      summary: Сгенерировать лут из таблицы (internal API)
      operationId: generateLoot
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateLootRequest'
      responses:
        '200':
          description: Лут сгенерирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateLootResponse'
        '400':
          $ref: common.yaml#/components/responses/BadRequest
  /api/v1/loot/distribute:
    post:
      tags:
      - Loot Distribution
      summary: Распределить лут между игроками (internal API)
      operationId: distributeLoot
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributeLootRequest'
      responses:
        '200':
          description: Лут распределён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributeLootResponse'
        '400':
          $ref: common.yaml#/components/responses/BadRequest
  /api/v1/loot/world-drops/{location_id}:
    parameters:
    - name: location_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - World Drops
      summary: Получить список world drops в локации
      operationId: getWorldDrops
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Список world drops
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorldDropsListResponse'
  /api/v1/loot/world-drops/{drop_id}/pickup:
    parameters:
    - name: drop_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    post:
      tags:
      - World Drops
      summary: Подобрать world drop
      operationId: pickupWorldDrop
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Лут подобран
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PickupDropResponse'
        '403':
          $ref: common.yaml#/components/responses/Forbidden
        '404':
          $ref: common.yaml#/components/responses/NotFound
        '409':
          description: Лут уже подобран или недоступен
          content:
            application/json:
              schema:
                $ref: common.yaml#/components/schemas/Error
  /api/v1/loot/rolls/{roll_id}:
    parameters:
    - name: roll_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - Roll Management
      summary: Получить информацию о roll
      operationId: getRollStatus
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Информация о roll
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RollStatusResponse'
        '404':
          $ref: common.yaml#/components/responses/NotFound
  /api/v1/loot/rolls/{roll_id}/roll:
    parameters:
    - name: roll_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    post:
      tags:
      - Roll Management
      summary: Сделать roll на предмет
      operationId: rollForItem
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RollRequest'
      responses:
        '200':
          description: Roll сделан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RollResponse'
        '400':
          $ref: common.yaml#/components/responses/BadRequest
        '409':
          description: Roll уже сделан или недоступен
          content:
            application/json:
              schema:
                $ref: common.yaml#/components/schemas/Error
  /api/v1/loot/rolls/{roll_id}/pass:
    parameters:
    - name: roll_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    post:
      tags:
      - Roll Management
      summary: Отказаться от roll на предмет
      operationId: passRoll
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Pass сделан
          content:
            application/json:
              schema:
                $ref: common.yaml#/components/schemas/SuccessResponse
        '404':
          $ref: common.yaml#/components/responses/NotFound
  /api/v1/loot/player/{player_id}/history:
    parameters:
    - $ref: common.yaml#/components/parameters/PlayerId
    get:
      tags:
      - Loot Distribution
      summary: Получить историю лута игрока
      operationId: getPlayerLootHistory
      security:
      - BearerAuth: []
      parameters:
      - $ref: common.yaml#/components/parameters/Limit
      - name: rarity
        in: query
        schema:
          type: string
          enum:
          - common
          - uncommon
          - rare
          - epic
          - legendary
      responses:
        '200':
          description: История лута
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LootHistoryResponse'
components:
  securitySchemes:
    BearerAuth:
      $ref: common.yaml#/components/securitySchemes/BearerAuth
  schemas:
    GenerateLootRequest:
      type: object
      required:
      - source_type
      - source_id
      - player_id
      properties:
        player_id:
          type: string
          format: uuid
        party_id:
          type: string
          format: uuid
          description: ID группы (для party loot)
        source_id:
          type: string
          description: ID источника (NPC ID, Quest ID, etc.)
        source_type:
          type: string
          enum:
          - boss
          - quest
          - chest
          - mob
          description: Тип источника лута
        luck_modifier:
          type: number
          format: float
          description: Модификатор удачи
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    GenerateLootResponse:
      type: object
      properties:
        world_drop_id:
          type: string
          format: uuid
          description: ID world drop (если создан)
        currency:
          type: object
          description: Валютные награды
        items:
          type: array
          items:
            $ref: '#/components/schemas/LootItem'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    LootItem:
      type: object
      properties:
        item_id:
          type: string
          format: uuid
        rarity:
          type: string
          enum:
          - common
          - uncommon
          - rare
          - epic
          - legendary
        quantity:
          type: integer
        item_level:
          type: integer
        bound_on_pickup:
          type: boolean
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    DistributeLootRequest:
      type: object
      required:
      - items
      - distribution_mode
      - player_ids
      properties:
        location_id:
          type: string
          format: uuid
          description: ID локации для world drop
        distribution_mode:
          type: string
          enum:
          - personal
          - shared
          - roll
          - master_loot
        items:
          type: array
          items:
            $ref: '#/components/schemas/LootItem'
        player_ids:
          type: array
          items:
            type: string
            format: uuid
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    DistributeLootResponse:
      type: object
      properties:
        world_drop_id:
          type: string
          format: uuid
        roll_id:
          type: string
          format: uuid
        distribution_type:
          type: string
          enum:
          - direct
          - world_drop
          - roll
        distributed_to:
          type: array
          items:
            type: string
            format: uuid
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    WorldDrop:
      type: object
      properties:
        id:
          type: string
          format: uuid
        location_id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        party_id:
          type: string
          format: uuid
        drop_status:
          type: string
          enum:
          - available
          - picked_up
          - expired
        expires_at:
          type: string
          format: date-time
        position:
          type: object
          description: Координаты (x, y, z)
        currency:
          type: object
        items:
          type: array
          items:
            $ref: '#/components/schemas/LootItem'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    WorldDropsListResponse:
      type: object
      properties:
        drops:
          type: array
          items:
            $ref: '#/components/schemas/WorldDrop'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    PickupDropResponse:
      type: object
      properties:
        picked_up_at:
          type: string
          format: date-time
        currency:
          type: object
        items:
          type: array
          items:
            $ref: '#/components/schemas/LootItem'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    RollRequest:
      type: object
      required:
      - item_id
      properties:
        item_id:
          type: string
          format: uuid
        roll_type:
          type: string
          enum:
          - need
          - greed
          description: Тип roll
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    RollResponse:
      type: object
      properties:
        roll_value:
          type: integer
          description: Результат roll (1-100)
        is_winner:
          type: boolean
          description: Победил ли в roll
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    RollStatusResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        party_id:
          type: string
          format: uuid
        item_id:
          type: string
          format: uuid
        winner_id:
          type: string
          format: uuid
        roll_status:
          type: string
          enum:
          - pending
          - completed
          - expired
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        roll_results:
          type: array
          items:
            type: object
            properties:
              player_id:
                type: string
                format: uuid
              roll_value:
                type: integer
              roll_type:
                type: string
                enum:
                - need
                - greed
                - pass
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    LootHistoryEntry:
      type: object
      properties:
        item_id:
          type: string
          format: uuid
        item_rarity:
          type: string
        source_type:
          type: string
        received_at:
          type: string
          format: date-time
        id:
          type: integer
        quantity:
          type: integer
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    LootHistoryResponse:
      type: object
      properties:
        history:
          type: array
          items:
            $ref: '#/components/schemas/LootHistoryEntry'
        total:
          type: integer
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
