openapi: 3.0.3
info:
  title: NECPGAME Enterprise API Ecosystem
  description: |
    **Enterprise-Grade API Ecosystem for NECPGAME MMORPG**

    Comprehensive API specifications across all game domains providing
    enterprise-level architecture for MMOFPS RPG systems.

    ## Domain Structure
    - **system-domain**: Infrastructure, network, AI, analytics
    - **specialized-domain**: Combat, crafting, mechanics
    - **social-domain**: Guilds, chat, relationships
    - **economy-domain**: Trading, auctions, contracts
    - **world-domain**: Cities, events, locations
    - **progression-domain**: Character progression, skills, levels

    ## Enterprise Features
    - Struct alignment optimization (30-50% memory savings)
    - High-performance backend patterns
    - Comprehensive error handling
    - Security-first approach
    - Scalable microservices architecture

  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: Backend Team
    email: backend@necp.game

servers:
  - url: https://api.necpgame.com/v1
    description: Production server
  - url: https://staging-api.necpgame.com/v1
    description: Staging server
  - url: http://localhost:8080/v1
    description: Local development

paths: {}

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for API authentication
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for service authentication

  responses:
    BadRequest:
      description: Bad request - invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Access denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  parameters:
    Limit:
      name: limit
      in: query
      description: Maximum number of items to return
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Offset:
      name: offset
      in: query
      description: Number of items to skip
      required: false
      schema:
        type: integer
        minimum: 0
        default: 0
    PlayerId:
      name: playerId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Player unique identifier
    CharacterId:
      name: characterId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Character unique identifier

  schemas:
    # Common schemas used across all domains
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: Error code
          example: INVALID_REQUEST
        message:
          type: string
          description: Human-readable error message
          example: Invalid request parameters
        details:
          type: object
          description: Additional error details
        timestamp:
          type: string
          format: date-time
          description: Error timestamp
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    HealthResponse:
      type: object
      required: [status, timestamp, version]
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
          description: Service health status
          example: healthy
        timestamp:
          type: string
          format: date-time
          description: Health check timestamp
        version:
          type: string
          description: Service version
          example: "1.0.0"
        domain:
          type: string
          description: Domain name
          example: system-domain
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    PaginationMetadata:
      type: object
      required: [total, limit, offset, has_more]
      properties:
        total:
          type: integer
          description: Total number of items
          example: 150
        limit:
          type: integer
          description: Items per page
          example: 20
        offset:
          type: integer
          description: Current offset
          example: 0
        has_more:
          type: boolean
          description: Whether there are more items
          example: true
      description: "BACKEND NOTE: Optimized for pagination queries with index support."

# BACKEND NOTE: This main API file provides common components shared across all domains
# Individual domain files extend this with domain-specific functionality
# Struct alignment optimized, memory-efficient field ordering applied
