openapi: 3.0.3
info:
  title: Party Invitations Service API
  description: API для приглашений в группу и настроек лута.
  version: 1.0.0

servers:
  - url: https://api.necp.game/v1
    description: Production server
  - url: http://localhost:8084/v1
    description: Development server

tags:
  - name: Invitations
    description: Приглашения в группу
  - name: Loot
    description: Распределение лута

paths:
  /social/party/{party_id}/invite:
    post:
      summary: Пригласить игрока
      description: Отправляет приглашение игроку
      operationId: inviteToParty
      tags:
        - Invitations
      parameters:
        - name: party_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteRequest"
      responses:
        "201":
          description: Приглашение отправлено
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartyInvite"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "409":
          description: Приглашение уже отправлено или группа заполнена
          content:
            application/json:
              schema:
                $ref: "common.yaml#/components/schemas/Error"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /social/party/invitations/player/{player_id}:
    get:
      summary: Получить приглашения игрока
      description: Возвращает приглашения игрока в группы
      operationId: getPlayerInvitations
      tags:
        - Invitations
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Список приглашений
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationListResponse"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /social/party/invitations/{invitation_id}/accept:
    post:
      summary: Принять приглашение
      description: Принимает приглашение в группу
      operationId: acceptInvitation
      tags:
        - Invitations
      parameters:
        - name: invitation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Приглашение принято
          content:
            application/json:
              schema:
                type: object
                properties:
                  party_id:
                    type: string
                    format: uuid
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "409":
          description: Игрок уже в группе или группа заполнена
          content:
            application/json:
              schema:
                $ref: "common.yaml#/components/schemas/Error"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /social/party/invitations/{invitation_id}/decline:
    post:
      summary: Отклонить приглашение
      description: Отклоняет приглашение в группу
      operationId: declineInvitation
      tags:
        - Invitations
      parameters:
        - name: invitation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Приглашение отклонено
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /social/party/{party_id}/loot/settings:
    get:
      summary: Получить настройки распределения лута
      description: Возвращает настройки распределения лута в группе
      operationId: getLootSettings
      tags:
        - Loot
      parameters:
        - name: party_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Настройки распределения лута
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LootSettings"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

    put:
      summary: Обновить настройки распределения лута
      description: Обновляет настройки распределения лута
      operationId: updateLootSettings
      tags:
        - Loot
      parameters:
        - name: party_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LootSettings"
      responses:
        "200":
          description: Настройки обновлены
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LootSettings"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

components:
  schemas:
    InviteRequest:
      type: object
      required:
        - player_id
      properties:
        player_id:
          type: string
          format: uuid

    PartyInvite:
      type: object
      properties:
        id:
          type: string
          format: uuid
        party_id:
          type: string
          format: uuid
        player_id:
          type: string
          format: uuid
        expires_at:
          type: string
          format: date-time

    InvitationListResponse:
      type: object
      required:
        - invitations
      properties:
        invitations:
          type: array
          items:
            $ref: "#/components/schemas/PartyInvite"

    LootSettings:
      type: object
      properties:
        distribution_mode:
          $ref: "#/components/schemas/LootDistributionMode"
        need_before_greed:
          type: boolean
          default: true

    LootDistributionMode:
      type: string
      enum:
        - FREE_FOR_ALL
        - ROUND_ROBIN
        - MASTER_LOOTER
        - NEED_BEFORE_GREED

  securitySchemes:
    BearerAuth:
      $ref: "common.yaml#/components/securitySchemes/BearerAuth"

