openapi: 3.0.3
info:
  title: Party Core Service API
  description: API для управления группами (CRUD, участники).
  version: 1.0.0

servers:
  - url: https://api.necp.game/v1
    description: Production server
  - url: http://localhost:8084/v1
    description: Development server

tags:
  - name: Party
    description: Управление группами

paths:
  /social/party:
    post:
      summary: Создать группу
      description: Создает новую группу
      operationId: createParty
      tags:
        - Party
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePartyRequest"
      responses:
        "201":
          description: Группа создана
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Party"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "409":
          description: Игрок уже в группе
          content:
            application/json:
              schema:
                $ref: "common.yaml#/components/schemas/Error"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /social/party/{party_id}:
    get:
      summary: Получить группу
      description: Возвращает информацию о группе
      operationId: getParty
      tags:
        - Party
      parameters:
        - name: party_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Информация о группе
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Party"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

    delete:
      summary: Распустить группу
      description: Распускает группу
      operationId: disbandParty
      tags:
        - Party
      parameters:
        - name: party_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Группа распущена
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /social/party/player/{player_id}:
    get:
      summary: Получить группу игрока
      description: Возвращает группу, в которой состоит игрок
      operationId: getPlayerParty
      tags:
        - Party
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Группа игрока
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Party"
        "404":
          description: Игрок не в группе
          content:
            application/json:
              schema:
                $ref: "common.yaml#/components/schemas/Error"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /social/party/{party_id}/leader:
    put:
      summary: Сменить лидера
      description: Меняет лидера группы
      operationId: changePartyLeader
      tags:
        - Party
      parameters:
        - name: party_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeLeaderRequest"
      responses:
        "200":
          description: Лидер изменён
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Party"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /social/party/{party_id}/members:
    post:
      summary: Добавить участника
      description: Добавляет участника в группу
      operationId: addPartyMember
      tags:
        - Party
      parameters:
        - name: party_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddMemberRequest"
      responses:
        "201":
          description: Участник добавлен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartyMember"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "409":
          description: Группа заполнена или игрок уже в группе
          content:
            application/json:
              schema:
                $ref: "common.yaml#/components/schemas/Error"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /social/party/{party_id}/members/{player_id}:
    delete:
      summary: Удалить участника
      description: Удаляет участника из группы
      operationId: removePartyMember
      tags:
        - Party
      parameters:
        - name: party_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Участник удалён
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

  /social/party/{party_id}/leave:
    post:
      summary: Покинуть группу
      description: Игрок покидает группу
      operationId: leaveParty
      tags:
        - Party
      parameters:
        - name: party_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - player_id
              properties:
                player_id:
                  type: string
                  format: uuid
      responses:
        "204":
          description: Игрок покинул группу
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          description: Лидер не может покинуть группу
          content:
            application/json:
              schema:
                $ref: "common.yaml#/components/schemas/Error"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
      security:
        - BearerAuth: []

components:
  schemas:
    Party:
      type: object
      required:
        - id
        - leader_id
        - status
        - created_at
      properties:
        id:
          type: string
          format: uuid
        leader_id:
          type: string
          format: uuid
        members:
          type: array
          items:
            $ref: "#/components/schemas/PartyMember"
        status:
          $ref: "#/components/schemas/PartyStatus"
        created_at:
          type: string
          format: date-time

    PartyStatus:
      type: string
      enum:
        - ACTIVE
        - DISBANDED

    PartyMember:
      type: object
      required:
        - player_id
        - role
        - joined_at
      properties:
        player_id:
          type: string
          format: uuid
        role:
          $ref: "#/components/schemas/PartyRole"
        joined_at:
          type: string
          format: date-time

    PartyRole:
      type: string
      enum:
        - LEADER
        - MEMBER

    CreatePartyRequest:
      type: object
      required:
        - leader_id
      properties:
        leader_id:
          type: string
          format: uuid

    AddMemberRequest:
      type: object
      required:
        - player_id
      properties:
        player_id:
          type: string
          format: uuid

    ChangeLeaderRequest:
      type: object
      required:
        - new_leader_id
      properties:
        new_leader_id:
          type: string
          format: uuid

  securitySchemes:
    BearerAuth:
      $ref: "common.yaml#/components/securitySchemes/BearerAuth"

