# Issue: #81
openapi: 3.0.3
info:
  title: Player Orders Core Service API
  version: 1.0.0
  description: |
    API для управления заказами от игроков (Player Orders).
    Включает создание, просмотр, принятие, выполнение и отзывы о заказах.
  
  contact:
    name: NECP Game API Team
    email: api@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production server
  - url: https://api-dev.necp.game/v1
    description: Development server

tags:
  - name: Orders
    description: Основные операции с заказами

paths:
  /social/orders:
    get:
      tags:
        - Orders
      summary: Получить список заказов
      description: Получение списка доступных заказов с фильтрацией и сортировкой.
      operationId: listOrders
      parameters:
        - $ref: 'common.yaml#/components/parameters/Page'
        - $ref: 'common.yaml#/components/parameters/Limit'
        - name: orderType
          in: query
          description: Тип заказа
          schema:
            type: string
            enum: [ combat, hacking, trade, political, intelligence, medical, rescue, transport, diplomatic, social ]
        - name: status
          in: query
          description: Статус заказа
          schema:
            type: string
            enum: [ pending, accepted, in_progress, completed, cancelled, expired ]
        - name: minReward
          in: query
          description: Минимальная награда (ed)
          schema:
            type: integer
            minimum: 0
        - name: riskLevel
          in: query
          description: Уровень риска
          schema:
            type: string
            enum: [ low, medium, high, extreme ]
      security:
        - BearerAuth: [ ]
      responses:
        '200':
          description: Список заказов успешно получен
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: 'social-player-orders-schemas.yaml#/components/schemas/Order'
                  pagination:
                    $ref: 'common.yaml#/components/schemas/PaginationResponse'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '500':
          $ref: 'common.yaml#/components/responses/InternalServerError'

  /social/orders/create:
    post:
      tags:
        - Orders
      summary: Создать новый заказ
      description: Создание нового заказа от игрока.
      operationId: createOrder
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'social-player-orders-schemas.yaml#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Заказ успешно создан
          content:
            application/json:
              schema:
                $ref: 'social-player-orders-schemas.yaml#/components/schemas/Order'
        '400':
          $ref: 'common.yaml#/components/responses/BadRequest'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '500':
          $ref: 'common.yaml#/components/responses/InternalServerError'

  /social/orders/{orderId}:
    get:
      tags:
        - Orders
      summary: Получить информацию о заказе
      description: Получение детальной информации о конкретном заказе.
      operationId: getOrder
      parameters:
        - name: orderId
          in: path
          required: true
          description: Уникальный идентификатор заказа
          schema:
            type: string
            format: uuid
      security:
        - BearerAuth: [ ]
      responses:
        '200':
          description: Информация о заказе успешно получена
          content:
            application/json:
              schema:
                $ref: 'social-player-orders-schemas.yaml#/components/schemas/Order'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '404':
          $ref: 'common.yaml#/components/responses/NotFound'
        '500':
          $ref: 'common.yaml#/components/responses/InternalServerError'

  /social/orders/{orderId}/accept:
    post:
      tags:
        - Orders
      summary: Принять заказ
      description: Принятие заказа исполнителем.
      operationId: acceptOrder
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - BearerAuth: [ ]
      responses:
        '200':
          description: Заказ успешно принят
          content:
            application/json:
              schema:
                $ref: 'social-player-orders-schemas.yaml#/components/schemas/Order'
        '400':
          $ref: 'common.yaml#/components/responses/BadRequest'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '404':
          $ref: 'common.yaml#/components/responses/NotFound'
        '500':
          $ref: 'common.yaml#/components/responses/InternalServerError'

  /social/orders/{orderId}/start:
    post:
      tags:
        - Orders
      summary: Начать выполнение заказа
      description: Начало выполнения принятого заказа.
      operationId: startOrder
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - BearerAuth: [ ]
      responses:
        '200':
          description: Выполнение заказа успешно начато
          content:
            application/json:
              schema:
                $ref: 'social-player-orders-schemas.yaml#/components/schemas/Order'
        '400':
          $ref: 'common.yaml#/components/responses/BadRequest'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '404':
          $ref: 'common.yaml#/components/responses/NotFound'
        '500':
          $ref: 'common.yaml#/components/responses/InternalServerError'

  /social/orders/{orderId}/complete:
    post:
      tags:
        - Orders
      summary: Завершить выполнение заказа
      description: Завершение выполнения заказа и получение награды.
      operationId: completeOrder
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'social-player-orders-schemas.yaml#/components/schemas/CompleteOrderRequest'
      responses:
        '200':
          description: Заказ успешно завершен
          content:
            application/json:
              schema:
                $ref: 'social-player-orders-schemas.yaml#/components/schemas/OrderCompletionResult'
        '400':
          $ref: 'common.yaml#/components/responses/BadRequest'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '404':
          $ref: 'common.yaml#/components/responses/NotFound'
        '500':
          $ref: 'common.yaml#/components/responses/InternalServerError'

  /social/orders/{orderId}/cancel:
    post:
      tags:
        - Orders
      summary: Отменить заказ
      description: Отмена заказа (доступно для заказчика или исполнителя).
      operationId: cancelOrder
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'social-player-orders-schemas.yaml#/components/schemas/CancelOrderRequest'
      responses:
        '200':
          description: Заказ успешно отменен
          content:
            application/json:
              schema:
                $ref: 'social-player-orders-schemas.yaml#/components/schemas/Order'
        '400':
          $ref: 'common.yaml#/components/responses/BadRequest'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '404':
          $ref: 'common.yaml#/components/responses/NotFound'
        '500':
          $ref: 'common.yaml#/components/responses/InternalServerError'

  /social/orders/{orderId}/review:
    post:
      tags:
        - Orders
      summary: Оставить отзыв о заказе
      description: Оставление отзыва о выполненном заказе.
      operationId: reviewOrder
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'social-player-orders-schemas.yaml#/components/schemas/OrderReviewRequest'
      responses:
        '201':
          description: Отзыв успешно создан
          content:
            application/json:
              schema:
                $ref: 'social-player-orders-schemas.yaml#/components/schemas/OrderReview'
        '400':
          $ref: 'common.yaml#/components/responses/BadRequest'
        '401':
          $ref: 'common.yaml#/components/responses/Unauthorized'
        '404':
          $ref: 'common.yaml#/components/responses/NotFound'
        '500':
          $ref: 'common.yaml#/components/responses/InternalServerError'

components:
  securitySchemes:
    BearerAuth:
      $ref: 'common.yaml#/components/securitySchemes/BearerAuth'

