openapi: 3.0.3
info:
  title: Stock Events Impacts Service API
  description: API для получения активных воздействий событий на акции
  version: 1.0.0
  contact:
    name: Economy Team
    email: economy@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production
  - url: https://api-stage.necp.game/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: impacts
    description: Воздействия событий на акции

paths:
  /stocks/{stock_id}/events/impacts:
    get:
      tags:
        - impacts
      summary: Получить активные воздействия на акцию
      description: |
        Возвращает все активные события, влияющие на цену акции.
        Включает базовый эффект, модификаторы, длительность и decay curve.
      operationId: getStockEventImpacts
      security:
        - BearerAuth: []
      parameters:
        - name: stock_id
          in: path
          required: true
          description: ID акции
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Активные воздействия успешно получены
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EventImpact"
                  summary:
                    $ref: "#/components/schemas/ImpactSummary"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /events/impacts/active:
    get:
      tags:
        - impacts
      summary: Получить все активные воздействия
      description: |
        Возвращает все активные воздействия событий на все акции.
        Полезно для мониторинга и аналитики.
      operationId: getAllActiveImpacts
      security:
        - BearerAuth: []
      parameters:
        - name: event_type
          in: query
          required: false
          description: Фильтр по типу события
          schema:
            type: string
            enum:
              - quest_completed
              - faction_war
              - territory_control
              - corporate_scandal
              - tech_breakthrough
              - economic_event
        - name: min_impact
          in: query
          required: false
          description: Минимальное влияние (%) для фильтра
          schema:
            type: number
            format: double
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Активные воздействия успешно получены
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EventImpact"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      $ref: "common.yaml#/components/securitySchemes/BearerAuth"

  schemas:
    EventImpact:
      type: object
      description: Воздействие события на акцию
      required:
        - id
        - stock_id
        - stock_symbol
        - event_type
        - event_id
        - event_name
        - base_impact_percent
        - total_impact_percent
        - duration_type
        - duration_hours
        - decay_curve
        - applied_at
        - status
      properties:
        id:
          type: string
          format: uuid
          description: ID воздействия
        stock_id:
          type: string
          format: uuid
          description: ID акции
        stock_symbol:
          type: string
          description: Тикер акции
        event_type:
          $ref: "#/components/schemas/EventType"
        event_id:
          type: string
          description: ID источника события (quest_id, war_id, etc.)
        event_name:
          type: string
          description: Название события
        base_impact_percent:
          type: number
          format: double
          description: Базовое влияние на цену (%)
        modifiers:
          type: array
          description: Модификаторы воздействия
          items:
            $ref: "#/components/schemas/EventModifier"
        total_impact_percent:
          type: number
          format: double
          description: Итоговое влияние с модификаторами (%)
        duration_type:
          $ref: "#/components/schemas/DurationType"
        duration_hours:
          type: integer
          minimum: 0
          description: Длительность в часах
        decay_curve:
          $ref: "#/components/schemas/DecayCurve"
        applied_at:
          type: string
          format: date-time
          description: Время применения
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Время истечения
        current_effect_percent:
          type: number
          format: double
          description: Текущий эффект с учетом decay
        status:
          type: string
          enum: [active, expired, reversed]
          description: Статус воздействия
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    EventType:
      type: string
      enum:
        - quest_completed
        - faction_war
        - territory_control
        - corporate_scandal
        - tech_breakthrough
        - economic_event
      description: |
        Типы событий:
        - quest_completed: Завершение квеста
        - faction_war: Фракционная война
        - territory_control: Смена контроля территории
        - corporate_scandal: Корпоративный скандал
        - tech_breakthrough: Технологический прорыв
        - economic_event: Экономическое событие (кризис, подъем)

    DurationType:
      type: string
      enum: [instant, short_term, long_term, permanent]
      description: |
        Длительность воздействия:
        - instant: Мгновенное (с частичным откатом)
        - short_term: Краткосрочное (~1 неделя)
        - long_term: Долгосрочное (несколько недель)
        - permanent: Перманентное (банкротство, делистинг)

    DecayCurve:
      type: string
      enum: [none, linear, exponential]
      description: |
        Кривая затухания эффекта:
        - none: Без затухания (permanent)
        - linear: Линейное затухание
        - exponential: Экспоненциальное затухание

    EventModifier:
      type: object
      description: Модификатор воздействия события
      required:
        - type
        - value
        - effect_percent
      properties:
        type:
          type: string
          enum:
            - player_participation
            - sector_synergy
            - company_size
            - media_coverage
            - market_volatility
          description: |
            Тип модификатора:
            - player_participation: Количество участников
            - sector_synergy: Синергия с сектором
            - company_size: Размер компании
            - media_coverage: Медиа освещенность
            - market_volatility: Волатильность рынка
        value:
          oneOf:
            - type: string
            - type: number
          description: Значение модификатора (число или enum)
        effect_percent:
          type: number
          format: double
          description: Эффект модификатора (%)

    ImpactSummary:
      type: object
      description: Сводка по воздействиям на акцию
      properties:
        total_active_impacts:
          type: integer
          description: Количество активных воздействий
        combined_effect_percent:
          type: number
          format: double
          description: Суммарный эффект всех воздействий
        strongest_positive:
          type: number
          format: double
          description: Самое сильное положительное воздействие
        strongest_negative:
          type: number
          format: double
          description: Самое сильное отрицательное воздействие

