openapi: 3.0.3
info:
  title: Stock Protection Service API
  description: |
    API для защиты фондовой биржи от манипуляций и мошенничества.
 
    Функционал:
    - Circuit breakers (автоостановка торгов)
    - Ценовые лимиты
    - Surveillance alerts (алерты о подозрительной активности)
    - Enforcement actions (санкции)
    - Интеграция с anti-cheat
    - Мониторинг и аудит
  version: 1.0.0
  contact:
    name: Economy Team
    email: economy@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production
  - url: https://api-stage.necp.game/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: circuit-breakers
    description: Автоостановка торгов
  - name: alerts
    description: Алерты о подозрительной активности
  - name: enforcement
    description: Санкции и действия
  - name: admin
    description: Административные операции

paths:
  /stocks/{stock_id}/circuit-breaker:
    get:
      tags:
        - circuit-breakers
      summary: Получить статус circuit breaker
      description: |
        Возвращает текущий статус circuit breaker для акции.
        Показывает активны ли торги или приостановлены.
      operationId: getCircuitBreakerStatus
      security:
        - BearerAuth: []
      parameters:
        - name: stock_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Статус успешно получен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitBreakerStatus"
              example:
                stock_id: "550e8400-e29b-41d4-a716-446655440000"
                stock_symbol: "ARASAKA"
                status: "halted"
                reason: "price_volatility"
                triggered_at: "2025-11-26T20:15:00Z"
                estimated_resume_at: "2025-11-26T21:15:00Z"
                price_change_percent: -18.5
                threshold_breached: -15.0
                halt_duration_minutes: 60
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /stocks/protection/alerts:
    get:
      tags:
        - alerts
      summary: Получить список surveillance alerts
      description: |
        Возвращает алерты о подозрительной активности на бирже.
      operationId: getSurveillanceAlerts
      security:
        - BearerAuth: []
      parameters:
        - name: alert_type
          in: query
          required: false
          description: Тип алерта
          schema:
            type: string
            enum:
              - insider_trading
              - spoofing
              - wash_trading
              - pump_and_dump
              - price_manipulation
        - name: severity
          in: query
          required: false
          description: Серьезность
          schema:
            type: string
            enum: [low, medium, high, critical]
        - name: status
          in: query
          required: false
          description: Статус расследования
          schema:
            type: string
            enum: [new, under_review, confirmed, dismissed, escalated]
        - name: stock_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Алерты успешно получены
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SurveillanceAlert"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /stocks/protection/alerts/{alert_id}:
    get:
      tags:
        - alerts
      summary: Получить детали алерта
      description: |
        Возвращает детальную информацию об алерте.
      operationId: getAlertDetails
      security:
        - BearerAuth: []
      parameters:
        - name: alert_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Детали алерта
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SurveillanceAlertDetailed"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

    patch:
      tags:
        - alerts
      summary: Обновить статус алерта
      description: |
        Обновляет статус расследования алерта.
        Требуется роль moderator или admin.
      operationId: updateAlertStatus
      security:
        - BearerAuth: []
      parameters:
        - name: alert_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum: [under_review, confirmed, dismissed, escalated]
                notes:
                  type: string
                  description: Комментарий модератора
              example:
                status: "confirmed"
                notes: "Clear pattern of wash trading detected between linked accounts"
      responses:
        "200":
          description: Статус обновлен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SurveillanceAlert"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /stocks/protection/enforcement:
    get:
      tags:
        - enforcement
      summary: Получить список санкций
      description: |
        Возвращает историю применённых санкций.
      operationId: getEnforcementActions
      security:
        - BearerAuth: []
      parameters:
        - name: action_type
          in: query
          required: false
          schema:
            type: string
            enum: [warning, suspension, ban, confiscation, fine]
        - name: player_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: from_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: to_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Санкции успешно получены
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EnforcementAction"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

    post:
      tags:
        - enforcement
      summary: Создать санкцию
      description: |
        Применяет санкцию к игроку за нарушение.
        Требуется роль admin.
      operationId: createEnforcementAction
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnforcementActionCreate"
            example:
              alert_id: "a1234567-89ab-cdef-0123-456789abcdef"
              player_id: "123e4567-e89b-12d3-a456-426614174000"
              action_type: "suspension"
              duration_hours: 168
              reason: "Confirmed wash trading pattern"
              confiscate_assets: true
              fine_amount: 50000.00
      responses:
        "201":
          description: Санкция создана
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnforcementAction"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /admin/stocks/protection/circuit-breaker/trigger:
    post:
      tags:
        - admin
      summary: Вручную активировать circuit breaker
      description: |
        Админ endpoint для ручной активации circuit breaker.
        Требуется роль admin.
      operationId: triggerCircuitBreaker
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - stock_id
                - reason
                - duration_minutes
              properties:
                stock_id:
                  type: string
                  format: uuid
                reason:
                  type: string
                  description: Причина остановки
                duration_minutes:
                  type: integer
                  minimum: 1
                  maximum: 1440
                  description: Длительность остановки (до 24 часов)
              example:
                stock_id: "550e8400-e29b-41d4-a716-446655440000"
                reason: "Manual intervention due to suspected manipulation"
                duration_minutes: 120
      responses:
        "200":
          description: Circuit breaker активирован
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitBreakerStatus"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /admin/stocks/protection/circuit-breaker/resume:
    post:
      tags:
        - admin
      summary: Возобновить торги досрочно
      description: |
        Админ endpoint для досрочного возобновления торгов.
        Требуется роль admin.
      operationId: resumeTrading
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - stock_id
              properties:
                stock_id:
                  type: string
                  format: uuid
                reason:
                  type: string
                  description: Причина досрочного возобновления
              example:
                stock_id: "550e8400-e29b-41d4-a716-446655440000"
                reason: "Volatility stabilized, manual review completed"
      responses:
        "200":
          description: Торги возобновлены
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  stock_id:
                    type: string
                    format: uuid
                  resumed_at:
                    type: string
                    format: date-time
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      $ref: "common.yaml#/components/securitySchemes/BearerAuth"

  schemas:
    CircuitBreakerStatus:
      type: object
      description: Статус circuit breaker
      required:
        - stock_id
        - stock_symbol
        - status
      properties:
        stock_id:
          type: string
          format: uuid
        stock_symbol:
          type: string
        status:
          type: string
          enum: [active, halted]
          description: |
            Статус торгов:
            - active: Торги активны
            - halted: Торги приостановлены
        reason:
          type: string
          nullable: true
          enum: [price_volatility, daily_limit, manual, investigation]
          description: Причина остановки
        triggered_at:
          type: string
          format: date-time
          nullable: true
          description: Время остановки
        estimated_resume_at:
          type: string
          format: date-time
          nullable: true
          description: Ожидаемое время возобновления
        price_change_percent:
          type: number
          format: double
          nullable: true
          description: Изменение цены которое вызвало остановку
        threshold_breached:
          type: number
          format: double
          nullable: true
          description: Порог который был превышен
        halt_duration_minutes:
          type: integer
          nullable: true
          description: Длительность остановки

    SurveillanceAlert:
      type: object
      description: Алерт о подозрительной активности
      required:
        - id
        - alert_type
        - severity
        - status
        - triggered_at
      properties:
        id:
          type: string
          format: uuid
        alert_type:
          type: string
          enum:
            - insider_trading
            - spoofing
            - wash_trading
            - pump_and_dump
            - price_manipulation
            - collusion
          description: |
            Типы алертов:
            - insider_trading: Инсайдерская торговля
            - spoofing: Ложные заявки
            - wash_trading: Фиктивные сделки
            - pump_and_dump: Искусственное раздувание цены
            - price_manipulation: Манипулирование ценой
            - collusion: Сговор
        severity:
          type: string
          enum: [low, medium, high, critical]
        status:
          type: string
          enum: [new, under_review, confirmed, dismissed, escalated]
        stock_id:
          type: string
          format: uuid
          nullable: true
        stock_symbol:
          type: string
          nullable: true
        player_id:
          type: string
          format: uuid
          nullable: true
        triggered_at:
          type: string
          format: date-time
        reviewed_at:
          type: string
          format: date-time
          nullable: true
        reviewed_by:
          type: string
          nullable: true
          description: ID модератора/админа
        notes:
          type: string
          nullable: true
          description: Комментарии расследования

    SurveillanceAlertDetailed:
      allOf:
        - $ref: "#/components/schemas/SurveillanceAlert"
        - type: object
          properties:
            trigger_details:
              type: object
              description: Детали триггера
              properties:
                pattern_detected:
                  type: string
                confidence_score:
                  type: number
                  format: double
                  minimum: 0
                  maximum: 1
                related_accounts:
                  type: array
                  items:
                    type: string
                    format: uuid
                suspicious_transactions:
                  type: array
                  items:
                    type: object
                    properties:
                      transaction_id:
                        type: string
                        format: uuid
                      timestamp:
                        type: string
                        format: date-time
                      amount:
                        type: number
                        format: double
            enforcement_actions:
              type: array
              description: Применённые санкции
              items:
                $ref: "#/components/schemas/EnforcementAction"

    EnforcementAction:
      type: object
      description: Санкция применённая к игроку
      required:
        - id
        - action_type
        - player_id
        - reason
        - applied_at
      properties:
        id:
          type: string
          format: uuid
        alert_id:
          type: string
          format: uuid
          nullable: true
          description: Связанный алерт
        player_id:
          type: string
          format: uuid
        action_type:
          type: string
          enum: [warning, suspension, ban, confiscation, fine]
          description: |
            Типы санкций:
            - warning: Предупреждение
            - suspension: Временная блокировка
            - ban: Постоянная блокировка
            - confiscation: Конфискация активов
            - fine: Штраф
        duration_hours:
          type: integer
          nullable: true
          description: Длительность (для suspension)
        reason:
          type: string
          description: Причина санкции
        confiscated_assets:
          type: array
          nullable: true
          description: Конфискованные активы
          items:
            type: object
            properties:
              stock_id:
                type: string
                format: uuid
              shares:
                type: integer
              value:
                type: number
                format: double
        fine_amount:
          type: number
          format: double
          nullable: true
          description: Сумма штрафа
        applied_at:
          type: string
          format: date-time
        applied_by:
          type: string
          description: ID админа
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Время окончания (для suspension)
        appeal_status:
          type: string
          nullable: true
          enum: [pending, approved, rejected]
          description: Статус апелляции

    EnforcementActionCreate:
      type: object
      description: Создание санкции
      required:
        - player_id
        - action_type
        - reason
      properties:
        alert_id:
          type: string
          format: uuid
          description: Связанный алерт
        player_id:
          type: string
          format: uuid
        action_type:
          type: string
          enum: [warning, suspension, ban, confiscation, fine]
        duration_hours:
          type: integer
          description: Длительность (для suspension)
        reason:
          type: string
          minLength: 10
        confiscate_assets:
          type: boolean
          description: Конфисковать акции игрока
        fine_amount:
          type: number
          format: double
          description: Сумма штрафа



