openapi: 3.0.3
info:
  title: Stock Protection Enforcement Service API
  description: API для enforcement actions (санкции за нарушения)
  version: 1.0.0
  contact:
    name: Economy Team
    email: economy@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production
  - url: https://api-stage.necp.game/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: enforcement
    description: Санкции и действия

paths:
  /stocks/protection/enforcement:
    get:
      tags:
        - enforcement
      summary: Получить список санкций
      description: |
        Возвращает историю применённых санкций.
      operationId: getEnforcementActions
      security:
        - BearerAuth: []
      parameters:
        - name: action_type
          in: query
          required: false
          description: Тип санкции
          schema:
            type: string
            enum: [warning, suspension, ban, confiscation, fine]
        - name: player_id
          in: query
          required: false
          description: ID игрока
          schema:
            type: string
            format: uuid
        - name: from_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: to_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Санкции успешно получены
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EnforcementAction"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

    post:
      tags:
        - enforcement
      summary: Создать санкцию
      description: |
        Применяет санкцию к игроку за нарушение.
        Требуется роль admin.
      operationId: createEnforcementAction
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnforcementActionCreate"
      responses:
        "201":
          description: Санкция создана
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnforcementAction"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      $ref: "common.yaml#/components/securitySchemes/BearerAuth"

  schemas:
    EnforcementAction:
      type: object
      description: Санкция применённая к игроку
      required:
        - id
        - action_type
        - player_id
        - reason
        - applied_at
      properties:
        id:
          type: string
          format: uuid
        alert_id:
          type: string
          format: uuid
          nullable: true
          description: Связанный алерт
        player_id:
          type: string
          format: uuid
        action_type:
          type: string
          enum: [warning, suspension, ban, confiscation, fine]
          description: |
            Типы санкций:
            - warning: Предупреждение
            - suspension: Временная блокировка
            - ban: Постоянная блокировка
            - confiscation: Конфискация активов
            - fine: Штраф
        duration_hours:
          type: integer
          nullable: true
          description: Длительность (для suspension)
        reason:
          type: string
          description: Причина санкции
        confiscated_assets:
          type: array
          nullable: true
          description: Конфискованные активы
          items:
            type: object
            properties:
              stock_id:
                type: string
                format: uuid
              shares:
                type: integer
              value:
                type: number
                format: double
        fine_amount:
          type: number
          format: double
          nullable: true
          description: Сумма штрафа
        applied_at:
          type: string
          format: date-time
        applied_by:
          type: string
          description: ID админа
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Время окончания (для suspension)
        appeal_status:
          type: string
          nullable: true
          enum: [pending, approved, rejected]
          description: Статус апелляции

    EnforcementActionCreate:
      type: object
      description: Создание санкции
      required:
        - player_id
        - action_type
        - reason
      properties:
        alert_id:
          type: string
          format: uuid
          description: Связанный алерт
        player_id:
          type: string
          format: uuid
        action_type:
          type: string
          enum: [warning, suspension, ban, confiscation, fine]
        duration_hours:
          type: integer
          description: Длительность (для suspension)
        reason:
          type: string
          minLength: 10
        confiscate_assets:
          type: boolean
          description: Конфисковать акции игрока
        fine_amount:
          type: number
          format: double
          description: Сумма штрафа

