openapi: 3.0.3
info:
  title: Stock Dividends Service API
  description: |
    API для управления дивидендами фондовой биржи.

    Функционал:
    - Расписание выплат дивидендов (квартальные, годовые)
    - История выплат игрокам
    - DRIP (Dividend Reinvestment Plan) - реинвестирование
    - Налоговые удержания и отчётность
    - Админ операции для обработки выплат
  version: 1.0.0
  contact:
    name: Economy Team
    email: economy@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production
  - url: https://api-stage.necp.game/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: dividends
    description: Операции с дивидендами
  - name: drip
    description: Управление DRIP (реинвестирование)
  - name: admin
    description: Административные операции

paths:
  /stocks/{stock_id}/dividends/schedule:
    get:
      tags:
        - dividends
      summary: Получить расписание дивидендов акции
      description: |
        Возвращает график выплат дивидендов для указанной акции.
        Включает ключевые даты: declaration, ex-dividend, record, payment.
      operationId: getDividendSchedule
      security:
        - BearerAuth: []
      parameters:
        - name: stock_id
          in: path
          required: true
          description: ID акции
          schema:
            type: string
            format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Расписание дивидендов успешно получено
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/DividendSchedule"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /players/{player_id}/dividends/payments:
    get:
      tags:
        - dividends
      summary: Получить историю выплат дивидендов игрока
      description: |
        Возвращает все дивидендные выплаты игрока с детализацией:
        акции, суммы, налоги, DRIP, статусы.
      operationId: getPlayerDividendPayments
      security:
        - BearerAuth: []
      parameters:
        - $ref: "common.yaml#/components/parameters/PlayerId"
        - name: stock_id
          in: query
          required: false
          description: Фильтр по ID акции
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          description: Фильтр по статусу выплаты
          schema:
            type: string
            enum:
              - pending
              - processed
              - failed
        - name: from_date
          in: query
          required: false
          description: Начало периода (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: to_date
          in: query
          required: false
          description: Конец периода (ISO 8601)
          schema:
            type: string
            format: date-time
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: История выплат успешно получена
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/DividendPayment"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
                  summary:
                    $ref: "#/components/schemas/PaymentSummary"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /players/{player_id}/dividends/drip:
    get:
      tags:
        - drip
      summary: Получить настройки DRIP игрока
      description: |
        Возвращает конфигурацию DRIP (Dividend Reinvestment Plan) игрока.
        DRIP автоматически реинвестирует дивиденды в покупку новых акций.
      operationId: getPlayerDRIPSettings
      security:
        - BearerAuth: []
      parameters:
        - $ref: "common.yaml#/components/parameters/PlayerId"
      responses:
        "200":
          description: Настройки DRIP успешно получены
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DRIPSettings"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"
    put:
      tags:
        - drip
      summary: Обновить настройки DRIP игрока
      description: |
        Обновляет конфигурацию DRIP для игрока.
        Можно включить/выключить глобально или для конкретных акций.
      operationId: updatePlayerDRIPSettings
      security:
        - BearerAuth: []
      parameters:
        - $ref: "common.yaml#/components/parameters/PlayerId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DRIPSettingsUpdate"
      responses:
        "200":
          description: Настройки DRIP успешно обновлены
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DRIPSettings"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /admin/dividends/schedules:
    post:
      tags:
        - admin
      summary: Создать расписание дивидендов
      description: |
        Админ endpoint для создания нового расписания выплаты дивидендов.
        Требуется роль admin.
      operationId: createDividendSchedule
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DividendScheduleCreate"
      responses:
        "201":
          description: Расписание успешно создано
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DividendSchedule"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /admin/dividends/process:
    post:
      tags:
        - admin
      summary: Обработать выплату дивидендов
      description: |
        Админ endpoint для обработки выплаты дивидендов по расписанию.
        Вызывается cron'ом или вручную.
        Требуется роль admin.
      operationId: processDividendPayment
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - schedule_id
              properties:
                schedule_id:
                  type: string
                  format: uuid
                  description: ID расписания для обработки
      responses:
        "200":
          description: Выплата успешно обработана
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  schedule_id:
                    type: string
                    format: uuid
                  total_players:
                    type: integer
                    description: Количество игроков получивших выплату
                  total_paid:
                    type: number
                    format: double
                    description: Общая сумма выплат
                  total_drip_shares:
                    type: number
                    format: double
                    description: Всего акций приобретено через DRIP
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      $ref: "common.yaml#/components/securitySchemes/BearerAuth"

  schemas:
    DividendSchedule:
      $ref: "stock-dividends-schemas.yaml#/components/schemas/DividendSchedule"
    DividendScheduleCreate:
      $ref: "stock-dividends-schemas.yaml#/components/schemas/DividendScheduleCreate"
    DividendPayment:
      $ref: "stock-dividends-schemas.yaml#/components/schemas/DividendPayment"
    PaymentSummary:
      $ref: "stock-dividends-schemas.yaml#/components/schemas/PaymentSummary"
    DRIPSettings:
      $ref: "stock-dividends-schemas.yaml#/components/schemas/DRIPSettings"
    DRIPStockSettings:
      $ref: "stock-dividends-schemas.yaml#/components/schemas/DRIPStockSettings"
    DRIPSettingsUpdate:
      $ref: "stock-dividends-schemas.yaml#/components/schemas/DRIPSettingsUpdate"

