openapi: 3.0.3
info:
  title: Stock Events Service API
  description: |
    API для управления влиянием игровых событий на котировки акций.

    Функционал:
    - Отслеживание активных воздействий событий на акции
    - История влияния событий на цены
    - Симуляция влияния событий (admin)
    - Применение событий вручную (admin)
    - Интеграция с quest-service, economy-events, faction wars
  version: 1.0.0
  contact:
    name: Economy Team
    email: economy@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production
  - url: https://api-stage.necp.game/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: events
    description: Операции с биржевыми событиями
  - name: impacts
    description: Воздействия событий на акции
  - name: admin
    description: Административные операции

paths:
  /stocks/{stock_id}/events/impacts:
    get:
      tags:
        - impacts
      summary: Получить активные воздействия на акцию
      description: |
        Возвращает все активные события, влияющие на цену акции.
        Включает базовый эффект, модификаторы, длительность и decay curve.
      operationId: getStockEventImpacts
      security:
        - BearerAuth: []
      parameters:
        - name: stock_id
          in: path
          required: true
          description: ID акции
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          description: Фильтр по статусу
          schema:
            type: string
            enum: [active, expired, reversed]
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Активные воздействия успешно получены
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "stock-events-schemas.yaml#/components/schemas/EventImpact"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
                  summary:
                    $ref: "stock-events-schemas.yaml#/components/schemas/ImpactSummary"
              example:
                data:
                  - id: "e1234567-89ab-cdef-0123-456789abcdef"
                    stock_id: "550e8400-e29b-41d4-a716-446655440000"
                    stock_symbol: "ARASAKA"
                    event_type: "quest_completed"
                    event_id: "q9876543-21ba-fedc-0123-456789abcdef"
                    event_name: "Corpo Sabotage"
                    base_impact_percent: -15.0
                    modifiers:
                      - type: "player_participation"
                        value: 1250
                        effect_percent: -5.0
                      - type: "sector_synergy"
                        value: "security"
                        effect_percent: -2.0
                    total_impact_percent: -22.0
                    duration_type: "short_term"
                    duration_hours: 168
                    decay_curve: "linear"
                    applied_at: "2025-11-26T10:00:00Z"
                    expires_at: "2025-12-03T10:00:00Z"
                    current_effect_percent: -18.5
                    status: "active"
                    created_at: "2025-11-26T10:00:00Z"
                    updated_at: "2025-11-27T10:00:00Z"
                pagination:
                  total: 3
                  limit: 10
                  offset: 0
                summary:
                  total_active_impacts: 3
                  combined_effect_percent: -28.5
                  strongest_positive: 0
                  strongest_negative: -22.0
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /stocks/{stock_id}/events/history:
    get:
      tags:
        - events
      summary: Получить историю событий акции
      description: |
        Возвращает все события (активные и завершенные), 
        влиявшие на акцию за указанный период.
      operationId: getStockEventHistory
      security:
        - BearerAuth: []
      parameters:
        - name: stock_id
          in: path
          required: true
          description: ID акции
          schema:
            type: string
            format: uuid
        - name: event_type
          in: query
          required: false
          description: Фильтр по типу события
          schema:
            type: string
            enum:
              - quest_completed
              - faction_war
              - territory_control
              - corporate_scandal
              - tech_breakthrough
              - economic_event
        - name: from_date
          in: query
          required: false
          description: Начало периода (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: to_date
          in: query
          required: false
          description: Конец периода (ISO 8601)
          schema:
            type: string
            format: date-time
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: История событий успешно получена
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "stock-events-schemas.yaml#/components/schemas/StockEventHistoryEntry"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
              example:
                data:
                  - id: "e1234567-89ab-cdef-0123-456789abcdef"
                    stock_id: "550e8400-e29b-41d4-a716-446655440000"
                    stock_symbol: "ARASAKA"
                    event_type: "quest_completed"
                    event_id: "q9876543-21ba-fedc-0123-456789abcdef"
                    event_name: "Corpo Sabotage"
                    total_impact_percent: -22.0
                    price_before: 1250.50
                    price_after: 975.39
                    price_change_percent: -22.0
                    applied_at: "2025-11-26T10:00:00Z"
                    expired_at: null
                    status: "active"
                pagination:
                  total: 45
                  limit: 10
                  offset: 0
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /events/impacts/active:
    get:
      tags:
        - impacts
      summary: Получить все активные воздействия
      description: |
        Возвращает все активные воздействия событий на все акции.
        Полезно для мониторинга и аналитики.
      operationId: getAllActiveImpacts
      security:
        - BearerAuth: []
      parameters:
        - name: event_type
          in: query
          required: false
          description: Фильтр по типу события
          schema:
            type: string
            enum:
              - quest_completed
              - faction_war
              - territory_control
              - corporate_scandal
              - tech_breakthrough
              - economic_event
        - name: min_impact
          in: query
          required: false
          description: Минимальное влияние (%) для фильтра
          schema:
            type: number
            format: double
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Активные воздействия успешно получены
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "stock-events-schemas.yaml#/components/schemas/EventImpact"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /admin/stocks/events/simulate:
    post:
      tags:
        - admin
      summary: Симулировать влияние события
      description: |
        Админ endpoint для симуляции влияния события на акцию.
        Не применяет изменения, только рассчитывает эффект.
        Требуется роль admin.
      operationId: simulateEventImpact
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "stock-events-schemas.yaml#/components/schemas/EventSimulationRequest"
            example:
              stock_id: "550e8400-e29b-41d4-a716-446655440000"
              event_type: "quest_completed"
              base_impact_percent: -15.0
              modifiers:
                - type: "player_participation"
                  value: 1250
                - type: "sector_synergy"
                  value: "security"
              duration_type: "short_term"
      responses:
        "200":
          description: Симуляция выполнена успешно
          content:
            application/json:
              schema:
                $ref: "stock-events-schemas.yaml#/components/schemas/EventSimulationResult"
              example:
                stock_id: "550e8400-e29b-41d4-a716-446655440000"
                stock_symbol: "ARASAKA"
                current_price: 1250.50
                base_impact_percent: -15.0
                calculated_modifiers:
                  - type: "player_participation"
                    value: 1250
                    effect_percent: -5.0
                  - type: "sector_synergy"
                    value: "security"
                    effect_percent: -2.0
                total_impact_percent: -22.0
                projected_price: 975.39
                price_change: -275.11
                duration_hours: 168
                decay_curve: "linear"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /admin/stocks/events/apply:
    post:
      tags:
        - admin
      summary: Применить событие вручную
      description: |
        Админ endpoint для ручного применения события к акции.
        Обновляет цену и создает impact запись.
        Требуется роль admin.
      operationId: applyEventImpact
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "stock-events-schemas.yaml#/components/schemas/EventApplicationRequest"
            example:
              stock_id: "550e8400-e29b-41d4-a716-446655440000"
              event_type: "corporate_scandal"
              event_id: "manual-scandal-2025-11-26"
              event_name: "Data Breach Exposed"
              base_impact_percent: -30.0
              modifiers:
                - type: "media_coverage"
                  value: "high"
              duration_type: "long_term"
              decay_curve: "exponential"
              reason: "Manual intervention for story event"
      responses:
        "201":
          description: Событие успешно применено
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventImpact"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /admin/stocks/events/{impact_id}/reverse:
    post:
      tags:
        - admin
      summary: Откатить воздействие события
      description: |
        Админ endpoint для отмены воздействия события.
        Восстанавливает цену и помечает impact как reversed.
        Требуется роль admin.
      operationId: reverseEventImpact
      security:
        - BearerAuth: []
      parameters:
        - name: impact_id
          in: path
          required: true
          description: ID воздействия для отката
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
                  description: Причина отката
                  minLength: 10
              example:
                reason: "Event was applied incorrectly, rolling back"
      responses:
        "200":
          description: Воздействие успешно откачено
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  impact_id:
                    type: string
                    format: uuid
                  stock_id:
                    type: string
                    format: uuid
                  price_restored:
                    type: number
                    format: double
                example:
                  message: "Event impact reversed successfully"
                  impact_id: "e1234567-89ab-cdef-0123-456789abcdef"
                  stock_id: "550e8400-e29b-41d4-a716-446655440000"
                  price_restored: 1250.50
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      $ref: "common.yaml#/components/securitySchemes/BearerAuth"

  schemas:
    EventImpact:
      $ref: "stock-events-schemas.yaml#/components/schemas/EventImpact"
    StockEventHistoryEntry:
      $ref: "stock-events-schemas.yaml#/components/schemas/StockEventHistoryEntry"
    EventType:
      $ref: "stock-events-schemas.yaml#/components/schemas/EventType"
    DurationType:
      $ref: "stock-events-schemas.yaml#/components/schemas/DurationType"
    DecayCurve:
      $ref: "stock-events-schemas.yaml#/components/schemas/DecayCurve"
    EventModifier:
      $ref: "stock-events-schemas.yaml#/components/schemas/EventModifier"
    ImpactSummary:
      $ref: "stock-events-schemas.yaml#/components/schemas/ImpactSummary"
    EventSimulationRequest:
      $ref: "stock-events-schemas.yaml#/components/schemas/EventSimulationRequest"
    EventSimulationResult:
      $ref: "stock-events-schemas.yaml#/components/schemas/EventSimulationResult"
    EventApplicationRequest:
      $ref: "stock-events-schemas.yaml#/components/schemas/EventApplicationRequest"


