openapi: 3.0.3
info:
  title: Stock Indices Service API
  description: |
    API для управления фондовыми индексами.

    Функционал:
    - Список индексов (CORP100, NC50, региональные, секторные)
    - История значений индексов
    - Состав индексов (constituents)
    - Ребаланс индексов (admin)
    - Интеграция с analytics, index funds
  version: 1.0.0
  contact:
    name: Economy Team
    email: economy@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production
  - url: https://api-stage.necp.game/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: indices
    description: Операции с фондовыми индексами
  - name: constituents
    description: Состав индексов
  - name: admin
    description: Административные операции

paths:
  /stocks/indices:
    get:
      tags:
        - indices
      summary: Получить список всех индексов
      description: |
        Возвращает все фондовые индексы с текущими значениями.
        Включает глобальные, региональные и секторные индексы.
      operationId: getAllIndices
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: query
          required: false
          description: Фильтр по типу индекса
          schema:
            type: string
            enum:
              - global
              - regional
              - sector
      responses:
        "200":
          description: Список индексов успешно получен
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "stock-indices-schemas.yaml#/components/schemas/StockIndex"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /stocks/indices/{code}:
    get:
      tags:
        - indices
      summary: Получить данные индекса
      description: |
        Возвращает детальную информацию о конкретном индексе.
      operationId: getIndex
      security:
        - BearerAuth: []
      parameters:
        - name: code
          in: path
          required: true
          description: Код индекса (CORP100, NC50, TECH, etc.)
          schema:
            type: string
            pattern: ^[A-Z0-9]+$
          example: CORP100
      responses:
        "200":
          description: Данные индекса успешно получены
          content:
            application/json:
              schema:
                $ref: "stock-indices-schemas.yaml#/components/schemas/StockIndexDetailed"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /stocks/indices/{code}/history:
    get:
      tags:
        - indices
      summary: Получить историю значений индекса
      description: |
        Возвращает исторические значения индекса за указанный период.
      operationId: getIndexHistory
      security:
        - BearerAuth: []
      parameters:
        - name: code
          in: path
          required: true
          description: Код индекса
          schema:
            type: string
            pattern: ^[A-Z0-9]+$
        - name: from_date
          in: query
          required: false
          description: Начало периода (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: to_date
          in: query
          required: false
          description: Конец периода (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: interval
          in: query
          required: false
          description: Интервал агрегации
          schema:
            type: string
            enum:
              - 1m
              - 5m
              - 15m
              - 1h
              - 4h
              - 1d
              - 1w
            default: 1h
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: История индекса успешно получена
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "stock-indices-schemas.yaml#/components/schemas/IndexHistoryEntry"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /stocks/indices/{code}/constituents:
    get:
      tags:
        - constituents
      summary: Получить состав индекса
      description: |
        Возвращает список акций входящих в индекс с весами.
      operationId: getIndexConstituents
      security:
        - BearerAuth: []
      parameters:
        - name: code
          in: path
          required: true
          description: Код индекса
          schema:
            type: string
            pattern: ^[A-Z0-9]+$
        - name: sort_by
          in: query
          required: false
          description: Поле для сортировки
          schema:
            type: string
            enum:
              - weight
              - market_cap
              - price_change
            default: weight
        - name: order
          in: query
          required: false
          description: Порядок сортировки
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Состав индекса успешно получен
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "stock-indices-schemas.yaml#/components/schemas/IndexConstituent"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /admin/indices/{code}/rebalance:
    post:
      tags:
        - admin
      summary: Выполнить ребаланс индекса
      description: |
        Админ endpoint для ребаланса индекса.
        Пересчитывает состав и веса на основе текущей капитализации.
        Требуется роль admin.
      operationId: rebalanceIndex
      security:
        - BearerAuth: []
      parameters:
        - name: code
          in: path
          required: true
          description: Код индекса для ребаланса
          schema:
            type: string
            pattern: ^[A-Z0-9]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                effective_date:
                  type: string
                  format: date-time
                  description: Дата вступления в силу (опционально, default = now)
                max_weight:
                  type: number
                  format: double
                  description: Максимальный вес акции (%)
                  minimum: 0
                  maximum: 100
                  default: 15
                reason:
                  type: string
                  description: Причина ребаланса
      responses:
        "200":
          description: Ребаланс выполнен успешно
          content:
            application/json:
              schema:
                $ref: "stock-indices-schemas.yaml#/components/schemas/RebalanceResult"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      $ref: "common.yaml#/components/securitySchemes/BearerAuth"

