openapi: 3.0.3
info:
  title: Stock Exchange Integration Service API
  description: |
    API для интеграции фондовой биржи с игровыми системами.
 
    Функционал:
    - Webhooks от quest-service, faction-service
    - Event bus для мировых событий
    - Маппинг событий на влияние акций
    - Preview симуляция влияния событий
    - Журнал интеграционных событий
    - Admin управление маппингом
  version: 1.0.0
  contact:
    name: Economy Team
    email: economy@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production
  - url: https://api-stage.necp.game/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: webhooks
    description: Webhooks для внешних систем
  - name: events
    description: Обработка игровых событий
  - name: mapping
    description: Маппинг событий на акции
  - name: journal
    description: Журнал интеграций
  - name: admin
    description: Административные операции

paths:
  /stocks/integration/webhooks/quest:
    post:
      tags:
        - webhooks
      summary: Webhook для событий из quest-service
      description: |
        Принимает события о завершении квестов и применяет влияние на акции.
        Вызывается quest-service при завершении корпоративных квестов.
      operationId: handleQuestWebhook
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "stock-integration-schemas.yaml#/components/schemas/QuestEventPayload"
            example:
              event_id: "quest_completed_12345"
              quest_id: "corp_espionage_001"
              quest_name: "Corporate Espionage - Arasaka Tower"
              player_id: "123e4567-e89b-12d3-a456-426614174000"
              outcome: "success"
              affected_corporations:
                - corporation_id: "550e8400-e29b-41d4-a716-446655440000"
                  impact_type: "negative"
                  severity: "high"
                - corporation_id: "660e8400-e29b-41d4-a716-446655440001"
                  impact_type: "positive"
                  severity: "medium"
              timestamp: "2025-11-26T20:00:00Z"
              metadata:
                player_count: 1250
                quest_difficulty: "hard"
      responses:
        "202":
          description: Webhook принят, событие будет обработано асинхронно
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  event_id:
                    type: string
                  processing_id:
                    type: string
                    format: uuid
                  estimated_processing_time:
                    type: integer
                    description: Время обработки в секундах
                example:
                  message: "Quest event accepted for processing"
                  event_id: "quest_completed_12345"
                  processing_id: "p1234567-89ab-cdef-0123-456789abcdef"
                  estimated_processing_time: 5
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /stocks/integration/webhooks/faction:
    post:
      tags:
        - webhooks
      summary: Webhook для фракционных событий
      description: |
        Принимает события о фракционных войнах и репутации.
        Вызывается faction-service при изменении статуса войны.
      operationId: handleFactionWebhook
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "stock-integration-schemas.yaml#/components/schemas/FactionEventPayload"
            example:
              event_id: "faction_war_victory_789"
              event_type: "war_victory"
              winner_faction_id: "arasaka"
              loser_faction_id: "militech"
              territory_gained: 3
              casualty_ratio: 0.65
              timestamp: "2025-11-26T20:00:00Z"
      responses:
        "202":
          description: Webhook принят
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  event_id:
                    type: string
                  processing_id:
                    type: string
                    format: uuid
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /stocks/integration/events/world:
    post:
      tags:
        - events
      summary: Обработать мировое событие
      description: |
        Принимает глобальные игровые события (кризисы, прорывы).
        Вызывается economy-events или вручную админами.
      operationId: handleWorldEvent
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "stock-integration-schemas.yaml#/components/schemas/WorldEventPayload"
            example:
              event_id: "energy_crisis_2025"
              event_type: "economic_crisis"
              event_name: "Global Energy Crisis"
              severity: "high"
              affected_sectors:
                - sector: "energy"
                  impact_percent: -25.0
                - sector: "tech"
                  impact_percent: -10.0
              duration_hours: 336
              timestamp: "2025-11-26T20:00:00Z"
      responses:
        "202":
          description: Событие принято
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  event_id:
                    type: string
                  affected_stocks_count:
                    type: integer
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /stocks/integration/events/preview:
    post:
      tags:
        - events
      summary: Предварительный просмотр влияния события
      description: |
        Симулирует влияние события на акции без применения изменений.
        Полезно для тестирования и балансировки.
      operationId: previewEventImpact
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/QuestEventPayload"
                - $ref: "#/components/schemas/FactionEventPayload"
                - $ref: "#/components/schemas/WorldEventPayload"
            example:
              event_type: "quest_completed"
              outcome: "success"
              affected_corporations:
                - corporation_id: "550e8400-e29b-41d4-a716-446655440000"
                  impact_type: "negative"
                  severity: "high"
      responses:
        "200":
          description: Предварительный просмотр готов
          content:
            application/json:
              schema:
                $ref: "stock-integration-schemas.yaml#/components/schemas/EventPreviewResult"
              example:
                affected_stocks:
                  - stock_id: "550e8400-e29b-41d4-a716-446655440000"
                    stock_symbol: "ARASAKA"
                    current_price: 1250.50
                    projected_price: 975.39
                    impact_percent: -22.0
                    reason: "Corporate espionage quest completed"
                  - stock_id: "660e8400-e29b-41d4-a716-446655440001"
                    stock_symbol: "MILITECH"
                    current_price: 890.75
                    projected_price: 935.29
                    impact_percent: 5.0
                    reason: "Competitor weakened"
                total_market_cap_change: -2500000000.00
                indices_affected:
                  - index_code: "CORP100"
                    current_value: 15234.56
                    projected_value: 14987.23
                    change_percent: -1.62
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /stocks/integration/mapping:
    get:
      tags:
        - mapping
      summary: Получить маппинги событий на акции
      description: |
        Возвращает правила маппинга событий на влияние акций.
      operationId: getEventMappings
      security:
        - BearerAuth: []
      parameters:
        - name: event_type
          in: query
          required: false
          description: Фильтр по типу события
          schema:
            type: string
            enum:
              - quest_completed
              - faction_war
              - world_event
              - tech_breakthrough
              - corporate_scandal
        - name: corporation_id
          in: query
          required: false
          description: Фильтр по ID корпорации
          schema:
            type: string
            format: uuid
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Маппинги успешно получены
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "stock-integration-schemas.yaml#/components/schemas/EventMapping"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /stocks/integration/journal:
    get:
      tags:
        - journal
      summary: Получить журнал интеграционных событий
      description: |
        Возвращает историю обработанных событий от внешних систем.
      operationId: getIntegrationJournal
      security:
        - BearerAuth: []
      parameters:
        - name: source
          in: query
          required: false
          description: Источник события
          schema:
            type: string
            enum: [quest_service, faction_service, economy_events, manual]
        - name: status
          in: query
          required: false
          description: Статус обработки
          schema:
            type: string
            enum: [pending, processing, completed, failed]
        - name: from_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: to_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Журнал успешно получен
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "stock-integration-schemas.yaml#/components/schemas/JournalEntry"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /admin/stocks/integration/mapping:
    post:
      tags:
        - admin
      summary: Создать или обновить маппинг
      description: |
        Админ endpoint для управления правилами маппинга.
        Требуется роль admin.
      operationId: upsertEventMapping
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "stock-integration-schemas.yaml#/components/schemas/EventMappingUpsert"
      responses:
        "200":
          description: Маппинг обновлен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventMapping"
        "201":
          description: Маппинг создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventMapping"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /admin/stocks/integration/mapping/{mapping_id}:
    delete:
      tags:
        - admin
      summary: Удалить маппинг
      description: |
        Админ endpoint для удаления правила маппинга.
        Требуется роль admin.
      operationId: deleteEventMapping
      security:
        - BearerAuth: []
      parameters:
        - name: mapping_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Маппинг успешно удален
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      $ref: "common.yaml#/components/securitySchemes/BearerAuth"

  schemas:
    QuestEventPayload:
      $ref: "stock-integration-schemas.yaml#/components/schemas/QuestEventPayload"
    FactionEventPayload:
      $ref: "stock-integration-schemas.yaml#/components/schemas/FactionEventPayload"
    WorldEventPayload:
      $ref: "stock-integration-schemas.yaml#/components/schemas/WorldEventPayload"
    EventPreviewResult:
      $ref: "stock-integration-schemas.yaml#/components/schemas/EventPreviewResult"
    EventMapping:
      $ref: "stock-integration-schemas.yaml#/components/schemas/EventMapping"
    EventMappingUpsert:
      $ref: "stock-integration-schemas.yaml#/components/schemas/EventMappingUpsert"
    JournalEntry:
      $ref: "stock-integration-schemas.yaml#/components/schemas/JournalEntry"



