openapi: 3.0.3
info:
  title: Stock Indices Service API
  description: |
    API для управления фондовыми индексами.

    Функционал:
    - Список индексов (CORP100, NC50, региональные, секторные)
    - История значений индексов
    - Состав индексов (constituents)
    - Ребаланс индексов (admin)
    - Интеграция с analytics, index funds
  version: 1.0.0
  contact:
    name: Economy Team
    email: economy@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production
  - url: https://api-stage.necp.game/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: indices
    description: Операции с фондовыми индексами
  - name: constituents
    description: Состав индексов
  - name: admin
    description: Административные операции

paths:
  /stocks/indices:
    get:
      tags:
        - indices
      summary: Получить список всех индексов
      description: |
        Возвращает все фондовые индексы с текущими значениями.
        Включает глобальные, региональные и секторные индексы.
      operationId: getAllIndices
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: query
          required: false
          description: Фильтр по типу индекса
          schema:
            type: string
            enum: [global, regional, sector]
      responses:
        "200":
          description: Список индексов успешно получен
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "stock-indices-schemas.yaml#/components/schemas/StockIndex"
              example:
                data:
                  - code: "CORP100"
                    name: "Corporate 100 Index"
                    type: "global"
                    description: "100 крупнейших корпораций"
                    current_value: 15234.56
                    change_24h: 234.12
                    change_24h_percent: 1.56
                    constituents_count: 100
                    market_cap_total: 125000000000.00
                    last_rebalance: "2025-11-01T00:00:00Z"
                    updated_at: "2025-11-26T19:00:00Z"
                  - code: "NC50"
                    name: "Night City 50"
                    type: "regional"
                    description: "50 лучших корпораций Night City"
                    current_value: 8456.23
                    change_24h: -45.67
                    change_24h_percent: -0.54
                    constituents_count: 50
                    market_cap_total: 45000000000.00
                    last_rebalance: "2025-11-01T00:00:00Z"
                    updated_at: "2025-11-26T19:00:00Z"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /stocks/indices/{code}:
    get:
      tags:
        - indices
      summary: Получить данные индекса
      description: |
        Возвращает детальную информацию о конкретном индексе.
      operationId: getIndex
      security:
        - BearerAuth: []
      parameters:
        - name: code
          in: path
          required: true
          description: Код индекса (CORP100, NC50, TECH, etc.)
          schema:
            type: string
            pattern: "^[A-Z0-9]+$"
          example: "CORP100"
      responses:
        "200":
          description: Данные индекса успешно получены
          content:
            application/json:
              schema:
                $ref: "stock-indices-schemas.yaml#/components/schemas/StockIndexDetailed"
              example:
                code: "CORP100"
                name: "Corporate 100 Index"
                type: "global"
                description: "100 крупнейших корпораций по капитализации"
                calculation_method: "market_cap_weighted"
                base_value: 1000.00
                base_date: "2020-01-01T00:00:00Z"
                current_value: 15234.56
                change_24h: 234.12
                change_24h_percent: 1.56
                change_7d_percent: 3.45
                change_30d_percent: 8.23
                all_time_high: 16234.89
                all_time_low: 945.23
                constituents_count: 100
                market_cap_total: 125000000000.00
                last_rebalance: "2025-11-01T00:00:00Z"
                next_rebalance: "2026-02-01T00:00:00Z"
                rebalance_frequency: "quarterly"
                created_at: "2020-01-01T00:00:00Z"
                updated_at: "2025-11-26T19:00:00Z"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /stocks/indices/{code}/history:
    get:
      tags:
        - indices
      summary: Получить историю значений индекса
      description: |
        Возвращает исторические значения индекса за указанный период.
      operationId: getIndexHistory
      security:
        - BearerAuth: []
      parameters:
        - name: code
          in: path
          required: true
          description: Код индекса
          schema:
            type: string
            pattern: "^[A-Z0-9]+$"
        - name: from_date
          in: query
          required: false
          description: Начало периода (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: to_date
          in: query
          required: false
          description: Конец периода (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: interval
          in: query
          required: false
          description: Интервал агрегации
          schema:
            type: string
            enum: [1m, 5m, 15m, 1h, 4h, 1d, 1w]
            default: "1h"
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: История индекса успешно получена
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "stock-indices-schemas.yaml#/components/schemas/IndexHistoryEntry"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
              example:
                data:
                  - timestamp: "2025-11-26T19:00:00Z"
                    value: 15234.56
                    change: 234.12
                    change_percent: 1.56
                    volume: 125000000000.00
                  - timestamp: "2025-11-26T18:00:00Z"
                    value: 15000.44
                    change: -100.23
                    change_percent: -0.66
                    volume: 118000000000.00
                pagination:
                  total: 168
                  limit: 10
                  offset: 0
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /stocks/indices/{code}/constituents:
    get:
      tags:
        - constituents
      summary: Получить состав индекса
      description: |
        Возвращает список акций входящих в индекс с весами.
      operationId: getIndexConstituents
      security:
        - BearerAuth: []
      parameters:
        - name: code
          in: path
          required: true
          description: Код индекса
          schema:
            type: string
            pattern: "^[A-Z0-9]+$"
        - name: sort_by
          in: query
          required: false
          description: Поле для сортировки
          schema:
            type: string
            enum: [weight, market_cap, price_change]
            default: "weight"
        - name: order
          in: query
          required: false
          description: Порядок сортировки
          schema:
            type: string
            enum: [asc, desc]
            default: "desc"
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Состав индекса успешно получен
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "stock-indices-schemas.yaml#/components/schemas/IndexConstituent"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
              example:
                data:
                  - stock_id: "550e8400-e29b-41d4-a716-446655440000"
                    stock_symbol: "ARASAKA"
                    stock_name: "Arasaka Corporation"
                    weight: 12.5
                    market_cap: 15625000000.00
                    price: 1250.50
                    price_change_24h: 23.45
                    price_change_24h_percent: 1.91
                    shares_in_index: 12500000
                  - stock_id: "660e8400-e29b-41d4-a716-446655440001"
                    stock_symbol: "MILITECH"
                    stock_name: "Militech Industries"
                    weight: 10.8
                    market_cap: 13500000000.00
                    price: 890.75
                    price_change_24h: -12.30
                    price_change_24h_percent: -1.36
                    shares_in_index: 15200000
                pagination:
                  total: 100
                  limit: 10
                  offset: 0
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /admin/indices/{code}/rebalance:
    post:
      tags:
        - admin
      summary: Выполнить ребаланс индекса
      description: |
        Админ endpoint для ребаланса индекса.
        Пересчитывает состав и веса на основе текущей капитализации.
        Требуется роль admin.
      operationId: rebalanceIndex
      security:
        - BearerAuth: []
      parameters:
        - name: code
          in: path
          required: true
          description: Код индекса для ребаланса
          schema:
            type: string
            pattern: "^[A-Z0-9]+$"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                effective_date:
                  type: string
                  format: date-time
                  description: Дата вступления в силу (опционально, default = now)
                max_weight:
                  type: number
                  format: double
                  description: Максимальный вес акции (%)
                  minimum: 0
                  maximum: 100
                  default: 15.0
                reason:
                  type: string
                  description: Причина ребаланса
              example:
                effective_date: "2025-12-01T00:00:00Z"
                max_weight: 15.0
                reason: "Quarterly rebalance Q4 2025"
      responses:
        "200":
          description: Ребаланс выполнен успешно
          content:
            application/json:
              schema:
                $ref: "stock-indices-schemas.yaml#/components/schemas/RebalanceResult"
              example:
                index_code: "CORP100"
                effective_date: "2025-12-01T00:00:00Z"
                previous_value: 15234.56
                new_value: 15289.34
                divisor_adjustment: 1.0036
                added_stocks:
                  - stock_symbol: "NEWCORP"
                    weight: 0.8
                removed_stocks:
                  - stock_symbol: "OLDCORP"
                    weight: 0.5
                weight_changes:
                  - stock_symbol: "ARASAKA"
                    old_weight: 12.5
                    new_weight: 11.8
                    change: -0.7
                total_changes: 15
                executed_at: "2025-11-26T20:00:00Z"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      $ref: "common.yaml#/components/securitySchemes/BearerAuth"

  schemas:
    StockIndex:
      $ref: "stock-indices-schemas.yaml#/components/schemas/StockIndex"
    StockIndexDetailed:
      $ref: "stock-indices-schemas.yaml#/components/schemas/StockIndexDetailed"
    IndexHistoryEntry:
      $ref: "stock-indices-schemas.yaml#/components/schemas/IndexHistoryEntry"
    IndexConstituent:
      $ref: "stock-indices-schemas.yaml#/components/schemas/IndexConstituent"
    RebalanceResult:
      $ref: "stock-indices-schemas.yaml#/components/schemas/RebalanceResult"


