openapi: 3.0.3
info:
  title: Stock Events Service API
  description: |
    API для управления влиянием игровых событий на котировки акций.

    Функционал:
    - Отслеживание активных воздействий событий на акции
    - История влияния событий на цены
    - Симуляция влияния событий (admin)
    - Применение событий вручную (admin)
    - Интеграция с quest-service, economy-events, faction wars
  version: 1.0.0
  contact:
    name: Economy Team
    email: economy@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production
  - url: https://api-stage.necp.game/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: events
    description: Операции с биржевыми событиями
  - name: impacts
    description: Воздействия событий на акции
  - name: admin
    description: Административные операции

paths:
  /stocks/{stock_id}/events/impacts:
    get:
      tags:
        - impacts
      summary: Получить активные воздействия на акцию
      description: |
        Возвращает все активные события, влияющие на цену акции.
        Включает базовый эффект, модификаторы, длительность и decay curve.
      operationId: getStockEventImpacts
      security:
        - BearerAuth: []
      parameters:
        - name: stock_id
          in: path
          required: true
          description: ID акции
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          description: Фильтр по статусу
          schema:
            type: string
            enum: [active, expired, reversed]
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Активные воздействия успешно получены
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EventImpact"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
                  summary:
                    $ref: "#/components/schemas/ImpactSummary"
              example:
                data:
                  - id: "e1234567-89ab-cdef-0123-456789abcdef"
                    stock_id: "550e8400-e29b-41d4-a716-446655440000"
                    stock_symbol: "ARASAKA"
                    event_type: "quest_completed"
                    event_id: "q9876543-21ba-fedc-0123-456789abcdef"
                    event_name: "Corpo Sabotage"
                    base_impact_percent: -15.0
                    modifiers:
                      - type: "player_participation"
                        value: 1250
                        effect_percent: -5.0
                      - type: "sector_synergy"
                        value: "security"
                        effect_percent: -2.0
                    total_impact_percent: -22.0
                    duration_type: "short_term"
                    duration_hours: 168
                    decay_curve: "linear"
                    applied_at: "2025-11-26T10:00:00Z"
                    expires_at: "2025-12-03T10:00:00Z"
                    current_effect_percent: -18.5
                    status: "active"
                    created_at: "2025-11-26T10:00:00Z"
                    updated_at: "2025-11-27T10:00:00Z"
                pagination:
                  total: 3
                  limit: 10
                  offset: 0
                summary:
                  total_active_impacts: 3
                  combined_effect_percent: -28.5
                  strongest_positive: 0
                  strongest_negative: -22.0
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /stocks/{stock_id}/events/history:
    get:
      tags:
        - events
      summary: Получить историю событий акции
      description: |
        Возвращает все события (активные и завершенные), 
        влиявшие на акцию за указанный период.
      operationId: getStockEventHistory
      security:
        - BearerAuth: []
      parameters:
        - name: stock_id
          in: path
          required: true
          description: ID акции
          schema:
            type: string
            format: uuid
        - name: event_type
          in: query
          required: false
          description: Фильтр по типу события
          schema:
            type: string
            enum:
              - quest_completed
              - faction_war
              - territory_control
              - corporate_scandal
              - tech_breakthrough
              - economic_event
        - name: from_date
          in: query
          required: false
          description: Начало периода (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: to_date
          in: query
          required: false
          description: Конец периода (ISO 8601)
          schema:
            type: string
            format: date-time
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: История событий успешно получена
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/StockEventHistoryEntry"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
              example:
                data:
                  - id: "e1234567-89ab-cdef-0123-456789abcdef"
                    stock_id: "550e8400-e29b-41d4-a716-446655440000"
                    stock_symbol: "ARASAKA"
                    event_type: "quest_completed"
                    event_id: "q9876543-21ba-fedc-0123-456789abcdef"
                    event_name: "Corpo Sabotage"
                    total_impact_percent: -22.0
                    price_before: 1250.50
                    price_after: 975.39
                    price_change_percent: -22.0
                    applied_at: "2025-11-26T10:00:00Z"
                    expired_at: null
                    status: "active"
                pagination:
                  total: 45
                  limit: 10
                  offset: 0
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /events/impacts/active:
    get:
      tags:
        - impacts
      summary: Получить все активные воздействия
      description: |
        Возвращает все активные воздействия событий на все акции.
        Полезно для мониторинга и аналитики.
      operationId: getAllActiveImpacts
      security:
        - BearerAuth: []
      parameters:
        - name: event_type
          in: query
          required: false
          description: Фильтр по типу события
          schema:
            type: string
            enum:
              - quest_completed
              - faction_war
              - territory_control
              - corporate_scandal
              - tech_breakthrough
              - economic_event
        - name: min_impact
          in: query
          required: false
          description: Минимальное влияние (%) для фильтра
          schema:
            type: number
            format: double
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Активные воздействия успешно получены
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EventImpact"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /admin/stocks/events/simulate:
    post:
      tags:
        - admin
      summary: Симулировать влияние события
      description: |
        Админ endpoint для симуляции влияния события на акцию.
        Не применяет изменения, только рассчитывает эффект.
        Требуется роль admin.
      operationId: simulateEventImpact
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventSimulationRequest"
            example:
              stock_id: "550e8400-e29b-41d4-a716-446655440000"
              event_type: "quest_completed"
              base_impact_percent: -15.0
              modifiers:
                - type: "player_participation"
                  value: 1250
                - type: "sector_synergy"
                  value: "security"
              duration_type: "short_term"
      responses:
        "200":
          description: Симуляция выполнена успешно
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventSimulationResult"
              example:
                stock_id: "550e8400-e29b-41d4-a716-446655440000"
                stock_symbol: "ARASAKA"
                current_price: 1250.50
                base_impact_percent: -15.0
                calculated_modifiers:
                  - type: "player_participation"
                    value: 1250
                    effect_percent: -5.0
                  - type: "sector_synergy"
                    value: "security"
                    effect_percent: -2.0
                total_impact_percent: -22.0
                projected_price: 975.39
                price_change: -275.11
                duration_hours: 168
                decay_curve: "linear"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /admin/stocks/events/apply:
    post:
      tags:
        - admin
      summary: Применить событие вручную
      description: |
        Админ endpoint для ручного применения события к акции.
        Обновляет цену и создает impact запись.
        Требуется роль admin.
      operationId: applyEventImpact
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventApplicationRequest"
            example:
              stock_id: "550e8400-e29b-41d4-a716-446655440000"
              event_type: "corporate_scandal"
              event_id: "manual-scandal-2025-11-26"
              event_name: "Data Breach Exposed"
              base_impact_percent: -30.0
              modifiers:
                - type: "media_coverage"
                  value: "high"
              duration_type: "long_term"
              decay_curve: "exponential"
              reason: "Manual intervention for story event"
      responses:
        "201":
          description: Событие успешно применено
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventImpact"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /admin/stocks/events/{impact_id}/reverse:
    post:
      tags:
        - admin
      summary: Откатить воздействие события
      description: |
        Админ endpoint для отмены воздействия события.
        Восстанавливает цену и помечает impact как reversed.
        Требуется роль admin.
      operationId: reverseEventImpact
      security:
        - BearerAuth: []
      parameters:
        - name: impact_id
          in: path
          required: true
          description: ID воздействия для отката
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
                  description: Причина отката
                  minLength: 10
              example:
                reason: "Event was applied incorrectly, rolling back"
      responses:
        "200":
          description: Воздействие успешно откачено
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  impact_id:
                    type: string
                    format: uuid
                  stock_id:
                    type: string
                    format: uuid
                  price_restored:
                    type: number
                    format: double
                example:
                  message: "Event impact reversed successfully"
                  impact_id: "e1234567-89ab-cdef-0123-456789abcdef"
                  stock_id: "550e8400-e29b-41d4-a716-446655440000"
                  price_restored: 1250.50
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      $ref: "common.yaml#/components/securitySchemes/BearerAuth"

  schemas:
    EventImpact:
      type: object
      description: Воздействие события на акцию
      required:
        - id
        - stock_id
        - stock_symbol
        - event_type
        - event_id
        - event_name
        - base_impact_percent
        - total_impact_percent
        - duration_type
        - duration_hours
        - decay_curve
        - applied_at
        - status
      properties:
        id:
          type: string
          format: uuid
          description: ID воздействия
        stock_id:
          type: string
          format: uuid
          description: ID акции
        stock_symbol:
          type: string
          description: Тикер акции
        event_type:
          $ref: "#/components/schemas/EventType"
        event_id:
          type: string
          description: ID источника события (quest_id, war_id, etc.)
        event_name:
          type: string
          description: Название события
        base_impact_percent:
          type: number
          format: double
          description: Базовое влияние на цену (%)
        modifiers:
          type: array
          description: Модификаторы воздействия
          items:
            $ref: "#/components/schemas/EventModifier"
        total_impact_percent:
          type: number
          format: double
          description: Итоговое влияние с модификаторами (%)
        duration_type:
          $ref: "#/components/schemas/DurationType"
        duration_hours:
          type: integer
          minimum: 0
          description: Длительность в часах
        decay_curve:
          $ref: "#/components/schemas/DecayCurve"
        applied_at:
          type: string
          format: date-time
          description: Время применения
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Время истечения
        current_effect_percent:
          type: number
          format: double
          description: Текущий эффект с учетом decay
        status:
          type: string
          enum: [active, expired, reversed]
          description: Статус воздействия
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    StockEventHistoryEntry:
      type: object
      description: Запись в истории событий акции
      required:
        - id
        - stock_id
        - stock_symbol
        - event_type
        - event_id
        - event_name
        - total_impact_percent
        - price_before
        - price_after
        - price_change_percent
        - applied_at
        - status
      properties:
        id:
          type: string
          format: uuid
        stock_id:
          type: string
          format: uuid
        stock_symbol:
          type: string
        event_type:
          $ref: "#/components/schemas/EventType"
        event_id:
          type: string
        event_name:
          type: string
        total_impact_percent:
          type: number
          format: double
        price_before:
          type: number
          format: double
          description: Цена до события
        price_after:
          type: number
          format: double
          description: Цена после события
        price_change_percent:
          type: number
          format: double
          description: Фактическое изменение цены (%)
        applied_at:
          type: string
          format: date-time
        expired_at:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
          enum: [active, expired, reversed]

    EventType:
      type: string
      enum:
        - quest_completed
        - faction_war
        - territory_control
        - corporate_scandal
        - tech_breakthrough
        - economic_event
      description: |
        Типы событий:
        - quest_completed: Завершение квеста
        - faction_war: Фракционная война
        - territory_control: Смена контроля территории
        - corporate_scandal: Корпоративный скандал
        - tech_breakthrough: Технологический прорыв
        - economic_event: Экономическое событие (кризис, подъем)

    DurationType:
      type: string
      enum: [instant, short_term, long_term, permanent]
      description: |
        Длительность воздействия:
        - instant: Мгновенное (с частичным откатом)
        - short_term: Краткосрочное (~1 неделя)
        - long_term: Долгосрочное (несколько недель)
        - permanent: Перманентное (банкротство, делистинг)

    DecayCurve:
      type: string
      enum: [none, linear, exponential]
      description: |
        Кривая затухания эффекта:
        - none: Без затухания (permanent)
        - linear: Линейное затухание
        - exponential: Экспоненциальное затухание

    EventModifier:
      type: object
      description: Модификатор воздействия события
      required:
        - type
        - value
        - effect_percent
      properties:
        type:
          type: string
          enum:
            - player_participation
            - sector_synergy
            - company_size
            - media_coverage
            - market_volatility
          description: |
            Тип модификатора:
            - player_participation: Количество участников
            - sector_synergy: Синергия с сектором
            - company_size: Размер компании
            - media_coverage: Медиа освещенность
            - market_volatility: Волатильность рынка
        value:
          oneOf:
            - type: string
            - type: number
          description: Значение модификатора (число или enum)
        effect_percent:
          type: number
          format: double
          description: Эффект модификатора (%)

    ImpactSummary:
      type: object
      description: Сводка по воздействиям на акцию
      properties:
        total_active_impacts:
          type: integer
          description: Количество активных воздействий
        combined_effect_percent:
          type: number
          format: double
          description: Суммарный эффект всех воздействий
        strongest_positive:
          type: number
          format: double
          description: Самое сильное положительное воздействие
        strongest_negative:
          type: number
          format: double
          description: Самое сильное отрицательное воздействие

    EventSimulationRequest:
      type: object
      description: Запрос симуляции события
      required:
        - stock_id
        - event_type
        - base_impact_percent
        - duration_type
      properties:
        stock_id:
          type: string
          format: uuid
        event_type:
          $ref: "#/components/schemas/EventType"
        base_impact_percent:
          type: number
          format: double
        modifiers:
          type: array
          items:
            type: object
            required:
              - type
              - value
            properties:
              type:
                type: string
              value:
                oneOf:
                  - type: string
                  - type: number
        duration_type:
          $ref: "#/components/schemas/DurationType"

    EventSimulationResult:
      type: object
      description: Результат симуляции события
      properties:
        stock_id:
          type: string
          format: uuid
        stock_symbol:
          type: string
        current_price:
          type: number
          format: double
        base_impact_percent:
          type: number
          format: double
        calculated_modifiers:
          type: array
          items:
            $ref: "#/components/schemas/EventModifier"
        total_impact_percent:
          type: number
          format: double
        projected_price:
          type: number
          format: double
        price_change:
          type: number
          format: double
        duration_hours:
          type: integer
        decay_curve:
          $ref: "#/components/schemas/DecayCurve"

    EventApplicationRequest:
      type: object
      description: Запрос применения события
      required:
        - stock_id
        - event_type
        - event_id
        - event_name
        - base_impact_percent
        - duration_type
        - decay_curve
      properties:
        stock_id:
          type: string
          format: uuid
        event_type:
          $ref: "#/components/schemas/EventType"
        event_id:
          type: string
          description: ID источника события
        event_name:
          type: string
          description: Название события
        base_impact_percent:
          type: number
          format: double
        modifiers:
          type: array
          items:
            type: object
            required:
              - type
              - value
            properties:
              type:
                type: string
              value:
                oneOf:
                  - type: string
                  - type: number
        duration_type:
          $ref: "#/components/schemas/DurationType"
        decay_curve:
          $ref: "#/components/schemas/DecayCurve"
        reason:
          type: string
          description: Причина ручного применения


