openapi: 3.0.3
info:
  title: Stock Integration Webhooks Service API
  description: API для webhooks от внешних систем (quest-service, faction-service)
  version: 1.0.0
  contact:
    name: Economy Team
    email: economy@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production
  - url: https://api-stage.necp.game/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: webhooks
    description: Webhooks для внешних систем

paths:
  /stocks/integration/webhooks/quest:
    post:
      tags:
        - webhooks
      summary: Webhook для событий из quest-service
      description: |
        Принимает события о завершении квестов и применяет влияние на акции.
        Вызывается quest-service при завершении корпоративных квестов.
      operationId: handleQuestWebhook
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuestEventPayload"
      responses:
        "202":
          description: Webhook принят, событие будет обработано асинхронно
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  event_id:
                    type: string
                  processing_id:
                    type: string
                    format: uuid
                  estimated_processing_time:
                    type: integer
                    description: Время обработки в секундах
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /stocks/integration/webhooks/faction:
    post:
      tags:
        - webhooks
      summary: Webhook для событий из faction-service
      description: |
        Принимает события о фракционных войнах и изменениях территорий.
        Вызывается faction-service при завершении войн или смене контроля.
      operationId: handleFactionWebhook
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FactionEventPayload"
      responses:
        "202":
          description: Webhook принят, событие будет обработано асинхронно
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  event_id:
                    type: string
                  processing_id:
                    type: string
                    format: uuid
                  estimated_processing_time:
                    type: integer
                    description: Время обработки в секундах
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      $ref: "common.yaml#/components/securitySchemes/BearerAuth"

  schemas:
    QuestEventPayload:
      type: object
      description: Событие из quest-service
      required:
        - event_id
        - quest_id
        - quest_name
        - player_id
        - outcome
        - affected_corporations
        - timestamp
      properties:
        event_id:
          type: string
          description: ID события
        quest_id:
          type: string
          description: ID квеста
        quest_name:
          type: string
          description: Название квеста
        player_id:
          type: string
          format: uuid
          description: ID игрока
        outcome:
          type: string
          enum: [success, failure, partial]
          description: Результат квеста
        affected_corporations:
          type: array
          description: Затронутые корпорации
          items:
            type: object
            required:
              - corporation_id
              - impact_type
              - severity
            properties:
              corporation_id:
                type: string
                format: uuid
              impact_type:
                type: string
                enum: [positive, negative, neutral]
              severity:
                type: string
                enum: [low, medium, high, critical]
        timestamp:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
          description: Дополнительная информация

    FactionEventPayload:
      type: object
      description: Событие из faction-service
      required:
        - event_id
        - event_type
        - timestamp
      properties:
        event_id:
          type: string
        event_type:
          type: string
          enum:
            - war_started
            - war_victory
            - war_defeat
            - territory_captured
            - territory_lost
            - reputation_change
        winner_faction_id:
          type: string
          description: ID победившей фракции
        loser_faction_id:
          type: string
          description: ID проигравшей фракции
        territory_gained:
          type: integer
          description: Количество захваченных территорий
        territory_lost:
          type: integer
          description: Количество потерянных территорий
        casualty_ratio:
          type: number
          format: double
          description: Соотношение потерь (0-1)
        timestamp:
          type: string
          format: date-time

