openapi: 3.0.3
info:
  title: Stock Dividends Service API
  description: API for managing stock dividends, DRIP settings, and payout processing in the Night City economy system
  version: 1.0.0
  contact:
    name: NECP Game Economy Team
    email: economy@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production server
  - url: https://staging-api.necp.game/v1
    description: Staging server

security:
  - BearerAuth: []

paths:
  /stocks/{stock_id}/dividends/schedule:
    get:
      summary: Get dividend schedule for a stock
      description: Retrieve the dividend schedule and upcoming payments for a specific stock
      tags:
        - Dividends
      parameters:
        - $ref: '#/components/parameters/StockId'
      responses:
        '200':
          description: Successful response with dividend schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DividendScheduleResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalError'

  /players/{player_id}/dividends/payments:
    get:
      summary: Get dividend payment history for a player
      description: Retrieve the history of dividend payments received by a player
      tags:
        - Dividends
      parameters:
        - $ref: '#/components/parameters/PlayerId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Successful response with payment history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DividendPaymentsResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalError'

  /players/{player_id}/dividends/drip:
    get:
      summary: Get DRIP settings for a player
      description: Retrieve current Dividend Reinvestment Plan settings for a player
      tags:
        - DRIP
      parameters:
        - $ref: '#/components/parameters/PlayerId'
      responses:
        '200':
          description: Successful response with DRIP settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DRIPSettings'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalError'
    put:
      summary: Update DRIP settings for a player
      description: Update Dividend Reinvestment Plan settings for a player
      tags:
        - DRIP
      parameters:
        - $ref: '#/components/parameters/PlayerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DRIPSettingsUpdate'
      responses:
        '200':
          description: DRIP settings updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DRIPSettings'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalError'

  /admin/dividends/schedules:
    post:
      summary: Create dividend schedule (Admin)
      description: Create a new dividend schedule for a corporation (admin only)
      tags:
        - Admin
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDividendScheduleRequest'
      responses:
        '201':
          description: Dividend schedule created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DividendSchedule'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '500':
          $ref: '#/components/responses/InternalError'

  /admin/dividends/process:
    post:
      summary: Process dividend payments (Admin/Cron)
      description: Process dividend payments for all eligible shareholders (admin/cron only)
      tags:
        - Admin
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessDividendsRequest'
      responses:
        '200':
          description: Dividend payments processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessDividendsResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    StockId:
      name: stock_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Unique identifier of the stock
    PlayerId:
      name: player_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Unique identifier of the player
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Maximum number of items to return
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Number of items to skip

  schemas:
    DividendSchedule:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the dividend schedule
        stock_id:
          type: string
          format: uuid
          description: ID of the stock
        frequency:
          type: string
          enum: [quarterly, annual, special]
          description: Frequency of dividend payments
        amount_per_share:
          type: number
          format: float
          minimum: 0
          description: Dividend amount per share
        declaration_date:
          type: string
          format: date-time
          description: Date when dividend was declared
        ex_dividend_date:
          type: string
          format: date-time
          description: Date when stock trades without dividend rights
        record_date:
          type: string
          format: date-time
          description: Date when shareholders are recorded
        payment_date:
          type: string
          format: date-time
          description: Date when dividends are paid
        status:
          type: string
          enum: [announced, ex_dividend, record, paid]
          description: Current status of the dividend schedule
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - stock_id
        - frequency
        - amount_per_share
        - declaration_date
        - ex_dividend_date
        - record_date
        - payment_date
        - status

    DividendPayment:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the payment
        player_id:
          type: string
          format: uuid
          description: ID of the player receiving payment
        stock_id:
          type: string
          format: uuid
          description: ID of the stock
        shares_owned:
          type: integer
          minimum: 0
          description: Number of shares owned by player
        dividend_per_share:
          type: number
          format: float
          minimum: 0
          description: Dividend amount per share
        gross_amount:
          type: number
          format: float
          minimum: 0
          description: Total dividend amount before taxes
        tax_rate:
          type: number
          format: float
          minimum: 0
          maximum: 1
          default: 0.15
          description: Tax rate applied (15% default)
        tax_amount:
          type: number
          format: float
          minimum: 0
          description: Amount withheld for taxes
        net_amount:
          type: number
          format: float
          minimum: 0
          description: Net amount paid after taxes
        drip_applied:
          type: boolean
          default: false
          description: Whether DRIP was applied to this payment
        drip_shares_purchased:
          type: integer
          minimum: 0
          description: Number of additional shares purchased via DRIP
        payment_date:
          type: string
          format: date-time
          description: Date when payment was processed
        schedule_id:
          type: string
          format: uuid
          description: ID of the dividend schedule
      required:
        - id
        - player_id
        - stock_id
        - shares_owned
        - dividend_per_share
        - gross_amount
        - tax_amount
        - net_amount
        - payment_date
        - schedule_id

    DRIPSettings:
      type: object
      properties:
        player_id:
          type: string
          format: uuid
          description: ID of the player
        enabled:
          type: boolean
          default: false
          description: Whether DRIP is enabled
        minimum_threshold:
          type: number
          format: float
          minimum: 0
          default: 10.0
          description: Minimum dividend amount to trigger DRIP
        reinvest_tax_credits:
          type: boolean
          default: true
          description: Whether to reinvest tax credits
        preferred_stocks:
          type: array
          items:
            type: string
            format: uuid
          description: List of preferred stock IDs for reinvestment
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - player_id
        - enabled

    DRIPSettingsUpdate:
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether DRIP is enabled
        minimum_threshold:
          type: number
          format: float
          minimum: 0
          description: Minimum dividend amount to trigger DRIP
        reinvest_tax_credits:
          type: boolean
          description: Whether to reinvest tax credits
        preferred_stocks:
          type: array
          items:
            type: string
            format: uuid
          description: List of preferred stock IDs for reinvestment
      required:
        - enabled

    CreateDividendScheduleRequest:
      type: object
      properties:
        stock_id:
          type: string
          format: uuid
          description: ID of the stock
        frequency:
          type: string
          enum: [quarterly, annual, special]
          description: Frequency of dividend payments
        amount_per_share:
          type: number
          format: float
          minimum: 0
          description: Dividend amount per share
        declaration_date:
          type: string
          format: date-time
          description: Date when dividend was declared
        ex_dividend_date:
          type: string
          format: date-time
          description: Date when stock trades without dividend rights
        record_date:
          type: string
          format: date-time
          description: Date when shareholders are recorded
        payment_date:
          type: string
          format: date-time
          description: Date when dividends are paid
      required:
        - stock_id
        - frequency
        - amount_per_share
        - declaration_date
        - ex_dividend_date
        - record_date
        - payment_date

    ProcessDividendsRequest:
      type: object
      properties:
        schedule_ids:
          type: array
          items:
            type: string
            format: uuid
          description: List of dividend schedule IDs to process
        process_date:
          type: string
          format: date-time
          description: Date to use for processing (defaults to current time)
        dry_run:
          type: boolean
          default: false
          description: Whether to perform dry run without actual payments
      required:
        - schedule_ids

    ProcessDividendsResponse:
      type: object
      properties:
        processed_schedules:
          type: integer
          minimum: 0
          description: Number of schedules processed
        total_payments:
          type: integer
          minimum: 0
          description: Total number of payments made
        total_amount_paid:
          type: number
          format: float
          minimum: 0
          description: Total amount paid across all dividends
        total_tax_withheld:
          type: number
          format: float
          minimum: 0
          description: Total tax amount withheld
        drip_applications:
          type: integer
          minimum: 0
          description: Number of DRIP applications
        errors:
          type: array
          items:
            type: string
          description: List of error messages if any
        processed_at:
          type: string
          format: date-time
          description: Timestamp when processing was completed
      required:
        - processed_schedules
        - total_payments
        - total_amount_paid
        - total_tax_withheld
        - drip_applications
        - errors
        - processed_at

    DividendScheduleResponse:
      type: object
      properties:
        schedule:
          $ref: '#/components/schemas/DividendSchedule'
        upcoming_payments:
          type: array
          items:
            $ref: '#/components/schemas/DividendSchedule'
          description: List of upcoming dividend schedules

    DividendPaymentsResponse:
      type: object
      properties:
        payments:
          type: array
          items:
            $ref: '#/components/schemas/DividendPayment'
        pagination:
          $ref: '#/components/schemas/PaginationInfo'
        summary:
          $ref: '#/components/schemas/PaymentSummary'

    PaymentSummary:
      type: object
      properties:
        total_payments:
          type: integer
          minimum: 0
          description: Total number of payments
        total_gross_amount:
          type: number
          format: float
          minimum: 0
          description: Total gross dividend amount
        total_tax_amount:
          type: number
          format: float
          minimum: 0
          description: Total tax withheld
        total_net_amount:
          type: number
          format: float
          minimum: 0
          description: Total net amount paid
        total_drip_shares:
          type: integer
          minimum: 0
          description: Total shares purchased via DRIP
      required:
        - total_payments
        - total_gross_amount
        - total_tax_amount
        - total_net_amount
        - total_drip_shares

    PaginationInfo:
      type: object
      properties:
        limit:
          type: integer
          minimum: 1
        offset:
          type: integer
          minimum: 0
        total:
          type: integer
          minimum: 0
          description: Total number of items available
      required:
        - limit
        - offset
        - total

    Error:
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: object
          description: Additional error details
      required:
        - code
        - message

  responses:
    BadRequestError:
      description: Bad request - invalid input parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'