openapi: 3.0.3
info:
  title: Stock Events Service API
  description: |
    API для управления влиянием игровых событий на котировки акций.

    Функционал:
    - Отслеживание активных воздействий событий на акции
    - История влияния событий на цены
    - Симуляция влияния событий (admin)
    - Применение событий вручную (admin)
    - Интеграция с quest-service, economy-events, faction wars
  version: 1.0.0
  contact:
    name: Economy Team
    email: economy@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production
  - url: https://api-stage.necp.game/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: events
    description: Операции с биржевыми событиями
  - name: impacts
    description: Воздействия событий на акции
  - name: admin
    description: Административные операции

paths:
  /stocks/{stock_id}/events/impacts:
    get:
      tags:
        - impacts
      summary: Получить активные воздействия на акцию
      description: |
        Возвращает все активные события, влияющие на цену акции.
        Включает базовый эффект, модификаторы, длительность и decay curve.
      operationId: getStockEventImpacts
      security:
        - BearerAuth: []
      parameters:
        - name: stock_id
          in: path
          required: true
          description: ID акции
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          description: Фильтр по статусу
          schema:
            type: string
            enum:
              - active
              - expired
              - reversed
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Активные воздействия успешно получены
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "stock-events-schemas.yaml#/components/schemas/EventImpact"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
                  summary:
                    $ref: "stock-events-schemas.yaml#/components/schemas/ImpactSummary"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /stocks/{stock_id}/events/history:
    get:
      tags:
        - events
      summary: Получить историю событий акции
      description: |
        Возвращает все события (активные и завершенные), 
        влиявшие на акцию за указанный период.
      operationId: getStockEventHistory
      security:
        - BearerAuth: []
      parameters:
        - name: stock_id
          in: path
          required: true
          description: ID акции
          schema:
            type: string
            format: uuid
        - name: event_type
          in: query
          required: false
          description: Фильтр по типу события
          schema:
            type: string
            enum:
              - quest_completed
              - faction_war
              - territory_control
              - corporate_scandal
              - tech_breakthrough
              - economic_event
        - name: from_date
          in: query
          required: false
          description: Начало периода (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: to_date
          in: query
          required: false
          description: Конец периода (ISO 8601)
          schema:
            type: string
            format: date-time
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: История событий успешно получена
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "stock-events-schemas.yaml#/components/schemas/StockEventHistoryEntry"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /events/impacts/active:
    get:
      tags:
        - impacts
      summary: Получить все активные воздействия
      description: |
        Возвращает все активные воздействия событий на все акции.
        Полезно для мониторинга и аналитики.
      operationId: getAllActiveImpacts
      security:
        - BearerAuth: []
      parameters:
        - name: event_type
          in: query
          required: false
          description: Фильтр по типу события
          schema:
            type: string
            enum:
              - quest_completed
              - faction_war
              - territory_control
              - corporate_scandal
              - tech_breakthrough
              - economic_event
        - name: min_impact
          in: query
          required: false
          description: Минимальное влияние (%) для фильтра
          schema:
            type: number
            format: double
        - $ref: "common.yaml#/components/parameters/Limit"
        - $ref: "common.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Активные воздействия успешно получены
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "stock-events-schemas.yaml#/components/schemas/EventImpact"
                  pagination:
                    $ref: "common.yaml#/components/schemas/PaginationResponse"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /admin/stocks/events/simulate:
    post:
      tags:
        - admin
      summary: Симулировать влияние события
      description: |
        Админ endpoint для симуляции влияния события на акцию.
        Не применяет изменения, только рассчитывает эффект.
        Требуется роль admin.
      operationId: simulateEventImpact
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "stock-events-schemas.yaml#/components/schemas/EventSimulationRequest"
      responses:
        "200":
          description: Симуляция выполнена успешно
          content:
            application/json:
              schema:
                $ref: "stock-events-schemas.yaml#/components/schemas/EventSimulationResult"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /admin/stocks/events/apply:
    post:
      tags:
        - admin
      summary: Применить событие вручную
      description: |
        Админ endpoint для ручного применения события к акции.
        Обновляет цену и создает impact запись.
        Требуется роль admin.
      operationId: applyEventImpact
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "stock-events-schemas.yaml#/components/schemas/EventApplicationRequest"
      responses:
        "201":
          description: Событие успешно применено
          content:
            application/json:
              schema:
                $ref: "stock-events-schemas.yaml#/components/schemas/EventImpact"
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

  /admin/stocks/events/{impact_id}/reverse:
    post:
      tags:
        - admin
      summary: Откатить воздействие события
      description: |
        Админ endpoint для отмены воздействия события.
        Восстанавливает цену и помечает impact как reversed.
        Требуется роль admin.
      operationId: reverseEventImpact
      security:
        - BearerAuth: []
      parameters:
        - name: impact_id
          in: path
          required: true
          description: ID воздействия для отката
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
                  description: Причина отката
                  minLength: 10
      responses:
        "200":
          description: Воздействие успешно откачено
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  impact_id:
                    type: string
                    format: uuid
                  stock_id:
                    type: string
                    format: uuid
                  price_restored:
                    type: number
                    format: double
        "400":
          $ref: "common.yaml#/components/responses/BadRequest"
        "401":
          $ref: "common.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "common.yaml#/components/responses/Forbidden"
        "404":
          $ref: "common.yaml#/components/responses/NotFound"
        "500":
          $ref: "common.yaml#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      $ref: "common.yaml#/components/securitySchemes/BearerAuth"

