# Issue: #131

openapi: 3.0.3
info:
  title: P2P Trade Service API
  description: |
    API для прямого обмена предметами и валютой между игроками.
    
    Функциональность:
    - Инициация торговли между игроками
    - Управление предложениями
    - Двухстороннее подтверждение
    - Атомарная передача предметов
    - Антифрод защита
  version: 1.0.0

servers:
  - url: https://api.necp.game/api/v1
  - url: http://localhost:8085/api/v1

security:
  - BearerAuth: []

tags:
  - name: Trade Sessions
  - name: Trade Offers
  - name: Trade History

paths:
  /economy/trade/initiate:
    post:
      summary: Инициировать торговлю
      operationId: initiateTrade
      tags:
        - Trade Sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target_player_id]
              properties:
                target_player_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Торговля инициирована
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeSessionResponse'
        '400':
          $ref: 'common.yaml#/components/responses/BadRequest'
        '403':
          description: Ограничения (расстояние, лимиты)
          content:
            application/json:
              schema:
                $ref: 'common.yaml#/components/schemas/Error'

  /economy/trade/sessions/{sessionId}:
    parameters:
      - $ref: '#/components/parameters/TradeSessionId'
    
    get:
      summary: Получить торговую сессию
      operationId: getTradeSession
      tags:
        - Trade Sessions
      responses:
        '200':
          description: Состояние торговли
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeSessionResponse'
        '404':
          $ref: 'common.yaml#/components/responses/NotFound'

    delete:
      summary: Отменить торговлю
      operationId: cancelTradeSession
      tags:
        - Trade Sessions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  maxLength: 200
      responses:
        '200':
          description: Торговля отменена
          content:
            application/json:
              schema:
                $ref: 'common.yaml#/components/schemas/SuccessResponse'

  /economy/trade/sessions/{sessionId}/offer:
    parameters:
      - $ref: '#/components/parameters/TradeSessionId'
    
    post:
      summary: Добавить предложение
      operationId: addTradeOffer
      tags:
        - Trade Offers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeOfferRequest'
      responses:
        '200':
          description: Предложение добавлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeSessionResponse'
        '400':
          $ref: 'common.yaml#/components/responses/BadRequest'
        '403':
          description: Не владелец предметов
          content:
            application/json:
              schema:
                $ref: 'common.yaml#/components/schemas/Error'

    put:
      summary: Изменить предложение
      operationId: updateTradeOffer
      tags:
        - Trade Offers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeOfferRequest'
      responses:
        '200':
          description: Предложение изменено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeSessionResponse'

    delete:
      summary: Удалить предложение
      operationId: removeTradeOffer
      tags:
        - Trade Offers
      responses:
        '200':
          description: Предложение удалено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeSessionResponse'

  /economy/trade/sessions/{sessionId}/confirm:
    parameters:
      - $ref: '#/components/parameters/TradeSessionId'
    
    post:
      summary: Подтвердить предложение
      operationId: confirmTrade
      tags:
        - Trade Sessions
      responses:
        '200':
          description: Подтверждено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeSessionResponse'
        '400':
          description: Предложения не готовы
          content:
            application/json:
              schema:
                $ref: 'common.yaml#/components/schemas/Error'

  /economy/trade/sessions/{sessionId}/complete:
    parameters:
      - $ref: '#/components/parameters/TradeSessionId'
    
    post:
      summary: Завершить торговлю
      description: Завершение сделки (требуется двойное подтверждение)
      operationId: completeTrade
      tags:
        - Trade Sessions
      responses:
        '200':
          description: Торговля завершена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeCompleteResponse'
        '400':
          description: Не все подтвердили
          content:
            application/json:
              schema:
                $ref: 'common.yaml#/components/schemas/Error'
        '500':
          description: Ошибка передачи (rollback)
          content:
            application/json:
              schema:
                $ref: 'common.yaml#/components/schemas/Error'

  /economy/trade/history:
    get:
      summary: История торговли
      operationId: getTradeHistory
      tags:
        - Trade History
      parameters:
        - $ref: 'common.yaml#/components/parameters/Limit'
        - $ref: 'common.yaml#/components/parameters/Offset'
      responses:
        '200':
          description: История
          content:
            application/json:
              schema:
                type: object
                required: [items, pagination]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/TradeHistory'
                  pagination:
                    $ref: 'common.yaml#/components/schemas/PaginationResponse'

components:
  securitySchemes:
    BearerAuth:
      $ref: 'common.yaml#/components/securitySchemes/BearerAuth'

  parameters:
    TradeSessionId:
      name: sessionId
      in: path
      required: true
      schema:
        type: string
        format: uuid

  schemas:
    TradeStatus:
      type: string
      enum: [pending, offering, confirmed, completed, cancelled, expired]

    TradeOfferRequest:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            required: [item_id, quantity]
            properties:
              item_id:
                type: string
                format: uuid
              quantity:
                type: integer
                minimum: 1
        currency:
          type: object
          properties:
            eurodollars:
              type: integer
              minimum: 0
            cryptos:
              type: integer
              minimum: 0

    TradeOffer:
      allOf:
        - $ref: '#/components/schemas/TradeOfferRequest'

    TradeSessionResponse:
      allOf:
        - $ref: 'common.yaml#/components/schemas/BaseEntityWithTimestamps'
        - type: object
          required: [initiator_id, target_id, status]
          properties:
            initiator_id:
              type: string
              format: uuid
            target_id:
              type: string
              format: uuid
            zone_id:
              type: string
            status:
              $ref: '#/components/schemas/TradeStatus'
            initiator_offer:
              $ref: '#/components/schemas/TradeOffer'
              nullable: true
            target_offer:
              $ref: '#/components/schemas/TradeOffer'
              nullable: true
            initiator_confirmed:
              type: boolean
            target_confirmed:
              type: boolean
            expires_at:
              type: string
              format: date-time

    TradeCompleteResponse:
      type: object
      required: [session_id, status]
      properties:
        session_id:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/TradeStatus'
        completed_at:
          type: string
          format: date-time

    TradeHistory:
      type: object
      required: [id, session_id, player1_id, player2_id, completed_at]
      properties:
        id:
          type: string
          format: uuid
        session_id:
          type: string
          format: uuid
        player1_id:
          type: string
          format: uuid
        player2_id:
          type: string
          format: uuid
        player1_items:
          type: array
          items:
            type: object
        player1_currency:
          type: object
        player2_items:
          type: array
          items:
            type: object
        player2_currency:
          type: object
        zone_id:
          type: string
        completed_at:
          type: string
          format: date-time
        suspicious_flag:
          type: boolean

