openapi: 3.0.3
info:
  title: Voice Chat Service API
  description: |
    API для управления системой голосового чата в NECPGAME.
    Обеспечивает голосовую коммуникацию через WebRTC с поддержкой различных типов каналов.
  version: 1.0.0
  contact:
    name: Voice Chat Team
    email: voice@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production server
  - url: https://staging-api.necp.game/v1
    description: Staging server
  - url: http://localhost:8085/v1
    description: Local development

security:
  - BearerAuth: []
  - ApiKeyAuth: []

paths:
  # Управление каналами
  /social/voice/channels:
    get:
      summary: Получить список голосовых каналов
      description: |
        Возвращает список доступных голосовых каналов с фильтрацией по типу и состоянию.
        Поддерживает пагинацию для больших списков.
      operationId: getVoiceChannels
      tags:
        - Voice Channels
      parameters:
        - name: channelType
          in: query
          schema:
            type: string
            enum: [PARTY, GUILD, RAID, PROXIMITY]
          description: Фильтр по типу канала
        - name: isActive
          in: query
          schema:
            type: boolean
            default: true
          description: Показывать только активные каналы
        - name: playerId
          in: query
          schema:
            type: string
            format: uuid
          description: ID игрока для фильтрации доступных каналов
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Количество элементов на страницу
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Смещение для пагинации
      responses:
        "200":
          description: Успешный ответ со списком каналов
          content:
            application/json:
              schema:
                type: object
                properties:
                  channels:
                    type: array
                    items:
                      $ref: "#/components/schemas/VoiceChannel"
                  pagination:
                    $ref: "#/components/schemas/PaginationInfo"
                  total:
                    type: integer
                    description: Общее количество каналов
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      summary: Создать новый голосовой канал
      description: |
        Создает новый голосовой канал указанного типа.
        Проверяет права доступа и лимиты.
      operationId: createVoiceChannel
      tags:
        - Voice Channels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - channelType
                - name
              properties:
                channelType:
                  type: string
                  enum: [PARTY, GUILD, RAID, PROXIMITY]
                  description: Тип создаваемого канала
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Название канала
                maxParticipants:
                  type: integer
                  minimum: 2
                  maximum: 100
                  description: Максимальное количество участников
                qualityPreset:
                  type: string
                  enum: [HIGH, MEDIUM, LOW, ADAPTIVE]
                  default: MEDIUM
                  description: Пресет качества звука
                associatedEntityId:
                  type: string
                  format: uuid
                  description: ID связанной сущности (party, guild, raid)
      responses:
        "201":
          description: Канал успешно создан
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceChannel"
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URL созданного канала
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          description: Недостаточно прав для создания канала
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Канал с таким именем уже существует
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /social/voice/channels/{channelId}:
    get:
      summary: Получить информацию о канале
      description: Возвращает подробную информацию о голосовом канале
      operationId: getVoiceChannel
      tags:
        - Voice Channels
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID канала
      responses:
        "200":
          description: Успешный ответ с информацией о канале
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceChannel"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      summary: Удалить голосовой канал
      description: |
        Удаляет голосовой канал. Доступно только владельцу или администратору.
        Все участники будут отключены.
      operationId: deleteVoiceChannel
      tags:
        - Voice Channels
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID канала
      responses:
        "204":
          description: Канал успешно удален
        "403":
          description: Недостаточно прав для удаления канала
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Невозможно удалить канал с активными участниками
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /social/voice/channels/{channelId}/join:
    post:
      summary: Присоединиться к голосовому каналу
      description: |
        Присоединяет игрока к голосовому каналу.
        Возвращает WebRTC токен для установления соединения.
      operationId: joinVoiceChannel
      tags:
        - Voice Channels
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID канала
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                position:
                  $ref: "#/components/schemas/Vector3D"
                  description: Позиция игрока (для proximity каналов)
      responses:
        "200":
          description: Успешно присоединен к каналу
          content:
            application/json:
              schema:
                type: object
                properties:
                  participant:
                    $ref: "#/components/schemas/VoiceParticipant"
                  webrtcToken:
                    type: string
                    description: WebRTC токен для соединения
                  channel:
                    $ref: "#/components/schemas/VoiceChannel"
                required:
                  - participant
                  - webrtcToken
                  - channel
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          description: Доступ к каналу запрещен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Канал полон или игрок уже в другом канале
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /social/voice/channels/{channelId}/leave:
    post:
      summary: Покинуть голосовой канал
      description: Отключает игрока от голосового канала
      operationId: leaveVoiceChannel
      tags:
        - Voice Channels
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID канала
      responses:
        "204":
          description: Успешно покинул канал
        "404":
          description: Канал или участник не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # WebRTC соединения
  /social/voice/webrtc/token:
    post:
      summary: Получить WebRTC токен
      description: |
        Генерирует WebRTC токен для подключения к голосовому каналу.
        Токен содержит информацию о канале и участнике.
      operationId: getWebRTCToken
      tags:
        - WebRTC
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - channelId
                - playerId
              properties:
                channelId:
                  type: string
                  format: uuid
                  description: ID канала
                playerId:
                  type: string
                  format: uuid
                  description: ID игрока
                provider:
                  type: string
                  enum: [AGORA, TWILIO, SELF_HOSTED]
                  default: SELF_HOSTED
                  description: WebRTC провайдер
      responses:
        "200":
          description: WebRTC токен успешно сгенерирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: WebRTC токен
                  provider:
                    type: string
                    enum: [AGORA, TWILIO, SELF_HOSTED]
                    description: Используемый провайдер
                  expiresAt:
                    type: string
                    format: date-time
                    description: Время истечения токена
                  channelId:
                    type: string
                    format: uuid
                    description: ID канала
                required:
                  - token
                  - provider
                  - expiresAt
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          description: Доступ к каналу запрещен
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Канал не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /social/voice/webrtc/connect:
    post:
      summary: Установить WebRTC соединение
      description: |
        Инициирует установление WebRTC соединения для голосового канала.
