openapi: 3.0.3
info:
  title: Seattle Quests Service API
  description: 'Специализированный API для квестов Сиэтла 2020-2029 годов в NECPGAME.

    Управляет 10 уникальными квестами, раскрывающими историю и культуру Сиэтла этого периода.


    **BACKEND NOTE**: Служба оптимизирована для тематических квестов Сиэтла.

    Использует кеширование для часто запрашиваемых квестов и исторических данных.


    **PERFORMANCE**: Ожидаемая нагрузка - 300 RPS в пиковые моменты.

    Время отклика < 10ms для основных операций (получение квеста, обновление прогресса).


    **FEATURES**:

    - Тематические квесты Сиэтла (Space Needle, Pike Place, Starbucks, etc.)

    - Историческая точность 2020-2029 периода

    - Культурный лор и локальные достопримечательности

    - Интеграция с туристической системой города

    '
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: Backend Team
    email: backend@necp.game
servers:
- url: https://api.necpgame.com/v1/quests/seattle
  description: Production server
- url: https://staging-api.necpgame.com/v1/quests/seattle
  description: Staging server
- url: http://localhost:8300/api/v1/quests/seattle
  description: Local development
security:
- BearerAuth: []
tags:
- name: seattle-quests
  description: Квесты Сиэтла 2020-2029
- name: quest-progress
  description: Прогресс по квестам
- name: landmarks
  description: Достопримечательности Сиэтла
- name: history
  description: Исторический контекст
paths:
  /api/v1/quests/seattle:
    get:
      summary: Получить все квесты Сиэтла 2020-2029
      operationId: getSeattleQuests
      tags:
      - seattle-quests
      security:
      - BearerAuth: []
      parameters:
      - name: player_id
        in: query
        schema:
          type: string
          format: uuid
        description: ID игрока для фильтрации доступных квестов
      - name: status
        in: query
        schema:
          type: string
          enum:
          - available
          - in_progress
          - completed
          - failed
        description: Статус квеста
      - name: theme
        in: query
        schema:
          type: string
          enum:
          - landmarks
          - culture
          - technology
          - nature
          - food
        description: Тематика квеста
      responses:
        '200':
          description: Список квестов Сиэтла
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeattleQuestsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/quests/seattle/{quest_id}:
    get:
      summary: Получить детали квеста Сиэтла
      operationId: getSeattleQuest
      tags:
      - seattle-quests
      security:
      - BearerAuth: []
      parameters:
      - name: quest_id
        in: path
        required: true
        schema:
          type: string
          enum:
          - space-needle
          - pike-place-market
          - starbucks-origin
          - grunge-music
          - amazon-hq
          - mount-rainier
          - rain-rain-rain
          - boeing-factory
          - seafood-salmon
          - tech-boom-gentrification
        description: ID квеста Сиэтла
      - name: include_lore
        in: query
        schema:
          type: boolean
          default: false
        description: Включить исторический лор
      responses:
        '200':
          description: Детали квеста
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeattleQuestDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/quests/seattle/{quest_id}/progress:
    get:
      summary: Получить прогресс игрока по квесту
      operationId: getSeattleQuestProgress
      tags:
      - quest-progress
      security:
      - BearerAuth: []
      parameters:
      - name: quest_id
        in: path
        required: true
        schema:
          type: string
          enum:
          - space-needle
          - pike-place-market
          - starbucks-origin
          - grunge-music
          - amazon-hq
          - mount-rainier
          - rain-rain-rain
          - boeing-factory
          - seafood-salmon
          - tech-boom-gentrification
      - name: player_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Прогресс по квесту
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestProgressResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Обновить прогресс по квесту
      operationId: updateSeattleQuestProgress
      tags:
      - quest-progress
      security:
      - BearerAuth: []
      parameters:
      - name: quest_id
        in: path
        required: true
        schema:
          type: string
          enum:
          - space-needle
          - pike-place-market
          - starbucks-origin
          - grunge-music
          - amazon-hq
          - mount-rainier
          - rain-rain-rain
          - boeing-factory
          - seafood-salmon
          - tech-boom-gentrification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateQuestProgressRequest'
      responses:
        '200':
          description: Прогресс обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateQuestProgressResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/quests/seattle/landmarks:
    get:
      summary: Получить достопримечательности Сиэтла
      operationId: getSeattleLandmarks
      tags:
      - landmarks
      security:
      - BearerAuth: []
      parameters:
      - name: category
        in: query
        schema:
          type: string
          enum:
          - architecture
          - nature
          - culture
          - technology
          - food
        description: Категория достопримечательности
      - name: quest_related
        in: query
        schema:
          type: boolean
          default: true
        description: Только связанные с квестами
      responses:
        '200':
          description: Достопримечательности Сиэтла
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeattleLandmarksResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/quests/seattle/history/{year}:
    get:
      summary: Получить исторический контекст Сиэтла за год
      operationId: getSeattleHistory
      tags:
      - history
      security:
      - BearerAuth: []
      parameters:
      - name: year
        in: path
        required: true
        schema:
          type: integer
          minimum: 2020
          maximum: 2029
        description: Год (2020-2029)
      - name: focus
        in: query
        schema:
          type: string
          enum:
          - technology
          - culture
          - economy
          - environment
        description: Фокус исторического контекста
      responses:
        '200':
          description: Исторический контекст
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeattleHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/quests/seattle/routes:
    get:
      summary: Получить туристические маршруты по Сиэтлу
      operationId: getSeattleRoutes
      tags:
      - landmarks
      security:
      - BearerAuth: []
      parameters:
      - name: quest_id
        in: query
        schema:
          type: string
          enum:
          - space-needle
          - pike-place-market
          - starbucks-origin
          - grunge-music
          - amazon-hq
          - mount-rainier
          - rain-rain-rain
          - boeing-factory
          - seafood-salmon
          - tech-boom-gentrification
        description: Маршрут для конкретного квеста
      - name: difficulty
        in: query
        schema:
          type: string
          enum:
          - easy
          - medium
          - hard
          default: medium
        description: Сложность маршрута
      responses:
        '200':
          description: Туристические маршруты
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeattleRoutesResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    BadRequest:
      description: Неверный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Не авторизован
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          example: INVALID_REQUEST
        message:
          type: string
          example: Неверные параметры запроса
        details:
          type: object
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    SeattleQuest:
      type: object
      required:
      - id
      - title
      - theme
      - difficulty
      - estimated_time
      properties:
        id:
          type: string
          enum:
          - space-needle
          - pike-place-market
          - starbucks-origin
          - grunge-music
          - amazon-hq
          - mount-rainier
          - rain-rain-rain
          - boeing-factory
          - seafood-salmon
          - tech-boom-gentrification
          description: Уникальный ID квеста
        title:
          type: string
          description: Название квеста
        theme:
          type: string
          enum:
          - landmarks
          - culture
          - technology
          - nature
          - food
          description: Тематика квеста
        difficulty:
          type: string
          enum:
          - easy
          - medium
          - hard
          description: Сложность квеста
        description:
          type: string
          description: Описание квеста
        location:
          type: string
          description: Основная локация в Сиэтле
        historical_context:
          type: string
          description: Исторический контекст периода 2020-2029
        rewards:
          $ref: '#/components/schemas/QuestRewards'
        objectives:
          type: array
          items:
            $ref: '#/components/schemas/QuestObjective'
          description: Цели квеста
        prerequisites:
          type: array
          items:
            type: string
          description: Необходимые условия
        estimated_time:
          type: integer
          minimum: 15
          maximum: 120
          description: Ориентировочное время выполнения (минуты)
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    QuestObjective:
      type: object
      required:
      - id
      - description
      - type
      - progress_required
      properties:
        id:
          type: string
          format: uuid
        description:
          type: string
        type:
          type: string
          enum:
          - visit_location
          - collect_items
          - talk_to_npc
          - complete_task
          - time_based
        completed:
          type: boolean
          default: false
        progress_required:
          type: integer
          minimum: 1
        progress_current:
          type: integer
          default: 0
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    QuestRewards:
      type: object
      properties:
        items:
          type: array
          items:
            type: string
          description: Предметы
        achievements:
          type: array
          items:
            type: string
          description: Достижения
        lore_unlocks:
          type: array
          items:
            type: string
          description: Разблокированный лор
        experience:
          type: integer
          minimum: 0
          description: Опыт
        currency:
          type: integer
          minimum: 0
          description: Валюта
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    SeattleQuestsResponse:
      type: object
      required:
      - quests
      - total
      - period
      properties:
        period:
          type: string
          example: 2020-2029
        quests:
          type: array
          items:
            $ref: '#/components/schemas/SeattleQuest'
        total:
          type: integer
          minimum: 0
        available_for_player:
          type: integer
          minimum: 0
          description: Количество доступных игроку квестов
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    SeattleQuestDetailResponse:
      type: object
      required:
      - quest
      - period
      - historical_context
      properties:
        period:
          type: string
          example: 2020-2029
        historical_context:
          type: object
          description: Детальный исторический контекст
        quest:
          $ref: '#/components/schemas/SeattleQuest'
        related_landmarks:
          type: array
          items:
            type: string
          description: Связанные достопримечательности
        cultural_insights:
          type: array
          items:
            type: string
          description: Культурные insights
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    QuestProgressResponse:
      type: object
      required:
      - player_id
      - quest_id
      - status
      - objectives
      properties:
        player_id:
          type: string
          format: uuid
        quest_id:
          type: string
          enum:
          - space-needle
          - pike-place-market
          - starbucks-origin
          - grunge-music
          - amazon-hq
          - mount-rainier
          - rain-rain-rain
          - boeing-factory
          - seafood-salmon
          - tech-boom-gentrification
        status:
          type: string
          enum:
          - not_started
          - in_progress
          - completed
          - failed
          - abandoned
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        objectives:
          type: array
          items:
            $ref: '#/components/schemas/QuestObjective'
        overall_progress:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Общий прогресс (0.0-1.0)
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    UpdateQuestProgressRequest:
      type: object
      required:
      - player_id
      - objective_id
      - progress_increment
      properties:
        player_id:
          type: string
          format: uuid
        objective_id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        location_context:
          type: object
          description: Контекст локации
        progress_increment:
          type: integer
          minimum: 1
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    UpdateQuestProgressResponse:
      type: object
      required:
      - success
      - new_progress
      - quest_status
      properties:
        quest_status:
          type: string
          enum:
          - in_progress
          - completed
        rewards_earned:
          $ref: '#/components/schemas/QuestRewards'
        next_objectives:
          type: array
          items:
            $ref: '#/components/schemas/QuestObjective'
        new_progress:
          type: number
          format: float
        success:
          type: boolean
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    SeattleLandmark:
      type: object
      required:
      - id
      - name
      - category
      - coordinates
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        category:
          type: string
          enum:
          - architecture
          - nature
          - culture
          - technology
          - food
        description:
          type: string
        historical_significance:
          type: string
        coordinates:
          type: object
          required:
          - latitude
          - longitude
          properties:
            latitude:
              type: number
              format: float
            longitude:
              type: number
              format: float
        related_quests:
          type: array
          items:
            type: string
          description: IDs связанных квестов
        visit_tips:
          type: array
          items:
            type: string
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    SeattleLandmarksResponse:
      type: object
      required:
      - landmarks
      - total
      - categories
      properties:
        landmarks:
          type: array
          items:
            $ref: '#/components/schemas/SeattleLandmark'
        categories:
          type: array
          items:
            type: string
        total:
          type: integer
          minimum: 0
        quest_related_count:
          type: integer
          minimum: 0
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    SeattleHistoryResponse:
      type: object
      required:
      - year
      - events
      - cultural_context
      properties:
        cultural_context:
          type: object
          description: Культурный контекст года
        economic_indicators:
          type: object
        events:
          type: array
          items:
            type: object
            required:
            - title
            - description
            - impact
            properties:
              title:
                type: string
              description:
                type: string
              impact:
                type: string
                enum:
                - high
                - medium
                - low
        technological_advances:
          type: array
          items:
            type: string
        year:
          type: integer
          minimum: 2020
          maximum: 2029
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    SeattleRoute:
      type: object
      required:
      - id
      - name
      - waypoints
      - difficulty
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        difficulty:
          type: string
          enum:
          - easy
          - medium
          - hard
        quest_integration:
          type: string
          enum:
          - space-needle
          - pike-place-market
          - starbucks-origin
          - grunge-music
          - amazon-hq
          - mount-rainier
          - rain-rain-rain
          - boeing-factory
          - seafood-salmon
          - tech-boom-gentrification
        waypoints:
          type: array
          items:
            $ref: '#/components/schemas/SeattleLandmark'
        highlights:
          type: array
          items:
            type: string
        estimated_duration:
          type: integer
          description: Ориентировочное время в минутах
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    SeattleRoutesResponse:
      type: object
      required:
      - routes
      - total
      properties:
        routes:
          type: array
          items:
            $ref: '#/components/schemas/SeattleRoute'
        total:
          type: integer
          minimum: 0
        quest_routes:
          type: integer
          minimum: 0
          description: Количество маршрутов, связанных с квестами
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
