openapi: 3.0.3
info:
  title: Tokyo Part 3 Quests Service API (2094-2100)
  description: 'Специализированный API для квестов Токио Part 3 эпохи 2094-2100 в NECPGAME.

    Управляет 5 уникальными квестами финальной эры Токио: Neural Overload, Corporate Memory Theft,
    Virtual Sanctuary, Neon Prophet и Midnight Market.

    **BACKEND NOTE**: Служба оптимизирована для продвинутых нейронных и киберпространственных механик.

    Использует кеширование для часто запрашиваемых квестов и исторических данных эпохи 2094-2100.


    **PERFORMANCE**: Ожидаемая нагрузка - 200 RPS в пиковые моменты.

    Время отклика < 15ms для основных операций (нейронные проверки, виртуальные переходы).


    **FEATURES**:

    - Продвинутые нейронные квесты (Neural Overload, Corporate Memory Theft)

    - Киберпространственные пророчества (Neon Prophet)

    - Виртуальные убежища и рынки (Virtual Sanctuary, Midnight Market)

    - Финальная эра Токио 2094-2100

    '
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: Backend Team
    email: backend@necp.game
servers:
- url: https://api.necpgame.com/v1/quests/tokyo-part3
  description: Production server
- url: https://staging-api.necpgame.com/v1/quests/tokyo-part3
  description: Staging server
- url: http://localhost:8300/api/v1/quests/tokyo-part3
  description: Local development
security:
- BearerAuth: []
tags:
- name: tokyo-part3-quests
  description: Квесты Токио Part 3 (2094-2100)
- name: neural-systems
  description: Нейронные системы и перегрузки
- name: memory-theft
  description: Корпоративное воровство памяти
- name: virtual-sanctuary
  description: Виртуальные убежища
- name: neon-prophet
  description: Киберпространственные пророчества
- name: midnight-market
  description: Ночные рынки в киберпространстве
paths:
  /api/v1/quests/tokyo-part3:
    get:
      summary: Получить все квесты Токио Part 3 (2094-2100)
      operationId: getTokyoPart3Quests
      tags:
      - tokyo-part3-quests
      security:
      - BearerAuth: []
      parameters:
      - name: player_id
        in: query
        schema:
          type: string
          format: uuid
        description: ID игрока для фильтрации доступных квестов
      - name: neural_level
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 10
        description: Минимальный уровень нейронных имплантов для доступа
      - name: cyberware_tier
        in: query
        schema:
          type: string
          enum:
          - basic
          - advanced
          - elite
          - legendary
        description: Требуемый уровень киберимплантов
      responses:
        '200':
          description: Список квестов Токио Part 3
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokyoPart3QuestsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /api/v1/quests/tokyo-part3/{quest_id}:
    get:
      summary: Получить детали конкретного квеста Токио Part 3
      operationId: getTokyoPart3QuestById
      tags:
      - tokyo-part3-quests
      security:
      - BearerAuth: []
      parameters:
      - name: quest_id
        in: path
        required: true
        schema:
          type: string
          enum:
          - neural-overload
          - corporate-memory-theft
          - virtual-sanctuary
          - neon-prophet
          - midnight-market
        description: ID квеста Токио Part 3
      responses:
        '200':
          description: Детали квеста
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokyoPart3QuestDetails'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/quests/tokyo-part3/{quest_id}/start:
    post:
      summary: Начать квест Токио Part 3
      operationId: startTokyoPart3Quest
      tags:
      - tokyo-part3-quests
      security:
      - BearerAuth: []
      parameters:
      - name: quest_id
        in: path
        required: true
        schema:
          type: string
          enum:
          - neural-overload
          - corporate-memory-theft
          - virtual-sanctuary
          - neon-prophet
          - midnight-market
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartQuestRequest'
      responses:
        '200':
          description: Квест успешно начат
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestStartedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Квест уже активен или завершен
  /api/v1/quests/tokyo-part3/neural-overload/check:
    post:
      summary: Выполнить нейронную проверку для Neural Overload
      operationId: checkNeuralOverload
      tags:
      - neural-systems
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NeuralCheckRequest'
      responses:
        '200':
          description: Результат нейронной проверки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NeuralCheckResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /api/v1/quests/tokyo-part3/corporate-memory-theft/extract:
    post:
      summary: Извлечь корпоративную память
      operationId: extractCorporateMemory
      tags:
      - memory-theft
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemoryExtractionRequest'
      responses:
        '200':
          description: Результат извлечения памяти
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemoryExtractionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /api/v1/quests/tokyo-part3/virtual-sanctuary/enter:
    post:
      summary: Войти в виртуальное убежище
      operationId: enterVirtualSanctuary
      tags:
      - virtual-sanctuary
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SanctuaryEntryRequest'
      responses:
        '200':
          description: Успешный вход в убежище
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SanctuaryEntryResponse'
        '403':
          description: Доступ запрещен
  /api/v1/quests/tokyo-part3/neon-prophet/foretell:
    post:
      summary: Получить пророчество от Неонового Пророка
      operationId: getNeonProphecy
      tags:
      - neon-prophet
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProphecyRequest'
      responses:
        '200':
          description: Пророчество получено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProphecyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /api/v1/quests/tokyo-part3/midnight-market/trade:
    post:
      summary: Совершить сделку на Полночном Рынке
      operationId: tradeAtMidnightMarket
      tags:
      - midnight-market
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketTradeRequest'
      responses:
        '200':
          description: Сделка совершена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketTradeResponse'
        '400':
          description: Недостаточно ресурсов
components:
  schemas:
    TokyoPart3QuestsResponse:
      type: object
      properties:
        quests:
          type: array
          items:
            $ref: '#/components/schemas/TokyoPart3QuestSummary'
        total_count:
          type: integer
          minimum: 5
          maximum: 5
          description: Всегда 5 квестов Part 3
        player_eligibility:
          type: object
          properties:
            neural_level:
              type: integer
              minimum: 0
              maximum: 10
            cyberware_tier:
              type: string
              enum: [basic, advanced, elite, legendary]
            can_access_part3:
              type: boolean
    TokyoPart3QuestSummary:
      type: object
      properties:
        id:
          type: string
          enum:
          - neural-overload
          - corporate-memory-theft
          - virtual-sanctuary
          - neon-prophet
          - midnight-market
        title:
          type: string
        description:
          type: string
        era:
          type: string
          enum: ["2094-2100"]
        difficulty:
          type: string
          enum: [easy, medium, hard, legendary]
        neural_requirement:
          type: integer
          minimum: 1
          maximum: 10
        estimated_duration:
          type: string
          description: "Ожидаемое время выполнения в минутах"
        rewards:
          type: array
          items:
            type: string
        player_progress:
          type: object
          properties:
            status:
              type: string
              enum: [locked, available, in_progress, completed, failed]
            progress_percentage:
              type: integer
              minimum: 0
              maximum: 100
    TokyoPart3QuestDetails:
      type: object
      properties:
        quest:
          $ref: '#/components/schemas/TokyoPart3QuestSummary'
        objectives:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              description:
                type: string
              type:
                type: string
                enum: [main, side, secret]
              completed:
                type: boolean
              neural_check_required:
                type: boolean
              neural_check_dc:
                type: integer
                minimum: 10
                maximum: 30
        dialogue_nodes:
          type: array
          items:
            type: object
            properties:
              node_id:
                type: string
              npc_name:
                type: string
              text:
                type: string
              choices:
                type: array
                items:
                  type: object
                  properties:
                    text:
                      type: string
                    consequence:
                      type: string
        neural_systems:
          type: object
          properties:
            overload_risk:
              type: number
              minimum: 0
              maximum: 1
              description: "Риск нейронной перегрузки (0-1)"
            memory_capacity:
              type: integer
              description: "Ёмкость памяти в терабайтах"
            cyberware_integration:
              type: number
              minimum: 0
              maximum: 1
              description: "Уровень интеграции киберимплантов (0-1)"
    StartQuestRequest:
      type: object
      required:
      - player_id
      properties:
        player_id:
          type: string
          format: uuid
        neural_calibration:
          type: boolean
          description: "Выполнить калибровку нейронных систем перед началом"
        cyberware_backup:
          type: boolean
          description: "Создать резервную копию киберимплантов"
    QuestStartedResponse:
      type: object
      properties:
        quest_id:
          type: string
        status:
          type: string
          enum: [started]
        neural_session_id:
          type: string
          format: uuid
          description: "ID нейронной сессии для отслеживания"
        initial_objectives:
          type: array
          items:
            type: string
    NeuralCheckRequest:
      type: object
      required:
      - player_id
      - neural_pattern
      properties:
        player_id:
          type: string
          format: uuid
        neural_pattern:
          type: string
          description: "Паттерн нейронной активности для проверки"
        overload_threshold:
          type: number
          minimum: 0
          maximum: 1
          default: 0.8
    NeuralCheckResponse:
      type: object
      properties:
        success:
          type: boolean
        neural_integrity:
          type: number
          minimum: 0
          maximum: 1
          description: "Целостность нейронных связей (0-1)"
        overload_detected:
          type: boolean
        risk_level:
          type: string
          enum: [low, medium, high, critical]
        recommended_action:
          type: string
    MemoryExtractionRequest:
      type: object
      required:
      - player_id
      - target_memory_id
      properties:
        player_id:
          type: string
          format: uuid
        target_memory_id:
          type: string
          description: "ID целевой корпоративной памяти"
        extraction_method:
          type: string
          enum: [neural_hack, memory_siphon, direct_access]
        risk_acceptance:
          type: boolean
          description: "Подтверждение принятия риска потери памяти"
    MemoryExtractionResponse:
      type: object
      properties:
        success:
          type: boolean
        extracted_data:
          type: object
          description: "Извлеченные данные памяти"
        corruption_level:
          type: number
          minimum: 0
          maximum: 1
          description: "Уровень повреждения данных (0-1)"
        neural_backlash:
          type: object
          properties:
            damage:
              type: integer
              minimum: 0
            memory_loss:
              type: integer
              minimum: 0
        corporate_alert_level:
          type: string
          enum: [none, low, medium, high, critical]
    SanctuaryEntryRequest:
      type: object
      required:
      - player_id
      - sanctuary_id
      properties:
        player_id:
          type: string
          format: uuid
        sanctuary_id:
          type: string
          description: "ID виртуального убежища"
        access_code:
          type: string
          description: "Код доступа к убежищу"
        neural_signature:
          type: string
          description: "Нейронная подпись для аутентификации"
    SanctuaryEntryResponse:
      type: object
      properties:
        access_granted:
          type: boolean
        sanctuary_coordinates:
          type: object
          properties:
            x:
              type: number
            y:
              type: number
            z:
              type: number
        session_duration:
          type: integer
          description: "Длительность сессии в минутах"
        security_level:
          type: string
          enum: [basic, enhanced, maximum]
    ProphecyRequest:
      type: object
      required:
      - player_id
      properties:
        player_id:
          type: string
          format: uuid
        question:
          type: string
          description: "Вопрос для пророчества"
        offering:
          type: object
          description: "Подношение Неоновому Пророку"
        neural_focus:
          type: number
          minimum: 0
          maximum: 1
          description: "Уровень нейронной концентрации (0-1)"
    ProphecyResponse:
      type: object
      properties:
        prophecy_received:
          type: boolean
        prophecy_text:
          type: string
        prophecy_type:
          type: string
          enum: [personal, global, technological, existential]
        accuracy_rating:
          type: number
          minimum: 0
          maximum: 1
        neon_energy_consumed:
          type: integer
          minimum: 0
    MarketTradeRequest:
      type: object
      required:
      - player_id
      - trade_type
      properties:
        player_id:
          type: string
          format: uuid
        trade_type:
          type: string
          enum: [buy, sell, exchange]
        item_id:
          type: string
          description: "ID предмета для торговли"
        quantity:
          type: integer
          minimum: 1
        cyber_currency_amount:
          type: integer
          minimum: 0
        neural_data_exchange:
          type: boolean
          description: "Обмен нейронными данными"
    MarketTradeResponse:
      type: object
      properties:
        trade_completed:
          type: boolean
        transaction_id:
          type: string
          format: uuid
        items_received:
          type: array
          items:
            type: string
        cyber_currency_balance:
          type: integer
        neural_data_modified:
          type: boolean
        market_fluctuation:
          type: number
          description: "Изменение рыночных цен (-1 до 1)"
  responses:
    BadRequest:
      description: Неверный запрос
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: string
              details:
                type: object
    Unauthorized:
      description: Не авторизован
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: string
    Forbidden:
      description: Доступ запрещен
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: string
    NotFound:
      description: Не найдено
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
