# Общие
/.idea/
/.vscode/
/.DS_Store
Thumbs.db

# Логи
*.log
*.tmp
shared/trackers/logs/

# Node / Frontend
node_modules/
dist/
.cache/
pnpm-lock.yaml
yarn.lock

# Java / Backend
target/
.mvn/
*.iml
*.class

# Python (на случай вспомогательных скриптов)
__pycache__/
*.pyc

# Build артефакты
coverage/
.nyc_output/

# OS
ehthumbs.db
Desktop.ini


