extends: default
ignore: |
  node_modules/**
  services/**/vendor/**
  client/UE5/**/Binaries/**
  client/UE5/**/Intermediate/**
  client/UE5/**/DerivedDataCache/**

rules:
  line-length:
    max: 160
    level: warning
  indentation:
    spaces: 2
    indent-sequences: consistent
  document-start:
    present: false
  truthy:
    level: warning
