openapi: 3.0.3
info:
  title: Player Orders News Examples
  version: 1.0.0
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
paths: {}
components:
  examples:
    NewsListExample:
      summary: Список новостей
      value:
        data:
          - newsId: "1f8fad5b-d9cb-469f-a165-708677289501"
            title: "Аркрейдеры захватили склад в Нео-Токио"
            summary: "Клан «Neon Wolves» завершил заказ по ликвидации склада корпорации Helios в секторе Shibuya."
            severity: warning
            orderIds: ["43e1c1b8-2f2a-4fa5-9fd6-daa1a9f3d0aa"]
            cityIds: ["9fa24f36-4f9c-4fe4-9d80-8c4a71a2b202"]
            tags:
              - tagId: "combat"
                label: "Боевой заказ"
                category: order
              - tagId: "helios"
                label: "Helios"
                category: crisis
            publishedAt: "2025-11-08T09:50:12Z"
            source: system
            language: "ru"
            metrics:
              engagementScore: 0.82
              reads: 18234
              shares: 942
          - newsId: "2f8fad5b-d9cb-469f-a165-708677289502"
            title: "Экономический всплеск на рынке кибер-охранников"
            summary: "Спрос на хакерские контракты вырос на 12% после серии атак корпорации Specter."
            severity: info
            tags:
              - tagId: "economy"
                label: "Экономика"
                category: economy
            publishedAt: "2025-11-08T09:40:00Z"
            source: economy-service
        pagination:
          page: 1
          pageSize: 20
          totalPages: 12
          totalItems: 231
    NewsItemExample:
      summary: Полная новость
      value:
        newsId: "1f8fad5b-d9cb-469f-a165-708677289501"
        title: "Аркрейдеры захватили склад в Нео-Токио"
        summary: "Клан «Neon Wolves» завершил заказ по ликвидации склада корпорации Helios."
        body: "В ходе ночной операции отряд Neon Wolves уничтожил контрольно-пропускные пункты и вывез оборудование Helios..."
        severity: warning
        orderIds: ["43e1c1b8-2f2a-4fa5-9fd6-daa1a9f3d0aa"]
        cityIds: ["9fa24f36-4f9c-4fe4-9d80-8c4a71a2b202"]
        tags:
          - tagId: "combat"
            label: "Боевой заказ"
            category: order
          - tagId: "helios"
            label: "Helios"
            category: crisis
        attachments:
          - attachmentId: "b8f41c12-0bf5-4a25-8e23-4a5dc6fa3510"
            type: image
            url: "https://cdn.necpgame.com/news/helios-warehouse.jpg"
            caption: "Разрушенный склад Helios"
        source: system
        language: "ru"
        publishedAt: "2025-11-08T09:50:12Z"
        relatedEffects: ["fa9c3d8e-8d6a-4f0a-83a6-2a38e2faf10a"]
        relatedIndexes: ["OrderEconomicIndex:NeoTokyo"]
        metrics:
          engagementScore: 0.82
          reads: 18234
          shares: 942
    NewsHighlightsExample:
      summary: Хайлайты
      value:
        data:
          - highlightId: "7c3f4b82-6f13-47d0-8dcd-8b6a97c7f011"
            title: "Top-3 исполнителя недели"
            description: "Исполнители с наибольшим количеством успешных заказов."
            type: spotlight
            media:
              attachmentId: "9735d0fb-7b2a-4498-8f70-40c32bf3fd47"
              type: image
              url: "https://cdn.necpgame.com/news/highlights/top3.jpg"
            cta:
              label: "Открыть рейтинг"
              url: "https://app.necpgame.com/news/top-contractors"
            score: 0.91
            tags:
              - tagId: "reputation"
                label: "Репутация"
                category: reputation
            publishedAt: "2025-11-08T09:00:00Z"
    NewsPublishRequestExample:
      summary: Публикация новости
      value:
        title: "Specter запускает премию для киллеров"
        summary: "Корпорация Specter объявила о новом конкурсе на лучшего киллера сезона."
        body: "Specter инициировала премию с фондом 250.000 eddy, приглашая самых лучших исполнителей..."
        severity: info
        orderIds: ["d842c7e2-0c78-4e29-996b-30375d4d552a"]
        cityIds: ["a21496f0-9b6b-42e9-9a63-881c77cc8158"]
        tags:
          - tagId: "community"
            label: "Сообщество"
            category: community
        attachments:
          - attachmentId: "59ab7d2e-9e4e-4a5e-8b25-6c66c9f85eb3"
            type: image
            url: "https://cdn.necpgame.com/news/specter-award.png"
            caption: "Афиша премии Specter"
        language: "ru"
        visibility: public
    SubscriptionRequestExample:
      summary: Запрос на подписку
      value:
        channel: push
        cityIds: ["9fa24f36-4f9c-4fe4-9d80-8c4a71a2b202"]
        tags:
          - tagId: "crisis"
            label: "Кризисы"
            category: crisis
        severity: [warning, critical]
        language: "ru"
        deliveryWindow: "08:00-23:00"

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
