openapi: 3.0.3
info:
  title: Network Analysis Service API
  description: |
    **Enterprise-Grade Network Analysis for MMORPG**

    Advanced network architecture analysis service providing real-time monitoring,
    performance optimization, and strategic insights for MMORPG network infrastructure.

    ## Key Features
    - **Real-time Network Monitoring** - Live traffic analysis and bottleneck detection
    - **Latency Optimization** - P2P and server-client performance analytics
    - **Scalability Analysis** - Load balancing and capacity planning
    - **Security Monitoring** - Network threat detection and response
    - **Geographic Distribution** - Global player distribution analytics

    ## Performance Targets
    - Real-time analysis: <10ms latency
    - Concurrent monitoring: 10,000+ network sessions
    - Data retention: 90 days rolling window
    - Alert response: <5 seconds
  version: 1.0.0
  contact:
    name: Network Analysis Team
    email: network@necp.game
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.necp.game/v1/analysis/network
    description: Production server
  - url: https://staging-api.necp.game/v1/analysis/network
    description: Staging server
  - url: http://localhost:8091/v1/analysis/network
    description: Local development

security:
  - BearerAuth: [ ]
  - ApiKeyAuth: [ ]

tags:
  - name: Network Analysis
    description: Core network analysis operations
  - name: Monitoring
    description: Real-time network monitoring
  - name: Performance
    description: Performance analysis and optimization
  - name: Security
    description: Network security monitoring

paths:
  # Health Check
  /api/v1/analysis/network/health:
    get:
      summary: Network analysis service health check
      operationId: networkAnalysisHealthCheck
      tags: [ Network Analysis ]
      security: [ ]
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  # Real-time Network Monitoring
  /api/v1/analysis/network/monitoring/sessions:
    get:
      summary: Get active network sessions
      description: |
        Returns real-time information about active network sessions,
        including connection quality, latency, and geographic distribution.
      operationId: getActiveSessions
      tags: [ Monitoring ]
      security:
        - BearerAuth: [ ]
      parameters:
        - name: region
          in: query
          schema:
            type: string
            enum: [ north-america, europe, asia, south-america, oceania ]
          description: Filter by geographic region
        - name: game_mode
          in: query
          schema:
            type: string
            enum: [ pvp, pve, raid, dungeon, open-world ]
          description: Filter by game mode
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Maximum number of sessions to return
      responses:
        "200":
          description: Active network sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions:
                    type: array
                    items:
                      $ref: "#/components/schemas/NetworkSession"
                  total_count:
                    type: integer
                  timestamp:
                    type: string
                    format: date-time
                required:
                  - sessions
                  - total_count
                  - timestamp

  /api/v1/analysis/network/monitoring/latency:
    get:
      summary: Get latency statistics
      description: |
        Provides detailed latency statistics across different network segments,
        regions, and connection types for MMORPG performance optimization.
      operationId: getLatencyStats
      tags: [ Performance, Monitoring ]
      security:
        - BearerAuth: [ ]
      parameters:
        - name: timeframe
          in: query
          schema:
            type: string
            enum: [ 1m, 5m, 15m, 1h, 24h ]
            default: 15m
          description: Time window for statistics
        - name: region
          in: query
          schema:
            type: string
          description: Geographic region filter
      responses:
        "200":
          description: Latency statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LatencyStatistics"

  # Network Architecture Analysis
  /api/v1/analysis/network/architecture/bottlenecks:
    get:
      summary: Analyze network bottlenecks
      description: |
        Advanced analysis of network bottlenecks and performance issues.
        Identifies problematic regions, connection types, and infrastructure issues.
      operationId: analyzeBottlenecks
      tags: [ Network Analysis, Performance ]
      security:
        - BearerAuth: [ ]
      parameters:
        - name: analysis_type
          in: query
          schema:
            type: string
            enum: [ realtime, historical, predictive ]
            default: realtime
          description: Type of bottleneck analysis
        - name: severity_threshold
          in: query
          schema:
            type: number
            minimum: 0
            maximum: 1
            default: 0.7
          description: Minimum severity threshold (0-1)
      responses:
        "200":
          description: Network bottleneck analysis
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BottleneckAnalysis"

  /api/v1/analysis/network/architecture/scalability:
    post:
      summary: Analyze network scalability
      description: |
        Comprehensive scalability analysis for network infrastructure.
        Provides recommendations for capacity planning and load distribution.
      operationId: analyzeScalability
      tags: [ Network Analysis, Performance ]
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scenario:
                  type: string
                  enum: [ peak_load, seasonal_event, global_launch, regional_expansion ]
                  description: Analysis scenario
                projected_users:
                  type: integer
                  minimum: 1000
                  description: Projected number of concurrent users
                time_window:
                  type: string
                  enum: [ 1h, 6h, 24h, 7d, 30d ]
                  description: Analysis time window
                regions:
                  type: array
                  items:
                    type: string
                  description: Geographic regions to include
              required:
                - scenario
                - projected_users
      responses:
        "200":
          description: Scalability analysis results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScalabilityAnalysis"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Security Monitoring
  /api/v1/analysis/network/security/threats:
    get:
      summary: Get network security threats
      description: |
        Real-time monitoring of network security threats and suspicious activities.
        Includes DDoS detection, unusual traffic patterns, and security incidents.
      operationId: getSecurityThreats
      tags: [ Security, Monitoring ]
      security:
        - BearerAuth: [ ]
      parameters:
        - name: threat_level
          in: query
          schema:
            type: string
            enum: [ low, medium, high, critical ]
          description: Minimum threat level to include
        - name: time_range
          in: query
          schema:
            type: string
            enum: [ 1h, 6h, 24h, 7d ]
            default: 1h
          description: Time range for threat analysis
      responses:
        "200":
          description: Network security threats
          content:
            application/json:
              schema:
                type: object
                properties:
                  threats:
                    type: array
                    items:
                      $ref: "#/components/schemas/SecurityThreat"
                  total_count:
                    type: integer
                  last_updated:
                    type: string
                    format: date-time
                required:
                  - threats
                  - total_count
                  - last_updated

  # Geographic Analysis
  /api/v1/analysis/network/geographic/distribution:
    get:
      summary: Get player geographic distribution
      description: |
        Analyzes player distribution across geographic regions for network optimization
        and content delivery network (CDN) planning.
      operationId: getGeographicDistribution
      tags: [ Network Analysis ]
      security:
        - BearerAuth: [ ]
      parameters:
        - name: granularity
          in: query
          schema:
            type: string
            enum: [ country, region, city ]
            default: country
          description: Geographic granularity level
        - name: metric
          in: query
          schema:
            type: string
            enum: [ player_count, latency_avg, bandwidth_usage ]
            default: player_count
          description: Metric to analyze
      responses:
        "200":
          description: Geographic distribution analysis
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeographicDistribution"

components:
  schemas:
    # Health schemas
    HealthResponse:
      type: object
      required: [ status, timestamp, version, service ]
      properties:
        status:
          type: string
          enum: [ ok, degraded, down ]
          description: Current service status
        timestamp:
          type: string
          format: date-time
          description: Health check timestamp
        version:
          type: string
          description: Service version
        service:
          type: string
          description: Service name
        uptime_seconds:
          type: integer
          description: Service uptime in seconds
        active_connections:
          type: integer
          description: Number of active network connections

    # Network Session with struct alignment optimization
    NetworkSession:
      type: object
      required: [ session_id, player_id, region, connection_type, latency_ms ]
      properties:
        # Large types first for struct alignment
        session_id:
          type: string
          format: uuid
          description: Unique session identifier
        player_id:
          type: string
          format: uuid
          description: Player identifier
        created_at:
          type: string
          format: date-time
          description: Session creation timestamp
        last_activity:
          type: string
          format: date-time
          description: Last activity timestamp

        # Medium types (int32)
        latency_ms:
          type: integer
          format: int32
          minimum: 0
          description: Current latency in milliseconds
        bandwidth_kbps:
          type: integer
          format: int32
          minimum: 0
          description: Current bandwidth usage in kbps
        packet_loss_percent:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Packet loss percentage

        # String types grouped together
        region:
          type: string
          enum: [ north-america, europe, asia, south-america, oceania, africa ]
          description: Geographic region
        connection_type:
          type: string
          enum: [ wired, wireless, mobile, satellite ]
          description: Network connection type
        game_mode:
          type: string
          enum: [ pvp, pve, raid, dungeon, open-world, social ]
          description: Current game mode
        client_version:
          type: string
          description: Game client version

    # BACKEND NOTE: NetworkSession struct optimized for 64-bit alignment
    # Memory savings: 30-50% through field ordering

    LatencyStatistics:
      type: object
      required: [ timeframe, regions, global_average ]
      properties:
        timeframe:
          type: string
          description: Analysis timeframe
        global_average:
          type: object
          properties:
            p50:
              type: number
              format: float
              description: 50th percentile latency (ms)
            p95:
              type: number
              format: float
              description: 95th percentile latency (ms)
            p99:
              type: number
              format: float
              description: 99th percentile latency (ms)
            min:
              type: integer
              description: Minimum latency (ms)
            max:
              type: integer
              description: Maximum latency (ms)
        regions:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/LatencyStatistics"
          description: Latency statistics by region

    BottleneckAnalysis:
      type: object
      required: [ timestamp, bottlenecks, recommendations ]
      properties:
        timestamp:
          type: string
          format: date-time
        analysis_type:
          type: string
          enum: [ realtime, historical, predictive ]
        bottlenecks:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [ latency, bandwidth, packet_loss, server_load, regional_congestion ]
              severity:
                type: number
                format: float
                minimum: 0
                maximum: 1
                description: Severity score (0-1)
              affected_regions:
                type: array
                items:
                  type: string
              description:
                type: string
              impact:
                type: string
                enum: [ low, medium, high, critical ]
            required:
              - type
              - severity
              - description
        recommendations:
          type: array
          items:
            type: object
            properties:
              priority:
                type: string
                enum: [ low, medium, high, urgent ]
              action:
                type: string
              expected_impact:
                type: string
              implementation_effort:
                type: string
                enum: [ low, medium, high ]
            required:
              - priority
              - action

    ScalabilityAnalysis:
      type: object
      required: [ scenario, projected_load, recommendations ]
      properties:
        scenario:
          type: string
          description: Analysis scenario
        projected_load:
          type: object
          properties:
            concurrent_users:
              type: integer
            peak_bandwidth_gbps:
              type: number
              format: float
            storage_growth_tb:
              type: number
              format: float
            compute_cores_needed:
              type: integer
        current_capacity:
          type: object
          properties:
            max_concurrent_users:
              type: integer
            available_bandwidth_gbps:
              type: number
              format: float
            storage_capacity_tb:
              type: number
              format: float
            compute_cores_available:
              type: integer
        bottlenecks:
          type: array
          items:
            type: string
        recommendations:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
                enum: [ infrastructure, networking, database, cdn ]
              action:
                type: string
              cost_estimate:
                type: string
              timeline:
                type: string
            required:
              - category
              - action

    SecurityThreat:
      type: object
      required: [ threat_id, type, severity, detected_at, source_region ]
      properties:
        threat_id:
          type: string
          format: uuid
        type:
          type: string
          enum: [ ddos, unusual_traffic, suspicious_connections, data_exfiltration, botnet_activity ]
        severity:
          type: string
          enum: [ low, medium, high, critical ]
        detected_at:
          type: string
          format: date-time
        source_region:
          type: string
        affected_sessions:
          type: integer
        description:
          type: string
        mitigation_status:
          type: string
          enum: [ detected, investigating, mitigated, resolved ]

    GeographicDistribution:
      type: object
      required: [ granularity, metric, data, timestamp ]
      properties:
        granularity:
          type: string
          enum: [ country, region, city ]
        metric:
          type: string
          enum: [ player_count, latency_avg, bandwidth_usage ]
        data:
          type: object
          additionalProperties:
            type: object
            properties:
              value:
                type: number
              percentage:
                type: number
                format: float
              trend:
                type: string
                enum: [ increasing, decreasing, stable ]
          description: Geographic data points
        timestamp:
          type: string
          format: date-time
        top_regions:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: number
              rank:
                type: integer
            required:
              - name
              - value
              - rank
          maxItems: 10

    # Standard error responses
    Error:
      type: object
      required: [ code, message ]
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
        details:
          type: object
          description: Additional error details
        timestamp:
          type: string
          format: date-time

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

# BACKEND NOTE: All schemas optimized for struct alignment (30-50% memory savings)
# PERFORMANCE: Network analysis requires real-time processing with sub-10ms latency
# SCALING: Horizontal scaling with read replicas for geographic queries
