openapi: 3.0.3
info:
  title: Player Orders Components
  version: 1.1.0
  description: Общие параметры и ссылки на специализированные схемы заказов игроков.
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
paths: {}
components:
  parameters:
    OrderId:
      name: orderId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Идентификатор заказа игрока.
    TemplateFilter:
      name: template
      in: query
      schema:
        type: string
        enum: [combat, hacker, economy, social, exploration]
      description: Фильтр по шаблону заказа.
    OrderStatusFilter:
      name: status
      in: query
      schema:
        type: string
        enum: [draft, pending_estimate, pending_validation, ready_to_publish, published, cancelled]
      description: Фильтр по статусу заказа.
    VisibilityFilter:
      name: visibility
      in: query
      schema:
        type: string
        enum: [public, invite_only, private]
      description: Фильтр по режиму публикации.
  schemas:
    PlayerOrderTemplate:
      $ref: './player-orders-brief-components.yaml#/components/schemas/PlayerOrderTemplate'
    PlayerOrderTemplateList:
      $ref: './player-orders-brief-components.yaml#/components/schemas/PlayerOrderTemplateList'
    PlayerOrderBrief:
      $ref: './player-orders-brief-components.yaml#/components/schemas/PlayerOrderBrief'
    PlayerOrderDraft:
      $ref: './player-orders-brief-components.yaml#/components/schemas/PlayerOrderDraft'
    PlayerOrderSummary:
      $ref: './player-orders-brief-components.yaml#/components/schemas/PlayerOrderSummary'
    PlayerOrderBudgetFactors:
      $ref: './player-orders-budget-components.yaml#/components/schemas/PlayerOrderBudgetFactors'
    PlayerOrderBudgetEstimate:
      $ref: './player-orders-budget-components.yaml#/components/schemas/PlayerOrderBudgetEstimate'
    PlayerOrderBudgetSummary:
      $ref: './player-orders-budget-components.yaml#/components/schemas/PlayerOrderBudgetSummary'
    PlayerOrderValidationSummary:
      $ref: './player-orders-validation-components.yaml#/components/schemas/PlayerOrderValidationSummary'
    PlayerOrderPublicationInfo:
      $ref: './player-orders-publication-components.yaml#/components/schemas/PlayerOrderPublicationInfo'
    PlayerOrderAttachment:
      $ref: './player-orders-publication-components.yaml#/components/schemas/PlayerOrderAttachment'
    PlayerOrderAttachmentUpload:
      $ref: './player-orders-publication-components.yaml#/components/schemas/PlayerOrderAttachmentUpload'
    PlayerOrderPublicationPayload:
      $ref: './player-orders-publication-components.yaml#/components/schemas/PlayerOrderPublicationPayload'
    PlayerOrderCancellation:
      $ref: './player-orders-publication-components.yaml#/components/schemas/PlayerOrderCancellation'
    PlayerOrderCancellationResult:
      $ref: './player-orders-publication-components.yaml#/components/schemas/PlayerOrderCancellationResult'
  requestBodies:
    PlayerOrderCreateRequest:
      $ref: './player-orders-brief-components.yaml#/components/requestBodies/PlayerOrderCreateRequest'
    PlayerOrderUpdateRequest:
      $ref: './player-orders-brief-components.yaml#/components/requestBodies/PlayerOrderUpdateRequest'
    PlayerOrderEstimateRequest:
      $ref: './player-orders-budget-components.yaml#/components/requestBodies/PlayerOrderEstimateRequest'
    PlayerOrderValidationRequest:
      $ref: './player-orders-validation-components.yaml#/components/requestBodies/PlayerOrderValidationRequest'
    PlayerOrderPublishRequest:
      $ref: './player-orders-publication-components.yaml#/components/requestBodies/PlayerOrderPublishRequest'
    PlayerOrderCancelRequest:
      $ref: './player-orders-publication-components.yaml#/components/requestBodies/PlayerOrderCancelRequest'
    PlayerOrderAttachmentUploadRequest:
      $ref: './player-orders-publication-components.yaml#/components/requestBodies/PlayerOrderAttachmentUploadRequest'
  responses:
    PlayerOrderPublishAccepted:
      $ref: './player-orders-publication-components.yaml#/components/responses/PlayerOrderPublishAccepted'
    PlayerOrderCancellationAccepted:
      $ref: './player-orders-publication-components.yaml#/components/responses/PlayerOrderCancellationAccepted'
  examples:
    CombatDraftExample:
      $ref: './player-orders-brief-components.yaml#/components/examples/CombatDraftExample'
    EstimateRequestExample:
      $ref: './player-orders-budget-components.yaml#/components/examples/EstimateRequestExample'
    ValidationRequestExample:
      $ref: './player-orders-validation-components.yaml#/components/examples/ValidationRequestExample'
    PublishRequestExample:
      $ref: './player-orders-publication-components.yaml#/components/examples/PublishRequestExample'
    PublishResponseExample:
      $ref: './player-orders-publication-components.yaml#/components/examples/PublishResponseExample'
    CancelRequestExample:
      $ref: './player-orders-publication-components.yaml#/components/examples/CancelRequestExample'
    CancellationResponseExample:
      $ref: './player-orders-publication-components.yaml#/components/examples/CancellationResponseExample'

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
