# Target Architecture:
# - Microservice: social-service (port 8084)
# - API Base: /api/v1/social/voice
# - Dependencies: auth-service, party-service, guild-service, matchmaking-service, realtime-service, voice-provider-adapter
# - Frontend Module: modules/social/voice (useSocialStore.voiceChannels)
# - UI: VoiceChannelPanel, VoiceParticipantList, VoiceControls, SpatialAudioVisualizer
# - Forms: VoiceChannelSettingsForm, VoiceQualityForm
# - Layouts: GameLayout, SocialHubLayout
# - Hooks: useVoiceConnection, useRealtime, useDebounce

openapi: 3.0.3
info:
  title: Voice Chat API
  description: |
    Управление голосовыми каналами, WebRTC токенами, качеством аудио и модерацией.
    Сервис используется voice-lobby, party/guild системами и realtime уведомлениями.
  version: 1.0.0
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - { name: Channels, description: Управление жизненным циклом каналов }
  - { name: Participants, description: Работа с участниками и статусами }
  - { name: Quality, description: Качество связи и proximity }
  - { name: Provider Events, description: Вебхуки голосового провайдера }
paths:
  /social/voice/channels:
    post:
      tags: [Channels]
      summary: Создать голосовой канал
      description: Создаёт party/guild/raid/proximity канал, проверяя права через party/guild сервисы.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateVoiceChannelRequest' }
            examples:
              guild:
                value:
                  channelName: "Valentinos HQ"
                  channelType: guild
                  owner: { ownerType: guild, ownerId: "guild-92f3" }
                  qualityPreset: medium
                  maxParticipants: 32
                  allowedRoles: [captain, officer]
                  autoCloseMinutes: 45
                  proximity: { enabled: false }
      responses:
        '201': { description: Канал создан, content: { application/json: { schema: { $ref: '#/components/schemas/VoiceChannel' } } } }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
    get:
      tags: [Channels]
      summary: Список каналов
      parameters:
        - { in: query, name: ownerType, schema: { type: string, enum: [player, party, guild, lobby, raid] } }
        - { in: query, name: ownerId, schema: { type: string } }
        - { in: query, name: channelType, schema: { type: string, enum: [party, guild, raid, proximity, custom] } }
        - { in: query, name: isActive, schema: { type: boolean } }
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200': { description: Найденные каналы, content: { application/json: { schema: { $ref: '#/components/schemas/VoiceChannelList' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
  /social/voice/channels/{channelId}:
    get:
      tags: [Channels]
      summary: Детали канала
      parameters:
        - $ref: '#/components/parameters/ChannelId'
      responses:
        '200': { description: Детали канала, content: { application/json: { schema: { $ref: '#/components/schemas/VoiceChannel' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
    patch:
      tags: [Channels]
      summary: Обновить настройки
      parameters:
        - $ref: '#/components/parameters/ChannelId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateVoiceChannelRequest' }
      responses:
        '200': { description: Обновлённый канал, content: { application/json: { schema: { $ref: '#/components/schemas/VoiceChannel' } } } }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
    delete:
      tags: [Channels]
      summary: Закрыть канал
      parameters:
        - $ref: '#/components/parameters/ChannelId'
      responses:
        '204': { description: Канал закрыт }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /social/voice/channels/{channelId}/join:
    post:
      tags: [Participants]
      summary: Подключить игрока
      parameters:
        - $ref: '#/components/parameters/ChannelId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/JoinVoiceRequest' }
            examples:
              raidJoin:
                value:
                  playerId: "player-5510"
                  preferredQuality: high
                  clientInfo: { platform: pc, build: "1.4.2" }
                  location: { worldId: "night-city", x: 123.4, y: 88, z: 12.5 }
      responses:
        '200': { description: Токен выдан, content: { application/json: { schema: { $ref: '#/components/schemas/JoinVoiceResponse' } } } }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
  /social/voice/channels/{channelId}/leave:
    post:
      tags: [Participants]
      summary: Отключить игрока
      parameters:
        - $ref: '#/components/parameters/ChannelId'
      responses:
        '200': { description: Игрок отключён, content: { application/json: { schema: { $ref: '#/components/schemas/LeaveVoiceResponse' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /social/voice/channels/{channelId}/participants:
    get:
      tags: [Participants]
      summary: Список участников
      parameters:
        - $ref: '#/components/parameters/ChannelId'
      responses:
        '200': { description: Участники, content: { application/json: { schema: { $ref: '#/components/schemas/VoiceParticipantList' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /social/voice/channels/{channelId}/participants/{playerId}/mute:
    post:
      tags: [Participants]
      summary: Переключить mute
      parameters:
        - $ref: '#/components/parameters/ChannelId'
        - $ref: '#/components/parameters/PlayerId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VoiceMuteRequest' }
            examples:
              moderator:
                value: { action: mute, reason: "Toxic behaviour", durationSeconds: 900, moderatorId: "player-mod-1" }
      responses:
        '200': { description: Статус mute обновлён, content: { application/json: { schema: { $ref: '#/components/schemas/VoiceParticipant' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
  /social/voice/channels/{channelId}/participants/{playerId}/deafen:
    post:
      tags: [Participants]
      summary: Переключить deafen
      parameters:
        - $ref: '#/components/parameters/ChannelId'
        - $ref: '#/components/parameters/PlayerId'
      responses:
        '200': { description: Статус deafen обновлён, content: { application/json: { schema: { $ref: '#/components/schemas/VoiceParticipant' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /social/voice/channels/{channelId}/quality:
    post:
      tags: [Quality]
      summary: Обновить параметры качества
      parameters:
        - $ref: '#/components/parameters/ChannelId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VoiceQualityRequest' }
      responses:
        '200': { description: Актуальные настройки, content: { application/json: { schema: { $ref: '#/components/schemas/VoiceQualityConfig' } } } }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /social/voice/proximity/update:
    post:
      tags: [Quality]
      summary: Обновить координаты proximity
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProximityUpdateRequest' }
            examples:
              proximity:
                value: { playerId: "player-5510", worldId: "night-city", coordinates: { x: 122.3, y: 17.5, z: 4.2 }, velocity: { x: 0.4, y: 0.0, z: -0.1 }, timestamp: "2025-11-07T18:44:00Z" }
      responses:
        '202': { description: Обновление принято, content: { application/json: { schema: { $ref: '#/components/schemas/ProximityUpdateAccepted' } } } }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /social/voice/metrics:
    get:
      tags: [Quality]
      summary: Метрики качества связи
      parameters:
        - { in: query, name: channelId, schema: { type: string } }
        - { in: query, name: ownerType, schema: { type: string, enum: [guild, party, lobby, raid] } }
        - { in: query, name: range, schema: { type: string, enum: [5m, 1h, 24h, 7d], default: 1h } }
      responses:
        '200': { description: Метрики, content: { application/json: { schema: { $ref: '#/components/schemas/VoiceMetrics' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
  /social/voice/channels/{channelId}/events:
    post:
      tags: [Provider Events]
      summary: Вебхук голосового провайдера
      parameters:
        - $ref: '#/components/parameters/ChannelId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProviderEvent' }
            examples:
              degraded:
                value: { eventType: NETWORK_DEGRADED, occurredAt: "2025-11-07T18:50:00Z", payload: { packetLossPercent: 12.5, recommendation: "Switch to medium preset" } }
      responses:
        '202': { description: Событие принято, content: { application/json: { schema: { $ref: '#/components/schemas/EventAck' } } } }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
components:
  securitySchemes:
    BearerAuth: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth' }
  parameters:
    ChannelId: { name: channelId, in: path, required: true, schema: { type: string } }
    PlayerId: { name: playerId, in: path, required: true, schema: { type: string } }
  schemas:
    VoiceChannelList:
      type: object
      properties: { items: { type: array, items: { $ref: '#/components/schemas/VoiceChannelSummary' } }, pagination: { $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginationMeta' } }
    VoiceChannelSummary:
      type: object
      required: [channelId, channelName, channelType, owner, qualityPreset, status]
      properties:
        channelId: { type: string }
        channelName: { type: string }
        channelType: { type: string, enum: [party, guild, raid, proximity, custom] }
        owner: { $ref: '#/components/schemas/VoiceChannelOwner' }
        maxParticipants: { type: integer, minimum: 1, maximum: 128 }
        activeParticipants: { type: integer, minimum: 0 }
        qualityPreset: { type: string, enum: [low, medium, high, ultra] }
        status: { type: string, enum: [active, scheduled, closed] }
        proximity: { $ref: '#/components/schemas/ProximitySettings' }
    VoiceChannel:
      allOf:
        - $ref: '#/components/schemas/VoiceChannelSummary'
        - type: object
          properties: { description: { type: string }, permissions: { $ref: '#/components/schemas/VoiceChannelPermissions' }, allowedRoles: { type: array, items: { type: string } }, maxBitrateKbps: { type: integer }, createdAt: { type: string, format: date-time }, autoCloseMinutes: { type: integer }, analytics: { $ref: '#/components/schemas/VoiceMetrics' } }
    VoiceChannelOwner:
      type: object
      required: [ownerType, ownerId]
      properties: { ownerType: { type: string, enum: [player, party, guild, lobby, raid] }, ownerId: { type: string } }
    VoiceChannelPermissions:
      type: object
      properties: { allowInvite: { type: boolean }, allowRecording: { type: boolean }, allowSpectators: { type: boolean } }
    ProximitySettings:
      type: object
      properties: { enabled: { type: boolean }, falloffStartMeters: { type: number, minimum: 0 }, falloffEndMeters: { type: number, minimum: 0 }, spatialAudio: { type: boolean } }
    CreateVoiceChannelRequest:
      type: object
      required: [channelName, channelType, owner, qualityPreset, maxParticipants]
      properties:
        channelName: { type: string }
        channelType: { type: string, enum: [party, guild, raid, proximity, custom] }
        owner: { $ref: '#/components/schemas/VoiceChannelOwner' }
        qualityPreset: { type: string, enum: [low, medium, high, ultra] }
        maxParticipants: { type: integer, minimum: 2, maximum: 128 }
        allowedRoles: { type: array, items: { type: string } }
        proximity: { $ref: '#/components/schemas/ProximitySettings' }
        autoCloseMinutes: { type: integer, minimum: 5, maximum: 240 }
    UpdateVoiceChannelRequest:
      type: object
      properties: { qualityPreset: { type: string, enum: [low, medium, high, ultra] }, maxParticipants: { type: integer, minimum: 2, maximum: 128 }, permissions: { $ref: '#/components/schemas/VoiceChannelPermissions' }, allowedRoles: { type: array, items: { type: string } }, proximity: { $ref: '#/components/schemas/ProximitySettings' }, autoCloseMinutes: { type: integer } }
    JoinVoiceRequest:
      type: object
      required: [playerId]
      properties:
        playerId: { type: string }
        preferredQuality: { type: string, enum: [low, medium, high, ultra] }
        clientInfo: { type: object, properties: { platform: { type: string, enum: [pc, console, mobile] }, build: { type: string } } }
        location: { type: object, properties: { worldId: { type: string }, x: { type: number }, y: { type: number }, z: { type: number } } }
    JoinVoiceResponse:
      type: object
      required: [token, expiresAt, channel]
      properties: { token: { type: string }, expiresAt: { type: string, format: date-time }, channel: { $ref: '#/components/schemas/VoiceChannel' }, iceServers: { type: array, items: { $ref: '#/components/schemas/IceServer' } }, participants: { type: array, items: { $ref: '#/components/schemas/VoiceParticipant' } } }
    LeaveVoiceResponse:
      type: object
      properties: { channelId: { type: string }, removedAt: { type: string, format: date-time }, remainingParticipants: { type: integer } }
    VoiceParticipantList:
      type: object
      properties: { channelId: { type: string }, participants: { type: array, items: { $ref: '#/components/schemas/VoiceParticipant' } } }
    VoiceParticipant:
      type: object
      required: [playerId, status, isMuted, isDeafened, joinedAt]
      properties: { playerId: { type: string }, displayName: { type: string }, role: { type: string }, status: { type: string, enum: [connecting, connected, reconnecting, disconnected] }, isMuted: { type: boolean }, isDeafened: { type: boolean }, isSpeaking: { type: boolean }, audioQuality: { type: string, enum: [low, medium, high] }, joinedAt: { type: string, format: date-time }, connectionId: { type: string } }
    VoiceMuteRequest:
      type: object
      required: [action]
      properties: { action: { type: string, enum: [mute, unmute] }, reason: { type: string }, durationSeconds: { type: integer, minimum: 30 }, moderatorId: { type: string } }
    VoiceQualityRequest:
      type: object
      required: [preset]
      properties: { preset: { type: string, enum: [low, medium, high, ultra] }, bitrateKbps: { type: integer }, sampleRateHz: { type: integer }, maxVideoStreams: { type: integer } }
    VoiceQualityConfig:
      type: object
      required: [preset, bitrateKbps, sampleRateHz]
      properties: { preset: { type: string, enum: [low, medium, high, ultra] }, bitrateKbps: { type: integer }, sampleRateHz: { type: integer }, maxParticipants: { type: integer }, recommendedDevices: { type: array, items: { type: string } } }
    ProximityUpdateRequest:
      type: object
      required: [playerId, worldId, coordinates, timestamp]
      properties: { playerId: { type: string }, worldId: { type: string }, coordinates: { type: object, required: [x, y, z], properties: { x: { type: number }, y: { type: number }, z: { type: number } } }, velocity: { type: object, properties: { x: { type: number }, y: { type: number }, z: { type: number } } }, timestamp: { type: string, format: date-time } }
    ProximityUpdateAccepted:
      type: object
      required: [trackingId, nextUpdateHint]
      properties: { trackingId: { type: string }, nextUpdateHint: { type: integer } }
    VoiceMetrics:
      type: object
      properties: { latencyMs: { type: number }, packetLossPercent: { type: number }, activeSpeakers: { type: integer }, averageSpeakTimeSeconds: { type: number }, peakConcurrent: { type: integer } }
    ProviderEvent:
      type: object
      required: [eventType, occurredAt]
      properties: { eventType: { type: string, enum: [PLAYER_MUTED, PLAYER_UNMUTED, NETWORK_DEGRADED, CHANNEL_CLOSED] }, occurredAt: { type: string, format: date-time }, payload: { type: object, additionalProperties: true } }
    EventAck:
      type: object
      required: [acknowledgementId, processedAt]
      properties: { acknowledgementId: { type: string }, processedAt: { type: string, format: date-time } }
    IceServer:
      type: object
      properties: { urls: { type: array, items: { type: string } }, username: { type: string }, credential: { type: string } }

