# Target Architecture:
# - Microservice: social-service (port 8084)
# - API Base: /api/v1/social/voice-lobbies
# - Dependencies: auth-service, party-service, guild-service, matchmaking-service, voice-provider-adapter
# - Frontend Module: modules/social/voice-lobbies (useSocialStore.voiceLobbies)
# - UI: VoiceLobbyCard, VoiceLobbyFilters, VoiceLobbyDetailsDrawer, VoiceStatusIndicator
# - Forms: VoiceLobbyForm, ReadyCheckModal, SubchannelConfigForm
# - Layouts: GameLayout, SocialHubLayout
# - Hooks: useRealtime, useDebounce, usePartySync

openapi: 3.0.3
info:
  title: Voice Lobby API
  description: API управления голосовыми лобби, ready-check, подканалами, матчмейкингом и модерацией.
  version: 1.0.0
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - name: Voice Lobbies
  - name: Matchmaking
  - name: Moderation
paths:
  /social/voice-lobbies:
    get:
      tags: [Voice Lobbies]
      summary: Список голосовых лобби
      parameters:
        - { in: query, name: activityCode, schema: { type: string } }
        - { in: query, name: lobbyType, schema: { type: string, enum: [raid, tournament, guild, social] } }
        - { in: query, name: role, schema: { type: string } }
        - { in: query, name: region, schema: { type: string } }
        - { in: query, name: language, schema: { type: string } }
        - { in: query, name: status, schema: { type: string, enum: [open, preparing, in_progress, closed] } }
        - { in: query, name: minRating, schema: { type: integer } }
        - { in: query, name: maxRating, schema: { type: integer } }
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses: { '200': { description: Найденные лобби, content: { application/json: { schema: { $ref: '#/components/schemas/VoiceLobbyListResponse' } } } }, '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }, '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }, '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' } }
    post:
      tags: [Voice Lobbies]
      summary: Создать голосовое лобби
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateVoiceLobbyRequest' }
      responses: { '201': { description: Лобби создано, content: { application/json: { schema: { $ref: '#/components/schemas/VoiceLobbyDetails' } } } }, '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }, '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }, '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }, '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' } }

  /social/voice-lobbies/{lobbyId}:
    get:
      tags: [Voice Lobbies]
      summary: Получить детали лобби
      parameters:
        - $ref: '#/components/parameters/LobbyId'
      responses: { '200': { description: Детали лобби, content: { application/json: { schema: { $ref: '#/components/schemas/VoiceLobbyDetails' } } } }, '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }, '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }, '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' } }

  /social/voice-lobbies/{lobbyId}/join:
    post:
      tags: [Voice Lobbies]
      summary: Присоединиться к лобби
      parameters:
        - $ref: '#/components/parameters/LobbyId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/JoinLobbyRequest' }
      responses: { '200': { description: Участник добавлен, content: { application/json: { schema: { $ref: '#/components/schemas/JoinLobbyResponse' } } } }, '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }, '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }, '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }, '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }, '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }, '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' } }

  /social/voice-lobbies/{lobbyId}/leave:
    post:
      tags: [Voice Lobbies]
      summary: Покинуть лобби
      parameters:
        - $ref: '#/components/parameters/LobbyId'
      responses: { '200': { description: Участник удалён, content: { application/json: { schema: { $ref: '#/components/schemas/LeaveLobbyResponse' } } } }, '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }, '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }, '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' } }

  /social/voice-lobbies/{lobbyId}/ready-check:
    post:
      tags: [Voice Lobbies]
      summary: Запустить ready-check
      parameters:
        - $ref: '#/components/parameters/LobbyId'
      responses: { '202': { description: Ready-check запущен, content: { application/json: { schema: { $ref: '#/components/schemas/ReadyCheckState' } } } }, '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }, '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }, '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }, '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' } }

  /social/voice-lobbies/{lobbyId}/lock:
    patch:
      tags: [Voice Lobbies]
      summary: Заблокировать или открыть лобби
      parameters:
        - $ref: '#/components/parameters/LobbyId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LockLobbyRequest' }
      responses: { '200': { description: Статус обновлён, content: { application/json: { schema: { $ref: '#/components/schemas/VoiceLobbyDetails' } } } }, '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }, '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }, '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' } }

  /social/voice-lobbies/{lobbyId}/subchannels:
    post:
      tags: [Voice Lobbies]
      summary: Управлять подканалами
      parameters:
        - $ref: '#/components/parameters/LobbyId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubchannelMutationRequest' }
      responses: { '200': { description: Обновлённый список подканалов, content: { application/json: { schema: { $ref: '#/components/schemas/SubchannelList' } } } }, '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }, '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }, '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }, '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }, '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' } }

  /social/voice-lobbies/{lobbyId}/voice-settings:
    patch:
      tags: [Voice Lobbies]
      summary: Изменить параметры связи
      parameters:
        - $ref: '#/components/parameters/LobbyId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VoiceSettingsPatch' }
      responses: { '200': { description: Новые настройки, content: { application/json: { schema: { $ref: '#/components/schemas/VoiceSettings' } } } }, '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }, '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }, '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }, '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' } }

  /social/voice-lobbies/matchmaking/search:
    post:
      tags: [Matchmaking]
      summary: Запросить подбор лобби
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MatchmakingRequest' }
      responses: { '202': { description: Запрос принят, content: { application/json: { schema: { $ref: '#/components/schemas/MatchmakingStatus' } } } }, '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }, '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }, '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' } }

  /social/voice-lobbies/matchmaking/status/{requestId}:
    get:
      tags: [Matchmaking]
      summary: Проверить статус подбора
      parameters:
        - { in: path, name: requestId, required: true, schema: { type: string } }
      responses: { '200': { description: Текущий статус, content: { application/json: { schema: { $ref: '#/components/schemas/MatchmakingStatus' } } } }, '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }, '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }, '410': { $ref: '../../shared/common/responses.yaml#/components/responses/ResourceGone' } }

  /social/voice-lobbies/{lobbyId}/moderation/actions:
    post:
      tags: [Moderation]
      summary: Выполнить модерационное действие
      parameters:
        - $ref: '#/components/parameters/LobbyId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ModerationActionRequest' }
      responses: { '200': { description: Действие применено, content: { application/json: { schema: { $ref: '#/components/schemas/ModerationResult' } } } }, '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }, '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }, '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }, '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' } }

  /social/voice-lobbies/analytics/overview:
    get:
      tags: [Voice Lobbies]
      summary: Аналитика заполненности и качества
      parameters:
        - { in: query, name: activityCode, schema: { type: string } }
        - { in: query, name: region, schema: { type: string } }
        - { in: query, name: range, schema: { type: string, enum: [1h, 6h, 24h, 7d], default: 1h } }
      responses: { '200': { description: Аггрегированная статистика, content: { application/json: { schema: { $ref: '#/components/schemas/VoiceLobbyAnalytics' } } } }, '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }, '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' } }

components:
  securitySchemes:
    BearerAuth: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth' }
  parameters:
    LobbyId: { name: lobbyId, in: path, required: true, schema: { type: string } }
  schemas:
    VoiceLobbyListResponse:
      type: object
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/VoiceLobbySummary' } }
        pagination: { $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginationMeta' }
    VoiceLobbySummary:
      type: object
      required: [lobbyId, name, lobbyType, activityCode, region, requiredRoles, currentParticipants, maxParticipants, status]
      properties:
        lobbyId: { type: string }
        name: { type: string }
        lobbyType: { type: string, enum: [raid, tournament, guild, social] }
        activityCode: { type: string }
        region: { type: string }
        language: { type: string }
        requiredRoles: { type: array, items: { $ref: '#/components/schemas/RoleRequirement' } }
        currentParticipants: { type: integer }
        maxParticipants: { type: integer }
        status: { type: string, enum: [open, preparing, in_progress, closed] }
        voiceQualityTier: { type: string, enum: [high, standard, low] }
    VoiceLobbyDetails:
      allOf:
        - $ref: '#/components/schemas/VoiceLobbySummary'
        - type: object
          properties:
            description: { type: string }
            partyId: { type: string }
            guildId: { type: string }
            voiceChannelId: { type: string }
            voiceSettings: { $ref: '#/components/schemas/VoiceSettings' }
            readyCheckState: { type: string, enum: [idle, running, completed] }
            participants: { type: array, items: { $ref: '#/components/schemas/LobbyParticipant' } }
            subchannels: { type: array, items: { $ref: '#/components/schemas/Subchannel' } }
            events: { type: array, items: { $ref: '#/components/schemas/VoiceLobbyEvent' } }
    RoleRequirement:
      type: object
      required: [role, needed, current]
      properties:
        role: { type: string }
        needed: { type: integer }
        current: { type: integer }
        priority: { type: string, enum: [critical, high, normal, low] }
    LobbyParticipant:
      type: object
      required: [playerId, nickname, role, micStatus, readyStatus]
      properties:
        playerId: { type: string }
        nickname: { type: string }
        role: { type: string }
        micStatus: { type: string, enum: [push_to_talk, voice_activation, muted] }
        readyStatus: { type: string, enum: [ready, pending, not_ready] }
        leadership: { type: string, enum: [owner, moderator, member] }
        partyMember: { type: boolean }
        guildRank: { type: string }
    Subchannel:
      type: object
      required: [subchannelId, purpose, maxParticipants]
      properties:
        subchannelId: { type: string }
        purpose: { type: string, enum: [main, role, strategy, private] }
        name: { type: string }
        maxParticipants: { type: integer }
        isLocked: { type: boolean }
        passwordProtected: { type: boolean }
        voiceChannelId: { type: string }
    VoiceSettings:
      type: object
      properties:
        tier: { type: string, enum: [high, standard, low] }
        codec: { type: string }
        bitrateKbps: { type: integer }
        pushToTalk: { type: boolean }
    CreateVoiceLobbyRequest:
      type: object
      required: [name, lobbyType, activityCode, region, language, maxParticipants, requiredRoles]
      properties:
        name: { type: string }
        lobbyType: { type: string, enum: [raid, tournament, guild, social] }
        activityCode: { type: string }
        region: { type: string }
        language: { type: string }
        maxParticipants: { type: integer }
        requiredRoles: { type: array, items: { $ref: '#/components/schemas/RoleRequirement' } }
        autoFillFromParty: { type: boolean }
        voiceSettings: { $ref: '#/components/schemas/VoiceSettings' }
    JoinLobbyRequest:
      type: object
      required: [playerId, preferredRole]
      properties:
        playerId: { type: string }
        preferredRole: { type: string }
        rating: { type: integer }
        voiceSettingsOverrides: { $ref: '#/components/schemas/VoiceSettings' }
        subchannelPreference: { type: string }
        partySync: { type: boolean }
    JoinLobbyResponse:
      type: object
      properties:
        participant: { $ref: '#/components/schemas/LobbyParticipant' }
        subchannels: { type: array, items: { $ref: '#/components/schemas/Subchannel' } }
    LeaveLobbyResponse:
      type: object
      properties:
        lobbyId: { type: string }
        remainingParticipants: { type: integer }
        freedRole: { type: string }
    ReadyCheckState:
      type: object
      required: [readyCheckId, state, expiresAt]
      properties:
        readyCheckId: { type: string }
        state: { type: string, enum: [running, completed, failed] }
        expiresAt: { type: string, format: date-time }
        readyPlayers: { type: array, items: { type: string } }
        pendingPlayers: { type: array, items: { type: string } }
        failedPlayers: { type: array, items: { type: string } }
    LockLobbyRequest:
      type: object
      required: [locked]
      properties:
        locked: { type: boolean }
        reason: { type: string }
        autoCloseAt: { type: string, format: date-time }
    SubchannelMutationRequest:
      type: object
      required: [operations]
      properties:
        operations:
          type: array
          items:
            type: object
            required: [action, subchannel]
            properties:
              action: { type: string, enum: [create, update, delete] }
              subchannel: { $ref: '#/components/schemas/Subchannel' }
    SubchannelList:
      type: object
      properties:
        lobbyId: { type: string }
        subchannels: { type: array, items: { $ref: '#/components/schemas/Subchannel' } }
    VoiceSettingsPatch:
      type: object
      properties:
        tier: { type: string, enum: [high, standard, low] }
        codec: { type: string }
        bitrateKbps: { type: integer }
        pushToTalk: { type: boolean }
        applyToParticipants: { type: boolean }
    MatchmakingRequest:
      type: object
      required: [playerId, roles]
      properties:
        playerId: { type: string }
        roles: { type: array, minItems: 1, items: { type: string } }
        rating: { type: integer }
        activityCode: { type: string }
        availabilityWindow: { type: string }
        language: { type: string }
        partyId: { type: string }
        allowNewLobby: { type: boolean }
    MatchmakingStatus:
      type: object
      required: [requestId, state]
      properties:
        requestId: { type: string }
        state: { type: string, enum: [queued, matched, created, expired] }
        suggestedLobbyId: { type: string }
        estimatedWaitSeconds: { type: integer }
        assignedRole: { type: string }
    ModerationActionRequest:
      type: object
      required: [action, targetPlayerId]
      properties:
        action: { type: string, enum: [mute, unmute, kick, invite, promote, demote] }
        targetPlayerId: { type: string }
        durationSeconds: { type: integer }
        reason: { type: string }
        notifyParticipant: { type: boolean }
    ModerationResult:
      type: object
      properties:
        lobbyId: { type: string }
        action: { type: string }
        targetPlayerId: { type: string }
        status: { type: string, enum: [applied, rejected] }
        message: { type: string }
    VoiceLobbyAnalytics:
      type: object
      properties:
        openLobbies: { type: integer }
        activeParticipants: { type: integer }
        avgFillTimeMinutes: { type: number }
        avgReadyCheckSuccessRate: { type: number }
        avgLatencyMs: { type: integer }
    VoiceLobbyEvent:
      type: object
      properties:
        eventType: { type: string, enum: [voice_lobby.created, voice_lobby.ready_check_started, voice_lobby.closed] }
        occurredAt: { type: string, format: date-time }
        payload: { type: object, additionalProperties: true }

