openapi: 3.0.3
info:
  title: Player Market Core API
  version: 1.0.0
  description: |
    API для рынка игроков с системой ордеров.
    
    Источник: .BRAIN/02-gameplay/economy/economy-player-market.md v1.0.0 (1829 строк!)
    
    Система ордеров:
    - Buy orders (заявки на покупку)
    - Sell orders (заявки на продажу)
    - Order book (стакан заявок)
    - Price/time priority
    
    Типы ордеров:
    - Market orders (мгновенное исполнение)
    - Limit orders (исполнение при цене)
    
    Исполнение: Частичное, полное, автоматическое
    Комиссии: Listing fee + exchange fee (0.5-5%)
    
    Вдохновение: EVE Online, GW2, Albion Online
    
    ПРИМЕЧАНИЕ: Дополнительные файлы:
    - player-market-orders.yaml - система ордеров
    - player-market-execution.yaml - исполнение ордеров
    - player-market-stats.yaml - статистика и графики

  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Player Market
    description: Рынок игроков

paths:
  /gameplay/economy/player-market/order-book:
    get:
      summary: Получить стакан заявок
      description: |
        Возвращает order book (стакан заявок) для предмета.
        Показывает buy и sell orders с ценами и объемами.
      operationId: getOrderBook
      tags:
        - Player Market
      parameters:
        - name: item_id
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Стакан заявок
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderBook'
              examples:
                weapon_order_book:
                  summary: Стакан для оружия
                  value:
                    item_id: "rare_weapon_001"
                    buy_orders:
                      - price: 4500
                        quantity: 10
                        total_orders: 3
                      - price: 4000
                        quantity: 25
                        total_orders: 7
                    sell_orders:
                      - price: 5000
                        quantity: 5
                        total_orders: 2
                      - price: 5500
                        quantity: 15
                        total_orders: 4
                    spread: 500
                    last_trade_price: 4800

  /gameplay/economy/player-market/create-order:
    post:
      summary: Создать ордер
      description: |
        Создает buy или sell order.
        Market order - исполняется мгновенно.
        Limit order - исполняется при достижении цены.
      operationId: createOrder
      tags:
        - Player Market
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - order_type
                - side
                - item_id
                - quantity
              properties:
                character_id:
                  type: string
                order_type:
                  type: string
                  enum: [market, limit]
                side:
                  type: string
                  enum: [buy, sell]
                item_id:
                  type: string
                quantity:
                  type: integer
                price:
                  type: number
                  description: Для limit orders
            examples:
              limit_buy:
                summary: Limit Buy Order
                value:
                  character_id: "char_123"
                  order_type: "limit"
                  side: "buy"
                  item_id: "rare_weapon_001"
                  quantity: 5
                  price: 4500
      responses:
        '200':
          description: Ордер создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id:
                    type: string
                  status:
                    type: string
                    enum: [filled, partially_filled, pending]
                  filled_quantity:
                    type: integer
                  remaining_quantity:
                    type: integer
                  average_price:
                    type: number
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/economy/player-market/my-orders:
    get:
      summary: Получить свои ордера
      description: Возвращает активные и завершенные ордера персонажа
      operationId: getMyOrders
      tags:
        - Player Market
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, filled, cancelled]
      responses:
        '200':
          description: Мои ордера
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlayerOrder'

  /gameplay/economy/player-market/cancel-order:
    post:
      summary: Отменить ордер
      description: Отменяет активный ордер
      operationId: cancelOrder
      tags:
        - Player Market
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - order_id
              properties:
                character_id:
                  type: string
                order_id:
                  type: string
      responses:
        '200':
          description: Ордер отменен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  order_id:
                    type: string
                  refund_amount:
                    type: number

components:
  schemas:
    OrderBook:
      type: object
      properties:
        item_id:
          type: string
        buy_orders:
          type: array
          items:
            type: object
            properties:
              price:
                type: number
              quantity:
                type: integer
              total_orders:
                type: integer
        sell_orders:
          type: array
          items:
            type: object
            properties:
              price:
                type: number
              quantity:
                type: integer
              total_orders:
                type: integer
        spread:
          type: number
          description: Разница между лучшей покупкой и продажей
        last_trade_price:
          type: number

    PlayerOrder:
      type: object
      properties:
        order_id:
          type: string
        character_id:
          type: string
        order_type:
          type: string
          enum: [market, limit]
        side:
          type: string
          enum: [buy, sell]
        item_id:
          type: string
        quantity:
          type: integer
        filled_quantity:
          type: integer
        price:
          type: number
        status:
          type: string
          enum: [pending, partially_filled, filled, cancelled]
        created_at:
          type: string
          format: date-time


