# Enterprise-Grade In-Game Notification Service API - SOLID/DRY Domain Inheritance
# Infrastructure domain service for real-time in-game notifications
# Issue: #openapi-refactor

openapi: 3.0.3
info:
  title: In-Game Notification Service API
  description: |
    **Enterprise-grade API for Real-Time In-Game Notifications**

    ## Domain Purpose
    Comprehensive real-time notification service providing instant delivery of game events,
    social interactions, and system updates through WebSocket streaming and push notifications.

    ## Business Value
    - Real-time user engagement and retention
    - Instant delivery of critical game events
    - Multi-channel notification delivery
    - Enterprise-grade scalability and reliability
    - Advanced personalization and analytics

    ## Performance Targets
    - Real-Time Latency: <100ms for WebSocket delivery
    - Throughput: 50,000+ notifications per second
    - Concurrent WebSocket Connections: 100,000+ supported
    - Message Delivery Guarantee: 99.9% success rate

    ## Domain Inheritance
    This service inherits from infrastructure-entities.yaml providing:
    - Notification queue entity for async processing
    - Audit trails for notification operations
    - User account references for targeting
    - Optimistic locking for concurrent operations
    - Strict typing with validation rules

  version: "1.0.0"
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT

servers:
  - url: https://api.necpgame.com/v1/in-game-notification-service
    description: Production environment
  - url: https://staging-api.necpgame.com/v1/in-game-notification-service
    description: Staging environment
  - url: http://localhost:8080/api/v1/in-game-notification-service
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: Notification Delivery
    description: Core notification sending and queuing operations
  - name: WebSocket Management
    description: WebSocket connection and streaming operations
  - name: User Preferences
    description: User notification preferences and filtering
  - name: Analytics & Reporting
    description: Notification analytics and engagement metrics
  - name: Template Management
    description: Notification template management
  - name: Health Monitoring
    description: Service health and performance monitoring

paths:

  /health:
    get:
      operationId: inGameNotificationServiceHealthCheck
      summary: Basic health check
      description: Returns service health status
      tags: [Health Monitoring]
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/HealthResponse'

  /health/websocket:
    get:
      operationId: inGameNotificationServiceWebSocketHealthCheck
      summary: WebSocket health check
      description: Tests WebSocket connectivity and streaming capability
      tags: [Health Monitoring]
      responses:
        '200':
          description: WebSocket connection healthy
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/WebSocketHealthResponse'

  /notifications/send:
    post:
      operationId: inGameNotificationServiceSendNotification
      summary: Send in-game notification
      description: |
        Send real-time notification to specified users with immediate delivery.

        **Delivery Methods:**
        - WebSocket streaming for online users
        - Push notification fallback for offline users
        - Queue-based delivery with priority handling
        - Real-time delivery tracking
      tags: [Notification Delivery]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendNotificationRequest'
      responses:
        '202':
          description: Notification queued for delivery
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/Accepted'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          notification_id:
                            type: string
                            format: uuid
                            description: Notification tracking ID
                          estimated_delivery_time:
                            type: string
                            format: date-time
                            description: Expected delivery time
                          target_count:
                            type: integer
                            description: Number of target users
                          delivery_methods:
                            type: array
                            items:
                              type: string
                              enum: [websocket, push, email_fallback]
                            description: Delivery methods used
        '400':
          $ref: '#/components/responses/BadRequest'

  /notifications/broadcast:
    post:
      operationId: inGameNotificationServiceBroadcastNotification
      summary: Broadcast notification to all users
      description: |
        Send notification to all active users in the system.

        **Broadcast Features:**
        - Global system announcements
        - Emergency notifications
        - Rate-limited delivery
        - Geographic targeting options
        - Priority override capabilities
      tags: [Notification Delivery]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BroadcastNotificationRequest'
      responses:
        '202':
          description: Broadcast notification queued
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/Accepted'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          broadcast_id:
                            type: string
                            format: uuid
                            description: Broadcast tracking ID
                          estimated_reach:
                            type: integer
                            description: Estimated number of users reached
                          delivery_start_time:
                            type: string
                            format: date-time
                            description: When delivery begins

  /notifications/{notificationId}/status:
    get:
      operationId: inGameNotificationServiceGetNotificationStatus
      summary: Get notification delivery status
      description: |
        Retrieve real-time delivery status and engagement metrics.

        **Real-Time Tracking:**
        - Live delivery statistics
        - User engagement metrics
        - Geographic delivery data
        - Performance analytics
        - Failure analysis and retry status
      tags: [Notification Delivery]
      parameters:
        - name: notificationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Notification unique identifier
      responses:
        '200':
          description: Notification status retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/NotificationDeliveryStatus'
        '404':
          $ref: '#/components/responses/NotFound'

  /websocket/connect:
    get:
      operationId: inGameNotificationServiceWebSocketConnect
      summary: Establish WebSocket connection
      description: |
        Establish persistent WebSocket connection for real-time notifications.

        **Connection Features:**
        - JWT-based authentication
        - Heartbeat and keep-alive
        - Automatic reconnection handling
        - Message compression support
        - Connection pooling and load balancing
      tags: [WebSocket Management]
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
            description: JWT authentication token
        - name: protocol
          in: query
          schema:
            type: string
            enum: [json, msgpack]
            default: "json"
            description: Message serialization protocol
        - name: compress
          in: query
          schema:
            type: boolean
            default: false
            description: Enable message compression
      responses:
        '101':
          description: WebSocket connection established
          headers:
            Sec-WebSocket-Accept:
              schema:
                type: string
              description: WebSocket handshake confirmation
        '400':
          description: Invalid connection parameters
        '401':
          description: Authentication failed

  /websocket/connections:
    get:
      operationId: inGameNotificationServiceListWebSocketConnections
      summary: List active WebSocket connections
      description: |
        Retrieve list of active WebSocket connections for monitoring.

        **Connection Monitoring:**
        - Real-time connection counts
        - Geographic distribution
        - Connection quality metrics
        - Platform breakdown
        - Performance statistics
      tags: [WebSocket Management]
      responses:
        '200':
          description: WebSocket connections retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          total_connections:
                            type: integer
                            description: Total active connections
                          connections_by_platform:
                            type: object
                            additionalProperties:
                              type: integer
                            description: Connections by platform
                          connections_by_region:
                            type: object
                            additionalProperties:
                              type: integer
                            description: Connections by geographic region
                          average_connection_time:
                            type: number
                            description: Average connection duration in minutes
                          connection_quality_metrics:
                            $ref: '#/components/schemas/WebSocketQualityMetrics'

  /users/{userId}/notifications:
    get:
      operationId: inGameNotificationServiceGetUserNotifications
      summary: Get user notifications
      description: |
        Retrieve user's recent notifications with filtering and pagination.

        **Notification History:**
        - Recent notification history
        - Read/unread status tracking
        - Category-based filtering
        - Time-based pagination
        - Bulk operations support
      tags: [User Preferences]
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: User unique identifier
        - name: status
          in: query
          schema:
            type: string
            enum: [unread, read, all]
            default: "all"
            description: Filter by read status
        - name: category
          in: query
          schema:
            type: string
            enum: [system, social, game, commerce, security]
            description: Filter by notification category
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
            description: Number of notifications to return
        - name: before
          in: query
          schema:
            type: string
            format: date-time
            description: Get notifications before this timestamp
      responses:
        '200':
          description: User notifications retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/UserNotification'
                      pagination:
                        $ref: '#/components/schemas/NotificationPagination'

    patch:
      operationId: inGameNotificationServiceBulkUpdateNotifications
      summary: Bulk update user notifications
      description: |
        Perform bulk operations on user notifications (mark as read, delete, etc.).

        **Bulk Operations:**
        - Mark multiple notifications as read
        - Delete multiple notifications
        - Archive notifications
        - Category-based operations
        - Time-based operations
      tags: [User Preferences]
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: User unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateNotificationsRequest'
      responses:
        '200':
          description: Notifications updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          updated_count:
                            type: integer
                            description: Number of notifications updated
                          operation:
                            type: string
                            enum: [mark_read, mark_unread, delete, archive]
                            description: Operation performed

  /users/{userId}/preferences:
    get:
      operationId: inGameNotificationServiceGetUserPreferences
      summary: Get user notification preferences
      description: |
        Retrieve user's notification preferences and filtering rules.

        **Preference Categories:**
        - Notification types and priorities
        - Quiet hours and frequency limits
        - Channel preferences (WebSocket, push, email)
        - Category-specific settings
        - Platform-specific preferences
      tags: [User Preferences]
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: User unique identifier
      responses:
        '200':
          description: User preferences retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserNotificationPreferences'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      operationId: inGameNotificationServiceUpdateUserPreferences
      summary: Update user notification preferences
      description: |
        Update user's notification preferences and filtering rules.

        **Preference Validation:**
        - Business rule validation
        - Cross-preference consistency
        - Platform capability checking
        - Rate limit enforcement
      tags: [User Preferences]
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: User unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNotificationPreferencesRequest'
      responses:
        '200':
          description: Preferences updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserNotificationPreferences'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /templates:
    post:
      operationId: inGameNotificationServiceCreateTemplate
      summary: Create notification template
      description: |
        Create reusable notification template with dynamic content.

        **Template Features:**
        - Multi-language support with i18n
        - Dynamic content with variables
        - Platform-specific formatting
        - A/B testing variants
        - Real-time validation
      tags: [Template Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNotificationTemplateRequest'
      responses:
        '201':
          description: Template created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/Created'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/NotificationTemplate'
        '400':
          $ref: '#/components/responses/BadRequest'

    get:
      operationId: inGameNotificationServiceListTemplates
      summary: List notification templates
      description: Retrieve paginated list of notification templates
      tags: [Template Management]
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [system, social, game, commerce, security]
            description: Filter by template category
        - name: platform
          in: query
          schema:
            type: string
            enum: [web, mobile, desktop]
            description: Filter by platform
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            description: Number of templates to return
      responses:
        '200':
          description: Templates retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/TemplateSummary'

  /analytics/engagement:
    get:
      operationId: inGameNotificationServiceGetEngagementAnalytics
      summary: Get notification engagement analytics
      description: |
        Retrieve comprehensive analytics about notification engagement and effectiveness.

        **Engagement Metrics:**
        - Delivery success rates by channel
        - User interaction patterns
        - Notification effectiveness by category
        - Geographic engagement distribution
        - Time-based engagement trends
        - A/B testing results comparison
      tags: [Analytics & Reporting]
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
          description: Start date for analytics
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
          description: End date for analytics
        - name: category
          in: query
          schema:
            type: string
            enum: [system, social, game, commerce, security]
          description: Filter by notification category
        - name: platform
          in: query
          schema:
            type: string
            enum: [web, mobile, desktop]
          description: Filter by platform
      responses:
        '200':
          description: Engagement analytics retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/NotificationEngagementAnalytics'

  /analytics/real-time:
    get:
      operationId: inGameNotificationServiceGetRealTimeAnalytics
      summary: Get real-time notification analytics
      description: |
        Retrieve real-time analytics about current notification delivery and engagement.

        **Real-Time Metrics:**
        - Live delivery statistics
        - Active WebSocket connections
        - Current queue depths
        - Geographic distribution
        - Performance metrics
      tags: [Analytics & Reporting]
      responses:
        '200':
          description: Real-time analytics retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RealTimeNotificationAnalytics'
                      timestamp:
                        type: string
                        format: date-time
                        description: Analytics timestamp

components:

  responses:
    OK:
      $ref: '../common/responses/success.yaml#/OK'
    Created:
      $ref: '../common/responses/success.yaml#/Created'
    Accepted:
      $ref: '../common/responses/success.yaml#/Accepted'
    Updated:
      $ref: '../common/responses/success.yaml#/Updated'
    Deleted:
      $ref: '../common/responses/success.yaml#/Deleted'
    BadRequest:
      $ref: '../common/responses/error.yaml#/BadRequest'
    NotFound:
      $ref: '../common/responses/error.yaml#/NotFound'
    Conflict:
      $ref: '../common/responses/error.yaml#/Conflict'

  schemas:

    # Domain Inheritance - In-Game Notification Service Entities
    NotificationDelivery:
      description: Notification delivery entity with infrastructure domain inheritance
      allOf:
        - $ref: '../common/schemas/infrastructure-entities.yaml#/NotificationQueueEntity'
        - type: object
          properties:
            # Add real-time notification specific fields
            notification_type:
              type: string
              enum: [system, social, game, commerce, security]
              description: Type of notification
            priority:
              type: string
              enum: [low, normal, high, critical, emergency]
              default: "normal"
              description: Notification delivery priority
            delivery_channels:
              type: array
              items:
                type: string
                enum: [websocket, push, email_fallback]
              description: Delivery channels used
            websocket_delivered_at:
              type: string
              format: date-time
              description: When delivered via WebSocket
            push_delivered_at:
              type: string
              format: date-time
              description: When delivered via push notification
            user_interaction_at:
              type: string
              format: date-time
              description: When user interacted with notification
            interaction_type:
              type: string
              enum: [viewed, clicked, dismissed, acted_upon]
              description: Type of user interaction
            geographic_data:
              type: object
              properties:
                country:
                  type: string
                  description: User country
                region:
                  type: string
                  description: User region
                timezone:
                  type: string
                  description: User timezone
              description: Geographic delivery context

    NotificationTemplate:
      description: Notification template entity with infrastructure domain inheritance
      allOf:
        - $ref: '../common/schemas/infrastructure-entities.yaml#/ConfigurationEntity'
        - type: object
          properties:
            name:
              type: string
              minLength: 1
              maxLength: 100
              description: Template name
            category:
              type: string
              enum: [system, social, game, commerce, security]
              description: Template category
            title_template:
              type: string
              minLength: 1
              maxLength: 200
              description: Notification title template
            body_template:
              type: string
              minLength: 1
              maxLength: 1000
              description: Notification body template
            action_template:
              type: object
              description: Action buttons template
              properties:
                primary_action:
                  $ref: '#/components/schemas/NotificationAction'
                secondary_actions:
                  type: array
                  items:
                    $ref: '#/components/schemas/NotificationAction'
                  maxItems: 2
            variables:
              type: array
              items:
                type: object
                required:
                  - name
                  - type
                properties:
                  name:
                    type: string
                    minLength: 1
                    maxLength: 50
                    description: Variable name
                  type:
                    type: string
                    enum: [string, number, boolean, date, object]
                    description: Variable data type
                  required:
                    type: boolean
                    default: false
                    description: Whether variable is required
                  default_value:
                    type: string
                    description: Default value if not provided
            platforms:
              type: array
              items:
                type: string
                enum: [web, mobile, desktop]
              description: Supported platforms
            languages:
              type: array
              items:
                type: string
                enum: [en, es, zh, ja, ru, de, fr, pl, ko, pt]
              description: Supported languages
            ab_test_variants:
              type: array
              items:
                $ref: '#/components/schemas/NotificationVariant'
              description: A/B testing variants

    UserNotification:
      description: User notification entity
      type: object
      required:
        - id
        - user_id
        - notification_id
        - status
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: User notification unique identifier
        user_id:
          type: string
          format: uuid
          description: Target user ID
        notification_id:
          type: string
          format: uuid
          description: Original notification ID
        title:
          type: string
          maxLength: 200
          description: Notification title
        body:
          type: string
          maxLength: 1000
          description: Notification body
        category:
          type: string
          enum: [system, social, game, commerce, security]
          description: Notification category
        priority:
          type: string
          enum: [low, normal, high, critical, emergency]
          description: Notification priority
        actions:
          type: array
          items:
            $ref: '#/components/schemas/NotificationAction'
          description: Available actions
        data:
          type: object
          description: Additional notification data
          additionalProperties: true
        status:
          type: string
          enum: [unread, read, dismissed, acted_upon]
          default: "unread"
          description: User interaction status
        delivered_at:
          type: string
          format: date-time
          description: When notification was delivered
        read_at:
          type: string
          format: date-time
          description: When notification was read
        interacted_at:
          type: string
          format: date-time
          description: When user interacted with notification
        expires_at:
          type: string
          format: date-time
          description: When notification expires
        created_at:
          type: string
          format: date-time
          description: When notification was created

    UserNotificationPreferences:
      description: User notification preferences and filtering rules
      type: object
      required:
        - user_id
      properties:
        user_id:
          type: string
          format: uuid
          description: User unique identifier
        enabled_channels:
          type: object
          properties:
            websocket:
              type: boolean
              default: true
              description: Enable WebSocket notifications
            push:
              type: boolean
              default: true
              description: Enable push notifications
            email_fallback:
              type: boolean
              default: false
              description: Enable email fallback
          description: Enabled notification channels
        category_preferences:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CategoryPreference'
          description: Preferences by notification category
        quiet_hours:
          type: object
          properties:
            enabled:
              type: boolean
              default: false
              description: Enable quiet hours
            start_time:
              type: string
              pattern: '^([01]?[0-9]|2[0-3]):[0-5][0-9]$'
              default: "22:00"
              description: Quiet hours start time (HH:MM)
            end_time:
              type: string
              pattern: '^([01]?[0-9]|2[0-3]):[0-5][0-9]$'
              default: "08:00"
              description: Quiet hours end time (HH:MM)
            timezone:
              type: string
              default: "UTC"
              description: Timezone for quiet hours
          description: Quiet hours configuration
        frequency_limits:
          type: object
          properties:
            max_per_hour:
              type: integer
              minimum: 1
              maximum: 1000
              default: 100
              description: Maximum notifications per hour
            max_per_minute:
              type: integer
              minimum: 1
              maximum: 100
              default: 10
              description: Maximum notifications per minute
          description: Frequency limiting rules
        blocked_senders:
          type: array
          items:
            type: string
            format: uuid
          description: Blocked sender user IDs
        last_updated:
          type: string
          format: date-time
          description: When preferences were last updated

    # Supporting schemas
    NotificationAction:
      description: Notification action definition
      type: object
      required:
        - action
        - title
      properties:
        action:
          type: string
          minLength: 1
          maxLength: 50
          description: Action identifier
        title:
          type: string
          minLength: 1
          maxLength: 50
          description: Action display title
        icon:
          type: string
          description: Action icon identifier
        url:
          type: string
          format: uri
          description: Action URL (for web actions)
        data:
          type: object
          description: Additional action data
          additionalProperties: true

    NotificationVariant:
      description: A/B testing notification variant
      type: object
      required:
        - variant_id
        - weight
      properties:
        variant_id:
          type: string
          minLength: 1
          maxLength: 50
          description: Variant identifier
        title_template:
          type: string
          maxLength: 200
          description: Variant title template
        body_template:
          type: string
          maxLength: 1000
          description: Variant body template
        actions:
          type: array
          items:
            $ref: '#/components/schemas/NotificationAction'
          description: Variant actions
        weight:
          type: integer
          minimum: 1
          maximum: 100
          description: Traffic distribution weight

    CategoryPreference:
      description: Notification preferences for specific category
      type: object
      properties:
        enabled:
          type: boolean
          default: true
          description: Enable notifications for this category
        priority_threshold:
          type: string
          enum: [low, normal, high, critical, emergency]
          default: "low"
          description: Minimum priority level to deliver
        channels:
          type: array
          items:
            type: string
            enum: [websocket, push, email_fallback]
          description: Allowed delivery channels for this category

    WebSocketQualityMetrics:
      description: WebSocket connection quality metrics
      type: object
      properties:
        average_latency_ms:
          type: number
          description: Average message latency
        packet_loss_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Packet loss percentage
        reconnection_rate:
          type: number
          description: Reconnections per minute
        message_throughput:
          type: number
          description: Messages per second
        compression_ratio:
          type: number
          minimum: 0
          maximum: 1
          description: Message compression effectiveness

    NotificationDeliveryStatus:
      description: Comprehensive notification delivery status
      type: object
      required:
        - notification_id
        - status
        - created_at
      properties:
        notification_id:
          type: string
          format: uuid
          description: Notification unique identifier
        status:
          type: string
          enum: [queued, delivering, delivered, failed, expired]
          description: Overall delivery status
        created_at:
          type: string
          format: date-time
          description: Notification creation time
        delivery_started_at:
          type: string
          format: date-time
          description: When delivery began
        delivered_at:
          type: string
          format: date-time
          description: When fully delivered
        target_count:
          type: integer
          description: Total target users
        delivered_count:
          type: integer
          description: Successfully delivered count
        failed_count:
          type: integer
          description: Delivery failures count
        channel_breakdown:
          type: object
          properties:
            websocket_delivered:
              type: integer
              description: Delivered via WebSocket
            push_delivered:
              type: integer
              description: Delivered via push
            email_fallback_delivered:
              type: integer
              description: Delivered via email fallback
          description: Delivery count by channel
        geographic_breakdown:
          type: array
          items:
            type: object
            properties:
              region:
                type: string
                description: Geographic region
              delivered_count:
                type: integer
                description: Delivered in region
              average_delivery_time_ms:
                type: number
                description: Average delivery time in region
          description: Delivery statistics by geography
        engagement_metrics:
          type: object
          properties:
            viewed_count:
              type: integer
              description: Notifications viewed
            interacted_count:
              type: integer
              description: Notifications with user interaction
            dismissed_count:
              type: integer
              description: Notifications dismissed
            engagement_rate:
              type: number
              minimum: 0
              maximum: 1
              description: User engagement rate
          description: User engagement statistics

    NotificationPagination:
      description: Pagination information for notifications
      type: object
      properties:
        has_more:
          type: boolean
          description: Whether more notifications are available
        oldest_timestamp:
          type: string
          format: date-time
          description: Oldest notification timestamp for pagination
        newest_timestamp:
          type: string
          format: date-time
          description: Newest notification timestamp for pagination
        total_count:
          type: integer
          description: Total notifications available

    NotificationEngagementAnalytics:
      description: Comprehensive notification engagement analytics
      type: object
      properties:
        time_range:
          type: object
          properties:
            start_date:
              type: string
              format: date-time
            end_date:
              type: string
              format: date-time
        total_notifications:
          type: integer
          description: Total notifications sent
        total_delivered:
          type: integer
          description: Total notifications delivered
        total_viewed:
          type: integer
          description: Total notifications viewed
        total_interacted:
          type: integer
          description: Total notifications with user interaction
        delivery_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Overall delivery rate
        view_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Notification view rate
        interaction_rate:
          type: number
          minimum: 0
          maximum: 1
          description: User interaction rate
        category_breakdown:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CategoryEngagementMetrics'
          description: Engagement metrics by category
        platform_breakdown:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/PlatformEngagementMetrics'
          description: Engagement metrics by platform
        time_based_trends:
          type: array
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
              delivery_rate:
                type: number
                minimum: 0
                maximum: 1
              interaction_rate:
                type: number
                minimum: 0
                maximum: 1
          description: Engagement trends over time

    RealTimeNotificationAnalytics:
      description: Real-time notification delivery and engagement metrics
      type: object
      properties:
        active_websocket_connections:
          type: integer
          description: Currently active WebSocket connections
        queued_notifications:
          type: integer
          description: Notifications currently queued
        processing_rate_per_second:
          type: number
          description: Current notification processing rate
        average_delivery_latency_ms:
          type: number
          description: Current average delivery latency
        channel_utilization:
          type: object
          properties:
            websocket_utilization:
              type: number
              minimum: 0
              maximum: 1
              description: WebSocket channel utilization
            push_utilization:
              type: number
              minimum: 0
              maximum: 1
              description: Push notification utilization
            email_fallback_utilization:
              type: number
              minimum: 0
              maximum: 1
              description: Email fallback utilization
          description: Current channel utilization rates
        geographic_distribution:
          type: object
          additionalProperties:
            type: integer
          description: Active connections by geographic region
        error_rates:
          type: object
          properties:
            websocket_errors_per_minute:
              type: number
              description: WebSocket connection errors
            delivery_failures_per_minute:
              type: number
              description: Notification delivery failures
          description: Current error rates

    CategoryEngagementMetrics:
      description: Engagement metrics for specific notification category
      type: object
      properties:
        sent_count:
          type: integer
          description: Notifications sent in category
        delivered_count:
          type: integer
          description: Notifications delivered in category
        viewed_count:
          type: integer
          description: Notifications viewed in category
        interacted_count:
          type: integer
          description: Notifications with interaction in category
        delivery_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Delivery rate for category
        view_rate:
          type: number
          minimum: 0
          maximum: 1
          description: View rate for category
        interaction_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Interaction rate for category

    PlatformEngagementMetrics:
      description: Engagement metrics for specific platform
      type: object
      properties:
        sent_count:
          type: integer
          description: Notifications sent to platform
        delivered_count:
          type: integer
          description: Notifications delivered to platform
        viewed_count:
          type: integer
          description: Notifications viewed on platform
        interacted_count:
          type: integer
          description: Notifications with interaction on platform
        delivery_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Delivery rate for platform
        average_delivery_time_ms:
          type: number
          description: Average delivery time for platform

    TemplateSummary:
      description: Template summary for listings
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Template ID
        name:
          type: string
          description: Template name
        category:
          type: string
          enum: [system, social, game, commerce, security]
          description: Template category
        platforms:
          type: array
          items:
            type: string
            enum: [web, mobile, desktop]
          description: Supported platforms
        is_active:
          type: boolean
          description: Template active status
        last_updated:
          type: string
          format: date-time
          description: Last update timestamp

    # Request/Response schemas
    SendNotificationRequest:
      description: Request payload for sending notification
      type: object
      required:
        - targets
        - content
      properties:
        targets:
          type: object
          properties:
            user_ids:
              type: array
              items:
                type: string
                format: uuid
              description: Target user IDs
            user_segments:
              type: array
              items:
                type: string
                format: uuid
              description: Target user segments
            exclude_user_ids:
              type: array
              items:
                type: string
                format: uuid
              description: User IDs to exclude
          description: Notification targets
        content:
          type: object
          required:
            - title
            - body
          properties:
            template_id:
              type: string
              format: uuid
              description: Template to use for notification
            title:
              type: string
              minLength: 1
              maxLength: 200
              description: Notification title
            body:
              type: string
              minLength: 1
              maxLength: 1000
              description: Notification body
            category:
              type: string
              enum: [system, social, game, commerce, security]
              default: "system"
              description: Notification category
            actions:
              type: array
              items:
                $ref: '#/components/schemas/NotificationAction'
              description: Notification actions
            data:
              type: object
              description: Additional notification data
              additionalProperties: true
          description: Notification content
        delivery_options:
          type: object
          properties:
            priority:
              type: string
              enum: [low, normal, high, critical, emergency]
              default: "normal"
              description: Delivery priority
            channels:
              type: array
              items:
                type: string
                enum: [websocket, push, email_fallback]
              default: ["websocket", "push"]
              description: Delivery channels to use
            expires_in_seconds:
              type: integer
              minimum: 30
              maximum: 604800
              default: 3600
              description: Notification expiration time
            respect_user_preferences:
              type: boolean
              default: true
              description: Respect user notification preferences
          description: Delivery configuration options

    BroadcastNotificationRequest:
      description: Request payload for broadcast notification
      type: object
      required:
        - content
      properties:
        content:
          type: object
          required:
            - title
            - body
          properties:
            template_id:
              type: string
              format: uuid
              description: Template to use for broadcast
            title:
              type: string
              minLength: 1
              maxLength: 200
              description: Broadcast title
            body:
              type: string
              minLength: 1
              maxLength: 1000
              description: Broadcast body
            category:
              type: string
              enum: [system, social, game, commerce, security]
              default: "system"
              description: Broadcast category
            actions:
              type: array
              items:
                $ref: '#/components/schemas/NotificationAction'
              description: Broadcast actions
            data:
              type: object
              description: Additional broadcast data
              additionalProperties: true
          description: Broadcast content
        targeting:
          type: object
          properties:
            geographic_regions:
              type: array
              items:
                type: string
              description: Target specific geographic regions
            platforms:
              type: array
              items:
                type: string
                enum: [web, mobile, desktop]
              description: Target specific platforms
            exclude_offline_users:
              type: boolean
              default: false
              description: Only send to currently online users
          description: Broadcast targeting options
        delivery_options:
          type: object
          properties:
            priority:
              type: string
              enum: [low, normal, high, critical, emergency]
              default: "high"
              description: Broadcast delivery priority
            rate_limit_per_second:
              type: integer
              minimum: 10
              maximum: 10000
              default: 1000
              description: Maximum delivery rate per second
            respect_quiet_hours:
              type: boolean
              default: false
              description: Override user quiet hours for broadcast
          description: Broadcast delivery options

    BulkUpdateNotificationsRequest:
      description: Request payload for bulk notification updates
      type: object
      required:
        - operation
      properties:
        operation:
          type: string
          enum: [mark_read, mark_unread, delete, archive]
          description: Bulk operation to perform
        notification_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Specific notification IDs (if empty, applies to filtered notifications)
        filters:
          type: object
          properties:
            category:
              type: string
              enum: [system, social, game, commerce, security]
              description: Filter by category
            status:
              type: string
              enum: [unread, read]
              description: Filter by status
            before_date:
              type: string
              format: date-time
              description: Filter notifications before date
            after_date:
              type: string
              format: date-time
              description: Filter notifications after date
          description: Filters for bulk operation (ignored if notification_ids provided)

    UpdateNotificationPreferencesRequest:
      description: Request payload for updating notification preferences
      type: object
      properties:
        enabled_channels:
          type: object
          properties:
            websocket:
              type: boolean
              description: Enable WebSocket notifications
            push:
              type: boolean
              description: Enable push notifications
            email_fallback:
              type: boolean
              description: Enable email fallback
          description: Enabled notification channels
        category_preferences:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CategoryPreference'
          description: Preferences by notification category
        quiet_hours:
          type: object
          properties:
            enabled:
              type: boolean
              description: Enable quiet hours
            start_time:
              type: string
              pattern: '^([01]?[0-9]|2[0-3]):[0-5][0-9]$'
              description: Quiet hours start time (HH:MM)
            end_time:
              type: string
              pattern: '^([01]?[0-9]|2[0-3]):[0-5][0-9]$'
              description: Quiet hours end time (HH:MM)
            timezone:
              type: string
              description: Timezone for quiet hours
          description: Quiet hours configuration
        frequency_limits:
          type: object
          properties:
            max_per_hour:
              type: integer
              minimum: 1
              maximum: 1000
              description: Maximum notifications per hour
            max_per_minute:
              type: integer
              minimum: 1
              maximum: 100
              description: Maximum notifications per minute
          description: Frequency limiting rules
        blocked_senders:
          type: array
          items:
            type: string
            format: uuid
          description: Blocked sender user IDs

    CreateNotificationTemplateRequest:
      description: Request payload for creating notification template
      type: object
      required:
        - name
        - category
        - title_template
        - body_template
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Template name
        category:
          type: string
          enum: [system, social, game, commerce, security]
          description: Template category
        title_template:
          type: string
          minLength: 1
          maxLength: 200
          description: Title template with variables
        body_template:
          type: string
          minLength: 1
          maxLength: 1000
          description: Body template with variables
        action_template:
          type: object
          properties:
            primary_action:
              $ref: '#/components/schemas/NotificationAction'
            secondary_actions:
              type: array
              items:
                $ref: '#/components/schemas/NotificationAction'
              maxItems: 2
          description: Action buttons template
        variables:
          type: array
          items:
            type: object
            required:
              - name
              - type
            properties:
              name:
                type: string
                minLength: 1
                maxLength: 50
                description: Variable name
              type:
                type: string
                enum: [string, number, boolean, date, object]
                description: Variable data type
              required:
                type: boolean
                default: false
                description: Whether variable is required
              default_value:
                type: string
                description: Default value if not provided
          description: Template variables
        platforms:
          type: array
          items:
            type: string
            enum: [web, mobile, desktop]
          default: ["web", "mobile", "desktop"]
          description: Supported platforms
        languages:
          type: array
          items:
            type: string
            enum: [en, es, zh, ja, ru, de, fr, pl, ko, pt]
          default: ["en"]
          description: Supported languages

  securitySchemes:
    BearerAuth:
      $ref: '../common/security/security.yaml#/BearerAuth'
    ServiceAuth:
      $ref: '../common/security/security.yaml#/ServiceAuth'

# Performance and optimization notes
x-performance:
  real-time-latency: "<100ms"
  throughput-target: "50,000+ notifications/second"
  websocket-connections-target: "100,000+ concurrent"
  message-persistence-target: "99.9% delivery guarantee"
  database-indexes: "Composite indexes on (user_id, status), (category, priority), (created_at, expires_at)"

# Monitoring and observability
x-monitoring:
  metrics:
    - notification_send_rate
    - websocket_connection_count
    - delivery_success_rate
    - user_engagement_rate
    - queue_depth
    - message_latency
  alerts:
    - websocket_connections > 100000
    - delivery_rate < 99%
    - queue_depth > 10000
    - message_latency > 200ms

# Real-time and scalability
x-realtime:
  websocket-protocols: "JSON, MessagePack with compression support"
  connection-pooling: "Load balanced WebSocket connections"
  offline-buffering: "Push notification fallback for offline users"
  message-prioritization: "Critical notifications bypass rate limits"

# Domain inheritance documentation
x-domain-inheritance:
  inherits-from: "common/schemas/infrastructure-entities.yaml"
  inherited-entities: "NotificationQueueEntity, AuditLogEntity, ConfigurationEntity"
  additional-schemas: "WebSocket connection management, real-time delivery tracking, user engagement analytics"
  no-duplication: "All common fields inherited, real-time notification extensions added"

