openapi: 3.0.3
info:
  title: In-Game Notification Service API
  description: '**Enterprise-grade API for Real-Time In-Game Notifications**


    ## Domain Purpose

    Comprehensive real-time notification service providing instant delivery of game
    events,

    social interactions, and system updates through WebSocket streaming and push notifications.


    ## Business Value

    - Real-time user engagement and retention

    - Instant delivery of critical game events

    - Multi-channel notification delivery

    - Enterprise-grade scalability and reliability

    - Advanced personalization and analytics


    ## Performance Targets

    - Real-Time Latency: <100ms for WebSocket delivery

    - Throughput: 50,000+ notifications per second

    - Concurrent WebSocket Connections: 100,000+ supported

    - Message Delivery Guarantee: 99.9% success rate


    ## Domain Inheritance

    This service inherits from infrastructure-entities.yaml providing:

    - Notification queue entity for async processing

    - Audit trails for notification operations

    - User account references for targeting

    - Optimistic locking for concurrent operations

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/in-game-notification-service
  description: Production environment
- url: https://staging-api.necpgame.com/v1/in-game-notification-service
  description: Staging environment
- url: http://localhost:8080/api/v1/in-game-notification-service
  description: Local development
security:
- BearerAuth: []
tags:
- name: Notification Delivery
  description: Core notification sending and queuing operations
- name: WebSocket Management
  description: WebSocket connection and streaming operations
- name: User Preferences
  description: User notification preferences and filtering
- name: Analytics & Reporting
  description: Notification analytics and engagement metrics
- name: Template Management
  description: Notification template management
- name: Health Monitoring
  description: Service health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/websocket:
    $ref: ./paths/health-websocket.yaml#/paths/~1health~1websocket
  /notifications/send:
    $ref: ./paths/notifications-send.yaml#/paths/~1notifications~1send
  /notifications/broadcast:
    $ref: ./paths/notifications-broadcast.yaml#/paths/~1notifications~1broadcast
  /notifications/{notificationId}/status:
    $ref: ./paths/notifications-{notificationId}-status.yaml#/paths/~1notifications~1{notificationId}~1status
  /websocket/connect:
    $ref: ./paths/websocket-connect.yaml#/paths/~1websocket~1connect
  /websocket/connections:
    $ref: ./paths/websocket-connections.yaml#/paths/~1websocket~1connections
  /users/{userId}/notifications:
    $ref: ./paths/users-{userId}-notifications.yaml#/paths/~1users~1{userId}~1notifications
  /users/{userId}/preferences:
    $ref: ./paths/users-{userId}-preferences.yaml#/paths/~1users~1{userId}~1preferences
  /templates:
    $ref: ./paths/templates.yaml#/paths/~1templates
  /analytics/engagement:
    $ref: ./paths/analytics-engagement.yaml#/paths/~1analytics~1engagement
  /analytics/real-time:
    $ref: ./paths/analytics-real-time.yaml#/paths/~1analytics~1real-time
components:
  schemas:
    NotificationDelivery:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/NotificationDelivery
    NotificationTemplate:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/NotificationTemplate
    UserNotification:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/UserNotification
    UserNotificationPreferences:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/UserNotificationPreferences
    NotificationAction:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/NotificationAction
    NotificationVariant:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/NotificationVariant
    CategoryPreference:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/CategoryPreference
    WebSocketQualityMetrics:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/WebSocketQualityMetrics
    NotificationDeliveryStatus:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/NotificationDeliveryStatus
    NotificationPagination:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/NotificationPagination
    NotificationEngagementAnalytics:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/NotificationEngagementAnalytics
    RealTimeNotificationAnalytics:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/RealTimeNotificationAnalytics
    CategoryEngagementMetrics:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/CategoryEngagementMetrics
    PlatformEngagementMetrics:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/PlatformEngagementMetrics
    TemplateSummary:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/TemplateSummary
    SendNotificationRequest:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/SendNotificationRequest
    BroadcastNotificationRequest:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/BroadcastNotificationRequest
    BulkUpdateNotificationsRequest:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/BulkUpdateNotificationsRequest
    UpdateNotificationPreferencesRequest:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/UpdateNotificationPreferencesRequest
    CreateNotificationTemplateRequest:
      $ref: ./schemas/in-game-notification-service-schemas.yaml#/components/schemas/CreateNotificationTemplateRequest
  responses:
    OK:
      $ref: ./schemas/in-game-notification-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/in-game-notification-service-responses.yaml#/components/responses/Created
    Accepted:
      $ref: ./schemas/in-game-notification-service-responses.yaml#/components/responses/Accepted
    Updated:
      $ref: ./schemas/in-game-notification-service-responses.yaml#/components/responses/Updated
    Deleted:
      $ref: ./schemas/in-game-notification-service-responses.yaml#/components/responses/Deleted
    BadRequest:
      $ref: ./schemas/in-game-notification-service-responses.yaml#/components/responses/BadRequest
    NotFound:
      $ref: ./schemas/in-game-notification-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/in-game-notification-service-responses.yaml#/components/responses/Conflict
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
