openapi: 3.0.3
info:
  title: Player Order World Impact Examples
  version: 1.0.0
  description: Примеры запросов и ответов для API влияния заказов игроков на мир.
  x-microservice:
    name: world-service
    port: 8086
    domain: world
    base-path: /api/v1/world
    package: com.necpgame.worldservice
paths: {}
components:
  examples:
    ImpactListExample:
      summary: Список активных эффектов
      value:
        data:
          - effectId: "a9f4d1c4-7f2e-45c8-a677-7afc0a43e9a1"
            orderId: "8d261d29-0948-4c77-9c5d-9c2b6c77d9ab"
            cityId: "NC-52"
            effectType: economic
            severity: high
            magnitude:
              economic: 0.82
              social: 0.31
              political: 0.12
              security: 0.18
              environmental: 0.05
              cultural: 0.27
            status: active
            triggers:
              - source: orders_volume
                description: "Заказы на нелегальные киберсхемы увеличились на 240%."
                metrics:
                  orderCount: 128
                  escrowTotal: 1450000
                detectedAt: "2025-11-08T14:20:00Z"
            kpi:
              orderEconomicIndex: 1.18
              serviceDemandIndex: 1.32
              volatilityIndex: 0.76
              sentimentScore: -0.35
            createdAt: "2025-11-07T22:10:00Z"
            updatedAt: "2025-11-08T15:45:00Z"
          - effectId: "f2c6a3bb-3f9f-4ff4-9aa2-5a5df19e7d8a"
            orderId: "2f9c26fa-014b-4fd7-a6cd-6a8a36f98b0d"
            cityId: "NT-08"
            effectType: security
            severity: medium
            magnitude:
              economic: 0.21
              social: 0.44
              political: 0.18
              security: 0.63
              environmental: 0.02
              cultural: 0.09
            status: pending
            createdAt: "2025-11-08T10:05:00Z"
            updatedAt: "2025-11-08T12:15:00Z"
        pagination:
          page: 1
          pageSize: 20
          total: 2
          totalPages: 1
    ImpactDetailsExample:
      summary: Детали эффекта с кризисом
      value:
        data:
          effectId: "a9f4d1c4-7f2e-45c8-a677-7afc0a43e9a1"
          orderId: "8d261d29-0948-4c77-9c5d-9c2b6c77d9ab"
          cityId: "NC-52"
          effectType: economic
          severity: high
          magnitude:
            economic: 0.82
            social: 0.31
            political: 0.12
            security: 0.18
            environmental: 0.05
            cultural: 0.27
          status: active
          triggers:
            - source: orders_volume
              description: "Резкий рост заказов на нелегальные импланты."
              metrics:
                orderCount: 128
                escrowTotal: 1450000
              detectedAt: "2025-11-08T14:20:00Z"
          kpi:
            orderEconomicIndex: 1.18
            serviceDemandIndex: 1.32
            volatilityIndex: 0.76
            sentimentScore: -0.35
          createdAt: "2025-11-07T22:10:00Z"
          updatedAt: "2025-11-08T15:45:00Z"
        crisis:
          crisisId: "cc3fbe5e-64ce-4dd9-8c61-24670eced190"
          cityId: "NC-52"
          severity: critical
          status: escalating
          triggers:
            - source: analytics_threshold
              description: "Volatility превышает 0.7 три дня подряд."
          mitigationPlan:
            status: in_progress
            assignedFaction: "MAXTAC"
            actions:
              - actionId: "e3f7b4af-91c8-4d9d-a28d-0e5be4381eef"
                title: "Ввести ночной комендантский час в Рынке Сосновых."
                status: executing
                responsible: "NC-Police-Command"
                eta: "2025-11-09T02:00:00Z"
                impactReduction: 0.18
            estimatedResolutionAt: "2025-11-10T08:00:00Z"
        history:
          - timestamp: "2025-11-07T22:10:00Z"
            status: pending
            magnitude:
              economic: 0.61
              social: 0.24
              political: 0.10
              security: 0.14
              environmental: 0.03
              cultural: 0.19
          - timestamp: "2025-11-08T12:00:00Z"
            status: active
            magnitude:
              economic: 0.78
              social: 0.28
              political: 0.11
              security: 0.17
              environmental: 0.04
              cultural: 0.22
    ImpactRecalculateRequestExample:
      summary: Запуск пересчёта
      value:
        scope: cities
        cityIds: ["NC-52", "NT-08"]
        period: 7d
        triggerSource: anomaly_detected
        force: true
        correlationId: "c0db0f3a-22f0-4de6-b4a7-f9dbd15247e5"
        requestedBy: "4d806ef0-4bb2-4b88-bc54-708c9ca0a6f4"
    ImpactJobExample:
      summary: Статус batch-задачи
      value:
        jobId: "41f29b43-9b8a-4fb5-8abd-8c4f7990ec43"
        status: running
        scope: cities
        processed: 8
        failed: 1
        errors:
          - "City NT-05: недостаточно данных о заказах."
        startedAt: "2025-11-08T15:00:03Z"
        createdAt: "2025-11-08T15:00:00Z"
        requestedBy: "4d806ef0-4bb2-4b88-bc54-708c9ca0a6f4"
    EconomicIndexExample:
      summary: Экономические индексы
      value:
        orderEconomicIndex: 1.12
        serviceDemandIndex: 1.27
        marketVolatility: 0.68
        commentary: "Высокий спрос на охранные и хакерские услуги после кризиса в NC-52."
        regionalBreakdown:
          - regionId: "NC"
            orderEconomicIndex: 1.18
            serviceDemandIndex: 1.35
            volatility: 0.72
            trend: up
          - regionId: "NT"
            orderEconomicIndex: 1.05
            serviceDemandIndex: 1.21
            volatility: 0.61
            trend: stable
        ttl: 900
        updatedAt: "2025-11-08T16:30:00Z"
    NewsFeedExample:
      summary: Новостная лента
      value:
        data:
          - newsId: "c1e9b770-70bc-4d57-99f1-0b4b6e94e9d4"
            orderId: "8d261d29-0948-4c77-9c5d-9c2b6c77d9ab"
            effectId: "a9f4d1c4-7f2e-45c8-a677-7afc0a43e9a1"
            headline: "Night City объявляет чрезвычайное положение в секторе Watson"
            summary: "MAX-TAC разворачивает дополнительные отряды после всплеска заказов на нелегальные импланты."
            severity: alert
            tags: ["night-city", "security", "max-tac"]
            source: world-service
            locale: "ru-RU"
            publishedAt: "2025-11-08T16:00:00Z"
            links:
              - title: "Карта влияния"
                url: "https://maps.necpgame.com/impact/watson"
                relation: map
          - newsId: "b7d5e1f9-9e94-4ef7-9279-2f39e8cd3d6c"
            headline: "Фракция Arasaka вводит налог на корпоративные контракты"
            summary: "Решение связано с волатильностью рынка заказов и риском утечки данных."
            severity: warning
            tags: ["arasaka", "economy"]
            source: factions-service
            publishedAt: "2025-11-08T15:40:00Z"
            links:
              - title: "Подробности решения"
                url: "https://news.necpgame.com/articles/arasaka-tax"
                relation: details
        pagination:
          page: 1
          pageSize: 10
          total: 2
          totalPages: 1

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
