openapi: 3.0.3
info:
  title: Player Order News Schemas
  version: 1.0.0
  description: Схемы новостей и информационных событий, связанных с заказами игроков.
  x-microservice:
    name: world-service
    port: 8086
    domain: world
    base-path: /api/v1/world
    package: com.necpgame.worldservice
paths: {}
components:
  schemas:
    PlayerOrderNewsItem:
      type: object
      required:
        - newsId
        - headline
        - summary
        - severity
        - tags
        - publishedAt
      properties:
        newsId:
          type: string
          format: uuid
        orderId:
          type: string
          format: uuid
        effectId:
          type: string
          format: uuid
        headline:
          type: string
        summary:
          type: string
        severity:
          type: string
          enum: [info, warning, alert]
        tags:
          type: array
          items:
            type: string
        locale:
          type: string
          pattern: '^[a-z]{2}(-[A-Z]{2})?$'
        source:
          type: string
          enum: [world-service, economy-service, social-service, factions-service, manual]
        publishedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        links:
          type: array
          items:
            $ref: '#/components/schemas/NewsLink'
    NewsLink:
      type: object
      required:
        - title
        - url
      properties:
        title:
          type: string
        url:
          type: string
          format: uri
        relation:
          type: string
          enum: [details, map, briefing, statistics]
    PlayerOrderNewsListResponse:
      type: object
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PlayerOrderNewsItem'
        pagination:
          $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginationMeta'

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
