# Target Architecture:
# - Microservice: world-service (8086)
# - API Base: /world/player-orders/*
# - Frontend Module: modules/world/player-orders-impact
# - State: useWorldImpactStore(effects, crises, indices, news, jobs)
# - UI: ImpactMap, CrisisDashboard, EconomicIndexCard, NewsTicker, MitigationPlanner
# - Integrations: social-service (orders, ratings, news), economy-service (indices), factions-service, notification-service, analytics-service, telemetry-service
openapi: 3.0.3
info:
  title: Player Order World Impact API
  version: 1.0.0
  description: |
    Контракт world-service для расчёта влияния заказов игроков на города, экономические индексы и глобальные события.
  x-microservice:
    name: world-service
    port: 8086
    domain: world
    base-path: /api/v1/world
    package: com.necpgame.worldservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - name: Effects
    description: Расчёт и получение эффектов влияния заказов.
  - name: Events
    description: Создание и управление мировыми событиями.
  - name: Indices
    description: Экономические индексы, зависящие от заказов игроков.
  - name: News
    description: Новостные сообщения и уведомления о влиянии.
paths:
  /world/player-orders/effects:
    get:
      tags: [Effects]
      summary: Получить эффекты влияния
      description: Возвращает активные и исторические эффекты влияния заказов с фильтрами по городам, типам и критичности.
      operationId: listPlayerOrderEffects
      parameters:
        - $ref: './effects-parameters.yaml#/components/parameters/CityId'
        - $ref: './effects-parameters.yaml#/components/parameters/EffectType'
        - $ref: './effects-parameters.yaml#/components/parameters/Severity'
        - $ref: './effects-parameters.yaml#/components/parameters/EffectStatus'
        - $ref: './effects-parameters.yaml#/components/parameters/Period'
        - $ref: './effects-parameters.yaml#/components/parameters/TriggerSource'
        - $ref: './effects-parameters.yaml#/components/parameters/IncludeHistory'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Список эффектов
          content:
            application/json:
              schema:
                $ref: './effects-schemas-effects.yaml#/components/schemas/ImpactSummaryResponse'
              examples:
                list:
                  $ref: './effects-examples.yaml#/components/examples/ImpactListExample'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /world/player-orders/effects/{effectId}:
    get:
      tags: [Effects]
      summary: Получить эффект влияния
      description: Возвращает подробности конкретного эффекта, связанные кризисы и историю изменений.
      operationId: getPlayerOrderEffect
      parameters:
        - $ref: './effects-parameters.yaml#/components/parameters/EffectId'
        - $ref: './effects-parameters.yaml#/components/parameters/Locale'
      responses:
        '200':
          description: Эффект найден
          content:
            application/json:
              schema:
                $ref: './effects-schemas-effects.yaml#/components/schemas/ImpactDetailsResponse'
              examples:
                details:
                  $ref: './effects-examples.yaml#/components/examples/ImpactDetailsExample'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /world/player-orders/effects/recalculate:
    post:
      tags: [Effects]
      summary: Запустить пересчёт влияния
      description: Запускает batch-пересчёт эффектов влияния заказов с учётом рейтингов, экономики и событий.
      operationId: recalculatePlayerOrderEffects
      security:
        - BearerAuth: []
      x-required-scopes:
        - world:manage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './effects-schemas-batch.yaml#/components/schemas/ImpactRecalculateRequest'
            examples:
              default:
                $ref: './effects-examples.yaml#/components/examples/ImpactRecalculateRequestExample'
      responses:
        '202':
          description: Пересчёт запущен
          content:
            application/json:
              schema:
                $ref: './effects-schemas-batch.yaml#/components/schemas/ImpactRecalculateJobResponse'
              examples:
                job:
                  $ref: './effects-examples.yaml#/components/examples/ImpactJobExample'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /world/player-orders/effects/jobs/{jobId}:
    get:
      tags: [Effects]
      summary: Проверить статус пересчёта
      description: Возвращает состояние batch-задачи пересчёта влияния.
      operationId: getPlayerOrderEffectJob
      parameters:
        - $ref: './effects-parameters.yaml#/components/parameters/JobId'
      responses:
        '200':
          description: Статус задачи
          content:
            application/json:
              schema:
                $ref: './effects-schemas-batch.yaml#/components/schemas/ImpactRecalculateJobResponse'
              examples:
                job:
                  $ref: './effects-examples.yaml#/components/examples/ImpactJobExample'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /world/player-orders/events:
    post:
      tags: [Events]
      summary: Создать мировое событие
      description: Регистрирует событие (кризис или фестиваль) для оповещений и визуализации на карте.
      operationId: createPlayerOrderWorldEvent
      security:
        - BearerAuth: []
      x-required-scopes:
        - world:manage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './effects-schemas-effects.yaml#/components/schemas/WorldEventCreateRequest'
      responses:
        '201':
          description: Событие создано
          content:
            application/json:
              schema:
                $ref: './effects-schemas-effects.yaml#/components/schemas/WorldEvent'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /economy/player-orders/index:
    get:
      tags: [Indices]
      summary: Получить экономические индексы заказов
      description: Возвращает текущие экономические индексы, связанные с активностью заказов игроков.
      operationId: getPlayerOrderEconomicIndex
      responses:
        '200':
          description: Индексы рассчитаны
          content:
            application/json:
              schema:
                $ref: './effects-schemas-indices.yaml#/components/schemas/PlayerOrderEconomicIndex'
              examples:
                default:
                  $ref: './effects-examples.yaml#/components/examples/EconomicIndexExample'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /social/player-orders/news:
    get:
      tags: [News]
      summary: Получить новостную ленту
      description: Возвращает новости и уведомления, связанные с влиянием заказов игроков.
      operationId: listPlayerOrderNews
      parameters:
        - $ref: './effects-parameters.yaml#/components/parameters/CityId'
        - $ref: './effects-parameters.yaml#/components/parameters/EffectType'
        - $ref: './effects-parameters.yaml#/components/parameters/Severity'
        - $ref: './effects-parameters.yaml#/components/parameters/Locale'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Новости получены
          content:
            application/json:
              schema:
                $ref: './effects-schemas-news.yaml#/components/schemas/PlayerOrderNewsListResponse'
              examples:
                feed:
                  $ref: './effects-examples.yaml#/components/examples/NewsFeedExample'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '429': { $ref: '../../shared/common/responses.yaml#/components/responses/TooManyRequests' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
components:
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'
x-kafka-topics:
  world.player-orders.impact:
    summary: Рассчитан или обновлён эффект влияния.
    payload:
      $ref: './effects-schemas-effects.yaml#/components/schemas/PlayerOrderImpact'
  world.player-orders.crisis:
    summary: Обновление статуса кризиса.
    payload:
      $ref: './effects-schemas-effects.yaml#/components/schemas/PlayerOrderCrisis'
  world.player-orders.recalculate.completed:
    summary: Batch-пересчёт влияния завершён.
    payload:
      $ref: './effects-schemas-batch.yaml#/components/schemas/ImpactRecalculateJob'
  economy.player-orders.index.updated:
    summary: Экономический индекс заказов обновлён economy-service.
    payload:
      $ref: './effects-schemas-indices.yaml#/components/schemas/PlayerOrderEconomicIndex'
  social.player-orders.news.published:
    summary: Новость о влиянии заказов опубликована.
    payload:
      $ref: './effects-schemas-news.yaml#/components/schemas/PlayerOrderNewsItem'


