# Target Architecture:
# - Microservice: world-service (port 8086)
# - Base Path: /api/v1/world/player-orders/*
# - Frontend Module: modules/social/player-orders/validation
# - UI: ValidationSummary, ViolationList, RiskBadge, PolicyReferenceLink
# - Forms: OrderValidationForm, InviteeWhitelistForm
# - Hooks: useWorldPolicies, useFactionPermissions, useRealtime
# - Integrations: factions-service, content-service, economy-service
openapi: 3.0.3
info:
  title: Player Order Validation API
  version: 1.0.0
  description: |
    World-service выполняет проверки заказов игроков: территории, санкции, юридические ограничения,
    токсичность и дубликаты. Предоставляет social-service подробный чеклист и рекомендации.

    Источники: `.BRAIN/02-gameplay/social/player-orders-creation-детально.md`,
    `API-SWAGGER/tasks/active/queue/task-319-player-orders-validation-api.md`.
  x-microservice:
    name: world-service
    port: 8086
    domain: world
    base-path: /api/v1/world
    package: com.necpgame.worldservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - name: Validation
    description: Полная и частичная проверка заказов.
  - name: Policies
    description: Справочники политик и ограничений зон.
paths:
  /world/player-orders/validation:
    post:
      tags: [Validation]
      summary: Провести полную валидацию заказа
      description: Выполняет все проверки и возвращает чеклист нарушений с рекомендациями.
      operationId: validatePlayerOrder
      parameters:
        - $ref: './validation-components.yaml#/components/parameters/Locale'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './validation-components.yaml#/components/schemas/PlayerOrderValidationRequest'
      responses:
        '200':
          description: Результат полной валидации
          content:
            application/json:
              schema:
                $ref: './validation-components.yaml#/components/schemas/PlayerOrderValidationReport'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /world/player-orders/validation/policies:
    get:
      tags: [Policies]
      summary: Получить актуальные политики проверки
      operationId: listPlayerOrderPolicies
      parameters:
        - $ref: './validation-components.yaml#/components/parameters/Locale'
      responses:
        '200':
          description: Список ограничений зон и версия политик
          content:
            application/json:
              schema:
                $ref: './validation-components.yaml#/components/schemas/ZonePoliciesResponse'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /world/player-orders/zones/{zoneId}/restrictions:
    get:
      tags: [Policies]
      summary: Получить ограничения для зоны
      operationId: getZoneRestrictions
      parameters:
        - $ref: './validation-components.yaml#/components/parameters/ZoneId'
      responses:
        '200':
          description: Ограничения и разрешения зоны
          content:
            application/json:
              schema:
                $ref: './validation-components.yaml#/components/schemas/TerritoryRestriction'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /world/player-orders/validation/factions:
    post:
      tags: [Validation]
      summary: Проверить санкции и репутационные ограничения
      operationId: validatePlayerOrderFactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [orderId, invitees]
              properties:
                orderId: { type: string, format: uuid }
                invitees:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Результат проверки санкций
          content:
            application/json:
              schema:
                $ref: './validation-components.yaml#/components/schemas/FactionValidationResult'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /world/player-orders/validation/content:
    post:
      tags: [Validation]
      summary: Проверить текст на токсичность
      operationId: validatePlayerOrderContent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: Результат проверки токсичности
          content:
            application/json:
              schema:
                $ref: './validation-components.yaml#/components/schemas/ToxicityCheckResult'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /world/player-orders/validation/duplicates:
    post:
      tags: [Validation]
      summary: Проверить дубликаты заказов
      operationId: validatePlayerOrderDuplicates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [orderId, templateCode, zoneId]
              properties:
                orderId: { type: string, format: uuid }
                templateCode:
                  type: string
                  enum: [combat, hacker, economy, social, exploration]
                zoneId: { type: string }
                objectives:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Подсказки о возможных дубликатах
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './validation-components.yaml#/components/schemas/DuplicateOrderHint'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /world/player-orders/validation/history/{orderId}:
    get:
      tags: [Validation]
      summary: Получить историю проверок заказа
      operationId: getPlayerOrderValidationHistory
      parameters:
        - $ref: './validation-components.yaml#/components/parameters/OrderId'
      responses:
        '200':
          description: История валидаций
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './validation-components.yaml#/components/schemas/ValidationHistoryItem'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
components:
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'
x-kafka-topics:
  world.player-orders.validation.completed:
    summary: Валидация заказа завершена успешно.
    payload:
      $ref: './validation-components.yaml#/components/schemas/PlayerOrderValidationReport'
  world.player-orders.validation.failed:
    summary: Валидация выявила ошибки.
    payload:
      $ref: './validation-components.yaml#/components/schemas/PlayerOrderValidationReport'
  world.player-orders.policies.updated:
    summary: Обновлены политики world-service, требуется повторная проверка.
    payload:
      type: object
      required: [policyVersion]
      properties:
        policyVersion:
          type: string


