openapi: 3.0.3
info:
  title: Auth Service Authorization API
  version: 1.0.0
  description: |
    API для управления ролями и разрешениями игроков, а также получения
    профиля текущего пользователя. Основано на документе
    `.BRAIN/05-technical/backend/authentication-authorization-system.md`
    (v1.0.0).

    Функциональность включает:
    - Получение профиля текущего пользователя (`/auth/me`)
    - Управление ролями и кастомными разрешениями
    - Проверку полномочий для геймплейных подсистем
  x-microservice:
    name: auth-service
    port: 8081
    domain: auth
    base-path: /api/v1/auth
    package: com.necpgame.authservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

paths:
  /auth/me:
    get:
      tags: [Authorization]
      summary: Получить профиль текущего пользователя
      description: Возвращает профиль аккаунта, роли и агрегированные разрешения.
      operationId: getCurrentAccountProfile
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Профиль текущего пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProfile'
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }

  /auth/roles/assign:
    post:
      tags: [Authorization]
      summary: Назначить роль пользователю
      description: Доступно администраторам и выше. Роль может иметь срок действия и доп. разрешения.
      operationId: assignRole
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleAssignRequest'
      responses:
        '200':
          description: Роль назначена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResult'
        '400': { "$ref": "../../shared/common/responses.yaml#/components/responses/BadRequest" }
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '403': { "$ref": "../../shared/common/responses.yaml#/components/responses/Forbidden" }

  /auth/roles/revoke:
    post:
      tags: [Authorization]
      summary: Отозвать роль
      description: Удаляет роль пользователя и связанные временные разрешения.
      operationId: revokeRole
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleRevokeRequest'
      responses:
        '200':
          description: Роль удалена
        '400': { "$ref": "../../shared/common/responses.yaml#/components/responses/BadRequest" }
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '403': { "$ref": "../../shared/common/responses.yaml#/components/responses/Forbidden" }

  /auth/permissions/check:
    post:
      tags: [Permissions]
      summary: Проверить разрешение
      description: Позволяет игровым сервисам проверить, имеет ли пользователь конкретное разрешение.
      operationId: checkPermission
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionCheckRequest'
      responses:
        '200':
          description: Результат проверки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionCheckResponse'
        '400': { "$ref": "../../shared/common/responses.yaml#/components/responses/BadRequest" }
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }

  /auth/roles/catalog:
    get:
      tags: [Authorization]
      summary: Получить каталог ролей
      description: Возвращает доступные роли, наследование и базовые разрешения.
      operationId: listRoles
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Каталог ролей
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      $ref: '#/components/schemas/RoleDescriptor'
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }

components:
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'

  schemas:
    AccountProfile:
      type: object
      properties:
        account_id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        username:
          type: string
        display_name:
          type: string
        roles:
          type: array
          items:
            type: string
        permissions:
          type: array
          items:
            type: string
        last_login_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
    RoleAssignRequest:
      type: object
      required: [account_id, role]
      properties:
        account_id:
          type: string
          format: uuid
        role:
          type: string
          description: Имя роли, например PLAYER, MODERATOR, ADMIN, SUPER_ADMIN
        permissions:
          type: array
          items:
            type: string
          description: Дополнительные granular permissions
        granted_until:
          type: string
          format: date-time
          description: Время автоматического истечения роли (опционально)
        reason:
          type: string
          description: Заметка для аудита
    RoleAssignmentResult:
      type: object
      properties:
        account_id:
          type: string
          format: uuid
        active_roles:
          type: array
          items:
            type: string
        expires_at:
          type: string
          format: date-time
          nullable: true
    RoleRevokeRequest:
      type: object
      required: [account_id, role]
      properties:
        account_id:
          type: string
          format: uuid
        role:
          type: string
        reason:
          type: string
    PermissionCheckRequest:
      type: object
      required: [account_id, permission]
      properties:
        account_id:
          type: string
          format: uuid
        permission:
          type: string
        context:
          type: object
          additionalProperties:
            type: string
          description: Опциональный контекст проверки (guildId, locationId и т.п.)
    PermissionCheckResponse:
      type: object
      properties:
        has_permission:
          type: boolean
        evaluated_roles:
          type: array
          items:
            type: string
        granted_by:
          type: string
          description: Имя роли или явного разрешения, которое предоставило доступ
    RoleDescriptor:
      type: object
      properties:
        name:
          type: string
        inherits:
          type: array
          items:
            type: string
        default_permissions:
          type: array
          items:
            type: string
        description:
          type: string
