openapi: 3.0.3
info:
  title: Analytics Service API
  description: '**Enterprise-grade Analytics API for Player Behavior Analysis, Retention
    Metrics, and A/B Testing**

    Provides comprehensive analytics platform for MMOFPS RPG with real-time behavior
    analysis, retention tracking, A/B testing framework, and automated reporting.

    **Performance:** P99 <50ms for behavior analysis, <100ms for report generation
    **Reliability:** 99.95% uptime with automated data processing **Scale:** Processes
    10M+ player events daily'
  version: 1.0.0
  contact:
    name: NECPGAME Analytics Team
    email: analytics@necpgame.com
servers:
- url: https://api.necpgame.com/analytics/v1
  description: Production server
- url: https://staging-api.necpgame.com/analytics/v1
  description: Staging server
- url: http://localhost:8081/api/v1
  description: Local development
security:
- BearerAuth: []
tags:
- name: Player Behavior
  description: Player behavior analysis and engagement metrics
- name: Retention Analytics
  description: Cohort-based retention analysis and insights
- name: A/B Testing
  description: A/B test management and variant assignment
- name: Analytics Reports
  description: Automated report generation and retrieval
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /analytics/behavior/{player_id}:
    $ref: ./paths/analytics-behavior-{player_id}.yaml#/paths/~1analytics~1behavior~1{player_id}
  /analytics/behavior/{player_id}/analyze:
    $ref: ./paths/analytics-behavior-{player_id}-analyze.yaml#/paths/~1analytics~1behavior~1{player_id}~1analyze
  /analytics/retention:
    $ref: ./paths/analytics-retention.yaml#/paths/~1analytics~1retention
  /analytics/ab-tests:
    $ref: ./paths/analytics-ab-tests.yaml#/paths/~1analytics~1ab-tests
  /analytics/ab-tests/{test_id}/assign/{player_id}:
    $ref: ./paths/analytics-ab-tests-{test_id}-assign-{player_id}.yaml#/paths/~1analytics~1ab-tests~1{test_id}~1assign~1{player_id}
  /analytics/reports:
    $ref: ./paths/analytics-reports.yaml#/paths/~1analytics~1reports
  /analytics/reports/{report_id}:
    $ref: ./paths/analytics-reports-{report_id}.yaml#/paths/~1analytics~1reports~1{report_id}
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /system/health:
    $ref: ./paths/system-health.yaml#/paths/~1system~1health
components:
  schemas:
    PlayerBehavior:
      $ref: ./schemas/analytics-service-schemas.yaml#/components/schemas/PlayerBehavior
    PlayerSessionEvent:
      $ref: ./schemas/analytics-service-schemas.yaml#/components/schemas/PlayerSessionEvent
    GameEvent:
      $ref: ./schemas/analytics-service-schemas.yaml#/components/schemas/GameEvent
    RetentionMetrics:
      $ref: ./schemas/analytics-service-schemas.yaml#/components/schemas/RetentionMetrics
    CohortMetric:
      $ref: ./schemas/analytics-service-schemas.yaml#/components/schemas/CohortMetric
    ABTest:
      $ref: ./schemas/analytics-service-schemas.yaml#/components/schemas/ABTest
    ABTestVariant:
      $ref: ./schemas/analytics-service-schemas.yaml#/components/schemas/ABTestVariant
    ABTestMetric:
      $ref: ./schemas/analytics-service-schemas.yaml#/components/schemas/ABTestMetric
    DateRange:
      $ref: ./schemas/analytics-service-schemas.yaml#/components/schemas/DateRange
    AnalyticsReport:
      $ref: ./schemas/analytics-service-schemas.yaml#/components/schemas/AnalyticsReport
    ChartData:
      $ref: ./schemas/analytics-service-schemas.yaml#/components/schemas/ChartData
    SystemHealth:
      $ref: ./schemas/analytics-service-schemas.yaml#/components/schemas/SystemHealth
  responses:
    BadRequest:
      $ref: ./schemas/analytics-service-responses.yaml#/components/responses/BadRequest
    NotFound:
      $ref: ./schemas/analytics-service-responses.yaml#/components/responses/NotFound
    InternalServerError:
      $ref: ./schemas/analytics-service-responses.yaml#/components/responses/InternalServerError
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for API authentication
