openapi: 3.0.3
info:
  title: Analytics Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Analytics & Monitoring API for NECPGAME**

    This API provides comprehensive analytics, metrics, and monitoring capabilities
    for all game systems in the Night City universe, enabling data-driven insights
    and performance optimization.

    ## Key Features

    - **Real-time Analytics**: Live metrics and performance data - **Combat Analytics**:
    Battle statistics, effectiveness tracking - **Economy Analytics**: Market trends,
    portfolio analysis - **Player Behavior**: Usage patterns and engagement metrics
    - **Anti-cheat Monitoring**: Fraud detection and prevention - **Performance Optimized**:
    MMOFPS-grade performance with <25ms P99 latency

    ## Domain Purpose

    The Analytics domain provides comprehensive monitoring and analytics for all NECPGAME
    systems, enabling data-driven decisions and continuous improvement.

    ## Performance Targets

    - P99 Latency: <25ms for analytics queries - Memory: <20KB per active analytics
    session - Concurrent users: 50,000+ simultaneous analytics operations - Data processing:
    <10ms response time

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/analytics
  description: Production server
- url: https://staging-api.necpgame.com/v1/analytics
  description: Staging server
- url: http://localhost:8080/api/v1/analytics
  description: Local development server
tags:
- name: Combat Analytics
  description: Battle and combat performance metrics
- name: Economy Analytics
  description: Market trends and economic indicators
- name: Player Analytics
  description: Player behavior and engagement metrics
- name: System Monitoring
  description: Infrastructure and system health monitoring
- name: Anti-Cheat
  description: Fraud detection and prevention monitoring
- name: Health Monitoring
  description: System health and performance monitoring
security:
- BearerAuth: []
paths:
  /health:
    get:
      summary: Analytics Service Health Check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the analytics service.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: analyticsServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /analytics/combat/overview:
    get:
      summary: Get combat analytics overview
      operationId: getCombatAnalyticsOverview
      description: 'Retrieve comprehensive combat analytics overview with metrics
        and trends.

        **Performance:** Optimized for dashboard queries, <5ms response time.'
      tags:
      - Combat Analytics
      security:
      - BearerAuth: []
      parameters:
      - name: period
        in: query
        schema:
          type: string
          enum:
          - hour
          - day
          - week
          - month
          default: day
        description: Time period for analytics
      - name: game_mode
        in: query
        schema:
          type: string
          enum:
          - solo
          - team
          - ranked
          - casual
        description: Filter by game mode
      responses:
        '200':
          description: Combat analytics overview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombatAnalyticsOverview'
        '400':
          $ref: ../common-service/responses/error.yaml#/BadRequest
        '401':
          $ref: ../common-service/responses/error.yaml#/Unauthorized
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /analytics/economy/market:
    get:
      summary: Get economy market analytics
      operationId: getEconomyMarketAnalytics
      description: 'Retrieve market trends, price movements, and economic indicators.

        **AI Integration:** Uses predictive analytics for market forecasting.'
      tags:
      - Economy Analytics
      security:
      - BearerAuth: []
      parameters:
      - name: asset_type
        in: query
        schema:
          type: string
          enum:
          - currency
          - item
          - stock
          - real_estate
        description: Type of economic asset
      - name: timeframe
        in: query
        schema:
          type: string
          enum:
          - short
          - medium
          - long
          default: medium
        description: Analysis timeframe
      responses:
        '200':
          description: Market analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketAnalyticsResponse'
        '400':
          $ref: ../common-service/responses/error.yaml#/BadRequest
        '401':
          $ref: ../common-service/responses/error.yaml#/Unauthorized
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /analytics/players/behavior:
    get:
      summary: Get player behavior analytics
      operationId: getPlayerBehaviorAnalytics
      description: 'Analyze player behavior patterns, engagement metrics, and retention
        data.

        **Privacy:** Aggregated and anonymized data only.'
      tags:
      - Player Analytics
      security:
      - BearerAuth: []
      parameters:
      - name: segment
        in: query
        schema:
          type: string
          enum:
          - new_players
          - veterans
          - casual
          - hardcore
        description: Player segment to analyze
      - name: metric
        in: query
        schema:
          type: string
          enum:
          - engagement
          - retention
          - progression
          - spending
          default: engagement
        description: Behavior metric to analyze
      responses:
        '200':
          description: Player behavior analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerBehaviorAnalytics'
        '400':
          $ref: ../common-service/responses/error.yaml#/BadRequest
        '401':
          $ref: ../common-service/responses/error.yaml#/Unauthorized
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /analytics/system/performance:
    get:
      summary: Get system performance metrics
      operationId: getSystemPerformanceMetrics
      description: 'Monitor system performance, latency, and resource utilization.

        **Real-time:** Live metrics with sub-second updates.'
      tags:
      - System Monitoring
      security:
      - BearerAuth: []
      parameters:
      - name: component
        in: query
        schema:
          type: string
          enum:
          - api
          - database
          - cache
          - networking
        description: System component to monitor
      responses:
        '200':
          description: System performance metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemPerformanceMetrics'
        '400':
          $ref: ../common-service/responses/error.yaml#/BadRequest
        '401':
          $ref: ../common-service/responses/error.yaml#/Unauthorized
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
components:
  responses:
    OK:
      $ref: ../common-service/responses/success.yaml#/OK
    Created:
      $ref: ../common-service/responses/success.yaml#/Created
    Updated:
      $ref: ../common-service/responses/success.yaml#/Updated
    Deleted:
      $ref: ../common-service/responses/success.yaml#/Deleted
    BadRequest:
      $ref: ../common-service/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common-service/responses/error.yaml#/Unauthorized
    NotFound:
      $ref: ../common-service/responses/error.yaml#/NotFound
    TooManyRequests:
      $ref: ../common-service/responses/error.yaml#/TooManyRequests
  schemas:
    HealthResponse:
      $ref: ../common-service/schemas/health.yaml#/HealthResponse
    Error:
      $ref: ../common-service/schemas/common.yaml#/Error
    CombatAnalyticsOverview:
      type: object
      properties:
        period:
          type: string
          description: Analysis period
        metrics:
          type: object
          properties:
            total_battles:
              type: integer
              minimum: 0
            average_ttk:
              type: number
              minimum: 0
              description: Average Time To Kill in seconds
            average_dps:
              type: number
              minimum: 0
              description: Average Damage Per Second
            win_rate:
              type: number
              minimum: 0
              maximum: 1
              description: Overall win rate
          description: Key combat metrics
        trends:
          type: array
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
              metric:
                type: string
              value:
                type: number
            description: Time-series trend data
      description: 'BACKEND NOTE: Combat analytics with memory-aligned structure.'
    MarketAnalyticsResponse:
      type: object
      properties:
        asset_type:
          type: string
        timeframe:
          type: string
        current_price:
          type: number
          minimum: 0
        price_change_24h:
          type: number
          description: 24-hour price change percentage
        volume_24h:
          type: number
          minimum: 0
          description: 24-hour trading volume
        market_cap:
          type: number
          minimum: 0
          description: Market capitalization
        predictions:
          type: object
          properties:
            next_hour:
              type: number
              description: AI-predicted price for next hour
            confidence:
              type: number
              minimum: 0
              maximum: 1
              description: Prediction confidence score
          description: AI-driven market predictions
      description: 'BACKEND NOTE: Market analytics with AI predictions.'
    PlayerBehaviorAnalytics:
      type: object
      properties:
        segment:
          type: string
        metric:
          type: string
        total_players:
          type: integer
          minimum: 0
        active_users:
          type: integer
          minimum: 0
        average_session_time:
          type: integer
          minimum: 0
          description: Average session time in minutes
        retention_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Player retention rate
        engagement_score:
          type: number
          minimum: 0
          maximum: 100
          description: Composite engagement score
      description: 'BACKEND NOTE: Player behavior metrics for game optimization.'
    SystemPerformanceMetrics:
      type: object
      properties:
        component:
          type: string
        uptime_percentage:
          type: number
          minimum: 0
          maximum: 100
        average_response_time:
          type: number
          minimum: 0
          description: Average response time in milliseconds
        p95_response_time:
          type: number
          minimum: 0
          description: 95th percentile response time
        error_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Error rate percentage
        throughput:
          type: integer
          minimum: 0
          description: Requests per second
        resource_utilization:
          type: object
          properties:
            cpu_percentage:
              type: number
              minimum: 0
              maximum: 100
            memory_mb:
              type: integer
              minimum: 0
            disk_io:
              type: number
              minimum: 0
          description: Resource usage metrics
      description: 'BACKEND NOTE: System performance monitoring data.'
  securitySchemes:
    BearerAuth:
      $ref: ../common-service/security/security.yaml#/BearerAuth

