openapi: 3.0.3
info:
  title: Analytics Service API
  description: '**Enterprise-grade Analytics API for Player Behavior Analysis, Retention Metrics, and A/B Testing**

  Provides comprehensive analytics platform for MMOFPS RPG with real-time behavior analysis,
  retention tracking, A/B testing framework, and automated reporting.

  **Performance:** P99 <50ms for behavior analysis, <100ms for report generation
  **Reliability:** 99.95% uptime with automated data processing
  **Scale:** Processes 10M+ player events daily'
  version: 1.0.0
  contact:
    name: NECPGAME Analytics Team
    email: analytics@necpgame.com

servers:
  - url: https://api.necpgame.com/analytics/v1
    description: Production server
  - url: https://staging-api.necpgame.com/analytics/v1
    description: Staging server
  - url: http://localhost:8081/api/v1
    description: Local development

security:
  - BearerAuth: []

paths:
  /analytics/behavior/{player_id}:
    get:
      summary: Get Player Behavior
      description: '**Retrieve comprehensive player behavior analysis**

      Returns detailed behavior metrics including engagement score, retention probability,
      session patterns, and churn risk assessment.

      **Performance:** <25ms average response time'
      operationId: getPlayerBehavior
      tags:
        - Player Behavior
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Player UUID
          example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Player behavior analysis retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerBehavior'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /analytics/behavior/{player_id}/analyze:
    post:
      summary: Analyze Player Behavior
      description: '**Perform real-time behavior analysis for a player**

      Triggers immediate analysis of player behavior patterns, session data,
      and generates updated engagement metrics.

      **Performance:** <50ms analysis time'
      operationId: analyzePlayerBehavior
      tags:
        - Player Behavior
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Player UUID
      responses:
        '200':
          description: Player behavior analyzed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerBehavior'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /analytics/retention:
    get:
      summary: Get Retention Metrics
      description: '**Retrieve cohort-based retention analytics**

      Returns detailed retention metrics including Day 1, Day 7, Day 30 retention rates,
      cohort analysis, and retention insights.

      **Performance:** <75ms for 90-day analysis'
      operationId: getRetentionMetrics
      tags:
        - Retention Analytics
      parameters:
        - name: days
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 365
            default: 90
          description: Number of days to analyze
          example: 90
      responses:
        '200':
          description: Retention metrics retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetentionMetrics'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /analytics/ab-tests:
    post:
      summary: Create A/B Test
      description: '**Create a new A/B test with multiple variants**

      Sets up statistical testing framework with configurable variants,
      sample sizes, and success metrics.

      **Performance:** <30ms setup time'
      operationId: createABTest
      tags:
        - A/B Testing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - description
                - variants
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  description: Test name
                  example: "UI Button Color Test"
                description:
                  type: string
                  minLength: 1
                  maxLength: 500
                  description: Test description
                  example: "Testing different button colors for conversion optimization"
                variants:
                  type: array
                  minItems: 2
                  maxItems: 10
                  items:
                    type: string
                    minLength: 1
                    maxLength: 50
                  description: Test variant names
                  example: ["control", "blue_button", "green_button"]
      responses:
        '201':
          description: A/B test created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ABTest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /analytics/ab-tests/{test_id}/assign/{player_id}:
    post:
      summary: Assign A/B Test Variant
      description: '**Assign a test variant to a player**

      Uses statistical sampling to assign player to appropriate test variant
      based on weights and current distribution.

      **Performance:** <10ms assignment time'
      operationId: assignABTestVariant
      tags:
        - A/B Testing
      parameters:
        - name: test_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: A/B test UUID
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Player UUID
      responses:
        '200':
          description: Test variant assigned
          content:
            application/json:
              schema:
                type: object
                required: [test_id, player_id, variant, assigned_at]
                properties:
                  test_id:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440001"
                  player_id:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  variant:
                    type: string
                    example: "blue_button"
                  assigned_at:
                    type: string
                    format: date-time
                    example: "2024-01-11T12:00:00Z"
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /analytics/reports:
    post:
      summary: Generate Analytics Report
      description: '**Generate comprehensive analytics report**

      Creates automated reports with charts, metrics, and AI-powered insights
      for specified date ranges and report types.

      **Performance:** <200ms for standard reports'
      operationId: generateAnalyticsReport
      tags:
        - Analytics Reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - report_type
              properties:
                report_type:
                  type: string
                  enum: [retention, behavior, ab_test, performance]
                  description: Type of report to generate
                  example: "retention"
                start_date:
                  type: string
                  format: date
                  description: Report start date (YYYY-MM-DD)
                  example: "2024-01-01"
                end_date:
                  type: string
                  format: date
                  description: Report end date (YYYY-MM-DD)
                  example: "2024-01-11"
      responses:
        '201':
          description: Report generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsReport'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /analytics/reports/{report_id}:
    get:
      summary: Get Analytics Report
      description: '**Retrieve generated analytics report**

      Returns complete report with metrics, charts, and insights.

      **Performance:** <15ms retrieval time'
      operationId: getAnalyticsReport
      tags:
        - Analytics Reports
      parameters:
        - name: report_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Report UUID
      responses:
        '200':
          description: Report retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsReport'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /health:
    get:
      summary: Service Health Check
      description: '**Basic service health check with endpoint overview**

      Returns service health status and available endpoints.

      **Performance:** <5ms response time'
      operationId: healthCheck
      tags:
        - Health Monitoring
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                required: [status, timestamp, service, version, endpoints]
                properties:
                  status:
                    type: string
                    enum: [healthy, degraded, unhealthy]
                    example: healthy
                  timestamp:
                    type: string
                    format: date-time
                    example: "2024-01-11T12:00:00Z"
                  service:
                    type: string
                    example: analytics-service
                  version:
                    type: string
                    example: "1.0.0"
                  endpoints:
                    type: array
                    items:
                      type: string
                    example: ["/api/v1/analytics/behavior/{player_id}", "/api/v1/analytics/retention"]

  /system/health:
    get:
      summary: Get System Health
      description: '**Retrieve detailed system health metrics**

      Provides comprehensive health information including event processing,
      error rates, and system performance indicators.

      **Performance:** <20ms health aggregation'
      operationId: getSystemHealth
      tags:
        - Health Monitoring
      responses:
        '200':
          description: System health information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemHealth'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  schemas:
    PlayerBehavior:
      type: object
      required: [player_id, total_sessions, level, days_since_first, days_since_last, is_active]
      properties:
        # Large fields first (16-24 bytes): string (16+), pointers (8), slices (24+)
        player_id:
          type: string
          format: uuid
          description: Player identifier
          example: "550e8400-e29b-41d4-a716-446655440000"
        session_events:
          type: array
          items:
            $ref: '#/components/schemas/PlayerSessionEvent'
          description: Recent session events
        game_events:
          type: array
          items:
            $ref: '#/components/schemas/GameEvent'
          description: Recent game events

        # Medium fields (8 bytes): float64 (grouped together)
        session_duration:
          type: number
          format: float
          description: Total session duration in hours
          example: 45.5
        average_session_time:
          type: number
          format: float
          description: Average session time in hours
          example: 2.3
        play_frequency:
          type: number
          format: float
          description: Play frequency per week
          example: 4.2
        retention_rate:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Retention rate (0.0-1.0)
          example: 0.85
        churn_probability:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Churn probability (0.0-1.0)
          example: 0.12
        engagement_score:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Engagement score (0.0-1.0)
          example: 0.78

        # Small fields (≤4 bytes): int32, bool
        total_sessions:
          type: integer
          format: int32
          minimum: 0
          description: Total number of sessions
          example: 156
        total_play_time:
          type: integer
          format: int32
          description: Total play time in hours
          example: 234
        level:
          type: integer
          format: int32
          minimum: 1
          description: Current player level
          example: 25
        days_since_first:
          type: integer
          format: int32
          minimum: 0
          description: Days since first session
          example: 45
        days_since_last:
          type: integer
          format: int32
          minimum: 0
          description: Days since last session
          example: 2
        is_active:
          type: boolean
          description: Whether player is currently active
          example: true
        is_churned:
          type: boolean
          description: Whether player has churned
          example: false

    PlayerSessionEvent:
      type: object
      required: [event_id, event_type, timestamp, duration_minutes]
      properties:
        event_id:
          type: string
          format: uuid
          description: Event identifier
        event_type:
          type: string
          enum: [session_start, session_end, level_up, achievement]
          description: Type of session event
        timestamp:
          type: string
          format: date-time
          description: Event timestamp
        duration_minutes:
          type: integer
          format: int32
          minimum: 0
          description: Session duration in minutes
        level_start:
          type: integer
          format: int32
          minimum: 1
          description: Level at session start
        level_end:
          type: integer
          format: int32
          minimum: 1
          description: Level at session end
        xp_start:
          type: integer
          format: int32
          minimum: 0
          description: XP at session start
        xp_end:
          type: integer
          format: int32
          minimum: 0
          description: XP at session end

    GameEvent:
      type: object
      required: [event_id, event_type, player_id, timestamp]
      properties:
        event_id:
          type: string
          format: uuid
          description: Event identifier
        event_type:
          type: string
          description: Type of game event
          example: "enemy_defeated"
        player_id:
          type: string
          format: uuid
          description: Player identifier
        timestamp:
          type: string
          format: date-time
          description: Event timestamp
        data:
          type: object
          additionalProperties: true
          description: Event-specific data
          example: {"enemy_type": "boss", "damage_dealt": 1250}

    RetentionMetrics:
      type: object
      required: [date_range, cohort_metrics, total_players, active_players]
      properties:
        date_range:
          $ref: '#/components/schemas/DateRange'
        cohort_metrics:
          type: array
          items:
            $ref: '#/components/schemas/CohortMetric'
          description: Metrics for each cohort
        overall_retention:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Overall retention rate
          example: 0.65
        day1_retention:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Day 1 retention rate
          example: 0.78
        day7_retention:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Day 7 retention rate
          example: 0.65
        day30_retention:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Day 30 retention rate
          example: 0.45
        day90_retention:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Day 90 retention rate
          example: 0.32
        total_players:
          type: integer
          format: int32
          minimum: 0
          description: Total players in analysis
          example: 10000
        active_players:
          type: integer
          format: int32
          minimum: 0
          description: Currently active players
          example: 6500
        new_players:
          type: integer
          format: int32
          minimum: 0
          description: New players in period
          example: 2500
        returning_players:
          type: integer
          format: int32
          minimum: 0
          description: Returning players
          example: 4000

    CohortMetric:
      type: object
      required: [cohort_date, cohort_size, day1_retention, day7_retention, day30_retention, day90_retention]
      properties:
        cohort_date:
          type: string
          format: date
          description: Cohort date
          example: "2024-01-01"
        cohort_size:
          type: integer
          format: int32
          minimum: 0
          description: Size of cohort
          example: 1000
        day1_retention:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Day 1 retention for cohort
          example: 0.85
        day7_retention:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Day 7 retention for cohort
          example: 0.72
        day30_retention:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Day 30 retention for cohort
          example: 0.58
        day90_retention:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Day 90 retention for cohort
          example: 0.45

    ABTest:
      type: object
      required: [test_id, test_name, variants, confidence_level, status]
      properties:
        test_id:
          type: string
          format: uuid
          description: Test identifier
        test_name:
          type: string
          description: Test name
        description:
          type: string
          description: Test description
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ABTestVariant'
        target_metrics:
          type: array
          items:
            $ref: '#/components/schemas/ABTestMetric'
        confidence_level:
          type: number
          format: float
          minimum: 0.8
          maximum: 0.99
          description: Statistical confidence level
          example: 0.95
        statistical_power:
          type: number
          format: float
          minimum: 0.8
          maximum: 0.99
          description: Statistical power
          example: 0.8
        min_sample_size:
          type: integer
          format: int32
          minimum: 100
          description: Minimum sample size required
          example: 1000
        current_sample_size:
          type: integer
          format: int32
          minimum: 0
          description: Current sample size
          example: 2500
        status:
          type: integer
          format: int32
          enum: [0, 1, 2, 3]
          description: Test status (0=Draft, 1=Running, 2=Completed, 3=Stopped)
          example: 1
        is_active:
          type: boolean
          description: Whether test is active
          example: true
        start_date:
          type: string
          format: date-time
          description: Test start date
        end_date:
          type: string
          format: date-time
          description: Test end date (null if ongoing)

    ABTestVariant:
      type: object
      required: [variant_id, variant_name, weight, sample_size, conversion]
      properties:
        variant_id:
          type: string
          format: uuid
          description: Variant identifier
        variant_name:
          type: string
          description: Variant name
        weight:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Traffic weight (0.0-1.0)
          example: 0.33
        config:
          type: object
          additionalProperties: true
          description: Variant configuration
        sample_size:
          type: integer
          format: int32
          minimum: 0
          description: Current sample size for variant
          example: 833
        conversion:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Conversion rate
          example: 0.125

    ABTestMetric:
      type: object
      required: [metric_name, metric_type, baseline, improvement, p_value]
      properties:
        metric_name:
          type: string
          description: Metric name
          example: "conversion_rate"
        metric_type:
          type: string
          enum: [percentage, count, score]
          description: Type of metric
          example: "percentage"
        baseline:
          type: number
          format: float
          description: Baseline value
          example: 0.10
        improvement:
          type: number
          format: float
          description: Improvement over baseline
          example: 0.025
        p_value:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Statistical significance p-value
          example: 0.03

    DateRange:
      type: object
      required: [start_date, end_date]
      properties:
        start_date:
          type: string
          format: date
          description: Start date
          example: "2024-01-01"
        end_date:
          type: string
          format: date
          description: End date
          example: "2024-01-11"

    AnalyticsReport:
      type: object
      required: [report_id, report_type, date_range, generated_at, metrics]
      properties:
        report_id:
          type: string
          format: uuid
          description: Report identifier
        report_type:
          type: string
          enum: [retention, behavior, ab_test, performance]
          description: Type of report
        date_range:
          $ref: '#/components/schemas/DateRange'
        generated_at:
          type: string
          format: date-time
          description: Report generation timestamp
        metrics:
          type: object
          additionalProperties:
            type: number
            format: float
          description: Report metrics
        charts:
          type: array
          items:
            $ref: '#/components/schemas/ChartData'
          description: Charts for visualization
        insights:
          type: array
          items:
            type: string
          description: AI-generated insights
          example: ["Day 1 retention improved by 5%", "Churn rate decreased in high-level players"]

    ChartData:
      type: object
      required: [chart_id, chart_type, title, data]
      properties:
        chart_id:
          type: string
          description: Chart identifier
        chart_type:
          type: string
          enum: [line, bar, pie, scatter]
          description: Type of chart
        title:
          type: string
          description: Chart title
        data:
          type: array
          items:
            type: object
            additionalProperties: true
          description: Chart data points

    SystemHealth:
      type: object
      required: [total_events, processed_events, failed_events, active_tests, last_health_check]
      properties:
        total_events:
          type: integer
          format: int64
          minimum: 0
          description: Total events processed
          example: 1000000
        processed_events:
          type: integer
          format: int64
          minimum: 0
          description: Successfully processed events
          example: 999500
        failed_events:
          type: integer
          format: int64
          minimum: 0
          description: Failed events
          example: 500
        active_tests:
          type: integer
          format: int64
          minimum: 0
          description: Active A/B tests
          example: 3
        response_time:
          type: integer
          format: int64
          description: Average response time in milliseconds
          example: 15
        error_rate:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Error rate (0.0-1.0)
          example: 0.0005
        last_health_check:
          type: string
          format: date-time
          description: Last health check timestamp

  responses:
    BadRequest:
      description: Bad Request - Invalid input parameters
      content:
        application/json:
          schema:
            type: object
            required: [error, details, code, timestamp]
            properties:
              error:
                type: string
                example: "Invalid request body"
              details:
                type: string
                example: "report_type is required"
              code:
                type: integer
                example: 400
              timestamp:
                type: string
                format: date-time

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            required: [error, details, code, timestamp]
            properties:
              error:
                type: string
                example: "Resource not found"
              details:
                type: string
                example: "Player behavior not found"
              code:
                type: integer
                example: 404
              timestamp:
                type: string
                format: date-time

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            required: [error, details, code, timestamp]
            properties:
              error:
                type: string
                example: "Internal server error"
              details:
                type: string
                example: "Database connection failed"
              code:
                type: integer
                example: 500
              timestamp:
                type: string
                format: date-time

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for API authentication

tags:
  - name: Player Behavior
    description: Player behavior analysis and engagement metrics
  - name: Retention Analytics
    description: Cohort-based retention analysis and insights
  - name: A/B Testing
    description: A/B test management and variant assignment
  - name: Analytics Reports
    description: Automated report generation and retrieval
  - name: Health Monitoring
    description: System health and performance monitoring