# Issue: #141889962
openapi: 3.0.3
info:
  title: Stock Dividends Payments Service API
  description: |
    API для управления выплатами дивидендов игрокам на фондовой бирже.
    
    Функционал:
    - Получение истории выплат дивидендов игрока
    - Обработка выплат дивидендов (admin)
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: Economy Team
    email: economy@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production
  - url: https://api-stage.necp.game/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: dividends
    description: Операции с дивидендами
  - name: admin
    description: Административные операции

paths:
  /players/{player_id}/dividends/payments:
    get:
      tags:
        - dividends
      summary: Получить историю выплат дивидендов игрока
      description: |
        Возвращает все дивидендные выплаты игрока с детализацией:
        акции, суммы, налоги, DRIP, статусы.
      operationId: getPlayerDividendPayments
      security:
        - BearerAuth: [ ]
      parameters:
        - $ref: "../../common-schemas.yaml#/components/parameters/PlayerId"
        - name: stock_id
          in: query
          required: false
          description: Фильтр по ID акции
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          description: Фильтр по статусу выплаты
          schema:
            type: string
            enum:
              - pending
              - processed
              - failed
        - name: from_date
          in: query
          required: false
          description: Начало периода (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: to_date
          in: query
          required: false
          description: Конец периода (ISO 8601)
          schema:
            type: string
            format: date-time
        - $ref: "../../common-schemas.yaml#/components/parameters/Limit"
        - $ref: "../../common-schemas.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: История выплат успешно получена
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "stock-dividends-schemas.yaml#/components/schemas/DividendPayment"
                  pagination:
                    $ref: "../../common-schemas.yaml#/components/schemas/PaginationResponse"
                  summary:
                    $ref: "stock-dividends-schemas.yaml#/components/schemas/PaymentSummary"
        "400":
          $ref: "../../common-schemas.yaml#/components/responses/BadRequest"
        "401":
          $ref: "../../common-schemas.yaml#/components/responses/Unauthorized"
        "404":
          $ref: "../../common-schemas.yaml#/components/responses/NotFound"
        "500":
          $ref: "../../common-schemas.yaml#/components/responses/InternalServerError"

  /admin/dividends/process:
    post:
      tags:
        - admin
      summary: Обработать выплату дивидендов
      description: |
        Админ endpoint для обработки выплаты дивидендов по расписанию.
        Вызывается cron'ом или вручную.
        Требуется роль admin.
      operationId: processDividendPayment
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - schedule_id
              properties:
                schedule_id:
                  type: string
                  format: uuid
                  description: ID расписания для обработки
      responses:
        "200":
          description: Выплата успешно обработана
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  schedule_id:
                    type: string
                    format: uuid
                  total_players:
                    type: integer
                    description: Количество игроков получивших выплату
                  total_paid:
                    type: number
                    format: double
                    description: Общая сумма выплат
                  total_drip_shares:
                    type: number
                    format: double
                    description: Всего акций приобретено через DRIP
        "400":
          $ref: "../../common-schemas.yaml#/components/responses/BadRequest"
        "401":
          $ref: "../../common-schemas.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "../../common-schemas.yaml#/components/responses/Forbidden"
        "404":
          $ref: "../../common-schemas.yaml#/components/responses/NotFound"
        "500":
          $ref: "../../common-schemas.yaml#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      $ref: "../../common-schemas.yaml#/components/securitySchemes/BearerAuth"

