openapi: 3.0.3
info:
  title: Personal NPC Scenarios API
  version: 1.0.0
  description: |
    API для управления сценариями персональных NPC и их запуском.
    Источник: .BRAIN/02-gameplay/social/personal-npc-tool.md v1.0.0
servers:
  - url: https://api.necp.game/v1
    description: Production server
tags:
  - name: NPCScenarios
    description: Управление блупринтами и инстансами сценариев персональных NPC
paths:
  /gameplay/social/personal-npc-scenarios:
    get:
      tags:
        - NPCScenarios
      summary: Получить блупринты сценариев
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OwnerId'
        - $ref: '#/components/parameters/ScenarioCategory'
        - $ref: '#/components/parameters/ScenarioStatus'
        - $ref: '#/components/parameters/IsPublic'
        - $ref: '#/components/parameters/LicenseTier'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Блупринты сценариев
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioBlueprintListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - NPCScenarios
      summary: Создать блупринт сценария
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScenarioBlueprintCreateRequest'
      responses:
        '201':
          description: Блупринт сценария создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioBlueprintDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gameplay/social/personal-npc-scenarios/{blueprint_id}:
    parameters:
      - $ref: '#/components/parameters/BlueprintId'
    get:
      tags:
        - NPCScenarios
      summary: Получить блупринт сценария
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Детали блупринта сценария
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioBlueprintDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - NPCScenarios
      summary: Обновить блупринт сценария
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScenarioBlueprintUpdateRequest'
      responses:
        '200':
          description: Блупринт сценария обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioBlueprintDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - NPCScenarios
      summary: Удалить блупринт сценария
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Блупринт сценария удален
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gameplay/social/personal-npc-scenarios/{blueprint_id}/publish:
    post:
      tags:
        - NPCScenarios
      summary: Изменить статус публикации блупринта
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BlueprintId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScenarioBlueprintPublishRequest'
      responses:
        '200':
          description: Статус публикации обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioBlueprintDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gameplay/social/personal-npc-scenarios/{blueprint_id}/instances:
    get:
      tags:
        - NPCScenarios
      summary: Получить инстансы сценария
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/BlueprintId'
        - $ref: '#/components/parameters/ScenarioStatus'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Инстансы сценария
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioInstanceListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gameplay/social/personal-npcs/{npc_id}/execute-scenario:
    post:
      tags:
        - NPCScenarios
      summary: Запустить сценарий для NPC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/NpcId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteScenarioRequest'
      responses:
        '202':
          description: Сценарий поставлен на выполнение
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScenarioExecutionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  parameters:
    OwnerId:
      name: owner_id
      in: query
      description: Идентификатор владельца блупринтов
      required: false
      schema:
        type: string
        format: uuid
    ScenarioCategory:
      name: category
      in: query
      description: Категория сценария
      required: false
      schema:
        type: string
        enum: [economy, social, combat, logistics]
    ScenarioStatus:
      name: scenario_status
      in: query
      description: Статус сценария или инстанса
      required: false
      schema:
        type: string
        enum: [pending, running, paused, completed, failed, cancelled]
    IsPublic:
      name: is_public
      in: query
      description: Фильтр по публичности блупринта
      required: false
      schema:
        type: boolean
    LicenseTier:
      name: license_tier
      in: query
      description: Требуемый уровень лицензии
      required: false
      schema:
        type: string
        enum: [L1, L2, L3]
    BlueprintId:
      name: blueprint_id
      in: path
      description: Идентификатор блупринта сценария
      required: true
      schema:
        type: string
        format: uuid
    NpcId:
      name: npc_id
      in: path
      description: Идентификатор персонального NPC
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    ScenarioBlueprintListResponse:
      $ref: './personal-npc-scenarios-models.yaml#/components/schemas/ScenarioBlueprintListResponse'
    ScenarioBlueprintDetailResponse:
      $ref: './personal-npc-scenarios-models.yaml#/components/schemas/ScenarioBlueprintDetailResponse'
    ScenarioBlueprintCreateRequest:
      $ref: './personal-npc-scenarios-models.yaml#/components/schemas/ScenarioBlueprintCreateRequest'
    ScenarioBlueprintUpdateRequest:
      $ref: './personal-npc-scenarios-models.yaml#/components/schemas/ScenarioBlueprintUpdateRequest'
    ScenarioBlueprintPublishRequest:
      $ref: './personal-npc-scenarios-models.yaml#/components/schemas/ScenarioBlueprintPublishRequest'
    ScenarioInstanceListResponse:
      $ref: './personal-npc-scenarios-models.yaml#/components/schemas/ScenarioInstanceListResponse'
    ExecuteScenarioRequest:
      $ref: './personal-npc-scenarios-models.yaml#/components/schemas/ExecuteScenarioRequest'
    ScenarioExecutionResponse:
      $ref: './personal-npc-scenarios-models.yaml#/components/schemas/ScenarioExecutionResponse'
  responses:
    BadRequest:
      $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
    Unauthorized:
      $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
    Forbidden:
      $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'
    NotFound:
      $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
    Conflict:
      $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'
    UnprocessableEntity:
      $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity'
    InternalServerError:
      $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'

