openapi: 3.0.3
info:
  title: Personal NPC Contracts API
  version: 1.0.0
  description: |
    API для управления контрактами, лицензиями и сертификатами персональных NPC.
    Источник: .BRAIN/02-gameplay/social/personal-npc-tool.md v1.0.0
servers:
  - url: https://api.necp.game/v1
    description: Production server
tags:
  - name: NPCContracts
    description: Управление контрактами, лицензиями и сертификацией персональных NPC
paths:
  /gameplay/social/personal-npc-contracts:
    get:
      tags:
        - NPCContracts
      summary: Получить контракты персональных NPC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OwnerId'
        - $ref: '#/components/parameters/ContractType'
        - $ref: '#/components/parameters/ContractStatus'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Контракты персональных NPC
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - NPCContracts
      summary: Создать контракт персонального NPC
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractCreateRequest'
      responses:
        '201':
          description: Контракт создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gameplay/social/personal-npc-contracts/{contract_id}:
    parameters:
      - $ref: '#/components/parameters/ContractId'
    get:
      tags:
        - NPCContracts
      summary: Получить контракт персонального NPC
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Детали контракта
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - NPCContracts
      summary: Обновить статус контракта персонального NPC
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractStatusUpdateRequest'
      responses:
        '200':
          description: Статус контракта обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gameplay/social/personal-npc-licenses:
    get:
      tags:
        - NPCContracts
      summary: Получить лицензии для персональных NPC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OwnerId'
        - $ref: '#/components/parameters/LicenseStatus'
      responses:
        '200':
          description: Список лицензий владельца
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - NPCContracts
      summary: Запросить выдачу или апгрейд лицензии
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseRequest'
      responses:
        '202':
          description: Запрос лицензии принят
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseRequestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /gameplay/social/personal-npc-certificates:
    get:
      tags:
        - NPCContracts
      summary: Получить сертификаты персональных NPC
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OwnerId'
        - $ref: '#/components/parameters/NpcId'
        - $ref: '#/components/parameters/CertificateType'
      responses:
        '200':
          description: Сертификаты владельца и NPC
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - NPCContracts
      summary: Запросить сертификацию персонального NPC
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateRequest'
      responses:
        '202':
          description: Запрос на сертификацию принят
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateRequestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  parameters:
    OwnerId:
      name: owner_id
      in: query
      description: Идентификатор владельца
      required: true
      schema:
        type: string
        format: uuid
    ContractType:
      name: contract_type
      in: query
      description: Тип контракта
      required: false
      schema:
        type: string
        enum: [ownership_transfer, lease, loan]
    ContractStatus:
      name: contract_status
      in: query
      description: Статус контракта
      required: false
      schema:
        type: string
        enum: [draft, active, fulfilled, breached, cancelled]
    ContractId:
      name: contract_id
      in: path
      description: Идентификатор контракта
      required: true
      schema:
        type: string
        format: uuid
    LicenseStatus:
      name: license_status
      in: query
      description: Статус лицензии
      required: false
      schema:
        type: string
        enum: [active, suspended, revoked, expired]
    NpcId:
      name: npc_id
      in: query
      description: Идентификатор персонального NPC
      required: false
      schema:
        type: string
        format: uuid
    CertificateType:
      name: certificate_type
      in: query
      description: Тип сертификата
      required: false
      schema:
        type: string
        enum: [role_certification, zone_access, scenario_approval]
  schemas:
    ContractListResponse:
      $ref: './personal-npc-contracts-models.yaml#/components/schemas/ContractListResponse'
    ContractDetailResponse:
      $ref: './personal-npc-contracts-models.yaml#/components/schemas/ContractDetailResponse'
    ContractCreateRequest:
      $ref: './personal-npc-contracts-models.yaml#/components/schemas/ContractCreateRequest'
    ContractStatusUpdateRequest:
      $ref: './personal-npc-contracts-models.yaml#/components/schemas/ContractStatusUpdateRequest'
    LicenseListResponse:
      $ref: './personal-npc-contracts-models.yaml#/components/schemas/LicenseListResponse'
    LicenseRequest:
      $ref: './personal-npc-contracts-models.yaml#/components/schemas/LicenseRequest'
    LicenseRequestResponse:
      $ref: './personal-npc-contracts-models.yaml#/components/schemas/LicenseRequestResponse'
    CertificateListResponse:
      $ref: './personal-npc-contracts-models.yaml#/components/schemas/CertificateListResponse'
    CertificateRequest:
      $ref: './personal-npc-contracts-models.yaml#/components/schemas/CertificateRequest'
    CertificateRequestResponse:
      $ref: './personal-npc-contracts-models.yaml#/components/schemas/CertificateRequestResponse'
  responses:
    BadRequest:
      $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
    Unauthorized:
      $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
    Forbidden:
      $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'
    NotFound:
      $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
    Conflict:
      $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'
    UnprocessableEntity:
      $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity'
    InternalServerError:
      $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError'
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'

