# Модели данных для Weapons API
# Источник: .BRAIN/02-gameplay/combat/combat-weapon-classes-detailed.md v1.0.0

openapi: 3.0.3
info:
  title: Combat Weapons Models
  version: 1.0.0
  description: Модели данных для API оружия

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay
    package: com.necpgame.gameplayservice
paths: {}

components:
  schemas:
    WeaponSummary:
      type: object
      required:
        - id
        - name
        - weapon_class
        - rarity
      properties:
        id:
          type: string
        name:
          type: string
        weapon_class:
          type: string
          enum: [pistol, assault_rifle, shotgun, sniper_rifle, smg, lmg, melee, cyberware]
        brand:
          type: string
        rarity:
          type: string
          enum: [common, uncommon, rare, epic, legendary, iconic]
        damage:
          type: number
        fire_rate:
          type: number

    WeaponDetails:
      type: object
      required:
        - id
        - name
        - weapon_class
        - rarity
        - stats
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        lore:
          type: string
          description: Лор из Cyberpunk 2077
        weapon_class:
          type: string
          enum: [pistol, assault_rifle, shotgun, sniper_rifle, smg, lmg, melee, cyberware]
        subclass:
          type: string
          description: Подкласс (например, revolver, semi-auto pistol)
        brand:
          type: string
        rarity:
          type: string
          enum: [common, uncommon, rare, epic, legendary, iconic]
        stats:
          $ref: '#/components/schemas/WeaponStats'
        special_abilities:
          type: array
          description: Специальные способности оружия
          items:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
              cooldown:
                type: number
        mod_slots:
          type: integer
          description: Количество слотов для модов
        compatible_mods:
          type: array
          items:
            type: string
        requirements:
          type: object
          properties:
            level:
              type: integer
            attributes:
              type: object
              description: Требования к атрибутам (REF, TECH и т.д.)

    WeaponStats:
      type: object
      properties:
        damage:
          type: number
        fire_rate:
          type: number
          description: Выстрелов/ударов в секунду
        magazine_size:
          type: integer
        reload_time:
          type: number
          description: Время перезарядки (секунды)
        accuracy:
          type: number
          description: Точность (%)
        range_effective:
          type: number
          description: Эффективная дальность (м)
        range_max:
          type: number
          description: Максимальная дальность (м)
        movement_penalty:
          type: number
          description: Штраф к скорости при движении (%)
        crit_chance:
          type: number
        crit_damage:
          type: number
        penetration:
          type: number
          description: Проникающая способность

    WeaponMasteryProgress:
      type: object
      properties:
        character_id:
          type: string
        weapon_class:
          type: string
        rank:
          type: string
          enum: [novice, adept, expert, master, legend]
          description: |
            Novice: 0-100 kills
            Adept: 100-500 kills
            Expert: 500-2000 kills
            Master: 2000-5000 kills
            Legend: 5000-10000 kills
        total_kills:
          type: integer
        kills_to_next_rank:
          type: integer
        bonuses:
          type: array
          description: Бонусы от Mastery
          items:
            type: object
            properties:
              bonus_type:
                type: string
              value:
                type: number

    WeaponMod:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [scope, silencer, magazine, barrel, stock, grip, smart_link, other]
        stat_modifiers:
          type: object
          description: Изменения характеристик оружия
        compatible_classes:
          type: array
          description: Совместимые классы оружия
          items:
            type: string


servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
