openapi: 3.0.3
info:
  title: Matchmaking Service API - Enterprise-Grade Matchmaking System
  description: 'Enterprise-Grade Player Matchmaking API for NECPGAME'
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/matchmaking
  description: Production server
- url: https://staging-api.necpgame.com/v1/matchmaking
  description: Staging server
- url: http://localhost:8080/api/v1/matchmaking
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Queue Management
  description: Player queue operations and management
- name: Matchmaking Engine
  description: Core matchmaking algorithms and match finding
- name: Rating System
  description: Player rating and statistics management
- name: Match Quality
  description: Match quality assessment and monitoring
- name: Anti-Smurfing
  description: Account verification and manipulation prevention
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Matchmaking service health check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the matchmaking service microservice.

        Critical for service discovery, load balancing, and monitoring systems.

        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: matchmakingServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"matchmaking-health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /queue/join:
    post:
      summary: Join matchmaking queue
      description: '**Join matchmaking queue with player preferences**

        Adds a player to the matchmaking queue with specified game mode, preferences,
        and skill-based matching criteria. Supports party queuing and role selection.

        **Queue Types Supported:**
        - PvP: Competitive player vs player matches
        - PvE: Player vs environment content (dungeons, raids)
        - Ranked: Skill-based competitive matches
        - Casual: Relaxed matchmaking without rating changes
        - Tournament: Bracket-based tournament matches

        **Performance:** <50ms queue join time, immediate Redis cache update

        '
      operationId: joinMatchmakingQueue
      tags:
      - Queue Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinQueueRequest'
      responses:
        '202':
          description: Successfully joined queue
          headers:
            X-Queue-Position:
              schema:
                type: integer
                example: 1
            X-Estimated-Wait-Time:
              schema:
                type: integer
                example: 45
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /queue/leave:
    delete:
      summary: Leave matchmaking queue
      description: '**Remove player from matchmaking queue**

        Removes a player from the active matchmaking queue. Called when players
        cancel matchmaking or are matched into a game.

        **Queue Cleanup:**
        - Immediate removal from Redis queue
        - Update queue statistics
        - Free up queue slot for other players

        **Performance:** <10ms queue removal time

        '
      operationId: leaveMatchmakingQueue
      tags:
      - Queue Management
      parameters:
      - name: player_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: Player unique identifier
        example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '204':
          description: Successfully left queue
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Player not in queue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
/queue/status:
    get:
      summary: Get queue status
      description: 'Retrieve current matchmaking queue status and position information'
      operationId: getQueueStatus
      tags:
      - Queue Management
      parameters:
      - name: player_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: Player unique identifier
        example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Queue status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueStatusResponse'
        '404':
          description: Player not in queue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /match/find:
    post:
      summary: Find optimal match
      description: '**Execute matchmaking algorithm to find optimal player matches**

        Runs the matchmaking engine to find suitable opponents or teammates based on
        player skill ratings, preferences, and queue parameters.

        **Matching Algorithms:**
        - ELO-based skill matching with configurable ranges
        - Geographic proximity for low ping
        - Role-based team composition
        - Party size compatibility
        - Anti-smurf detection integration

        **Performance:** <100ms P99 matchmaking time, Redis-backed candidate search

        '
      operationId: findMatch
      tags:
      - Matchmaking Engine
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FindMatchRequest'
      responses:
        '200':
          description: Match found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchResponse'
        '202':
          description: Match search in progress
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchSearchStatus'
        '404':
          description: No suitable match found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /rating/{player_id}:
    get:
      summary: Get player rating
      description: '**Retrieve player matchmaking rating and statistics**

        Returns comprehensive rating information including current ELO score,
        rating history, win/loss statistics, and matchmaking performance metrics.

        **Rating Information:**
        - Current ELO rating with confidence interval
        - Rating history and trends
        - Win/loss ratio and streak data
        - Placement matches status
        - Regional ranking information

        **Performance:** <20ms rating retrieval with caching

        '
      operationId: getPlayerRating
      tags:
      - Rating System
      parameters:
      - name: player_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Player unique identifier
        example: 550e8400-e29b-41d4-a716-446655440000
      - name: include_history
        in: query
        schema:
          type: boolean
          default: false
        description: Include rating history in response
      responses:
        '200':
          description: Player rating retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerRatingResponse'
        '404':
          description: Player rating not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /match/quality/{match_id}:
    get:
      summary: Get match quality assessment
      description: '**Retrieve match quality metrics and balance assessment**

        Returns detailed quality analysis for a completed or in-progress match,
        including team balance, skill distribution, and predicted outcome.

        **Quality Metrics:**
        - Team skill balance score (0.0-1.0)
        - Predicted win probability for each team
        - Match fairness assessment
        - Anti-smurf detection flags
        - Regional distribution analysis

        **Performance:** <50ms quality calculation with caching

        '
      operationId: getMatchQuality
      tags:
      - Match Quality
      parameters:
      - name: match_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Match unique identifier
        example: 550e8400-e29b-41d4-a716-446655440001
      responses:
        '200':
          description: Match quality retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchQualityResponse'
        '404':
          description: Match not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /anti-smurf/verify/{player_id}:
    post:
      summary: Verify player account for anti-smurfing
      description: '**Perform anti-smurf verification on player account**

        Runs comprehensive verification checks to detect potential skill manipulation
        or account abuse patterns. Includes behavioral analysis and account history review.

        **Verification Checks:**
        - Account age and activity patterns
        - Rating progression analysis
        - Behavioral consistency checks
        - Multi-account detection
        - Regional play pattern analysis

        **Performance:** <200ms verification time, background processing for complex checks

        '
      operationId: verifyAntiSmurf
      tags:
      - Anti-Smurfing
      parameters:
      - name: player_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Player unique identifier
        example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Verification completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AntiSmurfVerificationResponse'
        '202':
          description: Verification in progress
          headers:
            Retry-After:
              schema:
                type: integer
                example: 300
        '403':
          description: Account flagged for potential manipulation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              schema:
                $ref: ../common-service/schemas/health.yaml#/HealthResponse
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/health.yaml#/HealthResponse
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    post:
      summary: Batch health check for multiple domain services
      description: '**Performance optimization:** Check multiple domain health in
        single request


        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.


        **Use case:** Service mesh health checks, Kubernetes readiness probes

        '
      operationId: exampleDomainBatchHealthCheck
      tags:
      - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                    - example-domain
                    - system-domain
                    - specialized-domain
                    maxItems: 10
                  description: List of services to check
      responses:
        '200':
          $ref: ../common-service/responses/success.yaml#/HealthBatchSuccess
        '400':
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description: '**Performance optimization:** Real-time health updates without
        polling


        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.


        **Protocol:** WebSocket with JSON payloads

        **Heartbeat:** 30 second intervals

        **Reconnection:** Automatic with exponential backoff

        '
      operationId: exampleDomainHealthWebSocket
      tags:
      - Health Monitoring
      parameters:
      - name: services
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - example-domain
            - system-domain
            - specialized-domain
        description: Services to monitor (optional, monitors all if not specified)
      responses:
        '200':
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/example-domain/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                    - health-monitoring-v1
        '101':
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSocketHealthMessage'
        '400':
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
        '401':
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
        '429':
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
components:
  responses:
    OK:
      $ref: ../common-service/responses/success.yaml#/OK
    Created:
      $ref: ../common-service/responses/success.yaml#/Created
    BadRequest:
      $ref: ../common-service/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common-service/responses/error.yaml#/Unauthorized
    Forbidden:
      $ref: ../common-service/responses/error.yaml#/Forbidden
    NotFound:
      $ref: ../common-service/responses/error.yaml#/NotFound
    Conflict:
      $ref: ../common-service/responses/error.yaml#/Conflict
    TooManyRequests:
      description: Too many requests - rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
            example: 60
            description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      $ref: ../common-service/responses/error.yaml#/InternalServerError
    ServiceUnavailable:
      description: Service temporarily unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    HealthOK:
      $ref: ../common-service/responses/success.yaml#/HealthOK

  schemas:
    HealthResponse:
      $ref: ../common-service/schemas/health.yaml#/HealthResponse
    Error:
      $ref: ../common-service/schemas/error.yaml#/Error

    # Queue Management Schemas
    JoinQueueRequest:
      type: object
      required:
      - game_mode
      - player_id
      properties:
        player_id:
          type: string
          format: uuid
          description: Player unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        game_mode:
          type: string
          enum:
          - pvp_ranked
          - pvp_casual
          - pvp_tournament
          - pve_dungeon
          - pve_raid
          - pve_group
          description: Game mode for matchmaking
          example: pvp_ranked
        party_id:
          type: string
          format: uuid
          description: Party identifier for group queuing (optional)
          example: 550e8400-e29b-41d4-a716-446655440001
        preferred_region:
          type: string
          maxLength: 50
          description: Preferred geographic region for low-latency matching
          example: "us-west"
        skill_range_min:
          type: integer
          minimum: 0
          maximum: 10000
          description: Minimum skill rating for expanded search
          example: 1450
        skill_range_max:
          type: integer
          minimum: 0
          maximum: 10000
          description: Maximum skill rating for expanded search
          example: 1550
        role_preferences:
          type: array
          items:
            type: string
            enum:
            - tank
            - healer
            - dps
            - support
          maxItems: 5
          description: Preferred roles in team composition
          example: ["dps", "support"]
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Queue join requests optimized for fast processing.'

    QueueStatusResponse:
      type: object
      required:
      - player_id
      - status
      - position
      - estimated_wait_seconds
      properties:
        player_id:
          type: string
          format: uuid
          description: Player unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        status:
          type: string
          enum:
          - queued
          - searching_expanded
          - matched
          - cancelled
          description: Current queue status
          example: queued
        position:
          type: integer
          minimum: 0
          description: Position in queue (0 = next to be matched)
          example: 5
        estimated_wait_seconds:
          type: integer
          minimum: 0
          description: Estimated wait time in seconds
          example: 45
        total_queued:
          type: integer
          minimum: 0
          description: Total players currently in queue
          example: 1250
        queue_expansion_active:
          type: boolean
          description: Whether queue expansion is active for faster matching
          example: false
        last_updated:
          type: string
          format: date-time
          description: Last queue status update timestamp
          example: '2025-12-25T20:00:15Z'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Queue status optimized for real-time updates.'

    # Matchmaking Engine Schemas
    FindMatchRequest:
      type: object
      required:
      - player_id
      - game_mode
      properties:
        player_id:
          type: string
          format: uuid
          description: Player unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        game_mode:
          type: string
          enum:
          - pvp_ranked
          - pvp_casual
          - pvp_tournament
          - pve_dungeon
          - pve_raid
          - pve_group
          description: Game mode for matchmaking
          example: pvp_ranked
        search_timeout_seconds:
          type: integer
          minimum: 10
          maximum: 300
          default: 120
          description: Maximum time to search for a match in seconds
          example: 120
        quality_threshold:
          type: number
          minimum: 0.0
          maximum: 1.0
          default: 0.8
          description: Minimum match quality threshold (0.0-1.0)
          example: 0.85
        allow_cross_region:
          type: boolean
          default: false
          description: Allow matching with players from other regions
          example: false
        party_requirements:
          type: object
          properties:
            min_party_size:
              type: integer
              minimum: 1
              maximum: 10
              description: Minimum party size required
              example: 3
            max_party_size:
              type: integer
              minimum: 1
              maximum: 10
              description: Maximum party size allowed
              example: 5
          description: Party composition requirements
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Match search requests optimized for algorithm processing.'

    MatchResponse:
      type: object
      required:
      - match_id
      - players
      - game_mode
      - status
      properties:
        match_id:
          type: string
          format: uuid
          description: Unique match identifier
          example: 550e8400-e29b-41d4-a716-446655440001
        players:
          type: array
          items:
            type: object
            required:
            - player_id
            - team
            properties:
              player_id:
                type: string
                format: uuid
                description: Player unique identifier
                example: 550e8400-e29b-41d4-a716-446655440000
              team:
                type: string
                enum:
                - alpha
                - bravo
                - neutral
                description: Assigned team
                example: alpha
              role:
                type: string
                enum:
                - tank
                - healer
                - dps
                - support
                description: Assigned role (for team-based modes)
                example: dps
          description: List of matched players with assignments
          maxItems: 20
        game_mode:
          type: string
          enum:
          - pvp_ranked
          - pvp_casual
          - pvp_tournament
          - pve_dungeon
          - pve_raid
          - pve_group
          description: Game mode for the match
          example: pvp_ranked
        status:
          type: string
          enum:
          - forming
          - ready
          - starting
          - in_progress
          description: Current match status
          example: forming
        quality_score:
          type: number
          minimum: 0.0
          maximum: 1.0
          description: Match quality score (0.0-1.0)
          example: 0.87
        region:
          type: string
          maxLength: 50
          description: Geographic region for the match
          example: "us-west"
        estimated_start_time:
          type: string
          format: date-time
          description: Estimated match start timestamp
          example: '2025-12-25T20:02:00Z'
        created_at:
          type: string
          format: date-time
          description: Match creation timestamp
          example: '2025-12-25T20:00:30Z'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Match responses optimized for game session creation.'

    MatchSearchStatus:
      type: object
      required:
      - search_id
      - status
      - started_at
      properties:
        search_id:
          type: string
          format: uuid
          description: Unique search session identifier
          example: 550e8400-e29b-41d4-a716-446655440002
        status:
          type: string
          enum:
          - searching
          - expanding_range
          - found_candidates
          - quality_check
          - timeout
          description: Current search status
          example: searching
        started_at:
          type: string
          format: date-time
          description: Search start timestamp
          example: '2025-12-25T20:00:00Z'
        candidates_found:
          type: integer
          minimum: 0
          description: Number of potential candidates found
          example: 3
        quality_score:
          type: number
          minimum: 0.0
          maximum: 1.0
          description: Best quality score among candidates
          example: 0.82
        time_elapsed_seconds:
          type: integer
          minimum: 0
          description: Time elapsed since search started
          example: 35
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Search status optimized for progress tracking.'

    # Rating System Schemas
    PlayerRatingResponse:
      type: object
      required:
      - player_id
      - current_rating
      - rating_history
      properties:
        player_id:
          type: string
          format: uuid
          description: Player unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        current_rating:
          type: object
          required:
          - value
          - confidence
          - last_updated
          properties:
            value:
              type: integer
              minimum: 0
              maximum: 10000
              description: Current ELO rating value
              example: 1525
            confidence:
              type: number
              minimum: 0.0
              maximum: 1.0
              description: Rating confidence level (0.0-1.0)
              example: 0.85
            tier:
              type: string
              enum:
              - bronze
              - silver
              - gold
              - platinum
              - diamond
              - master
              - grandmaster
              description: Skill tier based on rating
              example: gold
            last_updated:
              type: string
              format: date-time
              description: Last rating update timestamp
              example: '2025-12-25T19:45:00Z'
          description: Current rating information
        rating_history:
          type: array
          items:
            type: object
            required:
            - timestamp
            - rating_before
            - rating_after
            - change_reason
            properties:
              timestamp:
                type: string
                format: date-time
                description: Rating change timestamp
                example: '2025-12-25T19:45:00Z'
              rating_before:
                type: integer
                minimum: 0
                maximum: 10000
                description: Rating before change
                example: 1500
              rating_after:
                type: integer
                minimum: 0
                maximum: 10000
                description: Rating after change
                example: 1525
              change_reason:
                type: string
                enum:
                - match_win
                - match_loss
                - match_draw
                - placement_match
                - decay
                - boost
                description: Reason for rating change
                example: match_win
              match_id:
                type: string
                format: uuid
                description: Associated match identifier (if applicable)
                example: 550e8400-e29b-41d4-a716-446655440001
          maxItems: 50
          description: Recent rating history (last 50 changes)
        statistics:
          type: object
          properties:
            total_matches:
              type: integer
              minimum: 0
              description: Total matches played
              example: 150
            win_rate:
              type: number
              minimum: 0.0
              maximum: 1.0
              description: Overall win rate
              example: 0.62
            current_streak:
              type: integer
              description: Current win/loss streak (+ for wins, - for losses)
              example: 3
            peak_rating:
              type: integer
              minimum: 0
              maximum: 10000
              description: Highest rating achieved
              example: 1580
            rating_volatility:
              type: number
              minimum: 0.0
              description: Rating change volatility
              example: 25.5
          description: Player performance statistics
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Rating responses optimized for client-side caching.'

    # Match Quality Schemas
    MatchQualityResponse:
      type: object
      required:
      - match_id
      - quality_score
      - balance_metrics
      properties:
        match_id:
          type: string
          format: uuid
          description: Match unique identifier
          example: 550e8400-e29b-41d4-a716-446655440001
        quality_score:
          type: number
          minimum: 0.0
          maximum: 1.0
          description: Overall match quality score (0.0-1.0)
          example: 0.87
        balance_metrics:
          type: object
          required:
          - skill_balance
          - team_distribution
          properties:
            skill_balance:
              type: number
              minimum: 0.0
              maximum: 1.0
              description: Skill rating balance between teams (0.0-1.0)
              example: 0.92
            team_distribution:
              type: object
              properties:
                alpha_team_avg_rating:
                  type: number
                  description: Average rating of alpha team
                  example: 1520.5
                bravo_team_avg_rating:
                  type: number
                  description: Average rating of bravo team
                  example: 1485.3
                rating_difference:
                  type: number
                  description: Rating difference between teams
                  example: 35.2
              description: Team skill distribution analysis
            regional_distribution:
              type: object
              properties:
                primary_region:
                  type: string
                  description: Most common player region
                  example: "us-west"
                region_diversity_score:
                  type: number
                  minimum: 0.0
                  maximum: 1.0
                  description: Geographic diversity score (higher = more diverse)
                  example: 0.75
                estimated_ping_variance:
                  type: integer
                  description: Estimated ping variance in milliseconds
                  example: 15
              description: Geographic distribution analysis
          description: Detailed balance and distribution metrics
        anti_smurf_flags:
          type: array
          items:
            type: object
            required:
            - flag_type
            - severity
            properties:
              flag_type:
                type: string
                enum:
                - account_age_suspicious
                - rating_progression_unusual
                - playtime_pattern_abnormal
                - multi_account_detected
                - smurf_behavior_detected
                description: Type of anti-smurf detection flag
                example: rating_progression_unusual
              severity:
                type: string
                enum:
                - low
                - medium
                - high
                - critical
                description: Severity level of the flag
                example: medium
              confidence:
                type: number
                minimum: 0.0
                maximum: 1.0
                description: Detection confidence score
                example: 0.78
              details:
                type: string
                maxLength: 500
                description: Additional detection details
                example: "Rating increased 400 points in 24 hours"
          maxItems: 10
          description: Anti-smurf detection flags (if any)
        predicted_outcomes:
          type: object
          properties:
            alpha_team_win_probability:
              type: number
              minimum: 0.0
              maximum: 1.0
              description: Predicted win probability for alpha team
              example: 0.58
            estimated_match_duration:
              type: integer
              minimum: 0
              description: Predicted match duration in minutes
              example: 25
            fairness_score:
              type: number
              minimum: 0.0
              maximum: 1.0
              description: Overall match fairness score
              example: 0.91
          description: Machine learning predictions for match outcomes
        assessed_at:
          type: string
          format: date-time
          description: Quality assessment timestamp
          example: '2025-12-25T20:00:45Z'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Quality assessments optimized for real-time monitoring.'

    # Anti-Smurfing Schemas
    AntiSmurfVerificationResponse:
      type: object
      required:
      - player_id
      - verification_status
      - checked_at
      properties:
        player_id:
          type: string
          format: uuid
          description: Player unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        verification_status:
          type: string
          enum:
          - passed
          - flagged
          - requires_review
          - blocked
          description: Overall verification result
          example: passed
        risk_score:
          type: number
          minimum: 0.0
          maximum: 1.0
          description: Overall smurf risk score (0.0-1.0)
          example: 0.12
        checks_performed:
          type: array
          items:
            type: object
            required:
            - check_type
            - result
            - score
            properties:
              check_type:
                type: string
                enum:
                - account_age
                - rating_progression
                - playtime_pattern
                - multi_account_detection
                - behavioral_analysis
                - regional_consistency
                description: Type of verification check performed
                example: rating_progression
              result:
                type: string
                enum:
                - passed
                - suspicious
                - failed
                description: Result of this specific check
                example: passed
              score:
                type: number
                minimum: 0.0
                maximum: 1.0
                description: Risk score for this check (0.0-1.0)
                example: 0.05
              details:
                type: string
                maxLength: 200
                description: Additional check details
                example: "Rating progression within normal bounds"
          description: Individual verification checks performed
          maxItems: 10
        recommendations:
          type: array
          items:
            type: string
            enum:
            - allow_normal_matching
            - restrict_to_casual_modes
            - require_additional_verification
            - flag_for_moderator_review
            - temporary_play_restrictions
            - account_suspension
            maxLength: 100
          description: Recommended actions based on verification results
          example: ["allow_normal_matching"]
        checked_at:
          type: string
          format: date-time
          description: Verification timestamp
          example: '2025-12-25T20:01:15Z'
        next_check_recommended:
          type: string
          format: date-time
          description: Recommended time for next verification
          example: '2025-12-26T08:00:00Z'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Anti-smurf verification optimized for security processing.'

  securitySchemes:
    BearerAuth:
      $ref: ../common-service/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common-service/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common-service/security/security.yaml#/ServiceAuth
