openapi: 3.0.3
info:
  title: Game Analytics Dashboard Service API - Enterprise-Grade Analytics for NECPGAME
  description: '**Enterprise-Grade Game Analytics Dashboard Service API for NECPGAME
    MMORPG**

    Comprehensive analytics platform providing real-time insights into game performance,
    player behavior, economic metrics, and strategic decision support for Cyberpunk
    2077-style competitive shooter.

    ## Key Features

    - **Real-time Game Analytics Dashboard** - Live performance metrics and KPIs -
    **Player Behavior Analytics** - Advanced player segmentation and retention analysis
    - **Economic Analytics** - Currency flow, market trends, and trading patterns
    - **Combat Statistics** - Detailed combat performance and win/loss analytics -
    **Social Network Analysis** - Guild dynamics and player relationships - **Revenue
    Analytics** - Monetization metrics and player spending patterns - **Technical
    Performance** - System health, latency, and bottleneck analysis

    ## Domain Purpose

    This service provides comprehensive analytics capabilities for MMORPG operations,
    including real-time dashboards, player metrics, economic analysis, and strategic
    research tools.

    ## Performance Targets

    - P99 Latency: <100ms for analytics queries - Memory: <300MB per dashboard instance
    - Concurrent analysts: 1000+ simultaneous sessions - Data processing: Real-time
    stream analytics with <5s latency - Storage: Time-series optimized database with
    1+ year retention

    ## Security Features

    - Role-based access control (Admin, Analyst, Developer) - Encrypted data transmission
    and storage - Audit trails for all analytics queries - Rate limiting and abuse
    prevention '
  version: 1.0.0
  contact:
    name: NECPGAME Analytics API Support
    email: analytics@necp.game
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/analytics
  description: Production server
- url: https://staging-api.necpgame.com/v1/analytics
  description: Staging server
- url: http://localhost:8091/api/v1/analytics
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Game Analytics Dashboard
  description: Real-time game analytics and dashboard operations
- name: Player Analytics
  description: Player behavior, retention, and segmentation analytics
- name: Economic Analytics
  description: Currency flow, trading, and monetization analytics
- name: Combat Analytics
  description: Combat performance and statistics
- name: Social Analytics
  description: Guild and social network analysis
- name: Revenue Analytics
  description: Monetization and revenue metrics
- name: Technical Performance
  description: System performance and health monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /api/v1/analytics/dashboard/overview:
    $ref: ./paths/api-v1-analytics-dashboard-overview.yaml#/paths/~1api~1v1~1analytics~1dashboard~1overview
  /api/v1/analytics/players/behavior:
    $ref: ./paths/api-v1-analytics-players-behavior.yaml#/paths/~1api~1v1~1analytics~1players~1behavior
  /api/v1/analytics/economy/overview:
    $ref: ./paths/api-v1-analytics-economy-overview.yaml#/paths/~1api~1v1~1analytics~1economy~1overview
  /api/v1/analytics/combat/performance:
    $ref: ./paths/api-v1-analytics-combat-performance.yaml#/paths/~1api~1v1~1analytics~1combat~1performance
  /api/v1/analytics/social/network:
    $ref: ./paths/api-v1-analytics-social-network.yaml#/paths/~1api~1v1~1analytics~1social~1network
  /api/v1/analytics/revenue/monetization:
    $ref: ./paths/api-v1-analytics-revenue-monetization.yaml#/paths/~1api~1v1~1analytics~1revenue~1monetization
  /api/v1/analytics/performance/system:
    $ref: ./paths/api-v1-analytics-performance-system.yaml#/paths/~1api~1v1~1analytics~1performance~1system
  /api/v1/analytics/alerts:
    $ref: ./paths/api-v1-analytics-alerts.yaml#/paths/~1api~1v1~1analytics~1alerts
  /api/v1/analytics/reports/{report_type}:
    $ref: ./paths/api-v1-analytics-reports-{report_type}.yaml#/paths/~1api~1v1~1analytics~1reports~1{report_type}
components:
  schemas:
    HealthResponse:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/HealthResponse
    GameAnalyticsOverview:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/GameAnalyticsOverview
    DashboardSummary:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/DashboardSummary
    PlayerMetricsSummary:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/PlayerMetricsSummary
    EconomicIndicators:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/EconomicIndicators
    CombatStatsSummary:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/CombatStatsSummary
    SocialMetricsSummary:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/SocialMetricsSummary
    SystemHealthSummary:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/SystemHealthSummary
    PlayerBehaviorAnalytics:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/PlayerBehaviorAnalytics
    PlayerSegment:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/PlayerSegment
    EconomicAnalytics:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/EconomicAnalytics
    CombatAnalytics:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/CombatAnalytics
    RegionalCombatStats:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/RegionalCombatStats
    SocialAnalytics:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/SocialAnalytics
    GuildAnalytics:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/GuildAnalytics
    RevenueAnalytics:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/RevenueAnalytics
    SystemPerformanceAnalytics:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/SystemPerformanceAnalytics
    SystemAlert:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/SystemAlert
    AnalyticsAlerts:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/AnalyticsAlerts
    AnalyticsAlert:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/AnalyticsAlert
    AnalyticsReport:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/AnalyticsReport
    Error:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/Error
    PaginationParams:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/PaginationParams
    PaginatedResponse:
      $ref: ./schemas/analysis-service-schemas.yaml#/components/schemas/PaginatedResponse
  responses:
    OK:
      $ref: ./schemas/analysis-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/analysis-service-responses.yaml#/components/responses/Created
    BadRequest:
      $ref: ./schemas/analysis-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/analysis-service-responses.yaml#/components/responses/Unauthorized
    Forbidden:
      $ref: ./schemas/analysis-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/analysis-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/analysis-service-responses.yaml#/components/responses/Conflict
    InternalServerError:
      $ref: ./schemas/analysis-service-responses.yaml#/components/responses/InternalServerError
    HealthOK:
      $ref: ./schemas/analysis-service-responses.yaml#/components/responses/HealthOK
    HealthBatchSuccess:
      $ref: ./schemas/analysis-service-responses.yaml#/components/responses/HealthBatchSuccess
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
