openapi: 3.0.3
info:
  title: Crafting Network Service API - Enterprise-Grade Real-Time Crafting
  description: '**Enterprise-Grade Real-Time Crafting Network API for NECPGAME**

    This API manages real-time crafting operations, progress synchronization, and
    network-optimized crafting workflows in the Night City universe. Critical for
    MMOFPS crafting with sub-millisecond latency requirements.

    ## Key Features

    - **Real-Time Progress**: WebSocket-based crafting session monitoring - **High-Frequency
    Sync**: UDP protocol for compressed crafting state updates - **Queue Management**:
    Real-time crafting queue and resource notifications - **Latency Compensation**:
    Network lag mitigation for crafting operations - **Performance Optimized**: MMOFPS-grade
    network performance with <1ms P99 latency

    ## Domain Purpose

    The Crafting Network domain handles all real-time networking aspects of item creation
    and material processing. Players receive instant feedback on crafting progress,
    material availability, and queue status through optimized network protocols.

    ## Performance Targets

    - WebSocket Latency: <5ms message delivery - UDP Sync Latency: <1ms state updates
    - Memory per Session: <10KB active crafting - Concurrent Crafters: 10,000+ simultaneous
    sessions - Network Bandwidth: <50KB/s per active session

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/crafting-network
  description: Production server
- url: https://staging-api.necpgame.com/v1/crafting-network
  description: Staging server
- url: http://localhost:8080/api/v1/crafting-network
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Real-Time Crafting
  description: WebSocket-based real-time crafting operations
- name: UDP Synchronization
  description: High-frequency UDP crafting state synchronization
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /ws/crafting/{session_id}:
    $ref: ./paths/ws-crafting-{session_id}.yaml#/paths/~1ws~1crafting~1{session_id}
  /ws/queue/{player_id}:
    $ref: ./paths/ws-queue-{player_id}.yaml#/paths/~1ws~1queue~1{player_id}
  /udp/sessions/{session_id}/connect:
    $ref: ./paths/udp-sessions-{session_id}-connect.yaml#/paths/~1udp~1sessions~1{session_id}~1connect
  /udp/sessions/{session_id}/progress:
    $ref: ./paths/udp-sessions-{session_id}-progress.yaml#/paths/~1udp~1sessions~1{session_id}~1progress
  /udp/sessions/{session_id}/materials:
    $ref: ./paths/udp-sessions-{session_id}-materials.yaml#/paths/~1udp~1sessions~1{session_id}~1materials
components:
  schemas:
    HealthResponse:
      $ref: ./schemas/crafting-network-service-schemas.yaml#/components/schemas/HealthResponse
    WebSocketHealthMessage:
      $ref: ./schemas/crafting-network-service-schemas.yaml#/components/schemas/WebSocketHealthMessage
    WebSocketCraftingMessage:
      $ref: ./schemas/crafting-network-service-schemas.yaml#/components/schemas/WebSocketCraftingMessage
    WebSocketQueueMessage:
      $ref: ./schemas/crafting-network-service-schemas.yaml#/components/schemas/WebSocketQueueMessage
    UdpConnectRequest:
      $ref: ./schemas/crafting-network-service-schemas.yaml#/components/schemas/UdpConnectRequest
    UdpConnectResponse:
      $ref: ./schemas/crafting-network-service-schemas.yaml#/components/schemas/UdpConnectResponse
    UdpProgressUpdate:
      $ref: ./schemas/crafting-network-service-schemas.yaml#/components/schemas/UdpProgressUpdate
    UdpMaterialUpdate:
      $ref: ./schemas/crafting-network-service-schemas.yaml#/components/schemas/UdpMaterialUpdate
    UdpPacketHeader:
      $ref: ./schemas/crafting-network-service-schemas.yaml#/components/schemas/UdpPacketHeader
    CompressedProgressData:
      $ref: ./schemas/crafting-network-service-schemas.yaml#/components/schemas/CompressedProgressData
    MaterialChange:
      $ref: ./schemas/crafting-network-service-schemas.yaml#/components/schemas/MaterialChange
    CraftingProgressData:
      $ref: ./schemas/crafting-network-service-schemas.yaml#/components/schemas/CraftingProgressData
    MaterialNotification:
      $ref: ./schemas/crafting-network-service-schemas.yaml#/components/schemas/MaterialNotification
    QueueStatusData:
      $ref: ./schemas/crafting-network-service-schemas.yaml#/components/schemas/QueueStatusData
  responses:
    HealthBatchSuccess:
      $ref: ./schemas/crafting-network-service-responses.yaml#/components/responses/HealthBatchSuccess
    OK:
      $ref: ./schemas/crafting-network-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/crafting-network-service-responses.yaml#/components/responses/Created
    BadRequest:
      $ref: ./schemas/crafting-network-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/crafting-network-service-responses.yaml#/components/responses/Unauthorized
    Forbidden:
      $ref: ./schemas/crafting-network-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/crafting-network-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/crafting-network-service-responses.yaml#/components/responses/Conflict
    InternalServerError:
      $ref: ./schemas/crafting-network-service-responses.yaml#/components/responses/InternalServerError
    HealthOK:
      $ref: ./schemas/crafting-network-service-responses.yaml#/components/responses/HealthOK
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/components/securitySchemes/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/components/securitySchemes/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/components/securitySchemes/ServiceAuth
