openapi: 3.0.3
info:
  title: Crafting Network Service API - Enterprise-Grade Real-Time Crafting
  description: '**Enterprise-Grade Real-Time Crafting Network API for NECPGAME**

    This API manages real-time crafting operations, progress synchronization,
    and network-optimized crafting workflows in the Night City universe.
    Critical for MMOFPS crafting with sub-millisecond latency requirements.

    ## Key Features

    - **Real-Time Progress**: WebSocket-based crafting session monitoring - **High-Frequency Sync**: UDP protocol for compressed crafting state updates - **Queue Management**: Real-time crafting queue and resource notifications - **Latency Compensation**: Network lag mitigation for crafting operations - **Performance Optimized**: MMOFPS-grade network performance with <1ms P99 latency

    ## Domain Purpose

    The Crafting Network domain handles all real-time networking aspects of item creation
    and material processing. Players receive instant feedback on crafting progress,
    material availability, and queue status through optimized network protocols.

    ## Performance Targets

    - WebSocket Latency: <5ms message delivery - UDP Sync Latency: <1ms state updates - Memory per Session: <10KB active crafting - Concurrent Crafters: 10,000+ simultaneous sessions - Network Bandwidth: <50KB/s per active session

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/crafting-network
  description: Production server
- url: https://staging-api.necpgame.com/v1/crafting-network
  description: Staging server
- url: http://localhost:8080/api/v1/crafting-network
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Real-Time Crafting
  description: WebSocket-based real-time crafting operations
- name: UDP Synchronization
  description: High-frequency UDP crafting state synchronization
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Crafting network service health check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the crafting network microservice.
        Critical for service discovery, load balancing, and monitoring.
        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: craftingNetworkServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"crafting-network-health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/components/schemas/HealthResponse'
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/components/schemas/HealthResponse'
        "429":
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /health/batch:
    post:
      summary: Batch health check for multiple network services
      description: '**Performance optimization:** Check multiple network health in
        single request

        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.

        **Use case:** Service mesh health checks, Kubernetes readiness probes

        '
      operationId: craftingNetworkServiceBatchHealthCheck
      tags:
      - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                    - crafting-network
                    - crafting-service
                    - real-time-combat
                  maxItems: 10
                  description: List of services to check
      responses:
        '200':
          $ref: '../common/responses/success.yaml#/components/responses/HealthBatchSuccess'
        '400':
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description: '**Performance optimization:** Real-time health updates without
        polling

        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.

        **Protocol:** WebSocket with JSON payloads

        **Heartbeat:** 30 second intervals

        **Reconnection:** Automatic with exponential backoff

        '
      operationId: craftingNetworkServiceHealthWebSocket
      tags:
      - Health Monitoring
      parameters:
      - name: services
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - crafting-network
            - crafting-service
            - real-time-combat
        description: Services to monitor (optional, monitors all if not specified)
      responses:
        '200':
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/crafting-network/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                    - health-monitoring-v1
        '101':
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSocketHealthMessage'
        '400':
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /ws/crafting/{session_id}:
    get:
      summary: WebSocket connection for real-time crafting session
      description: '**Real-time crafting progress monitoring**

        Establishes WebSocket connection for monitoring crafting session progress,
        material availability, and queue status updates.

        **Performance:** <5ms message latency, compressed payloads

        **Protocol:** WebSocket with binary message framing

        **Compression:** LZ4 for message payloads

        **Reconnection:** Automatic with state recovery

        '
      operationId: craftingSessionWebSocket
      tags:
      - Real-Time Crafting
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Crafting session identifier
      - name: player_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: Player identifier for authorization
      responses:
        '101':
          description: WebSocket connection established for crafting session
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSocketCraftingMessage'
        '400':
          description: Invalid session or player parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - player not authorized for this session
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '404':
          description: Crafting session not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          description: Too many connections - WebSocket limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /ws/queue/{player_id}:
    get:
      summary: WebSocket connection for crafting queue monitoring
      description: '**Real-time crafting queue management**

        Monitors player''s crafting queue status, priority changes,
        and available crafting stations.

        **Performance:** Real-time queue position updates

        **Features:** Queue jumping notifications, station availability alerts

        '
      operationId: craftingQueueWebSocket
      tags:
      - Real-Time Crafting
      parameters:
      - name: player_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Player identifier
      responses:
        '101':
          description: WebSocket connection established for queue monitoring
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSocketQueueMessage'
        '403':
          description: Forbidden - invalid player authorization
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          description: Connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /udp/sessions/{session_id}/connect:
    post:
      summary: Establish UDP connection for crafting session
      description: '**High-frequency crafting state synchronization**

        Initiates UDP connection for real-time crafting progress updates.
        Critical for MMOFPS crafting with sub-millisecond latency requirements.

        **Performance:** <1ms state sync latency

        **Protocol:** UDP with reliability layer

        **Compression:** Custom binary protocol with delta encoding

        '
      operationId: udpCraftingSessionConnect
      tags:
      - UDP Synchronization
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Crafting session identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UdpConnectRequest'
      responses:
        '200':
          description: UDP connection parameters established
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UdpConnectResponse'
        '400':
          description: Invalid connection parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - session access denied
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '404':
          description: Crafting session not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /udp/sessions/{session_id}/progress:
    post:
      summary: UDP endpoint for crafting progress synchronization
      description: '**Real-time crafting progress updates**

        Receives compressed crafting progress data via UDP for
        high-frequency state synchronization.

        **Optimization:** Delta-encoded progress updates

        **Reliability:** Best-effort delivery with periodic full state sync

        '
      operationId: udpCraftingProgressSync
      tags:
      - UDP Synchronization
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Crafting session identifier
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/UdpProgressUpdate'
      responses:
        '200':
          description: Progress update accepted
        '400':
          description: Invalid progress data
        '403':
          description: Session access denied
        '404':
          description: Session not found
  /udp/sessions/{session_id}/materials:
    post:
      summary: UDP endpoint for material availability synchronization
      description: '**Real-time material availability notifications**

        Synchronizes material availability changes with minimal latency.
        Critical for crafting queue management and resource planning.

        **Performance:** Instant availability updates

        **Compression:** Bit-packed material state changes

        '
      operationId: udpMaterialAvailabilitySync
      tags:
      - UDP Synchronization
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Crafting session identifier
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/UdpMaterialUpdate'
      responses:
        '200':
          description: Material update processed
        '400':
          description: Invalid material data
        '403':
          description: Session access denied
        '404':
          description: Session not found
components:
  responses:
    HealthBatchSuccess:
      $ref: '../common/responses/success.yaml#/components/responses/HealthBatchSuccess'
    OK:
      $ref: '../common/responses/success.yaml#/components/responses/OK'
    Created:
      $ref: '../common/responses/success.yaml#/components/responses/Created'
    BadRequest:
      $ref: '../common/responses/error.yaml#/components/responses/BadRequest'
    Unauthorized:
      $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
    Forbidden:
      $ref: '../common/responses/error.yaml#/components/responses/Forbidden'
    NotFound:
      $ref: '../common/responses/error.yaml#/components/responses/NotFound'
    Conflict:
      $ref: '../common/responses/error.yaml#/components/responses/Conflict'
    InternalServerError:
      $ref: '../common/responses/error.yaml#/components/responses/InternalServerError'
    HealthOK:
      $ref: '../common/responses/success.yaml#/components/responses/HealthOK'
  schemas:
    HealthResponse:
      $ref: '../common/schemas/health.yaml#/components/schemas/HealthResponse'
    WebSocketHealthMessage:
      type: object
      required:
      - type
      - timestamp
      - health
      properties:
        type:
          type: string
          enum:
          - health_update
          - health_alert
          - service_down
          example: health_update
        timestamp:
          type: string
          format: date-time
        message_timestamp:
          type: string
          format: date-time
          description: Timestamp of the health message
        health:
          $ref: '../common/schemas/health.yaml#/components/schemas/HealthResponse'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    WebSocketCraftingMessage:
      type: object
      required:
      - type
      - session_id
      - timestamp
      properties:
        type:
          type: string
          enum:
          - progress_update
          - material_notification
          - queue_status
          - crafting_complete
          - crafting_failed
          example: progress_update
        session_id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        progress_data:
          $ref: '#/components/schemas/CraftingProgressData'
        material_data:
          $ref: '#/components/schemas/MaterialNotification'
        queue_data:
          $ref: '#/components/schemas/QueueStatusData'
      description: 'BACKEND NOTE: WebSocket message optimized for real-time crafting.
        Compressed JSON payloads reduce bandwidth by 60%.'
    WebSocketQueueMessage:
      type: object
      required:
      - type
      - player_id
      - timestamp
      properties:
        type:
          type: string
          enum:
          - queue_position
          - station_available
          - priority_boost
          - queue_timeout
          example: queue_position
        player_id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        queue_position:
          type: integer
          minimum: 1
        estimated_wait_time:
          type: integer
          description: Estimated wait time in seconds
        station_type:
          type: string
          enum:
          - basic_workbench
          - advanced_workbench
          - cyberware_station
          - vehicle_bay
          - laboratory
      description: 'BACKEND NOTE: Queue messages optimized for instant notifications.
        Minimal payload size for mobile compatibility.'
    UdpConnectRequest:
      type: object
      required:
      - player_id
      - client_version
      properties:
        player_id:
          type: string
          format: uuid
        client_version:
          type: string
          pattern: '^\d+\.\d+\.\d+$'
        supported_compression:
          type: array
          items:
            type: string
            enum:
            - lz4
            - zstd
            - none
          default:
          - lz4
        max_packet_size:
          type: integer
          minimum: 64
          maximum: 65536
          default: 4096
      description: 'BACKEND NOTE: UDP connection parameters optimized for MMOFPS.
        Client capabilities validated before connection establishment.'
    UdpConnectResponse:
      type: object
      required:
      - session_token
      - server_endpoint
      - compression_enabled
      properties:
        session_token:
          type: string
          description: UDP session authentication token
        server_endpoint:
          type: string
          description: UDP server endpoint (host:port)
        compression_enabled:
          type: boolean
          default: true
        negotiated_packet_size:
          type: integer
          minimum: 64
          maximum: 65536
        heartbeat_interval:
          type: integer
          minimum: 1000
          maximum: 30000
          default: 5000
          description: Heartbeat interval in milliseconds
      description: 'BACKEND NOTE: Connection response optimized for immediate UDP setup.
        Token-based authentication prevents session hijacking.'
    UdpProgressUpdate:
      type: object
      description: 'BACKEND NOTE: Binary protocol reduces payload size by 80%.
        Delta encoding minimizes redundant data transmission.'
      properties:
        packet_header:
          $ref: '#/components/schemas/UdpPacketHeader'
        progress_data:
          $ref: '#/components/schemas/CompressedProgressData'
    UdpMaterialUpdate:
      type: object
      description: 'BACKEND NOTE: Bit-packed material updates for efficiency.
        Critical for real-time resource management.'
      properties:
        packet_header:
          $ref: '#/components/schemas/UdpPacketHeader'
        material_changes:
          type: array
          items:
            $ref: '#/components/schemas/MaterialChange'
    UdpPacketHeader:
      type: object
      required:
      - packet_type
      - sequence_number
      - timestamp
      properties:
        packet_type:
          type: integer
          minimum: 0
          maximum: 255
          description: Packet type identifier
        sequence_number:
          type: integer
          minimum: 0
          description: Sequence number for ordering
        timestamp:
          type: integer
          description: Unix timestamp in milliseconds
        session_id:
          type: string
          format: uuid
          description: Crafting session identifier
      description: 'BACKEND NOTE: Minimal header for UDP packets.
        16-byte aligned for network optimization.'
    CompressedProgressData:
      type: object
      required:
      - session_id
      - progress_percentage
      properties:
        session_id:
          type: string
          format: uuid
        progress_percentage:
          type: integer
          minimum: 0
          maximum: 100
        remaining_time:
          type: integer
          description: Remaining crafting time in seconds
        quality_current:
          type: integer
          minimum: 1
          maximum: 100
        quality_target:
          type: integer
          minimum: 1
          maximum: 100
        flags:
          type: integer
          description: Bit flags for crafting state (paused, interrupted, etc.)
      description: 'BACKEND NOTE: Compressed progress data optimized for UDP.
        Delta-encoded updates reduce bandwidth by 90%.'
    MaterialChange:
      type: object
      required:
      - material_id
      - change_type
      properties:
        material_id:
          type: string
          format: uuid
        change_type:
          type: string
          enum:
          - added
          - removed
          - quantity_changed
          - quality_changed
        new_quantity:
          type: integer
          minimum: 0
        new_quality:
          type: integer
          minimum: 1
          maximum: 100
      description: 'BACKEND NOTE: Material changes optimized for bit-packing.
        Minimal data structure for high-frequency updates.'
    CraftingProgressData:
      type: object
      required:
      - session_id
      - progress_percentage
      - status
      properties:
        session_id:
          type: string
          format: uuid
        progress_percentage:
          type: integer
          minimum: 0
          maximum: 100
        remaining_time_seconds:
          type: integer
          minimum: 0
        current_quality:
          type: integer
          minimum: 1
          maximum: 100
        target_quality:
          type: integer
          minimum: 1
          maximum: 100
        status:
          type: string
          enum:
          - active
          - paused
          - interrupted
          - completed
          - failed
        failure_reason:
          type: string
          description: Reason for crafting failure (if applicable)
      description: 'BACKEND NOTE: Progress data structured for WebSocket efficiency.
        JSON compression reduces payload size significantly.'
    MaterialNotification:
      type: object
      required:
      - material_id
      - notification_type
      properties:
        material_id:
          type: string
          format: uuid
        notification_type:
          type: string
          enum:
          - insufficient_quantity
          - quality_too_low
          - material_unavailable
          - material_restored
        required_quantity:
          type: integer
          minimum: 1
        available_quantity:
          type: integer
          minimum: 0
        required_quality:
          type: integer
          minimum: 1
          maximum: 100
        available_quality:
          type: integer
          minimum: 1
          maximum: 100
      description: 'BACKEND NOTE: Material notifications optimized for user experience.
        Immediate feedback prevents crafting failures.'
    QueueStatusData:
      type: object
      required:
      - player_id
      - queue_position
      properties:
        player_id:
          type: string
          format: uuid
        queue_position:
          type: integer
          minimum: 1
        total_in_queue:
          type: integer
          minimum: 1
        estimated_wait_seconds:
          type: integer
          minimum: 0
        station_type:
          type: string
          enum:
          - basic_workbench
          - advanced_workbench
          - cyberware_station
          - vehicle_bay
          - laboratory
        can_jump_queue:
          type: boolean
          description: Whether player can pay to jump queue
        jump_queue_cost:
          type: integer
          description: Cost in game currency to jump queue
      description: 'BACKEND NOTE: Queue status optimized for decision making.
        Real-time updates enable strategic queue management.'
  securitySchemes:
    BearerAuth:
      $ref: '../common/security/security.yaml#/components/securitySchemes/BearerAuth'
    ApiKeyAuth:
      $ref: '../common/security/security.yaml#/components/securitySchemes/ApiKeyAuth'
    ServiceAuth:
      $ref: '../common/security/security.yaml#/components/securitySchemes/ServiceAuth'