openapi: 3.0.3
info:
  title: Social Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Social Interaction API for NECPGAME**

    This API manages all social interactions, relationships, and community features
    in the Night City universe, providing comprehensive social gameplay mechanics.

    ## Key Features

    - **Chat System**: Real-time messaging and moderation
    - **Guild Management**: Guild creation, management, and warfare
    - **Party System**: Temporary player groups and coordination
    - **Relationships**: NPC and player relationship dynamics
    - **Notifications**: Event-driven notification system
    - **Voice Communication**: Voice chat integration
    - **Reputation System**: Social standing and benefits

    ## Domain Purpose

    The Social domain handles all player-to-player and player-to-NPC interactions,
    community building, and social gameplay mechanics in Night City.

    ## Performance Targets

    - P99 Latency: <30ms for social operations
    - Memory: <18KB per active social session
    - Concurrent users: 60,000+ simultaneous social interactions
    - Message delivery: <2ms response time

    ## Modular Architecture

    The Social Service is organized into specialized modules for better maintainability:

    - **Chat Module** (`chat.yaml`): Real-time messaging, channels, moderation
    - **Guilds Module** (`guilds.yaml`): Guild management, membership, hierarchy
    - **Parties Module** (`parties.yaml`): Temporary groups, matchmaking, coordination

    Each module can be developed, deployed, and scaled independently while maintaining
    consistent API patterns and shared infrastructure.

    ## BACKEND NOTE
    - Struct alignment hints: 30-50% memory savings across all social operations
    - Optimized for MMOFPS RPG with low latency social interactions
    - Context timeouts: Module-specific timeout configurations
    - DB pool config: Dedicated connection pools per module
    - Performance target: <50ms P95 for cross-module operations
    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    email: api@necpgame.com
  license:
    name: MIT

servers:
  - url: https://api.necpgame.com/v1/social
    description: Production server
  - url: https://staging-api.necpgame.com/v1/social
    description: Staging server
  - url: http://localhost:8080/api/v1/social
    description: Local development server

tags:
  - name: Health Monitoring
    description: System health and performance monitoring

security:
  - BearerAuth: []

# Core health endpoint - always available
paths:
  /health:
    get:
      summary: Social Service Health Check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the social service and all modules.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds

        ## BACKEND NOTE
        - Health checks all modules: chat, guilds, parties
        - Cached responses with ETag validation
        - Circuit breaker pattern for module failures
        '
      operationId: socialServiceHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
              - deflate
              - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                  - gzip
                  - deflate
                  - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse

# Module-specific paths are imported from respective module files
# This allows for independent development and deployment of modules

components:
  responses:
    OK:
      $ref: ../common/responses/success.yaml#/OK
    Created:
      $ref: ../common/responses/success.yaml#/Created
    Updated:
      $ref: ../common/responses/success.yaml#/Updated
    Deleted:
      $ref: ../common/responses/success.yaml#/Deleted
    BadRequest:
      $ref: ../common/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common/responses/error.yaml#/Unauthorized
    NotFound:
      $ref: ../common/responses/error.yaml#/NotFound
    TooManyRequests:
      $ref: ../common/responses/error.yaml#/TooManyRequests

  schemas:
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
        - version
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
          description: Overall service health status
        timestamp:
          type: string
          format: date-time
          description: Health check timestamp
        version:
          type: string
          description: Service version
        modules:
          type: object
          properties:
            chat:
              type: string
              enum: [healthy, unhealthy]
              description: Chat module status
            guilds:
              type: string
              enum: [healthy, unhealthy]
              description: Guilds module status
            parties:
              type: string
              enum: [healthy, unhealthy]
              description: Parties module status
          description: Individual module health statuses
        uptime:
          type: integer
          description: Service uptime in seconds
        active_connections:
          type: integer
          description: Number of active connections
      description: 'Comprehensive health response including module statuses'

    Error:
      $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse

  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth

# Module imports - each module defines its own paths and schemas
# This enables modular development while maintaining API consistency

# Chat module - real-time messaging and communication
# File: chat.yaml
x-module-chat:
  description: "Chat functionality - imported from chat.yaml"
  paths:
    $ref: ./chat.yaml#/paths
  components:
    schemas:
      $ref: ./chat.yaml#/components/schemas

# Guilds module - community and group management
# File: guilds.yaml
x-module-guilds:
  description: "Guild management - imported from guilds.yaml"
  paths:
    $ref: ./guilds.yaml#/paths
  components:
    schemas:
      $ref: ./guilds.yaml#/components/schemas

# Parties module - temporary player groups
# File: parties.yaml
x-module-parties:
  description: "Party system - imported from parties.yaml"
  paths:
    $ref: ./parties.yaml#/paths
  components:
    schemas:
      $ref: ./parties.yaml#/components/schemas



