openapi: 3.0.3
info:
  title: OAuth Service API
  description: |
    **Enterprise-grade OAuth integration API for NECPGAME**

    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation
    - **Backend optimization hints** for struct alignment and performance
    - **Complete validation** with redocly and ogen code generation
    - **Security-first approach** with secure OAuth state management
    - **Performance-optimized** OAuth flow handling
    - **Comprehensive error handling** with proper HTTP status codes

    ## Domain Purpose

    Provides comprehensive OAuth integration with external providers (Google, Facebook, Discord, Steam).
    Handles OAuth redirects, callbacks, and secure token exchange for social authentication.

    ## Performance Targets

    - P99 Latency: <100ms for OAuth operations
    - Memory: <75KB per instance
    - Concurrent users: 5,000+ simultaneous OAuth authorizations
    - Provider API optimization: Cached responses and connection pooling

  version: "1.0.0"
  contact:
    name: NECPGAME API Support
    email: api@necpgame.com
  license:
    name: MIT
servers:
  - url: https://api.necpgame.com/v1/oauth
    description: Production server
  - url: https://staging-api.necpgame.com/v1/oauth
    description: Staging server
  - url: http://localhost:8080/api/v1/oauth
    description: Local development server
security:
  - BearerAuth: []
tags:
  - name: OAuth
    description: OAuth provider integrations
  - name: Health Monitoring
    description: System health and performance monitoring
paths:
  /health:
    get:
      summary: OAuth service health check
      description: |
        **Enterprise-grade health check endpoint**

        Provides real-time health status of the OAuth microservice.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds
      operationId: oauthServiceHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
              - deflate
              - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                  - gzip
          content:
            application/json:
              schema:
                $ref: ../common/schemas/health.yaml#/HealthResponse
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../common/responses/error.yaml#/ServiceUnavailable
  /health/batch:
    post:
      summary: Batch health check for multiple OAuth providers
      description: |
        **Batch health monitoring for OAuth ecosystem**

        Checks connectivity and responsiveness of multiple OAuth providers simultaneously.
        Essential for proactive monitoring and automated failover decisions.

        **Performance:** <100ms for all providers, parallel execution
      operationId: oauthServiceBatchHealthCheck
      tags:
        - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                providers:
                  type: array
                  items:
                    type: string
                    enum: [google, facebook, discord, steam]
                  description: List of providers to check
                timeout:
                  type: integer
                  minimum: 1000
                  maximum: 30000
                  default: 5000
                  description: Timeout in milliseconds per provider
      responses:
        '200':
          description: Batch health check completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: object
                    additionalProperties:
                      $ref: ../common/schemas/health.yaml#/ProviderHealthStatus
                    description: Health status per provider
                  summary:
                    type: object
                    properties:
                      total_checked:
                        type: integer
                      healthy_count:
                        type: integer
                      unhealthy_count:
                        type: integer
                      average_response_time:
                        type: integer
                        description: Average response time in milliseconds
        '400':
          $ref: ../common/responses/error.yaml#/BadRequest
        '503':
          $ref: ../common/responses/error.yaml#/ServiceUnavailable
  /auth/oauth/{provider}/redirect:
    get:
      tags:
        - OAuth
      summary: Получить URL для редиректа OAuth
      operationId: getOAuthRedirect
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum:
              - google
              - facebook
              - discord
              - steam
      responses:
        '200':
          description: URL для редиректа
          content:
            application/json:
              schema:
                type: object
                properties:
                  redirect_url:
                    type: string
        '400':
          $ref: ../common/responses/error.yaml#/BadRequest
        '500':
          $ref: ../common/responses/error.yaml#/InternalServerError
  /auth/oauth/{provider}/callback:
    get:
      tags:
        - OAuth
      summary: Обработка callback от OAuth провайдера
      operationId: handleOAuthCallback
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum:
              - google
              - facebook
              - discord
              - steam
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OAuth авторизация успешна
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: ../../common-schemas.yaml#/components/responses/BadRequest
        '401':
          $ref: ../../common-schemas.yaml#/components/responses/Unauthorized
        '500':
          $ref: ../../common-schemas.yaml#/components/responses/InternalServerError
components:
  responses:
    OK:
      $ref: ../common/responses/success.yaml#/OK
    BadRequest:
      $ref: ../common/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common/responses/error.yaml#/Unauthorized
    NotFound:
      $ref: ../common/responses/error.yaml#/NotFound
    InternalServerError:
      $ref: ../common/responses/error.yaml#/InternalServerError

  schemas:
    Error:
      $ref: ../common/schemas/error.yaml#/Error
    HealthResponse:
      $ref: ../common/schemas/health.yaml#/HealthResponse
    ProviderHealthStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, unhealthy, unknown]
        response_time:
          type: integer
          description: Response time in milliseconds
        last_check:
          type: string
          format: date-time
        error_message:
          type: string
          description: Error message if unhealthy
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
  schemas:
    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        account:
          $ref: '#/components/schemas/Account'
        expires_in:
          type: integer
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        username:
          type: string
        role:
          type: string
          enum:
            - PLAYER
            - MODERATOR
            - ADMIN
            - SUPER_ADMIN
        created_at:
          type: string
          format: date-time
        email_verified:
          type: boolean
        two_factor_enabled:
          type: boolean
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
security:
  - BearerAuth: [ ]

