openapi: 3.0.3
info:
  title: OAuth Service API
  description: '**Enterprise-grade API for OAuth Provider Integration**


    ## Domain Purpose

    Comprehensive OAuth integration service providing secure authentication flows,

    token management, and account linking for external identity providers.


    ## Business Value

    - Secure OAuth 2.0/OpenID Connect implementation

    - Multi-provider support (Google, Discord, Steam, GitHub)

    - Account linking and profile synchronization

    - Enterprise-grade token security and rotation

    - GDPR compliant data handling


    ## Performance Targets

    - P99 Latency: <35ms for OAuth flows

    - Memory per Instance: <45KB baseline

    - Concurrent OAuth Flows: 10,000+ per second

    - Token Cache Hit Rate: >98% for active tokens


    ## Domain Inheritance

    This service inherits from infrastructure-entities.yaml providing:

    - User account references and linking

    - Audit trails for OAuth operations

    - Configuration management for providers

    - Session management integration

    - Optimistic locking for concurrent operations

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/oauth-service
  description: Production environment
- url: https://staging-api.necpgame.com/v1/oauth-service
  description: Staging environment
- url: http://localhost:8080/api/v1/oauth-service
  description: Local development
security:
- BearerAuth: []
tags:
- name: OAuth Flow
  description: OAuth authorization and token exchange
- name: Account Linking
  description: OAuth account linking and management
- name: Token Management
  description: OAuth token operations and refresh
- name: Provider Management
  description: OAuth provider configuration
- name: Security Auditing
  description: OAuth security and audit operations
- name: Health Monitoring
  description: Service health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /oauth/{provider}/authorize:
    $ref: ./paths/oauth-{provider}-authorize.yaml#/paths/~1oauth~1{provider}~1authorize
  /oauth/{provider}/callback:
    $ref: ./paths/oauth-{provider}-callback.yaml#/paths/~1oauth~1{provider}~1callback
  /oauth/{provider}/token:
    $ref: ./paths/oauth-{provider}-token.yaml#/paths/~1oauth~1{provider}~1token
  /oauth/{provider}/refresh:
    $ref: ./paths/oauth-{provider}-refresh.yaml#/paths/~1oauth~1{provider}~1refresh
  /users/{userId}/oauth:
    $ref: ./paths/users-{userId}-oauth.yaml#/paths/~1users~1{userId}~1oauth
  /oauth/providers:
    $ref: ./paths/oauth-providers.yaml#/paths/~1oauth~1providers
  /oauth/providers/{provider}/config:
    $ref: ./paths/oauth-providers-{provider}-config.yaml#/paths/~1oauth~1providers~1{provider}~1config
  /audit/oauth:
    $ref: ./paths/audit-oauth.yaml#/paths/~1audit~1oauth
components:
  schemas:
    OAuthAccountLink:
      $ref: ./schemas/oauth-service-schemas.yaml#/components/schemas/OAuthAccountLink
    OAuthProvider:
      $ref: ./schemas/oauth-service-schemas.yaml#/components/schemas/OAuthProvider
    OAuthProviderConfig:
      $ref: ./schemas/oauth-service-schemas.yaml#/components/schemas/OAuthProviderConfig
    OAuthAuditEntry:
      $ref: ./schemas/oauth-service-schemas.yaml#/components/schemas/OAuthAuditEntry
    UserAccountSummary:
      $ref: ./schemas/oauth-service-schemas.yaml#/components/schemas/UserAccountSummary
    OAuthCallbackRequest:
      $ref: ./schemas/oauth-service-schemas.yaml#/components/schemas/OAuthCallbackRequest
    OAuthResult:
      $ref: ./schemas/oauth-service-schemas.yaml#/components/schemas/OAuthResult
    TokenExchangeRequest:
      $ref: ./schemas/oauth-service-schemas.yaml#/components/schemas/TokenExchangeRequest
    TokenRefreshRequest:
      $ref: ./schemas/oauth-service-schemas.yaml#/components/schemas/TokenRefreshRequest
    LinkOAuthAccountRequest:
      $ref: ./schemas/oauth-service-schemas.yaml#/components/schemas/LinkOAuthAccountRequest
  responses:
    OK:
      $ref: ./schemas/oauth-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/oauth-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/oauth-service-responses.yaml#/components/responses/Updated
    Deleted:
      $ref: ./schemas/oauth-service-responses.yaml#/components/responses/Deleted
    BadRequest:
      $ref: ./schemas/oauth-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/oauth-service-responses.yaml#/components/responses/Unauthorized
    NotFound:
      $ref: ./schemas/oauth-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/oauth-service-responses.yaml#/components/responses/Conflict
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
