openapi: 3.0.3
info:
  title: Combat Abilities API
  version: 1.0.0
  description: |
    API для системы способностей в стиле VALORANT.
    
    Источник концепции: .BRAIN/02-gameplay/combat/combat-abilities.md v1.2.0
    
    Особенности:
    - Q/E/R структура (VALORANT стиль)
    - Источники: экипировка + импланты + прокачка + кибердека
    - Ограничения: кулдауны + ресурсы (энергия, здоровье, зарядка)
    - Гибридные билды с мягкими ограничениями
    - Синергии между способностями, имплантами и экипировкой
    - Влияние на киберпсихоз (перегрев системы)
    
    ПРИМЕЧАНИЕ: Модели данных вынесены в abilities/abilities-models.yaml
    для соблюдения лимита 400 строк на файл.

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/combat
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Abilities
    description: Система способностей
  - name: Loadout
    description: Конфигурация способностей

paths:
  /gameplay/combat/abilities:
    get:
      summary: Получить все доступные способности персонажа
      description: |
        Возвращает список всех способностей, доступных персонажу из:
        - Экипировки
        - Имплантов
        - Прокачки (дерево навыков)
        - Кибердеки
      operationId: getAbilities
      tags:
        - Abilities
      parameters:
        - name: character_id
          in: query
          required: true
          description: ID персонажа
          schema:
            type: string
        - name: source
          in: query
          required: false
          description: Фильтр по источнику способности
          schema:
            type: string
            enum: [equipment, implants, skills, cyberdeck]
      responses:
        '200':
          description: Список способностей
          content:
            application/json:
              schema:
                type: object
                properties:
                  abilities:
                    type: array
                    items:
                      $ref: './abilities/abilities-models.yaml#/components/schemas/Ability'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /gameplay/combat/abilities/{ability_id}:
    get:
      summary: Получить детали конкретной способности
      description: Возвращает детальную информацию о способности
      operationId: getAbility
      tags:
        - Abilities
      parameters:
        - name: ability_id
          in: path
          required: true
          description: ID способности
          schema:
            type: string
      responses:
        '200':
          description: Детали способности
          content:
            application/json:
              schema:
                $ref: './abilities/abilities-models.yaml#/components/schemas/Ability'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /gameplay/combat/abilities/use:
    post:
      summary: Использовать способность
      description: |
        Использует указанную способность.
        Проверяет кулдауны, ресурсы и другие ограничения.
      operationId: useAbility
      tags:
        - Abilities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './abilities/abilities-models.yaml#/components/schemas/AbilityUseRequest'
      responses:
        '200':
          description: Способность успешно использована
          content:
            application/json:
              schema:
                $ref: './abilities/abilities-models.yaml#/components/schemas/AbilityUseResult'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'

  /gameplay/combat/abilities/loadout:
    get:
      summary: Получить текущий loadout способностей
      description: |
        Возвращает текущую конфигурацию Q/E/R/пассивных слотов.
      operationId: getAbilityLoadout
      tags:
        - Loadout
      parameters:
        - name: character_id
          in: query
          required: true
          description: ID персонажа
          schema:
            type: string
      responses:
        '200':
          description: Текущий loadout
          content:
            application/json:
              schema:
                $ref: './abilities/abilities-models.yaml#/components/schemas/AbilityLoadout'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

    put:
      summary: Обновить loadout способностей
      description: |
        Обновляет конфигурацию Q/E/R/пассивных слотов.
        Проверяет ограничения (слоты, энергобюджет, совместимость).
      operationId: updateAbilityLoadout
      tags:
        - Loadout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './abilities/abilities-models.yaml#/components/schemas/AbilityLoadout'
      responses:
        '200':
          description: Loadout обновлен
          content:
            application/json:
              schema:
                $ref: './abilities/abilities-models.yaml#/components/schemas/AbilityLoadout'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'

  /gameplay/combat/abilities/synergies:
    get:
      summary: Получить синергии способностей
      description: |
        Возвращает информацию о синергиях между способностями,
        имплантами и экипировкой (сетовые/брендовые/классовые бонусы).
      operationId: getAbilitySynergies
      tags:
        - Abilities
      parameters:
        - name: character_id
          in: query
          required: true
          description: ID персонажа
          schema:
            type: string
      responses:
        '200':
          description: Синергии способностей
          content:
            application/json:
              schema:
                type: object
                properties:
                  synergies:
                    type: array
                    items:
                      $ref: './abilities/abilities-models.yaml#/components/schemas/AbilitySynergy'

  /gameplay/combat/abilities/cooldowns:
    get:
      summary: Получить текущие кулдауны
      description: Возвращает информацию о текущих кулдаунах всех способностей
      operationId: getAbilityCooldowns
      tags:
        - Abilities
      parameters:
        - name: character_id
          in: query
          required: true
          description: ID персонажа
          schema:
            type: string
      responses:
        '200':
          description: Текущие кулдауны
          content:
            application/json:
              schema:
                type: object
                properties:
                  cooldowns:
                    type: array
                    items:
                      $ref: './abilities/abilities-models.yaml#/components/schemas/AbilityCooldown'
