# Target Architecture:
# - Microservice: gameplay-service (port 8083)
# - API Base: /api/v1/gameplay/combat
# - Dependencies: progression-service, inventory-service, loot-service, achievement-service, quest-service, realtime-service, analytics-service, incident-service, notification-service
# - Frontend Module: modules/combat/session (useCombatStore)
# - UI: CombatHUD, TurnOrderTimeline, DamageLog, StatusEffectBar, CombatResultModal, RespawnPrompt
# - Forms: AbilityCastForm, ConsumableUseForm, RespawnChoiceForm
# - Hooks: useCombatSession, useTurnManager, useDamagePreview, useLagCompensation

openapi: 3.0.3
info:
  title: Combat Session API
  description: "Управление боевыми сессиями NECPGAME: создание, действия, лаг-компенсация, вознаграждения и realtime события."
  version: 1.0.0
  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/combat
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - name: Sessions
    description: Жизненный цикл боевых сессий
  - name: Actions
    description: Боевые действия и лаг-компенсация
  - name: Rewards
    description: Завершение, награды и метрики
paths:
  /gameplay/combat/sessions:
    post:
      tags: [Sessions]
      summary: Создать боевую сессию
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './combat-session-components.yaml#/components/schemas/CombatSessionCreateRequest' }
            examples:
              raidCreate:
                $ref: './combat-session-examples.yaml#/components/examples/RaidSessionCreate'
      responses:
        '201':
          description: Сессия создана
          content:
            application/json:
              schema: { $ref: './combat-session-components.yaml#/components/schemas/CombatSession' }
        '400':
          description: Некорректные параметры или конфликты
          content:
            application/json:
              schema: { $ref: './combat-session-components.yaml#/components/schemas/CombatError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/combat/sessions/{sessionId}:
    parameters:
      - $ref: './combat-session-components.yaml#/components/parameters/SessionId'
    get:
      tags: [Sessions]
      summary: Получить состояние боевой сессии
      responses:
        '200':
          description: Состояние, участники и эффекты
          content:
            application/json:
              schema: { $ref: './combat-session-components.yaml#/components/schemas/CombatSessionStateResponse' }
              examples:
                sessionState:
                  $ref: './combat-session-examples.yaml#/components/examples/CombatSessionState'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /gameplay/combat/sessions/{sessionId}/join:
    parameters:
      - $ref: './combat-session-components.yaml#/components/parameters/SessionId'
    post:
      tags: [Sessions]
      summary: Присоединиться к существующему бою
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './combat-session-components.yaml#/components/schemas/SessionJoinRequest' }
      responses:
        '200':
          description: Участник добавлен/переведён в spectate
          content:
            application/json:
              schema: { $ref: './combat-session-components.yaml#/components/schemas/Participant' }
        '400': { description: Присоединение невозможно, content: { application/json: { schema: { $ref: './combat-session-components.yaml#/components/schemas/CombatError' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/combat/sessions/{sessionId}/actions:
    parameters:
      - $ref: './combat-session-components.yaml#/components/parameters/SessionId'
    post:
      tags: [Actions]
      summary: Выполнить действие в боевой сессии
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './combat-session-components.yaml#/components/schemas/ActionRequest' }
            examples:
              abilityCast:
                $ref: './combat-session-examples.yaml#/components/examples/ActionRequest'
      responses:
        '200':
          description: Действие принято и выполнено
          content:
            application/json:
              schema: { $ref: './combat-session-components.yaml#/components/schemas/ActionResult' }
        '400': { description: Действие отклонено, content: { application/json: { schema: { $ref: './combat-session-components.yaml#/components/schemas/CombatError' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '409': { description: Нарушен порядок ходов, content: { application/json: { schema: { $ref: './combat-session-components.yaml#/components/schemas/CombatError' } } } }
  /gameplay/combat/sessions/{sessionId}/turn/end:
    parameters:
      - $ref: './combat-session-components.yaml#/components/parameters/SessionId'
    post:
      tags: [Actions]
      summary: Завершить текущий ход
      responses:
        '200':
          description: "Ход завершён, следующий определён"
        '400': { description: Нельзя завершить ход, content: { application/json: { schema: { $ref: './combat-session-components.yaml#/components/schemas/CombatError' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/combat/sessions/{sessionId}/damage/preview:
    parameters:
      - $ref: './combat-session-components.yaml#/components/parameters/SessionId'
    post:
      tags: [Actions]
      summary: Получить предварительный расчёт урона
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './combat-session-components.yaml#/components/schemas/DamagePreviewRequest' }
      responses:
        '200':
          description: Предварительный расчёт урона
          content:
            application/json:
              schema: { $ref: './combat-session-components.yaml#/components/schemas/DamagePreviewResponse' }
        '400': { description: Расчёт невозможен, content: { application/json: { schema: { $ref: './combat-session-components.yaml#/components/schemas/CombatError' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/combat/sessions/{sessionId}/lag-compensation:
    parameters:
      - $ref: './combat-session-components.yaml#/components/parameters/SessionId'
    post:
      tags: [Actions]
      summary: Запрос лаг-компенсации события
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './combat-session-components.yaml#/components/schemas/LagCompensationRequest' }
      responses:
        '200':
          description: Пересчёт выполнен
          content:
            application/json:
              schema: { $ref: './combat-session-components.yaml#/components/schemas/LagCompensationResponse' }
        '400': { description: Пересчёт невозможен, content: { application/json: { schema: { $ref: './combat-session-components.yaml#/components/schemas/CombatError' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/combat/sessions/{sessionId}/revive:
    parameters:
      - $ref: './combat-session-components.yaml#/components/parameters/SessionId'
    post:
      tags: [Actions]
      summary: Воскрешение участника
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './combat-session-components.yaml#/components/schemas/ReviveRequest' }
      responses:
        '200':
          description: "Участник оживлён"
        '400': { description: Воскрешение недоступно, content: { application/json: { schema: { $ref: './combat-session-components.yaml#/components/schemas/CombatError' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/combat/sessions/{sessionId}/surrender:
    parameters:
      - $ref: './combat-session-components.yaml#/components/parameters/SessionId'
    post:
      tags: [Actions]
      summary: Инициировать капитуляцию команды
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './combat-session-components.yaml#/components/schemas/SurrenderRequest' }
      responses:
        '202':
          description: "Голосование начато"
        '400': { description: Капитуляция невозможна, content: { application/json: { schema: { $ref: './combat-session-components.yaml#/components/schemas/CombatError' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/combat/sessions/{sessionId}/complete:
    parameters:
      - $ref: './combat-session-components.yaml#/components/parameters/SessionId'
    post:
      tags: [Rewards]
      summary: Завершить бой и выдать награды
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './combat-session-components.yaml#/components/schemas/SessionCompleteRequest' }
      responses:
        '200':
          description: Бой завершён, награды выданы
          content:
            application/json:
              schema: { $ref: './combat-session-components.yaml#/components/schemas/SessionCompleteResponse' }
        '400': { description: Завершение невозможно, content: { application/json: { schema: { $ref: './combat-session-components.yaml#/components/schemas/CombatError' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/combat/sessions/{sessionId}/abort:
    parameters:
      - $ref: './combat-session-components.yaml#/components/parameters/SessionId'
    post:
      tags: [Rewards]
      summary: Аварийно завершить бой
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './combat-session-components.yaml#/components/schemas/SessionAbortRequest' }
      responses:
        '200':
          description: "Сессия завершена аварийно"
        '400': { description: Операция отклонена, content: { application/json: { schema: { $ref: './combat-session-components.yaml#/components/schemas/CombatError' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/combat/sessions/{sessionId}/log:
    parameters:
      - $ref: './combat-session-components.yaml#/components/parameters/SessionId'
    get:
      tags: [Rewards]
      summary: Получить журнал боя
      parameters:
        - in: query
          name: from
          schema: { type: string, format: date-time }
        - in: query
          name: to
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Журнал событий
          content:
            application/json:
              schema: { $ref: './combat-session-components.yaml#/components/schemas/CombatLogResponse' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/combat/sessions/{sessionId}/metrics:
    parameters:
      - $ref: './combat-session-components.yaml#/components/parameters/SessionId'
    get:
      tags: [Rewards]
      summary: Аналитические метрики сессии
      responses:
        '200':
          description: Метрики боя
          content:
            application/json:
              schema: { $ref: './combat-session-components.yaml#/components/schemas/CombatMetricsResponse' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/combat/sessions/{sessionId}/simulate:
    parameters:
      - $ref: './combat-session-components.yaml#/components/parameters/SessionId'
    post:
      tags: [Rewards]
      summary: Запуск симуляции боя (GM/Design)
      security:
        - ServiceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './combat-session-components.yaml#/components/schemas/SimulationRequest' }
      responses:
        '202':
          description: "Симуляция запущена"
        '400': { description: Ошибка симуляции, content: { application/json: { schema: { $ref: './combat-session-components.yaml#/components/schemas/CombatError' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }

x-websocket:
  url: wss://api.necp.game/v1/gameplay/combat/sessions/{sessionId}/stream
  description: Realtime события боевой сессии
  parameters:
    - name: sessionId
      in: path
      required: true
      schema: { type: string }
  messages:
    actionExecuted:
      summary: Действие выполнено
      payload: { $ref: './combat-session-components.yaml#/components/schemas/ActionEvent' }
    turnStart:
      summary: Начало нового хода
      payload: { $ref: './combat-session-components.yaml#/components/schemas/TurnEvent' }
    damageApplied:
      summary: Нанесён урон
      payload: { $ref: './combat-session-components.yaml#/components/schemas/DamageEvent' }
    statusUpdated:
      summary: Обновлены эффекты/статусы
      payload: { $ref: './combat-session-components.yaml#/components/schemas/StatusEvent' }
    participantDead:
      summary: Участник погиб
      payload: { $ref: './combat-session-components.yaml#/components/schemas/ParticipantEvent' }
    sessionCompleted:
      summary: Бой завершён
      payload: { $ref: './combat-session-components.yaml#/components/schemas/SessionCompleteEvent' }
components:
  securitySchemes:
    BearerAuth: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth' }
    ServiceToken: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/ServiceToken' }
  parameters:
    SessionId: { $ref: './combat-session-components.yaml#/components/parameters/SessionId' }
  schemas:
    CombatSession: { $ref: './combat-session-components.yaml#/components/schemas/CombatSession' }
    CombatError: { $ref: './combat-session-components.yaml#/components/schemas/CombatError' }
    ActionResult: { $ref: './combat-session-components.yaml#/components/schemas/ActionResult' }
  examples:
    RaidSessionCreate: { $ref: './combat-session-examples.yaml#/components/examples/RaidSessionCreate' }
    CombatSessionState: { $ref: './combat-session-examples.yaml#/components/examples/CombatSessionState' }
    ActionRequest: { $ref: './combat-session-examples.yaml#/components/examples/ActionRequest' }

