openapi: 3.0.3
info:
  title: Cyberpsychosis API
  version: 1.0.0
  description: |
    API для системы киберпсихоза.
    
    Источник концепции: .BRAIN/02-gameplay/combat/combat-cyberpsychosis.md v1.1.0
    
    Особенности:
    - Система человечности (Humanity): 0-100%
    - 4 стадии: Ранняя (10-25%), Средняя (25-50%), Поздняя (50-75%), Киберпсихоз (75-100%)
    - Детальные симптомы по стадиям
    - Динамическая прогрессия (базовые + динамические факторы + триггеры)
    - Управление: профилактика, лечение, препараты, детоксикация
    - Влияние на социальные взаимодействия и репутацию
    - Экономика управления (стоимость лечения)

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/combat
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Cyberpsychosis
    description: Система киберпсихоза

paths:
  /gameplay/combat/cyberpsychosis/{character_id}:
    get:
      summary: Получить текущий статус киберпсихоза
      description: Возвращает полную информацию о текущем состоянии киберпсихоза персонажа
      operationId: getCyberpsychosisStatus
      tags:
        - Cyberpsychosis
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Статус киберпсихоза
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CyberpsychosisStatus'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /gameplay/combat/cyberpsychosis/update:
    post:
      summary: Обновить прогрессию киберпсихоза
      description: |
        Обновляет прогрессию киберпсихоза на основе действий персонажа.
        Учитывает базовые и динамические факторы.
      operationId: updateCyberpsychosis
      tags:
        - Cyberpsychosis
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
              properties:
                character_id:
                  type: string
                event_type:
                  type: string
                  enum: [implant_installed, combat_stress, implant_damaged, limit_exceeded, hacking, critical_event]
                event_data:
                  type: object
      responses:
        '200':
          description: Прогрессия обновлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CyberpsychosisStatus'

  /gameplay/combat/cyberpsychosis/symptoms:
    get:
      summary: Получить текущие симптомы
      description: Возвращает список активных симптомов киберпсихоза
      operationId: getCyberpsychosisSymptoms
      tags:
        - Cyberpsychosis
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Текущие симптомы
          content:
            application/json:
              schema:
                type: object
                properties:
                  symptoms:
                    type: array
                    items:
                      $ref: '#/components/schemas/CyberpsychosisSymptom'

  /gameplay/combat/cyberpsychosis/treatment:
    post:
      summary: Применить лечение
      description: |
        Применяет лечение киберпсихоза.
        Может быть терапия, препараты, удаление имплантов или детоксикация.
      operationId: applyCyberpsychosisTreatment
      tags:
        - Cyberpsychosis
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TreatmentRequest'
      responses:
        '200':
          description: Лечение применено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TreatmentResult'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'

  /gameplay/combat/cyberpsychosis/management-options:
    get:
      summary: Получить опции управления
      description: Возвращает доступные опции управления киберпсихозом для персонажа
      operationId: getManagementOptions
      tags:
        - Cyberpsychosis
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Опции управления
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagementOptions'

components:
  schemas:
    CyberpsychosisStatus:
      type: object
      properties:
        character_id:
          type: string
        humanity_current:
          type: number
          description: Текущая человечность (0-100%)
        humanity_max:
          type: number
          description: Максимальная человечность (может снижаться от "шрамов")
        humanity_lost:
          type: number
          description: Потеряно человечности (%)
        stage:
          type: string
          enum: [none, early, moderate, late, cyberpsychosis]
          description: |
            - none: 0-10% потери
            - early: 10-25% потери
            - moderate: 25-50% потери
            - late: 50-75% потери
            - cyberpsychosis: 75-100% потери
        progression_rate:
          type: number
          description: Скорость прогрессии (человечность в день)
        active_symptoms:
          type: array
          items:
            $ref: '#/components/schemas/CyberpsychosisSymptom'
        risk_factors:
          type: object
          description: Факторы риска прогрессии
          properties:
            implants_count:
              type: integer
            combat_stress:
              type: number
            damaged_implants:
              type: integer
            limit_exceeded:
              type: boolean
        social_impact:
          type: object
          properties:
            reputation_penalty:
              type: number
            npc_access_restricted:
              type: boolean

    CyberpsychosisSymptom:
      type: object
      properties:
        symptom_name:
          type: string
        severity:
          type: string
          enum: [mild, moderate, severe, critical]
        effects:
          type: array
          description: Эффекты симптома
          items:
            type: object
            properties:
              effect_type:
                type: string
                enum: [accuracy_penalty, social_penalty, health_penalty, energy_penalty, control_loss]
              value:
                type: number

    TreatmentRequest:
      type: object
      required:
        - character_id
        - treatment_type
      properties:
        character_id:
          type: string
        treatment_type:
          type: string
          enum: [therapy, medication, implant_removal, detox, symptom_management]
        npc_provider_id:
          type: string
          description: ID NPC (medtech, терапевт, риппердок)
        implant_to_remove:
          type: string
          description: ID импланта для удаления (если treatment_type = implant_removal)

    TreatmentResult:
      type: object
      properties:
        success:
          type: boolean
        humanity_restored:
          type: number
        new_humanity:
          type: number
        cost:
          type: number
          description: Стоимость лечения
        cooldown:
          type: number
          description: Время до следующего применения (часы)
        symptoms_reduced:
          type: array
          items:
            type: string

    ManagementOptions:
      type: object
      properties:
        prevention:
          type: array
          description: Опции профилактики
          items:
            type: object
            properties:
              option_type:
                type: string
              effectiveness:
                type: number
              cost:
                type: number
        treatment:
          type: array
          description: Опции лечения
          items:
            type: object
            properties:
              treatment_type:
                type: string
              humanity_restoration:
                type: number
              cost:
                type: number
              availability:
                type: boolean
