openapi: 3.0.3
info:
  title: Extraction API
  version: 1.0.0
  description: |
    API для экстрактшутер механик (стиль TARKOV).
    
    Источник концепции: .BRAIN/02-gameplay/combat/combat-extract.md v1.3.0
    
    Особенности:
    - Риск потери лута (зависит от зоны)
    - Точки экстракции: фиксированные + динамические + создаваемые
    - Типы лута: оружие, экипировка, ресурсы, информация, импланты, кибердеки
    - Киберпанк специфика: карты доступа, вирусы, чипы, чертежи
    - Редкость: common → artifact + iconic
    - Время в зоне: переменный лимит (10-60 минут)
    - Динамическая сложность: время + действия + события + фракции

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/combat
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Extraction
    description: Экстрактшутер механики

paths:
  /gameplay/combat/extraction/zones:
    get:
      summary: Получить доступные экстракт-зоны
      description: Возвращает список доступных зон для экстракции
      operationId: getExtractionZones
      tags:
        - Extraction
      parameters:
        - name: risk_level
          in: query
          required: false
          schema:
            type: string
            enum: [low, medium, high, extreme]
      responses:
        '200':
          description: Список зон
          content:
            application/json:
              schema:
                type: object
                properties:
                  zones:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExtractionZone'

  /gameplay/combat/extraction/enter-zone:
    post:
      summary: Войти в экстракт-зону
      description: Начинает сессию в экстракт-зоне
      operationId: enterExtractionZone
      tags:
        - Extraction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - zone_id
              properties:
                character_id:
                  type: string
                zone_id:
                  type: string
      responses:
        '200':
          description: Вход в зону
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneSession'

  /gameplay/combat/extraction/extract:
    post:
      summary: Экстракция из зоны
      description: |
        Извлекает персонажа из зоны с собранным лутом.
        Требует доступ к точке экстракции.
      operationId: extractFromZone
      tags:
        - Extraction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - extraction_point_id
              properties:
                character_id:
                  type: string
                extraction_point_id:
                  type: string
      responses:
        '200':
          description: Успешная экстракция
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractionResult'
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'

  /gameplay/combat/extraction/extraction-points:
    get:
      summary: Получить точки экстракции
      description: Возвращает доступные точки экстракции в текущей зоне
      operationId: getExtractionPoints
      tags:
        - Extraction
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Точки экстракции
          content:
            application/json:
              schema:
                type: object
                properties:
                  extraction_points:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExtractionPoint'

  /gameplay/combat/extraction/create-extraction-point:
    post:
      summary: Создать точку экстракции
      description: |
        Создает временную точку экстракции (требует специальное снаряжение).
        Может быть PvP риск при создании.
      operationId: createExtractionPoint
      tags:
        - Extraction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - location
              properties:
                character_id:
                  type: string
                location:
                  type: object
                  properties:
                    x:
                      type: number
                    y:
                      type: number
                    z:
                      type: number
      responses:
        '200':
          description: Точка создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractionPoint'
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'

  /gameplay/combat/extraction/loot:
    get:
      summary: Получить доступный лут в зоне
      description: Возвращает список лута, доступного для сбора в зоне
      operationId: getZoneLoot
      tags:
        - Extraction
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Доступный лут
          content:
            application/json:
              schema:
                type: object
                properties:
                  loot_items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LootItem'

  /gameplay/combat/extraction/collect-loot:
    post:
      summary: Собрать лут
      description: Собирает указанный лут в зоне
      operationId: collectLoot
      tags:
        - Extraction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - loot_item_id
              properties:
                character_id:
                  type: string
                loot_item_id:
                  type: string
      responses:
        '200':
          description: Лут собран
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  item:
                    $ref: '#/components/schemas/LootItem'

  /gameplay/combat/extraction/zone-status:
    get:
      summary: Получить статус зоны
      description: Возвращает текущее состояние зоны (время, сложность, события)
      operationId: getZoneStatus
      tags:
        - Extraction
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Статус зоны
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneStatus'

components:
  schemas:
    ExtractionZone:
      type: object
      properties:
        zone_id:
          type: string
        name:
          type: string
        risk_level:
          type: string
          enum: [low, medium, high, extreme]
        time_limit:
          type: number
          description: Лимит времени в зоне (минуты)
        loot_quality:
          type: string
          description: Качество лута в зоне
        faction_control:
          type: string
          description: Контролирующая фракция

    ZoneSession:
      type: object
      properties:
        session_id:
          type: string
        character_id:
          type: string
        zone_id:
          type: string
        entered_at:
          type: string
          format: date-time
        time_remaining:
          type: number
          description: Оставшееся время (секунды)
        current_difficulty:
          type: number
          description: Текущая сложность (1-10)

    ExtractionPoint:
      type: object
      properties:
        point_id:
          type: string
        type:
          type: string
          enum: [fixed, dynamic, player_created]
        location:
          type: object
          properties:
            x:
              type: number
            y:
              type: number
            z:
              type: number
        activation_time:
          type: number
          description: Время активации (секунды)
        pvp_risk:
          type: boolean
          description: Есть ли риск PvP

    ExtractionResult:
      type: object
      properties:
        success:
          type: boolean
        loot_secured:
          type: array
          description: Сохраненный лут
          items:
            $ref: '#/components/schemas/LootItem'
        experience_gained:
          type: number
        time_in_zone:
          type: number

    LootItem:
      type: object
      properties:
        item_id:
          type: string
        item_type:
          type: string
          enum: [weapon, equipment, resource, information, implant, cyberdeck, mod, access_card, virus, data_chip, blueprint]
        rarity:
          type: string
          enum: [common, uncommon, rare, epic, legendary, artifact, iconic]
        value:
          type: number

    ZoneStatus:
      type: object
      properties:
        time_remaining:
          type: number
        current_difficulty:
          type: number
        active_events:
          type: array
          items:
            type: string
        faction_activity:
          type: number

