openapi: 3.0.3
info:
  title: Faction Wars API
  version: 1.0.0
  description: |
    API для войн фракций.
    
    Источник: .BRAIN/02-gameplay/world/faction-wars.md v1.0.0
    
    Механики: территориальный контроль, массовые сражения, осады, альянсы
    Фракции: корпорации, банды, государства, независимые группы
    Награды: территория, ресурсы, репутация, уникальный контент

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/combat
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Faction Wars
    description: Войны фракций

paths:
  /gameplay/combat/faction-wars:
    get:
      summary: Получить активные войны
      description: Возвращает список текущих войн между фракциями
      operationId: getFactionWars
      tags:
        - Faction Wars
      responses:
        '200':
          description: Активные войны
          content:
            application/json:
              schema:
                type: object

  /gameplay/combat/faction-wars/{war_id}/join:
    post:
      summary: Присоединиться к войне
      description: Персонаж присоединяется к стороне в войне
      operationId: joinFactionWar
      tags:
        - Faction Wars
      parameters:
        - name: war_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - side
              properties:
                character_id:
                  type: string
                side:
                  type: string
      responses:
        '200':
          description: Присоединение выполнено
          content:
            application/json:
              schema:
                type: object

components:
  schemas: {}


