openapi: 3.0.3
info:
  title: Hacking Types API
  version: 1.0.0
  description: |
    API для системы хакерства - типы и применение.
    
    Источник: .BRAIN/02-gameplay/combat/combat-hacking-types.md v1.0.0
    
    Типы хакерства:
    - Хакерство врагов (отключение имплантов, взлом защиты, контроль)
    - Хакерство устройств (камеры, двери, роботы, транспорт)
    - Хакерство инфраструктуры (городские системы, сети, корпоративные системы)
    - Хакерство в бою (отключение способностей, контроль)
    
    Зависимость от класса:
    - Netrunner: все типы + продвинутые кибердеки + сложные демоны
    - Другие классы: ограниченные типы (только базовые устройства)
    
    Механика перегрева: сложные демоны разогревают, нужны импланты для отведения тепла
    
    Вдохновение: Cyberpunk 2077, Watch Dogs

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/combat
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Hacking
    description: Система хакерства

paths:
  /gameplay/combat/hacking/hack-enemy:
    post:
      summary: Взломать врага
      description: |
        Взламывает импланты или киберзащиту врага.
        Типы: отключение имплантов, ослабление защиты, контроль, урон.
      operationId: hackEnemy
      tags:
        - Hacking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - target_id
                - hack_type
              properties:
                character_id:
                  type: string
                target_id:
                  type: string
                hack_type:
                  type: string
                  enum: [disable_implants, weaken_armor, control, damage, overheat]
                daemon_id:
                  type: string
                  description: ID демона (quickhack)
            examples:
              overheat:
                summary: Перегрев имплантов врага
                value:
                  character_id: "char_123"
                  target_id: "enemy_001"
                  hack_type: "overheat"
                  daemon_id: "daemon_overheat"
      responses:
        '200':
          description: Взлом выполнен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  target_id:
                    type: string
                  effect:
                    type: object
                    properties:
                      type:
                        type: string
                      duration:
                        type: number
                      damage:
                        type: number
                  heat_generated:
                    type: number
                    description: Перегрев кибердека (%)
                  ram_cost:
                    type: number
                    description: Затраты RAM
              examples:
                overheat_success:
                  summary: Успешный перегрев
                  value:
                    success: true
                    target_id: "enemy_001"
                    effect:
                      type: "overheat"
                      duration: 8
                      damage: 150
                    heat_generated: 25
                    ram_cost: 4
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'

  /gameplay/combat/hacking/hack-device:
    post:
      summary: Взломать устройство
      description: |
        Взламывает устройства (камеры, двери, роботы, транспорт).
        Доступно всем классам, но сложность зависит от навыков.
      operationId: hackDevice
      tags:
        - Hacking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - device_id
                - hack_action
              properties:
                character_id:
                  type: string
                device_id:
                  type: string
                hack_action:
                  type: string
                  enum: [disable, control, reprogram, explode, unlock]
            examples:
              camera_disable:
                summary: Отключить камеру
                value:
                  character_id: "char_123"
                  device_id: "camera_lobby_01"
                  hack_action: "disable"
      responses:
        '200':
          description: Устройство взломано
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  device_id:
                    type: string
                  action:
                    type: string
                  duration:
                    type: number
                    description: Длительность эффекта (секунды)
                  heat_generated:
                    type: number

  /gameplay/combat/hacking/hack-infrastructure:
    post:
      summary: Взломать инфраструктуру
      description: |
        Взламывает городские системы, сети, корпоративные системы.
        Требует: Netrunner класс или высокий навык Intelligence.
      operationId: hackInfrastructure
      tags:
        - Hacking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - infrastructure_id
                - hack_type
              properties:
                character_id:
                  type: string
                infrastructure_id:
                  type: string
                hack_type:
                  type: string
                  enum: [blackout, traffic_control, network_breach, data_steal]
      responses:
        '200':
          description: Инфраструктура взломана
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  infrastructure_id:
                    type: string
                  effect:
                    type: object
                  heat_generated:
                    type: number
                  trace_risk:
                    type: number
                    description: Риск отследить (%)

  /gameplay/combat/hacking/heat-level:
    get:
      summary: Получить уровень перегрева
      description: |
        Возвращает текущий уровень перегрева кибердека.
        Перегрев ограничивает использование quickhacks.
      operationId: getHeatLevel
      tags:
        - Hacking
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Уровень перегрева
          content:
            application/json:
              schema:
                type: object
                properties:
                  character_id:
                    type: string
                  current_heat:
                    type: number
                    minimum: 0
                    maximum: 100
                    description: Текущий перегрев (%)
                  max_heat:
                    type: number
                    description: Макс. перегрев до отключения
                  cooling_rate:
                    type: number
                    description: Скорость охлаждения (% в секунду)
                  overheat_threshold:
                    type: number
                    description: Порог для автоотключения

  /gameplay/combat/hacking/available-daemons:
    get:
      summary: Получить доступные демоны (quickhacks)
      description: |
        Возвращает список доступных демонов для персонажа.
        Зависит от класса, навыков, кибердека.
      operationId: getAvailableDaemons
      tags:
        - Hacking
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Доступные демоны
          content:
            application/json:
              schema:
                type: object
                properties:
                  character_id:
                    type: string
                  daemons:
                    type: array
                    items:
                      $ref: '#/components/schemas/Daemon'

  /gameplay/combat/hacking/install-daemon:
    post:
      summary: Установить демон в кибердек
      description: |
        Устанавливает quickhack в кибердек персонажа.
        Ограничено слотами кибердека.
      operationId: installDaemon
      tags:
        - Hacking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - daemon_id
                - slot
              properties:
                character_id:
                  type: string
                daemon_id:
                  type: string
                slot:
                  type: integer
                  minimum: 1
                  maximum: 8
      responses:
        '200':
          description: Демон установлен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  daemon_id:
                    type: string
                  slot:
                    type: integer

components:
  schemas:
    Daemon:
      type: object
      properties:
        daemon_id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [enemy, device, infrastructure, combat]
        tier:
          type: integer
          minimum: 1
          maximum: 5
        ram_cost:
          type: number
        heat_generation:
          type: number
        cooldown:
          type: number
          description: Кулдаун (секунды)
        requirements:
          type: object
          properties:
            class:
              type: string
            intelligence:
              type: integer
            tech:
              type: integer
        effects:
          type: array
          items:
            type: object


