openapi: 3.0.3
info:
  title: Hacking Networks API
  version: 1.0.0
  description: |
    API для системы хакерства - сети и защита.
    
    Источник: .BRAIN/02-gameplay/combat/combat-hacking-networks.md v1.0.0
    
    Структура сетей:
    - Простые: устройства просто связаны, взлом одного = доступ к сети
    - Сложные: иерархическая/графовая структура, узлы и связи
    - Изолированные: требуют физического подключения
    
    Защита сетей:
    - Уровни: простые/средние/сложные/корпоративные/государственные
    - Динамическая защита: улучшение/ослабление, саботаж
    
    Типы сетей: локальные, корпоративные, городские, персональные

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/combat
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Hacking Networks
    description: Сети и защита

paths:
  /gameplay/combat/hacking/networks/{network_id}:
    get:
      summary: Получить информацию о сети
      description: |
        Возвращает структуру и состояние сети.
        Включает узлы, связи, уровень защиты, устройства.
      operationId: getNetworkInfo
      tags:
        - Hacking Networks
      parameters:
        - name: network_id
          in: path
          required: true
          schema:
            type: string
        - name: character_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Информация о сети
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkInfo'
              examples:
                local_network:
                  summary: Локальная сеть
                  value:
                    network_id: "net_building_lobby"
                    name: "Lobby Security Network"
                    type: "local"
                    complexity: "simple"
                    security_level: 2
                    is_isolated: false
                    nodes:
                      - node_id: "camera_01"
                        type: "camera"
                        status: "active"
                      - node_id: "door_main"
                        type: "door"
                        status: "active"
                    connections:
                      - from: "camera_01"
                        to: "door_main"

  /gameplay/combat/hacking/networks/{network_id}/hack:
    post:
      summary: Взломать сеть
      description: |
        Выполняет взлом сети.
        Сложность зависит от типа сети и уровня защиты.
      operationId: hackNetwork
      tags:
        - Hacking Networks
      parameters:
        - name: network_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
              properties:
                character_id:
                  type: string
                entry_point:
                  type: string
                  description: ID узла для входа в сеть
                method:
                  type: string
                  enum: [brute_force, stealth, daemon]
      responses:
        '200':
          description: Взлом выполнен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  network_id:
                    type: string
                  access_level:
                    type: string
                    enum: [read, control, admin]
                  compromised_nodes:
                    type: array
                    items:
                      type: string
                  trace_risk:
                    type: number
                    description: Риск отследить (%)
                  time_taken:
                    type: number
                    description: Время взлома (секунды)
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'

  /gameplay/combat/hacking/networks/{network_id}/security:
    get:
      summary: Получить уровень защиты сети
      description: |
        Возвращает детали защиты сети.
        Включает тип защиты, ICE (Intrusion Countermeasures Electronics), алерты.
      operationId: getNetworkSecurity
      tags:
        - Hacking Networks
      parameters:
        - name: network_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Информация о защите
          content:
            application/json:
              schema:
                type: object
                properties:
                  network_id:
                    type: string
                  security_level:
                    type: integer
                    minimum: 1
                    maximum: 10
                  security_tier:
                    type: string
                    enum: [simple, medium, complex, corporate, government]
                  ice_programs:
                    type: array
                    items:
                      type: object
                      properties:
                        ice_id:
                          type: string
                        type:
                          type: string
                        threat_level:
                          type: integer
                  alert_level:
                    type: integer
                    description: Текущий уровень тревоги (0-5)
                  trace_active:
                    type: boolean

  /gameplay/combat/hacking/networks/{network_id}/node/{node_id}/control:
    post:
      summary: Контролировать узел сети
      description: |
        Получает контроль над конкретным узлом в сети.
        Требует предварительного взлома сети.
      operationId: controlNetworkNode
      tags:
        - Hacking Networks
      parameters:
        - name: network_id
          in: path
          required: true
          schema:
            type: string
        - name: node_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - action
              properties:
                character_id:
                  type: string
                action:
                  type: string
                  enum: [disable, monitor, control, reprogram]
      responses:
        '200':
          description: Узел под контролем
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  node_id:
                    type: string
                  action:
                    type: string
                  duration:
                    type: number

components:
  schemas:
    NetworkInfo:
      type: object
      properties:
        network_id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [local, corporate, city, personal, isolated]
        complexity:
          type: string
          enum: [simple, hierarchical, graph, isolated]
        security_level:
          type: integer
          minimum: 1
          maximum: 10
        is_isolated:
          type: boolean
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/NetworkNode'
        connections:
          type: array
          items:
            type: object
            properties:
              from:
                type: string
              to:
                type: string

    NetworkNode:
      type: object
      properties:
        node_id:
          type: string
        type:
          type: string
          enum: [camera, door, robot, server, terminal, turret]
        status:
          type: string
          enum: [active, disabled, controlled, hacked]
        security_level:
          type: integer


