openapi: 3.0.3
info:
  title: Combat Implants API
  version: 1.0.0
  description: |
    API для системы имплантов Cyberpunk.
    
    Источник концепции: .BRAIN/02-gameplay/combat/combat-implants-types.md v1.1.0
    
    Особенности:
    - Типы: боевые, тактические, защитные, двигательные, OS
    - Культовые импланты: Sandevistan, Cyberdeck, Berserk, Gorilla Arms, Mantis Blades
    - Киберглаза: Kiroshi, Arasaka, Militech Optics
    - Влияние на статы и способности
    - Синергии с экипировкой и способностями
    - Интеграция с системой человечности и киберпсихоза

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/combat
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Implants
    description: Система имплантов
  - name: Installation
    description: Установка и удаление имплантов

paths:
  /gameplay/combat/implants:
    get:
      summary: Получить каталог имплантов
      description: |
        Возвращает список всех доступных имплантов.
        Можно фильтровать по типу, бренду, редкости.
      operationId: getImplantsCatalog
      tags:
        - Implants
      parameters:
        - name: type
          in: query
          required: false
          description: Фильтр по типу импланта
          schema:
            type: string
            enum: [combat, tactical, defensive, mobility, os]
        - name: brand
          in: query
          required: false
          description: Фильтр по бренду
          schema:
            type: string
        - name: rarity
          in: query
          required: false
          description: Фильтр по редкости
          schema:
            type: string
            enum: [common, uncommon, rare, epic, legendary]
      responses:
        '200':
          description: Каталог имплантов
          content:
            application/json:
              schema:
                type: object
                properties:
                  implants:
                    type: array
                    items:
                      $ref: '#/components/schemas/Implant'

  /gameplay/combat/implants/{implant_id}:
    get:
      summary: Получить детали импланта
      description: Возвращает детальную информацию о конкретном импланте
      operationId: getImplant
      tags:
        - Implants
      parameters:
        - name: implant_id
          in: path
          required: true
          description: ID импланта
          schema:
            type: string
      responses:
        '200':
          description: Детали импланта
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Implant'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /gameplay/combat/implants/by-type/{type}:
    get:
      summary: Получить импланты по типу
      description: Возвращает список имплантов указанного типа
      operationId: getImplantsByType
      tags:
        - Implants
      parameters:
        - name: type
          in: path
          required: true
          description: Тип импланта
          schema:
            type: string
            enum: [combat, tactical, defensive, mobility, os]
      responses:
        '200':
          description: Список имплантов
          content:
            application/json:
              schema:
                type: object
                properties:
                  implants:
                    type: array
                    items:
                      $ref: '#/components/schemas/Implant'

  /gameplay/combat/implants/install:
    post:
      summary: Установить имплант
      description: |
        Устанавливает имплант персонажу.
        Проверяет ограничения (слоты, совместимость, человечность).
      operationId: installImplant
      tags:
        - Installation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImplantInstallRequest'
      responses:
        '200':
          description: Имплант установлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImplantInstallResult'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'

  /gameplay/combat/implants/remove:
    delete:
      summary: Удалить имплант
      description: Удаляет установленный имплант
      operationId: removeImplant
      tags:
        - Installation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - implant_id
              properties:
                character_id:
                  type: string
                implant_id:
                  type: string
      responses:
        '200':
          description: Имплант удален
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  humanity_restored:
                    type: number
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /gameplay/combat/implants/synergies:
    get:
      summary: Получить синергии имплантов
      description: |
        Возвращает активные синергии между имплантами,
        экипировкой и способностями.
      operationId: getImplantSynergies
      tags:
        - Implants
      parameters:
        - name: character_id
          in: query
          required: true
          description: ID персонажа
          schema:
            type: string
      responses:
        '200':
          description: Синергии имплантов
          content:
            application/json:
              schema:
                type: object
                properties:
                  synergies:
                    type: array
                    items:
                      $ref: '#/components/schemas/ImplantSynergy'

components:
  schemas:
    Implant:
      type: object
      required:
        - id
        - name
        - type
        - slot
        - rarity
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [combat, tactical, defensive, mobility, os]
          description: |
            - combat: боевые (точность, урон, скорострельность)
            - tactical: тактические (сканирование, хакерство)
            - defensive: защитные (броня, восстановление)
            - mobility: двигательные (скорость, прыжки, паркур)
            - os: операционные системы (Sandevistan, Cyberdeck, Berserk)
        slot:
          type: string
          enum: [os, optics, arms, legs, nervous_system, integumentary, skeleton, circulatory, other]
          description: |
            Слот для установки:
            - os: операционная система
            - optics: киберглаза
            - arms: киберруки
            - legs: киберноги
            - nervous_system: нервная система
            - integumentary: интегральная система (кожа)
            - skeleton: скелет
            - circulatory: кровеносная система
            - other: другие
        brand:
          type: string
          description: Бренд импланта (Arasaka, Militech, Kiroshi и т.д.)
        rarity:
          type: string
          enum: [common, uncommon, rare, epic, legendary]
        stat_modifiers:
          type: object
          description: Модификаторы характеристик
          properties:
            accuracy:
              type: number
            damage:
              type: number
            fire_rate:
              type: number
            armor:
              type: number
            speed:
              type: number
            health:
              type: number
        abilities_granted:
          type: array
          description: Способности, которые дает имплант
          items:
            type: string
        humanity_cost:
          type: number
          description: Стоимость в очках человечности
        energy_consumption:
          type: number
          description: Потребление энергии
        heat_generation:
          type: number
          description: Генерация перегрева
        compatible_with:
          type: array
          description: Совместимые импланты/экипировка
          items:
            type: string
        incompatible_with:
          type: array
          description: Несовместимые импланты
          items:
            type: string
        lore_source:
          type: string
          description: Источник из лора (Cyberpunk 2077, настольная игра, авторский)

    ImplantInstallRequest:
      type: object
      required:
        - character_id
        - implant_id
      properties:
        character_id:
          type: string
        implant_id:
          type: string
        ripper_doc_id:
          type: string
          description: ID риппердока, устанавливающего имплант

    ImplantInstallResult:
      type: object
      properties:
        success:
          type: boolean
        installed_implant:
          $ref: '#/components/schemas/Implant'
        humanity_lost:
          type: number
          description: Потеря очков человечности
        cyberpsychosis_risk:
          type: number
          description: Текущий риск киберпсихоза
        stat_changes:
          type: object
          description: Изменения характеристик персонажа
        abilities_unlocked:
          type: array
          description: Разблокированные способности
          items:
            type: string
        synergies_activated:
          type: array
          description: Активированные синергии
          items:
            $ref: '#/components/schemas/ImplantSynergy'

    ImplantSynergy:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [implant_set, brand_bonus, equipment_synergy, ability_synergy]
          description: |
            - implant_set: синергия набора имплантов
            - brand_bonus: бонус за бренд
            - equipment_synergy: синергия с экипировкой
            - ability_synergy: синергия со способностями
        required_items:
          type: array
          description: Необходимые импланты/экипировка
          items:
            type: string
        bonus_effects:
          type: array
          description: Эффекты синергии
          items:
            type: object
            properties:
              effect_type:
                type: string
              value:
                type: number

