openapi: 3.0.3
info:
  title: Implants Acquisition API
  version: 1.0.0
  description: |
    API для получения имплантов.
    
    Источник: .BRAIN/02-gameplay/combat/combat-implants-acquisition.md v1.1.0
    
    Способы получения:
    - Покупка у риппердоков (NPC vendors)
    - Крафт (требует TECH навык и материалы)
    - Квесты (уникальные импланты)
    - Лут (с врагов, контейнеров, боссов)
    - Торговля (у игроков, на аукционе)
    - Корпоративные награды (за репутацию)
    
    Редкость влияет на доступность способов получения

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/combat
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Implants Acquisition
    description: Получение имплантов

paths:
  /gameplay/combat/implants/acquisition/methods:
    get:
      summary: Получить способы получения импланта
      description: |
        Возвращает все доступные способы получения конкретного импланта.
        Покупка, крафт, квесты, лут, торговля.
      operationId: getImplantAcquisitionMethods
      tags:
        - Implants Acquisition
      parameters:
        - name: implant_id
          in: query
          required: true
          schema:
            type: string
        - name: character_id
          in: query
          schema:
            type: string
          description: Для учета доступности способов
      responses:
        '200':
          description: Способы получения
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcquisitionMethods'
              examples:
                legendary_implant:
                  summary: Легендарный имплант
                  value:
                    implant_id: "implant_legendary_001"
                    methods:
                      - type: "quest"
                        available: true
                        quest_id: "quest_blackwall_final"
                        description: "Награда за завершение финального квеста Blackwall"
                      - type: "loot"
                        available: true
                        source: "boss"
                        boss_id: "boss_adam_smasher"
                        drop_chance: 5
                      - type: "trade"
                        available: true
                        description: "Торговля с игроками"

  /gameplay/combat/implants/acquisition/purchase:
    post:
      summary: Купить имплант у риппердока
      description: |
        Покупает имплант у NPC риппердока.
        Требует репутацию и валюту.
      operationId: purchaseImplantFromRipperdoc
      tags:
        - Implants Acquisition
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - ripperdoc_id
                - implant_id
              properties:
                character_id:
                  type: string
                ripperdoc_id:
                  type: string
                implant_id:
                  type: string
                installation:
                  type: boolean
                  default: false
                  description: Установить сразу после покупки
            examples:
              purchase_with_install:
                summary: Покупка с установкой
                value:
                  character_id: "char_123"
                  ripperdoc_id: "npc_viktor"
                  implant_id: "implant_cyberdeck_001"
                  installation: true
      responses:
        '200':
          description: Имплант куплен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  implant_id:
                    type: string
                  price:
                    type: number
                  installed:
                    type: boolean
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/combat/implants/acquisition/craft:
    post:
      summary: Создать имплант
      description: |
        Создает имплант через крафт.
        Требует TECH навык, материалы, рецепт.
      operationId: craftImplant
      tags:
        - Implants Acquisition
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - implant_id
                - recipe_id
              properties:
                character_id:
                  type: string
                implant_id:
                  type: string
                recipe_id:
                  type: string
                materials:
                  type: array
                  items:
                    type: object
                    properties:
                      material_id:
                        type: string
                      quantity:
                        type: integer
      responses:
        '200':
          description: Имплант создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  implant_id:
                    type: string
                  recipe_id:
                    type: string
                  materials_used:
                    type: array
                    items:
                      type: object
                  experience_gained:
                    type: number

  /gameplay/combat/implants/acquisition/quest-reward:
    post:
      summary: Получить имплант как награду за квест
      description: |
        Выдает имплант как награду за завершение квеста.
      operationId: claimQuestImplantReward
      tags:
        - Implants Acquisition
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - quest_id
                - reward_id
              properties:
                character_id:
                  type: string
                quest_id:
                  type: string
                reward_id:
                  type: string
      responses:
        '200':
          description: Награда получена
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  implant_id:
                    type: string
                  quest_id:
                    type: string

  /gameplay/combat/implants/acquisition/available:
    get:
      summary: Получить доступные импланты
      description: |
        Возвращает список имплантов, доступных для получения.
        Фильтруется по способу получения, редкости, уровню.
      operationId: getAvailableImplants
      tags:
        - Implants Acquisition
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
        - name: acquisition_method
          in: query
          schema:
            type: string
            enum: [purchase, craft, quest, loot, trade]
        - name: rarity
          in: query
          schema:
            type: string
            enum: [common, uncommon, rare, epic, legendary]
        - name: min_level
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Доступные импланты
          content:
            application/json:
              schema:
                type: object
                properties:
                  implants:
                    type: array
                    items:
                      $ref: '#/components/schemas/AvailableImplant'

components:
  schemas:
    AcquisitionMethods:
      type: object
      properties:
        implant_id:
          type: string
        methods:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [purchase, craft, quest, loot, trade, corporate_reward]
              available:
                type: boolean
              description:
                type: string
              requirements:
                type: object
              cost:
                type: number
                description: Стоимость (если применимо)

    AvailableImplant:
      type: object
      properties:
        implant_id:
          type: string
        name:
          type: string
        rarity:
          type: string
        level_required:
          type: integer
        acquisition_methods:
          type: array
          items:
            type: string
        estimated_cost:
          type: number
