openapi: 3.0.3
info:
  title: Implants Limits API
  version: 1.0.0
  description: |
    API для системы ограничений и энергетики имплантов.
    
    Источник концепции: .BRAIN/02-gameplay/combat/combat-implants-limits.md v1.0.0
    
    Особенности:
    - Слоты по типам (боевые, тактические, защитные, двигательные, OS)
    - Совместимость имплантов
    - Общий лимит количества имплантов
    - Бонусы от класса/прокачки
    - Энергетический бюджет
    - Влияние человечности (humanity)

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/combat
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Implants Limits
    description: Ограничения имплантов

paths:
  /gameplay/combat/implants-limits/{character_id}:
    get:
      summary: Получить текущие лимиты имплантов
      description: |
        Возвращает информацию о текущих лимитах имплантов для персонажа:
        - Слоты по типам
        - Общий лимит
        - Энергетический бюджет
        - Влияние человечности
      operationId: getImplantsLimits
      tags:
        - Implants Limits
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Текущие лимиты
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImplantsLimits'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /gameplay/combat/implants-limits/check-compatibility:
    post:
      summary: Проверить совместимость имплантов
      description: |
        Проверяет, совместимы ли указанные импланты между собой.
        Учитывает несовместимые комбинации и ограничения.
      operationId: checkImplantsCompatibility
      tags:
        - Implants Limits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - implant_ids
              properties:
                character_id:
                  type: string
                implant_ids:
                  type: array
                  description: Список ID имплантов для проверки
                  items:
                    type: string
      responses:
        '200':
          description: Результат проверки совместимости
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompatibilityCheckResult'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/combat/implants-limits/energy-budget:
    get:
      summary: Получить энергетический бюджет
      description: |
        Возвращает информацию об энергетическом бюджете персонажа:
        - Общий энергетический пул
        - Текущее потребление
        - Доступная энергия
      operationId: getEnergyBudget
      tags:
        - Implants Limits
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Энергетический бюджет
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyBudget'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

components:
  schemas:
    ImplantsLimits:
      type: object
      properties:
        character_id:
          type: string
        total_slots:
          type: integer
          description: Общее количество слотов для имплантов
        used_slots:
          type: integer
          description: Использованные слоты
        available_slots:
          type: integer
          description: Доступные слоты
        slots_by_type:
          type: object
          description: Слоты по типам имплантов
          properties:
            combat:
              $ref: '#/components/schemas/ImplantSlots'
            tactical:
              $ref: '#/components/schemas/ImplantSlots'
            defensive:
              $ref: '#/components/schemas/ImplantSlots'
            mobility:
              $ref: '#/components/schemas/ImplantSlots'
            os:
              $ref: '#/components/schemas/ImplantSlots'
        humanity_current:
          type: number
          description: Текущий уровень человечности
        humanity_max:
          type: number
          description: Максимальный уровень человечности
        humanity_impact:
          type: object
          description: Влияние человечности на лимиты
          properties:
            slots_penalty:
              type: integer
              description: Штраф к слотам при низкой человечности
            can_exceed_limit:
              type: boolean
              description: Можно ли временно превысить лимит
        class_bonuses:
          type: object
          description: Бонусы от класса персонажа
          properties:
            additional_slots:
              type: integer
            slot_type_bonus:
              type: string
              description: Тип слотов с бонусом
        quality_impact:
          type: object
          description: Влияние качества имплантов
          properties:
            high_quality_bonus:
              type: integer
              description: Бонус слотов от качественных имплантов

    ImplantSlots:
      type: object
      properties:
        max:
          type: integer
          description: Максимум слотов этого типа
        used:
          type: integer
          description: Использовано слотов
        available:
          type: integer
          description: Доступно слотов

    CompatibilityCheckResult:
      type: object
      properties:
        compatible:
          type: boolean
          description: Совместимы ли импланты
        conflicts:
          type: array
          description: Список конфликтов
          items:
            type: object
            properties:
              implant_id_1:
                type: string
              implant_id_2:
                type: string
              conflict_reason:
                type: string
                enum: [slot_conflict, incompatible_types, energy_overload, humanity_limit]
              conflict_description:
                type: string
        can_install:
          type: boolean
          description: Можно ли установить все импланты
        warnings:
          type: array
          description: Предупреждения
          items:
            type: string

    EnergyBudget:
      type: object
      properties:
        character_id:
          type: string
        total_energy_pool:
          type: number
          description: Общий энергетический пул
        energy_consumed:
          type: number
          description: Потребление энергии имплантами
        energy_available:
          type: number
          description: Доступная энергия
        energy_regeneration_rate:
          type: number
          description: Скорость восстановления энергии в секунду
        implants_consumption:
          type: array
          description: Потребление энергии по имплантам
          items:
            type: object
            properties:
              implant_id:
                type: string
              implant_name:
                type: string
              energy_cost:
                type: number
        bonuses:
          type: object
          description: Бонусы к энергетическому пулу
          properties:
            from_class:
              type: number
            from_skills:
              type: number
            from_implants:
              type: number
        cyberpsychosis_risk:
          type: number
          description: Риск киберпсихоза от энергопотребления
