openapi: 3.0.3
info:
  title: PvP/PvE Balance API
  version: 1.0.0
  description: |
    API для системы баланса PvP и PvE.
    
    Источник: .BRAIN/02-gameplay/combat/combat-pvp-pve.md v1.1.0
    
    PvP зоны: Арены (1v1, 3v3, 5v5), турниры, поля боя (10v10, 20v20)
    Условный PvP: Флаги PvP (вкл/выкл), контракты, войны фракций
    Безопасные зоны: Города, хабы, торговые районы (гарантированная безопасность)
    PvE зоны: Рейды, подземелья, инстансы, экстракт-зоны
    Сложность AI: 5 уровней (легкая → смертельная)

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/combat
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: PvP/PvE Balance
    description: Баланс PvP/PvE

paths:
  /gameplay/combat/pvp-pve/zones:
    get:
      summary: Получить список зон с типами
      description: |
        Возвращает список зон с информацией о типе (PvP/PvE/безопасная).
      operationId: getZones
      tags:
        - PvP/PvE Balance
      parameters:
        - name: zone_type
          in: query
          schema:
            type: string
            enum: [pvp, pve, safe, mixed]
      responses:
        '200':
          description: Список зон
          content:
            application/json:
              schema:
                type: object
                properties:
                  zones:
                    type: array
                    items:
                      $ref: '#/components/schemas/CombatZone'

  /gameplay/combat/pvp-pve/toggle-pvp:
    post:
      summary: Вкл/выкл PvP флаг
      description: |
        Включает или выключает PvP флаг персонажа.
        Доступно только в условных PvP зонах.
      operationId: togglePvPFlag
      tags:
        - PvP/PvE Balance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - enabled
              properties:
                character_id:
                  type: string
                enabled:
                  type: boolean
      responses:
        '200':
          description: Флаг изменен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  pvp_enabled:
                    type: boolean
                  cooldown_until:
                    type: string
                    format: date-time
                    description: Когда можно снова переключить
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'

  /gameplay/combat/pvp-pve/zone-info/{zone_id}:
    get:
      summary: Получить информацию о зоне
      description: |
        Возвращает детальную информацию о зоне:
        тип, правила PvP, сложность AI, награды.
      operationId: getZoneInfo
      tags:
        - PvP/PvE Balance
      parameters:
        - name: zone_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Информация о зоне
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombatZoneDetails'

  /gameplay/combat/pvp-pve/ai-difficulty:
    get:
      summary: Получить настройки сложности AI
      description: |
        Возвращает доступные уровни сложности AI для PvE контента.
      operationId: getAIDifficulty
      tags:
        - PvP/PvE Balance
      responses:
        '200':
          description: Уровни сложности
          content:
            application/json:
              schema:
                type: object
                properties:
                  difficulty_levels:
                    type: array
                    items:
                      type: object
                      properties:
                        level:
                          type: string
                          enum: [easy, normal, hard, extreme, deadly]
                        description:
                          type: string
                        reward_multiplier:
                          type: number

components:
  schemas:
    CombatZone:
      type: object
      properties:
        zone_id:
          type: string
        name:
          type: string
        zone_type:
          type: string
          enum: [pvp, pve, safe, conditional_pvp, mixed]
        description:
          type: string
        player_count:
          type: integer
        max_players:
          type: integer

    CombatZoneDetails:
      allOf:
        - $ref: '#/components/schemas/CombatZone'
        - type: object
          properties:
            pvp_rules:
              type: object
              properties:
                enabled:
                  type: boolean
                faction_only:
                  type: boolean
                full_loot:
                  type: boolean
            pve_settings:
              type: object
              properties:
                ai_difficulty:
                  type: string
                enemy_types:
                  type: array
                  items:
                    type: string
            rewards:
              type: object
            entry_requirements:
              type: object


