openapi: 3.0.3
info:
  title: Combat Shooting API
  version: 1.0.0
  description: |
    API для механик стрельбы и основ боя.
    
    Источник концепции: .BRAIN/02-gameplay/combat/combat-shooting.md v1.1.0
    
    Особенности:
    - MMORPG как основа, шутер добавляет экшен
    - Аркадная стрельба с элементами реализма
    - TTK зависит от зоны/режима (открытый мир = высокий, PvP = низкий)
    - Система урона с частями тела и типами урона
    - Кибер-части имеют разные модификаторы урона
    - Проникающие пули и разрушаемые укрытия
    
    ПРИМЕЧАНИЕ: Модели данных вынесены в shooting/shooting-models.yaml
    для соблюдения лимита 400 строк на файл.

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/combat
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Combat
    description: Боевые операции
  - name: Shooting
    description: Механики стрельбы
  - name: Damage
    description: Расчет урона

paths:
  /gameplay/combat/shoot:
    post:
      summary: Выполнить выстрел
      description: |
        Выполняет выстрел из указанного оружия в указанную цель.
        Учитывает тип оружия, целевую часть тела, модификаторы движения,
        импланты и все остальные факторы для расчета урона.
      operationId: shoot
      tags:
        - Combat
        - Shooting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './shooting/shooting-models.yaml#/components/schemas/ShootRequest'
            examples:
              headshot:
                summary: Выстрел в голову
                value:
                  shooter_id: "player_123"
                  weapon_id: "weapon_pistol_001"
                  target_id: "enemy_456"
                  target_body_part: "head"
                  aim_point:
                    x: 10.5
                    y: 2.3
                    z: 5.1
                  is_moving: false
              moving_shot:
                summary: Выстрел в движении
                value:
                  shooter_id: "player_123"
                  weapon_id: "weapon_assault_rifle_001"
                  target_id: "enemy_456"
                  target_body_part: "torso"
                  aim_point:
                    x: 12.0
                    y: 2.0
                    z: 8.5
                  is_moving: true
      responses:
        '200':
          description: Успешный выстрел
          content:
            application/json:
              schema:
                $ref: './shooting/shooting-models.yaml#/components/schemas/ShootResult'
              examples:
                hit_headshot:
                  summary: Попадание в голову
                  value:
                    hit: true
                    body_part_hit: "head"
                    damage_dealt: 180
                    damage_type: "physical"
                    is_critical: true
                    modifiers_applied:
                      - modifier_type: "body_part_multiplier"
                        modifier_value: 2.0
                      - modifier_type: "critical_hit"
                        modifier_value: 1.5
                    target_status:
                      hp_remaining: 0
                      is_dead: true
                miss_example:
                  summary: Промах
                  value:
                    hit: false
                    body_part_hit: null
                    damage_dealt: 0
                    damage_type: "physical"
                    is_critical: false
                    modifiers_applied: []
                    target_status:
                      hp_remaining: 500
                      is_dead: false
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'

  /gameplay/combat/calculate-damage:
    post:
      summary: Рассчитать урон
      description: |
        Рассчитывает урон с учетом всех модификаторов:
        - Тип оружия
        - Часть тела
        - Броня цели
        - Импланты цели
        - Тип урона
        - Зона/режим (для TTK)
      operationId: calculateDamage
      tags:
        - Damage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './shooting/shooting-models.yaml#/components/schemas/DamageCalculationRequest'
      responses:
        '200':
          description: Результат расчета урона
          content:
            application/json:
              schema:
                $ref: './shooting/shooting-models.yaml#/components/schemas/DamageCalculationResult'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/combat/weapons/{weapon_id}:
    get:
      summary: Получить характеристики оружия
      description: Возвращает детальные характеристики указанного оружия
      operationId: getWeapon
      tags:
        - Combat
        - Shooting
      parameters:
        - name: weapon_id
          in: path
          required: true
          description: ID оружия
          schema:
            type: string
      responses:
        '200':
          description: Характеристики оружия
          content:
            application/json:
              schema:
                $ref: './shooting/shooting-models.yaml#/components/schemas/Weapon'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /gameplay/combat/damage-modifiers:
    get:
      summary: Получить модификаторы урона
      description: |
        Возвращает модификаторы урона для частей тела и зон.
        Модификаторы зависят от типа зоны (открытый мир, PvP, арена).
      operationId: getDamageModifiers
      tags:
        - Damage
      parameters:
        - name: zone_type
          in: query
          required: false
          description: Тип зоны для TTK модификатора
          schema:
            type: string
            enum: [open_world, pvp, arena, extraction, raid]
      responses:
        '200':
          description: Модификаторы урона
          content:
            application/json:
              schema:
                $ref: './shooting/shooting-models.yaml#/components/schemas/BodyPartModifiers'

  /gameplay/combat/reload:
    post:
      summary: Перезарядить оружие
      description: Выполняет перезарядку указанного оружия
      operationId: reload
      tags:
        - Combat
        - Shooting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - weapon_id
              properties:
                character_id:
                  type: string
                  description: ID персонажа
                weapon_id:
                  type: string
                  description: ID оружия
      responses:
        '200':
          description: Успешная перезарядка
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  reload_time:
                    type: number
                    description: Время перезарядки в секундах
                  ammo_loaded:
                    type: integer
                    description: Количество патронов в магазине
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'

  /gameplay/combat/cover-penetration:
    post:
      summary: Проверить проникновение через укрытие
      description: |
        Проверяет, проникает ли пуля через укрытие.
        Зависит от типа оружия, боеприпасов, материала и толщины укрытия.
      operationId: checkCoverPenetration
      tags:
        - Combat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './shooting/shooting-models.yaml#/components/schemas/CoverPenetrationRequest'
      responses:
        '200':
          description: Результат проникновения
          content:
            application/json:
              schema:
                $ref: './shooting/shooting-models.yaml#/components/schemas/CoverPenetrationResult'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
