# Issue: #142109910 - Enterprise-grade cosmetic-service specification
openapi: 3.0.3
info:
  title: Cosmetic Service API - Enterprise-Grade
  description: '**Enterprise-Grade Cosmetic Service API for NECPGAME**

    This service manages cosmetic items, appearances, and visual customizations for players.

    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation
    - **Backend optimization hints** for struct alignment and performance
    - **Complete validation** with redocly and ogen code generation
    - **Security-first approach** with JWT authentication
    - **Performance-optimized** response structures
    - **Comprehensive error handling** with proper HTTP status codes

    ## Domain Purpose

    The Cosmetic Service handles all visual customizations and cosmetic items in NECPGAME.
    This includes character appearances, weapon skins, vehicle modifications, and other visual enhancements.

    Follows enterprise-grade microservices patterns with clear boundaries.

    ## Performance Targets

    - P99 Latency: <50ms for hot paths
    - Memory: <50KB per player instance
    - Concurrent users: 10,000+ simultaneous connections
    - Data consistency: Event-sourced with CQRS patterns
    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.necpgame.com/v1/cosmetic
    description: Production server
  - url: https://staging-api.necpgame.com/v1/cosmetic
    description: Staging server
  - url: http://localhost:8117/api/v1/cosmetic
    description: Local development server
security:
  - BearerAuth: []
tags:
  - name: Cosmetic Items
    description: Core cosmetic item operations
  - name: Character Appearance
    description: Character customization and appearance management
  - name: Health Monitoring
    description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Cosmetic service health check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the cosmetic domain microservice.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds
        '
      operationId: cosmeticServiceHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
              - deflate
              - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                  - gzip
                  - deflate
                  - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /health/batch:
    post:
      summary: Batch health check for multiple cosmetic services
      description: '**Performance optimization:** Check multiple cosmetic service health in single request

        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.

        **Use case:** Service mesh health checks, Kubernetes readiness probes
        '
      operationId: cosmeticServiceBatchHealthCheck
      tags:
        - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                      - cosmetic-service
                      - cosmetic-shop-service
                      - cosmetic-catalog-service
                      - cosmetic-equipment-service
                    maxItems: 10
                  description: List of services to check
      responses:
        '200':
          $ref: '#/components/responses/HealthBatchSuccess'
        '400':
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description: '**Performance optimization:** Real-time health updates without polling

        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.
        '
      operationId: cosmeticServiceHealthWebSocket
      tags:
        - Health Monitoring
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: JWT token for authentication
      responses:
        '101':
          description: WebSocket connection established
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSocketHealthMessage'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /cosmetics:
    get:
      summary: List cosmetic items
      description: '**Performance optimization:** Paginated list with filtering

        Returns cosmetic items available to the player.

        **Backend hint:** Use database indexing on player_id, category, rarity
        **Memory alignment:** 64-byte aligned structs for cache efficiency
        '
      operationId: listCosmeticItems
      tags:
        - Cosmetic Items
      parameters:
        - name: player_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: Player identifier
        - name: category
          in: query
          schema:
            type: string
            enum:
              - character
              - weapon
              - vehicle
              - housing
        - name: rarity
          in: query
          schema:
            type: string
            enum:
              - common
              - uncommon
              - rare
              - epic
              - legendary
        - name: owned_only
          in: query
          schema:
            type: boolean
            default: false
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Successful response with cosmetic items
          headers:
            X-Total-Count:
              schema:
                type: integer
                example: 150
            X-Page:
              schema:
                type: integer
                example: 1
            X-Limit:
              schema:
                type: integer
                example: 20
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - pagination
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CosmeticItem'
                  pagination:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /cosmetics/{item_id}:
    get:
      summary: Get cosmetic item details
      description: '**Performance optimization:** Cached response with ETag

        Returns detailed information about a specific cosmetic item.

        **Backend hint:** Use Redis caching with 5-minute TTL
        **Memory alignment:** Pre-allocated response buffer
        '
      operationId: getCosmeticItem
      tags:
        - Cosmetic Items
      parameters:
        - name: item_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: player_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response with cosmetic item details
          headers:
            ETag:
              schema:
                type: string
                example: '"cosmetic-123-v1"'
            Cache-Control:
              schema:
                type: string
                example: max-age=300
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CosmeticItemDetail'
        '404':
          description: Cosmetic item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /cosmetics/{item_id}/equip:
    post:
      summary: Equip cosmetic item
      description: '**Performance optimization:** Event-sourced operation

        Equips a cosmetic item for the player.

        **Backend hint:** Use CQRS pattern - command to write model, query from read model
        **Memory alignment:** Event structure aligned to 64 bytes
        '
      operationId: equipCosmeticItem
      tags:
        - Cosmetic Items
      parameters:
        - name: item_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - player_id
              properties:
                player_id:
                  type: string
                  format: uuid
                  description: Player identifier
                slot:
                  type: string
                  enum:
                    - head
                    - body
                    - weapon_primary
                    - weapon_secondary
                    - vehicle
                  description: Equipment slot (optional, auto-assigned if not specified)
      responses:
        '200':
          description: Cosmetic item equipped successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - equipped_item
                properties:
                  success:
                    type: boolean
                    example: true
                  equipped_item:
                    $ref: '#/components/schemas/EquippedCosmetic'
        '400':
          description: Invalid request or item cannot be equipped
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Slot already occupied or item requirements not met
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /appearance:
    get:
      summary: Get player appearance
      description: '**Performance optimization:** Cached appearance data

        Returns current player appearance configuration.

        **Backend hint:** Cache appearance data with player_id key
        **Memory alignment:** Struct alignment for network serialization
        '
      operationId: getPlayerAppearance
      tags:
        - Character Appearance
      parameters:
        - name: player_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful response with player appearance
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerAppearance'
        '404':
          description: Player appearance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update player appearance
      description: '**Performance optimization:** Batched appearance updates

        Updates player appearance with new cosmetic configurations.

        **Backend hint:** Batch multiple appearance changes in single transaction
        **Memory alignment:** Appearance struct optimized for cache efficiency
        '
      operationId: updatePlayerAppearance
      tags:
        - Character Appearance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerAppearanceUpdate'
      responses:
        '200':
          description: Player appearance updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerAppearance'
        '400':
          description: Invalid appearance data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Appearance update conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    # Health schemas (required)
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
        - service
      properties:
        status:
          type: string
          enum:
            - healthy
            - unhealthy
            - degraded
          example: healthy
        timestamp:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
        service:
          type: string
          example: cosmetic-service
        version:
          type: string
          example: '1.0.0'
        uptime:
          type: integer
          description: Uptime in seconds
          example: 3600
        memory_usage:
          type: object
          properties:
            used:
              type: integer
              example: 52428800
            total:
              type: integer
              example: 1073741824
        active_connections:
          type: integer
          example: 1250
    WebSocketHealthMessage:
      type: object
      required:
        - type
        - timestamp
      properties:
        type:
          type: string
          enum:
            - health_update
            - service_alert
            - performance_metric
          example: health_update
        timestamp:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
        service:
          type: string
          example: cosmetic-service
        status:
          type: string
          enum:
            - healthy
            - unhealthy
            - degraded
          example: healthy
        metrics:
          type: object
          additionalProperties:
            type: number
          example:
            cpu_usage: 45.2
            memory_usage: 67.8
            response_time: 12.5
    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          enum:
            - validation_error
            - authentication_error
            - authorization_error
            - not_found_error
            - conflict_error
            - rate_limit_error
            - internal_error
          example: validation_error
        message:
          type: string
          example: Invalid request parameters
        details:
          type: object
          additionalProperties: true
          example:
            field: player_id
            reason: must be valid UUID
        request_id:
          type: string
          format: uuid
          example: '123e4567-e89b-12d3-a456-426614174000'
        timestamp:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'

    # Domain-specific schemas
    CosmeticItem:
      type: object
      required:
        - id
        - name
        - category
        - rarity
      properties:
        id:
          type: string
          format: uuid
          example: '123e4567-e89b-12d3-a456-426614174000'
        name:
          type: string
          example: 'Neon Cyber Armor'
        category:
          type: string
          enum:
            - character
            - weapon
            - vehicle
            - housing
          example: character
        rarity:
          type: string
          enum:
            - common
            - uncommon
            - rare
            - epic
            - legendary
          example: epic
        description:
          type: string
          example: 'High-tech armor with neon accents'
        owned:
          type: boolean
          example: true
        equipped:
          type: boolean
          example: false
        price:
          type: object
          properties:
            currency:
              type: string
              enum:
                - eddies
                - credits
              example: eddies
            amount:
              type: integer
              example: 50000
        tags:
          type: array
          items:
            type: string
          example: ['cyberpunk', 'neon', 'armor']

    CosmeticItemDetail:
      allOf:
        - $ref: '#/components/schemas/CosmeticItem'
        - type: object
          properties:
            stats:
              type: object
              properties:
                defense:
                  type: integer
                  example: 25
                style:
                  type: integer
                  example: 80
                rarity_bonus:
                  type: integer
                  example: 15
            requirements:
              type: object
              properties:
                level:
                  type: integer
                  example: 10
                faction:
                  type: string
                  example: nomad
            unlock_conditions:
              type: array
              items:
                type: string
              example: ['Complete quest: Street Cred', 'Reach level 15']
            preview_images:
              type: array
              items:
                type: string
                format: uri
              example: ['https://cdn.necpgame.com/cosmetics/123/preview1.jpg']

    EquippedCosmetic:
      type: object
      required:
        - item_id
        - slot
        - equipped_at
      properties:
        item_id:
          type: string
          format: uuid
          example: '123e4567-e89b-12d3-a456-426614174000'
        slot:
          type: string
          enum:
            - head
            - body
            - weapon_primary
            - weapon_secondary
            - vehicle
          example: body
        equipped_at:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
        previous_item_id:
          type: string
          format: uuid
          nullable: true
          example: '456e7890-e89b-12d3-a456-426614174001'

    PlayerAppearance:
      type: object
      required:
        - player_id
        - character_base
        - equipped_cosmetics
      properties:
        player_id:
          type: string
          format: uuid
          example: '123e4567-e89b-12d3-a456-426614174000'
        character_base:
          type: object
          properties:
            body_type:
              type: string
              enum:
                - athletic
                - bulky
                - slim
              example: athletic
            skin_tone:
              type: string
              example: '#8B4513'
            hair_color:
              type: string
              example: '#FF4500'
            eye_color:
              type: string
              example: '#00FF00'
        equipped_cosmetics:
          type: object
          properties:
            head:
              type: string
              format: uuid
              nullable: true
            body:
              type: string
              format: uuid
              nullable: true
            weapon_primary:
              type: string
              format: uuid
              nullable: true
            weapon_secondary:
              type: string
              format: uuid
              nullable: true
            vehicle:
              type: string
              format: uuid
              nullable: true
        last_updated:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'

    PlayerAppearanceUpdate:
      type: object
      required:
        - player_id
      properties:
        player_id:
          type: string
          format: uuid
          example: '123e4567-e89b-12d3-a456-426614174000'
        character_base:
          type: object
          properties:
            body_type:
              type: string
              enum:
                - athletic
                - bulky
                - slim
            skin_tone:
              type: string
              pattern: '^#[0-9A-Fa-f]{6}$'
            hair_color:
              type: string
              pattern: '^#[0-9A-Fa-f]{6}$'
            eye_color:
              type: string
              pattern: '^#[0-9A-Fa-f]{6}$'
        equipped_cosmetics:
          type: object
          properties:
            head:
              type: string
              format: uuid
              nullable: true
            body:
              type: string
              format: uuid
              nullable: true
            weapon_primary:
              type: string
              format: uuid
              nullable: true
            weapon_secondary:
              type: string
              format: uuid
              nullable: true
            vehicle:
              type: string
              format: uuid
              nullable: true

    PaginationMeta:
      type: object
      required:
        - page
        - limit
        - total
        - total_pages
      properties:
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 20
        total:
          type: integer
          example: 150
        total_pages:
          type: integer
          example: 8
        has_next:
          type: boolean
          example: true
        has_prev:
          type: boolean
          example: false

  responses:
    HealthBatchSuccess:
      description: Batch health check completed
      content:
        application/json:
          schema:
            type: object
            required:
              - results
              - summary
            properties:
              results:
                type: array
                items:
                  type: object
                  required:
                    - service
                    - status
                    - response_time
                  properties:
                    service:
                      type: string
                      example: cosmetic-service
                    status:
                      type: string
                      enum:
                        - healthy
                        - unhealthy
                        - degraded
                      example: healthy
                    response_time:
                      type: integer
                      description: Response time in milliseconds
                      example: 12
                    error:
                      type: string
                      nullable: true
                      example: null
              summary:
                type: object
                required:
                  - total_services
                  - healthy_count
                  - unhealthy_count
                  - average_response_time
                properties:
                  total_services:
                    type: integer
                    example: 3
                  healthy_count:
                    type: integer
                    example: 2
                  unhealthy_count:
                    type: integer
                    example: 1
                  average_response_time:
                    type: integer
                    example: 15

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token authentication

