openapi: 3.0.3
info:
  title: Reward Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Reward and Achievement System API for NECPGAME**

    This API manages player rewards, achievements, incentives, and reward distribution
    across all game systems in the cyberpunk world of Night City.

    ## Key Features

    - **Reward Management**: Dynamic reward creation and distribution - **Achievement
    System**: Complex achievement tracking and unlocking - **Incentive Programs**:
    Time-limited events and special rewards - **Reward Analytics**: Tracking reward
    effectiveness and player engagement - **Fair Distribution**: Anti-cheat measures
    and fair reward allocation - **Performance Optimized**: High-throughput reward
    processing with <30ms P99 latency

    ## Domain Purpose

    The Reward domain drives player engagement and retention through meaningful achievements
    and rewards. Players earn rewards through gameplay, achievements, events, and
    community participation, creating compelling progression loops.

    ## Performance Targets

    - P99 Latency: <30ms for reward operations - Memory: <25KB per active reward session
    - Concurrent users: 150,000+ simultaneous reward distributions - Achievement checks:
    <15ms response time

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/reward
  description: Production server
- url: https://staging-api.necpgame.com/v1/reward
  description: Staging server
- url: http://localhost:8080/api/v1/reward
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Reward Management
  description: Core reward operations and distribution
- name: Achievement System
  description: Achievement tracking and unlocking
- name: Incentive Programs
  description: Special events and limited-time rewards
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /rewards:
    $ref: ./paths/rewards.yaml#/paths/~1rewards
  /rewards/{rewardId}:
    $ref: ./paths/rewards-{rewardId}.yaml#/paths/~1rewards~1{rewardId}
  /rewards/{rewardId}/claim:
    $ref: ./paths/rewards-{rewardId}-claim.yaml#/paths/~1rewards~1{rewardId}~1claim
  /achievements:
    $ref: ./paths/achievements.yaml#/paths/~1achievements
  /achievements/{achievementId}/progress:
    $ref: ./paths/achievements-{achievementId}-progress.yaml#/paths/~1achievements~1{achievementId}~1progress
  /incentives:
    $ref: ./paths/incentives.yaml#/paths/~1incentives
components:
  schemas:
    Reward:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/Reward
    RewardRequirement:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/RewardRequirement
    CreateRewardRequest:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/CreateRewardRequest
    UpdateRewardRequest:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/UpdateRewardRequest
    RewardResponse:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/RewardResponse
    RewardListResponse:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/RewardListResponse
    ClaimRewardRequest:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/ClaimRewardRequest
    ClaimRewardResponse:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/ClaimRewardResponse
    Achievement:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/Achievement
    AchievementCondition:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/AchievementCondition
    AchievementResponse:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/AchievementResponse
    AchievementListResponse:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/AchievementListResponse
    AchievementProgressResponse:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/AchievementProgressResponse
    UpdateAchievementProgressRequest:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/UpdateAchievementProgressRequest
    UpdateAchievementProgressResponse:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/UpdateAchievementProgressResponse
    IncentiveProgram:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/IncentiveProgram
    CreateIncentiveProgramRequest:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/CreateIncentiveProgramRequest
    IncentiveProgramResponse:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/IncentiveProgramResponse
    IncentiveProgramListResponse:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/IncentiveProgramListResponse
    WebSocketHealthMessage:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/WebSocketHealthMessage
    Error:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/Error
    HealthResponse:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/HealthResponse
    PaginationMeta:
      $ref: ./schemas/reward-service-schemas.yaml#/components/schemas/PaginationMeta
  responses:
    HealthBatchSuccess:
      $ref: ./schemas/reward-service-responses.yaml#/components/responses/HealthBatchSuccess
    RewardRetrieved:
      $ref: ./schemas/reward-service-responses.yaml#/components/responses/RewardRetrieved
    RewardUpdated:
      $ref: ./schemas/reward-service-responses.yaml#/components/responses/RewardUpdated
    RewardCreated:
      $ref: ./schemas/reward-service-responses.yaml#/components/responses/RewardCreated
    RewardClaimed:
      $ref: ./schemas/reward-service-responses.yaml#/components/responses/RewardClaimed
    AchievementRetrieved:
      $ref: ./schemas/reward-service-responses.yaml#/components/responses/AchievementRetrieved
    AchievementProgressUpdated:
      $ref: ./schemas/reward-service-responses.yaml#/components/responses/AchievementProgressUpdated
    IncentiveProgramRetrieved:
      $ref: ./schemas/reward-service-responses.yaml#/components/responses/IncentiveProgramRetrieved
    IncentiveProgramCreated:
      $ref: ./schemas/reward-service-responses.yaml#/components/responses/IncentiveProgramCreated
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
