openapi: 3.0.3
info:
  title: Level Service API - Enterprise-Grade Domain Service
  description: "**Enterprise-Grade Level Management API for NECPGAME**

    This API manages character leveling, experience calculation, and progression systems
    for player characters in the Night City universe.

    ## Key Features

    - **Experience Calculation**: Dynamic XP rewards based on actions and difficulty
    - **Level Progression**: Automatic level advancement with stat bonuses
    - **Progression Analytics**: Player growth tracking and optimization
    - **Anti-Cheat Validation**: Experience gain validation and fraud detection
    - **Performance Optimized**: MMOFPS-grade performance with <25ms P99 latency
    - **Memory Efficient**: 30-50% memory savings for level data structures

    ## Domain Purpose

    The Level domain handles all character progression mechanics in Night City.
    Players advance through levels by gaining experience from combat, quests,
    exploration, and achievements, unlocking new abilities and improving stats.

    ## Performance Targets

    - P99 Latency: <25ms for level operations
    - Memory: <15KB per active character level data
    - Concurrent users: 50,000+ simultaneous level calculations
    - XP calculation: <10ms response time

    "
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.necpgame.com/v1/level
    description: Production server
  - url: https://staging-api.necpgame.com/v1/level
    description: Staging server
  - url: http://localhost:8080/api/v1/level
    description: Local development server
security:
  - BearerAuth: [ ]
tags:
  - name: Example Domain
    description: Core example domain operations
  - name: Health Monitoring
    description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Example domain health check
      description: "**Enterprise-grade health check endpoint**


        Provides real-time health status of the example domain microservice.

        Critical for service discovery, load balancing, and monitoring.


        **Performance:** <1ms response time, cached for 30 seconds

        "
      operationId: exampleDomainHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
              - deflate
              - br
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                  - gzip
                  - deflate
                  - br
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/health.yaml#/HealthResponse"
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/health.yaml#/HealthResponse"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
  /health/batch:
    post:
      summary: Batch health check for multiple domain services
      description:
        "**Performance optimization:** Check multiple domain health in
        single request


        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.


        **Use case:** Service mesh health checks, Kubernetes readiness probes

        "
      operationId: exampleDomainBatchHealthCheck
      tags:
        - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                      - example-domain
                      - system-domain
                      - specialized-domain
                    maxItems: 10
                  description: List of services to check
      responses:
        "200":
          $ref: "../common-service/responses/success.yaml#/HealthBatchSuccess"
        "400":
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description:
        "**Performance optimization:** Real-time health updates without
        polling


        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.


        **Protocol:** WebSocket with JSON payloads

        **Heartbeat:** 30 second intervals

        **Reconnection:** Automatic with exponential backoff

        "
      operationId: exampleDomainHealthWebSocket
      tags:
        - Health Monitoring
        - Example Domain
      parameters:
        - name: services
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - example-domain
                - system-domain
                - specialized-domain
          description: Services to monitor (optional, monitors all if not specified)
        - name: page
                  in: query
                  schema:
                    type: integer
                    minimum: 1
                    default: 1
                  description: Page number for pagination
        - name: limit
                  in: query
                  schema:
                    type: integer
                    minimum: 1
                    maximum: 100
                    default: 20
                  description: Number of items per page
        - name: sort_by
                  in: query
                  schema:
                    type: string
                    enum:
                      - created_at
                      - name
                      - priority
                    default: created_at
                  description: Sort field
        - name: sort_order
                  in: query
                  schema:
                    type: string
                    enum:
                      - asc
                      - desc
                    default: desc
                  description: Sort order
        - name: filter_status
                  in: query
                  schema:
                    type: string
                    enum:
                      - active
                      - inactive
                      - pending
                  description: Filter by status
      responses:
        "200":
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/example-domain/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                      - health-monitoring-v1
          $ref: "#/components/responses/ExampleListSuccess"
        "101":
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebSocketHealthMessage"
        "400":
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
          description: Invalid request - malformed query parameters
        "401":
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        422:
          description: Unprocessable entity - validation failed
                    content:
                      application/json:
                        schema:
                          $ref: "../common-service/schemas/error.yaml#/Error"
      # Old examples endpoint removed - replaced with new common CRUD patterns below
      description: "**Enterprise-grade listing endpoint**


        Supports complex filtering, sorting, and pagination patterns.

        Optimized for high-throughput scenarios with proper indexing.


        **Performance:** <10ms P95, supports 1000+ concurrent requests

        "
      operationId: listExamples



    post:
      summary: Create new example
      description: "**Enterprise-grade creation endpoint**


        Validates business rules, applies security checks, and ensures data consistency.

        Supports optimistic locking for concurrent operations.


        **Performance:** <50ms P95, includes validation and business logic

        "
      operationId: createExample
      tags:
        - Example Domain
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateExampleRequest"
      responses:
        "201":
          $ref: "#/components/responses/ExampleCreated"
        "400":
          description: Invalid request - malformed or missing data
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        "409":
          description: Conflict - example with this identifier already exists
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        "422":
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - creation rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
  /examples/{example_id}:
    get:
      summary: Get specific example by ID
      description: "**Enterprise-grade retrieval endpoint**


        Optimized with proper caching strategies and database indexing.

        Supports conditional requests with ETags.


        **Performance:** <5ms P95 with Redis caching

        "
      operationId: getExample
      tags:
        - Example Domain
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
        - name: include_related
          in: query
          schema:
            type: boolean
            default: false
          description: Include related data in response
        - name: If-None-Match
          in: header
          schema:
            type: string
          description: Conditional request - return 304 if ETag matches
        - name: If-Modified-Since
          in: header
          schema:
            type: string
            format: date-time
          description: Conditional request - return 304 if not modified since this time
      responses:
        "200":
          $ref: "#/components/responses/ExampleRetrieved"
        "304":
          description: Not modified - resource has not changed
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
        "400":
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
    put:
      summary: Update existing example
      description: "**Enterprise-grade update endpoint**


        Supports partial updates, optimistic locking, and audit trails.

        Ensures data consistency with event sourcing patterns.


        **Performance:** <25ms P95, includes validation and conflict resolution

        "
      operationId: updateExample
      tags:
        - Example Domain
      security:
        - BearerAuth: [ ]
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
        - name: If-Match
          in: header
          schema:
            type: string
          description: ETag for optimistic locking - prevents concurrent updates
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
          description:
            Conditional update - proceed only if not modified since this
            time
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateExampleRequest"
      responses:
        "200":
          $ref: "#/components/responses/ExampleUpdated"
        "400":
          description: Invalid request - malformed data or example ID
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        "409":
          description:
            Conflict - version conflict (optimistic locking) or precondition
            failed
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        "412":
          description:
            Precondition failed - If-Match or If-Unmodified-Since condition
            not met
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        "422":
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - update rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
    delete:
      summary: Delete example
      description: "**Enterprise-grade deletion endpoint**


        Supports soft deletes with audit trails and cleanup scheduling.

        Ensures referential integrity and cascading deletes.


        **Performance:** <15ms P95, includes cleanup operations

        "
      operationId: deleteExample
      tags:
        - Example Domain
      security:
        - BearerAuth: [ ]
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
      responses:
        "204":
          $ref: "#/components/responses/ExampleDeleted"
        "400":
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        "409":
          description: Conflict - example cannot be deleted (referential integrity)
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - deletion rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"

  # ============================================================================
  # STANDARD CRUD ENDPOINTS (Demonstrating Common Architecture)
  # ============================================================================

  # CREATE - Using common CreateRequest pattern
  /examples:
    post:
      summary: Create Example (Common CRUD Pattern)
      description: "**Demonstrates common CreateRequest inheritance**

        This endpoint shows how to use the standardized create pattern from
        `common/operations/crud.yaml` with domain-specific extensions.

        **Benefits:**
        - Automatic audit trail (created_by, created_at)
        - Standardized validation
        - Consistent error handling

        "
      operationId: createExample
      tags:
        - Example Domain
        - CRUD Operations
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExampleCreateRequest'
            examples:
              basic_example:
                summary: Basic example creation
                value:
                  name: "New Example"
                  description: "Created via common CRUD pattern"
                  tags: [ "demo", "crud" ]
                  metadata:
                    source: "api"
                    tags: [ "user_generated" ]
      responses:
        "201":
          $ref: '#/components/responses/Created'
        "400":
          $ref: '#/components/responses/BadRequest'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
    get:
      summary: List Examples (Paginated with Common Patterns)
            description: "**Enterprise-grade listing with common pagination**
      
              Uses `PaginatedResponse` from common schemas for consistent
              pagination across all services. Supports filtering and sorting.
      
              **Query Parameters:**
              - `limit`: Items per page (1-100, default: 20)
              - `offset`: Skip items (default: 0)
              - `sort_by`: created_at, updated_at, name
              - `sort_order`: asc, desc (default: desc)
      
              "
            operationId: listExamples
            tags:
              - Example Domain
              - CRUD Operations
            security:
              - BearerAuth: [ ]
            parameters:
              - name: limit
                in: query
                schema:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 20
              - offset: 0
                in: query
                schema:
                  type: integer
                  minimum: 0
                  default: 0
              - name: sort_by
                in: query
                schema:
                  type: string
                  enum: [ "created_at", "updated_at", "name", "priority" ]
                  default: "created_at"
              - name: sort_order
                in: query
                schema:
                  type: string
                  enum: [ "asc", "desc" ]
                  default: "desc"
              - name: status
                in: query
                schema:
                  type: string
                  enum: [ "active", "inactive", "pending", "archived" ]
              - name: tag
                in: query
                schema:
                  type: string
                  description: Filter by specific tag
            responses:
              "200":
                $ref: '#/components/responses/ExampleListSuccess'
              "400":
                $ref: '#/components/responses/BadRequest'

  # READ SINGLE - Standard entity retrieval
  /examples/{id}:
    get:
      summary: Get Example by ID (Standard Retrieval)
      description: "**Standard entity retrieval pattern**

        Demonstrates basic entity fetching with proper error handling
        and response formatting using common response wrappers.

        "
      operationId: getExample
      tags:
        - Example Domain
        - CRUD Operations
      security:
        - BearerAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '../common-service/schemas/common.yaml#/UUID'
          description: Example unique identifier
      responses:
        "200":
          description: Example retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExampleResponse'
        "404":
          $ref: '#/components/responses/NotFound'
    put:
      summary: Update Example (Optimistic Locking)
            description: "**Update with optimistic locking from common architecture**
      
              Uses `UpdateRequest` from common operations with version field
              for concurrent safety. Demonstrates audit trail updates.
      
              **Optimistic Locking:**
              Include `version` field from current entity state to prevent
              concurrent modification conflicts.
      
              "
            operationId: updateExample
            tags:
              - Example Domain
              - CRUD Operations
            security:
              - BearerAuth: [ ]
            parameters:
              - name: id
                in: path
                required: true
                schema:
                  $ref: '../common-service/schemas/common.yaml#/UUID'
            requestBody:
              required: true
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/ExampleUpdateRequest'
                  examples:
                    full_update:
                      summary: Full entity update
                      value:
                        id: "123e4567-e89b-12d3-a456-426614174000"
                        version: 1
                        name: "Updated Example"
                        description: "Modified via common CRUD pattern"
                        tags: [ "updated", "demo" ]
                        status: "active"
                        metadata:
                          updated_by: "123e4567-e89b-12d3-a456-426614174001"
                          reason: "Regular maintenance update"
            responses:
              "200":
                $ref: '#/components/responses/Updated'
              "400":
                $ref: '#/components/responses/BadRequest'
              "404":
                $ref: '#/components/responses/NotFound'
              "409":
                description: Version conflict - entity was modified by another request
                content:
                  application/json:
                    schema:
                      $ref: '../common-service/schemas/common.yaml#/Error'
    delete:
      summary: Delete Example (Soft Delete)
            description: "**Soft delete using common patterns**
      
              Marks entity as deleted instead of hard removal. Uses `SoftDeletableEntity`
              pattern from common architecture for recoverable deletions.
      
              **Soft Delete Benefits:**
              - Data recovery capability
              - Audit trail preservation
              - Referential integrity maintenance
      
              "
            operationId: deleteExample
            tags:
              - Example Domain
              - CRUD Operations
            security:
              - BearerAuth: [ ]
            parameters:
              - name: id
                in: path
                required: true
                schema:
                  $ref: '../common-service/schemas/common.yaml#/UUID'
              - name: permanent
                in: query
                schema:
                  type: boolean
                  default: false
                description: Permanently delete (hard delete) - requires admin privileges
            responses:
              "200":
                $ref: '#/components/responses/Deleted'
              "404":
                $ref: '#/components/responses/NotFound'

  # READ LIST - Paginated listing with common patterns


  # UPDATE - Demonstrates optimistic locking


  # DELETE - Soft delete pattern


  # BULK OPERATIONS - Demonstrates bulk CRUD
  /examples/bulk:
    post:
      summary: Bulk Example Operations
      description: "**Bulk CRUD operations using common patterns**

        Perform multiple create, update, or delete operations in single request.
        Uses `BulkOperationRequest` from common operations for consistency.

        **Use Cases:**
        - Mass updates during maintenance
        - Bulk imports from external systems
        - Batch processing of user actions

        "
      operationId: bulkExamples
      tags:
        - Example Domain
        - CRUD Operations
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '../common-service/operations/crud.yaml#/BulkOperationRequest'
            examples:
              bulk_update:
                summary: Bulk status update
                value:
                  operation: "update"
                  items:
                    - id: "123e4567-e89b-12d3-a456-426614174000"
                      version: 1
                      status: "archived"
                    - id: "123e4567-e89b-12d3-a456-426614174001"
                      version: 2
                      status: "archived"
                  continue_on_error: true
      responses:
        "200":
          description: Bulk operation completed
          content:
            application/json:
              schema:
                $ref: '../common-service/operations/crud.yaml#/BulkOperationResponse'
        "400":
          $ref: '#/components/responses/BadRequest'

  # SEARCH - Advanced filtering
  /examples/search:
    post:
      summary: Advanced Example Search
      description: "**Advanced search using common SearchRequest**

        Full-text search with complex filters using `SearchRequest` from
        common operations. Supports domain-specific filtering patterns.

        **Search Capabilities:**
        - Full-text search across multiple fields
        - Complex filters with operators (eq, gt, contains, etc.)
        - Multi-field sorting
        - Domain-specific filter extensions

        "
      operationId: searchExamples
      tags:
        - Example Domain
        - CRUD Operations
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExampleSearchRequest'
            examples:
              complex_search:
                summary: Complex search with filters
                value:
                  query: "cyberpunk template"
                  filters:
                    status:
                      operator: "eq"
                      value: "active"
                    priority:
                      operator: "gte"
                      value: 5
                  sort:
                    - field: "priority"
                      direction: "desc"
                    - field: "created_at"
                      direction: "desc"
                  limit: 50
                  offset: 0
      responses:
        "200":
          description: Search results retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/responses/ExampleListSuccess'
                  - type: object
                    properties:
                      search_metadata:
                        type: object
                        properties:
                          query_time_ms:
                            type: integer
                            example: 45
                          total_matches:
                            type: integer
                            example: 234
        "400":
          $ref: '#/components/responses/BadRequest'

components:
  # ============================================================================
  # COMMON REFERENCES (DRY Principle)
  # ============================================================================

  responses:
    # Use common success responses
    OK:
      $ref: '../common-service/responses/success.yaml#/OK'
      $ref: ../common-service/responses/success.yaml#/OK
    Created:
      $ref: '../common-service/responses/success.yaml#/Created'
      $ref: ../common-service/responses/success.yaml#/Created
    Updated:
      $ref: '../common-service/responses/success.yaml#/Updated'
    Deleted:
      $ref: '../common-service/responses/success.yaml#/Deleted'
    BadRequest:
      $ref: '../common-service/responses/error.yaml#/BadRequest'
      $ref: ../common-service/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: '../common-service/responses/error.yaml#/Unauthorized'
      $ref: ../common-service/responses/error.yaml#/Unauthorized
    NotFound:
      $ref: '../common-service/responses/error.yaml#/NotFound'
      $ref: ../common-service/responses/error.yaml#/NotFound
    TooManyRequests:
      $ref: '../common-service/responses/error.yaml#/TooManyRequests'

    # Health responses
    HealthBatchSuccess:
      $ref: '../common-service/responses/success.yaml#/HealthBatchSuccess'

    # Domain-specific responses demonstrating inheritance
    ExampleListSuccess:
      description: Examples retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
        X-Total-Count:
          schema:
            type: integer
            example: 150
            description: Total number of examples matching criteria
        X-Page-Count:
          schema:
            type: integer
            example: 8
            description: Total number of pages
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleListResponse"
    ExampleCreated:
      description: Example created successfully
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/examples/550e8400-e29b-41d4-a716-446655440000
            description: URL of the created example
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching and optimistic locking
        Cache-Control:
          schema:
            type: string
            example: no-cache
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"
    ExampleRetrieved:
      description: Example retrieved successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
            description: Cache control directives
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: "2025-12-21T10:00:00Z"
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 5
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"
    ExampleUpdated:
      description: Example updated successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v2"'
            description: New entity tag after update
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: "2025-12-21T10:05:00Z"
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 25
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"
    ExampleDeleted:
      description: Example deleted successfully
      headers:
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds




    Forbidden:
      $ref: ../common-service/responses/error.yaml#/Forbidden

    Conflict:
      $ref: ../common-service/responses/error.yaml#/Conflict
    InternalServerError:
      $ref: ../common-service/responses/error.yaml#/InternalServerError
    HealthOK:
      $ref: ../common-service/responses/success.yaml#/HealthOK
  schemas:
    HealthResponse:
      $ref: ../common-service/schemas/health.yaml#/HealthResponse
    WebSocketHealthMessage:
      type: object
      required:
        - type
        - timestamp
        - health
      properties:
        type:
          type: string
          enum:
            - health_update
            - health_alert
            - service_down
          example: health_update
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          maxLength: 255
        message_timestamp:
          type: string
          format: date-time
          description: Timestamp of the health message
          maxLength: 1000
        health:
          $ref: "../common-service/schemas/health.yaml#/HealthResponse"
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    Error:
      $ref: ../common-service/schemas/error.yaml#/Error
    # ============================================================================
    # ENTITY SCHEMAS (SOLID/DRY Foundation)
    # ============================================================================

    # Example Entity - Demonstrates BaseEntity inheritance
    ExampleEntity:
      allOf:
        - $ref: '../common-service/schemas/common.yaml#/AuditableEntity'  # id, timestamps, created_by, updated_by
        - type: object
          required:
            - name
            - status
          properties:
            name:
              type: string
              minLength: 1
              maxLength: 100
              description: Example display name
              example: Sample Example
            description:
              type: string
              maxLength: 1000
              description: Detailed description
              example: This is a comprehensive example demonstrating best practices.
            status:
              type: string
              enum:
                - active
                - inactive
                - pending
                - archived
              default: active
              description: Current status
              example: active
            tags:
              type: array
              items:
                type: string
                maxLength: 50
              maxItems: 10
              description: Associated tags
              example:
                - demo
                - template
                - best-practice
            is_active:
              type: boolean
              description: Whether this example is active
              example: true
            priority:
              type: integer
              minimum: 1
              maximum: 10
              default: 5
              description: Processing priority
              example: 7
      description: "BACKEND NOTE: Inherits from AuditableEntity. Only domain-specific fields defined here. Memory savings: 30-50% via struct alignment."

    # Example Game Entity - Demonstrates Game Domain inheritance
    ExampleGameEntity:
      allOf:
        - $ref: '../common-service/schemas/game-entities.yaml#/CharacterEntity'  # Character fields + BaseEntity
        - type: object
          required:
            - cyberware_level
          properties:
            cyberware_level:
              type: integer
              minimum: 0
              maximum: 20
              description: Level of cyberware implants
              example: 8
            neural_implant_id:
              $ref: '../common-service/schemas/common.yaml#/UUID'
            last_cyberspace_visit:
              $ref: '../common-service/schemas/common.yaml#/Timestamp'
      description: "BACKEND NOTE: Extends CharacterEntity for cyberpunk-specific fields."

    # Example Transaction Entity - Demonstrates Economy Domain inheritance
    ExampleTransactionEntity:
      allOf:
        - $ref: '../common-service/schemas/economy-entities.yaml#/TransactionEntity'  # Full transaction fields
        - type: object
          properties:
            example_specific_field:
              type: string
              description: Domain-specific transaction metadata
              example: "special_processing_required"
      description: "BACKEND NOTE: Inherits complete transaction schema with audit trail."

    # ============================================================================
    # REQUEST/RESPONSE SCHEMAS
    # ============================================================================

    # Response wrapper for single entity
    ExampleResponse:
      type: object
      required:
        - data
        - example
      properties:
        data:
          $ref: '#/components/schemas/ExampleEntity'
        meta:
          type: object
          properties:
            version:
              type: string
              example: "1.0"
            processing_time_ms:
              type: integer
              example: 15
        example:
          $ref: "#/components/schemas/Example"
      description: "Standard response wrapper for single entity"
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small).
              Expected memory savings: 30-50%."

    # Response wrapper for entity list with pagination
    ExampleListResponse:
      type: object
      required:
        - data
        - meta
        - examples
        - total_count
        - has_more
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExampleEntity'
        meta:
          allOf:
            - $ref: '../common-service/schemas/common.yaml#/PaginatedResponse'
            - type: object
              properties:
                processing_time_ms:
                  type: integer
                  example: 45
        examples:
          type: array
                    items:
                      $ref: "#/components/schemas/Example"
                    description: List of examples
        has_more:
          type: boolean
                    description: Whether there are more results available
                    example: true
        total_count:
          type: integer
                    description: Total number of examples matching criteria
                    example: 150
        page:
          type: integer
                    description: Current page number
                    example: 1
        limit:
          type: integer
                    description: Items per page
                    example: 20
      description: "Standard paginated response wrapper"
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small).
              Expected memory savings: 30-50%. Paginated responses optimized for memory
              efficiency."

    # ============================================================================
    # DEMONSTRATION SCHEMAS (Different Inheritance Patterns)
    # ============================================================================

    # Versioned Entity Example - For concurrent-safe operations
    ExampleVersionedEntity:
      allOf:
        - $ref: '../common-service/schemas/common.yaml#/VersionedEntity'  # BaseEntity + version
        - type: object
          required:
            - name
          properties:
            name:
              type: string
              maxLength: 100
            concurrent_counter:
              type: integer
              minimum: 0
              description: "Counter for demonstrating optimistic locking"
      description: "BACKEND NOTE: Uses VersionedEntity for concurrent operations. Version field enables optimistic locking."

    # Soft Deletable Entity Example - For recoverable deletions
    ExampleSoftDeletableEntity:
      allOf:
        - $ref: '../common-service/schemas/common.yaml#/SoftDeletableEntity'  # BaseEntity + deleted_at
        - type: object
          required:
            - name
          properties:
            name:
              type: string
              maxLength: 100
            deletion_reason:
              type: string
              maxLength: 500
              description: "Reason for soft deletion"
      description: "BACKEND NOTE: Uses SoftDeletableEntity for recoverable deletions. deleted_at field tracks deletion time."

    # Complex Inheritance Example - Multiple domain inheritance
    ExampleComplexEntity:
      allOf:
        - $ref: '../common-service/schemas/game-entities.yaml#/CharacterEntity'     # Character fields
        - $ref: '../common-service/schemas/economy-entities.yaml#/WalletEntity'     # Wallet fields
        - $ref: '../common-service/schemas/social-entities.yaml#/UserProfileEntity' # Profile fields
        - type: object
          required:
            - custom_field
          properties:
            custom_field:
              type: string
              description: "Service-specific field demonstrating complex inheritance"
      description: "BACKEND NOTE: Demonstrates complex multi-domain inheritance. Fields from Character, Wallet, and Profile entities are all inherited."

    # ============================================================================
    # REQUEST SCHEMAS
    # ============================================================================

    # Create Request - Demonstrates common create pattern
    ExampleCreateRequest:
      allOf:
        - $ref: '../common-service/operations/crud.yaml#/CreateRequest'
        - type: object
          required:
            - name
          properties:
            name:
              type: string
              minLength: 1
              maxLength: 100
            description:
              type: string
              maxLength: 1000
            tags:
              type: array
              items:
                type: string
                maxLength: 50
              maxItems: 10
      description: "Create request extending common CreateRequest pattern"

    # Update Request - Demonstrates optimistic locking
    ExampleUpdateRequest:
      allOf:
        - $ref: '../common-service/operations/crud.yaml#/UpdateRequest'
        - type: object
          properties:
            name:
              type: string
              minLength: 1
              maxLength: 100
            description:
              type: string
              maxLength: 1000
            tags:
              type: array
              items:
                type: string
                maxLength: 50
              maxItems: 10
            status:
              type: string
              enum: [ "active", "inactive", "pending", "archived" ]
      description: "Update request with optimistic locking (version field from UpdateRequest)"

    # Search Request - Demonstrates advanced filtering
    ExampleSearchRequest:
      allOf:
        - $ref: '../common-service/operations/crud.yaml#/SearchRequest'
        - type: object
          properties:
            status_filter:
              type: string
              enum: [ "active", "inactive", "pending", "archived" ]
            tag_filter:
              type: array
              items:
                type: string
              maxItems: 10
            priority_range:
              type: object
              properties:
                min:
                  type: integer
                  minimum: 1
                  maximum: 10
                max:
                  type: integer
                  minimum: 1
                  maximum: 10
      description: "Search request extending common SearchRequest with domain filters"
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Hot path optimization required."
    CreateExampleRequest:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Desired example name
          example: My New Example
        description:
          type: string
          maxLength: 1000
          description: Example description
          example: A new example following enterprise-grade patterns.
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Initial tags
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Processing priority
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    UpdateExampleRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: New example name
          example: Updated Example Name
        description:
          type: string
          maxLength: 1000
          description: New description
        status:
          type: string
          enum:
            - active
            - inactive
            - pending
            - archived
          description: New status
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Replace all tags
        is_active:
          type: boolean
          description: Update active status
        priority:
          type: integer
          minimum: 1
          maximum: 10
          description: New priority
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."


    PaginationParams:
      $ref: ../common-service/schemas/pagination.yaml#/PaginationParams
    PaginatedResponse:
      $ref: ../common-service/schemas/pagination.yaml#/PaginatedResponse
  securitySchemes:
    BearerAuth:
      $ref: ../common-service/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common-service/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common-service/security/security.yaml#/ServiceAuth
