openapi: 3.0.3
info:
  title: Level Service API
  description: '**Enterprise-grade API for Character Leveling and Progression Management**


    ## Domain Purpose

    Comprehensive character progression service providing experience management, level
    advancement,

    stat distribution, and milestone tracking for the NECPGAME platform.


    ## Business Value

    - Real-time experience and leveling calculations

    - Advanced progression analytics and player retention insights

    - Performance-optimized level scaling and difficulty balancing

    - Enterprise-grade scalability for millions of concurrent players

    - Comprehensive achievement and milestone systems


    ## Performance Targets

    - P99 Latency: <20ms for experience operations

    - Throughput: 100,000+ XP operations per second

    - Concurrent Characters: 1,000,000+ active characters supported

    - Memory per Character: <1KB for level data storage


    ## Domain Inheritance

    This service inherits from game-entities.yaml providing:

    - Character progression tracking with optimistic locking

    - Experience gain events integration

    - Achievement system integration

    - Combat action experience rewards

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/level-service
  description: Production environment
- url: https://staging-api.necpgame.com/v1/level-service
  description: Staging environment
- url: http://localhost:8080/api/v1/level-service
  description: Local development
security:
- BearerAuth: []
tags:
- name: Experience Management
  description: Core experience gain and level advancement operations
- name: Character Progression
  description: Character-specific leveling and stat management
- name: Level Scaling
  description: Level-based scaling and difficulty management
- name: Achievements & Milestones
  description: Achievement tracking and milestone rewards
- name: Analytics & Balancing
  description: Progression analytics and balancing tools
- name: Leaderboards
  description: Level-based leaderboards and rankings
- name: Health Monitoring
  description: Service health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /experience/gain:
    $ref: ./paths/experience-gain.yaml#/paths/~1experience~1gain
  /experience/batch/gain:
    $ref: ./paths/experience-batch-gain.yaml#/paths/~1experience~1batch~1gain
  /characters/{characterId}/level:
    $ref: ./paths/characters-{characterId}-level.yaml#/paths/~1characters~1{characterId}~1level
  /characters/{characterId}/stats/allocate:
    $ref: ./paths/characters-{characterId}-stats-allocate.yaml#/paths/~1characters~1{characterId}~1stats~1allocate
  /characters/{characterId}/stats/reset:
    $ref: ./paths/characters-{characterId}-stats-reset.yaml#/paths/~1characters~1{characterId}~1stats~1reset
  /characters/{characterId}/prestige:
    $ref: ./paths/characters-{characterId}-prestige.yaml#/paths/~1characters~1{characterId}~1prestige
  /levels/{level}/scaling:
    $ref: ./paths/levels-{level}-scaling.yaml#/paths/~1levels~1{level}~1scaling
  /achievements/check:
    $ref: ./paths/achievements-check.yaml#/paths/~1achievements~1check
  /leaderboards/level:
    $ref: ./paths/leaderboards-level.yaml#/paths/~1leaderboards~1level
  /analytics/progression:
    $ref: ./paths/analytics-progression.yaml#/paths/~1analytics~1progression
components:
  schemas:
    CharacterLevel:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/CharacterLevel
    ExperienceEvent:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/ExperienceEvent
    Achievement:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/Achievement
    StatAllocation:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/StatAllocation
    PrestigeBonuses:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/PrestigeBonuses
    LevelScaling:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/LevelScaling
    AchievementCondition:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/AchievementCondition
    AchievementRewards:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/AchievementRewards
    LeaderboardEntry:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/LeaderboardEntry
    LeaderboardMetadata:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/LeaderboardMetadata
    CharacterLevelInfo:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/CharacterLevelInfo
    StatChanges:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/StatChanges
    LevelUpEvent:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/LevelUpEvent
    AchievementAward:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/AchievementAward
    AchievementProgress:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/AchievementProgress
    ProgressionAnalytics:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/ProgressionAnalytics
    GainExperienceRequest:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/GainExperienceRequest
    BatchGainExperienceRequest:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/BatchGainExperienceRequest
    ExperienceResult:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/ExperienceResult
    AllocateStatPointsRequest:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/AllocateStatPointsRequest
    CheckAchievementsRequest:
      $ref: ./schemas/level-service-schemas.yaml#/components/schemas/CheckAchievementsRequest
  responses:
    OK:
      $ref: ./schemas/level-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/level-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/level-service-responses.yaml#/components/responses/Updated
    BadRequest:
      $ref: ./schemas/level-service-responses.yaml#/components/responses/BadRequest
    NotFound:
      $ref: ./schemas/level-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/level-service-responses.yaml#/components/responses/Conflict
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
