# Enterprise-Grade Level Service API - SOLID/DRY Domain Inheritance
# Game domain service for character leveling and progression management
# Issue: #openapi-refactor

openapi: 3.0.3
info:
  title: Level Service API
  description: |
    **Enterprise-grade API for Character Leveling and Progression Management**

    ## Domain Purpose
    Comprehensive character progression service providing experience management, level advancement,
    stat distribution, and milestone tracking for the NECPGAME platform.

    ## Business Value
    - Real-time experience and leveling calculations
    - Advanced progression analytics and player retention insights
    - Performance-optimized level scaling and difficulty balancing
    - Enterprise-grade scalability for millions of concurrent players
    - Comprehensive achievement and milestone systems

    ## Performance Targets
    - P99 Latency: <20ms for experience operations
    - Throughput: 100,000+ XP operations per second
    - Concurrent Characters: 1,000,000+ active characters supported
    - Memory per Character: <1KB for level data storage

    ## Domain Inheritance
    This service inherits from game-entities.yaml providing:
    - Character progression tracking with optimistic locking
    - Experience gain events integration
    - Achievement system integration
    - Combat action experience rewards
    - Strict typing with validation rules

  version: "1.0.0"
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT

servers:
  - url: https://api.necpgame.com/v1/level-service
    description: Production environment
  - url: https://staging-api.necpgame.com/v1/level-service
    description: Staging environment
  - url: http://localhost:8080/api/v1/level-service
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: Experience Management
    description: Core experience gain and level advancement operations
  - name: Character Progression
    description: Character-specific leveling and stat management
  - name: Level Scaling
    description: Level-based scaling and difficulty management
  - name: Achievements & Milestones
    description: Achievement tracking and milestone rewards
  - name: Analytics & Balancing
    description: Progression analytics and balancing tools
  - name: Leaderboards
    description: Level-based leaderboards and rankings
  - name: Health Monitoring
    description: Service health and performance monitoring

paths:

  /health:
    get:
      operationId: levelServiceHealthCheck
      summary: Basic health check
      description: Returns service health status
      tags: [Health Monitoring]
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/HealthResponse'

  /experience/gain:
    post:
      operationId: levelServiceGainExperience
      summary: Award experience to character
      description: |
        Award experience points to a character with automatic level checking and advancement.

        **Experience Processing:**
        - Validate experience source and amount
        - Apply experience multipliers and bonuses
        - Check for level advancement
        - Trigger level-up events and rewards
        - Update character stats and progression
      tags: [Experience Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GainExperienceRequest'
      responses:
        '200':
          description: Experience awarded successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ExperienceResult'
        '400':
          $ref: '#/components/responses/BadRequest'

  /experience/batch/gain:
    post:
      operationId: levelServiceBatchGainExperience
      summary: Award experience to multiple characters
      description: |
        Award experience to multiple characters in a single operation.

        **Batch Processing:**
        - Atomic experience distribution
        - Bulk level advancement checking
        - Performance optimization for mass rewards
        - Rollback on partial failures
      tags: [Experience Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGainExperienceRequest'
      responses:
        '200':
          description: Batch experience awarded successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          total_experience_awarded:
                            type: integer
                            description: Total XP awarded
                          characters_leveled_up:
                            type: integer
                            description: Characters that leveled up
                          level_up_events:
                            type: array
                            items:
                              $ref: '#/components/schemas/LevelUpEvent'
                            description: Level up events triggered
        '400':
          $ref: '#/components/responses/BadRequest'

  /characters/{characterId}/level:
    get:
      operationId: levelServiceGetCharacterLevel
      summary: Get character level information
      description: |
        Retrieve comprehensive character level and progression information.

        **Level Information:**
        - Current level and experience
        - Experience to next level
        - Stat points available
        - Level milestones achieved
        - Progression statistics
      tags: [Character Progression]
      parameters:
        - name: characterId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Character unique identifier
        - name: include_milestones
          in: query
          schema:
            type: boolean
            default: true
          description: Include milestone achievements
      responses:
        '200':
          description: Character level information retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CharacterLevelInfo'
        '404':
          $ref: '#/components/responses/NotFound'

  /characters/{characterId}/stats/allocate:
    post:
      operationId: levelServiceAllocateStatPoints
      summary: Allocate stat points to character
      description: |
        Allocate available stat points to character attributes.

        **Stat Allocation:**
        - Validate available stat points
        - Apply stat increases
        - Update character stats
        - Trigger stat change events
      tags: [Character Progression]
      parameters:
        - name: characterId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Character unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllocateStatPointsRequest'
      responses:
        '200':
          description: Stat points allocated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          allocated_points:
                            type: object
                            description: Points allocated by stat
                            additionalProperties:
                              type: integer
                          remaining_points:
                            type: integer
                            description: Remaining unallocated points
                          stat_changes:
                            $ref: '#/components/schemas/StatChanges'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Insufficient stat points
          content:
            application/json:
              schema:
                $ref: '../common/responses/error.yaml#/Conflict'

  /characters/{characterId}/stats/reset:
    post:
      operationId: levelServiceResetStatPoints
      summary: Reset character stat allocation
      description: |
        Reset character's stat point allocation for redistribution.

        **Stat Reset:**
        - Refund allocated stat points
        - Reset stats to base values
        - Charge reset cost if applicable
        - Maintain level progression
      tags: [Character Progression]
      parameters:
        - name: characterId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Character unique identifier
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reset_type:
                  type: string
                  enum: [full_reset, partial_reset, respec]
                  default: "respec"
                  description: Type of reset operation
                refund_percentage:
                  type: number
                  minimum: 0
                  maximum: 1
                  default: 0.8
                  description: Percentage of points refunded
      responses:
        '200':
          description: Stat points reset successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          refunded_points:
                            type: integer
                            description: Points refunded
                          reset_cost:
                            type: integer
                            description: Cost incurred for reset
                          available_points:
                            type: integer
                            description: Points now available for allocation
        '400':
          $ref: '#/components/responses/BadRequest'

  /characters/{characterId}/prestige:
    post:
      operationId: levelServicePrestigeCharacter
      summary: Prestige character progression
      description: |
        Perform prestige reset for character advancement.

        **Prestige Process:**
        - Validate prestige requirements
        - Reset level and experience
        - Award prestige bonuses
        - Unlock advanced content
        - Maintain prestige progression
      tags: [Character Progression]
      parameters:
        - name: characterId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Character unique identifier
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prestige_tier:
                  type: integer
                  minimum: 1
                  description: Desired prestige tier
                keep_unlocks:
                  type: boolean
                  default: true
                  description: Keep permanent unlocks
      responses:
        '200':
          description: Character prestiged successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          new_prestige_level:
                            type: integer
                            description: New prestige level
                          prestige_bonuses:
                            $ref: '#/components/schemas/PrestigeBonuses'
                          unlocked_features:
                            type: array
                            items:
                              type: string
                            description: Newly unlocked features
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Prestige requirements not met
          content:
            application/json:
              schema:
                $ref: '#/components/responses/error.yaml#/Forbidden'

  /levels/{level}/scaling:
    get:
      operationId: levelServiceGetLevelScaling
      summary: Get level-based scaling values
      description: |
        Retrieve scaling values and multipliers for a specific level.

        **Level Scaling:**
        - Enemy stats at level
        - Experience rewards
        - Item drop rates
        - Difficulty multipliers
        - Zone recommendations
      tags: [Level Scaling]
      parameters:
        - name: level
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
          description: Character level
        - name: scaling_type
          in: query
          schema:
            type: string
            enum: [combat, rewards, items, zones]
            description: Type of scaling to retrieve
      responses:
        '200':
          description: Level scaling retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LevelScaling'
        '400':
          $ref: '#/components/responses/BadRequest'

  /achievements/check:
    post:
      operationId: levelServiceCheckAchievements
      summary: Check and award achievements
      description: |
        Check character against achievement conditions and award completed ones.

        **Achievement Processing:**
        - Evaluate achievement conditions
        - Award completed achievements
        - Trigger reward distribution
        - Update achievement progress
      tags: [Achievements & Milestones]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAchievementsRequest'
      responses:
        '200':
          description: Achievement check completed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          achievements_awarded:
                            type: array
                            items:
                              $ref: '#/components/schemas/AchievementAward'
                            description: Achievements newly awarded
                          progress_updates:
                            type: array
                            items:
                              $ref: '#/components/schemas/AchievementProgress'
                            description: Achievement progress updates
                          total_rewards:
                            $ref: '#/components/schemas/AchievementRewards'
                            description: Total rewards earned
        '400':
          $ref: '#/components/responses/BadRequest'

  /leaderboards/level:
    get:
      operationId: levelServiceGetLevelLeaderboard
      summary: Get level-based leaderboard
      description: |
        Retrieve leaderboard rankings based on character levels.

        **Leaderboard Features:**
        - Global level rankings
        - Regional leaderboards
        - Prestige tier rankings
        - Historical snapshots
        - Anti-cheat validation
      tags: [Leaderboards]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Number of rankings to return
        - name: region
          in: query
          schema:
            type: string
          description: Regional filter
        - name: prestige_tier
          in: query
          schema:
            type: integer
            minimum: 0
          description: Prestige tier filter
        - name: timeframe
          in: query
          schema:
            type: string
            enum: [current, weekly, monthly, all_time]
            default: "current"
          description: Time period for rankings
      responses:
        '200':
          description: Level leaderboard retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/LeaderboardEntry'
                        description: Leaderboard rankings
                      metadata:
                        $ref: '#/components/schemas/LeaderboardMetadata'
        '400':
          $ref: '#/components/responses/BadRequest'

  /analytics/progression:
    get:
      operationId: levelServiceGetProgressionAnalytics
      summary: Get character progression analytics
      description: |
        Retrieve comprehensive analytics about character progression and leveling patterns.

        **Progression Analytics:**
        - Level distribution across playerbase
        - Experience gain patterns and sources
        - Level advancement speed and bottlenecks
        - Stat allocation preferences
        - Retention correlation with progression
      tags: [Analytics & Balancing]
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
          description: Start date for analytics
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
          description: End date for analytics
        - name: segment_by
          in: query
          schema:
            type: string
            enum: [level_range, playtime, region, platform]
          description: Segmentation criteria
      responses:
        '200':
          description: Progression analytics retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProgressionAnalytics'

components:

  responses:
    OK:
      $ref: '../common/responses/success.yaml#/OK'
    Created:
      $ref: '../common/responses/success.yaml#/Created'
    Updated:
      $ref: '../common/responses/success.yaml#/Updated'
    BadRequest:
      $ref: '../common/responses/error.yaml#/BadRequest'
    NotFound:
      $ref: '../common/responses/error.yaml#/NotFound'
    Conflict:
      $ref: '../common/responses/error.yaml#/Conflict'

  schemas:

    # Domain Inheritance - Level Service Entities
    CharacterLevel:
      description: Character level and progression entity with game domain inheritance
      type: object
      required:
        - id
        - character_id
        - current_level
        - current_experience
        - total_experience_earned
      properties:
        id:
          type: string
          format: uuid
          description: Level record unique identifier
        character_id:
          type: string
          format: uuid
          description: Character this level belongs to
        current_level:
          type: integer
          minimum: 1
          maximum: 1000
          description: Current character level
        current_experience:
          type: integer
          minimum: 0
          description: Experience points in current level
        total_experience_earned:
          type: integer
          minimum: 0
          description: Total lifetime experience earned
        experience_to_next_level:
          type: integer
          minimum: 0
          description: Experience needed for next level
        available_stat_points:
          type: integer
          minimum: 0
          description: Unallocated stat points
        prestige_level:
          type: integer
          minimum: 0
          default: 0
          description: Character prestige level
        last_level_up_at:
          type: string
          format: date-time
          description: When character last leveled up
        experience_multipliers:
          type: object
          description: Active experience multipliers
          additionalProperties:
            type: number
          example:
            vip_bonus: 1.5
            event_bonus: 2.0
            guild_bonus: 1.25
        stat_allocation:
          $ref: '#/components/schemas/StatAllocation'
        progression_milestones:
          type: array
          items:
            type: string
            format: uuid
          description: Completed progression milestones
        created_at:
          type: string
          format: date-time
          description: When level record was created
        updated_at:
          type: string
          format: date-time
          description: When level record was last updated

    ExperienceEvent:
      description: Experience gain event entity
      type: object
      required:
        - id
        - character_id
        - experience_amount
        - source_type
        - gained_at
      properties:
        id:
          type: string
          format: uuid
          description: Experience event unique identifier
        character_id:
          type: string
          format: uuid
          description: Character receiving experience
        experience_amount:
          type: integer
          minimum: 1
          description: Amount of experience gained
        base_experience:
          type: integer
          minimum: 1
          description: Base experience before multipliers
        source_type:
          type: string
          enum: [combat, quest, exploration, crafting, social, event, achievement]
          description: Source of experience gain
        source_id:
          type: string
          format: uuid
          description: Specific source identifier (quest ID, enemy ID, etc.)
        multipliers_applied:
          type: object
          description: Multipliers applied to base experience
          additionalProperties:
            type: number
          example:
            difficulty_multiplier: 1.2
            group_bonus: 1.5
            vip_status: 1.25
        gained_at:
          type: string
          format: date-time
          description: When experience was gained
        level_at_gain:
          type: integer
          minimum: 1
          description: Character level when experience was gained
        contributed_to_level_up:
          type: boolean
          description: Whether this experience contributed to a level up

    Achievement:
      description: Achievement definition entity
      allOf:
        - $ref: '../common/schemas/game-entities.yaml#/BaseGameEntity'
        - type: object
          properties:
            name:
              type: string
              minLength: 1
              maxLength: 100
              description: Achievement name
            description:
              type: string
              maxLength: 500
              description: Achievement description
            category:
              type: string
              minLength: 1
              maxLength: 50
              description: Achievement category
            difficulty:
              type: string
              enum: [bronze, silver, gold, platinum, diamond]
              default: "bronze"
              description: Achievement difficulty tier
            points_value:
              type: integer
              minimum: 1
              maximum: 1000
              description: Achievement point value
            rewards:
              $ref: '#/components/schemas/AchievementRewards'
            conditions:
              type: array
              items:
                $ref: '#/components/schemas/AchievementCondition'
              description: Conditions to unlock achievement
            is_repeatable:
              type: boolean
              default: false
              description: Whether achievement can be earned multiple times
            max_progress:
              type: integer
              minimum: 1
              description: Maximum progress value for progress-based achievements

    # Supporting schemas
    StatAllocation:
      description: Character stat point allocation
      type: object
      properties:
        strength:
          type: integer
          minimum: 0
          default: 0
          description: Points allocated to strength
        agility:
          type: integer
          minimum: 0
          default: 0
          description: Points allocated to agility
        intelligence:
          type: integer
          minimum: 0
          default: 0
          description: Points allocated to intelligence
        vitality:
          type: integer
          minimum: 0
          default: 0
          description: Points allocated to vitality
        perception:
          type: integer
          minimum: 0
          default: 0
          description: Points allocated to perception
        charisma:
          type: integer
          minimum: 0
          default: 0
          description: Points allocated to charisma
        total_allocated:
          type: integer
          minimum: 0
          description: Total points allocated

    PrestigeBonuses:
      description: Bonuses granted by prestige level
      type: object
      properties:
        experience_multiplier:
          type: number
          minimum: 1
          description: Experience gain multiplier
        stat_point_bonus:
          type: integer
          minimum: 0
          description: Bonus stat points per level
        unlocked_features:
          type: array
          items:
            type: string
          description: Features unlocked by prestige
        cosmetic_rewards:
          type: array
          items:
            type: string
          description: Cosmetic items granted
        title_unlocked:
          type: string
          description: Prestige title unlocked

    LevelScaling:
      description: Scaling values for a specific level
      type: object
      required:
        - level
      properties:
        level:
          type: integer
          minimum: 1
          maximum: 1000
          description: Level these scalings apply to
        enemy_health_multiplier:
          type: number
          minimum: 0.1
          description: Enemy health scaling multiplier
        enemy_damage_multiplier:
          type: number
          minimum: 0.1
          description: Enemy damage scaling multiplier
        experience_reward_multiplier:
          type: number
          minimum: 0.1
          description: Experience reward scaling multiplier
        item_drop_rate_multiplier:
          type: number
          minimum: 0.1
          description: Item drop rate scaling multiplier
        quest_rewards_multiplier:
          type: number
          minimum: 0.1
          description: Quest reward scaling multiplier
        recommended_zone_level:
          type: integer
          minimum: 1
          description: Recommended zone level
        difficulty_rating:
          type: string
          enum: [very_easy, easy, normal, hard, very_hard, nightmare]
          description: Difficulty rating for this level

    AchievementCondition:
      description: Condition for achieving an achievement
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [level_reached, experience_gained, enemies_killed, quests_completed, items_collected, time_played, social_interactions, combat_stats]
          description: Type of achievement condition
        target_value:
          type: integer
          minimum: 1
          description: Target value to achieve
        comparison_operator:
          type: string
          enum: [equals, greater_than, less_than, greater_equal, less_equal]
          default: "greater_equal"
          description: Comparison operator
        additional_filters:
          type: object
          description: Additional filters for the condition
          additionalProperties: true

    AchievementRewards:
      description: Rewards granted by achievement
      type: object
      properties:
        experience_points:
          type: integer
          minimum: 0
          description: Experience points rewarded
        currency_amount:
          type: integer
          minimum: 0
          description: In-game currency rewarded
        items:
          type: array
          items:
            type: object
            properties:
              item_id:
                type: string
                format: uuid
                description: Item template ID
              quantity:
                type: integer
                minimum: 1
                description: Item quantity
          description: Items rewarded
        titles:
          type: array
          items:
            type: string
          description: Titles unlocked
        cosmetic_unlocks:
          type: array
          items:
            type: string
          description: Cosmetic items unlocked

    LeaderboardEntry:
      description: Leaderboard ranking entry
      type: object
      required:
        - rank
        - character_id
        - character_name
        - level
        - total_experience
      properties:
        rank:
          type: integer
          minimum: 1
          description: Current ranking position
        character_id:
          type: string
          format: uuid
          description: Character unique identifier
        character_name:
          type: string
          description: Character display name
        level:
          type: integer
          minimum: 1
          description: Character level
        total_experience:
          type: integer
          minimum: 0
          description: Total experience earned
        prestige_level:
          type: integer
          minimum: 0
          description: Prestige level
        last_activity:
          type: string
          format: date-time
          description: Last activity timestamp
        region:
          type: string
          description: Player region
        guild_name:
          type: string
          description: Guild name (if applicable)

    LeaderboardMetadata:
      description: Leaderboard metadata
      type: object
      properties:
        total_entries:
          type: integer
          description: Total entries in leaderboard
        last_updated:
          type: string
          format: date-time
          description: When leaderboard was last updated
        timeframe:
          type: string
          enum: [current, weekly, monthly, all_time]
          description: Timeframe for rankings
        region_filter:
          type: string
          description: Regional filter applied

    CharacterLevelInfo:
      description: Comprehensive character level information
      type: object
      required:
        - character_id
        - current_level
        - current_experience
        - experience_to_next_level
      properties:
        character_id:
          type: string
          format: uuid
          description: Character unique identifier
        current_level:
          type: integer
          minimum: 1
          description: Current character level
        current_experience:
          type: integer
          minimum: 0
          description: Experience in current level
        total_experience_earned:
          type: integer
          minimum: 0
          description: Total lifetime experience
        experience_to_next_level:
          type: integer
          minimum: 0
          description: Experience needed for next level
        experience_progress_percentage:
          type: number
          minimum: 0
          maximum: 1
          description: Progress to next level (0-1)
        available_stat_points:
          type: integer
          minimum: 0
          description: Unallocated stat points
        prestige_level:
          type: integer
          minimum: 0
          description: Current prestige level
        stat_allocation:
          $ref: '#/components/schemas/StatAllocation'
        recent_level_ups:
          type: array
          items:
            type: object
            properties:
              level_reached:
                type: integer
                description: Level reached
              reached_at:
                type: string
                format: date-time
                description: When level was reached
              experience_at_level_up:
                type: integer
                description: Experience when leveled up
          description: Recent level up history
        milestones_achieved:
          type: array
          items:
            type: string
            format: uuid
          description: Progression milestones achieved

    StatChanges:
      description: Summary of stat changes from level operations
      type: object
      properties:
        strength:
          type: number
          description: Strength change
        agility:
          type: number
          description: Agility change
        intelligence:
          type: number
          description: Intelligence change
        vitality:
          type: number
          description: Vitality change
        perception:
          type: number
          description: Perception change
        charisma:
          type: number
          description: Charisma change

    LevelUpEvent:
      description: Event triggered when character levels up
      type: object
      required:
        - character_id
        - new_level
        - leveled_up_at
      properties:
        character_id:
          type: string
          format: uuid
          description: Character that leveled up
        new_level:
          type: integer
          minimum: 2
          description: New level reached
        leveled_up_at:
          type: string
          format: date-time
          description: When level up occurred
        stat_points_granted:
          type: integer
          minimum: 0
          description: Stat points granted
        experience_overflow:
          type: integer
          minimum: 0
          description: Experience carried over to new level
        rewards_granted:
          $ref: '#/components/schemas/AchievementRewards'
        triggered_events:
          type: array
          items:
            type: string
          description: Game events triggered by level up

    AchievementAward:
      description: Achievement award information
      type: object
      required:
        - achievement_id
        - achievement_name
        - awarded_at
      properties:
        achievement_id:
          type: string
          format: uuid
          description: Achievement unique identifier
        achievement_name:
          type: string
          description: Achievement display name
        awarded_at:
          type: string
          format: date-time
          description: When achievement was awarded
        points_earned:
          type: integer
          description: Achievement points earned
        rewards:
          $ref: '#/components/schemas/AchievementRewards'
        tier:
          type: string
          enum: [bronze, silver, gold, platinum, diamond]
          description: Achievement tier

    AchievementProgress:
      description: Achievement progress update
      type: object
      required:
        - achievement_id
        - current_progress
        - target_progress
      properties:
        achievement_id:
          type: string
          format: uuid
          description: Achievement unique identifier
        current_progress:
          type: integer
          minimum: 0
          description: Current progress value
        target_progress:
          type: integer
          minimum: 1
          description: Target progress value
        progress_percentage:
          type: number
          minimum: 0
          maximum: 1
          description: Progress percentage (0-1)
        last_updated:
          type: string
          format: date-time
          description: When progress was last updated

    ProgressionAnalytics:
      description: Comprehensive character progression analytics
      type: object
      properties:
        time_range:
          type: object
          properties:
            start_date:
              type: string
              format: date-time
            end_date:
              type: string
              format: date-time
        total_characters:
          type: integer
          description: Total characters analyzed
        average_level:
          type: number
          description: Average character level
        level_distribution:
          type: object
          additionalProperties:
            type: integer
          description: Character count by level
        experience_gain_patterns:
          type: object
          properties:
            average_daily_xp:
              type: number
              description: Average daily experience gain
            xp_sources_distribution:
              type: object
              additionalProperties:
                type: number
              description: Experience by source type
            leveling_speed_trends:
              type: array
              items:
                type: object
                properties:
                  level_range:
                    type: string
                    description: Level range (e.g., "1-10")
                  average_days_to_complete:
                    type: number
                    description: Average days to complete range
              description: Leveling speed by level ranges
        stat_allocation_preferences:
          type: object
          additionalProperties:
            type: number
          description: Average stat point allocation preferences
        retention_correlation:
          type: object
          properties:
            level_retention_rates:
              type: object
              additionalProperties:
                type: number
              description: Retention rates by level milestones
            progression_bottlenecks:
              type: array
              items:
                type: object
                properties:
                  level:
                    type: integer
                    description: Level where bottleneck occurs
                  completion_rate:
                    type: number
                    minimum: 0
                    maximum: 1
                    description: Rate of players completing this level
                  average_time_stuck:
                    type: number
                    description: Average days players are stuck at this level
              description: Identified progression bottlenecks

    # Request/Response schemas
    GainExperienceRequest:
      description: Request payload for gaining experience
      type: object
      required:
        - character_id
        - experience_amount
        - source_type
      properties:
        character_id:
          type: string
          format: uuid
          description: Character gaining experience
        experience_amount:
          type: integer
          minimum: 1
          maximum: 1000000
          description: Amount of experience to gain
        source_type:
          type: string
          enum: [combat, quest, exploration, crafting, social, event, achievement]
          description: Source of experience gain
        source_id:
          type: string
          format: uuid
          description: Specific source identifier
        multipliers:
          type: object
          description: Additional multipliers to apply
          additionalProperties:
            type: number
          example:
            difficulty_bonus: 1.5
            vip_multiplier: 2.0
        metadata:
          type: object
          description: Additional experience event metadata
          additionalProperties: true

    BatchGainExperienceRequest:
      description: Request payload for batch experience gain
      type: object
      required:
        - experience_events
      properties:
        experience_events:
          type: array
          items:
            $ref: '#/components/schemas/GainExperienceRequest'
          minItems: 1
          maxItems: 1000
          description: Individual experience gain requests
        batch_metadata:
          type: object
          description: Metadata for the entire batch
          properties:
            event_type:
              type: string
              description: Type of batch event (e.g., "daily_quest_completion")
            campaign_id:
              type: string
              format: uuid
              description: Associated campaign or event ID

    ExperienceResult:
      description: Result of experience gain operation
      type: object
      required:
        - experience_gained
        - new_total_experience
        - level_before
        - level_after
      properties:
        experience_gained:
          type: integer
          description: Experience points gained
        new_total_experience:
          type: integer
          description: New total experience
        level_before:
          type: integer
          description: Level before experience gain
        level_after:
          type: integer
          description: Level after experience gain
        leveled_up:
          type: boolean
          description: Whether character leveled up
        stat_points_granted:
          type: integer
          description: Stat points granted from level up
        level_up_rewards:
          $ref: '#/components/schemas/AchievementRewards'
        experience_overflow:
          type: integer
          description: Experience carried over to next level

    AllocateStatPointsRequest:
      description: Request payload for stat point allocation
      type: object
      required:
        - stat_allocations
      properties:
        stat_allocations:
          type: object
          description: Stat points to allocate by stat type
          properties:
            strength:
              type: integer
              minimum: 0
              description: Points to allocate to strength
            agility:
              type: integer
              minimum: 0
              description: Points to allocate to agility
            intelligence:
              type: integer
              minimum: 0
              description: Points to allocate to intelligence
            vitality:
              type: integer
              minimum: 0
              description: Points to allocate to vitality
            perception:
              type: integer
              minimum: 0
              description: Points to allocate to perception
            charisma:
              type: integer
              minimum: 0
              description: Points to allocate to charisma
          required: []
        validation_mode:
          type: string
          enum: [strict, lenient, preview]
          default: "strict"
          description: How strictly to validate allocations

    CheckAchievementsRequest:
      description: Request payload for achievement checking
      type: object
      required:
        - character_id
      properties:
        character_id:
          type: string
          format: uuid
          description: Character to check achievements for
        specific_achievements:
          type: array
          items:
            type: string
            format: uuid
          description: Specific achievements to check (empty = all)
        force_recheck:
          type: boolean
          default: false
          description: Force recheck of already completed achievements
        update_progress_only:
          type: boolean
          default: false
          description: Only update progress, don't award achievements

  securitySchemes:
    BearerAuth:
      $ref: '../common/security/security.yaml#/BearerAuth'
    ServiceAuth:
      $ref: '../common/security/security.yaml#/ServiceAuth'

# Performance and optimization notes
x-performance:
  p99-latency: "<20ms"
  throughput-target: "100,000+ XP operations/second"
  concurrent-characters-target: "1,000,000+ active characters"
  memory-per-character-target: "<1KB for level data"
  database-indexes: "Composite indexes on (character_id, current_level), (total_experience_earned DESC), (last_level_up_at, prestige_level)"

# Monitoring and observability
x-monitoring:
  metrics:
    - experience_gain_rate
    - level_up_events
    - stat_allocation_rate
    - achievement_completion_rate
    - progression_bottlenecks
  alerts:
    - experience_gain_rate anomaly > 50%
    - level_up_events spike > 1000/min
    - stat_allocation_errors > 5%

# Level system specifics
x-level-system:
  experience-curve: "Exponential growth with diminishing returns, configurable scaling factors"
  stat-system: "Point-buy system with soft caps, prestige bonuses, reset mechanics"
  achievement-framework: "Progress-based and milestone-based achievements with tiered rewards"
  progression-analytics: "Real-time bottleneck detection, retention correlation analysis"

# Domain inheritance documentation
x-domain-inheritance:
  inherits-from: "common/schemas/game-entities.yaml"
  inherited-entities: "BaseGameEntity, CharacterEntity, CombatActionEntity, AbilityEntity"
  additional-schemas: "Experience events, achievement systems, prestige mechanics, leaderboard management"
  no-duplication: "All common fields inherited, level-specific progression mechanics and analytics added"

