openapi: 3.0.3
info:
  title: Level Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Level Management API for NECPGAME**

    This API manages character leveling, experience calculation, and progression systems
    for player characters in the Night City universe.

    ## Key Features

    - **Experience Calculation**: Dynamic XP rewards based on actions and difficulty
    - **Level Progression**: Automatic level advancement with stat bonuses - **Progression
    Analytics**: Player growth tracking and optimization - **Anti-Cheat Validation**:
    Experience gain validation and fraud detection - **Performance Optimized**: MMOFPS-grade
    performance with <25ms P99 latency - **Memory Efficient**: 30-50% memory savings
    for level data structures

    ## Domain Purpose

    The Level domain handles all character progression mechanics in Night City. Players
    advance through levels by gaining experience from combat, quests, exploration,
    and achievements, unlocking new abilities and improving stats.

    ## Performance Targets

    - P99 Latency: <25ms for level operations - Memory: <15KB per active character
    level data - Concurrent users: 50,000+ simultaneous level calculations - XP calculation:
    <10ms response time

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/level
  description: Production server
- url: https://staging-api.necpgame.com/v1/level
  description: Staging server
- url: http://localhost:8080/api/v1/level
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Level Management
  description: Character level and experience operations
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Health check endpoint
      operationId: levelServiceHealthCheck
      tags:
      - Health Monitoring
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /gameplay/level/calculate:
    post:
      summary: Calculate experience and level progression
      operationId: calculateLevelProgression
      tags:
      - Level Management
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculateLevelRequest'
      responses:
        '200':
          $ref: '#/components/responses/OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculateLevelResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /gameplay/level/{characterId}:
    get:
      summary: Get character level information
      operationId: getCharacterLevel
      tags:
      - Level Management
      security:
      - BearerAuth: []
      parameters:
      - name: characterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Character unique identifier
      responses:
        '200':
          $ref: '#/components/responses/OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterLevelInfo'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT Bearer token authentication
  responses:
    OK:
      $ref: ../common-service/responses/success.yaml#/OK
    Created:
      $ref: ../common-service/responses/success.yaml#/Created
    Updated:
      $ref: ../common-service/responses/success.yaml#/Updated
    Deleted:
      $ref: ../common-service/responses/success.yaml#/Deleted
    BadRequest:
      $ref: ../common-service/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common-service/responses/error.yaml#/Unauthorized
    NotFound:
      $ref: ../common-service/responses/error.yaml#/NotFound
    TooManyRequests:
      $ref: ../common-service/responses/error.yaml#/TooManyRequests
    ServiceUnavailable:
      description: Service is temporarily unavailable
      content:
        application/json:
          schema:
            $ref: ../common-service/schemas/error.yaml
  schemas:
    Error:
      $ref: ../common-service/schemas/error.yaml
    HealthResponse:
      $ref: ../common-service/schemas/health.yaml
    CalculateLevelRequest:
      type: object
      required:
      - character_id
      - experience_gained
      - source
      properties:
        character_id:
          type: string
          format: uuid
          description: Character gaining experience
        experience_gained:
          type: integer
          minimum: 0
          description: Amount of experience gained
        source:
          type: string
          enum:
          - combat
          - quest
          - exploration
          - achievement
          description: Source of experience gain
        difficulty_multiplier:
          type: number
          minimum: 0.1
          maximum: 5.0
          default: 1.0
          description: Difficulty-based experience multiplier
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).'
    CalculateLevelResponse:
      type: object
      required:
      - character_id
      - previous_level
      - new_level
      - experience_gained
      - total_experience
      - leveled_up
      properties:
        character_id:
          type: string
          format: uuid
          description: Character ID
        previous_level:
          type: integer
          minimum: 1
          description: Level before calculation
        new_level:
          type: integer
          minimum: 1
          description: Level after calculation
        experience_gained:
          type: integer
          minimum: 0
          description: Experience points gained
        total_experience:
          type: integer
          minimum: 0
          description: Total experience points
        experience_to_next:
          type: integer
          minimum: 0
          description: Experience needed for next level
        leveled_up:
          type: boolean
          description: Whether character leveled up
        stat_bonuses:
          type: object
          properties:
            health:
              type: integer
              minimum: 0
              description: Health bonus from level up
            stamina:
              type: integer
              minimum: 0
              description: Stamina bonus from level up
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).'
    CharacterLevelInfo:
      allOf:
      - $ref: ../common-service/schemas/game-entities.yaml#/CharacterEntity
      - type: object
        properties:
          current_level:
            type: integer
            minimum: 1
            maximum: 50
            description: Current character level
          total_experience:
            type: integer
            minimum: 0
            description: Total accumulated experience
          experience_to_next:
            type: integer
            minimum: 0
            description: Experience needed for next level
          level_progress:
            type: number
            minimum: 0
            maximum: 1
            description: Progress to next level (0-1)
      description: 'BACKEND NOTE: Domain inheritance from CharacterEntity + level-specific
        fields.'
