openapi: 3.0.3
info:
  title: Component Service API - Enterprise-Grade Gameplay Components
  description: '**Enterprise-Grade Gameplay Components API for NECPGAME**

    Component Service manages core gameplay mechanics, world state, difficulty systems,
    cooperative challenges, and dynamic content components. Provides modular gameplay
    systems that power the interactive experience of Night City.

    ## Key Features

    - **Combat Systems**: Wave-based combat mechanics and turn management - **Gameplay
    Affixes**: Dynamic modifiers and enhancement systems - **Cooperative Challenges**:
    Multiplayer challenge coordination - **Difficulty Rating**: Adaptive difficulty
    scaling systems - **World State Management**: Global game world state and flags
    - **Challenge Modes**: Mythic+, restricted modes, and special content

    ## Domain Purpose

    Manages the core interactive components that make gameplay engaging and dynamic.
    From combat waves to world-altering events, these components create the living,
    breathing world of Night City that responds to player actions.

    ## Performance Targets

    - P99 Latency: <25ms for component operations - Memory: <15KB per active component
    session - Concurrent users: 100,000+ simultaneous interactions - State updates:
    50,000+ operations per second

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/component
  description: Production server
- url: https://staging-api.necpgame.com/v1/component
  description: Staging server
- url: http://localhost:8080/api/v1/component
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Combat Systems
  description: Wave-based combat mechanics and turn management
- name: Gameplay Affixes
  description: Dynamic modifiers and enhancement systems
- name: Cooperative Challenges
  description: Multiplayer challenge coordination
- name: Difficulty Rating
  description: Adaptive difficulty scaling systems
- name: World State
  description: Global game world state and flags
- name: Challenge Modes
  description: Special gameplay modes and content
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /combat/waves:
    $ref: ./paths/combat-waves.yaml#/paths/~1combat~1waves
  /affixes/active:
    $ref: ./paths/affixes-active.yaml#/paths/~1affixes~1active
  /challenges/cooperative/active:
    $ref: ./paths/challenges-cooperative-active.yaml#/paths/~1challenges~1cooperative~1active
  /difficulty/rate:
    $ref: ./paths/difficulty-rate.yaml#/paths/~1difficulty~1rate
  /world/state:
    $ref: ./paths/world-state.yaml#/paths/~1world~1state
  /modes/challenge:
    $ref: ./paths/modes-challenge.yaml#/paths/~1modes~1challenge
components:
  schemas:
    Error:
      $ref: ./schemas/component-service-schemas.yaml#/components/schemas/Error
    CombatWave:
      $ref: ./schemas/component-service-schemas.yaml#/components/schemas/CombatWave
    GameplayAffix:
      $ref: ./schemas/component-service-schemas.yaml#/components/schemas/GameplayAffix
    CooperativeChallenge:
      $ref: ./schemas/component-service-schemas.yaml#/components/schemas/CooperativeChallenge
    DifficultyRating:
      $ref: ./schemas/component-service-schemas.yaml#/components/schemas/DifficultyRating
    WorldState:
      $ref: ./schemas/component-service-schemas.yaml#/components/schemas/WorldState
  responses: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: '**JWT Bearer token authentication**

        Required for all authenticated endpoints. Token must be obtained from auth-service
        and included in Authorization header.

        **Format:** `Authorization: Bearer <token>`

        **Token Expiry:** 15 minutes for access tokens, 7 days for refresh tokens '
