# Issue: #140874394
openapi: 3.0.3
info:
  title: Notification System Service API
  description: |
    Система уведомлений для игры NECP GAME.
    Предоставляет функциональность для отправки, получения и управления уведомлениями игроков.
  version: 1.0.0
  contact:
    name: Notification Team
    email: notification@necp.game

servers:
  - url: https://api.necp.game/notification
    description: Production server
  - url: https://staging-api.necp.game/notification
    description: Staging server

security:
  - bearerAuth: []

paths:
  /notifications:
    get:
      summary: Получить уведомления игрока
      description: Возвращает список уведомлений для авторизованного игрока
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [unread, read, all]
          default: unread
          description: Фильтр по статусу уведомлений
        - name: type
          in: query
          schema:
            type: string
            enum: [system, achievement, quest, social, combat, economy, event]
          description: Фильтр по типу уведомлений
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Максимальное количество уведомлений
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Смещение для пагинации
      responses:
        '200':
          description: Успешное получение уведомлений
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
                  total:
                    type: integer
                    description: Общее количество уведомлений
                  unread_count:
                    type: integer
                    description: Количество непрочитанных уведомлений
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Создать новое уведомление
      description: Создает новое уведомление (только для системных сервисов)
      security:
        - serviceAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNotificationRequest'
      responses:
        '201':
          description: Уведомление успешно создано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /notifications/{notificationId}/read:
    post:
      summary: Отметить уведомление как прочитанное
      parameters:
        - name: notificationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Уведомление отмечено как прочитанное
        '404':
          $ref: '#/components/responses/NotFound'

  /notifications/bulk-read:
    post:
      summary: Отметить несколько уведомлений как прочитанные
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notification_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 1
                  maxItems: 100
      responses:
        '200':
          description: Уведомления отмечены как прочитанные
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated_count:
                    type: integer
        '400':
          $ref: '#/components/responses/BadRequest'

  /notifications/settings:
    get:
      summary: Получить настройки уведомлений
      responses:
        '200':
          description: Настройки уведомлений
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettings'

    put:
      summary: Обновить настройки уведомлений
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationSettings'
      responses:
        '200':
          description: Настройки обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettings'
        '400':
          $ref: '#/components/responses/BadRequest'

  /admin/notifications/broadcast:
    post:
      summary: Отправить массовое уведомление всем игрокам
      description: Административная функция для массовых уведомлений
      security:
        - adminAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BroadcastNotificationRequest'
      responses:
        '202':
          description: Массовое уведомление принято в обработку
        '400':
          $ref: '#/components/responses/BadRequest'

  /ws/notifications:
    get:
      summary: WebSocket подключение для realtime уведомлений
      description: |
        WebSocket endpoint для получения уведомлений в реальном времени.
        Клиент должен отправить JWT токен в query параметре 'token'
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: JWT токен для аутентификации
      responses:
        '101':
          description: WebSocket соединение установлено

components:
  schemas:
    Notification:
      type: object
      required:
        - id
        - player_id
        - type
        - title
        - message
        - created_at
        - status
      properties:
        id:
          type: string
          format: uuid
          description: Уникальный идентификатор уведомления
        player_id:
          type: string
          format: uuid
          description: ID игрока
        type:
          type: string
          enum: [system, achievement, quest, social, combat, economy, event]
          description: Тип уведомления
        title:
          type: string
          maxLength: 200
          description: Заголовок уведомления
        message:
          type: string
          maxLength: 2000
          description: Текст уведомления
        data:
          type: object
          description: Дополнительные данные уведомления
          additionalProperties: true
        status:
          type: string
          enum: [unread, read, archived]
          default: unread
          description: Статус уведомления
        priority:
          type: string
          enum: [low, normal, high, critical]
          default: normal
          description: Приоритет уведомления
        expires_at:
          type: string
          format: date-time
          description: Время истечения уведомления
        created_at:
          type: string
          format: date-time
          description: Время создания
        read_at:
          type: string
          format: date-time
          description: Время прочтения

    CreateNotificationRequest:
      type: object
      required:
        - player_id
        - type
        - title
        - message
      properties:
        player_id:
          type: string
          format: uuid
        type:
          type: string
          enum: [system, achievement, quest, social, combat, economy, event]
        title:
          type: string
          maxLength: 200
        message:
          type: string
          maxLength: 2000
        data:
          type: object
          additionalProperties: true
        priority:
          type: string
          enum: [low, normal, high, critical]
          default: normal
        expires_at:
          type: string
          format: date-time

    NotificationSettings:
      type: object
      properties:
        enable_push:
          type: boolean
          default: true
          description: Включить push-уведомления
        enable_email:
          type: boolean
          default: false
          description: Включить email уведомления
        enable_sms:
          type: boolean
          default: false
          description: Включить SMS уведомления
        notification_types:
          type: object
          properties:
            system:
              type: boolean
              default: true
            achievement:
              type: boolean
              default: true
            quest:
              type: boolean
              default: true
            social:
              type: boolean
              default: true
            combat:
              type: boolean
              default: true
            economy:
              type: boolean
              default: true
            event:
              type: boolean
              default: true
          description: Настройки по типам уведомлений

    BroadcastNotificationRequest:
      type: object
      required:
        - title
        - message
        - target_audience
      properties:
        title:
          type: string
          maxLength: 200
        message:
          type: string
          maxLength: 2000
        type:
          type: string
          enum: [system, event, maintenance]
          default: system
        target_audience:
          type: string
          enum: [all, active, premium]
          default: all
        priority:
          type: string
          enum: [low, normal, high, critical]
          default: normal
        expires_in_hours:
          type: integer
          minimum: 1
          maximum: 168
          default: 24

  responses:
    BadRequest:
      description: Неверный запрос
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              message:
                type: string

    Unauthorized:
      description: Не авторизован
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: unauthorized
              message:
                type: string
                example: Invalid or missing token

    Forbidden:
      description: Доступ запрещен
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: forbidden
              message:
                type: string
                example: Insufficient permissions

    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: not_found
              message:
                type: string
                example: Notification not found

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    serviceAuth:
      type: apiKey
      in: header
      name: X-Service-Token
    adminAuth:
      type: apiKey
      in: header
      name: X-Admin-Token
