openapi: 3.0.3
info:
  title: Player Market Orders API
  version: 1.0.0
  description: |
    API для системы ордеров на рынке игроков.
    
    Источник: .BRAIN/02-gameplay/economy/economy-player-market.md v1.0.0
    
    Система ордеров:
    - Buy orders (заявки на покупку)
    - Sell orders (заявки на продажу)
    - Order book (стакан заявок)
    - Price/time priority
    
    Типы ордеров:
    - Market orders (мгновенное исполнение)
    - Limit orders (исполнение при цене)
    
    Основной файл: player-market-core.yaml

  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Player Market Orders
    description: Система ордеров

paths:
  /gameplay/economy/player-market/orders/create:
    post:
      summary: Создать ордер
      description: |
        Создает новый ордер (buy или sell).
        Market order исполняется мгновенно, Limit - при достижении цены.
      operationId: createMarketOrder
      tags:
        - Player Market Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - side
                - item_id
                - quantity
                - order_type
              properties:
                character_id:
                  type: string
                side:
                  type: string
                  enum: [buy, sell]
                item_id:
                  type: string
                quantity:
                  type: integer
                  minimum: 1
                order_type:
                  type: string
                  enum: [market, limit]
                limit_price:
                  type: number
                  description: Для limit orders
                time_in_force:
                  type: string
                  enum: [GTC, IOC, FOK]
                  default: GTC
                  description: GTC=Good Till Cancel, IOC=Immediate Or Cancel, FOK=Fill Or Kill
            examples:
              limit_buy:
                summary: Limit Buy Order
                value:
                  character_id: "char_123"
                  side: "buy"
                  item_id: "rare_weapon_001"
                  quantity: 5
                  order_type: "limit"
                  limit_price: 4500
                  time_in_force: "GTC"
      responses:
        '200':
          description: Ордер создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResult'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/economy/player-market/orders/{order_id}/cancel:
    post:
      summary: Отменить ордер
      description: |
        Отменяет активный ордер.
        Можно отменить только pending или partially_filled ордера.
      operationId: cancelMarketOrder
      tags:
        - Player Market Orders
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
              properties:
                character_id:
                  type: string
      responses:
        '200':
          description: Ордер отменен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  order_id:
                    type: string
                  refund_amount:
                    type: number
                  refund_items:
                    type: array
                    items:
                      type: object

  /gameplay/economy/player-market/orders/{order_id}:
    get:
      summary: Получить детали ордера
      description: Возвращает детальную информацию об ордере
      operationId: getOrderDetails
      tags:
        - Player Market Orders
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Детали ордера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetails'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /gameplay/economy/player-market/orders/active:
    get:
      summary: Получить активные ордера
      description: Возвращает список активных ордеров персонажа
      operationId: getActiveOrders
      tags:
        - Player Market Orders
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
        - name: side
          in: query
          schema:
            type: string
            enum: [buy, sell]
      responses:
        '200':
          description: Активные ордера
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlayerOrder'

  /gameplay/economy/player-market/orders/history:
    get:
      summary: Получить историю ордеров
      description: Возвращает историю выполненных и отмененных ордеров
      operationId: getOrderHistory
      tags:
        - Player Market Orders
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: status
          in: query
          schema:
            type: string
            enum: [filled, cancelled, expired]
      responses:
        '200':
          description: История ордеров
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlayerOrder'

components:
  schemas:
    OrderResult:
      type: object
      properties:
        order_id:
          type: string
        status:
          type: string
          enum: [filled, partially_filled, pending]
        filled_quantity:
          type: integer
        remaining_quantity:
          type: integer
        average_price:
          type: number
        total_cost:
          type: number
        commission:
          type: number

    OrderDetails:
      allOf:
        - $ref: '#/components/schemas/PlayerOrder'
        - type: object
          properties:
            execution_history:
              type: array
              items:
                type: object
            time_remaining:
              type: number
              description: Оставшееся время (секунды, для GTC)

    PlayerOrder:
      type: object
      properties:
        order_id:
          type: string
        character_id:
          type: string
        side:
          type: string
          enum: [buy, sell]
        item_id:
          type: string
        quantity:
          type: integer
        filled_quantity:
          type: integer
        order_type:
          type: string
          enum: [market, limit]
        limit_price:
          type: number
        status:
          type: string
          enum: [pending, partially_filled, filled, cancelled, expired]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time


