openapi: 3.0.3
info:
  title: Achievement Service API
  description: '**Enterprise-grade API for Achievement System**


    ## Domain Purpose

    Achievement Service provides comprehensive achievement and reward system for NECPGAME
    platform with enterprise-grade performance and scalability.


    ## Performance Targets

    - P99 Latency: <30ms for all endpoints

    - Memory per Instance: <50KB baseline

    - Concurrent Users: 500,000+ supported

    - Uptime: 99.9% SLA


    ## Domain Inheritance

    This service inherits from game-entities.yaml providing:

    - Consistent base entity structure (id, timestamps, version)

    - Achievement progress tracking entities

    - Optimistic locking for concurrent operations

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/achievement
  description: Production environment
- url: https://staging-api.necpgame.com/v1/achievement
  description: Staging environment
- url: http://localhost:8080/api/v1/achievement
  description: Local development
security:
- BearerAuth: []
tags:
- name: Achievements
  description: Core achievement operations
- name: Progress Tracking
  description: Achievement progress management
- name: Rewards
  description: Reward distribution system
- name: Analytics
  description: Achievement analytics and reporting
- name: Health Monitoring
  description: Service health and performance monitoring
- name: Administration
  description: Administrative operations
paths:
  /health:
    get:
      operationId: achievementHealthCheck
      summary: Basic health check
      description: Returns service health status
      tags:
      - Health Monitoring
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: ../common/schemas/health.yaml#/HealthResponse
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../common/responses/error.yaml#/ServiceUnavailable
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /health/detailed:
    get:
      operationId: achievementDetailedHealthCheck
      summary: Detailed health check with metrics
      description: Returns comprehensive health status including performance metrics
      tags:
      - Health Monitoring
      responses:
        '200':
          description: Detailed health information
          content:
            application/json:
              schema:
                $ref: ../common/schemas/health.yaml#/DetailedHealthResponse
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../common/responses/error.yaml#/ServiceUnavailable
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /achievements:
    get:
      operationId: listAchievements
      summary: List achievements with filtering and pagination
      description: 'Retrieve a paginated list of achievements with advanced filtering
        options.


        **Performance Notes:**

        - Uses database indexes for efficient filtering

        - Implements cursor-based pagination for large datasets

        - Response cached for 30 seconds

        '
      tags:
      - Achievements
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Number of items to return
      - name: cursor
        in: query
        schema:
          type: string
        description: Pagination cursor
      - name: category
        in: query
        schema:
          type: string
          enum:
          - progress
          - milestone
          - challenge
          - seasonal
        description: Achievement category filter
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - inactive
          - deprecated
          default: active
        description: Achievement status filter
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: ../common/responses/success.yaml#/PaginatedResponse
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    post:
      operationId: createAchievement
      summary: Create a new achievement
      description: 'Create a new achievement with validation and business rules.


        **Business Rules:**

        - Validates all required fields

        - Applies domain-specific constraints

        - Generates audit trail

        '
      tags:
      - Achievements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAchievementRequest'
      responses:
        '201':
          description: Achievement created successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common/responses/success.yaml#/SuccessResponse
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Achievement'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /achievements/{achievementId}:
    get:
      operationId: getAchievement
      summary: Get achievement details
      description: Retrieve detailed information about a specific achievement
      tags:
      - Achievements
      parameters:
      - name: achievementId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Achievement unique identifier
      responses:
        '200':
          description: Achievement details
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common/responses/success.yaml#/SuccessResponse
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Achievement'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    put:
      operationId: updateAchievement
      summary: Update achievement
      description: Update achievement details with optimistic locking
      tags:
      - Achievements
      parameters:
      - name: achievementId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Achievement unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAchievementRequest'
      responses:
        '200':
          description: Achievement updated successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common/responses/success.yaml#/SuccessResponse
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Achievement'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /players/{playerId}/achievements:
    get:
      operationId: getPlayerAchievements
      summary: Get player's achievements
      description: Retrieve all achievements for a specific player with progress
      tags:
      - Progress Tracking
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Player unique identifier
      - name: status
        in: query
        schema:
          type: string
          enum:
          - locked
          - in_progress
          - completed
        description: Achievement progress status filter
      - name: category
        in: query
        schema:
          type: string
          enum:
          - progress
          - milestone
          - challenge
          - seasonal
        description: Achievement category filter
      responses:
        '200':
          description: Player achievements
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common/responses/success.yaml#/SuccessResponse
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/PlayerAchievement'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /players/{playerId}/achievements/check:
    post:
      operationId: checkPlayerAchievements
      summary: Check and update achievement progress
      description: 'Check player''s progress against all active achievements and update
        progress.

        This is called when player performs actions that may unlock achievements.

        '
      tags:
      - Progress Tracking
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Player unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAchievementsRequest'
      responses:
        '200':
          description: Achievement check completed
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common/responses/success.yaml#/SuccessResponse
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        unlocked:
                          type: array
                          items:
                            $ref: '#/components/schemas/AchievementUnlock'
                        progress_updated:
                          type: array
                          items:
                            $ref: '#/components/schemas/AchievementProgress'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /players/{playerId}/achievements/{achievementId}/unlock:
    post:
      operationId: unlockPlayerAchievement
      summary: Manually unlock achievement for player
      description: 'Manually unlock an achievement for a player (admin operation).

        Used for testing, events, or special promotions.

        '
      tags:
      - Progress Tracking
      - Administration
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Player unique identifier
      - name: achievementId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Achievement unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnlockAchievementRequest'
      responses:
        '200':
          description: Achievement unlocked successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common/responses/success.yaml#/SuccessResponse
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/AchievementUnlock'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /rewards/claim:
    post:
      operationId: claimRewards
      summary: Claim achievement rewards
      description: 'Claim rewards for completed achievements.

        Rewards are distributed automatically to player''s inventory/wallet.

        '
      tags:
      - Rewards
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimRewardsRequest'
      responses:
        '200':
          description: Rewards claimed successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common/responses/success.yaml#/SuccessResponse
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        claimed_rewards:
                          type: array
                          items:
                            $ref: '#/components/schemas/RewardClaim'
                        distribution_results:
                          type: array
                          items:
                            $ref: '#/components/schemas/DistributionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /analytics/achievements:
    get:
      operationId: getAchievementAnalytics
      summary: Get achievement analytics
      description: Retrieve analytics data for achievements and player engagement
      tags:
      - Analytics
      parameters:
      - name: period
        in: query
        schema:
          type: string
          enum:
          - day
          - week
          - month
          - quarter
          - year
          default: month
        description: Analytics period
      - name: category
        in: query
        schema:
          type: string
          enum:
          - progress
          - milestone
          - challenge
          - seasonal
        description: Achievement category filter
      responses:
        '200':
          description: Achievement analytics
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common/responses/success.yaml#/SuccessResponse
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/AchievementAnalytics'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
components:
  schemas:
    Achievement:
      allOf:
      - $ref: ../common/schemas/game-entities.yaml#/BaseEntity
      - type: object
        required:
        - name
        - description
        - category
        - requirements
        - rewards
        properties:
          name:
            type: string
            minLength: 1
            maxLength: 100
            description: Achievement display name
          description:
            type: string
            minLength: 1
            maxLength: 500
            description: Achievement description
          category:
            type: string
            enum:
            - progress
            - milestone
            - challenge
            - seasonal
            description: Achievement category
          requirements:
            type: object
            description: Achievement completion requirements
            properties:
              type:
                type: string
                enum:
                - count
                - threshold
                - combination
                - time_based
              target_value:
                type: number
                minimum: 1
              conditions:
                type: array
                items:
                  $ref: '#/components/schemas/AchievementCondition'
          rewards:
            type: array
            items:
              $ref: '#/components/schemas/AchievementReward'
            description: Rewards for completing achievement
          status:
            type: string
            enum:
            - active
            - inactive
            - deprecated
            default: active
            description: Achievement status
          max_progress:
            type: integer
            minimum: 1
            description: Maximum progress value for progress-based achievements
          is_hidden:
            type: boolean
            default: false
            description: Whether achievement is hidden until unlocked
          prerequisites:
            type: array
            items:
              type: string
              format: uuid
            description: IDs of prerequisite achievements
    AchievementSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        category:
          type: string
          enum:
          - progress
          - milestone
          - challenge
          - seasonal
        status:
          type: string
          enum:
          - active
          - inactive
          - deprecated
        is_hidden:
          type: boolean
        max_progress:
          type: integer
        created_at:
          type: string
          format: date-time
    AchievementCondition:
      type: object
      required:
      - type
      - target
      properties:
        type:
          type: string
          enum:
          - kill_count
          - score_threshold
          - item_collect
          - quest_complete
          - time_played
          - level_reached
        target:
          type: string
          description: Target entity (enemy type, item id, quest id, etc.)
        value:
          type: number
          minimum: 0
        operator:
          type: string
          enum:
          - equals
          - greater_than
          - less_than
          - greater_equal
          - less_equal
          default: greater_equal
    AchievementReward:
      type: object
      required:
      - type
      - value
      properties:
        type:
          type: string
          enum:
          - currency
          - item
          - title
          - cosmetic
          - experience
          - reputation
        value:
          oneOf:
          - type: number
          - type: string
          description: Reward value (amount or item ID)
        rarity:
          type: string
          enum:
          - common
          - uncommon
          - rare
          - epic
          - legendary
          description: Reward rarity (for display purposes)
    PlayerAchievement:
      allOf:
      - $ref: ../common/schemas/game-entities.yaml#/BaseEntity
      - type: object
        required:
        - player_id
        - achievement_id
        - status
        properties:
          player_id:
            type: string
            format: uuid
            description: Player unique identifier
          achievement_id:
            type: string
            format: uuid
            description: Achievement unique identifier
          status:
            type: string
            enum:
            - locked
            - in_progress
            - completed
            description: Achievement progress status
          current_progress:
            type: integer
            minimum: 0
            default: 0
            description: Current progress value
          completed_at:
            type: string
            format: date-time
            description: Completion timestamp
          unlocked_at:
            type: string
            format: date-time
            description: Unlock timestamp
          last_updated:
            type: string
            format: date-time
            description: Last progress update timestamp
    AchievementProgress:
      type: object
      required:
      - achievement_id
      - previous_progress
      - new_progress
      properties:
        achievement_id:
          type: string
          format: uuid
        previous_progress:
          type: integer
          minimum: 0
        new_progress:
          type: integer
          minimum: 0
        completed:
          type: boolean
          description: Whether achievement was completed in this update
    AchievementUnlock:
      allOf:
      - $ref: '#/components/schemas/AchievementProgress'
      - type: object
        properties:
          unlocked_at:
            type: string
            format: date-time
          rewards_claimed:
            type: boolean
            default: false
    CreateAchievementRequest:
      type: object
      required:
      - name
      - description
      - category
      - requirements
      - rewards
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          minLength: 1
          maxLength: 500
        category:
          type: string
          enum:
          - progress
          - milestone
          - challenge
          - seasonal
        requirements:
          $ref: '#/components/schemas/AchievementRequirements'
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/AchievementReward'
        max_progress:
          type: integer
          minimum: 1
        is_hidden:
          type: boolean
          default: false
        prerequisites:
          type: array
          items:
            type: string
            format: uuid
    UpdateAchievementRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          minLength: 1
          maxLength: 500
        requirements:
          $ref: '#/components/schemas/AchievementRequirements'
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/AchievementReward'
        status:
          type: string
          enum:
          - active
          - inactive
          - deprecated
        max_progress:
          type: integer
          minimum: 1
        is_hidden:
          type: boolean
    AchievementRequirements:
      type: object
      required:
      - type
      - target_value
      properties:
        type:
          type: string
          enum:
          - count
          - threshold
          - combination
          - time_based
        target_value:
          type: number
          minimum: 1
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/AchievementCondition'
    CheckAchievementsRequest:
      type: object
      required:
      - player_id
      - actions
      properties:
        player_id:
          type: string
          format: uuid
        actions:
          type: array
          items:
            $ref: '#/components/schemas/PlayerAction'
          description: Player actions that may trigger achievement progress
    PlayerAction:
      type: object
      required:
      - type
      - timestamp
      properties:
        type:
          type: string
          enum:
          - kill_enemy
          - collect_item
          - complete_quest
          - reach_level
          - play_time
          - score_points
        target:
          type: string
          description: Action target (enemy type, item id, quest id, etc.)
        value:
          type: number
          minimum: 0
          description: Action value (kill count, score, etc.)
        timestamp:
          type: string
          format: date-time
        metadata:
          type: object
          description: Additional action metadata
    UnlockAchievementRequest:
      type: object
      properties:
        reason:
          type: string
          enum:
          - admin_override
          - event_bonus
          - testing
          - promotion
          default: admin_override
        admin_notes:
          type: string
          maxLength: 500
        skip_prerequisites:
          type: boolean
          default: false
    ClaimRewardsRequest:
      type: object
      required:
      - player_id
      - achievement_ids
      properties:
        player_id:
          type: string
          format: uuid
        achievement_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          description: IDs of achievements to claim rewards for
    RewardClaim:
      type: object
      required:
      - achievement_id
      - rewards
      - claimed_at
      properties:
        achievement_id:
          type: string
          format: uuid
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/AchievementReward'
        claimed_at:
          type: string
          format: date-time
    DistributionResult:
      type: object
      required:
      - reward_type
      - success
      properties:
        reward_type:
          type: string
          enum:
          - currency
          - item
          - title
          - cosmetic
          - experience
          - reputation
        success:
          type: boolean
        distributed_to:
          type: string
          description: Target service/system where reward was distributed
        amount:
          type: number
          description: Amount distributed
        error_message:
          type: string
          description: Error message if distribution failed
    AchievementAnalytics:
      type: object
      properties:
        period:
          type: object
          properties:
            start_date:
              type: string
              format: date
            end_date:
              type: string
              format: date
        total_achievements:
          type: integer
        active_achievements:
          type: integer
        completion_stats:
          type: object
          properties:
            total_completions:
              type: integer
            unique_players:
              type: integer
            average_completion_time:
              type: string
              description: Average time to complete achievements
        category_breakdown:
          type: object
          additionalProperties:
            type: object
            properties:
              total:
                type: integer
              completions:
                type: integer
              completion_rate:
                type: number
                format: float
        top_achievements:
          type: array
          items:
            type: object
            properties:
              achievement_id:
                type: string
                format: uuid
              name:
                type: string
              completions:
                type: integer
              completion_rate:
                type: number
                format: float
  responses:
    BadRequest:
      description: Bad request - validation error
      content:
        application/json:
          schema:
            $ref: ../common/responses/error.yaml#/BadRequest
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: ../common/responses/error.yaml#/Unauthorized
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: ../common/responses/error.yaml#/Forbidden
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: ../common/responses/error.yaml#/NotFound
    Conflict:
      description: Resource conflict
      content:
        application/json:
          schema:
            $ref: ../common/responses/error.yaml#/Conflict
    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: ../common/responses/error.yaml#/TooManyRequests
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT Bearer token authentication

