openapi: 3.0.3
info:
  title: Achievement Service API
  description: '**Enterprise-grade API for Achievement System**


    ## Domain Purpose

    Achievement Service provides comprehensive achievement and reward system for NECPGAME
    platform with enterprise-grade performance and scalability.


    ## Performance Targets

    - P99 Latency: <30ms for all endpoints

    - Memory per Instance: <50KB baseline

    - Concurrent Users: 500,000+ supported

    - Uptime: 99.9% SLA


    ## Domain Inheritance

    This service inherits from game-entities.yaml providing:

    - Consistent base entity structure (id, timestamps, version)

    - Achievement progress tracking entities

    - Optimistic locking for concurrent operations

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/achievement
  description: Production environment
- url: https://staging-api.necpgame.com/v1/achievement
  description: Staging environment
- url: http://localhost:8080/api/v1/achievement
  description: Local development
security:
- BearerAuth: []
tags:
- name: Achievements
  description: Core achievement operations
- name: Progress Tracking
  description: Achievement progress management
- name: Rewards
  description: Reward distribution system
- name: Analytics
  description: Achievement analytics and reporting
- name: Health Monitoring
  description: Service health and performance monitoring
- name: Administration
  description: Administrative operations
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/detailed:
    $ref: ./paths/health-detailed.yaml#/paths/~1health~1detailed
  /achievements:
    $ref: ./paths/achievements.yaml#/paths/~1achievements
  /achievements/{achievementId}:
    $ref: ./paths/achievements-{achievementId}.yaml#/paths/~1achievements~1{achievementId}
  /players/{playerId}/achievements:
    $ref: ./paths/players-{playerId}-achievements.yaml#/paths/~1players~1{playerId}~1achievements
  /players/{playerId}/achievements/check:
    $ref: ./paths/players-{playerId}-achievements-check.yaml#/paths/~1players~1{playerId}~1achievements~1check
  /players/{playerId}/achievements/{achievementId}/unlock:
    $ref: ./paths/players-{playerId}-achievements-{achievementId}-unlock.yaml#/paths/~1players~1{playerId}~1achievements~1{achievementId}~1unlock
  /rewards/claim:
    $ref: ./paths/rewards-claim.yaml#/paths/~1rewards~1claim
  /analytics/achievements:
    $ref: ./paths/analytics-achievements.yaml#/paths/~1analytics~1achievements
components:
  schemas:
    Achievement:
      $ref: ./schemas/achievement-service-schemas.yaml#/components/schemas/Achievement
    AchievementSummary:
      $ref: ./schemas/achievement-service-schemas.yaml#/components/schemas/AchievementSummary
    AchievementCondition:
      $ref: ./schemas/achievement-service-schemas.yaml#/components/schemas/AchievementCondition
    AchievementReward:
      $ref: ./schemas/achievement-service-schemas.yaml#/components/schemas/AchievementReward
    PlayerAchievement:
      $ref: ./schemas/achievement-service-schemas.yaml#/components/schemas/PlayerAchievement
    AchievementProgress:
      $ref: ./schemas/achievement-service-schemas.yaml#/components/schemas/AchievementProgress
    AchievementUnlock:
      $ref: ./schemas/achievement-service-schemas.yaml#/components/schemas/AchievementUnlock
    CreateAchievementRequest:
      $ref: ./schemas/achievement-service-schemas.yaml#/components/schemas/CreateAchievementRequest
    UpdateAchievementRequest:
      $ref: ./schemas/achievement-service-schemas.yaml#/components/schemas/UpdateAchievementRequest
    AchievementRequirements:
      $ref: ./schemas/achievement-service-schemas.yaml#/components/schemas/AchievementRequirements
    CheckAchievementsRequest:
      $ref: ./schemas/achievement-service-schemas.yaml#/components/schemas/CheckAchievementsRequest
    PlayerAction:
      $ref: ./schemas/achievement-service-schemas.yaml#/components/schemas/PlayerAction
    UnlockAchievementRequest:
      $ref: ./schemas/achievement-service-schemas.yaml#/components/schemas/UnlockAchievementRequest
    ClaimRewardsRequest:
      $ref: ./schemas/achievement-service-schemas.yaml#/components/schemas/ClaimRewardsRequest
    RewardClaim:
      $ref: ./schemas/achievement-service-schemas.yaml#/components/schemas/RewardClaim
    DistributionResult:
      $ref: ./schemas/achievement-service-schemas.yaml#/components/schemas/DistributionResult
    AchievementAnalytics:
      $ref: ./schemas/achievement-service-schemas.yaml#/components/schemas/AchievementAnalytics
  responses:
    BadRequest:
      $ref: ./schemas/achievement-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/achievement-service-responses.yaml#/components/responses/Unauthorized
    Forbidden:
      $ref: ./schemas/achievement-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/achievement-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/achievement-service-responses.yaml#/components/responses/Conflict
    TooManyRequests:
      $ref: ./schemas/achievement-service-responses.yaml#/components/responses/TooManyRequests
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT Bearer token authentication
