openapi: 3.0.3
info:
  title: Ability Service API
  description: '**Enterprise-grade API for Character Abilities and Skills Management**


    ## Domain Purpose

    Comprehensive ability management service providing character progression, skill
    trees,

    cooldown systems, and real-time ability activation for the NECPGAME platform.


    ## Business Value

    - Real-time ability activation and synchronization

    - Complex skill tree and progression systems

    - Performance-optimized cooldown and resource management

    - Enterprise-grade scalability for millions of concurrent players

    - Advanced combo and talent systems


    ## Performance Targets

    - P99 Latency: <30ms for ability activation

    - Throughput: 50,000+ ability activations per second

    - Concurrent Abilities: 500,000+ active abilities supported

    - Memory per Character: <5KB for ability storage


    ## Domain Inheritance

    This service inherits from game-entities.yaml providing:

    - Ability templates as game entities with versioning

    - Character ability progression tracking

    - Combat action integration for ability usage

    - Effect system integration for ability effects

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/ability-service
  description: Production environment
- url: https://staging-api.necpgame.com/v1/ability-service
  description: Staging environment
- url: http://localhost:8080/api/v1/ability-service
  description: Local development
security:
- BearerAuth: []
tags:
- name: Ability Activation
  description: Core ability activation and execution operations
- name: Character Abilities
  description: Character-specific ability management
- name: Skill Trees
  description: Skill tree and progression systems
- name: Ability Templates
  description: Ability template creation and management
- name: Combo Systems
  description: Combo and sequence management
- name: Analytics & Balancing
  description: Ability usage analytics and balancing tools
- name: Health Monitoring
  description: Service health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /abilities/activate:
    $ref: ./paths/abilities-activate.yaml#/paths/~1abilities~1activate
  /abilities/cancel:
    $ref: ./paths/abilities-cancel.yaml#/paths/~1abilities~1cancel
  /characters/{characterId}/abilities:
    $ref: ./paths/characters-{characterId}-abilities.yaml#/paths/~1characters~1{characterId}~1abilities
  /characters/{characterId}/abilities/learn:
    $ref: ./paths/characters-{characterId}-abilities-learn.yaml#/paths/~1characters~1{characterId}~1abilities~1learn
  /characters/{characterId}/abilities/upgrade:
    $ref: ./paths/characters-{characterId}-abilities-upgrade.yaml#/paths/~1characters~1{characterId}~1abilities~1upgrade
  /characters/{characterId}/abilities/reset:
    $ref: ./paths/characters-{characterId}-abilities-reset.yaml#/paths/~1characters~1{characterId}~1abilities~1reset
  /skill-trees/{treeId}:
    $ref: ./paths/skill-trees-{treeId}.yaml#/paths/~1skill-trees~1{treeId}
  /skill-trees/{treeId}/progress:
    $ref: ./paths/skill-trees-{treeId}-progress.yaml#/paths/~1skill-trees~1{treeId}~1progress
  /skill-trees/{treeId}/abilities/{abilityId}/unlock:
    $ref: ./paths/skill-trees-{treeId}-abilities-{abilityId}-unlock.yaml#/paths/~1skill-trees~1{treeId}~1abilities~1{abilityId}~1unlock
  /combos/validate:
    $ref: ./paths/combos-validate.yaml#/paths/~1combos~1validate
  /templates:
    $ref: ./paths/templates.yaml#/paths/~1templates
  /analytics/usage:
    $ref: ./paths/analytics-usage.yaml#/paths/~1analytics~1usage
components:
  schemas:
    CharacterAbility:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/CharacterAbility
    AbilityTemplate:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/AbilityTemplate
    SkillTree:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/SkillTree
    SkillTreeProgress:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/SkillTreeProgress
    AbilityActivationResult:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/AbilityActivationResult
    AbilityDamageConfig:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/AbilityDamageConfig
    AbilityTargetingConfig:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/AbilityTargetingConfig
    AbilityProgressionConfig:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/AbilityProgressionConfig
    SkillTreeNode:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/SkillTreeNode
    ResourceAmount:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/ResourceAmount
    CharacterAbilitySummary:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/CharacterAbilitySummary
    AbilityUsageAnalytics:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/AbilityUsageAnalytics
    AbilityTemplateSummary:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/AbilityTemplateSummary
    ActivateAbilityRequest:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/ActivateAbilityRequest
    LearnAbilityRequest:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/LearnAbilityRequest
    UpgradeAbilityRequest:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/UpgradeAbilityRequest
    ValidateComboRequest:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/ValidateComboRequest
    ComboValidationResult:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/ComboValidationResult
    CreateAbilityTemplateRequest:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/CreateAbilityTemplateRequest
  responses:
    OK:
      $ref: ./schemas/ability-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/ability-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/ability-service-responses.yaml#/components/responses/Updated
    BadRequest:
      $ref: ./schemas/ability-service-responses.yaml#/components/responses/BadRequest
    NotFound:
      $ref: ./schemas/ability-service-responses.yaml#/components/responses/NotFound
    Forbidden:
      $ref: ./schemas/ability-service-responses.yaml#/components/responses/Forbidden
    TooManyRequests:
      $ref: ./schemas/ability-service-responses.yaml#/components/responses/TooManyRequests
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
