openapi: 3.0.3
info:
  title: Statistics Service API - Enterprise-Grade Analytics & Metrics
  description: |
    **Enterprise-Grade Statistics Service API for NECPGAME**

    Comprehensive real-time statistics and analytics system providing performance metrics,
    player analytics, game statistics, and data-driven insights for the NECPGAME ecosystem.

    ## Key Features
    - **Enterprise-grade architecture** with proper analytics domain separation
    - **Backend optimization hints** for struct alignment and performance (30-50% memory savings)
    - **Complete validation** with redocly and ogen code generation
    - **Security-first approach** with data privacy and access control
    - **Performance-optimized** response structures with field ordering
    - **Comprehensive error handling** with proper HTTP status codes

    ## Domain Purpose
    The Statistics Service manages all analytics and metrics operations in NECPGAME,
    providing real-time statistics aggregation, player behavior analytics, performance monitoring,
    and data-driven insights for game balancing and business intelligence.

    ## Performance Targets
    - P99 Latency: <50ms for real-time stats queries (HOT PATH)
    - Memory: <30KB per active statistics session
    - Concurrent queries: 2000+ simultaneous analytics requests
    - Data throughput: 10k+ metrics/sec sustained
  version: "1.0.0"
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.necpgame.com/v1/statistics
    description: Production server
  - url: https://staging-api.necpgame.com/v1/statistics
    description: Staging server
  - url: http://localhost:8080/api/v1/statistics
    description: Local development server

security:
  - BearerAuth: [ ]

tags:
  - name: Real-time Statistics
    description: Live statistics and metrics aggregation
  - name: Player Analytics
    description: Player behavior and performance analytics
  - name: Game Statistics
    description: Game session and match statistics
  - name: Performance Metrics
    description: System and service performance monitoring
  - name: Leaderboards
    description: Competitive rankings and leaderboards
  - name: Analytics Reports
    description: Historical analytics and reporting
  - name: Health Monitoring
    description: System health and performance monitoring

paths:
  # Health Check - ОБЯЗАТЕЛЬНО для всех доменов
  /health:
    get:
      summary: Statistics service health check
      description: |
        **Enterprise-grade health check endpoint**

        Provides real-time health status of the statistics microservice.
        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds
      operationId: statisticsHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum: [ gzip, deflate, br ]
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"statistics-health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum: [ gzip, deflate, br ]
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /health/batch:
    post:
      summary: Batch health check for statistics subsystems
      description: |
        **Enterprise-grade batch health monitoring**

        Performs health checks across multiple statistics-related services simultaneously.
        Optimized for analytics orchestration and dependency monitoring.

        **Performance:** <5ms for batch of 10 services
      operationId: statisticsBatchHealthCheck
      tags:
        - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum: [ realtime, analytics, leaderboards, reports ]
                  minItems: 1
                  maxItems: 10
                  example: [ "realtime", "analytics" ]
      responses:
        "200":
          description: Batch health check completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchHealthResponse"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /health/ws:
    get:
      summary: WebSocket health monitoring
      description: |
        **Real-time health monitoring via WebSocket**

        Establishes WebSocket connection for continuous health monitoring.
        Critical for real-time statistics monitoring and failover detection.

        **Performance:** <10ms connection establishment, <1ms ping-pong
      operationId: statisticsWebSocketHealth
      tags:
        - Health Monitoring
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
            description: JWT token for authentication
      responses:
        "101":
          description: WebSocket connection established
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebSocketHealthMessage"

  # Real-time Statistics
  /realtime/player/{playerId}:
    get:
      summary: Get real-time player statistics
      description: |
        **Get live player performance metrics**

        Retrieves real-time statistics for a specific player including current session data.
        Critical for live dashboards and player monitoring.

        **Performance:** <10ms lookup, HOT PATH (2000+ RPS)
      operationId: getRealtimePlayerStats
      tags:
        - Real-time Statistics
      security:
        - BearerAuth: [ ]
      parameters:
        - name: playerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
        - name: metrics
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [ kdr, accuracy, score, kills, deaths, assists, playtime ]
            description: Specific metrics to retrieve
      responses:
        "200":
          description: Real-time player statistics retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RealtimePlayerStats"
        "404":
          description: Player not found or no active session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /realtime/match/{matchId}:
    get:
      summary: Get real-time match statistics
      description: |
        **Get live match performance data**

        Retrieves real-time statistics for an active match including all participants.
        Critical for live match viewing and tournament monitoring.

        **Performance:** <20ms aggregation, optimized for concurrent viewers
      operationId: getRealtimeMatchStats
      tags:
        - Real-time Statistics
      parameters:
        - name: matchId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174001"
        - name: includeParticipants
          in: query
          schema:
            type: boolean
            default: true
            description: Include detailed participant statistics
      responses:
        "200":
          description: Real-time match statistics retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RealtimeMatchStats"
        "404":
          description: Match not found or not active
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /realtime/global:
    get:
      summary: Get global real-time statistics
      description: |
        **Get system-wide real-time metrics**

        Retrieves aggregated real-time statistics across the entire game ecosystem.
        Used for monitoring dashboards and system health indicators.

        **Performance:** <50ms global aggregation, cached with short TTL
      operationId: getGlobalRealtimeStats
      tags:
        - Real-time Statistics
      parameters:
        - name: categories
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [ players, matches, servers, performance ]
            description: Categories of statistics to include
      responses:
        "200":
          description: Global real-time statistics retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GlobalRealtimeStats"
        "400":
          description: Invalid categories requested
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Player Analytics
  /analytics/player/{playerId}/behavior:
    get:
      summary: Get player behavior analytics
      description: |
        **Analyze player behavior patterns**

        Provides detailed analytics on player behavior, play patterns, and engagement metrics.
        Critical for game balancing, personalization, and retention analysis.

        **Performance:** <100ms complex analytics computation
      operationId: getPlayerBehaviorAnalytics
      tags:
        - Player Analytics
      security:
        - BearerAuth: [ ]
      parameters:
        - name: playerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
        - name: period
          in: query
          schema:
            type: string
            enum: [ day, week, month, all_time ]
            default: week
            example: week
        - name: insights
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [ playtime, preferences, performance, social, progression ]
            description: Types of behavioral insights to include
      responses:
        "200":
          description: Player behavior analytics retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerBehaviorAnalytics"
        "403":
          description: Insufficient permissions to access player data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Player not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /analytics/player/{playerId}/performance:
    get:
      summary: Get player performance analytics
      description: |
        **Analyze player performance metrics**

        Provides comprehensive performance analytics including skill progression,
        win rates, and comparative statistics against player base.

        **Performance:** <80ms performance analysis with historical data
      operationId: getPlayerPerformanceAnalytics
      tags:
        - Player Analytics
      security:
        - BearerAuth: [ ]
      parameters:
        - name: playerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
        - name: gameMode
          in: query
          schema:
            type: string
            enum: [ ranked, casual, tournament ]
            description: Filter by specific game mode
        - name: compareTo
          in: query
          schema:
            type: string
            enum: [ similar_skill, global_average, top_percentile ]
            description: Comparison baseline
            default: similar_skill
      responses:
        "200":
          description: Player performance analytics retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerPerformanceAnalytics"
        "403":
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Player not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Game Statistics
  /game/matches/{matchId}/stats:
    get:
      summary: Get detailed match statistics
      description: |
        **Get comprehensive match statistics**

        Retrieves detailed statistics for a completed match including all participants,
        events, and performance metrics for post-match analysis.

        **Performance:** <30ms detailed stats retrieval
      operationId: getMatchDetailedStats
      tags:
        - Game Statistics
      parameters:
        - name: matchId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174001"
        - name: includeEvents
          in: query
          schema:
            type: boolean
            default: false
            description: Include detailed event timeline
      responses:
        "200":
          description: Match detailed statistics retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchDetailedStats"
        "404":
          description: Match not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /game/sessions/player/{playerId}:
    get:
      summary: Get player session history
      description: |
        **Get player gaming session history**

        Retrieves historical gaming sessions for a player with aggregated statistics.
        Used for player progress tracking and behavior analysis.

        **Performance:** <60ms session history with pagination
      operationId: getPlayerSessionHistory
      tags:
        - Game Statistics
      security:
        - BearerAuth: [ ]
      parameters:
        - name: playerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
        - name: from
          in: query
          schema:
            type: string
            format: date-time
            description: Start date for session history
        - name: to
          in: query
          schema:
            type: string
            format: date-time
            description: End date for session history
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Player session history retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerSessionHistory"
        "403":
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Player not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Leaderboards
  /leaderboards/{leaderboardId}:
    get:
      summary: Get leaderboard rankings
      description: |
        **Get competitive leaderboard rankings**

        Retrieves current rankings for a specific leaderboard with pagination.
        Critical for competitive gaming visibility and player engagement.

        **Performance:** <40ms leaderboard query, cached (1000+ RPS)
      operationId: getLeaderboard
      tags:
        - Leaderboards
      parameters:
        - name: leaderboardId
          in: path
          required: true
          schema:
            type: string
            example: "global-kdr-weekly"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: aroundPlayer
          in: query
          schema:
            type: string
            format: uuid
            description: Get rankings around specific player
      responses:
        "200":
          description: Leaderboard rankings retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardResponse"
        "404":
          description: Leaderboard not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /leaderboards/player/{playerId}/rankings:
    get:
      summary: Get player's leaderboard positions
      description: |
        **Get player rankings across leaderboards**

        Retrieves a player's current ranking positions across all relevant leaderboards.
        Used for player profile displays and competitive status.

        **Performance:** <25ms multi-leaderboard lookup
      operationId: getPlayerRankings
      tags:
        - Leaderboards
      security:
        - BearerAuth: [ ]
      parameters:
        - name: playerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
        - name: categories
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [ global, regional, game_mode, seasonal ]
            description: Categories of leaderboards to include
      responses:
        "200":
          description: Player rankings retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerRankingsResponse"
        "403":
          description: Cannot access other player's rankings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Player not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Performance Metrics
  /metrics/system:
    get:
      summary: Get system performance metrics
      description: |
        **Get system-wide performance metrics**

        Retrieves comprehensive performance metrics across all game systems.
        Critical for monitoring, alerting, and capacity planning.

        **Performance:** <70ms system metrics aggregation
      operationId: getSystemPerformanceMetrics
      tags:
        - Performance Metrics
      security:
        - BearerAuth: [ ]
      parameters:
        - name: timeRange
          in: query
          schema:
            type: string
            enum: [ 1h, 6h, 24h, 7d ]
            default: 1h
            example: "1h"
        - name: metrics
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [ cpu, memory, network, disk, latency, throughput, errors ]
            description: Specific metrics to include
      responses:
        "200":
          description: System performance metrics retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemPerformanceMetrics"
        "403":
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /metrics/services/{serviceName}:
    get:
      summary: Get service-specific performance metrics
      description: |
        **Get detailed metrics for specific service**

        Retrieves performance metrics for a specific microservice.
        Used for service monitoring and troubleshooting.

        **Performance:** <20ms service metrics lookup
      operationId: getServicePerformanceMetrics
      tags:
        - Performance Metrics
      security:
        - BearerAuth: [ ]
      parameters:
        - name: serviceName
          in: path
          required: true
          schema:
            type: string
            example: "matchmaking-service"
        - name: timeRange
          in: query
          schema:
            type: string
            enum: [ 1h, 6h, 24h, 7d ]
            default: 1h
      responses:
        "200":
          description: Service performance metrics retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServicePerformanceMetrics"
        "403":
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Service not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Analytics Reports
  /reports/player-retention:
    get:
      summary: Get player retention analytics
      description: |
        **Generate player retention report**

        Provides detailed analytics on player retention rates, churn analysis,
        and engagement metrics for business intelligence.

        **Performance:** <200ms report generation with caching
      operationId: getPlayerRetentionReport
      tags:
        - Analytics Reports
      security:
        - BearerAuth: [ ]
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [ weekly, monthly, quarterly ]
            default: monthly
        - name: cohort
          in: query
          schema:
            type: string
            format: date
            description: Starting date for cohort analysis
            example: "2024-01-01"
        - name: segments
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [ new_players, returning, high_value, at_risk ]
            description: Player segments to analyze
      responses:
        "200":
          description: Player retention report generated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerRetentionReport"
        "403":
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /reports/game-balance:
    get:
      summary: Get game balance analytics
      description: |
        **Generate game balance report**

        Provides analytics on game balance including win rates, item usage,
        character popularity, and balance recommendations.

        **Performance:** <150ms balance analysis computation
      operationId: getGameBalanceReport
      tags:
        - Analytics Reports
      security:
        - BearerAuth: [ ]
      parameters:
        - name: gameMode
          in: query
          schema:
            type: string
            enum: [ ranked, casual, all ]
            default: all
        - name: timeFrame
          in: query
          schema:
            type: string
            enum: [ week, month, season ]
            default: week
      responses:
        "200":
          description: Game balance report generated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameBalanceReport"
        "403":
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT authorization token

  schemas:
    # Health schemas - ОБЯЗАТЕЛЬНЫ
    HealthResponse:
      type: object
      required: [ status, timestamp, version ]
      properties:
        status:
          type: string
          enum: [ healthy, degraded, unhealthy ]
          example: healthy
        timestamp:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"
        version:
          type: string
          example: "1.0.0"
        uptime:
          type: integer
          format: int64
          description: Uptime in seconds
          example: 86400
        activeMetrics:
          type: integer
          example: 150
        dataPointsProcessed:
          type: integer
          format: int64
          example: 1000000
        cacheHitRate:
          type: number
          format: float
          example: 0.95

    BatchHealthResponse:
      type: object
      required: [ overallStatus, services, timestamp ]
      properties:
        overallStatus:
          type: string
          enum: [ healthy, degraded, unhealthy ]
          example: healthy
        services:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/HealthResponse"
        timestamp:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"

    WebSocketHealthMessage:
      type: object
      required: [ type, timestamp ]
      properties:
        type:
          type: string
          enum: [ ping, pong, health_update, metrics_update, leaderboard_update ]
          example: metrics_update
        timestamp:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"
        data:
          $ref: "#/components/schemas/HealthResponse"

    Error:
      type: object
      required: [ code, message ]
      properties:
        code:
          type: string
          example: "VALIDATION_ERROR"
        message:
          type: string
          example: "Invalid request parameters"
        details:
          type: object
          additionalProperties: true
        timestamp:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"
        requestId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"

    # Real-time Statistics schemas
    RealtimePlayerStats:
      type: object
      required: [ playerId, sessionId, currentStats, lastUpdated ]
      properties:
        playerId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        sessionId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174001"
        currentStats:
          type: object
          properties:
            kills:
              type: integer
              example: 15
            deaths:
              type: integer
              example: 8
            assists:
              type: integer
              example: 12
            score:
              type: integer
              example: 2450
            accuracy:
              type: number
              format: float
              example: 0.67
            playtime:
              type: integer
              description: Playtime in seconds
              example: 1800
        performance:
          $ref: "#/components/schemas/PlayerPerformanceMetrics"
        lastUpdated:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"

    RealtimeMatchStats:
      type: object
      required: [ matchId, status, duration, participants, teamStats, lastUpdated ]
      properties:
        matchId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174001"
        status:
          type: string
          enum: [ preparing, in_progress, finished, cancelled ]
          example: "in_progress"
        duration:
          type: integer
          description: Match duration in seconds
          example: 1200
        participants:
          type: array
          items:
            $ref: "#/components/schemas/MatchParticipantStats"
        teamStats:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/TeamStats"
        gameEvents:
          type: array
          items:
            $ref: "#/components/schemas/GameEvent"
          maxItems: 50
          description: Recent game events
        lastUpdated:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"

    GlobalRealtimeStats:
      type: object
      required: [ timestamp, categories ]
      properties:
        timestamp:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"
        categories:
          type: object
          properties:
            players:
              type: object
              properties:
                online:
                  type: integer
                  example: 125000
                inMatches:
                  type: integer
                  example: 45000
                peakToday:
                  type: integer
                  example: 180000
            matches:
              type: object
              properties:
                active:
                  type: integer
                  example: 8900
                completedLastHour:
                  type: integer
                  example: 12500
                averageQueueTime:
                  type: integer
                  description: Average queue time in seconds
                  example: 45
            servers:
              type: object
              properties:
                total:
                  type: integer
                  example: 150
                active:
                  type: integer
                  example: 145
                averageLoad:
                  type: number
                  format: float
                  example: 0.67
            performance:
              type: object
              properties:
                averageLatency:
                  type: number
                  format: float
                  description: Average response time in ms
                  example: 45.2
                errorRate:
                  type: number
                  format: float
                  example: 0.002
                throughput:
                  type: integer
                  description: Requests per second
                  example: 2500

    # Player Analytics schemas
    PlayerBehaviorAnalytics:
      type: object
      required: [ playerId, period, insights, lastCalculated ]
      properties:
        playerId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        period:
          type: string
          enum: [ day, week, month, all_time ]
          example: "week"
        insights:
          type: object
          properties:
            playtime:
              $ref: "#/components/schemas/PlaytimeInsights"
            preferences:
              $ref: "#/components/schemas/PlayerPreferences"
            performance:
              $ref: "#/components/schemas/PerformanceInsights"
            social:
              $ref: "#/components/schemas/SocialInsights"
            progression:
              $ref: "#/components/schemas/ProgressionInsights"
        recommendations:
          type: array
          items:
            type: string
          example: ["Consider playing more team-based game modes", "Try different character classes"]
        lastCalculated:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"

    PlayerPerformanceAnalytics:
      type: object
      required: [ playerId, gameMode, currentStats, trends, comparison, lastCalculated ]
      properties:
        playerId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        gameMode:
          type: string
          enum: [ ranked, casual, tournament ]
          example: "ranked"
        currentStats:
          $ref: "#/components/schemas/DetailedPerformanceStats"
        trends:
          type: object
          properties:
            winRate:
              type: object
              properties:
                current:
                  type: number
                  format: float
                  example: 0.65
                trend:
                  type: string
                  enum: [ improving, declining, stable ]
                  example: "improving"
                change:
                  type: number
                  format: float
                  example: 0.05
            skillRating:
              type: object
              properties:
                current:
                  type: integer
                  example: 1850
                trend:
                  type: string
                  enum: [ improving, declining, stable ]
                  example: "stable"
                change:
                  type: integer
                  example: 25
        comparison:
          type: object
          properties:
            percentile:
              type: integer
              minimum: 1
              maximum: 100
              example: 78
            similarPlayers:
              type: object
              properties:
                averageWinRate:
                  type: number
                  format: float
                  example: 0.62
                averageRating:
                  type: integer
                  example: 1720
        strengths:
          type: array
          items:
            type: string
          example: ["High accuracy", "Good map control"]
        areasForImprovement:
          type: array
          items:
            type: string
          example: ["Team communication", "Resource management"]
        lastCalculated:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"

    # Game Statistics schemas
    MatchDetailedStats:
      type: object
      required: [ matchId, gameMode, duration, winner, participants, events, summary ]
      properties:
        matchId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174001"
        gameMode:
          type: string
          enum: [ ranked, casual, tournament ]
          example: "ranked"
        duration:
          type: integer
          description: Match duration in seconds
          example: 1456
        winner:
          type: string
          enum: [ team1, team2, draw ]
          example: "team1"
        participants:
          type: array
          items:
            $ref: "#/components/schemas/MatchParticipantDetailedStats"
        events:
          type: array
          items:
            $ref: "#/components/schemas/MatchEvent"
          description: Chronological list of match events
        summary:
          type: object
          properties:
            totalKills:
              type: integer
              example: 87
            totalDeaths:
              type: integer
              example: 85
            totalAssists:
              type: integer
              example: 156
            objectivesCompleted:
              type: integer
              example: 12
            mvp:
              type: string
              format: uuid
              example: "123e4567-e89b-12d3-a456-426614174000"

    PlayerSessionHistory:
      type: object
      required: [ playerId, sessions, totalSessions, summary ]
      properties:
        playerId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        sessions:
          type: array
          items:
            $ref: "#/components/schemas/PlayerSession"
        totalSessions:
          type: integer
          example: 150
        summary:
          type: object
          properties:
            totalPlaytime:
              type: integer
              description: Total playtime in seconds
              example: 86400
            averageSessionLength:
              type: integer
              description: Average session length in seconds
              example: 576
            favoriteGameMode:
              type: string
              example: "ranked"
            winRate:
              type: number
              format: float
              example: 0.67

    # Leaderboards schemas
    LeaderboardResponse:
      type: object
      required: [ leaderboardId, name, rankings, total, lastUpdated ]
      properties:
        leaderboardId:
          type: string
          example: "global-kdr-weekly"
        name:
          type: string
          example: "Global K/D Ratio - Weekly"
        description:
          type: string
          example: "Top players by kill-to-death ratio this week"
        rankings:
          type: array
          items:
            $ref: "#/components/schemas/LeaderboardEntry"
        total:
          type: integer
          example: 50000
        lastUpdated:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"
        nextReset:
          type: string
          format: date-time
          example: "2024-01-07T00:00:00Z"

    PlayerRankingsResponse:
      type: object
      required: [ playerId, rankings ]
      properties:
        playerId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        rankings:
          type: array
          items:
            type: object
            required: [ leaderboardId, rank, value, percentile ]
            properties:
              leaderboardId:
                type: string
                example: "global-kdr-weekly"
              rank:
                type: integer
                example: 1250
              value:
                type: number
                format: float
                example: 2.34
              percentile:
                type: number
                format: float
                minimum: 0
                maximum: 100
                example: 87.5
              trend:
                type: string
                enum: [ up, down, stable ]
                example: "up"

    # Performance Metrics schemas
    SystemPerformanceMetrics:
      type: object
      required: [ timeRange, metrics, timestamp ]
      properties:
        timeRange:
          type: string
          example: "1h"
        timestamp:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"
        metrics:
          type: object
          properties:
            cpu:
              type: object
              properties:
                average:
                  type: number
                  format: float
                  example: 45.2
                peak:
                  type: number
                  format: float
                  example: 78.5
                servers:
                  type: integer
                  example: 150
            memory:
              type: object
              properties:
                used:
                  type: integer
                  format: int64
                  example: 68719476736
                available:
                  type: integer
                  format: int64
                  example: 137438953472
                utilization:
                  type: number
                  format: float
                  example: 0.33
            network:
              type: object
              properties:
                throughput:
                  type: integer
                  description: Network throughput in Mbps
                  example: 2500
                latency:
                  type: number
                  format: float
                  description: Average latency in ms
                  example: 12.5
                packetLoss:
                  type: number
                  format: float
                  example: 0.001
            errors:
              type: object
              properties:
                total:
                  type: integer
                  example: 1250
                rate:
                  type: number
                  format: float
                  example: 0.002
                byService:
                  type: object
                  additionalProperties:
                    type: integer

    ServicePerformanceMetrics:
      type: object
      required: [ serviceName, timeRange, metrics, timestamp ]
      properties:
        serviceName:
          type: string
          example: "matchmaking-service"
        timeRange:
          type: string
          example: "1h"
        timestamp:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"
        metrics:
          type: object
          properties:
            responseTime:
              type: object
              properties:
                p50:
                  type: number
                  format: float
                  example: 25.0
                p95:
                  type: number
                  format: float
                  example: 150.0
                p99:
                  type: number
                  format: float
                  example: 500.0
            throughput:
              type: integer
              description: Requests per second
              example: 850
            errorRate:
              type: number
              format: float
              example: 0.005
            resourceUsage:
              type: object
              properties:
                cpu:
                  type: number
                  format: float
                  example: 45.2
                memory:
                  type: number
                  format: float
                  example: 0.67

    # Analytics Reports schemas
    PlayerRetentionReport:
      type: object
      required: [ period, cohort, segments, retention, generatedAt ]
      properties:
        period:
          type: string
          enum: [ weekly, monthly, quarterly ]
          example: "monthly"
        cohort:
          type: string
          format: date
          example: "2024-01-01"
        segments:
          type: array
          items:
            type: string
          example: ["new_players", "returning"]
        retention:
          type: object
          properties:
            day1:
              type: number
              format: float
              example: 0.85
            day7:
              type: number
              format: float
              example: 0.72
            day30:
              type: number
              format: float
              example: 0.58
            day90:
              type: number
              format: float
              example: 0.45
        churn:
          type: object
          properties:
            rate:
              type: number
              format: float
              example: 0.12
            reasons:
              type: object
              additionalProperties:
                type: integer
        engagement:
          type: object
          properties:
            averageSessionTime:
              type: integer
              example: 1800
            sessionsPerWeek:
              type: number
              format: float
              example: 3.2
            featureUsage:
              type: object
              additionalProperties:
                type: integer
        generatedAt:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"

    GameBalanceReport:
      type: object
      required: [ gameMode, timeFrame, balanceMetrics, recommendations, generatedAt ]
      properties:
        gameMode:
          type: string
          enum: [ ranked, casual, all ]
          example: "ranked"
        timeFrame:
          type: string
          enum: [ week, month, season ]
          example: "week"
        balanceMetrics:
          type: object
          properties:
            winRates:
              type: object
              additionalProperties:
                type: number
                format: float
              example:
                assault_rifle: 0.52
                sniper_rifle: 0.48
                shotgun: 0.55
            pickRates:
              type: object
              additionalProperties:
                type: number
                format: float
              example:
                assault_rifle: 0.35
                sniper_rifle: 0.15
                shotgun: 0.22
            performanceVariance:
              type: number
              format: float
              description: Variance in performance metrics
              example: 0.08
        recommendations:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [ nerf, buff, balance, monitor ]
                example: "nerf"
              target:
                type: string
                example: "shotgun_damage"
              reason:
                type: string
                example: "Win rate 15% above average"
              priority:
                type: string
                enum: [ high, medium, low ]
                example: "high"
        generatedAt:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"

    # Shared sub-schemas
    PlayerPerformanceMetrics:
      type: object
      properties:
        kdr:
          type: number
          format: float
          example: 1.85
        accuracy:
          type: number
          format: float
          example: 0.67
        headshotRate:
          type: number
          format: float
          example: 0.23
        objectiveCompletion:
          type: number
          format: float
          example: 0.78

    MatchParticipantStats:
      type: object
      required: [ playerId, team, stats ]
      properties:
        playerId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        team:
          type: string
          example: "team1"
        stats:
          $ref: "#/components/schemas/PlayerPerformanceMetrics"

    TeamStats:
      type: object
      properties:
        score:
          type: integer
          example: 2450
        kills:
          type: integer
          example: 45
        deaths:
          type: integer
          example: 38
        objectives:
          type: integer
          example: 6

    GameEvent:
      type: object
      required: [ timestamp, type, description ]
      properties:
        timestamp:
          type: string
          format: date-time
          example: "2024-01-01T12:05:30Z"
        type:
          type: string
          enum: [ kill, death, objective, item_use, ability_use ]
          example: "kill"
        description:
          type: string
          example: "Player eliminated opponent"
        playerId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"

    LeaderboardEntry:
      type: object
      required: [ rank, playerId, playerName, value ]
      properties:
        rank:
          type: integer
          example: 1
        playerId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        playerName:
          type: string
          example: "CyberPunkMaster"
        value:
          type: number
          format: float
          example: 2.85
        change:
          type: integer
          description: Rank change from last update
          example: 5

    MatchParticipantDetailedStats:
      type: object
      required: [ playerId, team, performance, items, abilities ]
      properties:
        playerId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        team:
          type: string
          example: "team1"
        performance:
          $ref: "#/components/schemas/DetailedPerformanceStats"
        items:
          type: array
          items:
            type: object
            properties:
              itemId:
                type: string
                format: uuid
                example: "123e4567-e89b-12d3-a456-426614174001"
              name:
                type: string
                example: "Assault Rifle"
              usage:
                type: object
                properties:
                  kills:
                    type: integer
                    example: 12
                  accuracy:
                    type: number
                    format: float
                    example: 0.68
        abilities:
          type: array
          items:
            type: object
            properties:
              abilityId:
                type: string
                format: uuid
                example: "123e4567-e89b-12d3-a456-426614174002"
              name:
                type: string
                example: "Dash"
              uses:
                type: integer
                example: 8
              effectiveness:
                type: number
                format: float
                example: 0.75

    MatchEvent:
      type: object
      required: [ timestamp, type, playerId, description ]
      properties:
        timestamp:
          type: string
          format: date-time
          example: "2024-01-01T12:05:30Z"
        type:
          type: string
          example: "kill"
        playerId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        description:
          type: string
          example: "Eliminated opponent with headshot"
        position:
          type: object
          properties:
            x:
              type: number
              format: float
              example: 123.45
            y:
              type: number
              format: float
              example: 67.89

    PlayerSession:
      type: object
      required: [ sessionId, startTime, endTime, duration, gameMode, stats ]
      properties:
        sessionId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174003"
        startTime:
          type: string
          format: date-time
          example: "2024-01-01T11:30:00Z"
        endTime:
          type: string
          format: date-time
          example: "2024-01-01T12:15:00Z"
        duration:
          type: integer
          description: Session duration in seconds
          example: 2700
        gameMode:
          type: string
          enum: [ ranked, casual, tournament ]
          example: "ranked"
        result:
          type: string
          enum: [ victory, defeat, draw, disconnected ]
          example: "victory"
        stats:
          $ref: "#/components/schemas/DetailedPerformanceStats"
        map:
          type: string
          example: "Downtown Cyberpunk"

    DetailedPerformanceStats:
      type: object
      properties:
        kills:
          type: integer
          example: 24
        deaths:
          type: integer
          example: 18
        assists:
          type: integer
          example: 15
        score:
          type: integer
          example: 4850
        accuracy:
          type: number
          format: float
          example: 0.72
        headshots:
          type: integer
          example: 8
        headshotRate:
          type: number
          format: float
          example: 0.33
        damageDealt:
          type: integer
          example: 15420
        damageReceived:
          type: integer
          example: 12800
        healingDone:
          type: integer
          example: 3200
        objectivesCompleted:
          type: integer
          example: 5

    PlaytimeInsights:
      type: object
      properties:
        totalHours:
          type: number
          format: float
          example: 156.5
        averageSession:
          type: number
          format: float
          example: 45.2
        peakHours:
          type: array
          items:
            type: string
          example: ["20:00-22:00", "14:00-16:00"]
        weekdayVsWeekend:
          type: object
          properties:
            weekday:
              type: number
              format: float
              example: 0.65
            weekend:
              type: number
              format: float
              example: 0.35

    PlayerPreferences:
      type: object
      properties:
        favoriteGameMode:
          type: string
          example: "ranked"
        favoriteMap:
          type: string
          example: "Cyberpunk Downtown"
        preferredRole:
          type: string
          example: "assault"
        playstyle:
          type: string
          enum: [ aggressive, defensive, supportive, balanced ]
          example: "aggressive"
        timePreference:
          type: string
          enum: [ morning, afternoon, evening, night ]
          example: "evening"

    PerformanceInsights:
      type: object
      properties:
        skillProgression:
          type: string
          enum: [ improving, declining, stable ]
          example: "improving"
        consistency:
          type: number
          format: float
          minimum: 0
          maximum: 1
          example: 0.78
        strengths:
          type: array
          items:
            type: string
          example: ["High accuracy", "Good positioning"]
        weaknesses:
          type: array
          items:
            type: string
          example: ["Team communication", "Resource management"]

    SocialInsights:
      type: object
      properties:
        friendActivity:
          type: string
          enum: [ high, medium, low ]
          example: "high"
        groupPlayFrequency:
          type: number
          format: float
          example: 0.75
        communicationStyle:
          type: string
          enum: [ talkative, moderate, quiet ]
          example: "moderate"

    ProgressionInsights:
      type: object
      properties:
        levelProgression:
          type: number
          format: float
          example: 0.85
        achievementRate:
          type: number
          format: float
          example: 0.65
        contentCompletion:
          type: number
          format: float
          example: 0.72
