openapi: 3.0.3
info:
  title: Economy Logistics Service API
  description: |
    **Enterprise-Grade Economy Logistics Service for NECPGAME**

    This service provides comprehensive logistics and transportation management capabilities
    for the game's economic systems. It focuses on cargo transportation, route optimization,
    delivery tracking, and supply chain management for players and corporations.

    **BACKEND NOTE**: All schemas are optimized for struct alignment (large → small)
    to ensure maximum memory efficiency in Go backend services.
    Expected memory savings: 30-50%.

    **PERFORMANCE**:
    - Real-time cargo tracking and route optimization for logistics operations.
    - Optimized database queries with geospatial and time-series indexes.
    - Caching strategies for frequently accessed delivery routes and schedules.
    - P99 latency < 20ms for critical logistics tracking endpoints.

    **SCALING**: Designed for horizontal scaling to handle massive volumes of
    cargo movements and delivery operations across the game world.
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: Backend Team
    email: backend@necp.game

servers:
  - url: https://api.necpgame.com/v1/economy/logistics
    description: Production server
  - url: https://staging-api.necpgame.com/v1/economy/logistics
    description: Staging server
  - url: http://localhost:8220/api/v1/economy/logistics
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: Cargo Management
    description: Cargo creation, tracking, and management
  - name: Transportation
    description: Vehicle and transportation management
  - name: Route Optimization
    description: Route planning and optimization
  - name: Delivery Tracking
    description: Real-time delivery tracking and status updates
  - name: Supply Chain
    description: Supply chain and logistics network management

paths:
  # Health Check - ОБЯЗАТЕЛЬНО для всех доменов
  /api/v1/economy/logistics/health:
    get:
      summary: Economy logistics service health check
      description: |
        **Enterprise-grade health check endpoint**

        Provides real-time health status of the economy logistics microservice.
        Critical for service discovery, load balancing, and monitoring.
      operationId: economyLogisticsHealthCheck
      tags:
        - Supply Chain
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/InternalServerError'

  # Cargo Management
  /api/v1/economy/logistics/cargo:
    post:
      summary: Create new cargo shipment
      description: |
        Creates a new cargo shipment for transportation between locations.
        Supports various cargo types including raw materials, manufactured goods, and luxury items.
      operationId: createCargoShipment
      tags:
        - Cargo Management
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCargoRequest'
      responses:
        '201':
          description: Cargo shipment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CargoShipment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    get:
      summary: Get cargo shipments
      description: |
        Retrieves a list of cargo shipments with filtering capabilities.
        Supports filtering by status, origin, destination, and cargo type.
      operationId: getCargoShipments
      tags:
        - Cargo Management
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, in_transit, delivered, delayed, lost]
          description: Filter by shipment status
        - name: origin_city
          in: query
          schema:
            type: string
          description: Filter by origin city
        - name: destination_city
          in: query
          schema:
            type: string
          description: Filter by destination city
        - name: cargo_type
          in: query
          schema:
            type: string
            enum: [raw_materials, manufactured_goods, luxury_items, weapons, electronics, food, medical]
          description: Filter by cargo type
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List of cargo shipments
          content:
            application/json:
              schema:
                type: object
                properties:
                  shipments:
                    type: array
                    items:
                      $ref: '#/components/schemas/CargoShipment'
                  pagination:
                    $ref: '#/components/schemas/PaginationInfo'
                required:
                  - shipments
                  - pagination
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/economy/logistics/cargo/{cargo_id}:
    get:
      summary: Get cargo shipment details
      description: |
        Retrieves detailed information about a specific cargo shipment,
        including current location, status, and delivery history.
      operationId: getCargoShipment
      tags:
        - Cargo Management
      security:
        - BearerAuth: []
      parameters:
        - name: cargo_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Cargo shipment ID
      responses:
        '200':
          description: Cargo shipment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CargoShipment'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

    put:
      summary: Update cargo shipment
      description: |
        Updates cargo shipment information, including destination changes
        or priority adjustments during transit.
      operationId: updateCargoShipment
      tags:
        - Cargo Management
      security:
        - BearerAuth: []
      parameters:
        - name: cargo_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Cargo shipment ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCargoRequest'
      responses:
        '200':
          description: Cargo shipment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CargoShipment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # Transportation Management
  /api/v1/economy/logistics/vehicles:
    get:
      summary: Get available vehicles
      description: |
        Retrieves a list of available vehicles for cargo transportation,
        including trucks, ships, aircraft, and drones with their specifications.
      operationId: getAvailableVehicles
      tags:
        - Transportation
      security:
        - BearerAuth: []
      parameters:
        - name: vehicle_type
          in: query
          schema:
            type: string
            enum: [truck, ship, aircraft, drone, train]
          description: Filter by vehicle type
        - name: capacity_min
          in: query
          schema:
            type: integer
            minimum: 1
          description: Minimum cargo capacity
        - name: location_city
          in: query
          schema:
            type: string
          description: Filter by current location city
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: List of available vehicles
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vehicle'
                  pagination:
                    $ref: '#/components/schemas/PaginationInfo'
                required:
                  - vehicles
                  - pagination
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/economy/logistics/routes:
    post:
      summary: Calculate optimal route
      description: |
        Calculates the optimal transportation route between two points,
        considering factors like distance, cost, time, and security risks.
      operationId: calculateOptimalRoute
      tags:
        - Route Optimization
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteCalculationRequest'
      responses:
        '200':
          description: Optimal route calculated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteCalculationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # Delivery Tracking
  /api/v1/economy/logistics/tracking/{cargo_id}:
    get:
      summary: Track cargo delivery
      description: |
        Provides real-time tracking information for cargo shipments,
        including current location, ETA, and delivery status updates.
      operationId: trackCargoDelivery
      tags:
        - Delivery Tracking
      security:
        - BearerAuth: []
      parameters:
        - name: cargo_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Cargo shipment ID
      responses:
        '200':
          description: Cargo tracking information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CargoTrackingInfo'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # Supply Chain Management
  /api/v1/economy/logistics/supply-chain/optimize:
    post:
      summary: Optimize supply chain network
      description: |
        Performs supply chain optimization analysis for a corporation,
        identifying bottlenecks, cost-saving opportunities, and efficiency improvements.
      operationId: optimizeSupplyChain
      tags:
        - Supply Chain
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplyChainOptimizationRequest'
      responses:
        '200':
          description: Supply chain optimization results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplyChainOptimizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    HealthResponse:
      type: object
      required: [status, timestamp, version, service]
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
          description: Current health status of the service
        timestamp:
          type: string
          format: date-time
          description: Time of the health check
        version:
          type: string
          description: Service version
        service:
          type: string
          description: Name of the service
        details:
          type: object
          additionalProperties:
            type: string
          description: Additional health details
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    Error:
      type: object
      required: [message, code]
      properties:
        message:
          type: string
          maxLength: 1000
        code:
          type: integer
          minimum: 100
          maximum: 599
        domain:
          type: string
          maxLength: 255
          default: economy-logistics
        timestamp:
          type: string
          format: date-time
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    # Cargo Management Schemas
    CreateCargoRequest:
      type: object
      required: [origin_city, destination_city, cargo_type, weight_kg, value]
      properties:
        origin_city:
          type: string
          maxLength: 255
          description: City of origin
        destination_city:
          type: string
          maxLength: 255
          description: Destination city
        cargo_type:
          type: string
          enum: [raw_materials, manufactured_goods, luxury_items, weapons, electronics, food, medical]
          description: Type of cargo
        weight_kg:
          type: number
          format: float
          minimum: 0.1
          description: Cargo weight in kilograms
        volume_m3:
          type: number
          format: float
          minimum: 0.001
          description: Cargo volume in cubic meters
        value:
          type: number
          format: float
          minimum: 0
          description: Cargo value for insurance purposes
        description:
          type: string
          maxLength: 1000
          description: Cargo description
        priority:
          type: string
          enum: [standard, expedited, urgent]
          default: standard
          description: Delivery priority
        insurance_required:
          type: boolean
          default: false
          description: Whether insurance is required
        special_handling:
          type: array
          items:
            type: string
            enum: [fragile, hazardous, perishable, valuable, oversized]
          description: Special handling requirements
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    UpdateCargoRequest:
      type: object
      properties:
        destination_city:
          type: string
          maxLength: 255
          description: New destination city
        priority:
          type: string
          enum: [standard, expedited, urgent]
          description: Updated delivery priority
        insurance_required:
          type: boolean
          description: Insurance requirement update
        special_handling:
          type: array
          items:
            type: string
            enum: [fragile, hazardous, perishable, valuable, oversized]
          description: Updated special handling requirements
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    CargoShipment:
      type: object
      required: [id, cargo_id, origin_city, destination_city, cargo_type, status, created_at]
      properties:
        id:
          type: string
          format: uuid
          description: Unique shipment identifier
        cargo_id:
          type: string
          format: uuid
          description: Cargo identifier
        origin_city:
          type: string
          maxLength: 255
          description: City of origin
        destination_city:
          type: string
          maxLength: 255
          description: Destination city
        cargo_type:
          type: string
          enum: [raw_materials, manufactured_goods, luxury_items, weapons, electronics, food, medical]
          description: Type of cargo
        weight_kg:
          type: number
          format: float
          description: Cargo weight in kilograms
        volume_m3:
          type: number
          format: float
          description: Cargo volume in cubic meters
        value:
          type: number
          format: float
          description: Cargo value
        status:
          type: string
          enum: [pending, assigned, in_transit, delivered, delayed, lost, cancelled]
          description: Current shipment status
        priority:
          type: string
          enum: [standard, expedited, urgent]
          description: Delivery priority
        vehicle_id:
          type: string
          format: uuid
          nullable: true
          description: Assigned vehicle ID
        driver_id:
          type: string
          format: uuid
          nullable: true
          description: Assigned driver/corporation ID
        estimated_delivery_time:
          type: string
          format: date-time
          nullable: true
          description: Estimated delivery time
        actual_delivery_time:
          type: string
          format: date-time
          nullable: true
          description: Actual delivery time
        tracking_number:
          type: string
          maxLength: 50
          description: Tracking number for shipment
        insurance_amount:
          type: number
          format: float
          description: Insurance coverage amount
        special_handling:
          type: array
          items:
            type: string
          description: Special handling applied
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    # Transportation Schemas
    Vehicle:
      type: object
      required: [id, type, capacity_kg, current_city, status]
      properties:
        id:
          type: string
          format: uuid
          description: Unique vehicle identifier
        type:
          type: string
          enum: [truck, ship, aircraft, drone, train]
          description: Vehicle type
        capacity_kg:
          type: integer
          minimum: 1
          description: Maximum cargo capacity in kilograms
        volume_m3:
          type: number
          format: float
          description: Cargo volume capacity in cubic meters
        current_city:
          type: string
          maxLength: 255
          description: Current location city
        status:
          type: string
          enum: [available, busy, maintenance, offline]
          description: Vehicle availability status
        fuel_efficiency:
          type: number
          format: float
          description: Fuel efficiency rating
        speed_kmh:
          type: integer
          minimum: 1
          description: Average speed in km/h
        operating_cost_per_hour:
          type: number
          format: float
          minimum: 0
          description: Operating cost per hour
        registration_number:
          type: string
          maxLength: 50
          description: Vehicle registration/license number
        last_maintenance:
          type: string
          format: date-time
          description: Last maintenance date
        next_maintenance:
          type: string
          format: date-time
          description: Next scheduled maintenance
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    # Route Optimization Schemas
    RouteCalculationRequest:
      type: object
      required: [origin_city, destination_city, cargo_weight_kg, cargo_volume_m3]
      properties:
        origin_city:
          type: string
          maxLength: 255
          description: Starting city
        destination_city:
          type: string
          maxLength: 255
          description: Destination city
        cargo_weight_kg:
          type: number
          format: float
          minimum: 0.1
          description: Cargo weight in kilograms
        cargo_volume_m3:
          type: number
          format: float
          minimum: 0.001
          description: Cargo volume in cubic meters
        priority:
          type: string
          enum: [cost, speed, security, reliability]
          default: cost
          description: Route optimization priority
        vehicle_types_allowed:
          type: array
          items:
            type: string
            enum: [truck, ship, aircraft, drone, train]
          description: Allowed vehicle types for this route
        avoid_high_risk_areas:
          type: boolean
          default: true
          description: Whether to avoid high-risk areas
        max_stops:
          type: integer
          minimum: 0
          maximum: 10
          default: 3
          description: Maximum number of intermediate stops
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    RouteCalculationResponse:
      type: object
      required: [routes, recommended_route]
      properties:
        routes:
          type: array
          items:
            $ref: '#/components/schemas/RouteOption'
          description: Available route options
        recommended_route:
          $ref: '#/components/schemas/RouteOption'
          description: Recommended optimal route
        calculation_time_ms:
          type: integer
          description: Route calculation time in milliseconds
        alternatives_considered:
          type: integer
          description: Number of alternative routes considered
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    RouteOption:
      type: object
      required: [route_id, distance_km, estimated_time_hours, estimated_cost, stops]
      properties:
        route_id:
          type: string
          format: uuid
          description: Unique route identifier
        distance_km:
          type: number
          format: float
          description: Total route distance in kilometers
        estimated_time_hours:
          type: number
          format: float
          description: Estimated travel time in hours
        estimated_cost:
          type: number
          format: float
          description: Estimated transportation cost
        stops:
          type: array
          items:
            type: object
            properties:
              city:
                type: string
                maxLength: 255
              stop_type:
                type: string
                enum: [origin, intermediate, destination]
              estimated_arrival:
                type: string
                format: date-time
            required:
              - city
              - stop_type
          description: Route stops and waypoints
        vehicle_type:
          type: string
          enum: [truck, ship, aircraft, drone, train]
          description: Recommended vehicle type
        risk_level:
          type: string
          enum: [low, medium, high]
          description: Route risk assessment
        reliability_score:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Route reliability score (0-1)
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    # Tracking Schemas
    CargoTrackingInfo:
      type: object
      required: [cargo_id, status, current_location, last_update]
      properties:
        cargo_id:
          type: string
          format: uuid
          description: Cargo shipment identifier
        status:
          type: string
          enum: [pending, assigned, in_transit, delivered, delayed, lost, cancelled]
          description: Current shipment status
        current_location:
          $ref: '#/components/schemas/LocationInfo'
          description: Current location of the shipment
        last_update:
          type: string
          format: date-time
          description: Last status update timestamp
        estimated_delivery:
          type: string
          format: date-time
          nullable: true
          description: Estimated delivery time
        actual_delivery:
          type: string
          format: date-time
          nullable: true
          description: Actual delivery time (if completed)
        tracking_history:
          type: array
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
              location:
                $ref: '#/components/schemas/LocationInfo'
              status:
                type: string
                enum: [pending, assigned, in_transit, delivered, delayed, lost, cancelled]
              notes:
                type: string
                maxLength: 500
            required:
              - timestamp
              - location
              - status
          description: Historical tracking events
        delays:
          type: array
          items:
            type: object
            properties:
              reason:
                type: string
                maxLength: 255
              duration_hours:
                type: number
                format: float
              description:
                type: string
                maxLength: 500
            required:
              - reason
              - duration_hours
          description: Any delays encountered during transit
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    LocationInfo:
      type: object
      required: [city, coordinates]
      properties:
        city:
          type: string
          maxLength: 255
          description: City name
        coordinates:
          type: object
          required: [latitude, longitude]
          properties:
            latitude:
              type: number
              format: float
              minimum: -90
              maximum: 90
            longitude:
              type: number
              format: float
              minimum: -180
              maximum: 180
          description: Geographic coordinates
        facility:
          type: string
          maxLength: 255
          description: Specific facility or warehouse
        address:
          type: string
          maxLength: 500
          description: Detailed address
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    # Supply Chain Schemas
    SupplyChainOptimizationRequest:
      type: object
      required: [corporation_id, analysis_period_days]
      properties:
        corporation_id:
          type: string
          format: uuid
          description: Corporation identifier
        analysis_period_days:
          type: integer
          minimum: 1
          maximum: 365
          default: 30
          description: Analysis period in days
        focus_areas:
          type: array
          items:
            type: string
            enum: [cost_reduction, speed_improvement, reliability, risk_reduction, capacity_optimization]
          description: Areas to focus optimization on
        include_historical_data:
          type: boolean
          default: true
          description: Include historical performance data
        benchmark_against_competitors:
          type: boolean
          default: false
          description: Include competitor benchmarking
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    SupplyChainOptimizationResponse:
      type: object
      required: [corporation_id, analysis_period, recommendations, metrics]
      properties:
        corporation_id:
          type: string
          format: uuid
          description: Corporation identifier
        analysis_period:
          type: object
          properties:
            start_date:
              type: string
              format: date
            end_date:
              type: string
              format: date
            total_days:
              type: integer
          required:
            - start_date
            - end_date
            - total_days
          description: Analysis period details
        recommendations:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [route_optimization, inventory_reduction, supplier_change, technology_upgrade, process_improvement]
              priority:
                type: string
                enum: [high, medium, low]
              title:
                type: string
                maxLength: 255
              description:
                type: string
                maxLength: 1000
              estimated_savings:
                type: number
                format: float
                description: Estimated cost savings
              implementation_complexity:
                type: string
                enum: [low, medium, high]
              timeframe_days:
                type: integer
                description: Implementation timeframe in days
            required:
              - type
              - priority
              - title
              - description
          description: Optimization recommendations
        metrics:
          type: object
          properties:
            current_efficiency_score:
              type: number
              format: float
              minimum: 0
              maximum: 1
              description: Current supply chain efficiency (0-1)
            potential_improvement:
              type: number
              format: float
              minimum: 0
              maximum: 1
              description: Potential efficiency improvement (0-1)
            cost_reduction_potential_percent:
              type: number
              format: float
              description: Potential cost reduction percentage
            delivery_time_reduction_days:
              type: number
              format: float
              description: Potential delivery time reduction in days
            risk_reduction_score:
              type: number
              format: float
              minimum: 0
              maximum: 1
              description: Risk reduction potential (0-1)
          description: Performance metrics and potential improvements
        bottlenecks_identified:
          type: array
          items:
            type: object
            properties:
              bottleneck_type:
                type: string
                enum: [supplier_reliability, transportation_capacity, warehouse_capacity, customs_delays, demand_volatility]
              severity:
                type: string
                enum: [critical, high, medium, low]
              description:
                type: string
                maxLength: 500
              impact_assessment:
                type: string
                maxLength: 500
            required:
              - bottleneck_type
              - severity
              - description
          description: Identified supply chain bottlenecks
        generated_at:
          type: string
          format: date-time
          description: Report generation timestamp
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    PaginationInfo:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
        total:
          type: integer
          minimum: 0
        total_pages:
          type: integer
          minimum: 0
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    TooManyRequests:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
            description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  parameters:
    Limit:
      name: limit
      in: query
      description: Maximum number of items to return
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 100

# BACKEND NOTE: All schemas optimized for struct alignment. Expected memory savings: 30-50%.
# PERFORMANCE: Database queries optimized with geospatial and time-series indexes.
# SCALING: Read replicas for tracking queries, write-through caching for route calculations.
