# AI Enemy Coordinator Service OpenAPI Specification
# Central orchestration service for AI enemy management in Night City MMOFPS RPG
# Issue: #2300

openapi: 3.0.3
info:
  title: AI Enemy Coordinator Service API
  description: |
    **Enterprise-grade API for AI Enemy Coordination**

    ## Domain Purpose
    Central orchestration service managing AI enemy lifecycle, state coordination, and task distribution across zones.
    Provides unified interface for AI enemy spawning, lifecycle management, and performance monitoring.

    ## Performance Targets
    - P99 Latency: <50ms for all endpoints (critical for real-time coordination)
    - Memory per Zone: <50MB for 500+ concurrent AI entities
    - Concurrent Operations: 1000+ guild wars, 500+ AI entities per zone
    - Uptime: 99.9% SLA (mission-critical for gameplay)

    ## Domain Inheritance (SOLID/DRY)
    This service inherits from game-entities.yaml providing:
    - Consistent base entity structure (id, timestamps, version) - НЕ ДУБЛИРУЕМ!
    - Game-specific business entities through `allOf` pattern
    - Optimistic locking for concurrent operations (version field)
    - Strict typing with validation rules (min/max, patterns, enums)

    **SOLID/DRY Principle:**
    - ✅ Наследуем базовые поля через `$ref` и `allOf`
    - ✅ Добавляем только уникальные поля сервиса
    - ❌ НЕ дублируем общие поля (id, created_at, updated_at, version)
    - ❌ НЕ переопределяем базовые структуры

  version: "1.0.0"
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.necpgame.com/v1/ai-enemy-coordinator
    description: Production environment
  - url: https://staging-api.necpgame.com/v1/ai-enemy-coordinator
    description: Staging environment
  - url: http://localhost:8080/api/v1/ai-enemy-coordinator
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: AI Enemy Coordination
    description: Core AI enemy orchestration operations
  - name: Zone Management
    description: Zone-based AI enemy lifecycle management
  - name: Performance Monitoring
    description: AI enemy performance metrics and monitoring
  - name: Health Monitoring
    description: Service health and performance monitoring
  - name: Administration
    description: Administrative operations

# ===========================================
# COMPONENTS - Domain Inheritance (SOLID/DRY)
# ===========================================
components:
  schemas:

    # AI Enemy Entity - inherits from GameEntity (NO DUPLICATION!)
    AiEnemyEntity:
      description: AI enemy entity inheriting base structure from GameEntity
      allOf:
        - $ref: '../common/schemas/game-entities.yaml#/components/schemas/GameEntity'
        - type: object
          required: [enemy_type, zone_id, position]
          properties:
            # Large fields first (struct alignment: large → small)
            zone_name:
              type: string
              maxLength: 100
              description: Human-readable zone name
              example: "Night City - Watson District"
            enemy_type:
              type: string
              enum: [elite_mercenary_boss, cyberpsychic_elite, corporate_elite_squad, regular_enemy]
              description: Type of AI enemy
              example: "elite_mercenary_boss"
            behavior_state:
              type: string
              enum: [idle, patrol, combat, flee, dead]
              description: Current AI behavior state
              example: "patrol"
            # Medium fields (8B)
            health:
              type: integer
              minimum: 0
              description: Current health points
              example: 100
            max_health:
              type: integer
              minimum: 1
              description: Maximum health points
              example: 100
            target_player_id:
              type: string
              format: uuid
              description: ID of targeted player (nullable)
              example: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
            # Small fields (4B)
            level:
              type: integer
              minimum: 1
              maximum: 100
              description: AI enemy level
              example: 25
            # Byte fields (1B)
            is_active:
              type: boolean
              description: Whether enemy is currently active
              example: true
            # Spatial data (inherits PostGIS geometry from architecture)

    # Zone Coordination Entity
    ZoneCoordinationEntity:
      description: Zone-based AI coordination entity
      allOf:
        - $ref: '../common/schemas/game-entities.yaml#/components/schemas/GameEntity'
        - type: object
          required: [zone_id, ai_density, performance_metrics]
          properties:
            zone_id:
              type: string
              format: uuid
              description: Zone identifier
              example: "a1b2c3d4-1234-5678-9abc-def012345678"
            zone_name:
              type: string
              maxLength: 100
              description: Human-readable zone name
              example: "Night City - Watson District"
            ai_density:
              type: integer
              minimum: 0
              maximum: 1000
              description: Current number of active AI enemies in zone
              example: 150
            performance_metrics:
              $ref: '#/components/schemas/ZonePerformanceMetrics'

    # Zone Performance Metrics
    ZonePerformanceMetrics:
      type: object
      required: [memory_usage_mb, cpu_usage_percent, active_enemies, response_time_ms]
      properties:
        memory_usage_mb:
          type: number
          format: float
          minimum: 0
          description: Memory usage in megabytes
          example: 45.2
        cpu_usage_percent:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: CPU usage percentage
          example: 67.8
        active_enemies:
          type: integer
          minimum: 0
          description: Number of active enemies
          example: 150
        response_time_ms:
          type: number
          format: float
          minimum: 0
          description: Average response time in milliseconds
          example: 12.5
        zone_uptime_seconds:
          type: integer
          minimum: 0
          description: Zone uptime in seconds
          example: 3600

    # AI Spawn Request
    AiSpawnRequest:
      type: object
      required: [zone_id, enemy_type, spawn_position, spawn_parameters]
      properties:
        zone_id:
          type: string
          format: uuid
          description: Target zone for spawning
          example: "a1b2c3d4-1234-5678-9abc-def012345678"
        enemy_type:
          type: string
          enum: [elite_mercenary_boss, cyberpsychic_elite, corporate_elite_squad, regular_enemy]
          description: Type of enemy to spawn
          example: "regular_enemy"
        spawn_position:
          type: object
          required: [x, y, z]
          properties:
            x: {type: number, format: float, description: "X coordinate", example: 123.45}
            y: {type: number, format: float, description: "Y coordinate", example: 67.89}
            z: {type: number, format: float, description: "Z coordinate", example: 0.0}
        spawn_parameters:
          type: object
          properties:
            level:
              type: integer
              minimum: 1
              maximum: 100
              description: Enemy level
              example: 25
            behavior_profile:
              type: string
              maxLength: 50
              description: Behavior profile to use
              example: "aggressive_patrol"
            respawn_on_death:
              type: boolean
              description: Whether to respawn enemy after death
              example: true

    # AI Coordination Response
    AiCoordinationResponse:
      type: object
      required: [enemy_id, coordination_status, zone_metrics]
      properties:
        enemy_id:
          type: string
          format: uuid
          description: Spawned enemy identifier
          example: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        coordination_status:
          type: string
          enum: [spawned, failed, queued]
          description: Result of coordination request
          example: "spawned"
        zone_metrics:
          $ref: '#/components/schemas/ZonePerformanceMetrics'

    # AI Enemy List Response
    AiEnemyListResponse:
      type: object
      required: [enemies, total_count, pagination]
      properties:
        enemies:
          type: array
          items:
            $ref: '#/components/schemas/AiEnemyEntity'
          description: List of AI enemy entities
        total_count:
          type: integer
          minimum: 0
          description: Total number of enemies matching the filter
          example: 150
        pagination:
          type: object
          required: [has_more, next_cursor]
          properties:
            has_more:
              type: boolean
              description: Whether there are more results available
              example: true
            next_cursor:
              type: string
              description: Cursor for next page of results
              example: "eyJwYWdlIjoxLCJsaW1pdCI6NTB9"

  securitySchemes:
    BearerAuth:
      $ref: '../common/security/security.yaml#/components/securitySchemes/BearerAuth'

paths:
  # ===========================================
  # HEALTH CHECK ENDPOINTS - Required for all services
  # ===========================================
  /health:
    get:
      operationId: AiEnemyCoordinatorHealthCheck
      summary: Basic health check for AI Enemy Coordinator
      description: Returns service health status and basic AI coordination metrics
      tags: [Health Monitoring]
      responses:
        '200':
          description: Service is healthy with AI coordination metrics
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/schemas/health.yaml#/components/schemas/HealthResponse'
                  - type: object
                    properties:
                      active_zones:
                        type: integer
                        description: Number of active zones with AI coordination
                        example: 25
                      total_ai_enemies:
                        type: integer
                        description: Total active AI enemies across all zones
                        example: 1250
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '../common/responses/error.yaml#/components/responses/ServiceUnavailable'

  /health/detailed:
    get:
      operationId: AiEnemyCoordinatorDetailedHealthCheck
      summary: Detailed health check with AI coordination metrics
      description: Returns comprehensive health status including AI enemy performance metrics and zone coordination stats
      tags: [Health Monitoring]
      responses:
        '200':
          description: Detailed health information with AI metrics
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/schemas/health.yaml#/components/schemas/DetailedHealthResponse'
                  - type: object
                    properties:
                      ai_coordination_metrics:
                        type: object
                        properties:
                          active_zones:
                            type: integer
                            description: Number of zones with active AI coordination
                            example: 25
                          total_enemies:
                            type: integer
                            description: Total active AI enemies
                            example: 1250
                          zones_at_capacity:
                            type: integer
                            description: Number of zones at AI density capacity
                            example: 3
                          average_response_time_ms:
                            type: number
                            format: float
                            description: Average AI coordination response time
                            example: 12.5
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '../common/responses/error.yaml#/components/responses/ServiceUnavailable'

  # ===========================================
  # AI ENEMY COORDINATION ENDPOINTS
  # ===========================================

  /ai-enemies:
    post:
      operationId: SpawnAiEnemy
      summary: Spawn new AI enemy in zone
      description: |
        Spawn a new AI enemy in the specified zone with given parameters.

        **Performance Notes:**
        - Atomic operation with zone capacity validation
        - Immediate response with enemy ID for real-time gameplay
        - Background processing for behavior initialization
      tags: [AI Enemy Coordination]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiSpawnRequest'
      responses:
        '201':
          description: AI enemy successfully spawned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiCoordinationResponse'
        '400':
          $ref: '../common/responses/error.yaml#/components/responses/BadRequest'
        '429':
          description: Zone at AI density capacity
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Zone at maximum AI density capacity"
                  zone_capacity:
                    type: integer
                    example: 500
                  retry_after_seconds:
                    type: integer
                    example: 30

    get:
      operationId: ListAiEnemies
      summary: List AI enemies with zone-based filtering
      description: |
        Retrieve paginated list of AI enemies with advanced zone-based filtering.

        **Performance Notes:**
        - Spatial index optimized for zone queries
        - Cursor-based pagination for large result sets
        - Real-time state updates included
      tags: [AI Enemy Coordination]
      parameters:
        - name: zone_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by specific zone
        - name: enemy_type
          in: query
          schema:
            type: string
            enum: [elite_mercenary_boss, cyberpsychic_elite, corporate_elite_squad, regular_enemy]
          description: Filter by enemy type
        - name: behavior_state
          in: query
          schema:
            type: string
            enum: [idle, patrol, combat, flee, dead]
          description: Filter by behavior state
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Number of enemies to return
      responses:
        '200':
          description: List of AI enemies
          content:
            application/json:
              schema:
                type: object
                required: [enemies, total_count, has_more]
                properties:
                  enemies:
                    type: array
                    items:
                      $ref: '#/components/schemas/AiEnemyEntity'
                  total_count:
                    type: integer
                    description: Total number of enemies matching criteria
                    example: 150
                  has_more:
                    type: boolean
                    description: Whether more results are available
                    example: true
                  next_cursor:
                    type: string
                    description: Cursor for next page
                    example: "eyJpZCI6ImY0N2FjMTBiLTU4Y2MtNDM3Mi1hNTY3LTBlMDJiMmMzZDM3OSJ9"

  /ai-enemies/{enemy_id}:
    get:
      operationId: GetAiEnemy
      summary: Get detailed AI enemy information
      description: Retrieve complete AI enemy state including position, behavior, and combat stats
      tags: [AI Enemy Coordination]
      parameters:
        - name: enemy_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: AI enemy identifier
      responses:
        '200':
          description: AI enemy details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiEnemyEntity'
        '404':
          $ref: '../common/responses/error.yaml#/components/responses/NotFound'

    put:
      operationId: UpdateAiEnemy
      summary: Update AI enemy state
      description: Update AI enemy properties with optimistic locking
      tags: [AI Enemy Coordination]
      parameters:
        - name: enemy_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: AI enemy identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version]
              properties:
                version:
                  type: integer
                  description: Current version for optimistic locking
                  example: 1
                health:
                  type: integer
                  minimum: 0
                  description: Updated health value
                  example: 75
                behavior_state:
                  type: string
                  enum: [idle, patrol, combat, flee, dead]
                  description: New behavior state
                  example: "combat"
                target_player_id:
                  type: string
                  format: uuid
                  description: New target player ID
                  example: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
      responses:
        '200':
          description: AI enemy updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiEnemyEntity'
        '409':
          description: Version conflict - concurrent modification
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Version conflict - enemy was modified by another request"
                  current_version:
                    type: integer
                    example: 2

    delete:
      operationId: DespawnAiEnemy
      summary: Despawn AI enemy
      description: Remove AI enemy from zone with cleanup
      tags: [AI Enemy Coordination]
      parameters:
        - name: enemy_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: AI enemy identifier
      responses:
        '204':
          description: AI enemy successfully despawned
        '404':
          $ref: '../common/responses/error.yaml#/components/responses/NotFound'

  /zones/{zone_id}/coordination:
    get:
      operationId: GetZoneCoordinationStatus
      summary: Get zone AI coordination status
      description: Retrieve current AI coordination metrics and capacity for specific zone
      tags: [Zone Management]
      parameters:
        - name: zone_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Zone identifier
      responses:
        '200':
          description: Zone coordination status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneCoordinationEntity'
        '404':
          description: Zone not found or not active
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Zone not found or inactive"

  /zones/{zone_id}/ai-density:
    put:
      operationId: AdjustZoneAiDensity
      summary: Adjust AI density for zone
      description: Modify maximum AI enemy capacity for zone based on performance metrics
      tags: [Zone Management]
      parameters:
        - name: zone_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Zone identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target_density, reason]
              properties:
                target_density:
                  type: integer
                  minimum: 0
                  maximum: 1000
                  description: Target number of AI enemies for zone
                  example: 200
                reason:
                  type: string
                  enum: [performance_optimization, player_load, event_activation, emergency_reduction]
                  description: Reason for density adjustment
                  example: "performance_optimization"
                gradual_adjustment:
                  type: boolean
                  description: Whether to adjust gradually over time
                  example: true
      responses:
        '200':
          description: AI density adjustment initiated
          content:
            application/json:
              schema:
                type: object
                required: [adjustment_id, estimated_completion_time]
                properties:
                  adjustment_id:
                    type: string
                    format: uuid
                    description: Unique identifier for this adjustment
                    example: "a1b2c3d4-1234-5678-9abc-def012345678"
                  estimated_completion_time:
                    type: integer
                    description: Estimated completion time in seconds
                    example: 300
                  current_density:
                    type: integer
                    description: Current AI density
                    example: 150
                  target_density:
                    type: integer
                    description: Target AI density
                    example: 200

  /performance/metrics:
    get:
      operationId: GetAiPerformanceMetrics
      summary: Get AI coordination performance metrics
      description: Retrieve comprehensive performance metrics for AI coordination system
      tags: [Performance Monitoring]
      parameters:
        - name: time_range
          in: query
          schema:
            type: string
            enum: [1m, 5m, 15m, 1h, 24h]
            default: "5m"
          description: Time range for metrics
      responses:
        '200':
          description: AI performance metrics
          content:
            application/json:
              schema:
                type: object
                required: [timestamp, global_metrics, zone_metrics]
                properties:
                  timestamp:
                    type: string
                    format: date-time
                    description: Metrics collection timestamp
                    example: "2024-01-15T14:30:00Z"
                  global_metrics:
                    type: object
                    properties:
                      total_active_enemies:
                        type: integer
                        description: Total active AI enemies across all zones
                        example: 1250
                      average_response_time_ms:
                        type: number
                        format: float
                        description: Average coordination response time
                        example: 12.5
                      zones_at_capacity:
                        type: integer
                        description: Number of zones at maximum capacity
                        example: 3
                      spawn_failure_rate:
                        type: number
                        format: float
                        description: Percentage of failed spawn attempts
                        example: 0.05
                  zone_metrics:
                    type: array
                    items:
                      $ref: '#/components/schemas/ZoneCoordinationEntity'
  /ai-enemies:
    get:
      operationId: listAiEnemies
      summary: List AI enemies with filtering and pagination
      description: |
        Retrieve a paginated list of AI enemies with advanced filtering options.

        **Performance Notes:**
        - Uses database indexes for efficient filtering
        - Implements cursor-based pagination for large datasets
        - Response cached for 30 seconds
      tags: [AI Enemy Coordination]
      parameters:
        - name: zone_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by zone ID
        - name: enemy_type
          in: query
          schema:
            type: string
            enum: [mercenary_boss, cyberpsychic_elite, corporate_squad, common_enemy]
          description: Filter by enemy type
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, spawning, despawning]
          description: Filter by enemy status
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of items to return
        - name: cursor
          in: query
          schema:
            type: string
          description: Pagination cursor
      responses:
        '200':
          description: List of AI enemies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiEnemyListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    # Стандартные ответы - используйте $ref на common/responses
    OK:
      $ref: '../common/responses/success.yaml#/components/responses/OK'
    Created:
      $ref: '../common/responses/success.yaml#/components/responses/Created'
    BadRequest:
      $ref: '../common/responses/error.yaml#/components/responses/BadRequest'
    Unauthorized:
      $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
    NotFound:
      $ref: '../common/responses/error.yaml#/components/responses/NotFound'
    Conflict:
      $ref: '../common/responses/error.yaml#/components/responses/Conflict'
    InternalServerError:
      $ref: '../common/responses/error.yaml#/components/responses/InternalServerError'

  schemas:
    # Domain entities - ОБЯЗАТЕЛЬНО используйте allOf для наследования (SOLID/DRY)
    # ПРИМЕР 1: Game Domain Entity
    # {Resource}:
    #   description: Service-specific entity inheriting from domain base
    #   allOf:
    #     - $ref: '../common/schemas/game-entities.yaml#/components/schemas/CharacterEntity'
    #     - type: object
    #       required: [unique_field]
    #       properties:
    #         # PERFORMANCE: Struct Alignment - порядок полей large → small (30-50% memory savings)
    #         # OGEN сохраняет порядок полей из OpenAPI спецификации
    #         # Проверка ПОСЛЕ генерации: fieldalignment ./pkg/api/...
    #         unique_field: {type: string, minLength: 1, maxLength: 100}
    #         # ТОЛЬКО уникальные поля сервиса - базовые поля (id, timestamps, version) наследуются!
    #
    # ПРИМЕР 2: Economy Domain Entity
    # {Resource}:
    #   description: Economic entity with transaction capabilities
    #   allOf:
    #     - $ref: '../common/schemas/economy-entities.yaml#/components/schemas/WalletEntity'
    #     - type: object
    #       properties:
    #         service_specific_field: {type: integer, minimum: 0}
    #
    # ПРИМЕР 3: Social Domain Entity
    # {Resource}:
    #   description: Social entity with communication features
    #   allOf:
    #     - $ref: '../common/schemas/social-entities.yaml#/components/schemas/UserProfileEntity'
    #     - type: object
    #       properties:
    #         custom_social_field: {type: string}
    #
    # ПРИМЕР 4: Infrastructure Domain Entity
    # {Resource}:
    #   description: Infrastructure entity with audit capabilities
    #   allOf:
    #     - $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/AuditLogEntity'
    #     - type: object
    #       properties:
    #         infrastructure_specific_field: {type: boolean}

  securitySchemes:
    BearerAuth:
      $ref: '../common/security/security.yaml#/components/securitySchemes/BearerAuth'

# Domain inheritance documentation (SOLID/DRY)
x-domain-inheritance:
  inherits-from: "common/schemas/game-entities.yaml"
  additional-schemas: "Service-specific extensions only"
  no-duplication: "All common fields (id, timestamps, version) inherited, not redefined"
  pattern: "allOf with $ref to domain entities + service-specific properties only"

# Issue: #2300
