# AI Enemy Coordinator Service OpenAPI Specification
# Central orchestration service for AI enemy management in Night City MMOFPS RPG
# Issue: #2300

openapi: 3.0.3
info:
  title: AI Enemy Coordinator Service API
  description: |
    **Enterprise-grade API for AI Enemy Coordination**

    ## Domain Purpose
    Central orchestration service managing AI enemy lifecycle, state coordination, and task distribution across zones.
    Provides unified interface for AI enemy spawning, lifecycle management, and performance monitoring.

    ## Performance Targets
    - P99 Latency: <50ms for all endpoints (critical for real-time coordination)
    - Memory per Zone: <50MB for 500+ concurrent AI entities
    - Concurrent Operations: 1000+ guild wars, 500+ AI entities per zone
    - Uptime: 99.9% SLA (mission-critical for gameplay)

    ## Domain Inheritance (SOLID/DRY)
    This service inherits from game-entities.yaml providing:
    - Consistent base entity structure (id, timestamps, version) - НЕ ДУБЛИРУЕМ!
    - Game-specific business entities through `allOf` pattern
    - Optimistic locking for concurrent operations (version field)
    - Strict typing with validation rules (min/max, patterns, enums)

    **SOLID/DRY Principle:**
    - ✅ Наследуем базовые поля через `$ref` и `allOf`
    - ✅ Добавляем только уникальные поля сервиса
    - ❌ НЕ дублируем общие поля (id, created_at, updated_at, version)
    - ❌ НЕ переопределяем базовые структуры

  version: "1.0.0"
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.necpgame.com/v1/ai-enemy-coordinator
    description: Production environment
  - url: https://staging-api.necpgame.com/v1/ai-enemy-coordinator
    description: Staging environment
  - url: http://localhost:8080/api/v1/ai-enemy-coordinator
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: AI Enemy Coordination
    description: Core AI enemy orchestration operations
  - name: Zone Management
    description: Zone-based AI enemy lifecycle management
  - name: Performance Monitoring
    description: AI enemy performance metrics and monitoring
  - name: Health Monitoring
    description: Service health and performance monitoring
  - name: Administration
    description: Administrative operations

paths:
  # Health Check Endpoints - Required for all services
  /health:
    get:
      operationId: {serviceName}HealthCheck
      summary: Basic health check
      description: Returns service health status
      tags: [Health Monitoring]
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '../common/responses/error.yaml#/components/responses/ServiceUnavailable'

  /health/detailed:
    get:
      operationId: {serviceName}DetailedHealthCheck
      summary: Detailed health check with metrics
      description: Returns comprehensive health status including performance metrics
      tags: [Health Monitoring]
      responses:
        '200':
          description: Detailed health information
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/components/schemas/DetailedHealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '../common/responses/error.yaml#/components/responses/ServiceUnavailable'

  /health/batch:
    get:
      operationId: {serviceName}BatchHealthCheck
      summary: Batch health check for multiple services
      description: Checks health of this service and its dependencies
      tags: [Health Monitoring]
      responses:
        '200':
          description: Batch health results
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/components/schemas/HealthResponse'

  # WebSocket Health Check - Required for real-time services (опционально)
  # /health/ws:
  #   get:
  #     operationId: {serviceName}WebSocketHealthCheck
  #     summary: WebSocket connection health check
  #     description: Tests WebSocket connectivity and real-time messaging
  #     tags: [Health Monitoring]
  #     responses:
  #       '200':
  #         description: WebSocket connection healthy
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '../common/schemas/health.yaml#/components/schemas/HealthResponse'

  # Example Core Business Endpoint - Замените на реальные endpoints
  # /{resource}s:
  #   get:
  #     operationId: list{Resource}s
  #     summary: List {resources} with filtering and pagination
  #     description: |
  #       Retrieve a paginated list of {resources} with advanced filtering options.

  #       **Performance Notes:**
  #       - Uses database indexes for efficient filtering
  #       - Implements cursor-based pagination for large datasets
  #       - Response cached for 30 seconds
  #     tags: [{ServiceDomain}]
  #     parameters:
  #       - name: limit
  #         in: query
  #         schema:
  #           type: integer
  #           minimum: 1
  #           maximum: 100
  #           default: 20
  #         description: Number of items to return
  #       - name: cursor
  #         in: query
  #         schema:
  #           type: string
  #         description: Pagination cursor
  #     responses:
  #       '200':
  #         description: List of {resources}
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/{Resource}ListResponse'
  #       '400':
  #         $ref: '../common/responses/error.yaml#/components/responses/BadRequest'
  #       '401':
  #         $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'

components:
  responses:
    # Стандартные ответы - используйте $ref на common/responses
    OK:
      $ref: '../common/responses/success.yaml#/components/responses/OK'
    Created:
      $ref: '../common/responses/success.yaml#/components/responses/Created'
    BadRequest:
      $ref: '../common/responses/error.yaml#/components/responses/BadRequest'
    Unauthorized:
      $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
    NotFound:
      $ref: '../common/responses/error.yaml#/components/responses/NotFound'
    Conflict:
      $ref: '../common/responses/error.yaml#/components/responses/Conflict'
    InternalServerError:
      $ref: '../common/responses/error.yaml#/components/responses/InternalServerError'

  schemas:
    # Domain entities - ОБЯЗАТЕЛЬНО используйте allOf для наследования (SOLID/DRY)
    # ПРИМЕР 1: Game Domain Entity
    # {Resource}:
    #   description: Service-specific entity inheriting from domain base
    #   allOf:
    #     - $ref: '../common/schemas/game-entities.yaml#/components/schemas/CharacterEntity'
    #     - type: object
    #       required: [unique_field]
    #       properties:
    #         # PERFORMANCE: Struct Alignment - порядок полей large → small (30-50% memory savings)
    #         # OGEN сохраняет порядок полей из OpenAPI спецификации
    #         # Проверка ПОСЛЕ генерации: fieldalignment ./pkg/api/...
    #         unique_field: {type: string, minLength: 1, maxLength: 100}
    #         # ТОЛЬКО уникальные поля сервиса - базовые поля (id, timestamps, version) наследуются!
    #
    # ПРИМЕР 2: Economy Domain Entity
    # {Resource}:
    #   description: Economic entity with transaction capabilities
    #   allOf:
    #     - $ref: '../common/schemas/economy-entities.yaml#/components/schemas/WalletEntity'
    #     - type: object
    #       properties:
    #         service_specific_field: {type: integer, minimum: 0}
    #
    # ПРИМЕР 3: Social Domain Entity
    # {Resource}:
    #   description: Social entity with communication features
    #   allOf:
    #     - $ref: '../common/schemas/social-entities.yaml#/components/schemas/UserProfileEntity'
    #     - type: object
    #       properties:
    #         custom_social_field: {type: string}
    #
    # ПРИМЕР 4: Infrastructure Domain Entity
    # {Resource}:
    #   description: Infrastructure entity with audit capabilities
    #   allOf:
    #     - $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/AuditLogEntity'
    #     - type: object
    #       properties:
    #         infrastructure_specific_field: {type: boolean}

  securitySchemes:
    BearerAuth:
      $ref: '../common/security/security.yaml#/components/securitySchemes/BearerAuth'

# Domain inheritance documentation (SOLID/DRY)
x-domain-inheritance:
  inherits-from: "common/schemas/{domain}-entities.yaml"
  additional-schemas: "Service-specific extensions only"
  no-duplication: "All common fields (id, timestamps, version) inherited, not redefined"
  pattern: "allOf with $ref to domain entities + service-specific properties only"

# Issue: #{issue_number}
