openapi: 3.0.3
info:
  title: AI Enemy Coordinator Service API
  description: |
    **Enterprise-grade API for AI Enemy Coordination**

    ## Domain Purpose
    Central orchestration service managing AI enemy lifecycle, state coordination, and task distribution across zones.
  version: "1.0.0"

servers:
  - url: https://api.necpgame.com/v1/ai-enemy-coordinator
    description: Production environment
  - url: http://localhost:8080/api/v1/ai-enemy-coordinator
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: AI Enemy Coordination
    description: Core AI enemy coordination operations
  - name: Health Monitoring
    description: Service health and performance monitoring

paths:
  /health:
    get:
      operationId: aiEnemyCoordinatorHealthCheck
      summary: Basic health check
      description: Returns service health status
      tags: [Health Monitoring]
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "healthy"
                  timestamp:
                    type: string
                    format: date-time
                    example: "2024-01-15T14:20:00Z"

  /ai-enemies:
    post:
      operationId: spawnAiEnemy
      summary: Spawn new AI enemy in zone
      description: Spawn a new AI enemy in the specified zone with given parameters.
      tags: [AI Enemy Coordination]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiSpawnRequest'
      responses:
        '201':
          description: AI enemy successfully spawned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiCoordinationResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid request parameters"

components:
  schemas:
    AiSpawnRequest:
      type: object
      required: [zone_id, enemy_type, spawn_position]
      properties:
        zone_id:
          type: string
          format: uuid
          description: Target zone for spawning
          example: "a1b2c3d4-1234-5678-9abc-def012345678"
        enemy_type:
          type: string
          enum: [elite_mercenary_boss, cyberpsychic_elite, corporate_elite_squad, regular_enemy]
          description: Type of enemy to spawn
          example: "regular_enemy"
        spawn_position:
          type: object
          required: [x, y, z]
          properties:
            x: {type: number, format: float, description: "X coordinate", example: 123.45}
            y: {type: number, format: float, description: "Y coordinate", example: 67.89}
            z: {type: number, format: float, description: "Z coordinate", example: 0.0}

    AiCoordinationResponse:
      type: object
      required: [enemy_id, status, spawn_timestamp]
      properties:
        enemy_id:
          type: string
          format: uuid
          description: Unique identifier for the spawned enemy
          example: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        status:
          type: string
          enum: [spawned, spawning, failed]
          description: Spawn operation result
          example: "spawned"
        spawn_timestamp:
          type: string
          format: date-time
          description: Timestamp of spawn operation
          example: "2024-01-15T14:20:00Z"
        zone_metrics:
          type: object
          properties:
            active_enemies:
              type: integer
              minimum: 0
              description: Number of active enemies in zone
              example: 150
            performance_metrics:
              type: object
              properties:
                cpu_usage_percent:
                  type: number
                  format: float
                  minimum: 0
                  maximum: 100
                  description: CPU usage percentage
                  example: 45.5
                memory_usage_mb:
                  type: integer
                  minimum: 0
                  description: Memory usage in MB
                  example: 256

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token authentication