# Target Architecture:
# - Microservice: social-service (port 8084)
# - API Base: /api/v1/social/referrals
# - Dependencies: auth-service, account-service, reward-service, progression-service, notification-service, analytics-service, anti-cheat-service
# - Frontend Module: modules/social/referrals (useSocialStore)
# - UI: ReferralDashboard, ReferralCodeCard, MilestoneProgress, ReferralRewardsList, ReferralLeaderboard
# - Forms: GenerateCodeForm, ShareReferralForm, ManualRewardGrantForm
# - Layouts: SocialHubLayout, AccountDashboard
# - Hooks: useReferralCode, useReferralProgress, useReferralLeaderboard

openapi: 3.0.3
info:
  title: Referral System API
  description: >
    Реферальная программа NECPGAME: генерация кодов, регистрация друзей, milestones,
    выдача наград и аналитические отчёты.
  version: 1.0.0
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - { name: Codes, description: Управление реферальными кодами }
  - { name: Referrals, description: Регистрация и прогресс рефералов }
  - { name: Rewards, description: Выдача наград и milestone события }
  - { name: Analytics, description: Лидерборды и отчёты }
  - { name: AntiCheat, description: Анти-абуз проверки }
paths:
  /social/referrals/codes:
    post:
      tags: [Codes]
      summary: Сгенерировать реферальный код
      description: "Создаёт или возвращает активный код для игрока. Ограничение: один активный код на аккаунт."
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GenerateCodeRequest' }
            examples:
              generate:
                value: { playerId: "player-111", channel: "social_share" }
      responses:
        '201': { description: Код создан, content: { application/json: { schema: { $ref: '#/components/schemas/GenerateCodeResponse' } } } }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '409': { description: Код уже существует, content: { application/json: { schema: { $ref: '#/components/schemas/ReferralError' } } } }
  /social/referrals/codes/{playerId}:
    get:
      tags: [Codes]
      summary: Получить код и статистику
      parameters:
        - $ref: '#/components/parameters/PlayerId'
      responses:
        '200': { description: Код и статистика, content: { application/json: { schema: { $ref: '#/components/schemas/ReferralCode' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { description: Код не найден, content: { application/json: { schema: { $ref: '#/components/schemas/ReferralError' } } } }
  /social/referrals/register:
    post:
      tags: [Referrals]
      summary: Зарегистрировать реферала
      description: Вызывается при создании нового аккаунта. Применяет код, проверяет анти-абуз и создаёт запись.
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ReferralRegistrationRequest' } } } }
      responses:
        '201': { description: Реферал зарегистрирован, content: { application/json: { schema: { $ref: '#/components/schemas/Referral' } } } }
        '400': { description: Некорректный код/самореферал, content: { application/json: { schema: { $ref: '#/components/schemas/ReferralError' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '409': { description: Код достиг лимита, content: { application/json: { schema: { $ref: '#/components/schemas/ReferralError' } } } }
  /social/referrals/{referralId}:
    get:
      tags: [Referrals]
      summary: Получить данные реферала
      parameters:
        - $ref: '#/components/parameters/ReferralId'
      responses:
        '200': { description: Реферал, content: { application/json: { schema: { $ref: '#/components/schemas/Referral' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /social/referrals/milestones:
    get:
      tags: [Referrals]
      summary: Прогресс milestones referrer'а
      parameters:
        - { in: query, name: playerId, schema: { type: string }, required: true }
      responses:
        '200': { description: Прогресс milestones, content: { application/json: { schema: { $ref: '#/components/schemas/MilestoneProgressList' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /social/referrals/{referralId}/milestones/complete:
    post:
      tags: [Rewards]
      summary: Отметить milestone выполненным (OPS)
      parameters:
        - $ref: '#/components/parameters/ReferralId'
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/CompleteMilestoneRequest' } } } }
      responses:
        '202': { description: Milestone отмечен }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /social/referrals/{referralId}/rewards:
    post:
      tags: [Rewards]
      summary: Выдать награды
      description: Может вызываться автоматически после проверки milestones или вручную (OPS).
      parameters:
        - $ref: '#/components/parameters/ReferralId'
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/RewardGrantRequest' } } } }
      responses:
        '202': { description: Награды назначены, content: { application/json: { schema: { $ref: '#/components/schemas/RewardGrantResponse' } } } }
        '400': { description: Мильстоун не выполнен, content: { application/json: { schema: { $ref: '#/components/schemas/ReferralError' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /social/referrals/leaderboard:
    get:
      tags: [Analytics]
      summary: Лидерборд рефералов
      parameters:
        - { in: query, name: range, schema: { type: string, enum: [7d, 30d, all_time], default: 30d } }
        - { in: query, name: region, schema: { type: string } }
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200': { description: Лидерборд, content: { application/json: { schema: { $ref: '#/components/schemas/LeaderboardResponse' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /social/referrals/analytics:
    get:
      tags: [Analytics]
      summary: Аналитика реферальной программы
      parameters:
        - { in: query, name: range, schema: { type: string, enum: [7d, 30d, 90d], default: 30d } }
        - { in: query, name: channel, schema: { type: string } }
      responses:
        '200': { description: Аналитика, content: { application/json: { schema: { $ref: '#/components/schemas/AnalyticsResponse' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /social/referrals/anti-cheat/review:
    post:
      tags: [AntiCheat]
      summary: Пометить подозрительные рефералы
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/AntiCheatReviewRequest' } } } }
      responses:
        '202': { description: Отправлено на проверку }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /social/referrals/codes/{code}/deactivate:
    post:
      tags: [Codes]
      summary: Деактивировать код
      parameters:
        - $ref: '#/components/parameters/Code'
      responses:
        '202': { description: Код деактивирован }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /social/referrals/referred/{playerId}:
    get:
      tags: [Referrals]
      summary: Получить статус приглашённого игрока
      parameters:
        - $ref: '#/components/parameters/PlayerId'
      responses:
        '200': { description: Статус приглашённого, content: { application/json: { schema: { $ref: '#/components/schemas/ReferredPlayerStatus' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /social/referrals/events/level-up:
    post:
      tags: [Rewards]
      summary: Webhook события level-up
      description: Вызывается progression-service при достижении уровня, обновляет milestones.
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/LevelUpEvent' } } } }
      responses:
        '202': { description: Событие принято }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
  /social/referrals/events/purchase:
    post:
      tags: [Rewards]
      summary: Webhook события first purchase
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/PurchaseEvent' } } } }
      responses:
        '202': { description: Покупка обработана }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
  /social/referrals/settings:
    get:
      tags: [Analytics]
      summary: Текущие настройки реферальной программы
      responses:
        '200': { description: Настройки, content: { application/json: { schema: { $ref: '#/components/schemas/ReferralSettings' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
components:
  securitySchemes:
    BearerAuth: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth' }
  parameters:
    PlayerId: { name: playerId, in: path, required: true, schema: { type: string }, description: UUID игрока }
    ReferralId: { name: referralId, in: path, required: true, schema: { type: string }, description: UUID реферала }
    Code: { name: code, in: path, required: true, schema: { type: string }, description: Реферальный код }
  schemas:
    ReferralCode:
      type: object
      required: [code, playerId, createdAt]
      properties:
        code: { type: string }
        playerId: { type: string }
        shareUrl: { type: string, format: uri }
        qrcodeUrl: { type: string, format: uri }
        usesCount: { type: integer }
        maxUses: { type: integer }
        isActive: { type: boolean }
        createdAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time }
        stats: { $ref: '#/components/schemas/ReferralStats' }
    ReferralStats:
      type: object
      properties:
        totalReferrals: { type: integer }
        activeReferrals: { type: integer }
        completedReferrals: { type: integer }
        pendingRewards: { type: integer }
    GenerateCodeRequest:
      type: object
      required: [playerId]
      properties:
        playerId: { type: string }
        channel: { type: string }
    GenerateCodeResponse:
      type: object
      properties:
        code: { type: string }
        shareUrl: { type: string }
        qrcodeUrl: { type: string }
        stats: { $ref: '#/components/schemas/ReferralStats' }
    ReferralRegistrationRequest:
      type: object
      required: [newPlayerId, referralCode]
      properties:
        newPlayerId: { type: string }
        referralCode: { type: string }
        sourceChannel: { type: string }
        deviceInfo: { type: string }
    Referral:
      type: object
      required: [referralId, referrerId, referredPlayerId, status]
      properties:
        referralId: { type: string }
        referrerId: { type: string }
        referredPlayerId: { type: string }
        status: { type: string, enum: [PENDING, ACTIVE, COMPLETED, FLAGGED] }
        registeredAt: { type: string, format: date-time }
        completedAt: { type: string, format: date-time }
        milestones: { type: array, items: { $ref: '#/components/schemas/MilestoneProgress' } }
        rewards: { type: array, items: { $ref: '#/components/schemas/RewardGrant' } }
    MilestoneProgress:
      type: object
      required: [milestoneId, name, target]
      properties:
        milestoneId: { type: string }
        name: { type: string }
        target: { type: integer }
        current: { type: integer }
        status: { type: string, enum: [LOCKED, IN_PROGRESS, COMPLETED] }
        completedAt: { type: string, format: date-time }
        rewards: { type: array, items: { $ref: '#/components/schemas/RewardGrant' } }
    MilestoneProgressList:
      type: object
      properties:
        playerId: { type: string }
        milestones: { type: array, items: { $ref: '#/components/schemas/MilestoneProgress' } }
    CompleteMilestoneRequest:
      type: object
      required: [milestoneId]
      properties:
        milestoneId: { type: string }
        note: { type: string }
    RewardGrant:
      type: object
      required: [rewardId, type, grantedAt]
      properties:
        rewardId: { type: string }
        type: { type: string, enum: [currency, item, title, cosmetic] }
        amount: { type: integer }
        grantedTo: { type: string }
        grantedAt: { type: string, format: date-time }
        status: { type: string, enum: [PENDING, GRANTED, FAILED] }
    RewardGrantRequest:
      type: object
      required: [milestoneId]
      properties:
        milestoneId: { type: string }
        overrideAmount: { type: integer }
        reason: { type: string }
    RewardGrantResponse:
      type: object
      properties:
        rewards: { type: array, items: { $ref: '#/components/schemas/RewardGrant' } }
        notifications: { type: array, items: { type: string } }
    LeaderboardResponse:
      type: object
      properties:
        range: { type: string }
        entries: { type: array, items: { $ref: '#/components/schemas/LeaderboardEntry' } }
        pagination: { $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginationMeta' }
    LeaderboardEntry:
      type: object
      required: [rank, playerId, referralsCount]
      properties:
        rank: { type: integer }
        playerId: { type: string }
        referralsCount: { type: integer }
        activeReferrals: { type: integer }
        rewardsEarned: { type: integer }
        region: { type: string }
    AnalyticsResponse:
      type: object
      properties:
        range: { type: string }
        totals: { type: object, properties: { generatedCodes: { type: integer }, registeredReferrals: { type: integer }, completedReferrals: { type: integer } } }
        conversionRates: { type: object, properties: { inviteToRegisterPercent: { type: number }, registerToCompletePercent: { type: number } } }
        revenuePerReferral: { type: number }
        topChannels: { type: array, items: { type: object, properties: { channel: { type: string }, completed: { type: integer } } } }
    AntiCheatReviewRequest:
      type: object
      required: [referralIds, suspicionType]
      properties:
        referralIds: { type: array, items: { type: string } }
        suspicionType: { type: string, enum: [self_referral, mass_accounts, bot_behavior] }
        notes: { type: string }
    ReferralSettings:
      type: object
      properties:
        welcomeBonus: { type: object, properties: { type: { type: string }, amount: { type: integer } } }
        referrerRewards: { type: array, items: { type: object, properties: { milestone: { type: integer }, reward: { type: string } } } }
        limits: { type: object, properties: { maxUses: { type: integer }, dailyCap: { type: integer }, cooldownHours: { type: integer } } }
    ReferredPlayerStatus:
      type: object
      properties:
        playerId: { type: string }
        referrerId: { type: string }
        milestonesCompleted: { type: array, items: { type: string } }
        pendingRewards: { type: array, items: { $ref: '#/components/schemas/RewardGrant' } }
    LevelUpEvent:
      type: object
      required: [playerId, level]
      properties:
        playerId: { type: string }
        level: { type: integer }
        occurredAt: { type: string, format: date-time }
    PurchaseEvent:
      type: object
      required: [playerId, purchaseId]
      properties:
        playerId: { type: string }
        purchaseId: { type: string }
        amount: { type: number }
        occurredAt: { type: string, format: date-time }
    ReferralError:
      type: object
      required: [code, message]
      properties:
        code: { type: string, enum: [CODE_NOT_FOUND, CODE_INACTIVE, SELF_REFERRAL, LIMIT_REACHED, REFERRAL_NOT_FOUND, MILESTONE_NOT_MET] }
        message: { type: string }
    ReferralEvent:
      type: object
      properties:
        eventType: { type: string, enum: [referral.created, referral.registered, referral.milestone_reached, referral.reward_granted, referral.flagged] }
        publishedAt: { type: string, format: date-time }
        payload: { type: object, additionalProperties: true }

