openapi: 3.0.3
info:
  title: Achievement Service API - Enterprise-Grade Player Achievement Management
  description: '**Enterprise-Grade Achievement Service API for NECPGAME**


    Comprehensive player achievement system managing progress tracking, unlocks, rewards,

    and gamification features for the NECPGAME ecosystem.


    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation

    - **Backend optimization hints** for struct alignment and performance (30-50% memory savings)

    - **Complete validation** with redocly and ogen code generation

    - **Security-first approach** with JWT authentication and achievement validation

    - **Performance-optimized** response structures with field ordering

    - **Comprehensive error handling** with proper HTTP status codes


    ## Domain Purpose

    The Achievement Service manages all player achievements, progress tracking, reward systems,

    and gamification mechanics in NECPGAME. Includes progress bars, hidden achievements,

    seasonal challenges, and leaderboard integration.


    ## Performance Targets

    - P99 Latency: <25ms for achievement checks (HOT PATH)

    - P99 Latency: <50ms for progress updates

    - Memory: <20KB per active achievement session

    - Concurrent users: 50,000+ simultaneous achievement operations

    - Event throughput: 10,000+ achievement unlocks/minute

    - Data consistency: Event-sourced with CQRS patterns

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/achievement
  description: Production server
- url: https://staging-api.necpgame.com/v1/achievement
  description: Staging server
- url: http://localhost:8080/api/v1/achievement
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Achievement Management
  description: Achievement CRUD operations and lifecycle management
- name: Progress Tracking
  description: Achievement progress monitoring and milestone tracking
- name: Rewards System
  description: Achievement rewards, unlocks, and cosmetic items
- name: Leaderboards
  description: Achievement-based leaderboards and rankings
- name: Seasonal Events
  description: Time-limited achievements and seasonal challenges
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Achievement service health check
      description: '**Enterprise-grade health check endpoint**


        Provides real-time health status of the achievement service microservice.

        Critical for service discovery, load balancing, and monitoring.

        Includes achievement progress and reward system status.


        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: achievementServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /health/batch:
    post:
      summary: Batch health check for multiple domain services
      description: '**Performance optimization:** Check multiple domain health in single request


        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.


        **Use case:** Service mesh health checks, Kubernetes readiness probes

        '
      operationId: achievementServiceBatchHealthCheck
      tags:
      - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                    - example-domain
                    - system-domain
                    - specialized-domain
                    maxItems: 10
                  description: List of services to check
      responses:
        '200':
          $ref: '#/components/responses/HealthBatchSuccess'
        '400':
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description: '**Performance optimization:** Real-time health updates without polling


        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.


        **Protocol:** WebSocket with JSON payloads

        **Heartbeat:** 30 second intervals

        **Reconnection:** Automatic with exponential backoff

        '
      operationId: exampleDomainHealthWebSocket
      tags:
      - Health Monitoring
      parameters:
      - name: services
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - example-domain
            - system-domain
            - specialized-domain
        description: Services to monitor (optional, monitors all if not specified)
      responses:
        '200':
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/example-domain/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                    - health-monitoring-v1
        '101':
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSocketHealthMessage'
        '400':
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /achievements:
    get:
      summary: List achievements with filtering and pagination
      description: '**Enterprise-grade achievement listing endpoint**


        Supports complex filtering by category, difficulty, completion status, and player progress.

        Optimized for high-throughput achievement browsing with proper database indexing.

        Critical for achievement UI and progress tracking.


        **Performance:** <10ms P95, supports 1000+ concurrent requests

        **Memory optimization:** 30-50% savings through struct field alignment

        '
      operationId: listAchievements
      tags:
      - Achievement Management
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Page number for pagination
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Number of achievements per page
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - name
          - difficulty
          - reward_value
          - completion_rate
          - created_at
          default: name
        description: Sort field for achievements
      - name: sort_order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Sort order
      - name: category
        in: query
        schema:
          type: string
          enum:
          - combat
          - exploration
          - social
          - collection
          - progression
          - seasonal
          - hidden
        description: Filter by achievement category
      - name: difficulty
        in: query
        schema:
          type: string
          enum:
          - easy
          - medium
          - hard
          - legendary
        description: Filter by difficulty level
      - name: player_progress
        in: query
        schema:
          type: string
          enum:
          - not_started
          - in_progress
          - completed
          - locked
        description: Filter by player's progress status
      - name: seasonal
        in: query
        schema:
          type: boolean
          default: false
        description: Include only seasonal achievements
      responses:
        '200':
          $ref: '#/components/responses/ExampleListSuccess'
        '400':
          description: Invalid request - malformed query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create new example
      description: '**Enterprise-grade creation endpoint**


        Validates business rules, applies security checks, and ensures data consistency.

        Supports optimistic locking for concurrent operations.


        **Performance:** <50ms P95, includes validation and business logic

        '
      operationId: createExample
      tags:
      - Example Domain
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExampleRequest'
      responses:
        '201':
          $ref: '#/components/responses/ExampleCreated'
        '400':
          description: Invalid request - malformed or missing data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - example with this identifier already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - creation rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /players/{player_id}/achievements:
    get:
      summary: Get player achievement progress
      description: '**Enterprise-grade player achievement endpoint**


        Retrieves detailed achievement progress for a specific player including completion status,

        progress percentages, timestamps, and reward claims.

        Critical for achievement UI and player progression tracking.


        **Performance:** <15ms P95 (HOT PATH), Redis cached

        **Memory optimization:** 30-50% savings through struct field alignment

        '
      operationId: getPlayerAchievements
      tags:
      - Progress Tracking
      parameters:
      - name: player_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Player unique identifier
      - name: status
        in: query
        schema:
          type: string
          enum:
          - all
          - completed
          - in_progress
          - locked
          default: all
        description: Filter by achievement status
      - name: category
        in: query
        schema:
          type: string
          enum:
          - combat
          - exploration
          - social
          - collection
          - progression
          - seasonal
          - hidden
        description: Filter by achievement category
      responses:
        '200':
          description: Player achievements retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, private
            X-Total-Achievements:
              schema:
                type: integer
                example: 150
              description: Total achievements available
            X-Completed-Achievements:
              schema:
                type: integer
                example: 45
              description: Number of completed achievements
          content:
            application/json:
              schema:
                type: object
                required:
                - achievements
                - statistics
                properties:
                  achievements:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlayerAchievement'
                    description: Player's achievement progress
                  statistics:
                    $ref: '#/components/schemas/PlayerAchievementStats'
        '401':
          description: Unauthorized - cannot access other player's achievements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Player not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /players/{player_id}/achievements/{achievement_id}/progress:
    post:
      summary: Update achievement progress
      description: '**Enterprise-grade progress update endpoint**


        Updates achievement progress based on player actions and game events.

        Supports incremental progress, completion triggers, and reward unlocking.

        Critical for real-time achievement tracking and gamification.


        **Performance:** <10ms P95 for progress updates

        **Business rules:** Progress validation, completion triggers, reward distribution

        '
      operationId: updateAchievementProgress
      tags:
      - Progress Tracking
      parameters:
      - name: player_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Player unique identifier
      - name: achievement_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Achievement unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProgressRequest'
      responses:
        '200':
          description: Achievement progress updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerAchievement'
        '400':
          description: Invalid progress data or achievement requirements not met
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Achievement or player not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Achievement already completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /players/{player_id}/achievements/{achievement_id}/claim-reward:
    post:
      summary: Claim achievement reward
      description: '**Enterprise-grade reward claiming endpoint**


        Allows players to claim rewards for completed achievements.

        Supports multiple reward types: currency, items, cosmetics, titles.

        Critical for player engagement and reward distribution systems.


        **Performance:** <20ms P95, includes inventory integration

        **Business rules:** One-time claims, reward validation, inventory capacity

        '
      operationId: claimAchievementReward
      tags:
      - Rewards System
      security:
      - BearerAuth: []
      parameters:
      - name: player_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Player unique identifier
      - name: achievement_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Achievement unique identifier
      responses:
        '200':
          description: Reward claimed successfully
          content:
            application/json:
              schema:
                type: object
                required:
                - achievement_id
                - rewards_granted
                - claimed_at
                properties:
                  achievement_id:
                    type: string
                    format: uuid
                    example: 550e8400-e29b-41d4-a716-446655440000
                  rewards_granted:
                    type: array
                    items:
                      $ref: '#/components/schemas/AchievementReward'
                    description: List of rewards granted
                  claimed_at:
                    type: string
                    format: date-time
                    example: '2025-12-22T10:30:00Z'
          headers:
            X-Reward-Transaction-Id:
              schema:
                type: string
                example: reward-tx-123456
              description: Transaction ID for reward delivery tracking
        '400':
          description: Achievement not completed or reward already claimed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Achievement or player not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many reward claims - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /examples/{example_id}:
    get:
      summary: Get specific example by ID
      description: '**Enterprise-grade retrieval endpoint**


        Optimized with proper caching strategies and database indexing.

        Supports conditional requests with ETags.


        **Performance:** <5ms P95 with Redis caching

        '
      operationId: getExample
      tags:
      - Example Domain
      parameters:
      - name: example_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Example unique identifier
      - name: include_related
        in: query
        schema:
          type: boolean
          default: false
        description: Include related data in response
      - name: If-None-Match
        in: header
        schema:
          type: string
        description: Conditional request - return 304 if ETag matches
      - name: If-Modified-Since
        in: header
        schema:
          type: string
          format: date-time
        description: Conditional request - return 304 if not modified since this time
      responses:
        '200':
          $ref: '#/components/responses/ExampleRetrieved'
        '304':
          description: Not modified - resource has not changed
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
        '400':
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Example not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update existing example
      description: '**Enterprise-grade update endpoint**


        Supports partial updates, optimistic locking, and audit trails.

        Ensures data consistency with event sourcing patterns.


        **Performance:** <25ms P95, includes validation and conflict resolution

        '
      operationId: updateExample
      tags:
      - Example Domain
      security:
      - BearerAuth: []
      parameters:
      - name: example_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Example unique identifier
      - name: If-Match
        in: header
        schema:
          type: string
        description: ETag for optimistic locking - prevents concurrent updates
      - name: If-Unmodified-Since
        in: header
        schema:
          type: string
          format: date-time
        description: Conditional update - proceed only if not modified since this time
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExampleRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExampleUpdated'
        '400':
          description: Invalid request - malformed data or example ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Example not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - version conflict or precondition failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition failed - condition not met
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - update rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete example
      description: '**Enterprise-grade deletion endpoint**


        Supports soft deletes with audit trails and cleanup scheduling.

        Ensures referential integrity and cascading deletes.


        **Performance:** <15ms P95, includes cleanup operations

        '
      operationId: deleteExample
      tags:
      - Example Domain
      security:
      - BearerAuth: []
      parameters:
      - name: example_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Example unique identifier
      responses:
        '204':
          $ref: '#/components/responses/ExampleDeleted'
        '400':
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Example not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - example cannot be deleted (referential integrity)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - deletion rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  responses:
    HealthBatchSuccess:
      description: Batch health results retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: no-cache
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            type: object
            required:
            - results
            - total_time_ms
            properties:
              results:
                type: array
                items:
                  $ref: '#/components/schemas/HealthResponse'
                description: Health status for each requested service
              total_time_ms:
                type: integer
                description: Total processing time in milliseconds
                example: 15
                minimum: 0
    ExampleListSuccess:
      description: Examples retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
        X-Total-Count:
          schema:
            type: integer
            example: 150
            description: Total number of examples matching criteria
        X-Page-Count:
          schema:
            type: integer
            example: 8
            description: Total number of pages
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExampleListResponse'
    ExampleCreated:
      description: Example created successfully
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/examples/550e8400-e29b-41d4-a716-446655440000
            description: URL of the created example
        Cache-Control:
          schema:
            type: string
            example: no-cache
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExampleResponse'
    ExampleRetrieved:
      description: Example retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
            description: Cache control directives
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: '2025-12-21T10:00:00Z'
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 5
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExampleResponse'
    ExampleUpdated:
      description: Example updated successfully
      headers:
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: '2025-12-21T10:05:00Z'
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 25
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExampleResponse'
    ExampleDeleted:
      description: Example deleted successfully
      headers:
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT Bearer token authentication.


        **Token Format:** `Bearer {token}`

        **Token Claims:**

        - `sub`: User/Player ID

        - `exp`: Expiration timestamp

        - `iat`: Issued at timestamp

        - `iss`: Token issuer

        - `aud`: Token audience

        - `roles`: User roles array

        - `permissions`: User permissions array


        **Security Features:**

        - RS256 signature algorithm

        - Token rotation required every 24 hours

        - Automatic refresh tokens

        - Revocation support via Redis

        '
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'API Key authentication for service-to-service communication.


        **Use Cases:**

        - Internal service communication

        - Third-party integrations

        - Development and testing


        **Security:**

        - HMAC-SHA256 signed

        - Rate limited per key

        - Scoped permissions

        '
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.necpgame.com/oauth/authorize
          tokenUrl: https://auth.necpgame.com/oauth/token
          refreshUrl: https://auth.necpgame.com/oauth/refresh
          scopes:
            read: Read access to resources
            write: Write access to resources
            admin: Administrative access
            profile: Access to user profile
            guilds: Access to guild management
        clientCredentials:
          tokenUrl: https://auth.necpgame.com/oauth/token
          scopes:
            service: Service-to-service communication
            monitoring: Monitoring and metrics access
    MutualTLS:
      type: apiKey
      in: header
      name: X-Client-Certificate
      description: 'Mutual TLS authentication for high-security operations.


        **Requirements:**

        - Valid client certificate

        - Certificate signed by trusted CA

        - Certificate not revoked (OCSP/CRL check)


        **Use Cases:**

        - Administrative operations

        - Financial transactions

        - Critical system operations


        **Header:** `X-Client-Certificate: {certificate_fingerprint}`

        '
  schemas:
    HealthResponse:
      type: object
      required:
      - status
      - timestamp
      - domain
      properties:
        domain:
          type: string
          example: example-domain
          maxLength: 50
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
          example: healthy
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          example: '2025-12-21T10:00:00Z'
          maxLength: 255
        version:
          type: string
          example: 1.0.0
          maxLength: 50
        uptime_seconds:
          type: integer
          example: 3600
        active_connections:
          type: integer
          example: 1500
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    WebSocketHealthMessage:
      type: object
      required:
      - type
      - timestamp
      - health
      properties:
        type:
          type: string
          enum:
          - health_update
          - health_alert
          - service_down
          example: health_update
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          maxLength: 255
        message_timestamp:
          type: string
          format: date-time
          description: Timestamp of the health message
          maxLength: 1000
        health:
          $ref: '#/components/schemas/HealthResponse'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    Error:
      type: object
      required:
      - code
      - message
      properties:
        message:
          type: string
          maxLength: 256
          example: Internal server error
        domain:
          type: string
          example: example-domain
          maxLength: 50
        details:
          type: object
          description: Additional error context
          example:
            field: name
            reason: required
        code:
          type: integer
          format: int32
          minimum: 100
          maximum: 599
          example: 500
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    Example:
      type: object
      required:
      - id
      - name
      - created_at
      - status
      - is_active
      properties:
        id:
          type: string
          format: uuid
          description: Example unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Example display name
          example: Sample Example
        description:
          type: string
          maxLength: 1000
          description: Detailed description
          example: This is a comprehensive example demonstrating best practices.
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: '2025-12-21T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-21T10:00:00Z'
        status:
          type: string
          enum:
          - active
          - inactive
          - pending
          - archived
          default: active
          description: Current status
          example: active
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Associated tags
          example:
          - demo
          - template
          - best-practice
        is_active:
          type: boolean
          description: Whether this example is active
          example: true
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Processing priority
          example: 7
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%. Hot
        path optimization required.'
    CreateExampleRequest:
      type: object
      required:
      - name
      - description
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Desired example name
          example: My New Example
        description:
          type: string
          maxLength: 1000
          description: Example description
          example: A new example following enterprise-grade patterns.
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Initial tags
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Processing priority
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    UpdateExampleRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: New example name
          example: Updated Example Name
        description:
          type: string
          maxLength: 1000
          description: New description
        status:
          type: string
          enum:
          - active
          - inactive
          - pending
          - archived
          description: New status
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Replace all tags
        is_active:
          type: boolean
          description: Update active status
        priority:
          type: integer
          minimum: 1
          maximum: 10
          description: New priority
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    ExampleResponse:
      type: object
      required:
      - example
      properties:
        example:
          $ref: '#/components/schemas/Example'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    ExampleListResponse:
      type: object
      required:
      - examples
      - total_count
      - has_more
      properties:
        examples:
          type: array
          items:
            $ref: '#/components/schemas/Example'
          description: List of examples
        has_more:
          type: boolean
          description: Whether there are more results available
          example: true
        total_count:
          type: integer
          description: Total number of examples matching criteria
          example: 150
        page:
          type: integer
          description: Current page number
          example: 1
        limit:
          type: integer
          description: Items per page
          example: 20
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%. Paginated
        responses optimized for memory efficiency.'
    PlayerAchievement:
      type: object
      required:
      - achievement_id
      - title
      - progress
      - max_progress
      - is_completed
      - unlocked_at
      properties:
        achievement_id:
          type: string
          format: uuid
          description: Unique achievement identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        title:
          type: string
          description: Achievement display name
          example: First Blood
          maxLength: 100
        description:
          type: string
          description: Achievement description
          example: Kill your first enemy
          maxLength: 500
        unlocked_at:
          type: string
          format: date-time
          description: When achievement was first unlocked
          example: '2025-12-27T07:00:00Z'
        completed_at:
          type: string
          format: date-time
          description: When achievement was completed
          example: '2025-12-27T08:00:00Z'
        claimed_at:
          type: string
          format: date-time
          description: When rewards were claimed
          example: '2025-12-27T08:30:00Z'
        category:
          type: string
          enum:
          - combat
          - exploration
          - social
          - progression
          - collection
          - special
          description: Achievement category
          example: combat
        rarity:
          type: string
          enum:
          - common
          - uncommon
          - rare
          - epic
          - legendary
          description: Achievement rarity tier
          example: common
        is_completed:
          type: boolean
          description: Whether achievement is fully completed
          example: false
        is_claimed:
          type: boolean
          description: Whether rewards have been claimed
          example: false
        progress:
          type: integer
          format: int32
          minimum: 0
          description: Current progress towards completion
          example: 5
        max_progress:
          type: integer
          format: int32
          minimum: 1
          description: Maximum progress required
          example: 10
        points:
          type: integer
          format: int32
          minimum: 0
          description: Achievement point value
          example: 10
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    PlayerAchievementStats:
      type: object
      required:
      - total_achievements
      - completed_achievements
      - total_points
      - completion_percentage
      properties:
        category_breakdown:
          type: object
          description: Achievement counts by category
          properties:
            combat:
              type: integer
              example: 12
            exploration:
              type: integer
              example: 8
            social:
              type: integer
              example: 15
            progression:
              type: integer
              example: 6
            collection:
              type: integer
              example: 4
            special:
              type: integer
              example: 0
        rarity_breakdown:
          type: object
          description: Achievement counts by rarity
          properties:
            common:
              type: integer
              example: 35
            uncommon:
              type: integer
              example: 8
            rare:
              type: integer
              example: 2
            epic:
              type: integer
              example: 0
            legendary:
              type: integer
              example: 0
        recent_achievements:
          type: array
          description: Recently completed achievements
          maxItems: 5
          items:
            $ref: '#/components/schemas/PlayerAchievement'
        completion_percentage:
          type: number
          format: float
          minimum: 0.0
          maximum: 100.0
          description: Overall completion percentage
          example: 30.0
        total_achievements:
          type: integer
          format: int32
          description: Total available achievements
          example: 150
        completed_achievements:
          type: integer
          format: int32
          description: Number of completed achievements
          example: 45
        total_points:
          type: integer
          format: int32
          description: Total achievement points earned
          example: 1250
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    UpdateProgressRequest:
      type: object
      required:
      - progress_amount
      - event_type
      properties:
        event_type:
          type: string
          description: Type of event triggering progress update
          example: enemy_killed
          maxLength: 50
        metadata:
          type: object
          description: Additional event metadata
          example:
            weapon_used: assault_rifle
            enemy_type: cyberpsycho
            location: night_city
        progress_amount:
          type: integer
          format: int32
          minimum: 1
          description: Amount to add to achievement progress
          example: 1
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    AchievementReward:
      type: object
      required:
      - reward_type
      - reward_id
      - quantity
      properties:
        reward_type:
          type: string
          enum:
          - currency
          - item
          - title
          - cosmetic
          - boost
          - unlock
          description: Type of reward granted
          example: currency
        reward_id:
          type: string
          description: Unique identifier for the reward
          example: eddies
        name:
          type: string
          description: Human-readable reward name
          example: Eddies
          maxLength: 100
        description:
          type: string
          description: Reward description
          example: In-game currency
          maxLength: 200
        rarity:
          type: string
          enum:
          - common
          - uncommon
          - rare
          - epic
          - legendary
          description: Reward rarity
          example: common
        quantity:
          type: integer
          format: int32
          minimum: 1
          description: Quantity of reward granted
          example: 1000
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
