openapi: 3.0.3
info:
  title: Quest Catalog API
  version: 1.0.0
  description: |
    API для каталога всех квестов игры.
    
    Функционал:
    - Unified quest catalog (~100+ квестов)
    - Advanced filtering (по периоду, типу, сложности, фракции)
    - Quest search (по названию, описанию, NPC)
    - Quest chains & prerequisites
    - Quest recommendations
    - Completion tracking
    
    Охватывает:
    - Side quests по периодам (2020-2093)
    - Main story quests
    - Faction quests
    - Random events
    - Daily/Weekly quests
    
    Источники: 20+ JSON файлов с квестами (expanded + additional)

  x-microservice:
    name: narrative-service
    port: 8087
    domain: narrative
    base-path: /api/v1/narrative
    package: com.necpgame.narrativeservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Quest Catalog
    description: Каталог квестов
  - name: Quest Search
    description: Поиск квестов
  - name: Quest Recommendations
    description: Рекомендации квестов

paths:
  /narrative/quest-catalog:
    get:
      summary: Получить каталог квестов
      operationId: getQuestCatalog
      tags: [Quest Catalog]
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [MAIN, SIDE, FACTION, DAILY, WEEKLY, RANDOM_EVENT]
        - name: period
          in: query
          description: Временной период
          schema:
            type: string
            enum: [2020-2030, 2030-2045, 2045-2060, 2060-2077, 2078-2090, 2090-2093]
        - name: difficulty
          in: query
          schema:
            type: string
            enum: [EASY, MEDIUM, HARD, VERY_HARD, EXTREME]
        - name: faction
          in: query
          schema:
            type: string
        - name: min_level
          in: query
          schema:
            type: integer
        - name: max_level
          in: query
          schema:
            type: integer
        - name: has_romance
          in: query
          description: Есть ли романтические элементы
          schema:
            type: boolean
        - name: has_combat
          in: query
          schema:
            type: boolean
        - name: estimated_time_min
          in: query
          description: Минимальное время прохождения (минуты)
          schema:
            type: integer
        - name: estimated_time_max
          in: query
          schema:
            type: integer
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Каталог квестов
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/QuestCatalogEntry'
                      filters_applied:
                        type: object
                        description: Примененные фильтры

  /narrative/quest-catalog/search:
    get:
      summary: Поиск квестов
      operationId: searchQuests
      tags: [Quest Search]
      parameters:
        - name: q
          in: query
          required: true
          description: Поисковой запрос
          schema:
            type: string
        - name: search_in
          in: query
          description: Где искать
          schema:
            type: array
            items:
              type: string
              enum: [TITLE, DESCRIPTION, NPC_NAMES, LOCATIONS, TAGS]
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Результаты поиска
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/QuestSearchResult'

  /narrative/quest-catalog/{quest_id}:
    get:
      summary: Получить полную информацию о квесте
      operationId: getQuestDetails
      tags: [Quest Catalog]
      parameters:
        - name: quest_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Детали квеста
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestDetails'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /narrative/quest-catalog/{quest_id}/dialogue-tree:
    get:
      summary: Получить диалоговое дерево квеста
      operationId: getQuestDialogueTree
      tags: [Quest Catalog]
      description: Для квестов с расширенными диалогами (20-30 узлов)
      parameters:
        - name: quest_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Диалоговое дерево
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DialogueTree'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /narrative/quest-catalog/{quest_id}/loot-table:
    get:
      summary: Получить таблицу лута квеста
      operationId: getQuestLootTable
      tags: [Quest Catalog]
      parameters:
        - name: quest_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Таблица лута
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestLootTable'

  /narrative/quest-catalog/recommendations/{character_id}:
    get:
      summary: Получить рекомендации квестов для персонажа
      operationId: getQuestRecommendations
      tags: [Quest Recommendations]
      description: AI-подбор квестов на основе стиля игры
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: count
          in: query
          schema:
            type: integer
            default: 10
            maximum: 50
      responses:
        '200':
          description: Рекомендованные квесты
          content:
            application/json:
              schema:
                type: object
                properties:
                  recommendations:
                    type: array
                    items:
                      type: object
                      properties:
                        quest:
                          $ref: '#/components/schemas/QuestCatalogEntry'
                        match_score:
                          type: number
                          format: float
                          description: Насколько квест подходит игроку (0-100)
                        reasons:
                          type: array
                          description: Почему рекомендуется
                          items:
                            type: string

  /narrative/quest-catalog/chains:
    get:
      summary: Получить цепочки квестов
      operationId: getQuestChains
      tags: [Quest Catalog]
      parameters:
        - name: faction
          in: query
          schema:
            type: string
        - name: storyline
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Цепочки квестов
          content:
            application/json:
              schema:
                type: object
                properties:
                  chains:
                    type: array
                    items:
                      $ref: '#/components/schemas/QuestChain'

components:
  schemas:
    QuestCatalogEntry:
      type: object
      properties:
        quest_id:
          type: string
        title:
          type: string
        description:
          type: string
          description: Краткое описание
        type:
          type: string
          enum: [MAIN, SIDE, FACTION, DAILY, WEEKLY, RANDOM_EVENT]
        period:
          type: string
          example: "2060-2077"
        difficulty:
          type: string
          enum: [EASY, MEDIUM, HARD, VERY_HARD, EXTREME]
        level_requirement:
          type: integer
        faction:
          type: string
          nullable: true
        estimated_time_minutes:
          type: integer
        tags:
          type: array
          items:
            type: string
          example: ["combat", "hacking", "social", "romance"]
        rewards_summary:
          type: object
          properties:
            experience:
              type: integer
            eddies:
              type: integer
            items_count:
              type: integer
        completion_rate:
          type: number
          format: float
          description: Процент игроков, завершивших квест
        average_rating:
          type: number
          format: float
          description: Средняя оценка игроков

    QuestDetails:
      allOf:
        - $ref: '#/components/schemas/QuestCatalogEntry'
        - type: object
          properties:
            full_description:
              type: string
            storyline:
              type: string
            objectives:
              type: array
              items:
                type: object
                properties:
                  objective_id:
                    type: string
                  description:
                    type: string
                  optional:
                    type: boolean
            key_npcs:
              type: array
              items:
                type: object
                properties:
                  npc_id:
                    type: string
                  name:
                    type: string
                  role:
                    type: string
            locations:
              type: array
              items:
                type: string
            prerequisites:
              type: array
              description: Квесты, которые нужно завершить перед этим
              items:
                type: string
            unlocks:
              type: array
              description: Что открывается после завершения
              items:
                type: string
            branches_count:
              type: integer
            endings_count:
              type: integer
            has_dialogue_tree:
              type: boolean
            has_skill_checks:
              type: boolean
            has_combat:
              type: boolean
            has_romance:
              type: boolean
            rewards_detailed:
              type: object
              properties:
                experience:
                  type: integer
                street_cred:
                  type: integer
                currency:
                  type: object
                items:
                  type: array
                  items:
                    type: object
                reputation:
                  type: object
                  additionalProperties:
                    type: integer

    QuestSearchResult:
      allOf:
        - $ref: '#/components/schemas/QuestCatalogEntry'
        - type: object
          properties:
            match_score:
              type: number
              format: float
              description: Релевантность результата
            highlighted_text:
              type: string
              description: Фрагмент текста с подсветкой совпадений

    DialogueTree:
      type: object
      properties:
        quest_id:
          type: string
        total_nodes:
          type: integer
          example: 25
        root_node_id:
          type: string
        nodes:
          type: array
          items:
            type: object
            properties:
              node_id:
                type: string
              speaker:
                type: string
              text:
                type: string
              choices:
                type: array
                items:
                  type: object
                  properties:
                    choice_id:
                      type: string
                    text:
                      type: string
                    leads_to_node:
                      type: string
                    skill_check:
                      type: object
                      nullable: true

    QuestLootTable:
      type: object
      properties:
        quest_id:
          type: string
        guaranteed_loot:
          type: array
          description: Гарантированный лут
          items:
            type: object
            properties:
              item_id:
                type: string
                format: uuid
              quantity:
                type: integer
        random_loot:
          type: array
          description: Случайный лут с вероятностями
          items:
            type: object
            properties:
              item_id:
                type: string
                format: uuid
              drop_chance:
                type: number
                format: float
              quantity_range:
                type: object
                properties:
                  min:
                    type: integer
                  max:
                    type: integer

    QuestChain:
      type: object
      properties:
        chain_id:
          type: string
        name:
          type: string
          example: "NCPD Detective Story"
        description:
          type: string
        quests:
          type: array
          items:
            type: object
            properties:
              quest_id:
                type: string
              title:
                type: string
              order:
                type: integer
              optional:
                type: boolean
        total_rewards:
          type: object
          description: Награды за завершение всей цепочки

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

