openapi: 3.0.3
info:
  title: Environment Service API - Enterprise-Grade Dynamic World Management
  description: '**Enterprise-Grade Environment API for NECPGAME**

    Environment Service manages dynamic world elements, seasonal content, time trials,
    and real-time gameplay systems. Provides seasonal challenges, timed competitions,
    protocol optimization, and real-time combat coordination.

    ## Key Features

    - **Seasonal Content**: Dynamic seasonal challenges and rewards - **Time Trials**:
    Competitive timed gameplay mechanics - **Realtime Protocol**: High-performance
    communication optimization - **Combat Systems**: Real-time combat state management
    and coordination - **Performance Monitoring**: System performance tracking and
    optimization - **Scalable Architecture**: Support for massive concurrent gameplay

    ## Domain Purpose

    Manages all dynamic environmental gameplay elements including seasonal events,
    competitive challenges, real-time systems, and performance optimization. Essential
    for engaging, dynamic gameplay experiences in Night City.

    ## Performance Targets

    - P99 Latency: <25ms for real-time operations - Memory: <20KB per active environment
    session - Concurrent users: 100,000+ simultaneous participants - Protocol throughput:
    100,000+ messages per second

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/environment
  description: Production server
- url: https://staging-api.necpgame.com/v1/environment
  description: Staging server
- url: http://localhost:8080/api/v1/environment
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Seasonal Challenges
  description: Seasonal gameplay content and challenges
- name: Time Trials
  description: Competitive timed gameplay mechanics
- name: Realtime Protocol
  description: Communication protocol optimization
- name: Combat Systems
  description: Real-time combat coordination and state
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /challenges/seasonal/active:
    $ref: ./paths/challenges-seasonal-active.yaml#/paths/~1challenges~1seasonal~1active
  /trials/time/active:
    $ref: ./paths/trials-time-active.yaml#/paths/~1trials~1time~1active
  /realtime/sessions:
    $ref: ./paths/realtime-sessions.yaml#/paths/~1realtime~1sessions
  /combat/sessions/active:
    $ref: ./paths/combat-sessions-active.yaml#/paths/~1combat~1sessions~1active
  /protocol/optimize:
    $ref: ./paths/protocol-optimize.yaml#/paths/~1protocol~1optimize
components:
  schemas:
    Error:
      $ref: ./schemas/environment-service-schemas.yaml#/components/schemas/Error
    SeasonalChallenge:
      $ref: ./schemas/environment-service-schemas.yaml#/components/schemas/SeasonalChallenge
    ChallengeObjective:
      $ref: ./schemas/environment-service-schemas.yaml#/components/schemas/ChallengeObjective
    ChallengeReward:
      $ref: ./schemas/environment-service-schemas.yaml#/components/schemas/ChallengeReward
    TimeTrial:
      $ref: ./schemas/environment-service-schemas.yaml#/components/schemas/TimeTrial
    RealtimeSession:
      $ref: ./schemas/environment-service-schemas.yaml#/components/schemas/RealtimeSession
    CombatState:
      $ref: ./schemas/environment-service-schemas.yaml#/components/schemas/CombatState
  responses: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: '**JWT Bearer token authentication**

        Required for all authenticated endpoints. Token must be obtained from auth-service
        and included in Authorization header.

        **Format:** `Authorization: Bearer <token>`

        **Token Expiry:** 15 minutes for access tokens, 7 days for refresh tokens '
