openapi: 3.0.3
info:
  title: Environment Service API - Enterprise-Grade Dynamic World Management
  description: '**Enterprise-Grade Environment API for NECPGAME**

    Environment Service manages dynamic world elements, seasonal content, time trials,
    and real-time gameplay systems. Provides seasonal challenges, timed competitions,
    protocol optimization, and real-time combat coordination.

    ## Key Features

    - **Seasonal Content**: Dynamic seasonal challenges and rewards - **Time Trials**:
    Competitive timed gameplay mechanics - **Realtime Protocol**: High-performance
    communication optimization - **Combat Systems**: Real-time combat state management
    and coordination - **Performance Monitoring**: System performance tracking and
    optimization - **Scalable Architecture**: Support for massive concurrent gameplay

    ## Domain Purpose

    Manages all dynamic environmental gameplay elements including seasonal events,
    competitive challenges, real-time systems, and performance optimization. Essential
    for engaging, dynamic gameplay experiences in Night City.

    ## Performance Targets

    - P99 Latency: <25ms for real-time operations - Memory: <20KB per active environment
    session - Concurrent users: 100,000+ simultaneous participants - Protocol throughput:
    100,000+ messages per second

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/environment
  description: Production server
- url: https://staging-api.necpgame.com/v1/environment
  description: Staging server
- url: http://localhost:8080/api/v1/environment
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Seasonal Challenges
  description: Seasonal gameplay content and challenges
- name: Time Trials
  description: Competitive timed gameplay mechanics
- name: Realtime Protocol
  description: Communication protocol optimization
- name: Combat Systems
  description: Real-time combat coordination and state
- name: Health Monitoring
  description: System health and performance monitoring
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: '**JWT Bearer token authentication**

        Required for all authenticated endpoints. Token must be obtained from auth-service
        and included in Authorization header.

        **Format:** `Authorization: Bearer <token>`

        **Token Expiry:** 15 minutes for access tokens, 7 days for refresh tokens '
  schemas:
    Error:
      $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    SeasonalChallenge:
      type: object
      description: Seasonal challenge definition and progress tracking
      properties:
        id:
          type: string
          format: uuid
          description: Unique challenge identifier
        name:
          type: string
          description: Challenge display name
        description:
          type: string
          description: Challenge description and objectives
        seasonId:
          type: string
          format: uuid
          description: Associated season identifier
        type:
          type: string
          enum:
          - daily
          - weekly
          - monthly
          - seasonal
          description: Challenge frequency type
        objectives:
          type: array
          items:
            $ref: '#/components/schemas/ChallengeObjective'
          description: Challenge completion objectives
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/ChallengeReward'
          description: Available rewards upon completion
        startDate:
          type: string
          format: date-time
          description: Challenge activation date
        endDate:
          type: string
          format: date-time
          description: Challenge expiration date
        isActive:
          type: boolean
          description: Whether challenge is currently available
        progress:
          type: object
          description: Player progress tracking
          properties:
            characterId:
              type: string
              format: uuid
            completed:
              type: boolean
            currentProgress:
              type: number
            maxProgress:
              type: number
            lastUpdated:
              type: string
              format: date-time
      required:
      - id
      - name
      - seasonId
      - type
      - objectives
      - startDate
      - endDate
    ChallengeObjective:
      type: object
      description: Individual challenge objective
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - kill
          - collect
          - explore
          - achieve
          - compete
        target:
          type: string
          description: Objective target (enemy type, item, location, etc.)
        count:
          type: integer
          minimum: 1
        description:
          type: string
      required:
      - id
      - type
      - target
      - count
    ChallengeReward:
      type: object
      description: Challenge completion reward
      properties:
        type:
          type: string
          enum:
          - currency
          - item
          - experience
          - title
          - achievement
        value:
          oneOf:
          - type: integer
          - type: string
          description: Reward value or identifier
        rarity:
          type: string
          enum:
          - common
          - uncommon
          - rare
          - epic
          - legendary
      required:
      - type
      - value
    TimeTrial:
      type: object
      description: Time trial challenge definition
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        courseId:
          type: string
          format: uuid
        category:
          type: string
          enum:
          - speed
          - combat
          - exploration
          - mixed
        difficulty:
          type: string
          enum:
          - easy
          - medium
          - hard
          - expert
        targetTime:
          type: integer
          description: Target completion time in seconds
        recordTime:
          type: integer
          description: Current record time in seconds
        recordHolder:
          type: string
          format: uuid
          description: Character ID of record holder
        isActive:
          type: boolean
      required:
      - id
      - name
      - courseId
      - category
      - difficulty
      - targetTime
    RealtimeSession:
      type: object
      description: Real-time gameplay session state
      properties:
        sessionId:
          type: string
          format: uuid
        characterId:
          type: string
          format: uuid
        connectionState:
          type: string
          enum:
          - connecting
          - connected
          - disconnected
          - error
        lastHeartbeat:
          type: string
          format: date-time
        protocolVersion:
          type: string
        performanceProfile:
          type: object
          properties:
            latency:
              type: integer
              description: Current latency in ms
            packetLoss:
              type: number
              format: float
              description: Packet loss percentage
            bandwidth:
              type: integer
              description: Bandwidth usage in KB/s
      required:
      - sessionId
      - characterId
      - connectionState
    CombatState:
      type: object
      description: Real-time combat session state
      properties:
        combatId:
          type: string
          format: uuid
        participants:
          type: array
          items:
            type: string
            format: uuid
          description: Character IDs in combat
        state:
          type: string
          enum:
          - initializing
          - active
          - paused
          - completed
          - terminated
        startTime:
          type: string
          format: date-time
        currentTurn:
          type: integer
          minimum: 1
        turnTimeout:
          type: integer
          description: Turn timeout in seconds
        lastActivity:
          type: string
          format: date-time
      required:
      - combatId
      - participants
      - state
paths:
  /health:
    get:
      summary: Environment service health check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the environment microservice.

        Critical for service discovery, load balancing, and monitoring.


        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: environmentHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - healthy
                    example: healthy
                  timestamp:
                    type: string
                    format: date-time
                    example: '2024-01-15T10:30:00Z'
                  version:
                    type: string
                    example: 1.0.0
                  uptime:
                    type: integer
                    description: Uptime in seconds
                    example: 3600
                  memory:
                    type: object
                    properties:
                      used:
                        type: integer
                        description: Memory used in MB
                        example: 256
                      total:
                        type: integer
                        description: Total memory in MB
                        example: 1024
                      percentage:
                        type: number
                        format: float
                        example: 25.0
                required:
                - status
                - timestamp
                - version
        '503':
          $ref: ../common/responses/error.yaml#/InternalServerError
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /challenges/seasonal/active:
    get:
      summary: Get active seasonal challenges
      description: '**Get active seasonal challenges for character**

        Returns list of currently available seasonal challenges with progress tracking.

        **Performance:** <10ms response time, cached for 5 minutes

        **Rate Limit:** 100 requests per minute per character '
      operationId: getActiveSeasonalChallenges
      tags:
      - Seasonal Challenges
      security:
      - BearerAuth: []
      parameters:
      - name: character_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: Character identifier
      - name: season_id
        in: query
        schema:
          type: string
          format: uuid
        description: Optional season filter
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: Maximum number of challenges to return
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Pagination offset
      responses:
        '200':
          description: Active seasonal challenges retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      challenges:
                        type: array
                        items:
                          $ref: '#/components/schemas/SeasonalChallenge'
                      total:
                        type: integer
                        description: Total number of challenges
                      pagination:
                        type: object
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
                          hasMore:
                            type: boolean
                    required:
                    - challenges
                    - total
        '400':
          $ref: ../common/responses/error.yaml#/BadRequest
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        '403':
          $ref: ../common/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /trials/time/active:
    get:
      summary: Get active time trials
      description: '**Get active time trials for character**

        Returns list of available time trial challenges with records and rankings.

        **Performance:** <15ms response time, cached for 10 minutes '
      operationId: getActiveTimeTrials
      tags:
      - Time Trials
      security:
      - BearerAuth: []
      parameters:
      - name: character_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: Character identifier
      - name: category
        in: query
        schema:
          type: string
          enum:
          - speed
          - combat
          - exploration
          - mixed
        description: Optional category filter
      - name: difficulty
        in: query
        schema:
          type: string
          enum:
          - easy
          - medium
          - hard
          - expert
        description: Optional difficulty filter
      responses:
        '200':
          description: Active time trials retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TimeTrial'
        '400':
          $ref: ../common/responses/error.yaml#/BadRequest
        '401':
          $ref: ../common/responses/error.yaml#/BadRequest
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /realtime/sessions:
    get:
      summary: Get active realtime sessions
      description: '**Get active realtime sessions for monitoring**

        Returns list of active realtime gameplay sessions with performance metrics.

        **Performance:** <5ms response time for cached data '
      operationId: getRealtimeSessions
      tags:
      - Realtime Protocol
      security:
      - BearerAuth: []
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - connecting
          - connected
          - disconnected
          - error
        description: Filter by connection status
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
        description: Maximum sessions to return
      responses:
        '200':
          description: Realtime sessions retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RealtimeSession'
        '401':
          $ref: ../common/responses/error.yaml#/BadRequest
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /combat/sessions/active:
    get:
      summary: Get active combat sessions
      description: '**Get active real-time combat sessions**

        Returns list of ongoing combat sessions with participant and state information.

        **Performance:** <10ms response time, real-time data '
      operationId: getActiveCombatSessions
      tags:
      - Combat Systems
      security:
      - BearerAuth: []
      parameters:
      - name: character_id
        in: query
        schema:
          type: string
          format: uuid
        description: Filter by participating character
      - name: state
        in: query
        schema:
          type: string
          enum:
          - initializing
          - active
          - paused
          - completed
          - terminated
        description: Filter by combat state
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: Maximum sessions to return
      responses:
        '200':
          description: Active combat sessions retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CombatState'
        '401':
          $ref: ../common/responses/error.yaml#/BadRequest
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /protocol/optimize:
    post:
      summary: Optimize realtime protocol
      description: '**Optimize realtime communication protocol**

        Dynamically adjusts protocol parameters based on current network conditions
        and performance metrics for optimal gameplay experience.

        **Performance:** <50ms optimization time, applied within 1 second '
      operationId: optimizeRealtimeProtocol
      tags:
      - Realtime Protocol
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sessionId:
                  type: string
                  format: uuid
                  description: Session to optimize
                metrics:
                  type: object
                  properties:
                    latency:
                      type: integer
                      description: Current latency in ms
                    packetLoss:
                      type: number
                      format: float
                      description: Packet loss percentage
                    bandwidth:
                      type: integer
                      description: Available bandwidth in KB/s
                  required:
                  - latency
                  - packetLoss
                  - bandwidth
                optimizationType:
                  type: string
                  enum:
                  - latency
                  - bandwidth
                  - reliability
                  - balanced
                  default: balanced
                  description: Type of optimization to apply
              required:
              - sessionId
              - metrics
      responses:
        '200':
          description: Protocol optimization applied successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      optimizationId:
                        type: string
                        format: uuid
                      appliedOptimizations:
                        type: array
                        items:
                          type: string
                        description: List of applied optimizations
                      estimatedImprovement:
                        type: object
                        properties:
                          latencyReduction:
                            type: integer
                            description: Expected latency reduction in ms
                          bandwidthEfficiency:
                            type: number
                            format: float
                            description: Bandwidth efficiency improvement
                          reliabilityIncrease:
                            type: number
                            format: float
                            description: Reliability improvement percentage
        '400':
          $ref: ../common/responses/error.yaml#/BadRequest
        '401':
          $ref: ../common/responses/error.yaml#/BadRequest
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse

