openapi: 3.0.3
info:
  title: Bank Service API
  description: 'Enterprise-grade Banking & Financial System  NECPGAME .


    ## 🎯 **Bank Service Overview**


    Bank Service       NECPGAME
     enterprise-grade   .


    ### ** **

    - **Account Management**:   

    - **Transaction Processing**:   

    - **Currency Exchange**:  

    - **Loan Management**:    


    ### ** **

    - **Personal Accounts**:   

    - **Business Accounts**:  

    - **Savings Accounts**:  

    - **Investment Accounts**:  


    ### ** **

    - **Interest Calculation**:  

    - **Transaction History**:  

    - **Security Features**:   

    - **Financial Analytics**:  


    ## 📊 **Performance Targets**

    - **P99 Latency**: <25ms   

    - **Throughput**: 100,000+ transactions/second

    - **Concurrent Users**: 500,000+  

    - **Transaction Volume**: 10M+   


    ## 🔐 **Security**

    - JWT RS256 

    - Rate limiting   

    - Input validation  sanitization

    - Audit logging  

    '
  version: 1.0.0
  contact:
    name: NECPGAME Platform Team
    email: platform@necpgame.com
  license:
    name: Proprietary
    url: https://necpgame.com/license
servers:
- url: https://bank.necpgame.com/api/v1
  description: Production Environment
- url: https://bank-staging.necpgame.com/api/v1
  description: Staging Environment
- url: http://localhost:8080/api/v1
  description: Local Development
security:
- BearerAuth: []
tags:
- name: Account Management
  description:  
- name: Transaction Processing
  description:  
- name: Currency Exchange
  description:  
- name: Loan Management
  description:  
- name: Financial Analytics
  description:  
- name: Security
  description: 
- name: Health
  description:   
paths:
  /health:
    get:
      summary:   
      operationId: healthCheck
      tags:
      - Health
      responses:
        '200':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /health/batch:
    post:
      summary:   
      operationId: healthBatchCheck
      tags:
      - Health
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthBatchRequest'
      responses:
        '200':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthBatchResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /health/ws:
    get:
      summary: WebSocket  
      operationId: healthWebSocketCheck
      tags:
      - Health
      responses:
        '101':
          description: WebSocket  
        '503':
          description: WebSocket 
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts:
    post:
      summary:   
      operationId: createAccount
      tags:
      - Account Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
      responses:
        '201':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary:   
      operationId: getAccounts
      tags:
      - Account Management
      parameters:
      - name: ownerId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: type
        in: query
        schema:
          type: string
          enum:
          - personal
          - business
          - savings
          - investment
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - frozen
          - closed
          default: active
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{accountId}:
    get:
      summary:    
      operationId: getAccount
      tags:
      - Account Management
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '404':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary:  
      operationId: updateAccount
      tags:
      - Account Management
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '403':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary:  
      operationId: closeAccount
      tags:
      - Account Management
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '403':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{accountId}/balance:
    get:
      summary:   
      operationId: getAccountBalance
      tags:
      - Account Management
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalanceResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /transactions/transfer:
    post:
      summary:    
      operationId: transferFunds
      tags:
      - Transaction Processing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /transactions/deposit:
    post:
      summary:  
      operationId: depositFunds
      tags:
      - Transaction Processing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /transactions/withdraw:
    post:
      summary:    
      operationId: withdrawFunds
      tags:
      - Transaction Processing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{accountId}/transactions:
    get:
      summary:   
      operationId: getAccountTransactions
      tags:
      - Transaction Processing
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: type
        in: query
        schema:
          type: string
          enum:
          - transfer
          - deposit
          - withdraw
          - fee
          - interest
          - all
          default: all
      - name: startDate
        in: query
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        schema:
          type: string
          format: date
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /currency/exchange:
    post:
      summary:  
      operationId: exchangeCurrency
      tags:
      - Currency Exchange
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /currency/rates:
    get:
      summary:  
      operationId: getExchangeRates
      tags:
      - Currency Exchange
      parameters:
      - name: base
        in: query
        schema:
          type: string
          enum:
          - eddies
          - eurobucks
          - credits
          default: eddies
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRatesResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /loans:
    post:
      summary:  
      operationId: createLoan
      tags:
      - Loan Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLoanRequest'
      responses:
        '201':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary:   
      operationId: getLoans
      tags:
      - Loan Management
      parameters:
      - name: borrowerId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - paid
          - defaulted
          - cancelled
          default: active
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanListResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /loans/{loanId}:
    get:
      summary:    
      operationId: getLoan
      tags:
      - Loan Management
      parameters:
      - name: loanId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanResponse'
        '404':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /loans/{loanId}/payment:
    post:
      summary:   
      operationId: makeLoanPayment
      tags:
      - Loan Management
      parameters:
      - name: loanId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanPaymentRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanPaymentResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /analytics/financial:
    get:
      summary:  
      operationId: getFinancialAnalytics
      tags:
      - Financial Analytics
      parameters:
      - name: period
        in: query
        schema:
          type: string
          enum:
          - daily
          - weekly
          - monthly
          - yearly
          default: monthly
      - name: metric
        in: query
        schema:
          type: string
          enum:
          - transaction_volume
          - account_growth
          - loan_performance
          - exchange_rates
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialAnalyticsResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /security/fraud-check:
    post:
      summary:   
      operationId: checkFraud
      tags:
      - Security
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FraudCheckRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudCheckResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{accountId}/freeze:
    post:
      summary:  
      operationId: freezeAccount
      tags:
      - Security
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FreezeAccountRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{accountId}/unfreeze:
    post:
      summary:  
      operationId: unfreezeAccount
      tags:
      - Security
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnfreezeAccountRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:

    # Health response schema
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          enum: [ok, degraded, critical]
          example: ok
        message:
          type: string
          example: "Service is healthy"
        timestamp:
          type: string
          format: date-time
        version:
          type: string
          example: "1.0.0"

    # Error response schema
    ErrorResponse:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          minimum: 100
          maximum: 599
          example: 400
        message:
          type: string
          example: "Bad request"
        details:
          type: object
          description: Additional error details

    # Health batch request schema
    HealthBatchRequest:
      type: object
      properties:
        services:
          type: array
          items:
            type: string
          description: List of services to check

    # Health batch response schema
    HealthBatchResponse:
      type: object
      properties:
        results:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/HealthResponse'

    # Create account request schema
    CreateAccountRequest:
      type: object
      required:
        - account_type
        - owner_id
        - currency
      properties:
        account_type:
          type: string
          enum: [personal, business, savings, investment]
          example: personal
        owner_id:
          type: string
          format: uuid
          example: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        currency:
          type: string
          example: "USD"
        initial_balance:
          type: number
          minimum: 0
          example: 0.0

    # Bank account schema
    BankAccount:
      type: object
      required:
        - id
        - account_type
        - owner_id
        - currency
        - balance
        - status
        - created_at
      properties:
        id:
          type: string
          format: uuid
          example: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        account_type:
          type: string
          enum: [personal, business, savings, investment]
          example: personal
        owner_id:
          type: string
          format: uuid
          example: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        currency:
          type: string
          example: "USD"
        balance:
          type: number
          example: 1000.50
        status:
          type: string
          enum: [active, frozen, closed]
          example: active
        interest_rate:
          type: number
          minimum: 0
          example: 0.025
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2024-01-15T14:20:00Z"

    # Transaction schema
    Transaction:
      type: object
      required:
        - id
        - account_id
        - type
        - amount
        - currency
        - status
        - created_at
      properties:
        id:
          type: string
          format: uuid
          example: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        account_id:
          type: string
          format: uuid
          example: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        type:
          type: string
          enum: [deposit, withdrawal, transfer, interest, fee]
          example: deposit
        amount:
          type: number
          example: 500.00
        currency:
          type: string
          example: "USD"
        description:
          type: string
          example: "Salary deposit"
        status:
          type: string
          enum: [pending, completed, failed, cancelled]
          example: completed
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"

    # Loan schema
    Loan:
      type: object
      required:
        - id
        - account_id
        - amount
        - interest_rate
        - term_months
        - status
        - created_at
      properties:
        id:
          type: string
          format: uuid
          example: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        account_id:
          type: string
          format: uuid
          example: "f47ac10b-58cc-4372-a567-0e02b2c3d479"
        amount:
          type: number
          example: 10000.00
        interest_rate:
          type: number
          minimum: 0
          example: 0.08
        term_months:
          type: integer
          minimum: 1
          example: 36
        remaining_balance:
          type: number
          example: 8500.00
        status:
          type: string
          enum: [active, paid_off, defaulted]
          example: active
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"

    # Currency exchange rate schema
    ExchangeRate:
      type: object
      required:
        - from_currency
        - to_currency
        - rate
        - timestamp
      properties:
        from_currency:
          type: string
          example: "USD"
        to_currency:
          type: string
          example: "EUR"
        rate:
          type: number
          example: 0.85
        timestamp:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CharacterEntity:
      $ref: ../common/schemas/game-entities.yaml#/components/schemas/CharacterEntity
    BaseEntity:
      $ref: ../common/schemas/game-entities.yaml#/components/schemas/BaseEntity
    OptimisticLock:
      $ref: ../common/schemas/game-entities.yaml#/components/schemas/OptimisticLock
    ErrorResponse:
      $ref: ../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse
    HealthResponse:
      $ref: ../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthResponse
    HealthBatchRequest:
      $ref: ../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthBatchRequest
    HealthBatchResponse:
      $ref: ../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthBatchResponse
    BankAccountEntity:
      type: object
      description:   
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        required:
        - ownerId
        - accountNumber
        - type
        - currency
        properties:
          ownerId:
            type: string
            description: ID  
            format: uuid
            example: 123e4567-e89b-12d3-a456-426614174000
          accountNumber:
            type: string
            description:  
            pattern: ^[A-Z0-9]{16}$
            example: NECP123456789012
          type:
            type: string
            description:  
            enum:
            - personal
            - business
            - savings
            - investment
            example: personal
          currency:
            type: string
            description:  
            enum:
            - eddies
            - eurobucks
            - credits
            example: eddies
          balance:
            type: number
            description:  
            minimum: 0
            example: 50000.5
          availableBalance:
            type: number
            description: Available balance
            minimum: 0
            example: 49500.5
          status:
            type: string
            description:  
            enum:
            - active
            - frozen
            - closed
            example: active
          interestRate:
            type: number
            description:  
            minimum: 0
            maximum: 1
            example: 0.025
          overdraftLimit:
            type: number
            description:  
            minimum: 0
            example: 1000.0
          monthlyFee:
            type: number
            description:  
            minimum: 0
            example: 5.0
          lastActivity:
            type: string
            description:  
            format: date-time
          securitySettings:
            type: object
            description:  
            properties:
              twoFactorEnabled:
                type: boolean
                default: true
              transactionLimits:
                type: object
                properties:
                  daily:
                    type: number
                    minimum: 0
                  monthly:
                    type: number
                    minimum: 0
          $ref: '#/components/schemas/OptimisticLock'
    TransactionEntity:
      type: object
      description:  
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        required:
        - type
        - amount
        - currency
        - status
        properties:
          type:
            type: string
            description:  
            enum:
            - transfer
            - deposit
            - withdraw
            - fee
            - interest
            - exchange
            - loan_payment
            example: transfer
          amount:
            type: number
            description:  
            example: 1000.0
          currency:
            type: string
            description: 
            enum:
            - eddies
            - eurobucks
            - credits
            example: eddies
          status:
            type: string
            description:  
            enum:
            - pending
            - completed
            - failed
            - cancelled
            example: completed
          fromAccountId:
            type: string
            description: ID  
            format: uuid
          toAccountId:
            type: string
            description: ID  
            format: uuid
          description:
            type: string
            description:  
            maxLength: 255
            example: Payment for cyberware upgrade
          referenceNumber:
            type: string
            description:  
            pattern: ^[A-Z0-9]{12}$
            example: TXN123456789
          fee:
            type: number
            description: 
            minimum: 0
            example: 2.5
          exchangeRate:
            type: number
            description:   (  )
            minimum: 0
          processedAt:
            type: string
            description:  
            format: date-time
          failureReason:
            type: string
            description:  
            maxLength: 255
          $ref: '#/components/schemas/OptimisticLock'
    LoanEntity:
      type: object
      description:  
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        required:
        - borrowerId
        - accountId
        - principalAmount
        - interestRate
        - termMonths
        properties:
          borrowerId:
            type: string
            description: ID 
            format: uuid
          accountId:
            type: string
            description: ID   
            format: uuid
          principalAmount:
            type: number
            description:  
            minimum: 1
            example: 50000.0
          interestRate:
            type: number
            description:  
            minimum: 0
            maximum: 1
            example: 0.15
          termMonths:
            type: integer
            description:   
            minimum: 1
            maximum: 120
            example: 12
          monthlyPayment:
            type: number
            description:  
            minimum: 0
            example: 4500.0
          remainingBalance:
            type: number
            description:  
            minimum: 0
            example: 50000.0
          status:
            type: string
            description:  
            enum:
            - pending
            - active
            - paid
            - defaulted
            - cancelled
            example: active
          startDate:
            type: string
            description:  
            format: date
          endDate:
            type: string
            description:  
            format: date
          nextPaymentDate:
            type: string
            description:  
            format: date
          lateFees:
            type: number
            description:   
            minimum: 0
            example: 0.0
          collateral:
            type: string
            description:  (ID )
            format: uuid
          creditScore:
            type: integer
            description:   
            minimum: 0
            maximum: 1000
            example: 750
          $ref: '#/components/schemas/OptimisticLock'
    CreateAccountRequest:
      type: object
      required:
      - ownerId
      - type
      - currency
      properties:
        ownerId:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - personal
          - business
          - savings
          - investment
        currency:
          type: string
          enum:
          - eddies
          - eurobucks
          - credits
        initialDeposit:
          type: number
          minimum: 0
          default: 0
    UpdateAccountRequest:
      type: object
      properties:
        overdraftLimit:
          type: number
          minimum: 0
        monthlyFee:
          type: number
          minimum: 0
        securitySettings:
          type: object
          properties:
            twoFactorEnabled:
              type: boolean
            transactionLimits:
              type: object
              properties:
                daily:
                  type: number
                  minimum: 0
                monthly:
                  type: number
                  minimum: 0
    AccountResponse:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/BankAccountEntity'
        metadata:
          type: object
          properties:
            createdAt:
              type: string
              format: date-time
            lastTransaction:
              type: string
              format: date-time
    AccountListResponse:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/BankAccountEntity'
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 50
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean
    AccountBalanceResponse:
      type: object
      properties:
        accountId:
          type: string
          format: uuid
        balance:
          type: number
          minimum: 0
        availableBalance:
          type: number
          minimum: 0
        currency:
          type: string
        pendingTransactions:
          type: integer
          minimum: 0
        lastUpdated:
          type: string
          format: date-time
    TransferRequest:
      type: object
      required:
      - fromAccountId
      - toAccountId
      - amount
      - currency
      properties:
        fromAccountId:
          type: string
          format: uuid
        toAccountId:
          type: string
          format: uuid
        amount:
          type: number
          minimum: 0.01
        currency:
          type: string
          enum:
          - eddies
          - eurobucks
          - credits
        description:
          type: string
          maxLength: 255
        scheduledDate:
          type: string
          format: date-time
    TransferResponse:
      type: object
      properties:
        transactionId:
          type: string
          format: uuid
        fromAccountId:
          type: string
          format: uuid
        toAccountId:
          type: string
          format: uuid
        amount:
          type: number
        currency:
          type: string
        fee:
          type: number
        status:
          type: string
          enum:
          - completed
          - pending
          - scheduled
        processedAt:
          type: string
          format: date-time
    DepositRequest:
      type: object
      required:
      - accountId
      - amount
      - currency
      - source
      properties:
        accountId:
          type: string
          format: uuid
        amount:
          type: number
          minimum: 0.01
        currency:
          type: string
          enum:
          - eddies
          - eurobucks
          - credits
        source:
          type: string
          enum:
          - game_earnings
          - marketplace_sale
          - external_deposit
          - admin_credit
        description:
          type: string
          maxLength: 255
    DepositResponse:
      type: object
      properties:
        transactionId:
          type: string
          format: uuid
        accountId:
          type: string
          format: uuid
        amount:
          type: number
        currency:
          type: string
        newBalance:
          type: number
        processedAt:
          type: string
          format: date-time
    WithdrawRequest:
      type: object
      required:
      - accountId
      - amount
      - currency
      - destination
      properties:
        accountId:
          type: string
          format: uuid
        amount:
          type: number
          minimum: 0.01
        currency:
          type: string
          enum:
          - eddies
          - eurobucks
          - credits
        destination:
          type: string
          enum:
          - game_purchase
          - marketplace_buy
          - external_withdrawal
          - fee_payment
        description:
          type: string
          maxLength: 255
    WithdrawResponse:
      type: object
      properties:
        transactionId:
          type: string
          format: uuid
        accountId:
          type: string
          format: uuid
        amount:
          type: number
        currency:
          type: string
        fee:
          type: number
        newBalance:
          type: number
        processedAt:
          type: string
          format: date-time
    TransactionHistoryResponse:
      type: object
      properties:
        accountId:
          type: string
          format: uuid
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionEntity'
        summary:
          type: object
          properties:
            totalTransactions:
              type: integer
              minimum: 0
            totalCredits:
              type: number
              minimum: 0
            totalDebits:
              type: number
              minimum: 0
            periodStart:
              type: string
              format: date
            periodEnd:
              type: string
              format: date
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 100
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean
    ExchangeRequest:
      type: object
      required:
      - fromAccountId
      - toAccountId
      - fromAmount
      - fromCurrency
      - toCurrency
      properties:
        fromAccountId:
          type: string
          format: uuid
        toAccountId:
          type: string
          format: uuid
        fromAmount:
          type: number
          minimum: 0.01
        fromCurrency:
          type: string
          enum:
          - eddies
          - eurobucks
          - credits
        toCurrency:
          type: string
          enum:
          - eddies
          - eurobucks
          - credits
    ExchangeResponse:
      type: object
      properties:
        transactionId:
          type: string
          format: uuid
        fromAccountId:
          type: string
          format: uuid
        toAccountId:
          type: string
          format: uuid
        fromAmount:
          type: number
        fromCurrency:
          type: string
        toAmount:
          type: number
        toCurrency:
          type: string
        exchangeRate:
          type: number
        fee:
          type: number
        processedAt:
          type: string
          format: date-time
    ExchangeRatesResponse:
      type: object
      properties:
        baseCurrency:
          type: string
        rates:
          type: object
          additionalProperties:
            type: number
          example:
            eurobucks: 0.85
            credits: 1.2
        lastUpdated:
          type: string
          format: date-time
        nextUpdate:
          type: string
          format: date-time
    CreateLoanRequest:
      type: object
      required:
      - borrowerId
      - accountId
      - principalAmount
      - termMonths
      properties:
        borrowerId:
          type: string
          format: uuid
        accountId:
          type: string
          format: uuid
        principalAmount:
          type: number
          minimum: 100
          maximum: 1000000
        termMonths:
          type: integer
          minimum: 1
          maximum: 120
        collateral:
          type: string
          format: uuid
        purpose:
          type: string
          enum:
          - business
          - personal
          - investment
          - emergency
          default: personal
    LoanResponse:
      type: object
      properties:
        loan:
          $ref: '#/components/schemas/LoanEntity'
        approvalDetails:
          type: object
          properties:
            approved:
              type: boolean
            creditScore:
              type: integer
            interestRate:
              type: number
            approvedAt:
              type: string
              format: date-time
    LoanListResponse:
      type: object
      properties:
        loans:
          type: array
          items:
            $ref: '#/components/schemas/LoanEntity'
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 50
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean
    LoanPaymentRequest:
      type: object
      required:
      - amount
      properties:
        amount:
          type: number
          minimum: 0.01
        accountId:
          type: string
          format: uuid
          description:    ()
    LoanPaymentResponse:
      type: object
      properties:
        loanId:
          type: string
          format: uuid
        paymentAmount:
          type: number
        principalPaid:
          type: number
        interestPaid:
          type: number
        remainingBalance:
          type: number
        nextPaymentDate:
          type: string
          format: date
        transactionId:
          type: string
          format: uuid
    FinancialAnalyticsResponse:
      type: object
      properties:
        period:
          type: string
          enum:
          - daily
          - weekly
          - monthly
          - yearly
        metrics:
          type: object
          properties:
            totalAccounts:
              type: integer
              minimum: 0
            totalBalance:
              type: number
              minimum: 0
            transactionVolume:
              type: integer
              minimum: 0
            transactionValue:
              type: number
              minimum: 0
            loanPortfolio:
              type: number
              minimum: 0
            defaultRate:
              type: number
              minimum: 0
              maximum: 1
        trends:
          type: object
          additionalProperties:
            type: number
    FraudCheckRequest:
      type: object
      required:
      - transaction
      properties:
        transaction:
          $ref: '#/components/schemas/TransactionEntity'
    FraudCheckResponse:
      type: object
      properties:
        transactionId:
          type: string
          format: uuid
        fraudRisk:
          type: string
          enum:
          - low
          - medium
          - high
          - critical
        riskScore:
          type: number
          minimum: 0
          maximum: 1
        flags:
          type: array
          items:
            type: string
            enum:
            - unusual_amount
            - unusual_location
            - velocity_check
            - blacklist_match
        recommendedAction:
          type: string
          enum:
          - approve
          - review
          - block
          - escalate
    FreezeAccountRequest:
      type: object
      required:
      - reason
      properties:
        reason:
          type: string
          enum:
          - fraud_suspected
          - security_concern
          - legal_request
          - account_compromised
        duration:
          type: integer
          description:    
          minimum: 1
          maximum: 720
    UnfreezeAccountRequest:
      type: object
      required:
      - reason
      properties:
        reason:
          type: string
          enum:
          - investigation_complete
          - false_positive
          - user_request
          - legal_clearance

