openapi: 3.0.3
info:
  title: Bank Service API
  description: 'Enterprise-grade Banking & Financial System  NECPGAME .


    ## 🎯 **Bank Service Overview**


    Bank Service       NECPGAME enterprise-grade   .


    ### ** **

    - **Account Management**:

    - **Transaction Processing**:

    - **Currency Exchange**:

    - **Loan Management**:


    ### ** **

    - **Personal Accounts**:

    - **Business Accounts**:

    - **Savings Accounts**:

    - **Investment Accounts**:


    ### ** **

    - **Interest Calculation**:

    - **Transaction History**:

    - **Security Features**:

    - **Financial Analytics**:


    ## 📊 **Performance Targets**

    - **P99 Latency**: <25ms

    - **Throughput**: 100,000+ transactions/second

    - **Concurrent Users**: 500,000+

    - **Transaction Volume**: 10M+


    ## 🔐 **Security**

    - JWT RS256

    - Rate limiting

    - Input validation  sanitization

    - Audit logging

    '
  version: 1.0.0
  contact:
    name: NECPGAME Platform Team
    email: platform@necpgame.com
  license:
    name: Proprietary
    url: https://necpgame.com/license
servers:
- url: https://bank.necpgame.com/api/v1
  description: Production Environment
- url: https://bank-staging.necpgame.com/api/v1
  description: Staging Environment
- url: http://localhost:8080/api/v1
  description: Local Development
security:
- BearerAuth: []
tags:
- name: Account Management
  description: null
- name: Transaction Processing
  description: null
- name: Currency Exchange
  description: null
- name: Loan Management
  description: null
- name: Financial Analytics
  description: null
- name: Security
  description: null
- name: Health
  description: null
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /accounts:
    $ref: ./paths/accounts.yaml#/paths/~1accounts
  /accounts/{accountId}:
    $ref: ./paths/accounts-{accountId}.yaml#/paths/~1accounts~1{accountId}
  /accounts/{accountId}/balance:
    $ref: ./paths/accounts-{accountId}-balance.yaml#/paths/~1accounts~1{accountId}~1balance
  /transactions/transfer:
    $ref: ./paths/transactions-transfer.yaml#/paths/~1transactions~1transfer
  /transactions/deposit:
    $ref: ./paths/transactions-deposit.yaml#/paths/~1transactions~1deposit
  /transactions/withdraw:
    $ref: ./paths/transactions-withdraw.yaml#/paths/~1transactions~1withdraw
  /accounts/{accountId}/transactions:
    $ref: ./paths/accounts-{accountId}-transactions.yaml#/paths/~1accounts~1{accountId}~1transactions
  /currency/exchange:
    $ref: ./paths/currency-exchange.yaml#/paths/~1currency~1exchange
  /currency/rates:
    $ref: ./paths/currency-rates.yaml#/paths/~1currency~1rates
  /loans:
    $ref: ./paths/loans.yaml#/paths/~1loans
  /loans/{loanId}:
    $ref: ./paths/loans-{loanId}.yaml#/paths/~1loans~1{loanId}
  /loans/{loanId}/payment:
    $ref: ./paths/loans-{loanId}-payment.yaml#/paths/~1loans~1{loanId}~1payment
  /analytics/financial:
    $ref: ./paths/analytics-financial.yaml#/paths/~1analytics~1financial
  /security/fraud-check:
    $ref: ./paths/security-fraud-check.yaml#/paths/~1security~1fraud-check
  /accounts/{accountId}/freeze:
    $ref: ./paths/accounts-{accountId}-freeze.yaml#/paths/~1accounts~1{accountId}~1freeze
  /accounts/{accountId}/unfreeze:
    $ref: ./paths/accounts-{accountId}-unfreeze.yaml#/paths/~1accounts~1{accountId}~1unfreeze
components:
  schemas:
    CharacterEntity:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/CharacterEntity
    BaseEntity:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/BaseEntity
    OptimisticLock:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/OptimisticLock
    ErrorResponse:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/ErrorResponse
    HealthResponse:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/HealthResponse
    HealthBatchRequest:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/HealthBatchRequest
    HealthBatchResponse:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/HealthBatchResponse
    BankAccountEntity:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/BankAccountEntity
    TransactionEntity:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/TransactionEntity
    LoanEntity:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/LoanEntity
    CreateAccountRequest:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/CreateAccountRequest
    UpdateAccountRequest:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/UpdateAccountRequest
    AccountResponse:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/AccountResponse
    AccountListResponse:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/AccountListResponse
    AccountBalanceResponse:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/AccountBalanceResponse
    TransferRequest:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/TransferRequest
    TransferResponse:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/TransferResponse
    DepositRequest:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/DepositRequest
    DepositResponse:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/DepositResponse
    WithdrawRequest:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/WithdrawRequest
    WithdrawResponse:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/WithdrawResponse
    TransactionHistoryResponse:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/TransactionHistoryResponse
    ExchangeRequest:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/ExchangeRequest
    ExchangeResponse:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/ExchangeResponse
    ExchangeRatesResponse:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/ExchangeRatesResponse
    CreateLoanRequest:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/CreateLoanRequest
    LoanResponse:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/LoanResponse
    LoanListResponse:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/LoanListResponse
    LoanPaymentRequest:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/LoanPaymentRequest
    LoanPaymentResponse:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/LoanPaymentResponse
    FinancialAnalyticsResponse:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/FinancialAnalyticsResponse
    FraudCheckRequest:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/FraudCheckRequest
    FraudCheckResponse:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/FraudCheckResponse
    FreezeAccountRequest:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/FreezeAccountRequest
    UnfreezeAccountRequest:
      $ref: ./schemas/bank-service-schemas.yaml#/components/schemas/UnfreezeAccountRequest
  responses: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
