openapi: "3.0.3"

info:
  title: "Bank Service API"
  description: |
    Enterprise-grade Banking & Financial System для NECPGAME платформы.

    ## 🎯 **Bank Service Overview**

    Bank Service предоставляет комплексную банковскую систему для платформы NECPGAME с enterprise-grade производительностью и масштабируемостью.

    ### **Ключевые Возможности**
    - **Account Management**: Управление банковскими счетами
    - **Transaction Processing**: Обработка финансовых транзакций
    - **Currency Exchange**: Обмен валют
    - **Loan Management**: Управление кредитами и займами

    ### **Типы Счетов**
    - **Personal Accounts**: Личные счета игроков
    - **Business Accounts**: Корпоративные счета
    - **Savings Accounts**: Сберегательные счета
    - **Investment Accounts**: Инвестиционные счета

    ### **Расширенные Возможности**
    - **Interest Calculation**: Расчет процентов
    - **Transaction History**: История транзакций
    - **Security Features**: Защита от мошенничества
    - **Financial Analytics**: Финансовая аналитика

    ## 📊 **Performance Targets**
    - **P99 Latency**: <25ms для финансовых операций
    - **Throughput**: 100,000+ transactions/second
    - **Concurrent Users**: 500,000+ активных пользователей
    - **Transaction Volume**: 10M+ транзакций в день

    ## 🔐 **Security**
    - JWT RS256 аутентификация
    - Rate limiting для предотвращения спама
    - Input validation и sanitization
    - Audit logging всех операций

  version: "1.0.0"
  contact:
    name: "NECPGAME Platform Team"
    email: "platform@necpgame.com"
  license:
    name: "Proprietary"
    url: "https://necpgame.com/license"

servers:
  - url: "https://bank.necpgame.com/api/v1"
    description: "Production Environment"
  - url: "https://bank-staging.necpgame.com/api/v1"
    description: "Staging Environment"
  - url: "http://localhost:8080/api/v1"
    description: "Local Development"

security:
  - BearerAuth: []

tags:
  - name: "Account Management"
    description: "Управление счетами"
  - name: "Transaction Processing"
    description: "Обработка транзакций"
  - name: "Currency Exchange"
    description: "Обмен валют"
  - name: "Loan Management"
    description: "Управление кредитами"
  - name: "Financial Analytics"
    description: "Финансовая аналитика"
  - name: "Security"
    description: "Безопасность"
  - name: "Health"
    description: "Мониторинг здоровья сервиса"

paths:
  /health:
    get:
      summary: "Проверка здоровья сервиса"
      operationId: "healthCheck"
      tags: ["Health"]
      responses:
        "200":
          description: "Сервис работает корректно"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: "Сервис недоступен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /health/batch:
    post:
      summary: "Пакетная проверка здоровья"
      operationId: "healthBatchCheck"
      tags: ["Health"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthBatchRequest"
      responses:
        "200":
          description: "Результаты проверки здоровья"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthBatchResponse"
        "400":
          description: "Некорректный запрос"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /health/ws:
    get:
      summary: "WebSocket проверка здоровья"
      operationId: "healthWebSocketCheck"
      tags: ["Health"]
      responses:
        "101":
          description: "WebSocket соединение установлено"
        "503":
          description: "WebSocket недоступен"

  /accounts:
    post:
      summary: "Создание банковского счета"
      operationId: "createAccount"
      tags: ["Account Management"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountRequest"
      responses:
        "201":
          description: "Счет создан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"
        "400":
          description: "Некорректные данные"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: "Счет уже существует"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      summary: "Получение списка счетов"
      operationId: "getAccounts"
      tags: ["Account Management"]
      parameters:
        - name: "ownerId"
          in: "query"
          required: true
          schema:
            type: string
            format: "uuid"
        - name: "type"
          in: "query"
          schema:
            type: string
            enum: ["personal", "business", "savings", "investment"]
        - name: "status"
          in: "query"
          schema:
            type: string
            enum: ["active", "frozen", "closed"]
            default: "active"
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 50
            default: 20
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
      responses:
        "200":
          description: "Список счетов"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountListResponse"

  /accounts/{accountId}:
    get:
      summary: "Получение информации о счете"
      operationId: "getAccount"
      tags: ["Account Management"]
      parameters:
        - name: "accountId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "Информация о счете"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"
        "404":
          description: "Счет не найден"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      summary: "Обновление счета"
      operationId: "updateAccount"
      tags: ["Account Management"]
      parameters:
        - name: "accountId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAccountRequest"
      responses:
        "200":
          description: "Счет обновлен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"
        "403":
          description: "Недостаточно прав"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "Счет не найден"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      summary: "Закрытие счета"
      operationId: "closeAccount"
      tags: ["Account Management"]
      parameters:
        - name: "accountId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "Счет закрыт"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"
        "403":
          description: "Невозможно закрыть счет"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "Счет не найден"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /accounts/{accountId}/balance:
    get:
      summary: "Получение баланса счета"
      operationId: "getAccountBalance"
      tags: ["Account Management"]
      parameters:
        - name: "accountId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "Баланс счета"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBalanceResponse"

  /transactions/transfer:
    post:
      summary: "Перевод средств между счетами"
      operationId: "transferFunds"
      tags: ["Transaction Processing"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferRequest"
      responses:
        "200":
          description: "Перевод выполнен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferResponse"
        "400":
          description: "Ошибка перевода"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: "Недостаточно средств"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transactions/deposit:
    post:
      summary: "Пополнение счета"
      operationId: "depositFunds"
      tags: ["Transaction Processing"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DepositRequest"
      responses:
        "200":
          description: "Счет пополнен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DepositResponse"
        "400":
          description: "Ошибка пополнения"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transactions/withdraw:
    post:
      summary: "Снятие средств со счета"
      operationId: "withdrawFunds"
      tags: ["Transaction Processing"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WithdrawRequest"
      responses:
        "200":
          description: "Средства сняты"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WithdrawResponse"
        "400":
          description: "Ошибка снятия"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: "Недостаточно средств"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /accounts/{accountId}/transactions:
    get:
      summary: "История транзакций счета"
      operationId: "getAccountTransactions"
      tags: ["Transaction Processing"]
      parameters:
        - name: "accountId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
        - name: "type"
          in: "query"
          schema:
            type: string
            enum: ["transfer", "deposit", "withdraw", "fee", "interest", "all"]
            default: "all"
        - name: "startDate"
          in: "query"
          schema:
            type: string
            format: date
        - name: "endDate"
          in: "query"
          schema:
            type: string
            format: date
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 50
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
      responses:
        "200":
          description: "История транзакций"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionHistoryResponse"

  /currency/exchange:
    post:
      summary: "Обмен валют"
      operationId: "exchangeCurrency"
      tags: ["Currency Exchange"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExchangeRequest"
      responses:
        "200":
          description: "Обмен выполнен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeResponse"
        "400":
          description: "Ошибка обмена"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /currency/rates:
    get:
      summary: "Курс валют"
      operationId: "getExchangeRates"
      tags: ["Currency Exchange"]
      parameters:
        - name: "base"
          in: "query"
          schema:
            type: string
            enum: ["eddies", "eurobucks", "credits"]
            default: "eddies"
      responses:
        "200":
          description: "Курс валют"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeRatesResponse"

  /loans:
    post:
      summary: "Создание кредита"
      operationId: "createLoan"
      tags: ["Loan Management"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLoanRequest"
      responses:
        "201":
          description: "Кредит создан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoanResponse"
        "400":
          description: "Некорректные данные"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: "Кредит не одобрен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      summary: "Получение списка кредитов"
      operationId: "getLoans"
      tags: ["Loan Management"]
      parameters:
        - name: "borrowerId"
          in: "query"
          required: true
          schema:
            type: string
            format: "uuid"
        - name: "status"
          in: "query"
          schema:
            type: string
            enum: ["active", "paid", "defaulted", "cancelled"]
            default: "active"
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 50
            default: 20
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
      responses:
        "200":
          description: "Список кредитов"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoanListResponse"

  /loans/{loanId}:
    get:
      summary: "Получение информации о кредите"
      operationId: "getLoan"
      tags: ["Loan Management"]
      parameters:
        - name: "loanId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "Информация о кредите"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoanResponse"
        "404":
          description: "Кредит не найден"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /loans/{loanId}/payment:
    post:
      summary: "Платеж по кредиту"
      operationId: "makeLoanPayment"
      tags: ["Loan Management"]
      parameters:
        - name: "loanId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoanPaymentRequest"
      responses:
        "200":
          description: "Платеж выполнен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoanPaymentResponse"
        "400":
          description: "Ошибка платежа"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: "Кредит уже погашен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /analytics/financial:
    get:
      summary: "Финансовая аналитика"
      operationId: "getFinancialAnalytics"
      tags: ["Financial Analytics"]
      parameters:
        - name: "period"
          in: "query"
          schema:
            type: string
            enum: ["daily", "weekly", "monthly", "yearly"]
            default: "monthly"
        - name: "metric"
          in: "query"
          schema:
            type: string
            enum: ["transaction_volume", "account_growth", "loan_performance", "exchange_rates"]
      responses:
        "200":
          description: "Финансовая аналитика"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FinancialAnalyticsResponse"

  /security/fraud-check:
    post:
      summary: "Проверка на мошенничество"
      operationId: "checkFraud"
      tags: ["Security"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FraudCheckRequest"
      responses:
        "200":
          description: "Результат проверки"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FraudCheckResponse"

  /accounts/{accountId}/freeze:
    post:
      summary: "Заморозка счета"
      operationId: "freezeAccount"
      tags: ["Security"]
      parameters:
        - name: "accountId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FreezeAccountRequest"
      responses:
        "200":
          description: "Счет заморожен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"

  /accounts/{accountId}/unfreeze:
    post:
      summary: "Разморозка счета"
      operationId: "unfreezeAccount"
      tags: ["Security"]
      parameters:
        - name: "accountId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnfreezeAccountRequest"
      responses:
        "200":
          description: "Счет разморожен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Common inherited entities
    CharacterEntity:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/CharacterEntity"
    BaseEntity:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/BaseEntity"
    OptimisticLock:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/OptimisticLock"
    ErrorResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse"
    HealthResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthResponse"
    HealthBatchRequest:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthBatchRequest"
    HealthBatchResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthBatchResponse"

    # Bank specific schemas
    BankAccountEntity:
      type: object
      description: "Сущность банковского счета"
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - ownerId
            - accountNumber
            - type
            - currency
          properties:
            ownerId:
              type: string
              description: "ID владельца счета"
              format: uuid
              example: "123e4567-e89b-12d3-a456-426614174000"
            accountNumber:
              type: string
              description: "Номер счета"
              pattern: "^[A-Z0-9]{16}$"
              example: "NECP123456789012"
            type:
              type: string
              description: "Тип счета"
              enum: ["personal", "business", "savings", "investment"]
              example: "personal"
            currency:
              type: string
              description: "Валюта счета"
              enum: ["eddies", "eurobucks", "credits"]
              example: "eddies"
            balance:
              type: number
              description: "Текущий баланс"
              minimum: 0
              example: 50000.50
            availableBalance:
              type: number
              description: "Доступный баланс"
              minimum: 0
              example: 49500.50
            status:
              type: string
              description: "Статус счета"
              enum: ["active", "frozen", "closed"]
              example: "active"
            interestRate:
              type: number
              description: "Процентная ставка"
              minimum: 0
              maximum: 1
              example: 0.025
            overdraftLimit:
              type: number
              description: "Лимит овердрафта"
              minimum: 0
              example: 1000.00
            monthlyFee:
              type: number
              description: "Ежемесячная комиссия"
              minimum: 0
              example: 5.00
            lastActivity:
              type: string
              description: "Последняя активность"
              format: date-time
            securitySettings:
              type: object
              description: "Настройки безопасности"
              properties:
                twoFactorEnabled:
                  type: boolean
                  default: true
                transactionLimits:
                  type: object
                  properties:
                    daily:
                      type: number
                      minimum: 0
                    monthly:
                      type: number
                      minimum: 0
            $ref: "#/components/schemas/OptimisticLock"

    TransactionEntity:
      type: object
      description: "Сущность транзакции"
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - type
            - amount
            - currency
            - status
          properties:
            type:
              type: string
              description: "Тип транзакции"
              enum: ["transfer", "deposit", "withdraw", "fee", "interest", "exchange", "loan_payment"]
              example: "transfer"
            amount:
              type: number
              description: "Сумма транзакции"
              example: 1000.00
            currency:
              type: string
              description: "Валюта"
              enum: ["eddies", "eurobucks", "credits"]
              example: "eddies"
            status:
              type: string
              description: "Статус транзакции"
              enum: ["pending", "completed", "failed", "cancelled"]
              example: "completed"
            fromAccountId:
              type: string
              description: "ID счета отправителя"
              format: uuid
            toAccountId:
              type: string
              description: "ID счета получателя"
              format: uuid
            description:
              type: string
              description: "Описание транзакции"
              maxLength: 255
              example: "Payment for cyberware upgrade"
            referenceNumber:
              type: string
              description: "Референсный номер"
              pattern: "^[A-Z0-9]{12}$"
              example: "TXN123456789"
            fee:
              type: number
              description: "Комиссия"
              minimum: 0
              example: 2.50
            exchangeRate:
              type: number
              description: "Курс обмена (для обменных операций)"
              minimum: 0
            processedAt:
              type: string
              description: "Время обработки"
              format: date-time
            failureReason:
              type: string
              description: "Причина неудачи"
              maxLength: 255
            $ref: "#/components/schemas/OptimisticLock"

    LoanEntity:
      type: object
      description: "Сущность кредита"
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - borrowerId
            - accountId
            - principalAmount
            - interestRate
            - termMonths
          properties:
            borrowerId:
              type: string
              description: "ID заемщика"
              format: uuid
            accountId:
              type: string
              description: "ID счета для зачисления"
              format: uuid
            principalAmount:
              type: number
              description: "Основная сумма"
              minimum: 1
              example: 50000.00
            interestRate:
              type: number
              description: "Процентная ставка"
              minimum: 0
              maximum: 1
              example: 0.15
            termMonths:
              type: integer
              description: "Срок в месяцах"
              minimum: 1
              maximum: 120
              example: 12
            monthlyPayment:
              type: number
              description: "Ежемесячный платеж"
              minimum: 0
              example: 4500.00
            remainingBalance:
              type: number
              description: "Оставшийся баланс"
              minimum: 0
              example: 50000.00
            status:
              type: string
              description: "Статус кредита"
              enum: ["pending", "active", "paid", "defaulted", "cancelled"]
              example: "active"
            startDate:
              type: string
              description: "Дата начала"
              format: date
            endDate:
              type: string
              description: "Дата окончания"
              format: date
            nextPaymentDate:
              type: string
              description: "Следующий платеж"
              format: date
            lateFees:
              type: number
              description: "Штрафы за просрочку"
              minimum: 0
              example: 0.00
            collateral:
              type: string
              description: "Залог (ID предмета)"
              format: uuid
            creditScore:
              type: integer
              description: "Кредитный рейтинг заемщика"
              minimum: 0
              maximum: 1000
              example: 750
            $ref: "#/components/schemas/OptimisticLock"

    # Request/Response schemas
    CreateAccountRequest:
      type: object
      required:
        - ownerId
        - type
        - currency
      properties:
        ownerId:
          type: string
          format: uuid
        type:
          type: string
          enum: ["personal", "business", "savings", "investment"]
        currency:
          type: string
          enum: ["eddies", "eurobucks", "credits"]
        initialDeposit:
          type: number
          minimum: 0
          default: 0

    UpdateAccountRequest:
      type: object
      properties:
        overdraftLimit:
          type: number
          minimum: 0
        monthlyFee:
          type: number
          minimum: 0
        securitySettings:
          type: object
          properties:
            twoFactorEnabled:
              type: boolean
            transactionLimits:
              type: object
              properties:
                daily:
                  type: number
                  minimum: 0
                monthly:
                  type: number
                  minimum: 0

    AccountResponse:
      type: object
      properties:
        account:
          $ref: "#/components/schemas/BankAccountEntity"
        metadata:
          type: object
          properties:
            createdAt:
              type: string
              format: date-time
            lastTransaction:
              type: string
              format: date-time

    AccountListResponse:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: "#/components/schemas/BankAccountEntity"
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 50
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean

    AccountBalanceResponse:
      type: object
      properties:
        accountId:
          type: string
          format: uuid
        balance:
          type: number
          minimum: 0
        availableBalance:
          type: number
          minimum: 0
        currency:
          type: string
        pendingTransactions:
          type: integer
          minimum: 0
        lastUpdated:
          type: string
          format: date-time

    TransferRequest:
      type: object
      required:
        - fromAccountId
        - toAccountId
        - amount
        - currency
      properties:
        fromAccountId:
          type: string
          format: uuid
        toAccountId:
          type: string
          format: uuid
        amount:
          type: number
          minimum: 0.01
        currency:
          type: string
          enum: ["eddies", "eurobucks", "credits"]
        description:
          type: string
          maxLength: 255
        scheduledDate:
          type: string
          format: date-time

    TransferResponse:
      type: object
      properties:
        transactionId:
          type: string
          format: uuid
        fromAccountId:
          type: string
          format: uuid
        toAccountId:
          type: string
          format: uuid
        amount:
          type: number
        currency:
          type: string
        fee:
          type: number
        status:
          type: string
          enum: ["completed", "pending", "scheduled"]
        processedAt:
          type: string
          format: date-time

    DepositRequest:
      type: object
      required:
        - accountId
        - amount
        - currency
        - source
      properties:
        accountId:
          type: string
          format: uuid
        amount:
          type: number
          minimum: 0.01
        currency:
          type: string
          enum: ["eddies", "eurobucks", "credits"]
        source:
          type: string
          enum: ["game_earnings", "marketplace_sale", "external_deposit", "admin_credit"]
        description:
          type: string
          maxLength: 255

    DepositResponse:
      type: object
      properties:
        transactionId:
          type: string
          format: uuid
        accountId:
          type: string
          format: uuid
        amount:
          type: number
        currency:
          type: string
        newBalance:
          type: number
        processedAt:
          type: string
          format: date-time

    WithdrawRequest:
      type: object
      required:
        - accountId
        - amount
        - currency
        - destination
      properties:
        accountId:
          type: string
          format: uuid
        amount:
          type: number
          minimum: 0.01
        currency:
          type: string
          enum: ["eddies", "eurobucks", "credits"]
        destination:
          type: string
          enum: ["game_purchase", "marketplace_buy", "external_withdrawal", "fee_payment"]
        description:
          type: string
          maxLength: 255

    WithdrawResponse:
      type: object
      properties:
        transactionId:
          type: string
          format: uuid
        accountId:
          type: string
          format: uuid
        amount:
          type: number
        currency:
          type: string
        fee:
          type: number
        newBalance:
          type: number
        processedAt:
          type: string
          format: date-time

    TransactionHistoryResponse:
      type: object
      properties:
        accountId:
          type: string
          format: uuid
        transactions:
          type: array
          items:
            $ref: "#/components/schemas/TransactionEntity"
        summary:
          type: object
          properties:
            totalTransactions:
              type: integer
              minimum: 0
            totalCredits:
              type: number
              minimum: 0
            totalDebits:
              type: number
              minimum: 0
            periodStart:
              type: string
              format: date
            periodEnd:
              type: string
              format: date
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 100
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean

    ExchangeRequest:
      type: object
      required:
        - fromAccountId
        - toAccountId
        - fromAmount
        - fromCurrency
        - toCurrency
      properties:
        fromAccountId:
          type: string
          format: uuid
        toAccountId:
          type: string
          format: uuid
        fromAmount:
          type: number
          minimum: 0.01
        fromCurrency:
          type: string
          enum: ["eddies", "eurobucks", "credits"]
        toCurrency:
          type: string
          enum: ["eddies", "eurobucks", "credits"]

    ExchangeResponse:
      type: object
      properties:
        transactionId:
          type: string
          format: uuid
        fromAccountId:
          type: string
          format: uuid
        toAccountId:
          type: string
          format: uuid
        fromAmount:
          type: number
        fromCurrency:
          type: string
        toAmount:
          type: number
        toCurrency:
          type: string
        exchangeRate:
          type: number
        fee:
          type: number
        processedAt:
          type: string
          format: date-time

    ExchangeRatesResponse:
      type: object
      properties:
        baseCurrency:
          type: string
        rates:
          type: object
          additionalProperties:
            type: number
          example:
            eurobucks: 0.85
            credits: 1.2
        lastUpdated:
          type: string
          format: date-time
        nextUpdate:
          type: string
          format: date-time

    CreateLoanRequest:
      type: object
      required:
        - borrowerId
        - accountId
        - principalAmount
        - termMonths
      properties:
        borrowerId:
          type: string
          format: uuid
        accountId:
          type: string
          format: uuid
        principalAmount:
          type: number
          minimum: 100
          maximum: 1000000
        termMonths:
          type: integer
          minimum: 1
          maximum: 120
        collateral:
          type: string
          format: uuid
        purpose:
          type: string
          enum: ["business", "personal", "investment", "emergency"]
          default: "personal"

    LoanResponse:
      type: object
      properties:
        loan:
          $ref: "#/components/schemas/LoanEntity"
        approvalDetails:
          type: object
          properties:
            approved:
              type: boolean
            creditScore:
              type: integer
            interestRate:
              type: number
            approvedAt:
              type: string
              format: date-time

    LoanListResponse:
      type: object
      properties:
        loans:
          type: array
          items:
            $ref: "#/components/schemas/LoanEntity"
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 50
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean

    LoanPaymentRequest:
      type: object
      required:
        - amount
      properties:
        amount:
          type: number
          minimum: 0.01
        accountId:
          type: string
          format: uuid
          description: "Счет для списания (опционально)"

    LoanPaymentResponse:
      type: object
      properties:
        loanId:
          type: string
          format: uuid
        paymentAmount:
          type: number
        principalPaid:
          type: number
        interestPaid:
          type: number
        remainingBalance:
          type: number
        nextPaymentDate:
          type: string
          format: date
        transactionId:
          type: string
          format: uuid

    FinancialAnalyticsResponse:
      type: object
      properties:
        period:
          type: string
          enum: ["daily", "weekly", "monthly", "yearly"]
        metrics:
          type: object
          properties:
            totalAccounts:
              type: integer
              minimum: 0
            totalBalance:
              type: number
              minimum: 0
            transactionVolume:
              type: integer
              minimum: 0
            transactionValue:
              type: number
              minimum: 0
            loanPortfolio:
              type: number
              minimum: 0
            defaultRate:
              type: number
              minimum: 0
              maximum: 1
        trends:
          type: object
          additionalProperties:
            type: number

    FraudCheckRequest:
      type: object
      required:
        - transaction
      properties:
        transaction:
          $ref: "#/components/schemas/TransactionEntity"

    FraudCheckResponse:
      type: object
      properties:
        transactionId:
          type: string
          format: uuid
        fraudRisk:
          type: string
          enum: ["low", "medium", "high", "critical"]
        riskScore:
          type: number
          minimum: 0
          maximum: 1
        flags:
          type: array
          items:
            type: string
            enum: ["unusual_amount", "unusual_location", "velocity_check", "blacklist_match"]
        recommendedAction:
          type: string
          enum: ["approve", "review", "block", "escalate"]

    FreezeAccountRequest:
      type: object
      required:
        - reason
      properties:
        reason:
          type: string
          enum: ["fraud_suspected", "security_concern", "legal_request", "account_compromised"]
        duration:
          type: integer
          description: "Длительность заморозки в часах"
          minimum: 1
          maximum: 720

    UnfreezeAccountRequest:
      type: object
      required:
        - reason
      properties:
        reason:
          type: string
          enum: ["investigation_complete", "false_positive", "user_request", "legal_clearance"]