openapi: 3.0.3
info:
  title: Seasonal Events Schedule API
  version: 1.0.0
  description: Управление календарём сезонных, регулярных и уникальных событий NECPGAME.
  x-microservice:
    name: world-service
    port: 8086
    domain: world
    base-path: /api/v1/world
    package: com.necpgame.worldservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
x-target-architecture:
  backend:
    - service: world-service
      module: scheduling.events.seasonal
    - service: economy-service
      module: modifiers.events
    - service: social-service
      module: broadcasts.events
    - service: gameplay-service
      module: activities.event-participation
  frontend:
    module: modules/world/events
    store: useSeasonalEventsStore
security:
  - BearerAuth: []
tags:
  - name: Schedule
    description: Управление расписанием и выборками событий.
  - name: Control
    description: Запуск и завершение событий, экономические и социальные эффекты.
  - name: Participation
    description: Регистрация активности игроков и телеметрия.
paths:
  /world/events/schedule:
    get:
      tags: [Schedule]
      summary: Получить полный календарь событий
      operationId: getSeasonalSchedule
      parameters:
        - $ref: './seasonal-schedule-components.yaml#/components/parameters/Frequency'
        - $ref: './seasonal-schedule-components.yaml#/components/parameters/Season'
        - $ref: './seasonal-schedule-components.yaml#/components/parameters/Year'
        - $ref: './seasonal-schedule-components.yaml#/components/parameters/Timezone'
        - $ref: './seasonal-schedule-components.yaml#/components/parameters/Locale'
        - $ref: './seasonal-schedule-components.yaml#/components/parameters/Region'
        - $ref: './seasonal-schedule-components.yaml#/components/parameters/LocalizationHeader'
      responses:
        '200':
          description: Список событий с разбивкой по типам.
          content:
            application/json:
              schema: { $ref: './seasonal-schedule-components.yaml#/components/schemas/EventScheduleResponse' }
              examples: { default: { $ref: './seasonal-schedule-examples.yaml#/components/examples/ScheduleResponse' } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /world/events/schedule/current:
    get:
      tags: [Schedule]
      summary: Получить активные и ближайшие события
      operationId: getCurrentEvents
      parameters:
        - $ref: './seasonal-schedule-components.yaml#/components/parameters/Timezone'
        - $ref: './seasonal-schedule-components.yaml#/components/parameters/Locale'
        - $ref: './seasonal-schedule-components.yaml#/components/parameters/Region'
        - $ref: './seasonal-schedule-components.yaml#/components/parameters/LocalizationHeader'
      responses:
        '200':
          description: Активные и предстоящие события.
          content:
            application/json:
              schema: { $ref: './seasonal-schedule-components.yaml#/components/schemas/CurrentEventsResponse' }
              examples: { default: { $ref: './seasonal-schedule-examples.yaml#/components/examples/CurrentEvents' } }
  /world/events/{eventId}/trigger:
    post:
      tags: [Control]
      summary: Принудительно запустить событие
      operationId: triggerEvent
      security: [ { BearerAuth: [world.events.trigger] }, { GMToken: [] } ]
      parameters:
        - $ref: './seasonal-schedule-components.yaml#/components/parameters/EventId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './seasonal-schedule-components.yaml#/components/schemas/TriggerPayload' }
            examples: { default: { $ref: './seasonal-schedule-examples.yaml#/components/examples/TriggerRequest' } }
      responses:
        '202':
          description: Событие запланировано или активировано.
          headers:
            X-Event-Activation-Id:
              schema: { type: string }
              description: Идентификатор операции запуска.
            Content-Language:
              schema: { type: string }
              description: Локаль локализованного ответа.
          content:
            application/json:
              schema: { $ref: './seasonal-schedule-components.yaml#/components/schemas/EventDefinition' }
        '409':
          description: Конфликт расписаний или условия не выполнены.
          content:
            application/json:
              schema: { $ref: './seasonal-schedule-components.yaml#/components/schemas/ScheduleError' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
  /world/events/{eventId}/complete:
    post:
      tags: [Control]
      summary: Завершить событие и применить последствия
      operationId: completeEvent
      security: [ { BearerAuth: [world.events.complete] }, { ServiceToken: [] } ]
      parameters:
        - $ref: './seasonal-schedule-components.yaml#/components/parameters/EventId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './seasonal-schedule-components.yaml#/components/schemas/CompletionPayload' }
            examples: { default: { $ref: './seasonal-schedule-examples.yaml#/components/examples/CompletionRequest' } }
      responses:
        '200':
          description: Событие завершено, награды разосланы.
          headers:
            Content-Language:
              schema: { type: string }
              description: Локаль локализованного ответа.
          content:
            application/json:
              schema: { $ref: './seasonal-schedule-components.yaml#/components/schemas/OutcomeEffect' }
        '202':
          description: Обработка завершения выполняется асинхронно.
        '409':
          description: Событие уже завершено или отменено.
          content:
            application/json:
              schema: { $ref: './seasonal-schedule-components.yaml#/components/schemas/ScheduleError' }
  /economy/events/apply-modifier:
    post:
      tags: [Control]
      summary: Применить экономический модификатор от события
      operationId: applyEconomicModifier
      security: [ { ServiceToken: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './seasonal-schedule-components.yaml#/components/schemas/EconomicApplyRequest' }
            examples: { default: { $ref: './seasonal-schedule-examples.yaml#/components/examples/EconomicApplyRequest' } }
      responses:
        '200':
          description: Модификатор принят и поставлен в очередь.
          headers:
            Content-Language:
              schema: { type: string }
              description: Локаль локализованного ответа.
          content:
            application/json:
              schema: { $ref: './seasonal-schedule-components.yaml#/components/schemas/EconomicModifier' }
        '409':
          description: Уже существует активный модификатор.
          content:
            application/json:
              schema: { $ref: './seasonal-schedule-components.yaml#/components/schemas/ScheduleError' }
  /social/events/broadcast:
    post:
      tags: [Control]
      summary: Отправить социальное оповещение о событии
      operationId: broadcastEvent
      security: [ { BearerAuth: [world.events.broadcast] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './seasonal-schedule-components.yaml#/components/schemas/SocialBroadcast' }
            examples: { default: { $ref: './seasonal-schedule-examples.yaml#/components/examples/SocialBroadcast' } }
      responses:
        '202':
          description: Сообщение принято и отправляется аудиториям.
          headers:
            Content-Language:
              schema: { type: string }
              description: Локаль локализованного ответа.
        '400':
          description: Ошибка в payload.
          content:
            application/json:
              schema: { $ref: './seasonal-schedule-components.yaml#/components/schemas/ScheduleError' }
  /gameplay/events/register-activity:
    post:
      tags: [Participation]
      summary: Зарегистрировать активность игрока в событии
      operationId: registerEventActivity
      security: [ { BearerAuth: [world.events.participation] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './seasonal-schedule-components.yaml#/components/schemas/ActivityRegistration' }
            examples: { default: { $ref: './seasonal-schedule-examples.yaml#/components/examples/ActivityRegistration' } }
      responses:
        '200':
          description: Активность зарегистрирована.
          headers:
            Content-Language:
              schema: { type: string }
              description: Локаль локализованного ответа.
          content:
            application/json:
              schema: { $ref: './seasonal-schedule-components.yaml#/components/schemas/TelemetryEvent' }
        '410':
          description: Событие не активно.
          content:
            application/json:
              schema: { $ref: './seasonal-schedule-components.yaml#/components/schemas/ScheduleError' }

x-integrations:
  world-service:
    scheduler: cron "0 * * * *" (UTC) для обновления активных событий
    observability:
      pagerduty: EventSchedulerLag
  economy-service:
    modifiers-endpoint: POST /api/v1/economy/events/apply-modifier
  social-service:
    broadcast-endpoint: POST /api/v1/social/events/broadcast
  analytics-service:
    telemetry-topic: kafka.world.events
x-websocket:
  url: wss://api.necp.game/v1/world/events/seasonal
  description: Поток событий сезонного расписания и телеметрии.
  messages:
    EventTriggered:
      summary: Событие запущено.
      payload:
        $ref: './seasonal-schedule-examples.yaml#/components/examples/WebSocketTriggered/value'
    EventProgress:
      summary: Обновление прогресса события.
      payload:
        type: object
        properties:
          eventId: { type: string, format: uuid }
          participationRate: { type: number, minimum: 0, maximum: 1 }
          completionRate: { type: number, minimum: 0, maximum: 1 }
          timestamp: { type: string, format: date-time }
    EventCompleted:
      summary: Событие завершено.
      payload:
        type: object
        properties:
          eventId: { type: string, format: uuid }
          outcome: { type: string }
          rewards: { type: array, items: { $ref: './seasonal-schedule-components.yaml#/components/schemas/RewardDescriptor' } }
    ModifierApplied:
      summary: Экономический модификатор активирован.
      payload:
        type: object
        properties:
          modifier: { $ref: './seasonal-schedule-components.yaml#/components/schemas/EconomicModifier' }
          appliedAt: { type: string, format: date-time }
    MemeShared:
      summary: Мем отправлен в NightHub.
      payload:
        type: object
        properties:
          eventId: { type: string, format: uuid }
          memeId: { type: string }
          channel: { type: string }
          timestamp: { type: string, format: date-time }

components:
  securitySchemes:
    BearerAuth: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth' }
    GMToken: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/GMToken' }
    ServiceToken: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/ServiceToken' }

