openapi: 3.0.3
info:
  title: Seasonal Events Schedule Examples
  version: 1.0.0
  description: Примеры запросов и ответов для расписания сезонных событий.
  x-microservice:
    name: world-service
    port: 8086
    domain: world
    base-path: /api/v1/world
    package: com.necpgame.worldservice
paths: {}
components:
  examples:
    ScheduleResponse:
      summary: Полный календарь событий на сезон
      value:
        timezone: "UTC"
        locale: "ru-RU"
        recurring:
          - eventId: "d3f1c235-16b2-4d64-8ac6-5eb736fc2101"
            name: "Neon Assault Weekly"
            frequency: "WEEKLY"
            status: "SCHEDULED"
            window:
              startTimeUtc: "2025-11-10T18:00:00Z"
              endTimeUtc: "2025-11-10T20:00:00Z"
              durationMinutes: 120
            recurrencePattern: "WEEKLY"
            weekday: "FRIDAY"
            rewards:
              - rewardId: "credits"
                type: "CURRENCY"
                quantity: 2500
                delivery: "AUTO"
            localization:
              - locale: "en-US"
                title: "Neon Assault"
                description: "Defend the Neon District from Specter incursions."
        seasonal:
          - eventId: "2a741030-66f1-4f57-96cf-3fe6a9bf0119"
            name: "CyberSolstice"
            frequency: "SEASONAL"
            status: "ACTIVE"
            season: "WINTER"
            year: 2077
            window:
              startTimeUtc: "2077-12-20T00:00:00Z"
              endTimeUtc: "2078-01-05T00:00:00Z"
              durationMinutes: 21600
            featuredFactions: ["Aeon Dynasty", "Ember Saints"]
            triggerConditions:
              - flag: "GLOBAL_RESEARCH"
                threshold: 0.8
                operator: "GREATER_OR_EQUAL"
            rewards:
              - rewardId: "winter-badge"
                type: "BADGE"
                quantity: 1
                delivery: "CLAIM"
            telemetry:
              participationRate: 0.62
              retentionRate: 0.41
              completionRate: 0.57
              eventImpactScore: 87.5
              issuedAt: "2077-12-26T12:00:00Z"
        unique:
          - eventId: "83bc5391-97f7-4d14-9fc8-2bc9cf2b2211"
            name: "Specter Surge: Helios Breakpoint"
            frequency: "UNIQUE"
            status: "SCHEDULED"
            window:
              startTimeUtc: "2078-03-17T19:00:00Z"
              endTimeUtc: "2078-03-18T01:00:00Z"
              durationMinutes: 360
            storyline: "Helios counter-offensive into Specter-controlled districts"
            oncePerAccount: true
            emergencyOnly: false
            requiredResearch: ["helios-countermesh", "quantum-fable"]
    CurrentEvents:
      summary: Текущие активные события
      value:
        generatedAt: "2077-12-24T18:00:00Z"
        active:
          - eventId: "2a741030-66f1-4f57-96cf-3fe6a9bf0119"
            name: "CyberSolstice"
            frequency: "SEASONAL"
            status: "ACTIVE"
            window:
              startTimeUtc: "2077-12-20T00:00:00Z"
              endTimeUtc: "2078-01-05T00:00:00Z"
              durationMinutes: 21600
        upcoming:
          - eventId: "83bc5391-97f7-4d14-9fc8-2bc9cf2b2211"
            name: "Specter Surge: Helios Breakpoint"
            frequency: "UNIQUE"
            status: "SCHEDULED"
            window:
              startTimeUtc: "2078-03-17T19:00:00Z"
              endTimeUtc: "2078-03-18T01:00:00Z"
              durationMinutes: 360
    TriggerRequest:
      summary: Принудительный запуск события ГМ
      value:
        source: "GM_OVERRIDE"
        actorId: "0f19c1a4-9f7d-4fa3-9f55-4992372ea04b"
        overrides:
          startTimeUtc: "2077-12-24T20:00:00Z"
          endTimeUtc: "2077-12-24T22:30:00Z"
          forceActivation: true
        notes: "Emergency celebration for NightHub stream"
    CompletionRequest:
      summary: Завершение события
      value:
        result: "SUCCESS"
        outcomes:
          worldFlags: ["event.cybersolstice.completed"]
          reputationChanges:
            - factionId: "a4f17d72-8d5c-4c22-bd26-448f62d63080"
              delta: 120
          economicModifiers:
            - modifierId: "winter-market"
              scope: "CITY"
              value: -0.15
              type: "DISCOUNT"
              durationMinutes: 720
              affectedCommodities: ["fashion", "augmentations"]
          lootBundles:
            - rewardId: "aeon-snow-blade"
              type: "ITEM"
              quantity: 1
              delivery: "CLAIM"
        issuedRewards:
          - rewardId: "winter-badge"
            type: "BADGE"
            quantity: 1
            delivery: "CLAIM"
        telemetry:
          participationRate: 0.68
          retentionRate: 0.45
          completionRate: 0.61
          eventImpactScore: 92.1
          issuedAt: "2078-01-05T00:05:00Z"
    EconomicApplyRequest:
      summary: Применение экономического модификатора
      value:
        eventId: "2a741030-66f1-4f57-96cf-3fe6a9bf0119"
        modifier:
          modifierId: "cybersolstice-tax-relief"
          scope: "GLOBAL"
          value: -0.1
          type: "TAX"
          durationMinutes: 2880
          affectedCommodities: ["energy", "transport"]
          metadata:
            explanation: "Holiday tax relief"
        appliedBy: "f23a6b7c-4197-4d88-8047-bcf21baed4af"
    SocialBroadcast:
      summary: Мем рассылка NightHub
      value:
        eventId: "2a741030-66f1-4f57-96cf-3fe6a9bf0119"
        channel: "NIGHT_HUB"
        message: "CYBERSOLSTICE_MEM: Spark the night with Aeon fusion lanterns"
        memePayload:
          memeId: "mem-2077-winter"
          template: "glow-wave"
          tags: ["cybersolstice", "nightlife"]
        audienceSegments: ["NightHubInfluencers", "GuildLeaders"]
    ActivityRegistration:
      summary: Регистрация активности игрока
      value:
        eventId: "d3f1c235-16b2-4d64-8ac6-5eb736fc2101"
        playerId: "9981c67e-4d3b-4e88-b67d-40ae9f3e81df"
        activityId: "neon-defense-wave-12"
        partyId: "f48b7a26-2d51-4101-8e5d-3785f0be133e"
        score: 1450.5
        durationSeconds: 780
    WebSocketTriggered:
      summary: Сообщение EventTriggered
      value:
        event: "EventTriggered"
        eventId: "83bc5391-97f7-4d14-9fc8-2bc9cf2b2211"
        timestamp: "2078-03-17T19:00:00Z"
        payload:
          frequency: "UNIQUE"
          triggerSource: "SCHEDULED_JOB"
    ErrorConflict:
      summary: Конфликт расписаний
      value:
        error:
          code: "BIZ_WORLD_EVENT_CONFLICT"
          message: "Event overlaps with existing unique event window"
          details:
            - "conflictEventId=2a741030-66f1-4f57-96cf-3fe6a9bf0119"

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
