openapi: 3.0.3
info:
  title: World Event Service API - Enterprise-Grade Global Event Management System
  description: '**Enterprise-Grade World Event Management API for NECPGAME**

    This API manages global world events, seasonal content, and dynamic activities
    in Night City.

    ## Key Features

    - **Event Management**: Create and manage global world events - **Seasonal Content**:
    Manage seasonal activities and challenges - **Dynamic Content**: Real-time event
    spawning and management - **Participation Tracking**: Track player participation
    and rewards - **Scalability**: Support for massive concurrent events - **Performance
    Optimized**: High-throughput event operations with <25ms P99 latency

    ## Domain Purpose

    The World Event domain handles all global events, seasonal content, and dynamic
    activities in Night City. Players participate in world events, seasonal challenges,
    and dynamic content through comprehensive event management systems.

    ## Performance Targets

    - P99 Latency: <25ms for event operations - Memory: <30KB per active event session
    - Concurrent users: 200,000+ simultaneous event participants - Event throughput:
    50,000+ operations per second

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/world-event
  description: Production server
- url: https://staging-api.necpgame.com/v1/world-event
  description: Staging server
- url: http://localhost:8080/api/v1/world-event
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Event Management
  description: Core world event operations and management
- name: Event Participation
  description: Player registration and event participation
- name: Event Analytics
  description: Event statistics and performance monitoring
- name: Event Templates
  description: Reusable event templates and configurations
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /events:
    $ref: ./paths/events.yaml#/paths/~1events
  /events/{eventId}:
    $ref: ./paths/events-{eventId}.yaml#/paths/~1events~1{eventId}
  /events/{eventId}/participants:
    $ref: ./paths/events-{eventId}-participants.yaml#/paths/~1events~1{eventId}~1participants
  /events/{eventId}/join:
    $ref: ./paths/events-{eventId}-join.yaml#/paths/~1events~1{eventId}~1join
  /events/{eventId}/leave:
    $ref: ./paths/events-{eventId}-leave.yaml#/paths/~1events~1{eventId}~1leave
  /events/{eventId}/participation/{playerId}:
    $ref: ./paths/events-{eventId}-participation-{playerId}.yaml#/paths/~1events~1{eventId}~1participation~1{playerId}
  /events/{eventId}/analytics:
    $ref: ./paths/events-{eventId}-analytics.yaml#/paths/~1events~1{eventId}~1analytics
  /players/{playerId}/events:
    $ref: ./paths/players-{playerId}-events.yaml#/paths/~1players~1{playerId}~1events
  /players/{playerId}/rewards:
    $ref: ./paths/players-{playerId}-rewards.yaml#/paths/~1players~1{playerId}~1rewards
  /players/{playerId}/rewards/{rewardId}/claim:
    $ref: ./paths/players-{playerId}-rewards-{rewardId}-claim.yaml#/paths/~1players~1{playerId}~1rewards~1{rewardId}~1claim
  /templates:
    $ref: ./paths/templates.yaml#/paths/~1templates
components:
  schemas:
    Error:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/Error
    HealthResponse:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/HealthResponse
    PaginationMeta:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/PaginationMeta
    WorldEventType:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/WorldEventType
    WorldEventStatus:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/WorldEventStatus
    WorldEventDifficulty:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/WorldEventDifficulty
    ParticipationStatus:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/ParticipationStatus
    WorldEventSummary:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/WorldEventSummary
    WorldEvent:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/WorldEvent
    WorldEventDetail:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/WorldEventDetail
    CreateEventRequest:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/CreateEventRequest
    UpdateEventRequest:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/UpdateEventRequest
    EventParticipant:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/EventParticipant
    EventParticipantsList:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/EventParticipantsList
    EventParticipation:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/EventParticipation
    EventParticipationResponse:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/EventParticipationResponse
    JoinEventRequest:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/JoinEventRequest
    UpdateParticipationRequest:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/UpdateParticipationRequest
    PlayerEventSummary:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/PlayerEventSummary
    EventReward:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/EventReward
    PlayerRewardsList:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/PlayerRewardsList
    ClaimRewardRequest:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/ClaimRewardRequest
    RewardClaimResponse:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/RewardClaimResponse
    EventAnalyticsResponse:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/EventAnalyticsResponse
    EventTemplateSummary:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/EventTemplateSummary
    EventTemplate:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/EventTemplate
    EventTemplateResponse:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/EventTemplateResponse
    CreateTemplateRequest:
      $ref: ./schemas/world-event-service-schemas.yaml#/components/schemas/CreateTemplateRequest
  responses:
    BadRequest:
      $ref: ./schemas/world-event-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/world-event-service-responses.yaml#/components/responses/Unauthorized
    Forbidden:
      $ref: ./schemas/world-event-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/world-event-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/world-event-service-responses.yaml#/components/responses/Conflict
    InternalServerError:
      $ref: ./schemas/world-event-service-responses.yaml#/components/responses/InternalServerError
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
