openapi: 3.0.3
info:
  title: User Profile Service API
  description: '**Enterprise-grade API for User Profile Management**


    ## Domain Purpose

    Comprehensive user profile management service providing social profiles, avatars,

    privacy controls, and personalization features for the NECPGAME platform.


    ## Business Value

    - Rich user profiles with customization

    - Privacy and visibility controls

    - Avatar and media management

    - Social discovery and networking

    - Profile analytics and insights


    ## Performance Targets

    - P99 Latency: <40ms for all endpoints

    - Storage per Profile: <100KB average

    - Concurrent Updates: 50,000+ supported

    - CDN Integration: For avatars and media


    ## Domain Inheritance

    This service inherits from social-entities.yaml providing:

    - UserProfileEntity for profile data structure

    - GuildEntity for social relationships

    - ChatMessageEntity for profile interactions

    - Optimistic locking for concurrent operations

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/user-profile-service
  description: Production environment
- url: https://staging-api.necpgame.com/v1/user-profile-service
  description: Staging environment
- url: http://localhost:8080/api/v1/user-profile-service
  description: Local development
security:
- BearerAuth: []
tags:
- name: Profile Management
  description: Core profile operations
- name: Privacy & Security
  description: Privacy controls and security settings
- name: Media Management
  description: Avatar and media operations
- name: Social Features
  description: Social discovery and networking
- name: Health Monitoring
  description: Service health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /profiles:
    $ref: ./paths/profiles.yaml#/paths/~1profiles
  /profiles/{profileId}:
    $ref: ./paths/profiles-{profileId}.yaml#/paths/~1profiles~1{profileId}
  /profiles/{profileId}/avatar:
    $ref: ./paths/profiles-{profileId}-avatar.yaml#/paths/~1profiles~1{profileId}~1avatar
  /profiles/{profileId}/privacy:
    $ref: ./paths/profiles-{profileId}-privacy.yaml#/paths/~1profiles~1{profileId}~1privacy
  /profiles/search:
    $ref: ./paths/profiles-search.yaml#/paths/~1profiles~1search
  /profiles/{profileId}/statistics:
    $ref: ./paths/profiles-{profileId}-statistics.yaml#/paths/~1profiles~1{profileId}~1statistics
components:
  schemas:
    UserProfile:
      $ref: ./schemas/user-profile-service-schemas.yaml#/components/schemas/UserProfile
    PublicProfileSummary:
      $ref: ./schemas/user-profile-service-schemas.yaml#/components/schemas/PublicProfileSummary
    ProfileCustomization:
      $ref: ./schemas/user-profile-service-schemas.yaml#/components/schemas/ProfileCustomization
    ProfileStatistics:
      $ref: ./schemas/user-profile-service-schemas.yaml#/components/schemas/ProfileStatistics
    PrivacySettings:
      $ref: ./schemas/user-profile-service-schemas.yaml#/components/schemas/PrivacySettings
    CreateProfileRequest:
      $ref: ./schemas/user-profile-service-schemas.yaml#/components/schemas/CreateProfileRequest
    UpdateProfileRequest:
      $ref: ./schemas/user-profile-service-schemas.yaml#/components/schemas/UpdateProfileRequest
    UpdatePrivacyRequest:
      $ref: ./schemas/user-profile-service-schemas.yaml#/components/schemas/UpdatePrivacyRequest
  responses:
    OK:
      $ref: ./schemas/user-profile-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/user-profile-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/user-profile-service-responses.yaml#/components/responses/Updated
    Deleted:
      $ref: ./schemas/user-profile-service-responses.yaml#/components/responses/Deleted
    BadRequest:
      $ref: ./schemas/user-profile-service-responses.yaml#/components/responses/BadRequest
    NotFound:
      $ref: ./schemas/user-profile-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/user-profile-service-responses.yaml#/components/responses/Conflict
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
