---
**api-readiness:** ready
**api-readiness-check-date:** 2025-11-08 12:20
**api-readiness-notes:** Production URL и x-microservice обновлены под актуальную микросервисную архитектуру
---

openapi: 3.0.3
info:
  title: Romance Events API
  description: |
    API для системы романтических событий - модульная система создания динамических 
    романтических отношений с любым NPC через комбинирование 1550+ событий.
  version: 1.0.0
  contact:
    name: NECPGAME Romance System
    url: https://github.com/gc-lover/BRAIN
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice

servers:
  - url: https://api.necp.game/v1/social
    description: Production via API Gateway
  - url: http://localhost:8080/api/v1/social
    description: Development via API Gateway

tags:
  - name: Events
    description: Управление романтическими событиями
  - name: Relationships
    description: Управление отношениями с NPC
  - name: Chemistry
    description: Расчёт совместимости
  - name: Triggers
    description: Система триггеров событий
  - name: Memory
    description: История отношений
  - name: Cultural
    description: Культурная адаптация

paths:
  /romance/events:
    get:
      summary: Получить доступные романтические события
      tags: [Events]
      parameters:
        - name: relationship
          in: query
          description: Текущий уровень отношений (0-100)
          schema:
            type: integer
            minimum: 0
            maximum: 100
        - name: category
          in: query
          description: Категория события
          schema:
            type: string
            enum: [meeting, friendship, flirting, dating, intimacy, conflict, reconciliation, commitment, crisis, regional]
        - name: region
          in: query
          description: Регион для региональных событий
          schema:
            type: string
            enum: [asia, europe, america, cis, africa, middle-east, oceania]
        - name: city
          in: query
          description: Конкретный город
          schema:
            type: string
        - name: npcId
          in: query
          required: true
          description: ID NPC для фильтрации доступных событий
          schema:
            type: string
        - name: playerId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Список доступных событий
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/RomanceEvent'
                  recommended:
                    type: array
                    description: Рекомендованные события на основе AI
                    items:
                      $ref: '#/components/schemas/RomanceEvent'
                  count:
                    type: integer

  /romance/events/{eventId}:
    get:
      summary: Получить детали события
      tags: [Events]
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Детали события
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RomanceEventDetailed'

  /romance/trigger:
    post:
      summary: Триггер романтического события
      tags: [Events]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [playerId, npcId, eventId]
              properties:
                playerId:
                  type: string
                npcId:
                  type: string
                eventId:
                  type: string
                location:
                  type: string
                context:
                  type: object
                  description: Дополнительный контекст события
      responses:
        '200':
          description: Событие триггернуто успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventOutcome'
        '400':
          description: Событие недоступно (не выполнены условия)

  /romance/choice:
    post:
      summary: Сделать выбор в событии
      tags: [Events]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [playerId, npcId, eventId, choiceId]
              properties:
                playerId:
                  type: string
                npcId:
                  type: string
                eventId:
                  type: string
                choiceId:
                  type: string
                skillCheckRoll:
                  type: integer
                  description: Результат броска d20 (если skill check)
      responses:
        '200':
          description: Выбор обработан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChoiceOutcome'

  /romance/relationship/{npcId}:
    get:
      summary: Получить статус отношений с NPC
      tags: [Relationships]
      parameters:
        - name: npcId
          in: path
          required: true
          schema:
            type: string
        - name: playerId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Статус отношений
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipStatus'

  /romance/chemistry/calculate:
    post:
      summary: Рассчитать chemistry между игроком и NPC
      tags: [Chemistry]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [playerId, npcId]
              properties:
                playerId:
                  type: string
                npcId:
                  type: string
      responses:
        '200':
          description: Chemistry score рассчитан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChemistryResult'

  /romance/generate-arc:
    post:
      summary: Сгенерировать романтическую арку для NPC
      tags: [Events]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [playerId, npcId]
              properties:
                playerId:
                  type: string
                npcId:
                  type: string
                region:
                  type: string
                  description: Предпочтительный регион для событий
                preferences:
                  type: object
                  description: Предпочтения игрока (темп, стиль и т.д.)
      responses:
        '200':
          description: Сгенерированная романтическая арка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RomanceArc'

  /romance/history/{npcId}:
    get:
      summary: История отношений с NPC
      tags: [Memory]
      parameters:
        - name: npcId
          in: path
          required: true
          schema:
            type: string
        - name: playerId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: История событий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipHistory'

  /romance/npcs/available:
    get:
      summary: Получить список доступных NPC для романсов
      tags: [Relationships]
      parameters:
        - name: playerId
          in: query
          required: true
          schema:
            type: string
        - name: region
          in: query
          schema:
            type: string
        - name: sexualOrientation
          in: query
          description: Фильтр по сексуальной ориентации
          schema:
            type: string
            enum: [any, heterosexual, homosexual, bisexual]
      responses:
        '200':
          description: Список доступных NPC
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RomanceableNPC'

  /romance/cultural/adapt:
    post:
      summary: Адаптировать событие под культуру
      tags: [Cultural]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [eventId, culture, region]
              properties:
                eventId:
                  type: string
                culture:
                  type: string
                region:
                  type: string
      responses:
        '200':
          description: Адаптированное событие
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CulturallyAdaptedEvent'

components:
  schemas:
    RomanceEvent:
      type: object
      required: [eventId, category, name, relationshipRange, triggers]
      properties:
        eventId:
          type: string
          example: "RE-001"
        category:
          type: string
          enum: [meeting, friendship, flirting, dating, intimacy, conflict, reconciliation, commitment, crisis, regional]
        name:
          type: string
          example: "Случайная встреча в баре"
        description:
          type: string
        relationshipRange:
          type: array
          items:
            type: integer
          minItems: 2
          maxItems: 2
          example: [0, 10]
        triggers:
          $ref: '#/components/schemas/EventTriggers'
        skillCheck:
          $ref: '#/components/schemas/SkillCheck'
        choices:
          type: array
          items:
            $ref: '#/components/schemas/EventChoice'
        culturalTags:
          type: array
          items:
            type: string
          example: ["traditional", "romantic", "public"]
        region:
          type: string
          example: "asia"
        city:
          type: string
          example: "tokyo"
        country:
          type: string
          example: "japan"

    RomanceEventDetailed:
      allOf:
        - $ref: '#/components/schemas/RomanceEvent'
        - type: object
          properties:
            dialogue:
              type: object
              properties:
                npc:
                  type: string
                text:
                  type: string
                responses:
                  type: array
                  items:
                    type: object
            outcomes:
              type: object
              properties:
                success:
                  $ref: '#/components/schemas/EventOutcome'
                failure:
                  $ref: '#/components/schemas/EventOutcome'
                criticalSuccess:
                  $ref: '#/components/schemas/EventOutcome'
                criticalFailure:
                  $ref: '#/components/schemas/EventOutcome'
            culturalNotes:
              type: string
              description: Культурный контекст события
            nextEventSuggestions:
              type: array
              items:
                type: string
              description: Рекомендуемые следующие события

    EventTriggers:
      type: object
      properties:
        locations:
          type: array
          items:
            type: string
          example: ["bar", "club", "cafe"]
        time:
          type: array
          items:
            type: string
          example: ["evening", "night"]
        season:
          type: string
          enum: [spring, summer, autumn, winter, any]
        weather:
          type: string
        relationship:
          type: integer
          description: Минимальный уровень отношений
        chemistry:
          type: integer
          description: Минимальный chemistry score
        questActive:
          type: string
          description: Требуется активный квест
        randomChance:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Вероятность random encounter

    SkillCheck:
      type: object
      properties:
        type:
          type: string
          enum: [Charisma, Social, Empathy, Romantic, Combat, Hacking, Culture, Dancing, Culinary, Physical, WILL, Intelligence]
        dc:
          type: integer
          minimum: 10
          maximum: 40
        skill:
          type: string
        attribute:
          type: string
        formula:
          type: string
          example: "d20 + floor((COOL-10)/2) + Charisma + modifiers"
        modifiers:
          type: object
          properties:
            class:
              type: object
              description: Модификаторы по классам
            culture:
              type: object
              description: Культурные модификаторы
            reputation:
              type: object
            items:
              type: object

    EventChoice:
      type: object
      required: [choiceId, text]
      properties:
        choiceId:
          type: string
        text:
          type: string
          example: "Подойти и заговорить"
        skillCheck:
          $ref: '#/components/schemas/SkillCheck'
        cost:
          type: integer
          description: Стоимость выбора (например, gifts)
        nextNode:
          type: integer
          description: Следующий узел диалога
        flags:
          type: object
          properties:
            set:
              type: array
              items:
                type: string
            requires:
              type: array
              items:
                type: string

    EventOutcome:
      type: object
      properties:
        relationship:
          type: integer
          description: Изменение relationship score
        chemistry:
          type: integer
          description: Изменение chemistry score
        trust:
          type: integer
        physicalIntimacy:
          type: integer
        emotionalIntimacy:
          type: integer
        flags:
          type: array
          items:
            type: string
          description: Флаги для отслеживания прогресса
        nextEvents:
          type: array
          items:
            type: string
          description: Разблокированные следующие события
        dialogue:
          type: string
        rewards:
          type: object
          properties:
            items:
              type: array
              items:
                type: string
            money:
              type: integer
            experience:
              type: integer
        achievements:
          type: array
          items:
            type: string

    ChoiceOutcome:
      type: object
      properties:
        success:
          type: boolean
        rollResult:
          type: integer
          description: Результат броска d20
        dcRequired:
          type: integer
        outcome:
          $ref: '#/components/schemas/EventOutcome'
        dialogue:
          type: object
        nextEventId:
          type: string

    RelationshipStatus:
      type: object
      properties:
        npcId:
          type: string
        playerId:
          type: string
        relationshipScore:
          type: integer
          minimum: 0
          maximum: 100
        relationshipStage:
          type: string
          enum: [stranger, acquaintance, friend, close_friend, romantic_interest, dating, committed, engaged, married]
        chemistry:
          type: integer
          minimum: 0
          maximum: 100
        trust:
          type: integer
          minimum: 0
          maximum: 100
        physicalIntimacy:
          type: integer
          minimum: 0
          maximum: 100
        emotionalIntimacy:
          type: integer
          minimum: 0
          maximum: 100
        domesticIntimacy:
          type: integer
          minimum: 0
          maximum: 100
        completedEvents:
          type: array
          items:
            type: string
        currentEvent:
          type: string
        flags:
          type: array
          items:
            type: string
        conflictsUnresolved:
          type: integer
        lastInteraction:
          type: string
          format: date-time
        relationshipHealth:
          type: integer
          description: HP отношений (0-100)
        breakupRisk:
          type: number
          format: float
          description: Риск разрыва (0-1)

    ChemistryResult:
      type: object
      properties:
        chemistryScore:
          type: integer
          minimum: 0
          maximum: 100
        components:
          type: object
          properties:
            personalityMatch:
              type: integer
              description: Совместимость личностей (0-100)
            sharedInterests:
              type: integer
              description: Общие интересы (0-100)
            physicalAttraction:
              type: integer
              description: Физическое влечение (0-100)
            culturalCompatibility:
              type: integer
              description: Культурная совместимость (0-100)
        breakdown:
          type: object
          properties:
            personalityMatchWeight:
              type: number
              example: 0.4
            sharedInterestsWeight:
              type: number
              example: 0.3
            physicalAttractionWeight:
              type: number
              example: 0.2
            culturalCompatibilityWeight:
              type: number
              example: 0.1
        compatibility:
          type: string
          enum: [very_low, low, moderate, high, very_high]
        recommendations:
          type: array
          items:
            type: string
          description: Рекомендации для улучшения chemistry

    RomanceArc:
      type: object
      properties:
        arcId:
          type: string
        playerId:
          type: string
        npcId:
          type: string
        events:
          type: array
          items:
            type: object
            properties:
              eventId:
                type: string
              stage:
                type: string
              estimatedRelationship:
                type: integer
              order:
                type: integer
        totalEvents:
          type: integer
        estimatedDuration:
          type: string
          description: Примерная длительность арки (в игровых часах)
        culturalTheme:
          type: string
        conflicts:
          type: array
          description: Запланированные конфликты для драмы
          items:
            type: object
        endGoal:
          type: string
          enum: [dating, committed, engaged, married, friendship, undefined]

    RelationshipHistory:
      type: object
      properties:
        npcId:
          type: string
        playerId:
          type: string
        events:
          type: array
          items:
            type: object
            properties:
              eventId:
                type: string
              timestamp:
                type: string
                format: date-time
              location:
                type: string
              choicesMade:
                type: array
                items:
                  type: string
              outcome:
                type: string
                enum: [success, failure, critical_success, critical_failure]
              relationshipBefore:
                type: integer
              relationshipAfter:
                type: integer
              notes:
                type: string
        milestones:
          type: array
          items:
            type: object
            properties:
              milestone:
                type: string
                example: "First kiss"
              timestamp:
                type: string
                format: date-time
              eventId:
                type: string
        conflicts:
          type: array
          items:
            type: object
            properties:
              conflictId:
                type: string
              type:
                type: string
              resolved:
                type: boolean
              resolution:
                type: string
        significantChoices:
          type: array
          description: Важные выборы, которые повлияли на отношения
          items:
            type: object

    RomanceableNPC:
      type: object
      properties:
        npcId:
          type: string
        name:
          type: string
        age:
          type: integer
        gender:
          type: string
          enum: [male, female, non_binary]
        sexualOrientation:
          type: string
          enum: [heterosexual, homosexual, bisexual, pansexual, asexual]
        culture:
          type: string
          example: "japanese"
        region:
          type: string
          example: "asia"
        city:
          type: string
          example: "tokyo"
        personality:
          $ref: '#/components/schemas/NPCPersonality'
        occupation:
          type: string
        faction:
          type: string
        interests:
          type: array
          items:
            type: string
        romanceAvailable:
          type: boolean
        currentRelationship:
          type: integer
        currentChemistry:
          type: integer
        companionPerk:
          type: object
          description: Бонусы если стал партнёром
          properties:
            name:
              type: string
            bonuses:
              type: object

    NPCPersonality:
      type: object
      description: Личностные характеристики NPC (Big Five + дополнительно)
      properties:
        openness:
          type: integer
          minimum: 0
          maximum: 100
        conscientiousness:
          type: integer
          minimum: 0
          maximum: 100
        extraversion:
          type: integer
          minimum: 0
          maximum: 100
        agreeableness:
          type: integer
          minimum: 0
          maximum: 100
        neuroticism:
          type: integer
          minimum: 0
          maximum: 100
        romanticism:
          type: integer
          minimum: 0
          maximum: 100
          description: Склонность к романтике
        jealousy:
          type: integer
          minimum: 0
          maximum: 100
          description: Склонность к ревности
        commitment:
          type: integer
          minimum: 0
          maximum: 100
          description: Готовность к серьёзным отношениям
        passionateness:
          type: integer
          minimum: 0
          maximum: 100
        traditionalism:
          type: integer
          minimum: 0
          maximum: 100
        familyOriented:
          type: integer
          minimum: 0
          maximum: 100

    CulturallyAdaptedEvent:
      allOf:
        - $ref: '#/components/schemas/RomanceEvent'
        - type: object
          properties:
            culturalModifiers:
              type: object
              properties:
                dcModifier:
                  type: integer
                  description: Модификатор DC для культуры
                relationshipModifier:
                  type: integer
                publicDisplayAllowed:
                  type: boolean
                  description: Разрешены ли публичные проявления чувств
                familyApprovalRequired:
                  type: boolean
                languageBonus:
                  type: object
                  description: Бонусы за знание языка
            adaptedDialogue:
              type: string
              description: Диалог адаптированный под культуру
            culturalWarnings:
              type: array
              items:
                type: string
              description: Предупреждения о культурных табу

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

