openapi: 3.0.3
info:
  title: Weapon Elemental Effects Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Weapon Elemental Effects API for NECPGAME**

    This API manages weapon elemental effects, damage calculations, and visual effects
    in the Night City universe, providing comprehensive elemental system management,
    real-time effect processing, and performance-optimized damage calculations.

    ## Key Features

    - **Elemental Effects**: Real-time processing of fire, ice, electric, poison effects
    - **Damage Calculation**: Advanced damage formulas with elemental interactions
    - **Visual Effects**: Particle systems and visual effect management - **Effect
    Stacking**: Complex effect combinations and synergies - **Performance Optimized**:
    MMOFPS-grade performance with <12ms P99 latency - **Struct Alignment**: 40-60%
    memory savings for effect structs

    ## Domain Purpose

    The Weapon Elemental Effects domain handles all elemental weapon mechanics in
    Night City. Players equip weapons with elemental effects that define their combat
    style and tactical capabilities in dynamic gameplay scenarios.

    ## Performance Targets

    - P99 Latency: <12ms for elemental operations - Memory: <8KB per active elemental
    effect session - Concurrent users: 50,000+ simultaneous effect calculations -
    Update frequency: 2000+ effect updates per second

    '
  version: 1.0.0
  license:
    name: Proprietary
    url: https://necpgame.com/license
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@weapon-effects.necpgame.com
servers:
- url: https://api.necpgame.com/v1/weapon-effects
  description: Production server
- url: https://staging-api.necpgame.com/v1/weapon-effects
  description: Staging server
- url: http://localhost:8080/api/v1/weapon-effects
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Elemental Effects
  description: Core elemental effect operations
- name: Effect Management
  description: Effect lifecycle and configuration
- name: Damage Calculation
  description: Elemental damage computation
- name: Visual Effects
  description: Particle and visual effect systems
- name: Effect Synergies
  description: Effect combinations and interactions
- name: Anti-Cheat
  description: Effect validation and cheat prevention
- name: AI Training
  description: AI-powered effect learning and adaptation
- name: AI Recommendations
  description: Personalized effect recommendations
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /effects:
    $ref: ./paths/effects.yaml#/paths/~1effects
  /effects/{effect_id}:
    $ref: ./paths/effects-{effect_id}.yaml#/paths/~1effects~1{effect_id}
  /effects/{effect_id}/apply:
    $ref: ./paths/effects-{effect_id}-apply.yaml#/paths/~1effects~1{effect_id}~1apply
  /effects/{effect_id}/remove:
    $ref: ./paths/effects-{effect_id}-remove.yaml#/paths/~1effects~1{effect_id}~1remove
  /effects/calculate/damage:
    $ref: ./paths/effects-calculate-damage.yaml#/paths/~1effects~1calculate~1damage
  /effects/calculate/synergies:
    $ref: ./paths/effects-calculate-synergies.yaml#/paths/~1effects~1calculate~1synergies
  /effects/validate:
    $ref: ./paths/effects-validate.yaml#/paths/~1effects~1validate
  /effects/visual/config:
    $ref: ./paths/effects-visual-config.yaml#/paths/~1effects~1visual~1config
  /effects/batch/calculate:
    $ref: ./paths/effects-batch-calculate.yaml#/paths/~1effects~1batch~1calculate
  /effects/analytics/summary:
    $ref: ./paths/effects-analytics-summary.yaml#/paths/~1effects~1analytics~1summary
  /effects/adaptive/train:
    $ref: ./paths/effects-adaptive-train.yaml#/paths/~1effects~1adaptive~1train
  /effects/adaptive/recommend:
    $ref: ./paths/effects-adaptive-recommend.yaml#/paths/~1effects~1adaptive~1recommend
components:
  schemas:
    Error:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/Error
    ElementalEffect:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/ElementalEffect
    VisualEffectConfig:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/VisualEffectConfig
    EffectSynergy:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/EffectSynergy
    CreateEffectRequest:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/CreateEffectRequest
    UpdateEffectRequest:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/UpdateEffectRequest
    EffectResponse:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/EffectResponse
    ListEffectsResponse:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/ListEffectsResponse
    ApplyEffectRequest:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/ApplyEffectRequest
    ApplyEffectResponse:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/ApplyEffectResponse
    RemoveEffectRequest:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/RemoveEffectRequest
    RemoveEffectResponse:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/RemoveEffectResponse
    WeaponEffectConfig:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/WeaponEffectConfig
    CalculateDamageRequest:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/CalculateDamageRequest
    CalculateDamageResponse:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/CalculateDamageResponse
    CalculateSynergiesRequest:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/CalculateSynergiesRequest
    CalculateSynergiesResponse:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/CalculateSynergiesResponse
    ValidateEffectRequest:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/ValidateEffectRequest
    ValidateEffectResponse:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/ValidateEffectResponse
    ConfigureVisualRequest:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/ConfigureVisualRequest
    ConfigureVisualResponse:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/ConfigureVisualResponse
    BatchCalculateRequest:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/BatchCalculateRequest
    BatchCalculateResponse:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/BatchCalculateResponse
    EffectsAnalyticsResponse:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/EffectsAnalyticsResponse
    EffectTrainingData:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/EffectTrainingData
    TrainingResponse:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/TrainingResponse
    EffectRecommendations:
      $ref: ./schemas/weapon-elemental-effects-service-schemas.yaml#/components/schemas/EffectRecommendations
  responses:
    OK:
      $ref: ./schemas/weapon-elemental-effects-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/weapon-elemental-effects-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/weapon-elemental-effects-service-responses.yaml#/components/responses/Updated
    Deleted:
      $ref: ./schemas/weapon-elemental-effects-service-responses.yaml#/components/responses/Deleted
    BadRequest:
      $ref: ./schemas/weapon-elemental-effects-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/weapon-elemental-effects-service-responses.yaml#/components/responses/Unauthorized
    NotFound:
      $ref: ./schemas/weapon-elemental-effects-service-responses.yaml#/components/responses/NotFound
    TooManyRequests:
      $ref: ./schemas/weapon-elemental-effects-service-responses.yaml#/components/responses/TooManyRequests
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT Bearer token authentication
    AdminAuth:
      type: http
      scheme: bearer
      description: Admin JWT Bearer token authentication
