openapi: "3.0.3"

info:
  title: "Leaderboard Service API"
  description: |
    Enterprise-grade Ranking & Statistics System для NECPGAME платформы.

    ## 🎯 **Leaderboard Service Overview**

    Leaderboard Service предоставляет комплексную систему рейтингов и таблиц лидеров для платформы NECPGAME с enterprise-grade производительностью и масштабируемостью.

    ### **Ключевые Возможности**
    - **Dynamic Rankings**: Динамические рейтинги игроков
    - **Multiple Categories**: Множественные категории рейтингов
    - **Time-based Leaderboards**: Временные таблицы лидеров
    - **Seasonal Events**: Сезонные события и турниры

    ### **Типы Рейтингов**
    - **Combat Ratings**: Боевые рейтинги
    - **Achievement Scores**: Рейтинги достижений
    - **Economic Rankings**: Экономические рейтинги
    - **Social Influence**: Социальное влияние

    ### **Расширенные Возможности**
    - **Real-time Updates**: Обновления в реальном времени
    - **Historical Tracking**: Исторический трекинг
    - **Reward Distribution**: Распределение наград
    - **Anti-cheat Measures**: Защита от читов

    ## 📊 **Performance Targets**
    - **P99 Latency**: <25ms для операций с рейтингами
    - **Throughput**: 40,000+ ranking operations/second
    - **Concurrent Players**: 500,000+ активных игроков
    - **Memory per Leaderboard**: <5MB для топ-1000 игроков

    ## 🔐 **Security**
    - JWT RS256 аутентификация
    - Rate limiting для предотвращения спама
    - Input validation и sanitization
    - Audit logging всех операций

  version: "1.0.0"
  contact:
    name: "NECPGAME Platform Team"
    email: "platform@necpgame.com"
  license:
    name: "Proprietary"
    url: "https://necpgame.com/license"

servers:
  - url: "https://leaderboard.necpgame.com/api/v1"
    description: "Production Environment"
  - url: "https://leaderboard-staging.necpgame.com/api/v1"
    description: "Staging Environment"
  - url: "http://localhost:8080/api/v1"
    description: "Local Development"

security:
  - BearerAuth: []

tags:
  - name: "Leaderboard Management"
    description: "Управление таблицами лидеров"
  - name: "Ranking Operations"
    description: "Операции с рейтингами"
  - name: "Seasonal Events"
    description: "Сезонные события"
  - name: "Statistics"
    description: "Статистика и аналитика"
  - name: "Rewards"
    description: "Награды за рейтинги"
  - name: "Health"
    description: "Мониторинг здоровья сервиса"

paths:
  /health:
    get:
      summary: "Проверка здоровья сервиса"
      operationId: "healthCheck"
      tags: ["Health"]
      responses:
        "200":
          description: "Сервис работает корректно"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: "Сервис недоступен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /health/batch:
    post:
      summary: "Пакетная проверка здоровья"
      operationId: "healthBatchCheck"
      tags: ["Health"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthBatchRequest"
      responses:
        "200":
          description: "Результаты проверки здоровья"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthBatchResponse"
        "400":
          description: "Некорректный запрос"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /health/ws:
    get:
      summary: "WebSocket проверка здоровья"
      operationId: "healthWebSocketCheck"
      tags: ["Health"]
      responses:
        "101":
          description: "WebSocket соединение установлено"
        "503":
          description: "WebSocket недоступен"

  /leaderboards:
    post:
      summary: "Создание таблицы лидеров"
      operationId: "createLeaderboard"
      tags: ["Leaderboard Management"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLeaderboardRequest"
      responses:
        "201":
          description: "Таблица лидеров создана"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardResponse"
        "400":
          description: "Некорректные данные"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: "Недостаточно прав"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      summary: "Получение списка таблиц лидеров"
      operationId: "getLeaderboards"
      tags: ["Leaderboard Management"]
      parameters:
        - name: "category"
          in: "query"
          schema:
            type: string
            enum: ["combat", "achievement", "economic", "social", "seasonal"]
        - name: "active"
          in: "query"
          schema:
            type: boolean
            default: true
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
      responses:
        "200":
          description: "Список таблиц лидеров"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardListResponse"

  /leaderboards/{leaderboardId}:
    get:
      summary: "Получение таблицы лидеров по ID"
      operationId: "getLeaderboard"
      tags: ["Leaderboard Management"]
      parameters:
        - name: "leaderboardId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "Таблица лидеров найдена"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardResponse"
        "404":
          description: "Таблица лидеров не найдена"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      summary: "Обновление таблицы лидеров"
      operationId: "updateLeaderboard"
      tags: ["Leaderboard Management"]
      parameters:
        - name: "leaderboardId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateLeaderboardRequest"
      responses:
        "200":
          description: "Таблица лидеров обновлена"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardResponse"
        "403":
          description: "Недостаточно прав"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "Таблица лидеров не найдена"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /leaderboards/{leaderboardId}/ranking:
    get:
      summary: "Получение рейтинга таблицы лидеров"
      operationId: "getLeaderboardRanking"
      tags: ["Ranking Operations"]
      parameters:
        - name: "leaderboardId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
        - name: "aroundPlayer"
          in: "query"
          schema:
            type: string
            format: "uuid"
            description: "Показать рейтинг вокруг указанного игрока"
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 50
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
      responses:
        "200":
          description: "Рейтинг таблицы лидеров"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardRankingResponse"

  /players/{playerId}/rank:
    get:
      summary: "Ранг игрока во всех таблицах"
      operationId: "getPlayerRanks"
      tags: ["Ranking Operations"]
      parameters:
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
        - name: "category"
          in: "query"
          schema:
            type: string
            enum: ["combat", "achievement", "economic", "social", "all"]
            default: "all"
      responses:
        "200":
          description: "Ранги игрока"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerRanksResponse"

  /leaderboards/{leaderboardId}/rank/{playerId}:
    get:
      summary: "Ранг игрока в конкретной таблице"
      operationId: "getPlayerRank"
      tags: ["Ranking Operations"]
      parameters:
        - name: "leaderboardId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "Ранг игрока"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerRankResponse"

  /leaderboards/update:
    post:
      summary: "Обновление рейтинга игрока"
      operationId: "updatePlayerRank"
      tags: ["Ranking Operations"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRankRequest"
      responses:
        "200":
          description: "Рейтинг обновлен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateRankResponse"
        "400":
          description: "Некорректные данные"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /leaderboards/batch-update:
    post:
      summary: "Пакетное обновление рейтингов"
      operationId: "batchUpdateRanks"
      tags: ["Ranking Operations"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchUpdateRanksRequest"
      responses:
        "200":
          description: "Рейтинги обновлены"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchUpdateRanksResponse"

  /leaderboards/seasonal:
    get:
      summary: "Сезонные таблицы лидеров"
      operationId: "getSeasonalLeaderboards"
      tags: ["Seasonal Events"]
      parameters:
        - name: "season"
          in: "query"
          schema:
            type: string
            description: "ID сезона"
        - name: "active"
          in: "query"
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: "Сезонные таблицы лидеров"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SeasonalLeaderboardsResponse"

    post:
      summary: "Создание сезонной таблицы лидеров"
      operationId: "createSeasonalLeaderboard"
      tags: ["Seasonal Events"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSeasonalLeaderboardRequest"
      responses:
        "201":
          description: "Сезонная таблица создана"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardResponse"

  /leaderboards/{leaderboardId}/rewards:
    get:
      summary: "Награды за позиции в таблице"
      operationId: "getLeaderboardRewards"
      tags: ["Rewards"]
      parameters:
        - name: "leaderboardId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "Награды за позиции"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardRewardsResponse"

    post:
      summary: "Установка наград за позиции"
      operationId: "setLeaderboardRewards"
      tags: ["Rewards"]
      parameters:
        - name: "leaderboardId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetRewardsRequest"
      responses:
        "200":
          description: "Награды установлены"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardRewardsResponse"

  /leaderboards/{leaderboardId}/rewards/claim:
    post:
      summary: "Получение наград за позицию"
      operationId: "claimLeaderboardRewards"
      tags: ["Rewards"]
      parameters:
        - name: "leaderboardId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClaimRewardsRequest"
      responses:
        "200":
          description: "Награды получены"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClaimRewardsResponse"
        "400":
          description: "Награды уже получены или недоступны"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /leaderboards/analytics/summary:
    get:
      summary: "Аналитика таблиц лидеров"
      operationId: "getLeaderboardAnalytics"
      tags: ["Statistics"]
      parameters:
        - name: "period"
          in: "query"
          schema:
            type: "string"
            enum: ["daily", "weekly", "monthly", "seasonal"]
            default: "weekly"
        - name: "leaderboardId"
          in: "query"
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "Аналитика рейтингов"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardAnalyticsResponse"

  /leaderboards/{leaderboardId}/statistics:
    get:
      summary: "Статистика конкретной таблицы лидеров"
      operationId: "getLeaderboardStatistics"
      tags: ["Statistics"]
      parameters:
        - name: "leaderboardId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
        - name: "period"
          in: "query"
          schema:
            type: "string"
            enum: ["daily", "weekly", "monthly", "alltime"]
            default: "alltime"
      responses:
        "200":
          description: "Статистика таблицы лидеров"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaderboardStatisticsResponse"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Common inherited entities
    CharacterEntity:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/CharacterEntity"
    BaseEntity:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/BaseEntity"
    OptimisticLock:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/OptimisticLock"
    ErrorResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse"
    HealthResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthResponse"
    HealthBatchRequest:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthBatchRequest"
    HealthBatchResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthBatchResponse"

    # Leaderboard specific schemas
    LeaderboardEntity:
      type: object
      description: "Сущность таблицы лидеров"
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - name
            - category
            - scoringType
            - maxEntries
          properties:
            name:
              type: string
              description: "Название таблицы лидеров"
              maxLength: 100
              example: "Global Combat Rating"
            description:
              type: string
              description: "Описание таблицы лидеров"
              maxLength: 500
            category:
              type: string
              description: "Категория рейтинга"
              enum: ["combat", "achievement", "economic", "social", "seasonal"]
              example: "combat"
            scoringType:
              type: string
              description: "Тип подсчета очков"
              enum: ["points", "wins", "ratio", "time", "custom"]
              example: "points"
            maxEntries:
              type: integer
              description: "Максимальное количество записей"
              minimum: 10
              maximum: 10000
              example: 1000
            resetPeriod:
              type: string
              description: "Период сброса"
              enum: ["never", "daily", "weekly", "monthly", "seasonal"]
              example: "weekly"
            startDate:
              type: string
              description: "Дата начала"
              format: date-time
            endDate:
              type: string
              description: "Дата окончания"
              format: date-time
            rewards:
              type: array
              description: "Награды за позиции"
              items:
                $ref: "#/components/schemas/LeaderboardRewardEntity"
            rules:
              type: object
              description: "Правила рейтинга"
              properties:
                minGames:
                  type: integer
                  description: "Минимальное количество игр"
                  minimum: 0
                  default: 0
                antiCheatEnabled:
                  type: boolean
                  description: "Включена защита от читов"
                  default: true
                allowTies:
                  type: boolean
                  description: "Разрешены ничьи"
                  default: false
            isActive:
              type: boolean
              description: "Таблица активна"
              default: true
            lastReset:
              type: string
              description: "Последний сброс"
              format: date-time
            $ref: "#/components/schemas/OptimisticLock"

    LeaderboardRewardEntity:
      type: object
      description: "Сущность награды за позицию"
      required:
        - position
        - rewards
      properties:
        position:
          type: integer
          description: "Позиция в рейтинге"
          minimum: 1
          example: 1
        rewards:
          type: array
          description: "Награды"
          items:
            type: object
            properties:
              type:
                type: string
                enum: ["currency", "item", "title", "cosmetic", "badge"]
                example: "currency"
              amount:
                type: integer
                minimum: 1
                example: 10000
              itemId:
                type: string
                description: "ID предмета"
                format: uuid

    PlayerLeaderboardEntryEntity:
      type: object
      description: "Запись игрока в таблице лидеров"
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - playerId
            - leaderboardId
            - score
            - rank
          properties:
            playerId:
              type: string
              description: "ID игрока"
              format: uuid
              example: "123e4567-e89b-12d3-a456-426614174000"
            leaderboardId:
              type: string
              description: "ID таблицы лидеров"
              format: uuid
              example: "456e7890-e89b-12d3-a456-426614174001"
            score:
              type: number
              description: "Очки игрока"
              example: 15420.5
            rank:
              type: integer
              description: "Текущий ранг"
              minimum: 1
              example: 15
            previousRank:
              type: integer
              description: "Предыдущий ранг"
              minimum: 1
            bestRank:
              type: integer
              description: "Лучший ранг"
              minimum: 1
            gamesPlayed:
              type: integer
              description: "Количество игр"
              minimum: 0
              example: 150
            lastUpdated:
              type: string
              description: "Последнее обновление"
              format: date-time
            rewardsClaimed:
              type: array
              description: "Полученные награды"
              items:
                type: integer
                description: "Позиция награды"
            isDisqualified:
              type: boolean
              description: "Дисквалифицирован"
              default: false
            disqualificationReason:
              type: string
              description: "Причина дисквалификации"
              maxLength: 200
            $ref: "#/components/schemas/OptimisticLock"

    # Request/Response schemas
    CreateLeaderboardRequest:
      type: object
      required:
        - name
        - category
        - scoringType
        - maxEntries
      properties:
        name:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 500
        category:
          type: string
          enum: ["combat", "achievement", "economic", "social", "seasonal"]
        scoringType:
          type: string
          enum: ["points", "wins", "ratio", "time", "custom"]
        maxEntries:
          type: integer
          minimum: 10
          maximum: 10000
        resetPeriod:
          type: string
          enum: ["never", "daily", "weekly", "monthly", "seasonal"]
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        rewards:
          type: array
          items:
            $ref: "#/components/schemas/LeaderboardRewardEntity"
        rules:
          type: object
          properties:
            minGames:
              type: integer
              minimum: 0
            antiCheatEnabled:
              type: boolean
            allowTies:
              type: boolean

    UpdateLeaderboardRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 500
        category:
          type: string
          enum: ["combat", "achievement", "economic", "social", "seasonal"]
        scoringType:
          type: string
          enum: ["points", "wins", "ratio", "time", "custom"]
        maxEntries:
          type: integer
          minimum: 10
          maximum: 10000
        resetPeriod:
          type: string
          enum: ["never", "daily", "weekly", "monthly", "seasonal"]
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        rewards:
          type: array
          items:
            $ref: "#/components/schemas/LeaderboardRewardEntity"
        rules:
          type: object
          properties:
            minGames:
              type: integer
              minimum: 0
            antiCheatEnabled:
              type: boolean
            allowTies:
              type: boolean
        isActive:
          type: boolean

    LeaderboardResponse:
      type: object
      properties:
        leaderboard:
          $ref: "#/components/schemas/LeaderboardEntity"
        metadata:
          type: object
          properties:
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
            totalEntries:
              type: integer
              minimum: 0

    LeaderboardListResponse:
      type: object
      properties:
        leaderboards:
          type: array
          items:
            $ref: "#/components/schemas/LeaderboardEntity"
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 100
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean

    LeaderboardRankingResponse:
      type: object
      properties:
        leaderboardId:
          type: string
          format: uuid
        leaderboardName:
          type: string
        category:
          type: string
        scoringType:
          type: string
        totalEntries:
          type: integer
          minimum: 0
        lastUpdated:
          type: string
          format: date-time
        entries:
          type: array
          items:
            type: object
            properties:
              playerId:
                type: string
                format: uuid
              displayName:
                type: string
              score:
                type: number
              rank:
                type: integer
                minimum: 1
              previousRank:
                type: integer
                minimum: 1
              rankChange:
                type: integer
              lastUpdated:
                type: string
                format: date-time
              isCurrentPlayer:
                type: boolean
                default: false
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 100
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean

    PlayerRanksResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        ranks:
          type: array
          items:
            type: object
            properties:
              leaderboardId:
                type: string
                format: uuid
              leaderboardName:
                type: string
              category:
                type: string
              rank:
                type: integer
                minimum: 1
              score:
                type: number
              totalEntries:
                type: integer
                minimum: 0
              percentile:
                type: number
                minimum: 0
                maximum: 100
              lastUpdated:
                type: string
                format: date-time

    PlayerRankResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        leaderboardId:
          type: string
          format: uuid
        leaderboardName:
          type: string
        rank:
          type: integer
          minimum: 1
        score:
          type: number
        totalEntries:
          type: integer
          minimum: 0
        percentile:
          type: number
          minimum: 0
          maximum: 100
        rankChange:
          type: integer
        bestRank:
          type: integer
          minimum: 1
        lastUpdated:
          type: string
          format: date-time
        rewardsAvailable:
          type: array
          items:
            $ref: "#/components/schemas/LeaderboardRewardEntity"

    UpdateRankRequest:
      type: object
      required:
        - playerId
        - leaderboardId
        - score
      properties:
        playerId:
          type: string
          format: uuid
        leaderboardId:
          type: string
          format: uuid
        score:
          type: number
        metadata:
          type: object
          description: "Дополнительные данные для подсчета"
          additionalProperties: true

    UpdateRankResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        leaderboardId:
          type: string
          format: uuid
        oldRank:
          type: integer
          minimum: 1
        newRank:
          type: integer
          minimum: 1
        oldScore:
          type: number
        newScore:
          type: number
        rankChange:
          type: integer
        updatedAt:
          type: string
          format: date-time

    BatchUpdateRanksRequest:
      type: object
      required:
        - updates
      properties:
        updates:
          type: array
          description: "Массив обновлений рейтингов"
          items:
            $ref: "#/components/schemas/UpdateRankRequest"
          minItems: 1
          maxItems: 100

    BatchUpdateRanksResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/UpdateRankResponse"
        totalProcessed:
          type: integer
          minimum: 0
        errors:
          type: array
          items:
            type: object
            properties:
              playerId:
                type: string
                format: uuid
              leaderboardId:
                type: string
                format: uuid
              error:
                type: string

    SeasonalLeaderboardsResponse:
      type: object
      properties:
        currentSeason:
          type: object
          properties:
            seasonId:
              type: string
            name:
              type: string
            startDate:
              type: string
              format: date-time
            endDate:
              type: string
              format: date-time
            isActive:
              type: boolean
        leaderboards:
          type: array
          items:
            $ref: "#/components/schemas/LeaderboardEntity"

    CreateSeasonalLeaderboardRequest:
      type: object
      required:
        - seasonId
        - leaderboard
      properties:
        seasonId:
          type: string
          description: "ID сезона"
        leaderboard:
          $ref: "#/components/schemas/CreateLeaderboardRequest"

    LeaderboardRewardsResponse:
      type: object
      properties:
        leaderboardId:
          type: string
          format: uuid
        rewards:
          type: array
          items:
            $ref: "#/components/schemas/LeaderboardRewardEntity"

    SetRewardsRequest:
      type: object
      required:
        - rewards
      properties:
        rewards:
          type: array
          items:
            $ref: "#/components/schemas/LeaderboardRewardEntity"
          minItems: 1
          maxItems: 100

    ClaimRewardsRequest:
      type: object
      required:
        - playerId
      properties:
        playerId:
          type: string
          format: uuid

    ClaimRewardsResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        leaderboardId:
          type: string
          format: uuid
        rank:
          type: integer
          minimum: 1
        rewards:
          type: array
          items:
            $ref: "#/components/schemas/LeaderboardRewardEntity"
        claimedAt:
          type: string
          format: date-time

    LeaderboardAnalyticsResponse:
      type: object
      properties:
        period:
          type: string
          enum: ["daily", "weekly", "monthly", "seasonal"]
        totalLeaderboards:
          type: integer
          minimum: 0
        totalEntries:
          type: integer
          minimum: 0
        averageScore:
          type: number
        topCategories:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
              count:
                type: integer
                minimum: 0
              averageScore:
                type: number
        activityTrends:
          type: object
          additionalProperties:
            type: integer
            minimum: 0

    LeaderboardStatisticsResponse:
      type: object
      properties:
        leaderboardId:
          type: string
          format: uuid
        leaderboardName:
          type: string
        period:
          type: string
        totalEntries:
          type: integer
          minimum: 0
        averageScore:
          type: number
        medianScore:
          type: number
        topScore:
          type: number
        scoreDistribution:
          type: object
          properties:
            excellent:
              type: integer
              minimum: 0
              description: "Топ 10%"
            good:
              type: integer
              minimum: 0
              description: "10-25%"
            average:
              type: integer
              minimum: 0
              description: "25-75%"
            below_average:
              type: integer
              minimum: 0
              description: "Ниже среднего"
        rankStability:
          type: number
          minimum: 0
          maximum: 1
          description: "Стабильность рангов (0-1)"
        lastUpdated:
          type: string
          format: date-time