openapi: 3.0.3
info:
  title: Leaderboard Service API
  description: 'Enterprise-grade Ranking & Statistics System  NECPGAME .


    ## 🎯 **Leaderboard Service Overview**


    Leaderboard Service NECPGAME  enterprise-grade   .


    ### ** **

    - **Dynamic Rankings**:

    - **Multiple Categories**:

    - **Time-based Leaderboards**:

    - **Seasonal Events**:


    ### ** **

    - **Combat Ratings**:

    - **Achievement Scores**:

    - **Economic Rankings**:

    - **Social Influence**:


    ### ** **

    - **Real-time Updates**:

    - **Historical Tracking**:

    - **Reward Distribution**:

    - **Anti-cheat Measures**:


    ## 📊 **Performance Targets**

    - **P99 Latency**: <25ms

    - **Throughput**: 40,000+ ranking operations/second

    - **Concurrent Players**: 500,000+

    - **Memory per Leaderboard**: <5MB  -1000


    ## 🔐 **Security**

    - JWT RS256

    - Rate limiting

    - Input validation  sanitization

    - Audit logging

    '
  version: 1.0.0
  contact:
    name: NECPGAME Platform Team
    email: platform@necpgame.com
  license:
    name: Proprietary
    url: https://necpgame.com/license
servers:
- url: https://leaderboard.necpgame.com/api/v1
  description: Production Environment
- url: https://leaderboard-staging.necpgame.com/api/v1
  description: Staging Environment
- url: http://localhost:8080/api/v1
  description: Local Development
security:
- BearerAuth: []
tags:
- name: Leaderboard Management
  description: null
- name: Ranking Operations
  description: null
- name: Seasonal Events
  description: null
- name: Statistics
  description: null
- name: Rewards
  description: null
- name: Health
  description: null
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /leaderboards:
    $ref: ./paths/leaderboards.yaml#/paths/~1leaderboards
  /leaderboards/{leaderboardId}:
    $ref: ./paths/leaderboards-{leaderboardId}.yaml#/paths/~1leaderboards~1{leaderboardId}
  /leaderboards/{leaderboardId}/ranking:
    $ref: ./paths/leaderboards-{leaderboardId}-ranking.yaml#/paths/~1leaderboards~1{leaderboardId}~1ranking
  /players/{playerId}/rank:
    $ref: ./paths/players-{playerId}-rank.yaml#/paths/~1players~1{playerId}~1rank
  /leaderboards/{leaderboardId}/rank/{playerId}:
    $ref: ./paths/leaderboards-{leaderboardId}-rank-{playerId}.yaml#/paths/~1leaderboards~1{leaderboardId}~1rank~1{playerId}
  /leaderboards/update:
    $ref: ./paths/leaderboards-update.yaml#/paths/~1leaderboards~1update
  /leaderboards/batch-update:
    $ref: ./paths/leaderboards-batch-update.yaml#/paths/~1leaderboards~1batch-update
  /leaderboards/seasonal:
    $ref: ./paths/leaderboards-seasonal.yaml#/paths/~1leaderboards~1seasonal
  /leaderboards/{leaderboardId}/rewards:
    $ref: ./paths/leaderboards-{leaderboardId}-rewards.yaml#/paths/~1leaderboards~1{leaderboardId}~1rewards
  /leaderboards/{leaderboardId}/rewards/claim:
    $ref: ./paths/leaderboards-{leaderboardId}-rewards-claim.yaml#/paths/~1leaderboards~1{leaderboardId}~1rewards~1claim
  /leaderboards/analytics/summary:
    $ref: ./paths/leaderboards-analytics-summary.yaml#/paths/~1leaderboards~1analytics~1summary
  /leaderboards/{leaderboardId}/statistics:
    $ref: ./paths/leaderboards-{leaderboardId}-statistics.yaml#/paths/~1leaderboards~1{leaderboardId}~1statistics
components:
  schemas:
    CharacterEntity:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/CharacterEntity
    BaseEntity:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/BaseEntity
    OptimisticLock:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/OptimisticLock
    ErrorResponse:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/ErrorResponse
    HealthResponse:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/HealthResponse
    HealthBatchRequest:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/HealthBatchRequest
    HealthBatchResponse:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/HealthBatchResponse
    LeaderboardEntity:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/LeaderboardEntity
    LeaderboardRewardEntity:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/LeaderboardRewardEntity
    PlayerLeaderboardEntryEntity:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/PlayerLeaderboardEntryEntity
    CreateLeaderboardRequest:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/CreateLeaderboardRequest
    UpdateLeaderboardRequest:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/UpdateLeaderboardRequest
    LeaderboardResponse:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/LeaderboardResponse
    LeaderboardListResponse:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/LeaderboardListResponse
    LeaderboardRankingResponse:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/LeaderboardRankingResponse
    PlayerRanksResponse:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/PlayerRanksResponse
    PlayerRankResponse:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/PlayerRankResponse
    UpdateRankRequest:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/UpdateRankRequest
    UpdateRankResponse:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/UpdateRankResponse
    BatchUpdateRanksRequest:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/BatchUpdateRanksRequest
    BatchUpdateRanksResponse:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/BatchUpdateRanksResponse
    SeasonalLeaderboardsResponse:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/SeasonalLeaderboardsResponse
    CreateSeasonalLeaderboardRequest:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/CreateSeasonalLeaderboardRequest
    LeaderboardRewardsResponse:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/LeaderboardRewardsResponse
    SetRewardsRequest:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/SetRewardsRequest
    ClaimRewardsRequest:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/ClaimRewardsRequest
    ClaimRewardsResponse:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/ClaimRewardsResponse
    LeaderboardAnalyticsResponse:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/LeaderboardAnalyticsResponse
    LeaderboardStatisticsResponse:
      $ref: ./schemas/leaderboard-service-schemas.yaml#/components/schemas/LeaderboardStatisticsResponse
  responses: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
