openapi: 3.0.3
info:
  title: Auction House Orders API
  version: 1.0.0
  description: |
    API для системы ордеров аукцион дома.
    
    Источник: .BRAIN/02-gameplay/economy/economy-auction-house.md v1.0.0
    
    Система ордеров:
    - Buy orders (заявки на покупку по максимальной цене)
    - Sell orders (заявки на продажу по минимальной цене)
    
    Автоматическое исполнение: При создании лота проверяются buy orders, при создании buy order - проверяются лоты
    
    Основной файл: auction-house-core.yaml

  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Auction House Orders
    description: Система ордеров аукциона

paths:
  /gameplay/economy/auction/orders/buy/create:
    post:
      summary: Создать buy order
      description: |
        Создает заявку на покупку предмета по максимальной цене.
        Автоматически исполняется, если есть подходящий лот.
      operationId: createBuyOrder
      tags:
        - Auction House Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - item_id
                - max_price
                - quantity
              properties:
                character_id:
                  type: string
                item_id:
                  type: string
                max_price:
                  type: number
                quantity:
                  type: integer
                expires_in:
                  type: integer
                  description: "Время жизни ордера (часы)"
                  default: 24
            examples:
              buy_order:
                summary: Buy Order на оружие
                value:
                  character_id: "char_123"
                  item_id: "rare_weapon_001"
                  max_price: 5000
                  quantity: 3
                  expires_in: 48
      responses:
        '200':
          description: Buy order создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id:
                    type: string
                  status:
                    type: string
                    enum: [filled, partially_filled, pending]
                  filled_quantity:
                    type: integer
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/economy/auction/orders/sell/create:
    post:
      summary: Создать sell order
      description: |
        Создает заявку на продажу предмета по минимальной цене.
        Автоматически исполняется, если есть подходящий buy order.
      operationId: createSellOrder
      tags:
        - Auction House Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - item_id
                - min_price
                - quantity
              properties:
                character_id:
                  type: string
                item_id:
                  type: string
                min_price:
                  type: number
                quantity:
                  type: integer
                expires_in:
                  type: integer
      responses:
        '200':
          description: Sell order создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id:
                    type: string
                  status:
                    type: string

  /gameplay/economy/auction/orders/{order_id}/cancel:
    post:
      summary: Отменить ордер
      description: Отменяет активный buy или sell order
      operationId: cancelAuctionOrder
      tags:
        - Auction House Orders
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
              properties:
                character_id:
                  type: string
      responses:
        '200':
          description: Ордер отменен
          content:
            application/json:
              schema:
                type: object

components:
  schemas: {}


