openapi: 3.0.3
info:
  title: Relationships API
  version: 1.0.0
  description: |
    API для системы отношений.
    
    Источник: .BRAIN/02-gameplay/social/relationships-system.md v1.2.0
    
    Система отношений с NPC и игроками:
    - Уровни: 0 (Stranger) → 100 (Soulmate)
    - Типы: дружба, вражда, романтика, профессиональные
    - Влияние: репутация, квесты, подарки, действия
    - Последствия: доступ к контенту, уникальные квесты, бонусы

  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/gameplay/social
    package: com.necpgame.socialservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Relationships
    description: Система отношений

paths:
  /gameplay/social/relationships:
    get:
      summary: Получить все отношения персонажа
      description: |
        Возвращает список всех отношений персонажа с NPC и другими игроками.
        Можно фильтровать по типу отношений.
      operationId: getRelationships
      tags:
        - Relationships
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
        - name: relationship_type
          in: query
          required: false
          schema:
            type: string
            enum: [all, friendship, romance, rivalry, professional]
        - name: min_level
          in: query
          required: false
          description: Минимальный уровень отношений
          schema:
            type: number
            minimum: 0
            maximum: 100
      responses:
        '200':
          description: Отношения персонажа
          content:
            application/json:
              schema:
                type: object
                properties:
                  character_id:
                    type: string
                  relationships:
                    type: array
                    items:
                      $ref: '#/components/schemas/Relationship'
              examples:
                character_relationships:
                  summary: Отношения персонажа
                  value:
                    character_id: "char_123"
                    relationships:
                      - relationship_id: "rel_001"
                        target_id: "npc_panam"
                        target_name: "Panam Palmer"
                        target_type: "npc"
                        relationship_type: "romance"
                        level: 75
                        stage: "dating"
                        unlocked_content:
                          - "romance_quest_3"
                          - "special_dialogue_intimate"

  /gameplay/social/relationships/{relationship_id}:
    get:
      summary: Получить детали отношений
      description: Возвращает детальную информацию об отношениях
      operationId: getRelationship
      tags:
        - Relationships
      parameters:
        - name: relationship_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Детали отношений
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipDetails'

  /gameplay/social/relationships/update:
    post:
      summary: Обновить уровень отношений
      description: |
        Обновляет уровень отношений на основе действия.
        Действия: квест вместе, подарок, диалог, помощь, предательство.
      operationId: updateRelationship
      tags:
        - Relationships
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - target_id
                - action_type
              properties:
                character_id:
                  type: string
                target_id:
                  type: string
                action_type:
                  type: string
                  enum: [quest_together, gift, dialogue, help, betrayal, romance_event]
                action_data:
                  type: object
      responses:
        '200':
          description: Отношения обновлены
          content:
            application/json:
              schema:
                type: object
                properties:
                  relationship_id:
                    type: string
                  previous_level:
                    type: number
                  new_level:
                    type: number
                  level_change:
                    type: number
                  stage_changed:
                    type: boolean
                  new_stage:
                    type: string
                  unlocked_content:
                    type: array
                    items:
                      type: string

components:
  schemas:
    Relationship:
      type: object
      properties:
        relationship_id:
          type: string
        character_id:
          type: string
        target_id:
          type: string
        target_name:
          type: string
        target_type:
          type: string
          enum: [npc, player]
        relationship_type:
          type: string
          enum: [friendship, romance, rivalry, professional, family]
        level:
          type: number
          minimum: 0
          maximum: 100
          description: Уровень отношений (0-100)
        stage:
          type: string
          description: Стадия отношений

    RelationshipDetails:
      type: object
      properties:
        relationship_id:
          type: string
        character_id:
          type: string
        target_id:
          type: string
        target_name:
          type: string
        target_type:
          type: string
        relationship_type:
          type: string
        level:
          type: number
        stage:
          type: string
        history:
          type: array
          description: История взаимодействий
          items:
            type: object
        unlocked_content:
          type: array
          description: Разблокированный контент
          items:
            type: string
        active_bonuses:
          type: array
          description: Активные бонусы от отношений
          items:
            type: object

    PriceCalculation:
      type: object
      properties:
        item_id:
          type: string
        base_price:
          type: number
        modifiers:
          type: array
          items:
            type: object
            properties:
              modifier_type:
                type: string
              value:
                type: number
        final_price:
          type: number
