openapi: 3.0.3
info:
  title: Clan War Examples
  version: 1.0.0
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
paths: {}

components:
  examples:
    WarDeclarationRequest:
      summary: Объявление войны с целями и союзниками
      value:
        attackerClanId: clan-neon-dragons
        defenderClanId: clan-iron-saints
        targetTerritories: [territory-nightcity-downtown, territory-blackwall-gate]
        proposedStart: "2025-11-09T20:00:00Z"
        allies: [clan-cyber-ravens]
        payment: { amount: 250000, currency: credits }
        justification: "Серия провокаций и захват наших караванов."
    ClanWarDetail:
      summary: Детали активной войны
      value:
        warId: war-7842
        status: IN_PROGRESS
        attackerClanId: clan-neon-dragons
        defenderClanId: clan-iron-saints
        allies:
          - { clanId: clan-cyber-ravens, role: ally, acceptedAt: "2025-11-08T10:02:00Z", sharedRewardsPercent: 20 }
        timeline:
          - { phase: DECLARATION, startsAt: "2025-11-07T23:05:00Z", endsAt: "2025-11-07T23:05:30Z" }
          - { phase: PREPARATION, startsAt: "2025-11-07T23:05:30Z", endsAt: "2025-11-09T20:00:00Z" }
          - { phase: SIEGE, startsAt: "2025-11-09T20:00:00Z", endsAt: "2025-11-10T01:00:00Z" }
        score: { attacker: 420, defender: 395, territoriesCaptured: 1, objectivesCompleted: 4 }
        casualties: { attacker: 312, defender: 284 }
        activeSieges:
          - { siegeId: siege-993, territoryId: territory-nightcity-downtown, startTime: "2025-11-09T20:00:00Z", durationMinutes: 120, status: IN_PROGRESS }
        economicImpact: 175000
        createdAt: "2025-11-07T23:05:00Z"
    SiegePlanRequest:
      summary: Планирование осады территории
      value:
        territoryId: territory-nightcity-downtown
        startTime: "2025-11-09T20:00:00Z"
        durationMinutes: 120
        objectives: ["Disable shield generators", "Capture control tower"]
        attackerForces: { maxParticipants: 64, requiredGearScore: 780 }
        defenderForces: { reinforcementSlots: 32, turretLevel: 3 }
    WarResolutionRequest:
      summary: Завершение войны с распределением наград
      value:
        outcome: attacker_win
        capturedTerritories: [territory-nightcity-downtown]
        rewardDistribution:
          - { clanId: clan-neon-dragons, reward: { rewardType: currency, amount: 400000 }, sharePercent: 60 }
          - { clanId: clan-cyber-ravens, reward: { rewardType: currency, amount: 400000 }, sharePercent: 40 }
        penalties:
          - { penaltyType: ECONOMIC, value: 200000, durationHours: 0, appliesTo: defender }
          - { penaltyType: COOLDOWN, value: 72, durationHours: 0, appliesTo: defender }
    WarAnalytics:
      summary: Аналитика клановых войн за 30 дней
      value:
        generatedAt: "2025-11-07T23:20:00Z"
        range: 30d
        warsPerWeek: 42.5
        winRate: { attacker: 0.48, defender: 0.46 }
        territoryControl:
          - { territoryId: territory-nightcity-downtown, ownerClanId: clan-neon-dragons, controlPercent: 0.67 }
          - { territoryId: territory-blackwall-gate, ownerClanId: clan-iron-saints, controlPercent: 0.53 }
        economicImpact: 5400000
        topClans:
          - { clanId: clan-neon-dragons, warsWon: 5, warsLost: 1, prestigeGained: 240 }
          - { clanId: clan-iron-saints, warsWon: 3, warsLost: 2, prestigeGained: 110 }
    TerritoryMap:
      summary: Карта территорий региона
      value:
        region: NightCity-Prime
        territories:
          - { territoryId: territory-nightcity-downtown, name: "Night City Downtown", region: "NightCity-Prime", bonuses: ["+10% market revenue", "+5% guard AI"], currentOwner: clan-iron-saints, contestStatus: vulnerable, vulnerabilityWindow: { start: "2025-11-09T18:00:00Z", end: "2025-11-09T22:00:00Z" }, fortifyLevel: 3 }
          - { territoryId: territory-blackwall-gate, name: "Blackwall Gate", region: "NightCity-Prime", bonuses: ["+8% hacking resist"], currentOwner: clan-neon-dragons, contestStatus: stable, vulnerabilityWindow: { start: "2025-11-11T19:00:00Z", end: "2025-11-11T23:00:00Z" }, fortifyLevel: 2 }
    BroadcastRequest:
      summary: Глобальное объявление о войне
      value:
        channel: global_event
        message: "⚔️ Кланы Neon Dragons и Iron Saints вступили в открытую войну за Downtown!"
        attachments: ["territory-nightcity-downtown", "stream://realtime/siege-993"]
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
