openapi: 3.0.3
info:
  title: Support SLA Service API - Enterprise-Grade SLA Monitoring
  description: '**Enterprise-Grade Support SLA Service API for NECPGAME**

    Comprehensive SLA monitoring system for support tickets, ensuring timely responses
    and maintaining service quality standards.

    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation - **Backend
    optimization hints** for struct alignment and performance (30-50% memory savings)
    - **Complete validation** with redocly and ogen code generation - **Security-first
    approach** with JWT authentication and SLA data authorization - **Performance-optimized**
    response structures with field ordering - **Comprehensive error handling** with
    proper HTTP status codes

    ## Domain Purpose

    The Support SLA Service monitors Service Level Agreement compliance for support
    tickets, tracks response times, manages SLA breaches, and provides analytics for
    service quality.

    Critical for maintaining customer satisfaction and operational excellence.

    ## Performance Targets

    - P99 Latency: <50ms for SLA status checks - P99 Latency: <200ms for SLA analytics
    queries - Memory: <15KB per SLA monitoring session - Concurrent users: 2,000+
    simultaneous SLA operations - SLA throughput: 1,000+ SLA checks/minute - Data
    consistency: Event-sourced with CQRS patterns

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/support-sla
  description: Production server
- url: https://staging-api.necpgame.com/v1/support-sla
  description: Staging server
- url: http://localhost:8080
  description: Local development server
security:
- BearerAuth: []
tags:
- name: SLA Monitoring
  description: SLA status monitoring and real-time tracking
- name: SLA Management
  description: SLA configuration and policy management
- name: SLA Analytics
  description: SLA performance analytics and reporting
- name: SLA Alerts
  description: SLA breach alerts and notifications
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /api/v1/sla/tickets/{ticketId}/status:
    $ref: ./paths/api-v1-sla-tickets-{ticketId}-status.yaml#/paths/~1api~1v1~1sla~1tickets~1{ticketId}~1status
  /api/v1/sla/policies:
    $ref: ./paths/api-v1-sla-policies.yaml#/paths/~1api~1v1~1sla~1policies
  /api/v1/sla/analytics/summary:
    $ref: ./paths/api-v1-sla-analytics-summary.yaml#/paths/~1api~1v1~1sla~1analytics~1summary
  /api/v1/sla/alerts/active:
    $ref: ./paths/api-v1-sla-alerts-active.yaml#/paths/~1api~1v1~1sla~1alerts~1active
components:
  schemas:
    HealthResponse:
      $ref: ./schemas/support-sla-service-schemas.yaml#/components/schemas/HealthResponse
    TicketSLAStatus:
      $ref: ./schemas/support-sla-service-schemas.yaml#/components/schemas/TicketSLAStatus
    SLAPoliciesResponse:
      $ref: ./schemas/support-sla-service-schemas.yaml#/components/schemas/SLAPoliciesResponse
    SLAPolicy:
      $ref: ./schemas/support-sla-service-schemas.yaml#/components/schemas/SLAPolicy
    SLAAnalyticsSummary:
      $ref: ./schemas/support-sla-service-schemas.yaml#/components/schemas/SLAAnalyticsSummary
    SLAPriorityMetrics:
      $ref: ./schemas/support-sla-service-schemas.yaml#/components/schemas/SLAPriorityMetrics
    SLATrendPoint:
      $ref: ./schemas/support-sla-service-schemas.yaml#/components/schemas/SLATrendPoint
    SLAActiveAlertsResponse:
      $ref: ./schemas/support-sla-service-schemas.yaml#/components/schemas/SLAActiveAlertsResponse
    SLAAAlert:
      $ref: ./schemas/support-sla-service-schemas.yaml#/components/schemas/SLAAAlert
    Error:
      $ref: ./schemas/support-sla-service-schemas.yaml#/components/schemas/Error
  responses: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: '**JWT Bearer Authentication**

        Enterprise-grade JWT authentication with RSA-256 signatures.

        Tokens must include user permissions and role information.

        **Security Features:** - RSA-256 signature verification - Token expiration
        validation - Permission-based access control - Secure token refresh mechanism

        '
