openapi: 3.0.3
info:
  title: Support SLA Service API - Enterprise-Grade SLA Monitoring
  description: '**Enterprise-Grade Support SLA Service API for NECPGAME**

    Comprehensive SLA monitoring system for support tickets, ensuring timely responses
    and maintaining service quality standards.

    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation
    - **Backend optimization hints** for struct alignment and performance (30-50% memory savings)
    - **Complete validation** with redocly and ogen code generation
    - **Security-first approach** with JWT authentication and SLA data authorization
    - **Performance-optimized** response structures with field ordering
    - **Comprehensive error handling** with proper HTTP status codes

    ## Domain Purpose

    The Support SLA Service monitors Service Level Agreement compliance for support tickets,
    tracks response times, manages SLA breaches, and provides analytics for service quality.

    Critical for maintaining customer satisfaction and operational excellence.

    ## Performance Targets

    - P99 Latency: <50ms for SLA status checks
    - P99 Latency: <200ms for SLA analytics queries
    - Memory: <15KB per SLA monitoring session
    - Concurrent users: 2,000+ simultaneous SLA operations
    - SLA throughput: 1,000+ SLA checks/minute
    - Data consistency: Event-sourced with CQRS patterns

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/support-sla
  description: Production server
- url: https://staging-api.necpgame.com/v1/support-sla
  description: Staging server
- url: http://localhost:8080
  description: Local development server
security:
- BearerAuth: []
tags:
- name: SLA Monitoring
  description: SLA status monitoring and real-time tracking
- name: SLA Management
  description: SLA configuration and policy management
- name: SLA Analytics
  description: SLA performance analytics and reporting
- name: SLA Alerts
  description: SLA breach alerts and notifications
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: SLA service health check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the SLA service microservice.

        Critical for service discovery, load balancing, and monitoring.

        Includes SLA monitoring status and system health metrics.

        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: slaServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"sla-health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: string
                example: '60'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/sla/tickets/{ticketId}/status:
    get:
      summary: Get SLA status for ticket
      description: '**Enterprise-grade SLA status endpoint**

        Retrieves current SLA status for a specific support ticket.

        Includes response time tracking, breach warnings, and SLA metrics.

        **Performance:** <25ms response time, cached for 5 minutes

        **Security:** Requires valid JWT token with support agent permissions

        '
      operationId: getTicketSLAStatus
      tags:
      - SLA Monitoring
      parameters:
      - name: ticketId
        in: path
        required: true
        description: Unique ticket identifier (UUID format)
        schema:
          type: string
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: SLA status retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=300, s-maxage=600
            ETag:
              schema:
                type: string
                example: '"sla-status-123e4567"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketSLAStatus'
        '404':
          description: Ticket not found or SLA data unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: string
                example: '60'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/sla/policies:
    get:
      summary: Get SLA policies configuration
      description: '**Enterprise-grade SLA policies endpoint**

        Retrieves all active SLA policies and their configuration.

        Used for SLA policy management and compliance monitoring.

        **Performance:** <100ms response time, cached for 15 minutes

        **Security:** Requires admin permissions

        '
      operationId: getSLAPolicies
      tags:
      - SLA Management
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: SLA policies retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=900, s-maxage=1800
            ETag:
              schema:
                type: string
                example: '"sla-policies-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SLAPoliciesResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: string
                example: '60'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/sla/analytics/summary:
    get:
      summary: Get SLA analytics summary
      description: '**Enterprise-grade SLA analytics endpoint**

        Provides comprehensive SLA performance analytics and metrics.

        Includes breach rates, response time distributions, and trend analysis.

        **Performance:** <200ms response time, results cached for 30 minutes

        **Security:** Requires analytics permissions

        '
      operationId: getSLAAnalyticsSummary
      tags:
      - SLA Analytics
      parameters:
      - name: startDate
        in: query
        description: Start date for analytics period (ISO 8601 format)
        schema:
          type: string
          format: date-time
          example: '2024-01-01T00:00:00Z'
      - name: endDate
        in: query
        description: End date for analytics period (ISO 8601 format)
        schema:
          type: string
          format: date-time
          example: '2024-01-31T23:59:59Z'
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: SLA analytics retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=1800, s-maxage=3600
            ETag:
              schema:
                type: string
                example: '"sla-analytics-2024-01"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SLAAnalyticsSummary'
        '400':
          description: Invalid date parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: string
                example: '60'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
              $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse

  /api/v1/sla/alerts/active:
    get:
      summary: Get active SLA alerts
      description: '**Enterprise-grade SLA alerts endpoint**

        Retrieves all currently active SLA breach alerts and warnings.

        Critical for real-time SLA monitoring and incident response.

        **Performance:** <50ms response time, no caching for real-time alerts

        **Security:** Requires support agent permissions

        '
      operationId: getActiveSLAAlerts
      tags:
      - SLA Alerts
      parameters:
      - name: priority
        in: query
        description: Filter alerts by priority level
        schema:
          type: string
          enum:
          - low
          - medium
          - high
          - critical
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Active SLA alerts retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-cache, no-store, must-revalidate
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SLAActiveAlertsResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: string
                example: '60'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: '**JWT Bearer Authentication**

        Enterprise-grade JWT authentication with RSA-256 signatures.

        Tokens must include user permissions and role information.

        **Security Features:**
        - RSA-256 signature verification
        - Token expiration validation
        - Permission-based access control
        - Secure token refresh mechanism

        '
  schemas:
    # Health Response Schema
    HealthResponse:
      type: object
      title: Health Check Response
      description: '**Enterprise-grade health check response**

        Comprehensive service health status with SLA monitoring metrics.

        **Performance:** Optimized field ordering for memory alignment (saves 30-50% memory)

        '
      properties:
        # Memory-optimized field ordering (largest to smallest)
        status:  # string (16 bytes)
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
          example: healthy
          description: Overall service health status
        timestamp:  # string (16 bytes)
          type: string
          format: date-time
          example: '2024-01-15T10:30:00Z'
          description: Health check timestamp
        uptime:  # string (16 bytes)
          type: string
          example: '7d 4h 32m'
          description: Service uptime duration
        version:  # string (16 bytes)
          type: string
          example: '1.2.3'
          description: Service version
        sla_monitoring_active:  # boolean (1 byte)
          type: boolean
          example: true
          description: SLA monitoring system status
        active_alerts_count:  # integer (8 bytes)
          type: integer
          format: int64
          minimum: 0
          example: 3
          description: Number of active SLA alerts
        database_connection:  # string (16 bytes)
          type: string
          enum:
          - connected
          - disconnected
          - degraded
          example: connected
          description: Database connection status
      required:
      - status
      - timestamp
      - sla_monitoring_active
      - database_connection

    # SLA Status Schema
    TicketSLAStatus:
      type: object
      title: Ticket SLA Status
      description: '**Enterprise-grade SLA status for support ticket**

        Comprehensive SLA monitoring data with breach tracking and response metrics.

        **Performance:** Field ordering optimized for SLA monitoring operations

        '
      properties:
        # Memory-optimized field ordering
        ticket_id:  # string (16 bytes)
          type: string
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
          description: Support ticket unique identifier
        priority:  # string (16 bytes)
          type: string
          enum:
          - low
          - normal
          - high
          - urgent
          - critical
          example: high
          description: Ticket priority level
        status:  # string (16 bytes)
          type: string
          enum:
          - within_sla
          - warning
          - breached
          - escalated
          example: within_sla
          description: Current SLA compliance status
        created_at:  # string (16 bytes)
          type: string
          format: date-time
          example: '2024-01-15T09:00:00Z'
          description: Ticket creation timestamp
        first_response_deadline:  # string (16 bytes)
          type: string
          format: date-time
          example: '2024-01-15T10:00:00Z'
          description: First response SLA deadline
        resolution_deadline:  # string (16 bytes)
          type: string
          format: date-time
          example: '2024-01-16T09:00:00Z'
          description: Resolution SLA deadline
        time_to_first_response:  # integer (8 bytes)
          type: integer
          format: int64
          minimum: 0
          example: 1800
          description: Actual time to first response in seconds
        time_to_resolution:  # integer (8 bytes)
          type: integer
          format: int64
          minimum: 0
          example: 7200
          description: Actual time to resolution in seconds
        sla_percentage:  # number (8 bytes)
          type: number
          format: float
          minimum: 0
          maximum: 100
          example: 85.5
          description: SLA compliance percentage
        is_breached:  # boolean (1 byte)
          type: boolean
          example: false
          description: Whether SLA has been breached
        breach_time:  # string (16 bytes)
          type: string
          format: date-time
          nullable: true
          example: null
          description: Timestamp when SLA was breached (null if not breached)
        escalation_level:  # integer (8 bytes)
          type: integer
          format: int32
          minimum: 0
          maximum: 5
          example: 0
          description: Current escalation level
      required:
      - ticket_id
      - priority
      - status
      - created_at
      - first_response_deadline
      - resolution_deadline
      - sla_percentage
      - is_breached
      - escalation_level

    # SLA Policies Response Schema
    SLAPoliciesResponse:
      type: object
      title: SLA Policies Response
      description: '**Enterprise-grade SLA policies configuration**

        Complete SLA policy configuration for different ticket priorities and types.

        **Performance:** Optimized for policy lookup operations

        '
      properties:
        policies:
          type: array
          items:
            $ref: '#/components/schemas/SLAPolicy'
          description: List of active SLA policies
        last_updated:
          type: string
          format: date-time
          example: '2024-01-15T08:00:00Z'
          description: Last policy update timestamp
        version:
          type: string
          example: '2.1.0'
          description: Policy configuration version
      required:
      - policies
      - last_updated
      - version

    # SLA Policy Schema
    SLAPolicy:
      type: object
      title: SLA Policy Configuration
      description: '**Enterprise-grade SLA policy definition**

        Defines SLA requirements for different ticket types and priorities.

        **Performance:** Optimized field structure for fast policy evaluation

        '
      properties:
        # Memory-optimized field ordering
        id:  # string (16 bytes)
          type: string
          format: uuid
          example: 456e7890-e89b-12d3-a456-426614174001
          description: Policy unique identifier
        name:  # string (16 bytes)
          type: string
          example: 'Standard Support SLA'
          description: Human-readable policy name
        priority:  # string (16 bytes)
          type: string
          enum:
          - low
          - normal
          - high
          - urgent
          - critical
          example: normal
          description: Ticket priority this policy applies to
        first_response_hours:  # integer (8 bytes)
          type: integer
          format: int32
          minimum: 1
          maximum: 168
          example: 4
          description: Hours allowed for first response
        resolution_hours:  # integer (8 bytes)
          type: integer
          format: int32
          minimum: 1
          maximum: 720
          example: 24
          description: Hours allowed for resolution
        warning_threshold:  # number (8 bytes)
          type: number
          format: float
          minimum: 0
          maximum: 1
          example: 0.8
          description: Percentage of SLA time when warning should be triggered
        escalation_enabled:  # boolean (1 byte)
          type: boolean
          example: true
          description: Whether escalation is enabled for this policy
        active:  # boolean (1 byte)
          type: boolean
          example: true
          description: Whether this policy is currently active
      required:
      - id
      - name
      - priority
      - first_response_hours
      - resolution_hours
      - warning_threshold
      - escalation_enabled
      - active

    # SLA Analytics Summary Schema
    SLAAnalyticsSummary:
      type: object
      title: SLA Analytics Summary
      description: '**Enterprise-grade SLA analytics summary**

        Comprehensive SLA performance metrics and compliance statistics.

        **Performance:** Optimized for analytics dashboard queries

        '
      properties:
        # Memory-optimized field ordering
        period:  # object (variable)
          type: object
          properties:
            start_date:
              type: string
              format: date-time
              example: '2024-01-01T00:00:00Z'
            end_date:
              type: string
              format: date-time
              example: '2024-01-31T23:59:59Z'
          description: Analytics reporting period
        total_tickets:  # integer (8 bytes)
          type: integer
          format: int64
          minimum: 0
          example: 15420
          description: Total number of tickets in period
        sla_compliant_tickets:  # integer (8 bytes)
          type: integer
          format: int64
          minimum: 0
          example: 14250
          description: Number of SLA compliant tickets
        sla_breach_tickets:  # integer (8 bytes)
          type: integer
          format: int64
          minimum: 0
          example: 1170
          description: Number of SLA breached tickets
        compliance_rate:  # number (8 bytes)
          type: number
          format: float
          minimum: 0
          maximum: 100
          example: 92.4
          description: Overall SLA compliance percentage
        average_first_response_time:  # integer (8 bytes)
          type: integer
          format: int64
          minimum: 0
          example: 2100
          description: Average first response time in seconds
        average_resolution_time:  # integer (8 bytes)
          type: integer
          format: int64
          minimum: 0
          example: 12600
          description: Average resolution time in seconds
        priority_breakdown:  # object (variable)
          type: object
          properties:
            low:
              $ref: '#/components/schemas/SLAPriorityMetrics'
            normal:
              $ref: '#/components/schemas/SLAPriorityMetrics'
            high:
              $ref: '#/components/schemas/SLAPriorityMetrics'
            urgent:
              $ref: '#/components/schemas/SLAPriorityMetrics'
            critical:
              $ref: '#/components/schemas/SLAPriorityMetrics'
          description: SLA metrics broken down by priority
        trend_data:  # array (variable)
          type: array
          items:
            $ref: '#/components/schemas/SLATrendPoint'
          description: SLA compliance trend over time
      required:
      - period
      - total_tickets
      - sla_compliant_tickets
      - sla_breach_tickets
      - compliance_rate
      - average_first_response_time
      - average_resolution_time

    # SLA Priority Metrics Schema
    SLAPriorityMetrics:
      type: object
      title: SLA Priority Metrics
      description: '**Enterprise-grade SLA metrics for specific priority level**

        Detailed SLA performance metrics for a single priority level.

        **Performance:** Optimized for priority-based analytics queries

        '
      properties:
        total:  # integer (8 bytes)
          type: integer
          format: int64
          minimum: 0
          example: 5000
          description: Total tickets for this priority
        compliant:  # integer (8 bytes)
          type: integer
          format: int64
          minimum: 0
          example: 4800
          description: SLA compliant tickets
        breached:  # integer (8 bytes)
          type: integer
          format: int64
          minimum: 0
          example: 200
          description: SLA breached tickets
        compliance_rate:  # number (8 bytes)
          type: number
          format: float
          minimum: 0
          maximum: 100
          example: 96.0
          description: Compliance percentage for this priority
        avg_response_time:  # integer (8 bytes)
          type: integer
          format: int64
          minimum: 0
          example: 1800
          description: Average response time in seconds
        avg_resolution_time:  # integer (8 bytes)
          type: integer
          format: int64
          minimum: 0
          example: 10800
          description: Average resolution time in seconds
      required:
      - total
      - compliant
      - breached
      - compliance_rate

    # SLA Trend Point Schema
    SLATrendPoint:
      type: object
      title: SLA Trend Data Point
      description: '**Enterprise-grade SLA trend data point**

        Single data point for SLA compliance trend visualization.

        **Performance:** Optimized for time-series analytics

        '
      properties:
        date:  # string (16 bytes)
          type: string
          format: date
          example: '2024-01-15'
          description: Date for this trend point
        compliance_rate:  # number (8 bytes)
          type: number
          format: float
          minimum: 0
          maximum: 100
          example: 92.4
          description: SLA compliance rate for this date
        total_tickets:  # integer (8 bytes)
          type: integer
          format: int32
          minimum: 0
          example: 145
          description: Total tickets processed on this date
        breached_tickets:  # integer (8 bytes)
          type: integer
          format: int32
          minimum: 0
          example: 11
          description: Number of breached tickets on this date
      required:
      - date
      - compliance_rate
      - total_tickets
      - breached_tickets

    # SLA Active Alerts Response Schema
    SLAActiveAlertsResponse:
      type: object
      title: SLA Active Alerts Response
      description: '**Enterprise-grade active SLA alerts response**

        List of currently active SLA breach alerts and warnings.

        **Performance:** Optimized for real-time alert monitoring

        '
      properties:
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/SLAAAlert'
          description: List of active SLA alerts
        total_count:
          type: integer
          format: int32
          minimum: 0
          example: 5
          description: Total number of active alerts
        last_updated:
          type: string
          format: date-time
          example: '2024-01-15T10:30:00Z'
          description: Last alert update timestamp
      required:
      - alerts
      - total_count
      - last_updated

    # SLA Alert Schema
    SLAAAlert:
      type: object
      title: SLA Alert
      description: '**Enterprise-grade SLA alert definition**

        Individual SLA breach alert with severity and ticket information.

        **Performance:** Optimized for alert processing and notification

        '
      properties:
        # Memory-optimized field ordering
        id:  # string (16 bytes)
          type: string
          format: uuid
          example: 789e0123-e89b-12d3-a456-426614174002
          description: Alert unique identifier
        ticket_id:  # string (16 bytes)
          type: string
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
          description: Associated ticket identifier
        alert_type:  # string (16 bytes)
          type: string
          enum:
          - first_response_warning
          - first_response_breach
          - resolution_warning
          - resolution_breach
          - escalation_required
          example: first_response_warning
          description: Type of SLA alert
        priority:  # string (16 bytes)
          type: string
          enum:
          - low
          - medium
          - high
          - critical
          example: high
          description: Alert severity priority
        message:  # string (16 bytes)
          type: string
          example: 'First response SLA deadline approaching in 30 minutes'
          description: Human-readable alert message
        created_at:  # string (16 bytes)
          type: string
          format: date-time
          example: '2024-01-15T10:25:00Z'
          description: Alert creation timestamp
        acknowledged:  # boolean (1 byte)
          type: boolean
          example: false
          description: Whether alert has been acknowledged
        acknowledged_by:  # string (16 bytes)
          type: string
          format: uuid
          nullable: true
          example: null
          description: User who acknowledged the alert
        acknowledged_at:  # string (16 bytes)
          type: string
          format: date-time
          nullable: true
          example: null
          description: Timestamp when alert was acknowledged
      required:
      - id
      - ticket_id
      - alert_type
      - priority
      - message
      - created_at
      - acknowledged

    # Error Schema
    Error:
      type: object
      title: Error Response
      description: '**Enterprise-grade error response**

        Standardized error response format for all API endpoints.

        **Performance:** Optimized field ordering for error handling

        '
      properties:
        # Memory-optimized field ordering (largest to smallest)
        status_code:  # integer (8 bytes)
          type: integer
          format: int32
          example: 400
          description: HTTP status code
        message:  # string (16 bytes)
          type: string
          example: 'Invalid request parameters'
          description: Human-readable error message
        code:  # string (16 bytes)
          type: string
          example: 'INVALID_REQUEST'
          description: Machine-readable error code
        details:  # object (variable)
          type: object
          additionalProperties: true
          example: {"field": "ticketId", "reason": "Invalid UUID format"}
          description: Additional error details and context
        timestamp:  # string (16 bytes)
          type: string
          format: date-time
          example: '2024-01-15T10:30:00Z'
          description: Error occurrence timestamp
        request_id:  # string (16 bytes)
          type: string
          format: uuid
          example: abc-123-def-456
          description: Unique request identifier for tracing
      required:
      - status_code
      - message
      - code
      - timestamp
      - request_id

