openapi: 3.0.3
info:
  title: Realtime Subscription Service Schemas
  description: Shared schemas for realtime subscription service
  version: 1.0.0
servers:
  - url: https://api.necp.game/v1
    description: Production server
paths: { }
components:
  schemas:
    Subscription:
      type: object
      required:
        - subscription_id
        - user_id
        - patterns
        - status
        - created_at
        - connection_type
      properties:
        subscription_id:
          type: string
          format: uuid
          description: Unique subscription identifier
          example: sub1a2b3c4-d5e6-7890-1234-567890abcdef
        user_id:
          type: string
          format: uuid
          description: ID of the user who owns this subscription
          example: user1a2b3c4-d5e6-7890-1234-567890abcdef
        connection_id:
          type: string
          format: uuid
          description: Associated WebSocket connection ID
          example: conn1a2b3c4-d5e6-7890-1234-567890abcdef
        status:
          type: string
          enum:
            - active
            - paused
            - expired
            - suspended
          description: Current subscription status
          example: active
        connection_type:
          type: string
          enum:
            - websocket
            - sse
            - polling
          description: Connection type for event delivery
          example: websocket
        created_at:
          type: string
          format: date-time
          description: Subscription creation timestamp
          example: '2025-12-20T21:49:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-20T21:50:00Z'
        expires_at:
          type: string
          format: date-time
          description: Optional expiration timestamp
          example: '2025-12-21T21:49:00Z'
        last_activity_at:
          type: string
          format: date-time
          description: Timestamp of last event delivery
          example: '2025-12-20T21:48:30Z'
        client_info:
          type: object
          description: Client application information
          properties:
            user_agent:
              type: string
              description: Client user agent string
              example: NECPGAME-Client/1.2.3
            platform:
              type: string
              enum:
                - web
                - mobile
                - desktop
              description: Client platform
              example: web
            version:
              type: string
              description: Client application version
              example: 1.2.3
        delivery_config:
          type: object
          description: Event delivery configuration
          properties:
            batch_size:
              type: integer
              minimum: 1
              maximum: 100
              default: 10
              description: Maximum events per batch
            batch_timeout_ms:
              type: integer
              minimum: 100
              maximum: 5000
              default: 1000
              description: Maximum time to wait for batch completion
            compression_enabled:
              type: boolean
              default: true
              description: Enable event compression
            deduplication_enabled:
              type: boolean
              default: true
              description: Enable event deduplication
            retry_policy:
              type: object
              properties:
                max_attempts:
                  type: integer
                  minimum: 0
                  maximum: 10
                  default: 3
                  description: Maximum delivery retry attempts
                backoff_multiplier:
                  type: number
                  format: float
                  minimum: 1.0
                  maximum: 5.0
                  default: 2.0
                  description: Exponential backoff multiplier
        statistics:
          type: object
          description: Subscription usage statistics
          properties:
            events_delivered:
              type: integer
              minimum: 0
              description: Total events delivered
              example: 15000
            events_filtered:
              type: integer
              minimum: 0
              description: Events filtered out by patterns
              example: 5000
            delivery_failures:
              type: integer
              minimum: 0
              description: Failed delivery attempts
              example: 25
            avg_delivery_latency_ms:
              type: number
              format: float
              description: Average delivery latency
              example: 45.2
        patterns:
          type: array
          items:
            $ref: '#/components/schemas/EventPattern'
          minItems: 1
          maxItems: 50
          description: Event matching patterns
        priority:
          type: integer
          minimum: 0
          maximum: 100
          default: 50
          description: Subscription priority (higher = faster delivery)
          example: 75
        max_events_per_second:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
          description: Rate limiting for this subscription
          example: 50
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    EventPattern:
      type: object
      required:
        - type
        - pattern
      properties:
        pattern:
          type: string
          maxLength: 500
          description: Pattern string for matching events
          example: combat.player_hit.*
        type:
          type: string
          enum:
            - exact
            - wildcard
            - regex
            - jsonpath
          description: Pattern matching type
          example: wildcard
        metadata:
          type: object
          description: Additional pattern metadata
          additionalProperties: true
          example:
            description: Player damage events
            category: combat
        priority:
          type: integer
          minimum: 0
          maximum: 100
          default: 50
          description: Pattern priority within subscription
        case_sensitive:
          type: boolean
          default: false
          description: Whether pattern matching is case sensitive
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    CreateSubscriptionRequest:
      type: object
      required:
        - patterns
        - connection_type
      properties:
        connection_type:
          type: string
          enum:
            - websocket
            - sse
            - polling
          default: websocket
          description: Preferred connection type
        delivery_config:
          type: object
          description: Custom delivery configuration
          properties:
            batch_size:
              type: integer
              minimum: 1
              maximum: 100
            batch_timeout_ms:
              type: integer
              minimum: 100
              maximum: 5000
            compression_enabled:
              type: boolean
            deduplication_enabled:
              type: boolean
        patterns:
          type: array
          items:
            $ref: '#/components/schemas/EventPattern'
          minItems: 1
          maxItems: 50
          description: Event matching patterns
        priority:
          type: integer
          minimum: 0
          maximum: 100
          default: 50
          description: Subscription priority
        max_events_per_second:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
          description: Rate limiting
        expires_in_seconds:
          type: integer
          minimum: 300
          maximum: 604800
          description: Subscription TTL in seconds
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    UpdateSubscriptionRequest:
      type: object
      properties:
        status:
          type: string
          enum:
            - active
            - paused
          description: Updated status
        delivery_config:
          type: object
          description: Updated delivery configuration
        patterns:
          type: array
          items:
            $ref: '#/components/schemas/EventPattern'
          minItems: 1
          maxItems: 50
          description: Updated event patterns
        priority:
          type: integer
          minimum: 0
          maximum: 100
          description: Updated priority
        max_events_per_second:
          type: integer
          minimum: 1
          maximum: 1000
          description: Updated rate limiting
        expires_in_seconds:
          type: integer
          minimum: 300
          maximum: 604800
          description: Extend subscription TTL
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    SubscriptionListResponse:
      type: object
      required:
        - subscriptions
        - total_count
      properties:
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
          description: List of subscriptions
        total_count:
          type: integer
          minimum: 0
          description: Total number of subscriptions
        limit:
          type: integer
          description: Items per page
        offset:
          type: integer
          description: Items skipped
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
