openapi: 3.0.3
info:
  title: Kafka Schema Management API - Enterprise-Grade Event Schema Management
  description: |
    **Enterprise-Grade Kafka Event Schema Management API for NECPGAME**

    This API provides comprehensive management capabilities for Kafka event schemas used in the
    microservices event-driven architecture. Enables creation, validation, versioning, and deployment
    of JSON schemas for high-performance event streaming with 100k+ events/sec throughput.

    ## Key Features
    - **Schema CRUD Operations** - Create, read, update, delete JSON schemas
    - **Version Management** - Semantic versioning with backward compatibility checks
    - **Validation Services** - Real-time schema validation and compatibility testing
    - **Deployment Control** - Safe schema deployment with rollback capabilities
    - **Audit Trail** - Complete change history and approval workflows
    - **Performance Optimized** - Memory-aligned structs for Go code generation

    ## Domain Purpose
    Centralizes management of Kafka event schemas to ensure data consistency, backward compatibility,
    and performance across all microservices. Supports enterprise-grade event-driven architecture
    with high throughput and low latency requirements.

    ## Performance Targets
    - P99 Latency: <50ms for validation operations
    - Memory: <100KB per schema instance
    - Throughput: 1000+ schema validations/sec
    - Concurrent operations: 100+ simultaneous deployments
    - Event throughput: 100k+ events/sec after deployment
  version: "1.0.0"
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.necpgame.com/v1/kafka-schema-management
    description: Production server
  - url: https://staging-api.necpgame.com/v1/kafka-schema-management
    description: Staging server
  - url: http://localhost:8080/api/v1/kafka-schema-management
    description: Local development server

security:
  - BearerAuth: [ ]

tags:
  - name: Schema Management
    description: Core schema CRUD operations
  - name: Schema Validation
    description: Schema validation and compatibility checking
  - name: Schema Deployment
    description: Schema deployment and rollback operations
  - name: Schema Analytics
    description: Schema usage analytics and monitoring
  - name: Health Monitoring
    description: System health and performance monitoring

paths:
  # Health Check - ОБЯЗАТЕЛЬНО для всех доменов
  /health:
    get:
      summary: Kafka Schema Management health check
      description: |
        **Enterprise-grade health check endpoint**

        Provides real-time health status of the Kafka Schema Management microservice.
        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds
      operationId: kafkaSchemaHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum: [ gzip, deflate, br ]
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum: [ gzip, deflate, br ]
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    # Import external schemas
    KafkaSchema:
      $ref: "./schemas/kafka-schema-management-schemas.yaml#/components/schemas/KafkaEventSchema"
    CreateSchemaRequest:
      $ref: "./schemas/kafka-schema-management-schemas.yaml#/components/schemas/CreateSchemaCommand"
    UpdateSchemaRequest:
      $ref: "./schemas/kafka-schema-management-schemas.yaml#/components/schemas/UpdateSchemaCommand"
    ValidateEventRequest:
      $ref: "./schemas/kafka-schema-management-schemas.yaml#/components/schemas/EventValidationRequest"
    ValidationResponse:
      $ref: "./schemas/kafka-schema-management-schemas.yaml#/components/schemas/ValidationResult"
    CompatibilityCheckRequest:
      $ref: "./schemas/kafka-schema-management-schemas.yaml#/components/schemas/CompatibilityCheckCommand"
    CompatibilityResponse:
      $ref: "./schemas/kafka-schema-management-schemas.yaml#/components/schemas/CompatibilityReport"
    SchemaAnalyticsResponse:
      $ref: "./schemas/kafka-schema-management-schemas.yaml#/components/schemas/SchemaUsageMetrics"
    SchemaListResponse:
      $ref: "./schemas/kafka-schema-management-schemas.yaml#/components/schemas/SchemaListResponse"
    SchemaResponse:
      type: object
      required:
        - schema
      properties:
        schema:
          $ref: "./schemas/kafka-schema-management-schemas.yaml#/components/schemas/KafkaEventSchema"
    DeploymentResponse:
      $ref: "./schemas/kafka-schema-management-schemas.yaml#/components/schemas/DeploymentStatus"
    HealthResponse:
      $ref: "./schemas/kafka-schema-management-schemas.yaml#/components/schemas/ServiceHealth"
    ErrorResponse:
      $ref: "./schemas/kafka-schema-management-schemas.yaml#/components/schemas/ApiError"

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        **JWT Bearer Authentication**

        Use JWT token obtained from authentication service.
        Required for all operations except health checks.
