openapi: 3.0.3
info:
  title: Player Feedback Service API
  description: '**Enterprise-grade API for Player Feedback System**


    Complete player feedback management system for NECPGAME MMOFPS RPG. Handles player
    submissions,

    GitHub integration, voting system, moderation, and public ideas board with enterprise-grade

    performance optimizations.


    ## Key Features


    - **Player Submissions**: In-game feedback form with automatic GitHub Issue creation

    - **Voting System**: Real-time voting for public suggestions

    - **Moderation**: Automated and manual content moderation

    - **GitHub Integration**: Automatic Issue creation and status synchronization

    - **Ideas Board**: Public board for community-driven feature requests

    - **Performance Optimized**: MMOFPS-grade performance with <20ms P99 latency


    ## Domain Purpose


    Manages all player feedback, suggestions, bug reports, and feature requests with
    seamless

    GitHub integration for agent-based processing and community engagement through
    voting.


    ## Performance Targets


    - P99 Latency: <20ms for all endpoints

    - Memory per Instance: <30KB baseline

    - Concurrent Users: 10,000+ supported

    - Rate Limiting: 5 submissions/hour per player, 10 votes/minute

    - Uptime: 99.9% SLA


    ## Domain Inheritance


    This service inherits from infrastructure-entities.yaml and social-entities.yaml
    providing:

    - Consistent base entity structure (id, timestamps, version)

    - Domain-specific business entities

    - Optimistic locking for concurrent operations

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/feedback
  description: Production environment
- url: https://staging-api.necpgame.com/v1/feedback
  description: Staging environment
- url: http://localhost:8080/api/v1/feedback
  description: Local development
security:
- BearerAuth: []
tags:
- name: Feedback Submissions
  description: Core feedback submission and management
- name: Voting
  description: Voting system for public suggestions
- name: Ideas Board
  description: Public ideas board and community features
- name: Statistics
  description: Feedback statistics and analytics
- name: Health Monitoring
  description: Service health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /submit:
    $ref: ./paths/submit.yaml#/paths/~1submit
  /{id}:
    $ref: ./paths/{id}.yaml#/paths/~1{id}
  /player/{player_id}:
    $ref: ./paths/player-{player_id}.yaml#/paths/~1player~1{player_id}
  /{id}/update-status:
    $ref: ./paths/{id}-update-status.yaml#/paths/~1{id}~1update-status
  /board:
    $ref: ./paths/board.yaml#/paths/~1board
  /{id}/vote:
    $ref: ./paths/{id}-vote.yaml#/paths/~1{id}~1vote
  /stats:
    $ref: ./paths/stats.yaml#/paths/~1stats
components:
  schemas:
    FeedbackType:
      $ref: ./schemas/feedback-service-schemas.yaml#/components/schemas/FeedbackType
    FeedbackCategory:
      $ref: ./schemas/feedback-service-schemas.yaml#/components/schemas/FeedbackCategory
    FeedbackStatus:
      $ref: ./schemas/feedback-service-schemas.yaml#/components/schemas/FeedbackStatus
    FeedbackPriority:
      $ref: ./schemas/feedback-service-schemas.yaml#/components/schemas/FeedbackPriority
    GameContext:
      $ref: ./schemas/feedback-service-schemas.yaml#/components/schemas/GameContext
    SubmitFeedbackRequest:
      $ref: ./schemas/feedback-service-schemas.yaml#/components/schemas/SubmitFeedbackRequest
    Feedback:
      $ref: ./schemas/feedback-service-schemas.yaml#/components/schemas/Feedback
    FeedbackSubmissionResponse:
      $ref: ./schemas/feedback-service-schemas.yaml#/components/schemas/FeedbackSubmissionResponse
    FeedbackResponse:
      $ref: ./schemas/feedback-service-schemas.yaml#/components/schemas/FeedbackResponse
    PlayerFeedbackListResponse:
      $ref: ./schemas/feedback-service-schemas.yaml#/components/schemas/PlayerFeedbackListResponse
    UpdateStatusRequest:
      $ref: ./schemas/feedback-service-schemas.yaml#/components/schemas/UpdateStatusRequest
    IdeasBoardResponse:
      $ref: ./schemas/feedback-service-schemas.yaml#/components/schemas/IdeasBoardResponse
    VoteResponse:
      $ref: ./schemas/feedback-service-schemas.yaml#/components/schemas/VoteResponse
    FeedbackStatsResponse:
      $ref: ./schemas/feedback-service-schemas.yaml#/components/schemas/FeedbackStatsResponse
  responses: {}
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/components/securitySchemes/BearerAuth
