openapi: 3.0.3
info:
  title: Communication Service API - Enterprise-Grade Domain Service
  description: "**Enterprise-Grade Player Communication API for NECPGAME**

    This API manages all forms of player-to-player communication including chat,
    voice communication, messaging, and social interaction systems in Night City.

    ## Key Features

    - **Real-time Chat**: Multi-channel chat system with encryption and moderation
    - **Voice Communication**: High-quality voice chat with spatial audio
    - **Message History**: Persistent message storage and search capabilities
    - **Group Channels**: Guild, party, and public communication channels
    - **Content Moderation**: Automated and manual content filtering
    - **Performance Optimized**: MMOFPS-grade performance with <30ms P99 latency

    ## Domain Purpose

    The Communication domain enables seamless player interaction and coordination in Night City.
    Players communicate through various channels while maintaining security, privacy,
    and community standards through comprehensive moderation systems.

    ## Performance Targets

    - P99 Latency: <30ms for message delivery
    - Memory: <20KB per active communication session
    - Concurrent users: 100,000+ simultaneous communicators
    - Message throughput: 50,000+ messages per second

    "
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.necpgame.com/v1/communication
    description: Production server
  - url: https://staging-api.necpgame.com/v1/communication
    description: Staging server
  - url: http://localhost:8080/api/v1/communication
    description: Local development server
security:
  - BearerAuth: []
tags:
  - name: Communication Channels
    description: Core communication and messaging operations
  - name: Health Monitoring
    description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Example domain health check
      description: "**Enterprise-grade health check endpoint**


        Provides real-time health status of the example domain microservice.

        Critical for service discovery, load balancing, and monitoring.


        **Performance:** <1ms response time, cached for 30 seconds

        "
      operationId: communicationServiceHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
              - deflate
              - br
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                  - gzip
                  - deflate
                  - br
          content:
            application/json:
              schema:
                $ref: "../common/schemas/health.yaml#/HealthResponse"
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: "../common/schemas/health.yaml#/HealthResponse"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
  /health/batch:
    post:
      summary: Batch health check for multiple domain services
      description:
        "**Performance optimization:** Check multiple domain health in
        single request


        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.


        **Use case:** Service mesh health checks, Kubernetes readiness probes

        "
      operationId: exampleDomainBatchHealthCheck
      tags:
        - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                      - example-domain
                      - system-domain
                      - specialized-domain
                    maxItems: 10
                  description: List of services to check
      responses:
        "200":
          $ref: "../common/responses/success.yaml#/HealthBatchSuccess"
        "400":
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description:
        "**Performance optimization:** Real-time health updates without
        polling


        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.


        **Protocol:** WebSocket with JSON payloads

        **Heartbeat:** 30 second intervals

        **Reconnection:** Automatic with exponential backoff

        "
      operationId: exampleDomainHealthWebSocket
      tags:
        - Health Monitoring
      parameters:
        - name: services
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - example-domain
                - system-domain
                - specialized-domain
          description: Services to monitor (optional, monitors all if not specified)
      responses:
        "200":
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/example-domain/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                      - health-monitoring-v1
        "101":
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebSocketHealthMessage"
        "400":
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "401":
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
  /examples:
    get:
      summary: List examples with filtering and pagination
      description: "**Enterprise-grade listing endpoint**


        Supports complex filtering, sorting, and pagination patterns.

        Optimized for high-throughput scenarios with proper indexing.


        **Performance:** <10ms P95, supports 1000+ concurrent requests

        "
      operationId: listExamples
      tags:
        - Example Domain
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number for pagination
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of items per page
        - name: sort_by
          in: query
          schema:
            type: string
            enum:
              - created_at
              - name
              - priority
            default: created_at
          description: Sort field
        - name: sort_order
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          description: Sort order
        - name: filter_status
          in: query
          schema:
            type: string
            enum:
              - active
              - inactive
              - pending
          description: Filter by status
      responses:
        "200":
          $ref: "#/components/responses/ExampleListSuccess"
        "400":
          description: Invalid request - malformed query parameters
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "422":
          description: Unprocessable entity - validation failed
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
    post:
      summary: Create new example
      description: "**Enterprise-grade creation endpoint**


        Validates business rules, applies security checks, and ensures data consistency.

        Supports optimistic locking for concurrent operations.


        **Performance:** <50ms P95, includes validation and business logic

        "
      operationId: createExample
      tags:
        - Example Domain
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateExampleRequest"
      responses:
        "201":
          $ref: "#/components/responses/ExampleCreated"
        "400":
          description: Invalid request - malformed or missing data
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "409":
          description: Conflict - example with this identifier already exists
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "422":
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - creation rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
  /examples/{example_id}:
    get:
      summary: Get specific example by ID
      description: "**Enterprise-grade retrieval endpoint**


        Optimized with proper caching strategies and database indexing.

        Supports conditional requests with ETags.


        **Performance:** <5ms P95 with Redis caching

        "
      operationId: getExample
      tags:
        - Example Domain
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
        - name: include_related
          in: query
          schema:
            type: boolean
            default: false
          description: Include related data in response
        - name: If-None-Match
          in: header
          schema:
            type: string
          description: Conditional request - return 304 if ETag matches
        - name: If-Modified-Since
          in: header
          schema:
            type: string
            format: date-time
          description: Conditional request - return 304 if not modified since this time
      responses:
        "200":
          $ref: "#/components/responses/ExampleRetrieved"
        "304":
          description: Not modified - resource has not changed
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
        "400":
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
    put:
      summary: Update existing example
      description: "**Enterprise-grade update endpoint**


        Supports partial updates, optimistic locking, and audit trails.

        Ensures data consistency with event sourcing patterns.


        **Performance:** <25ms P95, includes validation and conflict resolution

        "
      operationId: updateExample
      tags:
        - Example Domain
      security:
        - BearerAuth: []
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
        - name: If-Match
          in: header
          schema:
            type: string
          description: ETag for optimistic locking - prevents concurrent updates
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
          description:
            Conditional update - proceed only if not modified since this
            time
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateExampleRequest"
      responses:
        "200":
          $ref: "#/components/responses/ExampleUpdated"
        "400":
          description: Invalid request - malformed data or example ID
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "409":
          description:
            Conflict - version conflict (optimistic locking) or precondition
            failed
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "412":
          description:
            Precondition failed - If-Match or If-Unmodified-Since condition
            not met
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "422":
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - update rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
    delete:
      summary: Delete example
      description: "**Enterprise-grade deletion endpoint**


        Supports soft deletes with audit trails and cleanup scheduling.

        Ensures referential integrity and cascading deletes.


        **Performance:** <15ms P95, includes cleanup operations

        "
      operationId: deleteExample
      tags:
        - Example Domain
      security:
        - BearerAuth: []
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
      responses:
        "204":
          $ref: "#/components/responses/ExampleDeleted"
        "400":
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "409":
          description: Conflict - example cannot be deleted (referential integrity)
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - deletion rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
  /channels:
    get:
      summary: Get available communication channels
      description: "**List all available communication channels for the player**

        Returns channels the player has access to, including private messages,
        group chats, guild channels, and public channels.

        **Performance:** <50ms response time, real-time updates via WebSocket
        "
      operationId: getChannels
      tags:
        - Communication Channels
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [direct, group, guild, public, system]
          description: Filter channels by type
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Maximum number of channels to return
      responses:
        "200":
          description: List of available channels
          content:
            application/json:
              schema:
                type: object
                required:
                  - channels
                  - total_count
                properties:
                  channels:
                    type: array
                    items:
                      $ref: "#/components/schemas/CommunicationChannel"
                  total_count:
                    type: integer
                    description: Total number of channels available
        "400":
          $ref: "../common/responses/error.yaml#/BadRequest"
        "500":
          $ref: "../common/responses/error.yaml#/InternalServerError"
  /channels/{channelId}/messages:
    get:
      summary: Get channel messages
      description: "**Retrieve message history for a communication channel**

        Returns paginated message history with content moderation and metadata.
        Supports filtering by time range and message types.

        **Performance:** <100ms response time for recent messages
        "
      operationId: getChannelMessages
      tags:
        - Communication Channels
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Channel unique identifier
        - name: before
          in: query
          schema:
            type: string
            format: date-time
          description: Get messages before this timestamp
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Maximum number of messages to return
      responses:
        "200":
          description: Channel message history
          content:
            application/json:
              schema:
                type: object
                required:
                  - messages
                  - channel_id
                  - has_more
                properties:
                  channel_id:
                    type: string
                    format: uuid
                  messages:
                    type: array
                    items:
                      $ref: "#/components/schemas/Message"
                  has_more:
                    type: boolean
                    description: Whether there are more messages available
        "403":
          $ref: "../common/responses/error.yaml#/Forbidden"
        "404":
          $ref: "../common/responses/error.yaml#/NotFound"
        "500":
          $ref: "../common/responses/error.yaml#/InternalServerError"
    post:
      summary: Send message to channel
      description: "**Send a new message to a communication channel**

        Creates and delivers a message to all channel participants with
        real-time delivery and content moderation.

        **Performance:** <50ms end-to-end delivery time
        "
      operationId: sendChannelMessage
      tags:
        - Communication Channels
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Channel unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
                - message_type
              properties:
                content:
                  type: string
                  minLength: 1
                  maxLength: 2000
                  description: Message content
                message_type:
                  type: string
                  enum: [text, system, emote, image, voice]
                  default: text
                  description: Type of message
                reply_to:
                  type: string
                  format: uuid
                  description: Message ID this is replying to
                metadata:
                  type: object
                  description: Additional message metadata
      responses:
        "201":
          description: Message sent successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "400":
          $ref: "../common/responses/error.yaml#/BadRequest"
        "403":
          $ref: "../common/responses/error.yaml#/Forbidden"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "500":
          $ref: "../common/responses/error.yaml#/InternalServerError"
components:
  responses:
    HealthBatchSuccess:
      $ref: ../common/responses/success.yaml#/HealthBatchSuccess
    ExampleListSuccess:
      description: Examples retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
        X-Total-Count:
          schema:
            type: integer
            example: 150
            description: Total number of examples matching criteria
        X-Page-Count:
          schema:
            type: integer
            example: 8
            description: Total number of pages
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleListResponse"
    ExampleCreated:
      description: Example created successfully
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/examples/550e8400-e29b-41d4-a716-446655440000
            description: URL of the created example
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching and optimistic locking
        Cache-Control:
          schema:
            type: string
            example: no-cache
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"
    ExampleRetrieved:
      description: Example retrieved successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
            description: Cache control directives
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: "2025-12-21T10:00:00Z"
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 5
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"
    ExampleUpdated:
      description: Example updated successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v2"'
            description: New entity tag after update
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: "2025-12-21T10:05:00Z"
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 25
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"
    ExampleDeleted:
      description: Example deleted successfully
      headers:
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
    OK:
      $ref: ../common/responses/success.yaml#/OK
    Created:
      $ref: ../common/responses/success.yaml#/Created
    BadRequest:
      $ref: ../common/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common/responses/error.yaml#/Unauthorized
    Forbidden:
      $ref: ../common/responses/error.yaml#/Forbidden
    NotFound:
      $ref: ../common/responses/error.yaml#/NotFound
    Conflict:
      $ref: ../common/responses/error.yaml#/Conflict
    InternalServerError:
      $ref: ../common/responses/error.yaml#/InternalServerError
    HealthOK:
      $ref: ../common/responses/success.yaml#/HealthOK
  schemas:
    HealthResponse:
      $ref: ../common/schemas/health.yaml#/HealthResponse
    WebSocketHealthMessage:
      type: object
      required:
        - type
        - timestamp
        - health
      properties:
        type:
          type: string
          enum:
            - health_update
            - health_alert
            - service_down
          example: health_update
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          maxLength: 255
        message_timestamp:
          type: string
          format: date-time
          description: Timestamp of the health message
          maxLength: 1000
        health:
          $ref: "../common/schemas/health.yaml#/HealthResponse"
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    Error:
      $ref: ../common/schemas/error.yaml#/Error
    Example:
      type: object
      required:
        - id
        - name
        - created_at
        - status
        - is_active
      properties:
        id:
          type: string
          format: uuid
          description: Example unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Example display name
          example: Sample Example
        description:
          type: string
          maxLength: 1000
          description: Detailed description
          example: This is a comprehensive example demonstrating best practices.
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2025-12-21T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2025-12-21T10:00:00Z"
        status:
          type: string
          enum:
            - active
            - inactive
            - pending
            - archived
          default: active
          description: Current status
          example: active
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Associated tags
          example:
            - demo
            - template
            - best-practice
        is_active:
          type: boolean
          description: Whether this example is active
          example: true
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Processing priority
          example: 7
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Hot path optimization required."
    CreateExampleRequest:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Desired example name
          example: My New Example
        description:
          type: string
          maxLength: 1000
          description: Example description
          example: A new example following enterprise-grade patterns.
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Initial tags
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Processing priority
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    UpdateExampleRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: New example name
          example: Updated Example Name
        description:
          type: string
          maxLength: 1000
          description: New description
        status:
          type: string
          enum:
            - active
            - inactive
            - pending
            - archived
          description: New status
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Replace all tags
        is_active:
          type: boolean
          description: Update active status
        priority:
          type: integer
          minimum: 1
          maximum: 10
          description: New priority
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    ExampleResponse:
      type: object
      required:
        - example
      properties:
        example:
          $ref: "#/components/schemas/Example"
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    ExampleListResponse:
      type: object
      required:
        - examples
        - total_count
        - has_more
      properties:
        examples:
          type: array
          items:
            $ref: "#/components/schemas/Example"
          description: List of examples
        has_more:
          type: boolean
          description: Whether there are more results available
          example: true
        total_count:
          type: integer
          description: Total number of examples matching criteria
          example: 150
        page:
          type: integer
          description: Current page number
          example: 1
        limit:
          type: integer
          description: Items per page
          example: 20
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Paginated responses optimized for memory
        efficiency."
    PaginationParams:
      $ref: ../common/schemas/pagination.yaml#/PaginationParams
    PaginatedResponse:
      $ref: ../common/schemas/pagination.yaml#/PaginatedResponse
    CommunicationChannel:
      type: object
      required:
        - id
        - name
        - type
        - participant_count
        - last_activity
      properties:
        id:
          type: string
          format: uuid
          description: Unique channel identifier
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Channel display name
        type:
          type: string
          enum: [direct, group, guild, public, system]
          description: Channel type
        description:
          type: string
          maxLength: 500
          description: Channel description
        participant_count:
          type: integer
          minimum: 1
          description: Number of active participants
        last_activity:
          type: string
          format: date-time
          description: Last message/activity timestamp
        is_muted:
          type: boolean
          description: Whether the channel is muted for current user
          default: false
        unread_count:
          type: integer
          minimum: 0
          description: Number of unread messages
          default: 0
        permissions:
          type: object
          description: User permissions in this channel
          properties:
            can_send:
              type: boolean
              default: true
            can_invite:
              type: boolean
              default: false
            can_moderate:
              type: boolean
              default: false
        created_at:
          type: string
          format: date-time
          description: Channel creation timestamp
      description: "Communication channel with participants and permissions."
    Message:
      type: object
      required:
        - id
        - channel_id
        - sender_id
        - content
        - message_type
        - timestamp
      properties:
        id:
          type: string
          format: uuid
          description: Unique message identifier
        channel_id:
          type: string
          format: uuid
          description: Channel this message belongs to
        sender_id:
          type: string
          format: uuid
          description: Message sender identifier
        sender_name:
          type: string
          description: Sender display name
        content:
          type: string
          maxLength: 2000
          description: Message content (filtered if moderated)
        message_type:
          type: string
          enum: [text, system, emote, image, voice]
          description: Type of message
        timestamp:
          type: string
          format: date-time
          description: Message timestamp
        edited_at:
          type: string
          format: date-time
          description: Last edit timestamp (if edited)
        reply_to:
          type: string
          format: uuid
          description: Message ID this is replying to
        attachments:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [image, voice, file]
              url:
                type: string
                format: uri
              size:
                type: integer
                minimum: 0
          description: Message attachments
        moderation_status:
          type: string
          enum: [approved, pending, moderated, deleted]
          default: approved
          description: Content moderation status
        metadata:
          type: object
          description: Additional message metadata
      description: "Communication message with content and moderation info."
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
