openapi: 3.0.3
info:
  title: Communication Service API - Enterprise-Grade Social Domain Service
  description: '**Enterprise-Grade Communication API for NECPGAME Social Domain**

    This API manages all player communication systems including chat, notifications,
    voice channels, and moderation in the cyberpunk MMOFPS RPG.

    ## Key Features

    - **Chat System**: Multi-channel text communication with rich formatting - **Notifications**:
    Real-time in-game and external notifications - **Voice Channels**: Spatial audio
    communication in lobbies and parties - **Moderation**: Content moderation and
    community management - **Performance Optimized**: MMOFPS-grade performance with
    <50ms P99 latency

    ## Domain Purpose

    The Communication domain handles all aspects of player-to-player and system-to-player
    communication in Night City. Players chat, receive notifications, join voice channels,
    and participate in moderated community interactions.

    ## Performance Targets

    - P99 Latency: <50ms for chat operations, <10ms for notifications - Memory: <50KB
    per active user session - Concurrent users: 100,000+ simultaneous communications
    - WebSocket connections: 50,000+ concurrent voice channels

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/communication
  description: Production server
- url: https://staging-api.necpgame.com/v1/communication
  description: Staging server
- url: http://localhost:8080/api/v1/communication
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Chat
  description: Text communication and messaging
- name: Notifications
  description: In-game and external notifications
- name: Voice Channels
  description: Voice communication and lobbies
- name: Moderation
  description: Content moderation and community management
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Communication service health check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the communication domain microservice.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: communicationHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"communication-health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/health.yaml#/HealthResponse
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/health.yaml#/HealthResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /health/batch:
    get:
      summary: Batch health check for communication dependencies
      description: '**Batch health check for communication service dependencies**

        Checks health of chat, notifications, voice, and moderation subsystems.

        **Performance:** <10ms response time, cached for 15 seconds

        '
      operationId: communicationBatchHealthCheck
      tags:
      - Health Monitoring
      responses:
        '200':
          description: All subsystems healthy
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/health.yaml#/HealthResponse
        '207':
          description: Partial subsystem failure
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/health.yaml#/HealthResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /health/ws:
    get:
      summary: WebSocket health check for real-time communication
      description: '**WebSocket health check for voice and chat systems**

        Tests WebSocket connectivity and real-time message routing.

        **Performance:** <5ms response time, persistent connection test

        '
      operationId: communicationWebSocketHealthCheck
      tags:
      - Health Monitoring
      responses:
        '200':
          description: WebSocket connection healthy
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/health.yaml#/HealthResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /chat/channels:
    get:
      summary: List chat channels
      description: '**Retrieve paginated list of accessible chat channels**

        Returns channels user can join based on permissions and guild membership.

        **Performance:** <50ms with pagination, supports 1000+ channels per user

        '
      operationId: listChatChannels
      tags:
      - Chat
      security:
      - BearerAuth: []
      parameters:
      - name: type
        in: query
        schema:
          type: string
          enum:
          - global
          - guild
          - party
          - private
          - trade
          - help
        description: Filter by channel type
      - name: guild_id
        in: query
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
        description: Filter by guild ID
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: Number of channels to return
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Pagination offset
      responses:
        '200':
          description: Chat channels retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common-service/schemas/common.yaml#/PaginatedResponse
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/ChatChannelResponse'
        '400':
          $ref: ../common-service/responses/error.yaml#/BadRequest
        '401':
          $ref: ../common-service/responses/error.yaml#/Unauthorized
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    post:
      summary: Create chat channel
      description: '**Create a new chat channel**

        Supports guild, party, and private channel creation with permission checks.

        **Performance:** <100ms with validation and permission checks

        '
      operationId: createChatChannel
      tags:
      - Chat
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatChannelRequest'
      responses:
        '201':
          description: Chat channel created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatChannelResponse'
        '400':
          $ref: ../common-service/responses/error.yaml#/BadRequest
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /chat/channels/{channelId}:
    get:
      summary: Get chat channel details
      description: '**Retrieve detailed information about a specific chat channel**

        Includes member count, permissions, and channel settings.

        **Performance:** <20ms with caching, real-time member counts

        '
      operationId: getChatChannel
      tags:
      - Chat
      security:
      - BearerAuth: []
      parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      responses:
        '200':
          description: Chat channel details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatChannelResponse'
        '404':
          $ref: ../common-service/responses/error.yaml#/NotFound
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    put:
      summary: Update chat channel
      description: '**Update chat channel settings and permissions**

        Requires channel ownership or moderator permissions.

        **Performance:** <50ms with permission validation

        '
      operationId: updateChatChannel
      tags:
      - Chat
      security:
      - BearerAuth: []
      parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChatChannelRequest'
      responses:
        '200':
          description: Chat channel updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatChannelResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    delete:
      summary: Delete chat channel
      description: '**Delete a chat channel**

        Requires channel ownership or administrator permissions.

        **Performance:** <30ms with cleanup operations

        '
      operationId: deleteChatChannel
      tags:
      - Chat
      security:
      - BearerAuth: []
      parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      responses:
        '204':
          description: Chat channel deleted successfully
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /chat/channels/{channelId}/messages:
    get:
      summary: Get chat messages
      description: '**Retrieve paginated chat messages from a channel**

        Supports message history with filtering and search capabilities.

        **Performance:** <100ms with pagination, supports 10k+ messages per channel

        '
      operationId: getChatMessages
      tags:
      - Chat
      security:
      - BearerAuth: []
      parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      - name: before
        in: query
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
        description: Get messages before this message ID
      - name: after
        in: query
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
        description: Get messages after this message ID
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: Number of messages to return
      - name: search
        in: query
        schema:
          type: string
          maxLength: 100
        description: Search messages by content
      responses:
        '200':
          description: Chat messages retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common-service/schemas/common.yaml#/PaginatedResponse
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/ChatMessageResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    post:
      summary: Send chat message
      description: '**Send a message to a chat channel**

        Supports rich text, mentions, attachments, and real-time delivery.

        **Performance:** <20ms with spam filtering and moderation checks

        '
      operationId: sendChatMessage
      tags:
      - Chat
      security:
      - BearerAuth: []
      parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendChatMessageRequest'
      responses:
        '201':
          description: Chat message sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessageResponse'
        '400':
          $ref: ../common-service/responses/error.yaml#/BadRequest
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /chat/messages/{messageId}:
    put:
      summary: Edit chat message
      description: '**Edit an existing chat message**

        Only message author can edit, within time limits.

        **Performance:** <30ms with permission and content validation

        '
      operationId: editChatMessage
      tags:
      - Chat
      security:
      - BearerAuth: []
      parameters:
      - name: messageId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditChatMessageRequest'
      responses:
        '200':
          description: Chat message edited successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessageResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    delete:
      summary: Delete chat message
      description: '**Delete a chat message**

        Author can delete own messages, moderators can delete any message.

        **Performance:** <20ms with soft delete implementation

        '
      operationId: deleteChatMessage
      tags:
      - Chat
      security:
      - BearerAuth: []
      parameters:
      - name: messageId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      responses:
        '204':
          description: Chat message deleted successfully
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /chat/messages/{messageId}/reactions:
    post:
      summary: Add reaction to message
      description: '**Add emoji reaction to a chat message**

        Supports multiple reactions per message and user.

        **Performance:** <15ms with real-time broadcast

        '
      operationId: addMessageReaction
      tags:
      - Chat
      security:
      - BearerAuth: []
      parameters:
      - name: messageId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddReactionRequest'
      responses:
        '201':
          description: Reaction added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageReactionResponse'
        '400':
          $ref: ../common-service/responses/error.yaml#/BadRequest
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    delete:
      summary: Remove reaction from message
      description: '**Remove user''s reaction from a chat message**

        User can only remove their own reactions.

        **Performance:** <10ms with real-time update

        '
      operationId: removeMessageReaction
      tags:
      - Chat
      security:
      - BearerAuth: []
      parameters:
      - name: messageId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      - name: emoji
        in: query
        required: true
        schema:
          type: string
          maxLength: 10
        description: Emoji to remove
      responses:
        '204':
          description: Reaction removed successfully
        '404':
          $ref: ../common-service/responses/error.yaml#/NotFound
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /notifications:
    get:
      summary: Get user notifications
      description: '**Retrieve user''s notifications with pagination**

        Supports filtering by type, read status, and time range.

        **Performance:** <50ms with Redis caching, supports 100k+ notifications per
        user

        '
      operationId: getUserNotifications
      tags:
      - Notifications
      security:
      - BearerAuth: []
      parameters:
      - name: type
        in: query
        schema:
          type: string
          enum:
          - system
          - social
          - achievement
          - commerce
          - combat
          - guild
        description: Filter by notification type
      - name: read
        in: query
        schema:
          type: boolean
        description: Filter by read status
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: Number of notifications to return
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Pagination offset
      responses:
        '200':
          description: Notifications retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common-service/schemas/common.yaml#/PaginatedResponse
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/NotificationResponse'
        '401':
          $ref: ../common-service/responses/error.yaml#/Unauthorized
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    post:
      summary: Send notification
      description: '**Send notification to user or group**

        Supports scheduled delivery and priority levels.

        **Performance:** <25ms with queue-based processing

        '
      operationId: sendNotification
      tags:
      - Notifications
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendNotificationRequest'
      responses:
        '202':
          description: Notification queued for delivery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationQueuedResponse'
        '400':
          $ref: ../common-service/responses/error.yaml#/BadRequest
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /notifications/{notificationId}:
    get:
      summary: Get notification details
      description: '**Retrieve detailed information about a specific notification**

        Includes full content and metadata.

        **Performance:** <15ms with caching

        '
      operationId: getNotification
      tags:
      - Notifications
      security:
      - BearerAuth: []
      parameters:
      - name: notificationId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      responses:
        '200':
          description: Notification details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationResponse'
        '404':
          $ref: ../common-service/responses/error.yaml#/NotFound
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    put:
      summary: Mark notification as read
      description: '**Mark a notification as read**

        Updates read timestamp and triggers related actions.

        **Performance:** <10ms with immediate consistency

        '
      operationId: markNotificationRead
      tags:
      - Notifications
      security:
      - BearerAuth: []
      parameters:
      - name: notificationId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      responses:
        '200':
          description: Notification marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationResponse'
        '404':
          $ref: ../common-service/responses/error.yaml#/NotFound
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    delete:
      summary: Delete notification
      description: '**Delete a notification**

        Soft delete with recovery option within 30 days.

        **Performance:** <15ms with archival

        '
      operationId: deleteNotification
      tags:
      - Notifications
      security:
      - BearerAuth: []
      parameters:
      - name: notificationId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      responses:
        '204':
          description: Notification deleted successfully
        '404':
          $ref: ../common-service/responses/error.yaml#/NotFound
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /notifications/bulk/mark-read:
    post:
      summary: Mark multiple notifications as read
      description: '**Bulk mark notifications as read**

        Efficient bulk operation for UI interactions.

        **Performance:** <50ms for up to 100 notifications

        '
      operationId: bulkMarkNotificationsRead
      tags:
      - Notifications
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkMarkReadRequest'
      responses:
        '200':
          description: Notifications marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationResponse'
        '400':
          $ref: ../common-service/responses/error.yaml#/BadRequest
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /notifications/settings:
    get:
      summary: Get notification settings
      description: '**Retrieve user''s notification preferences**

        Includes settings for each notification type and delivery method.

        **Performance:** <20ms with user-specific caching

        '
      operationId: getNotificationSettings
      tags:
      - Notifications
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Notification settings retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettingsResponse'
        '401':
          $ref: ../common-service/responses/error.yaml#/Unauthorized
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    put:
      summary: Update notification settings
      description: '**Update user''s notification preferences**

        Supports granular control over notification types and channels.

        **Performance:** <30ms with validation

        '
      operationId: updateNotificationSettings
      tags:
      - Notifications
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNotificationSettingsRequest'
      responses:
        '200':
          description: Notification settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettingsResponse'
        '400':
          $ref: ../common-service/responses/error.yaml#/BadRequest
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /voice/channels:
    get:
      summary: List voice channels
      description: '**Retrieve available voice channels**

        Returns channels user can join based on permissions.

        **Performance:** <30ms with real-time occupancy data

        '
      operationId: listVoiceChannels
      tags:
      - Voice Channels
      security:
      - BearerAuth: []
      parameters:
      - name: type
        in: query
        schema:
          type: string
          enum:
          - lobby
          - guild
          - party
          - private
        description: Filter by channel type
      - name: guild_id
        in: query
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
        description: Filter by guild ID
      responses:
        '200':
          description: Voice channels retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  channels:
                    type: array
                    items:
                      $ref: '#/components/schemas/VoiceChannelResponse'
        '401':
          $ref: ../common-service/responses/error.yaml#/Unauthorized
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    post:
      summary: Create voice channel
      description: '**Create a new voice channel**

        Supports temporary and permanent channels with capacity limits.

        **Performance:** <50ms with WebRTC setup

        '
      operationId: createVoiceChannel
      tags:
      - Voice Channels
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVoiceChannelRequest'
      responses:
        '201':
          description: Voice channel created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceChannelResponse'
        '400':
          $ref: ../common-service/responses/error.yaml#/BadRequest
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /voice/channels/{channelId}:
    get:
      summary: Get voice channel details
      description: '**Retrieve detailed information about a voice channel**

        Includes participants, settings, and connection info.

        **Performance:** <20ms with real-time participant data

        '
      operationId: getVoiceChannel
      tags:
      - Voice Channels
      security:
      - BearerAuth: []
      parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      responses:
        '200':
          description: Voice channel details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceChannelResponse'
        '404':
          $ref: ../common-service/responses/error.yaml#/NotFound
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    put:
      summary: Update voice channel
      description: '**Update voice channel settings**

        Requires channel ownership or moderator permissions.

        **Performance:** <30ms with participant notifications

        '
      operationId: updateVoiceChannel
      tags:
      - Voice Channels
      security:
      - BearerAuth: []
      parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVoiceChannelRequest'
      responses:
        '200':
          description: Voice channel updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceChannelResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    delete:
      summary: Delete voice channel
      description: '**Delete a voice channel**

        Disconnects all participants and cleans up resources.

        **Performance:** <40ms with graceful disconnections

        '
      operationId: deleteVoiceChannel
      tags:
      - Voice Channels
      security:
      - BearerAuth: []
      parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      responses:
        '204':
          description: Voice channel deleted successfully
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /voice/channels/{channelId}/join:
    post:
      summary: Join voice channel
      description: '**Join a voice channel**

        Returns WebRTC connection information and channel token.

        **Performance:** <25ms with capacity checks and token generation

        '
      operationId: joinVoiceChannel
      tags:
      - Voice Channels
      security:
      - BearerAuth: []
      parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinVoiceChannelRequest'
      responses:
        '200':
          description: Successfully joined voice channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceChannelConnectionResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        '429':
          $ref: ../common-service/responses/error.yaml#/TooManyRequests
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /voice/channels/{channelId}/leave:
    post:
      summary: Leave voice channel
      description: '**Leave a voice channel**

        Updates channel occupancy and notifies other participants.

        **Performance:** <15ms with immediate cleanup

        '
      operationId: leaveVoiceChannel
      tags:
      - Voice Channels
      security:
      - BearerAuth: []
      parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      responses:
        '204':
          description: Successfully left voice channel
        '404':
          $ref: ../common-service/responses/error.yaml#/NotFound
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /voice/channels/{channelId}/participants:
    get:
      summary: Get voice channel participants
      description: '**Retrieve list of participants in a voice channel**

        Real-time participant information with speaking status.

        **Performance:** <15ms with WebSocket broadcasting

        '
      operationId: getVoiceChannelParticipants
      tags:
      - Voice Channels
      security:
      - BearerAuth: []
      parameters:
      - name: channelId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      responses:
        '200':
          description: Voice channel participants retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  participants:
                    type: array
                    items:
                      $ref: '#/components/schemas/VoiceParticipantResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /moderation/reports:
    get:
      summary: Get moderation reports
      description: '**Retrieve moderation reports with filtering**

        Supports status filtering and priority sorting.

        **Performance:** <40ms with pagination support

        '
      operationId: getModerationReports
      tags:
      - Moderation
      security:
      - BearerAuth: []
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - investigating
          - resolved
          - dismissed
        description: Filter by report status
      - name: priority
        in: query
        schema:
          type: string
          enum:
          - low
          - medium
          - high
          - critical
        description: Filter by priority level
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
        description: Number of reports to return
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Pagination offset
      responses:
        '200':
          description: Moderation reports retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common-service/schemas/common.yaml#/PaginatedResponse
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/ModerationReportResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    post:
      summary: Create moderation report
      description: '**Submit a new moderation report**

        Supports reporting chat messages, users, and channels.

        **Performance:** <30ms with automatic duplicate detection

        '
      operationId: createModerationReport
      tags:
      - Moderation
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateModerationReportRequest'
      responses:
        '201':
          description: Moderation report created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationReportResponse'
        '400':
          $ref: ../common-service/responses/error.yaml#/BadRequest
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /moderation/reports/{reportId}:
    get:
      summary: Get moderation report details
      description: '**Retrieve detailed information about a moderation report**

        Includes evidence, comments, and resolution history.

        **Performance:** <25ms with full context loading

        '
      operationId: getModerationReport
      tags:
      - Moderation
      security:
      - BearerAuth: []
      parameters:
      - name: reportId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      responses:
        '200':
          description: Moderation report details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationReportResponse'
        '404':
          $ref: ../common-service/responses/error.yaml#/NotFound
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    put:
      summary: Update moderation report
      description: '**Update report status and add moderator notes**

        Requires moderator permissions.

        **Performance:** <35ms with audit logging

        '
      operationId: updateModerationReport
      tags:
      - Moderation
      security:
      - BearerAuth: []
      parameters:
      - name: reportId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateModerationReportRequest'
      responses:
        '200':
          description: Moderation report updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationReportResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /moderation/actions:
    post:
      summary: Execute moderation action
      description: '**Execute moderation action on reported content**

        Supports warnings, mutes, bans, and content removal.

        **Performance:** <45ms with immediate enforcement

        '
      operationId: executeModerationAction
      tags:
      - Moderation
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteModerationActionRequest'
      responses:
        '200':
          description: Moderation action executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationActionResponse'
        '400':
          $ref: ../common-service/responses/error.yaml#/BadRequest
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
components:
  responses:
    OK:
      $ref: ../common-service/responses/success.yaml#/OK
    Created:
      $ref: ../common-service/responses/success.yaml#/Created
    Updated:
      $ref: ../common-service/responses/success.yaml#/Updated
    Deleted:
      $ref: ../common-service/responses/success.yaml#/Deleted
    BadRequest:
      $ref: ../common-service/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common-service/responses/error.yaml#/Unauthorized
    Forbidden:
      $ref: ../common-service/responses/error.yaml#/Forbidden
    NotFound:
      $ref: ../common-service/responses/error.yaml#/NotFound
    TooManyRequests:
      $ref: ../common-service/responses/error.yaml#/TooManyRequests
  schemas:
    BaseEntity:
      type: object
      required:
      - id
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier (UUID v4)
          example: 123e4567-e89b-12d3-a456-426614174000
          maxLength: 36
        created_at:
          type: string
          format: date-time
          description: Creation timestamp (ISO 8601)
          example: '2025-12-28T10:00:00Z'
          maxLength: 30
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp (ISO 8601)
          example: '2025-12-28T10:00:00Z'
          maxLength: 30
    ChatChannelResponse:
      allOf:
      - $ref: ../common-service/schemas/social-entities.yaml#/ChatChannelEntity
      - type: object
        properties:
          current_members:
            type: integer
            description: Current number of online members
            example: 23
          is_joined:
            type: boolean
            description: Whether current user is joined
            example: true
    CreateChatChannelRequest:
      type: object
      required:
      - name
      - type
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 50
          description: Channel name
          example: General Chat
        type:
          type: string
          enum:
          - guild
          - party
          - private
          description: Channel type
          example: guild
        description:
          type: string
          maxLength: 200
          description: Channel description
        guild_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        max_members:
          type: integer
          minimum: 2
          maximum: 1000
          description: Maximum members allowed
        is_temporary:
          type: boolean
          description: Whether channel is temporary
          default: false
    UpdateChatChannelRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 50
          description: Channel name
        description:
          type: string
          maxLength: 200
          description: Channel description
        max_members:
          type: integer
          minimum: 2
          maximum: 1000
          description: Maximum members allowed
    ChatMessageResponse:
      allOf:
      - $ref: ../common-service/schemas/social-entities.yaml#/ChatMessageEntity
      - type: object
        properties:
          author:
            $ref: ../common-service/schemas/social-entities.yaml#/UserProfileEntity
          channel_name:
            type: string
            description: Channel display name
            example: General Chat
    SendChatMessageRequest:
      type: object
      required:
      - content
      properties:
        content:
          type: string
          minLength: 1
          maxLength: 2000
          description: Message content
          example: Anyone up for a gig tonight?
        reply_to:
          $ref: ../common-service/schemas/common.yaml#/UUID
        attachments:
          type: array
          items:
            type: object
            required:
            - type
            - url
            properties:
              type:
                type: string
                enum:
                - image
                - link
                - item
                - location
              url:
                type: string
                format: uri
              metadata:
                type: object
    EditChatMessageRequest:
      type: object
      required:
      - content
      properties:
        content:
          type: string
          minLength: 1
          maxLength: 2000
          description: Updated message content
    AddReactionRequest:
      type: object
      required:
      - emoji
      properties:
        emoji:
          type: string
          maxLength: 10
          description: Emoji reaction
          example: 👍
    MessageReactionResponse:
      type: object
      properties:
        message_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        emoji:
          type: string
          example: 👍
        user_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        reacted_at:
          $ref: ../common-service/schemas/common.yaml#/Timestamp
    NotificationResponse:
      type: object
      allOf:
      - $ref: ../common-service/schemas/common.yaml#/BaseEntity
      - type: object
        required:
        - user_id
        - type
        - title
        - content
        - read
        properties:
          user_id:
            $ref: ../common-service/schemas/common.yaml#/UUID
          type:
            type: string
            enum:
            - system
            - social
            - achievement
            - commerce
            - combat
            - guild
            description: Notification type
            example: achievement
          title:
            type: string
            maxLength: 100
            description: Notification title
            example: Achievement Unlocked!
          content:
            type: string
            maxLength: 1000
            description: Notification content
            example: You've earned the 'Night Runner' achievement!
          read:
            type: boolean
            description: Whether notification has been read
            example: false
          read_at:
            $ref: ../common-service/schemas/common.yaml#/Timestamp
          priority:
            type: string
            enum:
            - low
            - normal
            - high
            - critical
            description: Notification priority
            example: normal
          actions:
            type: array
            items:
              type: object
              properties:
                label:
                  type: string
                  maxLength: 50
                action:
                  type: string
                  maxLength: 200
          expires_at:
            $ref: ../common-service/schemas/common.yaml#/Timestamp
    SendNotificationRequest:
      type: object
      required:
      - recipients
      - type
      - title
      - content
      properties:
        recipients:
          oneOf:
          - type: array
            items:
              $ref: ../common-service/schemas/common.yaml#/UUID
          - type: string
            enum:
            - all
            - online
            - guild_members
        type:
          type: string
          enum:
          - system
          - social
          - achievement
          - commerce
          - combat
          - guild
          description: Notification type
        title:
          type: string
          minLength: 1
          maxLength: 100
          description: Notification title
        content:
          type: string
          minLength: 1
          maxLength: 1000
          description: Notification content
        priority:
          type: string
          enum:
          - low
          - normal
          - high
          - critical
          default: normal
        actions:
          type: array
          maxItems: 3
          items:
            type: object
            required:
            - label
            - action
            properties:
              label:
                type: string
                minLength: 1
                maxLength: 50
              action:
                type: string
                minLength: 1
                maxLength: 200
        expires_at:
          $ref: ../common-service/schemas/common.yaml#/Timestamp
        scheduled_for:
          $ref: ../common-service/schemas/common.yaml#/Timestamp
    NotificationQueuedResponse:
      type: object
      properties:
        notification_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        queued_at:
          $ref: ../common-service/schemas/common.yaml#/Timestamp
        estimated_delivery:
          $ref: ../common-service/schemas/common.yaml#/Timestamp
        recipient_count:
          type: integer
          description: Number of recipients
          example: 1500
    BulkMarkReadRequest:
      type: object
      required:
      - notification_ids
      properties:
        notification_ids:
          type: array
          items:
            $ref: ../common-service/schemas/common.yaml#/UUID
          minItems: 1
          maxItems: 100
          description: IDs of notifications to mark as read
    BulkOperationResponse:
      type: object
      properties:
        success_count:
          type: integer
          description: Number of successful operations
          example: 95
        failure_count:
          type: integer
          description: Number of failed operations
          example: 5
        failures:
          type: array
          items:
            type: object
            properties:
              id:
                $ref: ../common-service/schemas/common.yaml#/UUID
              error:
                type: string
                description: Error message
    NotificationSettingsResponse:
      type: object
      properties:
        user_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        settings:
          type: object
          properties:
            system_notifications:
              $ref: '#/components/schemas/NotificationTypeSettings'
            social_notifications:
              $ref: '#/components/schemas/NotificationTypeSettings'
            achievement_notifications:
              $ref: '#/components/schemas/NotificationTypeSettings'
            commerce_notifications:
              $ref: '#/components/schemas/NotificationTypeSettings'
            combat_notifications:
              $ref: '#/components/schemas/NotificationTypeSettings'
            guild_notifications:
              $ref: '#/components/schemas/NotificationTypeSettings'
        channels:
          type: object
          properties:
            in_game:
              type: boolean
              description: Enable in-game notifications
              example: true
            push:
              type: boolean
              description: Enable push notifications
              example: true
            email:
              type: boolean
              description: Enable email notifications
              example: false
    NotificationTypeSettings:
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether this notification type is enabled
          example: true
        priority_filter:
          type: string
          enum:
          - all
          - normal_and_above
          - high_and_above
          - critical_only
          description: Minimum priority level to show
          example: normal_and_above
    UpdateNotificationSettingsRequest:
      type: object
      properties:
        settings:
          $ref: '#/components/schemas/NotificationSettingsResponse/properties/settings'
        channels:
          $ref: '#/components/schemas/NotificationSettingsResponse/properties/channels'
    VoiceChannelResponse:
      type: object
      allOf:
      - $ref: ../common-service/schemas/common.yaml#/BaseEntity
      - type: object
        required:
        - name
        - type
        - max_participants
        properties:
          name:
            type: string
            maxLength: 50
            description: Channel name
            example: Guild Voice
          type:
            type: string
            enum:
            - lobby
            - guild
            - party
            - private
            description: Channel type
            example: guild
          description:
            type: string
            maxLength: 200
            description: Channel description
          guild_id:
            $ref: ../common-service/schemas/common.yaml#/UUID
          owner_id:
            $ref: ../common-service/schemas/common.yaml#/UUID
          max_participants:
            type: integer
            minimum: 2
            maximum: 100
            description: Maximum participants
            example: 10
          current_participants:
            type: integer
            description: Current participant count
            example: 3
          is_temporary:
            type: boolean
            description: Whether channel is temporary
            example: false
          bitrate:
            type: integer
            minimum: 8000
            maximum: 128000
            description: Audio bitrate in bps
            example: 64000
          region:
            type: string
            description: Geographic region for latency optimization
            example: us-east
          participants:
            type: array
            items:
              $ref: '#/components/schemas/VoiceParticipantResponse'
    CreateVoiceChannelRequest:
      type: object
      required:
      - name
      - type
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 50
          description: Channel name
        type:
          type: string
          enum:
          - guild
          - party
          - private
          description: Channel type
        description:
          type: string
          maxLength: 200
          description: Channel description
        guild_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        max_participants:
          type: integer
          minimum: 2
          maximum: 100
          default: 10
        bitrate:
          type: integer
          minimum: 8000
          maximum: 128000
          default: 64000
        is_temporary:
          type: boolean
          default: false
    UpdateVoiceChannelRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 50
        description:
          type: string
          maxLength: 200
        max_participants:
          type: integer
          minimum: 2
          maximum: 100
        bitrate:
          type: integer
          minimum: 8000
          maximum: 128000
    JoinVoiceChannelRequest:
      type: object
      properties:
        mute_on_join:
          type: boolean
          description: Whether to join muted
          default: false
        deafen_on_join:
          type: boolean
          description: Whether to join deafened
          default: false
    VoiceChannelConnectionResponse:
      type: object
      properties:
        channel_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        token:
          type: string
          description: Connection token for WebRTC
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        rtc_configuration:
          type: object
          description: WebRTC configuration
          properties:
            ice_servers:
              type: array
              items:
                type: object
                properties:
                  urls:
                    type: array
                    items:
                      type: string
                  username:
                    type: string
                  credential:
                    type: string
        region:
          type: string
          description: Optimal region for connection
          example: us-east
    VoiceParticipantResponse:
      type: object
      properties:
        user_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        username:
          type: string
          description: Display name
          example: Night Runner
        joined_at:
          $ref: ../common-service/schemas/common.yaml#/Timestamp
        is_muted:
          type: boolean
          description: Whether participant is muted
          example: false
        is_deafened:
          type: boolean
          description: Whether participant is deafened
          example: false
        is_speaking:
          type: boolean
          description: Whether participant is currently speaking
          example: true
        volume_level:
          type: number
          minimum: 0
          maximum: 1
          description: Participant volume level
          example: 0.8
    ModerationReportResponse:
      type: object
      allOf:
      - $ref: ../common-service/schemas/common.yaml#/BaseEntity
      - type: object
        required:
        - reporter_id
        - reported_content_type
        - reported_content_id
        - reason
        - status
        properties:
          reporter_id:
            $ref: ../common-service/schemas/common.yaml#/UUID
          reported_user_id:
            $ref: ../common-service/schemas/common.yaml#/UUID
          reported_content_type:
            type: string
            enum:
            - user
            - message
            - channel
            - guild
            description: Type of reported content
            example: message
          reported_content_id:
            $ref: ../common-service/schemas/common.yaml#/UUID
          reason:
            type: string
            enum:
            - harassment
            - spam
            - inappropriate_content
            - cheating
            - griefing
            - other
            description: Report reason
            example: harassment
          description:
            type: string
            maxLength: 1000
            description: Detailed description of the issue
          status:
            type: string
            enum:
            - pending
            - investigating
            - resolved
            - dismissed
            description: Report status
            example: pending
          priority:
            type: string
            enum:
            - low
            - medium
            - high
            - critical
            description: Report priority
            example: medium
          assigned_moderator_id:
            $ref: ../common-service/schemas/common.yaml#/UUID
          resolution:
            type: string
            maxLength: 500
            description: Resolution notes
          resolved_at:
            $ref: ../common-service/schemas/common.yaml#/Timestamp
          evidence_urls:
            type: array
            items:
              type: string
              format: uri
            description: URLs to evidence screenshots/logs
    CreateModerationReportRequest:
      type: object
      required:
      - reported_content_type
      - reported_content_id
      - reason
      properties:
        reported_user_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        reported_content_type:
          type: string
          enum:
          - user
          - message
          - channel
          - guild
          description: Type of reported content
        reported_content_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        reason:
          type: string
          enum:
          - harassment
          - spam
          - inappropriate_content
          - cheating
          - griefing
          - other
          description: Report reason
        description:
          type: string
          minLength: 10
          maxLength: 1000
          description: Detailed description
        evidence_urls:
          type: array
          items:
            type: string
            format: uri
          maxItems: 5
          description: URLs to evidence
    UpdateModerationReportRequest:
      type: object
      properties:
        status:
          type: string
          enum:
          - investigating
          - resolved
          - dismissed
        priority:
          type: string
          enum:
          - low
          - medium
          - high
          - critical
        assigned_moderator_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        resolution:
          type: string
          maxLength: 500
          description: Resolution notes
    ExecuteModerationActionRequest:
      type: object
      required:
      - report_id
      - action_type
      properties:
        report_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        action_type:
          type: string
          enum:
          - warn
          - mute
          - ban
          - delete_content
          - suspend_account
          description: Type of moderation action
        duration:
          type: integer
          description: Duration in minutes (for temporary actions)
          minimum: 1
          maximum: 525600
        reason:
          type: string
          minLength: 10
          maxLength: 500
          description: Reason for the action
    ModerationActionResponse:
      type: object
      properties:
        action_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        report_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        action_type:
          type: string
          enum:
          - warn
          - mute
          - ban
          - delete_content
          - suspend_account
        target_user_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        executed_by:
          $ref: ../common-service/schemas/common.yaml#/UUID
        executed_at:
          $ref: ../common-service/schemas/common.yaml#/Timestamp
        duration:
          type: integer
          description: Duration in minutes
        expires_at:
          $ref: ../common-service/schemas/common.yaml#/Timestamp
  securitySchemes:
    BearerAuth:
      $ref: ../common-service/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common-service/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common-service/security/security.yaml#/ServiceAuth
