openapi: 3.0.3
info:
  title: Communication Service API - Enterprise-Grade Social Domain Service
  description: '**Enterprise-Grade Communication API for NECPGAME Social Domain**

    This API manages all player communication systems including chat, notifications,
    voice channels, and moderation in the cyberpunk MMOFPS RPG.

    ## Key Features

    - **Chat System**: Multi-channel text communication with rich formatting - **Notifications**:
    Real-time in-game and external notifications - **Voice Channels**: Spatial audio
    communication in lobbies and parties - **Moderation**: Content moderation and
    community management - **Performance Optimized**: MMOFPS-grade performance with
    <50ms P99 latency

    ## Domain Purpose

    The Communication domain handles all aspects of player-to-player and system-to-player
    communication in Night City. Players chat, receive notifications, join voice channels,
    and participate in moderated community interactions.

    ## Performance Targets

    - P99 Latency: <50ms for chat operations, <10ms for notifications - Memory: <50KB
    per active user session - Concurrent users: 100,000+ simultaneous communications
    - WebSocket connections: 50,000+ concurrent voice channels

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/communication
  description: Production server
- url: https://staging-api.necpgame.com/v1/communication
  description: Staging server
- url: http://localhost:8080/api/v1/communication
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Chat
  description: Text communication and messaging
- name: Notifications
  description: In-game and external notifications
- name: Voice Channels
  description: Voice communication and lobbies
- name: Moderation
  description: Content moderation and community management
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /chat/channels:
    $ref: ./paths/chat-channels.yaml#/paths/~1chat~1channels
  /chat/channels/{channelId}:
    $ref: ./paths/chat-channels-{channelId}.yaml#/paths/~1chat~1channels~1{channelId}
  /chat/channels/{channelId}/messages:
    $ref: ./paths/chat-channels-{channelId}-messages.yaml#/paths/~1chat~1channels~1{channelId}~1messages
  /chat/messages/{messageId}:
    $ref: ./paths/chat-messages-{messageId}.yaml#/paths/~1chat~1messages~1{messageId}
  /chat/messages/{messageId}/reactions:
    $ref: ./paths/chat-messages-{messageId}-reactions.yaml#/paths/~1chat~1messages~1{messageId}~1reactions
  /notifications:
    $ref: ./paths/notifications.yaml#/paths/~1notifications
  /notifications/{notificationId}:
    $ref: ./paths/notifications-{notificationId}.yaml#/paths/~1notifications~1{notificationId}
  /notifications/bulk/mark-read:
    $ref: ./paths/notifications-bulk-mark-read.yaml#/paths/~1notifications~1bulk~1mark-read
  /notifications/settings:
    $ref: ./paths/notifications-settings.yaml#/paths/~1notifications~1settings
  /voice/channels:
    $ref: ./paths/voice-channels.yaml#/paths/~1voice~1channels
  /voice/channels/{channelId}:
    $ref: ./paths/voice-channels-{channelId}.yaml#/paths/~1voice~1channels~1{channelId}
  /voice/channels/{channelId}/join:
    $ref: ./paths/voice-channels-{channelId}-join.yaml#/paths/~1voice~1channels~1{channelId}~1join
  /voice/channels/{channelId}/leave:
    $ref: ./paths/voice-channels-{channelId}-leave.yaml#/paths/~1voice~1channels~1{channelId}~1leave
  /voice/channels/{channelId}/participants:
    $ref: ./paths/voice-channels-{channelId}-participants.yaml#/paths/~1voice~1channels~1{channelId}~1participants
  /moderation/reports:
    $ref: ./paths/moderation-reports.yaml#/paths/~1moderation~1reports
  /moderation/reports/{reportId}:
    $ref: ./paths/moderation-reports-{reportId}.yaml#/paths/~1moderation~1reports~1{reportId}
  /moderation/actions:
    $ref: ./paths/moderation-actions.yaml#/paths/~1moderation~1actions
components:
  schemas:
    BaseEntity:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/BaseEntity
    ChatChannelResponse:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/ChatChannelResponse
    CreateChatChannelRequest:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/CreateChatChannelRequest
    UpdateChatChannelRequest:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/UpdateChatChannelRequest
    ChatMessageResponse:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/ChatMessageResponse
    SendChatMessageRequest:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/SendChatMessageRequest
    EditChatMessageRequest:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/EditChatMessageRequest
    AddReactionRequest:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/AddReactionRequest
    MessageReactionResponse:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/MessageReactionResponse
    NotificationResponse:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/NotificationResponse
    SendNotificationRequest:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/SendNotificationRequest
    NotificationQueuedResponse:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/NotificationQueuedResponse
    BulkMarkReadRequest:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/BulkMarkReadRequest
    BulkOperationResponse:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/BulkOperationResponse
    NotificationSettingsResponse:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/NotificationSettingsResponse
    NotificationTypeSettings:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/NotificationTypeSettings
    UpdateNotificationSettingsRequest:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/UpdateNotificationSettingsRequest
    VoiceChannelResponse:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/VoiceChannelResponse
    CreateVoiceChannelRequest:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/CreateVoiceChannelRequest
    UpdateVoiceChannelRequest:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/UpdateVoiceChannelRequest
    JoinVoiceChannelRequest:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/JoinVoiceChannelRequest
    VoiceChannelConnectionResponse:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/VoiceChannelConnectionResponse
    VoiceParticipantResponse:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/VoiceParticipantResponse
    ModerationReportResponse:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/ModerationReportResponse
    CreateModerationReportRequest:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/CreateModerationReportRequest
    UpdateModerationReportRequest:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/UpdateModerationReportRequest
    ExecuteModerationActionRequest:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/ExecuteModerationActionRequest
    ModerationActionResponse:
      $ref: ./schemas/communication-service-schemas.yaml#/components/schemas/ModerationActionResponse
  responses:
    OK:
      $ref: ./schemas/communication-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/communication-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/communication-service-responses.yaml#/components/responses/Updated
    Deleted:
      $ref: ./schemas/communication-service-responses.yaml#/components/responses/Deleted
    BadRequest:
      $ref: ./schemas/communication-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/communication-service-responses.yaml#/components/responses/Unauthorized
    Forbidden:
      $ref: ./schemas/communication-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/communication-service-responses.yaml#/components/responses/NotFound
    TooManyRequests:
      $ref: ./schemas/communication-service-responses.yaml#/components/responses/TooManyRequests
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
