openapi: 3.0.3
info:
  title: Logistics API
  version: 1.0.0
  description: |
    API для системы логистики и доставки.
    
    Функционал:
    - Transportation (5 типов транспорта)
    - Routes (local, regional, global)
    - Shipment tracking
    - Risk management (ambush, weather, mechanical, accidents)
    - Cargo insurance (3 plans)
    - Convoy & escort
    - Delivery speed
    - Cargo management (weight, volume)
    - Real-time tracking
    
    Типы транспорта:
    - ON_FOOT (пешком) - дешево, медленно, малый груз
    - MOTORCYCLE - быстро, средний риск
    - CAR - balanced
    - TRUCK - большой груз, медленно
    - AERODYNE - быстро, дорого, низкий риск
    
    Источник: .BRAIN/02-gameplay/economy/economy-logistics.md v1.0.0

  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Shipments
    description: Доставки
  - name: Routes
    description: Маршруты
  - name: Insurance
    description: Страхование
  - name: Vehicles
    description: Транспорт

paths:
  /gameplay/economy/logistics/shipments:
    post:
      summary: Создать доставку
      operationId: createShipment
      tags: [Shipments]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShipmentRequest'
      responses:
        '201':
          description: Доставка создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipment'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/economy/logistics/shipments/{shipment_id}:
    get:
      summary: Получить статус доставки
      operationId: getShipment
      tags: [Shipments]
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Статус доставки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentDetailed'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /gameplay/economy/logistics/shipments/character/{character_id}:
    get:
      summary: Получить доставки персонажа
      operationId: getCharacterShipments
      tags: [Shipments]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, IN_TRANSIT, DELIVERED, FAILED, CANCELLED]
      responses:
        '200':
          description: Доставки персонажа
          content:
            application/json:
              schema:
                type: object
                properties:
                  shipments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Shipment'

  /gameplay/economy/logistics/routes:
    get:
      summary: Получить доступные маршруты
      operationId: getRoutes
      tags: [Routes]
      parameters:
        - name: origin
          in: query
          required: true
          schema:
            type: string
        - name: destination
          in: query
          required: true
          schema:
            type: string
        - name: vehicle_type
          in: query
          schema:
            type: string
            enum: [ON_FOOT, MOTORCYCLE, CAR, TRUCK, AERODYNE]
      responses:
        '200':
          description: Доступные маршруты
          content:
            application/json:
              schema:
                type: object
                properties:
                  routes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Route'

  /gameplay/economy/logistics/routes/{route_id}:
    get:
      summary: Получить детали маршрута
      operationId: getRoute
      tags: [Routes]
      parameters:
        - name: route_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Детали маршрута
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteDetailed'

  /gameplay/economy/logistics/insurance:
    post:
      summary: Купить страховку для груза
      operationId: purchaseInsurance
      tags: [Insurance]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceRequest'
      responses:
        '200':
          description: Страховка куплена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Insurance'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/economy/logistics/insurance/plans:
    get:
      summary: Получить доступные планы страхования
      operationId: getInsurancePlans
      tags: [Insurance]
      responses:
        '200':
          description: Планы страхования
          content:
            application/json:
              schema:
                type: object
                properties:
                  plans:
                    type: array
                    items:
                      $ref: '#/components/schemas/InsurancePlan'

  /gameplay/economy/logistics/vehicles:
    get:
      summary: Получить доступные транспортные средства
      operationId: getVehicles
      tags: [Vehicles]
      responses:
        '200':
          description: Транспортные средства
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vehicle'

  /gameplay/economy/logistics/convoy/create:
    post:
      summary: Создать конвой
      operationId: createConvoy
      tags: [Shipments]
      description: Совместная доставка с другими игроками
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConvoyRequest'
      responses:
        '201':
          description: Конвой создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Convoy'

  /gameplay/economy/logistics/escort/request:
    post:
      summary: Запросить эскорт для доставки
      operationId: requestEscort
      tags: [Shipments]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipment_id:
                  type: string
                  format: uuid
                escort_type:
                  type: string
                  enum: [NPC, PLAYER]
                payment:
                  type: integer
      responses:
        '200':
          description: Эскорт запрошен

components:
  schemas:
    CreateShipmentRequest:
      type: object
      required:
        - character_id
        - origin
        - destination
        - cargo
        - vehicle_type
      properties:
        character_id:
          type: string
          format: uuid
        origin:
          type: string
        destination:
          type: string
        cargo:
          type: array
          items:
            $ref: '#/components/schemas/CargoItem'
        vehicle_type:
          type: string
          enum: [ON_FOOT, MOTORCYCLE, CAR, TRUCK, AERODYNE]
        route_id:
          type: string
          nullable: true
        insurance_plan:
          type: string
          enum: [NONE, BASIC, STANDARD, PREMIUM]
          default: NONE
        priority:
          type: string
          enum: [NORMAL, EXPRESS]
          default: NORMAL

    Shipment:
      type: object
      properties:
        shipment_id:
          type: string
          format: uuid
        character_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [PENDING, IN_TRANSIT, DELIVERED, FAILED, CANCELLED]
        origin:
          type: string
        destination:
          type: string
        vehicle_type:
          type: string
        estimated_delivery:
          type: string
          format: date-time
        actual_delivery:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time

    ShipmentDetailed:
      allOf:
        - $ref: '#/components/schemas/Shipment'
        - type: object
          properties:
            cargo:
              type: array
              items:
                $ref: '#/components/schemas/CargoItem'
            route:
              $ref: '#/components/schemas/Route'
            current_location:
              type: string
              nullable: true
            progress_percentage:
              type: number
              format: float
            insurance:
              $ref: '#/components/schemas/Insurance'
              nullable: true
            incidents:
              type: array
              items:
                $ref: '#/components/schemas/Incident'
            tracking_history:
              type: array
              items:
                type: object
                properties:
                  location:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
                  event:
                    type: string

    CargoItem:
      type: object
      properties:
        item_id:
          type: string
          format: uuid
        quantity:
          type: integer
        weight:
          type: number
          format: float
          description: Вес в кг
        volume:
          type: number
          format: float
          description: Объем в м³
        value:
          type: integer
          description: Стоимость для страховки
        fragile:
          type: boolean

    Route:
      type: object
      properties:
        route_id:
          type: string
        name:
          type: string
        origin:
          type: string
        destination:
          type: string
        distance_km:
          type: number
        estimated_time_hours:
          type: number
        vehicle_types:
          type: array
          items:
            type: string
        risk_level:
          type: string
          enum: [LOW, MEDIUM, HIGH, EXTREME]
        cost_multiplier:
          type: number
          format: float

    RouteDetailed:
      allOf:
        - $ref: '#/components/schemas/Route'
        - type: object
          properties:
            waypoints:
              type: array
              items:
                type: string
            risks:
              type: array
              items:
                $ref: '#/components/schemas/RouteRisk'
            road_conditions:
              type: string
            weather_forecast:
              type: string

    RouteRisk:
      type: object
      properties:
        risk_type:
          type: string
          enum: [AMBUSH, WEATHER, MECHANICAL, ACCIDENT, CHECKPOINT]
        probability:
          type: number
          format: float
        severity:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
        description:
          type: string

    Insurance:
      type: object
      properties:
        insurance_id:
          type: string
          format: uuid
        plan:
          type: string
          enum: [BASIC, STANDARD, PREMIUM]
        coverage_percentage:
          type: integer
          example: 50
        max_coverage:
          type: integer
        cost:
          type: integer
        shipment_id:
          type: string
          format: uuid

    InsurancePlan:
      type: object
      properties:
        plan:
          type: string
          enum: [BASIC, STANDARD, PREMIUM]
        coverage_percentage:
          type: integer
        max_coverage:
          type: integer
        cost_percentage:
          type: number
          format: float
          description: Процент от стоимости груза
        description:
          type: string

    Vehicle:
      type: object
      properties:
        type:
          type: string
          enum: [ON_FOOT, MOTORCYCLE, CAR, TRUCK, AERODYNE]
        name:
          type: string
        speed_multiplier:
          type: number
        capacity_weight:
          type: number
        capacity_volume:
          type: number
        risk_modifier:
          type: number
          description: Модификатор риска
        cost_multiplier:
          type: number

    Incident:
      type: object
      properties:
        incident_id:
          type: string
          format: uuid
        type:
          type: string
          enum: [AMBUSH, WEATHER_DELAY, MECHANICAL_FAILURE, ACCIDENT, THEFT]
        severity:
          type: string
        description:
          type: string
        resolved:
          type: boolean
        cargo_lost:
          type: array
          items:
            type: object
            properties:
              item_id:
                type: string
              quantity:
                type: integer
        insurance_claim:
          type: boolean
        occurred_at:
          type: string
          format: date-time

    CreateConvoyRequest:
      type: object
      properties:
        leader_character_id:
          type: string
          format: uuid
        shipments:
          type: array
          items:
            type: string
            format: uuid
        max_members:
          type: integer
          default: 4

    Convoy:
      type: object
      properties:
        convoy_id:
          type: string
          format: uuid
        leader_id:
          type: string
          format: uuid
        members:
          type: array
          items:
            type: string
            format: uuid
        shipments:
          type: array
          items:
            type: string
            format: uuid
        status:
          type: string
        risk_reduction:
          type: number
          description: Снижение риска в конвое

    InsuranceRequest:
      type: object
      required:
        - shipment_id
        - plan
      properties:
        shipment_id:
          type: string
          format: uuid
        plan:
          type: string
          enum: [BASIC, STANDARD, PREMIUM]

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

