openapi: 3.0.3
info:
  title: Economy Contracts and Deals Service API
  description: |
    Полная система контрактов и сделок для NECPGAME.
    Безопасные P2P сделки с эскроу, арбитражем и полным жизненным циклом контрактов.

    **BACKEND NOTE**: Enterprise-grade контрактная система для MMOFPS RPG.
    Использует state machine, distributed locks и comprehensive audit trails.

    **PERFORMANCE**: Ожидаемая нагрузка - 1000+ TPS в пиковые моменты.
    Время отклика < 50ms для основных операций (создание контрактов, эскроу).

    **FEATURES**:
    - 4 типа контрактов (обмен, доставка, крафт, сервисы)
    - Полный жизненный цикл с 7 состояниями
    - Эскроу система с автоматическими блокировками
    - AI-модерируемый арбитраж и разрешение споров
    - Интеграции с инвентарем, кошельками, репутацией
    - Комплексная система безопасности и KYC
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: Backend Team
    email: backend@necp.game

servers:
  - url: https://api.necpgame.com/v1/economy/contracts
    description: Production server
  - url: https://staging-api.necpgame.com/v1/economy/contracts
    description: Staging server
  - url: http://localhost:8410/api/v1/economy/contracts
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: contracts
    description: Управление контрактами и сделками
  - name: contract-lifecycle
    description: Жизненный цикл контрактов
  - name: escrow
    description: Эскроу и залоги
  - name: arbitration
    description: Арбитраж и споры
  - name: contract-negotiation
    description: Переговоры и модификации контрактов
  - name: contract-monitoring
    description: Мониторинг и аналитика контрактов

paths:
  # Основные контракты
  /api/v1/economy/contracts:
    get:
      summary: Получить список контрактов
      operationId: getContracts
      tags:
        - contracts
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, negotiation, escrow_pending, active, completed, cancelled, disputed]
          description: Фильтр по статусу
        - name: type
          in: query
          schema:
            type: string
            enum: [exchange, delivery, crafting, service]
          description: Фильтр по типу контракта
        - name: participant
          in: query
          schema:
            type: string
            format: uuid
          description: Фильтр по участнику (свои контракты)
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Список контрактов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Создать новый контракт
      operationId: createContract
      tags:
        - contracts
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractRequest'
      responses:
        '201':
          description: Контракт создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Превышены лимиты контрактов
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Конкретный контракт
  /api/v1/economy/contracts/{contract_id}:
    get:
      summary: Получить детали контракта
      operationId: getContract
      tags:
        - contracts
      security:
        - BearerAuth: []
      parameters:
        - name: contract_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Детали контракта
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDetail'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      summary: Обновить контракт (переговоры)
      operationId: updateContract
      tags:
        - contract-negotiation
      security:
        - BearerAuth: []
      parameters:
        - name: contract_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContractRequest'
      responses:
        '200':
          description: Контракт обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Контракт нельзя изменить в текущем состоянии
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Жизненный цикл контракта
  /api/v1/economy/contracts/{contract_id}/lifecycle/{action}:
    post:
      summary: Выполнить действие жизненного цикла
      operationId: executeContractLifecycleAction
      tags:
        - contract-lifecycle
      security:
        - BearerAuth: []
      parameters:
        - name: contract_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: action
          in: path
          required: true
          schema:
            type: string
            enum: [accept, reject, deposit_escrow, confirm_delivery, complete, cancel, dispute]
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LifecycleActionRequest'
      responses:
        '200':
          description: Действие выполнено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LifecycleActionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Недопустимое действие для текущего статуса
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Эскроу система
  /api/v1/economy/contracts/{contract_id}/escrow:
    get:
      summary: Получить статус эскроу
      operationId: getEscrowStatus
      tags:
        - escrow
      security:
        - BearerAuth: []
      parameters:
        - name: contract_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Статус эскроу
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EscrowStatus'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Внести средства/предметы в эскроу
      operationId: depositToEscrow
      tags:
        - escrow
      security:
        - BearerAuth: []
      parameters:
        - name: contract_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EscrowDepositRequest'
      responses:
        '200':
          description: Средства внесены в эскроу
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EscrowDepositResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Эскроу уже полностью заполнен
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Арбитраж и споры
  /api/v1/economy/contracts/{contract_id}/dispute:
    post:
      summary: Открыть спор по контракту
      operationId: openContractDispute
      tags:
        - arbitration
      security:
        - BearerAuth: []
      parameters:
        - name: contract_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenDisputeRequest'
      responses:
        '201':
          description: Спор открыт
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Спор уже открыт или контракт нельзя оспорить
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/economy/contracts/disputes/{dispute_id}:
    get:
      summary: Получить детали спора
      operationId: getDispute
      tags:
        - arbitration
      security:
        - BearerAuth: []
      parameters:
        - name: dispute_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Детали спора
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputeDetail'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Добавить доказательство к спору
      operationId: addDisputeEvidence
      tags:
        - arbitration
      security:
        - BearerAuth: []
      parameters:
        - name: dispute_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddEvidenceRequest'
      responses:
        '200':
          description: Доказательство добавлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddEvidenceResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Спор уже разрешен
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/economy/contracts/disputes/{dispute_id}/resolve:
    post:
      summary: Разрешить спор (арбитраж)
      operationId: resolveDispute
      tags:
        - arbitration
      security:
        - BearerAuth: []
      parameters:
        - name: dispute_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveDisputeRequest'
      responses:
        '200':
          description: Спор разрешен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolveDisputeResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Спор нельзя разрешить в текущем состоянии
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Мониторинг контрактов
  /api/v1/economy/contracts/{contract_id}/timeline:
    get:
      summary: Получить таймлайн контракта
      operationId: getContractTimeline
      tags:
        - contract-monitoring
      security:
        - BearerAuth: []
      parameters:
        - name: contract_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Таймлайн контракта
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractTimeline'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/economy/contracts/analytics:
    get:
      summary: Получить аналитику по контрактам
      operationId: getContractsAnalytics
      tags:
        - contract-monitoring
      security:
        - BearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d, 1y]
            default: 30d
        - name: type
          in: query
          schema:
            type: string
            enum: [exchange, delivery, crafting, service]
        - name: status
          in: query
          schema:
            type: string
            enum: [completed, disputed, cancelled]
      responses:
        '200':
          description: Аналитика контрактов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractsAnalytics'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    BadRequest:
      description: Неверный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Не авторизован
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Доступ запрещен
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Конфликт состояния
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    # Общие схемы
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: INVALID_REQUEST
        message:
          type: string
          example: Неверные параметры запроса
        details:
          type: object
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Контракты
    Contract:
      type: object
      required:
        - id
        - type
        - status
        - participants
        - terms
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Уникальный ID контракта
        type:
          type: string
          enum: [exchange, delivery, crafting, service]
          description: Тип контракта
        status:
          type: string
          enum: [draft, negotiation, escrow_pending, active, completed, cancelled, disputed]
          description: Текущий статус
        participants:
          type: array
          items:
            $ref: '#/components/schemas/ContractParticipant'
          minItems: 2
          maxItems: 2
          description: Участники контракта
        terms:
          $ref: '#/components/schemas/ContractTerms'
        escrow:
          $ref: '#/components/schemas/EscrowInfo'
        deadline:
          type: string
          format: date-time
          description: Дедлайн выполнения
        dispute_deadline:
          type: string
          format: date-time
          description: Дедлайн для открытия спора
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ContractParticipant:
      type: object
      required:
        - player_id
        - role
      properties:
        player_id:
          type: string
          format: uuid
        role:
          type: string
          enum: [buyer, seller, contractor, client]
          description: Роль в контракте
        confirmed_at:
          type: string
          format: date-time
          description: Время подтверждения участия
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ContractTerms:
      type: object
      properties:
        description:
          type: string
          maxLength: 1000
          description: Описание контракта
        deliverables:
          type: array
          items:
            $ref: '#/components/schemas/Deliverable'
          description: Что должно быть доставлено
        payment:
          $ref: '#/components/schemas/PaymentTerms'
        penalties:
          $ref: '#/components/schemas/PenaltyTerms'
        special_conditions:
          type: array
          items:
            type: string
          description: Специальные условия
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    Deliverable:
      type: object
      required:
        - type
        - description
      properties:
        type:
          type: string
          enum: [item, service, crafting_result, delivery]
        description:
          type: string
        quantity:
          type: integer
          minimum: 1
        quality_requirements:
          type: object
          description: Требования к качеству
        delivery_location:
          $ref: '#/components/schemas/Location'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    PaymentTerms:
      type: object
      required:
        - amount
        - currency
      properties:
        amount:
          type: number
          format: float
          minimum: 0
        currency:
          type: string
          enum: [eddies, bitcoins, corporate_script]
        payment_schedule:
          type: array
          items:
            $ref: '#/components/schemas/PaymentMilestone'
          description: График платежей
        escrow_required:
          type: boolean
          default: true
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    PaymentMilestone:
      type: object
      required:
        - percentage
        - trigger
      properties:
        percentage:
          type: number
          format: float
          minimum: 0
          maximum: 100
        trigger:
          type: string
          enum: [contract_signed, delivery_started, delivery_completed, quality_verified]
        amount:
          type: number
          format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    PenaltyTerms:
      type: object
      properties:
        late_delivery_penalty:
          type: number
          format: float
          minimum: 0
          description: Штраф за просрочку (% от суммы)
        quality_penalty:
          type: number
          format: float
          minimum: 0
          description: Штраф за низкое качество (% от суммы)
        breach_penalty:
          type: number
          format: float
          minimum: 0
          description: Штраф за нарушение условий (% от суммы)
        max_penalty_cap:
          type: number
          format: float
          minimum: 0
          description: Максимальный штраф
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    Location:
      type: object
      required:
        - x
        - y
        - z
      properties:
        x:
          type: number
          format: float
        y:
          type: number
          format: float
        z:
          type: number
          format: float
        zone:
          type: string
          description: Название зоны
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    EscrowInfo:
      type: object
      properties:
        total_amount:
          type: number
          format: float
          description: Общая сумма в эскроу
        deposited_by_buyer:
          type: number
          format: float
          description: Внесено покупателем
        deposited_by_seller:
          type: number
          format: float
          description: Внесено продавцом
        collateral_held:
          type: number
          format: float
          description: Удержанный залог
        status:
          type: string
          enum: [pending, partial, complete, released, disputed]
        release_conditions:
          type: array
          items:
            type: string
          description: Условия освобождения средств
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Ответы API
    ContractsResponse:
      type: object
      required:
        - contracts
        - total
        - pagination
      properties:
        contracts:
          type: array
          items:
            $ref: '#/components/schemas/Contract'
        total:
          type: integer
          minimum: 0
        pagination:
          $ref: '#/components/schemas/PaginationInfo'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    PaginationInfo:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
        page_size:
          type: integer
          minimum: 1
        total_pages:
          type: integer
          minimum: 0
        has_next:
          type: boolean
        has_prev:
          type: boolean
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ContractDetail:
      type: object
      required:
        - contract
        - timeline
        - participants_details
      properties:
        contract:
          $ref: '#/components/schemas/Contract'
        timeline:
          type: array
          items:
            $ref: '#/components/schemas/TimelineEntry'
        participants_details:
          type: array
          items:
            $ref: '#/components/schemas/ParticipantDetail'
        dispute_info:
          $ref: '#/components/schemas/DisputeInfo'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    TimelineEntry:
      type: object
      required:
        - timestamp
        - action
        - actor
      properties:
        timestamp:
          type: string
          format: date-time
        action:
          type: string
          description: Действие (создание, подтверждение, оплата и т.д.)
        actor:
          type: string
          format: uuid
          description: ID актора
        details:
          type: object
          description: Детали действия
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ParticipantDetail:
      type: object
      required:
        - player_id
        - reputation_score
        - completed_contracts
      properties:
        player_id:
          type: string
          format: uuid
        reputation_score:
          type: number
          format: float
          minimum: 0
          maximum: 100
        completed_contracts:
          type: integer
          minimum: 0
        disputed_contracts:
          type: integer
          minimum: 0
        level:
          type: integer
          minimum: 1
        kyc_verified:
          type: boolean
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Создание и обновление контрактов
    CreateContractRequest:
      type: object
      required:
        - type
        - counterparty_id
        - terms
      properties:
        type:
          type: string
          enum: [exchange, delivery, crafting, service]
        counterparty_id:
          type: string
          format: uuid
          description: ID контрагента
        terms:
          $ref: '#/components/schemas/ContractTerms'
        initial_offer:
          type: object
          description: Первоначальное предложение
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    UpdateContractRequest:
      type: object
      properties:
        terms:
          $ref: '#/components/schemas/ContractTerms'
        message:
          type: string
          maxLength: 500
          description: Сообщение контрагенту
        counter_offer:
          type: object
          description: Контрпредложение
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Жизненный цикл
    LifecycleActionRequest:
      type: object
      properties:
        reason:
          type: string
          maxLength: 500
          description: Причина действия
        evidence:
          type: array
          items:
            type: string
          description: Доказательства выполнения
        delivery_proof:
          type: object
          description: Доказательство доставки
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    LifecycleActionResult:
      type: object
      required:
        - success
        - new_status
        - timestamp
      properties:
        success:
          type: boolean
        new_status:
          type: string
          enum: [draft, negotiation, escrow_pending, active, completed, cancelled, disputed]
        timestamp:
          type: string
          format: date-time
        message:
          type: string
        side_effects:
          type: array
          items:
            type: string
          description: Побочные эффекты (уведомления, репутация и т.д.)
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Эскроу
    EscrowStatus:
      type: object
      required:
        - contract_id
        - status
        - deposits
      properties:
        contract_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, partial, complete, released, disputed]
        deposits:
          type: array
          items:
            $ref: '#/components/schemas/EscrowDeposit'
        total_required:
          type: number
          format: float
        total_deposited:
          type: number
          format: float
        can_release:
          type: boolean
        release_blockers:
          type: array
          items:
            type: string
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    EscrowDeposit:
      type: object
      required:
        - participant_id
        - amount
        - timestamp
      properties:
        participant_id:
          type: string
          format: uuid
        amount:
          type: number
          format: float
        currency:
          type: string
          enum: [eddies, bitcoins, corporate_script]
        items:
          type: array
          items:
            $ref: '#/components/schemas/EscrowItem'
        timestamp:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    EscrowItem:
      type: object
      required:
        - item_id
        - quantity
      properties:
        item_id:
          type: string
          format: uuid
        quantity:
          type: integer
          minimum: 1
        quality:
          type: string
          enum: [common, uncommon, rare, epic, legendary]
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    EscrowDepositRequest:
      type: object
      required:
        - deposit_type
      properties:
        deposit_type:
          type: string
          enum: [currency, items, both]
        currency_amount:
          type: number
          format: float
          minimum: 0
        currency_type:
          type: string
          enum: [eddies, bitcoins, corporate_script]
        items:
          type: array
          items:
            $ref: '#/components/schemas/EscrowItem'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    EscrowDepositResult:
      type: object
      required:
        - success
        - deposited_at
      properties:
        success:
          type: boolean
        deposited_at:
          type: string
          format: date-time
        deposit_id:
          type: string
          format: uuid
        escrow_status:
          $ref: '#/components/schemas/EscrowStatus'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Арбитраж и споры
    Dispute:
      type: object
      required:
        - id
        - contract_id
        - initiator_id
        - reason
        - status
        - created_at
      properties:
        id:
          type: string
          format: uuid
        contract_id:
          type: string
          format: uuid
        initiator_id:
          type: string
          format: uuid
        reason:
          type: string
          maxLength: 1000
        status:
          type: string
          enum: [open, evidence_collection, ai_review, human_review, resolved, closed]
        ai_verdict:
          $ref: '#/components/schemas/AIVerdict'
        final_resolution:
          $ref: '#/components/schemas/DisputeResolution'
        created_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    AIVerdict:
      type: object
      required:
        - confidence
        - recommended_resolution
      properties:
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
        recommended_resolution:
          $ref: '#/components/schemas/DisputeResolution'
        reasoning:
          type: string
        evidence_strength:
          type: object
          description: Оценка силы доказательств
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    DisputeResolution:
      type: object
      required:
        - winner
        - escrow_distribution
      properties:
        winner:
          type: string
          format: uuid
          description: ID победителя спора
        escrow_distribution:
          type: object
          description: Распределение эскроу средств
        penalties:
          type: object
          description: Штрафы и санкции
        reputation_changes:
          type: object
          description: Изменения репутации
        ban_duration:
          type: integer
          description: Длительность блокировки (минуты)
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    OpenDisputeRequest:
      type: object
      required:
        - reason
      properties:
        reason:
          type: string
          maxLength: 1000
          description: Причина открытия спора
        evidence:
          type: array
          items:
            type: string
            description: Ссылки на доказательства
        requested_resolution:
          type: object
          description: Запрашиваемое разрешение
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    DisputeDetail:
      type: object
      required:
        - dispute
        - contract
        - evidence
        - participants
      properties:
        dispute:
          $ref: '#/components/schemas/Dispute'
        contract:
          $ref: '#/components/schemas/Contract'
        evidence:
          type: array
          items:
            $ref: '#/components/schemas/DisputeEvidence'
        participants:
          type: array
          items:
            $ref: '#/components/schemas/DisputeParticipant'
        timeline:
          type: array
          items:
            $ref: '#/components/schemas/DisputeTimelineEntry'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    DisputeEvidence:
      type: object
      required:
        - id
        - submitter_id
        - type
        - content
        - submitted_at
      properties:
        id:
          type: string
          format: uuid
        submitter_id:
          type: string
          format: uuid
        type:
          type: string
          enum: [text, image, video, log, witness_statement]
        content:
          type: string
        metadata:
          type: object
        submitted_at:
          type: string
          format: date-time
        verified:
          type: boolean
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    DisputeParticipant:
      type: object
      required:
        - player_id
        - role
      properties:
        player_id:
          type: string
          format: uuid
        role:
          type: string
          enum: [initiator, respondent, witness]
        last_activity:
          type: string
          format: date-time
        evidence_submitted:
          type: integer
          minimum: 0
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    DisputeTimelineEntry:
      type: object
      required:
        - timestamp
        - event
        - actor
      properties:
        timestamp:
          type: string
          format: date-time
        event:
          type: string
          description: Событие (добавление доказательств, AI анализ и т.д.)
        actor:
          type: string
          description: Актор события
        details:
          type: object
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    AddEvidenceRequest:
      type: object
      required:
        - type
        - content
      properties:
        type:
          type: string
          enum: [text, image, video, log, witness_statement]
        content:
          type: string
        metadata:
          type: object
          description: Дополнительные метаданные
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    AddEvidenceResult:
      type: object
      required:
        - success
        - evidence_id
      properties:
        success:
          type: boolean
        evidence_id:
          type: string
          format: uuid
        submitted_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ResolveDisputeRequest:
      type: object
      required:
        - resolution
      properties:
        resolution:
          $ref: '#/components/schemas/DisputeResolution'
        moderator_notes:
          type: string
          maxLength: 2000
        appeal_allowed:
          type: boolean
          default: true
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ResolveDisputeResult:
      type: object
      required:
        - success
        - resolved_at
        - final_resolution
      properties:
        success:
          type: boolean
        resolved_at:
          type: string
          format: date-time
        final_resolution:
          $ref: '#/components/schemas/DisputeResolution'
        notifications_sent:
          type: boolean
        contract_status_updated:
          type: boolean
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Мониторинг
    ContractTimeline:
      type: object
      required:
        - contract_id
        - entries
      properties:
        contract_id:
          type: string
          format: uuid
        entries:
          type: array
          items:
            $ref: '#/components/schemas/TimelineEntry'
        current_phase:
          type: string
          enum: [negotiation, escrow, execution, completion, dispute]
        next_deadline:
          type: string
          format: date-time
        warnings:
          type: array
          items:
            type: string
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ContractsAnalytics:
      type: object
      required:
        - period
        - summary
        - by_type
        - by_status
      properties:
        period:
          type: string
        summary:
          $ref: '#/components/schemas/ContractStats'
        by_type:
          type: object
          description: Статистика по типам контрактов
        by_status:
          type: object
          description: Статистика по статусам
        dispute_rate:
          type: number
          format: float
          description: Процент спорных контрактов
        avg_completion_time:
          type: integer
          description: Среднее время выполнения (часы)
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ContractStats:
      type: object
      properties:
        total_contracts:
          type: integer
          minimum: 0
        completed_contracts:
          type: integer
          minimum: 0
        disputed_contracts:
          type: integer
          minimum: 0
        cancelled_contracts:
          type: integer
          minimum: 0
        total_volume:
          type: number
          format: float
          description: Общий объем сделок
        avg_contract_value:
          type: number
          format: float
        success_rate:
          type: number
          format: float
          minimum: 0
          maximum: 1
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    DisputeInfo:
      type: object
      properties:
        dispute_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [open, evidence_collection, ai_review, human_review, resolved, closed]
        opened_at:
          type: string
          format: date-time
        ai_verdict_available:
          type: boolean
        evidence_count:
          type: integer
          minimum: 0
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
