openapi: 3.0.3
info:
  title: Economy Analytics Service API
  description: |
    Полная система экономической аналитики для NECPGAME.
    Графики, индикаторы, анализ настроений, портфельная аналитика и оповещения.

    **BACKEND NOTE**: Enterprise-grade analytics для MMOFPS RPG.
    Использует TimescaleDB для временных рядов и Redis для кеширования.

    **PERFORMANCE**: Ожидаемая нагрузка - 5000+ RPS в пиковые моменты.
    Время отклика < 50ms для основных запросов (графики, индикаторы).

    **FEATURES**:
    - 4 типа графиков: линейные, свечные, OHLC, area с объемами
    - 10+ технических индикаторов: MA, RSI, MACD, Bollinger Bands
    - Анализ настроений: индекс страха/жадности, тепловые карты
    - Портфельная аналитика: Sharpe ratio, win rate, profit factor
    - Система оповещений: ценовые, событийные, push-уведомления
    - Историческая аналитика с временными рядами
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: Backend Team
    email: backend@necp.game

servers:
  - url: https://api.necpgame.com/v1/economy/analytics
    description: Production server
  - url: https://staging-api.necpgame.com/v1/economy/analytics
    description: Staging server
  - url: http://localhost:8410/api/v1/economy/analytics
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: charts
    description: Графики и временные ряды
  - name: indicators
    description: Технические индикаторы
  - name: sentiment
    description: Анализ настроений рынка
  - name: portfolio
    description: Аналитика портфеля
  - name: alerts
    description: Оповещения и уведомления
  - name: market
    description: Рыночная аналитика

paths:
  # Основные графики
  /api/v1/economy/analytics/charts/{asset_id}:
    get:
      summary: Получить график актива
      operationId: getAssetChart
      tags:
        - charts
      parameters:
        - name: asset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID актива
        - name: chart_type
          in: query
          schema:
            type: string
            enum: [line, candlestick, ohlc, area, histogram]
            default: candlestick
          description: Тип графика
        - name: timeframe
          in: query
          schema:
            type: string
            enum: [1m, 5m, 15m, 1h, 4h, 1d, 1w, 1M]
            default: 1h
          description: Временной интервал
        - name: period
          in: query
          schema:
            type: string
            enum: [1d, 7d, 30d, 90d, 1y, 2y]
            default: 30d
          description: Период данных
        - name: include_volume
          in: query
          schema:
            type: boolean
            default: true
          description: Включить объемы торгов
      responses:
        '200':
          description: Данные графика
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/economy/analytics/charts/comparison:
    post:
      summary: Сравнить графики активов
      operationId: compareAssetsCharts
      tags:
        - charts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChartComparisonRequest'
      responses:
        '200':
          description: Сравнительные данные графиков
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartComparisonResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Технические индикаторы
  /api/v1/economy/analytics/indicators/{asset_id}:
    get:
      summary: Получить технические индикаторы актива
      operationId: getAssetIndicators
      tags:
        - indicators
      parameters:
        - name: asset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID актива
        - name: indicators
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [ma, ema, sma, rsi, macd, bollinger, stochastic, williams, cci, adx]
          description: Список индикаторов для расчета
        - name: timeframe
          in: query
          schema:
            type: string
            enum: [1m, 5m, 15m, 1h, 4h, 1d, 1w, 1M]
            default: 1h
        - name: period
          in: query
          schema:
            type: string
            enum: [1d, 7d, 30d, 90d, 1y]
            default: 30d
      responses:
        '200':
          description: Данные индикаторов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndicatorsDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/economy/analytics/indicators/signals/{asset_id}:
    get:
      summary: Получить торговые сигналы индикаторов
      operationId: getIndicatorSignals
      tags:
        - indicators
      parameters:
        - name: asset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID актива
        - name: indicator_type
          in: query
          schema:
            type: string
            enum: [rsi, macd, bollinger, stochastic]
          description: Тип индикатора для сигналов
        - name: signal_types
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [buy, sell, neutral, overbought, oversold, bullish, bearish]
          description: Типы сигналов для фильтрации
      responses:
        '200':
          description: Торговые сигналы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Анализ настроений
  /api/v1/economy/analytics/sentiment:
    get:
      summary: Получить анализ настроений рынка
      operationId: getMarketSentiment
      tags:
        - sentiment
      parameters:
        - name: scope
          in: query
          schema:
            type: string
            enum: [global, sector, asset]
            default: global
          description: Область анализа
        - name: asset_id
          in: query
          schema:
            type: string
            format: uuid
          description: ID актива (для scope=asset)
        - name: sector
          in: query
          schema:
            type: string
            enum: [technology, energy, healthcare, finance, industrial, consumer, materials]
          description: Сектор (для scope=sector)
      responses:
        '200':
          description: Анализ настроений
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentimentAnalysisResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/economy/analytics/sentiment/heatmap:
    get:
      summary: Получить тепловую карту настроений
      operationId: getSentimentHeatmap
      tags:
        - sentiment
      parameters:
        - name: dimension
          in: query
          schema:
            type: string
            enum: [sectors, assets, regions]
            default: sectors
          description: Измерение для тепловой карты
        - name: period
          in: query
          schema:
            type: string
            enum: [1d, 7d, 30d]
            default: 1d
          description: Период агрегации
      responses:
        '200':
          description: Тепловая карта настроений
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentimentHeatmapResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Аналитика портфеля
  /api/v1/economy/analytics/portfolio/{player_id}:
    get:
      summary: Получить аналитику портфеля игрока
      operationId: getPortfolioAnalytics
      tags:
        - portfolio
      security:
        - BearerAuth: []
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID игрока
        - name: period
          in: query
          schema:
            type: string
            enum: [1d, 7d, 30d, 90d, 1y, all]
            default: 30d
          description: Период анализа
        - name: include_history
          in: query
          schema:
            type: boolean
            default: true
          description: Включить историю сделок
      responses:
        '200':
          description: Аналитика портфеля
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioAnalyticsResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/economy/analytics/portfolio/{player_id}/performance:
    get:
      summary: Получить метрики производительности портфеля
      operationId: getPortfolioPerformance
      tags:
        - portfolio
      security:
        - BearerAuth: []
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: metrics
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [total_return, sharpe_ratio, win_rate, profit_factor, max_drawdown, volatility, alpha, beta]
          description: Список метрик для расчета
        - name: benchmark
          in: query
          schema:
            type: string
            enum: [market_index, sector_index, player_average]
            default: market_index
          description: Бenchmark для сравнения
      responses:
        '200':
          description: Метрики производительности
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioPerformanceResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Оповещения и уведомления
  /api/v1/economy/analytics/alerts:
    get:
      summary: Получить активные оповещения
      operationId: getActiveAlerts
      tags:
        - alerts
      security:
        - BearerAuth: []
      parameters:
        - name: player_id
          in: query
          schema:
            type: string
            format: uuid
          description: ID игрока (для персональных оповещений)
        - name: alert_type
          in: query
          schema:
            type: string
            enum: [price, volume, indicator, event, portfolio]
          description: Тип оповещения для фильтрации
        - name: status
          in: query
          schema:
            type: string
            enum: [active, triggered, expired]
            default: active
      responses:
        '200':
          description: Активные оповещения
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertsResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Создать новое оповещение
      operationId: createAlert
      tags:
        - alerts
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAlertRequest'
      responses:
        '201':
          description: Оповещение создано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertCreatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/economy/analytics/alerts/{alert_id}:
    put:
      summary: Обновить оповещение
      operationId: updateAlert
      tags:
        - alerts
      security:
        - BearerAuth: []
      parameters:
        - name: alert_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAlertRequest'
      responses:
        '200':
          description: Оповещение обновлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Удалить оповещение
      operationId: deleteAlert
      tags:
        - alerts
      security:
        - BearerAuth: []
      parameters:
        - name: alert_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Оповещение удалено
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Рыночная аналитика
  /api/v1/economy/analytics/market/summary:
    get:
      summary: Получить рыночную сводку
      operationId: getMarketSummary
      tags:
        - market
      parameters:
        - name: scope
          in: query
          schema:
            type: string
            enum: [global, sector, regional]
            default: global
          description: Область анализа
        - name: period
          in: query
          schema:
            type: string
            enum: [1d, 7d, 30d]
            default: 1d
          description: Период анализа
      responses:
        '200':
          description: Рыночная сводка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketSummaryResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/economy/analytics/market/trends:
    get:
      summary: Получить рыночные тренды
      operationId: getMarketTrends
      tags:
        - market
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [gainers, losers, volume_leaders, volatility]
            default: gainers
          description: Категория трендов
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Количество результатов
        - name: period
          in: query
          schema:
            type: string
            enum: [1h, 24h, 7d]
            default: 24h
      responses:
        '200':
          description: Рыночные тренды
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketTrendsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    BadRequest:
      description: Неверный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Не авторизован
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Доступ запрещен
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    # Общие схемы
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: INVALID_REQUEST
        message:
          type: string
          example: Неверные параметры запроса
        details:
          type: object
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Графики
    ChartDataResponse:
      type: object
      required:
        - asset_id
        - chart_type
        - timeframe
        - data
      properties:
        asset_id:
          type: string
          format: uuid
        chart_type:
          type: string
          enum: [line, candlestick, ohlc, area, histogram]
        timeframe:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/ChartDataPoint'
        volume_data:
          type: array
          items:
            $ref: '#/components/schemas/VolumeDataPoint'
        metadata:
          $ref: '#/components/schemas/ChartMetadata'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ChartDataPoint:
      type: object
      required:
        - timestamp
        - open
        - high
        - low
        - close
      properties:
        timestamp:
          type: string
          format: date-time
        open:
          type: number
          format: float
        high:
          type: number
          format: float
        low:
          type: number
          format: float
        close:
          type: number
          format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    VolumeDataPoint:
      type: object
      required:
        - timestamp
        - volume
      properties:
        timestamp:
          type: string
          format: date-time
        volume:
          type: integer
          minimum: 0
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ChartMetadata:
      type: object
      properties:
        total_points:
          type: integer
        data_quality:
          type: string
          enum: [high, medium, low]
        last_updated:
          type: string
          format: date-time
        source:
          type: string
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ChartComparisonRequest:
      type: object
      required:
        - asset_ids
        - timeframe
      properties:
        asset_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 2
          maxItems: 5
        timeframe:
          type: string
          enum: [1h, 4h, 1d, 1w]
        period:
          type: string
          enum: [7d, 30d, 90d]
          default: 30d
        normalize:
          type: boolean
          default: true
          description: Нормализовать цены к базовому значению
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ChartComparisonResponse:
      type: object
      required:
        - assets
        - timeframe
        - comparison_data
      properties:
        assets:
          type: array
          items:
            $ref: '#/components/schemas/AssetInfo'
        timeframe:
          type: string
        comparison_data:
          type: array
          items:
            $ref: '#/components/schemas/ComparisonDataPoint'
        correlation_matrix:
          type: object
          description: Матрица корреляций между активами
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    AssetInfo:
      type: object
      required:
        - id
        - name
        - symbol
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        symbol:
          type: string
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ComparisonDataPoint:
      type: object
      required:
        - timestamp
        - values
      properties:
        timestamp:
          type: string
          format: date-time
        values:
          type: object
          additionalProperties:
            type: number
            format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Индикаторы
    IndicatorsDataResponse:
      type: object
      required:
        - asset_id
        - indicators
        - data
      properties:
        asset_id:
          type: string
          format: uuid
        indicators:
          type: array
          items:
            type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/IndicatorDataPoint'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    IndicatorDataPoint:
      type: object
      required:
        - timestamp
        - values
      properties:
        timestamp:
          type: string
          format: date-time
        values:
          type: object
          additionalProperties:
            type: number
            format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    SignalsResponse:
      type: object
      required:
        - asset_id
        - signals
      properties:
        asset_id:
          type: string
          format: uuid
        signals:
          type: array
          items:
            $ref: '#/components/schemas/TradingSignal'
        summary:
          $ref: '#/components/schemas/SignalsSummary'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    TradingSignal:
      type: object
      required:
        - timestamp
        - type
        - strength
      properties:
        timestamp:
          type: string
          format: date-time
        type:
          type: string
          enum: [buy, sell, neutral, overbought, oversold, bullish, bearish]
        strength:
          type: number
          format: float
          minimum: 0
          maximum: 1
        indicator:
          type: string
        value:
          type: number
          format: float
        description:
          type: string
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    SignalsSummary:
      type: object
      properties:
        total_signals:
          type: integer
        bullish_signals:
          type: integer
        bearish_signals:
          type: integer
        neutral_signals:
          type: integer
        average_strength:
          type: number
          format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Анализ настроений
    SentimentAnalysisResponse:
      type: object
      required:
        - scope
        - sentiment_score
        - components
      properties:
        scope:
          type: string
          enum: [global, sector, asset]
        sentiment_score:
          type: number
          format: float
          minimum: -1
          maximum: 1
          description: Общий индекс настроений (-1 медвежий, +1 бычий)
        components:
          $ref: '#/components/schemas/SentimentComponents'
        trend:
          type: string
          enum: [bullish, bearish, neutral]
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    SentimentComponents:
      type: object
      properties:
        fear_greed_index:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Индекс страха и жадности
        bullish_signals:
          type: number
          format: float
          minimum: 0
          maximum: 1
        bearish_signals:
          type: number
          format: float
          minimum: 0
          maximum: 1
        social_sentiment:
          type: number
          format: float
          minimum: -1
          maximum: 1
        news_impact:
          type: number
          format: float
          minimum: -1
          maximum: 1
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    SentimentHeatmapResponse:
      type: object
      required:
        - dimension
        - data
      properties:
        dimension:
          type: string
          enum: [sectors, assets, regions]
        data:
          type: array
          items:
            $ref: '#/components/schemas/HeatmapDataPoint'
        color_scale:
          type: object
          properties:
            min:
              type: number
              format: float
            max:
              type: number
              format: float
            neutral:
              type: number
              format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    HeatmapDataPoint:
      type: object
      required:
        - id
        - name
        - sentiment_score
      properties:
        id:
          type: string
        name:
          type: string
        sentiment_score:
          type: number
          format: float
          minimum: -1
          maximum: 1
        change_24h:
          type: number
          format: float
        volume_24h:
          type: integer
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Аналитика портфеля
    PortfolioAnalyticsResponse:
      type: object
      required:
        - player_id
        - summary
        - holdings
        - performance
      properties:
        player_id:
          type: string
          format: uuid
        summary:
          $ref: '#/components/schemas/PortfolioSummary'
        holdings:
          type: array
          items:
            $ref: '#/components/schemas/Holding'
        performance:
          $ref: '#/components/schemas/PortfolioPerformance'
        recommendations:
          type: array
          items:
            type: string
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/Alert'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    PortfolioSummary:
      type: object
      required:
        - total_value
        - total_invested
        - total_return
        - total_return_percent
      properties:
        total_value:
          type: number
          format: float
        total_invested:
          type: number
          format: float
        total_return:
          type: number
          format: float
        total_return_percent:
          type: number
          format: float
        day_change:
          type: number
          format: float
        day_change_percent:
          type: number
          format: float
        asset_count:
          type: integer
        sector_diversification:
          type: object
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    Holding:
      type: object
      required:
        - asset_id
        - quantity
        - average_cost
        - current_price
      properties:
        asset_id:
          type: string
          format: uuid
        asset_name:
          type: string
        quantity:
          type: number
          format: float
        average_cost:
          type: number
          format: float
        current_price:
          type: number
          format: float
        market_value:
          type: number
          format: float
        unrealized_pnl:
          type: number
          format: float
        unrealized_pnl_percent:
          type: number
          format: float
        allocation_percent:
          type: number
          format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    PortfolioPerformance:
      type: object
      properties:
        sharpe_ratio:
          type: number
          format: float
        win_rate:
          type: number
          format: float
          minimum: 0
          maximum: 1
        profit_factor:
          type: number
          format: float
        max_drawdown:
          type: number
          format: float
        volatility:
          type: number
          format: float
        alpha:
          type: number
          format: float
        beta:
          type: number
          format: float
        total_trades:
          type: integer
        winning_trades:
          type: integer
        losing_trades:
          type: integer
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    PortfolioPerformanceResponse:
      type: object
      required:
        - player_id
        - period
        - metrics
      properties:
        player_id:
          type: string
          format: uuid
        period:
          type: string
        metrics:
          type: object
          additionalProperties:
            type: number
            format: float
        benchmark_comparison:
          $ref: '#/components/schemas/BenchmarkComparison'
        risk_metrics:
          $ref: '#/components/schemas/RiskMetrics'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    BenchmarkComparison:
      type: object
      properties:
        benchmark_return:
          type: number
          format: float
        portfolio_vs_benchmark:
          type: number
          format: float
        tracking_error:
          type: number
          format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    RiskMetrics:
      type: object
      properties:
        value_at_risk:
          type: number
          format: float
        expected_shortfall:
          type: number
          format: float
        stress_test_results:
          type: object
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Оповещения
    AlertsResponse:
      type: object
      required:
        - alerts
      properties:
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/Alert'
        total_active:
          type: integer
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    Alert:
      type: object
      required:
        - id
        - type
        - condition
        - status
        - created_at
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum: [price, volume, indicator, event, portfolio]
        condition:
          $ref: '#/components/schemas/AlertCondition'
        status:
          type: string
          enum: [active, triggered, expired, paused]
        created_at:
          type: string
          format: date-time
        triggered_at:
          type: string
          format: date-time
        last_checked:
          type: string
          format: date-time
        notification_channels:
          type: array
          items:
            type: string
            enum: [push, email, in_game]
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    AlertCondition:
      type: object
      required:
        - asset_id
        - operator
        - value
      properties:
        asset_id:
          type: string
          format: uuid
        operator:
          type: string
          enum: [above, below, crosses_above, crosses_below, equals, changes_by_percent]
        value:
          type: number
          format: float
        timeframe:
          type: string
          enum: [1m, 5m, 15m, 1h, 1d]
        additional_params:
          type: object
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    CreateAlertRequest:
      type: object
      required:
        - type
        - condition
      properties:
        type:
          type: string
          enum: [price, volume, indicator, event, portfolio]
        condition:
          $ref: '#/components/schemas/AlertCondition'
        name:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 500
        notification_channels:
          type: array
          items:
            type: string
            enum: [push, email, in_game]
          default: [push]
        is_active:
          type: boolean
          default: true
        expires_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    AlertCreatedResponse:
      type: object
      required:
        - alert_id
        - created_at
      properties:
        alert_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        estimated_trigger_probability:
          type: number
          format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    UpdateAlertRequest:
      type: object
      properties:
        condition:
          $ref: '#/components/schemas/AlertCondition'
        name:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 500
        notification_channels:
          type: array
          items:
            type: string
            enum: [push, email, in_game]
        is_active:
          type: boolean
        expires_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    AlertResponse:
      type: object
      required:
        - alert
      properties:
        alert:
          $ref: '#/components/schemas/Alert'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Рыночная аналитика
    MarketSummaryResponse:
      type: object
      required:
        - scope
        - period
        - summary
      properties:
        scope:
          type: string
        period:
          type: string
        summary:
          $ref: '#/components/schemas/MarketSummary'
        top_movers:
          type: array
          items:
            $ref: '#/components/schemas/AssetMovement'
        sector_performance:
          type: object
        market_breadth:
          $ref: '#/components/schemas/MarketBreadth'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    MarketSummary:
      type: object
      properties:
        total_assets:
          type: integer
        total_volume:
          type: number
          format: float
        market_cap:
          type: number
          format: float
        average_change_percent:
          type: number
          format: float
        advancing_assets:
          type: integer
        declining_assets:
          type: integer
        unchanged_assets:
          type: integer
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    AssetMovement:
      type: object
      required:
        - asset_id
        - change_percent
      properties:
        asset_id:
          type: string
          format: uuid
        asset_name:
          type: string
        change_percent:
          type: number
          format: float
        volume:
          type: integer
        reason:
          type: string
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    MarketBreadth:
      type: object
      properties:
        advance_decline_ratio:
          type: number
          format: float
        new_highs:
          type: integer
        new_lows:
          type: integer
        volume_ratio:
          type: number
          format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    MarketTrendsResponse:
      type: object
      required:
        - category
        - period
        - trends
      properties:
        category:
          type: string
        period:
          type: string
        trends:
          type: array
          items:
            $ref: '#/components/schemas/TrendData'
        total_results:
          type: integer
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    TrendData:
      type: object
      required:
        - asset_id
        - rank
        - value
      properties:
        asset_id:
          type: string
          format: uuid
        asset_name:
          type: string
        rank:
          type: integer
        value:
          type: number
          format: float
        change_percent:
          type: number
          format: float
        category:
          type: string
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
