openapi: 3.0.3
info:
  title: Economy Extended Events Service API
  description: |
    Расширенный API для управления экономическими событиями в NECPGAME.
    Полная реализация кризисов, бумов, инфляции, эмбарго и других рыночных катаклизмов.

    **BACKEND NOTE**: Служба оптимизирована для высоконагруженных экономических симуляций.
    Использует Redis для кеширования состояний событий и PostgreSQL для аналитики.

    **PERFORMANCE**: Ожидаемая нагрузка - 500 RPS в пиковые моменты.
    Время отклика < 25ms для основных операций (активация событий, расчет эффектов).

    **FEATURES**:
    - 8 типов экономических событий (кризисы, бумы, инфляция, эмбарго, санкции, тарифы, скандалы, технологические прорывы)
    - Полный жизненный цикл (PLANNED → ANNOUNCED → ACTIVE → COOLDOWN → ARCHIVED)
    - Автоматическое планирование и триггеры
    - Эффекты на цены, ликвидность, курсы валют
    - Интеграция с биржами, торговлей и аналитикой
    - Мониторинг KPI и аудит изменений
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: Backend Team
    email: backend@necp.game

servers:
  - url: https://api.necpgame.com/v1/economy/events/extended
    description: Production server
  - url: https://staging-api.necpgame.com/v1/economy/events/extended
    description: Staging server
  - url: http://localhost:8400/api/v1/economy/events/extended
    description: Local development

security:
  - BearerAuth: [ ]

tags:
  - name: economic-events
    description: Управление экономическими событиями
  - name: event-lifecycle
    description: Жизненный цикл событий
  - name: event-effects
    description: Эффекты и влияние на рынок
  - name: event-planning
    description: Планирование и триггеры
  - name: event-monitoring
    description: Мониторинг и аналитика
  - name: crisis-management
    description: Управление кризисами
  - name: market-booms
    description: Управление экономическими бумами

paths:
  # Основные события
  /api/v1/economy/events/extended:
    get:
      summary: Получить список экономических событий
      operationId: getEconomicEvents
      tags:
        - economic-events
      security:
        - BearerAuth: [ ]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ planned, announced, active, cooldown, archived ]
          description: Фильтр по статусу события
        - name: type
          in: query
          schema:
            type: string
            enum: [ crisis, boom, inflation, embargo, sanctions, tariffs, scandal, tech_breakthrough ]
          description: Фильтр по типу события
        - name: region
          in: query
          schema:
            type: string
            enum: [ global, america, asia, europe, cis ]
          description: Фильтр по региону
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Список экономических событий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EconomicEventsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Создать новое экономическое событие
      operationId: createEconomicEvent
      tags:
        - economic-events
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEconomicEventRequest'
      responses:
        '201':
          description: Событие создано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EconomicEvent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Конкретное событие
  /api/v1/economy/events/extended/{event_id}:
    get:
      summary: Получить детали экономического события
      operationId: getEconomicEvent
      tags:
        - economic-events
      security:
        - BearerAuth: [ ]
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Детали события
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EconomicEventDetail'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      summary: Обновить экономическое событие
      operationId: updateEconomicEvent
      tags:
        - economic-events
      security:
        - BearerAuth: [ ]
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEconomicEventRequest'
      responses:
        '200':
          description: Событие обновлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EconomicEvent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Жизненный цикл события
  /api/v1/economy/events/extended/{event_id}/lifecycle/{action}:
    post:
      summary: Выполнить действие жизненного цикла события
      operationId: executeEventLifecycleAction
      tags:
        - event-lifecycle
      security:
        - BearerAuth: [ ]
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: action
          in: path
          required: true
          schema:
            type: string
            enum: [ announce, activate, pause, resume, cooldown, archive ]
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventLifecycleActionRequest'
      responses:
        '200':
          description: Действие выполнено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventLifecycleResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Недопустимое действие для текущего статуса
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Эффекты события
  /api/v1/economy/events/extended/{event_id}/effects:
    get:
      summary: Получить текущие эффекты события
      operationId: getEventEffects
      tags:
        - event-effects
      security:
        - BearerAuth: [ ]
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: include_historical
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Эффекты события
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventEffectsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Применить эффекты события
      operationId: applyEventEffects
      tags:
        - event-effects
      security:
        - BearerAuth: [ ]
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyEventEffectsRequest'
      responses:
        '200':
          description: Эффекты применены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyEventEffectsResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Планирование событий
  /api/v1/economy/events/extended/schedule:
    get:
      summary: Получить расписание событий
      operationId: getEventSchedule
      tags:
        - event-planning
      security:
        - BearerAuth: [ ]
      parameters:
        - name: from_date
          in: query
          schema:
            type: string
            format: date
          description: Начальная дата
        - name: to_date
          in: query
          schema:
            type: string
            format: date
          description: Конечная дата
        - name: status
          in: query
          schema:
            type: string
            enum: [ planned, announced, active ]
      responses:
        '200':
          description: Расписание событий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventScheduleResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Запланировать событие
      operationId: scheduleEconomicEvent
      tags:
        - event-planning
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleEventRequest'
      responses:
        '201':
          description: Событие запланировано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledEvent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Конфликт в расписании
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Мониторинг и аналитика
  /api/v1/economy/events/extended/{event_id}/metrics:
    get:
      summary: Получить метрики события
      operationId: getEventMetrics
      tags:
        - event-monitoring
      security:
        - BearerAuth: [ ]
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: period
          in: query
          schema:
            type: string
            enum: [ 1h, 6h, 24h, 7d, 30d ]
            default: 24h
      responses:
        '200':
          description: Метрики события
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventMetricsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/economy/events/extended/analytics:
    get:
      summary: Получить аналитику по событиям
      operationId: getEventsAnalytics
      tags:
        - event-monitoring
      security:
        - BearerAuth: [ ]
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [ 7d, 30d, 90d, 1y ]
            default: 30d
        - name: event_type
          in: query
          schema:
            type: string
            enum: [ crisis, boom, inflation, embargo, sanctions, tariffs, scandal, tech_breakthrough ]
        - name: region
          in: query
          schema:
            type: string
            enum: [ global, america, asia, europe, cis ]
      responses:
        '200':
          description: Аналитика событий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsAnalyticsResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Специфические типы событий
  /api/v1/economy/events/extended/crises:
    get:
      summary: Получить активные кризисы
      operationId: getActiveCrises
      tags:
        - crisis-management
      security:
        - BearerAuth: [ ]
      responses:
        '200':
          description: Активные кризисы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrisesResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/economy/events/extended/booms:
    get:
      summary: Получить активные экономические бумы
      operationId: getActiveBooms
      tags:
        - market-booms
      security:
        - BearerAuth: [ ]
      responses:
        '200':
          description: Активные бумы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoomsResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    BadRequest:
      description: Неверный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Не авторизован
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Доступ запрещен
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Конфликт состояния
    InternalServerError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    # Общие схемы
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: INVALID_REQUEST
        message:
          type: string
          example: Неверные параметры запроса
        details:
          type: object
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Экономические события
    EconomicEvent:
      type: object
      required:
        - id
        - name
        - type
        - status
        - region
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Уникальный ID события
        name:
          type: string
          description: Название события
        type:
          type: string
          enum: [ crisis, boom, inflation, embargo, sanctions, tariffs, scandal, tech_breakthrough ]
          description: Тип события
        status:
          type: string
          enum: [ planned, announced, active, cooldown, archived ]
          description: Текущий статус
        region:
          type: string
          enum: [ global, america, asia, europe, cis ]
          description: Регион воздействия
        description:
          type: string
          description: Описание события
        severity:
          type: number
          format: float
          minimum: 0.1
          maximum: 1.0
          description: Серьезность события (0.1-1.0)
        planned_start:
          type: string
          format: date-time
          description: Запланированное время начала
        actual_start:
          type: string
          format: date-time
          description: Фактическое время начала
        planned_end:
          type: string
          format: date-time
          description: Запланированное время окончания
        actual_end:
          type: string
          format: date-time
          description: Фактическое время окончания
        effects:
          $ref: '#/components/schemas/EventEffects'
        triggers:
          type: array
          items:
            $ref: '#/components/schemas/EventTrigger'
          description: Триггеры события
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    EventEffects:
      type: object
      properties:
        price_modifiers:
          type: object
          description: Модификаторы цен по активам
        liquidity_changes:
          type: object
          description: Изменения ликвидности
        currency_rates:
          type: object
          description: Изменения курсов валют
        trading_restrictions:
          type: array
          items:
            type: string
          description: Торговые ограничения
        player_impacts:
          type: object
          description: Влияние на игроков
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    EventTrigger:
      type: object
      required:
        - type
        - condition
      properties:
        type:
          type: string
          enum: [ manual, scheduled, quest, market_condition, external_api ]
          description: Тип триггера
        condition:
          type: object
          description: Условие активации
        cooldown_minutes:
          type: integer
          minimum: 0
          description: Время восстановления в минутах
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    EconomicEventsResponse:
      type: object
      required:
        - events
        - total
        - pagination
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/EconomicEvent'
        total:
          type: integer
          minimum: 0
        pagination:
          $ref: '#/components/schemas/PaginationInfo'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    PaginationInfo:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
        page_size:
          type: integer
          minimum: 1
        total_pages:
          type: integer
          minimum: 0
        has_next:
          type: boolean
        has_prev:
          type: boolean
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    CreateEconomicEventRequest:
      type: object
      required:
        - name
        - type
        - region
        - severity
        - planned_start
        - planned_end
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
        type:
          type: string
          enum: [ crisis, boom, inflation, embargo, sanctions, tariffs, scandal, tech_breakthrough ]
        region:
          type: string
          enum: [ global, america, asia, europe, cis ]
        severity:
          type: number
          format: float
          minimum: 0.1
          maximum: 1.0
        planned_start:
          type: string
          format: date-time
        planned_end:
          type: string
          format: date-time
        description:
          type: string
          maxLength: 1000
        effects:
          $ref: '#/components/schemas/EventEffects'
        triggers:
          type: array
          items:
            $ref: '#/components/schemas/EventTrigger'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    EconomicEventDetail:
      type: object
      required:
        - event
        - metrics
        - history
      properties:
        event:
          $ref: '#/components/schemas/EconomicEvent'
        metrics:
          $ref: '#/components/schemas/EventMetrics'
        history:
          type: array
          items:
            $ref: '#/components/schemas/EventHistoryEntry'
        related_events:
          type: array
          items:
            $ref: '#/components/schemas/EconomicEvent'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    UpdateEconomicEventRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
        severity:
          type: number
          format: float
          minimum: 0.1
          maximum: 1.0
        planned_start:
          type: string
          format: date-time
        planned_end:
          type: string
          format: date-time
        description:
          type: string
          maxLength: 1000
        effects:
          $ref: '#/components/schemas/EventEffects'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Жизненный цикл
    EventLifecycleActionRequest:
      type: object
      properties:
        reason:
          type: string
          maxLength: 500
          description: Причина действия
        force:
          type: boolean
          default: false
          description: Принудительное выполнение
        parameters:
          type: object
          description: Дополнительные параметры
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    EventLifecycleResult:
      type: object
      required:
        - success
        - new_status
        - timestamp
      properties:
        success:
          type: boolean
        new_status:
          type: string
          enum: [ planned, announced, active, cooldown, archived ]
        timestamp:
          type: string
          format: date-time
        message:
          type: string
        side_effects:
          type: array
          items:
            type: string
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Эффекты
    EventEffectsResponse:
      type: object
      required:
        - event_id
        - current_effects
        - applied_at
      properties:
        event_id:
          type: string
          format: uuid
        current_effects:
          $ref: '#/components/schemas/EventEffects'
        applied_at:
          type: string
          format: date-time
        historical_effects:
          type: array
          items:
            $ref: '#/components/schemas/HistoricalEffect'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    HistoricalEffect:
      type: object
      required:
        - timestamp
        - effects
      properties:
        timestamp:
          type: string
          format: date-time
        effects:
          $ref: '#/components/schemas/EventEffects'
        applied_by:
          type: string
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ApplyEventEffectsRequest:
      type: object
      required:
        - target_systems
      properties:
        target_systems:
          type: array
          items:
            type: string
            enum: [ pricing_engine, stock_exchange, currency_exchange, player_market, trading_system ]
        immediate:
          type: boolean
          default: true
          description: Немедленное применение
        dry_run:
          type: boolean
          default: false
          description: Тестовый запуск без применения
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ApplyEventEffectsResult:
      type: object
      required:
        - success
        - applied_at
        - affected_systems
      properties:
        success:
          type: boolean
        applied_at:
          type: string
          format: date-time
        affected_systems:
          type: array
          items:
            type: string
        rollback_available:
          type: boolean
        rollback_id:
          type: string
          format: uuid
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Планирование
    EventScheduleResponse:
      type: object
      required:
        - scheduled_events
        - conflicts
      properties:
        scheduled_events:
          type: array
          items:
            $ref: '#/components/schemas/ScheduledEvent'
        conflicts:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleConflict'
        next_available_slots:
          type: array
          items:
            type: string
            format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ScheduledEvent:
      type: object
      required:
        - event_id
        - scheduled_time
        - status
      properties:
        event_id:
          type: string
          format: uuid
        scheduled_time:
          type: string
          format: date-time
        status:
          type: string
          enum: [ pending, confirmed, executing, completed, failed ]
        priority:
          type: integer
          minimum: 1
          maximum: 10
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ScheduleConflict:
      type: object
      required:
        - conflicting_events
        - conflict_reason
      properties:
        conflicting_events:
          type: array
          items:
            type: string
            format: uuid
        conflict_reason:
          type: string
        suggested_alternatives:
          type: array
          items:
            type: string
            format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    ScheduleEventRequest:
      type: object
      required:
        - event_id
        - scheduled_time
      properties:
        event_id:
          type: string
          format: uuid
        scheduled_time:
          type: string
          format: date-time
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
        conflict_resolution:
          type: string
          enum: [ cancel_existing, postpone_existing, ignore_conflicts ]
          default: ignore_conflicts
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Мониторинг
    EventMetrics:
      type: object
      properties:
        price_deviation:
          type: number
          format: float
          description: Отклонение цен в процентах
        transaction_volume:
          type: number
          format: float
          description: Объем транзакций
        player_activity:
          type: number
          format: float
          description: Активность игроков
        market_liquidity:
          type: number
          format: float
          description: Рыночная ликвидность
        event_uptime:
          type: number
          format: float
          description: Время работы события
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    EventMetricsResponse:
      type: object
      required:
        - event_id
        - metrics
        - period
      properties:
        event_id:
          type: string
          format: uuid
        metrics:
          $ref: '#/components/schemas/EventMetrics'
        period:
          type: string
        historical_data:
          type: array
          items:
            $ref: '#/components/schemas/MetricsDataPoint'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    MetricsDataPoint:
      type: object
      required:
        - timestamp
        - metrics
      properties:
        timestamp:
          type: string
          format: date-time
        metrics:
          $ref: '#/components/schemas/EventMetrics'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    EventsAnalyticsResponse:
      type: object
      required:
        - period
        - summary
        - by_type
        - by_region
      properties:
        period:
          type: string
        summary:
          $ref: '#/components/schemas/EventMetrics'
        by_type:
          type: object
          description: Метрики по типам событий
        by_region:
          type: object
          description: Метрики по регионам
        top_events:
          type: array
          items:
            $ref: '#/components/schemas/EventRanking'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    EventRanking:
      type: object
      required:
        - event_id
        - name
        - impact_score
      properties:
        event_id:
          type: string
          format: uuid
        name:
          type: string
        impact_score:
          type: number
          format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    # Специфические типы
    CrisesResponse:
      type: object
      required:
        - crises
        - total
        - market_impact
      properties:
        crises:
          type: array
          items:
            $ref: '#/components/schemas/EconomicEvent'
        total:
          type: integer
          minimum: 0
        market_impact:
          type: object
          description: Общее влияние на рынок
        recovery_predictions:
          type: array
          items:
            type: string
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    BoomsResponse:
      type: object
      required:
        - booms
        - total
        - profit_opportunities
      properties:
        booms:
          type: array
          items:
            $ref: '#/components/schemas/EconomicEvent'
        total:
          type: integer
          minimum: 0
        profit_opportunities:
          type: array
          items:
            type: string
          description: Возможности для заработка
        risk_warnings:
          type: array
          items:
            type: string
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    EventHistoryEntry:
      type: object
      required:
        - timestamp
        - action
        - status_before
        - status_after
      properties:
        timestamp:
          type: string
          format: date-time
        action:
          type: string
        status_before:
          type: string
        status_after:
          type: string
        user_id:
          type: string
          format: uuid
        details:
          type: object
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
