openapi: 3.0.3
info:
  title: Inventory Bank API
  version: 1.1.0
  description: |
    REST API для управления account-wide банковским хранилищем (stash):
    просмотр, пополнение и изъятие предметов. Основано на
    `.BRAIN/05-technical/backend/inventory-system/` (v1.0.2, Part1/Part2).
  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/economy/inventory
    package: com.necpgame.economy.inventory
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Bank
    description: Банковское хранилище игрока

paths:
  /inventory/bank:
    get:
      tags: [Bank]
      summary: Получить содержимое банка
      description: Возвращает список предметов из общего хранилища аккаунта.
      operationId: getBankItems
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Содержимое банка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankSnapshot'
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }

  /inventory/bank/deposit:
    post:
      tags: [Bank]
      summary: Положить предмет в банк
      description: Перемещает предмет из инвентаря указанного персонажа в банк.
      operationId: depositBankItem
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankDepositRequest'
      responses:
        '200':
          description: Предмет добавлен в банк
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankSnapshot'
        '400': { "$ref": "../../shared/common/responses.yaml#/components/responses/BadRequest" }
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '409': { "$ref": "../../shared/common/responses.yaml#/components/responses/Conflict" }

  /inventory/bank/withdraw:
    post:
      tags: [Bank]
      summary: Забрать предмет из банка
      description: Передаёт предмет обратно в указанный инвентарь персонажа.
      operationId: withdrawBankItem
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankWithdrawRequest'
      responses:
        '200':
          description: Предмет передан персонажу
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankTransferResponse'
        '400': { "$ref": "../../shared/common/responses.yaml#/components/responses/BadRequest" }
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '404': { "$ref": "../../shared/common/responses.yaml#/components/responses/NotFound" }
        '409': { "$ref": "../../shared/common/responses.yaml#/components/responses/Conflict" }

  /inventory/bank/capacity:
    get:
      tags: [Bank]
      summary: Получить информацию о вместимости банка
      description: Возвращает лимиты слотов и возможность расширения.
      operationId: getBankCapacity
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Параметры хранилища
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankCapacity'
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }

components:
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'

  schemas:
    BankSnapshot:
      type: object
      required: [items, capacity]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/BankItem'
        capacity:
          $ref: '#/components/schemas/BankCapacity'
    BankItem:
      type: object
      required: [bank_item_id, item_id, quantity, deposited_by, deposited_at]
      properties:
        bank_item_id:
          type: string
          format: uuid
        item_id:
          type: string
        quantity:
          type: integer
          format: int32
        deposited_by:
          type: string
          format: uuid
        deposited_at:
          type: string
          format: date-time
        bound_type:
          $ref: './inventory.yaml#/components/schemas/ItemBindType'
        notes:
          type: string
          nullable: true
    BankCapacity:
      type: object
      required: [max_slots, used_slots, can_expand]
      properties:
        max_slots:
          type: integer
          example: 100
        used_slots:
          type: integer
        can_expand:
          type: boolean
        expansion_options:
          type: array
          items:
            $ref: '#/components/schemas/BankExpansionOption'
    BankExpansionOption:
      type: object
      required: [tier, additional_slots, cost_currency, cost_amount]
      properties:
        tier:
          type: integer
          format: int32
        additional_slots:
          type: integer
          format: int32
        cost_currency:
          type: string
        cost_amount:
          type: integer
          format: int32
    BankDepositRequest:
      type: object
      required: [character_id, item_instance_id, quantity]
      properties:
        character_id:
          type: string
          format: uuid
        item_instance_id:
          type: string
          format: uuid
        quantity:
          type: integer
          format: int32
          minimum: 1
    BankWithdrawRequest:
      type: object
      required: [character_id, bank_item_id, quantity]
      properties:
        character_id:
          type: string
          format: uuid
        bank_item_id:
          type: string
          format: uuid
        quantity:
          type: integer
          format: int32
          minimum: 1
    BankTransferResponse:
      type: object
      required: [bank_snapshot, inventory_item]
      properties:
        bank_snapshot:
          $ref: '#/components/schemas/BankSnapshot'
        inventory_item:
          $ref: './inventory.yaml#/components/schemas/InventoryItem'
