openapi: 3.0.3
info:
  title: Inventory API
  version: 1.1.0
  description: |
    REST API для core-инвентаря персонажа: просмотр предметов, добавление,
    разделение стаков, использование и контроль вместимости. Основано на
    `.BRAIN/05-technical/backend/inventory-system/` (v1.0.2, Part1/Part2).
  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/economy/inventory
    package: com.necpgame.economy.inventory
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Inventory
    description: Управление предметами персонажа
  - name: Capacity
    description: Контроль вместимости и веса

paths:
  /inventory/characters/{characterId}:
    get:
      tags: [Inventory]
      summary: Получить инвентарь персонажа
      description: Возвращает список предметов и агрегаты вместимости для указанного персонажа.
      operationId: getCharacterInventory
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CharacterId'
        - name: includeBound
          in: query
          schema:
            type: boolean
            default: true
          description: Возвращать ли привязку предметов (bind type)
      responses:
        '200':
          description: Инвентарь персонажа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventorySnapshot'
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '404': { "$ref": "../../shared/common/responses.yaml#/components/responses/NotFound" }

  /inventory/characters/{characterId}/items:
    post:
      tags: [Inventory]
      summary: Добавить предмет в инвентарь
      description: Добавляет предмет, автоматически объединяя стакуемые предметы.
      operationId: addItemToInventory
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CharacterId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemAddRequest'
      responses:
        '201':
          description: Предмет добавлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
        '400': { "$ref": "../../shared/common/responses.yaml#/components/responses/BadRequest" }
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '409': { "$ref": "../../shared/common/responses.yaml#/components/responses/Conflict" }

  /inventory/characters/{characterId}/items/{itemInstanceId}:
    delete:
      tags: [Inventory]
      summary: Удалить или выбросить предмет
      description: Удаляет предмет из инвентаря (drop/delete).
      operationId: deleteInventoryItem
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CharacterId'
        - $ref: '#/components/parameters/ItemInstanceId'
      responses:
        '204': { description: Предмет удалён }
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '404': { "$ref": "../../shared/common/responses.yaml#/components/responses/NotFound" }

  /inventory/characters/{characterId}/items/{itemInstanceId}/split:
    post:
      tags: [Inventory]
      summary: Разделить стак предметов
      description: Делит стакуемый предмет на две части.
      operationId: splitInventoryStack
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CharacterId'
        - $ref: '#/components/parameters/ItemInstanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemSplitRequest'
      responses:
        '200':
          description: Стак разделён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventorySplitResponse'
        '400': { "$ref": "../../shared/common/responses.yaml#/components/responses/BadRequest" }
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '404': { "$ref": "../../shared/common/responses.yaml#/components/responses/NotFound" }

  /inventory/characters/{characterId}/items/{itemInstanceId}/use:
    post:
      tags: [Inventory]
      summary: Использовать предмет
      description: Применяет эффекты предмета и обновляет инвентарь.
      operationId: useInventoryItem
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CharacterId'
        - $ref: '#/components/parameters/ItemInstanceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItemUseRequest'
      responses:
        '200':
          description: Эффекты применены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemUseResponse'
        '400': { "$ref": "../../shared/common/responses.yaml#/components/responses/BadRequest" }
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '404': { "$ref": "../../shared/common/responses.yaml#/components/responses/NotFound" }

  /inventory/characters/{characterId}/capacity:
    get:
      tags: [Capacity]
      summary: Получить параметры вместимости
      description: Возвращает информацию о слотах и весе персонажа.
      operationId: getInventoryCapacity
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CharacterId'
      responses:
        '200':
          description: Параметры вместимости
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryCapacity'
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '404': { "$ref": "../../shared/common/responses.yaml#/components/responses/NotFound" }

components:
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'

  parameters:
    CharacterId:
      name: characterId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Уникальный идентификатор персонажа
    ItemInstanceId:
      name: itemInstanceId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Идентификатор конкретного экземпляра предмета

  schemas:
    InventorySnapshot:
      type: object
      required: [character_id, items, capacity]
      properties:
        character_id:
          type: string
          format: uuid
        items:
          type: array
          items:
            $ref: '#/components/schemas/InventoryItem'
        capacity:
          $ref: '#/components/schemas/InventoryCapacity'
    InventoryItem:
      type: object
      required: [item_instance_id, item_id, quantity, slot_index, durability, bound_type]
      properties:
        item_instance_id:
          type: string
          format: uuid
        item_id:
          type: string
        quantity:
          type: integer
          format: int32
          minimum: 1
        slot_index:
          type: integer
          format: int32
          minimum: 0
          maximum: 49
        durability:
          type: number
          format: float
          minimum: 0
          maximum: 100
        bound_type:
          $ref: '#/components/schemas/ItemBindType'
        acquired_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
          nullable: true
        metadata:
          type: object
          additionalProperties: true
    InventoryCapacity:
      type: object
      required: [max_slots, used_slots, current_weight, max_weight, encumbrance_level]
      properties:
        max_slots:
          type: integer
          example: 50
        used_slots:
          type: integer
        current_weight:
          type: number
          format: float
        max_weight:
          type: number
          format: float
          description: STR * 10 (кг)
        encumbrance_level:
          $ref: '#/components/schemas/EncumbranceLevel'
    ItemAddRequest:
      type: object
      required: [item_id, quantity]
      properties:
        item_id:
          type: string
        quantity:
          type: integer
          format: int32
          minimum: 1
        source:
          type: string
          description: Причина добавления предмета (loot, quest, trade)
    ItemSplitRequest:
      type: object
      required: [split_quantity]
      properties:
        split_quantity:
          type: integer
          format: int32
          minimum: 1
    InventorySplitResponse:
      type: object
      required: [original_stack, new_stack]
      properties:
        original_stack:
          $ref: '#/components/schemas/InventoryItem'
        new_stack:
          $ref: '#/components/schemas/InventoryItem'
    ItemUseRequest:
      type: object
      properties:
        context:
          type: object
          additionalProperties: true
          description: Дополнительные параметры (targetId, slot и т.д.)
    ItemUseResponse:
      type: object
      required: [consumed, remaining_quantity, applied_effects]
      properties:
        consumed:
          type: boolean
        remaining_quantity:
          type: integer
          format: int32
        applied_effects:
          type: array
          items:
            $ref: '#/components/schemas/ItemEffect'
    ItemEffect:
      type: object
      required: [effect_id, duration_seconds]
      properties:
        effect_id:
          type: string
        description:
          type: string
        duration_seconds:
          type: integer
          format: int32
    ItemBindType:
      type: string
      enum: [none, bind_on_pickup, bind_on_equip, account_bound]
    EncumbranceLevel:
      type: string
      enum: [normal, heavy, overencumbered]

