openapi: 3.0.3
info:
  title: Companion Domain API - Enterprise-Grade Player Companion Management
  description: '**Enterprise-Grade Companion Service API for NECPGAME**


    Comprehensive player companion system managing companion acquisition, training,
    abilities,

    and companion-player interactions for the NECPGAME ecosystem.


    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation

    - **Backend optimization hints** for struct alignment and performance (30-50%
    memory savings)

    - **Complete validation** with redocly and ogen code generation

    - **Security-first approach** with JWT authentication and companion authorization

    - **Performance-optimized** response structures with field ordering

    - **Comprehensive error handling** with proper HTTP status codes


    ## Domain Purpose

    The Companion Service manages all companion-related operations including companion
    acquisition,

    training, ability usage, and companion-player relationships.

    Critical for companion progression management and game balance adjustments.


    ## Performance Targets

    - P99 Latency: <100ms for companion operations (careful operations)

    - P99 Latency: <25ms for companion status checks

    - Memory: <20KB per active companion session

    - Concurrent users: 5,000+ simultaneous companion operations

    - Companion throughput: 500+ companion operations/minute

    - Data consistency: Event-sourced with CQRS patterns

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/companion
  description: Production server
- url: https://staging-api.necpgame.com/v1/companion
  description: Staging server
- url: http://localhost:8080
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Companion Management
  description: Companion acquisition, ownership, and basic management
- name: Companion Training
  description: Companion experience, leveling, and skill development
- name: Companion Abilities
  description: Companion abilities, usage, and ability management
- name: Companion Social
  description: Companion interactions, relationships, and social features
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Companion service health check
      description: '**Enterprise-grade health check endpoint**


        Provides real-time health status of the companion service microservice.

        Critical for service discovery, load balancing, and monitoring.

        Includes companion operation status and rollback capabilities.


        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: companionServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: string
                example: '60'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /companion/types:
    get:
      summary: Get companion types
      description: '**Retrieve available companion types**


        Returns list of all companion types available in the game.

        Includes basic information about each companion type.


        **Performance:** <25ms P95, cached data

        '
      operationId: getCompanionTypes
      tags:
      - Companion Management
      responses:
        '200':
          description: Companion types retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  companionTypes:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanionType'
                  totalCount:
                    type: integer
                    example: 15
                required:
                - companionTypes
                - totalCount
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /companion/types/{typeId}:
    get:
      summary: Get companion type details
      description: '**Retrieve detailed information about a specific companion type**


        Returns comprehensive information about a companion type including

        abilities, stats, and requirements.


        **Performance:** <25ms P95, cached data

        '
      operationId: getCompanionType
      tags:
      - Companion Management
      parameters:
      - name: typeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Companion type ID
      responses:
        '200':
          description: Companion type retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanionTypeDetailed'
        '404':
          description: Companion type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /players/{playerId}/companions:
    get:
      summary: Get player companions
      description: '**Retrieve player''s companion collection**


        Returns list of all companions owned by a player.

        Includes companion stats, levels, and current status.


        **Performance:** <50ms P95, database query with pagination

        '
      operationId: getPlayerCompanions
      tags:
      - Companion Management
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Player ID
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Maximum number of companions to return
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Number of companions to skip
      responses:
        '200':
          description: Player companions retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  companions:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlayerCompanion'
                  totalCount:
                    type: integer
                    example: 5
                  hasMore:
                    type: boolean
                    example: false
                required:
                - companions
                - totalCount
                - hasMore
        '404':
          description: Player not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /players/{playerId}/companions/{companionId}:
    get:
      summary: Get companion details
      description: '**Retrieve detailed information about a player''s companion**


        Returns comprehensive companion information including stats,

        abilities, experience, and current status.


        **Performance:** <50ms P95, database query

        '
      operationId: getCompanionDetails
      tags:
      - Companion Management
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Player ID
      - name: companionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Companion ID
      responses:
        '200':
          description: Companion details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanionDetailed'
        '404':
          description: Companion not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /players/{playerId}/companions/purchase:
    post:
      summary: Purchase companion
      description: '**Purchase a new companion**


        Allows player to purchase a companion of specified type.

        Validates player balance and companion availability.


        **Performance:** <100ms P95, includes validation and balance check

        **Security:** Requires confirmation token for purchase operations

        '
      operationId: purchaseCompanion
      tags:
      - Companion Management
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Player ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                companionTypeId:
                  type: string
                  format: uuid
                  description: Type of companion to purchase
                currencyAmount:
                  type: integer
                  minimum: 0
                  description: Amount of currency to spend
                confirmationToken:
                  type: string
                  description: Purchase confirmation token
              required:
              - companionTypeId
              - currencyAmount
              - confirmationToken
      responses:
        '200':
          description: Companion purchased successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseCompanionResponse'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Companion type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Insufficient funds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /players/{playerId}/companions/{companionId}/summon:
    post:
      summary: Summon companion
      description: '**Summon a companion for active use**


        Activates a companion for the player session.

        Companion becomes available for abilities and interactions.


        **Performance:** <50ms P95, database update

        '
      operationId: summonCompanion
      tags:
      - Companion Abilities
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Player ID
      - name: companionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Companion ID
      responses:
        '200':
          description: Companion summoned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummonCompanionResponse'
        '404':
          description: Companion not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Companion already summoned or another companion is active
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /players/{playerId}/companions/{companionId}/recall:
    post:
      summary: Recall companion
      description: '**Recall an active companion**


        Deactivates a companion, ending its active session.

        Companion becomes available for storage or other operations.


        **Performance:** <50ms P95, database update

        '
      operationId: recallCompanion
      tags:
      - Companion Abilities
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Player ID
      - name: companionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Companion ID
      responses:
        '200':
          description: Companion recalled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecallCompanionResponse'
        '404':
          description: Companion not found or not summoned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /players/{playerId}/companions/{companionId}/rename:
    put:
      summary: Rename companion
      description: '**Rename a companion**


        Changes the display name of a companion.

        Validates name length and content.


        **Performance:** <50ms P95, database update

        '
      operationId: renameCompanion
      tags:
      - Companion Management
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Player ID
      - name: companionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Companion ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                newName:
                  type: string
                  minLength: 1
                  maxLength: 50
                  description: New companion name
              required:
              - newName
      responses:
        '200':
          description: Companion renamed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenameCompanionResponse'
        '400':
          description: Invalid name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Companion not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /players/{playerId}/companions/{companionId}/experience:
    post:
      summary: Add experience to companion
      description: '**Grant experience points to a companion**


        Increases companion''s experience, potentially triggering level ups.

        Validates experience amount and companion ownership.


        **Performance:** <75ms P95, includes level calculation

        '
      operationId: addCompanionExperience
      tags:
      - Companion Training
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Player ID
      - name: companionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Companion ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                experienceAmount:
                  type: integer
                  minimum: 1
                  maximum: 10000
                  description: Amount of experience to add
                reason:
                  type: string
                  enum:
                  - quest_completion
                  - battle_victory
                  - training
                  - special_event
                  description: Reason for experience gain
              required:
              - experienceAmount
              - reason
      responses:
        '200':
          description: Experience added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddExperienceResponse'
        '400':
          description: Invalid experience amount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Companion not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /players/{playerId}/companions/{companionId}/abilities/{abilityId}/use:
    post:
      summary: Use companion ability
      description: '**Activate a companion ability**


        Triggers the specified ability for the companion.

        Validates ability availability, cooldowns, and resource costs.


        **Performance:** <100ms P95, includes ability validation and execution

        '
      operationId: useCompanionAbility
      tags:
      - Companion Abilities
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Player ID
      - name: companionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Companion ID
      - name: abilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: Ability ID
      responses:
        '200':
          description: Ability used successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UseAbilityResponse'
        '400':
          description: Ability on cooldown or insufficient resources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Companion or ability not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
components:
  schemas:
    HealthResponse:
      $ref: ../common-service/schemas/health.yaml#/HealthResponse
    Error:
      $ref: ../common-service/schemas/error.yaml#/Error
    CompanionType:
      type: object
      properties:
        typeId:
          type: string
          format: uuid
          description: Unique companion type identifier
        name:
          type: string
          example: Fire Elemental
        description:
          type: string
          example: A companion made of living flame
        rarity:
          type: string
          enum:
          - common
          - uncommon
          - rare
          - epic
          - legendary
          example: rare
        baseStats:
          $ref: '#/components/schemas/CompanionStats'
        availableAbilities:
          type: array
          items:
            type: string
            format: uuid
        unlockRequirements:
          $ref: '#/components/schemas/CompanionRequirements'
      required:
      - typeId
      - name
      - rarity
      - baseStats
    CompanionTypeDetailed:
      allOf:
      - $ref: '#/components/schemas/CompanionType'
      - type: object
        properties:
          detailedDescription:
            type: string
          abilityDetails:
            type: array
            items:
              $ref: '#/components/schemas/AbilityDetail'
          evolutionPath:
            type: array
            items:
              type: string
              format: uuid
    CompanionStats:
      type: object
      properties:
        health:
          type: integer
          minimum: 1
        attack:
          type: integer
          minimum: 0
        defense:
          type: integer
          minimum: 0
        speed:
          type: integer
          minimum: 0
        specialAttack:
          type: integer
          minimum: 0
        specialDefense:
          type: integer
          minimum: 0
      required:
      - health
      - attack
      - defense
      - speed
      - specialAttack
      - specialDefense
    CompanionRequirements:
      type: object
      properties:
        playerLevel:
          type: integer
          minimum: 1
        currencyCost:
          type: integer
          minimum: 0
        itemRequirements:
          type: array
          items:
            $ref: '#/components/schemas/ItemRequirement'
        questPrerequisites:
          type: array
          items:
            type: string
            format: uuid
    ItemRequirement:
      type: object
      properties:
        itemId:
          type: string
          format: uuid
        quantity:
          type: integer
          minimum: 1
      required:
      - itemId
      - quantity
    AbilityDetail:
      type: object
      properties:
        abilityId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        cooldownSeconds:
          type: integer
          minimum: 0
        resourceCost:
          type: integer
          minimum: 0
        effects:
          type: array
          items:
            $ref: '#/components/schemas/AbilityEffect'
      required:
      - abilityId
      - name
      - cooldownSeconds
      - resourceCost
    AbilityEffect:
      type: object
      properties:
        type:
          type: string
          enum:
          - damage
          - heal
          - buff
          - debuff
          - summon
          - teleport
        value:
          type: integer
        duration:
          type: integer
          description: Effect duration in seconds, 0 for instant effects
        target:
          type: string
          enum:
          - self
          - ally
          - enemy
          - area
    PlayerCompanion:
      type: object
      properties:
        companionId:
          type: string
          format: uuid
        typeId:
          type: string
          format: uuid
        name:
          type: string
        level:
          type: integer
          minimum: 1
        experience:
          type: integer
          minimum: 0
        currentStats:
          $ref: '#/components/schemas/CompanionStats'
        status:
          type: string
          enum:
          - stored
          - summoned
          - training
          - unavailable
        summonedAt:
          type: string
          format: date-time
        acquiredAt:
          type: string
          format: date-time
      required:
      - companionId
      - typeId
      - name
      - level
      - experience
      - currentStats
      - status
      - acquiredAt
    CompanionDetailed:
      allOf:
      - $ref: '#/components/schemas/PlayerCompanion'
      - type: object
        properties:
          abilities:
            type: array
            items:
              $ref: '#/components/schemas/CompanionAbility'
          inventory:
            type: array
            items:
              $ref: '#/components/schemas/CompanionItem'
          relationshipLevel:
            type: integer
            minimum: 0
            maximum: 100
          personality:
            $ref: '#/components/schemas/CompanionPersonality'
    CompanionAbility:
      type: object
      properties:
        abilityId:
          type: string
          format: uuid
        name:
          type: string
        level:
          type: integer
          minimum: 1
        cooldownRemaining:
          type: integer
          minimum: 0
        lastUsed:
          type: string
          format: date-time
      required:
      - abilityId
      - name
      - level
    CompanionItem:
      type: object
      properties:
        itemId:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
          enum:
          - weapon
          - armor
          - accessory
          - consumable
        equipped:
          type: boolean
      required:
      - itemId
      - name
      - type
    CompanionPersonality:
      type: object
      properties:
        traits:
          type: array
          items:
            type: string
        likes:
          type: array
          items:
            type: string
        dislikes:
          type: array
          items:
            type: string
        mood:
          type: string
          enum:
          - happy
          - neutral
          - sad
          - angry
          - excited
    PurchaseCompanionResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        purchaseId:
          type: string
          format: uuid
        companionId:
          type: string
          format: uuid
        newBalance:
          type: integer
          format: int64
        ownershipGranted:
          type: boolean
        purchaseTime:
          type: string
          format: date-time
      required:
      - success
      - purchaseId
      - companionId
      - newBalance
      - ownershipGranted
      - purchaseTime
    SummonCompanionResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        companionId:
          type: string
          format: uuid
        summonTime:
          type: string
          format: date-time
        activeAbilities:
          type: array
          items:
            type: string
            format: uuid
      required:
      - success
      - companionId
      - summonTime
    RecallCompanionResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        companionId:
          type: string
          format: uuid
        recallTime:
          type: string
          format: date-time
        totalActiveTime:
          type: integer
          description: Total time companion was active in seconds
      required:
      - success
      - companionId
      - recallTime
    RenameCompanionResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        companionId:
          type: string
          format: uuid
        oldName:
          type: string
        newName:
          type: string
        renameTime:
          type: string
          format: date-time
      required:
      - success
      - companionId
      - oldName
      - newName
      - renameTime
    AddExperienceResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        companionId:
          type: string
          format: uuid
        experienceAdded:
          type: integer
        previousLevel:
          type: integer
        newLevel:
          type: integer
        leveledUp:
          type: boolean
        experienceTime:
          type: string
          format: date-time
      required:
      - success
      - companionId
      - experienceAdded
      - previousLevel
      - newLevel
      - leveledUp
      - experienceTime
    UseAbilityResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        companionId:
          type: string
          format: uuid
        abilityId:
          type: string
          format: uuid
        abilityName:
          type: string
        effects:
          type: array
          items:
            $ref: '#/components/schemas/AbilityEffect'
        cooldownEndsAt:
          type: string
          format: date-time
        useTime:
          type: string
          format: date-time
      required:
      - success
      - companionId
      - abilityId
      - abilityName
      - useTime
    PaginationParams:
      $ref: ../common-service/schemas/pagination.yaml#/PaginationParams
    PaginatedResponse:
      $ref: ../common-service/schemas/pagination.yaml#/PaginatedResponse
  responses:
    OK:
      $ref: ../common-service/responses/success.yaml#/OK
    Created:
      $ref: ../common-service/responses/success.yaml#/Created
    BadRequest:
      $ref: ../common-service/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common-service/responses/error.yaml#/Unauthorized
    Forbidden:
      $ref: ../common-service/responses/error.yaml#/Forbidden
    NotFound:
      $ref: ../common-service/responses/error.yaml#/NotFound
    Conflict:
      $ref: ../common-service/responses/error.yaml#/Conflict
    InternalServerError:
      $ref: ../common-service/responses/error.yaml#/InternalServerError
    HealthOK:
      $ref: ../common-service/responses/success.yaml#/HealthOK
    HealthBatchSuccess:
      $ref: ../common-service/responses/success.yaml#/HealthBatchSuccess
  securitySchemes:
    BearerAuth:
      $ref: ../common-service/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common-service/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common-service/security/security.yaml#/ServiceAuth
