openapi: 3.0.3
info:
  title: Companion Domain API - Enterprise-Grade Player Companion Management
  description: '**Enterprise-Grade Companion Service API for NECPGAME**


    Comprehensive player companion system managing companion acquisition, training,
    abilities,

    and companion-player interactions for the NECPGAME ecosystem.


    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation

    - **Backend optimization hints** for struct alignment and performance (30-50%
    memory savings)

    - **Complete validation** with redocly and ogen code generation

    - **Security-first approach** with JWT authentication and companion authorization

    - **Performance-optimized** response structures with field ordering

    - **Comprehensive error handling** with proper HTTP status codes


    ## Domain Purpose

    The Companion Service manages all companion-related operations including companion
    acquisition,

    training, ability usage, and companion-player relationships.

    Critical for companion progression management and game balance adjustments.


    ## Performance Targets

    - P99 Latency: <100ms for companion operations (careful operations)

    - P99 Latency: <25ms for companion status checks

    - Memory: <20KB per active companion session

    - Concurrent users: 5,000+ simultaneous companion operations

    - Companion throughput: 500+ companion operations/minute

    - Data consistency: Event-sourced with CQRS patterns

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/companion
  description: Production server
- url: https://staging-api.necpgame.com/v1/companion
  description: Staging server
- url: http://localhost:8080
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Companion Management
  description: Companion acquisition, ownership, and basic management
- name: Companion Training
  description: Companion experience, leveling, and skill development
- name: Companion Abilities
  description: Companion abilities, usage, and ability management
- name: Companion Social
  description: Companion interactions, relationships, and social features
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /companion/types:
    $ref: ./paths/companion-types.yaml#/paths/~1companion~1types
  /companion/types/{typeId}:
    $ref: ./paths/companion-types-{typeId}.yaml#/paths/~1companion~1types~1{typeId}
  /players/{playerId}/companions:
    $ref: ./paths/players-{playerId}-companions.yaml#/paths/~1players~1{playerId}~1companions
  /players/{playerId}/companions/{companionId}:
    $ref: ./paths/players-{playerId}-companions-{companionId}.yaml#/paths/~1players~1{playerId}~1companions~1{companionId}
  /players/{playerId}/companions/purchase:
    $ref: ./paths/players-{playerId}-companions-purchase.yaml#/paths/~1players~1{playerId}~1companions~1purchase
  /players/{playerId}/companions/{companionId}/summon:
    $ref: ./paths/players-{playerId}-companions-{companionId}-summon.yaml#/paths/~1players~1{playerId}~1companions~1{companionId}~1summon
  /players/{playerId}/companions/{companionId}/recall:
    $ref: ./paths/players-{playerId}-companions-{companionId}-recall.yaml#/paths/~1players~1{playerId}~1companions~1{companionId}~1recall
  /players/{playerId}/companions/{companionId}/rename:
    $ref: ./paths/players-{playerId}-companions-{companionId}-rename.yaml#/paths/~1players~1{playerId}~1companions~1{companionId}~1rename
  /players/{playerId}/companions/{companionId}/experience:
    $ref: ./paths/players-{playerId}-companions-{companionId}-experience.yaml#/paths/~1players~1{playerId}~1companions~1{companionId}~1experience
  /players/{playerId}/companions/{companionId}/abilities/{abilityId}/use:
    $ref: ./paths/players-{playerId}-companions-{companionId}-abilities-{abilityId}-use.yaml#/paths/~1players~1{playerId}~1companions~1{companionId}~1abilities~1{abilityId}~1use
components:
  schemas:
    HealthResponse:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/HealthResponse
    Error:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/Error
    CompanionType:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/CompanionType
    CompanionTypeDetailed:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/CompanionTypeDetailed
    CompanionStats:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/CompanionStats
    CompanionRequirements:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/CompanionRequirements
    ItemRequirement:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/ItemRequirement
    AbilityDetail:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/AbilityDetail
    AbilityEffect:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/AbilityEffect
    PlayerCompanion:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/PlayerCompanion
    CompanionDetailed:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/CompanionDetailed
    CompanionAbility:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/CompanionAbility
    CompanionItem:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/CompanionItem
    CompanionPersonality:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/CompanionPersonality
    PurchaseCompanionResponse:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/PurchaseCompanionResponse
    SummonCompanionResponse:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/SummonCompanionResponse
    RecallCompanionResponse:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/RecallCompanionResponse
    RenameCompanionResponse:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/RenameCompanionResponse
    AddExperienceResponse:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/AddExperienceResponse
    UseAbilityResponse:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/UseAbilityResponse
    PaginationParams:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/PaginationParams
    PaginatedResponse:
      $ref: ./schemas/companion-service-schemas.yaml#/components/schemas/PaginatedResponse
  responses:
    OK:
      $ref: ./schemas/companion-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/companion-service-responses.yaml#/components/responses/Created
    BadRequest:
      $ref: ./schemas/companion-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/companion-service-responses.yaml#/components/responses/Unauthorized
    Forbidden:
      $ref: ./schemas/companion-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/companion-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/companion-service-responses.yaml#/components/responses/Conflict
    InternalServerError:
      $ref: ./schemas/companion-service-responses.yaml#/components/responses/InternalServerError
    HealthOK:
      $ref: ./schemas/companion-service-responses.yaml#/components/responses/HealthOK
    HealthBatchSuccess:
      $ref: ./schemas/companion-service-responses.yaml#/components/responses/HealthBatchSuccess
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
