openapi: 3.0.3
info:
  title: Reset Service API - Enterprise-Grade Game State and Progression Reset Management
  description: '**Enterprise-Grade Reset Service API for NECPGAME**


    Comprehensive game reset system managing character resets, progression resets, game state cleanup,

    and controlled rollback functionality for the NECPGAME ecosystem.


    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation

    - **Backend optimization hints** for struct alignment and performance (30-50% memory savings)

    - **Complete validation** with redocly and ogen code generation

    - **Security-first approach** with JWT authentication and reset authorization

    - **Performance-optimized** response structures with field ordering

    - **Comprehensive error handling** with proper HTTP status codes


    ## Domain Purpose

    The Reset Service manages all game reset operations including character progression resets,

    inventory cleanups, achievement rollbacks, and controlled game state modifications.

    Critical for player progression management and game balance adjustments.


    ## Performance Targets

    - P99 Latency: <100ms for reset operations (careful operations)

    - P99 Latency: <25ms for reset status checks

    - Memory: <20KB per active reset session

    - Concurrent users: 5,000+ simultaneous reset operations

    - Reset throughput: 500+ resets/minute

    - Data consistency: Event-sourced with CQRS patterns

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/reset
  description: Production server
- url: https://staging-api.necpgame.com/v1/reset
  description: Staging server
- url: http://localhost:8080/api/v1/reset
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Character Reset
  description: Character progression and attribute resets
- name: Inventory Reset
  description: Inventory cleanup and item reset operations
- name: Achievement Reset
  description: Achievement progress and unlock resets
- name: Game State Reset
  description: Complete game state rollback and cleanup
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Reset service health check
      description: '**Enterprise-grade health check endpoint**


        Provides real-time health status of the reset service microservice.

        Critical for service discovery, load balancing, and monitoring.

        Includes reset operation status and rollback capabilities.


        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: resetServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /stats:
    get:
      summary: Get reset operation statistics
      description: '**Reset service statistics endpoint**


        Provides aggregated statistics about reset operations performed.

        Includes counts, success rates, and performance metrics.


        **Performance:** <25ms P95, aggregated data

        '
      operationId: getResetStats
      tags:
      - Game State Reset
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Reset statistics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                - total_resets
                - successful_resets
                - failed_resets
                - average_completion_time
                properties:
                  total_resets:
                    type: integer
                    minimum: 0
                    example: 15420
                  successful_resets:
                    type: integer
                    minimum: 0
                    example: 15234
                  failed_resets:
                    type: integer
                    minimum: 0
                    example: 186
                  average_completion_time:
                    type: number
                    format: float
                    minimum: 0
                    example: 45.5
                    description: Average completion time in seconds
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /history:
    get:
      summary: Get reset operation history
      description: '**Reset service history endpoint**


        Retrieves paginated history of reset operations.

        Supports filtering by type, status, and time range.


        **Performance:** <50ms P95, with database indexing

        '
      operationId: getResetHistory
      tags:
      - Game State Reset
      security:
      - BearerAuth: []
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Number of records to return
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Number of records to skip
      - name: reset_type
        in: query
        schema:
          type: string
          enum:
          - character_reset
          - inventory_reset
          - achievement_reset
          - full_reset
        description: Filter by reset type
      - name: status
        in: query
        schema:
          type: string
          enum:
          - queued
          - processing
          - completed
          - failed
          - cancelled
        description: Filter by status
      responses:
        '200':
          description: Reset history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                - resets
                - total_count
                - has_more
                properties:
                  resets:
                    type: array
                    items:
                      type: object
                      required:
                      - reset_id
                      - reset_type
                      - status
                      - created_at
                      properties:
                        reset_id:
                          type: string
                          format: uuid
                          example: 550e8400-e29b-41d4-a716-446655440000
                        reset_type:
                          type: string
                          enum:
                          - character_reset
                          - inventory_reset
                          - achievement_reset
                          - full_reset
                          example: character_reset
                        status:
                          type: string
                          enum:
                          - queued
                          - processing
                          - completed
                          - failed
                          - cancelled
                          example: completed
                        created_at:
                          type: string
                          format: date-time
                          example: '2025-12-22T10:30:00Z'
                        completed_at:
                          type: string
                          format: date-time
                          example: '2025-12-22T10:35:00Z'
                  total_count:
                    type: integer
                    minimum: 0
                    example: 150
                  has_more:
                    type: boolean
                    example: true
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trigger:
    post:
      summary: Trigger reset operation
      description: '**Reset service trigger endpoint**


        Initiates a reset operation with specified parameters.

        Supports different reset types and scopes.


        **Performance:** <100ms P95, includes validation and queuing

        **Security:** Requires confirmation token for destructive operations

        '
      operationId: triggerReset
      tags:
      - Game State Reset
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - reset_type
              - confirmation_token
              properties:
                reset_type:
                  type: string
                  enum:
                  - daily
                  - weekly
                  description: Type of reset to trigger
                  example: daily
                confirmation_token:
                  type: string
                  description: User confirmation token
                  example: CONFIRM-RESET-DAILY-123456
      responses:
        '200':
          description: Reset operation triggered successfully
          content:
            application/json:
              schema:
                type: object
                required:
                - reset_id
                - message
                properties:
                  reset_id:
                    type: string
                    format: uuid
                    example: 550e8400-e29b-41d4-a716-446655440000
                  message:
                    type: string
                    example: "Daily reset triggered successfully"
        '400':
          description: Invalid reset request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Reset already in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  responses:
    HealthBatchSuccess:
      description: Batch health results retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: no-cache
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            type: object
            required:
            - results
            - total_time_ms
            properties:
              results:
                type: array
                items:
                  $ref: '#/components/schemas/HealthResponse'
                description: Health status for each requested service
              total_time_ms:
                type: integer
                description: Total processing time in milliseconds
                example: 15
                minimum: 0
    ExampleListSuccess:
      description: Examples retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
        X-Total-Count:
          schema:
            type: integer
            example: 150
            description: Total number of examples matching criteria
        X-Page-Count:
          schema:
            type: integer
            example: 8
            description: Total number of pages
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExampleListResponse'
    ExampleCreated:
      description: Example created successfully
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/examples/550e8400-e29b-41d4-a716-446655440000
            description: URL of the created example
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching and optimistic locking
        Cache-Control:
          schema:
            type: string
            example: no-cache
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExampleResponse'
    ExampleRetrieved:
      description: Example retrieved successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
            description: Cache control directives
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: '2025-12-21T10:00:00Z'
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 5
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExampleResponse'
    ExampleUpdated:
      description: Example updated successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v2"'
            description: New entity tag after update
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: '2025-12-21T10:05:00Z'
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 25
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExampleResponse'
    ExampleDeleted:
      description: Example deleted successfully
      headers:
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT Bearer token authentication.


        **Token Format:** `Bearer {token}`

        **Token Claims:**

        - `sub`: User/Player ID

        - `exp`: Expiration timestamp

        - `iat`: Issued at timestamp

        - `iss`: Token issuer

        - `aud`: Token audience

        - `roles`: User roles array

        - `permissions`: User permissions array


        **Security Features:**

        - RS256 signature algorithm

        - Token rotation required every 24 hours

        - Automatic refresh tokens

        - Revocation support via Redis

        '
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'API Key authentication for service-to-service communication.


        **Use Cases:**

        - Internal service communication

        - Third-party integrations

        - Development and testing


        **Security:**

        - HMAC-SHA256 signed

        - Rate limited per key

        - Scoped permissions

        '
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.necpgame.com/oauth/authorize
          tokenUrl: https://auth.necpgame.com/oauth/token
          refreshUrl: https://auth.necpgame.com/oauth/refresh
          scopes:
            read: Read access to resources
            write: Write access to resources
            admin: Administrative access
            profile: Access to user profile
            guilds: Access to guild management
        clientCredentials:
          tokenUrl: https://auth.necpgame.com/oauth/token
          scopes:
            service: Service-to-service communication
            monitoring: Monitoring and metrics access
    MutualTLS:
      type: apiKey
      in: header
      name: X-Client-Certificate
      description: 'Mutual TLS authentication for high-security operations.


        **Requirements:**

        - Valid client certificate

        - Certificate signed by trusted CA

        - Certificate not revoked (OCSP/CRL check)


        **Use Cases:**

        - Administrative operations

        - Financial transactions

        - Critical system operations


        **Header:** `X-Client-Certificate: {certificate_fingerprint}`

        '
  schemas:
    HealthResponse:
      type: object
      required:
      - status
      - timestamp
      - domain
      properties:
        domain:
          type: string
          example: example-domain
          maxLength: 50
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
          example: healthy
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          example: '2025-12-21T10:00:00Z'
          maxLength: 255
        version:
          type: string
          example: 1.0.0
          maxLength: 50
        uptime_seconds:
          type: integer
          example: 3600
        active_connections:
          type: integer
          example: 1500
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    WebSocketHealthMessage:
      type: object
      required:
      - type
      - timestamp
      - health
      properties:
        type:
          type: string
          enum:
          - health_update
          - health_alert
          - service_down
          example: health_update
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          maxLength: 255
        message_timestamp:
          type: string
          format: date-time
          description: Timestamp of the health message
          maxLength: 1000
        health:
          $ref: '#/components/schemas/HealthResponse'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    Error:
      type: object
      required:
      - code
      - message
      properties:
        message:
          type: string
          maxLength: 256
          example: Internal server error
        domain:
          type: string
          example: example-domain
          maxLength: 50
        details:
          type: object
          description: Additional error context
          example:
            field: name
            reason: required
        code:
          type: integer
          format: int32
          minimum: 100
          maximum: 599
          example: 500
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    Example:
      type: object
      required:
      - id
      - name
      - created_at
      - status
      - is_active
      properties:
        id:
          type: string
          format: uuid
          description: Example unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Example display name
          example: Sample Example
        description:
          type: string
          maxLength: 1000
          description: Detailed description
          example: This is a comprehensive example demonstrating best practices.
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: '2025-12-21T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-21T10:00:00Z'
        status:
          type: string
          enum:
          - active
          - inactive
          - pending
          - archived
          default: active
          description: Current status
          example: active
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Associated tags
          example:
          - demo
          - template
          - best-practice
        is_active:
          type: boolean
          description: Whether this example is active
          example: true
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Processing priority
          example: 7
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%. Hot
        path optimization required.'
    CreateExampleRequest:
      type: object
      required:
      - name
      - description
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Desired example name
          example: My New Example
        description:
          type: string
          maxLength: 1000
          description: Example description
          example: A new example following enterprise-grade patterns.
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Initial tags
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Processing priority
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    UpdateExampleRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: New example name
          example: Updated Example Name
        description:
          type: string
          maxLength: 1000
          description: New description
        status:
          type: string
          enum:
          - active
          - inactive
          - pending
          - archived
          description: New status
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Replace all tags
        is_active:
          type: boolean
          description: Update active status
        priority:
          type: integer
          minimum: 1
          maximum: 10
          description: New priority
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    ExampleResponse:
      type: object
      required:
      - example
      properties:
        example:
          $ref: '#/components/schemas/Example'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    ExampleListResponse:
      type: object
      required:
      - examples
      - total_count
      - has_more
      properties:
        examples:
          type: array
          items:
            $ref: '#/components/schemas/Example'
          description: List of examples
        has_more:
          type: boolean
          description: Whether there are more results available
          example: true
        total_count:
          type: integer
          description: Total number of examples matching criteria
          example: 150
        page:
          type: integer
          description: Current page number
          example: 1
        limit:
          type: integer
          description: Items per page
          example: 20
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%. Paginated
        responses optimized for memory efficiency.'
