openapi: 3.0.3
info:
  title: Reset Service API - Enterprise-Grade Game State and Progression Reset Management
  description: |
    **Enterprise-Grade Reset Service API for NECPGAME**

    Comprehensive game reset system managing character resets, progression resets, game state cleanup,
    and controlled rollback functionality for the NECPGAME ecosystem.

    ## Key Features
    - **Enterprise-grade architecture** with proper domain separation
    - **Backend optimization hints** for struct alignment and performance (30-50% memory savings)
    - **Complete validation** with redocly and ogen code generation
    - **Security-first approach** with JWT authentication and reset authorization
    - **Performance-optimized** response structures with field ordering
    - **Comprehensive error handling** with proper HTTP status codes

    ## Domain Purpose
    The Reset Service manages all game reset operations including character progression resets,
    inventory cleanups, achievement rollbacks, and controlled game state modifications.
    Critical for player progression management and game balance adjustments.

    ## Performance Targets
    - P99 Latency: <100ms for reset operations (careful operations)
    - P99 Latency: <25ms for reset status checks
    - Memory: <20KB per active reset session
    - Concurrent users: 5,000+ simultaneous reset operations
    - Reset throughput: 500+ resets/minute
    - Data consistency: Event-sourced with CQRS patterns
  version: "1.0.0"
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.necpgame.com/v1/reset
    description: Production server
  - url: https://staging-api.necpgame.com/v1/reset
    description: Staging server
  - url: http://localhost:8080/api/v1/reset
    description: Local development server

security:
  - BearerAuth: [ ]

tags:
  - name: Character Reset
    description: Character progression and attribute resets
  - name: Inventory Reset
    description: Inventory cleanup and item reset operations
  - name: Achievement Reset
    description: Achievement progress and unlock resets
  - name: Game State Reset
    description: Complete game state rollback and cleanup
  - name: Health Monitoring
    description: System health and performance monitoring

paths:
  # Health Check - ОБЯЗАТЕЛЬНО для всех доменов
  /health:
    get:
      summary: Reset service health check
      description: |
        **Enterprise-grade health check endpoint**

        Provides real-time health status of the reset service microservice.
        Critical for service discovery, load balancing, and monitoring.
        Includes reset operation status and rollback capabilities.

        **Performance:** <1ms response time, cached for 30 seconds
      operationId: resetServiceHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum: [ gzip, deflate, br ]
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum: [ gzip, deflate, br ]
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Batch Health Check - ОБЯЗАТЕЛЬНО для enterprise-grade доменов
  /health/batch:
    post:
      summary: Batch health check for multiple domain services
      description: |
        **Performance optimization:** Check multiple domain health in single request

        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.
        Eliminates network overhead in health monitoring scenarios.

        **Use case:** Service mesh health checks, Kubernetes readiness probes
      operationId: exampleDomainBatchHealthCheck
      tags:
        - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum: [ example-domain, system-domain, specialized-domain ]
                    maxItems: 10
                  description: List of services to check
      responses:
        "200":
          $ref: "#/components/responses/HealthBatchSuccess"
        "400":
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # WebSocket Health Monitoring - ОБЯЗАТЕЛЬНО для real-time доменов
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description: |
        **Performance optimization:** Real-time health updates without polling

        Eliminates periodic HTTP requests, reduces server load by ~90%.
        Perfect for dashboard monitoring and alerting systems.

        **Protocol:** WebSocket with JSON payloads
        **Heartbeat:** 30 second intervals
        **Reconnection:** Automatic with exponential backoff
      operationId: exampleDomainHealthWebSocket
      tags:
        - Health Monitoring
      parameters:
        - name: services
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [ example-domain, system-domain, specialized-domain ]
          description: Services to monitor (optional, monitors all if not specified)
      responses:
        "200":
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: "ws://localhost:8080/api/v1/example-domain/health/ws"
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example: [ "health-monitoring-v1" ]
        "101":
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebSocketHealthMessage"
        "400":
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Character Reset Operations - Player character reset management
  /character:
    post:
      summary: Request character reset
      description: |
        **Enterprise-grade character reset endpoint**

        Initiates character reset operation with validation and confirmation requirements.
        Supports partial or full character resets with different reset types and costs.

        **Performance:** <75ms P95, includes validation and cost calculation
        **Business rules:** Reset cooldowns, confirmation requirements, reset limits
      operationId: requestCharacterReset
      tags:
        - Character Reset
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reset_type
                - confirmation_token
              properties:
                reset_type:
                  type: string
                  enum: [ full_reset, progression_reset, attribute_reset, skill_reset ]
                  description: Type of character reset requested
                  example: full_reset
                confirmation_token:
                  type: string
                  description: User confirmation token to prevent accidental resets
                  example: "CONFIRM-RESET-123456"
                reset_reason:
                  type: string
                  enum: [ player_request, game_master, system_correction, event_bonus ]
                  description: Reason for the reset
                  example: player_request
                preserve_items:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Specific items to preserve during reset
                  maxItems: 10
      responses:
        "202":
          description: Character reset request accepted for processing
          headers:
            Location:
              schema:
                type: string
                example: "/api/v1/reset/character/reset-1234567890"
            X-Reset-Id:
              schema:
                type: string
                example: "reset-1234567890"
          content:
            application/json:
              schema:
                type: object
                required:
                  - reset_id
                  - status
                  - estimated_completion
                  - reset_cost
                properties:
                  reset_id:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  status:
                    type: string
                    enum: [ queued, processing, completed, failed ]
                    example: queued
                  estimated_completion:
                    type: string
                    format: date-time
                    description: When reset is expected to complete
                    example: "2025-12-22T10:35:00Z"
                  reset_cost:
                    type: object
                    description: Resources consumed by reset operation
                    example: { "gold": 5000, "premium_currency": 100 }
        "400":
          description: Invalid reset request or reset not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: Insufficient funds for reset operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Reset rate limit exceeded or recent reset exists
          headers:
            Retry-After:
              schema:
                type: integer
                example: 3600
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number for pagination
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of items per page
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [ created_at, name, priority ]
            default: created_at
          description: Sort field
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [ asc, desc ]
            default: desc
          description: Sort order
        - name: filter_status
          in: query
          schema:
            type: string
            enum: [ active, inactive, pending ]
          description: Filter by status
      responses:
        "200":
          $ref: "#/components/responses/ExampleListSuccess"
        "400":
          description: Invalid request - malformed query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Unprocessable entity - validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      summary: Create new example
      description: |
        **Enterprise-grade creation endpoint**

        Validates business rules, applies security checks, and ensures data consistency.
        Supports optimistic locking for concurrent operations.

        **Performance:** <50ms P95, includes validation and business logic
      operationId: createExample
      tags:
        - Example Domain
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateExampleRequest"
      responses:
        "201":
          $ref: "#/components/responses/ExampleCreated"
        "400":
          description: Invalid request - malformed or missing data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict - example with this identifier already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - creation rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /examples/{example_id}:
    get:
      summary: Get specific example by ID
      description: |
        **Enterprise-grade retrieval endpoint**

        Optimized with proper caching strategies and database indexing.
        Supports conditional requests with ETags.

        **Performance:** <5ms P95 with Redis caching
      operationId: getExample
      tags:
        - Example Domain
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
        - name: include_related
          in: query
          schema:
            type: boolean
            default: false
          description: Include related data in response
        - name: If-None-Match
          in: header
          schema:
            type: string
          description: Conditional request - return 304 if ETag matches
        - name: If-Modified-Since
          in: header
          schema:
            type: string
            format: date-time
          description: Conditional request - return 304 if not modified since this time
      responses:
        "200":
          $ref: "#/components/responses/ExampleRetrieved"
        "304":
          description: Not modified - resource has not changed
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
        "400":
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      summary: Update existing example
      description: |
        **Enterprise-grade update endpoint**

        Supports partial updates, optimistic locking, and audit trails.
        Ensures data consistency with event sourcing patterns.

        **Performance:** <25ms P95, includes validation and conflict resolution
      operationId: updateExample
      tags:
        - Example Domain
      security:
        - BearerAuth: [ ]
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
        - name: If-Match
          in: header
          schema:
            type: string
          description: ETag for optimistic locking - prevents concurrent updates
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
          description: Conditional update - proceed only if not modified since this time
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateExampleRequest"
      responses:
        "200":
          $ref: "#/components/responses/ExampleUpdated"
        "400":
          description: Invalid request - malformed data or example ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict - version conflict (optimistic locking) or precondition failed
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "412":
          description: Precondition failed - If-Match or If-Unmodified-Since condition not met
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - update rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      summary: Delete example
      description: |
        **Enterprise-grade deletion endpoint**

        Supports soft deletes with audit trails and cleanup scheduling.
        Ensures referential integrity and cascading deletes.

        **Performance:** <15ms P95, includes cleanup operations
      operationId: deleteExample
      tags:
        - Example Domain
      security:
        - BearerAuth: [ ]
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
      responses:
        "204":
          $ref: "#/components/responses/ExampleDeleted"
        "400":
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict - example cannot be deleted (referential integrity)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - deletion rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Inventory Reset Operations - Player inventory cleanup
  /inventory:
    post:
      summary: Request inventory reset
      description: |
        **Enterprise-grade inventory reset endpoint**

        Initiates inventory reset operation with selective item preservation and cleanup.
        Supports different reset scopes and inventory organization options.

        **Performance:** <50ms P95, includes inventory validation
        **Business rules:** Item preservation rules, reset scope validation
      operationId: requestInventoryReset
      tags:
        - Inventory Reset
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reset_scope
                - confirmation_token
              properties:
                reset_scope:
                  type: string
                  enum: [ all_items, equipped_only, consumables_only, materials_only, by_rarity ]
                  description: Scope of inventory reset
                  example: all_items
                confirmation_token:
                  type: string
                  description: User confirmation token
                  example: "CONFIRM-INVENTORY-RESET-123456"
                preserve_rarities:
                  type: array
                  items:
                    type: string
                    enum: [ common, uncommon, rare, epic, legendary, mythic ]
                  description: Item rarities to preserve during reset
                  example: [ "legendary", "mythic" ]
                preserve_equipped:
                  type: boolean
                  default: true
                  description: Whether to preserve currently equipped items
                  example: true
                max_preserve_count:
                  type: integer
                  minimum: 0
                  maximum: 100
                  default: 50
                  description: Maximum number of items to preserve
      responses:
        "202":
          description: Inventory reset request accepted
          headers:
            Location:
              schema:
                type: string
                example: "/api/v1/reset/inventory/reset-1234567890"
          content:
            application/json:
              schema:
                type: object
                required:
                  - reset_id
                  - items_to_remove
                  - items_to_preserve
                  - estimated_completion
                properties:
                  reset_id:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440001"
                  items_to_remove:
                    type: integer
                    description: Number of items that will be removed
                    example: 245
                  items_to_preserve:
                    type: integer
                    description: Number of items that will be preserved
                    example: 12
                  estimated_completion:
                    type: string
                    format: date-time
                    example: "2025-12-22T10:32:00Z"
        "400":
          description: Invalid inventory reset request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Achievement Reset Operations - Player achievement cleanup
  /achievements:
    post:
      summary: Request achievement reset
      description: |
        **Enterprise-grade achievement reset endpoint**

        Initiates achievement progress reset with selective preservation options.
        Supports different reset scopes for achievement categories and progress levels.

        **Performance:** <30ms P95, includes achievement validation
        **Business rules:** Achievement preservation rules, reset scope limitations
      operationId: requestAchievementReset
      tags:
        - Achievement Reset
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reset_scope
                - confirmation_token
              properties:
                reset_scope:
                  type: string
                  enum: [ all_achievements, category_specific, progress_only, unlocks_only ]
                  description: Scope of achievement reset
                  example: progress_only
                confirmation_token:
                  type: string
                  description: User confirmation token
                  example: "CONFIRM-ACHIEVEMENT-RESET-123456"
                preserve_categories:
                  type: array
                  items:
                    type: string
                    enum: [ combat, exploration, social, collection, progression, seasonal ]
                  description: Achievement categories to preserve
                  example: [ "seasonal", "progression" ]
                preserve_completed:
                  type: boolean
                  default: true
                  description: Whether to preserve completed achievements
                  example: true
      responses:
        "202":
          description: Achievement reset request accepted
          headers:
            Location:
              schema:
                type: string
                example: "/api/v1/reset/achievements/reset-1234567890"
          content:
            application/json:
              schema:
                type: object
                required:
                  - reset_id
                  - achievements_to_reset
                  - achievements_to_preserve
                  - estimated_completion
                properties:
                  reset_id:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440002"
                  achievements_to_reset:
                    type: integer
                    description: Number of achievements that will be reset
                    example: 45
                  achievements_to_preserve:
                    type: integer
                    description: Number of achievements that will be preserved
                    example: 23
                  estimated_completion:
                    type: string
                    format: date-time
                    example: "2025-12-22T10:33:00Z"
        "400":
          description: Invalid achievement reset request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Reset Status and History - Reset operation monitoring
  /resets/{reset_id}:
    get:
      summary: Get reset operation status
      description: |
        **Enterprise-grade reset status endpoint**

        Retrieves detailed status of ongoing or completed reset operations.
        Provides progress tracking and completion confirmation.

        **Performance:** <15ms P95 (HOT PATH), Redis cached
        **Security:** Users can only access their own reset operations
      operationId: getResetStatus
      tags:
        - Game State Reset
      parameters:
        - name: reset_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Reset operation unique identifier
      responses:
        "200":
          description: Reset status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - reset_id
                  - reset_type
                  - status
                  - created_at
                  - progress
                properties:
                  reset_id:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  reset_type:
                    type: string
                    enum: [ character_reset, inventory_reset, achievement_reset, full_reset ]
                    example: character_reset
                  status:
                    type: string
                    enum: [ queued, processing, completed, failed, cancelled ]
                    example: completed
                  created_at:
                    type: string
                    format: date-time
                    example: "2025-12-22T10:30:00Z"
                  started_at:
                    type: string
                    format: date-time
                    example: "2025-12-22T10:30:05Z"
                  completed_at:
                    type: string
                    format: date-time
                    example: "2025-12-22T10:35:00Z"
                  progress:
                    type: object
                    required:
                      - percentage
                      - current_step
                      - total_steps
                    properties:
                      percentage:
                        type: number
                        format: float
                        minimum: 0
                        maximum: 100
                        example: 85.5
                      current_step:
                        type: string
                        example: "Processing character attributes"
                      total_steps:
                        type: integer
                        example: 12
                  rollback_available:
                    type: boolean
                    description: Whether reset can be rolled back
                    example: true
                  rollback_deadline:
                    type: string
                    format: date-time
                    description: Deadline for rollback operations
                    example: "2025-12-23T10:30:00Z"
        "404":
          description: Reset operation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  responses:
    # Common response definitions with headers
    HealthBatchSuccess:
      description: Batch health results retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: no-cache
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            type: object
            required:
              - results
              - total_time_ms
            properties:
              results:
                type: array
                items:
                  $ref: "#/components/schemas/HealthResponse"
                description: Health status for each requested service
              total_time_ms:
                type: integer
                description: Total processing time in milliseconds
                example: 15
                minimum: 0

    ExampleListSuccess:
      description: Examples retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
        X-Total-Count:
          schema:
            type: integer
            example: 150
            description: Total number of examples matching criteria
        X-Page-Count:
          schema:
            type: integer
            example: 8
            description: Total number of pages
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleListResponse"

    ExampleCreated:
      description: Example created successfully
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/examples/550e8400-e29b-41d4-a716-446655440000
            description: URL of the created example
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching and optimistic locking
        Cache-Control:
          schema:
            type: string
            example: no-cache
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"

    ExampleRetrieved:
      description: Example retrieved successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
            description: Cache control directives
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: "2025-12-21T10:00:00Z"
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 5
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"

    ExampleUpdated:
      description: Example updated successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v2"'
            description: New entity tag after update
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: "2025-12-21T10:05:00Z"
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 25
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"

    ExampleDeleted:
      description: Example deleted successfully
      headers:
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token authentication.

        **Token Format:** `Bearer {token}`
        **Token Claims:**
        - `sub`: User/Player ID
        - `exp`: Expiration timestamp
        - `iat`: Issued at timestamp
        - `iss`: Token issuer
        - `aud`: Token audience
        - `roles`: User roles array
        - `permissions`: User permissions array

        **Security Features:**
        - RS256 signature algorithm
        - Token rotation required every 24 hours
        - Automatic refresh tokens
        - Revocation support via Redis
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API Key authentication for service-to-service communication.

        **Use Cases:**
        - Internal service communication
        - Third-party integrations
        - Development and testing

        **Security:**
        - HMAC-SHA256 signed
        - Rate limited per key
        - Scoped permissions
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.necpgame.com/oauth/authorize
          tokenUrl: https://auth.necpgame.com/oauth/token
          refreshUrl: https://auth.necpgame.com/oauth/refresh
          scopes:
            read: Read access to resources
            write: Write access to resources
            admin: Administrative access
            profile: Access to user profile
            guilds: Access to guild management
        clientCredentials:
          tokenUrl: https://auth.necpgame.com/oauth/token
          scopes:
            service: Service-to-service communication
            monitoring: Monitoring and metrics access
    MutualTLS:
      type: apiKey
      in: header
      name: X-Client-Certificate
      description: |
        Mutual TLS authentication for high-security operations.

        **Requirements:**
        - Valid client certificate
        - Certificate signed by trusted CA
        - Certificate not revoked (OCSP/CRL check)

        **Use Cases:**
        - Administrative operations
        - Financial transactions
        - Critical system operations

        **Header:** `X-Client-Certificate: {certificate_fingerprint}`

  schemas:

    # Health schemas - ОБЯЗАТЕЛЬНЫ для всех доменов
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
        - domain
      properties:
        domain:
          type: string
          example: example-domain
          maxLength: 50
        status:
          type: string
          enum: [ healthy, degraded, unhealthy ]
          example: healthy
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          example: "2025-12-21T10:00:00Z"
          maxLength: 255
        version:
          type: string
          example: "1.0.0"
          maxLength: 50
        uptime_seconds:
          type: integer
          example: 3600
        active_connections:
          type: integer
          example: 1500
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    WebSocketHealthMessage:
      type: object
      required:
        - type
        - timestamp
        - health
      properties:
        type:
          type: string
          enum: [ health_update, health_alert, service_down ]
          example: health_update
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          maxLength: 255
        message_timestamp:
          type: string
          format: date-time
          description: Timestamp of the health message
          maxLength: 1000
        health:
          $ref: "#/components/schemas/HealthResponse"
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    # Error schema - ОБЯЗАТЕЛЬНО для всех доменов
    Error:
      type: object
      required:
        - code
        - message
      properties:
        message:
          type: string
          maxLength: 256
          example: Internal server error
        code:
          type: integer
          format: int32
          minimum: 100
          maximum: 599
          example: 500
        domain:
          type: string
          example: example-domain
          maxLength: 50
        details:
          type: object
          description: Additional error context
          example: { "field": "name", "reason": "required" }
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    # Domain-specific schemas - ЗАМЕНИТЬ на реальные схемы домена

    # Core Example entity - ОБЯЗАТЕЛЬНО оптимизировать порядок полей
    Example:
      type: object
      required:
        - id
        - name
        - created_at
        - status
        - is_active
      properties:
        # Large fields first for struct alignment
        id:
          type: string
          format: uuid
          description: Example unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Example display name
          example: Sample Example
        description:
          type: string
          maxLength: 1000
          description: Detailed description
          example: This is a comprehensive example demonstrating best practices.
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2025-12-21T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2025-12-21T10:00:00Z"
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Processing priority
          example: 7
        status:
          type: string
          enum: [ active, inactive, pending, archived ]
          default: active
          description: Current status
          example: active
        is_active:
          type: boolean
          description: Whether this example is active
          example: true
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Associated tags
          example: [ "demo", "template", "best-practice" ]
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%. Hot path optimization required."

    # Request/Response schemas
    CreateExampleRequest:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Desired example name
          example: My New Example
        description:
          type: string
          maxLength: 1000
          description: Example description
          example: A new example following enterprise-grade patterns.
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Processing priority
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Initial tags
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    UpdateExampleRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: New example name
          example: Updated Example Name
        description:
          type: string
          maxLength: 1000
          description: New description
        priority:
          type: integer
          minimum: 1
          maximum: 10
          description: New priority
        status:
          type: string
          enum: [ active, inactive, pending, archived ]
          description: New status
        is_active:
          type: boolean
          description: Update active status
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Replace all tags
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    ExampleResponse:
      type: object
      required:
        - example
      properties:
        example:
          $ref: "#/components/schemas/Example"
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    ExampleListResponse:
      type: object
      required:
        - examples
        - total_count
        - has_more
      properties:
        examples:
          type: array
          items:
            $ref: "#/components/schemas/Example"
          description: List of examples
        total_count:
          type: integer
          description: Total number of examples matching criteria
          example: 150
        has_more:
          type: boolean
          description: Whether there are more results available
          example: true
        page:
          type: integer
          description: Current page number
          example: 1
        limit:
          type: integer
          description: Items per page
          example: 20
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%. Paginated responses optimized for memory efficiency."
