openapi: 3.0.3
info:
  title: Crafting API
  version: 1.0.0
  description: |
    API для системы крафта.
    
    Источник: .BRAIN/02-gameplay/economy/economy-crafting.md v1.0.0
    
    Типы крафта: оружие, броня, импланты, моды, расходники
    Механика: компоненты + рецепт + навык + время = предмет
    Тиры: T1 (Basic) → T5 (Legendary)
    Интеграция с навыками: Tech/Engineering влияет на успех и качество

  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Crafting
    description: Система крафта

paths:
  /gameplay/economy/crafting/recipes:
    get:
      summary: Получить рецепты
      description: |
        Возвращает список доступных рецептов для персонажа.
        Фильтры: по типу, тиру, доступности.
      operationId: getCraftingRecipes
      tags:
        - Crafting
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
        - name: item_type
          in: query
          required: false
          schema:
            type: string
            enum: [weapon, armor, implant, mod, consumable]
        - name: tier
          in: query
          required: false
          schema:
            type: string
            enum: [t1, t2, t3, t4, t5]
      responses:
        '200':
          description: Список рецептов
          content:
            application/json:
              schema:
                type: object
                properties:
                  recipes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Recipe'

  /gameplay/economy/crafting/recipes/{recipe_id}:
    get:
      summary: Получить детали рецепта
      description: Возвращает детальную информацию о рецепте
      operationId: getRecipe
      tags:
        - Crafting
      parameters:
        - name: recipe_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Детали рецепта
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipeDetails'

  /gameplay/economy/crafting/craft:
    post:
      summary: Создать предмет
      description: |
        Создает предмет по рецепту.
        Проверяет наличие компонентов, навыков, станции крафта.
        Шанс успеха зависит от навыка и качества компонентов.
      operationId: craftItem
      tags:
        - Crafting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - recipe_id
              properties:
                character_id:
                  type: string
                recipe_id:
                  type: string
                crafting_station_id:
                  type: string
                  description: ID станции крафта (если требуется)
      responses:
        '200':
          description: Предмет создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CraftResult'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'

  /gameplay/economy/crafting/bulk-craft:
    post:
      summary: Массовое создание
      description: |
        Создает несколько предметов одного типа за раз.
        Оптимизация для производственных цепочек.
      operationId: bulkCraft
      tags:
        - Crafting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                character_id:
                  type: string
                recipe_id:
                  type: string
                quantity:
                  type: integer
                  minimum: 1
                  maximum: 100
      responses:
        '200':
          description: Предметы созданы
          content:
            application/json:
              schema:
                type: object

components:
  schemas:
    Recipe:
      type: object
      properties:
        recipe_id:
          type: string
        name:
          type: string
        item_type:
          type: string
        tier:
          type: string
        required_skill_level:
          type: integer
        components_count:
          type: integer

    RecipeDetails:
      type: object
      properties:
        recipe_id:
          type: string
        name:
          type: string
        description:
          type: string
        item_type:
          type: string
        tier:
          type: string
        components:
          type: array
          description: Необходимые компоненты
          items:
            type: object
            properties:
              component_id:
                type: string
              quantity:
                type: integer
        required_skill:
          type: string
        required_skill_level:
          type: integer
        crafting_time:
          type: number
          description: Время крафта (секунды)
        success_rate_base:
          type: number
          description: Базовый шанс успеха (%)
        possible_results:
          type: array
          description: Возможные результаты (normal, high quality, masterwork)
          items:
            type: object

    CraftResult:
      type: object
      properties:
        success:
          type: boolean
        item_created:
          type: object
          description: Созданный предмет
        quality:
          type: string
          enum: [failed, normal, high_quality, masterwork]
        experience_gained:
          type: number
