openapi: 3.0.3
info:
  title: Equipment Matrix API
  version: 0.1.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  description: API процедурной матрицы снаряжения (генерация, матрица, бренды, пулы статов, валидация баланса).
servers:
  - url: https://api.necp.game
    description: Production
  - url: https://staging.api.necp.game
    description: Staging
paths:
  /api/v1/economy/equipment/generate:
    post:
      tags:
        - Equipment
      summary: Сгенерировать предмет
      operationId: generateEquipment
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateEquipmentRequest'
      responses:
        '200':
          description: Сгенерированный предмет
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedItem'
        '400':
          $ref: ../../common-schemas.yaml#/components/responses/BadRequest
        '401':
          $ref: ../../common-schemas.yaml#/components/responses/Unauthorized
        '500':
          $ref: ../../common-schemas.yaml#/components/responses/InternalServerError
  /api/v1/economy/equipment/matrix:
    get:
      tags:
        - Equipment
      summary: Получить матрицу характеристик
      operationId: listEquipmentMatrix
      security:
        - BearerAuth: [ ]
      parameters:
        - in: query
          name: brand_id
          schema:
            type: string
            format: uuid
        - in: query
          name: item_type
          schema:
            $ref: '#/components/schemas/ItemType'
        - in: query
          name: rarity
          schema:
            $ref: '#/components/schemas/Rarity'
      responses:
        '200':
          description: Записи матрицы
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EquipmentMatrixEntry'
        '401':
          $ref: ../../common-schemas.yaml#/components/responses/Unauthorized
        '500':
          $ref: ../../common-schemas.yaml#/components/responses/InternalServerError
  /api/v1/economy/equipment/brands:
    get:
      tags:
        - Equipment
      summary: Список брендов
      operationId: listBrands
      security:
        - BearerAuth: [ ]
      responses:
        '200':
          description: Бренды
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Brand'
        '401':
          $ref: ../../common-schemas.yaml#/components/responses/Unauthorized
        '500':
          $ref: ../../common-schemas.yaml#/components/responses/InternalServerError
  /api/v1/economy/equipment/rarities:
    get:
      tags:
        - Equipment
      summary: Список редкостей
      operationId: listRarities
      security:
        - BearerAuth: [ ]
      responses:
        '200':
          description: Редкости
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RarityDescriptor'
        '401':
          $ref: ../../common-schemas.yaml#/components/responses/Unauthorized
        '500':
          $ref: ../../common-schemas.yaml#/components/responses/InternalServerError
  /api/v1/economy/equipment/stat-pools:
    get:
      tags:
        - Equipment
      summary: Пулы статов
      operationId: listStatPools
      security:
        - BearerAuth: [ ]
      parameters:
        - in: query
          name: item_type
          schema:
            $ref: '#/components/schemas/ItemType'
      responses:
        '200':
          description: Доступные пулы
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StatPool'
        '401':
          $ref: ../../common-schemas.yaml#/components/responses/Unauthorized
        '500':
          $ref: ../../common-schemas.yaml#/components/responses/InternalServerError
  /api/v1/economy/equipment/validate-balance:
    post:
      tags:
        - Equipment
      summary: Проверить баланс предмета
      operationId: validateBalance
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateBalanceRequest'
      responses:
        '200':
          description: Результат валидации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceValidationResult'
        '400':
          $ref: ../../common-schemas.yaml#/components/responses/BadRequest
        '401':
          $ref: ../../common-schemas.yaml#/components/responses/Unauthorized
        '500':
          $ref: ../../common-schemas.yaml#/components/responses/InternalServerError
components:
  securitySchemes:
    BearerAuth:
      $ref: common.yaml#/components/securitySchemes/BearerAuth
  schemas:
    ItemType:
      type: string
      enum:
        - WEAPON
        - IMPLANT
        - ARMOR
        - ACCESSORY
    Rarity:
      type: string
      enum:
        - COMMON
        - UNCOMMON
        - RARE
        - EPIC
        - LEGENDARY
    Distribution:
      type: string
      enum:
        - UNIFORM
        - NORMAL
        - EXPONENTIAL
    Brand:
      type: object
      required:
        - id
        - code
        - name
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          maxLength: 32
        name:
          type: string
          maxLength: 120
        description:
          type: string
          maxLength: 256
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    RarityDescriptor:
      type: object
      required:
        - id
        - weight
      properties:
        id:
          $ref: '#/components/schemas/Rarity'
        min_level:
          type: integer
          format: int32
        max_level:
          type: integer
          format: int32
        weight:
          type: number
          format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    StatPool:
      type: object
      required:
        - id
        - name
        - stat_type
        - min_value
        - max_value
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          maxLength: 80
        stat_type:
          type: string
          maxLength: 64
        distribution:
          $ref: '#/components/schemas/Distribution'
        min_value:
          type: number
          format: float
        max_value:
          type: number
          format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    Modifier:
      type: object
      required:
        - id
        - name
        - modifier_type
        - value
        - rarity
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          maxLength: 120
        modifier_type:
          type: string
          maxLength: 80
        rarity:
          $ref: '#/components/schemas/Rarity'
        compatible_types:
          type: array
          items:
            $ref: '#/components/schemas/ItemType'
        value:
          type: number
          format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    EquipmentMatrixEntry:
      type: object
      required:
        - id
        - brand_id
        - item_type
        - rarity
        - stat_pools
        - version
      properties:
        id:
          type: string
          format: uuid
        brand_id:
          type: string
          format: uuid
        item_type:
          $ref: '#/components/schemas/ItemType'
        rarity:
          $ref: '#/components/schemas/Rarity'
        stat_pools:
          type: array
          items:
            $ref: '#/components/schemas/StatPool'
        modifiers:
          type: array
          items:
            $ref: '#/components/schemas/Modifier'
        version:
          type: integer
          format: int32
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    GeneratedStat:
      type: object
      required:
        - name
        - value
      properties:
        name:
          type: string
          maxLength: 80
        value:
          type: number
          format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    GeneratedItem:
      type: object
      required:
        - id
        - seed
        - brand_id
        - item_type
        - rarity
        - stats
        - modifiers
        - mod_slots
        - generated_at
      properties:
        id:
          type: string
          format: uuid
        brand_id:
          type: string
          format: uuid
        seed:
          type: string
        generated_at:
          type: string
          format: date-time
        item_type:
          $ref: '#/components/schemas/ItemType'
        rarity:
          $ref: '#/components/schemas/Rarity'
        stats:
          type: array
          items:
            $ref: '#/components/schemas/GeneratedStat'
        modifiers:
          type: array
          items:
            $ref: '#/components/schemas/Modifier'
        mod_slots:
          type: integer
          format: int32
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    GenerateEquipmentRequest:
      type: object
      required:
        - item_type
      properties:
        brand_id:
          type: string
          format: uuid
        seed:
          type: string
        mode:
          type: string
          enum:
            - PVE
            - PVP
            - EXTRACTION
        item_type:
          $ref: '#/components/schemas/ItemType'
        rarity:
          $ref: '#/components/schemas/Rarity'
        preferred_stats:
          type: array
          items:
            type: string
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    ValidateBalanceRequest:
      type: object
      required:
        - item_type
        - rarity
        - stats
      properties:
        mode:
          type: string
          enum:
            - PVE
            - PVP
            - EXTRACTION
        item_type:
          $ref: '#/components/schemas/ItemType'
        rarity:
          $ref: '#/components/schemas/Rarity'
        stats:
          type: array
          items:
            $ref: '#/components/schemas/GeneratedStat'
        modifiers:
          type: array
          items:
            $ref: '#/components/schemas/Modifier'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    BalanceValidationResult:
      type: object
      required:
        - is_valid
        - score
      properties:
        issues:
          type: array
          items:
            $ref: '#/components/schemas/BalanceIssue'
        score:
          type: number
          format: float
        is_valid:
          type: boolean
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    BalanceIssue:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
