openapi: 3.0.3
info:
  title: Loot System Service API
  description: 'API для генерации и распределения лута в MMOFPS RPG.


    Функциональность:

    - Генерация лута из loot tables

    - Smart loot (адаптация под класс)

    - Распределение лута (Personal/Party Roll/Master)

    - Roll система для групп

    - Bad Luck Protection

    - World drops management

    '
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.necp.game/api/v1
  - url: http://localhost:8085/api/v1
security:
  - BearerAuth: [ ]
tags:
  - name: Loot Drops
  - name: Loot Rolls
  - name: Loot Settings
paths:
  /economy/loot/drops/nearby:
    get:
      summary: Предметы рядом
      operationId: getNearbyDrops
      tags:
        - Loot Drops
      parameters:
        - name: position
          in: query
          required: true
          schema:
            type: string
            description: x,y,z
        - name: radius
          in: query
          schema:
            type: number
            format: float
            default: 50.0
      responses:
        '200':
          description: Список дропов
          content:
            application/json:
              schema:
                type: object
                required:
                  - drops
                properties:
                  drops:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorldDrop'
        '401':
          $ref: common.yaml#/components/responses/Unauthorized
  /economy/loot/pickup:
    post:
      summary: Подобрать предмет
      operationId: pickupLoot
      tags:
        - Loot Drops
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - drop_id
              properties:
                drop_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Предмет добавлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PickupResponse'
        '400':
          $ref: common.yaml#/components/responses/BadRequest
        '404':
          description: Дроп не найден или уже подобран
          content:
            application/json:
              schema:
                $ref: common.yaml#/components/schemas/Error
  /economy/loot/history:
    get:
      summary: История лута
      operationId: getLootHistory
      tags:
        - Loot Drops
      parameters:
        - $ref: common.yaml#/components/parameters/Limit
        - $ref: common.yaml#/components/parameters/Offset
        - name: rarity
          in: query
          schema:
            $ref: '#/components/schemas/Rarity'
      responses:
        '200':
          description: История
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - pagination
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LootHistoryEntry'
                  pagination:
                    $ref: common.yaml#/components/schemas/PaginationResponse
  /economy/loot/rolls/active:
    get:
      summary: Активные roll'ы
      operationId: getActiveRolls
      tags:
        - Loot Rolls
      responses:
        '200':
          description: Активные roll'ы
          content:
            application/json:
              schema:
                type: object
                required:
                  - rolls
                properties:
                  rolls:
                    type: array
                    items:
                      $ref: '#/components/schemas/LootRoll'
  /economy/loot/rolls/{rollId}/submit:
    parameters:
      - name: rollId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Отправить roll
      operationId: submitRoll
      tags:
        - Loot Rolls
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - choice
              properties:
                choice:
                  $ref: '#/components/schemas/RollChoice'
      responses:
        '200':
          description: Roll отправлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RollResult'
        '400':
          description: Roll уже отправлен или истек
          content:
            application/json:
              schema:
                $ref: common.yaml#/components/schemas/Error
  /economy/loot/settings:
    get:
      summary: Настройки auto-loot
      operationId: getLootSettings
      tags:
        - Loot Settings
      responses:
        '200':
          description: Настройки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LootSettings'
    put:
      summary: Обновить настройки
      operationId: updateLootSettings
      tags:
        - Loot Settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LootSettings'
      responses:
        '200':
          description: Настройки обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LootSettings'
components:
  securitySchemes:
    BearerAuth:
      $ref: common.yaml#/components/securitySchemes/BearerAuth
  schemas:
    Rarity:
      type: string
      enum:
        - common
        - uncommon
        - rare
        - epic
        - legendary
    LootMode:
      type: string
      enum:
        - personal
        - party_roll
        - master_loot
    RollChoice:
      type: string
      enum:
        - need
        - greed
        - pass
    RollStatus:
      type: string
      enum:
        - active
        - completed
        - expired
    WorldDrop:
      allOf:
        - $ref: common.yaml#/components/schemas/BaseEntity
        - type: object
          required:
            - items
            - position
            - loot_mode
            - expires_at
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/LootItem'
            currency:
              type: object
              properties:
                eurodollars:
                  type: integer
                cryptos:
                  type: integer
            position:
              $ref: common.yaml#/components/schemas/Position3D
            zone_id:
              type: string
            loot_mode:
              $ref: '#/components/schemas/LootMode'
            picked_up:
              type: boolean
            picked_up_by:
              type: string
              format: uuid
              nullable: true
            expires_at:
              type: string
              format: date-time
    LootItem:
      type: object
      required:
        - item_id
        - quantity
        - rarity
      properties:
        item_id:
          type: string
          format: uuid
        item_name:
          type: string
        rarity:
          $ref: '#/components/schemas/Rarity'
        quantity:
          type: integer
          minimum: 1
        quality:
          type: integer
          minimum: 1
          maximum: 100
        level_requirement:
          type: integer
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    PickupResponse:
      type: object
      required:
        - success
        - items
      properties:
        currency:
          type: object
          properties:
            eurodollars:
              type: integer
            cryptos:
              type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/LootItem'
        success:
          type: boolean
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    LootHistoryEntry:
      allOf:
        - $ref: common.yaml#/components/schemas/BaseEntity
        - type: object
          required:
            - item_id
            - quantity
            - source_type
            - timestamp
          properties:
            item_id:
              type: string
              format: uuid
            item_name:
              type: string
            quantity:
              type: integer
            source_type:
              type: string
              enum:
                - enemy
                - boss
                - chest
                - quest
                - trade
            source_id:
              type: string
              format: uuid
            rarity:
              $ref: '#/components/schemas/Rarity'
            timestamp:
              type: string
              format: date-time
    LootRoll:
      allOf:
        - $ref: common.yaml#/components/schemas/BaseEntity
        - type: object
          required:
            - party_id
            - item
            - status
            - participants
            - expires_at
          properties:
            party_id:
              type: string
              format: uuid
            item:
              $ref: '#/components/schemas/LootItem'
            roll_type:
              type: string
              enum:
                - need_greed
                - master_loot
            participants:
              type: array
              items:
                type: object
                required:
                  - player_id
                  - choice
                properties:
                  player_id:
                    type: string
                    format: uuid
                  choice:
                    $ref: '#/components/schemas/RollChoice'
                  roll_value:
                    type: integer
                    minimum: 1
                    maximum: 100
            winner_id:
              type: string
              format: uuid
              nullable: true
            status:
              $ref: '#/components/schemas/RollStatus'
            expires_at:
              type: string
              format: date-time
    RollResult:
      type: object
      required:
        - success
        - roll_id
        - your_roll
      properties:
        roll_id:
          type: string
          format: uuid
        winner_id:
          type: string
          format: uuid
          nullable: true
        all_results:
          type: array
          items:
            type: object
        your_roll:
          type: integer
          minimum: 1
          maximum: 100
        success:
          type: boolean
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    LootSettings:
      type: object
      properties:
        auto_loot_rarity:
          $ref: '#/components/schemas/Rarity'
          default: common
        roll_preference:
          $ref: '#/components/schemas/RollChoice'
          default: greed
        auto_loot_enabled:
          type: boolean
          default: false
        auto_loot_currency:
          type: boolean
          default: true
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'























