openapi: 3.0.3
info:
  title: Auth Service API - Enterprise-Grade Authentication
  description: '**Enterprise-Grade Authentication API for NECPGAME**

    Core authentication service handling user login, registration, session management,
    password operations, email verification, and OAuth integration. Acts as the primary
    entry point for user authentication in the NECPGAME ecosystem.

    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation - **Backend
    optimization hints** for struct alignment and performance - **Complete validation**
    with redocly and ogen code generation - **Security-first approach** with JWT authentication
    - **Performance-optimized** response structures - **Comprehensive error handling**
    with proper HTTP status codes

    ## Domain Purpose

    Handles core authentication operations including user registration, login, password
    management, session lifecycle, email verification, and OAuth integration. Acts
    as the primary entry point for user authentication in the NECPGAME ecosystem.

    ## Performance Targets

    - P99 Latency: <50ms for login/authentication - Memory: <50KB per active session
    - Concurrent users: 10,000+ simultaneous authentications - Data consistency: ACID
    compliance for security operations

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/auth
  description: Production server
- url: https://staging-api.necpgame.com/v1/auth
  description: Staging server
- url: http://localhost:8080/api/v1/auth
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Registration
  description: User registration and email verification
- name: Authentication
  description: Login, logout, and session management
- name: Password
  description: Password management operations
- name: OAuth
  description: OAuth provider integrations
- name: Session Management
  description: Advanced session lifecycle and security management
paths:
  /health:
    get:
      summary: Auth service health check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the authentication microservice.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: authServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                $ref: '#/components/schemas/ETagHeader'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - timestamp
                properties:
                  status:
                    type: string
                    enum:
                    - healthy
                    - degraded
                    - unhealthy
                    example: healthy
                    maxLength: 255
                  domain:
                    type: string
                    example: service-name
                    maxLength: 255
                  timestamp:
                    type: string
                    format: date-time
                    example: '2025-12-28T10:00:00Z'
                    maxLength: 255
                  version:
                    type: string
                    example: 1.0.0
                    maxLength: 50
                  uptime_seconds:
                    type: integer
                    example: 3600
                    minimum: 0
                  active_connections:
                    type: integer
                    example: 1500
                    minimum: 0
                description: 'BACKEND NOTE: Fields ordered for struct alignment (large
                  → small). Expected memory savings: 30-50%.'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - timestamp
                properties:
                  status:
                    type: string
                    enum:
                    - healthy
                    - degraded
                    - unhealthy
                    example: healthy
                    maxLength: 255
                  domain:
                    type: string
                    example: service-name
                    maxLength: 255
                  timestamp:
                    type: string
                    format: date-time
                    example: '2025-12-28T10:00:00Z'
                    maxLength: 255
                  version:
                    type: string
                    example: 1.0.0
                    maxLength: 50
                  uptime_seconds:
                    type: integer
                    example: 3600
                    minimum: 0
                  active_connections:
                    type: integer
                    example: 1500
                    minimum: 0
                description: 'BACKEND NOTE: Fields ordered for struct alignment (large
                  → small). Expected memory savings: 30-50%.'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /health/batch:
    post:
      summary: Batch health check for multiple services
      description: '**Performance optimization:** Check multiple services health in
        single request

        Reduces N HTTP calls to 1 call. Critical for orchestration.

        **Use case:** Service mesh health checks, Kubernetes readiness probes

        '
      operationId: authServiceBatchHealthCheck
      tags:
      - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                    - auth-service
                    - user-service
                    - session-service
                  maxItems: 10
                  description: List of services to check
      responses:
        '200':
          $ref: '#/components/responses/HealthBatchSuccess'
        '400':
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description: '**Performance optimization:** Real-time health updates without
        polling

        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.

        **Protocol:** WebSocket with JSON payloads

        **Heartbeat:** 30 second intervals

        **Reconnection:** Automatic with exponential backoff

        '
      operationId: authServiceHealthWebSocket
      tags:
      - Health Monitoring
      parameters:
      - name: services
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - auth-service
            - user-service
            - session-service
        description: Services to monitor (optional, monitors all if not specified)
      responses:
        '200':
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/auth/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                    - health-monitoring-v1
        '101':
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
        '400':
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
        '401':
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
        '429':
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
  /auth/register:
    post:
      summary: User registration
      description: '**Enterprise-grade user registration endpoint**

        Creates new user account with email/password authentication.

        Includes email verification, password strength validation, and duplicate checking.

        **Performance:** <100ms P95, includes password hashing and email sending

        **Security:** Argon2id password hashing, email verification required

        '
      operationId: authRegister
      tags:
      - Registration
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully - email verification required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid request - malformed data or validation failed
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
        '409':
          description: Conflict - user with this email already exists
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
        '429':
          description: Too many requests - registration rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 300
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
  /auth/login:
    post:
      summary: User login with credentials
      description: '**Enterprise-grade authentication endpoint**

        Authenticates user credentials and returns JWT access token.

        Supports password-based authentication with optional MFA.

        Implements rate limiting and brute-force protection.

        **Performance:** <25ms P95, includes password hashing verification

        **Security:** Argon2id password hashing, JWT tokens with expiration

        '
      operationId: authLogin
      tags:
      - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful - returns access token
          headers:
            X-Rate-Limit-Remaining:
              schema:
                type: integer
                example: 47
                description: Remaining login attempts in current window
            X-Rate-Limit-Reset:
              schema:
                type: integer
                example: 3600
                description: Seconds until rate limit resets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid request - malformed credentials
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
        '429':
          description: Too many requests - login rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 300
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
  /auth/logout:
    post:
      summary: User logout
      description: '**Secure logout endpoint**

        Invalidates current session and refresh tokens.

        Supports global logout from all devices.

        **Performance:** <10ms P95

        '
      operationId: authLogout
      tags:
      - Authentication
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Logged out successfully
        '401':
          description: Unauthorized - invalid or expired token
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
        '429':
          description: Too many requests - logout rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 10
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
  /auth/refresh:
    post:
      summary: Refresh access token
      description: '**Token refresh endpoint**

        Exchanges refresh token for new access token.

        Maintains user session without re-authentication.

        **Performance:** <15ms P95

        **Security:** Refresh token rotation, short-lived access tokens

        '
      operationId: authRefresh
      tags:
      - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - refresh_token
              properties:
                refresh_token:
                  type: string
                  description: Valid refresh token
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid refresh token
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
        '401':
          description: Refresh token expired or revoked
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
        '429':
          description: Too many requests - token refresh rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
  /auth/me:
    get:
      summary: Get current user information
      description: '**Current user profile endpoint**

        Returns authenticated user''s profile information.

        Used for client-side user data display and session validation.

        **Performance:** <5ms P95 with caching

        '
      operationId: authGetCurrentUser
      tags:
      - User Management
      security:
      - BearerAuth: []
      responses:
        '200':
          description: User information retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: private, max-age=300
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          description: Unauthorized - invalid or expired token
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
  /auth/oauth/{provider}/redirect:
    get:
      summary: Get OAuth redirect URL
      description: '**Get OAuth provider redirect URL for authentication**

        Returns the authorization URL for the specified OAuth provider. Client should
        redirect user to this URL to initiate OAuth flow.

        **Security:** Provider validation and CSRF protection via state parameter
        **Performance:** <10ms response time, cached provider configs'
      operationId: getOAuthRedirect
      tags:
      - OAuth
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum:
          - google
          - github
          - discord
          - steam
          - epic_games
          - microsoft
        description: OAuth provider name
      - name: redirect_uri
        in: query
        schema:
          type: string
          format: uri
        description: Custom redirect URI (optional, must be pre-registered)
      responses:
        '200':
          description: OAuth redirect URL generated successfully
          content:
            application/json:
              schema:
                type: object
                required:
                - redirect_url
                - state
                properties:
                  redirect_url:
                    type: string
                    format: uri
                    description: Full OAuth authorization URL
                    example: https://accounts.google.com/oauth/authorize?client_id=...
                  state:
                    type: string
                    description: CSRF protection state parameter
                    example: abc123def456
                description: 'BACKEND NOTE: Fields ordered for struct alignment (large
                  → small).'
        '400':
          description: Invalid provider or redirect URI
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
        '503':
          description: OAuth provider temporarily unavailable
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
  /auth/oauth/{provider}/callback:
    get:
      summary: Handle OAuth provider callback
      description: '**Process OAuth provider callback and complete authentication**

        Handles the OAuth callback from provider, exchanges authorization code for
        access token, creates/updates user account, and returns JWT tokens.

        **Security:** State parameter validation, token encryption, secure session
        creation **Performance:** <100ms for complete OAuth flow including user lookup/creation'
      operationId: handleOAuthCallback
      tags:
      - OAuth
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum:
          - google
          - github
          - discord
          - steam
          - epic_games
          - microsoft
        description: OAuth provider name
      - name: code
        in: query
        required: true
        schema:
          type: string
        description: Authorization code from OAuth provider
      - name: state
        in: query
        required: true
        schema:
          type: string
        description: CSRF protection state parameter
      - name: error
        in: query
        schema:
          type: string
        description: OAuth error code (if authorization failed)
      - name: error_description
        in: query
        schema:
          type: string
        description: Human-readable error description
      responses:
        '200':
          description: OAuth authentication completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthLoginResponse'
        '400':
          description: Invalid OAuth callback parameters or state
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
        '401':
          description: OAuth authorization failed or denied
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
        '429':
          description: Too many OAuth attempts - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 300
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    example: 500
                    format: int32
                    minimum: 100
                    maximum: 599
                  message:
                    type: string
                    example: Internal server error
                    maxLength: 1000
                  details:
                    type: object
                    description: Additional error details
                description: Standard error response format
  /auth/sessions/cleanup:
    post:
      summary: Clean up inactive sessions
      description: '**Clean up expired or inactive user sessions**

        Performs automated cleanup of sessions that have exceeded their lifetime or
        are in invalid states. Helps maintain database performance and security by
        removing stale session data.

        **Performance:** Batch processing with configurable cleanup policies'
      operationId: cleanupSessions
      tags:
      - Session Management
      security:
      - BearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CleanupSessionsRequest'
      responses:
        '200':
          description: Sessions cleaned up successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CleanupSessionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/sessions/cleanup/stats:
    get:
      summary: Get session cleanup statistics
      description: '**Retrieve session cleanup statistics and metrics**

        Returns information about recent cleanup operations, success rates, and performance
        metrics for session management.

        **Performance:** Cached statistics with configurable refresh intervals'
      operationId: getCleanupStats
      tags:
      - Session Management
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Cleanup statistics retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CleanupStatsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/sessions/security/validate:
    post:
      summary: Validate session security
      description: '**Perform security validation on active sessions**

        Analyzes session security parameters, detects anomalies, and provides recommendations
        for improving session security posture.

        **Security:** Comprehensive validation including IP changes, device fingerprints'
      operationId: validateSessionSecurity
      tags:
      - Session Management
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateSessionSecurityRequest'
      responses:
        '200':
          description: Security validation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionSecurityValidationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/sessions/security/rotate-token:
    post:
      summary: Rotate session token
      description: '**Generate new token for existing session**

        Creates a new JWT token pair while maintaining session continuity. Useful
        for token refresh without full re-authentication.

        **Security:** Maintains session integrity during token rotation'
      operationId: rotateSessionToken
      tags:
      - Session Management
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RotateSessionTokenRequest'
      responses:
        '200':
          description: Token rotated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateSessionTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/sessions/monitoring/stats:
    get:
      summary: Get session monitoring statistics
      description: '**Retrieve comprehensive session statistics**

        Provides detailed metrics about session lifecycle, concurrent users, geographic
        distribution, and performance indicators.

        **Performance:** Aggregated statistics with efficient caching'
      operationId: getSessionStats
      tags:
      - Session Management
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Session statistics retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionStatsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/sessions/monitoring/active:
    get:
      summary: Get active sessions list
      description: '**Retrieve paginated list of active sessions**

        Returns currently active sessions with filtering and pagination support. Useful
        for administrative monitoring and troubleshooting.

        **Performance:** Indexed queries with pagination optimization'
      operationId: getActiveSessions
      tags:
      - Session Management
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/schemas/PaginationParams'
      responses:
        '200':
          description: Active sessions retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveSessionsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/sessions/admin/terminate:
    post:
      summary: Terminate session (admin only)
      description: '**Forcefully terminate a user session**

        Administrative function to forcibly end a session. Requires elevated permissions.
        Should be used sparingly and with proper audit logging.

        **Security:** Restricted to administrators, full audit trail maintained'
      operationId: terminateSession
      tags:
      - Session Management
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminateSessionRequest'
      responses:
        '200':
          description: Session terminated successfully
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                properties:
                  status:
                    type: string
                    enum:
                    - terminated
                    example: terminated
                description: 'BACKEND NOTE: Simple status response for admin operations.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    HealthBatchSuccess:
      description: Batch health results retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: no-cache
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            type: object
            required:
            - results
            - total_time_ms
            properties:
              results:
                type: array
                items:
                  HealthResponse:
                    type: object
                    required:
                    - status
                    - timestamp
                    properties:
                      status:
                        type: string
                        enum:
                        - healthy
                        - degraded
                        - unhealthy
                        example: healthy
                        maxLength: 255
                      domain:
                        type: string
                        example: service-name
                        maxLength: 255
                      timestamp:
                        type: string
                        format: date-time
                        example: '2025-12-28T10:00:00Z'
                        maxLength: 255
                      version:
                        type: string
                        example: 1.0.0
                        maxLength: 50
                      uptime_seconds:
                        type: integer
                        example: 3600
                        minimum: 0
                      active_connections:
                        type: integer
                        example: 1500
                        minimum: 0
                    description: 'BACKEND NOTE: Fields ordered for struct alignment
                      (large → small). Expected memory savings: 30-50%.'
                description: Health status for each requested service
              total_time_ms:
                type: integer
                description: Total processing time in milliseconds
    TooManyRequests:
      description: Too many requests - rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
            example: 60
            description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            type: object
            required:
            - code
            - message
            properties:
              code:
                type: integer
                example: 500
                format: int32
                minimum: 100
                maximum: 599
              message:
                type: string
                example: Internal server error
                maxLength: 1000
              details:
                type: object
                description: Additional error details
            description: Standard error response format
  schemas:
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          example: 500
          format: int32
          minimum: 100
          maximum: 599
        message:
          type: string
          example: Internal server error
          maxLength: 1000
        details:
          type: object
          description: Additional error details
      description: Standard error response format
    HealthResponse:
      type: object
      required:
      - status
      - timestamp
      properties:
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
          example: healthy
          maxLength: 255
        domain:
          type: string
          example: service-name
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          example: '2025-12-28T10:00:00Z'
          maxLength: 255
        version:
          type: string
          example: 1.0.0
          maxLength: 50
        uptime_seconds:
          type: integer
          example: 3600
          minimum: 0
        active_connections:
          type: integer
          example: 1500
          minimum: 0
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    LoginRequest:
      type: object
      required:
      - email
      - password
      properties:
        email:
          type: string
          format: email
          description: User email address
          example: user@necpgame.com
        password:
          type: string
          minLength: 8
          maxLength: 128
          description: User password
          example: MySecurePass123!
        remember_me:
          type: boolean
          description: Extend session duration
          example: true
          default: false
        mfa_code:
          type: string
          minLength: 6
          maxLength: 8
          description: Multi-factor authentication code (if enabled)
          example: '123456'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    RegisterRequest:
      type: object
      required:
      - email
      - password
      - username
      properties:
        email:
          type: string
          format: email
          description: User email address
          example: newuser@necpgame.com
        password:
          type: string
          minLength: 8
          maxLength: 128
          description: User password (must meet complexity requirements)
          example: MySecurePass123!
        username:
          type: string
          minLength: 3
          maxLength: 50
          pattern: ^[a-zA-Z0-9_-]+$
          description: Unique username
          example: cyber_runner_2077
        accept_terms:
          type: boolean
          description: User accepts terms of service
          example: true
        marketing_consent:
          type: boolean
          description: Consent for marketing communications
          example: false
          default: false
        referral_code:
          type: string
          maxLength: 50
          description: Referral code from another user
          example: FRIEND123
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    AuthResponse:
      type: object
      required:
      - access_token
      - token_type
      - expires_in
      properties:
        access_token:
          type: string
          description: JWT access token for API authentication
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        token_type:
          type: string
          enum:
          - Bearer
          example: Bearer
        expires_in:
          type: integer
          description: Token expiration time in seconds
          example: 3600
        refresh_token:
          type: string
          description: Refresh token for obtaining new access tokens
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        user:
          $ref: '#/components/schemas/UserSummary'
        session_id:
          type: string
          format: uuid
          description: Session identifier
          example: 550e8400-e29b-41d4-a716-446655440000
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    RegisterResponse:
      type: object
      required:
      - user_id
      - email
      - verification_required
      properties:
        user_id:
          type: string
          format: uuid
          description: Newly created user ID
          example: 550e8400-e29b-41d4-a716-446655440000
        email:
          type: string
          format: email
          description: Registered email address
          example: newuser@necpgame.com
        username:
          type: string
          description: Registered username
          example: cyber_runner_2077
        verification_required:
          type: boolean
          description: Whether email verification is required
          example: true
        verification_token_expires:
          type: string
          format: date-time
          description: When verification token expires
          example: '2025-12-21T12:00:00Z'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    UserSummary:
      type: object
      required:
      - id
      - email
      - username
      properties:
        id:
          type: string
          format: uuid
          description: User unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        email:
          type: string
          format: email
          description: User email address
          example: user@necpgame.com
        username:
          type: string
          description: User display name
          example: cyber_runner_2077
        avatar_url:
          type: string
          format: uri
          description: User avatar image URL
          example: https://cdn.necpgame.com/avatars/550e8400-e29b-41d4-a716-446655440000.jpg
        level:
          type: integer
          minimum: 1
          description: User level
          example: 25
        is_verified:
          type: boolean
          description: Email verification status
          example: true
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    UserProfile:
      type: object
      required:
      - id
      - email
      - username
      - created_at
      properties:
        id:
          type: string
          format: uuid
          description: User unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        email:
          type: string
          format: email
          description: User email address
          example: user@necpgame.com
        username:
          type: string
          description: User display name
          example: cyber_runner_2077
        avatar_url:
          type: string
          format: uri
          description: User avatar image URL
          example: https://cdn.necpgame.com/avatars/550e8400-e29b-41d4-a716-446655440000.jpg
        level:
          type: integer
          minimum: 1
          description: User level
          example: 25
        experience:
          type: integer
          minimum: 0
          description: Total experience points
          example: 12500
        created_at:
          type: string
          format: date-time
          description: Account creation timestamp
          example: '2025-01-15T10:30:00Z'
        last_login:
          type: string
          format: date-time
          description: Last login timestamp
          example: '2025-12-21T08:15:00Z'
        is_verified:
          type: boolean
          description: Email verification status
          example: true
        preferences:
          type: object
          description: User preferences and settings
          properties:
            theme:
              type: string
              enum:
              - light
              - dark
              - cyberpunk
              example: cyberpunk
            language:
              type: string
              example: en
            notifications:
              type: object
              properties:
                email:
                  type: boolean
                  example: true
                push:
                  type: boolean
                  example: false
        stats:
          type: object
          description: User statistics
          properties:
            games_played:
              type: integer
              minimum: 0
              example: 150
            hours_played:
              type: integer
              minimum: 0
              example: 250
            achievements_unlocked:
              type: integer
              minimum: 0
              example: 25
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    PaginationParams:
      type: object
      properties:
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
          example: 20
        offset:
          type: integer
          minimum: 0
          default: 0
          example: 0
    PaginatedResponse:
      type: object
      required:
      - items
      - total
      - limit
      - offset
      properties:
        items:
          type: array
          description: Array of items
        total:
          type: integer
          minimum: 0
          example: 100
          description: Total number of items
        limit:
          type: integer
          minimum: 1
          maximum: 100
          example: 20
          description: Items per page
        offset:
          type: integer
          minimum: 0
          example: 0
          description: Number of items to skip
    ETagHeader:
      type: string
      description: Entity tag for caching and optimistic locking
      example: '"auth-123-v1"'
    OAuthLoginResponse:
      allOf:
      - $ref: '#/components/schemas/AuthResponse'
      - type: object
        properties:
          oauth_provider:
            type: string
            enum:
            - google
            - github
            - discord
            - steam
            - epic_games
            - microsoft
            description: OAuth provider used for authentication
            example: google
          oauth_id:
            type: string
            description: Unique identifier from OAuth provider
            example: '123456789012345678901'
          is_new_user:
            type: boolean
            description: Whether a new user account was created during OAuth flow
            example: false
        description: 'BACKEND NOTE: Extends LoginResponse with OAuth-specific fields.
          Fields ordered for struct alignment.'
    OAuthProviderEntity:
      allOf:
      - allOf:
        - allOf:
          - $ref: '#/BaseEntity'
          - type: object
            properties:
              created_by:
                type: string
                format: uuid
                description: ID of user who created the entity
                example: 123e4567-e89b-12d3-a456-426614174001
                maxLength: 36
              updated_by:
                type: string
                format: uuid
                description: ID of user who last modified the entity
                example: 123e4567-e89b-12d3-a456-426614174002
                maxLength: 36
          description: 'BACKEND NOTE: Extends BaseEntity with audit trail. Use for
            admin-managed entities.'
        - type: object
          required:
          - provider_name
          - client_id
          - client_secret
          properties:
            provider_name:
              type: string
              enum:
              - google
              - github
              - discord
              - steam
              - epic_games
              - microsoft
              description: OAuth provider
              example: google
            display_name:
              type: string
              description: Display name for UI
              example: Google
              maxLength: 50
            client_id:
              type: string
              description: OAuth client ID
              example: 123456789.apps.googleusercontent.com
              maxLength: 255
            client_secret:
              type: string
              description: OAuth client secret (encrypted)
              example: encrypted_secret_here
              maxLength: 255
            authorization_url:
              type: string
              format: uri
              description: OAuth authorization URL
              example: https://accounts.google.com/oauth/authorize
            token_url:
              type: string
              format: uri
              description: OAuth token exchange URL
              example: https://oauth2.googleapis.com/token
            user_info_url:
              type: string
              format: uri
              description: User info endpoint URL
              example: https://www.googleapis.com/oauth2/v2/userinfo
            scopes:
              type: array
              items:
                type: string
              description: Required OAuth scopes
              example:
              - openid
              - email
              - profile
            is_active:
              type: boolean
              description: Whether provider is enabled
              example: true
            redirect_uris:
              type: array
              items:
                type: string
                format: uri
              description: Allowed redirect URIs
              maxItems: 10
        description: 'BACKEND NOTE: OAuth provider configurations with security validation.'
      - type: object
        description: 'BACKEND NOTE: Uses common OAuth provider entity with domain-specific
          extensions if needed.'
    CleanupSessionsRequest:
      type: object
      properties:
        status_filter:
          type: array
          items:
            type: string
            enum:
            - inactive
            - disconnected
            - terminated
          description: Filter sessions by status
        max_age_seconds:
          type: integer
          minimum: 0
          default: 3600
          description: Maximum session age in seconds
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    CleanupSessionsResponse:
      type: object
      properties:
        cleaned_at:
          type: string
          format: date-time
          description: Cleanup operation timestamp
          example: '2025-12-28T10:00:00Z'
        cleaned_sessions:
          type: integer
          minimum: 0
          description: Number of sessions cleaned
          example: 150
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    CleanupStatsResponse:
      type: object
      properties:
        cleanup_frequency:
          type: string
          description: How often cleanup runs
          example: hourly
        last_cleanup:
          type: string
          format: date-time
          description: Last cleanup execution time
          example: '2025-12-28T10:00:00Z'
        average_cleanup_time:
          type: number
          minimum: 0
          description: Average cleanup duration in seconds
          example: 2.5
        total_cleaned:
          type: integer
          minimum: 0
          description: Total sessions cleaned historically
          example: 15420
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    ValidateSessionSecurityRequest:
      type: object
      required:
      - session_id
      properties:
        session_id:
          type: string
          format: uuid
          description: Session to validate
          example: 550e8400-e29b-41d4-a716-446655440000
        ip_address:
          type: string
          description: Current client IP
          example: 192.168.1.100
        user_agent:
          type: string
          description: Current user agent
          example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    SessionSecurityValidationResponse:
      type: object
      properties:
        session_id:
          type: string
          format: uuid
          description: Validated session ID
          example: 550e8400-e29b-41d4-a716-446655440000
        warnings:
          type: array
          items:
            type: string
          description: Security warnings found
          example:
          - IP address changed
          - Unusual login time
        recommendations:
          type: array
          items:
            type: string
          description: Security improvement recommendations
          example:
          - Consider enabling 2FA
          - Review recent login history
        is_valid:
          type: boolean
          description: Overall security validation result
          example: true
        security_score:
          type: integer
          minimum: 0
          maximum: 100
          description: Security score (0-100)
          example: 85
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    RotateSessionTokenRequest:
      type: object
      required:
      - session_id
      properties:
        session_id:
          type: string
          format: uuid
          description: Session to rotate token for
          example: 550e8400-e29b-41d4-a716-446655440000
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    RotateSessionTokenResponse:
      type: object
      properties:
        session_id:
          type: string
          format: uuid
          description: Session ID
          example: 550e8400-e29b-41d4-a716-446655440000
        new_token:
          type: string
          description: New JWT access token
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        expires_at:
          type: string
          format: date-time
          description: New token expiration time
          example: '2025-12-28T11:00:00Z'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    SessionStatsResponse:
      type: object
      properties:
        last_updated:
          type: string
          format: date-time
          description: Statistics last update time
          example: '2025-12-28T10:00:00Z'
        average_session_duration:
          type: number
          minimum: 0
          description: Average session duration in minutes
          example: 45.7
        total_sessions:
          type: integer
          minimum: 0
          description: Total sessions created
          example: 15420
        active_sessions:
          type: integer
          minimum: 0
          description: Currently active sessions
          example: 1250
        inactive_sessions:
          type: integer
          minimum: 0
          description: Inactive but not cleaned sessions
          example: 89
        disconnected_sessions:
          type: integer
          minimum: 0
          description: Sessions with connection issues
          example: 23
        peak_concurrent_sessions:
          type: integer
          minimum: 0
          description: Peak concurrent sessions (24h)
          example: 2100
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    ActiveSessionsResponse:
      allOf:
      - $ref: '#/components/schemas/PaginatedResponse'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/SessionInfo'
            description: List of active sessions
      description: 'BACKEND NOTE: Extends paginated response with session-specific
        data.'
    SessionInfo:
      allOf:
      - allOf:
        - type: object
          required:
          - id
          - created_at
          - updated_at
          properties:
            id:
              type: string
              format: uuid
              description: Unique identifier (UUID v4)
              example: 123e4567-e89b-12d3-a456-426614174000
              maxLength: 36
            created_at:
              type: string
              format: date-time
              description: Creation timestamp (ISO 8601)
              example: '2025-12-28T10:00:00Z'
              maxLength: 30
            updated_at:
              type: string
              format: date-time
              description: Last modification timestamp (ISO 8601)
              example: '2025-12-28T10:30:00Z'
              maxLength: 30
          description: 'BACKEND NOTE: Base entity with ordered fields for struct alignment.
            Memory savings: 30-50%. All domain entities should extend this.'
        - type: object
          required:
          - user_id
          - token
          - expires_at
          properties:
            user_id:
              type: string
              format: uuid
              description: Universally Unique Identifier (UUID v4)
              example: 123e4567-e89b-12d3-a456-426614174000
              maxLength: 36
            token:
              type: string
              pattern: ^[A-Za-z0-9-_]+\.[A-Za-z0-9-_]+\.[A-Za-z0-9-_]*$
              description: JWT token
              example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
              maxLength: 1000
            refresh_token:
              type: string
              pattern: ^[A-Za-z0-9-_]+\.[A-Za-z0-9-_]+\.[A-Za-z0-9-_]*$
              description: JWT refresh token
              example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
              maxLength: 1000
            expires_at:
              type: string
              format: date-time
              description: ISO 8601 timestamp
              example: '2025-12-28T10:00:00Z'
              maxLength: 30
            refresh_expires_at:
              type: string
              format: date-time
              description: ISO 8601 timestamp
              example: '2025-12-28T10:00:00Z'
              maxLength: 30
            ip_address:
              type: string
              pattern: ^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$
              description: Client IP address
              example: 192.168.1.100
            user_agent:
              type: string
              description: Client user agent
              example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
              maxLength: 500
            device_fingerprint:
              type: string
              description: Device fingerprint for security
              example: abc123def456
              maxLength: 64
            is_active:
              type: boolean
              description: Whether session is active
              example: true
            invalidated_at:
              type: string
              format: date-time
              description: ISO 8601 timestamp
              example: '2025-12-28T10:00:00Z'
              maxLength: 30
            last_activity_at:
              type: string
              format: date-time
              description: ISO 8601 timestamp
              example: '2025-12-28T10:00:00Z'
              maxLength: 30
            location:
              type: object
              description: Approximate location based on IP
              properties:
                country:
                  type: string
                  pattern: ^[A-Z]{2}$
                city:
                  type: string
                  maxLength: 100
                timezone:
                  type: string
                  maxLength: 50
        description: 'BACKEND NOTE: User sessions with security tracking and device
          fingerprinting.'
      - type: object
        description: 'BACKEND NOTE: Uses common session entity with auth-service specific
          extensions.'
    TerminateSessionRequest:
      type: object
      required:
      - session_id
      properties:
        session_id:
          type: string
          format: uuid
          description: Session to terminate
          example: 550e8400-e29b-41d4-a716-446655440000
        reason:
          type: string
          description: Termination reason
          example: Security violation detected
        force:
          type: boolean
          default: false
          description: Force immediate termination
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token authentication
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API Key authentication
    ServiceAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Service-to-service authentication token
