# Enterprise-Grade Auth Service API - SOLID/DRY Domain Inheritance
# Infrastructure domain service with authentication and authorization
# Issue: #openapi-refactor

openapi: 3.0.3
info:
  title: Auth Service API
  description: |
    **Enterprise-grade API for Authentication & Authorization**

    ## Domain Purpose
    Core authentication service providing secure user login, registration, session management,
    and authorization for the NECPGAME platform. Handles OAuth integrations and multi-factor authentication.

    ## Business Value
    - Secure user access to all platform services
    - OAuth integration with external providers
    - Multi-factor authentication support
    - Session security and audit trails
    - Rate limiting and fraud prevention

    ## Performance Targets
    - P99 Latency: <50ms for all endpoints
    - Memory per Instance: <50KB baseline
    - Concurrent Users: 10,000+ supported
    - Uptime: 99.9% SLA

    ## Domain Inheritance
    This service inherits from infrastructure-entities.yaml providing:
    - UserAccountEntity for user management
    - SessionEntity for session handling
    - AuditLogEntity for security auditing
    - ApiKeyEntity for third-party access
    - Optimistic locking for concurrent operations
    - Strict typing with validation rules

  version: "1.0.0"
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.necpgame.com/v1/auth-service
    description: Production environment
  - url: https://staging-api.necpgame.com/v1/auth-service
    description: Staging environment
  - url: http://localhost:8080/api/v1/auth-service
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: Authentication
    description: Core authentication operations
  - name: Authorization
    description: User permissions and access control
  - name: Sessions
    description: Session management operations
  - name: OAuth
    description: External OAuth provider integrations
  - name: Security
    description: Security and audit operations
  - name: Health Monitoring
    description: Service health and performance monitoring
  - name: Administration
    description: Administrative operations

paths:

  # Health Check Endpoints - Required for all services
  /health:
    get:
      operationId: authServiceHealthCheck
      summary: Basic health check
      description: Returns service health status
      tags: [Health Monitoring]
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '../common/responses/error.yaml#/ServiceUnavailable'

  /health/detailed:
    get:
      operationId: authServiceDetailedHealthCheck
      summary: Detailed health check with metrics
      description: Returns comprehensive health status including performance metrics
      tags: [Health Monitoring]
      responses:
        '200':
          description: Detailed health information
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/DetailedHealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '../common/responses/error.yaml#/ServiceUnavailable'

  /health/batch:
    get:
      operationId: authServiceBatchHealthCheck
      summary: Batch health check for multiple services
      description: Checks health of this service and its dependencies
      tags: [Health Monitoring]
      responses:
        '200':
          description: Batch health results
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/BatchHealthResponse'

  # WebSocket Health Check - Required for real-time services
  /health/ws:
    get:
      operationId: authServiceWebSocketHealthCheck
      summary: WebSocket connection health check
      description: Tests WebSocket connectivity and real-time messaging
      tags: [Health Monitoring]
      responses:
        '200':
          description: WebSocket connection healthy
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/WebSocketHealthResponse'

  # Authentication Endpoints
  /auth/login:
    post:
      operationId: authServiceLogin
      summary: User login
      description: |
        Authenticate user with email/password or OAuth token.

        **Security Notes:**
        - Implements progressive delay on failed attempts
        - Logs all authentication attempts for audit
        - Supports OAuth token exchange
        - Rate limited to prevent brute force attacks
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          access_token:
                            type: string
                            description: JWT access token
                            example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                          refresh_token:
                            type: string
                            description: JWT refresh token
                            example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                          token_type:
                            type: string
                            enum: [Bearer]
                            example: "Bearer"
                          expires_in:
                            type: integer
                            description: Access token expiration in seconds
                            example: 3600
                          user:
                            $ref: '#/components/schemas/UserAccountSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /auth/register:
    post:
      operationId: authServiceRegister
      summary: User registration
      description: |
        Register new user account with email verification.

        **Business Rules:**
        - Email must be unique across platform
        - Password complexity requirements enforced
        - Email verification required before activation
        - Account created in pending_verification status
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Registration successful, verification email sent
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/Created'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user_id:
                            type: string
                            format: uuid
                            description: Created user account ID
                          verification_required:
                            type: boolean
                            description: Email verification required
                            example: true
                          verification_token_expires:
                            type: string
                            format: date-time
                            description: When verification token expires
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /auth/verify-email:
    post:
      operationId: authServiceVerifyEmail
      summary: Verify email address
      description: |
        Verify user email address using verification token.

        **Security Notes:**
        - Single-use verification tokens
        - Tokens expire after 24 hours
        - Failed attempts logged and rate limited
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailRequest'
      responses:
        '200':
          description: Email verified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /auth/logout:
    post:
      operationId: authServiceLogout
      summary: User logout
      description: |
        Invalidate user session and refresh token.

        **Security Notes:**
        - Immediately invalidates access token
        - Adds session to blacklist for additional security
        - Logs logout event for audit trail
      tags: [Authentication]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      operationId: authServiceRefreshToken
      summary: Refresh access token
      description: |
        Exchange refresh token for new access token pair.

        **Security Notes:**
        - Validates refresh token integrity
        - Issues new token pair with updated expiration
        - Maintains session continuity
        - Single-use refresh tokens
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          access_token:
                            type: string
                            description: New JWT access token
                          refresh_token:
                            type: string
                            description: New JWT refresh token
                          token_type:
                            type: string
                            enum: [Bearer]
                            example: "Bearer"
                          expires_in:
                            type: integer
                            description: Access token expiration in seconds
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/forgot-password:
    post:
      operationId: authServiceForgotPassword
      summary: Request password reset
      description: |
        Initiate password reset process for user account.

        **Security Notes:**
        - Rate limited to prevent abuse
        - Reset tokens expire after 1 hour
        - Previous reset tokens invalidated
        - Audit trail maintained
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '200':
          description: Password reset email sent
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          reset_token_expires:
                            type: string
                            format: date-time
                            description: When reset token expires
                          email_sent:
                            type: boolean
                            description: Whether reset email was sent
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /auth/reset-password:
    post:
      operationId: authServiceResetPassword
      summary: Reset password with token
      description: |
        Complete password reset using reset token.

        **Security Notes:**
        - Single-use reset tokens
        - Password complexity validation
        - Previous sessions invalidated
        - Audit trail maintained
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: Password reset successful
          content:
            application/json:
              schema:
                $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # Session Management Endpoints
  /sessions:
    get:
      operationId: authServiceListSessions
      summary: List user sessions
      description: |
        Retrieve all active sessions for the authenticated user.

        **Security Notes:**
        - Only returns sessions for authenticated user
        - Includes device and location information
        - Helps users monitor account access
      tags: [Sessions]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Sessions retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SessionSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /sessions/{sessionId}/revoke:
    post:
      operationId: authServiceRevokeSession
      summary: Revoke specific session
      description: |
        Revoke a specific user session (logout from specific device).

        **Security Notes:**
        - Users can only revoke their own sessions
        - Immediate token invalidation
        - Audit trail maintained
      tags: [Sessions]
      security:
        - BearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Session unique identifier
      responses:
        '200':
          description: Session revoked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # OAuth Integration Endpoints
  /oauth/{provider}/authorize:
    get:
      operationId: authServiceOAuthAuthorize
      summary: Initiate OAuth authorization
      description: |
        Redirect to OAuth provider for authorization.

        **Supported Providers:**
        - google: Google OAuth 2.0
        - discord: Discord OAuth 2.0
        - steam: Steam OpenID
      tags: [OAuth]
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [google, discord, steam]
          description: OAuth provider
        - name: redirect_uri
          in: query
          schema:
            type: string
            format: uri
          description: Redirect URI after authorization
      responses:
        '302':
          description: Redirect to OAuth provider
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: OAuth provider authorization URL

  /oauth/{provider}/callback:
    get:
      operationId: authServiceOAuthCallback
    post:
      operationId: authServiceOAuthCallbackPost
      summary: OAuth provider callback
      description: |
        Handle OAuth provider callback and complete authentication.

        **Process:**
        - Validate OAuth code/state
        - Exchange code for access token
        - Create/link user account
        - Issue platform JWT tokens
      tags: [OAuth]
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [google, discord, steam]
          description: OAuth provider
      responses:
        '200':
          description: OAuth authentication successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          access_token:
                            type: string
                            description: Platform JWT access token
                          refresh_token:
                            type: string
                            description: Platform JWT refresh token
                          user_created:
                            type: boolean
                            description: Whether new user account was created
                          user:
                            $ref: '#/components/schemas/UserAccountSummary'
        '400':
          $ref: '#/components/responses/BadRequest'

components:

  # Domain-Specific Success Responses
  responses:
    # Use common responses for consistency
    OK:
      $ref: '../common/responses/success.yaml#/OK'
    Created:
      $ref: '../common/responses/success.yaml#/Created'
    Updated:
      $ref: '../common/responses/success.yaml#/Updated'
    Deleted:
      $ref: '../common/responses/success.yaml#/Deleted'

    # Domain-specific success responses (extend common)
    UserAccountActionSuccess:
      description: User account action completed successfully
      content:
        application/json:
          schema:
            allOf:
              - $ref: '../common/responses/success.yaml#/ActionSuccess'
              - type: object
                properties:
                  data:
                    type: object
                    properties:
                      user_account_id:
                        type: string
                        format: uuid
                        description: ID of the affected user account
                      action_result:
                        type: object
                        description: Result of the action performed

    # Error responses
    BadRequest:
      $ref: '../common/responses/error.yaml#/BadRequest'
    Unauthorized:
      $ref: '../common/responses/error.yaml#/Unauthorized'
    Forbidden:
      $ref: '../common/responses/error.yaml#/Forbidden'
    NotFound:
      $ref: '../common/responses/error.yaml#/NotFound'
    Conflict:
      $ref: '../common/responses/error.yaml#/Conflict'
    TooManyRequests:
      $ref: '../common/responses/error.yaml#/TooManyRequests'
    InternalServerError:
      $ref: '../common/responses/error.yaml#/InternalServerError'

  schemas:

    # Domain Inheritance - Auth Service Entities
    # These entities inherit from infrastructure-entities.yaml

    # User Account - inherits from UserAccountEntity
    UserAccount:
      description: Complete user account entity with infrastructure domain inheritance
      allOf:
        - $ref: '../common/schemas/infrastructure-entities.yaml#/UserAccountEntity'  # Infrastructure domain inheritance
        - type: object
          properties:
            # Add auth-service specific fields (not in common)
            auth_provider_data:
              type: object
              description: OAuth provider specific data
              properties:
                google_id:
                  type: string
                  description: Google OAuth user ID
                discord_id:
                  type: string
                  description: Discord user ID
                steam_id:
                  type: string
                  description: Steam user ID
            last_password_change:
              type: string
              format: date-time
              description: When password was last changed
            password_reset_tokens:
              type: array
              items:
                type: object
                properties:
                  token:
                    type: string
                    description: Reset token hash
                  expires_at:
                    type: string
                    format: date-time
                    description: Token expiration
                  used:
                    type: boolean
                    description: Whether token was used

    # Session - inherits from SessionEntity
    Session:
      description: Complete session entity with infrastructure domain inheritance
      allOf:
        - $ref: '../common/schemas/infrastructure-entities.yaml#/SessionEntity'  # Infrastructure domain inheritance
        - type: object
          properties:
            # Add auth-service specific fields
            oauth_provider:
              type: string
              enum: [google, discord, steam, email_password]
              description: How session was created
            mfa_verified:
              type: boolean
              description: Whether MFA was verified for this session
              example: true

    # API Key - inherits from ApiKeyEntity
    ApiKey:
      description: Complete API key entity with infrastructure domain inheritance
      allOf:
        - $ref: '../common/schemas/infrastructure-entities.yaml#/ApiKeyEntity'  # Infrastructure domain inheritance
        - type: object
          properties:
            # Add auth-service specific fields
            scopes:
              type: array
              items:
                type: string
                enum: [read, write, admin, analytics]
              description: API key permission scopes

    # Summary versions for API responses (reduced payload)
    UserAccountSummary:
      description: Summary user account for authentication responses
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: User account ID
        username:
          type: string
          description: Username
        email:
          type: string
          format: email
          description: Email address
        account_status:
          type: string
          enum: [active, suspended, banned, pending_verification]
          description: Account status
        email_verified:
          type: boolean
          description: Email verification status
        created_at:
          type: string
          format: date-time
          description: Account creation timestamp

    SessionSummary:
      description: Summary session for session management
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Session ID
        ip_address:
          type: string
          description: Client IP address
        user_agent:
          type: string
          description: Client user agent
        created_at:
          type: string
          format: date-time
          description: Session creation time
        last_activity_at:
          type: string
          format: date-time
          description: Last activity timestamp
        is_active:
          type: boolean
          description: Whether session is active

    # Request/Response schemas for authentication operations

    LoginRequest:
      description: Request payload for user login
      type: object
      required:
        - identifier
        - password
      properties:
        identifier:
          type: string
          description: Username or email for login
          example: "nightrunner2077"
        password:
          type: string
          format: password
          minLength: 8
          description: User password
        remember_me:
          type: boolean
          description: Whether to extend session duration
          default: false
        mfa_code:
          type: string
          pattern: '^[0-9]{6}$'
          description: 6-digit MFA code if enabled

    RegisterRequest:
      description: Request payload for user registration
      type: object
      required:
        - username
        - email
        - password
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 30
          pattern: '^[a-zA-Z0-9_-]+$'
          description: Unique username
          example: "nightrunner2077"
        email:
          type: string
          format: email
          description: Email address
          example: "nightrunner@necpgame.com"
        password:
          type: string
          format: password
          minLength: 8
          maxLength: 128
          description: Password (server validates complexity)
          example: "MySecureP@ssw0rd123"
        preferred_language:
          type: string
          enum: [en, es, zh, ja, ru, de, fr, pl, ko, pt]
          description: User's preferred language
          default: "en"
        terms_accepted:
          type: boolean
          description: Whether terms of service were accepted
          example: true
        marketing_consent:
          type: boolean
          description: Consent for marketing communications
          example: false

    VerifyEmailRequest:
      description: Request payload for email verification
      type: object
      required:
        - token
      properties:
        token:
          type: string
          minLength: 32
          description: Email verification token
          example: "abc123def456..."

    RefreshTokenRequest:
      description: Request payload for token refresh
      type: object
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string
          description: JWT refresh token
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."

    ForgotPasswordRequest:
      description: Request payload for password reset initiation
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          description: Account email address
          example: "nightrunner@necpgame.com"

    ResetPasswordRequest:
      description: Request payload for password reset completion
      type: object
      required:
        - token
        - new_password
      properties:
        token:
          type: string
          minLength: 32
          description: Password reset token
          example: "reset_abc123..."
        new_password:
          type: string
          format: password
          minLength: 8
          maxLength: 128
          description: New password
          example: "NewSecureP@ssw0rd456"

    # Configuration and audit entities

    AuthConfiguration:
      description: Auth service configuration entity
      allOf:
        - $ref: '../common/schemas/infrastructure-entities.yaml#/ConfigurationEntity'
        - type: object
          properties:
            auth_settings:
              type: object
              description: Authentication-specific settings
              properties:
                password_min_length:
                  type: integer
                  minimum: 8
                  maximum: 128
                  description: Minimum password length
                session_timeout_hours:
                  type: integer
                  minimum: 1
                  maximum: 168
                  description: Session timeout in hours
                max_failed_attempts:
                  type: integer
                  minimum: 3
                  maximum: 10
                  description: Max failed login attempts before lockout
                lockout_duration_minutes:
                  type: integer
                  minimum: 5
                  maximum: 1440
                  description: Account lockout duration

    AuthAuditLog:
      description: Audit trail for authentication operations
      allOf:
        - $ref: '../common/schemas/infrastructure-entities.yaml#/AuditLogEntity'
        - type: object
          properties:
            user_id:
              type: string
              format: uuid
              description: Associated user account ID
            operation_type:
              type: string
              enum: [login, logout, register, verify_email, password_reset, session_revoke, oauth_login]
              description: Type of authentication operation performed

  # Security schemes
  securitySchemes:
    BearerAuth:
      $ref: '../common/security/security.yaml#/BearerAuth'
    ApiKeyAuth:
      $ref: '../common/security/security.yaml#/ApiKeyAuth'
    ServiceAuth:
      $ref: '../common/security/security.yaml#/ServiceAuth'

# Performance and optimization notes
x-performance:
  p99-latency: "<50ms"
  memory-target: "<50KB per instance"
  concurrency-target: "10,000+ users"
  cache-strategy: "Redis with 5min TTL for sessions, 30s for tokens"
  database-indexes: "Composite indexes on (username, email), (user_id, created_at)"
  encryption: "AES-256 for sensitive data, bcrypt for passwords"

# Monitoring and observability
x-monitoring:
  metrics:
    - login_attempts_total
    - login_success_rate
    - session_count
    - token_refresh_rate
    - failed_auth_attempts
    - oauth_provider_usage
  alerts:
    - login_failure_rate > 5%
    - latency_p95 > 100ms
    - active_sessions > 50000
    - memory_usage > 80%

# Security configuration
x-security:
  password-policy: "8+ chars, uppercase, lowercase, number, special char"
  session-security: "JWT with RS256, refresh token rotation"
  rate-limiting: "100 requests/minute per IP, 10 failed logins/hour per account"
  audit-trail: "All auth operations logged with user context"

# Domain inheritance documentation
x-domain-inheritance:
  inherits-from: "common/schemas/infrastructure-entities.yaml"
  inherited-entities: "UserAccountEntity, SessionEntity, AuditLogEntity, ApiKeyEntity"
  additional-schemas: "Auth-specific extensions: MFA, OAuth, password reset"
  no-duplication: "Zero field duplication - all common fields inherited"

