openapi: 3.0.3
info:
  title: Auth Service API
  description: '**Enterprise-grade API for Authentication & Authorization**


    ## Domain Purpose

    Core authentication service providing secure user login, registration, session
    management,

    and authorization for the NECPGAME platform. Handles OAuth integrations and multi-factor
    authentication.


    ## Business Value

    - Secure user access to all platform services

    - OAuth integration with external providers

    - Multi-factor authentication support

    - Session security and audit trails

    - Rate limiting and fraud prevention


    ## Performance Targets

    - P99 Latency: <50ms for all endpoints

    - Memory per Instance: <50KB baseline

    - Concurrent Users: 10,000+ supported

    - Uptime: 99.9% SLA


    ## Domain Inheritance

    This service inherits from infrastructure-entities.yaml providing:

    - UserAccountEntity for user management

    - SessionEntity for session handling

    - AuditLogEntity for security auditing

    - ApiKeyEntity for third-party access

    - Optimistic locking for concurrent operations

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/auth-service
  description: Production environment
- url: https://staging-api.necpgame.com/v1/auth-service
  description: Staging environment
- url: http://localhost:8080/api/v1/auth-service
  description: Local development
security:
- BearerAuth: []
tags:
- name: Authentication
  description: Core authentication operations
- name: Authorization
  description: User permissions and access control
- name: Sessions
  description: Session management operations
- name: OAuth
  description: External OAuth provider integrations
- name: Security
  description: Security and audit operations
- name: Health Monitoring
  description: Service health and performance monitoring
- name: Administration
  description: Administrative operations
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/detailed:
    $ref: ./paths/health-detailed.yaml#/paths/~1health~1detailed
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /auth/login:
    $ref: ./paths/auth-login.yaml#/paths/~1auth~1login
  /auth/register:
    $ref: ./paths/auth-register.yaml#/paths/~1auth~1register
  /auth/verify-email:
    $ref: ./paths/auth-verify-email.yaml#/paths/~1auth~1verify-email
  /auth/logout:
    $ref: ./paths/auth-logout.yaml#/paths/~1auth~1logout
  /auth/refresh:
    $ref: ./paths/auth-refresh.yaml#/paths/~1auth~1refresh
  /auth/forgot-password:
    $ref: ./paths/auth-forgot-password.yaml#/paths/~1auth~1forgot-password
  /auth/reset-password:
    $ref: ./paths/auth-reset-password.yaml#/paths/~1auth~1reset-password
  /sessions:
    $ref: ./paths/sessions.yaml#/paths/~1sessions
  /sessions/{sessionId}/revoke:
    $ref: ./paths/sessions-{sessionId}-revoke.yaml#/paths/~1sessions~1{sessionId}~1revoke
  /oauth/{provider}/authorize:
    $ref: ./paths/oauth-{provider}-authorize.yaml#/paths/~1oauth~1{provider}~1authorize
  /oauth/{provider}/callback:
    $ref: ./paths/oauth-{provider}-callback.yaml#/paths/~1oauth~1{provider}~1callback
components:
  schemas:
    UserAccount:
      $ref: ./schemas/auth-service-schemas.yaml#/components/schemas/UserAccount
    Session:
      $ref: ./schemas/auth-service-schemas.yaml#/components/schemas/Session
    ApiKey:
      $ref: ./schemas/auth-service-schemas.yaml#/components/schemas/ApiKey
    UserAccountSummary:
      $ref: ./schemas/auth-service-schemas.yaml#/components/schemas/UserAccountSummary
    SessionSummary:
      $ref: ./schemas/auth-service-schemas.yaml#/components/schemas/SessionSummary
    LoginRequest:
      $ref: ./schemas/auth-service-schemas.yaml#/components/schemas/LoginRequest
    RegisterRequest:
      $ref: ./schemas/auth-service-schemas.yaml#/components/schemas/RegisterRequest
    VerifyEmailRequest:
      $ref: ./schemas/auth-service-schemas.yaml#/components/schemas/VerifyEmailRequest
    RefreshTokenRequest:
      $ref: ./schemas/auth-service-schemas.yaml#/components/schemas/RefreshTokenRequest
    ForgotPasswordRequest:
      $ref: ./schemas/auth-service-schemas.yaml#/components/schemas/ForgotPasswordRequest
    ResetPasswordRequest:
      $ref: ./schemas/auth-service-schemas.yaml#/components/schemas/ResetPasswordRequest
    AuthConfiguration:
      $ref: ./schemas/auth-service-schemas.yaml#/components/schemas/AuthConfiguration
    AuthAuditLog:
      $ref: ./schemas/auth-service-schemas.yaml#/components/schemas/AuthAuditLog
  responses:
    OK:
      $ref: ./schemas/auth-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/auth-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/auth-service-responses.yaml#/components/responses/Updated
    Deleted:
      $ref: ./schemas/auth-service-responses.yaml#/components/responses/Deleted
    UserAccountActionSuccess:
      $ref: ./schemas/auth-service-responses.yaml#/components/responses/UserAccountActionSuccess
    BadRequest:
      $ref: ./schemas/auth-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/auth-service-responses.yaml#/components/responses/Unauthorized
    Forbidden:
      $ref: ./schemas/auth-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/auth-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/auth-service-responses.yaml#/components/responses/Conflict
    TooManyRequests:
      $ref: ./schemas/auth-service-responses.yaml#/components/responses/TooManyRequests
    InternalServerError:
      $ref: ./schemas/auth-service-responses.yaml#/components/responses/InternalServerError
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
