openapi: 3.0.3
info:
  title: Player Market Execution API
  version: 1.0.0
  description: |
    API для исполнения ордеров на рынке игроков.
    
    Источник: .BRAIN/02-gameplay/economy/economy-player-market.md v1.0.0
    
    Исполнение ордеров:
    - Market orders: мгновенное исполнение по лучшей доступной цене
    - Limit orders: исполнение при достижении целевой цены
    - Частичное исполнение: ордер может исполняться частями
    - Автоматическое сопоставление: система находит подходящие ордера
    
    Price/Time Priority: Ордера с лучшей ценой исполняются первыми, при равной цене - по времени
    
    Основной файл: player-market-core.yaml

  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Player Market Execution
    description: Исполнение ордеров

paths:
  /gameplay/economy/player-market/execute/market-order:
    post:
      summary: Исполнить market order
      description: |
        Исполняет market order мгновенно по лучшей доступной цене.
        Market buy order - покупает по лучшей sell цене.
        Market sell order - продает по лучшей buy цене.
      operationId: executeMarketOrder
      tags:
        - Player Market Execution
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - order_id
              properties:
                order_id:
                  type: string
            examples:
              market_buy:
                summary: Market Buy Order
                value:
                  order_id: "order_001"
      responses:
        '200':
          description: Ордер исполнен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResult'
              examples:
                fully_filled:
                  summary: Полностью исполнен
                  value:
                    order_id: "order_001"
                    status: "filled"
                    filled_quantity: 10
                    average_price: 4750
                    total_cost: 47500
                    commission: 237.5
                    trades:
                      - trade_id: "trade_001"
                        price: 4800
                        quantity: 5
                      - trade_id: "trade_002"
                        price: 4700
                        quantity: 5

  /gameplay/economy/player-market/execute/match:
    post:
      summary: Сопоставить ордера
      description: |
        Автоматически сопоставляет buy и sell ордера.
        Исполняется системой автоматически, но можно вызвать вручную.
      operationId: matchOrders
      tags:
        - Player Market Execution
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - item_id
              properties:
                item_id:
                  type: string
      responses:
        '200':
          description: Ордера сопоставлены
          content:
            application/json:
              schema:
                type: object
                properties:
                  matched_trades:
                    type: array
                    items:
                      type: object
                      properties:
                        trade_id:
                          type: string
                        buy_order_id:
                          type: string
                        sell_order_id:
                          type: string
                        price:
                          type: number
                        quantity:
                          type: integer

  /gameplay/economy/player-market/execution/{trade_id}:
    get:
      summary: Получить детали исполнения
      description: Возвращает детали конкретной сделки
      operationId: getExecutionDetails
      tags:
        - Player Market Execution
      parameters:
        - name: trade_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Детали исполнения
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeDetails'

components:
  schemas:
    ExecutionResult:
      type: object
      properties:
        order_id:
          type: string
        status:
          type: string
          enum: [filled, partially_filled, pending]
        filled_quantity:
          type: integer
        remaining_quantity:
          type: integer
        average_price:
          type: number
        total_cost:
          type: number
        commission:
          type: number
        trades:
          type: array
          items:
            type: object
            properties:
              trade_id:
                type: string
              price:
                type: number
              quantity:
                type: integer
              executed_at:
                type: string
                format: date-time

    TradeDetails:
      type: object
      properties:
        trade_id:
          type: string
        buy_order_id:
          type: string
        sell_order_id:
          type: string
        item_id:
          type: string
        price:
          type: number
        quantity:
          type: integer
        executed_at:
          type: string
          format: date-time
        buyer_id:
          type: string
        seller_id:
          type: string


