# Quests API
# Источник: .BRAIN/05-technical/ui-main-game.md (v1.1.0)
# Task ID: API-TASK-030

openapi: 3.0.3
info:
  title: Quests API
  version: 1.0.0
  description: |
    API для управления квестовой системой в текстовой версии NECPGAME.
    
    ## Источники
    - Оригинальный документ: `.BRAIN/05-technical/ui-main-game.md` (v1.1.0, Раздел 5)
    - Задание: `API-SWAGGER/tasks/active/queue/task-030-quests-api.md`
    - Task ID: API-TASK-030
    - Дополнительные данные: `.BRAIN/05-technical/mvp-data-json/quests.json`

  x-microservice:
    name: narrative-service
    port: 8087
    domain: narrative
    base-path: /api/v1/quests
    package: com.necpgame.narrativeservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

paths:
  /quests:
    get:
      summary: Список доступных квестов
      description: Возвращает список всех доступных квестов для персонажа (не принятых).
      operationId: getAvailableQuests
      tags: [Quests]
      security: [{BearerAuth: []}]
      parameters:
        - name: characterId
          in: query
          required: true
          schema: {type: string, format: uuid}
        - name: type
          in: query
          required: false
          schema: {type: string, enum: [main, side, contract, daily]}
      responses:
        '200':
          description: Список доступных квестов
          content:
            application/json:
              schema:
                type: object
                properties:
                  quests: {type: array, items: {$ref: '#/components/schemas/Quest'}}
        '401': {$ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'}

  /quests/active:
    get:
      summary: Активные квесты персонажа
      description: Возвращает список активных (принятых, но не завершенных) квестов.
      operationId: getActiveQuests
      tags: [Quests]
      security: [{BearerAuth: []}]
      parameters:
        - name: characterId
          in: query
          required: true
          schema: {type: string, format: uuid}
      responses:
        '200':
          description: Список активных квестов
          content:
            application/json:
              schema:
                type: object
                properties:
                  quests: {type: array, items: {$ref: '#/components/schemas/QuestProgress'}}
        '401': {$ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'}

  /quests/{questId}:
    get:
      summary: Детали квеста
      description: Возвращает детальную информацию о квесте.
      operationId: getQuestDetails
      tags: [Quests]
      security: [{BearerAuth: []}]
      parameters:
        - name: questId
          in: path
          required: true
          schema: {type: string}
        - name: characterId
          in: query
          required: true
          schema: {type: string, format: uuid}
      responses:
        '200':
          description: Детали квеста
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Quest'}
        '404': {$ref: '../../shared/common/responses.yaml#/components/responses/NotFound'}
        '401': {$ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'}

  /quests/accept:
    post:
      summary: Принять квест
      description: Принимает квест от NPC или из списка доступных.
      operationId: acceptQuest
      tags: [Quests]
      security: [{BearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/AcceptQuestRequest'}
      responses:
        '200':
          description: Квест принят
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  message: {type: string}
                  quest: {$ref: '#/components/schemas/QuestProgress'}
        '400': {$ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'}
        '403': {$ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'}

  /quests/complete:
    post:
      summary: Завершить квест
      description: Завершает квест и выдает награды.
      operationId: completeQuest
      tags: [Quests]
      security: [{BearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CompleteQuestRequest'}
      responses:
        '200':
          description: Квест завершен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  message: {type: string}
                  rewards: {$ref: '#/components/schemas/QuestRewards'}
        '400': {$ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'}

  /quests/abandon:
    post:
      summary: Отказаться от квеста
      description: Отказывается от активного квеста (не завершая его).
      operationId: abandonQuest
      tags: [Quests]
      security: [{BearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [characterId, questId]
              properties:
                characterId: {type: string, format: uuid}
                questId: {type: string}
      responses:
        '200':
          description: Квест отменен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  message: {type: string}
        '404': {$ref: '../../shared/common/responses.yaml#/components/responses/NotFound'}

  /quests/{questId}/objectives:
    get:
      summary: Цели квеста
      description: Возвращает список целей (objectives) квеста с прогрессом.
      operationId: getQuestObjectives
      tags: [Quests]
      security: [{BearerAuth: []}]
      parameters:
        - name: questId
          in: path
          required: true
          schema: {type: string}
        - name: characterId
          in: query
          required: true
          schema: {type: string, format: uuid}
      responses:
        '200':
          description: Цели квеста
          content:
            application/json:
              schema:
                type: object
                properties:
                  objectives: {type: array, items: {$ref: '#/components/schemas/QuestObjective'}}
        '404': {$ref: '../../shared/common/responses.yaml#/components/responses/NotFound'}

components:
  schemas:
    Quest:
      type: object
      required: [id, name, description, type, level, rewards, objectives]
      properties:
        id: {type: string, example: "quest_find_trader"}
        name: {type: string, example: "Найти торговца"}
        description: {type: string, example: "Найдите торговца Джейка в районе Watson"}
        type: {type: string, enum: [main, side, contract, daily], example: "side"}
        level: {type: integer, minimum: 1, example: 1}
        rewards: {$ref: '#/components/schemas/QuestRewards'}
        objectives: {type: array, items: {$ref: '#/components/schemas/QuestObjective'}}
        requirements:
          type: object
          properties:
            minLevel: {type: integer}
            requiredQuests: {type: array, items: {type: string}}
            minReputation: {type: object, additionalProperties: {type: integer}}
        giver: {type: string, description: "NPC ID который дает квест", example: "npc_trader_joe"}
        location: {type: string, description: "Локация где можно принять квест"}
        isRepeatable: {type: boolean, default: false}
        timeLimit: {type: integer, description: "Лимит времени в минутах", nullable: true}

    QuestObjective:
      type: object
      required: [id, description, type, currentProgress, targetProgress, completed]
      properties:
        id: {type: string, example: "obj_find_npc"}
        description: {type: string, example: "Найти торговца"}
        type: {type: string, enum: [location, kill, collect, talk, interact]}
        currentProgress: {type: integer, example: 0}
        targetProgress: {type: integer, example: 1}
        completed: {type: boolean, example: false}
        optional: {type: boolean, default: false}

    QuestRewards:
      type: object
      required: [experience, currency]
      properties:
        experience: {type: integer, example: 200}
        currency: {type: integer, description: "Eddies", example: 500}
        items: {type: array, items: {type: object, properties: {itemId: {type: string}, quantity: {type: integer}}}}
        reputation: {type: object, additionalProperties: {type: integer}, example: {valentinos: 5}}

    QuestProgress:
      allOf:
        - $ref: '#/components/schemas/Quest'
        - type: object
          required: [status, startedAt, objectives]
          properties:
            status: {type: string, enum: [active, completed, failed, abandoned]}
            startedAt: {type: string, format: date-time}
            completedAt: {type: string, format: date-time, nullable: true}
            objectives:
              type: array
              items:
                $ref: '#/components/schemas/QuestObjective'

    AcceptQuestRequest:
      type: object
      required: [characterId, questId]
      properties:
        characterId: {type: string, format: uuid}
        questId: {type: string}
        fromNpcId: {type: string, nullable: true}

    CompleteQuestRequest:
      type: object
      required: [characterId, questId]
      properties:
        characterId: {type: string, format: uuid}
        questId: {type: string}

  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'

