openapi: 3.0.3
info:
  title: WebRTC Signaling Service API - Enterprise-Grade Voice Chat Signaling
  description: '**Enterprise-Grade WebRTC Signaling Service API for NECPGAME**

    Comprehensive voice chat signaling service enabling real-time peer-to-peer voice
    communication for MMOFPS gaming with enterprise-grade reliability, security, and
    performance optimizations.

    ## Key Features

    - **WebRTC Signaling Protocol** - Complete offer/answer/ICE candidate exchange
    - **Real-time Voice Channels** - Guild parties, global chat, private rooms - **NAT
    Traversal Support** - STUN/TURN server integration for connectivity - **Voice
    Quality Monitoring** - Adaptive bitrate and quality optimization - **Anti-cheat
    Integration** - Voice validation and spam detection - **Scalable Architecture**
    - 1000+ concurrent voice connections

    ## Domain Purpose

    This WebRTC domain provides signaling infrastructure for peer-to-peer voice communication
    in NECPGAME, enabling immersive multiplayer voice chat with enterprise-grade reliability
    and anti-cheat protection.

    ## Performance Targets

    - P99 Latency: <25ms for signaling operations - Memory: <50KB per active voice
    connection - Concurrent users: 5000+ simultaneous voice sessions - Signaling throughput:
    10000+ messages/sec - Connection establishment: <100ms average

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/webrtc-signaling
  description: Production server
- url: https://staging-api.necpgame.com/v1/webrtc-signaling
  description: Staging server
- url: http://localhost:8080/api/v1/webrtc-signaling
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Voice Signaling
  description: WebRTC signaling protocol operations
- name: Voice Channels
  description: Voice channel and room management
- name: Voice Quality
  description: Voice quality monitoring and optimization
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /voice-channels:
    $ref: ./paths/voice-channels.yaml#/paths/~1voice-channels
  /voice-channels/{channel_id}:
    $ref: ./paths/voice-channels-{channel_id}.yaml#/paths/~1voice-channels~1{channel_id}
  /voice-channels/{channel_id}/join:
    $ref: ./paths/voice-channels-{channel_id}-join.yaml#/paths/~1voice-channels~1{channel_id}~1join
  /voice-channels/{channel_id}/signal:
    $ref: ./paths/voice-channels-{channel_id}-signal.yaml#/paths/~1voice-channels~1{channel_id}~1signal
  /voice-channels/{channel_id}/leave:
    $ref: ./paths/voice-channels-{channel_id}-leave.yaml#/paths/~1voice-channels~1{channel_id}~1leave
  /voice-quality/{channel_id}/report:
    $ref: ./paths/voice-quality-{channel_id}-report.yaml#/paths/~1voice-quality~1{channel_id}~1report
  /guilds/{guild_id}/voice-channels:
    $ref: ./paths/guilds-{guild_id}-voice-channels.yaml#/paths/~1guilds~1{guild_id}~1voice-channels
  /guilds/{guild_id}/voice-channels/{channel_id}:
    $ref: ./paths/guilds-{guild_id}-voice-channels-{channel_id}.yaml#/paths/~1guilds~1{guild_id}~1voice-channels~1{channel_id}
  /guilds/{guild_id}/voice-channels/{channel_id}/join:
    $ref: ./paths/guilds-{guild_id}-voice-channels-{channel_id}-join.yaml#/paths/~1guilds~1{guild_id}~1voice-channels~1{channel_id}~1join
components:
  schemas:
    HealthResponse:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/HealthResponse
    JoinVoiceChannelRequest:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/JoinVoiceChannelRequest
    JoinVoiceChannelResponse:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/JoinVoiceChannelResponse
    WebSocketHealthMessage:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/WebSocketHealthMessage
    Error:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/Error
    VoiceChannel:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/VoiceChannel
    VoiceQualitySettings:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/VoiceQualitySettings
    JoinChannelRequest:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/JoinChannelRequest
    WebRTCCapabilities:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/WebRTCCapabilities
    JoinChannelResponse:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/JoinChannelResponse
    ICEServer:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/ICEServer
    VoiceParticipant:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/VoiceParticipant
    SignalingMessage:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/SignalingMessage
    ICECandidate:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/ICECandidate
    SignalingResponse:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/SignalingResponse
    LeaveChannelResponse:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/LeaveChannelResponse
    VoiceQualityReport:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/VoiceQualityReport
    VoiceQualityMetrics:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/VoiceQualityMetrics
    VoiceQualityResponse:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/VoiceQualityResponse
    CreateVoiceChannelRequest:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/CreateVoiceChannelRequest
    UpdateExampleRequest:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/UpdateExampleRequest
    GuildVoiceChannelRequest:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/GuildVoiceChannelRequest
    GuildVoiceChannelResponse:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/GuildVoiceChannelResponse
    GuildVoiceChannelUpdateRequest:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/GuildVoiceChannelUpdateRequest
    GuildVoiceChannelListResponse:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/GuildVoiceChannelListResponse
    GuildPermissions:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/GuildPermissions
    ExampleResponse:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/ExampleResponse
    ExampleListResponse:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/ExampleListResponse
    PaginationParams:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/PaginationParams
    PaginatedResponse:
      $ref: ./schemas/web-rtc-service-schemas.yaml#/components/schemas/PaginatedResponse
  responses:
    HealthBatchSuccess:
      $ref: ./schemas/web-rtc-service-responses.yaml#/components/responses/HealthBatchSuccess
    ExampleListSuccess:
      $ref: ./schemas/web-rtc-service-responses.yaml#/components/responses/ExampleListSuccess
    ExampleCreated:
      $ref: ./schemas/web-rtc-service-responses.yaml#/components/responses/ExampleCreated
    ExampleRetrieved:
      $ref: ./schemas/web-rtc-service-responses.yaml#/components/responses/ExampleRetrieved
    ExampleUpdated:
      $ref: ./schemas/web-rtc-service-responses.yaml#/components/responses/ExampleUpdated
    ExampleDeleted:
      $ref: ./schemas/web-rtc-service-responses.yaml#/components/responses/ExampleDeleted
    OK:
      $ref: ./schemas/web-rtc-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/web-rtc-service-responses.yaml#/components/responses/Created
    BadRequest:
      $ref: ./schemas/web-rtc-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/web-rtc-service-responses.yaml#/components/responses/Unauthorized
    Forbidden:
      $ref: ./schemas/web-rtc-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/web-rtc-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/web-rtc-service-responses.yaml#/components/responses/Conflict
    InternalServerError:
      $ref: ./schemas/web-rtc-service-responses.yaml#/components/responses/InternalServerError
    HealthOK:
      $ref: ./schemas/web-rtc-service-responses.yaml#/components/responses/HealthOK
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
