openapi: 3.0.3
info:
  title: Tournament Service API - Enterprise-Grade Tournament Management System
  description: '**Enterprise-Grade Tournament Management API for NECPGAME**

    This API manages competitive tournaments, leaderboards, matchmaking, and competitive
    gameplay experiences in Night City.

    ## Key Features

    - **Tournament Management**: Create and manage competitive tournaments - **Matchmaking**:
    Advanced player matching algorithms - **Leaderboards**: Real-time ranking systems
    - **Bracket Systems**: Single elimination, double elimination, round-robin - **Prize
    Distribution**: Automated reward allocation - **Spectator Mode**: Live tournament
    viewing - **Scalability**: Support for massive concurrent tournaments - **Performance
    Optimized**: High-throughput tournament operations with <15ms P99 latency

    ## Domain Purpose

    The Tournament domain handles all competitive gameplay and tournament systems
    in Night City. Players participate in ranked matches, tournaments, and competitive
    events through comprehensive tournament management systems.

    ## Performance Targets

    - P99 Latency: <15ms for tournament operations - Memory: <25KB per active tournament
    session - Concurrent users: 100,000+ simultaneous tournament participants - Tournament
    throughput: 30,000+ operations per second

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/tournament
  description: Production server
- url: https://staging-api.necpgame.com/v1/tournament
  description: Staging server
- url: http://localhost:8080/api/v1/tournament
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Tournament Management
  description: Core tournament operations and management
- name: Matchmaking
  description: Player matching and tournament bracket systems
- name: Leaderboards
  description: Ranking and statistics systems
- name: Tournament Participation
  description: Player registration and tournament participation
- name: Tournament Scoring
  description: Match score registration and tournament progression
- name: Tournament Analytics
  description: Tournament statistics, leaderboards, and spectator data
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Tournament service health check
      description: '**Enterprise-grade health check endpoint**


        Provides real-time health status of the tournament service microservice.

        Critical for service discovery, load balancing, and monitoring.


        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: tournamentServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - timestamp
                properties:
                  status:
                    type: string
                    enum:
                    - ok
                    - degraded
                    - critical
                    example: ok
                    description: Current health status
                  message:
                    type: string
                    example: Service is healthy
                    description: Human-readable status message
                  timestamp:
                    type: string
                    format: date-time
                    example: '2024-01-15T10:30:00Z'
                    description: Time when health check was performed
                  version:
                    type: string
                    example: 1.0.0
                    description: Service version
                  uptime:
                    type: integer
                    example: 3600
                    description: Service uptime in seconds
                  checks:
                    type: object
                    description: Detailed health checks
                    additionalProperties:
                      type: object
                      properties:
                        status:
                          type: string
                          enum:
                          - ok
                          - degraded
                          - critical
                        message:
                          type: string
                        response_time:
                          type: integer
                          description: Response time in milliseconds
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - timestamp
                properties:
                  status:
                    type: string
                    enum:
                    - ok
                    - degraded
                    - critical
                    example: ok
                    description: Current health status
                  message:
                    type: string
                    example: Service is healthy
                    description: Human-readable status message
                  timestamp:
                    type: string
                    format: date-time
                    example: '2024-01-15T10:30:00Z'
                    description: Time when health check was performed
                  version:
                    type: string
                    example: 1.0.0
                    description: Service version
                  uptime:
                    type: integer
                    example: 3600
                    description: Service uptime in seconds
                  checks:
                    type: object
                    description: Detailed health checks
                    additionalProperties:
                      type: object
                      properties:
                        status:
                          type: string
                          enum:
                          - ok
                          - degraded
                          - critical
                        message:
                          type: string
                        response_time:
                          type: integer
                          description: Response time in milliseconds
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
  /health/batch:
    post:
      summary: Batch health check for tournament services
      description: '**Performance optimization:** Check multiple tournament service
        health in single request


        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.


        **Use case:** Service mesh health checks, Kubernetes readiness probes

        '
      operationId: tournamentServiceBatchHealthCheck
      tags:
      - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                    - tournament-service
                    - system-domain
                    - specialized-domain
                    maxItems: 10
                  description: List of services to check
      responses:
        '200':
          $ref: ../common/responses/success.yaml#/HealthBatchSuccess
        '400':
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description: '**Performance optimization:** Real-time health updates without
        polling


        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.


        **Protocol:** WebSocket with JSON payloads

        **Heartbeat:** 30 second intervals

        **Reconnection:** Automatic with exponential backoff

        '
      operationId: tournamentServiceHealthWebSocket
      tags:
      - Health Monitoring
      parameters:
      - name: services
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - tournament-service
            - system-domain
            - specialized-domain
        description: Services to monitor (optional, monitors all if not specified)
      responses:
        '200':
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/tournament/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                    - health-monitoring-v1
        '101':
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSocketHealthMessage'
        '400':
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '401':
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '429':
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
  /tournaments:
    get:
      summary: List tournaments with filtering and pagination
      description: '**Enterprise-grade tournament listing endpoint**


        Supports complex filtering by type, status, skill level, and pagination.

        Optimized for high-throughput tournament browsing with proper indexing.


        **Performance:** <10ms P95, supports 1000+ concurrent tournament searches

        '
      operationId: listTournaments
      tags:
      - Tournament Management
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Page number for pagination
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Number of items per page
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at
          - start_time
          - prize_pool
          - participant_count
          default: created_at
        description: Sort field
      - name: sort_order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Sort order
      - name: status
        in: query
        schema:
          type: string
          enum:
          - upcoming
          - registration_open
          - in_progress
          - completed
          - cancelled
        description: Filter by tournament status
      - name: game_mode
        in: query
        schema:
          type: string
          enum:
          - deathmatch
          - team_deathmatch
          - capture_the_flag
          - king_of_the_hill
          - battle_royale
        description: Filter by game mode
      - name: skill_level
        in: query
        schema:
          type: string
          enum:
          - beginner
          - intermediate
          - advanced
          - expert
          - legendary
        description: Filter by required skill level
      responses:
        '200':
          $ref: '#/components/responses/TournamentListSuccess'
        '400':
          description: Invalid request - malformed query parameters
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '422':
          description: Unprocessable entity - validation failed
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
    post:
      summary: Create new tournament
      description: '**Enterprise-grade creation endpoint**


        Validates business rules, applies security checks, and ensures data consistency.

        Supports optimistic locking for concurrent operations.


        **Performance:** <50ms P95, includes validation and business logic

        '
      operationId: createTournament
      tags:
      - Tournament Management
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTournamentRequest'
      responses:
        '201':
          $ref: '#/components/responses/TournamentCreated'
        '400':
          description: Invalid request - malformed or missing data
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '409':
          description: Conflict - tournament with this identifier already exists
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '422':
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '429':
          description: Too many requests - creation rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
  /tournaments/{tournament_id}:
    get:
      summary: Get specific tournament by ID
      description: '**Enterprise-grade retrieval endpoint**


        Optimized with proper caching strategies and database indexing.

        Supports conditional requests with ETags.


        **Performance:** <5ms P95 with Redis caching

        '
      operationId: getTournament
      tags:
      - Tournament Management
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      - name: include_related
        in: query
        schema:
          type: boolean
          default: false
        description: Include related data in response
      - name: If-None-Match
        in: header
        schema:
          type: string
        description: Conditional request - return 304 if ETag matches
      - name: If-Modified-Since
        in: header
        schema:
          type: string
          format: date-time
        description: Conditional request - return 304 if not modified since this time
      responses:
        '200':
          $ref: '#/components/responses/TournamentRetrieved'
        '304':
          description: Not modified - resource has not changed
          headers:
            ETag:
              schema:
                type: string
                example: '"tournament-123-v1"'
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
        '400':
          description: Invalid request - malformed tournament ID
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '404':
          description: Tournament not found
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
    put:
      summary: Update existing tournament
      description: '**Enterprise-grade update endpoint**


        Supports partial updates, optimistic locking, and audit trails.

        Ensures data consistency with event sourcing patterns.


        **Performance:** <25ms P95, includes validation and conflict resolution

        '
      operationId: updateTournament
      tags:
      - Tournament Management
      security:
      - BearerAuth: []
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      - name: If-Match
        in: header
        schema:
          type: string
        description: ETag for optimistic locking - prevents concurrent updates
      - name: If-Unmodified-Since
        in: header
        schema:
          type: string
          format: date-time
        description: Conditional update - proceed only if not modified since this
          time
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTournamentRequest'
      responses:
        '200':
          $ref: '#/components/responses/TournamentUpdated'
        '400':
          description: Invalid request - malformed data or tournament ID
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '404':
          description: Tournament not found
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '409':
          description: Conflict - version conflict (optimistic locking) or precondition
            failed
          headers:
            ETag:
              schema:
                type: string
                example: '"tournament-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '412':
          description: Precondition failed - If-Match or If-Unmodified-Since condition
            not met
          headers:
            ETag:
              schema:
                type: string
                example: '"tournament-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '422':
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '429':
          description: Too many requests - update rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
    delete:
      summary: Delete tournament
      description: '**Enterprise-grade deletion endpoint**


        Supports soft deletes with audit trails and cleanup scheduling.

        Ensures referential integrity and cascading deletes.


        **Performance:** <15ms P95, includes cleanup operations

        '
      operationId: deleteTournament
      tags:
      - Tournament Management
      security:
      - BearerAuth: []
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      responses:
        '204':
          description: Tournament deleted successfully
        '400':
          description: Invalid request - malformed tournament ID
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '404':
          description: Tournament not found
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '409':
          description: Conflict - tournament cannot be deleted (referential integrity)
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '429':
          description: Too many requests - deletion rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
  /tournaments/{tournament_id}/join:
    post:
      summary: Join a tournament
      description: '**Player registration for tournament participation**

        Handles tournament registration with validation of entry requirements, participant
        limits, and registration deadlines.

        **Business Logic:** - Validates tournament status (must be registration_open)
        - Checks participant capacity - Verifies player eligibility - Reserves participant
        slot

        '
      operationId: joinTournament
      tags:
      - Tournament Participation
      security:
      - BearerAuth: []
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinTournamentRequest'
      responses:
        '201':
          description: Successfully joined tournament
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentParticipantResponse'
        '400':
          description: Invalid request - tournament full or registration closed
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '404':
          description: Tournament not found
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '409':
          description: Player already registered for this tournament
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '429':
          description: Too many requests - registration rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
  /tournaments/{tournament_id}/leave:
    post:
      summary: Leave a tournament
      description: '**Player withdrawal from tournament participation**

        Handles tournament withdrawal with proper cleanup of participant records and
        slot release.

        **Business Logic:** - Validates tournament status (must not be completed)
        - Removes participant record - Releases participant slot - Updates tournament
        statistics

        '
      operationId: leaveTournament
      tags:
      - Tournament Participation
      security:
      - BearerAuth: []
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveTournamentRequest'
      responses:
        '200':
          description: Successfully left tournament
        '400':
          description: Invalid request - tournament already started or completed
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '404':
          description: Tournament or participant record not found
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '429':
          description: Too many requests - withdrawal rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
  /tournaments/{tournament_id}/scores:
    post:
      summary: Register tournament match score
      description: '**Match result registration for tournament progression**

        Records match outcomes with validation and automatic tournament bracket advancement
        calculation.

        **Business Logic:** - Validates match authenticity - Updates participant scores
        - Calculates tournament standings - Advances tournament bracket - Triggers
        elimination logic

        **Performance:** Sub-millisecond score validation and ranking updates

        '
      operationId: registerTournamentScore
      tags:
      - Tournament Scoring
      security:
      - ServiceAuth: []
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterTournamentScoreRequest'
      responses:
        '201':
          description: Score registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentScoreResponse'
        '400':
          description: Invalid request - malformed score data or tournament rules
            violation
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '404':
          description: Tournament or participant not found
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '409':
          description: Score already registered for this match
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '429':
          description: Too many requests - scoring rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 10
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
  /tournaments/{tournament_id}/leaderboard:
    get:
      summary: Get tournament leaderboard
      description: '**Real-time tournament standings and rankings**

        Provides current tournament leaderboard with player rankings, scores, and
        progression statistics.

        **Performance:** <5ms response time with cached rankings **Caching:** 30-second
        cache with real-time invalidation on score updates

        '
      operationId: getTournamentLeaderboard
      tags:
      - Tournament Analytics
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: Maximum number of leaderboard entries to return
      responses:
        '200':
          description: Leaderboard retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"leaderboard-v1.0-tournament-uuid"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentLeaderboardResponse'
        '404':
          description: Tournament not found
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '429':
          description: Too many requests - leaderboard rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 5
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
  /tournaments/{tournament_id}/bracket:
    get:
      summary: Get tournament bracket structure
      description: '**Tournament bracket visualization and management**

        Retrieves the current tournament bracket structure with all matches, rounds,
        and participant positions. Supports real-time bracket updates during tournament
        progression.

        **Business Logic:** - Returns bracket structure based on tournament format
        (single/double elimination, round-robin) - Includes match status, participant
        positions, and next round information - Real-time updates during match progression

        **Performance:** <10ms response time with cached bracket structure

        '
      operationId: getTournamentBracket
      tags:
      - Matchmaking
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      - name: include_matches
        in: query
        schema:
          type: boolean
          default: true
        description: Include detailed match information in bracket
      responses:
        '200':
          description: Tournament bracket retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"bracket-v1.0-tournament-uuid"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentBracketResponse'
        '404':
          description: Tournament not found
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '429':
          description: Too many requests - bracket rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 5
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
    post:
      summary: Generate tournament bracket
      description: '**Bracket generation for tournament start**

        Generates tournament bracket structure based on registered participants and
        tournament format. Supports automatic seeding and bracket distribution algorithms.

        **Business Logic:** - Validates tournament status (must have sufficient participants)
        - Generates bracket based on tournament format (single/double elimination,
        round-robin) - Applies seeding algorithm if participants have seed values
        - Distributes participants across bracket positions

        **Performance:** <100ms for bracket generation with up to 128 participants

        '
      operationId: generateTournamentBracket
      tags:
      - Matchmaking
      security:
      - BearerAuth: []
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateBracketRequest'
      responses:
        '201':
          description: Tournament bracket generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentBracketResponse'
        '400':
          description: Invalid request - insufficient participants or invalid tournament
            status
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '404':
          description: Tournament not found
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '409':
          description: Conflict - bracket already generated for this tournament
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '429':
          description: Too many requests - bracket generation rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
  /tournaments/{tournament_id}/spectators:
    get:
      summary: Get tournament spectator list
      description: '**Live spectator management for tournament viewing**

        Retrieves list of current spectators watching the tournament, with spectator
        count and spectator activity statistics.

        **Business Logic:** - Returns current spectator count - Includes spectator
        activity metrics - Supports pagination for large spectator lists

        **Performance:** <5ms response time with cached spectator data

        '
      operationId: getTournamentSpectators
      tags:
      - Tournament Analytics
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: Maximum number of spectator entries to return
      responses:
        '200':
          description: Tournament spectators retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=10, s-maxage=20
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentSpectatorsResponse'
        '404':
          description: Tournament not found
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '429':
          description: Too many requests - spectator list rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 5
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
  /tournaments/{tournament_id}/spectate:
    get:
      summary: Real-time tournament spectator WebSocket
      description: '**Live tournament viewing with real-time updates**

        WebSocket endpoint for real-time tournament spectator mode. Provides live
        match updates, bracket progression, and tournament statistics without polling.

        **Protocol:** WebSocket with JSON payloads **Heartbeat:** 30 second intervals
        **Reconnection:** Automatic with exponential backoff

        **Message Types:** - match_start: Match has started - match_update: Match
        score/status update - match_end: Match has completed - bracket_update: Bracket
        structure has changed - tournament_update: Tournament status change

        **Performance:** Sub-millisecond message delivery, supports 10,000+ concurrent
        spectators

        '
      operationId: tournamentSpectatorWebSocket
      tags:
      - Tournament Analytics
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      responses:
        '200':
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/tournament/550e8400-e29b-41d4-a716-446655440000/spectate
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                    - tournament-spectator-v1
        '101':
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentSpectatorMessage'
        '400':
          description: Invalid request - malformed tournament ID
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '401':
          description: Unauthorized - authentication required for spectator mode
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '404':
          description: Tournament not found
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        '429':
          description: Too many requests - spectator WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                - code
                - message
                properties:
                  code:
                    type: integer
                    minimum: 100
                    maximum: 599
                    example: 400
                  message:
                    type: string
                    example: Bad request
                  details:
                    type: object
                    description: Additional error details
  /leaderboards:
    get:
      summary: Get global tournament leaderboards
      description: '**Enterprise-grade leaderboard retrieval endpoint**

        Retrieves global tournament leaderboards across all tournaments and time periods.
        Supports filtering by tournament type, time range, and ranking criteria.

        **Performance:** <50ms P99 latency, cached for 5 minutes, supports 10,000+
        concurrent requests

        **Use Cases:** - Global player rankings - Tournament statistics - Historical
        performance analysis - Competitive insights

        '
      operationId: getGlobalLeaderboards
      tags:
      - Leaderboards
      - Tournament Analytics
      parameters:
      - name: tournament_type
        in: query
        schema:
          type: string
          enum:
          - all
          - ranked
          - casual
          - championship
          default: all
        description: Filter by tournament type
        example: ranked
      - name: time_range
        in: query
        schema:
          type: string
          enum:
          - all_time
          - this_month
          - this_week
          - today
          default: all_time
        description: Filter by time range
        example: this_month
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
        description: Maximum number of entries to return
        example: 100
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Number of entries to skip
        example: 0
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - total_score
          - win_rate
          - tournaments_won
          - avg_placement
          default: total_score
        description: Sort leaderboard by criteria
        example: total_score
      responses:
        '200':
          description: Global leaderboards retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=300, s-maxage=600
            ETag:
              schema:
                type: string
                example: '"leaderboard-global-2025-12-v1"'
            Last-Modified:
              schema:
                type: string
                format: date-time
                example: '2025-12-25T12:00:00Z'
            X-Total-Count:
              schema:
                type: integer
                example: 50000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentLeaderboardResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    HealthBatchSuccess:
      $ref: ../common/responses/success.yaml#/HealthBatchSuccess
    TournamentListSuccess:
      description: Tournaments retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
        X-Total-Count:
          schema:
            type: integer
            example: 150
            description: Total number of tournaments matching criteria
        X-Page-Count:
          schema:
            type: integer
            example: 8
            description: Total number of pages
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TournamentListResponse'
    TournamentCreated:
      description: Tournament created successfully
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/tournaments/550e8400-e29b-41d4-a716-446655440000
            description: URL of the created tournament
        ETag:
          schema:
            type: string
            example: '"tournament-123-v1"'
            description: Entity tag for caching and optimistic locking
        Cache-Control:
          schema:
            type: string
            example: no-cache
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TournamentResponse'
    TournamentRetrieved:
      description: Tournament retrieved successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"tournament-123-v1"'
            description: Entity tag for caching
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
            description: Cache control directives
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: '2025-12-21T10:00:00Z'
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 5
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TournamentResponse'
    TournamentUpdated:
      description: Tournament updated successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"tournament-123-v2"'
            description: New entity tag after update
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: '2025-12-21T10:05:00Z'
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 25
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TournamentResponse'
    OK:
      allOf:
      - $ref: '#/components/schemas/Success'
      - type: object
        properties:
          message:
            example: Operation completed successfully
          data:
            type: object
            description: Response data
          meta:
            type: object
            description: Metadata about response
            properties:
              count:
                type: integer
                description: Number of items (for lists)
                example: 25
              total:
                type: integer
                description: Total number of items available
                example: 100
              page:
                type: integer
                description: Current page number
                example: 1
              per_page:
                type: integer
                description: Items per page
                example: 25
    Created:
      allOf:
      - $ref: '#/components/schemas/Success'
      - type: object
        required:
        - data
        properties:
          message:
            example: Resource created successfully
          data:
            type: object
            description: Created resource data
          location:
            type: string
            description: URL to access created resource
            example: /api/v1/resources/123
    BadRequest:
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        properties:
          code:
            example: 400
          message:
            example: Invalid request parameters
          validation_errors:
            type: array
            items:
              type: object
              properties:
                field:
                  type: string
                  example: email
                message:
                  type: string
                  example: Invalid email format
    Unauthorized:
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        properties:
          code:
            example: 401
          message:
            example: Authentication required
    Forbidden:
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        properties:
          code:
            example: 403
          message:
            example: Access denied
    NotFound:
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        properties:
          code:
            example: 404
          message:
            example: Resource not found
          resource_type:
            type: string
            example: user
          resource_id:
            type: string
            example: 123e4567-e89b-12d3-a456-426614174000
    Conflict:
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        properties:
          code:
            example: 409
          message:
            example: Resource conflict
          conflict_type:
            type: string
            enum:
            - duplicate
            - version_conflict
            - state_conflict
            example: duplicate
          existing_resource:
            type: object
            description: Information about existing conflicting resource
    InternalServerError:
      allOf:
      - $ref: '#/components/schemas/Error'
      - type: object
        properties:
          code:
            example: 500
          message:
            example: Internal server error
          request_id:
            type: string
            description: Request ID for tracing
            example: req-123456789
          timestamp:
            type: string
            format: date-time
            example: '2024-01-15T10:30:00Z'
    HealthOK:
      $ref: ../common/responses/success.yaml#/HealthOK
  schemas:
    HealthResponse:
      type: object
      required:
      - status
      - timestamp
      properties:
        status:
          type: string
          enum:
          - ok
          - degraded
          - critical
          example: ok
          description: Current health status
        message:
          type: string
          example: Service is healthy
          description: Human-readable status message
        timestamp:
          type: string
          format: date-time
          example: '2024-01-15T10:30:00Z'
          description: Time when health check was performed
        version:
          type: string
          example: 1.0.0
          description: Service version
        uptime:
          type: integer
          example: 3600
          description: Service uptime in seconds
        checks:
          type: object
          description: Detailed health checks
          additionalProperties:
            type: object
            properties:
              status:
                type: string
                enum:
                - ok
                - degraded
                - critical
              message:
                type: string
              response_time:
                type: integer
                description: Response time in milliseconds
    WebSocketHealthMessage:
      type: object
      required:
      - type
      - timestamp
      - health
      properties:
        type:
          type: string
          enum:
          - health_update
          - health_alert
          - service_down
          example: health_update
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          maxLength: 255
        message_timestamp:
          type: string
          format: date-time
          description: Timestamp of the health message
          maxLength: 1000
        health:
          type: object
          required:
          - status
          - timestamp
          properties:
            status:
              type: string
              enum:
              - ok
              - degraded
              - critical
              example: ok
              description: Current health status
            message:
              type: string
              example: Service is healthy
              description: Human-readable status message
            timestamp:
              type: string
              format: date-time
              example: '2024-01-15T10:30:00Z'
              description: Time when health check was performed
            version:
              type: string
              example: 1.0.0
              description: Service version
            uptime:
              type: integer
              example: 3600
              description: Service uptime in seconds
            checks:
              type: object
              description: Detailed health checks
              additionalProperties:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - ok
                    - degraded
                    - critical
                  message:
                    type: string
                  response_time:
                    type: integer
                    description: Response time in milliseconds
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          minimum: 100
          maximum: 599
          example: 400
        message:
          type: string
          example: Bad request
        details:
          type: object
          description: Additional error details
    Tournament:
      type: object
      required:
      - id
      - name
      - game_mode
      - status
      - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Tournament unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Tournament display name
          example: Winter Championship 2025
        description:
          type: string
          maxLength: 1000
          description: Detailed tournament description
          example: A competitive tournament featuring the best players in elimination
            matches with cash prizes.
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: '2025-12-21T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-21T10:00:00Z'
        game_mode:
          type: string
          enum:
          - elimination
          - round-robin
          - swiss-system
          - single-elimination
          - double-elimination
          description: Tournament game mode format
          example: single-elimination
        tournament_type:
          type: string
          enum:
          - ranked
          - casual
          - championship
          - seasonal
          - special-event
          description: Type of tournament
          example: championship
        tournament_difficulty:
          type: string
          enum:
          - beginner
          - intermediate
          - advanced
          - expert
          - master
          description: Tournament difficulty level
          example: expert
        max_participants:
          type: integer
          minimum: 2
          maximum: 1000
          description: Maximum number of participants
          example: 128
        current_participants:
          type: integer
          minimum: 0
          default: 0
          description: Current number of registered participants
          example: 87
        start_date:
          type: string
          format: date-time
          description: Tournament start date and time
          example: '2025-12-25T18:00:00Z'
        end_date:
          type: string
          format: date-time
          description: Tournament end date and time
          example: '2025-12-27T22:00:00Z'
        status:
          $ref: '#/components/schemas/TournamentStatus'
        reward:
          $ref: '#/components/schemas/TournamentReward'
        objectives:
          type: array
          items:
            $ref: '#/components/schemas/TournamentObjective'
          maxItems: 10
          description: Tournament objectives to complete
        region:
          type: string
          maxLength: 50
          description: Geographic region for the tournament
          example: North America
        entry_fee:
          type: integer
          minimum: 0
          description: Entry fee in game currency
          example: 1000
        prize_pool:
          type: integer
          minimum: 0
          description: Total prize pool in game currency
          example: 50000
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Hot path optimization required.'
    CreateTournamentRequest:
      type: object
      required:
      - name
      - game_mode
      - tournament_type
      - start_date
      - end_date
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Tournament display name
          example: Winter Championship 2025
        description:
          type: string
          maxLength: 1000
          description: Tournament description
          example: A competitive tournament featuring the best players in elimination
            matches with cash prizes.
        game_mode:
          type: string
          enum:
          - elimination
          - round-robin
          - swiss-system
          - single-elimination
          - double-elimination
          description: Tournament game mode format
          example: single-elimination
        tournament_type:
          type: string
          enum:
          - ranked
          - casual
          - championship
          - seasonal
          - special-event
          description: Type of tournament
          example: championship
        tournament_difficulty:
          type: string
          enum:
          - beginner
          - intermediate
          - advanced
          - expert
          - master
          description: Tournament difficulty level
          example: expert
        max_participants:
          type: integer
          minimum: 2
          maximum: 1000
          description: Maximum number of participants
          example: 128
        start_date:
          type: string
          format: date-time
          description: Tournament start date and time
          example: '2025-12-25T18:00:00Z'
        end_date:
          type: string
          format: date-time
          description: Tournament end date and time
          example: '2025-12-27T22:00:00Z'
        region:
          type: string
          maxLength: 50
          description: Geographic region for the tournament
          example: North America
        entry_fee:
          type: integer
          minimum: 0
          description: Entry fee in game currency
          example: 1000
        prize_pool:
          type: integer
          minimum: 0
          description: Total prize pool in game currency
          example: 50000
        objectives:
          type: array
          items:
            $ref: '#/components/schemas/TournamentObjective'
          maxItems: 10
          description: Tournament objectives to complete
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    TournamentStatus:
      type: string
      enum:
      - upcoming
      - registration_open
      - registration_closed
      - in_progress
      - completed
      - cancelled
      description: Current tournament status
      example: registration_open
    TournamentReward:
      type: object
      properties:
        currency_amount:
          type: integer
          minimum: 0
          description: Reward amount in game currency
          example: 10000
        items:
          type: array
          items:
            type: string
            maxLength: 100
          maxItems: 5
          description: List of reward items
          example:
          - Legendary Sword
          - Gold Trophy
        experience_points:
          type: integer
          minimum: 0
          description: Experience points reward
          example: 5000
        title:
          type: string
          maxLength: 100
          description: Tournament title/achievement
          example: Winter Champion
      description: Tournament completion rewards
    TournamentObjective:
      type: object
      required:
      - type
      - description
      properties:
        type:
          type: string
          enum:
          - win_matches
          - score_points
          - survive_rounds
          - complete_challenges
          description: Type of tournament objective
          example: win_matches
        description:
          type: string
          maxLength: 200
          description: Objective description
          example: Win 5 consecutive matches
        target_value:
          type: integer
          minimum: 1
          description: Target value to achieve
          example: 5
        current_value:
          type: integer
          minimum: 0
          default: 0
          description: Current progress value
          example: 2
      description: Individual tournament objective
    TournamentParticipant:
      type: object
      required:
      - tournament_id
      - player_id
      - registered_at
      properties:
        id:
          type: string
          format: uuid
          description: Participant unique identifier
          example: 550e8400-e29b-41d4-a716-446655440001
        tournament_id:
          type: string
          format: uuid
          description: Associated tournament ID
          example: 550e8400-e29b-41d4-a716-446655440000
        player_id:
          type: string
          format: uuid
          description: Player unique identifier
          example: 550e8400-e29b-41d4-a716-446655440002
        registered_at:
          type: string
          format: date-time
          description: Registration timestamp
          example: '2025-12-20T15:30:00Z'
        status:
          type: string
          enum:
          - registered
          - active
          - eliminated
          - disqualified
          - winner
          default: registered
          description: Participation status
          example: active
        seed:
          type: integer
          minimum: 1
          description: Tournament seeding position
          example: 1
        bracket_position:
          type: string
          maxLength: 50
          description: Current bracket position
          example: Quarterfinal A
      description: Tournament participant information
    TournamentScore:
      type: object
      required:
      - participant_id
      - match_id
      - score
      - recorded_at
      properties:
        id:
          type: string
          format: uuid
          description: Score record unique identifier
          example: 550e8400-e29b-41d4-a716-446655440003
        participant_id:
          type: string
          format: uuid
          description: Associated participant ID
          example: 550e8400-e29b-41d4-a716-446655440001
        match_id:
          type: string
          format: uuid
          description: Associated match ID
          example: 550e8400-e29b-41d4-a716-446655440004
        score:
          type: integer
          minimum: 0
          description: Points scored in the match
          example: 1500
        rank:
          type: integer
          minimum: 1
          description: Final rank in the match
          example: 1
        recorded_at:
          type: string
          format: date-time
          description: Score recording timestamp
          example: '2025-12-25T19:30:00Z'
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Additional match statistics
          example:
            kills: '25'
            deaths: '3'
            assists: '12'
      description: Tournament match score record
    UpdateTournamentRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Updated tournament name
          example: Updated Winter Championship 2025
        description:
          type: string
          maxLength: 1000
          description: Updated tournament description
          example: Updated tournament description with new prizes
        tournament_difficulty:
          type: string
          enum:
          - beginner
          - intermediate
          - advanced
          - expert
          - master
          description: Updated tournament difficulty level
          example: master
        max_participants:
          type: integer
          minimum: 2
          maximum: 1000
          description: Updated maximum participants
          example: 256
        start_date:
          type: string
          format: date-time
          description: Updated start date and time
[...]
