openapi: 3.0.3
info:
  title: Tournament Service API - Enterprise-Grade Tournament Management System
  description: '**Enterprise-Grade Tournament Management API for NECPGAME**

    This API manages competitive tournaments, leaderboards, matchmaking, and competitive
    gameplay experiences in Night City.

    ## Key Features

    - **Tournament Management**: Create and manage competitive tournaments - **Matchmaking**:
    Advanced player matching algorithms - **Leaderboards**: Real-time ranking systems
    - **Bracket Systems**: Single elimination, double elimination, round-robin - **Prize
    Distribution**: Automated reward allocation - **Spectator Mode**: Live tournament
    viewing - **Scalability**: Support for massive concurrent tournaments - **Performance
    Optimized**: High-throughput tournament operations with <15ms P99 latency

    ## Domain Purpose

    The Tournament domain handles all competitive gameplay and tournament systems
    in Night City. Players participate in ranked matches, tournaments, and competitive
    events through comprehensive tournament management systems.

    ## Performance Targets

    - P99 Latency: <15ms for tournament operations - Memory: <25KB per active tournament
    session - Concurrent users: 100,000+ simultaneous tournament participants - Tournament
    throughput: 30,000+ operations per second

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/tournament
  description: Production server
- url: https://staging-api.necpgame.com/v1/tournament
  description: Staging server
- url: http://localhost:8080/api/v1/tournament
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Tournament Management
  description: Core tournament operations and management
- name: Matchmaking
  description: Player matching and tournament bracket systems
- name: Leaderboards
  description: Ranking and statistics systems
- name: Tournament Participation
  description: Player registration and tournament participation
- name: Tournament Scoring
  description: Match score registration and tournament progression
- name: Tournament Analytics
  description: Tournament statistics, leaderboards, and spectator data
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Tournament service health check
      description: '**Enterprise-grade health check endpoint**


        Provides real-time health status of the tournament service microservice.

        Critical for service discovery, load balancing, and monitoring.


        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: tournamentServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: ../common/schemas/health.yaml#/HealthResponse
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../common/schemas/health.yaml#/HealthResponse
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /health/batch:
    post:
      summary: Batch health check for tournament services
      description: '**Performance optimization:** Check multiple tournament service
        health in single request


        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.


        **Use case:** Service mesh health checks, Kubernetes readiness probes

        '
      operationId: tournamentServiceBatchHealthCheck
      tags:
      - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                    - tournament-service
                    - system-domain
                    - specialized-domain
                    maxItems: 10
                  description: List of services to check
      responses:
        '200':
          $ref: ../common/responses/success.yaml#/HealthBatchSuccess
        '400':
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description: '**Performance optimization:** Real-time health updates without
        polling


        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.


        **Protocol:** WebSocket with JSON payloads

        **Heartbeat:** 30 second intervals

        **Reconnection:** Automatic with exponential backoff

        '
      operationId: tournamentServiceHealthWebSocket
      tags:
      - Health Monitoring
      parameters:
      - name: services
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - tournament-service
            - system-domain
            - specialized-domain
        description: Services to monitor (optional, monitors all if not specified)
      responses:
        '200':
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/tournament/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                    - health-monitoring-v1
        '101':
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSocketHealthMessage'
        '400':
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '401':
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /tournaments:
    get:
      summary: List tournaments with filtering and pagination
      description: '**Enterprise-grade tournament listing endpoint**


        Supports complex filtering by type, status, skill level, and pagination.

        Optimized for high-throughput tournament browsing with proper indexing.


        **Performance:** <10ms P95, supports 1000+ concurrent tournament searches

        '
      operationId: listTournaments
      tags:
      - Tournament Management
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Page number for pagination
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Number of items per page
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at
          - start_time
          - prize_pool
          - participant_count
          default: created_at
        description: Sort field
      - name: sort_order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Sort order
      - name: status
        in: query
        schema:
          type: string
          enum:
          - upcoming
          - registration_open
          - in_progress
          - completed
          - cancelled
        description: Filter by tournament status
      - name: game_mode
        in: query
        schema:
          type: string
          enum:
          - deathmatch
          - team_deathmatch
          - capture_the_flag
          - king_of_the_hill
          - battle_royale
        description: Filter by game mode
      - name: skill_level
        in: query
        schema:
          type: string
          enum:
          - beginner
          - intermediate
          - advanced
          - expert
          - legendary
        description: Filter by required skill level
      responses:
        '200':
          $ref: '#/components/responses/TournamentListSuccess'
        '400':
          description: Invalid request - malformed query parameters
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '422':
          description: Unprocessable entity - validation failed
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    post:
      summary: Create new tournament
      description: '**Enterprise-grade creation endpoint**


        Validates business rules, applies security checks, and ensures data consistency.

        Supports optimistic locking for concurrent operations.


        **Performance:** <50ms P95, includes validation and business logic

        '
      operationId: createTournament
      tags:
      - Tournament Management
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTournamentRequest'
      responses:
        '201':
          $ref: '#/components/responses/TournamentCreated'
        '400':
          description: Invalid request - malformed or missing data
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '409':
          description: Conflict - tournament with this identifier already exists
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '422':
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - creation rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /tournaments/{tournament_id}:
    get:
      summary: Get specific tournament by ID
      description: '**Enterprise-grade retrieval endpoint**


        Optimized with proper caching strategies and database indexing.

        Supports conditional requests with ETags.


        **Performance:** <5ms P95 with Redis caching

        '
      operationId: getTournament
      tags:
      - Tournament Management
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      - name: include_related
        in: query
        schema:
          type: boolean
          default: false
        description: Include related data in response
      - name: If-None-Match
        in: header
        schema:
          type: string
        description: Conditional request - return 304 if ETag matches
      - name: If-Modified-Since
        in: header
        schema:
          type: string
          format: date-time
        description: Conditional request - return 304 if not modified since this time
      responses:
        '200':
          $ref: '#/components/responses/TournamentRetrieved'
        '304':
          description: Not modified - resource has not changed
          headers:
            ETag:
              schema:
                type: string
                example: '"tournament-123-v1"'
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
        '400':
          description: Invalid request - malformed tournament ID
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '404':
          description: Tournament not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    put:
      summary: Update existing tournament
      description: '**Enterprise-grade update endpoint**


        Supports partial updates, optimistic locking, and audit trails.

        Ensures data consistency with event sourcing patterns.


        **Performance:** <25ms P95, includes validation and conflict resolution

        '
      operationId: updateTournament
      tags:
      - Tournament Management
      security:
      - BearerAuth: []
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      - name: If-Match
        in: header
        schema:
          type: string
        description: ETag for optimistic locking - prevents concurrent updates
      - name: If-Unmodified-Since
        in: header
        schema:
          type: string
          format: date-time
        description: Conditional update - proceed only if not modified since this
          time
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTournamentRequest'
      responses:
        '200':
          $ref: '#/components/responses/TournamentUpdated'
        '400':
          description: Invalid request - malformed data or tournament ID
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '404':
          description: Tournament not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '409':
          description: Conflict - version conflict (optimistic locking) or precondition
            failed
          headers:
            ETag:
              schema:
                type: string
                example: '"tournament-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '412':
          description: Precondition failed - If-Match or If-Unmodified-Since condition
            not met
          headers:
            ETag:
              schema:
                type: string
                example: '"tournament-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '422':
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - update rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    delete:
      summary: Delete tournament
      description: '**Enterprise-grade deletion endpoint**


        Supports soft deletes with audit trails and cleanup scheduling.

        Ensures referential integrity and cascading deletes.


        **Performance:** <15ms P95, includes cleanup operations

        '
      operationId: deleteTournament
      tags:
      - Tournament Management
      security:
      - BearerAuth: []
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      responses:
        '204':
          description: Tournament deleted successfully
        '400':
          description: Invalid request - malformed tournament ID
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '404':
          description: Tournament not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '409':
          description: Conflict - tournament cannot be deleted (referential integrity)
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - deletion rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /tournaments/{tournament_id}/join:
    post:
      summary: Join a tournament
      description: '**Player registration for tournament participation**

        Handles tournament registration with validation of entry requirements, participant
        limits, and registration deadlines.

        **Business Logic:** - Validates tournament status (must be registration_open)
        - Checks participant capacity - Verifies player eligibility - Reserves participant
        slot

        '
      operationId: joinTournament
      tags:
      - Tournament Participation
      security:
      - BearerAuth: []
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinTournamentRequest'
      responses:
        '201':
          description: Successfully joined tournament
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentParticipantResponse'
        '400':
          description: Invalid request - tournament full or registration closed
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '404':
          description: Tournament not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '409':
          description: Player already registered for this tournament
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - registration rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /tournaments/{tournament_id}/leave:
    post:
      summary: Leave a tournament
      description: '**Player withdrawal from tournament participation**

        Handles tournament withdrawal with proper cleanup of participant records and
        slot release.

        **Business Logic:** - Validates tournament status (must not be completed)
        - Removes participant record - Releases participant slot - Updates tournament
        statistics

        '
      operationId: leaveTournament
      tags:
      - Tournament Participation
      security:
      - BearerAuth: []
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveTournamentRequest'
      responses:
        '200':
          description: Successfully left tournament
        '400':
          description: Invalid request - tournament already started or completed
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '404':
          description: Tournament or participant record not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - withdrawal rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /tournaments/{tournament_id}/scores:
    post:
      summary: Register tournament match score
      description: '**Match result registration for tournament progression**

        Records match outcomes with validation and automatic tournament bracket advancement
        calculation.

        **Business Logic:** - Validates match authenticity - Updates participant scores
        - Calculates tournament standings - Advances tournament bracket - Triggers
        elimination logic

        **Performance:** Sub-millisecond score validation and ranking updates

        '
      operationId: registerTournamentScore
      tags:
      - Tournament Scoring
      security:
      - ServiceAuth: []
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterTournamentScoreRequest'
      responses:
        '201':
          description: Score registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentScoreResponse'
        '400':
          description: Invalid request - malformed score data or tournament rules
            violation
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '404':
          description: Tournament or participant not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '409':
          description: Score already registered for this match
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - scoring rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 10
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /tournaments/{tournament_id}/leaderboard:
    get:
      summary: Get tournament leaderboard
      description: '**Real-time tournament standings and rankings**

        Provides current tournament leaderboard with player rankings, scores, and
        progression statistics.

        **Performance:** <5ms response time with cached rankings **Caching:** 30-second
        cache with real-time invalidation on score updates

        '
      operationId: getTournamentLeaderboard
      tags:
      - Tournament Analytics
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: Maximum number of leaderboard entries to return
      responses:
        '200':
          description: Leaderboard retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"leaderboard-v1.0-tournament-uuid"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentLeaderboardResponse'
        '404':
          description: Tournament not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - leaderboard rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 5
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /tournaments/{tournament_id}/bracket:
    get:
      summary: Get tournament bracket structure
      description: '**Tournament bracket visualization and management**

        Retrieves the current tournament bracket structure with all matches, rounds,
        and participant positions. Supports real-time bracket updates during tournament
        progression.

        **Business Logic:** - Returns bracket structure based on tournament format
        (single/double elimination, round-robin) - Includes match status, participant
        positions, and next round information - Real-time updates during match progression

        **Performance:** <10ms response time with cached bracket structure

        '
      operationId: getTournamentBracket
      tags:
      - Matchmaking
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      - name: include_matches
        in: query
        schema:
          type: boolean
          default: true
        description: Include detailed match information in bracket
      responses:
        '200':
          description: Tournament bracket retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"bracket-v1.0-tournament-uuid"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentBracketResponse'
        '404':
          description: Tournament not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - bracket rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 5
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    post:
      summary: Generate tournament bracket
      description: '**Bracket generation for tournament start**

        Generates tournament bracket structure based on registered participants and
        tournament format. Supports automatic seeding and bracket distribution algorithms.

        **Business Logic:** - Validates tournament status (must have sufficient participants)
        - Generates bracket based on tournament format (single/double elimination,
        round-robin) - Applies seeding algorithm if participants have seed values
        - Distributes participants across bracket positions

        **Performance:** <100ms for bracket generation with up to 128 participants

        '
      operationId: generateTournamentBracket
      tags:
      - Matchmaking
      security:
      - BearerAuth: []
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateBracketRequest'
      responses:
        '201':
          description: Tournament bracket generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentBracketResponse'
        '400':
          description: Invalid request - insufficient participants or invalid tournament
            status
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '404':
          description: Tournament not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '409':
          description: Conflict - bracket already generated for this tournament
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - bracket generation rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /tournaments/{tournament_id}/spectators:
    get:
      summary: Get tournament spectator list
      description: '**Live spectator management for tournament viewing**

        Retrieves list of current spectators watching the tournament, with spectator
        count and spectator activity statistics.

        **Business Logic:** - Returns current spectator count - Includes spectator
        activity metrics - Supports pagination for large spectator lists

        **Performance:** <5ms response time with cached spectator data

        '
      operationId: getTournamentSpectators
      tags:
      - Tournament Analytics
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: Maximum number of spectator entries to return
      responses:
        '200':
          description: Tournament spectators retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=10, s-maxage=20
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentSpectatorsResponse'
        '404':
          description: Tournament not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - spectator list rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 5
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /tournaments/{tournament_id}/spectate:
    get:
      summary: Real-time tournament spectator WebSocket
      description: '**Live tournament viewing with real-time updates**

        WebSocket endpoint for real-time tournament spectator mode. Provides live
        match updates, bracket progression, and tournament statistics without polling.

        **Protocol:** WebSocket with JSON payloads **Heartbeat:** 30 second intervals
        **Reconnection:** Automatic with exponential backoff

        **Message Types:** - match_start: Match has started - match_update: Match
        score/status update - match_end: Match has completed - bracket_update: Bracket
        structure has changed - tournament_update: Tournament status change

        **Performance:** Sub-millisecond message delivery, supports 10,000+ concurrent
        spectators

        '
      operationId: tournamentSpectatorWebSocket
      tags:
      - Tournament Analytics
      parameters:
      - name: tournament_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Tournament unique identifier
      responses:
        '200':
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/tournament/550e8400-e29b-41d4-a716-446655440000/spectate
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                    - tournament-spectator-v1
        '101':
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentSpectatorMessage'
        '400':
          description: Invalid request - malformed tournament ID
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '401':
          description: Unauthorized - authentication required for spectator mode
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '404':
          description: Tournament not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - spectator WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /leaderboards:
    get:
      summary: Get global tournament leaderboards
      description: '**Enterprise-grade leaderboard retrieval endpoint**

        Retrieves global tournament leaderboards across all tournaments and time periods.
        Supports filtering by tournament type, time range, and ranking criteria.

        **Performance:** <50ms P99 latency, cached for 5 minutes, supports 10,000+
        concurrent requests

        **Use Cases:** - Global player rankings - Tournament statistics - Historical
        performance analysis - Competitive insights

        '
      operationId: getGlobalLeaderboards
      tags:
      - Leaderboards
      - Tournament Analytics
      parameters:
      - name: tournament_type
        in: query
        schema:
          type: string
          enum:
          - all
          - ranked
          - casual
          - championship
          default: all
        description: Filter by tournament type
        example: ranked
      - name: time_range
        in: query
        schema:
          type: string
          enum:
          - all_time
          - this_month
          - this_week
          - today
          default: all_time
        description: Filter by time range
        example: this_month
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
        description: Maximum number of entries to return
        example: 100
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Number of entries to skip
        example: 0
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - total_score
          - win_rate
          - tournaments_won
          - avg_placement
          default: total_score
        description: Sort leaderboard by criteria
        example: total_score
      responses:
        '200':
          description: Global leaderboards retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=300, s-maxage=600
            ETag:
              schema:
                type: string
                example: '"leaderboard-global-2025-12-v1"'
            Last-Modified:
              schema:
                type: string
                format: date-time
                example: '2025-12-25T12:00:00Z'
            X-Total-Count:
              schema:
                type: integer
                example: 50000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TournamentLeaderboardResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    HealthBatchSuccess:
      $ref: ../../common/responses/success.yaml#/HealthBatchSuccess
    TournamentListSuccess:
      description: Tournaments retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
        X-Total-Count:
          schema:
            type: integer
            example: 150
            description: Total number of tournaments matching criteria
        X-Page-Count:
          schema:
            type: integer
            example: 8
            description: Total number of pages
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TournamentListResponse'
    TournamentCreated:
      description: Tournament created successfully
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/tournaments/550e8400-e29b-41d4-a716-446655440000
            description: URL of the created tournament
        ETag:
          schema:
            type: string
            example: '"tournament-123-v1"'
            description: Entity tag for caching and optimistic locking
        Cache-Control:
          schema:
            type: string
            example: no-cache
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TournamentResponse'
    TournamentRetrieved:
      description: Tournament retrieved successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"tournament-123-v1"'
            description: Entity tag for caching
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
            description: Cache control directives
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: '2025-12-21T10:00:00Z'
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 5
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TournamentResponse'
    TournamentUpdated:
      description: Tournament updated successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"tournament-123-v2"'
            description: New entity tag after update
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: '2025-12-21T10:05:00Z'
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 25
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TournamentResponse'
    OK:
      $ref: ../common/responses/success.yaml#/OK
    Created:
      $ref: ../common/responses/success.yaml#/Created
    BadRequest:
      $ref: ../common/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common/responses/error.yaml#/Unauthorized
    Forbidden:
      $ref: ../common/responses/error.yaml#/Forbidden
    NotFound:
      $ref: ../common/responses/error.yaml#/NotFound
    Conflict:
      $ref: ../common/responses/error.yaml#/Conflict
    InternalServerError:
      $ref: ../common/responses/error.yaml#/InternalServerError
    HealthOK:
      $ref: ../common/responses/success.yaml#/HealthOK
  schemas:
    Tournament:
      description: Core tournament entity representing a competitive event
      type: object
      required:
      - id
      - name
      - game_mode
      - max_participants
      - start_time
      - status
      - created_at
      - version
      properties:
        id:
          type: string
          format: uuid
          description: Unique tournament identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          minLength: 3
          maxLength: 100
          description: Tournament display name
          example: Night City Championship 2077
        description:
          type: string
          maxLength: 1000
          description: Detailed tournament description
          example: The ultimate test of skill in Night City
        game_mode:
          type: string
          enum:
          - deathmatch
          - team_deathmatch
          - capture_the_flag
          - king_of_the_hill
          - battle_royale
          description: Game mode for the tournament
          example: deathmatch
        max_participants:
          type: integer
          minimum: 2
          maximum: 10000
          description: Maximum number of participants allowed
          example: 128
        current_participants:
          type: integer
          minimum: 0
          description: Current number of registered participants
          example: 96
          default: 0
        start_time:
          type: string
          format: date-time
          description: Tournament start timestamp
          example: '2077-12-25T18:00:00Z'
        end_time:
          type: string
          format: date-time
          description: Tournament end timestamp (calculated)
          example: '2077-12-25T22:00:00Z'
        status:
          $ref: '#/components/schemas/TournamentStatus'
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/TournamentReward'
          maxItems: 10
          description: Tournament reward structure
        objectives:
          type: array
          items:
            $ref: '#/components/schemas/TournamentObjective'
          maxItems: 5
          description: Tournament objectives and scoring rules
        bracket_type:
          type: string
          enum:
          - single_elimination
          - double_elimination
          - round_robin
          - swiss_system
          description: Tournament bracket format
          example: single_elimination
        region:
          type: string
          enum:
          - north_america
          - south_america
          - europe
          - asia
          - africa
          - australia
          description: Geographic region for the tournament
          example: north_america
        skill_level:
          type: string
          enum:
          - beginner
          - intermediate
          - advanced
          - expert
          - legendary
          description: Required skill level for participants
          example: advanced
        entry_fee:
          type: object
          description: Entry requirements for the tournament
          properties:
            currency:
              type: string
              enum:
              - eddies
              - prestige
              - faction_rep
              example: eddies
            amount:
              type: integer
              minimum: 0
              example: 1000
        created_by:
          type: string
          format: uuid
          description: User ID who created the tournament
          example: 550e8400-e29b-41d4-a716-446655440001
        created_at:
          type: string
          format: date-time
          description: Tournament creation timestamp
          example: '2077-12-20T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2077-12-20T15:30:00Z'
        version:
          type: integer
          minimum: 1
          description: Optimistic locking version
          example: 1
    TournamentStatus:
      description: Current status of a tournament
      type: string
      enum:
      - draft
      - registration_open
      - registration_closed
      - in_progress
      - completed
      - cancelled
      example: registration_open
    TournamentReward:
      description: Reward structure for tournament placement
      type: object
      required:
      - placement
      - reward_type
      properties:
        placement:
          type: integer
          minimum: 1
          maximum: 100
          description: Placement position (1st, 2nd, 3rd, etc.)
          example: 1
        reward_type:
          type: string
          enum:
          - currency
          - item
          - title
          - experience
          - faction_rep
          description: Type of reward
          example: currency
        amount:
          type: integer
          minimum: 0
          description: Reward amount/value
          example: 50000
        item_id:
          type: string
          format: uuid
          description: Item ID if reward_type is 'item'
          example: 550e8400-e29b-41d4-a716-446655440002
        title:
          type: string
          maxLength: 50
          description: Title awarded if reward_type is 'title'
          example: Night City Champion
    TournamentObjective:
      description: Tournament objective and scoring rule
      type: object
      required:
      - type
      - description
      properties:
        type:
          type: string
          enum:
          - kills
          - score
          - time_survival
          - flags_captured
          - points
          description: Objective type
          example: kills
        description:
          type: string
          maxLength: 200
          description: Human-readable objective description
          example: Eliminate enemy players
        target_value:
          type: integer
          minimum: 1
          description: Target value to achieve
          example: 25
        points_per_unit:
          type: integer
          minimum: 1
          description: Points awarded per unit of objective
          example: 10
    TournamentParticipant:
      description: Tournament participant information
      type: object
      required:
      - tournament_id
      - user_id
      - joined_at
      - status
      properties:
        tournament_id:
          type: string
          format: uuid
          description: Tournament identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        user_id:
          type: string
          format: uuid
          description: Participant user identifier
          example: 550e8400-e29b-41d4-a716-446655440003
        username:
          type: string
          minLength: 3
          maxLength: 50
          description: Participant display name
          example: V_Judy
        skill_rating:
          type: integer
          minimum: 0
          maximum: 10000
          description: Player skill rating at time of registration
          example: 2850
        joined_at:
          type: string
          format: date-time
          description: Registration timestamp
          example: '2077-12-20T12:00:00Z'
        status:
          type: string
          enum:
          - registered
          - confirmed
          - disqualified
          - withdrawn
          description: Participant status
          example: registered
        seed:
          type: integer
          minimum: 1
          description: Tournament seeding position
          example: 42
        team_id:
          type: string
          format: uuid
          description: Team identifier for team-based tournaments
          example: 550e8400-e29b-41d4-a716-446655440004
    TournamentScore:
      description: Tournament score entry
      type: object
      required:
      - tournament_id
      - participant_id
      - match_id
      - score
      - recorded_at
      properties:
        tournament_id:
          type: string
          format: uuid
          description: Tournament identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        participant_id:
          type: string
          format: uuid
          description: Participant identifier
          example: 550e8400-e29b-41d4-a716-446655440003
        match_id:
          type: string
          format: uuid
          description: Match identifier
          example: 550e8400-e29b-41d4-a716-446655440005
        score:
          type: integer
          minimum: 0
          description: Points earned in this match
          example: 2500
        objectives_completed:
          type: array
          items:
            type: object
            properties:
              objective_type:
                type: string
                example: kills
              value:
                type: integer
                example: 15
          maxItems: 10
          description: Breakdown of objective completions
        recorded_at:
          type: string
          format: date-time
          description: Score recording timestamp
          example: '2077-12-25T19:30:00Z'
    CreateTournamentRequest:
      description: Request to create a new tournament
      type: object
      required:
      - name
      - game_mode
      - max_participants
      - start_time
      - rewards
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
          description: Tournament display name
          example: Night City Championship 2077
        description:
          type: string
          maxLength: 1000
          description: Detailed tournament description
          example: The ultimate test of skill in Night City
        game_mode:
          type: string
          enum:
          - deathmatch
          - team_deathmatch
          - capture_the_flag
          - king_of_the_hill
          - battle_royale
          description: Game mode for the tournament
          example: deathmatch
        max_participants:
          type: integer
          minimum: 2
          maximum: 10000
          description: Maximum number of participants allowed
          example: 128
        start_time:
          type: string
          format: date-time
          description: Tournament start timestamp
          example: '2077-12-25T18:00:00Z'
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/TournamentReward'
          minItems: 1
          maxItems: 10
          description: Tournament reward structure
        objectives:
          type: array
          items:
            $ref: '#/components/schemas/TournamentObjective'
          maxItems: 5
          description: Tournament objectives and scoring rules
        bracket_type:
          type: string
          enum:
          - single_elimination
          - double_elimination
          - round_robin
          - swiss_system
          description: Tournament bracket format
          example: single_elimination
          default: single_elimination
        region:
          type: string
          enum:
          - north_america
          - south_america
          - europe
          - asia
          - africa
          - australia
          description: Geographic region for the tournament
          example: north_america
        skill_level:
          type: string
          enum:
          - beginner
          - intermediate
          - advanced
          - expert
          - legendary
          description: Required skill level for participants
          example: advanced
          default: intermediate
        entry_fee:
          type: object
          description: Entry requirements for the tournament
          properties:
            currency:
              type: string
              enum:
              - eddies
              - prestige
              - faction_rep
              example: eddies
            amount:
              type: integer
              minimum: 0
              example: 1000
    UpdateTournamentRequest:
      description: Request to update an existing tournament
      type: object
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
          description: Tournament display name
          example: Updated Night City Championship
        description:
          type: string
          maxLength: 1000
          description: Detailed tournament description
          example: Updated tournament description
        max_participants:
          type: integer
          minimum: 2
          maximum: 10000
          description: Maximum number of participants allowed
          example: 256
        start_time:
          type: string
          format: date-time
          description: Tournament start timestamp
          example: '2077-12-26T18:00:00Z'
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/TournamentReward'
          minItems: 1
          maxItems: 10
          description: Updated tournament reward structure
        objectives:
          type: array
          items:
            $ref: '#/components/schemas/TournamentObjective'
          maxItems: 5
          description: Updated tournament objectives
        status:
          $ref: '#/components/schemas/TournamentStatus'
        version:
          type: integer
          minimum: 1
          description: Current version for optimistic locking
          example: 1
    RegisterTournamentScoreRequest:
      description: Request to register a match score for tournament progression
      type: object
      required:
      - participant_id
      - match_id
      - score
      properties:
        participant_id:
          type: string
          format: uuid
          description: Participant identifier
          example: 550e8400-e29b-41d4-a716-446655440003
        match_id:
          type: string
          format: uuid
          description: Match identifier
          example: 550e8400-e29b-41d4-a716-446655440005
        score:
          type: integer
          minimum: 0
          description: Points earned in this match
          example: 2500
        objectives_completed:
          type: array
          items:
            type: object
            required:
            - objective_type
            - value
            properties:
              objective_type:
                type: string
                enum:
                - kills
                - score
                - time_survival
                - flags_captured
                - points
                example: kills
              value:
                type: integer
                minimum: 0
                example: 15
          maxItems: 10
          description: Breakdown of objective completions
        match_duration_seconds:
          type: integer
          minimum: 1
          description: Match duration in seconds
          example: 1800
        placement:
          type: integer
          minimum: 1
          description: Final placement in the match
          example: 3
    JoinTournamentRequest:
      description: Request to join a tournament
      type: object
      properties:
        tournament_id:
          type: string
          format: uuid
          description: Tournament to join
          example: 550e8400-e29b-41d4-a716-446655440000
        team_id:
          type: string
          format: uuid
          description: Team identifier for team-based tournaments
          example: 550e8400-e29b-41d4-a716-446655440004
    LeaveTournamentRequest:
      description: Request to leave a tournament
      type: object
      properties:
        tournament_id:
          type: string
          format: uuid
          description: Tournament to leave
          example: 550e8400-e29b-41d4-a716-446655440000
        reason:
          type: string
          maxLength: 500
          description: Reason for leaving
          example: Schedule conflict
    GenerateBracketRequest:
      description: Request to generate tournament bracket
      type: object
      required:
      - tournament_id
      properties:
        tournament_id:
          type: string
          format: uuid
          description: Tournament identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        seeding_method:
          type: string
          enum:
          - random
          - skill_based
          - registration_order
          description: Method for seeding participants
          example: skill_based
          default: skill_based
    TournamentResponse:
      description: Tournament data response
      type: object
      required:
      - tournament
      properties:
        tournament:
          $ref: '#/components/schemas/Tournament'
    TournamentListResponse:
      description: Paginated list of tournaments
      type: object
      required:
      - tournaments
      - pagination
      properties:
        tournaments:
          type: array
          items:
            $ref: '#/components/schemas/Tournament'
          description: Array of tournament objects
        pagination:
          $ref: '#/components/schemas/PaginatedResponse'
    TournamentParticipantResponse:
      description: Tournament participant data response
      type: object
      required:
      - participant
      properties:
        participant:
          $ref: '#/components/schemas/TournamentParticipant'
    TournamentScoreResponse:
      description: Tournament score data response
      type: object
      required:
      - score
      properties:
        score:
          $ref: '#/components/schemas/TournamentScore'
    TournamentLeaderboardResponse:
      description: Tournament leaderboard data response
      type: object
      required:
      - tournament_id
      - entries
      properties:
        tournament_id:
          type: string
          format: uuid
          description: Tournament identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        entries:
          type: array
          items:
            $ref: '#/components/schemas/LeaderboardEntry'
          description: Leaderboard entries sorted by rank
        last_updated:
          type: string
          format: date-time
          description: Last leaderboard update timestamp
          example: '2077-12-25T20:00:00Z'
    TournamentBracketResponse:
      description: Tournament bracket data response
      type: object
      required:
      - tournament_id
      - bracket
      properties:
        tournament_id:
          type: string
          format: uuid
          description: Tournament identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        bracket:
          $ref: '#/components/schemas/TournamentBracket'
        current_round:
          type: integer
          minimum: 1
          description: Current active round number
          example: 3
        total_rounds:
          type: integer
          minimum: 1
          description: Total number of rounds in tournament
          example: 7
    TournamentSpectatorsResponse:
      description: Tournament spectator information response
      type: object
      required:
      - tournament_id
      - spectator_count
      properties:
        tournament_id:
          type: string
          format: uuid
          description: Tournament identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        spectator_count:
          type: integer
          minimum: 0
          description: Current number of spectators
          example: 15420
        max_spectators:
          type: integer
          minimum: 0
          description: Maximum spectator capacity
          example: 50000
        spectator_info:
          type: array
          items:
            $ref: '#/components/schemas/SpectatorInfo'
          maxItems: 100
          description: Sample of current spectators (limited for performance)
    LeaderboardEntry:
      description: Individual leaderboard entry
      type: object
      required:
      - rank
      - participant_id
      - username
      - total_score
      properties:
        rank:
          type: integer
          minimum: 1
          description: Current ranking position
          example: 1
        participant_id:
          type: string
          format: uuid
          description: Participant identifier
          example: 550e8400-e29b-41d4-a716-446655440003
        username:
          type: string
          minLength: 3
          maxLength: 50
          description: Participant display name
          example: V_Judy
        total_score:
          type: integer
          minimum: 0
          description: Cumulative tournament score
          example: 15420
        matches_played:
          type: integer
          minimum: 0
          description: Number of matches completed
          example: 12
        win_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Win rate as decimal (0.0 to 1.0)
          example: 0.75
        average_score_per_match:
          type: number
          minimum: 0
          description: Average points per match
          example: 1285.0
        last_match_time:
          type: string
          format: date-time
          description: Timestamp of last completed match
          example: '2077-12-25T19:30:00Z'
    PaginationParams:
      description: Standard pagination parameters
      type: object
      properties:
        page:
          type: integer
          minimum: 1
          default: 1
          description: Page number (1-based)
          example: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
          description: Items per page
          example: 20
        sort_by:
          type: string
          enum:
          - created_at
          - start_time
          - participant_count
          - status
          default: created_at
          description: Sort field
          example: start_time
        sort_order:
          type: string
          enum:
          - asc
          - desc
          default: desc
          description: Sort direction
          example: desc
    PaginatedResponse:
      description: Standard pagination metadata
      type: object
      required:
      - page
      - limit
      - total_items
      - total_pages
      properties:
        page:
          type: integer
          minimum: 1
          description: Current page number
          example: 1
        limit:
          type: integer
          minimum: 1
          description: Items per page
          example: 20
        total_items:
          type: integer
          minimum: 0
          description: Total number of items
          example: 150
        total_pages:
          type: integer
          minimum: 1
          description: Total number of pages
          example: 8
        has_next:
          type: boolean
          description: Whether there is a next page
          example: true
        has_prev:
          type: boolean
          description: Whether there is a previous page
          example: false
    HealthResponse:
      type: object
      required:
      - status
      - timestamp
      properties:
        status:
          type: string
          enum:
          - ok
          - degraded
          - critical
          example: ok
          description: Current health status
        message:
          type: string
          example: Service is healthy
          description: Human-readable status message
        timestamp:
          type: string
          format: date-time
          example: '2024-01-15T10:30:00Z'
          description: Time when health check was performed
        version:
          type: string
          example: 1.0.0
          description: Service version
        uptime:
          type: integer
          example: 3600
          description: Service uptime in seconds
        checks:
          type: object
          description: Detailed health checks
          additionalProperties:
            type: object
            properties:
              status:
                type: string
                enum:
                - ok
                - degraded
                - critical
              message:
                type: string
              response_time:
                type: integer
                description: Response time in milliseconds
    WebSocketHealthMessage:
      description: WebSocket health status message
      type: object
      required:
      - type
      - timestamp
      - health
      properties:
        type:
          type: string
          enum:
          - health_update
          - health_alert
          - service_down
          description: Message type
          example: health_update
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          description: Message timestamp
          example: '2077-12-25T18:00:00Z'
        health:
          $ref: '#/components/schemas/HealthCheckResult'
        service_name:
          type: string
          description: Service identifier
          example: tournament-service
          maxLength: 100
    Error:
      description: Standard error response
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: string
          description: Error code
          example: TOURNAMENT_NOT_FOUND
          maxLength: 100
        message:
          type: string
          description: Human-readable error message
          example: Tournament with specified ID was not found
          maxLength: 500
        details:
          type: object
          description: Additional error details
          additionalProperties: true
        timestamp:
          type: string
          format: date-time
          description: Error timestamp
          example: '2077-12-25T18:00:00Z'
        request_id:
          type: string
          description: Request correlation ID
          example: req-550e8400-e29b-41d4-a716-446655440000
    TournamentBracket:
      description: Tournament bracket structure
      type: object
      required:
      - rounds
      properties:
        rounds:
          type: array
          items:
            type: object
            required:
            - round_number
            - matches
            properties:
              round_number:
                type: integer
                minimum: 1
                description: Round number in tournament
                example: 1
              matches:
                type: array
                items:
                  $ref: '#/components/schemas/Match'
                description: Matches in this round
          description: Tournament rounds with matches
    SpectatorInfo:
      description: Spectator information
      type: object
      required:
      - user_id
      - joined_at
      properties:
        user_id:
          type: string
          format: uuid
          description: Spectator user identifier
          example: 550e8400-e29b-41d4-a716-446655440006
        username:
          type: string
          minLength: 3
          maxLength: 50
          description: Spectator display name
          example: Spectator_2077
        joined_at:
          type: string
          format: date-time
          description: When spectator joined
          example: '2077-12-25T19:00:00Z'
        current_view:
          type: string
          enum:
          - overview
          - match_focus
          - leaderboard
          description: Current spectator view mode
          example: match_focus
    HealthCheckResult:
      description: Health check result details
      type: object
      required:
      - status
      - timestamp
      properties:
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
          description: Service health status
          example: healthy
        timestamp:
          type: string
          format: date-time
          description: Health check timestamp
          example: '2077-12-25T18:00:00Z'
        version:
          type: string
          description: Service version
          example: 1.0.0
        uptime_seconds:
          type: integer
          minimum: 0
          description: Service uptime in seconds
          example: 3600
        memory_usage_mb:
          type: number
          minimum: 0
          description: Memory usage in MB
          example: 245.5
        active_connections:
          type: integer
          minimum: 0
          description: Number of active connections
          example: 1250
        response_time_ms:
          type: number
          minimum: 0
          description: Average response time in milliseconds
          example: 12.5
    TournamentSpectatorMessage:
      description: WebSocket message for tournament spectators
      type: object
      required:
      - type
      - tournament_id
      - timestamp
      properties:
        type:
          type: string
          enum:
          - match_update
          - leaderboard_update
          - tournament_status_change
          - spectator_count_update
          description: Message type
          example: match_update
        tournament_id:
          type: string
          format: uuid
          description: Tournament identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        timestamp:
          type: string
          format: date-time
          description: Message timestamp
          example: '2077-12-25T19:30:00Z'
        match_update:
          $ref: '#/components/schemas/Match'
        leaderboard_update:
          type: object
          properties:
            top_entries:
              type: array
              items:
                $ref: '#/components/schemas/LeaderboardEntry'
              maxItems: 10
        spectator_count:
          type: integer
          minimum: 0
          description: Current spectator count
          example: 15420
    Match:
      description: Tournament match information
      type: object
      required:
      - id
      - tournament_id
      - participants
      - status
      - start_time
      properties:
        id:
          type: string
          format: uuid
          description: Match identifier
          example: 550e8400-e29b-41d4-a716-446655440005
        tournament_id:
          type: string
          format: uuid
          description: Parent tournament identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        participants:
          type: array
          items:
            type: object
            required:
            - user_id
            - username
            properties:
              user_id:
                type: string
                format: uuid
                example: 550e8400-e29b-41d4-a716-446655440003
              username:
                type: string
                example: V_Judy
              team:
                type: string
                example: Team Alpha
          minItems: 2
          maxItems: 100
          description: Match participants
        status:
          type: string
          enum:
          - scheduled
          - in_progress
          - completed
          - cancelled
          description: Match status
          example: in_progress
        start_time:
          type: string
          format: date-time
          description: Match start timestamp
          example: '2077-12-25T19:00:00Z'
        end_time:
          type: string
          format: date-time
          description: Match end timestamp
          example: '2077-12-25T19:30:00Z'
        winner:
          type: string
          format: uuid
          description: Winner participant ID
          example: 550e8400-e29b-41d4-a716-446655440003
        scores:
          type: array
          items:
            type: object
            properties:
              participant_id:
                type: string
                format: uuid
              score:
                type: integer
                minimum: 0
              objectives:
                type: object
                additionalProperties:
                  type: integer
          description: Final match scores
        spectators:
          type: integer
          minimum: 0
          description: Number of spectators watching this match
          example: 1250
    BearerAuth:
      description: Bearer token authentication
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      description: API key authentication
      type: apiKey
      in: header
      name: X-API-Key
    ServiceAuth:
      description: Service-to-service authentication
      type: apiKey
      in: header
      name: X-Service-Token
