openapi: 3.0.3
info:
  title: Tournament Service API - Enterprise-Grade Tournament Management System
  description: '**Enterprise-Grade Tournament Management API for NECPGAME**

    This API manages competitive tournaments, leaderboards, matchmaking, and
    competitive gameplay experiences in Night City.

    ## Key Features

    - **Tournament Management**: Create and manage competitive tournaments - **Matchmaking**:
    Advanced player matching algorithms - **Leaderboards**: Real-time ranking systems
    - **Bracket Systems**: Single elimination, double elimination, round-robin
    - **Prize Distribution**: Automated reward allocation - **Spectator Mode**: Live tournament viewing
    - **Scalability**: Support for massive concurrent tournaments - **Performance Optimized**:
    High-throughput tournament operations with <15ms P99 latency

    ## Domain Purpose

    The Tournament domain handles all competitive gameplay and tournament systems in Night City.
    Players participate in ranked matches, tournaments, and competitive events through
    comprehensive tournament management systems.

    ## Performance Targets

    - P99 Latency: <15ms for tournament operations - Memory: <25KB per active tournament session
    - Concurrent users: 100,000+ simultaneous tournament participants - Tournament throughput: 30,000+
    operations per second

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/tournament
  description: Production server
- url: https://staging-api.necpgame.com/v1/tournament
  description: Staging server
- url: http://localhost:8080/api/v1/tournament
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Tournament Management
  description: Core tournament operations and management
- name: Matchmaking
  description: Player matching and tournament bracket systems
- name: Leaderboards
  description: Ranking and statistics systems
- name: Tournament Participation
  description: Player registration and tournament participation
- name: Tournament Scoring
  description: Match score registration and tournament progression
- name: Tournament Analytics
  description: Tournament statistics, leaderboards, and spectator data
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  $ref: ./parts/paths.yaml#/paths
components:
  responses:
    $ref: ./parts/responses.yaml#/responses
  schemas:
    $ref: ./parts/schemas.yaml#/schemas