openapi: 3.0.3
info:
  title: Loot Tables API
  version: 1.0.0
  description: |
    API для системы лут-таблиц.
    
    Источник: .BRAIN/02-gameplay/economy/loot-tables.md v1.0.0
    
    Лут-таблицы для: квестов, событий, врагов, контейнеров
    Формулы вероятностей, редкость, модификаторы (уровень, зона, удача)

  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Loot Tables
    description: Система лута

paths:
  /gameplay/economy/loot-tables:
    get:
      summary: Получить лут-таблицы
      description: |
        Возвращает список лут-таблиц.
        Можно фильтровать по источнику (quest, enemy, container, event).
      operationId: getLootTables
      tags:
        - Loot Tables
      parameters:
        - name: source_type
          in: query
          required: false
          schema:
            type: string
            enum: [quest, enemy, container, event, boss]
        - name: tier
          in: query
          required: false
          schema:
            type: string
            enum: [t1, t2, t3, t4, t5]
      responses:
        '200':
          description: Лут-таблицы
          content:
            application/json:
              schema:
                type: object
                properties:
                  loot_tables:
                    type: array
                    items:
                      $ref: '#/components/schemas/LootTable'

  /gameplay/economy/loot-tables/{table_id}:
    get:
      summary: Получить детали лут-таблицы
      description: Возвращает детальную лут-таблицу с вероятностями
      operationId: getLootTable
      tags:
        - Loot Tables
      parameters:
        - name: table_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Детали таблицы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LootTableDetails'

  /gameplay/economy/loot-tables/generate:
    post:
      summary: Сгенерировать лут
      description: |
        Генерирует лут на основе таблицы и модификаторов.
        Учитывает: уровень источника, зону, удачу персонажа, модификаторы событий.
      operationId: generateLoot
      tags:
        - Loot Tables
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - source_type
                - source_id
              properties:
                source_type:
                  type: string
                  enum: [quest, enemy, container, event, boss]
                source_id:
                  type: string
                character_id:
                  type: string
                  description: Для учета удачи персонажа
                modifiers:
                  type: object
                  description: Дополнительные модификаторы
            examples:
              boss_loot:
                summary: Лут с босса
                value:
                  source_type: "boss"
                  source_id: "adam_smasher"
                  character_id: "char_123"
                  modifiers:
                    difficulty: 1.5
                    group_size: 4
      responses:
        '200':
          description: Лут сгенерирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedLoot'
              examples:
                boss_loot_result:
                  summary: Результат лута с босса
                  value:
                    items:
                      - item_id: "legendary_weapon_001"
                        rarity: "legendary"
                        quantity: 1
                      - item_id: "rare_implant_003"
                        rarity: "rare"
                        quantity: 2
                      - item_id: "eurodollar"
                        quantity: 50000
                    total_value: 125000
                    rarity_breakdown:
                      legendary: 1
                      rare: 2
                      common: 5

components:
  schemas:
    LootTable:
      type: object
      properties:
        table_id:
          type: string
        name:
          type: string
        source_type:
          type: string
        tier:
          type: string
        items_count:
          type: integer

    LootTableDetails:
      type: object
      properties:
        table_id:
          type: string
        name:
          type: string
        source_type:
          type: string
        tier:
          type: string
        items:
          type: array
          description: Возможные предметы в таблице
          items:
            type: object
            properties:
              item_id:
                type: string
              drop_chance:
                type: number
                description: Шанс выпадения (%)
              quantity_min:
                type: integer
              quantity_max:
                type: integer
              rarity:
                type: string
        modifiers:
          type: object
          description: Формулы модификаторов

    GeneratedLoot:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              item_id:
                type: string
              rarity:
                type: string
              quantity:
                type: integer
        total_value:
          type: number
        rarity_breakdown:
          type: object
          description: Количество предметов по редкости
