openapi: 3.0.3
info:
  title: Role Service API
  description: '**Enterprise-grade API for Role-Based Access Control**


    ## Domain Purpose

    Comprehensive role and permission management service providing fine-grained access
    control,

    hierarchical role structures, and security auditing for the NECPGAME platform.


    ## Business Value

    - Enterprise RBAC with role hierarchies

    - Fine-grained permission management

    - Dynamic permission evaluation

    - Security compliance and auditing

    - Scalable access control for millions of users


    ## Performance Targets

    - P99 Latency: <25ms for permission checks

    - Memory per Instance: <30KB baseline

    - Concurrent Permission Checks: 100,000+ per second

    - Redis Cache Hit Rate: >95% for permission queries


    ## Domain Inheritance

    This service inherits from infrastructure-entities.yaml providing:

    - Audit trails for security events

    - Configuration management for policies

    - User account references

    - Optimistic locking for concurrent operations

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/role-service
  description: Production environment
- url: https://staging-api.necpgame.com/v1/role-service
  description: Staging environment
- url: http://localhost:8080/api/v1/role-service
  description: Local development
security:
- BearerAuth: []
tags:
- name: Role Management
  description: Core role operations and lifecycle
- name: Permission Management
  description: Permission definition and validation
- name: Access Control
  description: User role assignments and access checks
- name: Security Auditing
  description: Role and permission audit trails
- name: Policy Management
  description: Security policies and compliance
- name: Health Monitoring
  description: Service health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /roles:
    $ref: ./paths/roles.yaml#/paths/~1roles
  /roles/{roleId}:
    $ref: ./paths/roles-{roleId}.yaml#/paths/~1roles~1{roleId}
  /roles/{roleId}/permissions:
    $ref: ./paths/roles-{roleId}-permissions.yaml#/paths/~1roles~1{roleId}~1permissions
  /permissions:
    $ref: ./paths/permissions.yaml#/paths/~1permissions
  /users/{userId}/roles:
    $ref: ./paths/users-{userId}-roles.yaml#/paths/~1users~1{userId}~1roles
  /permissions/check:
    $ref: ./paths/permissions-check.yaml#/paths/~1permissions~1check
  /audit/roles:
    $ref: ./paths/audit-roles.yaml#/paths/~1audit~1roles
components:
  schemas:
    Role:
      $ref: ./schemas/role-service-schemas.yaml#/components/schemas/Role
    RoleSummary:
      $ref: ./schemas/role-service-schemas.yaml#/components/schemas/RoleSummary
    Permission:
      $ref: ./schemas/role-service-schemas.yaml#/components/schemas/Permission
    PermissionSummary:
      $ref: ./schemas/role-service-schemas.yaml#/components/schemas/PermissionSummary
    UserRoleAssignment:
      $ref: ./schemas/role-service-schemas.yaml#/components/schemas/UserRoleAssignment
    RoleAuditEntry:
      $ref: ./schemas/role-service-schemas.yaml#/components/schemas/RoleAuditEntry
    CreateRoleRequest:
      $ref: ./schemas/role-service-schemas.yaml#/components/schemas/CreateRoleRequest
    UpdateRoleRequest:
      $ref: ./schemas/role-service-schemas.yaml#/components/schemas/UpdateRoleRequest
    UpdateRolePermissionsRequest:
      $ref: ./schemas/role-service-schemas.yaml#/components/schemas/UpdateRolePermissionsRequest
    CreatePermissionRequest:
      $ref: ./schemas/role-service-schemas.yaml#/components/schemas/CreatePermissionRequest
    AssignRoleRequest:
      $ref: ./schemas/role-service-schemas.yaml#/components/schemas/AssignRoleRequest
    PermissionCheckRequest:
      $ref: ./schemas/role-service-schemas.yaml#/components/schemas/PermissionCheckRequest
    PermissionCheckResult:
      $ref: ./schemas/role-service-schemas.yaml#/components/schemas/PermissionCheckResult
  responses:
    OK:
      $ref: ./schemas/role-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/role-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/role-service-responses.yaml#/components/responses/Updated
    Deleted:
      $ref: ./schemas/role-service-responses.yaml#/components/responses/Deleted
    BadRequest:
      $ref: ./schemas/role-service-responses.yaml#/components/responses/BadRequest
    NotFound:
      $ref: ./schemas/role-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/role-service-responses.yaml#/components/responses/Conflict
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
