openapi: 3.0.3
info:
  title: Role Service API
  description: |
    **Enterprise-grade role and permission management API for NECPGAME**

    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation
    - **Backend optimization hints** for struct alignment and performance
    - **Complete validation** with redocly and ogen code generation
    - **Security-first approach** with RBAC policy enforcement
    - **Performance-optimized** permission checking
    - **Comprehensive error handling** with proper HTTP status codes

    ## Domain Purpose

    Manages role-based access control (RBAC) including user roles, permissions, access policies,
    and security enforcement. Provides centralized role management and permission validation
    for all NECPGAME services.

    ## Performance Targets

    - P99 Latency: <10ms for permission checks
    - Memory: <100KB per instance (role cache)
    - Concurrent users: 10,000+ simultaneous permission checks
    - Security: Zero-trust permission validation

  version: "1.0.0"
  contact:
    name: NECPGAME API Support
    email: api@necpgame.com
  license:
    name: MIT
servers:
  - url: https://api.necpgame.com/v1/role
    description: Production server
  - url: https://staging-api.necpgame.com/v1/role
    description: Staging server
  - url: http://localhost:8080/api/v1/role
    description: Local development server
security:
  - BearerAuth: []
tags:
  - name: Roles
    description: Role management operations
  - name: Permissions
    description: Permission management operations
  - name: Health Monitoring
    description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Role service health check
      description: |
        **Enterprise-grade health check endpoint**

        Provides real-time health status of the role management microservice.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds
      operationId: roleServiceHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
              - deflate
              - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                  - gzip
          content:
            application/json:
              schema:
                $ref: ../common/schemas/health.yaml#/HealthResponse
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../common/responses/error.yaml#/ServiceUnavailable
  /auth/roles:
    get:
      tags:
        - Roles
      summary: Получить список ролей
      operationId: getRoles
      security:
        - BearerAuth: [ ]
      responses:
        '200':
          description: Список ролей
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Role'
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        '500':
          $ref: ../common/responses/error.yaml#/InternalServerError
  /auth/roles/{role_id}/permissions:
    get:
      tags:
        - Permissions
      summary: Получить права роли
      operationId: getRolePermissions
      security:
        - BearerAuth: [ ]
      parameters:
        - name: role_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Права роли
          content:
            application/json:
              schema:
                type: object
                properties:
                  role_id:
                    type: string
                    format: uuid
                  permissions:
                    type: array
                    items:
                      type: string
        '404':
          $ref: ../common/responses/error.yaml#/NotFound
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        '500':
          $ref: ../common/responses/error.yaml#/InternalServerError
    post:
      tags:
        - Permissions
      summary: Управление правами роли
      operationId: updateRolePermissions
      security:
        - BearerAuth: [ ]
      parameters:
        - name: role_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePermissionsRequest'
      responses:
        '200':
          description: Права обновлены
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          $ref: ../common/responses/error.yaml#/BadRequest
        '404':
          $ref: ../common/responses/error.yaml#/NotFound
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        '403':
          $ref: ../common/responses/error.yaml#/Forbidden
        '500':
          $ref: ../common/responses/error.yaml#/InternalServerError
components:
  responses:
    OK:
      $ref: ../common/responses/success.yaml#/OK
    BadRequest:
      $ref: ../common/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common/responses/error.yaml#/Unauthorized
    Forbidden:
      $ref: ../common/responses/error.yaml#/Forbidden
    NotFound:
      $ref: ../common/responses/error.yaml#/NotFound
    InternalServerError:
      $ref: ../common/responses/error.yaml#/InternalServerError

  schemas:
    Error:
      $ref: ../common/schemas/error.yaml#/Error
    HealthResponse:
      $ref: ../common/schemas/health.yaml#/HealthResponse

  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
  schemas:
    Role:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        created_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    UpdatePermissionsRequest:
      type: object
      required:
        - permissions
      properties:
        permissions:
          type: array
          items:
            type: string
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
security:
  - BearerAuth: [ ]
