openapi: 3.0.3
info:
  title: Hacking Service API
  description: '**Enterprise-grade API for Cyberpunk Hacking Mechanics**


    ## Domain Purpose

    Comprehensive cyberpunk hacking mechanics service providing ICE breaking, network
    navigation,

    data mining, and trace detection for the NECPGAME cyberpunk universe.


    ## Business Value

    - Real-time cyberpunk hacking simulation with authentic mechanics

    - Advanced ICE (Intrusion Countermeasures Electronics) systems

    - Dynamic network topology with evolving security

    - Performance-optimized trace detection and countermeasures

    - Enterprise-grade scalability for millions of concurrent hacking sessions


    ## Performance Targets

    - P99 Latency: <50ms for hacking operations

    - Throughput: 10,000+ hacking sessions per second

    - Concurrent Networks: 100,000+ active networks supported

    - Memory per Session: <10KB for hacking state storage


    ## Domain Inheritance

    This service inherits from game-entities.yaml providing:

    - Hacking session state tracking with optimistic locking

    - Network node entity management with versioning

    - ICE system integration with combat mechanics

    - Character hacking progression and ability tracking

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/hacking-service
  description: Production environment
- url: https://staging-api.necpgame.com/v1/hacking-service
  description: Staging environment
- url: http://localhost:8080/api/v1/hacking-service
  description: Local development
security:
- BearerAuth: []
tags:
- name: Hacking Sessions
  description: Core hacking session management and lifecycle
- name: ICE Systems
  description: Intrusion Countermeasures Electronics management
- name: Network Navigation
  description: Network topology and node navigation
- name: Data Operations
  description: Data mining, extraction, and manipulation
- name: Trace Detection
  description: Trace detection and countermeasures
- name: Minigames
  description: Hacking minigame mechanics and scoring
- name: Analytics & Balancing
  description: Hacking analytics and balance tools
- name: Health Monitoring
  description: Service health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /hacking/initiate:
    $ref: ./paths/hacking-initiate.yaml#/paths/~1hacking~1initiate
  /hacking/{sessionId}/navigate:
    $ref: ./paths/hacking-{sessionId}-navigate.yaml#/paths/~1hacking~1{sessionId}~1navigate
  /hacking/{sessionId}/ice/break:
    $ref: ./paths/hacking-{sessionId}-ice-break.yaml#/paths/~1hacking~1{sessionId}~1ice~1break
  /hacking/{sessionId}/data/extract:
    $ref: ./paths/hacking-{sessionId}-data-extract.yaml#/paths/~1hacking~1{sessionId}~1data~1extract
  /hacking/{sessionId}/traces/detect:
    $ref: ./paths/hacking-{sessionId}-traces-detect.yaml#/paths/~1hacking~1{sessionId}~1traces~1detect
  /hacking/{sessionId}/disconnect:
    $ref: ./paths/hacking-{sessionId}-disconnect.yaml#/paths/~1hacking~1{sessionId}~1disconnect
  /minigames/{minigameId}/start:
    $ref: ./paths/minigames-{minigameId}-start.yaml#/paths/~1minigames~1{minigameId}~1start
  /minigames/{sessionId}/input:
    $ref: ./paths/minigames-{sessionId}-input.yaml#/paths/~1minigames~1{sessionId}~1input
  /analytics/sessions:
    $ref: ./paths/analytics-sessions.yaml#/paths/~1analytics~1sessions
components:
  schemas:
    HackingSession:
      $ref: ./schemas/hacking-service-schemas.yaml#/components/schemas/HackingSession
    NetworkNode:
      $ref: ./schemas/hacking-service-schemas.yaml#/components/schemas/NetworkNode
    ICESystem:
      $ref: ./schemas/hacking-service-schemas.yaml#/components/schemas/ICESystem
    ICEEncounter:
      $ref: ./schemas/hacking-service-schemas.yaml#/components/schemas/ICEEncounter
    TraceDetection:
      $ref: ./schemas/hacking-service-schemas.yaml#/components/schemas/TraceDetection
    MinigameSession:
      $ref: ./schemas/hacking-service-schemas.yaml#/components/schemas/MinigameSession
    InitiateHackingRequest:
      $ref: ./schemas/hacking-service-schemas.yaml#/components/schemas/InitiateHackingRequest
    NavigateNetworkRequest:
      $ref: ./schemas/hacking-service-schemas.yaml#/components/schemas/NavigateNetworkRequest
    BreakICERequest:
      $ref: ./schemas/hacking-service-schemas.yaml#/components/schemas/BreakICERequest
    ExtractDataRequest:
      $ref: ./schemas/hacking-service-schemas.yaml#/components/schemas/ExtractDataRequest
    StartMinigameRequest:
      $ref: ./schemas/hacking-service-schemas.yaml#/components/schemas/StartMinigameRequest
    SubmitMinigameInputRequest:
      $ref: ./schemas/hacking-service-schemas.yaml#/components/schemas/SubmitMinigameInputRequest
    NavigationResult:
      $ref: ./schemas/hacking-service-schemas.yaml#/components/schemas/NavigationResult
    ICEBreakResult:
      $ref: ./schemas/hacking-service-schemas.yaml#/components/schemas/ICEBreakResult
    DataExtractionResult:
      $ref: ./schemas/hacking-service-schemas.yaml#/components/schemas/DataExtractionResult
    TraceDetectionResult:
      $ref: ./schemas/hacking-service-schemas.yaml#/components/schemas/TraceDetectionResult
    MinigameInputResult:
      $ref: ./schemas/hacking-service-schemas.yaml#/components/schemas/MinigameInputResult
    HackingSessionAnalytics:
      $ref: ./schemas/hacking-service-schemas.yaml#/components/schemas/HackingSessionAnalytics
  responses:
    OK:
      $ref: ./schemas/hacking-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/hacking-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/hacking-service-responses.yaml#/components/responses/Updated
    BadRequest:
      $ref: ./schemas/hacking-service-responses.yaml#/components/responses/BadRequest
    NotFound:
      $ref: ./schemas/hacking-service-responses.yaml#/components/responses/NotFound
    Forbidden:
      $ref: ./schemas/hacking-service-responses.yaml#/components/responses/Forbidden
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
