openapi: 3.0.3
info:
  title: World Cities API - Enterprise-Grade Template
  description: '**Enterprise-Grade World Cities API for NECPGAME**

    This domain provides comprehensive world cities management with geographical data,
    cyberpunk characteristics, timeline events, and integration with narrative systems.

    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation

    - **Backend optimization hints** for struct alignment and performance

    - **Complete validation** with redocly and ogen code generation

    - **Security-first approach** with JWT authentication

    - **Performance-optimized** response structures

    - **Comprehensive error handling** with proper HTTP status codes


    ## Domain Purpose

    World Cities domain manages detailed information about cities in the game world,
    including their geographical location, cyberpunk characteristics, economic data,
    faction influence, and timeline evolution.

    Follows enterprise-grade microservices patterns with clear boundaries.


    ## Performance Targets

    - P99 Latency: <50ms for hot paths

    - Memory: <100KB per city instance

    - Concurrent users: 10,000+ simultaneous connections

    - Data consistency: Event-sourced with CQRS patterns

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/world-cities
  description: Production server
- url: https://staging-api.necpgame.com/v1/world-cities
  description: Staging server
- url: http://localhost:8080/api/v1/world-cities
  description: Local development server
security:
- BearerAuth: []
tags:
- name: World Cities
  description: Core world cities operations
- name: City Search
  description: Advanced city search and filtering
- name: City Analytics
  description: City statistics and analytics
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /cities:
    $ref: ./paths/cities.yaml#/paths/~1cities
  /cities/{city_id}:
    $ref: ./paths/cities-{city_id}.yaml#/paths/~1cities~1{city_id}
  /cities/search:
    $ref: ./paths/cities-search.yaml#/paths/~1cities~1search
  /cities/analytics:
    $ref: ./paths/cities-analytics.yaml#/paths/~1cities~1analytics
components:
  schemas:
    HealthResponse:
      $ref: ./schemas/city-service-schemas.yaml#/components/schemas/HealthResponse
    CitySummary:
      $ref: ./schemas/city-service-schemas.yaml#/components/schemas/CitySummary
    City:
      $ref: ./schemas/city-service-schemas.yaml#/components/schemas/City
    CityCreate:
      $ref: ./schemas/city-service-schemas.yaml#/components/schemas/CityCreate
    CityUpdate:
      $ref: ./schemas/city-service-schemas.yaml#/components/schemas/CityUpdate
    CityAnalytics:
      $ref: ./schemas/city-service-schemas.yaml#/components/schemas/CityAnalytics
    PaginationMeta:
      $ref: ./schemas/city-service-schemas.yaml#/components/schemas/PaginationMeta
    Error:
      $ref: ./schemas/city-service-schemas.yaml#/components/schemas/Error
    PaginationParams:
      $ref: ./schemas/city-service-schemas.yaml#/components/schemas/PaginationParams
    PaginatedResponse:
      $ref: ./schemas/city-service-schemas.yaml#/components/schemas/PaginatedResponse
  responses:
    OK:
      $ref: ./schemas/city-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/city-service-responses.yaml#/components/responses/Created
    BadRequest:
      $ref: ./schemas/city-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/city-service-responses.yaml#/components/responses/Unauthorized
    Forbidden:
      $ref: ./schemas/city-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/city-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/city-service-responses.yaml#/components/responses/Conflict
    InternalServerError:
      $ref: ./schemas/city-service-responses.yaml#/components/responses/InternalServerError
    HealthOK:
      $ref: ./schemas/city-service-responses.yaml#/components/responses/HealthOK
    HealthBatchSuccess:
      $ref: ./schemas/city-service-responses.yaml#/components/responses/HealthBatchSuccess
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
