openapi: 3.0.3
info:
  title: NECP Game - Gameplay Service Master Modes API
  description: |
    Enterprise-grade API   -  Challenge modes.
          
         .

    ##  

    - **MMOFPS-**: struct alignment, connection pooling, context timeouts
    - **High-performance**: async processing, memory pooling, lazy loading
    - **Scalable**:  1000+ concurrent   -
    - **Secure**: server-side validation, anti-cheat protection

    ##  

    ### Master Mode
    - HP Modifier: +100% (   2   )
    - Damage Modifier: +50% (   50%  )
    - Time Limit:  
    - Respawn Limit: 3 
    - Checkpoint Limit: 2 

    ### Grandmaster Mode
    - HP Modifier: +200% (   3   )
    - Damage Modifier: +100% (   2   )
    - Time Limit: -25% 
    - Respawn Limit: 1 
    - Checkpoint Limit: 1 

    ### Legendary Mode
    - HP Modifier: +300% (   4   )
    - Damage Modifier: +150% (   150%  )
    - Time Limit: -50% 
    - Respawn Limit: 0  (permadeath)
    - Checkpoint Limit: 0 
  version: 1.0.0
  contact:
    name: NECP Game Team
    email: api@necp.game
  license:
    name: Proprietary
    url: https://necp.game/license

servers:
  - url: https://api.necp.game/v1
    description: Production server
  - url: https://staging-api.necp.game/v1
    description: Staging server
  - url: http://localhost:8083/v1
    description: Local development

security:
  - bearerAuth: []

paths:
  # Difficulty Modes Management
  /gameplay/difficulty-modes:
    get:
      summary:     
      description:        
      operationId: getDifficultyModes
      tags:
        - Difficulty Modes
      responses:
        '200':
          description:   
          content:
            application/json:
              schema:
                type: object
                properties:
                  modes:
                    type: array
                    items:
                      $ref: '#/components/schemas/DifficultyMode'
                  total:
                    type: integer
                    minimum: 0
        '500':
          $ref: '#/components/responses/InternalServerError'

  /gameplay/difficulty-modes/{modeId}:
    get:
      summary:    
      description:       
      operationId: getDifficultyMode
      tags:
        - Difficulty Modes
      parameters:
        - name: modeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DifficultyMode'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /gameplay/difficulty-modes/{modeId}/requirements:
    get:
      summary:      
      description:      
      operationId: getDifficultyModeRequirements
      tags:
        - Difficulty Modes
      parameters:
        - name: modeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DifficultyRequirements'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Content Difficulty Modes
  /gameplay/content/{contentId}/difficulty-modes:
    get:
      summary:     
      description:       
      operationId: getContentDifficultyModes
      tags:
        - Content Difficulty
      parameters:
        - name: contentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description:    
          content:
            application/json:
              schema:
                type: object
                properties:
                  contentId:
                    type: string
                    format: uuid
                  availableModes:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContentDifficultyMode'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Instance Difficulty Management
  /gameplay/instances/{instanceId}/difficulty:
    post:
      summary:     
      description:       
      operationId: selectInstanceDifficulty
      tags:
        - Instance Difficulty
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - modeId
              properties:
                modeId:
                  type: string
                  format: uuid
                  description: ID  
      responses:
        '200':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DifficultySession'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          description:    
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      summary:     
      description:       
      operationId: getInstanceDifficulty
      tags:
        - Instance Difficulty
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DifficultySession'
        '404':
          description:       
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Statistics and Analytics
  /gameplay/difficulty-modes/stats:
    get:
      summary:    
      description:       
      operationId: getDifficultyModesStats
      tags:
        - Analytics
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month, year]
            default: week
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DifficultyStats'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /gameplay/difficulty-modes/{modeId}/stats:
    get:
      summary:    
      description:       
      operationId: getDifficultyModeStats
      tags:
        - Analytics
      parameters:
        - name: modeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month, year]
            default: week
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DifficultyModeStats'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Admin endpoints
  /admin/gameplay/difficulty-modes:
    post:
      summary:    
      description:     (  )
      operationId: createDifficultyMode
      tags:
        - Admin Difficulty Modes
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDifficultyModeRequest'
      responses:
        '201':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DifficultyMode'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      summary:   
      description:     (  )
      operationId: updateDifficultyMode
      tags:
        - Admin Difficulty Modes
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDifficultyModeRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DifficultyMode'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  schemas:
    # Additional schemas for statistics
    PlayerStats:
      type: object
      description:      
      required:
        - player_id
        - player_name
        - score
      properties:
        player_id:
          type: string
          format: uuid
          description:   
        player_name:
          type: string
          maxLength: 50
          description:   
        score:
          type: integer
          minimum: 0
          description:   
        completion_time:
          type: integer
          minimum: 0
          description:    
        rank:
          type: integer
          minimum: 1
          description:   
        achievements:
          type: array
          items:
            type: string
          description:  
      description: "BACKEND NOTE:    "

    ModeStats:
      type: object
      description:   
      required:
        - mode_id
        - mode_name
        - popularity
      properties:
        mode_id:
          type: string
          format: uuid
          description:  
        mode_name:
          type: string
          maxLength: 100
          description:  
        popularity:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description:   (0-1)
        total_players:
          type: integer
          minimum: 0
          description:   
        average_completion_rate:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description:   
        difficulty_rating:
          type: number
          format: float
          minimum: 0
          maximum: 5
          description:   (0-5)
      description: "BACKEND NOTE:     "

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Core entities
    DifficultyMode:
      type: object
      description:     
      properties:
        id:
          type: string
          format: uuid
          description:   
        name:
          type: string
          minLength: 1
          maxLength: 100
          description:   (Master, Grandmaster, Legendary)
        level:
          type: string
          enum: [master, grandmaster, legendary]
          description:  
        description:
          type: string
          maxLength: 500
          description:  
        hpModifier:
          type: number
          format: float
          minimum: 1.0
          maximum: 10.0
          description:    (1.0 = 100% HP)
        damageModifier:
          type: number
          format: float
          minimum: 1.0
          maximum: 10.0
          description:    (1.0 = 100% damage)
        timeLimitMultiplier:
          type: number
          format: float
          minimum: 0.1
          maximum: 2.0
          description:    (1.0 =  )
        respawnLimit:
          type: integer
          minimum: 0
          maximum: 10
          description:   
        checkpointLimit:
          type: integer
          minimum: 0
          maximum: 10
          description:   
        rewardModifier:
          type: number
          format: float
          minimum: 1.0
          maximum: 5.0
          description:   (1.0 =  )
        permadeath:
          type: boolean
          description:    (true  Legendary)
        specialMechanics:
          type: array
          items:
            type: string
            enum:
              - time_dilation
              - enhanced_ai
              - environmental_hazards
              - resource_scarcity
              - adaptive_difficulty
          description:   
        createdAt:
          type: string
          format: date-time
          description:   
        updatedAt:
          type: string
          format: date-time
          description:   
      required:
        - id
        - name
        - level
        - hpModifier
        - damageModifier
        - timeLimitMultiplier
        - respawnLimit
        - checkpointLimit
        - rewardModifier
        - permadeath

    ContentDifficultyMode:
      type: object
      description:      
      properties:
        contentId:
          type: string
          format: uuid
          description: ID 
        modeId:
          type: string
          format: uuid
          description: ID  
        requirements:
          $ref: '#/components/schemas/DifficultyRequirements'
        isEnabled:
          type: boolean
          description:      
        unlockDate:
          type: string
          format: date-time
          description:    (nullable)
      required:
        - contentId
        - modeId
        - requirements
        - isEnabled

    DifficultyRequirements:
      type: object
      description:      
      properties:
        minLevel:
          type: integer
          minimum: 1
          maximum: 100
          description:   
        minSkillRating:
          type: integer
          minimum: 0
          maximum: 10000
          description:  skill rating
        completedMissions:
          type: array
          items:
            type: string
            format: uuid
          description:     
        reputationLevel:
          type: string
          enum: [rookie, skilled, veteran, elite, legend]
          description:   
        prerequisiteModes:
          type: array
          items:
            type: string
            format: uuid
          description:    
      required:
        - minLevel
        - minSkillRating

    DifficultySession:
      type: object
      description:     
      properties:
        id:
          type: string
          format: uuid
          description: ID 
        instanceId:
          type: string
          format: uuid
          description: ID  
        modeId:
          type: string
          format: uuid
          description: ID  
        playerId:
          type: string
          format: uuid
          description: ID 
        timeRemaining:
          type: integer
          minimum: 0
          description:    
        respawnsRemaining:
          type: integer
          minimum: 0
          description:  
        checkpointsUsed:
          type: integer
          minimum: 0
          description:  
        status:
          type: string
          enum: [active, completed, failed, paused]
          description:  
        startedAt:
          type: string
          format: date-time
          description:   
        completedAt:
          type: string
          format: date-time
          description:   (nullable)
        score:
          type: integer
          minimum: 0
          description:   
        restrictions:
          type: object
          properties:
            timeLimit:
              type: integer
              minimum: 0
              description:    
            respawnLimit:
              type: integer
              minimum: 0
              description:  
            checkpointLimit:
              type: integer
              minimum: 0
              description:  
      required:
        - id
        - instanceId
        - modeId
        - playerId
        - status
        - startedAt

    DifficultyStats:
      type: object
      description:     
      properties:
        totalSessions:
          type: integer
          minimum: 0
          description:   
        completionRate:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description:   
        averageScore:
          type: number
          format: float
          minimum: 0.0
          description:  
        popularModes:
          type: array
          items:
            $ref: "#/components/schemas/ModeStats"
        modeStats:
          type: array
          items:
            $ref: '#/components/schemas/DifficultyModeStats'
      required:
        - totalSessions
        - completionRate
        - averageScore

    DifficultyModeStats:
      type: object
      description:     
      properties:
        modeId:
          type: string
          format: uuid
          description: ID 
        modeName:
          type: string
          description:  
        totalSessions:
          type: integer
          minimum: 0
          description:    
        completedSessions:
          type: integer
          minimum: 0
          description:  
        failedSessions:
          type: integer
          minimum: 0
          description:  
        completionRate:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description:  
        averageCompletionTime:
          type: integer
          minimum: 0
          description:     
        bestScore:
          type: integer
          minimum: 0
          description:  
        averageScore:
          type: number
          format: float
          minimum: 0.0
          description:  
        topPlayers:
          type: array
          maxItems: 10
          items:
            $ref: "#/components/schemas/PlayerStats"
      required:
        - modeId
        - modeName
        - totalSessions
        - completedSessions
        - failedSessions
        - completionRate

    # Request/Response models
    CreateDifficultyModeRequest:
      type: object
      description:     
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        level:
          type: string
          enum: [master, grandmaster, legendary]
        description:
          type: string
          maxLength: 500
        hpModifier:
          type: number
          format: float
          minimum: 1.0
          maximum: 10.0
        damageModifier:
          type: number
          format: float
          minimum: 1.0
          maximum: 10.0
        timeLimitMultiplier:
          type: number
          format: float
          minimum: 0.1
          maximum: 2.0
        respawnLimit:
          type: integer
          minimum: 0
          maximum: 10
        checkpointLimit:
          type: integer
          minimum: 0
          maximum: 10
        rewardModifier:
          type: number
          format: float
          minimum: 1.0
          maximum: 5.0
        permadeath:
          type: boolean
        specialMechanics:
          type: array
          items:
            type: string
            enum:
              - time_dilation
              - enhanced_ai
              - environmental_hazards
              - resource_scarcity
              - adaptive_difficulty
      required:
        - name
        - level
        - hpModifier
        - damageModifier
        - timeLimitMultiplier
        - respawnLimit
        - checkpointLimit
        - rewardModifier
        - permadeath

    UpdateDifficultyModeRequest:
      type: object
      description:     
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        hpModifier:
          type: number
          format: float
          minimum: 1.0
          maximum: 10.0
        damageModifier:
          type: number
          format: float
          minimum: 1.0
          maximum: 10.0
        timeLimitMultiplier:
          type: number
          format: float
          minimum: 0.1
          maximum: 2.0
        respawnLimit:
          type: integer
          minimum: 0
          maximum: 10
        checkpointLimit:
          type: integer
          minimum: 0
          maximum: 10
        rewardModifier:
          type: number
          format: float
          minimum: 1.0
          maximum: 5.0
        permadeath:
          type: boolean
        specialMechanics:
          type: array
          items:
            type: string
            enum:
              - time_dilation
              - enhanced_ai
              - environmental_hazards
              - resource_scarcity
              - adaptive_difficulty
      required:
        - id

    Error:
      type: object
      description:   API
      properties:
        code:
          type: string
          description:  
        message:
          type: string
          description: -   
        details:
          type: object
          description:   
        timestamp:
          type: string
          format: date-time
          description:   
        requestId:
          type: string
          description: ID   
      required:
        - code
        - message
        - timestamp

  responses:
    BadRequestError:
      description:   
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "VALIDATION_ERROR"
            message: "Invalid request parameters"
            details:
              field: "modeId"
              issue: "Must be a valid UUID"
            timestamp: "2025-12-28T10:30:00Z"
            requestId: "req-12345"

    ForbiddenError:
      description:  
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "FORBIDDEN"
            message: "Insufficient permissions"
            details:
              requiredRole: "admin"
            timestamp: "2025-12-28T10:30:00Z"
            requestId: "req-12345"

    NotFoundError:
      description:   
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "NOT_FOUND"
            message: "Difficulty mode not found"
            details:
              modeId: "550e8400-e29b-41d4-a716-446655440000"
            timestamp: "2025-12-28T10:30:00Z"
            requestId: "req-12345"

    InternalServerError:
      description:   
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "INTERNAL_ERROR"
            message: "Unexpected server error"
            details:
              errorId: "srv-err-789"
            timestamp: "2025-12-28T10:30:00Z"
            requestId: "req-12345"

