openapi: 3.0.3
info:
  title: NECP Game - Gameplay Service Master Modes API
  description: "Enterprise-grade API   -  Challenge modes.\n      \n     .\n\n## \
    \ \n\n- **MMOFPS-**: struct alignment, connection pooling, context timeouts\n\
    - **High-performance**: async processing, memory pooling, lazy loading\n- **Scalable**:\
    \  1000+ concurrent   -\n- **Secure**: server-side validation, anti-cheat protection\n\
    \n##  \n\n### Master Mode\n- HP Modifier: +100% (   2   )\n- Damage Modifier:\
    \ +50% (   50%  )\n- Time Limit:  \n- Respawn Limit: 3 \n- Checkpoint Limit: 2\
    \ \n\n### Grandmaster Mode\n- HP Modifier: +200% (   3   )\n- Damage Modifier:\
    \ +100% (   2   )\n- Time Limit: -25% \n- Respawn Limit: 1 \n- Checkpoint Limit:\
    \ 1 \n\n### Legendary Mode\n- HP Modifier: +300% (   4   )\n- Damage Modifier:\
    \ +150% (   150%  )\n- Time Limit: -50% \n- Respawn Limit: 0  (permadeath)\n-\
    \ Checkpoint Limit: 0 \n"
  version: 1.0.0
  contact:
    name: NECP Game Team
    email: api@necp.game
  license:
    name: Proprietary
    url: https://necp.game/license
servers:
- url: https://api.necp.game/v1
  description: Production server
- url: https://staging-api.necp.game/v1
  description: Staging server
- url: http://localhost:8083/v1
  description: Local development
security:
- bearerAuth: []
tags: []
paths:
  /gameplay/difficulty-modes:
    $ref: ./paths/gameplay-difficulty-modes.yaml#/paths/~1gameplay~1difficulty-modes
  /gameplay/difficulty-modes/{modeId}:
    $ref: ./paths/gameplay-difficulty-modes-{modeId}.yaml#/paths/~1gameplay~1difficulty-modes~1{modeId}
  /gameplay/difficulty-modes/{modeId}/requirements:
    $ref: ./paths/gameplay-difficulty-modes-{modeId}-requirements.yaml#/paths/~1gameplay~1difficulty-modes~1{modeId}~1requirements
  /gameplay/content/{contentId}/difficulty-modes:
    $ref: ./paths/gameplay-content-{contentId}-difficulty-modes.yaml#/paths/~1gameplay~1content~1{contentId}~1difficulty-modes
  /gameplay/instances/{instanceId}/difficulty:
    $ref: ./paths/gameplay-instances-{instanceId}-difficulty.yaml#/paths/~1gameplay~1instances~1{instanceId}~1difficulty
  /gameplay/difficulty-modes/stats:
    $ref: ./paths/gameplay-difficulty-modes-stats.yaml#/paths/~1gameplay~1difficulty-modes~1stats
  /gameplay/difficulty-modes/{modeId}/stats:
    $ref: ./paths/gameplay-difficulty-modes-{modeId}-stats.yaml#/paths/~1gameplay~1difficulty-modes~1{modeId}~1stats
  /admin/gameplay/difficulty-modes:
    $ref: ./paths/admin-gameplay-difficulty-modes.yaml#/paths/~1admin~1gameplay~1difficulty-modes
components:
  schemas:
    DifficultyMode:
      $ref: ./schemas/gameplay-service-master-modes-schemas.yaml#/components/schemas/DifficultyMode
    ContentDifficultyMode:
      $ref: ./schemas/gameplay-service-master-modes-schemas.yaml#/components/schemas/ContentDifficultyMode
    DifficultyRequirements:
      $ref: ./schemas/gameplay-service-master-modes-schemas.yaml#/components/schemas/DifficultyRequirements
    DifficultySession:
      $ref: ./schemas/gameplay-service-master-modes-schemas.yaml#/components/schemas/DifficultySession
    DifficultyStats:
      $ref: ./schemas/gameplay-service-master-modes-schemas.yaml#/components/schemas/DifficultyStats
    DifficultyModeStats:
      $ref: ./schemas/gameplay-service-master-modes-schemas.yaml#/components/schemas/DifficultyModeStats
    CreateDifficultyModeRequest:
      $ref: ./schemas/gameplay-service-master-modes-schemas.yaml#/components/schemas/CreateDifficultyModeRequest
    UpdateDifficultyModeRequest:
      $ref: ./schemas/gameplay-service-master-modes-schemas.yaml#/components/schemas/UpdateDifficultyModeRequest
    Error:
      $ref: ./schemas/gameplay-service-master-modes-schemas.yaml#/components/schemas/Error
  responses:
    BadRequestError:
      $ref: ./schemas/gameplay-service-master-modes-responses.yaml#/components/responses/BadRequestError
    ForbiddenError:
      $ref: ./schemas/gameplay-service-master-modes-responses.yaml#/components/responses/ForbiddenError
    NotFoundError:
      $ref: ./schemas/gameplay-service-master-modes-responses.yaml#/components/responses/NotFoundError
    InternalServerError:
      $ref: ./schemas/gameplay-service-master-modes-responses.yaml#/components/responses/InternalServerError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
