openapi: 3.0.3
info:
  title: Inventory Management API
  version: 1.0.0
  description: |
    API для системы инвентаря.
    
    Источник: .BRAIN/05-technical/backend/inventory-system.md v1.0.0
    
    КРИТИЧЕСКИЙ MVP БЛОКЕР! Без этой системы игра не работает!
    
    Возможности:
    - Inventory slots (50 слотов)
    - Item stacking (складывание предметов)
    - Weight/encumbrance system (вес/перегрузка)
    - Pickup/drop items
    - Use/consume items
    - Equipment slots (оружие, броня, импланты, кибервар)
    - Bank/Stash storage (100 слотов, shared между персонажами)
    - Transfer items (trade, mail, auction)
    - Item durability (износ)
    - Bind-on-pickup/equip (привязка к персонажу)
    
    БД структура:
    - character_inventory (character_id, slots_used, weight_current, weight_max)
    - character_items (item_id, character_id, slot, stack_size, durability)
    - item_templates (базовые данные предметов)
    - equipment_slots (экипированные предметы)
    - bank_storage (shared хранилище)

  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/economy/inventory
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Inventory
    description: Управление инвентарем
  - name: Equipment
    description: Экипировка
  - name: Bank
    description: Банковское хранилище

paths:
  /inventory/{character_id}:
    get:
      summary: Получить инвентарь персонажа
      description: |
        Возвращает содержимое инвентаря.
        Включает слоты, предметы, вес, лимиты.
      operationId: getInventory
      tags:
        - Inventory
      security:
        - bearerAuth: []
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Инвентарь персонажа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterInventory'
              examples:
                inventory:
                  summary: Пример инвентаря
                  value:
                    character_id: "char_123"
                    slots_total: 50
                    slots_used: 32
                    weight_current: 45.5
                    weight_max: 100.0
                    is_overencumbered: false
                    items:
                      - item_id: "item_001"
                        name: "Legendary Katana"
                        slot: 5
                        stack_size: 1
                        durability: 95
                        is_equipped: false
                      - item_id: "item_002"
                        name: "Health Stim"
                        slot: 10
                        stack_size: 15
                        durability: 100

  /inventory/{character_id}/pickup:
    post:
      summary: Подобрать предмет
      description: |
        Добавляет предмет в инвентарь.
        Проверяет свободные слоты и вес.
      operationId: pickupItem
      tags:
        - Inventory
      security:
        - bearerAuth: []
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - item_id
              properties:
                item_id:
                  type: string
                quantity:
                  type: integer
                  default: 1
                world_item_id:
                  type: string
                  description: ID предмета в мире (для удаления)
      responses:
        '200':
          description: Предмет подобран
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  item_id:
                    type: string
                  slot:
                    type: integer
        '400':
          $ref: '../../../shared/common/responses.yaml#/components/responses/BadRequest'

  /inventory/{character_id}/drop:
    post:
      summary: Выбросить предмет
      description: |
        Удаляет предмет из инвентаря.
        Создает предмет в мире (если не уничтожен).
      operationId: dropItem
      tags:
        - Inventory
      security:
        - bearerAuth: []
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - item_id
              properties:
                item_id:
                  type: string
                quantity:
                  type: integer
                  default: 1
                destroy:
                  type: boolean
                  default: false
                  description: Уничтожить вместо выбрасывания
      responses:
        '200':
          description: Предмет выброшен
          content:
            application/json:
              schema:
                type: object

  /inventory/{character_id}/use:
    post:
      summary: Использовать предмет
      description: |
        Использует consumable предмет (stim, ammo, etc.).
        Применяет эффект, уменьшает quantity.
      operationId: useItem
      tags:
        - Inventory
      security:
        - bearerAuth: []
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - item_id
              properties:
                item_id:
                  type: string
                quantity:
                  type: integer
                  default: 1
      responses:
        '200':
          description: Предмет использован
          content:
            application/json:
              schema:
                type: object

  /inventory/{character_id}/equipment:
    get:
      summary: Получить экипировку
      description: |
        Возвращает экипированные предметы.
        Weapons, armor, implants, cyberware.
      operationId: getEquipment
      tags:
        - Equipment
      security:
        - bearerAuth: []
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Экипировка персонажа
          content:
            application/json:
              schema:
                type: object

  /inventory/{character_id}/equip:
    post:
      summary: Экипировать предмет
      description: |
        Экипирует предмет в слот.
        Weapon, armor, implant, cyberware.
      operationId: equipItem
      tags:
        - Equipment
      security:
        - bearerAuth: []
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - item_id
                - slot_type
              properties:
                item_id:
                  type: string
                slot_type:
                  type: string
                  enum: [weapon_primary, weapon_secondary, armor_head, armor_chest, armor_legs, implant, cyberware]
      responses:
        '200':
          description: Предмет экипирован
          content:
            application/json:
              schema:
                type: object

  /inventory/bank/{player_id}:
    get:
      summary: Получить банковское хранилище
      description: |
        Возвращает содержимое bank storage.
        Shared между всеми персонажами игрока (100 слотов).
      operationId: getBankStorage
      tags:
        - Bank
      security:
        - bearerAuth: []
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Банковское хранилище
          content:
            application/json:
              schema:
                type: object

components:
  schemas:
    CharacterInventory:
      type: object
      properties:
        character_id:
          type: string
        slots_total:
          type: integer
        slots_used:
          type: integer
        weight_current:
          type: number
        weight_max:
          type: number
        is_overencumbered:
          type: boolean
        items:
          type: array
          items:
            $ref: '#/components/schemas/InventoryItem'

    InventoryItem:
      type: object
      properties:
        item_id:
          type: string
        name:
          type: string
        slot:
          type: integer
        stack_size:
          type: integer
        durability:
          type: number
        is_equipped:
          type: boolean
        is_bound:
          type: boolean

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT


