openapi: 3.0.3
info:
  title: Quest System API
  version: 1.0.0
  description: |
    API для системы квестов.
    
    Источник: .BRAIN/04-narrative/quest-system.md v1.0.0
    
    10 типов квестов, ветвление, последствия, интеграция с сюжетом 2090-2093
    Философия: D&D/MMORPG + Baldur's Gate 3 (глубокое ветвление)

  x-microservice:
    name: narrative-service
    port: 8087
    domain: narrative
    base-path: /api/v1/narrative
    package: com.necpgame.narrativeservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Quests
    description: Система квестов

paths:
  /narrative/quests:
    get:
      summary: Получить доступные квесты
      description: |
        Возвращает список доступных квестов для персонажа.
        Фильтры: по типу, фракции, региону, уровню сложности.
      operationId: getQuests
      tags:
        - Quests
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
        - name: quest_type
          in: query
          required: false
          schema:
            type: string
            enum: [main, side, daily, weekly, faction, guild, dynamic, event, social, player_created]
        - name: faction_id
          in: query
          required: false
          schema:
            type: string
        - name: min_level
          in: query
          required: false
          schema:
            type: integer
        - name: max_level
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Список квестов
          content:
            application/json:
              schema:
                type: object
                properties:
                  quests:
                    type: array
                    items:
                      $ref: '#/components/schemas/Quest'
                  total:
                    type: integer

  /narrative/quests/{quest_id}:
    get:
      summary: Получить детали квеста
      description: Возвращает детальную информацию о квесте
      operationId: getQuest
      tags:
        - Quests
      parameters:
        - name: quest_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Детали квеста
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestDetails'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /narrative/quests/{quest_id}/accept:
    post:
      summary: Принять квест
      description: Принимает квест для персонажа
      operationId: acceptQuest
      tags:
        - Quests
      parameters:
        - name: quest_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
              properties:
                character_id:
                  type: string
      responses:
        '200':
          description: Квест принят
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestProgress'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'

  /narrative/quests/{quest_id}/progress:
    get:
      summary: Получить прогресс квеста
      description: Возвращает текущий прогресс выполнения квеста
      operationId: getQuestProgress
      tags:
        - Quests
      parameters:
        - name: quest_id
          in: path
          required: true
          schema:
            type: string
        - name: character_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Прогресс квеста
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestProgress'

  /narrative/quests/{quest_id}/complete:
    post:
      summary: Завершить квест
      description: |
        Завершает квест с выбранной концовкой.
        Применяет последствия выбора.
      operationId: completeQuest
      tags:
        - Quests
      parameters:
        - name: quest_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - chosen_ending
              properties:
                character_id:
                  type: string
                chosen_ending:
                  type: string
                  description: ID выбранной концовки
      responses:
        '200':
          description: Квест завершен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestCompletionResult'

  /narrative/quests/{quest_id}/choices:
    post:
      summary: Сделать выбор в квесте
      description: |
        Делает выбор в ветвлении квеста.
        Выбор влияет на дальнейшее развитие квеста и концовки.
      operationId: makeQuestChoice
      tags:
        - Quests
      parameters:
        - name: quest_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - choice_id
              properties:
                character_id:
                  type: string
                choice_id:
                  type: string
      responses:
        '200':
          description: Выбор сделан
          content:
            application/json:
              schema:
                type: object
                properties:
                  new_state:
                    type: string
                  consequences:
                    type: array
                    items:
                      type: object

components:
  schemas:
    Quest:
      type: object
      properties:
        quest_id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [main, side, daily, weekly, faction, guild, dynamic, event, social, player_created]
        level_required:
          type: integer
        faction_id:
          type: string
        region:
          type: string

    QuestDetails:
      type: object
      properties:
        quest_id:
          type: string
        name:
          type: string
        description:
          type: string
        type:
          type: string
        branches:
          type: array
          description: Ветвления квеста
          items:
            type: object
        objectives:
          type: array
          items:
            type: object
        rewards:
          type: object
        consequences:
          type: object
          description: Возможные последствия выборов

    QuestProgress:
      type: object
      properties:
        quest_id:
          type: string
        character_id:
          type: string
        status:
          type: string
          enum: [available, accepted, in_progress, completed, failed]
        current_objective:
          type: integer
        choices_made:
          type: array
          items:
            type: string

    QuestCompletionResult:
      type: object
      properties:
        quest_id:
          type: string
        ending_achieved:
          type: string
        rewards_granted:
          type: object
        world_consequences:
          type: array
          description: Влияние на мир
          items:
            type: object
        reputation_changes:
          type: object
        unlocked_quests:
          type: array
          items:
            type: string
