openapi: 3.0.3
info:
  title: Economy Service API - Enterprise-Grade Economic Simulation
  description: '**Enterprise-Grade Economy Service API for NECPGAME**

    This API manages economic simulation models, market mechanics, trading systems,
    and resource management in the Night City universe, providing comprehensive economic
    workflows, price calculations, and market dynamics.

    ## Key Features

    - **Market Mechanics**: Dynamic pricing and supply/demand simulation - **Trading
    Systems**: Order management and transaction processing - **Auction House**: Bidding
    mechanics and auction management - **Currency Exchange**: Multi-currency trading
    and conversion - **Economic Events**: Market volatility and economic notifications
    - **Performance Optimized**: MMOFPS-grade performance with <25ms P99 latency

    ## Domain Purpose

    The Economy domain handles all aspects of in-game economic systems and market
    simulation. Players engage in trading, auctions, and resource management through
    sophisticated economic mechanics that affect market prices and player wealth.

    ## Performance Targets

    - P99 Latency: <25ms for trading operations - Memory: <15KB per active trading
    session - Concurrent traders: 5,000+ simultaneous users - Market updates: <100ms
    propagation time - Transaction throughput: 10,000+ TPS

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/economy
  description: Production server
- url: https://staging-api.necpgame.com/v1/economy
  description: Staging server
- url: http://localhost:8080/api/v1/economy
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Market Data
  description: Real-time market pricing and economic data
- name: Trading
  description: Order management and transaction processing
- name: Auctions
  description: Auction house bidding and management
- name: Currency
  description: Currency exchange and wallet operations
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /market/prices:
    $ref: ./paths/market-prices.yaml#/paths/~1market~1prices
  /trading/orders:
    $ref: ./paths/trading-orders.yaml#/paths/~1trading~1orders
  /trading/orders/{order_id}:
    $ref: ./paths/trading-orders-{order_id}.yaml#/paths/~1trading~1orders~1{order_id}
  /auctions:
    $ref: ./paths/auctions.yaml#/paths/~1auctions
  /auctions/{auction_id}/bid:
    $ref: ./paths/auctions-{auction_id}-bid.yaml#/paths/~1auctions~1{auction_id}~1bid
  /currency/exchange:
    $ref: ./paths/currency-exchange.yaml#/paths/~1currency~1exchange
  /wallet/transactions:
    $ref: ./paths/wallet-transactions.yaml#/paths/~1wallet~1transactions
components:
  schemas:
    HealthResponse:
      $ref: ./schemas/economy-service-schemas.yaml#/components/schemas/HealthResponse
    MarketPricesResponse:
      $ref: ./schemas/economy-service-schemas.yaml#/components/schemas/MarketPricesResponse
    MarketPrice:
      $ref: ./schemas/economy-service-schemas.yaml#/components/schemas/MarketPrice
    TradingOrdersResponse:
      $ref: ./schemas/economy-service-schemas.yaml#/components/schemas/TradingOrdersResponse
    TradingOrder:
      $ref: ./schemas/economy-service-schemas.yaml#/components/schemas/TradingOrder
    CreateTradingOrderRequest:
      $ref: ./schemas/economy-service-schemas.yaml#/components/schemas/CreateTradingOrderRequest
    TradingOrderResponse:
      $ref: ./schemas/economy-service-schemas.yaml#/components/schemas/TradingOrderResponse
    AuctionsResponse:
      $ref: ./schemas/economy-service-schemas.yaml#/components/schemas/AuctionsResponse
    Auction:
      $ref: ./schemas/economy-service-schemas.yaml#/components/schemas/Auction
    CreateAuctionRequest:
      $ref: ./schemas/economy-service-schemas.yaml#/components/schemas/CreateAuctionRequest
    AuctionResponse:
      $ref: ./schemas/economy-service-schemas.yaml#/components/schemas/AuctionResponse
    PlaceBidRequest:
      $ref: ./schemas/economy-service-schemas.yaml#/components/schemas/PlaceBidRequest
    CurrencyExchangeRequest:
      $ref: ./schemas/economy-service-schemas.yaml#/components/schemas/CurrencyExchangeRequest
    CurrencyExchangeResponse:
      $ref: ./schemas/economy-service-schemas.yaml#/components/schemas/CurrencyExchangeResponse
    WalletTransactionsResponse:
      $ref: ./schemas/economy-service-schemas.yaml#/components/schemas/WalletTransactionsResponse
    WalletTransaction:
      $ref: ./schemas/economy-service-schemas.yaml#/components/schemas/WalletTransaction
  responses:
    HealthBatchSuccess:
      $ref: ./schemas/economy-service-responses.yaml#/components/responses/HealthBatchSuccess
    OK:
      $ref: ./schemas/economy-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/economy-service-responses.yaml#/components/responses/Created
    BadRequest:
      $ref: ./schemas/economy-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/economy-service-responses.yaml#/components/responses/Unauthorized
    Forbidden:
      $ref: ./schemas/economy-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/economy-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/economy-service-responses.yaml#/components/responses/Conflict
    InternalServerError:
      $ref: ./schemas/economy-service-responses.yaml#/components/responses/InternalServerError
    HealthOK:
      $ref: ./schemas/economy-service-responses.yaml#/components/responses/HealthOK
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/components/securitySchemes/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/components/securitySchemes/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/components/securitySchemes/ServiceAuth
