openapi: 3.0.3
info:
  title: Economy Service API - Enterprise-Grade Economic Simulation
  description: '**Enterprise-Grade Economy Service API for NECPGAME**

    This API manages economic simulation models, market mechanics, trading systems,
    and resource management in the Night City universe, providing comprehensive
    economic workflows, price calculations, and market dynamics.

    ## Key Features

    - **Market Mechanics**: Dynamic pricing and supply/demand simulation - **Trading Systems**: Order management and transaction processing - **Auction House**: Bidding mechanics and auction management - **Currency Exchange**: Multi-currency trading and conversion - **Economic Events**: Market volatility and economic notifications - **Performance Optimized**: MMOFPS-grade performance with <25ms P99 latency

    ## Domain Purpose

    The Economy domain handles all aspects of in-game economic systems and market
    simulation. Players engage in trading, auctions, and resource management through
    sophisticated economic mechanics that affect market prices and player wealth.

    ## Performance Targets

    - P99 Latency: <25ms for trading operations - Memory: <15KB per active trading session - Concurrent traders: 5,000+ simultaneous users - Market updates: <100ms propagation time - Transaction throughput: 10,000+ TPS

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/economy
  description: Production server
- url: https://staging-api.necpgame.com/v1/economy
  description: Staging server
- url: http://localhost:8080/api/v1/economy
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Market Data
  description: Real-time market pricing and economic data
- name: Trading
  description: Order management and transaction processing
- name: Auctions
  description: Auction house bidding and management
- name: Currency
  description: Currency exchange and wallet operations
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Economy service health check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the economy microservice.
        Critical for service discovery, load balancing, and monitoring.
        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: economyServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"economy-health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/components/schemas/HealthResponse'
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/components/schemas/HealthResponse'
        "429":
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /health/batch:
    post:
      summary: Batch health check for multiple economy services
      description: '**Performance optimization:** Check multiple economy health in
        single request

        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.

        **Use case:** Service mesh health checks, Kubernetes readiness probes

        '
      operationId: economyServiceBatchHealthCheck
      tags:
      - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                    - economy-service
                    - currency-service
                    - marketplace-service
                  maxItems: 10
                  description: List of services to check
      responses:
        '200':
          $ref: '../common/responses/success.yaml#/components/responses/HealthBatchSuccess'
        '400':
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /market/prices:
    get:
      summary: Get real-time market prices
      description: '**Real-time market data endpoint**

        Retrieves current market prices for all tradeable items and resources.
        Supports filtering by category, tier, and region for optimized queries.

        **Performance:** <10ms P95 with Redis caching

        **Caching:** Prices cached for 30 seconds, invalidated on trades

        **Updates:** Real-time via WebSocket for active traders

        '
      operationId: getMarketPrices
      tags:
      - Market Data
      parameters:
      - name: category
        in: query
        schema:
          type: string
          enum:
          - weapons
          - armor
          - implants
          - vehicles
          - consumables
          - materials
      - name: region
        in: query
        schema:
          type: string
          description: Market region filter
      - name: min_price
        in: query
        schema:
          type: integer
          minimum: 0
      - name: max_price
        in: query
        schema:
          type: integer
          minimum: 0
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      responses:
        '200':
          description: Market prices retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketPricesResponse'
          headers:
            X-Total-Count:
              schema:
                type: integer
              description: Total number of items
            X-Page-Count:
              schema:
                type: integer
              description: Total number of pages
            Cache-Control:
              schema:
                type: string
                example: max-age=30, private
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /trading/orders:
    get:
      summary: List trading orders
      description: '**Trading order management endpoint**

        Retrieves user''s active trading orders with filtering and pagination.
        Supports buy/sell order types and various order states.

        **Performance:** <15ms P95 with database indexing

        **Real-time:** Orders updated via WebSocket notifications

        '
      operationId: listTradingOrders
      tags:
      - Trading
      security:
      - BearerAuth: []
      parameters:
      - name: order_type
        in: query
        schema:
          type: string
          enum:
          - buy
          - sell
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - filled
          - cancelled
          - expired
      - name: item_id
        in: query
        schema:
          type: string
          format: uuid
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
      responses:
        '200':
          description: Trading orders retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingOrdersResponse'
          headers:
            X-Total-Count:
              schema:
                type: integer
              description: Total number of orders
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
    post:
      summary: Create trading order
      description: '**Order creation endpoint**

        Creates buy or sell orders with price limits and quantity specifications.
        Validates market conditions and user balance/ownership.

        **Performance:** <25ms P95 including validation

        **Validation:** Price limits, quantity availability, user permissions

        '
      operationId: createTradingOrder
      tags:
      - Trading
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTradingOrderRequest'
      responses:
        '201':
          description: Trading order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingOrderResponse'
          headers:
            Location:
              schema:
                type: string
                example: /api/v1/economy/trading/orders/550e8400-e29b-41d4-a716-446655440000
        '400':
          description: Invalid order parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '409':
          description: Insufficient funds or items
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /trading/orders/{order_id}:
    get:
      summary: Get trading order details
      description: '**Order details retrieval endpoint**

        Retrieves detailed information about a specific trading order.
        Includes order history, matches, and current status.

        **Performance:** <5ms P95 with caching

        '
      operationId: getTradingOrder
      tags:
      - Trading
      security:
      - BearerAuth: []
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Order details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingOrderResponse'
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '403':
          description: Forbidden - order not owned by user
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
    delete:
      summary: Cancel trading order
      description: '**Order cancellation endpoint**

        Cancels an active trading order, refunding held funds/items.
        Validates order ownership and cancellation permissions.

        **Performance:** <15ms P95 including refund processing

        '
      operationId: cancelTradingOrder
      tags:
      - Trading
      security:
      - BearerAuth: []
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Order cancelled successfully
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '403':
          description: Forbidden - order not owned by user or not cancellable
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '409':
          description: Order cannot be cancelled (already filled/expired)
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /auctions:
    get:
      summary: List active auctions
      description: '**Auction listing endpoint**

        Retrieves active auctions with filtering by category, price range, and time remaining.
        Supports pagination for large auction catalogs.

        **Performance:** <20ms P95 with database optimization

        '
      operationId: listAuctions
      tags:
      - Auctions
      parameters:
      - name: category
        in: query
        schema:
          type: string
          enum:
          - weapons
          - armor
          - vehicles
          - rare_items
      - name: min_bid
        in: query
        schema:
          type: integer
          minimum: 0
      - name: max_bid
        in: query
        schema:
          type: integer
          minimum: 0
      - name: time_remaining_hours
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 168
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 25
      responses:
        '200':
          description: Auctions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionsResponse'
          headers:
            X-Total-Count:
              schema:
                type: integer
              description: Total number of auctions
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
    post:
      summary: Create auction
      description: '**Auction creation endpoint**

        Creates new auctions with starting price, duration, and item details.
        Validates item ownership and auction parameters.

        **Performance:** <30ms P95 including validation

        '
      operationId: createAuction
      tags:
      - Auctions
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAuctionRequest'
      responses:
        '201':
          description: Auction created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionResponse'
          headers:
            Location:
              schema:
                type: string
                example: /api/v1/economy/auctions/550e8400-e29b-41d4-a716-446655440000
        '400':
          description: Invalid auction parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '403':
          description: Forbidden - item not owned by user
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '409':
          description: Item already in auction or insufficient permissions
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /auctions/{auction_id}/bid:
    post:
      summary: Place bid on auction
      description: '**Auction bidding endpoint**

        Places bids on active auctions with automatic outbidding protection.
        Validates bid amount and user funds availability.

        **Performance:** <20ms P95 with optimistic locking

        **Real-time:** Bid updates broadcast via WebSocket

        '
      operationId: placeAuctionBid
      tags:
      - Auctions
      security:
      - BearerAuth: []
      parameters:
      - name: auction_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceBidRequest'
      responses:
        '200':
          description: Bid placed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionResponse'
        '400':
          description: Invalid bid amount or auction parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '403':
          description: Forbidden - cannot bid on own auction
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '404':
          description: Auction not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '409':
          description: Bid too low or auction ended
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /currency/exchange:
    post:
      summary: Currency exchange
      description: '**Currency exchange endpoint**

        Exchanges between different in-game currencies with real-time rates.
        Supports multiple currency pairs and exchange limits.

        **Performance:** <15ms P95 with rate caching

        **Validation:** Exchange limits, rate validation, balance checks

        '
      operationId: exchangeCurrency
      tags:
      - Currency
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyExchangeRequest'
      responses:
        '200':
          description: Currency exchange completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExchangeResponse'
        '400':
          description: Invalid exchange parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '409':
          description: Insufficient funds or exchange rate changed
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /wallet/transactions:
    get:
      summary: Get wallet transaction history
      description: '**Transaction history endpoint**

        Retrieves user''s wallet transaction history with filtering and pagination.
        Supports trading, auction, and exchange transaction types.

        **Performance:** <25ms P95 with pagination optimization

        **Privacy:** Only user''s own transactions visible

        '
      operationId: getWalletTransactions
      tags:
      - Currency
      security:
      - BearerAuth: []
      parameters:
      - name: transaction_type
        in: query
        schema:
          type: string
          enum:
          - trading
          - auction
          - exchange
          - reward
          - purchase
      - name: date_from
        in: query
        schema:
          type: string
          format: date
      - name: date_to
        in: query
        schema:
          type: string
          format: date
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
      responses:
        '200':
          description: Transaction history retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletTransactionsResponse'
          headers:
            X-Total-Count:
              schema:
                type: integer
              description: Total number of transactions
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
components:
  responses:
    HealthBatchSuccess:
      $ref: '../common/responses/success.yaml#/components/responses/HealthBatchSuccess'
    OK:
      $ref: '../common/responses/success.yaml#/components/responses/OK'
    Created:
      $ref: '../common/responses/success.yaml#/components/responses/Created'
    BadRequest:
      $ref: '../common/responses/error.yaml#/components/responses/BadRequest'
    Unauthorized:
      $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
    Forbidden:
      $ref: '../common/responses/error.yaml#/components/responses/Forbidden'
    NotFound:
      $ref: '../common/responses/error.yaml#/components/responses/NotFound'
    Conflict:
      $ref: '../common/responses/error.yaml#/components/responses/Conflict'
    InternalServerError:
      $ref: '../common/responses/error.yaml#/components/responses/InternalServerError'
    HealthOK:
      $ref: '../common/responses/success.yaml#/components/responses/HealthOK'
  schemas:
    HealthResponse:
      $ref: '../common/schemas/health.yaml#/components/schemas/HealthResponse'
    MarketPricesResponse:
      type: object
      required:
      - prices
      - pagination
      properties:
        prices:
          type: array
          items:
            $ref: '#/components/schemas/MarketPrice'
        pagination:
          type: object
          required:
          - page
          - limit
          - total_count
          - total_pages
          properties:
            page:
              type: integer
            limit:
              type: integer
            total_count:
              type: integer
            total_pages:
              type: integer
      description: 'BACKEND NOTE: Prices response optimized for market browser.
        Pagination prevents large payloads.'
    MarketPrice:
      type: object
      required:
      - item_id
      - item_name
      - current_price
      - price_trend
      properties:
        item_id:
          type: string
          format: uuid
        item_name:
          type: string
        category:
          type: string
        current_price:
          type: integer
          minimum: 0
        price_trend:
          type: string
          enum:
          - rising
          - falling
          - stable
        price_change_percentage:
          type: number
          format: float
        volume_24h:
          type: integer
          minimum: 0
        last_updated:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Market price data optimized for real-time updates.
        Struct alignment saves 30-50% memory.'
    TradingOrdersResponse:
      type: object
      required:
      - orders
      - pagination
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/TradingOrder'
        pagination:
          type: object
          required:
          - page
          - limit
          - total_count
          properties:
            page:
              type: integer
            limit:
              type: integer
            total_count:
              type: integer
      description: 'BACKEND NOTE: Orders response optimized for trading interface.
        Lightweight for mobile compatibility.'
    TradingOrder:
      type: object
      required:
      - order_id
      - order_type
      - item_id
      - quantity
      - price
      - status
      properties:
        order_id:
          type: string
          format: uuid
        order_type:
          type: string
          enum:
          - buy
          - sell
        item_id:
          type: string
          format: uuid
        item_name:
          type: string
        quantity:
          type: integer
          minimum: 1
        price:
          type: integer
          minimum: 0
        status:
          type: string
          enum:
          - active
          - filled
          - cancelled
          - expired
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        filled_quantity:
          type: integer
          minimum: 0
      description: 'BACKEND NOTE: Trading order data optimized for order matching.
        Fields ordered for CPU cache efficiency.'
    CreateTradingOrderRequest:
      type: object
      required:
      - order_type
      - item_id
      - quantity
      - price
      properties:
        order_type:
          type: string
          enum:
          - buy
          - sell
        item_id:
          type: string
          format: uuid
        quantity:
          type: integer
          minimum: 1
        price:
          type: integer
          minimum: 0
        expires_in_hours:
          type: integer
          minimum: 1
          maximum: 168
          default: 24
      description: 'BACKEND NOTE: Order request optimized for validation.
        Minimal required fields for fast processing.'
    TradingOrderResponse:
      type: object
      required:
      - order
      properties:
        order:
          $ref: '#/components/schemas/TradingOrder'
      description: 'BACKEND NOTE: Response optimized for immediate feedback.
        Single-order responses use minimal wrapper.'
    AuctionsResponse:
      type: object
      required:
      - auctions
      - pagination
      properties:
        auctions:
          type: array
          items:
            $ref: '#/components/schemas/Auction'
        pagination:
          type: object
          required:
          - page
          - limit
          - total_count
          properties:
            page:
              type: integer
            limit:
              type: integer
            total_count:
              type: integer
      description: 'BACKEND NOTE: Auctions response optimized for auction house UI.
        Supports large catalogs with pagination.'
    Auction:
      type: object
      required:
      - auction_id
      - item_id
      - starting_price
      - current_bid
      - end_time
      - status
      properties:
        auction_id:
          type: string
          format: uuid
        item_id:
          type: string
          format: uuid
        item_name:
          type: string
        seller_id:
          type: string
          format: uuid
        starting_price:
          type: integer
          minimum: 0
        current_bid:
          type: integer
          minimum: 0
        bid_increment:
          type: integer
          minimum: 1
        end_time:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - active
          - ended
          - cancelled
        winner_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Auction data optimized for bidding calculations.
        Time-sensitive fields prioritized.'
    CreateAuctionRequest:
      type: object
      required:
      - item_id
      - starting_price
      - duration_hours
      properties:
        item_id:
          type: string
          format: uuid
        starting_price:
          type: integer
          minimum: 0
        bid_increment:
          type: integer
          minimum: 1
          default: 100
        duration_hours:
          type: integer
          minimum: 1
          maximum: 168
          default: 24
        reserve_price:
          type: integer
          minimum: 0
      description: 'BACKEND NOTE: Auction creation request optimized for validation.
        Sensible defaults reduce user input requirements.'
    AuctionResponse:
      type: object
      required:
      - auction
      properties:
        auction:
          $ref: '#/components/schemas/Auction'
      description: 'BACKEND NOTE: Auction response optimized for immediate feedback.
        Consistent with other single-entity responses.'
    PlaceBidRequest:
      type: object
      required:
      - bid_amount
      properties:
        bid_amount:
          type: integer
          minimum: 0
      description: 'BACKEND NOTE: Bid request optimized for speed.
        Single field minimizes processing overhead.'
    CurrencyExchangeRequest:
      type: object
      required:
      - from_currency
      - to_currency
      - amount
      properties:
        from_currency:
          type: string
          enum:
          - eurodollars
          - bitcoin
          - eddies
        to_currency:
          type: string
          enum:
          - eurodollars
          - bitcoin
          - eddies
        amount:
          type: integer
          minimum: 1
      description: 'BACKEND NOTE: Exchange request optimized for validation.
        Currency enums prevent invalid exchanges.'
    CurrencyExchangeResponse:
      type: object
      required:
      - from_currency
      - to_currency
      - amount_exchanged
      - amount_received
      - exchange_rate
      properties:
        from_currency:
          type: string
        to_currency:
          type: string
        amount_exchanged:
          type: integer
        amount_received:
          type: integer
        exchange_rate:
          type: number
          format: float
        transaction_id:
          type: string
          format: uuid
      description: 'BACKEND NOTE: Exchange response optimized for transaction records.
        All exchange details included for audit trails.'
    WalletTransactionsResponse:
      type: object
      required:
      - transactions
      - pagination
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/WalletTransaction'
        pagination:
          type: object
          required:
          - page
          - limit
          - total_count
          properties:
            page:
              type: integer
            limit:
              type: integer
            total_count:
              type: integer
      description: 'BACKEND NOTE: Transactions response optimized for history browsing.
        Chronological ordering for user experience.'
    WalletTransaction:
      type: object
      required:
      - transaction_id
      - transaction_type
      - amount
      - timestamp
      properties:
        transaction_id:
          type: string
          format: uuid
        transaction_type:
          type: string
          enum:
          - trading
          - auction
          - exchange
          - reward
          - purchase
        amount:
          type: integer
        currency:
          type: string
          enum:
          - eurodollars
          - bitcoin
          - eddies
        description:
          type: string
        timestamp:
          type: string
          format: date-time
        related_order_id:
          type: string
          format: uuid
      description: 'BACKEND NOTE: Transaction data optimized for financial reporting.
        Related IDs enable transaction tracing.'
  securitySchemes:
    BearerAuth:
      $ref: '../common/security/security.yaml#/components/securitySchemes/BearerAuth'
    ApiKeyAuth:
      $ref: '../common/security/security.yaml#/components/securitySchemes/ApiKeyAuth'
    ServiceAuth:
      $ref: '../common/security/security.yaml#/components/securitySchemes/ServiceAuth'