openapi: 3.0.3
info:
  title: Visual Quest Map API
  description: |
    API для визуальной карты квестов NECPGAME.
    Полная карта Night City, Badlands, Cyberspace с квестами, фракциями, концовками, ветвлениями.
    
    **Основано на:**
    - Visual Quest Map (607 строк)
    - Night City (8 районов)
    - Badlands (3 зоны)
    - Cyberspace
    - 14 фракций
    
    **Регионы:**
    - Night City: Watson, Westbrook, City Center, Heywood, Pacifica, Santo Domingo, Japantown, North Oak
    - Badlands: Rocky Ridge, Desert Wastes, Old Mines
    - Cyberspace: Data Fortress, Neural Networks, Blackwall Zone
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support

  x-microservice:
    name: narrative-service
    port: 8087
    domain: narrative
    base-path: /api/v1/narrative
    package: com.necpgame.narrativeservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Quest Map
    description: Визуальная карта квестов
  - name: Visual Navigation
    description: Навигация по карте квестов
  - name: Quest Discovery
    description: Поиск и открытие квестов

paths:
  /narrative/quest-map:
    get:
      tags:
        - Quest Map
      summary: Получить полную карту квестов
      description: |
        Возвращает complete quest map для NECPGAME:
        - Night City (8 районов)
        - Badlands (3 зоны)
        - Cyberspace
        - Faction quests (14 фракций)
        - Romance quests
        - World events
      operationId: getQuestMap
      parameters:
        - name: region
          in: query
          description: Фильтр по региону
          schema:
            type: string
            enum: ["night_city", "badlands", "cyberspace", "all"]
            default: "all"
        - name: faction_id
          in: query
          description: Фильтр по фракции
          schema:
            type: string
        - name: include_hidden
          in: query
          description: Включить скрытые квесты
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Quest map загружена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestMapResponse'
              example:
                regions:
                  - region_name: "night_city"
                    districts:
                      - district_id: "watson"
                        district_name: "Watson"
                        main_quests: 15
                        side_quests: 42
                  - region_name: "badlands"
                    zones: 3
                  - region_name: "cyberspace"
                    data_fortresses: 5
                factions:
                  - faction_id: "arasaka"
                    quest_chains: 8
                total_quests: 357
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /narrative/quest-map/districts/{district_id}:
    get:
      tags:
        - Quest Map
      summary: Получить квесты района
      description: |
        Возвращает все квесты определенного района Night City.
        Включает main quests, side quests, gigs, NCPD scanners.
      operationId: getDistrictQuests
      parameters:
        - name: district_id
          in: path
          required: true
          schema:
            type: string
            enum: [
              "watson",
              "westbrook",
              "city_center",
              "heywood",
              "pacifica",
              "santo_domingo",
              "japantown",
              "north_oak"
            ]
      responses:
        '200':
          description: District quests загружены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictQuestsResponse'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /narrative/quest-map/factions/{faction_id}:
    get:
      tags:
        - Quest Map
      summary: Получить quest chain фракции
      description: |
        Возвращает quest chain определенной фракции.
        Включает все возможные концовки и ветвления.
      operationId: getFactionQuests
      parameters:
        - name: faction_id
          in: path
          required: true
          schema:
            type: string
            enum: [
              "arasaka",
              "militech",
              "netwatch",
              "voodoo_boys",
              "aldecaldos",
              "maelstrom",
              "valentinos",
              "tyger_claws",
              "6th_street",
              "mox",
              "animals",
              "scavengers",
              "corpo_factions",
              "fixers"
            ]
      responses:
        '200':
          description: Faction quests загружены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactionQuestsResponse'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /narrative/quest-map/player/{player_id}/available:
    get:
      tags:
        - Quest Discovery
      summary: Получить доступные квесты игрока
      description: |
        Возвращает квесты доступные конкретному игроку
        на основе его прогресса, уровня, репутации.
      operationId: getAvailableQuests
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
        - name: filter_by_region
          in: query
          description: Фильтр по региону
          schema:
            type: string
            enum: ["night_city", "badlands", "cyberspace"]
        - name: filter_by_level
          in: query
          description: Фильтр по уровню
          schema:
            type: integer
            minimum: 1
            maximum: 60
        - name: filter_by_type
          in: query
          description: Тип квеста
          schema:
            type: string
            enum: ["main", "side", "gig", "faction", "romance", "ncpd"]
      responses:
        '200':
          description: Available quests загружены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableQuestsResponse'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /narrative/quest-map/connections:
    get:
      tags:
        - Visual Navigation
      summary: Получить quest connections
      description: |
        Возвращает связи между квестами (prerequisites, unlocks).
        Для визуализации quest flow chart.
      operationId: getQuestConnections
      parameters:
        - name: quest_id
          in: query
          description: ID квеста для получения его связей
          schema:
            type: string
        - name: depth
          in: query
          description: Глубина связей (1-5)
          schema:
            type: integer
            minimum: 1
            maximum: 5
            default: 2
      responses:
        '200':
          description: Quest connections загружены
          content:
            application/json:
              schema:
                type: object
                properties:
                  quest_id:
                    type: string
                  connections:
                    type: array
                    items:
                      $ref: '#/components/schemas/QuestConnection'
                  graph:
                    type: object
                    description: Graph data для визуализации
                    properties:
                      nodes:
                        type: array
                        items:
                          type: object
                      edges:
                        type: array
                        items:
                          type: object

  /narrative/quest-map/search:
    get:
      tags:
        - Quest Discovery
      summary: Поиск квестов
      description: |
        Поиск квестов по различным критериям:
        - Название
        - Quest giver
        - Район/локация
        - Фракция
        - Уровень
      operationId: searchQuests
      parameters:
        - name: query
          in: query
          description: Поисковый запрос
          schema:
            type: string
        - name: quest_giver
          in: query
          description: NPC quest giver
          schema:
            type: string
        - name: location
          in: query
          description: Локация
          schema:
            type: string
        - name: min_level
          in: query
          schema:
            type: integer
        - name: max_level
          in: query
          schema:
            type: integer
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/QuestNode'

components:
  schemas:
    QuestMapResponse:
      type: object
      properties:
        regions:
          type: array
          items:
            $ref: '#/components/schemas/RegionMap'
        factions:
          type: array
          description: Faction quest chains
          items:
            type: object
            properties:
              faction_id:
                type: string
              faction_name:
                type: string
              quest_chains:
                type: integer
              total_quests:
                type: integer
        romance_quests:
          type: array
          description: Romance quest chains
          items:
            type: object
            properties:
              npc_id:
                type: string
              npc_name:
                type: string
              quest_chain_length:
                type: integer
        world_events:
          type: array
          description: World events
          items:
            type: string
        total_quests:
          type: integer
          description: Общее количество квестов
          example: 357
        map_metadata:
          type: object
          properties:
            last_updated:
              type: string
              format: date-time
            version:
              type: string

    RegionMap:
      type: object
      required:
        - region_name
      properties:
        region_name:
          type: string
          enum: ["night_city", "badlands", "cyberspace"]
        districts:
          type: array
          description: Для Night City
          items:
            type: object
            properties:
              district_id:
                type: string
              district_name:
                type: string
              main_quests:
                type: integer
              side_quests:
                type: integer
              gigs:
                type: integer
              ncpd_scanners:
                type: integer
        zones:
          type: array
          description: Для Badlands
          items:
            type: object
            properties:
              zone_id:
                type: string
              zone_name:
                type: string
              quests:
                type: integer
        data_fortresses:
          type: array
          description: Для Cyberspace
          items:
            type: object
            properties:
              fortress_id:
                type: string
              fortress_name:
                type: string
              netrunner_quests:
                type: integer
        quest_chains:
          type: array
          description: Quest chains в регионе
          items:
            type: object
            properties:
              chain_id:
                type: string
              chain_name:
                type: string
              quests_count:
                type: integer
        connections:
          type: array
          description: Связи с другими регионами
          items:
            type: string

    DistrictQuestsResponse:
      type: object
      properties:
        district_id:
          type: string
        district_name:
          type: string
        region:
          type: string
          example: "night_city"
        main_quests:
          type: array
          items:
            $ref: '#/components/schemas/QuestNode'
        side_quests:
          type: array
          items:
            $ref: '#/components/schemas/QuestNode'
        gigs:
          type: array
          items:
            $ref: '#/components/schemas/QuestNode'
        ncpd_scanners:
          type: array
          items:
            type: object
            properties:
              scanner_id:
                type: string
              location:
                type: string
              threat_level:
                type: string
                enum: ["low", "medium", "high", "very_high"]
        total_quests:
          type: integer

    FactionQuestsResponse:
      type: object
      properties:
        faction_id:
          type: string
        faction_name:
          type: string
        faction_description:
          type: string
        quest_chain:
          type: array
          items:
            $ref: '#/components/schemas/QuestNode'
        endings:
          type: array
          description: Возможные концовки quest chain
          items:
            type: object
            properties:
              ending_id:
                type: string
              ending_name:
                type: string
              description:
                type: string
              requirements:
                type: array
                items:
                  type: string
        reputation_rewards:
          type: array
          items:
            type: object
            properties:
              faction:
                type: string
              reputation_change:
                type: integer

    QuestNode:
      type: object
      required:
        - quest_id
        - name
      properties:
        quest_id:
          type: string
          example: "MQ-001"
        name:
          type: string
          example: "The Rescue"
        quest_type:
          type: string
          enum: ["main", "side", "gig", "faction", "romance", "ncpd", "world_event"]
        level:
          type: integer
          description: Рекомендуемый уровень
          minimum: 1
          maximum: 60
        prerequisites:
          type: array
          description: Quest IDs prerequisites
          items:
            type: string
        location:
          type: object
          properties:
            region:
              type: string
            district:
              type: string
            coordinates:
              type: object
              properties:
                x:
                  type: number
                y:
                  type: number
        quest_giver:
          type: object
          properties:
            npc_id:
              type: string
            npc_name:
              type: string
        rewards:
          type: object
          properties:
            experience:
              type: integer
            street_cred:
              type: integer
            money:
              type: integer
            items:
              type: array
              items:
                type: string
        branches:
          type: array
          description: Возможные ветвления
          items:
            type: string
        unlocks:
          type: array
          description: Квесты, которые разблокирует
          items:
            type: string

    QuestConnection:
      type: object
      required:
        - from_quest_id
        - to_quest_id
        - connection_type
      properties:
        from_quest_id:
          type: string
        to_quest_id:
          type: string
        connection_type:
          type: string
          enum: [
            "prerequisite",
            "unlocks",
            "branches_to",
            "alternative_to",
            "parallel_with"
          ]
        condition:
          type: string
          description: Условие для активации связи
        condition_type:
          type: string
          enum: [
            "quest_completed",
            "choice_made",
            "reputation_threshold",
            "level_requirement"
          ]

    AvailableQuestsResponse:
      type: object
      properties:
        player_id:
          type: string
        current_level:
          type: integer
        available_quests:
          type: array
          description: Квесты доступные сейчас
          items:
            $ref: '#/components/schemas/QuestNode'
        recommended_quests:
          type: array
          description: Рекомендуемые квесты
          items:
            $ref: '#/components/schemas/QuestNode'
        upcoming_quests:
          type: array
          description: Квесты скоро доступные
          items:
            type: object
            properties:
              quest:
                $ref: '#/components/schemas/QuestNode'
              missing_prerequisites:
                type: array
                items:
                  type: string
        total_available:
          type: integer
        filters_applied:
          type: object
          additionalProperties: true

security:
  - BearerAuth: []


