openapi: 3.0.3
info:
  title: Wallet Service API
  description: 'Enterprise-grade Wallet Management System  NECPGAME .


    ## 🎯 **Wallet Service Overview**


    Wallet Service NECPGAME  enterprise-grade   .


    ### ** **

    - **Multi-Currency Support**:

    - **Wallet Creation**:

    - **Balance Management**:

    - **Transaction History**:


    ### ** **

    - **Primary Wallet**:

    - **Currency-Specific**:

    - **Bonus Wallets**:

    - **Savings Wallets**:


    ### ** **

    - **Auto-Conversion**:

    - **Wallet Linking**:

    - **Security Features**:

    - **Analytics**:


    ## 📊 **Performance Targets**

    - **P99 Latency**: <20ms

    - **Throughput**: 150,000+ wallet operations/second

    - **Concurrent Users**: 500,000+

    - **Wallet Volume**: 5M+


    ## 🔐 **Security**

    - JWT RS256

    - Rate limiting

    - Input validation  sanitization

    - Audit logging

    '
  version: 1.0.0
  contact:
    name: NECPGAME Platform Team
    email: platform@necpgame.com
  license:
    name: Proprietary
    url: https://necpgame.com/license
servers:
- url: https://wallet.necpgame.com/api/v1
  description: Production Environment
- url: https://wallet-staging.necpgame.com/api/v1
  description: Staging Environment
- url: http://localhost:8080/api/v1
  description: Local Development
security:
- BearerAuth: []
tags:
- name: Wallet Management
  description: null
- name: Balance Operations
  description: null
- name: Transaction History
  description: null
- name: Currency Conversion
  description: null
- name: Security
  description: null
- name: Analytics
  description: null
- name: Health
  description: null
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /wallets:
    $ref: ./paths/wallets.yaml#/paths/~1wallets
  /wallets/{walletId}:
    $ref: ./paths/wallets-{walletId}.yaml#/paths/~1wallets~1{walletId}
  /wallets/{walletId}/balance:
    $ref: ./paths/wallets-{walletId}-balance.yaml#/paths/~1wallets~1{walletId}~1balance
  /wallets/{walletId}/deposit:
    $ref: ./paths/wallets-{walletId}-deposit.yaml#/paths/~1wallets~1{walletId}~1deposit
  /wallets/{walletId}/withdraw:
    $ref: ./paths/wallets-{walletId}-withdraw.yaml#/paths/~1wallets~1{walletId}~1withdraw
  /wallets/{walletId}/transfer:
    $ref: ./paths/wallets-{walletId}-transfer.yaml#/paths/~1wallets~1{walletId}~1transfer
  /wallets/{walletId}/transactions:
    $ref: ./paths/wallets-{walletId}-transactions.yaml#/paths/~1wallets~1{walletId}~1transactions
  /wallets/conversion:
    $ref: ./paths/wallets-conversion.yaml#/paths/~1wallets~1conversion
  /wallets/auto-conversion:
    $ref: ./paths/wallets-auto-conversion.yaml#/paths/~1wallets~1auto-conversion
  /wallets/{walletId}/link:
    $ref: ./paths/wallets-{walletId}-link.yaml#/paths/~1wallets~1{walletId}~1link
  /wallets/{walletId}/security:
    $ref: ./paths/wallets-{walletId}-security.yaml#/paths/~1wallets~1{walletId}~1security
  /players/{playerId}/wallets/summary:
    $ref: ./paths/players-{playerId}-wallets-summary.yaml#/paths/~1players~1{playerId}~1wallets~1summary
  /wallets/analytics/spending:
    $ref: ./paths/wallets-analytics-spending.yaml#/paths/~1wallets~1analytics~1spending
components:
  schemas:
    CharacterEntity:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/CharacterEntity
    BaseEntity:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/BaseEntity
    OptimisticLock:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/OptimisticLock
    ErrorResponse:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/ErrorResponse
    HealthResponse:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/HealthResponse
    HealthBatchRequest:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/HealthBatchRequest
    HealthBatchResponse:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/HealthBatchResponse
    WalletEntity:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/WalletEntity
    WalletTransactionEntity:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/WalletTransactionEntity
    CreateWalletRequest:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/CreateWalletRequest
    UpdateWalletRequest:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/UpdateWalletRequest
    WalletResponse:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/WalletResponse
    WalletListResponse:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/WalletListResponse
    WalletBalanceResponse:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/WalletBalanceResponse
    DepositRequest:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/DepositRequest
    DepositResponse:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/DepositResponse
    WithdrawRequest:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/WithdrawRequest
    WithdrawResponse:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/WithdrawResponse
    TransferRequest:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/TransferRequest
    TransferResponse:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/TransferResponse
    WalletTransactionHistoryResponse:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/WalletTransactionHistoryResponse
    ConversionRequest:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/ConversionRequest
    ConversionResponse:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/ConversionResponse
    AutoConversionRequest:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/AutoConversionRequest
    AutoConversionResponse:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/AutoConversionResponse
    LinkWalletsRequest:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/LinkWalletsRequest
    LinkWalletsResponse:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/LinkWalletsResponse
    WalletSecurityResponse:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/WalletSecurityResponse
    UpdateSecurityRequest:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/UpdateSecurityRequest
    PlayerWalletsSummaryResponse:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/PlayerWalletsSummaryResponse
    SpendingAnalyticsResponse:
      $ref: ./schemas/wallet-service-schemas.yaml#/components/schemas/SpendingAnalyticsResponse
  responses: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
