openapi: 3.0.3
info:
  title: Wallet Service API
  description: 'Enterprise-grade Wallet Management System  NECPGAME .


    ## 🎯 **Wallet Service Overview**


    Wallet Service       
    NECPGAME  enterprise-grade   .


    ### ** **

    - **Multi-Currency Support**:   

    - **Wallet Creation**:    

    - **Balance Management**:  

    - **Transaction History**:  


    ### ** **

    - **Primary Wallet**:   

    - **Currency-Specific**:  

    - **Bonus Wallets**:   

    - **Savings Wallets**:  


    ### ** **

    - **Auto-Conversion**:   

    - **Wallet Linking**:  

    - **Security Features**:    

    - **Analytics**:    


    ## 📊 **Performance Targets**

    - **P99 Latency**: <20ms    

    - **Throughput**: 150,000+ wallet operations/second

    - **Concurrent Users**: 500,000+  

    - **Wallet Volume**: 5M+  


    ## 🔐 **Security**

    - JWT RS256 

    - Rate limiting   

    - Input validation  sanitization

    - Audit logging  

    '
  version: 1.0.0
  contact:
    name: NECPGAME Platform Team
    email: platform@necpgame.com
  license:
    name: Proprietary
    url: https://necpgame.com/license
servers:
- url: https://wallet.necpgame.com/api/v1
  description: Production Environment
- url: https://wallet-staging.necpgame.com/api/v1
  description: Staging Environment
- url: http://localhost:8080/api/v1
  description: Local Development
security:
- BearerAuth: []
tags:
- name: Wallet Management
  description:  
- name: Balance Operations
  description:   
- name: Transaction History
  description:  
- name: Currency Conversion
  description:  
- name: Security
  description:  
- name: Analytics
  description:  
- name: Health
  description:   
paths:
  /health:
    get:
      summary:   
      operationId: healthCheck
      tags:
      - Health
      responses:
        '200':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
  /health/batch:
    post:
      summary:   
      operationId: healthBatchCheck
      tags:
      - Health
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthBatchRequest'
      responses:
        '200':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthBatchResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
  /health/ws:
    get:
      summary: WebSocket  
      operationId: healthWebSocketCheck
      tags:
      - Health
      responses:
        '101':
          description: WebSocket  
        '503':
          description: WebSocket 
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
  /wallets:
    post:
      summary:  
      operationId: createWallet
      tags:
      - Wallet Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
      responses:
        '201':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
    get:
      summary:   
      operationId: getWallets
      tags:
      - Wallet Management
      parameters:
      - name: ownerId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: type
        in: query
        schema:
          type: string
          enum:
          - primary
          - currency
          - bonus
          - savings
          - investment
      - name: currency
        in: query
        schema:
          type: string
          enum:
          - eddies
          - eurobucks
          - credits
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - frozen
          - closed
          default: active
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletListResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
  /wallets/{walletId}:
    get:
      summary:    
      operationId: getWallet
      tags:
      - Wallet Management
      parameters:
      - name: walletId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletResponse'
        '404':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
    put:
      summary:  
      operationId: updateWallet
      tags:
      - Wallet Management
      parameters:
      - name: walletId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWalletRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletResponse'
        '403':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
    delete:
      summary:  
      operationId: closeWallet
      tags:
      - Wallet Management
      parameters:
      - name: walletId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletResponse'
        '403':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
  /wallets/{walletId}/balance:
    get:
      summary:   
      operationId: getWalletBalance
      tags:
      - Balance Operations
      parameters:
      - name: walletId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletBalanceResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
  /wallets/{walletId}/deposit:
    post:
      summary:  
      operationId: depositToWallet
      tags:
      - Balance Operations
      parameters:
      - name: walletId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
  /wallets/{walletId}/withdraw:
    post:
      summary:    
      operationId: withdrawFromWallet
      tags:
      - Balance Operations
      parameters:
      - name: walletId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
  /wallets/{walletId}/transfer:
    post:
      summary:   
      operationId: transferBetweenWallets
      tags:
      - Balance Operations
      parameters:
      - name: walletId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
  /wallets/{walletId}/transactions:
    get:
      summary:   
      operationId: getWalletTransactions
      tags:
      - Transaction History
      parameters:
      - name: walletId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: type
        in: query
        schema:
          type: string
          enum:
          - deposit
          - withdraw
          - transfer
          - conversion
          - fee
          - all
          default: all
      - name: startDate
        in: query
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        schema:
          type: string
          format: date
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletTransactionHistoryResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
  /wallets/conversion:
    post:
      summary:  
      operationId: convertCurrency
      tags:
      - Currency Conversion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversionRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
  /wallets/auto-conversion:
    post:
      summary:  -
      operationId: setupAutoConversion
      tags:
      - Currency Conversion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoConversionRequest'
      responses:
        '200':
          description: - 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoConversionResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
  /wallets/{walletId}/link:
    post:
      summary:  
      operationId: linkWallets
      tags:
      - Wallet Management
      parameters:
      - name: walletId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkWalletsRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkWalletsResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
  /wallets/{walletId}/security:
    get:
      summary:   
      operationId: getWalletSecurity
      tags:
      - Security
      parameters:
      - name: walletId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletSecurityResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
    put:
      summary:   
      operationId: updateWalletSecurity
      tags:
      - Security
      parameters:
      - name: walletId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSecurityRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletSecurityResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
  /players/{playerId}/wallets/summary:
    get:
      summary:    
      operationId: getPlayerWalletsSummary
      tags:
      - Wallet Management
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerWalletsSummaryResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
  /wallets/analytics/spending:
    get:
      summary:  
      operationId: getSpendingAnalytics
      tags:
      - Analytics
      parameters:
      - name: playerId
        in: query
        schema:
          type: string
          format: uuid
      - name: period
        in: query
        schema:
          type: string
          enum:
          - daily
          - weekly
          - monthly
          - yearly
          default: monthly
      - name: category
        in: query
        schema:
          type: string
          enum:
          - weapons
          - armor
          - cyberware
          - consumables
          - services
          - misc
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingAnalyticsResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: #/components/schemas/ErrorResponse
components:
  schemas:

    # Health Check Response
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          enum: [ok, degraded, critical]
          example: ok
        message:
          type: string
          example: "Service is healthy"
        timestamp:
          type: string
          format: date-time

    # Error Response
    ErrorResponse:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          example: 400
        message:
          type: string
          example: "Bad request"

    # Base Entity
    BaseEntity:
      type: object
      required:
        - id
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CharacterEntity:
      $ref: '#/components/schemas/BaseEntity'
    BaseEntity:
      $ref: '#/components/schemas/BaseEntity'
    OptimisticLock:
      $ref: '#/components/schemas/OptimisticLock'
    ErrorResponse:
      $ref: '#/components/schemas/ErrorResponse'
    HealthResponse:
      $ref: '#/components/schemas/HealthResponse'
    HealthBatchRequest:
      $ref: '#/components/schemas/HealthBatchRequest'
    HealthBatchResponse:
      $ref: '#/components/schemas/HealthBatchResponse'
    WalletEntity:
      type: object
      description:  
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        required:
        - ownerId
        - type
        - currency
        properties:
          ownerId:
            type: string
            description: ID  
            format: uuid
            example: 123e4567-e89b-12d3-a456-426614174000
          type:
            type: string
            description:  
            enum:
            - primary
            - currency
            - bonus
            - savings
            - investment
            example: primary
          currency:
            type: string
            description:  
            enum:
            - eddies
            - eurobucks
            - credits
            example: eddies
          balance:
            type: number
            description:  
            minimum: 0
            example: 50000.5
          availableBalance:
            type: number
            description: Available balance
            minimum: 0
            example: 49500.5
          status:
            type: string
            description: Wallet status
            enum:
            - active
            - frozen
            - closed
            example: active
          linkedWallets:
            type: array
            description:  
            items:
              type: string
              format: uuid
          autoConversionEnabled:
            type: boolean
            description: - 
            default: false
          autoConversionSettings:
            type: object
            description:  -
            properties:
              targetCurrency:
                type: string
                enum:
                - eddies
                - eurobucks
                - credits
              threshold:
                type: number
                minimum: 0
              convertAbove:
                type: boolean
                default: true
          securityLevel:
            type: string
            description:  
            enum:
            - standard
            - enhanced
            - maximum
            example: standard
          dailyLimits:
            type: object
            description:  
            properties:
              withdrawal:
                type: number
                minimum: 0
                example: 10000
              transfer:
                type: number
                minimum: 0
                example: 50000
          lastActivity:
            type: string
            description: Last activity timestamp
            format: date-time
          $ref: '#/components/schemas/OptimisticLock'
    WalletTransactionEntity:
      type: object
      description:  
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        required:
        - walletId
        - type
        - amount
        - currency
        properties:
          walletId:
            type: string
            description: ID 
            format: uuid
          type:
            type: string
            description:  
            enum:
            - deposit
            - withdraw
            - transfer
            - conversion
            - fee
            - bonus
            - purchase
            example: deposit
          amount:
            type: number
            description:  
            example: 1000.0
          currency:
            type: string
            description: 
            enum:
            - eddies
            - eurobucks
            - credits
            example: eddies
          balanceBefore:
            type: number
            description:   
            minimum: 0
          balanceAfter:
            type: number
            description:   
            minimum: 0
          description:
            type: string
            description:  
            maxLength: 255
            example: Purchase of cyberware upgrade
          referenceId:
            type: string
            description:  ID ( )
            format: uuid
          category:
            type: string
            description:  
            enum:
            - weapons
            - armor
            - cyberware
            - consumables
            - services
            - transfers
            - misc
            example: cyberware
          location:
            type: string
            description:  
            maxLength: 100
          processedAt:
            type: string
            description:  
            format: date-time
          $ref: '#/components/schemas/OptimisticLock'
    CreateWalletRequest:
      type: object
      required:
      - ownerId
      - type
      - currency
      properties:
        ownerId:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - primary
          - currency
          - bonus
          - savings
          - investment
        currency:
          type: string
          enum:
          - eddies
          - eurobucks
          - credits
        initialBalance:
          type: number
          minimum: 0
          default: 0
        autoConversionEnabled:
          type: boolean
          default: false
        securityLevel:
          type: string
          enum:
          - standard
          - enhanced
          - maximum
          default: standard
    UpdateWalletRequest:
      type: object
      properties:
        autoConversionEnabled:
          type: boolean
        autoConversionSettings:
          type: object
          properties:
            targetCurrency:
              type: string
              enum:
              - eddies
              - eurobucks
              - credits
            threshold:
              type: number
              minimum: 0
            convertAbove:
              type: boolean
        securityLevel:
          type: string
          enum:
          - standard
          - enhanced
          - maximum
        dailyLimits:
          type: object
          properties:
            withdrawal:
              type: number
              minimum: 0
            transfer:
              type: number
              minimum: 0
    WalletResponse:
      type: object
      properties:
        wallet:
          $ref: '#/components/schemas/WalletEntity'
        metadata:
          type: object
          properties:
            createdAt:
              type: string
              format: date-time
            lastTransaction:
              type: string
              format: date-time
    WalletListResponse:
      type: object
      properties:
        wallets:
          type: array
          items:
            $ref: '#/components/schemas/WalletEntity'
        summary:
          type: object
          properties:
            totalWallets:
              type: integer
              minimum: 0
            totalBalance:
              type: number
              minimum: 0
            currencies:
              type: object
              additionalProperties:
                type: number
                minimum: 0
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 50
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean
    WalletBalanceResponse:
      type: object
      properties:
        walletId:
          type: string
          format: uuid
        balance:
          type: number
          minimum: 0
        availableBalance:
          type: number
          minimum: 0
        currency:
          type: string
        pendingTransactions:
          type: integer
          minimum: 0
        lastUpdated:
          type: string
          format: date-time
    DepositRequest:
      type: object
      required:
      - amount
      - source
      properties:
        amount:
          type: number
          minimum: 0.01
        source:
          type: string
          enum:
          - game_earnings
          - marketplace_sale
          - quest_reward
          - achievement_bonus
          - admin_credit
          - external_deposit
        description:
          type: string
          maxLength: 255
        referenceId:
          type: string
          format: uuid
    DepositResponse:
      type: object
      properties:
        walletId:
          type: string
          format: uuid
        depositedAmount:
          type: number
        newBalance:
          type: number
        transactionId:
          type: string
          format: uuid
        processedAt:
          type: string
          format: date-time
    WithdrawRequest:
      type: object
      required:
      - amount
      - destination
      properties:
        amount:
          type: number
          minimum: 0.01
        destination:
          type: string
          enum:
          - game_purchase
          - marketplace_buy
          - item_upgrade
          - service_payment
          - external_withdrawal
        description:
          type: string
          maxLength: 255
    WithdrawResponse:
      type: object
      properties:
        walletId:
          type: string
          format: uuid
        withdrawnAmount:
          type: number
        fee:
          type: number
          minimum: 0
        newBalance:
          type: number
        transactionId:
          type: string
          format: uuid
        processedAt:
          type: string
          format: date-time
    TransferRequest:
      type: object
      required:
      - toWalletId
      - amount
      properties:
        toWalletId:
          type: string
          format: uuid
        amount:
          type: number
          minimum: 0.01
        description:
          type: string
          maxLength: 255
    TransferResponse:
      type: object
      properties:
        fromWalletId:
          type: string
          format: uuid
        toWalletId:
          type: string
          format: uuid
        transferredAmount:
          type: number
        fee:
          type: number
          minimum: 0
        transactionId:
          type: string
          format: uuid
        processedAt:
          type: string
          format: date-time
    WalletTransactionHistoryResponse:
      type: object
      properties:
        walletId:
          type: string
          format: uuid
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/WalletTransactionEntity'
        summary:
          type: object
          properties:
            totalTransactions:
              type: integer
              minimum: 0
            totalDeposits:
              type: number
              minimum: 0
            totalWithdrawals:
              type: number
              minimum: 0
            netChange:
              type: number
            periodStart:
              type: string
              format: date
            periodEnd:
              type: string
              format: date
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 100
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean
    ConversionRequest:
      type: object
      required:
      - fromWalletId
      - toWalletId
      - amount
      properties:
        fromWalletId:
          type: string
          format: uuid
        toWalletId:
          type: string
          format: uuid
        amount:
          type: number
          minimum: 0.01
    ConversionResponse:
      type: object
      properties:
        fromWalletId:
          type: string
          format: uuid
        toWalletId:
          type: string
          format: uuid
        convertedAmount:
          type: number
        receivedAmount:
          type: number
        exchangeRate:
          type: number
        fee:
          type: number
          minimum: 0
        transactionId:
          type: string
          format: uuid
        processedAt:
          type: string
          format: date-time
    AutoConversionRequest:
      type: object
      required:
      - walletId
      - targetCurrency
      - threshold
      properties:
        walletId:
          type: string
          format: uuid
        targetCurrency:
          type: string
          enum:
          - eddies
          - eurobucks
          - credits
        threshold:
          type: number
          minimum: 0
        convertAbove:
          type: boolean
          default: true
    AutoConversionResponse:
      type: object
      properties:
        walletId:
          type: string
          format: uuid
        autoConversionEnabled:
          type: boolean
        settings:
          type: object
          properties:
            targetCurrency:
              type: string
            threshold:
              type: number
            convertAbove:
              type: boolean
        updatedAt:
          type: string
          format: date-time
    LinkWalletsRequest:
      type: object
      required:
      - linkedWalletId
      - linkType
      properties:
        linkedWalletId:
          type: string
          format: uuid
        linkType:
          type: string
          enum:
          - transfer
          - conversion
          - backup
          default: transfer
    LinkWalletsResponse:
      type: object
      properties:
        walletId:
          type: string
          format: uuid
        linkedWalletId:
          type: string
          format: uuid
        linkType:
          type: string
        linkedAt:
          type: string
          format: date-time
    WalletSecurityResponse:
      type: object
      properties:
        walletId:
          type: string
          format: uuid
        securityLevel:
          type: string
          enum:
          - standard
          - enhanced
          - maximum
        twoFactorEnabled:
          type: boolean
        dailyLimits:
          type: object
          properties:
            withdrawal:
              type: number
            transfer:
              type: number
        recentSecurityEvents:
          type: array
          items:
            type: object
            properties:
              eventType:
                type: string
                enum:
                - login
                - failed_login
                - limit_exceeded
                - suspicious_activity
              timestamp:
                type: string
                format: date-time
              details:
                type: string
    UpdateSecurityRequest:
      type: object
      properties:
        securityLevel:
          type: string
          enum:
          - standard
          - enhanced
          - maximum
        twoFactorEnabled:
          type: boolean
        dailyLimits:
          type: object
          properties:
            withdrawal:
              type: number
              minimum: 0
            transfer:
              type: number
              minimum: 0
    PlayerWalletsSummaryResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        wallets:
          type: array
          items:
            $ref: '#/components/schemas/WalletEntity'
        totalBalance:
          type: object
          additionalProperties:
            type: number
            minimum: 0
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/WalletTransactionEntity'
          maxItems: 10
        walletStats:
          type: object
          properties:
            totalWallets:
              type: integer
              minimum: 0
            activeWallets:
              type: integer
              minimum: 0
            frozenWallets:
              type: integer
              minimum: 0
    SpendingAnalyticsResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        period:
          type: string
          enum:
          - daily
          - weekly
          - monthly
          - yearly
        totalSpent:
          type: number
          minimum: 0
        totalEarned:
          type: number
          minimum: 0
        netChange:
          type: number
        spendingByCategory:
          type: object
          additionalProperties:
            type: number
            minimum: 0
        topSpendingCategories:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
              amount:
                type: number
              percentage:
                type: number
                minimum: 0
                maximum: 100
        trends:
          type: object
          properties:
            spendingTrend:
              type: string
              enum:
              - increasing
              - decreasing
              - stable
            averageDailySpending:
              type: number
            comparisonToLastPeriod:
              type: number

