# Target Architecture:
# - Microservice: admin-service (port 8088)
# - API Base: /api/v1/admin/support
# - Dependencies: auth-service, account-service, notification-service, email-service, incident-service, analytics-service
# - Frontend Module: modules/admin/support (useAdminSupportStore)
# - UI: TicketListTable, TicketDetailsDrawer, TicketResponseEditor, SlaHeatmap, AgentAssignmentPanel
# - Forms: CreateTicketForm, AddResponseForm, AssignAgentForm, ResolveTicketForm, IncidentEscalationForm
# - Layouts: SupportDashboardLayout, AdminConsoleLayout
# - Hooks: useTicketFilters, useSlaMonitor, useNotificationBridge

openapi: 3.0.3
info:
  title: Support Ticket System API
  description: "Полный жизненный цикл тикетов поддержки NECPGAME: создание, ответы, назначение, SLA, аналитика и эскалации."
  version: 1.0.0
  x-microservice:
    name: admin-service
    port: 8088
    domain: admin
    base-path: /api/v1/admin
    package: com.necpgame.adminservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - { name: Tickets, description: CRUD и workflow тикетов }
  - { name: Responses, description: Ответы и вложения }
  - { name: Metrics, description: SLA и аналитика }
  - { name: Incidents, description: Эскалации и интеграция с incident-service }
paths:
  /admin/support/tickets:
    post:
      tags: [Tickets]
      summary: Создать тикет
      description: Создаёт тикет от игрока или агента, генерируя номер формата `NECPG-YYYYMMDD-XXXX`.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateTicketRequest' }
            examples:
              playerReport:
                value: { source: PLAYER, playerId: "player-91aa", category: "account", priority: medium, subject: "Не могу войти", description: "Ошибка на экране входа", platform: "windows", attachments: [{ filename: "error.png", mimeType: "image/png" }] }
      responses:
        '201': { description: Тикет создан, content: { application/json: { schema: { $ref: '#/components/schemas/CreateTicketResponse' } } } }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
    get:
      tags: [Tickets]
      summary: Получить список тикетов
      parameters:
        - { in: query, name: status, schema: { type: string, enum: [open, pending, on_hold, resolved, closed] } }
        - { in: query, name: priority, schema: { type: string, enum: [low, medium, high, critical] } }
        - { in: query, name: category, schema: { type: string } }
        - { in: query, name: agentId, schema: { type: string } }
        - { in: query, name: createdFrom, schema: { type: string, format: date-time } }
        - { in: query, name: createdTo, schema: { type: string, format: date-time } }
        - { in: query, name: search, schema: { type: string } }
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200': { description: Список тикетов, content: { application/json: { schema: { $ref: '#/components/schemas/TicketListResponse' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /admin/support/tickets/{ticketId}:
    get:
      tags: [Tickets]
      summary: Получить детали тикета
      parameters:
        - $ref: '#/components/parameters/TicketId'
      responses:
        '200': { description: Тикет, content: { application/json: { schema: { $ref: '#/components/schemas/SupportTicket' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
    patch:
      tags: [Tickets]
      summary: Обновить тикет
      parameters:
        - $ref: '#/components/parameters/TicketId'
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/UpdateTicketRequest' } } } }
      responses:
        '200': { description: Тикет обновлён, content: { application/json: { schema: { $ref: '#/components/schemas/SupportTicket' } } } }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
        '409': { description: Недопустимый переход статуса, content: { application/json: { schema: { $ref: '#/components/schemas/SupportTicketError' } } } }
  /admin/support/tickets/{ticketId}/responses:
    post:
      tags: [Responses]
      summary: Добавить ответ
      description: Добавляет ответ от игрока или агента. Внутренние заметки помечаются `isInternal`.
      parameters:
        - $ref: '#/components/parameters/TicketId'
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/AddResponseRequest' } } } }
      responses:
        '201': { description: Ответ добавлен, content: { application/json: { schema: { $ref: '#/components/schemas/TicketResponse' } } } }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /admin/support/tickets/{ticketId}/assign:
    post:
      tags: [Tickets]
      summary: Назначить агента
      parameters:
        - $ref: '#/components/parameters/TicketId'
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/AssignTicketRequest' } } } }
      responses:
        '202': { description: Агент назначен }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /admin/support/tickets/{ticketId}/resolve:
    post:
      tags: [Tickets]
      summary: Разрешить тикет
      parameters:
        - $ref: '#/components/parameters/TicketId'
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ResolveTicketRequest' } } } }
      responses:
        '202': { description: Тикет будет закрыт, content: { application/json: { schema: { $ref: '#/components/schemas/SupportTicket' } } } }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /admin/support/tickets/{ticketId}/reopen:
    post:
      tags: [Tickets]
      summary: Повторно открыть тикет
      parameters:
        - $ref: '#/components/parameters/TicketId'
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ReopenTicketRequest' } } } }
      responses:
        '202': { description: Тикет открыт снова }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /admin/support/tickets/{ticketId}/escalate:
    post:
      tags: [Tickets]
      summary: Эскалация тикета
      parameters:
        - $ref: '#/components/parameters/TicketId'
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/EscalateTicketRequest' } } } }
      responses:
        '202': { description: Эскалация инициирована }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /admin/support/tickets/{ticketId}/feedback:
    post:
      tags: [Tickets]
      summary: Сохранить оценку поддержки
      parameters:
        - $ref: '#/components/parameters/TicketId'
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/FeedbackRequest' } } } }
      responses:
        '201': { description: Feedback сохранён }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /admin/support/tickets/{ticketId}/attachments:
    post:
      tags: [Responses]
      summary: Загрузить вложение
      parameters:
        - $ref: '#/components/parameters/TicketId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema: { $ref: '#/components/schemas/UploadAttachmentRequest' }
      responses:
        '201': { description: Вложение загружено, content: { application/json: { schema: { $ref: '#/components/schemas/AttachmentMetadata' } } } }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '413': { description: Слишком большой файл, content: { application/json: { schema: { $ref: '#/components/schemas/AttachmentError' } } } }
  /admin/support/tickets/{ticketId}/timeline:
    get:
      tags: [Tickets]
      summary: Получить таймлайн тикета
      parameters:
        - $ref: '#/components/parameters/TicketId'
      responses:
        '200': { description: Таймлайн, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/TimelineEntry' } } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /admin/support/metrics/sla:
    get:
      tags: [Metrics]
      summary: SLA отчёт
      parameters:
        - { in: query, name: range, schema: { type: string, enum: [1d, 7d, 30d], default: 7d } }
      responses:
        '200': { description: SLA метрики, content: { application/json: { schema: { $ref: '#/components/schemas/SlaMetricsResponse' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /admin/support/metrics/workload:
    get:
      tags: [Metrics]
      summary: Нагрузка агентов
      responses:
        '200': { description: Workload метрики, content: { application/json: { schema: { $ref: '#/components/schemas/WorkloadMetricsResponse' } } } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /admin/support/incidents:
    post:
      tags: [Incidents]
      summary: Зарегистрировать инцидент поддержки
      description: Сообщает incident-service о массовых тикетах или критических проблемах.
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/IncidentReport' } } } }
      responses:
        '202': { description: Инцидент зарегистрирован }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
components:
  securitySchemes:
    BearerAuth: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth' }
  parameters:
    TicketId: { name: ticketId, in: path, required: true, schema: { type: string }, description: UUID тикета }
  schemas:
    SupportTicket:
      type: object
      required: [ticketId, ticketNumber, status, priority, createdAt]
      properties:
        ticketId: { type: string }
        ticketNumber: { type: string, example: "NECPG-20251107-1024" }
        source: { type: string, enum: [PLAYER, AGENT, SYSTEM] }
        playerId: { type: string }
        accountId: { type: string }
        category: { type: string }
        subject: { type: string }
        description: { type: string }
        priority: { type: string, enum: [low, medium, high, critical] }
        status: { type: string, enum: [open, pending, on_hold, resolved, closed] }
        assignedTo: { type: string }
        slaDueAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        metadata: { type: object, additionalProperties: true }
    CreateTicketRequest:
      type: object
      required: [source, category, subject, description]
      properties:
        source: { type: string, enum: [PLAYER, AGENT, SYSTEM] }
        playerId: { type: string }
        accountId: { type: string }
        category: { type: string }
        subject: { type: string }
        description: { type: string }
        priority: { type: string, enum: [low, medium, high, critical], default: medium }
        platform: { type: string }
        gameVersion: { type: string }
        attachments: { type: array, items: { $ref: '#/components/schemas/AttachmentMetadata' } }
    CreateTicketResponse:
      type: object
      properties:
        ticket: { $ref: '#/components/schemas/SupportTicket' }
        assignedTo: { type: string }
        slaSeconds: { type: integer }
    UpdateTicketRequest:
      type: object
      properties:
        category: { type: string }
        priority: { type: string, enum: [low, medium, high, critical] }
        status: { type: string, enum: [open, pending, on_hold, resolved, closed] }
        metadata: { type: object, additionalProperties: true }
    TicketListResponse:
      type: object
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/SupportTicket' } }
        pagination: { $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginationMeta' }
    AddResponseRequest:
      type: object
      required: [authorType, message]
      properties:
        authorType: { type: string, enum: [PLAYER, AGENT, SYSTEM] }
        authorId: { type: string }
        message: { type: string }
        isInternal: { type: boolean, default: false }
        attachments: { type: array, items: { $ref: '#/components/schemas/AttachmentMetadata' } }
    TicketResponse:
      type: object
      required: [responseId, authorType, message, createdAt]
      properties:
        responseId: { type: string }
        authorType: { type: string, enum: [PLAYER, AGENT, SYSTEM] }
        authorId: { type: string }
        message: { type: string }
        isInternal: { type: boolean }
        attachments: { type: array, items: { $ref: '#/components/schemas/AttachmentMetadata' } }
        createdAt: { type: string, format: date-time }
    AssignTicketRequest:
      type: object
      required: [agentId]
      properties:
        agentId: { type: string }
        notify: { type: boolean, default: true }
        note: { type: string }
    ResolveTicketRequest:
      type: object
      required: [resolutionNote]
      properties:
        resolutionNote: { type: string }
        sendSurvey: { type: boolean, default: true }
    ReopenTicketRequest:
      type: object
      required: [reason]
      properties:
        reason: { type: string }
        initiatedBy: { type: string, enum: [PLAYER, AGENT, SUPERVISOR] }
    EscalateTicketRequest:
      type: object
      required: [newPriority]
      properties:
        newPriority: { type: string, enum: [high, critical] }
        escalateToRole: { type: string }
        incidentId: { type: string }
        notify: { type: boolean, default: true }
    FeedbackRequest:
      type: object
      required: [rating]
      properties:
        rating: { type: integer, minimum: 1, maximum: 5 }
        comment: { type: string }
    UploadAttachmentRequest:
      type: object
      properties:
        file: { type: string, format: binary }
        description: { type: string }
    AttachmentMetadata:
      type: object
      properties:
        attachmentId: { type: string }
        filename: { type: string }
        mimeType: { type: string }
        sizeBytes: { type: integer }
        uploadedBy: { type: string }
        uploadedAt: { type: string, format: date-time }
    TimelineEntry:
      type: object
      properties:
        entryType: { type: string, enum: [ticket.created, ticket.assigned, ticket.response, ticket.status_changed, ticket.escalated, ticket.feedback] }
        author: { type: string }
        timestamp: { type: string, format: date-time }
        details: { type: object, additionalProperties: true }
    SlaMetricsResponse:
      type: object
      properties:
        range: { type: string }
        overallCompliancePercent: { type: number }
        byPriority: { type: array, items: { type: object, properties: { priority: { type: string }, compliancePercent: { type: number } } } }
        breaches: { type: array, items: { type: object, properties: { ticketId: { type: string }, breachedAt: { type: string, format: date-time } } } }
    WorkloadMetricsResponse:
      type: object
      properties:
        openTickets: { type: integer }
        ticketsPerAgent: { type: array, items: { type: object, properties: { agentId: { type: string }, count: { type: integer } } } }
        averageResponseMinutes: { type: number }
        backlogTrend: { type: array, items: { type: object, properties: { date: { type: string, format: date }, count: { type: integer } } } }
    IncidentReport:
      type: object
      required: [incidentId, severity]
      properties:
        incidentId: { type: string }
        severity: { type: string, enum: [low, medium, high, critical] }
        affectedPlayers: { type: integer }
        ticketIds: { type: array, items: { type: string } }
        description: { type: string }
        actionsTaken: { type: string }
    AttachmentError:
      type: object
      properties:
        code: { type: string, enum: [FILE_TOO_LARGE, UNSUPPORTED_TYPE] }
        message: { type: string }
    SupportTicketError:
      type: object
      properties:
        code: { type: string, enum: [TICKET_NOT_FOUND, INVALID_STATUS_TRANSITION, NO_AGENT_AVAILABLE, SLA_BREACH] }
        message: { type: string }
    ClientRole:
      type: object
      properties:
        role: { type: string, enum: [SUPPORT_AGENT, SUPPORT_SUPERVISOR, PLAYER] }
        permissions: { type: array, items: { type: string } }
    TicketEvent:
      type: object
      properties:
        eventType: { type: string, enum: [ticket.created, ticket.assigned, ticket.response, ticket.sla.breach, ticket.resolved] }
        publishedAt: { type: string, format: date-time }
        payload: { type: object, additionalProperties: true }

