openapi: 3.0.3
info:
  title: Push Notification Service API
  description: '**Enterprise-grade API for Push Notifications**


    ## Domain Purpose

    Comprehensive push notification service providing real-time delivery, device management,

    analytics, and personalization for enhanced user engagement across all platforms.


    ## Business Value

    - Real-time user engagement and retention

    - Multi-platform notification delivery (iOS, Android, Web, Desktop)

    - Advanced analytics and targeting

    - Enterprise-grade scalability and reliability

    - GDPR compliant notification management


    ## Performance Targets

    - P99 Latency: <100ms for notification dispatch

    - Throughput: 100,000+ notifications per second

    - Delivery Success Rate: >99.5% across all platforms

    - Queue Processing Time: <10ms average


    ## Domain Inheritance

    This service inherits from infrastructure-entities.yaml providing:

    - Notification queue entity for async processing

    - Audit trails for notification operations

    - Configuration management for provider settings

    - User account references for targeting

    - Optimistic locking for concurrent operations

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/push-notification-service
  description: Production environment
- url: https://staging-api.necpgame.com/v1/push-notification-service
  description: Staging environment
- url: http://localhost:8080/api/v1/push-notification-service
  description: Local development
security:
- BearerAuth: []
tags:
- name: Device Management
  description: Device registration and token management
- name: Notification Delivery
  description: Sending and queuing notifications
- name: Campaign Management
  description: Notification campaigns and targeting
- name: Analytics & Reporting
  description: Delivery analytics and engagement metrics
- name: Template Management
  description: Notification templates and personalization
- name: Health Monitoring
  description: Service health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /devices:
    $ref: ./paths/devices.yaml#/paths/~1devices
  /devices/{deviceId}:
    $ref: ./paths/devices-{deviceId}.yaml#/paths/~1devices~1{deviceId}
  /notifications/send:
    $ref: ./paths/notifications-send.yaml#/paths/~1notifications~1send
  /notifications/{notificationId}/status:
    $ref: ./paths/notifications-{notificationId}-status.yaml#/paths/~1notifications~1{notificationId}~1status
  /campaigns:
    $ref: ./paths/campaigns.yaml#/paths/~1campaigns
  /campaigns/{campaignId}:
    $ref: ./paths/campaigns-{campaignId}.yaml#/paths/~1campaigns~1{campaignId}
  /analytics/delivery:
    $ref: ./paths/analytics-delivery.yaml#/paths/~1analytics~1delivery
  /templates:
    $ref: ./paths/templates.yaml#/paths/~1templates
components:
  schemas:
    DeviceRegistration:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/DeviceRegistration
    DeviceSummary:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/DeviceSummary
    NotificationCampaign:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/NotificationCampaign
    CampaignSummary:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/CampaignSummary
    NotificationTemplate:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/NotificationTemplate
    TemplateSummary:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/TemplateSummary
    DeviceNotificationPreferences:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/DeviceNotificationPreferences
    CampaignTargetAudience:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/CampaignTargetAudience
    CampaignContent:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/CampaignContent
    CampaignScheduling:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/CampaignScheduling
    CampaignPerformanceMetrics:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/CampaignPerformanceMetrics
    DeliveryAnalytics:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/DeliveryAnalytics
    PlatformDeliveryMetrics:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/PlatformDeliveryMetrics
    GeographicDeliveryMetrics:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/GeographicDeliveryMetrics
    DeliveryFailureAnalysis:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/DeliveryFailureAnalysis
    PerformanceTrendData:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/PerformanceTrendData
    NotificationAction:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/NotificationAction
    TemplateContent:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/TemplateContent
    TemplateParameter:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/TemplateParameter
    TemplateVersion:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/TemplateVersion
    NotificationStatus:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/NotificationStatus
    PlatformNotificationStats:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/PlatformNotificationStats
    NotificationFailure:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/NotificationFailure
    RegisterDeviceRequest:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/RegisterDeviceRequest
    UpdateDeviceRequest:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/UpdateDeviceRequest
    SendNotificationRequest:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/SendNotificationRequest
    CreateCampaignRequest:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/CreateCampaignRequest
    UpdateCampaignRequest:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/UpdateCampaignRequest
    CreateTemplateRequest:
      $ref: ./schemas/push-notification-service-schemas.yaml#/components/schemas/CreateTemplateRequest
  responses:
    OK:
      $ref: ./schemas/push-notification-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/push-notification-service-responses.yaml#/components/responses/Created
    Accepted:
      $ref: ./schemas/push-notification-service-responses.yaml#/components/responses/Accepted
    Updated:
      $ref: ./schemas/push-notification-service-responses.yaml#/components/responses/Updated
    Deleted:
      $ref: ./schemas/push-notification-service-responses.yaml#/components/responses/Deleted
    BadRequest:
      $ref: ./schemas/push-notification-service-responses.yaml#/components/responses/BadRequest
    NotFound:
      $ref: ./schemas/push-notification-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/push-notification-service-responses.yaml#/components/responses/Conflict
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
