openapi: 3.0.3
info:
  title: Pricing System API
  version: 1.0.0
  description: |
    API для системы ценообразования.
    
    Функционал:
    - Pricing formulas (базовые формулы расчета цен)
    - Multipliers (quality, rarity, level, durability)
    - Dynamic pricing (supply/demand)
    - Regional modifiers
    - Faction modifiers
    - Vendor pricing
    - Market data & trends
    - Price history
    
    Источник: .BRAIN/02-gameplay/economy/economy-pricing-detailed.md v2.0.0

  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Item Pricing
    description: Ценообразование предметов
  - name: Market Data
    description: Рыночные данные
  - name: Price Calculation
    description: Расчет цен

paths:
  /gameplay/economy/pricing/item/{item_id}:
    get:
      summary: Получить цену предмета
      operationId: getItemPrice
      tags: [Item Pricing]
      parameters:
        - name: item_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: quality
          in: query
          schema:
            type: string
            enum: [POOR, COMMON, UNCOMMON, RARE, EPIC, LEGENDARY]
        - name: region
          in: query
          description: Регион для regional modifiers
          schema:
            type: string
        - name: vendor_faction
          in: query
          description: Фракция vendor для faction modifiers
          schema:
            type: string
      responses:
        '200':
          description: Цена предмета
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemPrice'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /gameplay/economy/pricing/calculate:
    post:
      summary: Рассчитать цену с модификаторами
      operationId: calculatePrice
      tags: [Price Calculation]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceCalculationRequest'
      responses:
        '200':
          description: Рассчитанная цена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceCalculationResult'

  /gameplay/economy/pricing/market-data:
    get:
      summary: Получить рыночные данные
      operationId: getMarketData
      tags: [Market Data]
      parameters:
        - name: item_category
          in: query
          schema:
            type: string
        - name: region
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Рыночные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketData'

  /gameplay/economy/pricing/vendor/{vendor_id}:
    get:
      summary: Получить цены у конкретного vendor
      operationId: getVendorPrices
      tags: [Item Pricing]
      parameters:
        - name: vendor_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Цены vendor
          content:
            application/json:
              schema:
                type: object
                properties:
                  vendor_id:
                    type: string
                  vendor_name:
                    type: string
                  faction:
                    type: string
                  location:
                    type: string
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        item_id:
                          type: string
                          format: uuid
                        base_price:
                          type: integer
                        sell_price:
                          type: integer
                        buy_price:
                          type: integer

  /gameplay/economy/pricing/item/{item_id}/history:
    get:
      summary: Получить историю цен предмета
      operationId: getItemPriceHistory
      tags: [Market Data]
      parameters:
        - name: item_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: period
          in: query
          description: Период (1d, 7d, 30d)
          schema:
            type: string
            default: "7d"
        - name: region
          in: query
          schema:
            type: string
      responses:
        '200':
          description: История цен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceHistory'

  /gameplay/economy/pricing/trends:
    get:
      summary: Получить ценовые тренды
      operationId: getPriceTrends
      tags: [Market Data]
      parameters:
        - name: category
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Тренды
          content:
            application/json:
              schema:
                type: object
                properties:
                  trends:
                    type: array
                    items:
                      $ref: '#/components/schemas/PriceTrend'

  /gameplay/economy/pricing/modifiers:
    get:
      summary: Получить активные ценовые модификаторы
      operationId: getActiveModifiers
      tags: [Price Calculation]
      parameters:
        - name: region
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Активные модификаторы
          content:
            application/json:
              schema:
                type: object
                properties:
                  regional_modifiers:
                    type: object
                    additionalProperties:
                      type: number
                  event_modifiers:
                    type: array
                    items:
                      type: object
                  faction_modifiers:
                    type: object
                    additionalProperties:
                      type: number

components:
  schemas:
    ItemPrice:
      type: object
      properties:
        item_id:
          type: string
          format: uuid
        item_name:
          type: string
        base_price:
          type: integer
        current_price:
          type: integer
        vendor_sell_price:
          type: integer
          description: Цена продажи vendor
        vendor_buy_price:
          type: integer
          description: Цена покупки у vendor
        quality_multiplier:
          type: number
          format: float
        rarity_multiplier:
          type: number
          format: float
        regional_multiplier:
          type: number
          format: float
        faction_multiplier:
          type: number
          format: float
        event_multipliers:
          type: array
          items:
            type: object
            properties:
              event_name:
                type: string
              multiplier:
                type: number
        final_multiplier:
          type: number
          format: float

    PriceCalculationRequest:
      type: object
      required:
        - item_id
      properties:
        item_id:
          type: string
          format: uuid
        quality:
          type: string
          enum: [POOR, COMMON, UNCOMMON, RARE, EPIC, LEGENDARY]
        durability_percentage:
          type: number
          format: float
          minimum: 0
          maximum: 100
        region:
          type: string
        vendor_faction:
          type: string
        character_reputation:
          type: object
          description: Репутация с фракцией vendor
          additionalProperties:
            type: integer
        transaction_type:
          type: string
          enum: [BUY, SELL]
        quantity:
          type: integer
          default: 1

    PriceCalculationResult:
      type: object
      properties:
        item_id:
          type: string
          format: uuid
        base_price:
          type: integer
        calculated_price:
          type: integer
        price_breakdown:
          type: object
          properties:
            base:
              type: integer
            quality_bonus:
              type: integer
            rarity_bonus:
              type: integer
            durability_penalty:
              type: integer
            regional_adjustment:
              type: integer
            faction_discount:
              type: integer
            event_impact:
              type: integer
            quantity_discount:
              type: integer
        total_for_quantity:
          type: integer
        modifiers_applied:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: number

    MarketData:
      type: object
      properties:
        category:
          type: string
        region:
          type: string
        timestamp:
          type: string
          format: date-time
        average_prices:
          type: object
          additionalProperties:
            type: integer
        price_trends:
          type: object
          properties:
            trending_up:
              type: array
              items:
                type: string
            trending_down:
              type: array
              items:
                type: string
        supply_demand:
          type: object
          properties:
            high_demand:
              type: array
              items:
                type: string
            low_supply:
              type: array
              items:
                type: string

    PriceHistory:
      type: object
      properties:
        item_id:
          type: string
          format: uuid
        period:
          type: string
        region:
          type: string
        data_points:
          type: array
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
              price:
                type: integer
              volume:
                type: integer
                description: Объем торговли
        statistics:
          type: object
          properties:
            min_price:
              type: integer
            max_price:
              type: integer
            average_price:
              type: integer
            current_price:
              type: integer
            trend:
              type: string
              enum: [RISING, FALLING, STABLE]

    PriceTrend:
      type: object
      properties:
        item_id:
          type: string
          format: uuid
        item_name:
          type: string
        category:
          type: string
        trend:
          type: string
          enum: [RISING, FALLING, STABLE]
        change_percentage:
          type: number
          format: float
        change_7d:
          type: number
        change_30d:
          type: number
        reason:
          type: string
          description: Причина тренда

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

