openapi: 3.0.3
info:
  title: Companion Examples
  version: 1.0.0
  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay
    package: com.necpgame.gameplayservice
paths: {}

components:
  examples:
    CreatedCompanion:
      summary: Созданный компаньон
      value:
        companionId: comp-7f2d
        playerId: player-901
        type: combat
        subType: assault_drone
        rarity: rare
        nickname: Bolt
        status: ACTIVE
        loyalty: 42
        bonding:
          level: 2
          emotionState: engaged
        aiMode: assist
        progression:
          level: 5
          xp: 1800
          xpToNext: 400
          skillPoints: 2
          unlockedAbilities: [ability-emp, ability-shield]
          synergyScore: 67
        loadout:
          abilitySlots:
            - { slot: active_1, abilityId: ability-emp }
            - { slot: passive_1, abilityId: ability-shield }
          modSlots:
            - { slot: mod_core, modId: mod-energy-regen }
          cooldownState:
            - { abilityId: ability-emp, remainingSeconds: 0 }
          passiveEffects: [shock_resist]
        missionSlots: 2
        lastUsedAt: "2025-11-07T21:58:00Z"
        createdAt: "2025-11-01T08:22:00Z"
        antiAbuse:
          flag: none
          cooldownEndsAt: null
          violations: []
    CompanionRoster:
      summary: Рoster компаньонов игрока
      value:
        playerId: player-901
        limitActive: 3
        companions:
          - $ref: '#/components/examples/CreatedCompanion/value'
          - companionId: comp-9031
            playerId: player-901
            type: utility
            subType: hack_drone
            rarity: epic
            nickname: "Glitch"
            status: IN_MISSION
            loyalty: 58
            bonding: { level: 3, emotionState: curious }
            aiMode: autonomous
            progression: { level: 8, xp: 5200, xpToNext: 900, skillPoints: 1, unlockedAbilities: [ability-farscan], synergyScore: 72 }
            loadout:
              abilitySlots:
                - { slot: active_1, abilityId: ability-farscan }
              modSlots: []
              cooldownState: []
              passiveEffects: [stealth_field]
            missionSlots: 1
            lastUsedAt: "2025-11-07T22:10:00Z"
            createdAt: "2025-10-12T11:00:00Z"
            antiAbuse: { flag: none, cooldownEndsAt: null, violations: [] }
    LoadoutUpdate:
      summary: Обновление loadout
      value:
        abilitySlots:
          - { slot: active_1, abilityId: ability-hack-burst }
          - { slot: passive_1, abilityId: passive-shield }
        modSlots:
          - { slot: mod_core, modId: mod-energy-regen }
        passiveEffects: [shock_resist]
    MissionAssignment:
      summary: Миссия сопровождения
      value:
        missionId: mission-escort-44
        durationMinutes: 45
        difficulty: high
        targetZone: NightCity-Downtown
        rewardPreview:
          credits: 1500
          xpGain: 350
          items:
            - { itemId: implant-core, rarity: epic, quantity: 1 }
          reputation: { factionId: megacorp-tyger, amount: 45 }
        notifyChannels: [ingame, push]
    CompanionDetail:
      summary: Детальная карточка
      value:
        $ref: '#/components/examples/CreatedCompanion/value'
    CompanionLeaderboard:
      summary: Лидерборд компаньонов
      value:
        metric: missions_completed
        range: 30d
        entries:
          - { rank: 1, playerId: player-elite, companionId: comp-alpha, score: 215, metrics: { missionsCompleted: 215, arenaWins: 42, bondingScore: 98 } }
          - { rank: 2, playerId: player-901, companionId: comp-7f2d, score: 187, metrics: { missionsCompleted: 187, arenaWins: 12, bondingScore: 76 } }
        pagination: { page: 1, size: 25, total: 120 }
    CompanionAnalytics:
      summary: Аналитический отчёт
      value:
        snapshotAt: "2025-11-07T22:30:00Z"
        filters: { type: combat, range: 30d }
        usageStats:
          - { type: combat, activeCount: 12500, avgBondingLevel: 3.7, retentionDay7: 0.68, winContribution: 0.42 }
          - { type: utility, activeCount: 8700, avgBondingLevel: 2.9, retentionDay7: 0.61, winContribution: 0.31 }
        abilityUsage:
          - { abilityId: ability-emp, uses: 98200, winContribution: 0.27, averageCooldown: 21 }
          - { abilityId: ability-farscan, uses: 54100, winContribution: 0.19, averageCooldown: 35 }
        missionPerformance: { successRate: 0.79, averageDuration: 58.2, lootValueMean: 1840.5, missionsPerDay: 2.7 }
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
