# Target Architecture:
# - Microservice: gameplay-service (port 8083)
# - API Base: /api/v1/matchmaking/queue
# - Dependencies: rating-service, party-service, session-service, matchmaking algorithm
# - Frontend Module: modules/gameplay/matchmaking (useMatchmakingStore)
# - UI: QueueForm, QueueTimer, PriorityBadge, ExpansionTimeline

openapi: 3.0.3
info:
  title: Matchmaking Queue API
  version: 1.0.0
  description: API управления очередями матчмейкинга NECPGAME.
  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/matchmaking
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - name: Queue
    description: Управление тикетами и статусами очереди.
  - name: Priority
    description: Операции изменения приоритета ожидания.
  - name: Analytics
    description: Метрики времени ожидания и статистика.
  - name: Internal
    description: Технические операции heartbeat и snapshot.
paths:
  /matchmaking/queue:
    post:
      tags: [Queue]
      summary: Добавить игрока или партию в очередь
      description: |
        Регистрирует новый тикет очереди. Максимум 10 активных тикетов на игрока (по режимам).
        TTL тикета — 10 минут без heartbeat.
      operationId: createQueueTicket
      security:
        - BearerAuth: [matchmaking.queue.write]
      parameters:
        - $ref: './matchmaking-queue-components.yaml#/components/parameters/ClientLatencyHeader'
        - $ref: './matchmaking-queue-components.yaml#/components/parameters/TraceIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueRequest' }
            examples: { solo: { $ref: './matchmaking-queue-examples.yaml#/components/examples/QueueRequestSolo' } }
      responses:
        '201':
          description: Тикет создан и добавлен в очередь.
          headers:
            Location:
              schema: { type: string }
              description: URL для получения деталей тикета.
          content:
            application/json:
              schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueTicket' }
              examples: { ticket: { $ref: './matchmaking-queue-examples.yaml#/components/examples/QueueTicketResponse' } }
        '409':
          description: Игрок уже имеет активный тикет в данной активности.
          content:
            application/json:
              schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueError' }
        '422':
          description: Некорректные параметры (уровень, party, rate limit).
          content:
            application/json:
              schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
    get:
      tags: [Queue]
      summary: Получить сводку статусов очередей игрока
      operationId: getQueueStatus
      security:
        - BearerAuth: [matchmaking.queue.read]
      parameters:
        - $ref: './matchmaking-queue-components.yaml#/components/parameters/ActivityType'
        - $ref: './matchmaking-queue-components.yaml#/components/parameters/Mode'
      responses:
        '200':
          description: Список активных тикетов.
          content:
            application/json:
              schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueStatusList' }
              examples: { statusList: { $ref: './matchmaking-queue-examples.yaml#/components/examples/QueueStatusList' } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /matchmaking/queue/{ticketId}:
    parameters:
      - $ref: './matchmaking-queue-components.yaml#/components/parameters/TicketId'
    delete:
      tags: [Queue]
      summary: Покинуть очередь вручную
      operationId: cancelQueueTicket
      security:
        - BearerAuth: [matchmaking.queue.write]
      responses:
        '204': { description: Тикет удалён из очереди. }
        '404':
          description: Тикет не найден.
          content:
            application/json:
              schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueError' }
        '409':
          description: Матч уже забронирован, невозможно отменить.
          content:
            application/json:
              schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueError' }
    get:
      tags: [Queue]
      summary: Получить подробную информацию по тикету
      operationId: getQueueTicket
      security:
        - BearerAuth: [matchmaking.queue.read]
      responses:
        '200':
          description: Детали тикета и история обновлений.
          headers:
            X-Queue-Priority:
              schema: { type: integer }
            X-Queue-Range:
              schema: { type: integer }
          content:
            application/json:
              schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueEntryDetail' }
        '404':
          description: Тикет не найден.
          content:
            application/json:
              schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueError' }
  /matchmaking/queue/{ticketId}/priority:
    parameters:
      - $ref: './matchmaking-queue-components.yaml#/components/parameters/TicketId'
    post:
      tags: [Priority]
      summary: Применить повышение приоритета
      description: Команда для администраторов или эвентов. Приоритет действителен указанное время.
      operationId: boostQueuePriority
      security:
        - ServiceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/PriorityAdjustmentRequest' }
            examples: { adminBoost: { $ref: './matchmaking-queue-examples.yaml#/components/examples/PriorityAdjustmentRequest' } }
      responses:
        '202':
          description: Приоритет обновлён.
          content:
            application/json:
              schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueuePriorityState' }
        '403':
          description: Недостаточно прав.
          content:
            application/json:
              schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueError' }
        '404':
          description: Тикет не найден.
          content:
            application/json:
              schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueError' }
  /matchmaking/queue/{ticketId}/expand:
    parameters:
      - $ref: './matchmaking-queue-components.yaml#/components/parameters/TicketId'
    post:
      tags: [Priority]
      summary: Принудительно расширить диапазон поиска
      operationId: expandQueueRange
      security:
        - ServiceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/RangeExpansionCommand' }
      responses:
        '202': { description: Расширение инициировано. }
        '409':
          description: Достигнут лимит расширений.
          content:
            application/json:
              schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueError' }
        '422':
          description: Некорректные параметры расширения.
          content:
            application/json:
              schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueError' }
  /matchmaking/queue/{ticketId}/heartbeat:
    parameters:
      - $ref: './matchmaking-queue-components.yaml#/components/parameters/TicketId'
    post:
      tags: [Internal]
      summary: Продлить TTL тикета
      description: Клиент отправляет heartbeat раз в минуту, чтобы сохранить тикет активным.
      operationId: heartbeatQueueTicket
      security:
        - BearerAuth: [matchmaking.queue.write]
      parameters:
        - $ref: './matchmaking-queue-components.yaml#/components/parameters/ClientLatencyHeader'
      responses:
        '204': { description: TTL продлён. }
        '410':
          description: Тикет истёк, требуется повторный вход.
          content:
            application/json:
              schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueError' }
  /matchmaking/queue/{ticketId}/snapshot:
    parameters:
      - $ref: './matchmaking-queue-components.yaml#/components/parameters/TicketId'
    post:
      tags: [Internal]
      summary: Сохранить снимок состояния очереди
      description: Используется для аудита и диагностики.
      operationId: snapshotQueueTicket
      security:
        - ServiceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueSnapshotRequest' }
      responses:
        '202': { description: Снимок поставлен в очередь обработки. }
        '404':
          description: Тикет не найден.
          content:
            application/json:
              schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueError' }
  /matchmaking/queue/analytics/wait-time:
    get:
      tags: [Analytics]
      summary: Получить агрегированные метрики ожидания
      operationId: getQueueAnalytics
      security:
        - ServiceToken: []
      parameters:
        - $ref: './matchmaking-queue-components.yaml#/components/parameters/ActivityType'
        - $ref: './matchmaking-queue-components.yaml#/components/parameters/Mode'
        - $ref: './matchmaking-queue-components.yaml#/components/parameters/Window'
        - name: region
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Метрики ожидания по выбранному окну.
          content:
            application/json:
              schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/WaitTimeAnalytics' }
              examples: { analytics: { $ref: './matchmaking-queue-examples.yaml#/components/examples/WaitTimeAnalytics' } }
        '400':
          description: Некорректные параметры окна/активности.
          content:
            application/json:
              schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueError' }
  /matchmaking/queue/events/stream:
    get:
      tags: [Queue]
      summary: Подписка на события очереди (SSE)
      operationId: streamQueueEvents
      security:
        - BearerAuth: [matchmaking.queue.read]
      responses:
        '200':
          description: SSE поток событий очереди.
          content:
            text/event-stream:
              schema: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueEvent' }
              examples:
                matchReady: { $ref: './matchmaking-queue-examples.yaml#/components/examples/QueueEventMatchReady' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }

x-kafka:
  publishes:
    - topic: matchmaking.queue.entered
      payload: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueTicket' }
    - topic: matchmaking.queue.priority.changed
      payload: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueuePriorityState' }
    - topic: matchmaking.queue.range.expanded
      payload: { $ref: './matchmaking-queue-components.yaml#/components/schemas/RangeExpansion' }
    - topic: matchmaking.queue.timeout
      payload: { $ref: './matchmaking-queue-components.yaml#/components/schemas/QueueTicket' }
  subscribes:
    - topic: matchmaking.match.created
      payload:
        type: object
        properties:
          matchId: { type: string, format: uuid }
          ticketIds:
            type: array
            items: { type: string, format: uuid }
    - topic: matchmaking.match.cancelled
      payload:
        type: object
        properties:
          ticketId: { type: string, format: uuid }
          reason: { type: string }

components:
  securitySchemes:
    BearerAuth: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth' }
    ServiceToken: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/ServiceToken' }


