# Target Architecture:
# - Примеры покрывают PvP/PvE подбор, ready-check, телеметрию

openapi: 3.0.3
info:
  title: Matchmaking Algorithm Examples
  version: 1.0.0
  description: Примеры запросов и ответов для Matchmaking Algorithm API.

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay
    package: com.necpgame.gameplayservice
paths: {}

components:
  examples:
    RankedMatchSearch:
      summary: Запрос подбора рейтингового PvP матча
      value:
        queueIds:
          - "c2bb54a6-b6d1-4a52-8c6f-7dca3eac0b12"
          - "f18a4f3a-3de1-49c5-8a3f-daa0f4a3d7ef"
        mode: "PVP_RANKED"
        requiredRoles:
          - role: "TANK"
            minimum: 1
            maximum: 1
          - role: "HEALER"
            minimum: 1
            maximum: 1
          - role: "DPS"
            minimum: 3
            maximum: 3
        latencyCapMs: 120
        allowCrossRegion: false
        partyContext:
          parties:
            - partyId: "9f899934-4cd0-49b0-93ad-bb1fc0f285af"
              size: 2
              leaderId: "e7da5d3a-67f2-419c-97e2-aad0a0c4f42c"
              preferredRoles: ["DPS", "SUPPORT"]
        preferences:
          voiceLobby: true
          avoidPlayers: ["71a7d2c8-0df4-4f8d-b10d-6a918c8f2d55"]
          preferredLatencyRegion: "eu-central"

    PendingMatchesResponse:
      summary: Список ожидающих матчей для UI панели
      value:
        items:
          - matchId: "6a0b7ad1-3a4b-4cd3-9b2d-1fbb43f6a905"
            mode: "PVP_RANKED"
            status: "READY_CHECK"
            createdAt: "2025-11-08T21:20:00Z"
            queueSize: 10
            estimatedStartAt: "2025-11-08T21:21:30Z"
            latencyBucket: "MEDIUM"
            quality:
              score: 82.7
              ratingBalance: 34.0
              roleFulfillment: 29.0
              waitTimePenalty: 9.8
              latencyPenalty: 9.9
              factors:
                - name: "RatingSpread"
                  weight: 0.4
                  score: 35.0
                  description: "Разница рейтингов 85"
                - name: "Roles"
                  weight: 0.3
                  score: 28.0
                  description: "Все ключевые роли закрыты"
              computedAt: "2025-11-08T21:20:45Z"
        nextCursor: "eyJtYXRjaElkIjoiNmEwYjdhZDEifQ=="
        total: 38

    MatchDetailResponse:
      summary: Полные данные матча для ready-check
      value:
        matchId: "6a0b7ad1-3a4b-4cd3-9b2d-1fbb43f6a905"
        mode: "PVP_RANKED"
        status: "READY_CHECK"
        createdAt: "2025-11-08T21:20:00Z"
        updatedAt: "2025-11-08T21:20:42Z"
        queueIds:
          - "c2bb54a6-b6d1-4a52-8c6f-7dca3eac0b12"
        teams:
          - teamId: "alpha"
            averageRating: 1480
            isPartyMixed: true
            players:
              - playerId: "e7da5d3a-67f2-419c-97e2-aad0a0c4f42c"
                partyId: "9f899934-4cd0-49b0-93ad-bb1fc0f285af"
                rating: 1520
                role: "SUPPORT"
                latencyMs: 64
                latencyRegion: "eu-central"
                smurfFlag: false
                ready: true
              - playerId: "71a7d2c8-0df4-4f8d-b10d-6a918c8f2d55"
                rating: 1490
                role: "DPS"
                latencyMs: 78
                latencyRegion: "eu-central"
                smurfFlag: true
                ready: false
            roleSummary:
              - role: "TANK"
                required: 1
                assigned: 1
                deficit: 0
              - role: "HEALER"
                required: 1
                assigned: 1
                deficit: 0
          - teamId: "beta"
            averageRating: 1472
            isPartyMixed: false
            players:
              - playerId: "a81b66f3-15f1-4e2f-8e84-c3d7a01cbf77"
                rating: 1465
                role: "TANK"
                latencyMs: 82
                latencyRegion: "eu-west"
                ready: true
            roleSummary:
              - role: "TANK"
                required: 1
                assigned: 1
                deficit: 0
        quality:
          score: 82.7
          ratingBalance: 34.0
          roleFulfillment: 29.0
          waitTimePenalty: 9.8
          latencyPenalty: 9.9
          factors:
            - name: "Latency"
              weight: 0.1
              score: 9.9
              description: "Средний пинг 76ms"
          computedAt: "2025-11-08T21:20:45Z"
        latencyProfile:
          medianMs: 74
          p95Ms: 110
          region: "eu-central"
          bucket: "MEDIUM"
          samples:
            - timestamp: "2025-11-08T21:20:10Z"
              ms: 70
        readyCheck:
          status: "IN_PROGRESS"
          expiresAt: "2025-11-08T21:20:55Z"
          initiatedBy: "e7da5d3a-67f2-419c-97e2-aad0a0c4f42c"
          responses:
            - playerId: "e7da5d3a-67f2-419c-97e2-aad0a0c4f42c"
              status: "ACCEPTED"
              respondedAt: "2025-11-08T21:20:20Z"
        voiceLobbyId: "v-6a0b7ad1"
        lockingDeadline: "2025-11-08T21:21:00Z"

    TelemetryBatch:
      summary: Телеметрия ожидания для аналитики качества
      value:
        queueId: "c2bb54a6-b6d1-4a52-8c6f-7dca3eac0b12"
        waitDurationMs: 87000
        rangeExpansions:
          - expandedAt: "2025-11-08T21:19:00Z"
            ratingDelta: 150
            reason: "AUTO_EXPAND_60S"
          - expandedAt: "2025-11-08T21:19:45Z"
            ratingDelta: 250
            reason: "MANUAL_DEVOPS_OVERRIDE"
        latencySamples:
          - ms: 62
            recordedAt: "2025-11-08T21:18:15Z"
            region: "eu-central"
          - ms: 98
            recordedAt: "2025-11-08T21:19:40Z"
            region: "eu-west"
        partySize: 3
        mode: "PVP_RANKED"
        reconnectCount: 1

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
