openapi: 3.0.3
info:
  title: Crafting Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Crafting System API for NECPGAME**

    This API manages item crafting mechanics, recipe management, and material processing
    in the Night City universe, providing comprehensive crafting workflows, quality
    control, and resource optimization.

    ## Key Features

    - **Recipe Management**: Dynamic recipe loading and validation - **Material Processing**:
    Resource consumption and quality calculations - **Crafting Workflows**: Multi-step
    crafting processes with progress tracking - **Quality Control**: Item quality
    assessment and enhancement mechanics - **Resource Optimization**: Material efficiency
    and waste reduction - **Performance Optimized**: MMOFPS-grade performance with
    <50ms P99 latency

    ## Domain Purpose

    The Crafting domain handles all aspects of item creation and material processing
    in Night City. Players combine resources, follow recipes, and create equipment
    through sophisticated crafting mechanics that affect item quality and characteristics.

    ## Performance Targets

    - P99 Latency: <50ms for crafting operations - Memory: <20KB per active crafting
    session - Concurrent users: 25,000+ simultaneous crafting - Recipe calculations:
    <5ms response time

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/crafting
  description: Production server
- url: https://staging-api.necpgame.com/v1/crafting
  description: Staging server
- url: http://localhost:8080/api/v1/crafting
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Crafting
  description: Core crafting operations
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /recipes:
    $ref: ./paths/recipes.yaml#/paths/~1recipes
  /crafting/{crafting_id}:
    $ref: ./paths/crafting-{crafting_id}.yaml#/paths/~1crafting~1{crafting_id}
  /crafting/recipes:
    $ref: ./paths/crafting-recipes.yaml#/paths/~1crafting~1recipes
components:
  schemas:
    BaseEntity:
      $ref: ./schemas/crafting-service-schemas.yaml#/components/schemas/BaseEntity
    HealthResponse:
      $ref: ./schemas/crafting-service-schemas.yaml#/components/schemas/HealthResponse
    WebSocketHealthMessage:
      $ref: ./schemas/crafting-service-schemas.yaml#/components/schemas/WebSocketHealthMessage
    Error:
      $ref: ./schemas/crafting-service-schemas.yaml#/components/schemas/Error
    Example:
      $ref: ./schemas/crafting-service-schemas.yaml#/components/schemas/Example
    CreateExampleRequest:
      $ref: ./schemas/crafting-service-schemas.yaml#/components/schemas/CreateExampleRequest
    UpdateExampleRequest:
      $ref: ./schemas/crafting-service-schemas.yaml#/components/schemas/UpdateExampleRequest
    ExampleResponse:
      $ref: ./schemas/crafting-service-schemas.yaml#/components/schemas/ExampleResponse
    ExampleListResponse:
      $ref: ./schemas/crafting-service-schemas.yaml#/components/schemas/ExampleListResponse
    PaginationParams:
      $ref: ./schemas/crafting-service-schemas.yaml#/components/schemas/PaginationParams
    PaginatedResponse:
      $ref: ./schemas/crafting-service-schemas.yaml#/components/schemas/PaginatedResponse
    RecipeListResponse:
      $ref: ./schemas/crafting-service-schemas.yaml#/components/schemas/RecipeListResponse
    Recipe:
      $ref: ./schemas/crafting-service-schemas.yaml#/components/schemas/Recipe
    RecipeIngredient:
      $ref: ./schemas/crafting-service-schemas.yaml#/components/schemas/RecipeIngredient
  responses:
    HealthBatchSuccess:
      $ref: ./schemas/crafting-service-responses.yaml#/components/responses/HealthBatchSuccess
    ExampleListSuccess:
      $ref: ./schemas/crafting-service-responses.yaml#/components/responses/ExampleListSuccess
    ExampleCreated:
      $ref: ./schemas/crafting-service-responses.yaml#/components/responses/ExampleCreated
    ExampleRetrieved:
      $ref: ./schemas/crafting-service-responses.yaml#/components/responses/ExampleRetrieved
    ExampleUpdated:
      $ref: ./schemas/crafting-service-responses.yaml#/components/responses/ExampleUpdated
    ExampleDeleted:
      $ref: ./schemas/crafting-service-responses.yaml#/components/responses/ExampleDeleted
    OK:
      $ref: ./schemas/crafting-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/crafting-service-responses.yaml#/components/responses/Created
    BadRequest:
      $ref: ./schemas/crafting-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/crafting-service-responses.yaml#/components/responses/Unauthorized
    Forbidden:
      $ref: ./schemas/crafting-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/crafting-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/crafting-service-responses.yaml#/components/responses/Conflict
    InternalServerError:
      $ref: ./schemas/crafting-service-responses.yaml#/components/responses/InternalServerError
    HealthOK:
      $ref: ./schemas/crafting-service-responses.yaml#/components/responses/HealthOK
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
