openapi: 3.0.3
info:
  title: Crafting Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Crafting System API for NECPGAME**

    This API manages item crafting mechanics, recipe management, and material processing
    in the Night City universe, providing comprehensive crafting workflows, quality
    control, and resource optimization.

    ## Key Features

    - **Recipe Management**: Dynamic recipe loading and validation - **Material Processing**:
    Resource consumption and quality calculations - **Crafting Workflows**: Multi-step
    crafting processes with progress tracking - **Quality Control**: Item quality
    assessment and enhancement mechanics - **Resource Optimization**: Material efficiency
    and waste reduction - **Performance Optimized**: MMOFPS-grade performance with
    <50ms P99 latency

    ## Domain Purpose

    The Crafting domain handles all aspects of item creation and material processing
    in Night City. Players combine resources, follow recipes, and create equipment
    through sophisticated crafting mechanics that affect item quality and characteristics.

    ## Performance Targets

    - P99 Latency: <50ms for crafting operations - Memory: <20KB per active crafting
    session - Concurrent users: 25,000+ simultaneous crafting - Recipe calculations:
    <5ms response time

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/crafting
  description: Production server
- url: https://staging-api.necpgame.com/v1/crafting
  description: Staging server
- url: http://localhost:8080/api/v1/crafting
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Crafting
  description: Core crafting operations
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Example domain health check
      description: '**Enterprise-grade health check endpoint**


        Provides real-time health status of the example domain microservice.

        Critical for service discovery, load balancing, and monitoring.


        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: craftingServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: ../common/schemas/health.yaml#/HealthResponse
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../common/schemas/health.yaml#/HealthResponse
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /health/batch:
    post:
      summary: Batch health check for multiple domain services
      description: '**Performance optimization:** Check multiple domain health in
        single request


        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.


        **Use case:** Service mesh health checks, Kubernetes readiness probes

        '
      operationId: craftingServiceBatchHealthCheck
      tags:
      - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                    - example-domain
                    - system-domain
                    - specialized-domain
                  maxItems: 10
                  description: List of services to check
      responses:
        '200':
          $ref: ../common/responses/success.yaml#/HealthBatchSuccess
        '400':
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description: '**Performance optimization:** Real-time health updates without
        polling


        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.


        **Protocol:** WebSocket with JSON payloads

        **Heartbeat:** 30 second intervals

        **Reconnection:** Automatic with exponential backoff

        '
      operationId: craftingServiceHealthWebSocket
      tags:
      - Health Monitoring
      parameters:
      - name: services
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - example-domain
            - system-domain
            - specialized-domain
        description: Services to monitor (optional, monitors all if not specified)
      responses:
        '200':
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/crafting/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                    - health-monitoring-v1
        '101':
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSocketHealthMessage'
        '400':
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '401':
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /recipes:
    get:
      summary: List examples with filtering and pagination
      description: '**Enterprise-grade listing endpoint**


        Supports complex filtering, sorting, and pagination patterns.

        Optimized for high-throughput scenarios with proper indexing.


        **Performance:** <10ms P95, supports 1000+ concurrent requests

        '
      operationId: listRecipes
      tags:
      - Example Domain
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Page number for pagination
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Number of items per page
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at
          - name
          - priority
          default: created_at
        description: Sort field
      - name: sort_order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Sort order
      - name: filter_status
        in: query
        schema:
          type: string
          enum:
          - active
          - inactive
          - pending
        description: Filter by status
      responses:
        '200':
          $ref: '#/components/responses/ExampleListSuccess'
        '400':
          description: Invalid request - malformed query parameters
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '422':
          description: Unprocessable entity - validation failed
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    post:
      summary: Create new example
      description: '**Enterprise-grade creation endpoint**


        Validates business rules, applies security checks, and ensures data consistency.

        Supports optimistic locking for concurrent operations.


        **Performance:** <50ms P95, includes validation and business logic

        '
      operationId: startCrafting
      tags:
      - Example Domain
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExampleRequest'
      responses:
        '201':
          $ref: '#/components/responses/ExampleCreated'
        '400':
          description: Invalid request - malformed or missing data
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '409':
          description: Conflict - example with this identifier already exists
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '422':
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - creation rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /crafting/{crafting_id}:
    get:
      summary: Get specific example by ID
      description: '**Enterprise-grade retrieval endpoint**


        Optimized with proper caching strategies and database indexing.

        Supports conditional requests.


        **Performance:** <5ms P95 with Redis caching

        '
      operationId: getCraftingStatus
      tags:
      - Example Domain
      parameters:
      - name: crafting_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Example unique identifier
      - name: include_related
        in: query
        schema:
          type: boolean
          default: false
        description: Include related data in response
      - name: If-None-Match
        in: header
        schema:
          type: string
        description: Conditional request
      - name: If-Modified-Since
        in: header
        schema:
          type: string
          format: date-time
        description: Conditional request - return 304 if not modified since this time
      responses:
        '200':
          $ref: '#/components/responses/ExampleRetrieved'
        '304':
          description: Not modified - resource has not changed
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
        '400':
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '404':
          description: Example not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    put:
      summary: Update existing example
      description: '**Enterprise-grade update endpoint**


        Supports partial updates, optimistic locking, and audit trails.

        Ensures data consistency with event sourcing patterns.


        **Performance:** <25ms P95, includes validation and conflict resolution

        '
      operationId: updateCraftingProgress
      tags:
      - Example Domain
      security:
      - BearerAuth: []
      parameters:
      - name: crafting_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Example unique identifier
      - name: If-Match
        in: header
        schema:
          type: string
        description: Optimistic locking - prevents concurrent updates
      - name: If-Unmodified-Since
        in: header
        schema:
          type: string
          format: date-time
        description: Conditional update - proceed only if not modified since this
          time
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExampleRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExampleUpdated'
        '400':
          description: Invalid request - malformed data or example ID
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '404':
          description: Example not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '409':
          description: Conflict - version conflict (optimistic locking) or precondition
            failed
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '412':
          description: Precondition failed - If-Match or If-Unmodified-Since condition
            not met
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '422':
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - update rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    delete:
      summary: Delete example
      description: '**Enterprise-grade deletion endpoint**


        Supports soft deletes with audit trails and cleanup scheduling.

        Ensures referential integrity and cascading deletes.


        **Performance:** <15ms P95, includes cleanup operations

        '
      operationId: cancelCrafting
      tags:
      - Example Domain
      security:
      - BearerAuth: []
      parameters:
      - name: crafting_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Example unique identifier
      responses:
        '204':
          $ref: '#/components/responses/ExampleDeleted'
        '400':
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '404':
          description: Example not found
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '409':
          description: Conflict - example cannot be deleted (referential integrity)
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '429':
          description: Too many requests - deletion rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /crafting/recipes:
    get:
      summary: Get crafting recipes by category
      description: '**Enterprise-grade recipe retrieval endpoint**

        Retrieves crafting recipes filtered by category, tier, quality, and other
        criteria. Supports pagination and advanced filtering for crafting system optimization.

        Essential for player crafting interface and recipe discovery.

        **Performance:** <30ms P95 with database indexing

        **Caching:** Recipes cached for 5 minutes, invalidated on updates

        '
      operationId: craftingServiceGetRecipes
      tags:
      - Recipe Management
      security:
      - BearerAuth: []
      parameters:
      - name: category
        in: query
        schema:
          type: string
          enum:
          - weapons
          - armor
          - implants
          - vehicles
          - consumables
          - tools
          - cyberware
          - equipment
          description: Recipe category filter
      - name: tier
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 5
          description: Recipe tier filter (1-5)
      - name: quality
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          description: Minimum quality requirement
      - name: required_skill_level
        in: query
        schema:
          type: integer
          minimum: 1
          description: Required crafting skill level
      - name: available_to_player
        in: query
        schema:
          type: boolean
          default: true
          description: Filter recipes available to current player
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
          description: Page number for pagination
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
          description: Number of recipes per page
      responses:
        '200':
          description: Recipes retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipeListResponse'
          headers:
            X-Total-Count:
              schema:
                type: integer
              description: Total number of recipes matching criteria
            X-Total-Pages:
              schema:
                type: integer
              description: Total number of pages
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        '403':
          description: Forbidden - insufficient permissions to view recipes
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
components:
  responses:
    HealthBatchSuccess:
      $ref: ../common/responses/success.yaml#/HealthBatchSuccess
    ExampleListSuccess:
      description: Examples retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
        X-Total-Count:
          schema:
            type: integer
            example: 150
            description: Total number of examples matching criteria
        X-Page-Count:
          schema:
            type: integer
            example: 8
            description: Total number of pages
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExampleListResponse'
    ExampleCreated:
      description: Example created successfully
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/crafting/550e8400-e29b-41d4-a716-446655440000
            description: URL of the created example
        Cache-Control:
          schema:
            type: string
            example: no-cache
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExampleResponse'
    ExampleRetrieved:
      description: Example retrieved successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
            description: Cache control directives
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: '2025-12-21T10:00:00Z'
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 5
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExampleResponse'
    ExampleUpdated:
      description: Example updated successfully
      headers:
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: '2025-12-21T10:05:00Z'
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 25
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExampleResponse'
    ExampleDeleted:
      description: Example deleted successfully
      headers:
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
    OK:
      $ref: ../common/responses/success.yaml#/OK
    Created:
      $ref: ../common/responses/success.yaml#/Created
    BadRequest:
      $ref: ../common/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common/responses/error.yaml#/Unauthorized
    Forbidden:
      $ref: ../common/responses/error.yaml#/Forbidden
    NotFound:
      $ref: ../common/responses/error.yaml#/NotFound
    Conflict:
      $ref: ../common/responses/error.yaml#/Conflict
    InternalServerError:
      $ref: ../common/responses/error.yaml#/InternalServerError
    HealthOK:
      $ref: ../common/responses/success.yaml#/HealthOK
  schemas:
    BaseEntity:
      type: object
      required:
      - id
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier (UUID v4)
          example: 123e4567-e89b-12d3-a456-426614174000
          maxLength: 36
        created_at:
          type: string
          format: date-time
          description: Creation timestamp (ISO 8601)
          example: '2025-12-28T10:00:00Z'
          maxLength: 30
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp (ISO 8601)
          example: '2025-12-28T10:00:00Z'
          maxLength: 30
    HealthResponse:
      $ref: ../common/schemas/health.yaml#/HealthResponse
    WebSocketHealthMessage:
      type: object
      required:
      - type
      - timestamp
      - health
      properties:
        type:
          type: string
          enum:
          - health_update
          - health_alert
          - service_down
          example: health_update
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          maxLength: 255
        message_timestamp:
          type: string
          format: date-time
          description: Timestamp of the health message
          maxLength: 1000
        health:
          $ref: ../common/schemas/health.yaml#/HealthResponse
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    Error:
      $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    Example:
      type: object
      required:
      - id
      - name
      - created_at
      - status
      - is_active
      properties:
        id:
          type: string
          format: uuid
          description: Example unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Example display name
          example: Sample Example
        description:
          type: string
          maxLength: 1000
          description: Detailed description
          example: This is a comprehensive example demonstrating best practices.
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: '2025-12-21T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-21T10:00:00Z'
        status:
          type: string
          enum:
          - active
          - inactive
          - pending
          - archived
          default: active
          description: Current status
          example: active
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Associated tags
          example:
          - demo
          - template
          - best-practice
        is_active:
          type: boolean
          description: Whether this example is active
          example: true
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Processing priority
          example: 7
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Hot path optimization required.'
    CreateExampleRequest:
      type: object
      required:
      - name
      - description
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Desired example name
          example: My New Example
        description:
          type: string
          maxLength: 1000
          description: Example description
          example: A new example following enterprise-grade patterns.
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Initial tags
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Processing priority
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    UpdateExampleRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: New example name
          example: Updated Example Name
        description:
          type: string
          maxLength: 1000
          description: New description
        status:
          type: string
          enum:
          - active
          - inactive
          - pending
          - archived
          description: New status
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Replace all tags
        is_active:
          type: boolean
          description: Update active status
        priority:
          type: integer
          minimum: 1
          maximum: 10
          description: New priority
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    ExampleResponse:
      type: object
      required:
      - example
      properties:
        example:
          $ref: '#/components/schemas/Example'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    ExampleListResponse:
      type: object
      required:
      - examples
      - total_count
      - has_more
      properties:
        examples:
          type: array
          items:
            $ref: '#/components/schemas/Example'
          description: List of examples
        has_more:
          type: boolean
          description: Whether there are more results available
          example: true
        total_count:
          type: integer
          description: Total number of examples matching criteria
          example: 150
        page:
          type: integer
          description: Current page number
          example: 1
        limit:
          type: integer
          description: Items per page
          example: 20
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Paginated responses optimized for memory
        efficiency.'
    PaginationParams:
      $ref: ../common/schemas/pagination.yaml#/PaginationParams
    PaginatedResponse:
      $ref: ../common/schemas/pagination.yaml#/PaginatedResponse
    RecipeListResponse:
      type: object
      required:
      - recipes
      - pagination
      properties:
        recipes:
          type: array
          items:
            $ref: '#/components/schemas/Recipe'
          description: List of crafting recipes
        pagination:
          type: object
          required:
          - page
          - limit
          - total_count
          - total_pages
          properties:
            page:
              type: integer
              minimum: 1
              description: Current page number
            limit:
              type: integer
              minimum: 1
              description: Items per page
            total_count:
              type: integer
              minimum: 0
              description: Total number of recipes matching criteria
            total_pages:
              type: integer
              minimum: 0
              description: Total number of pages
          description: Pagination metadata
        filters_applied:
          type: object
          description: Applied filters summary
          additionalProperties: true
      description: '"BACKEND NOTE: Response optimized for frontend recipe browser.

        Includes pagination for large recipe catalogs."

        '
    Recipe:
      allOf:
      - $ref: ../common/schemas/common.yaml#/AuditableEntity
      - type: object
        required:
        - name
        - category
        - tier
        - ingredients
        - result_item
        - crafting_time
        - required_skill_level
        properties:
          name:
            type: string
            maxLength: 100
            description: Human-readable recipe name
            example: Legendary Katana Crafting Recipe
          lore_description:
            type: string
            maxLength: 500
            description: Recipe description and lore
            example: Ancient crafting technique passed down through generations
          category:
            type: string
            enum:
            - weapons
            - armor
            - implants
            - vehicles
            - consumables
            - tools
            - cyberware
            - equipment
            description: Recipe category
          tier:
            type: integer
            minimum: 1
            maximum: 5
            description: Recipe difficulty tier (1-5)
          ingredients:
            type: array
            items:
              $ref: '#/components/schemas/RecipeIngredient'
            minItems: 1
            description: Required crafting materials
          result_item:
            type: object
            required:
            - item_id
            - quantity
            properties:
              item_id:
                type: string
                format: uuid
                description: Result item identifier
              item_name:
                type: string
                description: Result item name
              quantity:
                type: integer
                minimum: 1
                description: Quantity produced
            description: Item produced by recipe
          quality_range:
            type: object
            required:
            - min
            - max
            properties:
              min:
                type: integer
                minimum: 1
                maximum: 100
              max:
                type: integer
                minimum: 1
                maximum: 100
            description: Quality range of crafted item
          crafting_time:
            type: integer
            minimum: 1
            description: Base crafting time in seconds
          required_skill_level:
            type: integer
            minimum: 1
            description: Minimum crafting skill level required
          required_facility:
            type: string
            enum:
            - basic_workbench
            - advanced_workbench
            - cyberware_station
            - vehicle_bay
            - laboratory
            description: Required crafting facility
          success_chance:
            type: number
            format: float
            minimum: 0
            maximum: 1
            default: 1.0
            description: Base success probability
          experience_gained:
            type: integer
            minimum: 0
            description: Experience points awarded on success
          is_discovered:
            type: boolean
            description: Whether recipe is discovered by player
          tags:
            type: array
            items:
              type: string
            description: Recipe tags for filtering
        description: Last recipe modification
      description: '"BACKEND NOTE: Recipe data optimized for crafting calculations.

        Ingredients pre-validated for availability checks."

        '
    RecipeIngredient:
      type: object
      required:
      - item_id
      - quantity
      properties:
        item_id:
          type: string
          format: uuid
          description: Required item identifier
        item_name:
          type: string
          description: Required item name
        quantity:
          type: integer
          minimum: 1
          description: Required quantity
        quality_required:
          type: integer
          minimum: 1
          maximum: 100
          description: Minimum quality required
        is_consumed:
          type: boolean
          default: true
          description: Whether ingredient is consumed in crafting
        alternative_items:
          type: array
          items:
            type: string
            format: uuid
          description: Alternative items that can substitute this ingredient
      description: '"BACKEND NOTE: Ingredient validation prevents impossible crafts.

        Alternative items support flexible crafting requirements."

        '
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth

