openapi: 3.0.3
info:
  title: Travel Events API
  version: 1.0.0
  description: |
    API для событий перемещения по периодам.
    
    Функционал:
    - Travel events по эпохам (2030-2093)
    - Location-based triggers
    - Time-specific events
    - Regional variations
    - Transportation mode events
    - Random encounters during travel
    
    Периоды:
    - 2030-2045: Early Corpo Wars
    - 2045-2060: Time of the Red
    - 2060-2077: Corporate Control
    - 2077: Canon events
    - 2078-2093: New Era
    
    Дополняет: Random Events Extended API
    
    Источники: .BRAIN/02-gameplay/world/events/ (8 travel documents)

  x-microservice:
    name: world-service
    port: 8086
    domain: world
    base-path: /api/v1/gameplay/world
    package: com.necpgame.worldservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Travel Events
    description: События перемещения
  - name: Period Events
    description: События по периодам

paths:
  /gameplay/world/travel-events:
    get:
      summary: Получить travel события
      operationId: getTravelEvents
      tags: [Travel Events]
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [2030-2045, 2045-2060, 2060-2077, 2077, 2078-2093]
        - name: location_type
          in: query
          schema:
            type: string
            enum: [CITY, BADLANDS, HIGHWAY, CHECKPOINT, BORDER]
        - name: transport_mode
          in: query
          schema:
            type: string
            enum: [ON_FOOT, VEHICLE, FAST_TRAVEL]
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Travel события
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/TravelEvent'

  /gameplay/world/travel-events/generate:
    post:
      summary: Сгенерировать travel событие
      operationId: generateTravelEvent
      tags: [Travel Events]
      description: Backend вызывает при перемещении игрока
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - origin
                - destination
                - transport_mode
              properties:
                character_id:
                  type: string
                  format: uuid
                origin:
                  type: string
                destination:
                  type: string
                transport_mode:
                  type: string
                time_of_day:
                  type: string
      responses:
        '200':
          description: Событие сгенерировано или нет
          content:
            application/json:
              schema:
                type: object
                properties:
                  event_generated:
                    type: boolean
                  event:
                    $ref: '#/components/schemas/TravelEventInstance'
                    nullable: true

  /gameplay/world/travel-events/period/{period}:
    get:
      summary: Получить события конкретного периода
      operationId: getPeriodTravelEvents
      tags: [Period Events]
      parameters:
        - name: period
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: События периода
          content:
            application/json:
              schema:
                type: object
                properties:
                  period:
                    type: string
                  era_characteristics:
                    type: object
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/TravelEvent'

components:
  schemas:
    TravelEvent:
      type: object
      properties:
        event_id:
          type: string
        name:
          type: string
        period:
          type: string
        location_types:
          type: array
          items:
            type: string
        trigger_chance:
          type: number
          format: float
        description:
          type: string
        choices:
          type: array
          items:
            type: object
        outcomes:
          type: array
          items:
            type: object

    TravelEventInstance:
      type: object
      properties:
        instance_id:
          type: string
          format: uuid
        event:
          $ref: '#/components/schemas/TravelEvent'
        location:
          type: string
        triggered_at:
          type: string
          format: date-time

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

