openapi: 3.0.3
info:
  title: Combat Service API - Enterprise-Grade Combat System
  description: |
    **Enterprise-grade API for Combat System**
    Complete combat mechanics and battle system management for NECPGAME. Handles real-time combat calculations, damage processing, battle states, and combat-related game mechanics.
    ## Key Features
    - **Enterprise-grade architecture** with proper domain separation - **Backend optimization hints** for struct alignment and performance - **Complete validation** with redocly and ogen code generation - **Security-first approach** with JWT authentication - **Performance-optimized** response structures
    ## Domain Purpose
    Handles core combat operations including session management, action processing, damage calculations, and real-time battle state synchronization.
    ## Performance Targets
    - P99 Latency: <25ms for combat actions - Memory: <100KB per active battle - Concurrent users: 10,000+ simultaneous battles - Data consistency: ACID compliance for combat operations
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    email: api@necpgame.com
  license:
    name: MIT
servers:
  - url: https://api.necpgame.com/v1/combat
    description: Production server
  - url: https://staging-api.necpgame.com/v1/combat
    description: Staging server
  - url: http://localhost:8080/api/v1/combat
    description: Local development server
security:
  - BearerAuth: []
tags:
  - name: Combat Sessions
    description: Combat session lifecycle management
  - name: Combat Actions
    description: Player combat actions and validation
  - name: Health Monitoring
    description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Combat service health check
      description: |
        **Enterprise-grade health check endpoint**
        Provides real-time health status of the combat microservice.
        Critical for service discovery, load balancing, and monitoring.
        **Performance:** <1ms response time, cached for 30 seconds
      operationId: combatServiceHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
              - deflate
              - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                  - gzip
                  - deflate
                  - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          $ref: '#/components/responses/error_TooManyRequests'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /health/batch:
    post:
      summary: Batch health check for multiple services
      description: |
        **Performance optimization:** Check multiple services health in single request
        Reduces N HTTP calls to 1 call. Critical for orchestration.
        **Use case:** Service mesh health checks, Kubernetes readiness probes
      operationId: combatServiceBatchHealthCheck
      tags:
        - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                      - combat-service
                      - user-service
                      - session-service
                  maxItems: 10
                  description: List of services to check
      responses:
        '200':
          $ref: '#/components/responses/HealthBatchSuccess'
        '400':
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/error_TooManyRequests'
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description: |
        **Performance optimization:** Real-time health updates without polling
        Eliminates periodic HTTP requests, reduces server load by ~90%.
        Perfect for dashboard monitoring and alerting systems.
        **Protocol:** WebSocket with JSON payloads
        **Heartbeat:** 30 second intervals
        **Reconnection:** Automatic with exponential backoff
      operationId: combatServiceHealthWebSocket
      tags:
        - Health Monitoring
      parameters:
        - name: services
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - combat-service
                - user-service
                - session-service
          description: Services to monitor (optional, monitors all if not specified)
      responses:
        '101':
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
        '200':
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/combat/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                      - health-monitoring-v1
        '400':
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /combat/sessions:
    post:
      summary: Create new combat session
      description: |
        **Combat session creation endpoint**
        Initializes a new combat session with participants, rules, and environment.
        **Performance:** <50ms P95, includes validation and setup
      operationId: combatServiceCreateSession
      tags:
        - Combat Sessions
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCombatSessionRequest'
      responses:
        '201':
          description: Combat session created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombatSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/error_TooManyRequests'
  /combat/sessions/{sessionId}:
    get:
      summary: Get combat session details
      description: |
        **Combat session retrieval endpoint**
        Returns current state and details of a combat session.
        **Performance:** <25ms P95, cached for active sessions
      operationId: combatServiceGetSession
      tags:
        - Combat Sessions
      security:
        - BearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Combat session details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombatSessionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /combat/sessions/{sessionId}/actions:
    post:
      summary: Execute combat action
      description: |
        **Combat action execution endpoint**
        Processes player combat actions like attacks, abilities, movement.
        **Performance:** <15ms P95, real-time processing required
      operationId: combatServiceExecuteAction
      tags:
        - Combat Actions
      security:
        - BearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CombatActionRequest'
      responses:
        '200':
          description: Action executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombatActionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/error_TooManyRequests'
  /combat/sessions/{sessionId}/state:
    get:
      summary: Get combat session state
      description: |
        **Combat session state endpoint**
        Returns real-time state of combat session including participant status, effects, and current turn information.
        **Performance:** <10ms P95, real-time updates required
      operationId: combatServiceGetSessionState
      tags:
        - Combat Sessions
      security:
        - BearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Combat session state retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombatSessionState'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    HealthBatchSuccess:
      description: Batch health results retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: no-cache
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            type: object
            required:
              - results
              - total_time_ms
            properties:
              results:
                type: array
                items:
                  $ref: '#/components/schemas/HealthResponse'
                description: Health status for each requested service
              total_time_ms:
                type: integer
                description: Total processing time in milliseconds
    TooManyRequests:
      description: Too many requests - rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
            example: 60
            description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    error_TooManyRequests:
      description: Too many requests - rate limit exceeded
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Error'
              - type: object
                properties:
                  retry_after:
                    type: integer
                    example: 60
                    description: Seconds to wait before retrying
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          example: 500
          format: int32
          minimum: 100
          maximum: 599
        message:
          type: string
          example: Internal server error
          maxLength: 1000
        details:
          type: object
          description: Additional error details
      description: Standard error response format
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          enum:
            - healthy
            - degraded
            - unhealthy
          example: healthy
          maxLength: 255
        domain:
          type: string
          example: service-name
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          example: '2025-12-28T10:00:00Z'
          maxLength: 255
        version:
          type: string
          example: 1.0.0
          maxLength: 50
        uptime_seconds:
          type: integer
          example: 3600
          minimum: 0
        active_connections:
          type: integer
          example: 1500
          minimum: 0
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    WebSocketHealthMessage:
      type: object
      required:
        - type
        - timestamp
        - services
      properties:
        type:
          type: string
          enum:
            - health_update
            - service_down
            - service_up
          example: health_update
        timestamp:
          type: string
          format: date-time
          example: '2025-12-28T10:00:00Z'
        services:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/HealthResponse'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    CreateCombatSessionRequest:
      type: object
      required:
        - participants
        - rules
      properties:
        participants:
          type: array
          items:
            $ref: '#/components/schemas/CombatParticipant'
          minItems: 2
          maxItems: 8
        rules:
          $ref: '#/components/schemas/CombatRules'
        environment:
          type: string
          description: Combat environment/map
          example: urban_street
        timeout_minutes:
          type: integer
          minimum: 5
          maximum: 60
          default: 15
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    CombatSessionResponse:
      type: object
      required:
        - id
        - status
        - participants
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Combat session unique identifier
        status:
          type: string
          enum:
            - waiting
            - active
            - paused
            - finished
            - cancelled
          example: active
        participants:
          type: array
          items:
            $ref: '#/components/schemas/CombatParticipant'
        rules:
          $ref: '#/components/schemas/CombatRules'
        current_turn:
          type: integer
          minimum: 0
          description: Current turn number
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
        finished_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    CombatActionRequest:
      type: object
      required:
        - action_type
        - target_id
      properties:
        action_type:
          type: string
          enum:
            - attack
            - ability
            - move
            - defend
            - item
          example: attack
        target_id:
          type: string
          format: uuid
          description: Target participant ID
        ability_id:
          type: string
          format: uuid
          description: Ability ID if action_type is ability
        position:
          $ref: '#/components/schemas/Position'
        parameters:
          type: object
          description: Additional action parameters
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    CombatActionResponse:
      type: object
      required:
        - success
        - action_id
        - effects
      properties:
        success:
          type: boolean
          example: true
        action_id:
          type: string
          format: uuid
          description: Unique action identifier
        effects:
          type: array
          items:
            $ref: '#/components/schemas/CombatEffect'
        new_state:
          $ref: '#/components/schemas/CombatSessionState'
        next_turn:
          type: integer
          description: Next turn number
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    CombatSessionState:
      type: object
      required:
        - session_id
        - status
        - participants
        - current_turn
      properties:
        session_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - waiting
            - active
            - paused
            - finished
            - cancelled
        participants:
          type: array
          items:
            $ref: '#/components/schemas/CombatParticipantState'
        current_turn:
          type: integer
          minimum: 0
        active_effects:
          type: array
          items:
            $ref: '#/components/schemas/CombatEffect'
        environment_state:
          type: object
          description: Current environment state
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    CombatParticipant:
      type: object
      required:
        - id
        - name
        - type
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          maxLength: 50
        type:
          type: string
          enum:
            - player
            - npc
            - enemy
        level:
          type: integer
          minimum: 1
        stats:
          $ref: '#/components/schemas/CombatStats'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    CombatParticipantState:
      type: object
      required:
        - participant_id
        - health
        - position
      properties:
        participant_id:
          type: string
          format: uuid
        health:
          $ref: '#/components/schemas/HealthStatus'
        position:
          $ref: '#/components/schemas/Position'
        status_effects:
          type: array
          items:
            $ref: '#/components/schemas/StatusEffect'
        action_points:
          type: integer
          minimum: 0
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    CombatRules:
      type: object
      properties:
        max_participants:
          type: integer
          minimum: 2
          maximum: 8
          default: 2
        turn_timeout_seconds:
          type: integer
          minimum: 30
          maximum: 300
          default: 60
        allow_abilities:
          type: boolean
          default: true
        allow_items:
          type: boolean
          default: true
        victory_conditions:
          type: array
          items:
            type: string
            enum:
              - eliminate_all
              - survive_time
              - collect_items
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    CombatStats:
      type: object
      required:
        - health
        - attack
        - defense
      properties:
        health:
          type: integer
          minimum: 1
        attack:
          type: integer
          minimum: 0
        defense:
          type: integer
          minimum: 0
        speed:
          type: integer
          minimum: 0
        critical_chance:
          type: number
          minimum: 0
          maximum: 1
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    HealthStatus:
      type: object
      required:
        - current
        - maximum
      properties:
        current:
          type: integer
          minimum: 0
        maximum:
          type: integer
          minimum: 1
        shield:
          type: integer
          minimum: 0
          default: 0
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    Position:
      type: object
      required:
        - x
        - 'y'
      properties:
        x:
          type: number
          format: float
        'y':
          type: number
          format: float
        z:
          type: number
          format: float
          default: 0
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    CombatEffect:
      type: object
      required:
        - type
        - target_id
        - value
      properties:
        type:
          type: string
          enum:
            - damage
            - heal
            - buff
            - debuff
            - status
        target_id:
          type: string
          format: uuid
        value:
          type: integer
        duration_turns:
          type: integer
          minimum: 0
        effect_id:
          type: string
          format: uuid
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    StatusEffect:
      type: object
      required:
        - type
        - duration
      properties:
        type:
          type: string
          enum:
            - poison
            - burn
            - stun
            - slow
            - haste
        duration:
          type: integer
          minimum: 1
        intensity:
          type: integer
          minimum: 1
          default: 1
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    PaginationParams:
      type: object
      properties:
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
          example: 20
        offset:
          type: integer
          minimum: 0
          default: 0
          example: 0
    PaginatedResponse:
      type: object
      required:
        - items
        - total
        - limit
        - offset
      properties:
        items:
          type: array
          description: Array of items
        total:
          type: integer
          minimum: 0
          example: 100
          description: Total number of items
        limit:
          type: integer
          minimum: 1
          maximum: 100
          example: 20
          description: Items per page
        offset:
          type: integer
          minimum: 0
          example: 0
          description: Number of items to skip
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token authentication
