openapi: 3.0.3
info:
  title: Combat Service API - Enterprise-Grade Combat System
  description: "**Enterprise-grade API for Combat System**

    Complete combat mechanics and battle system management for NECPGAME. Handles real-time
    combat calculations, damage processing, battle states, and combat-related game
    mechanics.

    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation - **Backend
    optimization hints** for struct alignment and performance - **Complete validation**
    with redocly and ogen code generation - **Security-first approach** with JWT authentication
    - **Performance-optimized** response structures

    ## Domain Purpose

    Handles core combat operations including session management, action processing,
    damage calculations, and real-time battle state synchronization.

    ## Performance Targets

    - P99 Latency: <25ms for combat actions - Memory: <100KB per active battle - Concurrent
    users: 10,000+ simultaneous battles - Data consistency: ACID compliance for combat
    operations

    "
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    email: api@necpgame.com
  license:
    name: MIT
servers:
  - url: https://api.necpgame.com/v1/combat
    description: Production server
  - url: https://staging-api.necpgame.com/v1/combat
    description: Staging server
  - url: http://localhost:8080/api/v1/combat
    description: Local development server
security:
  - BearerAuth: []
tags:
  - name: Combat Sessions
    description: Combat session lifecycle management
  - name: Combat Actions
    description: Player combat actions and validation
  - name: Health Monitoring
    description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Combat service health check
      description: "**Enterprise-grade health check endpoint**

        Provides real-time health status of the combat microservice.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds

        "
      operationId: combatServiceHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
              - deflate
              - br
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                  - gzip
                  - deflate
                  - br
          content:
            application/json:
              schema:
                $ref: ../common/schemas/health.yaml#/HealthResponse
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../common/schemas/health.yaml#/HealthResponse
        "429":
          $ref: ../common/responses/error.yaml#/TooManyRequests
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /health/batch:
    post:
      summary: Batch health check for multiple services
      description:
        "**Performance optimization:** Check multiple services health in
        single request

        Reduces N HTTP calls to 1 call. Critical for orchestration.

        **Use case:** Service mesh health checks, Kubernetes readiness probes

        "
      operationId: combatServiceBatchHealthCheck
      tags:
        - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                      - combat-service
                      - user-service
                      - session-service
                  maxItems: 10
                  description: List of services to check
      responses:
        "200":
          $ref: "#/components/responses/HealthBatchSuccess"
        "400":
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        "429":
          $ref: ../common/responses/error.yaml#/TooManyRequests
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description:
        "**Performance optimization:** Real-time health updates without
        polling

        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.

        **Protocol:** WebSocket with JSON payloads

        **Heartbeat:** 30 second intervals

        **Reconnection:** Automatic with exponential backoff

        "
      operationId: combatServiceHealthWebSocket
      tags:
        - Health Monitoring
      parameters:
        - name: services
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - combat-service
                - user-service
                - session-service
          description: Services to monitor (optional, monitors all if not specified)
      responses:
        "200":
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/combat/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                      - health-monitoring-v1
        "101":
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
        "400":
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        "401":
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        "429":
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /combat/sessions:
    post:
      summary: Create new combat session
      description: "**Combat session creation endpoint**

        Initializes a new combat session with participants, rules, and environment.

        **Performance:** <50ms P95, includes validation and setup

        "
      operationId: combatServiceCreateSession
      tags:
        - Combat Sessions
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCombatSessionRequest"
      responses:
        "201":
          description: Combat session created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CombatSessionResponse"
        "400":
          $ref: ../common/responses/error.yaml#/BadRequest
        "401":
          $ref: ../common/responses/error.yaml#/Unauthorized
        "429":
          $ref: ../common/responses/error.yaml#/TooManyRequests
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /combat/sessions/{sessionId}:
    get:
      summary: Get combat session details
      description: "**Combat session retrieval endpoint**

        Returns current state and details of a combat session.

        **Performance:** <25ms P95, cached for active sessions

        "
      operationId: combatServiceGetSession
      tags:
        - Combat Sessions
      security:
        - BearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Combat session details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CombatSessionResponse"
        "404":
          $ref: ../common/responses/error.yaml#/NotFound
        "401":
          $ref: ../common/responses/error.yaml#/Unauthorized
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /combat/sessions/{sessionId}/actions:
    post:
      summary: Execute combat action
      description: "**Combat action execution endpoint**

        Processes player combat actions like attacks, abilities, movement.

        **Performance:** <15ms P95, real-time processing required

        "
      operationId: combatServiceExecuteAction
      tags:
        - Combat Actions
      security:
        - BearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CombatActionRequest"
      responses:
        "200":
          description: Action executed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CombatActionResponse"
        "400":
          $ref: ../common/responses/error.yaml#/BadRequest
        "401":
          $ref: ../common/responses/error.yaml#/Unauthorized
        "429":
          $ref: ../common/responses/error.yaml#/TooManyRequests
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /combat/sessions/{sessionId}/state:
    get:
      summary: Get combat session state
      description: "**Combat session state endpoint**

        Returns real-time state of combat session including participant status, effects,
        and current turn information.

        **Performance:** <10ms P95, real-time updates required

        "
      operationId: combatServiceGetSessionState
      tags:
        - Combat Sessions
      security:
        - BearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Combat session state retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CombatSessionState"
        "404":
          $ref: ../common/responses/error.yaml#/NotFound
        "401":
          $ref: ../common/responses/error.yaml#/Unauthorized
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /combat/damage/calculate:
    post:
      summary: Calculate combat damage
      description: "**Enterprise-grade damage calculation endpoint**

        Calculates final damage based on attacker stats, weapon properties, target
        defenses, and active modifiers/effects.

        Essential for fair combat mechanics and anti-cheat validation.

        **Performance:** <5ms P95, synchronous calculation required

        **Security:** Server-side only, validates all input parameters

        "
      operationId: combatServiceCalculateDamage
      tags:
        - Damage Calculation
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DamageCalculationRequest"
      responses:
        "200":
          description: Damage calculated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DamageCalculationResult"
        "400":
          description: Invalid calculation request - validation failed
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        "401":
          $ref: ../common/responses/error.yaml#/Unauthorized
        "500":
          description: Internal calculation error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
      default:
        description: Unexpected error
        content:
          application/json:
            schema:
              $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /combat/weapons/{weaponId}/analytics:
    get:
      summary: Get weapon performance analytics
      description: "**Enterprise-grade weapon analytics endpoint**

        Provides comprehensive statistics on weapon usage patterns, effectiveness
        metrics, balance analysis, and player behavior insights.

        Essential for game balancing, content updates, and player experience optimization.

        **Performance:** <50ms P95 with cached aggregations

        **Data Sources:** Combat logs, player statistics, matchmaking data

        "
      operationId: combatServiceGetWeaponAnalytics
      tags:
        - Weapon Analytics
      security:
        - BearerAuth: []
      parameters:
        - name: weaponId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            description: Weapon unique identifier
        - name: period
          in: query
          schema:
            type: string
            enum:
              - hourly
              - daily
              - weekly
              - monthly
              - all_time
            default: weekly
            description: Analysis time period
        - name: include_player_breakdown
          in: query
          schema:
            type: boolean
            default: false
            description: Include per-player usage statistics
        - name: time_range
          in: query
          schema:
            $ref: "#/components/schemas/TimeRange"
          description: Custom time range for analysis
      responses:
        "200":
          description: Weapon analytics retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeaponAnalyticsResponse"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        "404":
          description: Weapon not found or no usage data available
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        "401":
          $ref: ../common/responses/error.yaml#/Unauthorized
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
components:
  responses:
    HealthBatchSuccess:
      $ref: ../common/responses/success.yaml#/HealthBatchSuccess
    TooManyRequests:
      description: Too many requests - rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
            example: 60
            description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  schemas:
    Error:
      $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    HealthResponse:
      $ref: ../common/schemas/health.yaml#/HealthResponse
    WebSocketHealthMessage:
      type: object
      required:
        - type
        - timestamp
        - services
      properties:
        type:
          type: string
          enum:
            - health_update
            - service_down
            - service_up
          example: health_update
        timestamp:
          type: string
          format: date-time
          example: "2025-12-28T10:00:00Z"
        services:
          type: object
          additionalProperties:
            $ref: ../common/schemas/health.yaml#/HealthResponse
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    CreateCombatSessionRequest:
      type: object
      required:
        - participants
        - rules
      properties:
        participants:
          type: array
          items:
            $ref: "#/components/schemas/CombatParticipant"
          minItems: 2
          maxItems: 8
        rules:
          $ref: "#/components/schemas/CombatRules"
        environment:
          type: string
          description: Combat environment/map
          example: urban_street
        timeout_minutes:
          type: integer
          minimum: 5
          maximum: 60
          default: 15
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    CombatSessionResponse:
      allOf:
        - $ref: ../common/schemas/game-entities.yaml#/CombatSessionEntity
        - type: object
          properties:
            rules:
              $ref: "#/components/schemas/CombatRules"
            current_turn:
              type: integer
              minimum: 0
              description: Current turn number in combat
              example: 3
            game_mode:
              type: string
              enum:
                - deathmatch
                - team_deathmatch
                - capture_the_flag
                - domination
              description: Combat game mode
              example: deathmatch
            max_participants:
              type: integer
              minimum: 2
              maximum: 100
              description: Maximum number of participants
              example: 10
      description:
        "BACKEND NOTE: SOLID inheritance from CombatSessionEntity. Fields
        ordered for struct alignment (large → small). Expected memory savings: 30-50%."
    CombatActionRequest:
      type: object
      required:
        - action_type
        - target_id
      properties:
        action_type:
          type: string
          enum:
            - attack
            - ability
            - move
            - defend
            - item
          example: attack
        target_id:
          type: string
          format: uuid
          description: Target participant ID
        ability_id:
          type: string
          format: uuid
          description: Ability ID if action_type is ability
        position:
          $ref: "#/components/schemas/Position"
        parameters:
          type: object
          description: Additional action parameters
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    CombatActionResponse:
      type: object
      required:
        - success
        - action_id
        - effects
      properties:
        success:
          type: boolean
          example: true
        action_id:
          type: string
          format: uuid
          description: Unique action identifier
        effects:
          type: array
          items:
            $ref: "#/components/schemas/CombatEffect"
        new_state:
          $ref: "#/components/schemas/CombatSessionState"
        next_turn:
          type: integer
          description: Next turn number
        action_result:
          $ref: "#/components/schemas/CombatActionResult"
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    CombatSessionState:
      type: object
      required:
        - session_id
        - status
        - participants
        - current_turn
      properties:
        session_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - waiting
            - active
            - paused
            - finished
            - cancelled
        participants:
          type: array
          items:
            $ref: "#/components/schemas/CombatParticipantState"
        current_turn:
          type: integer
          minimum: 0
        active_effects:
          type: array
          items:
            $ref: "#/components/schemas/CombatEffect"
        environment_state:
          type: object
          description: Current environment state
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    CombatParticipant:
      allOf:
        - $ref: ../common/schemas/game-entities.yaml#/CharacterEntity
        - type: object
          required:
            - participant_type
          properties:
            participant_type:
              type: string
              enum:
                - player
                - npc
                - enemy
              description: Type of combat participant
              example: player
            combat_stats:
              $ref: "#/components/schemas/CombatStats"
            team:
              type: string
              enum:
                - red
                - blue
                - neutral
              description: Combat team assignment
              example: red
            inventory:
              type: array
              items:
                $ref: "#/components/schemas/CombatItem"
              description: Combat inventory items
            abilities:
              type: array
              items:
                $ref: "#/components/schemas/CombatAbility"
              description: Combat abilities
      description:
        "BACKEND NOTE: SOLID inheritance from CharacterEntity. Fields ordered
        for struct alignment (large → small). Expected memory savings: 30-50%."
    CombatParticipantState:
      type: object
      required:
        - participant_id
        - health
        - position
      properties:
        participant_id:
          type: string
          format: uuid
        health:
          $ref: "#/components/schemas/HealthStatus"
        position:
          $ref: "#/components/schemas/Position"
        status_effects:
          type: array
          items:
            $ref: "#/components/schemas/StatusEffect"
        action_points:
          type: integer
          minimum: 0
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    CombatRules:
      type: object
      properties:
        max_participants:
          type: integer
          minimum: 2
          maximum: 8
          default: 2
        turn_timeout_seconds:
          type: integer
          minimum: 30
          maximum: 300
          default: 60
        allow_abilities:
          type: boolean
          default: true
        allow_items:
          type: boolean
          default: true
        victory_conditions:
          type: array
          items:
            type: string
            enum:
              - eliminate_all
              - survive_time
              - collect_items
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    CombatStats:
      type: object
      required:
        - health
        - attack
        - defense
      properties:
        health:
          type: integer
          minimum: 1
        attack:
          type: integer
          minimum: 0
        defense:
          type: integer
          minimum: 0
        speed:
          type: integer
          minimum: 0
        critical_chance:
          type: number
          minimum: 0
          maximum: 1
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    HealthStatus:
      type: object
      required:
        - current
        - maximum
      properties:
        current:
          type: integer
          minimum: 0
        maximum:
          type: integer
          minimum: 1
        shield:
          type: integer
          minimum: 0
          default: 0
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    Position:
      type: object
      required:
        - x
        - y
      properties:
        x:
          type: number
          format: float
        y:
          type: number
          format: float
        z:
          type: number
          format: float
          default: 0
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    CombatEffect:
      type: object
      required:
        - type
        - target_id
        - value
      properties:
        type:
          type: string
          enum:
            - damage
            - heal
            - buff
            - debuff
            - status
        target_id:
          type: string
          format: uuid
        value:
          type: integer
        duration_turns:
          type: integer
          minimum: 0
        effect_id:
          type: string
          format: uuid
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    StatusEffect:
      type: object
      required:
        - type
        - duration
      properties:
        type:
          type: string
          enum:
            - poison
            - burn
            - stun
            - slow
            - haste
        duration:
          type: integer
          minimum: 1
        intensity:
          type: integer
          minimum: 1
          default: 1
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    PaginationParams:
      $ref: ../common/schemas/pagination.yaml#/PaginationParams
    PaginatedResponse:
      $ref: ../common/schemas/pagination.yaml#/PaginatedResponse
    DamageCalculationRequest:
      type: object
      required:
        - attacker_id
        - target_id
        - base_damage
        - damage_type
      properties:
        attacker_id:
          type: string
          format: uuid
          description: Attacking entity identifier
        target_id:
          type: string
          format: uuid
          description: Target entity identifier
        base_damage:
          type: number
          format: float
          minimum: 0
          description: Base damage before modifiers
        damage_type:
          type: string
          enum:
            - physical
            - energy
            - chemical
            - cybernetic
            - elemental
          description: Type of damage being dealt
        weapon_id:
          type: string
          format: uuid
          description: Weapon or ability used
        modifiers:
          type: object
          properties:
            is_critical:
              type: boolean
              default: false
            weak_spot:
              type: boolean
              default: false
            range_modifier:
              type: number
              format: float
              minimum: 0.1
              maximum: 2.0
              default: 1.0
            environmental_factor:
              type: number
              format: float
              minimum: 0.0
              maximum: 2.0
              default: 1.0
          description: Damage modifiers and multipliers
        attacker_stats:
          type: object
          properties:
            strength:
              type: integer
              minimum: 0
            agility:
              type: integer
              minimum: 0
            intelligence:
              type: integer
              minimum: 0
            cybernetic_level:
              type: integer
              minimum: 0
              maximum: 5
          description: Attacker's relevant statistics
        target_defenses:
          type: object
          properties:
            armor:
              type: number
              format: float
              minimum: 0
            resistances:
              type: object
              additionalProperties:
                type: number
                format: float
                minimum: 0
                maximum: 1
              description: Damage type resistances (0.0-1.0)
            shield:
              type: number
              format: float
              minimum: 0
          description: Target's defensive capabilities
      description:
        '"BACKEND NOTE: Request structure optimized for damage calculation
        pipeline.

        All fields validated against game state before calculation."

        '
    DamageCalculationResult:
      type: object
      required:
        - attacker_id
        - target_id
        - base_damage
        - final_damage
        - damage_type
        - calculation_details
      properties:
        attacker_id:
          type: string
          format: uuid
          description: Attacking entity identifier
        target_id:
          type: string
          format: uuid
          description: Target entity identifier
        base_damage:
          type: number
          format: float
          description: Original base damage
        final_damage:
          type: number
          format: float
          minimum: 0
          description: Final damage after all calculations
        damage_type:
          type: string
          enum:
            - physical
            - energy
            - chemical
            - cybernetic
            - elemental
          description: Type of damage dealt
        modifiers_applied:
          type: array
          items:
            type: object
            required:
              - name
              - value
            properties:
              name:
                type: string
              value:
                type: number
                format: float
              type:
                type: string
                enum:
                  - multiplier
                  - additive
                  - reduction
          description: List of modifiers applied in calculation
        was_critical:
          type: boolean
          description: Whether the attack was critical
        was_blocked:
          type: boolean
          description: Whether the attack was blocked
        damage_reduction:
          type: number
          format: float
          minimum: 0
          description: Total damage reduction applied
        penetration:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Armor penetration percentage
        calculation_details:
          type: object
          properties:
            attacker_contribution:
              type: number
              format: float
            weapon_contribution:
              type: number
              format: float
            modifier_contribution:
              type: number
              format: float
            defense_reduction:
              type: number
              format: float
          description: Detailed breakdown of damage calculation
        elemental_effects:
          type: array
          items:
            $ref: "#/components/schemas/ElementalEffect"
          description: Elemental damage effects applied
        timestamp:
          type: string
          format: date-time
          description: Calculation timestamp
      description:
        '"BACKEND NOTE: Result structure designed for combat logging and
        replay.

        All calculations logged for anti-cheat auditing."

        '
    WeaponAnalyticsResponse:
      type: object
      required:
        - weapon_id
        - analysis_period
        - usage_stats
        - performance_metrics
        - balance_assessment
      properties:
        weapon_id:
          type: string
          format: uuid
          description: Weapon identifier
        weapon_name:
          type: string
          description: Human-readable weapon name
        analysis_period:
          type: object
          required:
            - period_type
            - start_date
            - end_date
          properties:
            period_type:
              type: string
              enum:
                - hourly
                - daily
                - weekly
                - monthly
                - all_time
            start_date:
              type: string
              format: date-time
            end_date:
              type: string
              format: date-time
            total_hours:
              type: integer
              description: Total hours analyzed
        usage_stats:
          type: object
          required:
            - total_uses
            - unique_users
            - average_uses_per_user
          properties:
            total_uses:
              type: integer
              minimum: 0
              description: Total times weapon was used
            unique_users:
              type: integer
              minimum: 0
              description: Number of unique players using weapon
            average_uses_per_user:
              type: number
              format: float
              description: Average usage per player
            usage_by_level:
              type: object
              additionalProperties:
                type: integer
              description: Usage breakdown by player level
            usage_by_region:
              type: object
              additionalProperties:
                type: integer
              description: Usage by game region
            items:
              type: array
              items:
                $ref: "#/components/schemas/WeaponAnalyticsItem"
              description: Detailed weapon analytics items
        performance_metrics:
          type: object
          required:
            - average_damage
            - kill_death_ratio
            - win_rate
          properties:
            average_damage:
              type: number
              format: float
              description: Average damage per use
            kill_death_ratio:
              type: number
              format: float
              description: Kills per death ratio
            win_rate:
              type: number
              format: float
              minimum: 0
              maximum: 1
              description: Win rate when using this weapon
            accuracy_rate:
              type: number
              format: float
              minimum: 0
              maximum: 1
              description: Hit accuracy percentage
            time_to_kill:
              type: number
              format: float
              description: Average time to defeat opponent
            damage_per_second:
              type: number
              format: float
              description: Average DPS
        balance_assessment:
          type: object
          required:
            - balance_score
            - recommendations
          properties:
            balance_score:
              type: number
              format: float
              minimum: 0
              maximum: 100
              description: Overall balance score (0-100)
            power_level:
              type: string
              enum:
                - underpowered
                - balanced
                - overpowered
              description: Power level assessment
            recommendations:
              type: array
              items:
                type: object
                required:
                  - type
                  - description
                  - priority
                properties:
                  type:
                    type: string
                    enum:
                      - buff_damage
                      - nerf_damage
                      - adjust_cooldown
                      - change_cost
                      - balance_other_weapons
                  description:
                    type: string
                  priority:
                    type: string
                    enum:
                      - low
                      - medium
                      - high
                      - critical
              description: Balance adjustment recommendations
            compared_to_similar:
              type: object
              description: Comparison with similar weapons
              additionalProperties: true
      description: '"BACKEND NOTE: Analytics data aggregated from combat logs.

        Cached for performance with configurable TTL based on period."

        '

    # Additional schemas needed for combat operations
    CombatItem:
      type: object
      required:
        - id
        - name
        - type
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          maxLength: 100
        type:
          type: string
          enum: [weapon, armor, consumable, implant]
        damage:
          type: integer
          minimum: 0
        ammo:
          type: integer
          minimum: 0
        durability:
          type: integer
          minimum: 0
      description: "Combat item with performance optimizations"

    CombatAbility:
      type: object
      required:
        - id
        - name
        - type
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          maxLength: 100
        type:
          type: string
          enum: [attack, defense, heal, buff]
        damage:
          type: integer
          minimum: 0
        cooldown:
          type: integer
          minimum: 0
        last_used:
          type: string
          format: date-time
      description: "Combat ability with cooldown tracking"

    CombatActionResult:
      type: object
      required:
        - action_id
        - participant
        - action_type
        - timestamp
        - success
      properties:
        action_id:
          type: string
        participant:
          type: string
        action_type:
          type: string
        timestamp:
          type: string
          format: date-time
        effects:
          type: array
          items:
            $ref: "#/components/schemas/CombatEffect"
        success:
          type: boolean
      description: "Result of a combat action"

    ElementalEffect:
      type: object
      required:
        - type
        - value
      properties:
        type:
          type: string
          enum: [fire, ice, electric, poison]
        value:
          type: integer
      description: "Elemental damage effect"

    TimeRange:
      type: object
      required:
        - start_time
        - end_time
      properties:
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
      description: "Time range filter for analytics"

    WeaponAnalyticsItem:
      type: object
      required:
        - weapon_type
        - total_damage
        - accuracy
        - usage_count
      properties:
        weapon_type:
          type: string
        total_damage:
          type: integer
        accuracy:
          type: number
          minimum: 0
          maximum: 1
        usage_count:
          type: integer
      description: "Weapon performance analytics"

  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth

