openapi: 3.0.3
info:
  title: Combat Service API - Enterprise-Grade Combat System
  description: '**Enterprise-grade API for Combat System**

    Complete combat mechanics and battle system management for NECPGAME. Handles real-time
    combat calculations, damage processing, battle states, and combat-related game
    mechanics.

    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation - **Backend
    optimization hints** for struct alignment and performance - **Complete validation**
    with redocly and ogen code generation - **Security-first approach** with JWT authentication
    - **Performance-optimized** response structures

    ## Domain Purpose

    Handles core combat operations including session management, action processing,
    damage calculations, and real-time battle state synchronization.

    ## Performance Targets

    - P99 Latency: <25ms for combat actions - Memory: <100KB per active battle - Concurrent
    users: 10,000+ simultaneous battles - Data consistency: ACID compliance for combat
    operations

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/combat
  description: Production server
- url: https://staging-api.necpgame.com/v1/combat
  description: Staging server
- url: http://localhost:8080/api/v1/combat
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Combat Sessions
  description: Combat session lifecycle management
- name: Combat Actions
  description: Player combat actions and validation
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /combat/sessions:
    $ref: ./paths/combat-sessions.yaml#/paths/~1combat~1sessions
  /combat/sessions/{sessionId}:
    $ref: ./paths/combat-sessions-{sessionId}.yaml#/paths/~1combat~1sessions~1{sessionId}
  /combat/sessions/{sessionId}/actions:
    $ref: ./paths/combat-sessions-{sessionId}-actions.yaml#/paths/~1combat~1sessions~1{sessionId}~1actions
  /combat/sessions/{sessionId}/state:
    $ref: ./paths/combat-sessions-{sessionId}-state.yaml#/paths/~1combat~1sessions~1{sessionId}~1state
  /combat/damage/calculate:
    $ref: ./paths/combat-damage-calculate.yaml#/paths/~1combat~1damage~1calculate
  /combat/weapons/{weaponId}/analytics:
    $ref: ./paths/combat-weapons-{weaponId}-analytics.yaml#/paths/~1combat~1weapons~1{weaponId}~1analytics
components:
  schemas:
    Error:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/Error
    HealthResponse:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/HealthResponse
    WebSocketHealthMessage:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/WebSocketHealthMessage
    CreateCombatSessionRequest:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/CreateCombatSessionRequest
    CombatSessionResponse:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/CombatSessionResponse
    CombatActionRequest:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/CombatActionRequest
    CombatActionResponse:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/CombatActionResponse
    CombatSessionState:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/CombatSessionState
    CombatParticipant:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/CombatParticipant
    CombatParticipantState:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/CombatParticipantState
    CombatRules:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/CombatRules
    CombatStats:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/CombatStats
    HealthStatus:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/HealthStatus
    Position:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/Position
    CombatEffect:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/CombatEffect
    StatusEffect:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/StatusEffect
    PaginationParams:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/PaginationParams
    PaginatedResponse:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/PaginatedResponse
    DamageCalculationRequest:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/DamageCalculationRequest
    DamageCalculationResult:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/DamageCalculationResult
    WeaponAnalyticsResponse:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/WeaponAnalyticsResponse
    CombatItem:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/CombatItem
    CombatAbility:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/CombatAbility
    CombatActionResult:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/CombatActionResult
    ElementalEffect:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/ElementalEffect
    TimeRange:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/TimeRange
    WeaponAnalyticsItem:
      $ref: ./schemas/combat-service-schemas.yaml#/components/schemas/WeaponAnalyticsItem
  responses:
    HealthBatchSuccess:
      $ref: ./schemas/combat-service-responses.yaml#/components/responses/HealthBatchSuccess
    TooManyRequests:
      $ref: ./schemas/combat-service-responses.yaml#/components/responses/TooManyRequests
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
