openapi: 3.0.3
info:
  title: Neural Link Service API
  description: "Enterprise-grade Neural Interface System  NECPGAME .\n\n## \U0001F3AF\
    \ **Neural Link Service Overview**\n\nNeural Link Service          NECPGAME  enterprise-grade\
    \   .\n\n### ** **\n- **Neural Link Management**:   \n- **Implant Integration**:\
    \     \n- **Signal Processing**:   \n- **Cyberpsychosis Monitoring**:  \n\n###\
    \ **  **\n- **Basic Neural Links**:   \n- **Advanced Implants**:  \n- **Corporate\
    \ Interfaces**:  \n- **Black Market Devices**:   \n\n### ** **\n- **Signal Calibration**:\
    \  \n- **Implant Compatibility**:  \n- **Real-time Monitoring**:    \n- **Emergency\
    \ Shutdown**:  \n\n## \U0001F4CA **Performance Targets**\n- **P99 Latency**: <15ms\
    \     \n- **Throughput**: 50,000+ neural operations/second\n- **Concurrent Players**:\
    \ 500,000+  \n- **Memory per Player**: <4KB    \n\n## \U0001F510 **Security**\n\
    - JWT RS256 \n- Rate limiting   \n- Input validation  sanitization\n- Audit logging\
    \  \n"
  version: 1.0.0
  contact:
    name: NECPGAME Platform Team
    email: platform@necpgame.com
  license:
    name: Proprietary
    url: https://necpgame.com/license
servers:
- url: https://neural-link.necpgame.com/api/v1
  description: Production Environment
- url: https://neural-link-staging.necpgame.com/api/v1
  description: Staging Environment
- url: http://localhost:8080/api/v1
  description: Local Development
security:
- BearerAuth: []
tags:
- name: Neural Link Management
  description: '  '
- name: Implant Management
  description: ' '
- name: Signal Processing
  description: ' '
- name: Health Monitoring
  description: ' '
- name: Cyberpsychosis
  description: ''
- name: Health
  description: '  '
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /neural-links:
    $ref: ./paths/neural-links.yaml#/paths/~1neural-links
  /neural-links/{neuralLinkId}:
    $ref: ./paths/neural-links-{neuralLinkId}.yaml#/paths/~1neural-links~1{neuralLinkId}
  /players/{playerId}/neural-link:
    $ref: ./paths/players-{playerId}-neural-link.yaml#/paths/~1players~1{playerId}~1neural-link
  /players/{playerId}/neural-link/calibrate:
    $ref: ./paths/players-{playerId}-neural-link-calibrate.yaml#/paths/~1players~1{playerId}~1neural-link~1calibrate
  /players/{playerId}/neural-link/emergency-shutdown:
    $ref: ./paths/players-{playerId}-neural-link-emergency-shutdown.yaml#/paths/~1players~1{playerId}~1neural-link~1emergency-shutdown
  /implants:
    $ref: ./paths/implants.yaml#/paths/~1implants
  /implants/{implantId}:
    $ref: ./paths/implants-{implantId}.yaml#/paths/~1implants~1{implantId}
  /implants/compatibility:
    $ref: ./paths/implants-compatibility.yaml#/paths/~1implants~1compatibility
  /players/{playerId}/implants:
    $ref: ./paths/players-{playerId}-implants.yaml#/paths/~1players~1{playerId}~1implants
  /players/{playerId}/cyberpsychosis:
    $ref: ./paths/players-{playerId}-cyberpsychosis.yaml#/paths/~1players~1{playerId}~1cyberpsychosis
  /players/{playerId}/cyberpsychosis/treatment:
    $ref: ./paths/players-{playerId}-cyberpsychosis-treatment.yaml#/paths/~1players~1{playerId}~1cyberpsychosis~1treatment
  /signals/process:
    $ref: ./paths/signals-process.yaml#/paths/~1signals~1process
  /analytics/neural-activity:
    $ref: ./paths/analytics-neural-activity.yaml#/paths/~1analytics~1neural-activity
components:
  schemas:
    CharacterEntity:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/CharacterEntity
    BaseEntity:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/BaseEntity
    OptimisticLock:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/OptimisticLock
    ErrorResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/ErrorResponse
    HealthResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/HealthResponse
    HealthBatchRequest:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/HealthBatchRequest
    HealthBatchResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/HealthBatchResponse
    NeuralLinkEntity:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/NeuralLinkEntity
    ImplantEntity:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/ImplantEntity
    PlayerNeuralLinkEntity:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/PlayerNeuralLinkEntity
    PlayerImplantEntity:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/PlayerImplantEntity
    CreateNeuralLinkRequest:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/CreateNeuralLinkRequest
    UpdateNeuralLinkRequest:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/UpdateNeuralLinkRequest
    NeuralLinkResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/NeuralLinkResponse
    NeuralLinkListResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/NeuralLinkListResponse
    InstallNeuralLinkRequest:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/InstallNeuralLinkRequest
    InstallNeuralLinkResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/InstallNeuralLinkResponse
    UninstallNeuralLinkResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/UninstallNeuralLinkResponse
    PlayerNeuralLinkResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/PlayerNeuralLinkResponse
    CalibrateNeuralLinkRequest:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/CalibrateNeuralLinkRequest
    CalibrateNeuralLinkResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/CalibrateNeuralLinkResponse
    EmergencyShutdownRequest:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/EmergencyShutdownRequest
    EmergencyShutdownResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/EmergencyShutdownResponse
    CreateImplantRequest:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/CreateImplantRequest
    ImplantResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/ImplantResponse
    ImplantListResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/ImplantListResponse
    CheckCompatibilityRequest:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/CheckCompatibilityRequest
    CheckCompatibilityResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/CheckCompatibilityResponse
    PlayerImplantsResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/PlayerImplantsResponse
    InstallImplantRequest:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/InstallImplantRequest
    InstallImplantResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/InstallImplantResponse
    CyberpsychosisStatusResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/CyberpsychosisStatusResponse
    TreatCyberpsychosisRequest:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/TreatCyberpsychosisRequest
    TreatCyberpsychosisResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/TreatCyberpsychosisResponse
    ProcessSignalsRequest:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/ProcessSignalsRequest
    ProcessSignalsResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/ProcessSignalsResponse
    NeuralActivityAnalyticsResponse:
      $ref: ./schemas/neural-link-service-schemas.yaml#/components/schemas/NeuralActivityAnalyticsResponse
  responses: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
