openapi: "3.0.3"

info:
  title: "Neural Link Service API"
  description: |
    Enterprise-grade Neural Interface System  NECPGAME .

    ## 🎯 **Neural Link Service Overview**

    Neural Link Service          NECPGAME  enterprise-grade   .

    ### ** **
    - **Neural Link Management**:   
    - **Implant Integration**:     
    - **Signal Processing**:   
    - **Cyberpsychosis Monitoring**:  

    ### **  **
    - **Basic Neural Links**:   
    - **Advanced Implants**:  
    - **Corporate Interfaces**:  
    - **Black Market Devices**:   

    ### ** **
    - **Signal Calibration**:  
    - **Implant Compatibility**:  
    - **Real-time Monitoring**:    
    - **Emergency Shutdown**:  

    ## 📊 **Performance Targets**
    - **P99 Latency**: <15ms     
    - **Throughput**: 50,000+ neural operations/second
    - **Concurrent Players**: 500,000+  
    - **Memory per Player**: <4KB    

    ## 🔐 **Security**
    - JWT RS256 
    - Rate limiting   
    - Input validation  sanitization
    - Audit logging  

  version: "1.0.0"
  contact:
    name: "NECPGAME Platform Team"
    email: "platform@necpgame.com"
  license:
    name: "Proprietary"
    url: "https://necpgame.com/license"

servers:
  - url: "https://neural-link.necpgame.com/api/v1"
    description: "Production Environment"
  - url: "https://neural-link-staging.necpgame.com/api/v1"
    description: "Staging Environment"
  - url: "http://localhost:8080/api/v1"
    description: "Local Development"

security:
  - BearerAuth: []

tags:
  - name: "Neural Link Management"
    description: "  "
  - name: "Implant Management"
    description: " "
  - name: "Signal Processing"
    description: " "
  - name: "Health Monitoring"
    description: " "
  - name: "Cyberpsychosis"
    description: ""
  - name: "Health"
    description: "  "

paths:
  /health:
    get:
      summary: "  "
      operationId: "healthCheck"
      tags: ["Health"]
      responses:
        "200":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /health/batch:
    post:
      summary: "  "
      operationId: "healthBatchCheck"
      tags: ["Health"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthBatchRequest"
      responses:
        "200":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthBatchResponse"
        "400":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /health/ws:
    get:
      summary: "WebSocket  "
      operationId: "healthWebSocketCheck"
      tags: ["Health"]
      responses:
        "101":
          description: "WebSocket  "
        "503":
          description: "WebSocket "

  /neural-links:
    post:
      summary: "  "
      operationId: "createNeuralLink"
      tags: ["Neural Link Management"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNeuralLinkRequest"
      responses:
        "201":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NeuralLinkResponse"
        "400":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      summary: "   "
      operationId: "getNeuralLinks"
      tags: ["Neural Link Management"]
      parameters:
        - name: "manufacturer"
          in: "query"
          schema:
            type: "string"
            enum: ["arasaka", "militech", "biotechnica", "trauma_team", "black_market"]
        - name: "type"
          in: "query"
          schema:
            type: "string"
            enum: ["basic", "advanced", "military", "prototype"]
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
      responses:
        "200":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NeuralLinkListResponse"

  /neural-links/{neuralLinkId}:
    get:
      summary: "    ID"
      operationId: "getNeuralLink"
      tags: ["Neural Link Management"]
      parameters:
        - name: "neuralLinkId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NeuralLinkResponse"
        "404":
          description: "   "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      summary: "  "
      operationId: "updateNeuralLink"
      tags: ["Neural Link Management"]
      parameters:
        - name: "neuralLinkId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateNeuralLinkRequest"
      responses:
        "200":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NeuralLinkResponse"
        "403":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "   "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /players/{playerId}/neural-link:
    get:
      summary: "  "
      operationId: "getPlayerNeuralLink"
      tags: ["Neural Link Management"]
      parameters:
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerNeuralLinkResponse"
        "404":
          description: "      "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      summary: "   "
      operationId: "installNeuralLink"
      tags: ["Neural Link Management"]
      parameters:
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstallNeuralLinkRequest"
      responses:
        "200":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstallNeuralLinkResponse"
        "400":
          description: "   "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "     "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      summary: "   "
      operationId: "uninstallNeuralLink"
      tags: ["Neural Link Management"]
      parameters:
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UninstallNeuralLinkResponse"
        "404":
          description: "     "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /players/{playerId}/neural-link/calibrate:
    post:
      summary: "  "
      operationId: "calibrateNeuralLink"
      tags: ["Signal Processing"]
      parameters:
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalibrateNeuralLinkRequest"
      responses:
        "200":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalibrateNeuralLinkResponse"
        "400":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /players/{playerId}/neural-link/emergency-shutdown:
    post:
      summary: "   "
      operationId: "emergencyShutdown"
      tags: ["Health Monitoring"]
      parameters:
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmergencyShutdownRequest"
      responses:
        "200":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmergencyShutdownResponse"
        "400":
          description: "   "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /implants:
    post:
      summary: " "
      operationId: "createImplant"
      tags: ["Implant Management"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateImplantRequest"
      responses:
        "201":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImplantResponse"
        "400":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      summary: "  "
      operationId: "getImplants"
      tags: ["Implant Management"]
      parameters:
        - name: "category"
          in: "query"
          schema:
            type: "string"
            enum: ["neural", "cybernetic", "optic", "sensory", "muscle"]
        - name: "rarity"
          in: "query"
          schema:
            type: "string"
            enum: ["common", "uncommon", "rare", "epic", "legendary"]
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
      responses:
        "200":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImplantListResponse"

  /implants/{implantId}:
    get:
      summary: "   ID"
      operationId: "getImplant"
      tags: ["Implant Management"]
      parameters:
        - name: "implantId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImplantResponse"
        "404":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /implants/compatibility:
    post:
      summary: "  "
      operationId: "checkImplantCompatibility"
      tags: ["Implant Management"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckCompatibilityRequest"
      responses:
        "200":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckCompatibilityResponse"

  /players/{playerId}/implants:
    get:
      summary: " "
      operationId: "getPlayerImplants"
      tags: ["Implant Management"]
      parameters:
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
        - name: "status"
          in: "query"
          schema:
            type: string
            enum: ["installed", "available", "malfunctioning"]
      responses:
        "200":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerImplantsResponse"

    post:
      summary: "  "
      operationId: "installImplant"
      tags: ["Implant Management"]
      parameters:
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstallImplantRequest"
      responses:
        "200":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstallImplantResponse"
        "400":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /players/{playerId}/cyberpsychosis:
    get:
      summary: "  "
      operationId: "getCyberpsychosisStatus"
      tags: ["Cyberpsychosis"]
      parameters:
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CyberpsychosisStatusResponse"

  /players/{playerId}/cyberpsychosis/treatment:
    post:
      summary: " "
      operationId: "treatCyberpsychosis"
      tags: ["Cyberpsychosis"]
      parameters:
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TreatCyberpsychosisRequest"
      responses:
        "200":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TreatCyberpsychosisResponse"
        "400":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /signals/process:
    post:
      summary: "  "
      operationId: "processNeuralSignals"
      tags: ["Signal Processing"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProcessSignalsRequest"
      responses:
        "200":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessSignalsResponse"

  /analytics/neural-activity:
    get:
      summary: "  "
      operationId: "getNeuralActivityAnalytics"
      tags: ["Health Monitoring"]
      parameters:
        - name: "period"
          in: "query"
          schema:
            type: "string"
            enum: ["hourly", "daily", "weekly", "monthly"]
            default: "daily"
        - name: "metric"
          in: "query"
          schema:
            type: "string"
            enum: ["signal_quality", "cyberpsychosis_incidents", "implant_failures", "calibration_success"]
      responses:
        "200":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NeuralActivityAnalyticsResponse"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Common inherited entities
    CharacterEntity:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/CharacterEntity"
    BaseEntity:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/BaseEntity"
    OptimisticLock:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/OptimisticLock"
    ErrorResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse"
    HealthResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthResponse"
    HealthBatchRequest:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthBatchRequest"
    HealthBatchResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthBatchResponse"

    # Neural Link specific schemas
    NeuralLinkEntity:
      type: object
      description: "  "
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - model
            - manufacturer
            - type
            - firmwareVersion
          properties:
            model:
              type: string
              description: "  "
              maxLength: 50
              example: "Arasaka Mk.4"
            manufacturer:
              type: string
              description: ""
              enum: ["arasaka", "militech", "biotechnica", "trauma_team", "black_market"]
              example: "arasaka"
            type:
              type: string
              description: "  "
              enum: ["basic", "advanced", "military", "prototype"]
              example: "advanced"
            firmwareVersion:
              type: string
              description: " "
              pattern: "^\\d+\\.\\d+\\.\\d+$"
              example: "2.1.3"
            hardwareSpecs:
              type: object
              description: " "
              properties:
                bandwidth:
                  type: integer
                  description: "  (Mbps)"
                  minimum: 1
                  example: 1000
                latency:
                  type: integer
                  description: " (ms)"
                  minimum: 1
                  example: 5
                powerConsumption:
                  type: integer
                  description: "  (W)"
                  minimum: 1
                  example: 25
            supportedImplants:
              type: array
              description: " "
              items:
                type: string
                maxLength: 50
            maxImplants:
              type: integer
              description: "  "
              minimum: 1
              maximum: 20
              example: 8
            cyberpsychosisResistance:
              type: integer
              description: " "
              minimum: 0
              maximum: 100
              example: 75
            price:
              type: integer
              description: "  eddies"
              minimum: 0
              example: 50000
            isActive:
              type: boolean
              description: "  "
              default: true
            $ref: "#/components/schemas/OptimisticLock"

    ImplantEntity:
      type: object
      description: " "
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - name
            - category
            - rarity
            - effects
          properties:
            name:
              type: string
              description: " "
              maxLength: 100
              example: "Kerenzikov Boost System"
            description:
              type: string
              description: " "
              maxLength: 500
            category:
              type: string
              description: " "
              enum: ["neural", "cybernetic", "optic", "sensory", "muscle"]
              example: "muscle"
            rarity:
              type: string
              description: " "
              enum: ["common", "uncommon", "rare", "epic", "legendary"]
              example: "rare"
            effects:
              type: array
              description: " "
              items:
                type: object
                properties:
                  type:
                    type: string
                    enum: ["stat_boost", "ability_unlock", "damage_resistance", "stealth_bonus"]
                  value:
                    type: number
                  duration:
                    type: integer
                    description: "  "
                  cooldown:
                    type: integer
                    description: "  "
            requirements:
              type: object
              description: "  "
              properties:
                neuralLinkType:
                  type: string
                  enum: ["basic", "advanced", "military", "prototype"]
                minNeuralLinkLevel:
                  type: integer
                  minimum: 1
                incompatibleImplants:
                  type: array
                  items:
                    type: string
                    maxLength: 50
            cyberpsychosisRisk:
              type: integer
              description: " "
              minimum: 0
              maximum: 100
              example: 15
            installationTime:
              type: integer
              description: "   "
              minimum: 1
              example: 30
            price:
              type: integer
              description: "  eddies"
              minimum: 0
              example: 25000
            isActive:
              type: boolean
              description: "  "
              default: true
            $ref: "#/components/schemas/OptimisticLock"

    PlayerNeuralLinkEntity:
      type: object
      description: "  "
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - playerId
            - neuralLinkId
            - installationDate
          properties:
            playerId:
              type: string
              description: "ID "
              format: uuid
              example: "123e4567-e89b-12d3-a456-426614174000"
            neuralLinkId:
              type: string
              description: "ID  "
              format: uuid
              example: "456e7890-e89b-12d3-a456-426614174001"
            installationDate:
              type: string
              description: " "
              format: date-time
            firmwareVersion:
              type: string
              description: "  "
              pattern: "^\\d+\\.\\d+\\.\\d+$"
            signalQuality:
              type: number
              description: " "
              minimum: 0
              maximum: 1
              example: 0.95
            bandwidthUsage:
              type: number
              description: "  "
              minimum: 0
              maximum: 1
              example: 0.3
            activeImplants:
              type: array
              description: " "
              items:
                type: string
                format: uuid
            cyberpsychosisLevel:
              type: number
              description: " "
              minimum: 0
              maximum: 1
              example: 0.05
            lastCalibration:
              type: string
              description: " "
              format: date-time
            emergencyShutdowns:
              type: integer
              description: "  "
              minimum: 0
            isActive:
              type: boolean
              description: "  "
              default: true
            $ref: "#/components/schemas/OptimisticLock"

    PlayerImplantEntity:
      type: object
      description: " "
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - playerId
            - implantId
            - status
          properties:
            playerId:
              type: string
              description: "ID "
              format: uuid
            implantId:
              type: string
              description: "ID "
              format: uuid
            status:
              type: string
              description: " "
              enum: ["installed", "installing", "malfunctioning", "removed"]
              example: "installed"
            installationDate:
              type: string
              description: " "
              format: date-time
            malfunctionDate:
              type: string
              description: " "
              format: date-time
            repairCost:
              type: integer
              description: " "
              minimum: 0
            isActive:
              type: boolean
              description: "  "
              default: true
            $ref: "#/components/schemas/OptimisticLock"

    # Request/Response schemas
    CreateNeuralLinkRequest:
      type: object
      required:
        - model
        - manufacturer
        - type
        - firmwareVersion
      properties:
        model:
          type: string
          maxLength: 50
        manufacturer:
          type: string
          enum: ["arasaka", "militech", "biotechnica", "trauma_team", "black_market"]
        type:
          type: string
          enum: ["basic", "advanced", "military", "prototype"]
        firmwareVersion:
          type: string
          pattern: "^\\d+\\.\\d+\\.\\d+$"
        hardwareSpecs:
          type: object
          properties:
            bandwidth:
              type: integer
              minimum: 1
            latency:
              type: integer
              minimum: 1
            powerConsumption:
              type: integer
              minimum: 1
        supportedImplants:
          type: array
          items:
            type: string
            maxLength: 50
        maxImplants:
          type: integer
          minimum: 1
          maximum: 20
        cyberpsychosisResistance:
          type: integer
          minimum: 0
          maximum: 100
        price:
          type: integer
          minimum: 0

    UpdateNeuralLinkRequest:
      type: object
      properties:
        model:
          type: string
          maxLength: 50
        manufacturer:
          type: string
          enum: ["arasaka", "militech", "biotechnica", "trauma_team", "black_market"]
        type:
          type: string
          enum: ["basic", "advanced", "military", "prototype"]
        firmwareVersion:
          type: string
          pattern: "^\\d+\\.\\d+\\.\\d+$"
        hardwareSpecs:
          type: object
          properties:
            bandwidth:
              type: integer
              minimum: 1
            latency:
              type: integer
              minimum: 1
            powerConsumption:
              type: integer
              minimum: 1
        supportedImplants:
          type: array
          items:
            type: string
            maxLength: 50
        maxImplants:
          type: integer
          minimum: 1
          maximum: 20
        cyberpsychosisResistance:
          type: integer
          minimum: 0
          maximum: 100
        price:
          type: integer
          minimum: 0
        isActive:
          type: boolean

    NeuralLinkResponse:
      type: object
      properties:
        neuralLink:
          $ref: "#/components/schemas/NeuralLinkEntity"
        metadata:
          type: object
          properties:
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time

    NeuralLinkListResponse:
      type: object
      properties:
        neuralLinks:
          type: array
          items:
            $ref: "#/components/schemas/NeuralLinkEntity"
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 100
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean

    InstallNeuralLinkRequest:
      type: object
      required:
        - neuralLinkId
      properties:
        neuralLinkId:
          type: string
          format: uuid

    InstallNeuralLinkResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        neuralLink:
          $ref: "#/components/schemas/NeuralLinkEntity"
        installationDate:
          type: string
          format: date-time
        initialCalibration:
          type: object
          properties:
            signalQuality:
              type: number
              minimum: 0
              maximum: 1
            success:
              type: boolean

    UninstallNeuralLinkResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        neuralLinkId:
          type: string
          format: uuid
        uninstallDate:
          type: string
          format: date-time
        finalStats:
          type: object
          properties:
            totalUsageTime:
              type: integer
              description: "    "
            implantsInstalled:
              type: integer
            cyberpsychosisIncidents:
              type: integer

    PlayerNeuralLinkResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        neuralLink:
          $ref: "#/components/schemas/PlayerNeuralLinkEntity"
        activeImplants:
          type: array
          items:
            $ref: "#/components/schemas/PlayerImplantEntity"
        healthStatus:
          type: object
          properties:
            signalQuality:
              type: number
              minimum: 0
              maximum: 1
            cyberpsychosisRisk:
              type: string
              enum: ["low", "medium", "high", "critical"]
            warnings:
              type: array
              items:
                type: string

    CalibrateNeuralLinkRequest:
      type: object
      required:
        - calibrationType
      properties:
        calibrationType:
          type: string
          enum: ["quick", "full", "emergency"]
          default: "quick"
        targetSignalQuality:
          type: number
          minimum: 0
          maximum: 1
          default: 0.95

    CalibrateNeuralLinkResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        calibrationType:
          type: string
          enum: ["quick", "full", "emergency"]
        success:
          type: boolean
        signalQualityBefore:
          type: number
          minimum: 0
          maximum: 1
        signalQualityAfter:
          type: number
          minimum: 0
          maximum: 1
        calibrationTime:
          type: integer
          description: "   "
        recommendations:
          type: array
          items:
            type: string

    EmergencyShutdownRequest:
      type: object
      required:
        - reason
      properties:
        reason:
          type: string
          enum: ["cyberpsychosis", "signal_failure", "overheat", "user_request"]
        force:
          type: boolean
          description: " "
          default: false

    EmergencyShutdownResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        shutdownReason:
          type: string
        success:
          type: boolean
        shutdownTime:
          type: string
          format: date-time
        recoveryTime:
          type: integer
          description: "   "
        dataLoss:
          type: boolean
          description: "   "

    CreateImplantRequest:
      type: object
      required:
        - name
        - category
        - rarity
        - effects
      properties:
        name:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 500
        category:
          type: string
          enum: ["neural", "cybernetic", "optic", "sensory", "muscle"]
        rarity:
          type: string
          enum: ["common", "uncommon", "rare", "epic", "legendary"]
        effects:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: ["stat_boost", "ability_unlock", "damage_resistance", "stealth_bonus"]
              value:
                type: number
              duration:
                type: integer
              cooldown:
                type: integer
        requirements:
          type: object
          properties:
            neuralLinkType:
              type: string
              enum: ["basic", "advanced", "military", "prototype"]
            minNeuralLinkLevel:
              type: integer
              minimum: 1
            incompatibleImplants:
              type: array
              items:
                type: string
                maxLength: 50
        cyberpsychosisRisk:
          type: integer
          minimum: 0
          maximum: 100
        installationTime:
          type: integer
          minimum: 1
        price:
          type: integer
          minimum: 0

    ImplantResponse:
      type: object
      properties:
        implant:
          $ref: "#/components/schemas/ImplantEntity"
        metadata:
          type: object
          properties:
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time

    ImplantListResponse:
      type: object
      properties:
        implants:
          type: array
          items:
            $ref: "#/components/schemas/ImplantEntity"
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 100
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean

    CheckCompatibilityRequest:
      type: object
      required:
        - neuralLinkId
        - implantIds
      properties:
        neuralLinkId:
          type: string
          format: uuid
        implantIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          maxItems: 10

    CheckCompatibilityResponse:
      type: object
      properties:
        neuralLinkId:
          type: string
          format: uuid
        implantIds:
          type: array
          items:
            type: string
            format: uuid
        compatibilityResults:
          type: array
          items:
            type: object
            properties:
              implantId:
                type: string
                format: uuid
              compatible:
                type: boolean
              issues:
                type: array
                items:
                  type: string
                description: " "
              cyberpsychosisIncrease:
                type: number
                minimum: 0
                maximum: 1
        overallCompatibility:
          type: boolean
        totalCyberpsychosisRisk:
          type: number
          minimum: 0
          maximum: 1

    PlayerImplantsResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        implants:
          type: array
          items:
            $ref: "#/components/schemas/PlayerImplantEntity"
        maxImplants:
          type: integer
        cyberpsychosisLevel:
          type: number
          minimum: 0
          maximum: 1

    InstallImplantRequest:
      type: object
      required:
        - implantId
      properties:
        implantId:
          type: string
          format: uuid
        skipCompatibilityCheck:
          type: boolean
          default: false

    InstallImplantResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        implant:
          $ref: "#/components/schemas/PlayerImplantEntity"
        installationTime:
          type: integer
          description: "   "
        cyberpsychosisIncrease:
          type: number
          minimum: 0
          maximum: 1
        warnings:
          type: array
          items:
            type: string

    CyberpsychosisStatusResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        currentLevel:
          type: number
          minimum: 0
          maximum: 1
        riskLevel:
          type: string
          enum: ["low", "medium", "high", "critical"]
        symptoms:
          type: array
          items:
            type: string
            enum: ["hallucinations", "paranoia", "memory_loss", "aggression", "dissociation"]
        triggers:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: ["implant_overload", "signal_interference", "combat_stress", "extended_use"]
              severity:
                type: string
                enum: ["low", "medium", "high"]
              timestamp:
                type: string
                format: date-time
        treatmentHistory:
          type: array
          items:
            type: object
            properties:
              treatmentType:
                type: string
                enum: ["medication", "neural_recalibration", "implant_removal", "therapy"]
              date:
                type: string
                format: date-time
              effectiveness:
                type: number
                minimum: 0
                maximum: 1

    TreatCyberpsychosisRequest:
      type: object
      required:
        - treatmentType
      properties:
        treatmentType:
          type: string
          enum: ["medication", "neural_recalibration", "implant_removal", "therapy"]
        targetImplantId:
          type: string
          format: uuid
          description: "ID    ( treatmentType = implant_removal)"

    TreatCyberpsychosisResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        treatmentType:
          type: string
        success:
          type: boolean
        levelBefore:
          type: number
          minimum: 0
          maximum: 1
        levelAfter:
          type: number
          minimum: 0
          maximum: 1
        treatmentCost:
          type: integer
          minimum: 0
        recoveryTime:
          type: integer
          description: "   "
        sideEffects:
          type: array
          items:
            type: string

    ProcessSignalsRequest:
      type: object
      required:
        - playerId
        - signals
      properties:
        playerId:
          type: string
          format: uuid
        signals:
          type: array
          items:
            type: object
            required:
              - type
              - data
            properties:
              type:
                type: string
                enum: ["neural_activity", "implant_feedback", "environmental_input", "emotional_state"]
              data:
                type: object
                additionalProperties: true
              timestamp:
                type: string
                format: date-time

    ProcessSignalsResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        processedSignals:
          type: integer
          minimum: 0
        anomaliesDetected:
          type: integer
          minimum: 0
        recommendations:
          type: array
          items:
            type: string
            enum: ["calibration_needed", "implant_check", "cyberpsychosis_monitoring", "signal_booster"]
        processedData:
          type: object
          additionalProperties: true
          description: "  "

    NeuralActivityAnalyticsResponse:
      type: object
      properties:
        period:
          type: string
          enum: ["hourly", "daily", "weekly", "monthly"]
        totalActiveLinks:
          type: integer
          minimum: 0
        averageSignalQuality:
          type: number
          minimum: 0
          maximum: 1
        cyberpsychosisIncidents:
          type: integer
          minimum: 0
        implantFailures:
          type: integer
          minimum: 0
        calibrationSuccessRate:
          type: number
          minimum: 0
          maximum: 1
        popularImplants:
          type: array
          items:
            type: object
            properties:
              implantId:
                type: string
                format: uuid
              name:
                type: string
              installationCount:
                type: integer
                minimum: 0
        manufacturerStats:
          type: object
          additionalProperties:
            type: object
            properties:
              activeLinks:
                type: integer
                minimum: 0
              averageQuality:
                type: number
                minimum: 0
                maximum: 1

