# Character Status API
# Источник: .BRAIN/05-technical/ui-main-game.md (v1.1.0)
# Task ID: API-TASK-035

openapi: 3.0.3
info:
  title: Character Status API
  version: 1.0.0
  description: API для управления состоянием персонажа в NECPGAME.

  x-microservice:
    name: character-service
    port: 8082
    domain: characters
    base-path: /api/v1/characters
    package: com.necpgame.characterservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

paths:
  /characters/{characterId}/status:
    get:
      summary: Текущий статус персонажа
      operationId: getCharacterStatus
      tags: [Characters, Status]
      security: [{BearerAuth: []}]
      parameters:
        - {name: characterId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Статус персонажа
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CharacterStatus'}

  /characters/{characterId}/stats:
    get:
      summary: Характеристики персонажа
      operationId: getCharacterStats
      tags: [Characters, Stats]
      security: [{BearerAuth: []}]
      parameters:
        - {name: characterId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Характеристики
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CharacterStats'}

  /characters/{characterId}/skills:
    get:
      summary: Навыки персонажа
      operationId: getCharacterSkills
      tags: [Characters, Skills]
      security: [{BearerAuth: []}]
      parameters:
        - {name: characterId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Навыки
          content:
            application/json:
              schema:
                type: object
                properties:
                  skills: {type: array, items: {$ref: '#/components/schemas/Skill'}}

  /characters/{characterId}/status/update:
    post:
      summary: Обновить статус персонажа
      operationId: updateCharacterStatus
      tags: [Characters, Status]
      security: [{BearerAuth: []}]
      parameters:
        - {name: characterId, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                healthDelta: {type: integer, nullable: true}
                energyDelta: {type: integer, nullable: true}
                humanityDelta: {type: integer, nullable: true}
                experienceDelta: {type: integer, nullable: true}
      responses:
        '200':
          description: Статус обновлен
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CharacterStatus'}

components:
  schemas:
    CharacterStatus:
      type: object
      required: [characterId, health, maxHealth, energy, maxEnergy, humanity, level, experience]
      properties:
        characterId: {type: string, format: uuid}
        health: {type: integer}
        maxHealth: {type: integer}
        energy: {type: integer}
        maxEnergy: {type: integer}
        humanity: {type: integer}
        maxHumanity: {type: integer, default: 100}
        level: {type: integer}
        experience: {type: integer}
        nextLevelExperience: {type: integer}

    CharacterStats:
      type: object
      required: [characterId, strength, reflexes, intelligence, technical, cool]
      properties:
        characterId: {type: string, format: uuid}
        strength: {type: integer}
        reflexes: {type: integer}
        intelligence: {type: integer}
        technical: {type: integer}
        cool: {type: integer}

    Skill:
      type: object
      required: [id, name, level, experience]
      properties:
        id: {type: string}
        name: {type: string}
        level: {type: integer}
        experience: {type: integer}
        maxLevel: {type: integer, default: 20}

  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'

