openapi: 3.0.3
info:
  title: Guild Service API - Enterprise-Grade Social Gaming Systems
  description: '**Enterprise-Grade Guild Service API for NECPGAME**

    This API manages guild systems, social mechanics, and cooperative gameplay in
    the Night City universe, providing comprehensive guild management, member coordination,
    and competitive guild features.

    ## Key Features

    - **Guild Management**: Creation, hierarchy, and administration - **Social Systems**:
    Member recruitment, roles, and communication - **Cooperative Gameplay**: Guild
    quests, events, and resource sharing - **Competitive Elements**: Guild rankings,
    PvP, and inter-guild conflicts - **Performance Optimized**: MMOFPS-grade performance
    with <20ms P99 latency

    ## Domain Purpose

    The Guild domain handles all aspects of player organization and social cooperation
    in Night City. Players form guilds to tackle challenges together, compete against
    other guilds, and build lasting social connections.

    ## Performance Targets

    - P99 Latency: <20ms for guild operations - Memory: <12KB per active guild member
    - Concurrent guilds: 50,000+ active guilds - Real-time updates: <50ms propagation
    time - Guild chat: 1000+ concurrent users

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/guild
  description: Production server
- url: https://staging-api.necpgame.com/v1/guild
  description: Staging server
- url: http://localhost:8080/api/v1/guild
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Guild Management
  description: Core guild creation and administration
- name: Member Management
  description: Guild membership, roles, and permissions
- name: Guild Communication
  description: Chat, announcements, and coordination
- name: Guild Economy
  description: Bank, resources, and shared assets
- name: Guild Competition
  description: Rankings, PvP, and inter-guild activities
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /guilds:
    $ref: ./paths/guilds.yaml#/paths/~1guilds
  /guilds/{guild_id}:
    $ref: ./paths/guilds-{guild_id}.yaml#/paths/~1guilds~1{guild_id}
  /guilds/{guild_id}/members:
    $ref: ./paths/guilds-{guild_id}-members.yaml#/paths/~1guilds~1{guild_id}~1members
  /guilds/{guild_id}/members/{user_id}:
    $ref: ./paths/guilds-{guild_id}-members-{user_id}.yaml#/paths/~1guilds~1{guild_id}~1members~1{user_id}
  /guilds/{guild_id}/bank:
    $ref: ./paths/guilds-{guild_id}-bank.yaml#/paths/~1guilds~1{guild_id}~1bank
  /guilds/rankings:
    $ref: ./paths/guilds-rankings.yaml#/paths/~1guilds~1rankings
components:
  schemas:
    HealthResponse:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/HealthResponse
    GuildListResponse:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/GuildListResponse
    GuildSummary:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/GuildSummary
    Guild:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/Guild
    GuildRequirements:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/GuildRequirements
    GuildStatistics:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/GuildStatistics
    CreateGuildRequest:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/CreateGuildRequest
    UpdateGuildRequest:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/UpdateGuildRequest
    GuildResponse:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/GuildResponse
    GuildMembersResponse:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/GuildMembersResponse
    GuildMember:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/GuildMember
    InviteToGuildRequest:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/InviteToGuildRequest
    GuildInvitationResponse:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/GuildInvitationResponse
    UpdateGuildMemberRequest:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/UpdateGuildMemberRequest
    GuildMemberResponse:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/GuildMemberResponse
    GuildBankResponse:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/GuildBankResponse
    GuildBankItem:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/GuildBankItem
    GuildBankDepositRequest:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/GuildBankDepositRequest
    GuildBankTransactionResponse:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/GuildBankTransactionResponse
    GuildRankingsResponse:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/GuildRankingsResponse
    GuildRanking:
      $ref: ./schemas/guild-service-schemas.yaml#/components/schemas/GuildRanking
  responses:
    HealthBatchSuccess:
      $ref: ./schemas/guild-service-responses.yaml#/components/responses/HealthBatchSuccess
    OK:
      $ref: ./schemas/guild-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/guild-service-responses.yaml#/components/responses/Created
    BadRequest:
      $ref: ./schemas/guild-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/guild-service-responses.yaml#/components/responses/Unauthorized
    Forbidden:
      $ref: ./schemas/guild-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/guild-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/guild-service-responses.yaml#/components/responses/Conflict
    InternalServerError:
      $ref: ./schemas/guild-service-responses.yaml#/components/responses/InternalServerError
    HealthOK:
      $ref: ./schemas/guild-service-responses.yaml#/components/responses/HealthOK
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/components/securitySchemes/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/components/security/security.yaml#/components/securitySchemes/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/components/securitySchemes/ServiceAuth
