openapi: 3.0.3
info:
  title: Guild Service API - Enterprise-Grade Social Gaming Systems
  description: '**Enterprise-Grade Guild Service API for NECPGAME**

    This API manages guild systems, social mechanics, and cooperative gameplay
    in the Night City universe, providing comprehensive guild management,
    member coordination, and competitive guild features.

    ## Key Features

    - **Guild Management**: Creation, hierarchy, and administration - **Social Systems**: Member recruitment, roles, and communication - **Cooperative Gameplay**: Guild quests, events, and resource sharing - **Competitive Elements**: Guild rankings, PvP, and inter-guild conflicts - **Performance Optimized**: MMOFPS-grade performance with <20ms P99 latency

    ## Domain Purpose

    The Guild domain handles all aspects of player organization and social
    cooperation in Night City. Players form guilds to tackle challenges together,
    compete against other guilds, and build lasting social connections.

    ## Performance Targets

    - P99 Latency: <20ms for guild operations - Memory: <12KB per active guild member - Concurrent guilds: 50,000+ active guilds - Real-time updates: <50ms propagation time - Guild chat: 1000+ concurrent users

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/guild
  description: Production server
- url: https://staging-api.necpgame.com/v1/guild
  description: Staging server
- url: http://localhost:8080/api/v1/guild
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Guild Management
  description: Core guild creation and administration
- name: Member Management
  description: Guild membership, roles, and permissions
- name: Guild Communication
  description: Chat, announcements, and coordination
- name: Guild Economy
  description: Bank, resources, and shared assets
- name: Guild Competition
  description: Rankings, PvP, and inter-guild activities
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Guild service health check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the guild microservice.
        Critical for service discovery, load balancing, and monitoring.
        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: guildServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"guild-health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/components/schemas/HealthResponse'
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/components/schemas/HealthResponse'
        "429":
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /health/batch:
    post:
      summary: Batch health check for multiple guild services
      description: '**Performance optimization:** Check multiple guild health in
        single request

        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.

        **Use case:** Service mesh health checks, Kubernetes readiness probes

        '
      operationId: guildServiceBatchHealthCheck
      tags:
      - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                    - guild-service
                    - social-service
                    - communication-service
                  maxItems: 10
                  description: List of services to check
      responses:
        '200':
          $ref: '../common/responses/success.yaml#/components/responses/HealthBatchSuccess'
        '400':
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /guilds:
    get:
      summary: List guilds with filtering and pagination
      description: '**Enterprise-grade guild listing endpoint**

        Retrieves guilds with advanced filtering by name, level, reputation,
        and activity status. Supports comprehensive search and discovery.

        **Performance:** <15ms P95 with database indexing

        **Features:** Full-text search, location-based filtering, activity metrics

        '
      operationId: listGuilds
      tags:
      - Guild Management
      parameters:
      - name: name
        in: query
        schema:
          type: string
          minLength: 1
          maxLength: 50
      - name: level_min
        in: query
        schema:
          type: integer
          minimum: 1
      - name: level_max
        in: query
        schema:
          type: integer
          minimum: 1
      - name: reputation_min
        in: query
        schema:
          type: integer
          minimum: 0
      - name: member_count_min
        in: query
        schema:
          type: integer
          minimum: 1
      - name: activity_status
        in: query
        schema:
          type: string
          enum:
          - active
          - recruiting
          - maintenance
          - disbanding
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
      responses:
        '200':
          description: Guilds retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildListResponse'
          headers:
            X-Total-Count:
              schema:
                type: integer
              description: Total number of guilds matching criteria
            X-Page-Count:
              schema:
                type: integer
              description: Total number of pages
            Cache-Control:
              schema:
                type: string
                example: max-age=60, private
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
    post:
      summary: Create new guild
      description: '**Guild creation endpoint**

        Creates a new guild with initial configuration and founder assignment.
        Validates guild name uniqueness and founder eligibility.

        **Performance:** <50ms P95 including validation and initial setup

        **Validation:** Name uniqueness, founder permissions, creation limits

        '
      operationId: createGuild
      tags:
      - Guild Management
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGuildRequest'
      responses:
        '201':
          description: Guild created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildResponse'
          headers:
            Location:
              schema:
                type: string
                example: /api/v1/guild/guilds/550e8400-e29b-41d4-a716-446655440000
        '400':
          description: Invalid guild configuration
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '409':
          description: Guild name already exists or creation limit reached
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /guilds/{guild_id}:
    get:
      summary: Get guild details
      description: '**Guild details retrieval endpoint**

        Retrieves comprehensive guild information including members, statistics,
        and configuration. Supports partial member loading for performance.

        **Performance:** <10ms P95 with Redis caching

        **Features:** Conditional requests, partial responses

        '
      operationId: getGuild
      tags:
      - Guild Management
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: include_members
        in: query
        schema:
          type: boolean
          default: true
      - name: include_statistics
        in: query
        schema:
          type: boolean
          default: true
      - name: If-None-Match
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Guild details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildResponse'
          headers:
            ETag:
              schema:
                type: string
                example: '"guild-123-v1"'
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
        '304':
          description: Not modified - guild has not changed
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
    put:
      summary: Update guild configuration
      description: '**Guild update endpoint**

        Updates guild settings, description, and configuration.
        Supports partial updates with optimistic locking.

        **Performance:** <25ms P95 with conflict resolution

        **Security:** Leadership permissions required

        '
      operationId: updateGuild
      tags:
      - Guild Management
      security:
      - BearerAuth: []
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: If-Match
        in: header
        schema:
          type: string
        description: Optimistic locking version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGuildRequest'
      responses:
        '200':
          description: Guild updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildResponse'
        '400':
          description: Invalid update parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions to update guild
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '409':
          description: Version conflict - guild was modified concurrently
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
    delete:
      summary: Disband guild
      description: '**Guild disband endpoint**

        Permanently disbands a guild, handling member removal and asset distribution.
        Requires leadership consensus or administrative override.

        **Performance:** <100ms P95 including cleanup operations

        **Security:** Strict permission checks and confirmation required

        '
      operationId: disbandGuild
      tags:
      - Guild Management
      security:
      - BearerAuth: []
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - confirmation_code
              properties:
                confirmation_code:
                  type: string
                  description: Guild disband confirmation code
                asset_distribution:
                  type: string
                  enum:
                  - distribute_evenly
                  - return_to_members
                  - donate_to_system
                  default: distribute_evenly
      responses:
        '204':
          description: Guild disbanded successfully
        '400':
          description: Invalid confirmation or parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions to disband guild
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /guilds/{guild_id}/members:
    get:
      summary: List guild members
      description: '**Guild member listing endpoint**

        Retrieves guild member roster with roles, activity, and permissions.
        Supports filtering by role, activity level, and online status.

        **Performance:** <20ms P95 with member indexing

        '
      operationId: listGuildMembers
      tags:
      - Member Management
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: role
        in: query
        schema:
          type: string
          enum:
          - leader
          - officer
          - veteran
          - member
          - recruit
      - name: online_status
        in: query
        schema:
          type: string
          enum:
          - online
          - offline
          - away
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      responses:
        '200':
          description: Guild members retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildMembersResponse'
          headers:
            X-Total-Count:
              schema:
                type: integer
              description: Total number of members
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
    post:
      summary: Invite player to guild
      description: '**Guild invitation endpoint**

        Sends guild invitation to specified player with optional message.
        Validates invitation limits and player eligibility.

        **Performance:** <30ms P95 including notification dispatch

        **Features:** Invitation expiry, bulk invitations, role assignment

        '
      operationId: inviteToGuild
      tags:
      - Member Management
      security:
      - BearerAuth: []
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteToGuildRequest'
      responses:
        '201':
          description: Invitation sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildInvitationResponse'
        '400':
          description: Invalid invitation parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions to send invitations
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '404':
          description: Guild or player not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '409':
          description: Player already in guild or invitation limit reached
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /guilds/{guild_id}/members/{user_id}:
    put:
      summary: Update member role and permissions
      description: '**Member role update endpoint**

        Updates guild member''s role, permissions, and responsibilities.
        Supports promotion, demotion, and permission changes.

        **Performance:** <15ms P95 with permission validation

        **Security:** Hierarchical permission checks

        '
      operationId: updateGuildMember
      tags:
      - Member Management
      security:
      - BearerAuth: []
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGuildMemberRequest'
      responses:
        '200':
          description: Member updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildMemberResponse'
        '400':
          description: Invalid role or permission parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions to modify member
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '404':
          description: Guild or member not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
    delete:
      summary: Remove member from guild
      description: '**Member removal endpoint**

        Removes a member from the guild with optional reason and notification.
        Handles asset redistribution and role reassignments.

        **Performance:** <25ms P95 including cleanup operations

        **Features:** Voluntary leave vs forced removal, asset handling

        '
      operationId: removeGuildMember
      tags:
      - Member Management
      security:
      - BearerAuth: []
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  maxLength: 500
                  description: Reason for removal (optional)
                asset_distribution:
                  type: string
                  enum:
                  - keep_with_guild
                  - distribute_to_member
                  - return_to_guild_bank
                  default: keep_with_guild
      responses:
        '204':
          description: Member removed successfully
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions to remove member
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '404':
          description: Guild or member not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /guilds/{guild_id}/bank:
    get:
      summary: Get guild bank contents
      description: '**Guild bank inventory endpoint**

        Retrieves guild bank items, currency, and shared resources.
        Supports filtering by item type and quality.

        **Performance:** <20ms P95 with inventory indexing

        **Security:** Role-based access to bank contents

        '
      operationId: getGuildBank
      tags:
      - Guild Economy
      security:
      - BearerAuth: []
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: item_type
        in: query
        schema:
          type: string
          enum:
          - weapon
          - armor
          - consumable
          - material
          - currency
      - name: quality_min
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: Guild bank retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildBankResponse'
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions to access guild bank
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
    post:
      summary: Deposit item to guild bank
      description: '**Guild bank deposit endpoint**

        Deposits items or currency into the guild bank for shared use.
        Validates item ownership and deposit permissions.

        **Performance:** <30ms P95 including inventory updates

        **Features:** Partial deposits, bulk operations

        '
      operationId: depositToGuildBank
      tags:
      - Guild Economy
      security:
      - BearerAuth: []
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuildBankDepositRequest'
      responses:
        '200':
          description: Deposit completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildBankTransactionResponse'
        '400':
          description: Invalid deposit parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions or item ownership
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '404':
          description: Guild or item not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '409':
          description: Insufficient item quantity or bank capacity
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /guilds/rankings:
    get:
      summary: Get guild rankings and statistics
      description: '**Guild rankings endpoint**

        Retrieves global guild rankings by level, reputation, and activity.
        Supports different ranking categories and time periods.

        **Performance:** <25ms P95 with cached rankings

        **Caching:** Rankings updated hourly with real-time deltas

        '
      operationId: getGuildRankings
      tags:
      - Guild Competition
      parameters:
      - name: category
        in: query
        schema:
          type: string
          enum:
          - level
          - reputation
          - activity
          - pvp_wins
          - quest_completion
          default: level
      - name: time_period
        in: query
        schema:
          type: string
          enum:
          - daily
          - weekly
          - monthly
          - all_time
          default: all_time
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      responses:
        '200':
          description: Guild rankings retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildRankingsResponse'
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=3600, public
        '400':
          description: Invalid ranking parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
components:
  responses:
    HealthBatchSuccess:
      $ref: '../common/responses/success.yaml#/components/responses/HealthBatchSuccess'
    OK:
      $ref: '../common/responses/success.yaml#/components/responses/OK'
    Created:
      $ref: '../common/responses/success.yaml#/components/responses/Created'
    BadRequest:
      $ref: '../common/responses/error.yaml#/components/responses/BadRequest'
    Unauthorized:
      $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
    Forbidden:
      $ref: '../common/responses/error.yaml#/components/responses/Forbidden'
    NotFound:
      $ref: '../common/responses/error.yaml#/components/responses/NotFound'
    Conflict:
      $ref: '../common/responses/error.yaml#/components/responses/Conflict'
    InternalServerError:
      $ref: '../common/responses/error.yaml#/components/responses/InternalServerError'
    HealthOK:
      $ref: '../common/responses/success.yaml#/components/responses/HealthOK'
  schemas:
    HealthResponse:
      $ref: '../common/schemas/health.yaml#/components/schemas/HealthResponse'
    GuildListResponse:
      type: object
      required:
      - guilds
      - pagination
      properties:
        guilds:
          type: array
          items:
            $ref: '#/components/schemas/GuildSummary'
        pagination:
          type: object
          required:
          - page
          - limit
          - total_count
          - total_pages
          properties:
            page:
              type: integer
            limit:
              type: integer
            total_count:
              type: integer
            total_pages:
              type: integer
      description: 'BACKEND NOTE: Guild list response optimized for discovery UI.
        Paginated results prevent large payloads.'
    GuildSummary:
      type: object
      required:
      - guild_id
      - name
      - level
      - member_count
      properties:
        guild_id:
          type: string
          format: uuid
        name:
          type: string
          maxLength: 50
        level:
          type: integer
          minimum: 1
        member_count:
          type: integer
          minimum: 1
        reputation:
          type: integer
          minimum: 0
        activity_status:
          type: string
          enum:
          - active
          - recruiting
          - maintenance
          - disbanding
        recruitment_open:
          type: boolean
        description:
          type: string
          maxLength: 500
        created_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Guild summary optimized for listing performance.
        Minimal fields for search and discovery.'
    Guild:
      type: object
      required:
      - guild_id
      - name
      - level
      - leader_id
      - created_at
      properties:
        guild_id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 3
          maxLength: 50
        description:
          type: string
          maxLength: 1000
        level:
          type: integer
          minimum: 1
          default: 1
        experience_points:
          type: integer
          minimum: 0
          default: 0
        reputation:
          type: integer
          minimum: 0
          default: 0
        leader_id:
          type: string
          format: uuid
        member_count:
          type: integer
          minimum: 1
          maximum: 1000
        max_members:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
        activity_status:
          type: string
          enum:
          - active
          - recruiting
          - maintenance
          - disbanding
          default: active
        recruitment_open:
          type: boolean
          default: true
        motd:
          type: string
          maxLength: 500
          description: Message of the day
        requirements:
          $ref: '#/components/schemas/GuildRequirements'
        statistics:
          $ref: '#/components/schemas/GuildStatistics'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Guild data structure optimized for MMOFPS performance.
        Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    GuildRequirements:
      type: object
      properties:
        min_level:
          type: integer
          minimum: 1
          default: 1
        max_level:
          type: integer
          minimum: 1
        reputation_required:
          type: integer
          minimum: 0
          default: 0
        application_required:
          type: boolean
          default: false
        approval_required:
          type: boolean
          default: true
      description: 'BACKEND NOTE: Guild requirements optimized for fast validation.
        Boolean flags enable efficient permission checks.'
    GuildStatistics:
      type: object
      properties:
        total_experience_gained:
          type: integer
          minimum: 0
        quests_completed:
          type: integer
          minimum: 0
        pvp_wins:
          type: integer
          minimum: 0
        pvp_losses:
          type: integer
          minimum: 0
        tournaments_won:
          type: integer
          minimum: 0
        average_member_level:
          type: number
          format: float
        last_activity:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Guild statistics optimized for ranking calculations.
        Integer fields enable fast sorting and aggregation.'
    CreateGuildRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 50
          description: Guild name (must be unique)
        description:
          type: string
          maxLength: 1000
          description: Guild description
        max_members:
          type: integer
          minimum: 5
          maximum: 1000
          default: 100
        recruitment_open:
          type: boolean
          default: true
        requirements:
          $ref: '#/components/schemas/GuildRequirements'
      description: 'BACKEND NOTE: Guild creation request optimized for validation.
        Minimal required fields reduce input overhead.'
    UpdateGuildRequest:
      type: object
      properties:
        description:
          type: string
          maxLength: 1000
        recruitment_open:
          type: boolean
        motd:
          type: string
          maxLength: 500
        requirements:
          $ref: '#/components/schemas/GuildRequirements'
      description: 'BACKEND NOTE: Guild update request supports partial updates.
        Optional fields enable flexible configuration changes.'
    GuildResponse:
      type: object
      required:
      - guild
      properties:
        guild:
          $ref: '#/components/schemas/Guild'
      description: 'BACKEND NOTE: Guild response optimized for single-entity operations.
        Consistent wrapper pattern across all guild endpoints.'
    GuildMembersResponse:
      type: object
      required:
      - members
      - pagination
      properties:
        members:
          type: array
          items:
            $ref: '#/components/schemas/GuildMember'
        pagination:
          type: object
          required:
          - page
          - limit
          - total_count
          properties:
            page:
              type: integer
            limit:
              type: integer
            total_count:
              type: integer
      description: 'BACKEND NOTE: Guild members response optimized for roster management.
        Paginated for large guilds with efficient member lookup.'
    GuildMember:
      type: object
      required:
      - user_id
      - username
      - role
      - joined_at
      properties:
        user_id:
          type: string
          format: uuid
        username:
          type: string
          maxLength: 50
        role:
          type: string
          enum:
          - leader
          - officer
          - veteran
          - member
          - recruit
        permissions:
          type: array
          items:
            type: string
            enum:
            - invite_members
            - kick_members
            - manage_bank
            - manage_settings
            - send_announcements
          description: Specific permissions granted to this member
        level:
          type: integer
          minimum: 1
        contribution_points:
          type: integer
          minimum: 0
        joined_at:
          type: string
          format: date-time
        last_active:
          type: string
          format: date-time
        online_status:
          type: string
          enum:
          - online
          - offline
          - away
      description: 'BACKEND NOTE: Guild member data optimized for permission checks.
        Role enums enable fast hierarchical comparisons.'
    InviteToGuildRequest:
      type: object
      required:
      - player_id
      properties:
        player_id:
          type: string
          format: uuid
        message:
          type: string
          maxLength: 500
          description: Optional invitation message
        initial_role:
          type: string
          enum:
          - member
          - recruit
          default: recruit
      description: 'BACKEND NOTE: Guild invitation request optimized for bulk operations.
        Optional fields reduce required input for mass invitations.'
    GuildInvitationResponse:
      type: object
      required:
      - invitation_id
      - expires_at
      properties:
        invitation_id:
          type: string
          format: uuid
        player_id:
          type: string
          format: uuid
        expires_at:
          type: string
          format: date-time
        initial_role:
          type: string
          enum:
          - member
          - recruit
      description: 'BACKEND NOTE: Invitation response optimized for tracking.
        Minimal data for invitation management and expiry handling.'
    UpdateGuildMemberRequest:
      type: object
      required:
      - role
      properties:
        role:
          type: string
          enum:
          - leader
          - officer
          - veteran
          - member
          - recruit
        permissions:
          type: array
          items:
            type: string
            enum:
            - invite_members
            - kick_members
            - manage_bank
            - manage_settings
            - send_announcements
      description: 'BACKEND NOTE: Member update request optimized for role management.
        Permission arrays enable granular access control.'
    GuildMemberResponse:
      type: object
      required:
      - member
      properties:
        member:
          $ref: '#/components/schemas/GuildMember'
      description: 'BACKEND NOTE: Member response optimized for single operations.
        Consistent with other entity response patterns.'
    GuildBankResponse:
      type: object
      required:
      - items
      - currency
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/GuildBankItem'
        currency:
          type: object
          additionalProperties:
            type: integer
            minimum: 0
          description: Currency balances by type
        capacity_used:
          type: integer
          minimum: 0
        capacity_total:
          type: integer
          minimum: 0
      description: 'BACKEND NOTE: Guild bank response optimized for inventory management.
        Separate currency and item arrays enable efficient querying.'
    GuildBankItem:
      type: object
      required:
      - item_id
      - quantity
      properties:
        item_id:
          type: string
          format: uuid
        item_name:
          type: string
        quantity:
          type: integer
          minimum: 1
        quality:
          type: integer
          minimum: 1
          maximum: 100
        deposited_by:
          type: string
          format: uuid
        deposited_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Bank item data optimized for inventory operations.
        Quality and quantity fields enable efficient filtering.'
    GuildBankDepositRequest:
      type: object
      required:
      - item_type
      - item_id
      - quantity
      properties:
        item_type:
          type: string
          enum:
          - item
          - currency
        item_id:
          type: string
          format: uuid
        quantity:
          type: integer
          minimum: 1
        currency_type:
          type: string
          description: Required if item_type is currency
      description: 'BACKEND NOTE: Bank deposit request optimized for validation.
        Item vs currency distinction enables proper handling.'
    GuildBankTransactionResponse:
      type: object
      required:
      - transaction_id
      - transaction_type
      properties:
        transaction_id:
          type: string
          format: uuid
        transaction_type:
          type: string
          enum:
          - deposit
          - withdrawal
        item_type:
          type: string
          enum:
          - item
          - currency
        item_id:
          type: string
          format: uuid
        quantity:
          type: integer
        currency_type:
          type: string
        processed_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Bank transaction response optimized for audit trails.
        Transaction details enable proper financial tracking.'
    GuildRankingsResponse:
      type: object
      required:
      - rankings
      - pagination
      properties:
        rankings:
          type: array
          items:
            $ref: '#/components/schemas/GuildRanking'
        pagination:
          type: object
          required:
          - page
          - limit
          - total_count
          properties:
            page:
              type: integer
            limit:
              type: integer
            total_count:
              type: integer
        category:
          type: string
        time_period:
          type: string
      description: 'BACKEND NOTE: Guild rankings response optimized for leaderboard display.
        Cached results reduce database load on popular categories.'
    GuildRanking:
      type: object
      required:
      - guild_id
      - name
      - rank
      - score
      properties:
        guild_id:
          type: string
          format: uuid
        name:
          type: string
        rank:
          type: integer
          minimum: 1
        score:
          type: integer
          minimum: 0
        previous_rank:
          type: integer
          minimum: 1
        rank_change:
          type: integer
          description: Positive for rank improvement, negative for decline
        level:
          type: integer
          minimum: 1
        member_count:
          type: integer
          minimum: 1
      description: 'BACKEND NOTE: Guild ranking data optimized for leaderboard calculations.
        Rank change tracking enables trend analysis.'
  securitySchemes:
    BearerAuth:
      $ref: '../common/security/security.yaml#/components/securitySchemes/BearerAuth'
    ApiKeyAuth:
      $ref: '../common/security/security.yaml#/components/security/security.yaml#/components/securitySchemes/ApiKeyAuth'
    ServiceAuth:
      $ref: '../common/security/security.yaml#/components/securitySchemes/ServiceAuth'