openapi: 3.0.3
info:
  title: Guild Service API - Enterprise-Grade Social Domain Service
  description: '**Enterprise-Grade Guild Management API for NECPGAME Social Domain**

    This API manages guild/clan organizations in the cyberpunk MMOFPS RPG, providing
    comprehensive guild lifecycle management, member administration, and social features.

    ## Key Features

    - **Guild Lifecycle**: Creation, management, and dissolution of guilds - **Member
    Management**: Roles, permissions, and recruitment systems - **Social Features**:
    Announcements, events, and community building - **Banking System**: Shared guild
    resources and treasury management - **Territory Control**: Guild-owned territories
    and PvP zones - **Performance Optimized**: MMOFPS-grade performance with <50ms
    P99 latency

    ## Domain Purpose

    The Guild domain handles all aspects of player-organized groups in Night City.
    Players form alliances, compete for territory, manage shared resources, and build
    lasting communities within the cyberpunk world.

    ## Performance Targets

    - P99 Latency: <50ms for guild operations, <100ms for member management - Memory:
    <75KB per active guild session - Concurrent users: 50,000+ simultaneous guild
    interactions - Database queries: <20ms average response time

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/guild
  description: Production server
- url: https://staging-api.necpgame.com/v1/guild
  description: Staging server
- url: http://localhost:8080/api/v1/guild
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Guild Management
  description: Core guild lifecycle operations
- name: Member Management
  description: Guild member administration
- name: Recruitment
  description: Guild recruitment and applications
- name: Banking
  description: Guild treasury and resources
- name: Territory
  description: Guild territory management
- name: Social
  description: Guild social features and events
- name: Administration
  description: Guild administrative functions
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Guild service health check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the guild domain microservice.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: guildHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"guild-health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/health.yaml#/HealthResponse
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/health.yaml#/HealthResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /health/batch:
    get:
      summary: Batch health check for guild dependencies
      description: '**Batch health check for guild service dependencies**

        Checks health of core systems, banking, territory, and social features.

        **Performance:** <10ms response time, cached for 15 seconds

        '
      operationId: guildBatchHealthCheck
      tags:
      - Health Monitoring
      responses:
        '200':
          description: All subsystems healthy
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/health.yaml#/HealthResponse
        '207':
          description: Partial subsystem failure
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/health.yaml#/HealthResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /guilds:
    get:
      summary: List guilds
      description: '**Retrieve paginated list of guilds with filtering**

        Supports advanced filtering by level, reputation, recruitment status, and
        more.

        **Performance:** <75ms with database indexing, supports 100k+ guilds

        '
      operationId: listGuilds
      tags:
      - Guild Management
      security:
      - BearerAuth: []
      parameters:
      - name: name
        in: query
        schema:
          type: string
          maxLength: 50
        description: Filter by guild name (partial match)
      - name: tag
        in: query
        schema:
          type: string
          pattern: ^[A-Z0-9]{2,5}$
        description: Filter by guild tag
      - name: level_min
        in: query
        schema:
          type: integer
          minimum: 1
        description: Minimum guild level
      - name: level_max
        in: query
        schema:
          type: integer
          maximum: 100
        description: Maximum guild level
      - name: reputation_min
        in: query
        schema:
          type: integer
        description: Minimum reputation
      - name: recruiting
        in: query
        schema:
          type: boolean
        description: Filter by recruitment status
      - name: faction
        in: query
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
        description: Filter by faction affiliation
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - name
          - level
          - reputation
          - member_count
          - founded_date
          default: reputation
        description: Sort field
      - name: sort_order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Sort order
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: Number of guilds to return
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Pagination offset
      responses:
        '200':
          description: Guilds retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common-service/schemas/common.yaml#/PaginatedResponse
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/GuildSummaryResponse'
        '400':
          $ref: ../common-service/responses/error.yaml#/BadRequest
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    post:
      summary: Create guild
      description: '**Create a new guild organization**

        Requires founder to meet minimum requirements and pay creation fee.

        **Performance:** <150ms with validation and resource allocation

        '
      operationId: createGuild
      tags:
      - Guild Management
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGuildRequest'
      responses:
        '201':
          description: Guild created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildResponse'
        '400':
          $ref: ../common-service/responses/error.yaml#/BadRequest
        '402':
          description: Insufficient funds for guild creation
          content:
            application/json:
              schema:
                $ref: ../common-service/responses/error.yaml#/PaymentRequired
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /guilds/search:
    get:
      summary: Search guilds
      description: '**Advanced guild search with full-text capabilities**

        Supports fuzzy matching, relevance scoring, and multiple filter combinations.

        **Performance:** <100ms with Elasticsearch integration

        '
      operationId: searchGuilds
      tags:
      - Guild Management
      security:
      - BearerAuth: []
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
          minLength: 2
          maxLength: 100
        description: Search query (name, description, tag)
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
        description: Number of results to return
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Pagination offset
      responses:
        '200':
          description: Search results retrieved
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common-service/schemas/common.yaml#/PaginatedResponse
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        allOf:
                        - $ref: '#/components/schemas/GuildSummaryResponse'
                        - type: object
                          properties:
                            search_score:
                              type: number
                              description: Search relevance score
                              example: 0.85
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /guilds/{guildId}:
    get:
      summary: Get guild details
      description: '**Retrieve comprehensive guild information**

        Includes full member list, settings, and statistics for authorized users.

        **Performance:** <50ms with caching, real-time member counts

        '
      operationId: getGuild
      tags:
      - Guild Management
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      responses:
        '200':
          description: Guild details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildResponse'
        '404':
          $ref: ../common-service/responses/error.yaml#/NotFound
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    put:
      summary: Update guild
      description: '**Update guild settings and information**

        Requires appropriate permissions based on member role.

        **Performance:** <75ms with validation and audit logging

        '
      operationId: updateGuild
      tags:
      - Guild Management
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGuildRequest'
      responses:
        '200':
          description: Guild updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    delete:
      summary: Disband guild
      description: '**Disband/dissolve a guild**

        Only guild leader can disband. Handles asset distribution and member cleanup.

        **Performance:** <200ms with complex cleanup operations

        '
      operationId: disbandGuild
      tags:
      - Guild Management
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      responses:
        '204':
          description: Guild disbanded successfully
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /guilds/{guildId}/members:
    get:
      summary: Get guild members
      description: '**Retrieve paginated list of guild members**

        Includes member roles, activity status, and contribution metrics.

        **Performance:** <40ms with member caching

        '
      operationId: getGuildMembers
      tags:
      - Member Management
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      - name: role
        in: query
        schema:
          type: string
          enum:
          - leader
          - officer
          - veteran
          - member
          - recruit
          - probation
        description: Filter by member role
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - inactive
          - suspended
        description: Filter by member status
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - joined_at
          - last_active
          - contribution_points
          - rank
          default: rank
        description: Sort field
      - name: sort_order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Sort order
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: Number of members to return
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Pagination offset
      responses:
        '200':
          description: Guild members retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common-service/schemas/common.yaml#/PaginatedResponse
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/GuildMemberResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    post:
      summary: Invite member to guild
      description: '**Send guild membership invitation**

        Requires appropriate permissions and available member slots.

        **Performance:** <50ms with notification dispatch

        '
      operationId: inviteGuildMember
      tags:
      - Member Management
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteMemberRequest'
      responses:
        '202':
          description: Invitation sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /guilds/{guildId}/members/{userId}:
    get:
      summary: Get member details
      description: '**Retrieve detailed information about a specific guild member**

        Includes full activity history and permissions.

        **Performance:** <25ms with member-specific caching

        '
      operationId: getGuildMember
      tags:
      - Member Management
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      - name: userId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      responses:
        '200':
          description: Member details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildMemberDetailResponse'
        '404':
          $ref: ../common-service/responses/error.yaml#/NotFound
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    put:
      summary: Update member role/permissions
      description: '**Update guild member''s role and permissions**

        Requires appropriate authority level.

        **Performance:** <40ms with permission validation

        '
      operationId: updateGuildMember
      tags:
      - Member Management
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      - name: userId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMemberRequest'
      responses:
        '200':
          description: Member updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildMemberResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    delete:
      summary: Remove member from guild
      description: '**Remove or expel a member from the guild**

        Requires appropriate permissions and handles asset redistribution.

        **Performance:** <60ms with cleanup and notifications

        '
      operationId: removeGuildMember
      tags:
      - Member Management
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      - name: userId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      - name: reason
        in: query
        schema:
          type: string
          maxLength: 200
        description: Reason for removal
      responses:
        '204':
          description: Member removed successfully
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /guilds/{guildId}/applications:
    get:
      summary: Get membership applications
      description: '**Retrieve pending membership applications**

        Includes application details and review status.

        **Performance:** <35ms with application caching

        '
      operationId: getGuildApplications
      tags:
      - Recruitment
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - approved
          - rejected
          default: pending
        description: Filter by application status
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
        description: Number of applications to return
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Pagination offset
      responses:
        '200':
          description: Applications retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common-service/schemas/common.yaml#/PaginatedResponse
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/GuildApplicationResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    post:
      summary: Apply for guild membership
      description: '**Submit application for guild membership**

        Requires meeting minimum requirements and application approval.

        **Performance:** <45ms with validation and duplicate checking

        '
      operationId: applyForGuildMembership
      tags:
      - Recruitment
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuildApplicationRequest'
      responses:
        '201':
          description: Application submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildApplicationResponse'
        '400':
          $ref: ../common-service/responses/error.yaml#/BadRequest
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /guilds/{guildId}/applications/{applicationId}:
    put:
      summary: Review membership application
      description: '**Approve or reject a membership application**

        Requires officer permissions and updates member roster.

        **Performance:** <55ms with member creation and notifications

        '
      operationId: reviewGuildApplication
      tags:
      - Recruitment
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      - name: applicationId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewApplicationRequest'
      responses:
        '200':
          description: Application reviewed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildApplicationResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /guilds/{guildId}/bank:
    get:
      summary: Get guild bank overview
      description: '**Retrieve guild treasury and resource information**

        Includes current funds, transaction history, and access permissions.

        **Performance:** <40ms with balance calculations

        '
      operationId: getGuildBank
      tags:
      - Banking
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      responses:
        '200':
          description: Guild bank information retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildBankResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /guilds/{guildId}/bank/transactions:
    get:
      summary: Get guild bank transactions
      description: '**Retrieve paginated transaction history**

        Supports filtering by type, amount, and time period.

        **Performance:** <50ms with transaction indexing

        '
      operationId: getGuildBankTransactions
      tags:
      - Banking
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      - name: type
        in: query
        schema:
          type: string
          enum:
          - deposit
          - withdrawal
          - purchase
          - sale
          - transfer
          - tax
          - reward
        description: Filter by transaction type
      - name: amount_min
        in: query
        schema:
          type: number
          minimum: 0
        description: Minimum transaction amount
      - name: amount_max
        in: query
        schema:
          type: number
          maximum: 1000000
        description: Maximum transaction amount
      - name: date_from
        in: query
        schema:
          type: string
          format: date
        description: Start date for transactions
      - name: date_to
        in: query
        schema:
          type: string
          format: date
        description: End date for transactions
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: Number of transactions to return
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Pagination offset
      responses:
        '200':
          description: Bank transactions retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common-service/schemas/common.yaml#/PaginatedResponse
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/BankTransactionResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    post:
      summary: Create bank transaction
      description: '**Execute a guild bank transaction**

        Requires appropriate permissions and sufficient funds.

        **Performance:** <60ms with balance validation and audit logging

        '
      operationId: createGuildBankTransaction
      tags:
      - Banking
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBankTransactionRequest'
      responses:
        '201':
          description: Transaction created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankTransactionResponse'
        '402':
          $ref: ../common-service/responses/error.yaml#/PaymentRequired
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /guilds/{guildId}/territory:
    get:
      summary: Get guild territory
      description: '**Retrieve guild-owned territories and control zones**

        Includes territory status, defenses, and resource generation.

        **Performance:** <45ms with territory mapping

        '
      operationId: getGuildTerritory
      tags:
      - Territory
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      responses:
        '200':
          description: Guild territory information retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildTerritoryResponse'
        '404':
          $ref: ../common-service/responses/error.yaml#/NotFound
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /guilds/{guildId}/announcements:
    get:
      summary: Get guild announcements
      description: '**Retrieve guild announcements and news**

        Includes pinned announcements and recent updates.

        **Performance:** <30ms with announcement caching

        '
      operationId: getGuildAnnouncements
      tags:
      - Social
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      - name: pinned_only
        in: query
        schema:
          type: boolean
          default: false
        description: Return only pinned announcements
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
        description: Number of announcements to return
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Pagination offset
      responses:
        '200':
          description: Guild announcements retrieved
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common-service/schemas/common.yaml#/PaginatedResponse
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/GuildAnnouncementResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    post:
      summary: Create guild announcement
      description: '**Create a new guild announcement**

        Requires appropriate permissions and supports rich formatting.

        **Performance:** <40ms with content validation

        '
      operationId: createGuildAnnouncement
      tags:
      - Social
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAnnouncementRequest'
      responses:
        '201':
          description: Announcement created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildAnnouncementResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /guilds/{guildId}/events:
    get:
      summary: Get guild events
      description: '**Retrieve upcoming and past guild events**

        Includes raids, meetings, and social gatherings.

        **Performance:** <35ms with event scheduling

        '
      operationId: getGuildEvents
      tags:
      - Social
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      - name: status
        in: query
        schema:
          type: string
          enum:
          - upcoming
          - ongoing
          - completed
          - cancelled
          default: upcoming
        description: Filter by event status
      - name: type
        in: query
        schema:
          type: string
          enum:
          - raid
          - meeting
          - social
          - tournament
          - training
        description: Filter by event type
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
        description: Number of events to return
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Pagination offset
      responses:
        '200':
          description: Guild events retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: ../common-service/schemas/common.yaml#/PaginatedResponse
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/GuildEventResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    post:
      summary: Create guild event
      description: '**Create a new guild event**

        Supports scheduling, RSVPs, and automated reminders.

        **Performance:** <50ms with calendar integration

        '
      operationId: createGuildEvent
      tags:
      - Social
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
      responses:
        '201':
          description: Event created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildEventResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /guilds/{guildId}/settings:
    get:
      summary: Get guild settings
      description: '**Retrieve guild configuration settings**

        Includes privacy, recruitment, and gameplay preferences.

        **Performance:** <20ms with settings caching

        '
      operationId: getGuildSettings
      tags:
      - Administration
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      responses:
        '200':
          description: Guild settings retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildSettingsResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    put:
      summary: Update guild settings
      description: '**Update guild configuration settings**

        Requires leadership permissions for sensitive changes.

        **Performance:** <45ms with validation and audit logging

        '
      operationId: updateGuildSettings
      tags:
      - Administration
      security:
      - BearerAuth: []
      parameters:
      - name: guildId
        in: path
        required: true
        schema:
          $ref: ../common-service/schemas/common.yaml#/UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGuildSettingsRequest'
      responses:
        '200':
          description: Guild settings updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildSettingsResponse'
        '403':
          $ref: ../common-service/responses/error.yaml#/Forbidden
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
components:
  responses:
    OK:
      $ref: ../common-service/responses/success.yaml#/OK
    Created:
      $ref: ../common-service/responses/success.yaml#/Created
    Updated:
      $ref: ../common-service/responses/success.yaml#/Updated
    Deleted:
      $ref: ../common-service/responses/success.yaml#/Deleted
    BadRequest:
      $ref: ../common-service/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common-service/responses/error.yaml#/Unauthorized
    Forbidden:
      $ref: ../common-service/responses/error.yaml#/Forbidden
    NotFound:
      $ref: ../common-service/responses/error.yaml#/NotFound
    TooManyRequests:
      $ref: ../common-service/responses/error.yaml#/TooManyRequests
    PaymentRequired:
      $ref: ../common-service/responses/error.yaml#/PaymentRequired
  schemas:
    BaseEntity:
      type: object
      required:
      - id
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier (UUID v4)
          example: 123e4567-e89b-12d3-a456-426614174000
          maxLength: 36
        created_at:
          type: string
          format: date-time
          description: Creation timestamp (ISO 8601)
          example: '2025-12-28T10:00:00Z'
          maxLength: 30
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp (ISO 8601)
          example: '2025-12-28T10:00:00Z'
          maxLength: 30
    GuildSummaryResponse:
      type: object
      properties:
        id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        name:
          type: string
          example: Cyberpunk Legends
        tag:
          type: string
          example: CPL
        level:
          type: integer
          example: 25
        reputation:
          type: integer
          example: 8750
        member_count:
          type: integer
          example: 156
        max_members:
          type: integer
          example: 200
        is_recruiting:
          type: boolean
          example: true
        faction_affiliation:
          $ref: ../common-service/schemas/common.yaml#/UUID
        emblem_url:
          type: string
          format: uri
          example: https://cdn.necpgame.com/guilds/cpl/emblem.png
    GuildResponse:
      allOf:
      - $ref: ../common-service/schemas/social-entities.yaml#/GuildEntity
      - type: object
        properties:
          founded_at:
            $ref: ../common-service/schemas/common.yaml#/Timestamp
          last_activity_at:
            $ref: ../common-service/schemas/common.yaml#/Timestamp
          settings:
            $ref: '#/components/schemas/GuildSettingsResponse'
          statistics:
            type: object
            properties:
              total_experience:
                type: integer
                example: 50000
              average_member_level:
                type: number
                example: 18.5
              weekly_activity_score:
                type: integer
                example: 1250
              territory_control:
                type: integer
                minimum: 0
                maximum: 100
                example: 75
    CreateGuildRequest:
      type: object
      required:
      - name
      - tag
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 50
          description: Guild name
          example: Cyberpunk Legends
        tag:
          type: string
          pattern: ^[A-Z0-9]{2,5}$
          description: Unique guild tag
          example: CPL
        description:
          type: string
          maxLength: 500
          description: Guild description
          example: Elite cyberpunk mercenaries united against corporate oppression
        faction_affiliation:
          $ref: ../common-service/schemas/common.yaml#/UUID
        initial_funds:
          type: integer
          minimum: 1000
          description: Initial guild treasury contribution
          example: 5000
    UpdateGuildRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 50
        description:
          type: string
          maxLength: 500
        tag:
          type: string
          pattern: ^[A-Z0-9]{2,5}$
        faction_affiliation:
          $ref: ../common-service/schemas/common.yaml#/UUID
    GuildMemberResponse:
      allOf:
      - $ref: ../common-service/schemas/social-entities.yaml#/GuildMemberEntity
      - type: object
        properties:
          user_profile:
            $ref: ../common-service/schemas/social-entities.yaml#/UserProfileEntity
          is_online:
            type: boolean
            example: true
          last_active_at:
            $ref: ../common-service/schemas/common.yaml#/Timestamp
    GuildMemberDetailResponse:
      allOf:
      - $ref: '#/components/schemas/GuildMemberResponse'
      - type: object
        properties:
          activity_history:
            type: array
            items:
              type: object
              properties:
                date:
                  type: string
                  format: date
                hours_played:
                  type: integer
                contributions:
                  type: integer
          achievements:
            type: array
            items:
              type: object
              properties:
                id:
                  $ref: ../common-service/schemas/common.yaml#/UUID
                name:
                  type: string
                earned_at:
                  $ref: ../common-service/schemas/common.yaml#/Timestamp
    InviteMemberRequest:
      type: object
      required:
      - user_id
      properties:
        user_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        message:
          type: string
          maxLength: 200
          description: Personal invitation message
        initial_role:
          type: string
          enum:
          - recruit
          - member
          default: recruit
    InvitationResponse:
      type: object
      properties:
        invitation_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        guild_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        user_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        invited_by:
          $ref: ../common-service/schemas/common.yaml#/UUID
        status:
          type: string
          enum:
          - pending
          - accepted
          - declined
          - expired
          example: pending
        expires_at:
          $ref: ../common-service/schemas/common.yaml#/Timestamp
        message:
          type: string
    UpdateMemberRequest:
      type: object
      properties:
        role:
          type: string
          enum:
          - leader
          - officer
          - veteran
          - member
          - recruit
          - probation
        title:
          type: string
          maxLength: 50
        permissions:
          type: array
          items:
            type: string
            enum:
            - invite_members
            - kick_members
            - manage_roles
            - manage_bank
            - declare_war
            - edit_announcements
            - manage_events
            - view_logs
    GuildApplicationResponse:
      type: object
      allOf:
      - $ref: ../common-service/schemas/common.yaml#/BaseEntity
      - type: object
        required:
        - guild_id
        - user_id
        - status
        properties:
          guild_id:
            $ref: ../common-service/schemas/common.yaml#/UUID
          user_id:
            $ref: ../common-service/schemas/common.yaml#/UUID
          user_profile:
            $ref: ../common-service/schemas/social-entities.yaml#/UserProfileEntity
          status:
            type: string
            enum:
            - pending
            - under_review
            - approved
            - rejected
            example: pending
          application_text:
            type: string
            maxLength: 1000
            example: I'm a skilled netrunner looking to join a serious crew
          applied_at:
            $ref: ../common-service/schemas/common.yaml#/Timestamp
          reviewed_by:
            $ref: ../common-service/schemas/common.yaml#/UUID
          reviewed_at:
            $ref: ../common-service/schemas/common.yaml#/Timestamp
          review_notes:
            type: string
            maxLength: 500
    GuildApplicationRequest:
      type: object
      required:
      - application_text
      properties:
        application_text:
          type: string
          minLength: 50
          maxLength: 1000
          description: Application message explaining why user wants to join
        character_references:
          type: array
          items:
            $ref: ../common-service/schemas/common.yaml#/UUID
          maxItems: 3
          description: IDs of other players who can vouch for the applicant
    ReviewApplicationRequest:
      type: object
      required:
      - decision
      properties:
        decision:
          type: string
          enum:
          - approve
          - reject
        review_notes:
          type: string
          maxLength: 500
          description: Notes from the reviewer
    GuildBankResponse:
      type: object
      properties:
        guild_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        total_balance:
          type: integer
          description: Total guild funds across all currencies
          example: 150000
        currencies:
          type: object
          additionalProperties:
            type: integer
          example:
            credits: 125000
            eurodollars: 25000
        daily_income:
          type: integer
          description: Estimated daily income from taxes/territory
          example: 2500
        daily_expenses:
          type: integer
          description: Estimated daily expenses
          example: 1800
        permissions:
          type: object
          properties:
            can_deposit:
              type: boolean
            can_withdraw:
              type: boolean
            withdrawal_limit:
              type: integer
    BankTransactionResponse:
      type: object
      allOf:
      - $ref: ../common-service/schemas/common.yaml#/BaseEntity
      - type: object
        required:
        - guild_id
        - type
        - amount
        - currency
        - executed_by
        properties:
          guild_id:
            $ref: ../common-service/schemas/common.yaml#/UUID
          type:
            type: string
            enum:
            - deposit
            - withdrawal
            - purchase
            - sale
            - transfer
            - tax
            - reward
            example: purchase
          amount:
            type: integer
            example: 5000
          currency:
            type: string
            example: credits
          description:
            type: string
            maxLength: 200
            example: Purchased guild hall upgrade
          executed_by:
            $ref: ../common-service/schemas/common.yaml#/UUID
          approved_by:
            $ref: ../common-service/schemas/common.yaml#/UUID
          balance_after:
            type: integer
            description: Guild balance after transaction
            example: 145000
    CreateBankTransactionRequest:
      type: object
      required:
      - type
      - amount
      - currency
      - description
      properties:
        type:
          type: string
          enum:
          - deposit
          - withdrawal
          - purchase
          - sale
          - transfer
          - tax
          - reward
        amount:
          type: integer
          minimum: 1
        currency:
          type: string
          default: credits
        description:
          type: string
          minLength: 5
          maxLength: 200
        requires_approval:
          type: boolean
          description: Whether this transaction needs officer approval
          default: false
    GuildTerritoryResponse:
      type: object
      properties:
        guild_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        controlled_zones:
          type: array
          items:
            type: object
            properties:
              zone_id:
                $ref: ../common-service/schemas/common.yaml#/UUID
              zone_name:
                type: string
                example: Watson District
              control_percentage:
                type: integer
                minimum: 0
                maximum: 100
                example: 85
              defense_level:
                type: integer
                minimum: 0
                example: 12
              resource_generation:
                type: object
                properties:
                  credits_per_hour:
                    type: integer
                    example: 500
                  influence_per_hour:
                    type: integer
                    example: 25
        territory_score:
          type: integer
          description: Overall territory control score
          example: 1250
        last_updated:
          $ref: ../common-service/schemas/common.yaml#/Timestamp
    GuildAnnouncementResponse:
      type: object
      allOf:
      - $ref: ../common-service/schemas/common.yaml#/BaseEntity
      - type: object
        required:
        - guild_id
        - title
        - content
        - author_id
        properties:
          guild_id:
            $ref: ../common-service/schemas/common.yaml#/UUID
          title:
            type: string
            maxLength: 100
            example: Weekly Raid Schedule Updated
          content:
            type: string
            maxLength: 2000
            example: We've added two new high-level raids this week...
          author_id:
            $ref: ../common-service/schemas/common.yaml#/UUID
          is_pinned:
            type: boolean
            example: true
          pinned_until:
            $ref: ../common-service/schemas/common.yaml#/Timestamp
          views_count:
            type: integer
            example: 156
    CreateAnnouncementRequest:
      type: object
      required:
      - title
      - content
      properties:
        title:
          type: string
          minLength: 5
          maxLength: 100
        content:
          type: string
          minLength: 10
          maxLength: 2000
        is_pinned:
          type: boolean
          default: false
        pinned_duration_hours:
          type: integer
          minimum: 1
          maximum: 168
          description: How long to pin the announcement (hours)
    GuildEventResponse:
      type: object
      allOf:
      - $ref: ../common-service/schemas/common.yaml#/BaseEntity
      - type: object
        required:
        - guild_id
        - title
        - type
        - scheduled_at
        properties:
          guild_id:
            $ref: ../common-service/schemas/common.yaml#/UUID
          title:
            type: string
            maxLength: 100
            example: Weekly Guild Raid
          description:
            type: string
            maxLength: 500
            example: Taking down the Arasaka tower boss
          type:
            type: string
            enum:
            - raid
            - meeting
            - social
            - tournament
            - training
            example: raid
          scheduled_at:
            $ref: ../common-service/schemas/common.yaml#/Timestamp
          duration_minutes:
            type: integer
            minimum: 30
            example: 180
          location:
            type: string
            maxLength: 100
            example: Arasaka Tower - Executive Floor
          max_participants:
            type: integer
            minimum: 1
            example: 20
          rsvp_count:
            type: integer
            example: 15
          status:
            type: string
            enum:
            - scheduled
            - ongoing
            - completed
            - cancelled
            example: scheduled
    CreateEventRequest:
      type: object
      required:
      - title
      - type
      - scheduled_at
      properties:
        title:
          type: string
          minLength: 5
          maxLength: 100
        description:
          type: string
          maxLength: 500
        type:
          type: string
          enum:
          - raid
          - meeting
          - social
          - tournament
          - training
        scheduled_at:
          $ref: ../common-service/schemas/common.yaml#/Timestamp
        duration_minutes:
          type: integer
          minimum: 30
          maximum: 1440
          default: 120
        location:
          type: string
          maxLength: 100
        max_participants:
          type: integer
          minimum: 1
          maximum: 100
        requires_rsvp:
          type: boolean
          default: true
    GuildSettingsResponse:
      type: object
      properties:
        privacy:
          type: object
          properties:
            member_list_visibility:
              type: string
              enum:
              - public
              - members_only
              - officers_only
              default: members_only
            announcement_visibility:
              type: string
              enum:
              - public
              - members_only
              default: members_only
        recruitment:
          type: object
          properties:
            is_open:
              type: boolean
              default: true
            requires_application:
              type: boolean
              default: true
            min_level:
              type: integer
              minimum: 1
              default: 5
            min_reputation:
              type: integer
              minimum: 0
              default: 100
        gameplay:
          type: object
          properties:
            tax_rate:
              type: number
              minimum: 0
              maximum: 0.5
              default: 0.05
            allow_friendly_fire:
              type: boolean
              default: false
            auto_kick_inactive_days:
              type: integer
              minimum: 0
              maximum: 365
              default: 30
    UpdateGuildSettingsRequest:
      type: object
      properties:
        privacy:
          $ref: '#/components/schemas/GuildSettingsResponse/properties/privacy'
        recruitment:
          $ref: '#/components/schemas/GuildSettingsResponse/properties/recruitment'
        gameplay:
          $ref: '#/components/schemas/GuildSettingsResponse/properties/gameplay'
  securitySchemes:
    BearerAuth:
      $ref: ../common-service/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common-service/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common-service/security/security.yaml#/ServiceAuth
