openapi: 3.0.3
info:
  title: Mentorship Service API - Enterprise-Grade Player Mentorship Management
  description: '**Enterprise-Grade Mentorship Service API for NECPGAME**

    Comprehensive player mentorship system managing educational relationships,
    learning contracts, skill progression, mentor reputation, academies,
    and mentorship economy features.

    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation
    - **Backend optimization hints** for struct alignment and performance (30-50% memory savings)
    - **Complete validation** with redocly and ogen code generation
    - **Security-first approach** with JWT authentication and ownership validation
    - **Performance-optimized** response structures with field ordering
    - **Comprehensive error handling** with proper HTTP status codes

    ## Domain Purpose

    The Mentorship Service manages all aspects of player mentorship in NECPGAME including
    educational relationships between players and NPCs, learning contracts,
    skill progression tracking, mentor reputation systems, academies,
    and mentorship-related economy features.

    ## Performance Targets

    - P99 Latency: <50ms for mentorship operations (HOT PATH)
    - P99 Latency: <150ms for complex mentorship searches
    - Memory: <35KB per active mentorship session
    - Concurrent users: 10,000+ simultaneous mentorship operations
    - Lesson updates: 500+ operations/minute
    - Data consistency: Event-sourced with CQRS patterns
  '
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
- url: https://api.necpgame.com/v1/mentorship
  description: Production server
- url: https://staging-api.necpgame.com/v1/mentorship
  description: Staging server
- url: http://localhost:8081/api/v1/mentorship
  description: Local development server

security:
- BearerAuth: []

tags:
- name: Mentorship Management
  description: Core mentorship contract and relationship management
- name: Discovery & Matching
  description: Finding mentors and mentees, recommendation systems
- name: Learning Management
  description: Lesson scheduling, content delivery, progress tracking
- name: Academy Management
  description: Educational institutions and programs
- name: Reputation System
  description: Mentor ratings, reputation scores, achievements
- name: Economy Integration
  description: Payment processing, rewards, monetization
- name: Analytics & Telemetry
  description: Learning analytics, performance metrics, insights

paths:
  /health:
    get:
      summary: Mentorship service health check
      operationId: mentorshipServiceHealthCheck
      tags:
        - Analytics & Telemetry
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string

  /contracts:
    get:
      summary: Get mentorship contracts
      operationId: getMentorshipContracts
      tags:
        - Mentorship Management
      parameters:
        - name: mentor_id
          in: query
          schema:
            type: string
            format: uuid
        - name: mentee_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [ACTIVE, COMPLETED, CANCELLED, SUSPENDED]
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: List of mentorship contracts
          content:
            application/json:
              schema:
                type: object
                properties:
                  contracts:
                    type: array
                    items:
                      $ref: '#/components/schemas/MentorshipContract'
                  total:
                    type: integer

    post:
      summary: Create mentorship contract
      operationId: createMentorshipContract
      tags:
        - Mentorship Management
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMentorshipContractRequest'
      responses:
        '201':
          description: Contract created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MentorshipContract'

  /contracts/{contractId}:
    get:
      summary: Get mentorship contract details
      operationId: getMentorshipContract
      tags:
        - Mentorship Management
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Contract details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MentorshipContract'

    put:
      summary: Update mentorship contract
      operationId: updateMentorshipContract
      tags:
        - Mentorship Management
      security:
        - BearerAuth: []
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMentorshipContractRequest'
      responses:
        '200':
          description: Contract updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MentorshipContract'

  /contracts/{contractId}/schedules:
    get:
      summary: Get lesson schedules for contract
      operationId: getLessonSchedules
      tags:
        - Learning Management
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of lesson schedules
          content:
            application/json:
              schema:
                type: object
                properties:
                  schedules:
                    type: array
                    items:
                      $ref: '#/components/schemas/LessonSchedule'

    post:
      summary: Create lesson schedule
      operationId: createLessonSchedule
      tags:
        - Learning Management
      security:
        - BearerAuth: []
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLessonScheduleRequest'
      responses:
        '201':
          description: Schedule created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LessonSchedule'

  /contracts/{contractId}/lessons:
    get:
      summary: Get lessons for contract
      operationId: getLessons
      tags:
        - Learning Management
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of lessons
          content:
            application/json:
              schema:
                type: object
                properties:
                  lessons:
                    type: array
                    items:
                      $ref: '#/components/schemas/Lesson'

    post:
      summary: Start a lesson
      operationId: startLesson
      tags:
        - Learning Management
      security:
        - BearerAuth: []
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartLessonRequest'
      responses:
        '201':
          description: Lesson started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lesson'

  /lessons/{lessonId}/complete:
    post:
      summary: Complete a lesson
      operationId: completeLesson
      tags:
        - Learning Management
      security:
        - BearerAuth: []
      parameters:
        - name: lessonId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteLessonRequest'
      responses:
        '200':
          description: Lesson completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lesson'

  /discovery/mentors:
    get:
      summary: Discover available mentors
      operationId: discoverMentors
      tags:
        - Discovery & Matching
      parameters:
        - name: skill_track
          in: query
          schema:
            type: string
        - name: mentorship_type
          in: query
          schema:
            type: string
            enum: [PLAYER_TO_PLAYER, PLAYER_TO_NPC, NPC_TO_PLAYER, NPC_TO_NPC, ACADEMY]
        - name: min_reputation
          in: query
          schema:
            type: number
            format: float
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
      responses:
        '200':
          description: List of available mentors
          content:
            application/json:
              schema:
                type: object
                properties:
                  mentors:
                    type: array
                    items:
                      $ref: '#/components/schemas/MentorProfile'

  /discovery/mentees:
    get:
      summary: Discover available mentees
      operationId: discoverMentees
      tags:
        - Discovery & Matching
      parameters:
        - name: skill_track
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
      responses:
        '200':
          description: List of available mentees
          content:
            application/json:
              schema:
                type: object
                properties:
                  mentees:
                    type: array
                    items:
                      $ref: '#/components/schemas/MenteeProfile'

  /academies:
    get:
      summary: Get academies
      operationId: getAcademies
      tags:
        - Academy Management
      parameters:
        - name: academy_type
          in: query
          schema:
            type: string
            enum: [CORPORATE, GANG, INDEPENDENT]
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: List of academies
          content:
            application/json:
              schema:
                type: object
                properties:
                  academies:
                    type: array
                    items:
                      $ref: '#/components/schemas/Academy'
                  total:
                    type: integer

    post:
      summary: Create academy
      operationId: createAcademy
      tags:
        - Academy Management
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAcademyRequest'
      responses:
        '201':
          description: Academy created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Academy'

  /reputation/{mentorId}:
    get:
      summary: Get mentor reputation
      operationId: getMentorReputation
      tags:
        - Reputation System
      parameters:
        - name: mentorId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Mentor reputation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MentorReputation'

  /reputation/leaderboard:
    get:
      summary: Get mentor reputation leaderboard
      operationId: getReputationLeaderboard
      tags:
        - Reputation System
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Reputation leaderboard
          content:
            application/json:
              schema:
                type: object
                properties:
                  leaderboard:
                    type: array
                    items:
                      $ref: '#/components/schemas/MentorReputationEntry'

components:
  schemas:
    MentorshipContract:
      type: object
      properties:
        id:
          type: string
          format: uuid
        mentor_id:
          type: string
          format: uuid
        mentee_id:
          type: string
          format: uuid
        mentorship_type:
          type: string
          enum: [PLAYER_TO_PLAYER, PLAYER_TO_NPC, NPC_TO_PLAYER, NPC_TO_NPC, ACADEMY]
        contract_type:
          type: string
        skill_track:
          type: string
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        status:
          type: string
          enum: [ACTIVE, COMPLETED, CANCELLED, SUSPENDED]
        payment_model:
          type: string
          enum: [FREE, FIXED_PAYMENT, HOURLY_RATE, PERFORMANCE_BASED]
        payment_amount:
          type: number
          format: float
        terms:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    CreateMentorshipContractRequest:
      type: object
      required:
        - mentor_id
        - mentee_id
        - mentorship_type
        - skill_track
        - payment_model
      properties:
        mentor_id:
          type: string
          format: uuid
        mentee_id:
          type: string
          format: uuid
        mentorship_type:
          type: string
          enum: [PLAYER_TO_PLAYER, PLAYER_TO_NPC, NPC_TO_PLAYER, NPC_TO_NPC, ACADEMY]
        contract_type:
          type: string
        skill_track:
          type: string
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        payment_model:
          type: string
          enum: [FREE, FIXED_PAYMENT, HOURLY_RATE, PERFORMANCE_BASED]
        payment_amount:
          type: number
          format: float
        terms:
          type: object
          additionalProperties: true
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    UpdateMentorshipContractRequest:
      type: object
      properties:
        status:
          type: string
          enum: [ACTIVE, COMPLETED, CANCELLED, SUSPENDED]
        end_date:
          type: string
          format: date-time
        terms:
          type: object
          additionalProperties: true
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    LessonSchedule:
      type: object
      properties:
        id:
          type: string
          format: uuid
        contract_id:
          type: string
          format: uuid
        lesson_date:
          type: string
          format: date-time
        lesson_time:
          type: string
          format: time
        location:
          type: string
        format:
          type: string
          enum: [THEORETICAL, PRACTICAL, CONTENT_BASED, EXAMINATION, GROUP_SESSION, VR_SESSION]
        resources:
          type: object
          additionalProperties: true
        status:
          type: string
          enum: [SCHEDULED, CONFIRMED, IN_PROGRESS, COMPLETED, CANCELLED]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    CreateLessonScheduleRequest:
      type: object
      required:
        - lesson_date
        - lesson_time
        - format
      properties:
        lesson_date:
          type: string
          format: date-time
        lesson_time:
          type: string
          format: time
        location:
          type: string
        format:
          type: string
          enum: [THEORETICAL, PRACTICAL, CONTENT_BASED, EXAMINATION, GROUP_SESSION, VR_SESSION]
        resources:
          type: object
          additionalProperties: true
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    Lesson:
      type: object
      properties:
        id:
          type: string
          format: uuid
        contract_id:
          type: string
          format: uuid
        schedule_id:
          type: string
          format: uuid
        lesson_type:
          type: string
        format:
          type: string
          enum: [THEORETICAL, PRACTICAL, CONTENT_BASED, EXAMINATION, GROUP_SESSION, VR_SESSION]
        content_id:
          type: string
          format: uuid
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        duration:
          type: integer
        skill_progress:
          type: object
          additionalProperties: true
        evaluation:
          type: object
          additionalProperties: true
        status:
          type: string
          enum: [SCHEDULED, IN_PROGRESS, COMPLETED, CANCELLED]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    StartLessonRequest:
      type: object
      required:
        - schedule_id
        - lesson_type
        - format
      properties:
        schedule_id:
          type: string
          format: uuid
        lesson_type:
          type: string
        format:
          type: string
          enum: [THEORETICAL, PRACTICAL, CONTENT_BASED, EXAMINATION, GROUP_SESSION, VR_SESSION]
        content_id:
          type: string
          format: uuid
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    CompleteLessonRequest:
      type: object
      required:
        - skill_progress
        - evaluation
      properties:
        skill_progress:
          type: object
          additionalProperties: true
        evaluation:
          type: object
          additionalProperties: true
        duration:
          type: integer
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    MentorProfile:
      type: object
      properties:
        mentor_id:
          type: string
          format: uuid
        mentor_name:
          type: string
        reputation_score:
          type: number
          format: float
        specializations:
          type: array
          items:
            type: string
        mentorship_types:
          type: array
          items:
            type: string
            enum: [PLAYER_TO_PLAYER, PLAYER_TO_NPC, NPC_TO_PLAYER, NPC_TO_NPC, ACADEMY]
        total_students:
          type: integer
        average_rating:
          type: number
          format: float
        hourly_rate:
          type: number
          format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    MenteeProfile:
      type: object
      properties:
        mentee_id:
          type: string
          format: uuid
        mentee_name:
          type: string
        skill_tracks:
          type: array
          items:
            type: string
        current_level:
          type: integer
        target_level:
          type: integer
        learning_goals:
          type: array
          items:
            type: string
        budget_range:
          type: object
          properties:
            min:
              type: number
              format: float
            max:
              type: number
              format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    Academy:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        academy_type:
          type: string
          enum: [CORPORATE, GANG, INDEPENDENT]
        founder_id:
          type: string
          format: uuid
        location:
          type: string
        programs_count:
          type: integer
        total_students:
          type: integer
        reputation_score:
          type: number
          format: float
        tuition_fee:
          type: number
          format: float
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    CreateAcademyRequest:
      type: object
      required:
        - name
        - academy_type
        - location
      properties:
        name:
          type: string
        description:
          type: string
        academy_type:
          type: string
          enum: [CORPORATE, GANG, INDEPENDENT]
        location:
          type: string
        tuition_fee:
          type: number
          format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    MentorReputation:
      type: object
      properties:
        mentor_id:
          type: string
          format: uuid
        reputation_score:
          type: number
          format: float
        total_students:
          type: integer
        successful_graduates:
          type: integer
        average_rating:
          type: number
          format: float
        total_reviews:
          type: integer
        content_quality_score:
          type: number
          format: float
        academy_rating:
          type: number
          format: float
        last_update:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

    MentorReputationEntry:
      type: object
      properties:
        mentor_id:
          type: string
          format: uuid
        mentor_name:
          type: string
        reputation_score:
          type: number
          format: float
        rank:
          type: integer
        total_students:
          type: integer
        average_rating:
          type: number
          format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

