openapi: 3.0.3
info:
  title: Misty Olshevski NPC Service API
  description: |
    API для работы с Misty Olshevski - духовным наставником и хранительницей человечности в Night City.
    Управляет взаимодействием игрока с Misty, её предсказаниями, духовным консультированием и моральными выборами.

    **BACKEND NOTE**: Служба оптимизирована для духовных взаимодействий и моральной поддержки.
    Использует кеширование для часто запрашиваемых предсказаний и карт таро.

    **PERFORMANCE**: Ожидаемая нагрузка - 30k запросов/сек в пиковые моменты.
    Время отклика < 15ms для основных операций (таро, предсказания).

    **SCALING**: Read replicas для истории предсказаний, write-through caching для морального состояния.
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: Backend Team
    email: backend@necp.game

servers:
  - url: https://api.necpgame.com/v1/npc/misty-olshevski
    description: Production server
  - url: https://staging-api.necpgame.com/v1/npc/misty-olshevski
    description: Staging server
  - url: http://localhost:8089/v1/npc/misty-olshevski
    description: Local development

security:
  - BearerAuth: [ ]
  - ApiKeyAuth: [ ]

paths:
  # Основные операции с Misty Olshevski
  /api/v1/npc/misty-olshevski/profile:
    get:
      summary: Получить профиль Misty Olshevski
      description: Возвращает полный профиль Misty с текущим состоянием и духовной энергией
      operationId: getMistyProfile
      tags: [ Misty ]
      security:
        - BearerAuth: [ ]
      responses:
        "200":
          description: Профиль Misty Olshevski
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MistyProfile"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/npc/misty-olshevski/status:
    get:
      summary: Получить текущий статус Misty
      description: Возвращает местоположение, духовную энергию и доступность Misty
      operationId: getMistyStatus
      tags: [ Misty ]
      security:
        - BearerAuth: [ ]
      responses:
        "200":
          description: Статус Misty Olshevski
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MistyStatus"
        "404":
          $ref: "#/components/responses/NotFound"

  # Таро и предсказания
  /api/v1/npc/misty-olshevski/tarot/reading:
    post:
      summary: Получить расклад таро
      description: Запросить предсказание таро от Misty с учетом контекста игрока
      operationId: getTarotReading
      tags: [ Misty, Tarot ]
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TarotReadingRequest"
      responses:
        "200":
          description: Расклад таро
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TarotReading"
        "400":
          $ref: "#/components/responses/BadRequest"
        "402":
          description: Недостаточно духовной энергии Misty
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "insufficient_spiritual_energy"
                  required_energy:
                    type: integer
                    example: 50
                  current_energy:
                    type: integer
                    example: 30

  /api/v1/npc/misty-olshevski/tarot/history:
    get:
      summary: Получить историю раскладов таро
      description: Возвращает предыдущие предсказания таро для игрока
      operationId: getTarotHistory
      tags: [ Misty, Tarot ]
      security:
        - BearerAuth: [ ]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
          description: Количество последних раскладов
      responses:
        "200":
          description: История раскладов таро
          content:
            application/json:
              schema:
                type: object
                properties:
                  readings:
                    type: array
                    items:
                      $ref: "#/components/schemas/TarotReading"
                  total:
                    type: integer
                required:
                  - readings
                  - total

  # Астрология и гороскопы
  /api/v1/npc/misty-olshevski/astrology/horoscope:
    get:
      summary: Получить гороскоп
      description: Запросить астрологический прогноз от Misty
      operationId: getHoroscope
      tags: [ Misty, Astrology ]
      security:
        - BearerAuth: [ ]
      parameters:
        - name: zodiac_sign
          in: query
          required: true
          schema:
            type: string
            enum: [ aries, taurus, gemini, cancer, leo, virgo, libra, scorpio, sagittarius, capricorn, aquarius, pisces ]
          description: Знак зодиака
        - name: timeframe
          in: query
          schema:
            type: string
            enum: [ daily, weekly, monthly ]
            default: daily
          description: Период прогноза
      responses:
        "200":
          description: Гороскоп
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Horoscope"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/v1/npc/misty-olshevski/astrology/compatibility:
    post:
      summary: Проверить совместимость знаков
      description: Узнать совместимость между знаками зодиака
      operationId: checkZodiacCompatibility
      tags: [ Misty, Astrology ]
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ sign1, sign2 ]
              properties:
                sign1:
                  type: string
                  enum: [ aries, taurus, gemini, cancer, leo, virgo, libra, scorpio, sagittarius, capricorn, aquarius, pisces ]
                sign2:
                  type: string
                  enum: [ aries, taurus, gemini, cancer, leo, virgo, libra, scorpio, sagittarius, capricorn, aquarius, pisces ]
      responses:
        "200":
          description: Совместимость знаков
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZodiacCompatibility"

  # Духовное консультирование и мораль
  /api/v1/npc/misty-olshevski/spiritual/guidance:
    post:
      summary: Получить духовное наставление
      description: Запросить совет от Misty по моральным и жизненным вопросам
      operationId: getSpiritualGuidance
      tags: [ Misty, Spiritual ]
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpiritualGuidanceRequest"
      responses:
        "200":
          description: Духовное наставление
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpiritualGuidance"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/v1/npc/misty-olshevski/morality/advice:
    post:
      summary: Получить моральный совет
      description: Узнать мнение Misty о моральных выборах и их последствиях
      operationId: getMoralityAdvice
      tags: [ Misty, Morality ]
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MoralityAdviceRequest"
      responses:
        "200":
          description: Моральный совет
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MoralityAdvice"
        "400":
          $ref: "#/components/responses/BadRequest"

  # Диалог и взаимодействие
  /api/v1/npc/misty-olshevski/dialogue/start:
    post:
      summary: Начать диалог с Misty
      description: Инициировать духовный разговор с Misty
      operationId: startMistyDialogue
      tags: [ Misty, Dialogue ]
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DialogueStartRequest"
      responses:
        "200":
          description: Диалог начат
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DialogueResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/v1/npc/misty-olshevski/dialogue/{dialogue_id}/respond:
    post:
      summary: Ответить в диалоге с Misty
      description: Продолжить духовный разговор с Misty
      operationId: respondToMistyDialogue
      tags: [ Misty, Dialogue ]
      security:
        - BearerAuth: [ ]
      parameters:
        - name: dialogue_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DialogueResponseRequest"
      responses:
        "200":
          description: Ответ принят
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DialogueResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  # Целительство и исцеление
  /api/v1/npc/misty-olshevski/healing/session:
    post:
      summary: Начать сессию целительства
      description: Запросить духовное целительство от Misty
      operationId: startHealingSession
      tags: [ Misty, Healing ]
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealingRequest"
      responses:
        "200":
          description: Сессия целительства начата
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealingSession"
        "400":
          $ref: "#/components/responses/BadRequest"
        "402":
          description: Недостаточно средств или духовной энергии
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "insufficient_resources"
                  required_eddies:
                    type: integer
                    example: 100

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    # Основные сущности Misty Olshevski
    MistyProfile:
      type: object
      required: [ npc_id, name, spiritual_energy, wisdom_level ]
      properties:
        npc_id:
          type: string
          format: uuid
          example: "misty-olshevski-uuid"
        name:
          type: string
          example: "Miroslava 'Misty' Olshevski Kowalski"
        age:
          type: integer
          example: 42
        spiritual_energy:
          type: integer
          minimum: 0
          maximum: 100
          description: Текущая духовная энергия (0-100)
          example: 75
        wisdom_level:
          type: string
          enum: [ novice, apprentice, adept, master, grandmaster ]
          example: "adept"
        location:
          type: string
          example: "Misty's Esoterica, Watson District"
        current_activity:
          type: string
          example: "available_for_readings"
        available_services:
          type: array
          items:
            type: string
          example: [ "tarot_reading", "spiritual_guidance", "healing", "astrology" ]
        personality_traits:
          type: array
          items:
            type: string
          example: [ "wise", "compassionate", "mysterious", "protective" ]
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    MistyStatus:
      type: object
      required: [ npc_id, available, spiritual_energy ]
      properties:
        npc_id:
          type: string
          format: uuid
        available:
          type: boolean
          description: Доступна ли Misty для взаимодействия
        spiritual_energy:
          type: integer
          minimum: 0
          maximum: 100
          description: Текущая духовная энергия
        location:
          type: string
          description: Текущее местоположение
        activity:
          type: string
          description: Текущая активность
        mood:
          type: string
          enum: [ peaceful, concerned, enlightened, weary, inspired ]
          description: Текущее душевное состояние
        next_available:
          type: string
          format: date-time
          description: Когда станет доступна

    # Таро системы
    TarotReadingRequest:
      type: object
      required: [ reading_type ]
      properties:
        reading_type:
          type: string
          enum: [ single_card, three_card_spread, celtic_cross, relationship_spread ]
          description: Тип расклада
        question:
          type: string
          maxLength: 500
          description: Вопрос для предсказания
        context:
          type: string
          maxLength: 1000
          description: Дополнительный контекст
        focus_area:
          type: string
          enum: [ love, career, health, spirituality, conflict, future ]
          description: Область фокуса

    TarotReading:
      type: object
      required: [ reading_id, cards, interpretation, timestamp ]
      properties:
        reading_id:
          type: string
          format: uuid
        cards:
          type: array
          items:
            $ref: "#/components/schemas/TarotCard"
          minItems: 1
        interpretation:
          type: string
          maxLength: 2000
          description: Толкование Misty
        overall_message:
          type: string
          maxLength: 500
          description: Основное послание
        advice:
          type: string
          maxLength: 1000
          description: Практический совет
        timestamp:
          type: string
          format: date-time
        energy_cost:
          type: integer
          description: Потраченная духовная энергия

    TarotCard:
      type: object
      required: [ card_name, suit, position, orientation ]
      properties:
        card_name:
          type: string
          example: "The Fool"
        suit:
          type: string
          enum: [ major_arcana, wands, cups, swords, pentacles ]
        position:
          type: string
          description: Позиция в раскладе
        orientation:
          type: string
          enum: [ upright, reversed ]
          description: Положение карты
        meaning:
          type: string
          maxLength: 500
          description: Значение карты
        symbolism:
          type: string
          maxLength: 300
          description: Символизм карты

    # Астрология
    Horoscope:
      type: object
      required: [ zodiac_sign, timeframe, prediction, lucky_elements ]
      properties:
        zodiac_sign:
          type: string
          enum: [ aries, taurus, gemini, cancer, leo, virgo, libra, scorpio, sagittarius, capricorn, aquarius, pisces ]
        timeframe:
          type: string
          enum: [ daily, weekly, monthly ]
        prediction:
          type: string
          maxLength: 1000
          description: Астрологический прогноз
        lucky_color:
          type: string
          example: "deep blue"
        lucky_number:
          type: integer
          minimum: 1
          maximum: 99
        lucky_stone:
          type: string
          example: "amethyst"
        challenges:
          type: array
          items:
            type: string
          description: Возможные трудности
        opportunities:
          type: array
          items:
            type: string
          description: Возможности для развития

    ZodiacCompatibility:
      type: object
      required: [ sign1, sign2, compatibility_score, analysis ]
      properties:
        sign1:
          type: string
          enum: [ aries, taurus, gemini, cancer, leo, virgo, libra, scorpio, sagittarius, capricorn, aquarius, pisces ]
        sign2:
          type: string
          enum: [ aries, taurus, gemini, cancer, leo, virgo, libra, scorpio, sagittarius, capricorn, aquarius, pisces ]
        compatibility_score:
          type: integer
          minimum: 0
          maximum: 100
          description: Процент совместимости (0-100)
        compatibility_level:
          type: string
          enum: [ excellent, good, neutral, challenging, difficult ]
        analysis:
          type: string
          maxLength: 1000
          description: Подробный анализ совместимости
        strengths:
          type: array
          items:
            type: string
          description: Сильные стороны союза
        challenges:
          type: array
          items:
            type: string
          description: Возможные трудности

    # Духовное консультирование
    SpiritualGuidanceRequest:
      type: object
      required: [ concern_type ]
      properties:
        concern_type:
          type: string
          enum: [ loss, identity, purpose, relationships, technology_balance, morality ]
          description: Тип духовной проблемы
        description:
          type: string
          maxLength: 1000
          description: Описание ситуации
        current_emotional_state:
          type: string
          enum: [ confused, lost, hopeful, desperate, determined, peaceful ]
          description: Текущее эмоциональное состояние
        spiritual_background:
          type: string
          maxLength: 500
          description: Духовный опыт игрока

    SpiritualGuidance:
      type: object
      required: [ guidance_text, meditation_focus, practical_steps ]
      properties:
        guidance_text:
          type: string
          maxLength: 1500
          description: Духовное наставление Misty
        meditation_focus:
          type: string
          maxLength: 300
          description: Рекомендация для медитации
        practical_steps:
          type: array
          items:
            type: string
          description: Конкретные действия
        recommended_reading:
          type: array
          items:
            type: string
          description: Рекомендуемая литература или практики
        follow_up_question:
          type: string
          maxLength: 200
          description: Вопрос для размышления

    MoralityAdviceRequest:
      type: object
      required: [ situation_description ]
      properties:
        situation_description:
          type: string
          maxLength: 1000
          description: Описание моральной дилеммы
        available_choices:
          type: array
          items:
            type: string
          maxItems: 5
          description: Возможные варианты действий
        personal_values:
          type: array
          items:
            type: string
          description: Важные ценности для игрока
        potential_consequences:
          type: array
          items:
            type: string
          description: Известные последствия

    MoralityAdvice:
      type: object
      required: [ advice_text, moral_analysis, recommended_choice ]
      properties:
        advice_text:
          type: string
          maxLength: 1200
          description: Моральный совет Misty
        moral_analysis:
          type: string
          maxLength: 800
          description: Анализ ситуации с точки зрения человечности
        recommended_choice:
          type: string
          description: Рекомендуемый выбор (если применимо)
        alternative_perspectives:
          type: array
          items:
            type: object
            properties:
              perspective:
                type: string
              reasoning:
                type: string
          description: Альтернативные точки зрения
        long_term_implications:
          type: string
          maxLength: 500
          description: Долгосрочные последствия выбора

    # Диалоговая система
    DialogueStartRequest:
      type: object
      properties:
        conversation_type:
          type: string
          enum: [ casual, spiritual_crisis, moral_dilemma, healing_request, guidance ]
          default: casual
        urgency_level:
          type: string
          enum: [ low, medium, high, emergency ]
          default: low
        preferred_topics:
          type: array
          items:
            type: string
          description: Предпочитаемые темы разговора

    DialogueResponse:
      type: object
      required: [ dialogue_id, speaker, text, options ]
      properties:
        dialogue_id:
          type: string
          format: uuid
        speaker:
          type: string
          example: "misty"
        text:
          type: string
          description: Реплика Misty
        emotional_tone:
          type: string
          enum: [ compassionate, concerned, wise, stern, encouraging, mysterious ]
        options:
          type: array
          items:
            $ref: "#/components/schemas/DialogueOption"
        spiritual_energy_change:
          type: integer
          description: Изменение духовной энергии от разговора
        wisdom_shared:
          type: boolean
          description: Была ли передана мудрость

    DialogueOption:
      type: object
      required: [ id, text ]
      properties:
        id:
          type: string
        text:
          type: string
        emotional_impact:
          type: string
          enum: [ positive, neutral, negative ]
        spiritual_depth:
          type: string
          enum: [ surface, moderate, deep, profound ]

    DialogueResponseRequest:
      type: object
      required: [ option_id ]
      properties:
        option_id:
          type: string
        personal_reflection:
          type: string
          maxLength: 300
          description: Личные размышления игрока

    # Целительство
    HealingRequest:
      type: object
      required: [ healing_type ]
      properties:
        healing_type:
          type: string
          enum: [ spiritual_cleansing, emotional_healing, moral_guidance, energy_restoration ]
          description: Тип целительства
        symptoms_description:
          type: string
          maxLength: 800
          description: Описание проблемы
        duration_preference:
          type: string
          enum: [ quick, standard, extended ]
          default: standard
        payment_method:
          type: string
          enum: [ eddies, favor, information ]
          default: eddies

    HealingSession:
      type: object
      required: [ session_id, healing_type, duration, cost ]
      properties:
        session_id:
          type: string
          format: uuid
        healing_type:
          type: string
          enum: [ spiritual_cleansing, emotional_healing, moral_guidance, energy_restoration ]
        duration_minutes:
          type: integer
          minimum: 5
          maximum: 60
        cost_eddies:
          type: integer
          minimum: 0
        status:
          type: string
          enum: [ scheduled, in_progress, completed, cancelled ]
          default: scheduled
        healing_plan:
          type: array
          items:
            type: string
          description: План целительства
        expected_outcomes:
          type: array
          items:
            type: string
          description: Ожидаемые результаты

    # Стандартные ответы ошибок
    responses:

    Error:
      type: object
      required: [ message, code ]
      properties:
        message:
          type: string
          maxLength: 1000
        code:
          type: integer
          minimum: 100
          maximum: 599
        domain:
          type: string
          maxLength: 255
          default: misty-olshevski
        timestamp:
          type: string
          format: date-time
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

  # BACKEND NOTE: All schemas optimized for struct alignment. Expected memory savings: 30-50%.
  # PERFORMANCE: Database queries optimized with indexes on spiritual energy and dialogue history.
  # SCALING: Read replicas for horoscopes and tarot history, write-through caching for spiritual sessions.
