openapi: 3.0.3
info:
  title: Movement Service API - Enterprise-Grade Movement System
  description: |
    **Enterprise-grade API for Movement System**
    Complete character movement and navigation system for NECPGAME. Handles real-time position tracking, collision detection, pathfinding, movement validation, and physics-based movement calculations.
    ## Key Features
    - **Enterprise-grade architecture** with proper domain separation - **Backend optimization hints** for struct alignment and performance - **Complete validation** with redocly and ogen code generation - **Security-first approach** with JWT authentication - **Performance-optimized** response structures
    ## Domain Purpose
    Manages character movement mechanics including position updates, collision detection, navigation systems, movement validation, and real-time synchronization.
    ## Performance Targets
    - P99 Latency: <25ms for movement updates - Memory: <30KB per active player movement state - Concurrent users: 10,000+ simultaneous movement calculations - Real-time sync: 60 FPS position updates
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    email: api@necpgame.com
  license:
    name: MIT
servers:
  - url: https://api.necpgame.com/v1/movement
    description: Production server
  - url: https://staging-api.necpgame.com/v1/movement
    description: Staging server
  - url: http://localhost:8080/api/v1/movement
    description: Local development server
security:
  - BearerAuth: []
tags:
  - name: Movement Tracking
    description: Real-time movement tracking and position updates
  - name: Collision Detection
    description: Collision detection and resolution
  - name: Navigation
    description: Pathfinding and navigation systems
  - name: Health Monitoring
    description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Movement service health check
      description: |
        **Enterprise-grade health check endpoint**
        Provides real-time health status of the movement microservice.
        Critical for service discovery, load balancing, and monitoring.
        **Performance:** <1ms response time, cached for 30 seconds
      operationId: movementServiceHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
              - deflate
              - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                  - gzip
                  - deflate
                  - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          $ref: '#/components/responses/error_TooManyRequests'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /health/batch:
    post:
      summary: Batch health check for multiple services
      description: |
        **Performance optimization:** Check multiple services health in single request
        Reduces N HTTP calls to 1 call. Critical for orchestration.
        **Use case:** Service mesh health checks, Kubernetes readiness probes
      operationId: movementServiceBatchHealthCheck
      tags:
        - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                      - movement-service
                      - combat-service
                      - user-service
                  maxItems: 10
                  description: List of services to check
      responses:
        '200':
          $ref: '#/components/responses/HealthBatchSuccess'
        '400':
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/error_TooManyRequests'
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description: |
        **Performance optimization:** Real-time health updates without polling
        Eliminates periodic HTTP requests, reduces server load by ~90%.
        Perfect for dashboard monitoring and alerting systems.
        **Protocol:** WebSocket with JSON payloads
        **Heartbeat:** 30 second intervals
        **Reconnection:** Automatic with exponential backoff
      operationId: movementServiceHealthWebSocket
      tags:
        - Health Monitoring
      parameters:
        - name: services
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - movement-service
                - combat-service
                - user-service
          description: Services to monitor (optional, monitors all if not specified)
      responses:
        '101':
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
        '200':
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/movement/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                      - health-monitoring-v1
        '400':
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /movement/position:
    post:
      summary: Update character position
      description: |
        **Real-time position update endpoint**
        Updates character position with collision detection and validation.
        **Performance:** <15ms P95, real-time processing required
      operationId: movementServiceUpdatePosition
      tags:
        - Movement Tracking
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PositionUpdateRequest'
      responses:
        '200':
          description: Position updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Position conflict - invalid movement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/error_TooManyRequests'
  /movement/validate:
    post:
      summary: Validate movement path
      description: |
        **Movement validation endpoint**
        Validates movement path for collision detection and navigation.
        **Performance:** <10ms P95, pathfinding validation
      operationId: movementServiceValidatePath
      tags:
        - Collision Detection
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PathValidationRequest'
      responses:
        '200':
          description: Path validation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PathValidationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/error_TooManyRequests'
  /movement/navigate:
    post:
      summary: Calculate navigation path
      description: |
        **Pathfinding endpoint**
        Calculates optimal navigation path with obstacle avoidance.
        **Performance:** <50ms P95, A* pathfinding algorithm
      operationId: movementServiceCalculatePath
      tags:
        - Navigation
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NavigationRequest'
      responses:
        '200':
          description: Navigation path calculated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NavigationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Unreachable destination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/error_TooManyRequests'
  /movement/state/{characterId}:
    get:
      summary: Get character movement state
      description: |
        **Movement state retrieval endpoint**
        Returns current movement state for a character.
        **Performance:** <5ms P95, cached state data
      operationId: movementServiceGetState
      tags:
        - Movement Tracking
      security:
        - BearerAuth: []
      parameters:
        - name: characterId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Movement state retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovementState'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/error_TooManyRequests'
components:
  responses:
    HealthBatchSuccess:
      description: Batch health results retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: no-cache
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            type: object
            required:
              - results
              - total_time_ms
            properties:
              results:
                type: array
                items:
                  $ref: '#/components/schemas/HealthResponse'
                description: Health status for each requested service
              total_time_ms:
                type: integer
                description: Total processing time in milliseconds
    TooManyRequests:
      description: Too many requests - rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
            example: 60
            description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    error_TooManyRequests:
      description: Too many requests - rate limit exceeded
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Error'
              - type: object
                properties:
                  retry_after:
                    type: integer
                    example: 60
                    description: Seconds to wait before retrying
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          example: 500
          format: int32
          minimum: 100
          maximum: 599
        message:
          type: string
          example: Internal server error
          maxLength: 1000
        details:
          type: object
          description: Additional error details
      description: Standard error response format
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          enum:
            - healthy
            - degraded
            - unhealthy
          example: healthy
          maxLength: 255
        domain:
          type: string
          example: service-name
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          example: '2025-12-28T10:00:00Z'
          maxLength: 255
        version:
          type: string
          example: 1.0.0
          maxLength: 50
        uptime_seconds:
          type: integer
          example: 3600
          minimum: 0
        active_connections:
          type: integer
          example: 1500
          minimum: 0
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    WebSocketHealthMessage:
      type: object
      required:
        - type
        - timestamp
        - services
      properties:
        type:
          type: string
          enum:
            - health_update
            - service_down
            - service_up
          example: health_update
        timestamp:
          type: string
          format: date-time
          example: '2025-12-28T10:00:00Z'
        services:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/HealthResponse'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    PositionUpdateRequest:
      type: object
      required:
        - character_id
        - position
        - movement_type
      properties:
        character_id:
          type: string
          format: uuid
          description: Character unique identifier
        position:
          $ref: '#/components/schemas/Position'
        velocity:
          $ref: '#/components/schemas/Vector3'
        movement_type:
          type: string
          enum:
            - walk
            - run
            - sprint
            - jump
            - fall
            - teleport
            - dash
          description: Type of movement performed
          example: run
        timestamp:
          type: string
          format: date-time
          description: Movement timestamp
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    PositionUpdateResponse:
      type: object
      required:
        - success
        - character_id
        - position
      properties:
        success:
          type: boolean
          example: true
        character_id:
          type: string
          format: uuid
        position:
          $ref: '#/components/schemas/Position'
        corrected_position:
          $ref: '#/components/schemas/Position'
          description: Server-corrected position if collision detected
        collision_detected:
          type: boolean
          example: false
        timestamp:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    PathValidationRequest:
      type: object
      required:
        - character_id
        - start_position
        - end_position
      properties:
        character_id:
          type: string
          format: uuid
        start_position:
          $ref: '#/components/schemas/Position'
        end_position:
          $ref: '#/components/schemas/Position'
        movement_type:
          type: string
          enum:
            - walk
            - run
            - sprint
            - jump
          default: walk
        check_collisions:
          type: boolean
          default: true
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    PathValidationResponse:
      type: object
      required:
        - valid
        - character_id
      properties:
        valid:
          type: boolean
          example: true
        character_id:
          type: string
          format: uuid
        blocked_positions:
          type: array
          items:
            $ref: '#/components/schemas/Position'
        alternative_path:
          type: array
          items:
            $ref: '#/components/schemas/Position'
        validation_time_ms:
          type: integer
          description: Path validation processing time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    NavigationRequest:
      type: object
      required:
        - character_id
        - start_position
        - target_position
      properties:
        character_id:
          type: string
          format: uuid
        start_position:
          $ref: '#/components/schemas/Position'
        target_position:
          $ref: '#/components/schemas/Position'
        movement_type:
          type: string
          enum:
            - walk
            - run
            - sprint
          default: walk
        max_path_length:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
        avoid_hazards:
          type: boolean
          default: true
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    NavigationResponse:
      type: object
      required:
        - success
        - character_id
      properties:
        success:
          type: boolean
          example: true
        character_id:
          type: string
          format: uuid
        path:
          type: array
          items:
            $ref: '#/components/schemas/Position'
        total_distance:
          type: number
          format: float
          description: Total path distance in game units
        estimated_time:
          type: integer
          description: Estimated movement time in seconds
        pathfinding_time_ms:
          type: integer
          description: Pathfinding processing time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    MovementState:
      type: object
      required:
        - character_id
        - position
        - velocity
        - movement_type
      properties:
        character_id:
          type: string
          format: uuid
        position:
          $ref: '#/components/schemas/Position'
        velocity:
          $ref: '#/components/schemas/Vector3'
        movement_type:
          type: string
          enum:
            - idle
            - walk
            - run
            - sprint
            - jump
            - fall
            - teleport
            - dash
        is_grounded:
          type: boolean
          example: true
        can_move:
          type: boolean
          example: true
        last_update:
          type: string
          format: date-time
        server_timestamp:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    Position:
      type: object
      required:
        - x
        - 'y'
        - z
      properties:
        x:
          type: number
          format: float
          description: X coordinate
        'y':
          type: number
          format: float
          description: Y coordinate
        z:
          type: number
          format: float
          description: Z coordinate (height)
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    Vector3:
      type: object
      required:
        - x
        - 'y'
        - z
      properties:
        x:
          type: number
          format: float
          description: X velocity/component
        'y':
          type: number
          format: float
          description: Y velocity/component
        z:
          type: number
          format: float
          description: Z velocity/component
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    PaginationParams:
      type: object
      properties:
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
          example: 20
        offset:
          type: integer
          minimum: 0
          default: 0
          example: 0
    PaginatedResponse:
      type: object
      required:
        - items
        - total
        - limit
        - offset
      properties:
        items:
          type: array
          description: Array of items
        total:
          type: integer
          minimum: 0
          example: 100
          description: Total number of items
        limit:
          type: integer
          minimum: 1
          maximum: 100
          example: 20
          description: Items per page
        offset:
          type: integer
          minimum: 0
          example: 0
          description: Number of items to skip
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token authentication
