paths:
  $ref: ./data-synchronization-conflicts.yaml#/paths
  $ref: ./data-synchronization-sagas.yaml#/paths
  $ref: ./data-synchronization-consistency.yaml#/paths
openapi: 3.0.3
info:
  title: Data Synchronization and Consistency API
  description: |
    API for managing data synchronization between layers and game mechanics in MMORPG.
    Provides event-driven architecture, conflict resolution, saga coordination, and state synchronization.

    ## Key Features
    - **Event-Driven Communication**: Asynchronous event publishing and subscription
    - **State Synchronization**: Real-time synchronization between client, server, and database layers
    - **Conflict Resolution**: Automatic conflict detection and resolution strategies
    - **Saga Coordination**: Distributed transaction management across microservices
    - **Data Consistency**: Monitoring and ensuring data consistency across systems
  version: "1.0.0"
  contact:
    name: Architect Team
    email: architect@necp.game
  license:
    name: MIT

servers:
  - url: https://api.necp.game/v1
    description: Production server
  - url: https://staging-api.necp.game/v1
    description: Staging server
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: state-sync
    description: State synchronization management
  - name: event-bus
    description: Event publishing and subscription
  - name: conflict-resolution
    description: Conflict detection and resolution
  - name: saga-coordination
    description: Distributed transaction coordination
  - name: consistency-check
    description: Data consistency monitoring
  - name: health-monitoring
    description: System health and performance monitoring


