# Enterprise-Grade Email Notification Service API - SOLID/DRY Domain Inheritance
# Infrastructure domain service for email notifications
# Issue: #openapi-refactor

openapi: 3.0.3
info:
  title: Email Notification Service API
  description: |
    **Enterprise-grade API for Email Notifications**

    ## Domain Purpose
    Comprehensive email notification service providing template-based email delivery,
    personalization, analytics, and compliance management for the NECPGAME platform.

    ## Business Value
    - High-volume email delivery with 99%+ success rate
    - Advanced personalization and template management
    - Real-time delivery analytics and engagement tracking
    - GDPR compliant with user consent management
    - Enterprise-grade scalability and reliability

    ## Performance Targets
    - P99 Latency: <50ms for queue operations
    - Throughput: 10,000+ emails per second
    - Delivery Success Rate: >99% across all providers
    - Bounce Rate: <2% with automated cleanup

    ## Domain Inheritance
    This service inherits from infrastructure-entities.yaml providing:
    - Notification queue entity for async email processing
    - Audit trails for email operations and compliance
    - Configuration management for SMTP and provider settings
    - User account references for personalization
    - Optimistic locking for concurrent operations
    - Strict typing with validation rules

  version: "1.0.0"
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT

servers:
  - url: https://api.necpgame.com/v1/email-notification-service
    description: Production environment
  - url: https://staging-api.necpgame.com/v1/email-notification-service
    description: Staging environment
  - url: http://localhost:8080/api/v1/email-notification-service
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: Email Delivery
    description: Core email sending and queuing operations
  - name: Template Management
    description: Email template creation and management
  - name: Campaign Management
    description: Email campaigns and bulk operations
  - name: Analytics & Reporting
    description: Delivery analytics and engagement metrics
  - name: Compliance & Consent
    description: GDPR compliance and user consent management
  - name: Health Monitoring
    description: Service health and performance monitoring

paths:

  /health:
    get:
      operationId: emailNotificationServiceHealthCheck
      summary: Basic health check
      description: Returns service health status
      tags: [Health Monitoring]
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/HealthResponse'

  /emails/send:
    post:
      operationId: emailNotificationServiceSendEmail
      summary: Send email notification
      description: |
        Send email notification to specified recipients with personalization.

        **Delivery Process:**
        - Template rendering with personalization
        - Queue placement for async processing
        - Provider selection based on routing rules
        - Real-time delivery tracking
      tags: [Email Delivery]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendEmailRequest'
      responses:
        '202':
          description: Email queued for delivery
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/Accepted'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          email_id:
                            type: string
                            format: uuid
                            description: Email tracking ID
                          estimated_delivery_time:
                            type: string
                            format: date-time
                            description: Expected delivery time
                          recipient_count:
                            type: integer
                            description: Number of recipients
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /emails/{emailId}/status:
    get:
      operationId: emailNotificationServiceGetEmailStatus
      summary: Get email delivery status
      description: |
        Retrieve delivery status and tracking information for specific email.

        **Tracking Information:**
        - Delivery status across all providers
        - Open and click tracking data
        - Bounce and complaint information
        - Geographic delivery data
      tags: [Email Delivery]
      parameters:
        - name: emailId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Email unique identifier
      responses:
        '200':
          description: Email status retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EmailDeliveryStatus'
        '404':
          $ref: '#/components/responses/NotFound'

  /emails/batch/send:
    post:
      operationId: emailNotificationServiceSendBatchEmails
      summary: Send batch email notifications
      description: |
        Send multiple email notifications in a single operation.

        **Batch Processing:**
        - Atomic batch queue placement
        - Duplicate recipient detection
        - Priority-based processing
        - Progress tracking and reporting
      tags: [Email Delivery]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendBatchEmailsRequest'
      responses:
        '202':
          description: Emails queued for batch delivery
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/Accepted'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/BatchEmailResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '413':
          description: Batch too large
          content:
            application/json:
              schema:
                $ref: '../common/responses/error.yaml#/PayloadTooLarge'

  /templates:
    post:
      operationId: emailNotificationServiceCreateTemplate
      summary: Create email template
      description: |
        Create reusable email template with variables and localization.

        **Template Features:**
        - Handlebars-style variable substitution
        - Multi-language support
        - Responsive HTML design
        - A/B testing variants
        - Version control and rollback
      tags: [Template Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateRequest'
      responses:
        '201':
          description: Template created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/Created'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EmailTemplate'
        '400':
          $ref: '#/components/responses/BadRequest'

    get:
      operationId: emailNotificationServiceListTemplates
      summary: List email templates
      description: Retrieve paginated list of email templates with filtering
      tags: [Template Management]
      parameters:
        - name: category
          in: query
          schema:
            type: string
          description: Filter by template category
        - name: language
          in: query
          schema:
            type: string
          description: Filter by template language
        - name: active_only
          in: query
          schema:
            type: boolean
            default: true
          description: Include only active templates
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of templates to return
      responses:
        '200':
          description: Templates retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/TemplateSummary'

  /templates/{templateId}:
    get:
      operationId: emailNotificationServiceGetTemplate
      summary: Get email template
      description: Retrieve detailed email template information
      tags: [Template Management]
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Template unique identifier
      responses:
        '200':
          description: Template retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EmailTemplate'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      operationId: emailNotificationServiceUpdateTemplate
      summary: Update email template
      description: |
        Update template content, variables, or metadata.

        **Update Process:**
        - Create new template version
        - Validate template syntax
        - Test rendering with sample data
        - Maintain version history
      tags: [Template Management]
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Template unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemplateRequest'
      responses:
        '200':
          description: Template updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EmailTemplate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: emailNotificationServiceDeleteTemplate
      summary: Delete email template
      description: |
        Soft delete template (deactivate and archive).

        **Deletion Rules:**
        - Prevent deletion of templates in active campaigns
        - Archive template history
        - Update dependent campaigns
        - Maintain audit trail
      tags: [Template Management]
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Template unique identifier
      responses:
        '204':
          $ref: '#/components/responses/Deleted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /campaigns:
    post:
      operationId: emailNotificationServiceCreateCampaign
      summary: Create email campaign
      description: |
        Create email campaign for targeted bulk sending.

        **Campaign Features:**
        - Advanced recipient segmentation
        - A/B testing configuration
        - Scheduled delivery
        - Performance tracking
        - Budget and rate controls
      tags: [Campaign Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
      responses:
        '201':
          description: Campaign created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/Created'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EmailCampaign'
        '400':
          $ref: '#/components/responses/BadRequest'

    get:
      operationId: emailNotificationServiceListCampaigns
      summary: List email campaigns
      description: Retrieve paginated list of email campaigns with performance metrics
      tags: [Campaign Management]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, scheduled, active, completed, cancelled, paused]
          description: Filter by campaign status
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
          description: Start date for campaigns
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
          description: End date for campaigns
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of campaigns to return
      responses:
        '200':
          description: Campaigns retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CampaignSummary'

  /campaigns/{campaignId}:
    get:
      operationId: emailNotificationServiceGetCampaign
      summary: Get campaign details
      description: Retrieve detailed campaign information with real-time metrics
      tags: [Campaign Management]
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Campaign unique identifier
      responses:
        '200':
          description: Campaign details retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EmailCampaign'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      operationId: emailNotificationServiceUpdateCampaign
      summary: Update campaign
      description: |
        Update campaign settings, targeting, or content.

        **Update Constraints:**
        - Cannot modify active campaigns
        - Validate targeting criteria
        - Update scheduling if needed
        - Maintain campaign integrity
      tags: [Campaign Management]
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Campaign unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCampaignRequest'
      responses:
        '200':
          description: Campaign updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EmailCampaign'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: emailNotificationServiceCancelCampaign
      summary: Cancel campaign
      description: |
        Cancel scheduled or active campaign.

        **Cancellation Process:**
        - Stop further email delivery
        - Update campaign status
        - Generate cancellation report
        - Process refunds if applicable
      tags: [Campaign Management]
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Campaign unique identifier
      responses:
        '204':
          $ref: '#/components/responses/Deleted'
        '404':
          $ref: '#/components/responses/NotFound'

  /analytics/delivery:
    get:
      operationId: emailNotificationServiceGetDeliveryAnalytics
      summary: Get delivery analytics
      description: |
        Retrieve comprehensive email delivery analytics and metrics.

        **Analytics Coverage:**
        - Delivery success rates by provider
        - Geographic delivery performance
        - Time-based sending patterns
        - Bounce and complaint analysis
        - User engagement metrics
        - Template performance comparison
      tags: [Analytics & Reporting]
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
          description: Start date for analytics
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
          description: End date for analytics
        - name: campaign_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by specific campaign
        - name: template_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by template
        - name: provider
          in: query
          schema:
            type: string
            enum: [sendgrid, mailgun, ses, smtp]
          description: Filter by email provider
      responses:
        '200':
          description: Delivery analytics retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DeliveryAnalytics'

  /consent/preferences:
    get:
      operationId: emailNotificationServiceGetUserConsent
      summary: Get user email consent preferences
      description: |
        Retrieve user's email consent and preference settings.

        **GDPR Compliance:**
        - Granular consent tracking
        - Consent history maintenance
        - Legal basis documentation
        - Withdrawal handling
      tags: [Compliance & Consent]
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: User unique identifier
      responses:
        '200':
          description: User consent preferences retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserEmailConsent'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      operationId: emailNotificationServiceUpdateUserConsent
      summary: Update user email consent
      description: |
        Update user's email consent preferences and marketing opt-ins.

        **Consent Management:**
        - Validate consent changes
        - Update suppression lists
        - Maintain consent history
        - Trigger preference sync
      tags: [Compliance & Consent]
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: User unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserConsentRequest'
      responses:
        '200':
          description: User consent updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserEmailConsent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

components:

  responses:
    OK:
      $ref: '../common/responses/success.yaml#/OK'
    Created:
      $ref: '../common/responses/success.yaml#/Created'
    Accepted:
      $ref: '../common/responses/success.yaml#/Accepted'
    Updated:
      $ref: '../common/responses/success.yaml#/Updated'
    Deleted:
      $ref: '../common/responses/success.yaml#/Deleted'
    BadRequest:
      $ref: '../common/responses/error.yaml#/BadRequest'
    NotFound:
      $ref: '../common/responses/error.yaml#/NotFound'
    TooManyRequests:
      $ref: '../common/responses/error.yaml#/TooManyRequests'

  schemas:

    # Domain Inheritance - Email Notification Service Entities
    EmailDelivery:
      description: Email delivery entity with infrastructure domain inheritance
      allOf:
        - $ref: '../common/schemas/infrastructure-entities.yaml#/NotificationQueueEntity'
        - type: object
          properties:
            # Add email-specific fields
            recipient_email:
              type: string
              format: email
              description: Recipient email address
            sender_email:
              type: string
              format: email
              description: Sender email address
            subject:
              type: string
              maxLength: 200
              description: Email subject line
            template_id:
              type: string
              format: uuid
              description: Template used for email
            personalization_data:
              type: object
              description: Data for template personalization
              additionalProperties: true
            priority:
              type: string
              enum: [low, normal, high, critical]
              default: "normal"
              description: Email delivery priority
            provider:
              type: string
              enum: [sendgrid, mailgun, ses, smtp]
              description: Email service provider used
            provider_message_id:
              type: string
              description: Provider-specific message identifier
            delivery_status:
              type: string
              enum: [queued, sent, delivered, bounced, complained, suppressed]
              default: "queued"
              description: Current delivery status
            delivered_at:
              type: string
              format: date-time
              description: When email was delivered
            opened_at:
              type: string
              format: date-time
              description: When email was opened
            clicked_at:
              type: string
              format: date-time
              description: When links were clicked
            bounce_reason:
              type: string
              description: Bounce reason if applicable
            complaint_reason:
              type: string
              description: Complaint reason if applicable
            suppression_reason:
              type: string
              enum: [unsubscribed, hard_bounce, spam_complaint, manual_suppression]
              description: Suppression reason
            metadata:
              type: object
              description: Additional delivery metadata
              properties:
                ip_address:
                  type: string
                  description: Sending IP address
                user_agent:
                  type: string
                  description: User agent if opened
                geo_location:
                  type: string
                  description: Geographic location of open/click

    EmailTemplate:
      description: Email template entity with infrastructure domain inheritance
      allOf:
        - $ref: '../common/schemas/infrastructure-entities.yaml#/ConfigurationEntity'
        - type: object
          properties:
            name:
              type: string
              minLength: 1
              maxLength: 100
              description: Template name
            category:
              type: string
              minLength: 1
              maxLength: 50
              description: Template category
            subject_template:
              type: string
              minLength: 1
              maxLength: 200
              description: Subject line template
            html_body:
              type: string
              description: HTML email body template
            text_body:
              type: string
              description: Plain text email body template
            variables:
              type: array
              items:
                type: object
                required:
                  - name
                  - type
                properties:
                  name:
                    type: string
                    minLength: 1
                    maxLength: 50
                    description: Variable name
                  type:
                    type: string
                    enum: [string, number, boolean, date]
                    description: Variable data type
                  required:
                    type: boolean
                    default: false
                    description: Whether variable is required
                  default_value:
                    type: string
                    description: Default value if not provided
              description: Template variables
            languages:
              type: array
              items:
                type: string
                enum: [en, es, zh, ja, ru, de, fr, pl, ko, pt]
              description: Supported languages
            test_data:
              type: object
              description: Sample data for template testing
              additionalProperties: true
            ab_test_variants:
              type: array
              items:
                $ref: '#/components/schemas/TemplateVariant'
              description: A/B testing variants

    EmailCampaign:
      description: Email campaign entity with infrastructure domain inheritance
      allOf:
        - $ref: '../common/schemas/infrastructure-entities.yaml#/ConfigurationEntity'
        - type: object
          properties:
            name:
              type: string
              minLength: 1
              maxLength: 100
              description: Campaign name
            description:
              type: string
              maxLength: 500
              description: Campaign description
            campaign_type:
              type: string
              enum: [promotional, transactional, newsletter, announcement]
              description: Campaign type
            template_id:
              type: string
              format: uuid
              description: Template to use for campaign
            target_audience:
              $ref: '#/components/schemas/CampaignTargetAudience'
            scheduling:
              $ref: '#/components/schemas/CampaignScheduling'
            status:
              type: string
              enum: [draft, scheduled, active, completed, cancelled, paused]
              default: "draft"
              description: Campaign status
            performance_metrics:
              $ref: '#/components/schemas/CampaignPerformanceMetrics'
            ab_test_config:
              $ref: '#/components/schemas/ABTestConfiguration'

    UserEmailConsent:
      description: User email consent and preferences
      type: object
      required:
        - user_id
        - marketing_consent
        - transactional_consent
      properties:
        user_id:
          type: string
          format: uuid
          description: User unique identifier
        marketing_consent:
          type: boolean
          description: Consent for marketing emails
        transactional_consent:
          type: boolean
          description: Consent for transactional emails (required)
        promotional_consent:
          type: boolean
          description: Consent for promotional emails
        newsletter_consent:
          type: boolean
          description: Consent for newsletter emails
        consent_sources:
          type: array
          items:
            type: object
            required:
              - source
              - timestamp
            properties:
              source:
                type: string
                enum: [registration, profile_update, explicit_opt_in, imported]
                description: How consent was obtained
              timestamp:
                type: string
                format: date-time
                description: When consent was given
              ip_address:
                type: string
                description: IP address when consent was given
              legal_basis:
                type: string
                enum: [consent, legitimate_interest, contract, legal_obligation]
                description: GDPR legal basis
          description: History of consent changes
        suppression_lists:
          type: array
          items:
            type: string
            enum: [hard_bounce, spam_complaint, unsubscribed, manual_suppression]
          description: Email suppression reasons
        preferences_updated_at:
          type: string
          format: date-time
          description: When preferences were last updated

    # Supporting schemas
    TemplateVariant:
      description: A/B testing template variant
      type: object
      required:
        - variant_id
        - weight
      properties:
        variant_id:
          type: string
          minLength: 1
          maxLength: 50
          description: Variant identifier
        subject_template:
          type: string
          maxLength: 200
          description: Variant subject template
        html_body:
          type: string
          description: Variant HTML body
        text_body:
          type: string
          description: Variant text body
        weight:
          type: integer
          minimum: 1
          maximum: 100
          description: Traffic distribution weight

    CampaignTargetAudience:
      description: Campaign target audience definition
      type: object
      properties:
        user_segments:
          type: array
          items:
            type: string
            format: uuid
          description: User segment IDs to target
        email_domains:
          type: array
          items:
            type: string
          description: Email domains to target
        geographic_filters:
          type: array
          items:
            type: string
          description: Geographic region filters
        consent_filters:
          type: object
          properties:
            marketing_consent:
              type: boolean
              description: Require marketing consent
            promotional_consent:
              type: boolean
              description: Require promotional consent
          description: Consent-based filtering
        custom_filters:
          type: object
          description: Custom targeting filters
          additionalProperties: true

    CampaignScheduling:
      description: Campaign scheduling configuration
      type: object
      properties:
        scheduled_at:
          type: string
          format: date-time
          description: Campaign scheduled time
        timezone:
          type: string
          default: "UTC"
          description: Scheduling timezone
        send_rate:
          type: integer
          minimum: 1
          maximum: 10000
          description: Emails per hour rate limit
        batch_size:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
          description: Batch size for processing

    CampaignPerformanceMetrics:
      description: Campaign performance tracking
      type: object
      properties:
        target_count:
          type: integer
          description: Total target recipients
        sent_count:
          type: integer
          description: Emails successfully sent
        delivered_count:
          type: integer
          description: Emails delivered to inbox
        opened_count:
          type: integer
          description: Emails opened by recipients
        clicked_count:
          type: integer
          description: Link clicks in emails
        bounced_count:
          type: integer
          description: Hard bounces
        complained_count:
          type: integer
          description: Spam complaints
        unsubscribed_count:
          type: integer
          description: Unsubscribes during campaign
        delivery_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Delivery success rate
        open_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Email open rate
        click_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Email click rate

    ABTestConfiguration:
      description: A/B testing configuration for campaign
      type: object
      properties:
        enabled:
          type: boolean
          default: false
          description: Whether A/B testing is enabled
        winner_criteria:
          type: string
          enum: [open_rate, click_rate, delivery_rate]
          default: "open_rate"
          description: Criteria for selecting winner
        test_duration_hours:
          type: integer
          minimum: 1
          maximum: 168
          default: 24
          description: Test duration before winner selection
        winner_distribution:
          type: integer
          minimum: 50
          maximum: 100
          default: 100
          description: Percentage of traffic to winner variant

    DeliveryAnalytics:
      description: Comprehensive delivery analytics
      type: object
      properties:
        time_range:
          type: object
          properties:
            start_date:
              type: string
              format: date-time
            end_date:
              type: string
              format: date-time
        total_sent:
          type: integer
          description: Total emails sent
        total_delivered:
          type: integer
          description: Total emails delivered
        total_opened:
          type: integer
          description: Total emails opened
        total_clicked:
          type: integer
          description: Total link clicks
        delivery_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Overall delivery rate
        open_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Overall open rate
        click_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Overall click rate
        bounce_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Bounce rate
        complaint_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Spam complaint rate
        provider_metrics:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ProviderDeliveryMetrics'
          description: Metrics by email provider
        geographic_metrics:
          type: array
          items:
            $ref: '#/components/schemas/GeographicDeliveryMetrics'
          description: Delivery metrics by geography

    ProviderDeliveryMetrics:
      description: Delivery metrics for specific email provider
      type: object
      properties:
        sent:
          type: integer
          description: Emails sent via provider
        delivered:
          type: integer
          description: Emails delivered by provider
        bounced:
          type: integer
          description: Bounces from provider
        complained:
          type: integer
          description: Complaints from provider
        delivery_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Provider delivery rate
        average_delivery_time:
          type: number
          description: Average delivery time in seconds

    GeographicDeliveryMetrics:
      description: Delivery metrics by geographic region
      type: object
      properties:
        region:
          type: string
          description: Geographic region
        sent_count:
          type: integer
          description: Emails sent to region
        delivery_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Regional delivery rate
        open_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Regional open rate
        average_delivery_time:
          type: number
          description: Regional average delivery time

    EmailDeliveryStatus:
      description: Detailed email delivery status
      type: object
      required:
        - email_id
        - status
        - recipient_email
        - sent_at
      properties:
        email_id:
          type: string
          format: uuid
          description: Email unique identifier
        status:
          type: string
          enum: [queued, sent, delivered, bounced, complained, suppressed]
          description: Current delivery status
        recipient_email:
          type: string
          format: email
          description: Recipient email address
        sent_at:
          type: string
          format: date-time
          description: When email was sent
        delivered_at:
          type: string
          format: date-time
          description: When email was delivered
        opened_at:
          type: string
          format: date-time
          description: When email was opened
        clicked_at:
          type: string
          format: date-time
          description: When links were clicked
        bounced_at:
          type: string
          format: date-time
          description: When bounce occurred
        bounce_reason:
          type: string
          description: Bounce reason
        complaint_at:
          type: string
          format: date-time
          description: When complaint was received
        suppression_reason:
          type: string
          enum: [unsubscribed, hard_bounce, spam_complaint, manual_suppression]
          description: Suppression reason
        retry_count:
          type: integer
          minimum: 0
          description: Number of delivery retries
        provider:
          type: string
          enum: [sendgrid, mailgun, ses, smtp]
          description: Email provider used

    TemplateSummary:
      description: Template summary for listings
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Template ID
        name:
          type: string
          description: Template name
        category:
          type: string
          description: Template category
        languages:
          type: array
          items:
            type: string
          description: Supported languages
        is_active:
          type: boolean
          description: Template active status
        last_updated:
          type: string
          format: date-time
          description: Last update timestamp

    CampaignSummary:
      description: Campaign summary for listings
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Campaign ID
        name:
          type: string
          description: Campaign name
        campaign_type:
          type: string
          enum: [promotional, transactional, newsletter, announcement]
          description: Campaign type
        status:
          type: string
          enum: [draft, scheduled, active, completed, cancelled, paused]
          description: Campaign status
        target_count:
          type: integer
          description: Number of target recipients
        sent_count:
          type: integer
          description: Emails sent
        delivered_count:
          type: integer
          description: Emails delivered
        open_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Email open rate
        scheduled_for:
          type: string
          format: date-time
          description: Campaign scheduled time

    # Request/Response schemas
    SendEmailRequest:
      description: Request payload for sending email
      type: object
      required:
        - to
        - template_id
      properties:
        to:
          oneOf:
            - type: string
              format: email
              description: Single recipient email
            - type: array
              items:
                type: string
                format: email
              minItems: 1
              maxItems: 100
              description: Multiple recipient emails
          description: Email recipient(s)
        template_id:
          type: string
          format: uuid
          description: Template to use for email
        personalization_data:
          type: object
          description: Data for template personalization
          additionalProperties: true
        priority:
          type: string
          enum: [low, normal, high, critical]
          default: "normal"
          description: Email delivery priority
        scheduled_for:
          type: string
          format: date-time
          description: Schedule email for future delivery
        tracking:
          type: object
          properties:
            enable_opens:
              type: boolean
              default: true
              description: Track email opens
            enable_clicks:
              type: boolean
              default: true
              description: Track link clicks
            custom_tracking_id:
              type: string
              maxLength: 100
              description: Custom tracking identifier
          description: Email tracking configuration

    SendBatchEmailsRequest:
      description: Request payload for batch email sending
      type: object
      required:
        - emails
      properties:
        emails:
          type: array
          items:
            $ref: '#/components/schemas/SendEmailRequest'
          minItems: 1
          maxItems: 1000
          description: Individual email requests
        batch_config:
          type: object
          properties:
            priority:
              type: string
              enum: [low, normal, high, critical]
              default: "normal"
              description: Batch priority
            deduplicate:
              type: boolean
              default: true
              description: Remove duplicate recipients
            rate_limit:
              type: integer
              minimum: 1
              maximum: 1000
              description: Emails per minute rate limit
          description: Batch processing configuration

    BatchEmailResult:
      description: Result of batch email operation
      type: object
      properties:
        batch_id:
          type: string
          format: uuid
          description: Batch operation identifier
        total_requested:
          type: integer
          description: Total emails requested
        queued_count:
          type: integer
          description: Emails successfully queued
        duplicate_count:
          type: integer
          description: Duplicate emails removed
        error_count:
          type: integer
          description: Emails with errors
        estimated_completion_time:
          type: string
          format: date-time
          description: Expected completion time
        email_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Individual email IDs created

    CreateTemplateRequest:
      description: Request payload for creating email template
      type: object
      required:
        - name
        - category
        - subject_template
        - html_body
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Template name
        category:
          type: string
          minLength: 1
          maxLength: 50
          description: Template category
        subject_template:
          type: string
          minLength: 1
          maxLength: 200
          description: Subject line template
        html_body:
          type: string
          minLength: 1
          description: HTML email body template
        text_body:
          type: string
          description: Plain text email body template
        variables:
          type: array
          items:
            type: object
            required:
              - name
              - type
            properties:
              name:
                type: string
                minLength: 1
                maxLength: 50
                description: Variable name
              type:
                type: string
                enum: [string, number, boolean, date]
                description: Variable data type
              required:
                type: boolean
                default: false
                description: Whether variable is required
              default_value:
                type: string
                description: Default value if not provided
          description: Template variables
        languages:
          type: array
          items:
            type: string
            enum: [en, es, zh, ja, ru, de, fr, pl, ko, pt]
          default: ["en"]
          description: Supported languages
        test_data:
          type: object
          description: Sample data for template testing
          additionalProperties: true

    UpdateTemplateRequest:
      description: Request payload for updating email template
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Template name
        category:
          type: string
          minLength: 1
          maxLength: 50
          description: Template category
        subject_template:
          type: string
          minLength: 1
          maxLength: 200
          description: Subject line template
        html_body:
          type: string
          minLength: 1
          description: HTML email body template
        text_body:
          type: string
          description: Plain text email body template
        variables:
          type: array
          items:
            type: object
            required:
              - name
              - type
            properties:
              name:
                type: string
                minLength: 1
                maxLength: 50
                description: Variable name
              type:
                type: string
                enum: [string, number, boolean, date]
                description: Variable data type
              required:
                type: boolean
                description: Whether variable is required
              default_value:
                type: string
                description: Default value if not provided
          description: Template variables
        languages:
          type: array
          items:
            type: string
            enum: [en, es, zh, ja, ru, de, fr, pl, ko, pt]
          description: Supported languages
        test_data:
          type: object
          description: Sample data for template testing
          additionalProperties: true

    CreateCampaignRequest:
      description: Request payload for creating email campaign
      type: object
      required:
        - name
        - template_id
        - target_audience
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Campaign name
        description:
          type: string
          maxLength: 500
          description: Campaign description
        campaign_type:
          type: string
          enum: [promotional, transactional, newsletter, announcement]
          default: "promotional"
          description: Campaign type
        template_id:
          type: string
          format: uuid
          description: Template to use for campaign
        target_audience:
          $ref: '#/components/schemas/CampaignTargetAudience'
        scheduling:
          $ref: '#/components/schemas/CampaignScheduling'
        ab_test_config:
          $ref: '#/components/schemas/ABTestConfiguration'

    UpdateCampaignRequest:
      description: Request payload for updating campaign
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Campaign name
        description:
          type: string
          maxLength: 500
          description: Campaign description
        target_audience:
          $ref: '#/components/schemas/CampaignTargetAudience'
        scheduling:
          $ref: '#/components/schemas/CampaignScheduling'
        ab_test_config:
          $ref: '#/components/schemas/ABTestConfiguration'

    UpdateUserConsentRequest:
      description: Request payload for updating user email consent
      type: object
      properties:
        marketing_consent:
          type: boolean
          description: Consent for marketing emails
        transactional_consent:
          type: boolean
          description: Consent for transactional emails
        promotional_consent:
          type: boolean
          description: Consent for promotional emails
        newsletter_consent:
          type: boolean
          description: Consent for newsletter emails
        consent_source:
          type: string
          enum: [profile_update, explicit_opt_in, withdrawal]
          default: "profile_update"
          description: Source of consent change
        legal_basis:
          type: string
          enum: [consent, legitimate_interest, contract, legal_obligation]
          description: GDPR legal basis for processing

  securitySchemes:
    BearerAuth:
      $ref: '../common/security/security.yaml#/BearerAuth'
    ServiceAuth:
      $ref: '../common/security/security.yaml#/ServiceAuth'

# Performance and optimization notes
x-performance:
  p99-latency: "<50ms"
  throughput-target: "10,000+ emails/second"
  delivery-rate-target: ">99%"
  bounce-rate-target: "<2%"
  database-indexes: "Composite indexes on (recipient_email, status), (template_id, created_at), (campaign_id, sent_at)"

# Monitoring and observability
x-monitoring:
  metrics:
    - email_send_rate
    - delivery_success_rate
    - bounce_rate
    - open_rate
    - click_rate
    - queue_depth
  alerts:
    - delivery_rate < 99%
    - bounce_rate > 2%
    - queue_depth > 10000
    - send_failure_rate > 1%

# Compliance and legal
x-compliance:
  gdpr-compliant: "User consent tracking and withdrawal support"
  can-spam-compliant: "Physical and virtual mailing addresses included"
  audit-trail: "Complete email operations audit logging"
  data-retention: "Configurable retention policies for email data"

# Domain inheritance documentation
x-domain-inheritance:
  inherits-from: "common/schemas/infrastructure-entities.yaml"
  inherited-entities: "NotificationQueueEntity, ConfigurationEntity, AuditLogEntity"
  additional-schemas: "Email delivery tracking, template management, campaign analytics, consent handling"
  no-duplication: "All common fields inherited, email-specific delivery and compliance extensions added"