openapi: 3.0.3
info:
  title: Email Notification Service API
  description: '**Enterprise-grade API for Email Notifications**


    ## Domain Purpose

    Comprehensive email notification service providing template-based email delivery,

    personalization, analytics, and compliance management for the NECPGAME platform.


    ## Business Value

    - High-volume email delivery with 99%+ success rate

    - Advanced personalization and template management

    - Real-time delivery analytics and engagement tracking

    - GDPR compliant with user consent management

    - Enterprise-grade scalability and reliability


    ## Performance Targets

    - P99 Latency: <50ms for queue operations

    - Throughput: 10,000+ emails per second

    - Delivery Success Rate: >99% across all providers

    - Bounce Rate: <2% with automated cleanup


    ## Domain Inheritance

    This service inherits from infrastructure-entities.yaml providing:

    - Notification queue entity for async email processing

    - Audit trails for email operations and compliance

    - Configuration management for SMTP and provider settings

    - User account references for personalization

    - Optimistic locking for concurrent operations

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/email-notification-service
  description: Production environment
- url: https://staging-api.necpgame.com/v1/email-notification-service
  description: Staging environment
- url: http://localhost:8080/api/v1/email-notification-service
  description: Local development
security:
- BearerAuth: []
tags:
- name: Email Delivery
  description: Core email sending and queuing operations
- name: Template Management
  description: Email template creation and management
- name: Campaign Management
  description: Email campaigns and bulk operations
- name: Analytics & Reporting
  description: Delivery analytics and engagement metrics
- name: Compliance & Consent
  description: GDPR compliance and user consent management
- name: Health Monitoring
  description: Service health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /emails/send:
    $ref: ./paths/emails-send.yaml#/paths/~1emails~1send
  /emails/{emailId}/status:
    $ref: ./paths/emails-{emailId}-status.yaml#/paths/~1emails~1{emailId}~1status
  /emails/batch/send:
    $ref: ./paths/emails-batch-send.yaml#/paths/~1emails~1batch~1send
  /templates:
    $ref: ./paths/templates.yaml#/paths/~1templates
  /templates/{templateId}:
    $ref: ./paths/templates-{templateId}.yaml#/paths/~1templates~1{templateId}
  /campaigns:
    $ref: ./paths/campaigns.yaml#/paths/~1campaigns
  /campaigns/{campaignId}:
    $ref: ./paths/campaigns-{campaignId}.yaml#/paths/~1campaigns~1{campaignId}
  /analytics/delivery:
    $ref: ./paths/analytics-delivery.yaml#/paths/~1analytics~1delivery
  /consent/preferences:
    $ref: ./paths/consent-preferences.yaml#/paths/~1consent~1preferences
components:
  schemas:
    EmailDelivery:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/EmailDelivery
    EmailTemplate:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/EmailTemplate
    EmailCampaign:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/EmailCampaign
    UserEmailConsent:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/UserEmailConsent
    TemplateVariant:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/TemplateVariant
    CampaignTargetAudience:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/CampaignTargetAudience
    CampaignScheduling:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/CampaignScheduling
    CampaignPerformanceMetrics:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/CampaignPerformanceMetrics
    ABTestConfiguration:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/ABTestConfiguration
    DeliveryAnalytics:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/DeliveryAnalytics
    ProviderDeliveryMetrics:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/ProviderDeliveryMetrics
    GeographicDeliveryMetrics:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/GeographicDeliveryMetrics
    EmailDeliveryStatus:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/EmailDeliveryStatus
    TemplateSummary:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/TemplateSummary
    CampaignSummary:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/CampaignSummary
    SendEmailRequest:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/SendEmailRequest
    SendBatchEmailsRequest:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/SendBatchEmailsRequest
    BatchEmailResult:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/BatchEmailResult
    CreateTemplateRequest:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/CreateTemplateRequest
    UpdateTemplateRequest:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/UpdateTemplateRequest
    CreateCampaignRequest:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/CreateCampaignRequest
    UpdateCampaignRequest:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/UpdateCampaignRequest
    UpdateUserConsentRequest:
      $ref: ./schemas/email-notification-service-schemas.yaml#/components/schemas/UpdateUserConsentRequest
  responses:
    OK:
      $ref: ./schemas/email-notification-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/email-notification-service-responses.yaml#/components/responses/Created
    Accepted:
      $ref: ./schemas/email-notification-service-responses.yaml#/components/responses/Accepted
    Updated:
      $ref: ./schemas/email-notification-service-responses.yaml#/components/responses/Updated
    Deleted:
      $ref: ./schemas/email-notification-service-responses.yaml#/components/responses/Deleted
    BadRequest:
      $ref: ./schemas/email-notification-service-responses.yaml#/components/responses/BadRequest
    NotFound:
      $ref: ./schemas/email-notification-service-responses.yaml#/components/responses/NotFound
    TooManyRequests:
      $ref: ./schemas/email-notification-service-responses.yaml#/components/responses/TooManyRequests
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
