openapi: 3.0.3
info:
  title: Housing Examples
  version: 1.0.0
  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay
    package: com.necpgame.gameplayservice
paths: {}

components:
  examples:
    ApartmentPurchaseRequest:
      summary: Покупка апартаментов в Watson Skyline
      value:
        locationId: location-watson-skyline
        tier: 2
        paymentMethod: credits
        initialLayout:
          presetId: preset-default-loft
          name: "Loft Starter"
          placements:
            - { itemId: furn-bed-neon, slotId: slot-bedroom-center, position: { x: 3.2, y: 0.0, z: 1.8 }, rotation: { yaw: 90, pitch: 0, roll: 0 }, customizationOptions: { color: "#2af5ff" } }
            - { itemId: decor-holo-poster, slotId: slot-wall-east, position: { x: 5.1, y: 2.4, z: 0.2 }, rotation: { yaw: 0, pitch: 0, roll: 0 } }
        inviteFriends: [player-ally-902]
    ApartmentDetail:
      summary: Детали активных апартаментов
      value:
        apartmentId: apt-5512
        playerId: player-elite-07
        locationId: location-watson-skyline
        tier: 3
        prestige: 740
        rooms: 5
        status: ACTIVE
        upkeep: { nextPaymentAt: "2025-11-15T12:00:00Z", amount: 12000 }
        createdAt: "2025-10-04T19:20:00Z"
        updatedAt: "2025-11-07T23:55:00Z"
        upgrades:
          - { upgradeType: ROOM, level: 3, completedAt: "2025-10-18T14:10:00Z" }
          - { upgradeType: STORAGE, level: 2, completedAt: "2025-11-01T09:40:00Z", activeConstruction: null }
        layouts:
          - { presetId: preset-party, name: "Party Mode", lastUpdated: "2025-11-01T18:05:00Z", placements: [] }
        storage:
          capacity: 120
          usedSlots: 78
          upgrades:
            - { level: 1, bonusSlots: 20, acquiredAt: "2025-10-12T11:00:00Z" }
            - { level: 2, bonusSlots: 30, acquiredAt: "2025-11-01T09:40:00Z" }
          storedItems:
            - { itemId: recipe-cyberdrink, quantity: 5, quality: 3, source: "craft" }
            - { itemId: furn-bar-module, quantity: 1, quality: 5, source: "event" }
        guests:
          - { guestPlayerId: player-ally-902, status: ACCEPTED, invitedAt: "2025-10-06T09:12:00Z", expiresAt: null, accessLevel: decorator }
    FurniturePlacementRequest:
      summary: Перестановка мебели в гостиной
      value:
        action: move
        placements:
          - itemId: furn-sofa-hex
            slotId: slot-living-center
            position: { x: 4.8, y: 0.0, z: 2.5 }
            rotation: { yaw: 45, pitch: 0, roll: 0 }
            customizationOptions: { color: "#FF33AA" }
    FurnitureCatalogResponse:
      summary: Каталог мебели (фильтр функциональных предметов)
      value:
        items:
          - { itemId: furn-crafting-bench, name: "CyberCraft Bench", type: functional, rarity: epic, price: { amount: 48000, currency: credits }, tags: [crafting, workshop] }
          - { itemId: furn-storage-wall, name: "Nano Storage Wall", type: functional, rarity: rare, price: { amount: 22000, currency: credits }, tags: [storage] }
          - { itemId: decor-neon-plant, name: "Neon Flora", type: decor, rarity: uncommon, price: { amount: 1200, currency: credits }, tags: [decor, neon] }
        pagination: { page: 1, size: 25, total: 180 }
    StorageStatus:
      summary: Хранилище апартаментов
      value:
        capacity: 120
        usedSlots: 78
        upgrades:
          - { level: 1, bonusSlots: 20, acquiredAt: "2025-10-12T11:00:00Z" }
          - { level: 2, bonusSlots: 30, acquiredAt: "2025-11-01T09:40:00Z" }
        storedItems:
          - { itemId: recipe-cyberdrink, quantity: 5, quality: 3, source: "craft" }
          - { itemId: furn-bar-module, quantity: 1, quality: 5, source: "event" }
    GuestInviteRequest:
      summary: Приглашение друга с правами декоратора
      value:
        guestPlayerId: player-ally-902
        action: invite
        accessLevel: decorator
        expiresAt: "2025-11-14T23:59:00Z"
    HousingAnalyticsResponse:
      summary: Аналитика по жилью за 30 дней
      value:
        generatedAt: "2025-11-07T23:58:00Z"
        range: 30d
        visitsPerDay: 18425
        popularLocations:
          - { locationId: location-watson-skyline, visitShare: 0.34 }
          - { locationId: location-westbrook-hills, visitShare: 0.22 }
        topPrestigeApartments:
          - { apartmentId: apt-elite-001, prestige: 980, ownerId: player-legend-01 }
          - { apartmentId: apt-5512, prestige: 740, ownerId: player-elite-07 }
        dwellTime: 42.6
        housingRevenue: 12500000
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
