# Target Architecture:
# - Microservice: gameplay-service (port 8083)
# - API Base: /api/v1/gameplay/housing
# - Dependencies: auth-service, economy-service, inventory-service, notification-service, analytics-service, progression-service, incident-service
# - Frontend Module: modules/gameplay/housing (useHousingStore)
# - UI: HousingMap, ApartmentPreview, InteriorEditor, FurnitureInventory, GuestList, PrestigeMeter
# - Forms: PurchaseApartmentForm, InviteGuestForm, FurniturePlacementForm, UpgradeApartmentForm
# - Layouts: HousingHubLayout, ApartmentInteriorLayout
# - Hooks: useHousingProperties, useInteriorEditor, useHousingGuests

openapi: 3.0.3
info:
  title: Housing System API
  description: "Жилищная система NECPGAME: покупка апартаментов, кастомизация интерьера, социальные функции, хранилище и аналитика."
  version: 1.0.0
  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/housing
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - name: Apartments
    description: Управление апартаментами, апгрейдами и планировками
  - name: Interior
    description: Каталог мебели, размещение и хранилище
  - name: Social
    description: Приглашения гостей, события и мероприятия
  - name: Analytics
    description: Метрики посещаемости, престиж и отчёты
paths:
  /gameplay/housing/apartments:
    post:
      tags: [Apartments]
      summary: Купить апартаменты
      description: Покупка или аренда апартаментов в выбранной локации с проверкой лимитов, стоимости и доступности.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './housing-components.yaml#/components/schemas/ApartmentPurchaseRequest' }
            examples:
              purchase:
                $ref: './examples.yaml#/components/examples/ApartmentPurchaseRequest'
      responses:
        '201':
          description: Апартаменты приобретены
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/ApartmentPurchaseResponse' }
        '400':
          description: Неверные параметры или превышен лимит
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/HousingError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
    get:
      tags: [Apartments]
      summary: Список апартаментов игрока
      parameters:
        - in: query
          name: location
          schema: { type: string }
        - in: query
          name: tier
          schema: { type: integer }
      responses:
        '200':
          description: Ростер апартаментов
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/ApartmentsListResponse' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/housing/apartments/{apartmentId}:
    parameters:
      - $ref: './housing-components.yaml#/components/parameters/ApartmentId'
    get:
      tags: [Apartments]
      summary: Детали апартаментов
      responses:
        '200':
          description: Полная информация об апартаментах, апгрейдах и планировках
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/ApartmentDetail' }
              examples:
                detail:
                  $ref: './examples.yaml#/components/examples/ApartmentDetail'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /gameplay/housing/apartments/{apartmentId}/upgrade:
    parameters:
      - $ref: './housing-components.yaml#/components/parameters/ApartmentId'
    post:
      tags: [Apartments]
      summary: Улучшить апартаменты
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './housing-components.yaml#/components/schemas/ApartmentUpgradeRequest' }
      responses:
        '202':
          description: "Апгрейд запущен, ожидает завершения строительства"
        '400':
          description: Недостаточно ресурсов или апгрейд недоступен
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/HousingError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/housing/apartments/{apartmentId}/layouts:
    parameters:
      - $ref: './housing-components.yaml#/components/parameters/ApartmentId'
    post:
      tags: [Apartments]
      summary: Сохранить или загрузить планировку
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './housing-components.yaml#/components/schemas/LayoutPresetRequest' }
      responses:
        '200':
          description: Планировка сохранена или применена
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/LayoutPresetResponse' }
        '400':
          description: Достигнут лимит пресетов или конфликт размещения
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/HousingError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/housing/apartments/{apartmentId}/furniture:
    parameters:
      - $ref: './housing-components.yaml#/components/parameters/ApartmentId'
    post:
      tags: [Interior]
      summary: Разместить или переместить мебель
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './housing-components.yaml#/components/schemas/FurniturePlacementRequest' }
            examples:
              placement:
                $ref: './examples.yaml#/components/examples/FurniturePlacementRequest'
      responses:
        '200':
          description: Планировка обновлена
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/ApartmentLayoutState' }
        '400':
          description: Слот занят или предмет не принадлежит игроку
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/HousingError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/housing/catalog:
    get:
      tags: [Interior]
      summary: Каталог мебели и декора
      parameters:
        - in: query
          name: type
          schema: { type: string, enum: [furniture, decor, functional] }
        - in: query
          name: rarity
          schema: { type: string, enum: [common, rare, epic, legendary] }
      responses:
        '200':
          description: Каталог предметов с фильтрами
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/FurnitureCatalogResponse' }
              examples:
                catalog:
                  $ref: './examples.yaml#/components/examples/FurnitureCatalogResponse'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/housing/catalog/purchase:
    post:
      tags: [Interior]
      summary: Купить предмет интерьера
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './housing-components.yaml#/components/schemas/FurniturePurchaseRequest' }
      responses:
        '200':
          description: Покупка подтверждена
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/FurniturePurchaseResponse' }
        '400':
          description: Недостаточно средств или предмет недоступен
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/HousingError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/housing/storage:
    get:
      tags: [Interior]
      summary: Получить содержимое хранилища жилья
      responses:
        '200':
          description: Статус хранилища и предметы
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/StorageStatus' }
              examples:
                storage:
                  $ref: './examples.yaml#/components/examples/StorageStatus'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/housing/storage/transfer:
    post:
      tags: [Interior]
      summary: Переместить предметы между жильём и инвентарём
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './housing-components.yaml#/components/schemas/StorageTransferRequest' }
      responses:
        '202':
          description: "Трансфер запущен"
        '400':
          description: Недостаточно места или предмет отсутствует
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/HousingError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/housing/apartments/{apartmentId}/guests:
    parameters:
      - $ref: './housing-components.yaml#/components/parameters/ApartmentId'
    post:
      tags: [Social]
      summary: Управлять гостями и приглашениями
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './housing-components.yaml#/components/schemas/GuestInviteRequest' }
            examples:
              invite:
                $ref: './examples.yaml#/components/examples/GuestInviteRequest'
      responses:
        '200': { description: Список гостей обновлён }
        '400':
          description: Превышен лимит гостей или игрок заблокирован
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/HousingError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
    get:
      tags: [Social]
      summary: Получить список гостей и журнал посещений
      responses:
        '200':
          description: Текущие приглашения и лог посещений
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/GuestListResponse' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/housing/apartments/{apartmentId}/events:
    parameters:
      - $ref: './housing-components.yaml#/components/parameters/ApartmentId'
    post:
      tags: [Social]
      summary: Запланировать мероприятие в апартаментах
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './housing-components.yaml#/components/schemas/HousingEventRequest' }
      responses:
        '201':
          description: Мероприятие создано
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/HousingEvent' }
        '400':
          description: Конфликт расписаний или превышен лимит участников
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/HousingError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/housing/analytics:
    get:
      tags: [Analytics]
      summary: Получить аналитику жилья
      parameters:
        - in: query
          name: range
          schema: { type: string, enum: [7d, 30d, 90d], default: 30d }
        - in: query
          name: location
          schema: { type: string }
      responses:
        '200':
          description: Показатели посещаемости, престиж и выручка
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/HousingAnalyticsResponse' }
              examples:
                analytics:
                  $ref: './examples.yaml#/components/examples/HousingAnalyticsResponse'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/housing/apartments/{apartmentId}/sell:
    parameters:
      - $ref: './housing-components.yaml#/components/parameters/ApartmentId'
    post:
      tags: [Apartments]
      summary: Продать или переехать из апартаментов
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './housing-components.yaml#/components/schemas/SellApartmentRequest' }
      responses:
        '200':
          description: Продажа осуществлена, ресурсы возвращены
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/SellApartmentResponse' }
        '400':
          description: Невозможно продать (активные мероприятия или долг)
          content:
            application/json:
              schema: { $ref: './housing-components.yaml#/components/schemas/HousingError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
components:
  securitySchemes:
    BearerAuth: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth' }
    ServiceToken: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/ServiceToken' }
  parameters:
    ApartmentId: { $ref: './housing-components.yaml#/components/parameters/ApartmentId' }
  schemas:
    Apartment: { $ref: './housing-components.yaml#/components/schemas/Apartment' }
    ApartmentDetail: { $ref: './housing-components.yaml#/components/schemas/ApartmentDetail' }
    HousingError: { $ref: './housing-components.yaml#/components/schemas/HousingError' }
    HousingAnalyticsResponse: { $ref: './housing-components.yaml#/components/schemas/HousingAnalyticsResponse' }
  examples:
    ApartmentPurchaseRequest: { $ref: './examples.yaml#/components/examples/ApartmentPurchaseRequest' }
    ApartmentDetail: { $ref: './examples.yaml#/components/examples/ApartmentDetail' }
    FurniturePlacementRequest: { $ref: './examples.yaml#/components/examples/FurniturePlacementRequest' }
    FurnitureCatalogResponse: { $ref: './examples.yaml#/components/examples/FurnitureCatalogResponse' }
    StorageStatus: { $ref: './examples.yaml#/components/examples/StorageStatus' }
    GuestInviteRequest: { $ref: './examples.yaml#/components/examples/GuestInviteRequest' }
    HousingAnalyticsResponse: { $ref: './examples.yaml#/components/examples/HousingAnalyticsResponse' }

