openapi: 3.0.3
info:
  contact:
    email: api@combat-abilities.necpgame.com
    name: NECPGAME API Support
    url: https://necpgame.com/support
  description: '**Enterprise-Grade Ability Management API for NECPGAME**

    This API manages character abilities, skills, and special powers in the Night
    City universe, providing comprehensive ability activation, cooldown management,
    and resource tracking.

    ## Key Features

    - **Ability Activation**: Real-time ability execution with validation - **Cooldown
    Management**: Dynamic cooldown tracking and reset mechanics - **Resource Tracking**:
    Mana, energy, and resource consumption monitoring - **Ability Synergies**: Combo
    interactions and ability chaining - **Performance Optimized**: MMOFPS-grade performance
    with <15ms P99 latency - **Struct Alignment**: 30-50% memory savings for ability
    structs

    ## Domain Purpose

    The Ability domain handles all character abilities and special powers in Night
    City. Players activate abilities that define their combat style and strategic
    capabilities in dynamic gameplay scenarios.

    ## Performance Targets

    - P99 Latency: <15ms for ability operations - Memory: <12KB per active ability
    session - Concurrent users: 45,000+ simultaneous ability operations - Activation
    time: <5ms response time

    '
  license:
    name: Proprietary
    url: https://necpgame.com/license
  title: Ability Service API - Enterprise-Grade Domain Service
  version: 1.0.0
servers:
- description: Production server
  url: https://api.necpgame.com/v1/ability
- description: Staging server
  url: https://staging-api.necpgame.com/v1/ability
- description: Local development server
  url: http://localhost:8080/api/v1/ability
security:
- BearerAuth: []
tags:
- description: Combat ability lifecycle operations
  name: Ability Management
- description: Real-time ability activation and execution
  name: Ability Activation
- description: Cooldown management and tracking
  name: Ability Cooldowns
- description: Ability combinations and synergies
  name: Ability Synergies
- description: Ability validation and cheat prevention
  name: Anti-Cheat
- description: AI-powered ability learning and adaptation
  name: AI Training
- description: Personalized ability recommendations
  name: AI Recommendations
paths:
  /combat/abilities:
    $ref: ./paths/combat-abilities.yaml#/paths/~1combat~1abilities
  /combat/abilities/validate:
    $ref: ./paths/combat-abilities-validate.yaml#/paths/~1combat~1abilities~1validate
  /combat/abilities/{ability_id}/cooldown:
    $ref: ./paths/combat-abilities-{ability_id}-cooldown.yaml#/paths/~1combat~1abilities~1{ability_id}~1cooldown
  /combat/abilities/{ability_id}/synergies:
    $ref: ./paths/combat-abilities-{ability_id}-synergies.yaml#/paths/~1combat~1abilities~1{ability_id}~1synergies
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
components:
  schemas:
    Ability:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/Ability
    AbilityCooldownResponse:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/AbilityCooldownResponse
    AbilityRecommendations:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/AbilityRecommendations
    AbilitySynergiesResponse:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/AbilitySynergiesResponse
    AbilityTrainingData:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/AbilityTrainingData
    ActivateAbilityRequest:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/ActivateAbilityRequest
    ActivateAbilityResponse:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/ActivateAbilityResponse
    Error:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/Error
    HealthResponse:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/HealthResponse
    ListAbilitiesResponse:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/ListAbilitiesResponse
    TrainingResponse:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/TrainingResponse
    ValidateAbilityRequest:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/ValidateAbilityRequest
    ValidateAbilityResponse:
      $ref: ./schemas/ability-service-schemas.yaml#/components/schemas/ValidateAbilityResponse
  responses:
    BadRequest:
      $ref: ./schemas/ability-service-responses.yaml#/components/responses/BadRequest
    Created:
      $ref: ./schemas/ability-service-responses.yaml#/components/responses/Created
    Deleted:
      $ref: ./schemas/ability-service-responses.yaml#/components/responses/Deleted
    NotFound:
      $ref: ./schemas/ability-service-responses.yaml#/components/responses/NotFound
    OK:
      $ref: ./schemas/ability-service-responses.yaml#/components/responses/OK
    TooManyRequests:
      $ref: ./schemas/ability-service-responses.yaml#/components/responses/TooManyRequests
    Unauthorized:
      $ref: ./schemas/ability-service-responses.yaml#/components/responses/Unauthorized
    Updated:
      $ref: ./schemas/ability-service-responses.yaml#/components/responses/Updated
  securitySchemes:
    BearerAuth:
      description: JWT Bearer token authentication
      scheme: bearer
      type: http
