openapi: 3.0.3
info:
  title: Mentorship Extended API
  version: 1.0.0
  description: |
    API для расширенной системы наставничества.
    
    Функционал:
    - Mentorship types (Combat, Tech, Social, Economy, Netrunning, Medical)
    - Mentorship mechanics (обучение, передача знаний, bonuses)
    - Abilities transfer (уникальные способности от mentors)
    - Relationships (mentor-student bonds)
    - Special mentorships (legendary NPCs)
    - World impact (влияние на мир)
    - Progression tracking
    - Graduation system
    
    Типы наставничества:
    - COMBAT: обучение бою
    - TECH: технические навыки
    - NETRUNNING: хакинг
    - SOCIAL: социальные навыки
    - ECONOMY: бизнес и торговля
    - MEDICAL: медицина
    
    Источники: .BRAIN/02-gameplay/social/mentorship-*.md (6 documents v1.0.0)

  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/gameplay/social
    package: com.necpgame.socialservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Mentorship
    description: Система наставничества
  - name: Abilities Transfer
    description: Передача способностей
  - name: Graduation
    description: Завершение обучения

paths:
  /gameplay/social/mentorship/available:
    get:
      summary: Получить доступных mentors
      operationId: getAvailableMentors
      tags: [Mentorship]
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [COMBAT, TECH, NETRUNNING, SOCIAL, ECONOMY, MEDICAL]
        - name: character_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Доступные mentors
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Mentor'

  /gameplay/social/mentorship/request:
    post:
      summary: Запросить наставничество
      operationId: requestMentorship
      tags: [Mentorship]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MentorshipRequest'
      responses:
        '201':
          description: Запрос отправлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MentorshipRelationship'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/social/mentorship/{relationship_id}:
    get:
      summary: Получить статус наставничества
      operationId: getMentorshipStatus
      tags: [Mentorship]
      parameters:
        - name: relationship_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Статус наставничества
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MentorshipDetailed'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /gameplay/social/mentorship/{relationship_id}/lessons:
    get:
      summary: Получить доступные уроки
      operationId: getAvailableLessons
      tags: [Mentorship]
      parameters:
        - name: relationship_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Доступные уроки
          content:
            application/json:
              schema:
                type: object
                properties:
                  lessons:
                    type: array
                    items:
                      $ref: '#/components/schemas/Lesson'

  /gameplay/social/mentorship/{relationship_id}/lessons/{lesson_id}/complete:
    post:
      summary: Завершить урок
      operationId: completeLesson
      tags: [Mentorship]
      parameters:
        - name: relationship_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: lesson_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                performance_score:
                  type: integer
                  minimum: 0
                  maximum: 100
      responses:
        '200':
          description: Урок завершен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LessonResult'

  /gameplay/social/mentorship/{relationship_id}/abilities:
    get:
      summary: Получить способности, доступные от mentor
      operationId: getMentorshipAbilities
      tags: [Abilities Transfer]
      parameters:
        - name: relationship_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Способности
          content:
            application/json:
              schema:
                type: object
                properties:
                  available_abilities:
                    type: array
                    items:
                      $ref: '#/components/schemas/MentorAbility'
                  learned_abilities:
                    type: array
                    items:
                      $ref: '#/components/schemas/MentorAbility'

  /gameplay/social/mentorship/{relationship_id}/graduate:
    post:
      summary: Завершить обучение (graduation)
      operationId: graduateMentorship
      tags: [Graduation]
      parameters:
        - name: relationship_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Обучение завершено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraduationResult'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/social/mentorship/character/{character_id}/history:
    get:
      summary: Получить историю наставничества
      operationId: getMentorshipHistory
      tags: [Mentorship]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: История
          content:
            application/json:
              schema:
                type: object
                properties:
                  as_student:
                    type: array
                    items:
                      $ref: '#/components/schemas/MentorshipRelationship'
                  as_mentor:
                    type: array
                    items:
                      $ref: '#/components/schemas/MentorshipRelationship'

  /gameplay/social/mentorship/world-impact:
    get:
      summary: Получить влияние системы наставничества на мир
      operationId: getMentorshipWorldImpact
      tags: [Mentorship]
      responses:
        '200':
          description: Влияние на мир
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_active_mentorships:
                    type: integer
                  total_graduated:
                    type: integer
                  skill_distribution:
                    type: object
                    description: Распределение навыков в мире
                  legendary_mentors:
                    type: array
                    items:
                      type: object

components:
  schemas:
    Mentor:
      type: object
      properties:
        npc_id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [COMBAT, TECH, NETRUNNING, SOCIAL, ECONOMY, MEDICAL]
        specialization:
          type: string
        skill_level:
          type: integer
          minimum: 1
          maximum: 20
        reputation:
          type: integer
        max_students:
          type: integer
        current_students:
          type: integer
        teaching_cost:
          type: integer
          description: Стоимость обучения
        requirements:
          type: object
          properties:
            min_level:
              type: integer
            min_skill:
              type: integer
            required_reputation:
              type: object

    MentorshipRequest:
      type: object
      required:
        - student_id
        - mentor_id
        - type
      properties:
        student_id:
          type: string
          format: uuid
        mentor_id:
          type: string
        type:
          type: string
          enum: [COMBAT, TECH, NETRUNNING, SOCIAL, ECONOMY, MEDICAL]
        payment_offered:
          type: integer

    MentorshipRelationship:
      type: object
      properties:
        relationship_id:
          type: string
          format: uuid
        student_id:
          type: string
          format: uuid
        mentor_id:
          type: string
        type:
          type: string
        status:
          type: string
          enum: [PENDING, ACTIVE, GRADUATED, TERMINATED]
        lessons_completed:
          type: integer
        lessons_total:
          type: integer
        progress_percentage:
          type: number
        started_at:
          type: string
          format: date-time
        graduated_at:
          type: string
          format: date-time
          nullable: true

    MentorshipDetailed:
      allOf:
        - $ref: '#/components/schemas/MentorshipRelationship'
        - type: object
          properties:
            mentor_details:
              $ref: '#/components/schemas/Mentor'
            current_lesson:
              $ref: '#/components/schemas/Lesson'
              nullable: true
            skill_improvements:
              type: object
              description: Улучшения навыков за время обучения
              additionalProperties:
                type: integer
            abilities_learned:
              type: array
              items:
                type: string
            bond_level:
              type: integer
              minimum: 0
              maximum: 100

    Lesson:
      type: object
      properties:
        lesson_id:
          type: string
        name:
          type: string
        description:
          type: string
        type:
          type: string
        objectives:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
              completed:
                type: boolean
        rewards:
          type: object
          properties:
            skill_experience:
              type: object
              additionalProperties:
                type: integer
            ability_unlock:
              type: string
              nullable: true
        difficulty:
          type: string
          enum: [BEGINNER, INTERMEDIATE, ADVANCED, MASTER]

    LessonResult:
      type: object
      properties:
        lesson_id:
          type: string
        performance_score:
          type: integer
        passed:
          type: boolean
        rewards_earned:
          type: object
        next_lesson:
          $ref: '#/components/schemas/Lesson'
          nullable: true
        bond_change:
          type: integer

    MentorAbility:
      type: object
      properties:
        ability_id:
          type: string
        name:
          type: string
        description:
          type: string
        type:
          type: string
        required_lessons:
          type: integer
        required_bond:
          type: integer
        learned:
          type: boolean
        unique:
          type: boolean
          description: Уникальная способность mentor

    GraduationResult:
      type: object
      properties:
        relationship_id:
          type: string
          format: uuid
        graduation_date:
          type: string
          format: date-time
        final_grade:
          type: string
          enum: [EXCELLENT, GOOD, SATISFACTORY]
        abilities_mastered:
          type: array
          items:
            type: string
        title_earned:
          type: string
          nullable: true
          example: "Master of Combat"
        mentor_recommendation:
          type: string
        can_become_mentor:
          type: boolean
          description: Студент может стать mentor

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

