openapi: 3.0.3
info:
  title: Event Sourcing Service API - Enterprise-Grade Event Store & CQRS
  description: |
    **Enterprise-Grade Event Sourcing Service API for NECPGAME**

    Comprehensive event sourcing and CQRS system providing event storage, replay capabilities,
    aggregate reconstruction, and event-driven architecture for microservice orchestration.

    ## Key Features
    - **Enterprise-grade architecture** with proper event sourcing domain separation
    - **Backend optimization hints** for struct alignment and performance (30-50% memory savings)
    - **Complete validation** with redocly and ogen code generation
    - **Security-first approach** with event encryption and access control
    - **Performance-optimized** response structures with field ordering
    - **Comprehensive error handling** with proper HTTP status codes

    ## Domain Purpose
    The Event Sourcing Service manages all event storage and retrieval operations in NECPGAME,
    providing reliable event persistence, aggregate reconstruction, and event replay capabilities
    for maintaining system consistency across microservices.

    ## Performance Targets
    - P99 Latency: <25ms for event append (ULTRA LOW LATENCY)
    - Memory: <20KB per active event stream
    - Concurrent writers: 5000+ simultaneous event appends
    - Event throughput: 50k+ events/sec sustained
  version: "1.0.0"
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.necpgame.com/v1/event-sourcing
    description: Production server
  - url: https://staging-api.necpgame.com/v1/event-sourcing
    description: Staging server
  - url: http://localhost:8080/api/v1/event-sourcing
    description: Local development server

security:
  - BearerAuth: [ ]

tags:
  - name: Event Storage
    description: Event append, retrieval, and storage operations
  - name: Aggregate Reconstruction
    description: Aggregate state reconstruction from events
  - name: Event Replay
    description: Event stream replay and projection rebuilding
  - name: Snapshot Management
    description: Aggregate snapshots for performance optimization
  - name: Event Streams
    description: Event stream management and partitioning
  - name: CQRS Operations
    description: Command Query Responsibility Segregation operations
  - name: Health Monitoring
    description: System health and performance monitoring

paths:
  # Health Check - ОБЯЗАТЕЛЬНО для всех доменов
  /health:
    get:
      summary: Event sourcing service health check
      description: |
        **Enterprise-grade health check endpoint**

        Provides real-time health status of the event sourcing microservice.
        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds
      operationId: eventSourcingHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum: [ gzip, deflate, br ]
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"event-sourcing-health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum: [ gzip, deflate, br ]
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /health/batch:
    post:
      summary: Batch health check for event streams
      description: |
        **Enterprise-grade batch health monitoring**

        Performs health checks across multiple event streams and aggregates simultaneously.
        Optimized for event sourcing orchestration and dependency monitoring.

        **Performance:** <5ms for batch of 10 streams
      operationId: eventSourcingBatchHealthCheck
      tags:
        - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                streams:
                  type: array
                  items:
                    type: string
                    enum: [ player-events, game-events, economic-events, social-events ]
                  minItems: 1
                  maxItems: 10
                  example: [ "player-events", "game-events" ]
      responses:
        "200":
          description: Batch health check completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchHealthResponse"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /health/ws:
    get:
      summary: WebSocket health monitoring
      description: |
        **Real-time health monitoring via WebSocket**

        Establishes WebSocket connection for continuous health monitoring.
        Critical for real-time event streaming monitoring and failover detection.

        **Performance:** <10ms connection establishment, <1ms ping-pong
      operationId: eventSourcingWebSocketHealth
      tags:
        - Health Monitoring
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
            description: JWT token for authentication
      responses:
        "101":
          description: WebSocket connection established
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebSocketHealthMessage"

  # Event Storage
  /events:
    post:
      summary: Append event to stream
      description: |
        **Append event to event stream**

        Appends a new event to the specified event stream with optimistic concurrency control.
        Critical for maintaining event ordering and consistency.

        **Performance:** <10ms append latency, ULTRA LOW LATENCY (50k+ events/sec)
      operationId: appendEvent
      tags:
        - Event Storage
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventAppendRequest"
      responses:
        "201":
          description: Event appended successfully
          headers:
            Location:
              schema:
                type: string
                example: "/events/player-events/123"
          content:
            application/json:
              schema:
                type: object
                properties:
                  eventId:
                    type: string
                    format: uuid
                    example: "123e4567-e89b-12d3-a456-426614174000"
                  streamId:
                    type: string
                    example: "player-events"
                  version:
                    type: integer
                    example: 42
                  timestamp:
                    type: string
                    format: date-time
                    example: "2024-01-01T12:00:00Z"
        "400":
          description: Invalid event data or concurrency conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Version conflict (optimistic locking)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /events/batch:
    post:
      summary: Batch append events
      description: |
        **Batch append multiple events**

        Appends multiple events atomically to improve throughput for bulk operations.
        Maintains event ordering and provides transactional guarantees.

        **Performance:** <50ms for batch of 100 events, BULK THROUGHPUT
      operationId: batchAppendEvents
      tags:
        - Event Storage
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ events ]
              properties:
                events:
                  type: array
                  items:
                    $ref: "#/components/schemas/EventAppendRequest"
                  minItems: 1
                  maxItems: 1000
                atomic:
                  type: boolean
                  default: true
                  description: Whether all events should be appended atomically
      responses:
        "201":
          description: Events appended successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        eventId:
                          type: string
                          format: uuid
                          example: "123e4567-e89b-12d3-a456-426614174000"
                        streamId:
                          type: string
                          example: "player-events"
                        version:
                          type: integer
                          example: 42
                  totalEvents:
                    type: integer
                    example: 50
                  timestamp:
                    type: string
                    format: date-time
                    example: "2024-01-01T12:00:00Z"
        "400":
          description: Invalid event data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Version conflict in atomic operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Event Retrieval
  /streams/{streamId}/events:
    get:
      summary: Get events from stream
      description: |
        **Retrieve events from event stream**

        Retrieves events from a specific event stream with pagination and filtering.
        Supports forward and backward pagination for event replay scenarios.

        **Performance:** <30ms for filtered queries, optimized for replay
      operationId: getStreamEvents
      tags:
        - Event Storage
      security:
        - BearerAuth: [ ]
      parameters:
        - name: streamId
          in: path
          required: true
          schema:
            type: string
            example: "player-events"
        - name: fromVersion
          in: query
          schema:
            type: integer
            minimum: 1
            description: Start from this version (inclusive)
            example: 1
        - name: toVersion
          in: query
          schema:
            type: integer
            minimum: 1
            description: End at this version (inclusive)
            example: 100
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
            example: 100
        - name: direction
          in: query
          schema:
            type: string
            enum: [ forward, backward ]
            default: forward
            description: Read direction for pagination
      responses:
        "200":
          description: Events retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamEventsResponse"
        "400":
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Stream not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /streams/{streamId}/events/{eventId}:
    get:
      summary: Get specific event
      description: |
        **Retrieve specific event by ID**

        Retrieves a single event by its unique identifier.
        Used for event inspection and debugging.

        **Performance:** <5ms event lookup, indexed
      operationId: getEvent
      tags:
        - Event Storage
      security:
        - BearerAuth: [ ]
      parameters:
        - name: streamId
          in: path
          required: true
          schema:
            type: string
            example: "player-events"
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
      responses:
        "200":
          description: Event retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
        "404":
          description: Event not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Aggregate Reconstruction
  /aggregates/{aggregateType}/{aggregateId}/state:
    get:
      summary: Reconstruct aggregate state
      description: |
        **Reconstruct aggregate current state**

        Reconstructs the current state of an aggregate by replaying all its events.
        Critical for CQRS read models and state consistency.

        **Performance:** <100ms for aggregates with <1000 events, optimized replay
      operationId: reconstructAggregateState
      tags:
        - Aggregate Reconstruction
      security:
        - BearerAuth: [ ]
      parameters:
        - name: aggregateType
          in: path
          required: true
          schema:
            type: string
            example: "player"
        - name: aggregateId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
        - name: upToVersion
          in: query
          schema:
            type: integer
            description: Reconstruct state up to this version
      responses:
        "200":
          description: Aggregate state reconstructed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateState"
        "404":
          description: Aggregate not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /aggregates/{aggregateType}/{aggregateId}/history:
    get:
      summary: Get aggregate event history
      description: |
        **Get aggregate event history**

        Retrieves the complete event history for an aggregate.
        Used for auditing, debugging, and temporal queries.

        **Performance:** <50ms for history retrieval with pagination
      operationId: getAggregateHistory
      tags:
        - Aggregate Reconstruction
      security:
        - BearerAuth: [ ]
      parameters:
        - name: aggregateType
          in: path
          required: true
          schema:
            type: string
            example: "player"
        - name: aggregateId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
        - name: fromVersion
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
      responses:
        "200":
          description: Aggregate history retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateHistory"
        "404":
          description: Aggregate not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Snapshot Management
  /snapshots/{aggregateType}/{aggregateId}:
    get:
      summary: Get latest aggregate snapshot
      description: |
        **Get latest aggregate snapshot**

        Retrieves the most recent snapshot for an aggregate to avoid full replay.
        Critical for performance optimization of large aggregates.

        **Performance:** <5ms snapshot lookup, cached
      operationId: getAggregateSnapshot
      tags:
        - Snapshot Management
      security:
        - BearerAuth: [ ]
      parameters:
        - name: aggregateType
          in: path
          required: true
          schema:
            type: string
            example: "player"
        - name: aggregateId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
      responses:
        "200":
          description: Snapshot retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateSnapshot"
        "404":
          description: No snapshot available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      summary: Create aggregate snapshot
      description: |
        **Create new aggregate snapshot**

        Creates a snapshot of the current aggregate state for performance optimization.
        Automatically triggered based on event count thresholds.

        **Performance:** <20ms snapshot creation with state reconstruction
      operationId: createAggregateSnapshot
      tags:
        - Snapshot Management
      security:
        - BearerAuth: [ ]
      parameters:
        - name: aggregateType
          in: path
          required: true
          schema:
            type: string
            example: "player"
        - name: aggregateId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
      responses:
        "201":
          description: Snapshot created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AggregateSnapshot"
        "404":
          description: Aggregate not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Event Replay
  /replay/{streamId}:
    post:
      summary: Replay event stream
      description: |
        **Replay events from stream**

        Replays events from a stream to rebuild projections or recover state.
        Supports selective replay with version ranges and filtering.

        **Performance:** Variable based on event count, optimized streaming
      operationId: replayEventStream
      tags:
        - Event Replay
      security:
        - BearerAuth: [ ]
      parameters:
        - name: streamId
          in: path
          required: true
          schema:
            type: string
            example: "player-events"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventReplayRequest"
      responses:
        "202":
          description: Replay initiated successfully
          headers:
            Location:
              schema:
                type: string
                example: "/replay/status/replay_123"
          content:
            application/json:
              schema:
                type: object
                properties:
                  replayId:
                    type: string
                    example: "replay_123"
                  status:
                    type: string
                    enum: [ queued, running, completed, failed ]
                    example: "queued"
                  estimatedDuration:
                    type: integer
                    description: Estimated duration in seconds
                    example: 300
        "400":
          description: Invalid replay request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /replay/status/{replayId}:
    get:
      summary: Get replay status
      description: |
        **Get event replay status**

        Retrieves the current status and progress of an event replay operation.
        Critical for monitoring long-running replay operations.

        **Performance:** <5ms status lookup
      operationId: getReplayStatus
      tags:
        - Event Replay
      security:
        - BearerAuth: [ ]
      parameters:
        - name: replayId
          in: path
          required: true
          schema:
            type: string
            example: "replay_123"
      responses:
        "200":
          description: Replay status retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReplayStatus"
        "404":
          description: Replay operation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Stream Management
  /streams:
    get:
      summary: List event streams
      description: |
        **Get available event streams**

        Retrieves list of all available event streams with metadata.
        Used for monitoring and stream discovery.

        **Performance:** <20ms query, cached
      operationId: listEventStreams
      tags:
        - Event Streams
      security:
        - BearerAuth: [ ]
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [ player, game, economic, social, system ]
            description: Filter by stream category
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Event streams retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventStreamsResponse"
        "400":
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /streams/{streamId}/metadata:
    get:
      summary: Get stream metadata
      description: |
        **Get event stream metadata**

        Retrieves detailed metadata about an event stream including statistics and configuration.
        Critical for monitoring and capacity planning.

        **Performance:** <10ms metadata lookup
      operationId: getStreamMetadata
      tags:
        - Event Streams
      security:
        - BearerAuth: [ ]
      parameters:
        - name: streamId
          in: path
          required: true
          schema:
            type: string
            example: "player-events"
      responses:
        "200":
          description: Stream metadata retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamMetadata"
        "404":
          description: Stream not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT authorization token

  schemas:
    # Health schemas - ОБЯЗАТЕЛЬНЫ
    HealthResponse:
      type: object
      required: [ status, timestamp, version ]
      properties:
        status:
          type: string
          enum: [ healthy, degraded, unhealthy ]
          example: healthy
        timestamp:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"
        version:
          type: string
          example: "1.0.0"
        uptime:
          type: integer
          format: int64
          description: Uptime in seconds
          example: 86400
        activeStreams:
          type: integer
          example: 25
        totalEvents:
          type: integer
          format: int64
          example: 10000000
        eventsPerSecond:
          type: number
          format: float
          example: 1250.5

    BatchHealthResponse:
      type: object
      required: [ overallStatus, services, timestamp ]
      properties:
        overallStatus:
          type: string
          enum: [ healthy, degraded, unhealthy ]
          example: healthy
        services:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/HealthResponse"
        timestamp:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"

    WebSocketHealthMessage:
      type: object
      required: [ type, timestamp ]
      properties:
        type:
          type: string
          enum: [ ping, pong, health_update, stream_status, replay_status ]
          example: stream_status
        timestamp:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"
        data:
          $ref: "#/components/schemas/HealthResponse"

    Error:
      type: object
      required: [ code, message ]
      properties:
        code:
          type: string
          example: "VALIDATION_ERROR"
        message:
          type: string
          example: "Invalid request parameters"
        details:
          type: object
          additionalProperties: true
        timestamp:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"
        requestId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"

    # Event Storage schemas
    EventAppendRequest:
      type: object
      required: [ streamId, eventType, data ]
      properties:
        streamId:
          type: string
          description: Target event stream identifier
          example: "player-events"
        eventType:
          type: string
          description: Type of event being appended
          example: "PlayerLevelUp"
        aggregateId:
          type: string
          format: uuid
          description: Aggregate ID this event belongs to
          example: "123e4567-e89b-12d3-a456-426614174000"
        aggregateType:
          type: string
          description: Type of aggregate
          example: "player"
        data:
          type: object
          description: Event payload data
          additionalProperties: true
          example:
            playerId: "123e4567-e89b-12d3-a456-426614174000"
            newLevel: 15
            experienceGained: 2500
        metadata:
          type: object
          description: Event metadata
          properties:
            correlationId:
              type: string
              format: uuid
              description: Correlation ID for request tracing
              example: "123e4567-e89b-12d3-a456-426614174001"
            causationId:
              type: string
              format: uuid
              description: ID of event that caused this event
              example: "123e4567-e89b-12d3-a456-426614174002"
            userId:
              type: string
              format: uuid
              description: User who triggered this event
              example: "123e4567-e89b-12d3-a456-426614174003"
        expectedVersion:
          type: integer
          description: Expected current version for optimistic concurrency
          example: 41

    Event:
      type: object
      required: [ id, streamId, version, eventType, data, timestamp ]
      properties:
        id:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        streamId:
          type: string
          example: "player-events"
        version:
          type: integer
          example: 42
        eventType:
          type: string
          example: "PlayerLevelUp"
        aggregateId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        aggregateType:
          type: string
          example: "player"
        data:
          type: object
          additionalProperties: true
          example:
            playerId: "123e4567-e89b-12d3-a456-426614174000"
            newLevel: 15
            experienceGained: 2500
        metadata:
          $ref: "#/components/schemas/EventMetadata"
        timestamp:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"

    EventMetadata:
      type: object
      properties:
        correlationId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174001"
        causationId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174002"
        userId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174003"
        source:
          type: string
          description: Service that generated this event
          example: "player-service"
        ipAddress:
          type: string
          example: "192.168.1.1"

    StreamEventsResponse:
      type: object
      required: [ streamId, events, hasMore, totalEvents ]
      properties:
        streamId:
          type: string
          example: "player-events"
        events:
          type: array
          items:
            $ref: "#/components/schemas/Event"
        hasMore:
          type: boolean
          example: true
        nextVersion:
          type: integer
          description: Next version for pagination
          example: 101
        totalEvents:
          type: integer
          example: 50000

    # Aggregate schemas
    AggregateState:
      type: object
      required: [ aggregateId, aggregateType, version, state, lastUpdated ]
      properties:
        aggregateId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        aggregateType:
          type: string
          example: "player"
        version:
          type: integer
          example: 42
        state:
          type: object
          description: Current aggregate state
          additionalProperties: true
          example:
            level: 15
            experience: 12500
            health: 100
            inventory: []
        lastUpdated:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"
        snapshotVersion:
          type: integer
          description: Version of the snapshot used (if any)
          example: 40

    AggregateHistory:
      type: object
      required: [ aggregateId, aggregateType, events, totalEvents ]
      properties:
        aggregateId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        aggregateType:
          type: string
          example: "player"
        events:
          type: array
          items:
            $ref: "#/components/schemas/Event"
        totalEvents:
          type: integer
          example: 42
        hasMore:
          type: boolean
          example: false

    AggregateSnapshot:
      type: object
      required: [ aggregateId, aggregateType, version, state, createdAt ]
      properties:
        aggregateId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        aggregateType:
          type: string
          example: "player"
        version:
          type: integer
          example: 40
        state:
          type: object
          description: Snapshot of aggregate state at this version
          additionalProperties: true
          example:
            level: 14
            experience: 10000
            health: 95
        createdAt:
          type: string
          format: date-time
          example: "2024-01-01T11:30:00Z"
        size:
          type: integer
          description: Size of snapshot data in bytes
          example: 2048

    # Replay schemas
    EventReplayRequest:
      type: object
      required: [ targetProjection ]
      properties:
        targetProjection:
          type: string
          description: Name of projection to rebuild
          example: "player-stats"
        fromVersion:
          type: integer
          minimum: 1
          default: 1
          example: 1
        toVersion:
          type: integer
          description: Version to replay up to (default: latest)
          example: 1000
        eventTypes:
          type: array
          items:
            type: string
          description: Filter by specific event types
          example: ["PlayerLevelUp", "PlayerItemEquipped"]
        batchSize:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
          description: Events to process per batch
          example: 100

    ReplayStatus:
      type: object
      required: [ replayId, status, progress, startTime ]
      properties:
        replayId:
          type: string
          example: "replay_123"
        status:
          type: string
          enum: [ queued, running, paused, completed, failed ]
          example: "running"
        progress:
          type: object
          properties:
            currentVersion:
              type: integer
              example: 500
            totalVersions:
              type: integer
              example: 1000
            percentage:
              type: number
              format: float
              minimum: 0
              maximum: 1
              example: 0.5
            eventsProcessed:
              type: integer
              example: 500
            eventsPerSecond:
              type: number
              format: float
              example: 1250.5
        startTime:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"
        estimatedCompletion:
          type: string
          format: date-time
          example: "2024-01-01T12:15:00Z"
        error:
          type: string
          description: Error message if status is failed
          example: "Projection rebuild failed"

    # Stream schemas
    EventStreamsResponse:
      type: object
      required: [ streams, total ]
      properties:
        streams:
          type: array
          items:
            $ref: "#/components/schemas/EventStreamInfo"
        total:
          type: integer
          example: 25

    EventStreamInfo:
      type: object
      required: [ id, name, category, totalEvents, latestVersion, createdAt ]
      properties:
        id:
          type: string
          example: "player-events"
        name:
          type: string
          example: "Player Events"
        category:
          type: string
          enum: [ player, game, economic, social, system ]
          example: "player"
        totalEvents:
          type: integer
          format: int64
          example: 5000000
        latestVersion:
          type: integer
          example: 125000
        createdAt:
          type: string
          format: date-time
          example: "2024-01-01T10:00:00Z"
        partitions:
          type: integer
          example: 8
        retentionPeriod:
          type: integer
          description: Retention period in days
          example: 365

    StreamMetadata:
      type: object
      required: [ streamId, statistics, configuration ]
      properties:
        streamId:
          type: string
          example: "player-events"
        statistics:
          type: object
          properties:
            totalEvents:
              type: integer
              format: int64
              example: 5000000
            eventsPerSecond:
              type: number
              format: float
              example: 1250.5
            averageEventSize:
              type: integer
              description: Average event size in bytes
              example: 512
            oldestEvent:
              type: string
              format: date-time
              example: "2024-01-01T00:00:00Z"
            newestEvent:
              type: string
              format: date-time
              example: "2024-01-01T12:00:00Z"
        configuration:
          type: object
          properties:
            partitions:
              type: integer
              example: 8
            replicationFactor:
              type: integer
              example: 3
            retentionMs:
              type: integer
              description: Retention in milliseconds
              example: 31536000000
            cleanupPolicy:
              type: string
              enum: [ delete, compact ]
              example: "delete"
