openapi: 3.0.3
info:
  title: Living World Event Streams
  version: 1.0.0
  description: Асинхронные каналы `world-service` и `gameplay-service` для живого мира и Action XP.
  x-microservice:
    name: world-service
    port: 8086
    domain: world
    base-path: /api/v1/world
    package: com.necpgame.worldservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
paths: {}
x-kafka-topics:
  world.faction.controlShifted:
    summary: Фиксация смены контроля региона
    retentionHours: 168
    partitions: 12
    deliveryGuarantee: at-least-once
    payload:
      $ref: '../schemas/living-world-components.yaml#/components/schemas/ControlShiftEvent'
  world.logistics.routeCreated:
    summary: Планирование нового логистического маршрута
    retentionHours: 72
    partitions: 12
    deliveryGuarantee: at-least-once
    payload:
      $ref: '../schemas/living-world-components.yaml#/components/schemas/LogisticsRouteEvent'
  world.squad.spawned:
    summary: Появление автономного отряда
    retentionHours: 48
    partitions: 6
    deliveryGuarantee: at-least-once
    payload:
      $ref: '../schemas/living-world-components.yaml#/components/schemas/AutonomousSquadEvent'
  gameplay.actionXp.gained:
    summary: Начисление Action XP
    retentionHours: 168
    partitions: 24
    deliveryGuarantee: exactly-once
    payload:
      $ref: '../schemas/living-world-components.yaml#/components/schemas/ActionXpEvent'
  gameplay.actionXp.softCapReached:
    summary: Достижение мягкого лимита Action XP
    retentionHours: 168
    partitions: 6
    deliveryGuarantee: at-least-once
    payload:
      $ref: '../schemas/living-world-components.yaml#/components/schemas/ActionXpSoftCapEvent'
x-websocket:
  url: wss://api.necp.game/v1/world/chronicle/stream
  heartbeatSeconds: 15
  reconnectPolicy: exponential
  messages:
    chronicleEvent:
      summary: Событие хроники мира
      payload:
        $ref: '../schemas/living-world-components.yaml#/components/schemas/ChronicleEvent'
    logisticsAlert:
      summary: Предупреждение по логистическому маршруту
      payload:
        $ref: '../schemas/living-world-components.yaml#/components/schemas/LogisticsAlertEvent'
    fatigueWarning:
      summary: Сообщение об усталости Action XP
      payload:
        $ref: '../schemas/living-world-components.yaml#/components/schemas/ActionXpSoftCapEvent'
components:
  schemas:
    ControlShiftEvent:
      $ref: '../schemas/living-world-components.yaml#/components/schemas/ControlShiftEvent'
    LogisticsRouteEvent:
      $ref: '../schemas/living-world-components.yaml#/components/schemas/LogisticsRouteEvent'
    LogisticsAlertEvent:
      $ref: '../schemas/living-world-components.yaml#/components/schemas/LogisticsAlertEvent'
    AutonomousSquadEvent:
      $ref: '../schemas/living-world-components.yaml#/components/schemas/AutonomousSquadEvent'
    ActionXpEvent:
      $ref: '../schemas/living-world-components.yaml#/components/schemas/ActionXpEvent'
    ActionXpSoftCapEvent:
      $ref: '../schemas/living-world-components.yaml#/components/schemas/ActionXpSoftCapEvent'
    ChronicleEvent:
      $ref: '../schemas/living-world-components.yaml#/components/schemas/ChronicleEvent'


