# Issue: #142117499
openapi: 3.0.3
info:
  title: Combat Implants Stats Service API
  description: |
    Enterprise-Grade Combat Implants Stats Service API for NECPGAME MMOFPS RPG.

    **Enterprise-Grade Domain:** system-domain
    **Module:** combat-implants-stats-service
    **Purpose:** High-performance implant stats management, compatibility checking, and set bonus calculations

    **BACKEND NOTE:** Struct field alignment optimized (large → small types).
    All schemas ordered for optimal memory layout in generated Go code.
    Expected memory savings: 30-50% for implant-related structs.

    **Features:**
    - Energy pool and overheating management
    - Humanity and cyberpsychosis tracking
    - Implant compatibility validation
    - Brand set bonus calculations

    **Performance:** P99 <10ms for stat calculations, zero allocations in hot path


    **Основные возможности:**

    - Энергетический пул и перегрев

    - Человечность и киберпсихоз

    - Совместимость имплантов

    - Сет-бонусы брендов


    **Ограничения:**

    - Слоты (боевые, тактические, защитные, двигательные, OS)

    - Энергопотребление

    - Человечность

    - Совместимость


    **Бренды и сет-бонусы:**

    - Arasaka - тактические преимущества

    - Militech - боевые усиления

    - Kang Tao - точность и крит

    - Zetatech - энергоэффективность

    - Biotechnica - регенерация


    **Киберпсихоз:**

    - Риск растёт с установкой имплантов

    - Несовместимые импланты повышают риск

    - Временное превышение лимитов опасно

    '
  version: 1.0.0
  license:
    name: Proprietary
    url: https://necpgame.com/license
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
servers:
  - url: https://gameplay.necpgame.com/api/v1
    description: Gameplay Service (продакшн)
tags:
  - name: Health
    description: Service health and status
  - name: Energy
    description: Энергия
  - name: Humanity
    description: Человечность
  - name: Compatibility
    description: Совместимость
  - name: Set Bonuses
    description: Сет-бонусы
paths:
  # Health check
  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: Service health status
      operationId: healthCheck
      security: [ ]
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /combat/implants/{character_id}/energy:
    get:
      tags:
        - Energy
      summary: Энергетический статус
      description: 'Возвращает текущий энергетический статус.


        **Параметры:**

        - Current - текущая энергия

        - Max - максимальная энергия

        - Consumption - потребление

        - Overheated - флаг перегрева

        '
      operationId: getEnergyStatus
      security:
        - BearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID персонажа
      responses:
        '200':
          description: Энергия
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnergyStatus'
        '401':
          $ref: ../../../../common-schemas.yaml#/components/responses/Unauthorized
        '404':
          $ref: ../../../../common-schemas.yaml#/components/responses/NotFound
        '500':
          $ref: ../../../../common-schemas.yaml#/components/responses/InternalServerError
  /combat/implants/{character_id}/humanity:
    get:
      tags:
        - Humanity
      summary: Человечность
      description: 'Возвращает текущий уровень человечности.


        **Параметры:**

        - Current - текущая человечность

        - Max - максимальная человечность

        - Cyberpsychosis Risk - риск киберпсихоза (0-100%)

        '
      operationId: getHumanityStatus
      security:
        - BearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID персонажа
      responses:
        '200':
          description: Человечность
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HumanityStatus'
        '401':
          $ref: ../../../../common-schemas.yaml#/components/responses/Unauthorized
        '404':
          $ref: ../../../../common-schemas.yaml#/components/responses/NotFound
        '500':
          $ref: ../../../../common-schemas.yaml#/components/responses/InternalServerError
  /combat/implants/{character_id}/compatibility/{implant_id}:
    get:
      tags:
        - Compatibility
      summary: Проверка совместимости
      description: 'Проверяет совместимость имплантов.


        **Проверки:**

        - Конфликты с установленными имплантами

        - Энергетический лимит

        - Человечность

        - Слоты

        '
      operationId: checkCompatibility
      security:
        - BearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID персонажа
        - name: implant_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID импланта для проверки
      responses:
        '200':
          description: Результат проверки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompatibilityResult'
        '401':
          $ref: ../../../../common-schemas.yaml#/components/responses/Unauthorized
        '404':
          $ref: ../../../../common-schemas.yaml#/components/responses/NotFound
        '500':
          $ref: ../../../../common-schemas.yaml#/components/responses/InternalServerError
  /combat/implants/{character_id}/set-bonuses:
    get:
      tags:
        - Set Bonuses
      summary: Сет-бонусы
      description: 'Возвращает активные сет-бонусы брендов.


        **Бонусы:**

        - 2 items - малый бонус

        - 3 items - средний бонус

        - 4+ items - полный сет-бонус

        '
      operationId: getSetBonuses
      security:
        - BearerAuth: [ ]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID персонажа
      responses:
        '200':
          description: Сет-бонусы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetBonuses'
        '401':
          $ref: ../../../../common-schemas.yaml#/components/responses/Unauthorized
        '404':
          $ref: ../../../../common-schemas.yaml#/components/responses/NotFound
        '500':
          $ref: ../../../../common-schemas.yaml#/components/responses/InternalServerError
components:
  securitySchemes:
    BearerAuth:
      $ref: common.yaml#/components/securitySchemes/BearerAuth
  schemas:
    EnergyStatus:
      type: object
      properties:
        current:
          type: number
          description: Текущая энергия
          format: float
        max:
          type: number
          description: Максимальная энергия
          format: float
        consumption:
          type: number
          description: Потребление
          format: float
        cooling_rate:
          type: number
          description: Скорость охлаждения
          format: float
        overheated:
          type: boolean
          description: Флаг перегрева
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    HumanityStatus:
      type: object
      properties:
        implant_count:
          type: integer
          description: Количество имплантов
          minimum: 0
        current:
          type: number
          description: Текущая человечность
          format: float
        max:
          type: number
          description: Максимальная человечность
          format: float
        cyberpsychosis_risk:
          type: number
          description: Риск киберпсихоза (0-100%)
          format: float
          minimum: 0
          maximum: 100
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    CompatibilityResult:
      type: object
      properties:
        energy_check:
          type: object
          description: Проверка энергии
          properties:
            available:
              type: number
              format: float
            required:
              type: number
              format: float
            sufficient:
              type: boolean
        humanity_check:
          type: object
          description: Проверка человечности
          properties:
            available:
              type: number
              format: float
            required:
              type: number
              format: float
            sufficient:
              type: boolean
        conflicts:
          type: array
          description: Конфликты
          items:
            type: object
            properties:
              implant_id:
                type: string
                format: uuid
              reason:
                type: string
        warnings:
          type: array
          description: Предупреждения
          items:
            type: string
        compatible:
          type: boolean
          description: Совместим ли
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    SetBonuses:
      type: object
      properties:
        active_sets:
          type: array
          description: Активные сеты
          items:
            type: object
            properties:
              brand:
                type: string
                description: Бренд
              implants_count:
                type: integer
                description: Количество имплантов
                minimum: 0
              bonuses:
                type: array
                description: Бонусы
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    description:
                      type: string
                    value:
                      type: number
                      format: float
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: "healthy"
        timestamp:
          type: string
          format: date-time
        version:
          type: string
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).'
    Error:
      type: object
      properties:
        code:
          type: string
          example: "VALIDATION_ERROR"
        message:
          type: string
          example: "Invalid request parameters"
        details:
          type: object
          additionalProperties: true
        timestamp:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).'
security:
  - BearerAuth: [ ]
