openapi: 3.0.3
info:
  title: Effect Service API
  description: '**Enterprise-grade API for Game Effects, Buffs, and Debuffs Management**


    ## Domain Purpose

    Comprehensive effect management service providing real-time application, tracking,

    and synchronization of game effects, buffs, debuffs, and status modifications
    across

    all NECPGAME gameplay systems.


    ## Business Value

    - Real-time effect calculations and application

    - Complex effect stacking and interaction systems

    - Performance-optimized effect persistence and synchronization

    - Enterprise-grade scalability for millions of concurrent effects

    - Advanced effect analytics and balancing tools


    ## Performance Targets

    - P99 Latency: <25ms for effect operations

    - Throughput: 100,000+ effect operations per second

    - Concurrent Effects: 1,000,000+ active effects supported

    - Memory per Character: <2KB for effect storage


    ## Domain Inheritance

    This service inherits from game-entities.yaml providing:

    - Effect templates as game entities with versioning

    - Character effect tracking with optimistic locking

    - Combat action integration for effect application

    - Ability system integration for effect sources

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/effect-service
  description: Production environment
- url: https://staging-api.necpgame.com/v1/effect-service
  description: Staging environment
- url: http://localhost:8080/api/v1/effect-service
  description: Local development
security:
- BearerAuth: []
tags:
- name: Effect Management
  description: Core effect application and lifecycle operations
- name: Effect Templates
  description: Effect template creation and management
- name: Character Effects
  description: Character-specific effect tracking
- name: Effect Analytics
  description: Effect usage and performance analytics
- name: Effect Balancing
  description: Effect balancing and modification tools
- name: Health Monitoring
  description: Service health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /effects/apply:
    $ref: ./paths/effects-apply.yaml#/paths/~1effects~1apply
  /effects/remove:
    $ref: ./paths/effects-remove.yaml#/paths/~1effects~1remove
  /effects/modify:
    $ref: ./paths/effects-modify.yaml#/paths/~1effects~1modify
  /effects/{effectId}/extend:
    $ref: ./paths/effects-{effectId}-extend.yaml#/paths/~1effects~1{effectId}~1extend
  /characters/{characterId}/effects:
    $ref: ./paths/characters-{characterId}-effects.yaml#/paths/~1characters~1{characterId}~1effects
  /characters/{characterId}/effects/batch:
    $ref: ./paths/characters-{characterId}-effects-batch.yaml#/paths/~1characters~1{characterId}~1effects~1batch
  /characters/{characterId}/effects/clear:
    $ref: ./paths/characters-{characterId}-effects-clear.yaml#/paths/~1characters~1{characterId}~1effects~1clear
  /templates:
    $ref: ./paths/templates.yaml#/paths/~1templates
  /templates/{templateId}:
    $ref: ./paths/templates-{templateId}.yaml#/paths/~1templates~1{templateId}
  /analytics/usage:
    $ref: ./paths/analytics-usage.yaml#/paths/~1analytics~1usage
  /balancing/adjust:
    $ref: ./paths/balancing-adjust.yaml#/paths/~1balancing~1adjust
components:
  schemas:
    AppliedEffect:
      $ref: ./schemas/effect-service-schemas.yaml#/components/schemas/AppliedEffect
    EffectTemplate:
      $ref: ./schemas/effect-service-schemas.yaml#/components/schemas/EffectTemplate
    EffectStackingRules:
      $ref: ./schemas/effect-service-schemas.yaml#/components/schemas/EffectStackingRules
    EffectInteractionRule:
      $ref: ./schemas/effect-service-schemas.yaml#/components/schemas/EffectInteractionRule
    CharacterEffectSummary:
      $ref: ./schemas/effect-service-schemas.yaml#/components/schemas/CharacterEffectSummary
    StatChanges:
      $ref: ./schemas/effect-service-schemas.yaml#/components/schemas/StatChanges
    EffectUsageAnalytics:
      $ref: ./schemas/effect-service-schemas.yaml#/components/schemas/EffectUsageAnalytics
    EffectTemplateSummary:
      $ref: ./schemas/effect-service-schemas.yaml#/components/schemas/EffectTemplateSummary
    ApplyEffectRequest:
      $ref: ./schemas/effect-service-schemas.yaml#/components/schemas/ApplyEffectRequest
    RemoveEffectRequest:
      $ref: ./schemas/effect-service-schemas.yaml#/components/schemas/RemoveEffectRequest
    ModifyEffectRequest:
      $ref: ./schemas/effect-service-schemas.yaml#/components/schemas/ModifyEffectRequest
    BatchApplyEffectsRequest:
      $ref: ./schemas/effect-service-schemas.yaml#/components/schemas/BatchApplyEffectsRequest
    CreateEffectTemplateRequest:
      $ref: ./schemas/effect-service-schemas.yaml#/components/schemas/CreateEffectTemplateRequest
    UpdateEffectTemplateRequest:
      $ref: ./schemas/effect-service-schemas.yaml#/components/schemas/UpdateEffectTemplateRequest
    EffectBalancingAdjustmentRequest:
      $ref: ./schemas/effect-service-schemas.yaml#/components/schemas/EffectBalancingAdjustmentRequest
  responses:
    OK:
      $ref: ./schemas/effect-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/effect-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/effect-service-responses.yaml#/components/responses/Updated
    BadRequest:
      $ref: ./schemas/effect-service-responses.yaml#/components/responses/BadRequest
    NotFound:
      $ref: ./schemas/effect-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/effect-service-responses.yaml#/components/responses/Conflict
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
