openapi: 3.0.3
info:
  title: "Weapon Elemental Effects Service API"
  description: '**Enterprise-Grade Weapon Elemental Effects API with Game Domain Inheritance**

    ## Domain Purpose

    The Weapon Elemental Effects Service manages all elemental weapon effects and their
    interactions in Night City. Handles fire, ice, poison, acid, electric, and void
    effects with complex interaction rules, damage calculations, and real-time
    combat mechanics for immersive cyberpunk gameplay.

    ## Key Features

    - **Elemental Effects Management**: Complete CRUD for weapon elemental effects
    - **Interaction Engine**: Dynamic damage multipliers based on elemental combinations
    - **Real-time Combat**: Live effect application and damage calculations
    - **Domain Inheritance**: SOLID/DRY architecture using game-entities.yaml
    - **Performance Optimized**: MMOFPS-grade performance with struct alignment

    ## Performance Targets

    - P99 Latency: <10ms for effect application, <25ms for interactions
    - Memory: <50KB per active effect session, 30-50% savings from struct alignment
    - Concurrent users: 15,000+ simultaneous effect processing
    - Effect combinations: <5ms for complex multi-element calculations

    ## Architecture

    Uses domain inheritance from `../common-service/schemas/game-entities.yaml#/CombatEffectEntity`
    with weapon-specific elemental extensions.

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/weapon-effects
  description: Production server
- url: https://staging-api.necpgame.com/v1/weapon-effects
  description: Staging server
- url: http://localhost:8080/api/v1/weapon-effects
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Weapon Elemental Effects
  description: CRUD operations for weapon elemental effects
- name: Effect Interactions
  description: Rules and calculations for effect combinations
- name: Effect Preview
  description: Real-time preview of effect interactions
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Example domain health check
      description: '**Enterprise-grade health check endpoint**


        Provides real-time health status of the example domain microservice.

        Critical for service discovery, load balancing, and monitoring.


        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: effectServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /health/batch:
    post:
      summary: Batch health check for multiple domain services
      description: '**Performance optimization:** Check multiple domain health in
        single request


        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.


        **Use case:** Service mesh health checks, Kubernetes readiness probes

        '
      operationId: effectServiceBatchHealthCheck
      tags:
      - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                    - effect
                    - system-domain
                    - specialized-domain
                    maxItems: 10
                  description: List of services to check
      responses:
        '200':
          $ref: '#/components/responses/HealthBatchSuccess'
        '400':
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description: '**Performance optimization:** Real-time health updates without
        polling


        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.


        **Protocol:** WebSocket with JSON payloads

        **Heartbeat:** 30 second intervals

        **Reconnection:** Automatic with exponential backoff

        '
      operationId: effectServiceHealthWebSocket
      tags:
      - Health Monitoring
      parameters:
      - name: services
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - effect
            - system-domain
            - specialized-domain
        description: Services to monitor (optional, monitors all if not specified)
      responses:
        '200':
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/effect/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                    - health-monitoring-v1
        '101':
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSocketHealthMessage'
        '400':
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /effects:
    get:
      summary: List weapon elemental effects
      description: '**Enterprise-grade listing endpoint for weapon elemental effects**

        Returns paginated list of all weapon elemental effects (fire, ice, poison,
        acid, electric, void) with domain inheritance from CombatEffectEntity.
        Supports filtering by elemental type and advanced search capabilities.

        **Performance:** <10ms P95, supports 1000+ concurrent requests with caching.
        **Domain:** Uses game-entities.yaml inheritance for SOLID/DRY compliance.

        '
      operationId: listEffects
      tags:
      - Weapon Elemental Effects
      parameters:
      - name: type
        in: query
        schema:
          type: string
          enum:
          - fire
          - ice
          - poison
          - acid
          - electric
          - void
        description: Filter by elemental effect type
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Number of items per page
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Number of items to skip
      responses:
        '200':
          description: Effects retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeaponEffectListResponse'
        '400':
          description: Invalid request - malformed query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    post:
      summary: Create weapon elemental effect
      description: '**Enterprise-grade creation endpoint for weapon elemental effects**

        Creates new weapon elemental effect with domain inheritance validation.
        Ensures effect uniqueness and proper damage calculations using game-entities.yaml.

        **Performance:** <25ms P95, includes validation and business logic.
        **Domain:** Extends CombatEffectEntity with elemental-specific fields.

        '
      operationId: createEffect
      tags:
      - Weapon Elemental Effects
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WeaponEffectUpsertRequest'
      responses:
        '201':
          $ref: '#/components/responses/EffectCreated'
        '400':
          description: Invalid request - malformed or missing data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Conflict - effect with this name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - creation rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /effects/apply:
    post:
      summary: Apply combat effects to target
      description: '**Enterprise-grade effect application endpoint**

        Applies buffs, debuffs, and status effects to combat participants. Validates
        effect compatibility, stacking rules, and duration calculations.

        Essential for combat mechanics, abilities, and environmental effects.

        **Performance:** <10ms P95, synchronous application required

        **Validation:** Effect stacking limits, immunity checks, duration caps

        '
      operationId: applyEffects
      tags:
      - Effect Management
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyEffectsRequest'
            examples:
              buff_example:
                summary: Strength buff application
                value:
                  target_id: 123e4567-e89b-12d3-a456-426614174000
                  effects:
                  - effect_type: buff
                    effect_name: strength_boost
                    duration_seconds: 180
                    value: 20
                    source_id: 123e4567-e89b-12d3-a456-426614174001
              debuff_example:
                summary: Movement debuff application
                value:
                  target_id: 123e4567-e89b-12d3-a456-426614174000
                  effects:
                  - effect_type: debuff
                    effect_name: movement_slow
                    duration_seconds: 60
                    value: 0.3
                    stacks: 1
                    source_id: 123e4567-e89b-12d3-a456-426614174001
      responses:
        '200':
          description: Effects applied successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyEffectsResponse'
          headers:
            X-Effects-Applied:
              schema:
                type: integer
                minimum: 0
              description: Number of effects successfully applied
        '400':
          description: Invalid effect application request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - cannot apply effects to target
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Target entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Effect application conflict - stacking limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /effects/{effect_id}:
    parameters:
    - name: effect_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      summary: Get weapon elemental effect
      operationId: getEffect
      tags:
      - Weapon Elemental Effects
      responses:
        '200':
          $ref: '#/components/responses/EffectRetrieved'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Effect not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    patch:
      summary: Update weapon elemental effect
      operationId: updateEffect
      tags:
      - Weapon Elemental Effects
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WeaponEffectUpsertRequest'
      responses:
        '200':
          $ref: '#/components/responses/EffectUpdated'
        '400':
          description: Invalid request - malformed data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Effect not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    delete:
      summary: Delete weapon elemental effect
      operationId: deleteEffect
      tags:
      - Weapon Elemental Effects
      security:
      - BearerAuth: []
      responses:
        '204':
          $ref: '#/components/responses/EffectDeleted'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Effect not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /effects/interactions:
    get:
      summary: List elemental interaction rules
      operationId: listInteractions
      tags:
      - Effect Interactions
      responses:
        '200':
          description: Interaction rules retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    post:
      summary: Create elemental interaction rule
      operationId: createInteraction
      tags:
      - Effect Interactions
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InteractionUpsertRequest'
      responses:
        '201':
          $ref: '#/components/responses/InteractionCreated'
        '400':
          description: Invalid request - malformed data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Conflict - interaction rule already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /effects/interactions/preview:
    post:
      summary: Preview effect interaction
      operationId: previewInteraction
      tags:
      - Effect Preview
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InteractionPreviewRequest'
      responses:
        '200':
          description: Interaction preview calculated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionPreviewResponse'
        '400':
          description: Invalid request - malformed data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /effects/active:
    get:
      summary: Get active effects for target
      description: '**Enterprise-grade active effects retrieval endpoint**

        Retrieves all currently active effects on a target entity. Includes buffs,
        debuffs, status effects with remaining duration.

        Critical for UI display, effect tracking, and gameplay awareness.

        **Performance:** <15ms P95 with effect caching

        **Real-time:** Effects updated via WebSocket for active combat

        '
      operationId: getActiveEffects
      tags:
      - Effect Management
      security:
      - BearerAuth: []
      parameters:
      - name: target_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: Target entity identifier
      - name: effect_type
        in: query
        schema:
          type: string
          enum:
          - buff
          - debuff
          - status
          - all
          default: all
        description: Filter by effect type
      - name: include_expired
        in: query
        schema:
          type: boolean
          default: false
        description: Include recently expired effects
      responses:
        '200':
          description: Active effects retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveEffectsResponse'
        '404':
          description: Target entity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /effects/{effectId}/extend:
    put:
      summary: Extend effect duration
      description: '**Enterprise-grade effect extension endpoint**

        Extends the duration of an existing active effect. Validates extension limits
        and stacking rules.

        Used for effect refresh mechanics and duration bonuses.

        **Performance:** <5ms P95, atomic duration update

        '
      operationId: extendEffect
      tags:
      - Effect Management
      security:
      - BearerAuth: []
      parameters:
      - name: effectId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Effect instance identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtendEffectRequest'
      responses:
        '200':
          description: Effect duration extended successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EffectResponse'
        '400':
          description: Invalid extension request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Effect not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Extension limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
components:
  responses:
    HealthBatchSuccess:
      $ref: ../common-service/responses/success.yaml#/HealthBatchSuccess
    EffectCreated:
      description: Weapon elemental effect created successfully
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/weapon-effects/550e8400-e29b-41d4-a716-446655440000
            description: URL of the created effect
        ETag:
          schema:
            type: string
            example: '"effect-fire-123-v1"'
            description: Entity tag for caching and optimistic locking
        Cache-Control:
          schema:
            type: string
            example: no-cache
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WeaponEffectResponse'
    EffectRetrieved:
      description: Weapon elemental effect retrieved successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"effect-fire-123-v1"'
            description: Entity tag for caching
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
            description: Cache control directives
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: '2025-12-21T10:00:00Z'
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 5
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WeaponEffectResponse'
    EffectUpdated:
      description: Weapon elemental effect updated successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"effect-fire-123-v2"'
            description: New entity tag after update
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: '2025-12-21T10:05:00Z'
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 10
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WeaponEffectResponse'
    EffectDeleted:
      description: Weapon elemental effect deleted successfully
      headers:
        X-Processing-Time:
          schema:
            type: integer
            example: 8
            description: Processing time in milliseconds
    InteractionCreated:
      description: Effect interaction rule created successfully
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/weapon-effects/interactions/550e8400-e29b-41d4-a716-446655440001
            description: URL of the created interaction rule
        ETag:
          schema:
            type: string
            example: '"interaction-fire-ice-v1"'
            description: Entity tag for caching and optimistic locking
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InteractionResponse'
    OK:
      $ref: ../common-service/responses/success.yaml#/OK
    Created:
      $ref: ../common-service/responses/success.yaml#/Created
    BadRequest:
      $ref: ../common-service/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common-service/responses/error.yaml#/Unauthorized
    Forbidden:
      $ref: ../common-service/responses/error.yaml#/Forbidden
    NotFound:
      $ref: ../common-service/responses/error.yaml#/NotFound
    Conflict:
      $ref: ../common-service/responses/error.yaml#/Conflict
    InternalServerError:
      $ref: ../common-service/responses/error.yaml#/InternalServerError
    HealthOK:
      $ref: ../common-service/responses/success.yaml#/HealthOK
  schemas:
    HealthResponse:
      type: object
      required:
      - status
      - timestamp
      properties:
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
          example: healthy
          maxLength: 255
        domain:
          type: string
          example: weapon-effects
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          example: '2025-12-28T10:00:00Z'
          maxLength: 255
        version:
          type: string
          example: 1.0.0
          maxLength: 50
        uptime_seconds:
          type: integer
          example: 3600
          minimum: 0
        active_connections:
          type: integer
          example: 1500
          minimum: 0
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    WebSocketHealthMessage:
      type: object
      required:
      - type
      - timestamp
      - health
      properties:
        type:
          type: string
          enum:
          - health_update
          - health_alert
          - service_down
          example: health_update
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          maxLength: 255
        message_timestamp:
          type: string
          format: date-time
          description: Timestamp of the health message
          maxLength: 1000
        health:
          $ref: '#/components/schemas/HealthResponse'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          example: 500
          format: int32
          minimum: 100
          maximum: 599
        message:
          type: string
          example: Internal server error
          maxLength: 1000
        details:
          type: object
          description: Additional error details

    # ============================================================================
    # WEAPON ELEMENTAL EFFECTS DOMAIN SCHEMAS
    # ============================================================================

    # Weapon Elemental Effect - Domain-specific extension of CombatEffectEntity
    WeaponElementalEffect:
      allOf:
        - $ref: '../common-service/schemas/game-entities.yaml#/CombatEffectEntity'
        - type: object
          required:
            - elemental_type
            - base_damage_modifier
          properties:
            elemental_type:
              type: string
              enum:
                - fire
                - ice
                - poison
                - acid
                - electric
                - void
              description: Elemental damage type
              example: "fire"
            base_damage_modifier:
              type: number
              format: float
              minimum: 0.1
              maximum: 5.0
              description: Base damage multiplier for this element
              example: 1.2
            damage_over_time:
              type: boolean
              description: Whether this effect deals damage over time
              example: true
              default: false
            dot_damage:
              type: integer
              minimum: 0
              maximum: 1000
              description: Damage per tick for DoT effects
              example: 25
            dot_duration:
              type: integer
              minimum: 1000
              maximum: 300000
              description: DoT duration in milliseconds
              example: 10000
            dot_ticks:
              type: integer
              minimum: 1
              maximum: 50
              description: Number of DoT ticks
              example: 10
            resistance_penalty:
              type: number
              format: float
              minimum: 0
              maximum: 1.0
              description: Percentage reduction in target resistance
              example: 0.15
            visual_effect:
              type: string
              description: Visual effect identifier
              example: "fire_trail"
              maxLength: 100
            sound_effect:
              type: string
              description: Sound effect identifier
              example: "fire_crackle"
              maxLength: 100
            is_weapon_attached:
              type: boolean
              description: Whether effect is permanently attached to weapon
              example: false
              default: false
      description: 'BACKEND NOTE: Weapon elemental effect with domain inheritance.
        Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.
        Optimized for MMOFPS combat with <10ms P99 latency targets.'

    # Applied Weapon Elemental Effect
    AppliedWeaponEffect:
      allOf:
        - $ref: '#/components/schemas/WeaponElementalEffect'
        - type: object
          required:
            - applied_at
            - expires_at
            - current_stacks
          properties:
            applied_at:
              type: string
              format: date-time
              description: When effect was applied
              example: '2025-12-21T10:00:00Z'
            expires_at:
              type: string
              format: date-time
              description: When effect expires
              example: '2025-12-21T10:00:10Z'
            current_stacks:
              type: integer
              minimum: 1
              maximum: 10
              description: Current number of effect stacks
              example: 2
            effect_level:
              type: integer
              minimum: 1
              maximum: 50
              description: Effect potency level
              example: 3
            is_primary:
              type: boolean
              description: Whether this is the primary effect
              example: true
              default: false
      description: 'BACKEND NOTE: Active weapon elemental effect instance.
        Includes timing and stacking information for real-time combat tracking.'

    # Elemental Interaction Rule
    ElementalInteractionRule:
      allOf:
        - $ref: '../common-service/schemas/common.yaml#/BaseEntity'
        - type: object
          required:
            - attacker_element
            - defender_element
            - damage_multiplier
          properties:
            attacker_element:
              type: string
              enum:
                - fire
                - ice
                - poison
                - acid
                - electric
                - void
              description: Attacking elemental type
              example: "fire"
            defender_element:
              type: string
              enum:
                - fire
                - ice
                - poison
                - acid
                - electric
                - void
              description: Defending elemental type
              example: "ice"
            result_element:
              type: string
              enum:
                - fire
                - ice
                - poison
                - acid
                - electric
                - void
                - steam
                - plasma
                - conductive
              description: Resulting elemental type from interaction
              example: "steam"
            damage_multiplier:
              type: number
              format: float
              minimum: 0
              maximum: 10.0
              description: Damage multiplier for this interaction
              example: 1.5
            interaction_type:
              type: string
              enum:
                - synergy
                - conflict
                - neutral
              description: Type of elemental interaction
              example: "synergy"
            description:
              type: string
              description: Human-readable description of the interaction
              example: "Fire melts ice, creating steam with increased damage"
              maxLength: 500
      description: 'BACKEND NOTE: Elemental interaction rule for damage calculations.
        Defines how different elements interact in combat scenarios.'

    # Request/Response Schemas
    WeaponEffectUpsertRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 64
          description: Effect display name
          example: "Inferno Blaze"
        elemental_type:
          type: string
          enum:
            - fire
            - ice
            - poison
            - acid
            - electric
            - void
          description: Elemental damage type
          example: "fire"
        base_damage_modifier:
          type: number
          format: float
          minimum: 0.1
          maximum: 5.0
          description: Base damage multiplier
          example: 1.2
        damage_over_time:
          type: boolean
          description: Enables DoT mechanics
          example: true
        dot_damage:
          type: integer
          minimum: 0
          maximum: 1000
          description: Damage per DoT tick
          example: 25
        dot_duration:
          type: integer
          minimum: 1000
          maximum: 300000
          description: DoT duration in milliseconds
          example: 10000
        dot_ticks:
          type: integer
          minimum: 1
          maximum: 50
          description: Number of DoT ticks
          example: 10
        resistance_penalty:
          type: number
          format: float
          minimum: 0
          maximum: 1.0
          description: Resistance reduction percentage
          example: 0.15
        visual_effect:
          type: string
          description: Visual effect identifier
          example: "fire_trail"
          maxLength: 100
        sound_effect:
          type: string
          description: Sound effect identifier
          example: "fire_crackle"
          maxLength: 100
      required:
        - name
        - elemental_type
        - base_damage_modifier
      additionalProperties: false
      description: 'BACKEND NOTE: Weapon effect creation/update request.
        Fields ordered for struct alignment (large → small).'

    WeaponEffectResponse:
      type: object
      required:
      - effect
      properties:
        effect:
          $ref: '#/components/schemas/WeaponElementalEffect'
      description: 'BACKEND NOTE: Weapon effect response wrapper.
        Optimized for API serialization.'

    WeaponEffectListResponse:
      type: object
      required:
      - effects
      - pagination
      properties:
        effects:
          type: array
          items:
            $ref: '#/components/schemas/WeaponElementalEffect'
          description: List of weapon effects
        pagination:
          type: object
          required:
            - items
            - total
            - limit
            - offset
          properties:
            items:
              type: integer
              minimum: 0
              description: Number of items in this response
              example: 20
            total:
              type: integer
              minimum: 0
              description: Total number of effects matching criteria
              example: 150
            limit:
              type: integer
              minimum: 1
              maximum: 100
              description: Items per page
              example: 20
            offset:
              type: integer
              minimum: 0
              description: Number of items to skip
              example: 0
      description: 'BACKEND NOTE: Paginated weapon effects list.
        Optimized for large datasets with efficient memory usage.'

    InteractionUpsertRequest:
      type: object
      properties:
        attacker_element:
          type: string
          enum:
            - fire
            - ice
            - poison
            - acid
            - electric
            - void
          description: Attacking elemental type
          example: "fire"
        defender_element:
          type: string
          enum:
            - fire
            - ice
            - poison
            - acid
            - electric
            - void
          description: Defending elemental type
          example: "ice"
        result_element:
          type: string
          enum:
            - fire
            - ice
            - poison
            - acid
            - electric
            - void
            - steam
            - plasma
            - conductive
          description: Resulting elemental type
          example: "steam"
        damage_multiplier:
          type: number
          format: float
          minimum: 0
          maximum: 10.0
          description: Damage multiplier for this interaction
          example: 1.5
        interaction_type:
          type: string
          enum:
            - synergy
            - conflict
            - neutral
          description: Type of elemental interaction
          example: "synergy"
        description:
          type: string
          description: Human-readable description
          example: "Fire melts ice, creating steam with increased damage"
          maxLength: 500
      required:
        - attacker_element
        - defender_element
        - damage_multiplier
      additionalProperties: false
      description: 'BACKEND NOTE: Elemental interaction rule creation/update.
        Defines elemental synergies and conflicts.'

    InteractionResponse:
      type: object
      required:
      - interaction
      properties:
        interaction:
          $ref: '#/components/schemas/ElementalInteractionRule'
      description: 'BACKEND NOTE: Interaction rule response wrapper.'

    InteractionListResponse:
      type: object
      required:
      - interactions
      properties:
        interactions:
          type: array
          items:
            $ref: '#/components/schemas/ElementalInteractionRule'
          description: List of elemental interaction rules
      description: 'BACKEND NOTE: Interaction rules list for combat calculations.'

    InteractionPreviewRequest:
      type: object
      properties:
        attacker_element:
          type: string
          enum:
            - fire
            - ice
            - poison
            - acid
            - electric
            - void
          description: Attacking elemental type
          example: "fire"
        defender_element:
          type: string
          enum:
            - fire
            - ice
            - poison
            - acid
            - electric
            - void
          description: Defending elemental type
          example: "ice"
        base_damage:
          type: number
          format: float
          minimum: 0
          description: Base damage amount
          example: 100.0
        defender_is_wet:
          type: boolean
          description: Whether defender is wet (affects electric/fire interactions)
          example: false
        defender_is_armor_broken:
          type: boolean
          description: Whether defender armor is broken (affects physical/elemental interactions)
          example: false
        stacks_applied:
          type: integer
          format: int32
          minimum: 0
          description: Number of effect stacks already applied
          example: 2
      required:
        - attacker_element
        - defender_element
        - base_damage
      additionalProperties: false
      description: 'BACKEND NOTE: Preview request for elemental interactions.
        Used for real-time combat calculations and UI feedback.'

    InteractionPreviewResponse:
      type: object
      properties:
        applied_status:
          type: string
          description: Status effect that will be applied
          example: "burn"
          maxLength: 64
        notes:
          type: array
          items:
            type: string
            maxLength: 256
          description: Human-readable interaction notes
          example: ["Fire damage increased due to ice weakness", "Steam cloud created"]
        total_damage:
          type: number
          format: float
          minimum: 0
          description: Total calculated damage after interactions
          example: 150.0
        damage_multiplier:
          type: number
          format: float
          minimum: 0
          description: Applied damage multiplier
          example: 1.5
      required:
        - total_damage
        - damage_multiplier
      additionalProperties: false
      description: 'BACKEND NOTE: Preview response with calculated damage and effects.
        Critical for real-time combat feedback and UI updates.'

    # Combat-specific schemas
    ApplyEffectsRequest:
      type: object
      required:
        - target_id
        - effects
      properties:
        target_id:
          type: string
          format: uuid
          description: Target entity to apply effects to
        effects:
          type: array
          items:
            $ref: '#/components/schemas/EffectApplication'
          minItems: 1
          maxItems: 10
          description: Effects to apply
        source_id:
          type: string
          format: uuid
          description: Source entity applying effects
        combat_session_id:
          type: string
          format: uuid
          description: Associated combat session
      description: 'BACKEND NOTE: Request validated for effect stacking limits.
        Source authorization checked before application.'

    EffectApplication:
      type: object
      required:
        - effect_type
        - effect_name
        - duration_seconds
        - value
      properties:
        effect_type:
          type: string
          enum:
            - buff
            - debuff
            - status
          description: Category of effect
        effect_name:
          type: string
          enum:
            - strength_boost
            - agility_boost
            - intelligence_boost
            - speed_boost
            - regeneration
            - shield
            - critical_chance
            - damage_reduction
            - movement_slow
            - weakness
            - poison
            - bleed
            - burn
            - stun
            - blind
            - paralyze
          description: Specific effect identifier
        duration_seconds:
          type: integer
          minimum: 1
          maximum: 3600
          description: Effect duration in seconds
        value:
          type: number
          format: float
          description: Effect magnitude (damage, percentage, etc.)
        stacks:
          type: integer
          minimum: 1
          maximum: 5
          default: 1
          description: Number of stacks to apply
        source_id:
          type: string
          format: uuid
          description: Effect source override
      description: 'BACKEND NOTE: Effect parameters validated against game balance rules.
        Duration capped to prevent permanent effects.'

    ApplyEffectsResponse:
      type: object
      required:
        - target_id
        - applied_effects
        - timestamp
      properties:
        target_id:
          type: string
          format: uuid
          description: Target entity identifier
        applied_effects:
          type: array
          items:
            $ref: '#/components/schemas/AppliedEffect'
          description: Successfully applied effects
        rejected_effects:
          type: array
          items:
            type: object
            required:
              - effect_name
              - reason
            properties:
              effect_name:
                type: string
              reason:
                type: string
                enum:
                  - stacking_limit_exceeded
                  - immunity
                  - invalid_parameters
                  - target_not_found
              details:
                type: string
          description: Effects that could not be applied
        timestamp:
          type: string
          format: date-time
          description: Application timestamp
      description: 'BACKEND NOTE: Response includes rejection reasons for debugging.
        Applied effects logged for audit trail.'

    AppliedEffect:
      type: object
      required:
        - effect_id
        - effect_type
        - effect_name
        - remaining_seconds
        - value
      properties:
        effect_id:
          type: string
          format: uuid
          description: Unique effect instance identifier
        effect_type:
          type: string
          enum:
            - buff
            - debuff
            - status
        effect_name:
          type: string
        remaining_seconds:
          type: integer
          minimum: 0
          description: Time remaining in seconds
        value:
          type: number
          format: float
        stacks:
          type: integer
          minimum: 1
        source_id:
          type: string
          format: uuid
        applied_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Effect instances tracked for cleanup and stacking.
        IDs used for effect removal and modification.'

    ActiveEffectsResponse:
      type: object
      required:
        - target_id
        - effects
        - timestamp
      properties:
        target_id:
          type: string
          format: uuid
          description: Target entity identifier
        effects:
          type: array
          items:
            $ref: '#/components/schemas/ActiveEffect'
          description: Currently active effects
        summary:
          type: object
          properties:
            buff_count:
              type: integer
              minimum: 0
            debuff_count:
              type: integer
              minimum: 0
            status_count:
              type: integer
              minimum: 0
            total_effects:
              type: integer
              minimum: 0
          description: Effects count summary
        timestamp:
          type: string
          format: date-time
          description: Response timestamp
      description: 'BACKEND NOTE: Response optimized for real-time UI updates.
        Effects sorted by remaining duration for priority display.'

    ActiveEffect:
      type: object
      required:
        - effect_id
        - effect_type
        - effect_name
        - remaining_seconds
        - value
        - source_id
      properties:
        effect_id:
          type: string
          format: uuid
          description: Effect instance identifier
        effect_type:
          type: string
          enum:
            - buff
            - debuff
            - status
        effect_name:
          type: string
        remaining_seconds:
          type: integer
          minimum: 0
          description: Time remaining in seconds
        value:
          type: number
          format: float
          description: Current effect magnitude
        stacks:
          type: integer
          minimum: 1
          description: Current stack count
        source_id:
          type: string
          format: uuid
          description: Effect source
        applied_at:
          type: string
          format: date-time
          description: When effect was applied
        max_stacks:
          type: integer
          minimum: 1
          description: Maximum allowed stacks
        is_expired:
          type: boolean
          default: false
          description: Whether effect has expired
      description: 'BACKEND NOTE: Active effects cached for performance.
        Expiration tracked for automatic cleanup.'

    ExtendEffectRequest:
      type: object
      required:
        - additional_seconds
      properties:
        additional_seconds:
          type: integer
          minimum: 1
          maximum: 3600
          description: Seconds to add to effect duration
        new_value:
          type: number
          format: float
          description: Optional value override
        source_id:
          type: string
          format: uuid
          description: Extension source
      description: 'BACKEND NOTE: Extension validated against duration caps.
        Source authorization checked for effect modification.'

    EffectResponse:
      type: object
      required:
        - effect_id
        - status
        - remaining_seconds
      properties:
        effect_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - extended
            - unchanged
            - expired
        remaining_seconds:
          type: integer
          minimum: 0
        new_value:
          type: number
          format: float
        updated_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Response indicates effect modification result.
        Used for effect refresh mechanics and duration tracking.'
components:
  securitySchemes:
    BearerAuth:
      $ref: ../common-service/security/security.yaml#/BearerAuth
          type: string
          format: uuid
          description: Associated combat session
      description: '"BACKEND NOTE: Request validated for effect stacking limits.

        Source authorization checked before application."

        '
    EffectApplication:
      type: object
      required:
      - effect_type
      - effect_name
      - duration_seconds
      - value
      properties:
        effect_type:
          type: string
          enum:
          - buff
          - debuff
          - status
          description: Category of effect
        effect_name:
          type: string
          enum:
          - strength_boost
          - agility_boost
          - intelligence_boost
          - speed_boost
          - regeneration
          - shield
          - critical_chance
          - damage_reduction
          - movement_slow
          - weakness
          - poison
          - bleed
          - burn
          - stun
          - blind
          - paralyze
          description: Specific effect identifier
        duration_seconds:
          type: integer
          minimum: 1
          maximum: 3600
          description: Effect duration in seconds
        value:
          type: number
          format: float
          description: Effect magnitude (damage, percentage, etc.)
        stacks:
          type: integer
          minimum: 1
          maximum: 5
          default: 1
          description: Number of stacks to apply
        source_id:
          type: string
          format: uuid
          description: Effect source override
      description: '"BACKEND NOTE: Effect parameters validated against game balance
        rules.

        Duration capped to prevent permanent effects."

        '
    ApplyEffectsResponse:
      type: object
      required:
      - target_id
      - applied_effects
      - timestamp
      properties:
        target_id:
          type: string
          format: uuid
          description: Target entity identifier
        applied_effects:
          type: array
          items:
            $ref: '#/components/schemas/AppliedEffect'
          description: Successfully applied effects
        rejected_effects:
          type: array
          items:
            type: object
            required:
            - effect_name
            - reason
            properties:
              effect_name:
                type: string
              reason:
                type: string
                enum:
                - stacking_limit_exceeded
                - immunity
                - invalid_parameters
                - target_not_found
              details:
                type: string
          description: Effects that could not be applied
        timestamp:
          type: string
          format: date-time
          description: Application timestamp
      description: '"BACKEND NOTE: Response includes rejection reasons for debugging.

        Applied effects logged for audit trail."

        '
    AppliedEffect:
      type: object
      required:
      - effect_id
      - effect_type
      - effect_name
      - remaining_seconds
      - value
      properties:
        effect_id:
          type: string
          format: uuid
          description: Unique effect instance identifier
        effect_type:
          type: string
          enum:
          - buff
          - debuff
          - status
        effect_name:
          type: string
        remaining_seconds:
          type: integer
          minimum: 0
          description: Remaining duration
        value:
          type: number
          format: float
        stacks:
          type: integer
          minimum: 1
        source_id:
          type: string
          format: uuid
        applied_at:
          type: string
          format: date-time
      description: '"BACKEND NOTE: Effect instances tracked for cleanup and stacking.

        IDs used for effect removal and modification."

        '
    ActiveEffectsResponse:
      type: object
      required:
      - target_id
      - effects
      - timestamp
      properties:
        target_id:
          type: string
          format: uuid
          description: Target entity identifier
        effects:
          type: array
          items:
            $ref: '#/components/schemas/ActiveEffect'
          description: Currently active effects
        summary:
          type: object
          properties:
            buff_count:
              type: integer
              minimum: 0
            debuff_count:
              type: integer
              minimum: 0
            status_count:
              type: integer
              minimum: 0
            total_effects:
              type: integer
              minimum: 0
          description: Effects count summary
        timestamp:
          type: string
          format: date-time
          description: Response timestamp
      description: '"BACKEND NOTE: Response optimized for real-time UI updates.

        Effects sorted by remaining duration for priority display."

        '
    ActiveEffect:
      type: object
      required:
      - effect_id
      - effect_type
      - effect_name
      - remaining_seconds
      - value
      - source_id
      properties:
        effect_id:
          type: string
          format: uuid
          description: Effect instance identifier
        effect_type:
          type: string
          enum:
          - buff
          - debuff
          - status
        effect_name:
          type: string
        remaining_seconds:
          type: integer
          minimum: 0
          description: Time remaining in seconds
        value:
          type: number
          format: float
          description: Current effect magnitude
        stacks:
          type: integer
          minimum: 1
          description: Current stack count
        source_id:
          type: string
          format: uuid
          description: Effect source
        applied_at:
          type: string
          format: date-time
          description: When effect was applied
        max_stacks:
          type: integer
          minimum: 1
          description: Maximum allowed stacks
        is_expired:
          type: boolean
          default: false
          description: Whether effect has expired
      description: '"BACKEND NOTE: Active effects cached for performance.

        Expiration tracked for automatic cleanup."

        '
    ExtendEffectRequest:
      type: object
      required:
      - additional_seconds
      properties:
        additional_seconds:
          type: integer
          minimum: 1
          maximum: 3600
          description: Seconds to add to effect duration
        new_value:
          type: number
          format: float
          description: Optional value override
        source_id:
          type: string
          format: uuid
          description: Extension source
      description: '"BACKEND NOTE: Extension validated against duration caps.

        Source authorization checked for effect modification."

        '
    EffectResponse:
      type: object
      required:
      - effect_id
      - status
      - remaining_seconds
      properties:
        effect_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - extended
          - unchanged
          - expired
        remaining_seconds:
          type: integer
          minimum: 0
        new_value:
          type: number
          format: float
        updated_at:
          type: string
          format: date-time
      description: '"BACKEND NOTE: Response indicates effect modification result.

        Used for effect refresh mechanics and duration tracking."

        '
    BearerAuth:
      $ref: ../common-service/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common-service/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common-service/security/security.yaml#/ServiceAuth
