# Enterprise-Grade Effect Service API - SOLID/DRY Domain Inheritance
# Game domain service for effect management, buffs, and debuffs
# Issue: #openapi-refactor

openapi: 3.0.3
info:
  title: Effect Service API
  description: |
    **Enterprise-grade API for Game Effects, Buffs, and Debuffs Management**

    ## Domain Purpose
    Comprehensive effect management service providing real-time application, tracking,
    and synchronization of game effects, buffs, debuffs, and status modifications across
    all NECPGAME gameplay systems.

    ## Business Value
    - Real-time effect calculations and application
    - Complex effect stacking and interaction systems
    - Performance-optimized effect persistence and synchronization
    - Enterprise-grade scalability for millions of concurrent effects
    - Advanced effect analytics and balancing tools

    ## Performance Targets
    - P99 Latency: <25ms for effect operations
    - Throughput: 100,000+ effect operations per second
    - Concurrent Effects: 1,000,000+ active effects supported
    - Memory per Character: <2KB for effect storage

    ## Domain Inheritance
    This service inherits from game-entities.yaml providing:
    - Effect templates as game entities with versioning
    - Character effect tracking with optimistic locking
    - Combat action integration for effect application
    - Ability system integration for effect sources
    - Strict typing with validation rules

  version: "1.0.0"
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT

servers:
  - url: https://api.necpgame.com/v1/effect-service
    description: Production environment
  - url: https://staging-api.necpgame.com/v1/effect-service
    description: Staging environment
  - url: http://localhost:8080/api/v1/effect-service
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: Effect Management
    description: Core effect application and lifecycle operations
  - name: Effect Templates
    description: Effect template creation and management
  - name: Character Effects
    description: Character-specific effect tracking
  - name: Effect Analytics
    description: Effect usage and performance analytics
  - name: Effect Balancing
    description: Effect balancing and modification tools
  - name: Health Monitoring
    description: Service health and performance monitoring

paths:

  /health:
    get:
      operationId: effectServiceHealthCheck
      summary: Basic health check
      description: Returns service health status
      tags: [Health Monitoring]
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/HealthResponse'

  /effects/apply:
    post:
      operationId: effectServiceApplyEffect
      summary: Apply effect to target
      description: |
        Apply an effect to a character or game object with real-time calculation.

        **Effect Application Process:**
        - Validate effect template and target compatibility
        - Calculate effect modifiers and stacking rules
        - Apply effect with immediate synchronization
        - Update character stats and abilities
        - Trigger effect-specific events and notifications
      tags: [Effect Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyEffectRequest'
      responses:
        '200':
          description: Effect applied successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AppliedEffect'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Effect cannot be applied due to stacking rules
          content:
            application/json:
              schema:
                $ref: '../common/responses/error.yaml#/Conflict'

  /effects/remove:
    post:
      operationId: effectServiceRemoveEffect
      summary: Remove effect from target
      description: |
        Remove an active effect from a character or game object.

        **Effect Removal Process:**
        - Validate effect ownership and permissions
        - Calculate effect cleanup and stat restoration
        - Remove effect with immediate synchronization
        - Trigger removal events and notifications
        - Update character stats and abilities
      tags: [Effect Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveEffectRequest'
      responses:
        '200':
          description: Effect removed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          removed_effect_id:
                            type: string
                            format: uuid
                            description: ID of removed effect
                          stat_changes:
                            $ref: '#/components/schemas/StatChanges'
        '404':
          $ref: '#/components/responses/NotFound'

  /effects/modify:
    post:
      operationId: effectServiceModifyEffect
      summary: Modify active effect
      description: |
        Modify parameters of an active effect (strength, duration, etc.).

        **Effect Modification:**
        - Strength adjustment for balancing
        - Duration extension or reduction
        - Stacking rule changes
        - Real-time synchronization
      tags: [Effect Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyEffectRequest'
      responses:
        '200':
          description: Effect modified successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AppliedEffect'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /effects/{effectId}/extend:
    post:
      operationId: effectServiceExtendEffect
      summary: Extend effect duration
      description: |
        Extend the duration of an active effect.

        **Duration Extension:**
        - Add time to existing effect
        - Maintain effect strength and properties
        - Handle maximum duration limits
        - Real-time synchronization
      tags: [Effect Management]
      parameters:
        - name: effectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Effect instance ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - additional_duration_seconds
              properties:
                additional_duration_seconds:
                  type: integer
                  minimum: 1
                  maximum: 86400
                  description: Additional duration in seconds
      responses:
        '200':
          description: Effect duration extended
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AppliedEffect'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /characters/{characterId}/effects:
    get:
      operationId: effectServiceGetCharacterEffects
      summary: Get character active effects
      description: |
        Retrieve all active effects on a character with real-time status.

        **Effect Retrieval:**
        - Active effects with current status
        - Effect stacking information
        - Remaining duration and strength
        - Source information and timestamps
      tags: [Character Effects]
      parameters:
        - name: characterId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Character unique identifier
        - name: include_expired
          in: query
          schema:
            type: boolean
            default: false
          description: Include recently expired effects
        - name: effect_type
          in: query
          schema:
            type: string
            enum: [buff, debuff, crowd_control, healing, damage_over_time]
          description: Filter by effect type
      responses:
        '200':
          description: Character effects retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/AppliedEffect'
                      summary:
                        $ref: '#/components/schemas/CharacterEffectSummary'
        '404':
          $ref: '#/components/responses/NotFound'

  /characters/{characterId}/effects/batch:
    post:
      operationId: effectServiceBatchApplyEffects
      summary: Batch apply effects to character
      description: |
        Apply multiple effects to a character in a single operation.

        **Batch Processing:**
        - Atomic application of multiple effects
        - Stacking rule validation across effects
        - Performance optimization for multiple effects
        - Rollback on partial failures
      tags: [Character Effects]
      parameters:
        - name: characterId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Character unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchApplyEffectsRequest'
      responses:
        '200':
          description: Effects batch applied successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          applied_effects:
                            type: array
                            items:
                              $ref: '#/components/schemas/AppliedEffect'
                          failed_effects:
                            type: array
                            items:
                              type: object
                              properties:
                                effect_template_id:
                                  type: string
                                  format: uuid
                                error_message:
                                  type: string
                          stat_changes:
                            $ref: '#/components/schemas/StatChanges'
        '400':
          $ref: '#/components/responses/BadRequest'

  /characters/{characterId}/effects/clear:
    post:
      operationId: effectServiceClearCharacterEffects
      summary: Clear all character effects
      description: |
        Remove all active effects from a character.

        **Effect Clearing:**
        - Remove all effects of specified types
        - Restore character to base stats
        - Trigger cleanup events
        - Performance-optimized bulk removal
      tags: [Character Effects]
      parameters:
        - name: characterId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Character unique identifier
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                effect_types:
                  type: array
                  items:
                    type: string
                    enum: [buff, debuff, crowd_control, healing, damage_over_time]
                  description: Effect types to clear (empty = all types)
                preserve_permanent:
                  type: boolean
                  default: true
                  description: Preserve permanent effects
      responses:
        '200':
          description: Character effects cleared
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          removed_count:
                            type: integer
                            description: Number of effects removed
                          stat_changes:
                            $ref: '#/components/schemas/StatChanges'
        '404':
          $ref: '#/components/responses/NotFound'

  /templates:
    post:
      operationId: effectServiceCreateTemplate
      summary: Create effect template
      description: |
        Create a new effect template with comprehensive configuration.

        **Template Creation:**
        - Define effect properties and modifiers
        - Configure stacking and interaction rules
        - Set visual and audio effects
        - Define balancing parameters
      tags: [Effect Templates]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEffectTemplateRequest'
      responses:
        '201':
          description: Effect template created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/Created'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EffectTemplate'
        '400':
          $ref: '#/components/responses/BadRequest'

    get:
      operationId: effectServiceListTemplates
      summary: List effect templates
      description: Retrieve paginated list of effect templates with filtering
      tags: [Effect Templates]
      parameters:
        - name: effect_type
          in: query
          schema:
            type: string
            enum: [buff, debuff, crowd_control, healing, damage_over_time]
          description: Filter by effect type
        - name: category
          in: query
          schema:
            type: string
          description: Filter by category
        - name: active_only
          in: query
          schema:
            type: boolean
            default: true
          description: Include only active templates
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of templates to return
      responses:
        '200':
          description: Effect templates retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/EffectTemplateSummary'

  /templates/{templateId}:
    get:
      operationId: effectServiceGetTemplate
      summary: Get effect template
      description: Retrieve detailed effect template information
      tags: [Effect Templates]
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Template unique identifier
      responses:
        '200':
          description: Effect template retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EffectTemplate'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      operationId: effectServiceUpdateTemplate
      summary: Update effect template
      description: |
        Update template configuration with versioning.

        **Template Updates:**
        - Create new template version
        - Validate effect calculations
        - Update active effects if safe
        - Maintain version history
      tags: [Effect Templates]
      parameters:
        - name: templateId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Template unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEffectTemplateRequest'
      responses:
        '200':
          description: Template updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EffectTemplate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /analytics/usage:
    get:
      operationId: effectServiceGetUsageAnalytics
      summary: Get effect usage analytics
      description: |
        Retrieve comprehensive analytics about effect usage and performance.

        **Analytics Coverage:**
        - Effect application frequency and patterns
        - Popular effect combinations and stacking
        - Performance impact on gameplay
        - Balancing effectiveness metrics
        - Geographic usage distribution
      tags: [Effect Analytics]
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
          description: Start date for analytics
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
          description: End date for analytics
        - name: effect_type
          in: query
          schema:
            type: string
            enum: [buff, debuff, crowd_control, healing, damage_over_time]
          description: Filter by effect type
        - name: template_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by specific template
      responses:
        '200':
          description: Usage analytics retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EffectUsageAnalytics'

  /balancing/adjust:
    post:
      operationId: effectServiceAdjustEffectBalancing
      summary: Adjust effect balancing parameters
      description: |
        Adjust effect parameters for game balancing.

        **Balancing Operations:**
        - Strength modification across effect types
        - Duration adjustments
        - Stacking rule changes
        - Real-time effect updates for active instances
      tags: [Effect Balancing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EffectBalancingAdjustmentRequest'
      responses:
        '200':
          description: Balancing adjustments applied
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          adjusted_templates:
                            type: integer
                            description: Number of templates adjusted
                          affected_characters:
                            type: integer
                            description: Number of characters affected
                          balancing_version:
                            type: string
                            description: New balancing version

components:

  responses:
    OK:
      $ref: '../common/responses/success.yaml#/OK'
    Created:
      $ref: '../common/responses/success.yaml#/Created'
    Updated:
      $ref: '../common/responses/success.yaml#/Updated'
    BadRequest:
      $ref: '../common/responses/error.yaml#/BadRequest'
    NotFound:
      $ref: '../common/responses/error.yaml#/NotFound'
    Conflict:
      $ref: '../common/responses/error.yaml#/Conflict'

  schemas:

    # Domain Inheritance - Effect Service Entities
    AppliedEffect:
      description: Active effect instance applied to a character
      type: object
      required:
        - id
        - character_id
        - template_id
        - applied_at
        - expires_at
        - current_strength
      properties:
        id:
          type: string
          format: uuid
          description: Effect instance unique identifier
        character_id:
          type: string
          format: uuid
          description: Character this effect is applied to
        template_id:
          type: string
          format: uuid
          description: Effect template used
        source_id:
          type: string
          format: uuid
          description: Source that applied the effect (ability, item, etc.)
        source_type:
          type: string
          enum: [ability, item, skill, environment, system]
          description: Type of effect source
        applied_at:
          type: string
          format: date-time
          description: When effect was applied
        expires_at:
          type: string
          format: date-time
          description: When effect expires
        duration_seconds:
          type: integer
          minimum: 0
          description: Total effect duration in seconds
        remaining_seconds:
          type: integer
          minimum: 0
          description: Remaining duration in seconds
        current_strength:
          type: number
          minimum: 0
          maximum: 1000
          description: Current effect strength (can be modified)
        base_strength:
          type: number
          minimum: 0
          maximum: 1000
          description: Base strength from template
        stat_modifiers:
          type: object
          description: Current stat modifications applied
          additionalProperties:
            type: number
          example:
            strength: 15
            agility: -5
            health_regen: 10
        stacking_count:
          type: integer
          minimum: 1
          default: 1
          description: Number of stacked instances
        max_stacks:
          type: integer
          minimum: 1
          description: Maximum allowed stacks
        is_permanent:
          type: boolean
          default: false
          description: Whether effect is permanent
        can_dispel:
          type: boolean
          default: true
          description: Whether effect can be dispelled
        dispel_resistance:
          type: number
          minimum: 0
          maximum: 1
          default: 0
          description: Resistance to dispelling (0-1)
        visual_effect_id:
          type: string
          description: Associated visual effect identifier
        audio_effect_id:
          type: string
          description: Associated audio effect identifier
        metadata:
          type: object
          description: Additional effect metadata
          additionalProperties: true

    EffectTemplate:
      description: Effect template configuration with game domain inheritance
      allOf:
        - $ref: '../common/schemas/game-entities.yaml#/BaseGameEntity'
        - type: object
          properties:
            name:
              type: string
              minLength: 1
              maxLength: 100
              description: Effect template name
            description:
              type: string
              maxLength: 500
              description: Effect description
            effect_type:
              type: string
              enum: [buff, debuff, crowd_control, healing, damage_over_time]
              description: Primary effect type
            category:
              type: string
              minLength: 1
              maxLength: 50
              description: Effect category for organization
            base_strength:
              type: number
              minimum: 0
              maximum: 1000
              description: Base effect strength
            duration_seconds:
              type: integer
              minimum: 0
              description: Base duration (0 = permanent)
            stat_modifiers:
              type: object
              description: Stat modifications applied
              additionalProperties:
                oneOf:
                  - type: number
                    description: Flat modifier
                  - type: string
                    pattern: '^[-+]?\\d*\\.?\\d+%$'
                    description: Percentage modifier
              example:
                strength: "+15"
                agility: "-10%"
                health_regen: "+5"
            stacking_rules:
              $ref: '#/components/schemas/EffectStackingRules'
            interaction_rules:
              type: array
              items:
                $ref: '#/components/schemas/EffectInteractionRule'
              description: Rules for interacting with other effects
            visual_config:
              type: object
              properties:
                icon_id:
                  type: string
                  description: Effect icon identifier
                particle_effect_id:
                  type: string
                  description: Particle effect identifier
                color_hex:
                  type: string
                  pattern: '^#[0-9A-Fa-f]{6}$'
                  description: Effect color
                animation_type:
                  type: string
                  enum: [static, pulsing, rotating, fading]
                  description: Visual animation type
              description: Visual effect configuration
            audio_config:
              type: object
              properties:
                sound_effect_id:
                  type: string
                  description: Sound effect identifier
                volume_multiplier:
                  type: number
                  minimum: 0
                  maximum: 2
                  default: 1
                  description: Volume adjustment
                loop:
                  type: boolean
                  default: false
                  description: Whether to loop audio
              description: Audio effect configuration
            balancing_config:
              type: object
              properties:
                power_level:
                  type: integer
                  minimum: 1
                  maximum: 100
                  description: Effect power level for balancing
                target_difficulty:
                  type: string
                  enum: [easy, normal, hard, expert]
                  description: Intended difficulty level
                scaling_factor:
                  type: number
                  minimum: 0.1
                  maximum: 10
                  default: 1
                  description: Difficulty scaling multiplier
              description: Balancing configuration
            is_active:
              type: boolean
              default: true
              description: Whether template is active

    EffectStackingRules:
      description: Rules for effect stacking behavior
      type: object
      properties:
        stacking_type:
          type: string
          enum: [none, replace, refresh, intensify, separate]
          default: "none"
          description: How effects stack
        max_stacks:
          type: integer
          minimum: 1
          default: 1
          description: Maximum number of stacks
        stack_duration_refresh:
          type: boolean
          default: false
          description: Whether new stacks refresh duration
        strength_per_stack:
          type: number
          minimum: 0
          description: Additional strength per stack
        stack_limit_source:
          type: boolean
          default: false
          description: Whether stacks are limited by source

    EffectInteractionRule:
      description: Rules for effect interactions
      type: object
      required:
        - target_effect_type
        - interaction_type
      properties:
        target_effect_type:
          type: string
          enum: [buff, debuff, crowd_control, healing, damage_over_time]
          description: Type of effect to interact with
        interaction_type:
          type: string
          enum: [amplify, reduce, cancel, prevent, combine]
          description: Type of interaction
        strength_modifier:
          type: number
          description: Strength modification factor
        priority:
          type: integer
          minimum: 1
          maximum: 100
          description: Interaction priority

    CharacterEffectSummary:
      description: Summary of character active effects
      type: object
      properties:
        total_effects:
          type: integer
          description: Total number of active effects
        effect_counts_by_type:
          type: object
          additionalProperties:
            type: integer
          description: Count by effect type
        active_buff_count:
          type: integer
          description: Number of active buffs
        active_debuff_count:
          type: integer
          description: Number of active debuffs
        crowd_control_active:
          type: boolean
          description: Whether character is under crowd control
        permanent_effects_count:
          type: integer
          description: Number of permanent effects

    StatChanges:
      description: Summary of stat changes from effect operations
      type: object
      properties:
        strength:
          type: number
          description: Strength change
        agility:
          type: number
          description: Agility change
        intelligence:
          type: number
          description: Intelligence change
        health:
          type: number
          description: Health change
        max_health:
          type: number
          description: Max health change
        mana:
          type: number
          description: Mana change
        max_mana:
          type: number
          description: Max mana change
        health_regen:
          type: number
          description: Health regeneration change
        mana_regen:
          type: number
          description: Mana regeneration change
        movement_speed:
          type: number
          description: Movement speed change
        attack_speed:
          type: number
          description: Attack speed change
        critical_chance:
          type: number
          description: Critical hit chance change
        damage_reduction:
          type: number
          description: Damage reduction change

    EffectUsageAnalytics:
      description: Comprehensive effect usage analytics
      type: object
      properties:
        time_range:
          type: object
          properties:
            start_date:
              type: string
              format: date-time
            end_date:
              type: string
              format: date-time
        total_applications:
          type: integer
          description: Total effect applications
        unique_characters_affected:
          type: integer
          description: Number of unique characters affected
        average_effects_per_character:
          type: number
          description: Average effects per character
        effect_type_distribution:
          type: object
          additionalProperties:
            type: integer
          description: Distribution by effect type
        popular_templates:
          type: array
          items:
            type: object
            properties:
              template_id:
                type: string
                format: uuid
              application_count:
                type: integer
              average_duration_seconds:
                type: number
          description: Most used effect templates
        stacking_analytics:
          type: object
          properties:
            average_stacks_per_effect:
              type: number
              description: Average number of stacks per effect
            max_stacks_reached:
              type: integer
              description: Highest stack count reached
            stacking_efficiency:
              type: number
              minimum: 0
              maximum: 1
              description: How effectively stacking is used
        performance_impact:
          type: object
          properties:
            average_calculation_time_ms:
              type: number
              description: Average effect calculation time
            memory_usage_per_effect_kb:
              type: number
              description: Memory usage per active effect

    EffectTemplateSummary:
      description: Effect template summary for listings
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        effect_type:
          type: string
          enum: [buff, debuff, crowd_control, healing, damage_over_time]
        category:
          type: string
        base_strength:
          type: number
        duration_seconds:
          type: integer
        is_active:
          type: boolean
        last_updated:
          type: string
          format: date-time

    # Request/Response schemas
    ApplyEffectRequest:
      description: Request payload for applying an effect
      type: object
      required:
        - character_id
        - template_id
      properties:
        character_id:
          type: string
          format: uuid
          description: Target character ID
        template_id:
          type: string
          format: uuid
          description: Effect template to apply
        source_id:
          type: string
          format: uuid
          description: Source applying the effect
        source_type:
          type: string
          enum: [ability, item, skill, environment, system]
          default: "system"
          description: Type of effect source
        strength_modifier:
          type: number
          minimum: 0.1
          maximum: 10
          default: 1
          description: Strength multiplier
        duration_modifier:
          type: number
          minimum: 0.1
          maximum: 10
          default: 1
          description: Duration multiplier
        custom_metadata:
          type: object
          description: Additional effect metadata
          additionalProperties: true

    RemoveEffectRequest:
      description: Request payload for removing an effect
      type: object
      required:
        - effect_id
      properties:
        effect_id:
          type: string
          format: uuid
          description: Effect instance ID to remove
        removal_reason:
          type: string
          enum: [expired, dispelled, cancelled, replaced, system_removal]
          default: "system_removal"
          description: Reason for effect removal

    ModifyEffectRequest:
      description: Request payload for modifying an effect
      type: object
      required:
        - effect_id
      properties:
        effect_id:
          type: string
          format: uuid
          description: Effect instance ID to modify
        strength_modifier:
          type: number
          minimum: 0.1
          maximum: 10
          description: New strength multiplier
        duration_extension_seconds:
          type: integer
          minimum: 0
          maximum: 86400
          description: Additional duration in seconds
        stat_modifiers_override:
          type: object
          description: Override stat modifiers
          additionalProperties:
            type: number

    BatchApplyEffectsRequest:
      description: Request payload for batch effect application
      type: object
      required:
        - effects
      properties:
        effects:
          type: array
          items:
            $ref: '#/components/schemas/ApplyEffectRequest'
          minItems: 1
          maxItems: 50
          description: Effects to apply
        atomic_operation:
          type: boolean
          default: true
          description: Whether all effects must succeed or fail together
        ignore_stacking_conflicts:
          type: boolean
          default: false
          description: Ignore stacking rule conflicts

    CreateEffectTemplateRequest:
      description: Request payload for creating effect template
      type: object
      required:
        - name
        - effect_type
        - category
        - base_strength
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Template name
        description:
          type: string
          maxLength: 500
          description: Template description
        effect_type:
          type: string
          enum: [buff, debuff, crowd_control, healing, damage_over_time]
          description: Effect type
        category:
          type: string
          minLength: 1
          maxLength: 50
          description: Effect category
        base_strength:
          type: number
          minimum: 0
          maximum: 1000
          description: Base effect strength
        duration_seconds:
          type: integer
          minimum: 0
          default: 0
          description: Effect duration (0 = permanent)
        stat_modifiers:
          type: object
          description: Stat modifications
          additionalProperties:
            oneOf:
              - type: number
              - type: string
                pattern: '^[-+]?\\d*\\.?\\d+%$'
        stacking_rules:
          $ref: '#/components/schemas/EffectStackingRules'
        visual_config:
          type: object
          properties:
            icon_id:
              type: string
            color_hex:
              type: string
              pattern: '^#[0-9A-Fa-f]{6}$'
        balancing_config:
          type: object
          properties:
            power_level:
              type: integer
              minimum: 1
              maximum: 100
            target_difficulty:
              type: string
              enum: [easy, normal, hard, expert]

    UpdateEffectTemplateRequest:
      description: Request payload for updating effect template
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        base_strength:
          type: number
          minimum: 0
          maximum: 1000
        duration_seconds:
          type: integer
          minimum: 0
        stat_modifiers:
          type: object
          additionalProperties:
            oneOf:
              - type: number
              - type: string
                pattern: '^[-+]?\\d*\\.?\\d+%$'
        stacking_rules:
          $ref: '#/components/schemas/EffectStackingRules'
        visual_config:
          type: object
          properties:
            icon_id:
              type: string
            color_hex:
              type: string
              pattern: '^#[0-9A-Fa-f]{6}$'
        balancing_config:
          type: object
          properties:
            power_level:
              type: integer
              minimum: 1
              maximum: 100
            target_difficulty:
              type: string
              enum: [easy, normal, hard, expert]
        is_active:
          type: boolean

    EffectBalancingAdjustmentRequest:
      description: Request payload for effect balancing adjustments
      type: object
      required:
        - adjustments
      properties:
        adjustments:
          type: array
          items:
            type: object
            required:
              - template_ids
              - adjustment_type
            properties:
              template_ids:
                type: array
                items:
                  type: string
                  format: uuid
                description: Templates to adjust
              adjustment_type:
                type: string
                enum: [strength_multiplier, duration_multiplier, stat_modifier_adjustment]
                description: Type of adjustment
              value:
                type: number
                description: Adjustment value
              effect_types:
                type: array
                items:
                  type: string
                  enum: [buff, debuff, crowd_control, healing, damage_over_time]
                description: Effect types to adjust (alternative to template_ids)
          description: Balancing adjustments to apply
        apply_to_active_effects:
          type: boolean
          default: false
          description: Apply adjustments to currently active effects
        balancing_version:
          type: string
          minLength: 1
          maxLength: 50
          description: New balancing version identifier

  securitySchemes:
    BearerAuth:
      $ref: '../common/security/security.yaml#/BearerAuth'
    ServiceAuth:
      $ref: '../common/security/security.yaml#/ServiceAuth'

# Performance and optimization notes
x-performance:
  p99-latency: "<25ms"
  throughput-target: "100,000+ effect operations/second"
  concurrent-effects-target: "1,000,000+ active effects"
  memory-per-character-target: "<2KB for effects"
  database-indexes: "Composite indexes on (character_id, expires_at), (template_id, effect_type), (source_id, source_type)"

# Monitoring and observability
x-monitoring:
  metrics:
    - effect_apply_rate
    - active_effects_count
    - effect_calculation_time
    - stacking_operations
    - effect_expiration_rate
  alerts:
    - effect_calculation_time > 25ms
    - active_effects_count > 1000000
    - effect_apply_failure_rate > 1%

# Effect system specifics
x-effect-system:
  stacking-types: "none, replace, refresh, intensify, separate - configurable per effect type"
  interaction-rules: "amplify, reduce, cancel, prevent, combine - with priority-based resolution"
  real-time-sync: "WebSocket-based synchronization for effect changes across clients"
  balancing-tools: "Real-time effect strength adjustment, A/B testing, performance analytics"

# Domain inheritance documentation
x-domain-inheritance:
  inherits-from: "common/schemas/game-entities.yaml"
  inherited-entities: "BaseGameEntity, CharacterEntity, CombatActionEntity, AbilityEntity"
  additional-schemas: "Effect stacking rules, interaction systems, visual/audio configurations, balancing tools"
  no-duplication: "All common fields inherited, effect-specific real-time synchronization and balancing extensions added"

