openapi: 3.0.3
info:
  title: Auth Service Token API
  version: 1.0.0
  description: |
    API для управления JWT access/refresh токенами: обновление, проверка,
    отзыв и массовое завершение сессий. Используется геймплейными сервисами
    и клиентами для продления сессий и принудительного выхода.
  x-microservice:
    name: auth-service
    port: 8081
    domain: auth
    base-path: /api/v1/auth
    package: com.necpgame.authservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

paths:
  /auth/token/refresh:
    post:
      tags: [Tokens]
      summary: Обновить access token по refresh token
      description: Возвращает новый комплект токенов. Лимит 5 запросов за 5 минут на refresh token.
      operationId: refreshToken
      x-rateLimit:
        rules:
          - key: refresh-token
            limit: 5
            interval: 5m
            scope: refresh_token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Новый набор токенов выдаётся клиенту
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenRefreshResponse'
        '400': { "$ref": "../../shared/common/responses.yaml#/components/responses/BadRequest" }
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '429': { "$ref": "../../shared/common/responses.yaml#/components/responses/TooManyRequests" }

  /auth/token/verify:
    post:
      tags: [Tokens]
      summary: Проверить валидность токена
      description: Используется API Gateway и игровыми сервисами для проверки
        пользовательских токенов.
      operationId: verifyToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenVerifyRequest'
      responses:
        '200':
          description: Результат валидации токена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenVerifyResponse'
        '400': { "$ref": "../../shared/common/responses.yaml#/components/responses/BadRequest" }

  /auth/token/revoke:
    post:
      tags: [Tokens]
      summary: Отозвать refresh token
      description: Добавляет refresh token в blacklist и закрывает связанные access токены.
      operationId: revokeToken
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '204':
          description: Токен отозван
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }

  /auth/token/revoke-all:
    post:
      tags: [Tokens]
      summary: Завершить все сессии пользователя
      description: Инвалидирует все refresh tokens пользователя (logout everywhere).
      operationId: revokeAllTokens
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRevokeAllRequest'
      responses:
        '204':
          description: Все токены отозваны
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }

  /auth/token/blacklist/{tokenId}:
    get:
      tags: [Tokens]
      summary: Проверить наличие токена в blacklist
      description: Диагностическая ручка для аналитики и поддержки.
      operationId: getBlacklistStatus
      security:
        - BearerAuth: []
      parameters:
        - name: tokenId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Статус токена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlacklistStatusResponse'
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }

components:
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'

  schemas:
    RefreshTokenRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token:
          type: string
          description: Refresh token в формате JWT/opaque
    TokenRefreshResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          format: int32
          description: Время жизни нового access token (сек)
    TokenVerifyRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string
        audience:
          type: string
          description: Ожидаемая аудитория токена (для внутренних сервисов)
    TokenVerifyResponse:
      type: object
      properties:
        valid:
          type: boolean
        account_id:
          type: string
          format: uuid
          nullable: true
        expires_at:
          type: string
          format: date-time
        issued_at:
          type: string
          format: date-time
        roles:
          type: array
          items:
            type: string
        reason:
          type: string
          description: Причина невалидности (если valid=false)
    TokenRevokeAllRequest:
      type: object
      properties:
        reason:
          type: string
          description: Опциональная заметка для журнала аудита
    BlacklistStatusResponse:
      type: object
      properties:
        token_id:
          type: string
        blacklisted:
          type: boolean
        blacklisted_at:
          type: string
          format: date-time
        comment:
          type: string
