openapi: 3.0.3
info:
  title: Achievement System API
  version: 1.0.0
  description: |
    API для системы достижений.
    
    Функционал:
    - Achievement definitions (название, описание, категория, редкость)
    - Progress tracking (отслеживание прогресса к достижению)
    - Unlocking & rewards (разблокировка, награды: titles, badges, items, currency)
    - Categories (Combat, Social, Economy, Exploration, Story, etc.)
    - Rarity tiers (Common, Rare, Epic, Legendary, Secret)
    - Event-driven tracking (автоматическое обновление при событиях)
    - Notifications (уведомления о прогрессе и разблокировке)
    
    Источник: .BRAIN/05-technical/backend/achievement-system.md v1.0.0

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/progression
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Achievements
    description: Управление достижениями
  - name: Achievement Progress
    description: Отслеживание прогресса

paths:
  /progression/achievements:
    get:
      summary: Получить список всех достижений
      operationId: listAchievements
      tags: [Achievements]
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [COMBAT, SOCIAL, ECONOMY, EXPLORATION, STORY, PROGRESSION, WORLD, HIDDEN]
        - name: rarity
          in: query
          schema:
            type: string
            enum: [COMMON, RARE, EPIC, LEGENDARY, SECRET]
        - name: unlocked
          in: query
          description: Фильтр по статусу разблокировки
          schema:
            type: boolean
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Список достижений
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/AchievementDefinition'

  /progression/achievements/{achievement_id}:
    get:
      summary: Получить детали достижения
      operationId: getAchievement
      tags: [Achievements]
      parameters:
        - name: achievement_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Детали достижения
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementDefinition'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /progression/achievements/player/{player_id}:
    get:
      summary: Получить достижения игрока
      operationId: getPlayerAchievements
      tags: [Achievement Progress]
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [LOCKED, IN_PROGRESS, UNLOCKED]
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Достижения игрока с прогрессом
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PlayerAchievement'

  /progression/achievements/player/{player_id}/progress:
    post:
      summary: Обновить прогресс достижения
      operationId: updateAchievementProgress
      tags: [Achievement Progress]
      description: Используется backend системами для автоматического обновления прогресса
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProgressRequest'
      responses:
        '200':
          description: Прогресс обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgressUpdateResult'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /progression/achievements/player/{player_id}/titles:
    get:
      summary: Получить разблокированные титулы игрока
      operationId: getPlayerTitles
      tags: [Achievement Progress]
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Список титулов
          content:
            application/json:
              schema:
                type: object
                properties:
                  titles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Title'
                  active_title:
                    type: string
                    description: ID активного титула

  /progression/achievements/player/{player_id}/titles/active:
    put:
      summary: Установить активный титул
      operationId: setActiveTitle
      tags: [Achievement Progress]
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Титул установлен
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

components:
  schemas:
    AchievementDefinition:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "First Blood"
        description:
          type: string
          example: "Kill your first enemy"
        category:
          type: string
          enum: [COMBAT, SOCIAL, ECONOMY, EXPLORATION, STORY, PROGRESSION, WORLD, HIDDEN]
        rarity:
          type: string
          enum: [COMMON, RARE, EPIC, LEGENDARY, SECRET]
        icon:
          type: string
          format: uri
        requirements:
          type: object
          properties:
            type:
              type: string
              enum: [COUNTER, BOOLEAN, MILESTONE]
            target_value:
              type: integer
              example: 1
            condition:
              type: string
              example: "kill_enemy_count >= 1"
        rewards:
          $ref: '#/components/schemas/AchievementRewards'
        points:
          type: integer
          description: Achievement points
          example: 10
        is_hidden:
          type: boolean
          description: Скрыто до разблокировки
        created_at:
          type: string
          format: date-time

    AchievementRewards:
      type: object
      properties:
        experience:
          type: integer
          example: 1000
        currency:
          type: object
          properties:
            eddies:
              type: integer
              example: 5000
        items:
          type: array
          items:
            type: object
            properties:
              item_id:
                type: string
                format: uuid
              quantity:
                type: integer
        title:
          $ref: '#/components/schemas/Title'
        badge:
          type: object
          properties:
            badge_id:
              type: string
              format: uuid
            name:
              type: string
            icon:
              type: string
              format: uri

    Title:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Slayer"
        display_name:
          type: string
          example: "[Slayer] Player_Name"
        color:
          type: string
          example: "#FF0000"
        rarity:
          type: string
          enum: [COMMON, RARE, EPIC, LEGENDARY]
        unlocked_at:
          type: string
          format: date-time

    PlayerAchievement:
      type: object
      properties:
        achievement:
          $ref: '#/components/schemas/AchievementDefinition'
        status:
          type: string
          enum: [LOCKED, IN_PROGRESS, UNLOCKED]
        progress:
          type: object
          properties:
            current:
              type: integer
              example: 50
            target:
              type: integer
              example: 100
            percentage:
              type: number
              format: float
              example: 50.0
        unlocked_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time

    UpdateProgressRequest:
      type: object
      required:
        - achievement_id
        - event_type
      properties:
        achievement_id:
          type: string
          format: uuid
        event_type:
          type: string
          example: "enemy_killed"
        increment:
          type: integer
          example: 1
        metadata:
          type: object
          additionalProperties: true
          example:
            enemy_type: "boss"
            location: "night_city"

    ProgressUpdateResult:
      type: object
      properties:
        achievement_id:
          type: string
          format: uuid
        previous_progress:
          type: integer
        new_progress:
          type: integer
        unlocked:
          type: boolean
        rewards_granted:
          $ref: '#/components/schemas/AchievementRewards'

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

