openapi: 3.0.3
info:
  title: Progression Backend API
  version: 1.0.0
  description: |
    API для backend системы прогрессии персонажей.
    КРИТИЧЕСКИЙ MVP БЛОКЕР! Без этого нет прогрессии!
    
    Функционал:
    - Experience calculation & award (расчет и выдача опыта)
    - Level up logic (логика повышения уровня)
    - Attribute points distribution (распределение очков атрибутов)
    - Skill experience tracking (отслеживание опыта навыков)
    - Skill level up rewards (награды за уровень навыков)
    - Progression milestones
    - Level cap management
    
    Источник: .BRAIN/05-technical/backend/progression-backend.md v1.0.0

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/progression
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Experience
    description: Управление опытом
  - name: Level Up
    description: Повышение уровня
  - name: Attributes
    description: Атрибуты персонажа
  - name: Skills
    description: Навыки персонажа

paths:
  /progression/characters/{character_id}/experience:
    get:
      summary: Получить информацию об опыте персонажа
      operationId: getCharacterExperience
      tags: [Experience]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Информация об опыте
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterExperience'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /progression/characters/{character_id}/experience/award:
    post:
      summary: Выдать опыт персонажу
      operationId: awardExperience
      tags: [Experience]
      description: Используется backend системами (quest, combat) для выдачи опыта
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwardExperienceRequest'
      responses:
        '200':
          description: Опыт выдан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperienceAwardResult'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /progression/characters/{character_id}/level-up:
    post:
      summary: Повысить уровень персонажа
      operationId: levelUp
      tags: [Level Up]
      description: Автоматически вызывается когда достаточно опыта
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Уровень повышен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LevelUpResult'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /progression/characters/{character_id}/attributes:
    get:
      summary: Получить атрибуты персонажа
      operationId: getCharacterAttributes
      tags: [Attributes]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Атрибуты персонажа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterAttributes'

  /progression/characters/{character_id}/attributes/spend:
    post:
      summary: Потратить очки атрибутов
      operationId: spendAttributePoints
      tags: [Attributes]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendAttributePointsRequest'
      responses:
        '200':
          description: Очки потрачены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterAttributes'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /progression/characters/{character_id}/skills:
    get:
      summary: Получить навыки персонажа
      operationId: getCharacterSkills
      tags: [Skills]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Навыки персонажа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterSkills'

  /progression/characters/{character_id}/skills/{skill_id}/experience:
    post:
      summary: Добавить опыт навыку
      operationId: addSkillExperience
      tags: [Skills]
      description: Навык прокачивается использованием
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: skill_id
          in: path
          required: true
          schema:
            type: string
            example: "STEALTH"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                experience:
                  type: integer
                  example: 50
                source:
                  type: string
                  example: "stealth_kill"
      responses:
        '200':
          description: Опыт добавлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillExperienceResult'

  /progression/characters/{character_id}/milestones:
    get:
      summary: Получить прогрессионные вехи персонажа
      operationId: getProgressionMilestones
      tags: [Level Up]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Прогрессионные вехи
          content:
            application/json:
              schema:
                type: object
                properties:
                  milestones:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProgressionMilestone'

components:
  schemas:
    CharacterExperience:
      type: object
      properties:
        character_id:
          type: string
          format: uuid
        level:
          type: integer
          example: 15
        experience:
          type: integer
          example: 45000
        experience_to_next_level:
          type: integer
          example: 50000
        progress_to_next_level:
          type: number
          format: float
          example: 90.0
          description: Процент прогресса
        total_experience_earned:
          type: integer
          example: 245000
        level_cap:
          type: integer
          example: 50

    AwardExperienceRequest:
      type: object
      required:
        - amount
        - source
      properties:
        amount:
          type: integer
          example: 5000
          minimum: 0
        source:
          type: string
          example: "quest_completion"
        multiplier:
          type: number
          format: float
          default: 1.0
          description: Множитель (например, бонус за premium)
        reason:
          type: string
          example: "Completed quest: First Contact"

    ExperienceAwardResult:
      type: object
      properties:
        experience_awarded:
          type: integer
        previous_level:
          type: integer
        new_level:
          type: integer
        leveled_up:
          type: boolean
        new_experience_total:
          type: integer
        level_up_rewards:
          $ref: '#/components/schemas/LevelUpRewards'
          nullable: true

    LevelUpResult:
      type: object
      properties:
        character_id:
          type: string
          format: uuid
        previous_level:
          type: integer
        new_level:
          type: integer
        rewards:
          $ref: '#/components/schemas/LevelUpRewards'
        unlocked_content:
          type: object
          properties:
            quests:
              type: array
              items:
                type: string
            locations:
              type: array
              items:
                type: string
            abilities:
              type: array
              items:
                type: string

    LevelUpRewards:
      type: object
      properties:
        attribute_points:
          type: integer
          example: 3
        skill_points:
          type: integer
          example: 2
        perk_points:
          type: integer
          example: 1
        currency:
          type: object
          properties:
            eddies:
              type: integer
        items:
          type: array
          items:
            type: object
            properties:
              item_id:
                type: string
                format: uuid
              quantity:
                type: integer

    CharacterAttributes:
      type: object
      properties:
        character_id:
          type: string
          format: uuid
        unspent_points:
          type: integer
          example: 5
        attributes:
          type: object
          properties:
            BODY:
              $ref: '#/components/schemas/Attribute'
            REFLEXES:
              $ref: '#/components/schemas/Attribute'
            TECHNICAL_ABILITY:
              $ref: '#/components/schemas/Attribute'
            INTELLIGENCE:
              $ref: '#/components/schemas/Attribute'
            COOL:
              $ref: '#/components/schemas/Attribute'

    Attribute:
      type: object
      properties:
        value:
          type: integer
          example: 12
        base_value:
          type: integer
          example: 10
        modifier:
          type: integer
          example: 2
          description: Модификатор от экипировки/баффов
        max_value:
          type: integer
          example: 20

    SpendAttributePointsRequest:
      type: object
      required:
        - distributions
      properties:
        distributions:
          type: object
          additionalProperties:
            type: integer
          example:
            BODY: 2
            REFLEXES: 1

    CharacterSkills:
      type: object
      properties:
        character_id:
          type: string
          format: uuid
        skills:
          type: array
          items:
            $ref: '#/components/schemas/Skill'

    Skill:
      type: object
      properties:
        skill_id:
          type: string
          example: "STEALTH"
        name:
          type: string
          example: "Stealth"
        level:
          type: integer
          example: 8
        experience:
          type: integer
          example: 3500
        experience_to_next_level:
          type: integer
          example: 4000
        progress_percentage:
          type: number
          format: float
          example: 87.5
        attribute_dependency:
          type: string
          example: "COOL"
          description: От какого атрибута зависит

    SkillExperienceResult:
      type: object
      properties:
        skill_id:
          type: string
        experience_added:
          type: integer
        previous_level:
          type: integer
        new_level:
          type: integer
        leveled_up:
          type: boolean
        rewards:
          type: object
          nullable: true
          properties:
            perk_points:
              type: integer
            unlocked_abilities:
              type: array
              items:
                type: string

    ProgressionMilestone:
      type: object
      properties:
        milestone_id:
          type: string
        name:
          type: string
          example: "Reach Level 10"
        description:
          type: string
        requirement:
          type: object
          properties:
            type:
              type: string
              enum: [LEVEL, SKILL_LEVEL, TOTAL_EXPERIENCE]
            target_value:
              type: integer
        completed:
          type: boolean
        rewards:
          type: object
          properties:
            title:
              type: string
            items:
              type: array
              items:
                type: object

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

