openapi: 3.0.3
info:
  title: Progression Detailed API
  version: 1.0.0
  description: |
    API для детальной системы прогрессии.
    
    Функционал:
    - 9 Attributes (STR, DEX, CON, INT, WIS, CHA, TECH, COOL, LUCK)
    - Attributes matrix (стартовые бонусы по классам)
    - Attributes caps & growth
    - Skills-to-classes mapping
    - Skills-to-items mapping
    - Skills-to-implants mapping
    - Synergy bonuses
    
    Источники: .BRAIN/02-gameplay/progression/ (4 documents v1.0.0)

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/progression
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Attributes
    description: Атрибуты персонажа
  - name: Skills Mapping
    description: Маппинг навыков
  - name: Class Bonuses
    description: Классовые бонусы

paths:
  /gameplay/progression/attributes/definition:
    get:
      summary: Получить определения атрибутов
      operationId: getAttributeDefinitions
      tags: [Attributes]
      responses:
        '200':
          description: Определения атрибутов
          content:
            application/json:
              schema:
                type: object
                properties:
                  attributes:
                    type: array
                    items:
                      $ref: '#/components/schemas/AttributeDefinition'

  /gameplay/progression/attributes/matrix:
    get:
      summary: Получить матрицу атрибутов
      operationId: getAttributesMatrix
      tags: [Attributes]
      description: Стартовые значения и бонусы по классам
      responses:
        '200':
          description: Матрица атрибутов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributesMatrix'

  /gameplay/progression/attributes/calculate:
    post:
      summary: Рассчитать модификаторы атрибутов
      operationId: calculateAttributeModifiers
      tags: [Attributes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                character_id:
                  type: string
                  format: uuid
                include_equipment:
                  type: boolean
                  default: true
                include_buffs:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Модификаторы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeModifiers'

  /gameplay/progression/skills/mapping:
    get:
      summary: Получить маппинг навыков
      operationId: getSkillsMapping
      tags: [Skills Mapping]
      parameters:
        - name: mapping_type
          in: query
          schema:
            type: string
            enum: [TO_ITEMS, TO_IMPLANTS, TO_CLASSES]
      responses:
        '200':
          description: Маппинг навыков
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillsMapping'

  /gameplay/progression/skills/item-requirements:
    post:
      summary: Проверить требования навыков для предмета
      operationId: checkItemSkillRequirements
      tags: [Skills Mapping]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                character_id:
                  type: string
                  format: uuid
                item_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Результат проверки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillRequirementsCheck'

  /gameplay/progression/class/{class_id}/bonuses:
    get:
      summary: Получить бонусы класса
      operationId: getClassBonuses
      tags: [Class Bonuses]
      parameters:
        - name: class_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Бонусы класса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassBonuses'

  /gameplay/progression/synergies:
    get:
      summary: Получить синергии навыков и атрибутов
      operationId: getSynergies
      tags: [Attributes]
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Активные синергии
          content:
            application/json:
              schema:
                type: object
                properties:
                  synergies:
                    type: array
                    items:
                      $ref: '#/components/schemas/Synergy'

  /gameplay/progression/caps:
    get:
      summary: Получить caps (лимиты) для атрибутов и навыков
      operationId: getCaps
      tags: [Attributes]
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Caps и лимиты
          content:
            application/json:
              schema:
                type: object
                properties:
                  attribute_caps:
                    type: object
                    additionalProperties:
                      type: integer
                  skill_caps:
                    type: object
                    additionalProperties:
                      type: integer
                  level_cap:
                    type: integer

components:
  schemas:
    AttributeDefinition:
      type: object
      properties:
        attribute_id:
          type: string
          example: "STRENGTH"
        name:
          type: string
        short_name:
          type: string
          example: "STR"
        description:
          type: string
        affects:
          type: array
          description: На что влияет атрибут
          items:
            type: string
          example: ["Melee damage", "Carry weight", "Health"]
        base_value:
          type: integer
          default: 10
        min_value:
          type: integer
          default: 3
        max_value:
          type: integer
          default: 20

    AttributesMatrix:
      type: object
      properties:
        classes:
          type: array
          items:
            type: object
            properties:
              class_id:
                type: string
              class_name:
                type: string
              starting_attributes:
                type: object
                additionalProperties:
                  type: integer
                example:
                  STRENGTH: 12
                  DEXTERITY: 14
                  INTELLIGENCE: 8
              attribute_growth_bonuses:
                type: object
                description: Бонусы роста при level up
                additionalProperties:
                  type: number
              recommended_attributes:
                type: array
                description: Рекомендуемые для прокачки
                items:
                  type: string

    AttributeModifiers:
      type: object
      properties:
        character_id:
          type: string
          format: uuid
        attributes:
          type: object
          additionalProperties:
            type: object
            properties:
              base_value:
                type: integer
              equipment_bonus:
                type: integer
              buff_bonus:
                type: integer
              temporary_bonus:
                type: integer
              total:
                type: integer
              modifier:
                type: integer
                description: D&D modifier ((total - 10) / 2)

    SkillsMapping:
      type: object
      properties:
        mapping_type:
          type: string
          enum: [TO_ITEMS, TO_IMPLANTS, TO_CLASSES]
        mappings:
          type: array
          items:
            type: object
            properties:
              skill_id:
                type: string
              skill_name:
                type: string
              mapped_to:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    required_level:
                      type: integer
                    bonus_per_level:
                      type: string

    SkillRequirementsCheck:
      type: object
      properties:
        character_id:
          type: string
          format: uuid
        item_id:
          type: string
          format: uuid
        can_use:
          type: boolean
        requirements:
          type: array
          items:
            type: object
            properties:
              skill:
                type: string
              required_level:
                type: integer
              character_level:
                type: integer
              met:
                type: boolean
        effectiveness:
          type: number
          format: float
          description: Эффективность использования (0-100%)
        penalties:
          type: array
          description: Штрафы если требования не выполнены
          items:
            type: string

    ClassBonuses:
      type: object
      properties:
        class_id:
          type: string
        class_name:
          type: string
        attribute_bonuses:
          type: object
          description: Бонусы к атрибутам
          additionalProperties:
            type: integer
        skill_bonuses:
          type: object
          description: Бонусы к навыкам
          additionalProperties:
            type: number
        special_abilities:
          type: array
          items:
            type: string
        starting_perks:
          type: array
          items:
            type: string

    Synergy:
      type: object
      properties:
        synergy_id:
          type: string
        name:
          type: string
          example: "Tech Savvy"
        description:
          type: string
        requirements:
          type: object
          properties:
            attributes:
              type: object
              additionalProperties:
                type: integer
              example:
                INTELLIGENCE: 15
                TECH: 12
            skills:
              type: object
              additionalProperties:
                type: integer
        bonuses:
          type: object
          properties:
            hacking_speed:
              type: number
            crafting_success_rate:
              type: number
        active:
          type: boolean

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

