openapi: 3.0.3
info:
  title: Rebirth API
  version: 1.0.0
  description: |
    API для системы перерождений.
    
    Источник: .BRAIN/02-gameplay/progression/progression-rebirth.md v1.0.0

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/progression
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

paths:
  /gameplay/progression/rebirth:
    post:
      summary: Выполнить перерождение
      operationId: performRebirth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Перерождение выполнено
          content:
            application/json:
              schema:
                type: object

  /gameplay/progression/rebirth/options:
    get:
      summary: Получить опции перерождения
      operationId: getRebirthOptions
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Опции перерождения
          content:
            application/json:
              schema:
                type: object

components:
  schemas:
    RebirthOption:
      type: object
      properties:
        type:
          type: string
        bonuses:
          type: object

