openapi: 3.0.3
info:
  title: Currency Service API - Enterprise-Grade Domain Service
  description: "**Enterprise-Grade Currency Management API for NECPGAME**

    This API manages all aspects of in-game currency systems, including multiple
    currencies, transactions, balances, and economic mechanics.

    ## Key Features

    - **Multi-Currency Support**: Management of multiple currency types (Cred, Eurodollars, etc.)
    - **Balance Management**: Real-time balance tracking and updates
    - **Transaction Processing**: Secure transaction handling with validation
    - **Economic Analytics**: Currency flow analysis and market insights
    - **Anti-Cheat Protection**: Fraud detection and transaction validation
    - **Performance Optimized**: MMOFPS-grade performance with <50ms P99 latency

    ## Domain Purpose

    The Currency domain handles all monetary operations in Night City economy.
    Players earn, spend, trade, and manage various currencies through secure
    and performant APIs that support massive concurrent transactions.

    ## Performance Targets

    - P99 Latency: <50ms for balance operations
    - Memory: <50KB per active user session
    - Concurrent users: 100,000+ simultaneous transactions
    - Transaction throughput: 10,000+ TPS

    "
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.necpgame.com/v1/currency
    description: Production server
  - url: https://staging-api.necpgame.com/v1/currency
    description: Staging server
  - url: http://localhost:8080/api/v1/currency
    description: Local development server
security:
  - BearerAuth: []
tags:
  - name: Currency Management
    description: Core currency operations and management
  - name: Health Monitoring
    description: System health and performance monitoring
paths:
  # ============================================================================
  # HEALTH ENDPOINTS
  # ============================================================================

  /health:
    get:
      summary: Currency service health check
      description: "**Enterprise-grade health check endpoint**

        Provides real-time health status of the currency service microservice.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds"
      operationId: currencyServiceHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
              - deflate
              - br
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"currency-health-v1.0"'
          content:
            application/json:
              schema:
                $ref: "../common/schemas/health.yaml#/HealthResponse"
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: "../common/schemas/health.yaml#/HealthResponse"

  # ============================================================================
  # CURRENCY ENDPOINTS
  # ============================================================================

  /currencies:
    post:
      summary: Create new currency
      description: "**Create new currency in the system**

        Adds a new currency with exchange rates and configuration.

        **Security:** Admin only
        **Performance:** <100ms P99 latency"
      operationId: createCurrency
      tags:
        - Currency Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCurrencyRequest"
      responses:
        "201":
          description: Currency created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrencyResponse"
        "400":
          description: Invalid currency data
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "409":
          description: Currency code already exists
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"

    get:
      summary: List currencies
      description: "**Get paginated list of all currencies**

        Returns all active currencies with their exchange rates.

        **Performance:** Cached for 5 minutes"
      operationId: listCurrencies
      tags:
        - Currency Management
      parameters:
        - $ref: "#/components/schemas/PaginationParams"
        - name: type
          in: query
          schema:
            type: string
            enum:
              - fiat
              - crypto
              - game_currency
              - premium_currency
          description: Filter by currency type
        - name: active_only
          in: query
          schema:
            type: boolean
            default: true
          description: Include only active currencies
      responses:
        "200":
          description: Currencies retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/CurrencyResponse"

  /currencies/{currencyId}:
    get:
      summary: Get currency details
      description: "**Retrieve currency information**

        Returns complete currency data including exchange rates.

        **Performance:** Cached response"
      operationId: getCurrency
      tags:
        - Currency Management
      parameters:
        - name: currencyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Currency UUID
      responses:
        "200":
          description: Currency details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrencyResponse"
        "404":
          description: Currency not found
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"

  # ============================================================================
  # WALLET ENDPOINTS
  # ============================================================================

  /wallets:
    post:
      summary: Create wallet
      description: "**Create new wallet for user**

        Initializes a wallet with specified currency and initial balance.

        **Security:** User can only create wallets for themselves"
      operationId: createWallet
      tags:
        - Wallet Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWalletRequest"
      responses:
        "201":
          description: Wallet created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletResponse"
        "400":
          description: Invalid wallet data
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"

    get:
      summary: List user wallets
      description: "**Get all wallets for authenticated user**

        Returns paginated list of user's wallets across all currencies.

        **Performance:** Database indexed queries"
      operationId: listWallets
      tags:
        - Wallet Management
      parameters:
        - $ref: "#/components/schemas/PaginationParams"
        - name: currency_code
          in: query
          schema:
            type: string
            pattern: '^[A-Z]{3}$'
          description: Filter by currency code
      responses:
        "200":
          description: Wallets retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/WalletResponse"

  /wallets/{walletId}:
    get:
      summary: Get wallet details
      description: "**Retrieve wallet information and balance**

        Returns wallet details including current balance and transaction history.

        **Security:** Only wallet owner can access"
      operationId: getWallet
      tags:
        - Wallet Management
      parameters:
        - name: walletId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Wallet UUID
      responses:
        "200":
          description: Wallet details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletResponse"
        "404":
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"

  # ============================================================================
  # TRANSACTION ENDPOINTS
  # ============================================================================

  /transactions/transfer:
    post:
      summary: Transfer currency between wallets
      description: "**Transfer currency between user wallets**

        Executes atomic transfer between wallets with balance validation.

        **Atomicity:** All operations in single transaction
        **Performance:** <50ms P99 latency for transfers"
      operationId: transferCurrency
      tags:
        - Transaction Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferRequest"
      responses:
        "200":
          description: Transfer completed successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - transaction
                  - from_wallet
                  - to_wallet
                properties:
                  transaction:
                    $ref: "#/components/schemas/TransactionEntity"
                  from_wallet:
                    $ref: "#/components/schemas/WalletResponse"
                  to_wallet:
                    $ref: "#/components/schemas/WalletResponse"
        "400":
          description: Invalid transfer data or insufficient funds
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "409":
          description: Optimistic locking conflict
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"

  /transactions:
    get:
      summary: List transactions
      description: "**Get paginated transaction history**

        Returns user's transaction history with filtering options.

        **Performance:** Indexed queries with efficient pagination"
      operationId: listTransactions
      tags:
        - Transaction Management
      parameters:
        - $ref: "#/components/schemas/PaginationParams"
        - name: wallet_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by wallet UUID
        - name: currency_code
          in: query
          schema:
            type: string
            pattern: '^[A-Z]{3}$'
          description: Filter by currency code
        - name: type
          in: query
          schema:
            type: string
            enum:
              - deposit
              - withdrawal
              - transfer
              - purchase
              - sale
              - refund
              - fee
              - reward
          description: Filter by transaction type
        - name: date_from
          in: query
          schema:
            type: string
            format: date
          description: Filter from date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
          description: Filter to date
      responses:
        "200":
          description: Transactions retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/TransactionEntity"


        **Performance:** <1ms response time, cached for 30 seconds

        "
      operationId: currencyServiceHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
              - deflate
              - br
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                  - gzip
                  - deflate
                  - br
          content:
            application/json:
              schema:
                $ref: "../common/schemas/health.yaml#/HealthResponse"
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: "../common/schemas/health.yaml#/HealthResponse"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
  /health/batch:
    post:
      summary: Batch health check for multiple domain services
      description:
        "**Performance optimization:** Check multiple domain health in
        single request


        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.


        **Use case:** Service mesh health checks, Kubernetes readiness probes

        "
      operationId: exampleDomainBatchHealthCheck
      tags:
        - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                      - example-domain
                      - system-domain
                      - specialized-domain
                    maxItems: 10
                  description: List of services to check
      responses:
        "200":
          $ref: "../common/responses/success.yaml#/HealthBatchSuccess"
        "400":
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description:
        "**Performance optimization:** Real-time health updates without
        polling


        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.


        **Protocol:** WebSocket with JSON payloads

        **Heartbeat:** 30 second intervals

        **Reconnection:** Automatic with exponential backoff

        "
      operationId: exampleDomainHealthWebSocket
      tags:
        - Health Monitoring
      parameters:
        - name: services
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - example-domain
                - system-domain
                - specialized-domain
          description: Services to monitor (optional, monitors all if not specified)
      responses:
        "200":
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/example-domain/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                      - health-monitoring-v1
        "101":
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebSocketHealthMessage"
        "400":
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "401":
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
  /examples:
    get:
      summary: List examples with filtering and pagination
      description: "**Enterprise-grade listing endpoint**


        Supports complex filtering, sorting, and pagination patterns.

        Optimized for high-throughput scenarios with proper indexing.


        **Performance:** <10ms P95, supports 1000+ concurrent requests

        "
      operationId: listExamples
      tags:
        - Example Domain
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number for pagination
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of items per page
        - name: sort_by
          in: query
          schema:
            type: string
            enum:
              - created_at
              - name
              - priority
            default: created_at
          description: Sort field
        - name: sort_order
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          description: Sort order
        - name: filter_status
          in: query
          schema:
            type: string
            enum:
              - active
              - inactive
              - pending
          description: Filter by status
      responses:
        "200":
          $ref: "#/components/responses/ExampleListSuccess"
        "400":
          description: Invalid request - malformed query parameters
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "422":
          description: Unprocessable entity - validation failed
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
    post:
      summary: Create new example
      description: "**Enterprise-grade creation endpoint**


        Validates business rules, applies security checks, and ensures data consistency.

        Supports optimistic locking for concurrent operations.


        **Performance:** <50ms P95, includes validation and business logic

        "
      operationId: createExample
      tags:
        - Example Domain
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateExampleRequest"
      responses:
        "201":
          $ref: "#/components/responses/ExampleCreated"
        "400":
          description: Invalid request - malformed or missing data
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "409":
          description: Conflict - example with this identifier already exists
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "422":
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - creation rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
  /examples/{example_id}:
    get:
      summary: Get specific example by ID
      description: "**Enterprise-grade retrieval endpoint**


        Optimized with proper caching strategies and database indexing.

        Supports conditional requests with ETags.


        **Performance:** <5ms P95 with Redis caching

        "
      operationId: getExample
      tags:
        - Example Domain
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
        - name: include_related
          in: query
          schema:
            type: boolean
            default: false
          description: Include related data in response
        - name: If-None-Match
          in: header
          schema:
            type: string
          description: Conditional request - return 304 if ETag matches
        - name: If-Modified-Since
          in: header
          schema:
            type: string
            format: date-time
          description: Conditional request - return 304 if not modified since this time
      responses:
        "200":
          $ref: "#/components/responses/ExampleRetrieved"
        "304":
          description: Not modified - resource has not changed
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
        "400":
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
    put:
      summary: Update existing example
      description: "**Enterprise-grade update endpoint**


        Supports partial updates, optimistic locking, and audit trails.

        Ensures data consistency with event sourcing patterns.


        **Performance:** <25ms P95, includes validation and conflict resolution

        "
      operationId: updateExample
      tags:
        - Example Domain
      security:
        - BearerAuth: []
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
        - name: If-Match
          in: header
          schema:
            type: string
          description: ETag for optimistic locking - prevents concurrent updates
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
          description:
            Conditional update - proceed only if not modified since this
            time
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateExampleRequest"
      responses:
        "200":
          $ref: "#/components/responses/ExampleUpdated"
        "400":
          description: Invalid request - malformed data or example ID
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "409":
          description:
            Conflict - version conflict (optimistic locking) or precondition
            failed
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "412":
          description:
            Precondition failed - If-Match or If-Unmodified-Since condition
            not met
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "422":
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - update rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
    delete:
      summary: Delete example
      description: "**Enterprise-grade deletion endpoint**


        Supports soft deletes with audit trails and cleanup scheduling.

        Ensures referential integrity and cascading deletes.


        **Performance:** <15ms P95, includes cleanup operations

        "
      operationId: deleteExample
      tags:
        - Example Domain
      security:
        - BearerAuth: []
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
      responses:
        "204":
          $ref: "#/components/responses/ExampleDeleted"
        "400":
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "409":
          description: Conflict - example cannot be deleted (referential integrity)
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - deletion rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
  /currencies:
    get:
      summary: Get available currencies
      description: "**List all available currencies in the game economy**

        Returns comprehensive information about all supported currencies,
        including metadata, exchange rates, and usage statistics.

        **Performance:** Cached for 5 minutes, <10ms response time
        "
      operationId: getCurrencies
      tags:
        - Currency Management
      parameters:
        - name: include_inactive
          in: query
          schema:
            type: boolean
            default: false
          description: Include inactive currencies
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Maximum number of currencies to return
      responses:
        "200":
          description: List of available currencies
          content:
            application/json:
              schema:
                type: object
                required:
                  - currencies
                  - total_count
                properties:
                  currencies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Currency"
                  total_count:
                    type: integer
                    description: Total number of currencies available
        "400":
          $ref: "../common/responses/error.yaml#/BadRequest"
        "500":
          $ref: "../common/responses/error.yaml#/InternalServerError"
  /currencies/{currencyId}:
    get:
      summary: Get currency details
      description: "**Get detailed information about a specific currency**

        Returns comprehensive currency information including current market data,
        exchange rates, and usage statistics.

        **Performance:** Cached for 1 minute, <5ms response time
        "
      operationId: getCurrency
      tags:
        - Currency Management
      parameters:
        - name: currencyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Currency unique identifier
      responses:
        "200":
          description: Currency details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Currency"
        "404":
          $ref: "../common/responses/error.yaml#/NotFound"
        "500":
          $ref: "../common/responses/error.yaml#/InternalServerError"
  /users/{userId}/balance:
    get:
      summary: Get user balance
      description: "**Get current balance for all currencies for a user**

        Returns real-time balance information across all currencies.
        Critical for UI displays and transaction validation.

        **Performance:** <50ms P99 latency, real-time data
        "
      operationId: getUserBalance
      tags:
        - Currency Management
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: User unique identifier
        - name: currency_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by specific currency (optional)
      responses:
        "200":
          description: User balance information
          content:
            application/json:
              schema:
                type: object
                required:
                  - user_id
                  - balances
                  - last_updated
                properties:
                  user_id:
                    type: string
                    format: uuid
                  balances:
                    type: array
                    items:
                      $ref: "#/components/schemas/CurrencyBalance"
                  last_updated:
                    type: string
                    format: date-time
        "404":
          $ref: "../common/responses/error.yaml#/NotFound"
        "500":
          $ref: "../common/responses/error.yaml#/InternalServerError"
components:
  schemas:
    HealthBatchSuccess:
      $ref: ../common/responses/success.yaml#/HealthBatchSuccess
    ExampleListSuccess:
      description: Examples retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
        X-Total-Count:
          schema:
            type: integer
            example: 150
            description: Total number of examples matching criteria
        X-Page-Count:
          schema:
            type: integer
            example: 8
            description: Total number of pages
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleListResponse"
    ExampleCreated:
      description: Example created successfully
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/examples/550e8400-e29b-41d4-a716-446655440000
            description: URL of the created example
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching and optimistic locking
        Cache-Control:
          schema:
            type: string
            example: no-cache
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"
    ExampleRetrieved:
      description: Example retrieved successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
            description: Cache control directives
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: "2025-12-21T10:00:00Z"
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 5
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"
    ExampleUpdated:
      description: Example updated successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v2"'
            description: New entity tag after update
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: "2025-12-21T10:05:00Z"
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 25
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"
    ExampleDeleted:
      description: Example deleted successfully
      headers:
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
    OK:
      $ref: ../common/responses/success.yaml#/OK
    Created:
      $ref: ../common/responses/success.yaml#/Created
    BadRequest:
      $ref: ../common/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common/responses/error.yaml#/Unauthorized
    Forbidden:
      $ref: ../common/responses/error.yaml#/Forbidden
    NotFound:
      $ref: ../common/responses/error.yaml#/NotFound
    Conflict:
      $ref: ../common/responses/error.yaml#/Conflict
    InternalServerError:
      $ref: ../common/responses/error.yaml#/InternalServerError
    HealthOK:
      $ref: ../common/responses/success.yaml#/HealthOK
  schemas:
    # ============================================================================
    # ECONOMY DOMAIN ENTITIES - SOLID/DRY INHERITANCE
    # ============================================================================

    # Currency Entity - inherits from economy-entities.yaml
    CurrencyEntity:
      allOf:
        - $ref: '../common/schemas/economy-entities.yaml#/CurrencyEntity'
        - type: object
          # Domain-specific extensions can be added here if needed

    # Wallet Entity - inherits from economy-entities.yaml
    WalletEntity:
      allOf:
        - $ref: '../common/schemas/economy-entities.yaml#/WalletEntity'
        - type: object
          # Domain-specific extensions can be added here if needed

    # Transaction Entity - inherits from economy-entities.yaml
    TransactionEntity:
      allOf:
        - $ref: '../common/schemas/economy-entities.yaml#/TransactionEntity'
        - type: object
          # Domain-specific extensions can be added here if needed

    # ============================================================================
    # CURRENCY DOMAIN SPECIFIC SCHEMAS
    # ============================================================================

    # Currency Creation Request
    CreateCurrencyRequest:
      allOf:
        - $ref: '../common/schemas/common.yaml#/AuditableEntity'
        - type: object
          required:
            - code
            - name
            - symbol
            - type
          properties:
            code:
              type: string
              pattern: '^[A-Z]{3}$'
              description: "Currency code (ISO 4217)"
              example: "EDY"
            name:
              type: string
              minLength: 1
              maxLength: 50
              description: "Currency display name"
              example: "Eurodollar"
            symbol:
              type: string
              maxLength: 10
              description: "Currency symbol"
              example: "€$"
            type:
              type: string
              enum:
                - fiat
                - crypto
                - game_currency
                - premium_currency
              description: "Currency category"
              example: "game_currency"
            exchange_rate:
              type: number
              minimum: 0
              description: "Exchange rate to base currency"
              example: 1.0
            decimal_places:
              type: integer
              minimum: 0
              maximum: 8
              description: "Decimal precision"
              example: 2
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Optimistic locking for concurrent currency operations."

    # Wallet Creation Request
    CreateWalletRequest:
      allOf:
        - $ref: '../common/schemas/common.yaml#/AuditableEntity'
        - type: object
          required:
            - owner_id
            - currency_code
          properties:
            owner_id:
              $ref: '../common/schemas/common.yaml#/UUID'
            currency_code:
              type: string
              pattern: '^[A-Z]{3}$'
              description: "Currency code"
              example: "EDY"
            initial_balance:
              type: number
              minimum: 0
              description: "Initial wallet balance"
              example: 1000.00
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."

    # Transfer Request
    TransferRequest:
      type: object
      required:
        - from_wallet_id
        - to_wallet_id
        - amount
        - currency_code
      properties:
        from_wallet_id:
          $ref: '../common/schemas/common.yaml#/UUID'
        to_wallet_id:
          $ref: '../common/schemas/common.yaml#/UUID'
        amount:
          type: number
          minimum: 0.01
          description: "Transfer amount"
          example: 500.00
        currency_code:
          type: string
          pattern: '^[A-Z]{3}$'
          description: "Transfer currency"
          example: "EDY"
        description:
          type: string
          maxLength: 255
          description: "Transfer description"
          example: "Payment for cyberware upgrade"
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Atomic transfer operations."

    # Currency Response
    CurrencyResponse:
      allOf:
        - $ref: '#/components/schemas/CurrencyEntity'
        - type: object
          # Response-specific fields can be added here if needed

    # Wallet Response
    WalletResponse:
      allOf:
        - $ref: '#/components/schemas/WalletEntity'
        - type: object
          # Response-specific fields can be added here if needed

    # ============================================================================
    # COMMON SCHEMAS (from common architecture)
    # ============================================================================

    HealthResponse:
      $ref: ../common/schemas/health.yaml#/HealthResponse
    Error:
      $ref: ../common/schemas/error.yaml#/Error

    # ============================================================================
    # PAGINATION SCHEMAS (from common architecture)
    # ============================================================================

    PaginationParams:
      $ref: "../common/schemas/pagination.yaml#/PaginationParams"
    PaginatedResponse:
      $ref: "../common/schemas/pagination.yaml#/PaginatedResponse"
  securitySchemes:
        - id
        - name
        - created_at
        - status
        - is_active
      properties:
        id:
          type: string
          format: uuid
          description: Example unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Example display name
          example: Sample Example
        description:
          type: string
          maxLength: 1000
          description: Detailed description
          example: This is a comprehensive example demonstrating best practices.
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2025-12-21T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2025-12-21T10:00:00Z"
        status:
          type: string
          enum:
            - active
            - inactive
            - pending
            - archived
          default: active
          description: Current status
          example: active
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Associated tags
          example:
            - demo
            - template
            - best-practice
        is_active:
          type: boolean
          description: Whether this example is active
          example: true
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Processing priority
          example: 7
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Hot path optimization required."
    CreateExampleRequest:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Desired example name
          example: My New Example
        description:
          type: string
          maxLength: 1000
          description: Example description
          example: A new example following enterprise-grade patterns.
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Initial tags
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Processing priority
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    UpdateExampleRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: New example name
          example: Updated Example Name
        description:
          type: string
          maxLength: 1000
          description: New description
        status:
          type: string
          enum:
            - active
            - inactive
            - pending
            - archived
          description: New status
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Replace all tags
        is_active:
          type: boolean
          description: Update active status
        priority:
          type: integer
          minimum: 1
          maximum: 10
          description: New priority
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    ExampleResponse:
      type: object
      required:
        - example
      properties:
        example:
          $ref: "#/components/schemas/Example"
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    ExampleListResponse:
      type: object
      required:
        - examples
        - total_count
        - has_more
      properties:
        examples:
          type: array
          items:
            $ref: "#/components/schemas/Example"
          description: List of examples
        has_more:
          type: boolean
          description: Whether there are more results available
          example: true
        total_count:
          type: integer
          description: Total number of examples matching criteria
          example: 150
        page:
          type: integer
          description: Current page number
          example: 1
        limit:
          type: integer
          description: Items per page
          example: 20
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Paginated responses optimized for memory
        efficiency."
    PaginationParams:
      $ref: ../common/schemas/pagination.yaml#/PaginationParams
    PaginatedResponse:
      $ref: ../common/schemas/pagination.yaml#/PaginatedResponse
    Currency:
      type: object
      required:
        - id
        - code
        - name
        - symbol
        - decimal_places
        - is_active
      properties:
        id:
          type: string
          format: uuid
          description: Unique currency identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        code:
          type: string
          minLength: 3
          maxLength: 10
          description: Currency code (ISO-like)
          example: "CRD"
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Display name
          example: "Cred"
        symbol:
          type: string
          minLength: 1
          maxLength: 5
          description: Currency symbol
          example: "¢"
        decimal_places:
          type: integer
          minimum: 0
          maximum: 8
          description: Number of decimal places
          example: 2
        exchange_rate:
          type: number
          minimum: 0
          description: Exchange rate to base currency
          example: 1.0
        is_active:
          type: boolean
          description: Whether currency is active
          example: true
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
      description: "Currency definition schema. Fields ordered for struct alignment."
    CurrencyBalance:
      type: object
      required:
        - currency_id
        - currency_code
        - balance
        - available_balance
        - last_transaction_at
      properties:
        currency_id:
          type: string
          format: uuid
          description: Currency identifier
        currency_code:
          type: string
          description: Currency code
          example: "CRD"
        balance:
          type: number
          description: Current balance
          example: 1500.50
        available_balance:
          type: number
          description: Available balance (excluding holds)
          example: 1450.25
        held_balance:
          type: number
          description: Balance on hold
          example: 50.25
        last_transaction_at:
          type: string
          format: date-time
          description: Last transaction timestamp
      description: "User currency balance. Optimized for frequent balance checks."
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
