# Enterprise-Grade Currency Service API - SOLID/DRY Domain Inheritance
# Infrastructure domain service for in-game economy and currency management
# Issue: #openapi-refactor

openapi: 3.0.3
info:
  title: Currency Service API
  description: |
    **Enterprise-grade API for In-Game Economy and Currency Management**

    ## Domain Purpose
    Comprehensive currency and economic transaction management service providing
    secure, scalable, and fraud-resistant financial operations for the NECPGAME platform.

    ## Business Value
    - Real-time transaction processing with ACID compliance
    - Advanced fraud detection and prevention systems
    - Multi-currency support with dynamic exchange rates
    - Enterprise-grade audit trails and regulatory compliance
    - High-performance wallet management for millions of players

    ## Performance Targets
    - P99 Latency: <25ms for transaction operations
    - Throughput: 50,000+ transactions per second
    - Concurrent Wallets: 2,000,000+ active wallet operations
    - Transaction Volume: 1,000,000+ transactions per day

    ## Domain Inheritance
    This service inherits from infrastructure-entities.yaml providing:
    - Transaction audit trails with regulatory compliance
    - User account integration for wallet ownership
    - Configuration management for currency settings
    - Notification system integration for transaction alerts
    - Strict typing with validation rules

  version: "1.0.0"
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT

servers:
  - url: https://api.necpgame.com/v1/currency-service
    description: Production environment
  - url: https://staging-api.necpgame.com/v1/currency-service
    description: Staging environment
  - url: http://localhost:8080/api/v1/currency-service
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: Wallet Management
    description: Core wallet creation and balance operations
  - name: Transaction Processing
    description: Transaction creation and processing operations
  - name: Currency Exchange
    description: Currency conversion and exchange operations
  - name: Fraud Prevention
    description: Fraud detection and prevention systems
  - name: Audit & Compliance
    description: Transaction audit and regulatory compliance
  - name: Analytics & Reporting
    description: Economic analytics and financial reporting
  - name: Health Monitoring
    description: Service health and performance monitoring

paths:

  /health:
    get:
      operationId: currencyServiceHealthCheck
      summary: Basic health check
      description: Returns service health status
      tags: [Health Monitoring]
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/HealthResponse'

  /wallets:
    post:
      operationId: currencyServiceCreateWallet
      summary: Create new wallet
      description: |
        Create a new wallet for a user with initial balance configuration.

        **Wallet Creation:**
        - Validate user identity and permissions
        - Create wallet with default currency balances
        - Initialize security settings and limits
        - Set up transaction monitoring
      tags: [Wallet Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
      responses:
        '201':
          description: Wallet created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/Created'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Wallet'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Wallet already exists for user
          content:
            application/json:
              schema:
                $ref: '../common/responses/error.yaml#/Conflict'

  /wallets/{walletId}:
    get:
      operationId: currencyServiceGetWallet
      summary: Get wallet details
      description: |
        Retrieve comprehensive wallet information including balances and settings.

        **Wallet Information:**
        - Current balances across all currencies
        - Transaction limits and restrictions
        - Security settings and permissions
        - Recent transaction summary
      tags: [Wallet Management]
      parameters:
        - name: walletId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Wallet unique identifier
      responses:
        '200':
          description: Wallet details retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Wallet'
        '404':
          $ref: '#/components/responses/NotFound'

  /wallets/{walletId}/balance:
    get:
      operationId: currencyServiceGetWalletBalance
      summary: Get wallet balance
      description: |
        Retrieve current balance for a specific wallet with real-time accuracy.

        **Balance Retrieval:**
        - Real-time balance calculation
        - Pending transaction consideration
        - Currency conversion options
        - Balance verification and integrity checks
      tags: [Wallet Management]
      parameters:
        - name: walletId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Wallet unique identifier
        - name: currency
          in: query
          schema:
            type: string
          description: Filter by specific currency
        - name: include_pending
          in: query
          schema:
            type: boolean
            default: true
          description: Include pending transactions in balance
      responses:
        '200':
          description: Wallet balance retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WalletBalance'
        '404':
          $ref: '#/components/responses/NotFound'

  /transactions/transfer:
    post:
      operationId: currencyServiceTransferFunds
      summary: Transfer funds between wallets
      description: |
        Transfer funds between two wallets with comprehensive validation and security.

        **Fund Transfer:**
        - Validate sender and receiver permissions
        - Check sufficient balance and limits
        - Apply fraud detection algorithms
        - Execute atomic transfer operation
        - Generate transaction records and notifications
      tags: [Transaction Processing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferFundsRequest'
      responses:
        '200':
          description: Funds transferred successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TransactionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          description: Insufficient funds
          content:
            application/json:
              schema:
                $ref: '../common/responses/error.yaml#/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /transactions/deposit:
    post:
      operationId: currencyServiceDepositFunds
      summary: Deposit funds to wallet
      description: |
        Deposit funds into a wallet from external sources.

        **Fund Deposit:**
        - Validate deposit source and amount
        - Apply deposit limits and restrictions
        - Process deposit with verification
        - Update wallet balance immediately
        - Generate deposit confirmation
      tags: [Transaction Processing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositFundsRequest'
      responses:
        '200':
          description: Funds deposited successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TransactionResult'
        '400':
          $ref: '#/components/responses/BadRequest'

  /transactions/withdraw:
    post:
      operationId: currencyServiceWithdrawFunds
      summary: Withdraw funds from wallet
      description: |
        Withdraw funds from a wallet to external destinations.

        **Fund Withdrawal:**
        - Validate withdrawal destination and amount
        - Check withdrawal limits and availability
        - Process withdrawal with verification
        - Apply withdrawal fees if applicable
        - Generate withdrawal confirmation
      tags: [Transaction Processing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawFundsRequest'
      responses:
        '200':
          description: Funds withdrawn successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TransactionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'

  /transactions/{transactionId}:
    get:
      operationId: currencyServiceGetTransaction
      summary: Get transaction details
      description: |
        Retrieve detailed information about a specific transaction.

        **Transaction Details:**
        - Complete transaction metadata
        - Participant information and amounts
        - Processing status and timestamps
        - Associated fees and charges
        - Audit trail and verification data
      tags: [Transaction Processing]
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Transaction unique identifier
      responses:
        '200':
          description: Transaction details retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Transaction'
        '404':
          $ref: '#/components/responses/NotFound'

  /wallets/{walletId}/transactions:
    get:
      operationId: currencyServiceGetWalletTransactions
      summary: Get wallet transaction history
      description: |
        Retrieve paginated transaction history for a wallet.

        **Transaction History:**
        - Chronological transaction listing
        - Advanced filtering and search capabilities
        - Transaction categorization and tagging
        - Export capabilities for financial records
      tags: [Transaction Processing]
      parameters:
        - name: walletId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Wallet unique identifier
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
          description: Start date for transaction history
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
          description: End date for transaction history
        - name: transaction_type
          in: query
          schema:
            type: string
            enum: [deposit, withdrawal, transfer, purchase, refund, fee]
          description: Filter by transaction type
        - name: currency
          in: query
          schema:
            type: string
          description: Filter by currency
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Number of transactions to return
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Pagination offset
      responses:
        '200':
          description: Transaction history retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/TransactionSummary'
                      pagination:
                        $ref: '#/components/schemas/TransactionPagination'

  /exchange/rates:
    get:
      operationId: currencyServiceGetExchangeRates
      summary: Get currency exchange rates
      description: |
        Retrieve current exchange rates between supported currencies.

        **Exchange Rates:**
        - Real-time rate calculations
        - Historical rate trends
        - Rate volatility indicators
        - Cross-currency conversion support
      tags: [Currency Exchange]
      parameters:
        - name: base_currency
          in: query
          schema:
            type: string
            default: "USD"
          description: Base currency for rates
        - name: target_currencies
          in: query
          schema:
            type: array
            items:
              type: string
          description: Target currencies to get rates for
      responses:
        '200':
          description: Exchange rates retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ExchangeRates'

  /transactions/exchange:
    post:
      operationId: currencyServiceExchangeCurrency
      summary: Exchange currency
      description: |
        Exchange funds between different currencies within a wallet.

        **Currency Exchange:**
        - Apply current exchange rates
        - Calculate exchange fees
        - Execute atomic exchange operation
        - Update wallet balances accordingly
      tags: [Currency Exchange]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeCurrencyRequest'
      responses:
        '200':
          description: Currency exchanged successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TransactionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'

  /fraud/check:
    post:
      operationId: currencyServiceFraudCheck
      summary: Perform fraud check on transaction
      description: |
        Perform comprehensive fraud detection analysis on a transaction.

        **Fraud Detection:**
        - Pattern analysis and anomaly detection
        - Velocity and frequency checking
        - Geographic and behavioral analysis
        - Risk scoring and decision making
        - Automated blocking and alerting
      tags: [Fraud Prevention]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FraudCheckRequest'
      responses:
        '200':
          description: Fraud check completed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FraudCheckResult'
        '400':
          $ref: '#/components/responses/BadRequest'

  /audit/transactions:
    get:
      operationId: currencyServiceGetTransactionAudit
      summary: Get transaction audit trail
      description: |
        Retrieve comprehensive audit trail for regulatory compliance.

        **Audit Trail:**
        - Complete transaction history with metadata
        - User action tracking and verification
        - System event logging and monitoring
        - Regulatory reporting capabilities
        - Data retention and archival management
      tags: [Audit & Compliance]
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
          description: Start date for audit trail
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
          description: End date for audit trail
        - name: wallet_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by wallet ID
        - name: transaction_type
          in: query
          schema:
            type: string
            enum: [deposit, withdrawal, transfer, purchase, refund, fee]
          description: Filter by transaction type
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Number of audit records to return
      responses:
        '200':
          description: Audit trail retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/AuditRecord'

  /analytics/economy:
    get:
      operationId: currencyServiceGetEconomicAnalytics
      summary: Get economic analytics
      description: |
        Retrieve comprehensive economic analytics and financial metrics.

        **Economic Analytics:**
        - Transaction volume and velocity trends
        - Currency circulation and distribution
        - Player spending patterns and habits
        - Economic health indicators and KPIs
        - Market analysis and economic forecasting
      tags: [Analytics & Reporting]
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
          description: Start date for analytics
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
          description: End date for analytics
        - name: currency
          in: query
          schema:
            type: string
          description: Filter by currency
        - name: granularity
          in: query
          schema:
            type: string
            enum: [hourly, daily, weekly, monthly]
            default: "daily"
          description: Analytics granularity
      responses:
        '200':
          description: Economic analytics retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/EconomicAnalytics'

components:

  responses:
    OK:
      $ref: '../common/responses/success.yaml#/OK'
    Created:
      $ref: '../common/responses/success.yaml#/Created'
    Updated:
      $ref: '../common/responses/success.yaml#/Updated'
    BadRequest:
      $ref: '../common/responses/error.yaml#/BadRequest'
    NotFound:
      $ref: '../common/responses/error.yaml#/NotFound'
    Conflict:
      $ref: '../common/responses/error.yaml#/Conflict'
    PaymentRequired:
      description: Payment required for operation
      content:
        application/json:
          schema:
            allOf:
              - $ref: '../common/responses/error.yaml#/Error'
              - type: object
                properties:
                  required_amount:
                    type: number
                    description: Amount required for operation
                  current_balance:
                    type: number
                    description: Current available balance
                  currency:
                    type: string
                    description: Currency of amounts

  schemas:

    # Domain Inheritance - Currency Service Entities
    Wallet:
      description: User wallet entity with infrastructure domain inheritance
      type: object
      required:
        - id
        - user_id
        - balances
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Wallet unique identifier
        user_id:
          type: string
          format: uuid
          description: Owner user ID
        balances:
          type: object
          description: Current balances by currency
          additionalProperties:
            type: number
            minimum: 0
          example:
            USD: 150.50
            EUR: 25.00
            GOLD: 500
        status:
          type: string
          enum: [active, frozen, suspended, closed]
          default: "active"
          description: Wallet operational status
        limits:
          $ref: '#/components/schemas/WalletLimits'
        security_settings:
          $ref: '#/components/schemas/WalletSecurity'
        created_at:
          type: string
          format: date-time
          description: Wallet creation timestamp
        last_activity_at:
          type: string
          format: date-time
          description: Last wallet activity timestamp
        metadata:
          type: object
          description: Additional wallet metadata
          additionalProperties: true

    Transaction:
      description: Financial transaction entity with infrastructure domain inheritance
      type: object
      required:
        - id
        - type
        - amount
        - currency
        - status
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Transaction unique identifier
        type:
          type: string
          enum: [deposit, withdrawal, transfer, purchase, refund, fee, exchange]
          description: Transaction type
        amount:
          type: number
          minimum: 0.01
          description: Transaction amount
        currency:
          type: string
          description: Transaction currency
        status:
          type: string
          enum: [pending, processing, completed, failed, cancelled, reversed]
          description: Transaction processing status
        sender_wallet_id:
          type: string
          format: uuid
          description: Sending wallet ID
        receiver_wallet_id:
          type: string
          format: uuid
          description: Receiving wallet ID
        external_reference:
          type: string
          description: External system reference
        fee_amount:
          type: number
          minimum: 0
          description: Transaction fee amount
        fee_currency:
          type: string
          description: Fee currency
        exchange_rate:
          type: number
          description: Exchange rate used (for currency exchanges)
        description:
          type: string
          maxLength: 500
          description: Transaction description
        metadata:
          type: object
          description: Additional transaction metadata
          additionalProperties: true
        risk_score:
          type: number
          minimum: 0
          maximum: 1
          description: Fraud risk score
        created_at:
          type: string
          format: date-time
          description: Transaction creation timestamp
        processed_at:
          type: string
          format: date-time
          description: Transaction processing timestamp
        completed_at:
          type: string
          format: date-time
          description: Transaction completion timestamp

    # Supporting schemas
    WalletLimits:
      description: Wallet operational limits
      type: object
      properties:
        daily_transaction_limit:
          type: number
          minimum: 0
          description: Maximum daily transaction volume
        daily_transaction_count:
          type: integer
          minimum: 0
          description: Maximum daily transaction count
        max_balance:
          type: number
          minimum: 0
          description: Maximum wallet balance
        max_transaction_amount:
          type: number
          minimum: 0
          description: Maximum single transaction amount
        restricted_currencies:
          type: array
          items:
            type: string
          description: Currencies restricted for this wallet

    WalletSecurity:
      description: Wallet security settings
      type: object
      properties:
        require_2fa:
          type: boolean
          default: false
          description: Require two-factor authentication
        ip_whitelist:
          type: array
          items:
            type: string
          description: Allowed IP addresses
        transaction_approval_required:
          type: boolean
          default: false
          description: Require manual approval for transactions
        fraud_detection_enabled:
          type: boolean
          default: true
          description: Enable fraud detection
        suspicious_activity_alerts:
          type: boolean
          default: true
          description: Send alerts for suspicious activity

    WalletBalance:
      description: Wallet balance information
      type: object
      required:
        - wallet_id
        - balances
        - last_updated
      properties:
        wallet_id:
          type: string
          format: uuid
          description: Wallet ID
        balances:
          type: object
          description: Current balances by currency
          additionalProperties:
            $ref: '#/components/schemas/CurrencyBalance'
        total_value_usd:
          type: number
          description: Total wallet value in USD
        pending_transactions:
          type: array
          items:
            type: object
            properties:
              transaction_id:
                type: string
                format: uuid
                description: Pending transaction ID
              amount:
                type: number
                description: Pending amount
              currency:
                type: string
                description: Pending currency
              type:
                type: string
                enum: [debit, credit]
                description: Transaction type
          description: Pending transactions affecting balance
        last_updated:
          type: string
          format: date-time
          description: Last balance update timestamp

    CurrencyBalance:
      description: Balance for specific currency
      type: object
      required:
        - currency
        - available
        - reserved
      properties:
        currency:
          type: string
          description: Currency code
        available:
          type: number
          minimum: 0
          description: Available balance for transactions
        reserved:
          type: number
          minimum: 0
          description: Reserved balance (pending transactions)
        total:
          type: number
          minimum: 0
          description: Total balance (available + reserved)

    TransactionResult:
      description: Result of transaction operation
      type: object
      required:
        - transaction_id
        - status
        - timestamp
      properties:
        transaction_id:
          type: string
          format: uuid
          description: Created transaction ID
        status:
          type: string
          enum: [pending, completed, failed]
          description: Transaction status
        timestamp:
          type: string
          format: date-time
          description: Transaction timestamp
        amount:
          type: number
          description: Transaction amount
        currency:
          type: string
          description: Transaction currency
        fee_amount:
          type: number
          description: Fee charged
        new_balance:
          type: number
          description: New wallet balance after transaction
        confirmation_code:
          type: string
          description: Transaction confirmation code

    ExchangeRates:
      description: Currency exchange rates
      type: object
      required:
        - base_currency
        - rates
        - timestamp
      properties:
        base_currency:
          type: string
          description: Base currency for rates
        rates:
          type: object
          description: Exchange rates to other currencies
          additionalProperties:
            type: number
          example:
            EUR: 0.85
            GBP: 0.73
            JPY: 110.50
        timestamp:
          type: string
          format: date-time
          description: Rate timestamp
        source:
          type: string
          description: Rate source provider

    TransactionSummary:
      description: Transaction summary for listings
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Transaction ID
        type:
          type: string
          enum: [deposit, withdrawal, transfer, purchase, refund, fee]
          description: Transaction type
        amount:
          type: number
          description: Transaction amount
        currency:
          type: string
          description: Transaction currency
        status:
          type: string
          enum: [pending, processing, completed, failed, cancelled, reversed]
          description: Transaction status
        timestamp:
          type: string
          format: date-time
          description: Transaction timestamp
        counterparty:
          type: string
          description: Other party in transaction
        description:
          type: string
          description: Transaction description

    TransactionPagination:
      description: Pagination information for transactions
      type: object
      properties:
        total_count:
          type: integer
          description: Total number of transactions
        current_page:
          type: integer
          minimum: 1
          description: Current page number
        total_pages:
          type: integer
          minimum: 1
          description: Total number of pages
        has_next:
          type: boolean
          description: Whether there are more pages
        has_previous:
          type: boolean
          description: Whether there are previous pages

    FraudCheckResult:
      description: Result of fraud detection check
      type: object
      required:
        - risk_score
        - risk_level
        - approved
      properties:
        risk_score:
          type: number
          minimum: 0
          maximum: 1
          description: Fraud risk score (0-1)
        risk_level:
          type: string
          enum: [low, medium, high, critical]
          description: Risk level category
        approved:
          type: boolean
          description: Whether transaction is approved
        flags:
          type: array
          items:
            type: object
            properties:
              flag_type:
                type: string
                description: Type of fraud flag
              severity:
                type: string
                enum: [low, medium, high]
                description: Flag severity
              description:
                type: string
                description: Flag description
              confidence:
                type: number
                minimum: 0
                maximum: 1
                description: Detection confidence
          description: Specific fraud flags raised
        recommendations:
          type: array
          items:
            type: string
          description: Recommended actions
        monitoring_required:
          type: boolean
          description: Whether transaction requires monitoring

    AuditRecord:
      description: Audit trail record for compliance
      type: object
      required:
        - id
        - event_type
        - timestamp
        - actor
      properties:
        id:
          type: string
          format: uuid
          description: Audit record ID
        event_type:
          type: string
          enum: [transaction_created, transaction_processed, wallet_created, balance_changed, security_event]
          description: Type of audited event
        timestamp:
          type: string
          format: date-time
          description: Event timestamp
        actor:
          type: string
          description: User/system that performed action
        resource_type:
          type: string
          enum: [wallet, transaction, user, system]
          description: Type of resource affected
        resource_id:
          type: string
          format: uuid
          description: ID of affected resource
        action:
          type: string
          description: Action performed
        details:
          type: object
          description: Detailed event information
          additionalProperties: true
        ip_address:
          type: string
          description: IP address of actor
        user_agent:
          type: string
          description: User agent of actor
        compliance_flags:
          type: array
          items:
            type: string
          description: Compliance-related flags

    EconomicAnalytics:
      description: Comprehensive economic analytics
      type: object
      properties:
        time_range:
          type: object
          properties:
            start_date:
              type: string
              format: date-time
            end_date:
              type: string
              format: date-time
        transaction_volume:
          type: object
          properties:
            total_transactions:
              type: integer
              description: Total number of transactions
            total_volume:
              type: number
              description: Total transaction volume
            average_transaction_size:
              type: number
              description: Average transaction amount
            transaction_velocity:
              type: number
              description: Transactions per hour
          description: Transaction volume metrics
        currency_circulation:
          type: object
          additionalProperties:
            type: object
            properties:
              total_supply:
                type: integer
                description: Total currency in circulation
              active_wallets:
                type: integer
                description: Wallets with this currency
              average_balance:
                type: number
                description: Average wallet balance
              distribution_gini:
                type: number
                minimum: 0
                maximum: 1
                description: Currency distribution inequality (Gini coefficient)
          description: Currency circulation metrics
        player_economics:
          type: object
          properties:
            average_daily_spending:
              type: number
              description: Average daily player spending
            spending_by_category:
              type: object
              additionalProperties:
                type: number
              description: Spending breakdown by category
            player_segments:
              type: array
              items:
                type: object
                properties:
                  segment:
                    type: string
                    description: Player segment
                  count:
                    type: integer
                    description: Players in segment
                  average_balance:
                    type: number
                    description: Average balance in segment
                  spending_rate:
                    type: number
                    description: Spending rate for segment
              description: Economic analysis by player segments
        market_health:
          type: object
          properties:
            liquidity_ratio:
              type: number
              minimum: 0
              maximum: 1
              description: Market liquidity indicator
            price_stability:
              type: number
              minimum: 0
              maximum: 1
              description: Currency price stability
            inflation_rate:
              type: number
              description: Monthly inflation rate
            market_confidence:
              type: number
              minimum: 0
              maximum: 1
              description: Market confidence indicator

    # Request/Response schemas
    CreateWalletRequest:
      description: Request payload for wallet creation
      type: object
      required:
        - user_id
      properties:
        user_id:
          type: string
          format: uuid
          description: User to create wallet for
        initial_balances:
          type: object
          description: Initial balances for wallet
          additionalProperties:
            type: number
            minimum: 0
          example:
            USD: 100.00
            GOLD: 50
        wallet_type:
          type: string
          enum: [personal, business, system]
          default: "personal"
          description: Type of wallet
        custom_limits:
          $ref: '#/components/schemas/WalletLimits'

    TransferFundsRequest:
      description: Request payload for fund transfer
      type: object
      required:
        - from_wallet_id
        - to_wallet_id
        - amount
        - currency
      properties:
        from_wallet_id:
          type: string
          format: uuid
          description: Source wallet ID
        to_wallet_id:
          type: string
          format: uuid
          description: Destination wallet ID
        amount:
          type: number
          minimum: 0.01
          description: Amount to transfer
        currency:
          type: string
          description: Currency to transfer
        description:
          type: string
          maxLength: 200
          description: Transfer description
        priority:
          type: string
          enum: [low, normal, high, instant]
          default: "normal"
          description: Transfer priority
        scheduled_for:
          type: string
          format: date-time
          description: Schedule transfer for future time

    DepositFundsRequest:
      description: Request payload for fund deposit
      type: object
      required:
        - wallet_id
        - amount
        - currency
        - deposit_method
      properties:
        wallet_id:
          type: string
          format: uuid
          description: Wallet to deposit to
        amount:
          type: number
          minimum: 0.01
          description: Amount to deposit
        currency:
          type: string
          description: Currency to deposit
        deposit_method:
          type: string
          enum: [credit_card, bank_transfer, cryptocurrency, game_reward, admin_deposit]
          description: Deposit method
        external_reference:
          type: string
          description: External payment reference
        metadata:
          type: object
          description: Additional deposit metadata
          additionalProperties: true

    WithdrawFundsRequest:
      description: Request payload for fund withdrawal
      type: object
      required:
        - wallet_id
        - amount
        - currency
        - withdrawal_method
      properties:
        wallet_id:
          type: string
          format: uuid
          description: Wallet to withdraw from
        amount:
          type: number
          minimum: 0.01
          description: Amount to withdraw
        currency:
          type: string
          description: Currency to withdraw
        withdrawal_method:
          type: string
          enum: [bank_transfer, cryptocurrency, gift_card, cash_out]
          description: Withdrawal method
        destination_details:
          type: object
          description: Destination account details
          additionalProperties: true
        priority:
          type: string
          enum: [standard, express, instant]
          default: "standard"
          description: Withdrawal priority

    ExchangeCurrencyRequest:
      description: Request payload for currency exchange
      type: object
      required:
        - wallet_id
        - from_currency
        - to_currency
        - amount
      properties:
        wallet_id:
          type: string
          format: uuid
          description: Wallet to perform exchange in
        from_currency:
          type: string
          description: Source currency
        to_currency:
          type: string
          description: Target currency
        amount:
          type: number
          minimum: 0.01
          description: Amount to exchange
        exchange_type:
          type: string
          enum: [market_rate, fixed_rate, premium_rate]
          default: "market_rate"
          description: Type of exchange rate to use

    FraudCheckRequest:
      description: Request payload for fraud check
      type: object
      required:
        - transaction_details
      properties:
        transaction_details:
          type: object
          required:
            - type
            - amount
            - currency
          properties:
            type:
              type: string
              enum: [deposit, withdrawal, transfer, purchase]
              description: Transaction type
            amount:
              type: number
              description: Transaction amount
            currency:
              type: string
              description: Transaction currency
            sender_wallet_id:
              type: string
              format: uuid
              description: Sender wallet ID
            receiver_wallet_id:
              type: string
              format: uuid
              description: Receiver wallet ID
          description: Transaction details to check
        context:
          type: object
          properties:
            user_id:
              type: string
              format: uuid
              description: User performing transaction
            ip_address:
              type: string
              description: Client IP address
            user_agent:
              type: string
              description: Client user agent
            device_fingerprint:
              type: string
              description: Device fingerprint
            location:
              type: object
              properties:
                country:
                  type: string
                  description: Country code
                region:
                  type: string
                  description: Region/state
                city:
                  type: string
                  description: City
              description: Geographic location
          description: Additional context for fraud detection

  securitySchemes:
    BearerAuth:
      $ref: '../common/security/security.yaml#/BearerAuth'
    ServiceAuth:
      $ref: '../common/security/security.yaml#/ServiceAuth'

# Performance and optimization notes
x-performance:
  p99-latency: "<25ms"
  throughput-target: "50,000+ transactions/second"
  concurrent-wallets-target: "2,000,000+ active wallets"
  transaction-volume-target: "1M+ transactions/day"
  database-indexes: "Composite indexes on (wallet_id, created_at), (user_id, status), (currency, amount)"

# Monitoring and observability
x-monitoring:
  metrics:
    - transaction_rate
    - wallet_balance_total
    - fraud_detection_rate
    - exchange_rate_fluctuation
    - audit_log_volume
  alerts:
    - transaction_failure_rate > 0.05
    - fraud_detection_rate < 0.95
    - wallet_balance_anomaly > 10%
    - exchange_rate_spike > 5%

# Economic system specifics
x-economic-system:
  currencies: "Multiple currency support with dynamic exchange rates and market-based pricing"
  fraud-prevention: "Multi-layer fraud detection with AI-powered anomaly detection and risk scoring"
  compliance: "Full audit trails with regulatory reporting and data retention policies"
  scalability: "Distributed transaction processing with eventual consistency and conflict resolution"

# Domain inheritance documentation
x-domain-inheritance:
  inherits-from: "common/schemas/infrastructure-entities.yaml"
  inherited-entities: "NotificationQueueEntity, AuditLogEntity, ConfigurationEntity"
  additional-schemas: "Transaction processing, wallet management, fraud detection, economic analytics"
  no-duplication: "All common fields inherited, financial transaction processing and economic management added"