openapi: 3.0.3
info:
  title: Currency Service API
  description: '**Enterprise-grade API for In-Game Economy and Currency Management**


    ## Domain Purpose

    Comprehensive currency and economic transaction management service providing

    secure, scalable, and fraud-resistant financial operations for the NECPGAME platform.


    ## Business Value

    - Real-time transaction processing with ACID compliance

    - Advanced fraud detection and prevention systems

    - Multi-currency support with dynamic exchange rates

    - Enterprise-grade audit trails and regulatory compliance

    - High-performance wallet management for millions of players


    ## Performance Targets

    - P99 Latency: <25ms for transaction operations

    - Throughput: 50,000+ transactions per second

    - Concurrent Wallets: 2,000,000+ active wallet operations

    - Transaction Volume: 1,000,000+ transactions per day


    ## Domain Inheritance

    This service inherits from infrastructure-entities.yaml providing:

    - Transaction audit trails with regulatory compliance

    - User account integration for wallet ownership

    - Configuration management for currency settings

    - Notification system integration for transaction alerts

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/currency-service
  description: Production environment
- url: https://staging-api.necpgame.com/v1/currency-service
  description: Staging environment
- url: http://localhost:8080/api/v1/currency-service
  description: Local development
security:
- BearerAuth: []
tags:
- name: Wallet Management
  description: Core wallet creation and balance operations
- name: Transaction Processing
  description: Transaction creation and processing operations
- name: Currency Exchange
  description: Currency conversion and exchange operations
- name: Fraud Prevention
  description: Fraud detection and prevention systems
- name: Audit & Compliance
  description: Transaction audit and regulatory compliance
- name: Analytics & Reporting
  description: Economic analytics and financial reporting
- name: Health Monitoring
  description: Service health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /wallets:
    $ref: ./paths/wallets.yaml#/paths/~1wallets
  /wallets/{walletId}:
    $ref: ./paths/wallets-{walletId}.yaml#/paths/~1wallets~1{walletId}
  /wallets/{walletId}/balance:
    $ref: ./paths/wallets-{walletId}-balance.yaml#/paths/~1wallets~1{walletId}~1balance
  /transactions/transfer:
    $ref: ./paths/transactions-transfer.yaml#/paths/~1transactions~1transfer
  /transactions/deposit:
    $ref: ./paths/transactions-deposit.yaml#/paths/~1transactions~1deposit
  /transactions/withdraw:
    $ref: ./paths/transactions-withdraw.yaml#/paths/~1transactions~1withdraw
  /transactions/{transactionId}:
    $ref: ./paths/transactions-{transactionId}.yaml#/paths/~1transactions~1{transactionId}
  /wallets/{walletId}/transactions:
    $ref: ./paths/wallets-{walletId}-transactions.yaml#/paths/~1wallets~1{walletId}~1transactions
  /exchange/rates:
    $ref: ./paths/exchange-rates.yaml#/paths/~1exchange~1rates
  /transactions/exchange:
    $ref: ./paths/transactions-exchange.yaml#/paths/~1transactions~1exchange
  /fraud/check:
    $ref: ./paths/fraud-check.yaml#/paths/~1fraud~1check
  /audit/transactions:
    $ref: ./paths/audit-transactions.yaml#/paths/~1audit~1transactions
  /analytics/economy:
    $ref: ./paths/analytics-economy.yaml#/paths/~1analytics~1economy
components:
  schemas:
    Wallet:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/Wallet
    Transaction:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/Transaction
    WalletLimits:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/WalletLimits
    WalletSecurity:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/WalletSecurity
    WalletBalance:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/WalletBalance
    CurrencyBalance:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/CurrencyBalance
    TransactionResult:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/TransactionResult
    ExchangeRates:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/ExchangeRates
    TransactionSummary:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/TransactionSummary
    TransactionPagination:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/TransactionPagination
    FraudCheckResult:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/FraudCheckResult
    AuditRecord:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/AuditRecord
    EconomicAnalytics:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/EconomicAnalytics
    CreateWalletRequest:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/CreateWalletRequest
    TransferFundsRequest:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/TransferFundsRequest
    DepositFundsRequest:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/DepositFundsRequest
    WithdrawFundsRequest:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/WithdrawFundsRequest
    ExchangeCurrencyRequest:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/ExchangeCurrencyRequest
    FraudCheckRequest:
      $ref: ./schemas/currency-service-schemas.yaml#/components/schemas/FraudCheckRequest
  responses:
    OK:
      $ref: ./schemas/currency-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/currency-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/currency-service-responses.yaml#/components/responses/Updated
    BadRequest:
      $ref: ./schemas/currency-service-responses.yaml#/components/responses/BadRequest
    NotFound:
      $ref: ./schemas/currency-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/currency-service-responses.yaml#/components/responses/Conflict
    PaymentRequired:
      $ref: ./schemas/currency-service-responses.yaml#/components/responses/PaymentRequired
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
