# Модели данных для Combat Shooting API
# Источник: .BRAIN/02-gameplay/combat/combat-shooting.md v1.1.0

openapi: 3.0.3
info:
  title: Combat Shooting Models
  version: 1.0.0
  description: Модели данных для API стрельбы

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay
    package: com.necpgame.gameplayservice
paths: {}

components:
  schemas:
    ShootRequest:
      type: object
      required:
        - shooter_id
        - weapon_id
        - target_id
        - aim_point
      properties:
        shooter_id:
          type: string
          description: ID стреляющего персонажа
        weapon_id:
          type: string
          description: ID оружия
        target_id:
          type: string
          description: ID цели
        target_body_part:
          type: string
          enum: [head, torso, arms, legs, cyber_head, cyber_torso, cyber_arms, cyber_legs]
          description: |
            Целевая часть тела.
            Органика: head (x2), torso (x1), arms/legs (x0.7)
            Кибер: cyber_head (x1.5), cyber_torso (x0.8), cyber_arms/legs (x0.5)
        aim_point:
          type: object
          required:
            - x
            - y
            - z
          properties:
            x:
              type: number
            y:
              type: number
            z:
              type: number
          description: Точка прицеливания в 3D пространстве
        is_moving:
          type: boolean
          description: Двигается ли стреляющий

    ShootResult:
      type: object
      required:
        - hit
        - damage_dealt
        - damage_type
        - is_critical
      properties:
        hit:
          type: boolean
          description: Попал ли выстрел в цель
        body_part_hit:
          type: string
          enum: [head, torso, arms, legs, cyber_head, cyber_torso, cyber_arms, cyber_legs]
          description: Часть тела, в которую попал выстрел
        damage_dealt:
          type: number
          minimum: 0
          description: Фактический нанесенный урон с учетом всех модификаторов
        damage_type:
          type: string
          enum: [physical, energy, chemical, thermal, emp, cyber, poison, electromagnetic]
          description: |
            Тип урона:
            - physical: Кинетическое оружие
            - energy: Лазеры, плазма
            - chemical: Яд (только органика)
            - thermal: Огненный урон
            - emp: Только кибер-части
            - cyber: Специальный урон по кибер-частям
            - poison: Отравление (органика)
            - electromagnetic: Электромагнитное оружие
        is_critical:
          type: boolean
          description: Критическое попадание
        modifiers_applied:
          type: array
          description: Примененные модификаторы урона
          items:
            type: object
            properties:
              modifier_type:
                type: string
              modifier_value:
                type: number
        target_status:
          type: object
          description: Статус цели после выстрела
          properties:
            hp_remaining:
              type: number
              minimum: 0
            is_dead:
              type: boolean

    DamageCalculationRequest:
      type: object
      required:
        - weapon_id
        - target_body_part
        - damage_type
      properties:
        weapon_id:
          type: string
        target_body_part:
          type: string
          enum: [head, torso, arms, legs, cyber_head, cyber_torso, cyber_arms, cyber_legs]
        target_armor:
          type: number
          minimum: 0
        target_implants:
          type: array
          items:
            type: string
        damage_type:
          type: string
          enum: [physical, energy, chemical, thermal, emp, cyber, poison, electromagnetic]
        zone_type:
          type: string
          enum: [open_world, pvp, arena, extraction, raid]
          description: Тип зоны для TTK модификатора

    DamageCalculationResult:
      type: object
      properties:
        base_damage:
          type: number
        body_part_multiplier:
          type: number
          description: Модификатор части тела (head=2.0, torso=1.0, limbs=0.7)
        armor_reduction:
          type: number
        type_effectiveness:
          type: number
          description: Эффективность типа урона против цели
        final_damage:
          type: number
        estimated_ttk:
          type: number
          description: Примерное время убийства (секунды)
        modifiers:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: number
              description:
                type: string

    Weapon:
      type: object
      required:
        - id
        - name
        - weapon_class
        - damage
        - fire_rate
        - accuracy
      properties:
        id:
          type: string
        name:
          type: string
        weapon_class:
          type: string
          enum: [pistol, revolver, assault_rifle, smg, shotgun, sniper, lmg, melee]
        damage:
          type: number
          minimum: 1
        fire_rate:
          type: number
          description: Выстрелов в секунду
        accuracy:
          type: number
          minimum: 0
          maximum: 100
        magazine_size:
          type: integer
        reload_time:
          type: number
          description: Время перезарядки (секунды)
        movement_penalty:
          type: number
          description: Штраф к точности при движении (%)
        damage_type:
          type: string
          enum: [physical, energy, chemical, thermal, emp, cyber]
        penetration:
          type: number
          description: Проникающая способность

    BodyPartModifiers:
      type: object
      properties:
        organic:
          type: object
          description: Модификаторы для органических частей тела
          properties:
            head:
              type: number
              example: 2.0
            torso:
              type: number
              example: 1.0
            arms:
              type: number
              example: 0.7
            legs:
              type: number
              example: 0.7
        cyber:
          type: object
          description: Модификаторы для кибер-частей
          properties:
            cyber_head:
              type: number
              example: 1.5
            cyber_torso:
              type: number
              example: 0.8
            cyber_arms:
              type: number
              example: 0.5
            cyber_legs:
              type: number
              example: 0.5

    CoverPenetrationRequest:
      type: object
      required:
        - weapon_id
        - ammo_type
        - cover_material
        - cover_thickness
      properties:
        weapon_id:
          type: string
        ammo_type:
          type: string
          enum: [standard, armor_piercing, energy, explosive]
        cover_material:
          type: string
          enum: [wood, metal, concrete, energy_shield]
        cover_thickness:
          type: number
          minimum: 0
          description: Толщина в сантиметрах

    CoverPenetrationResult:
      type: object
      properties:
        penetrates:
          type: boolean
          description: Проникает ли пуля
        damage_reduction:
          type: number
          description: Снижение урона при проникновении (%)
        cover_destroyed:
          type: boolean
          description: Разрушено ли укрытие
        cover_health_remaining:
          type: number
          description: Оставшаяся прочность укрытия


servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
