openapi: 3.0.3
info:
  title: Cyberpsychosis Combat States API
  description: '**Enterprise-grade API for Cyberpsychosis Combat States management**

    Provides comprehensive management of cyberpsychosis states in MMOFPS combat system.
    Supports real-time state transitions, health monitoring, and performance optimization.

    **Performance:** P99 <50ms for state transitions, <20ms for health checks **Reliability:**
    99.9% uptime with automatic failover **Security:** JWT authentication, rate limiting,
    input validation'
  version: 1.0.0
  contact:
    name: NECPGAME Team
    email: team@necpgame.com
servers:
- url: https://api.necpgame.com/cyberpsychosis/v1
  description: Production server
- url: https://staging-api.necpgame.com/cyberpsychosis/v1
  description: Staging server
- url: http://localhost:8080/api/v1
  description: Local development
security:
- BearerAuth: []
tags:
- name: Cyberpsychosis States
  description: Core cyberpsychosis state management operations
- name: State Triggers
  description: Operations to trigger specific cyberpsychosis states
- name: Health Monitoring
  description: System health and monitoring endpoints
paths:
  /cyberpsychosis/states:
    $ref: ./paths/cyberpsychosis-states.yaml#/paths/~1cyberpsychosis~1states
  /cyberpsychosis/states/{player_id}:
    $ref: ./paths/cyberpsychosis-states-{player_id}.yaml#/paths/~1cyberpsychosis~1states~1{player_id}
  /cyberpsychosis/states/{state_id}:
    $ref: ./paths/cyberpsychosis-states-{state_id}.yaml#/paths/~1cyberpsychosis~1states~1{state_id}
  /cyberpsychosis/states/{state_id}/deactivate:
    $ref: ./paths/cyberpsychosis-states-{state_id}-deactivate.yaml#/paths/~1cyberpsychosis~1states~1{state_id}~1deactivate
  /cyberpsychosis/triggers/berserk:
    $ref: ./paths/cyberpsychosis-triggers-berserk.yaml#/paths/~1cyberpsychosis~1triggers~1berserk
  /cyberpsychosis/triggers/adrenal-overload:
    $ref: ./paths/cyberpsychosis-triggers-adrenal-overload.yaml#/paths/~1cyberpsychosis~1triggers~1adrenal-overload
  /cyberpsychosis/triggers/neural-overload:
    $ref: ./paths/cyberpsychosis-triggers-neural-overload.yaml#/paths/~1cyberpsychosis~1triggers~1neural-overload
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /system/health:
    $ref: ./paths/system-health.yaml#/paths/~1system~1health
components:
  schemas:
    CyberpsychosisState:
      $ref: ./schemas/cyberpsychosis-service-schemas.yaml#/components/schemas/CyberpsychosisState
    CombatSession:
      $ref: ./schemas/cyberpsychosis-service-schemas.yaml#/components/schemas/CombatSession
    StateTransition:
      $ref: ./schemas/cyberpsychosis-service-schemas.yaml#/components/schemas/StateTransition
    SystemHealth:
      $ref: ./schemas/cyberpsychosis-service-schemas.yaml#/components/schemas/SystemHealth
  responses:
    BadRequest:
      $ref: ./schemas/cyberpsychosis-service-responses.yaml#/components/responses/BadRequest
    NotFound:
      $ref: ./schemas/cyberpsychosis-service-responses.yaml#/components/responses/NotFound
    InternalServerError:
      $ref: ./schemas/cyberpsychosis-service-responses.yaml#/components/responses/InternalServerError
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for API authentication
