openapi: 3.0.3
info:
  title: Auction House History API
  version: 1.0.0
  description: |
    API для истории цен и статистики аукцион дома.
    
    Источник: .BRAIN/02-gameplay/economy/economy-auction-house.md v1.0.0
    
    История цен:
    - Графики цен за период
    - Статистика (средняя цена, минимум, максимум)
    - Тренды (рост/падение)
    - Объемы торгов
    
    Основной файл: auction-house-core.yaml

  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Auction House History
    description: История и статистика

paths:
  /gameplay/economy/auction/history/price:
    get:
      summary: Получить историю цен
      description: |
        Возвращает историю цен предмета за период.
        Используется для построения графиков.
      operationId: getPriceHistory
      tags:
        - Auction House History
      parameters:
        - name: item_id
          in: query
          required: true
          schema:
            type: string
        - name: period
          in: query
          required: true
          schema:
            type: string
            enum: [1d, 7d, 30d, 90d, 1y]
        - name: interval
          in: query
          schema:
            type: string
            enum: [1h, 4h, 1d]
            default: 1d
            description: Интервал агрегации данных
      responses:
        '200':
          description: История цен
          content:
            application/json:
              schema:
                type: object
                properties:
                  item_id:
                    type: string
                  period:
                    type: string
                  data_points:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                        average_price:
                          type: number
                        min_price:
                          type: number
                        max_price:
                          type: number
                        volume:
                          type: integer
                        trades_count:
                          type: integer

  /gameplay/economy/auction/history/statistics:
    get:
      summary: Получить статистику цен
      description: |
        Возвращает статистику по ценам предмета.
        Средняя, минимум, максимум, медиана, объемы.
      operationId: getPriceStatistics
      tags:
        - Auction House History
      parameters:
        - name: item_id
          in: query
          required: true
          schema:
            type: string
        - name: period
          in: query
          schema:
            type: string
            enum: [1d, 7d, 30d, 90d, 1y]
            default: 30d
      responses:
        '200':
          description: Статистика цен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceStatistics'
              examples:
                weapon_stats:
                  summary: Статистика оружия
                  value:
                    item_id: "rare_weapon_001"
                    period: "30d"
                    average_price: 4800
                    median_price: 4750
                    min_price: 4200
                    max_price: 5500
                    price_change_percent: 5.2
                    trend: "increasing"
                    total_volume: 1250
                    total_trades: 156

  /gameplay/economy/auction/history/trends:
    get:
      summary: Получить тренды цен
      description: |
        Возвращает тренды изменения цен.
        Рост, падение, стабильность.
      operationId: getPriceTrends
      tags:
        - Auction House History
      parameters:
        - name: item_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Тренды цен
          content:
            application/json:
              schema:
                type: object
                properties:
                  item_id:
                    type: string
                  trend:
                    type: string
                    enum: [increasing, decreasing, stable, volatile]
                  price_change_7d:
                    type: number
                    description: Изменение за 7 дней (%)
                  price_change_30d:
                    type: number
                    description: Изменение за 30 дней (%)
                  volatility:
                    type: number
                    description: Волатильность (%)

components:
  schemas:
    PriceStatistics:
      type: object
      properties:
        item_id:
          type: string
        period:
          type: string
        average_price:
          type: number
        median_price:
          type: number
        min_price:
          type: number
        max_price:
          type: number
        price_change_percent:
          type: number
          description: Изменение цены за период (%)
        trend:
          type: string
          enum: [increasing, decreasing, stable]
        total_volume:
          type: integer
          description: Общий объем торгов
        total_trades:
          type: integer
          description: Количество сделок


