openapi: 3.0.3
info:
  title: Cyberspace Service API
  description: 'Enterprise-grade Cyberspace Navigation System  NECPGAME .


    ## 🎯 **Cyberspace Service Overview**


    Cyberspace Service      
      NECPGAME  enterprise-grade   .


    ### ** **

    - **Node Management**:   

    - **Navigation System**:    

    - **ICE Breaking**:    (Intrusion Countermeasures Electronics)

    - **Data Extraction**:    


    ### ** **

    - **Data Nodes**:    

    - **Security Nodes**:    

    - **Corporate Nodes**:  

    - **Black Market Nodes**:   


    ### ** **

    - **Neural Interface**:   

    - **ICE Combat**:    ICE

    - **Trace Detection**:  

    - **Data Mining**:    


    ## 📊 **Performance Targets**

    - **P99 Latency**: <20ms   

    - **Throughput**: 40,000+ cyberspace operations/second

    - **Concurrent Players**: 500,000+  

    - **Memory per Player**: <3KB    


    ## 🔐 **Security**

    - JWT RS256 

    - Rate limiting   

    - Input validation  sanitization

    - Audit logging  

    '
  version: 1.0.0
  contact:
    name: NECPGAME Platform Team
    email: platform@necpgame.com
  license:
    name: Proprietary
    url: https://necpgame.com/license
servers:
- url: https://cyberspace.necpgame.com/api/v1
  description: Production Environment
- url: https://cyberspace-staging.necpgame.com/api/v1
  description: Staging Environment
- url: http://localhost:8080/api/v1
  description: Local Development
security:
- BearerAuth: []
tags:
- name: Cyberspace Navigation
  description:   
- name: Node Management
  description:  
- name: ICE Systems
  description:  ICE 
- name: Data Operations
  description:   
- name: Neural Interface
  description:  
- name: Health
  description:   
paths:
  /health:
    get:
      summary:   
      operationId: healthCheck
      tags:
      - Health
      responses:
        '200':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /health/batch:
    post:
      summary:   
      operationId: healthBatchCheck
      tags:
      - Health
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthBatchRequest'
      responses:
        '200':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthBatchResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /health/ws:
    get:
      summary: WebSocket  
      operationId: healthWebSocketCheck
      tags:
      - Health
      responses:
        '101':
          description: WebSocket  
        '503':
          description: WebSocket 
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /cyberspace/connect:
    post:
      summary:   
      operationId: connectToCyberspace
      tags:
      - Cyberspace Navigation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /cyberspace/disconnect:
    post:
      summary:   
      operationId: disconnectFromCyberspace
      tags:
      - Cyberspace Navigation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisconnectRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisconnectResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /cyberspace/navigate:
    post:
      summary:   
      operationId: navigateNodes
      tags:
      - Cyberspace Navigation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NavigateRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NavigateResponse'
        '400':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /cyberspace/map:
    get:
      summary:   
      operationId: getCyberspaceMap
      tags:
      - Cyberspace Navigation
      parameters:
      - name: playerId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: centerNodeId
        in: query
        schema:
          type: string
          format: uuid
      - name: radius
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 10
          default: 3
      - name: includeHidden
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CyberspaceMapResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /nodes:
    post:
      summary:   
      operationId: createNode
      tags:
      - Node Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNodeRequest'
      responses:
        '201':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    get:
      summary:   
      operationId: getNodes
      tags:
      - Node Management
      parameters:
      - name: type
        in: query
        schema:
          type: string
          enum:
          - data
          - security
          - corporate
          - black_market
          - public
      - name: corporationId
        in: query
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeListResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /nodes/{nodeId}:
    get:
      summary:    ID
      operationId: getNode
      tags:
      - Node Management
      parameters:
      - name: nodeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeResponse'
        '404':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    put:
      summary:  
      operationId: updateNode
      tags:
      - Node Management
      parameters:
      - name: nodeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNodeRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeResponse'
        '403':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /nodes/{nodeId}/data:
    get:
      summary:   
      operationId: getNodeData
      tags:
      - Data Operations
      parameters:
      - name: nodeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: playerId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: dataType
        in: query
        schema:
          type: string
          enum:
          - files
          - logs
          - credentials
          - financial
          - intel
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeDataResponse'
        '403':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /nodes/{nodeId}/data/extract:
    post:
      summary:    
      operationId: extractNodeData
      tags:
      - Data Operations
      parameters:
      - name: nodeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractDataRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractDataResponse'
        '400':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /ice/break:
    post:
      summary:  ICE 
      operationId: breakICE
      tags:
      - ICE Systems
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BreakICERequest'
      responses:
        '200':
          description: ICE 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreakICEResponse'
        '400':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /ice/combat:
    post:
      summary:   ICE
      operationId: combatICE
      tags:
      - ICE Systems
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CombatICERequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CombatICEResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /trace/detect:
    get:
      summary:   
      operationId: detectTrace
      tags:
      - Cyberspace Navigation
      parameters:
      - name: playerId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TraceDetectionResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /neural-link/status:
    get:
      summary:   
      operationId: getNeuralLinkStatus
      tags:
      - Neural Interface
      parameters:
      - name: playerId
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NeuralLinkStatusResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /neural-link/calibrate:
    post:
      summary:   
      operationId: calibrateNeuralLink
      tags:
      - Neural Interface
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalibrateNeuralLinkRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalibrateNeuralLinkResponse'
        '400':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /players/{playerId}/cyberspace-session:
    get:
      summary:    
      operationId: getPlayerCyberspaceSession
      tags:
      - Cyberspace Navigation
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerCyberspaceSessionResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /analytics/cyberspace-activity:
    get:
      summary:    
      operationId: getCyberspaceAnalytics
      tags:
      - Data Operations
      parameters:
      - name: period
        in: query
        schema:
          type: string
          enum:
          - hourly
          - daily
          - weekly
          - monthly
          default: daily
      - name: nodeType
        in: query
        schema:
          type: string
          enum:
          - data
          - security
          - corporate
          - black_market
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CyberspaceAnalyticsResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CharacterEntity:
      $ref: ../common/schemas/game-entities.yaml#/components/schemas/CharacterEntity
    BaseEntity:
      $ref: ../common/schemas/game-entities.yaml#/components/schemas/BaseEntity
    OptimisticLock:
      $ref: ../common/schemas/game-entities.yaml#/components/schemas/OptimisticLock
    ErrorResponse:
      $ref: ../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse
    HealthResponse:
      $ref: ../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthResponse
    HealthBatchRequest:
      $ref: ../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthBatchRequest
    HealthBatchResponse:
      $ref: ../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthBatchResponse
    CyberspaceNodeEntity:
      type: object
      description:   
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        required:
        - name
        - type
        - coordinates
        properties:
          name:
            type: string
            description:  
            maxLength: 100
            example: Arasaka Mainframe
          description:
            type: string
            description:  
            maxLength: 500
            example:    Arasaka
          type:
            type: string
            description:  
            enum:
            - data
            - security
            - corporate
            - black_market
            - public
            example: corporate
          coordinates:
            type: object
            description:   
            required:
            - x
            - y
            - z
            properties:
              x:
                type: number
                description: X 
                example: 150.5
              y:
                type: number
                description: Y 
                example: -25.3
              z:
                type: number
                description: Z 
                example: 75.0
          corporationId:
            type: string
            description: ID -
            format: uuid
          securityLevel:
            type: integer
            description:  
            minimum: 1
            maximum: 10
            example: 8
          iceSystems:
            type: array
            description:  ICE 
            items:
              $ref: '#/components/schemas/ICESystemEntity'
          dataVaults:
            type: array
            description:  
            items:
              $ref: '#/components/schemas/DataVaultEntity'
          connectedNodes:
            type: array
            description:  
            items:
              type: string
              format: uuid
          isActive:
            type: boolean
            description:  
            default: true
          lastScanned:
            type: string
            description: Last scan
            format: date-time
          $ref: '#/components/schemas/OptimisticLock'
    ICESystemEntity:
      type: object
      description:  ICE 
      required:
      - type
      - strength
      - integrity
      properties:
        type:
          type: string
          description:  ICE
          enum:
          - black_ice
          - white_ice
          - killer_ice
          - spider_ice
          example: black_ice
        strength:
          type: integer
          description:  ICE
          minimum: 1
          maximum: 100
          example: 75
        integrity:
          type: integer
          description:  ICE
          minimum: 0
          maximum: 100
          example: 100
        behavior:
          type: string
          description:  ICE
          enum:
          - aggressive
          - defensive
          - stealth
          - adaptive
          example: adaptive
        effects:
          type: array
          description:   
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - damage
                - trace
                - shutdown
                - alert
              severity:
                type: integer
                minimum: 1
                maximum: 10
    DataVaultEntity:
      type: object
      description:   
      required:
      - type
      - size
      - securityLevel
      properties:
        type:
          type: string
          description:  
          enum:
          - financial
          - intel
          - personal
          - corporate
          - black_market
          example: intel
        size:
          type: integer
          description:    
          minimum: 1
          example: 1048576
        securityLevel:
          type: integer
          description:   
          minimum: 1
          maximum: 10
          example: 7
        value:
          type: integer
          description:  
          minimum: 0
          example: 50000
        encryptionLevel:
          type: integer
          description:  
          minimum: 1
          maximum: 10
          example: 8
        accessLogs:
          type: array
          description:  
          items:
            type: object
            properties:
              playerId:
                type: string
                format: uuid
              accessTime:
                type: string
                format: date-time
              action:
                type: string
                enum:
                - read
                - extract
                - modify
    PlayerCyberspaceSessionEntity:
      type: object
      description:    
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        required:
        - playerId
        - currentNodeId
        - connectionTime
        properties:
          playerId:
            type: string
            description: ID 
            format: uuid
            example: 123e4567-e89b-12d3-a456-426614174000
          currentNodeId:
            type: string
            description:  
            format: uuid
            example: 456e7890-e89b-12d3-a456-426614174001
          connectionTime:
            type: string
            description:  
            format: date-time
          neuralLinkQuality:
            type: number
            description:   
            minimum: 0
            maximum: 1
            example: 0.95
          traceLevel:
            type: number
            description:  
            minimum: 0
            maximum: 1
            example: 0.15
          bandwidthUsed:
            type: integer
            description:   
            minimum: 0
            example: 500
          dataExtracted:
            type: integer
            description:  
            minimum: 0
            example: 1024
          iceEncounters:
            type: integer
            description:   ICE
            minimum: 0
            example: 3
          isActive:
            type: boolean
            description:  
            default: true
          $ref: '#/components/schemas/OptimisticLock'
    ConnectRequest:
      type: object
      required:
      - playerId
      - neuralLinkId
      properties:
        playerId:
          type: string
          format: uuid
        neuralLinkId:
          type: string
          format: uuid
        entryNodeId:
          type: string
          format: uuid
          description:   ()
    ConnectResponse:
      type: object
      properties:
        sessionId:
          type: string
          format: uuid
        playerId:
          type: string
          format: uuid
        currentNode:
          $ref: '#/components/schemas/CyberspaceNodeEntity'
        neuralLinkQuality:
          type: number
          minimum: 0
          maximum: 1
        connectionTime:
          type: string
          format: date-time
    DisconnectRequest:
      type: object
      required:
      - playerId
      properties:
        playerId:
          type: string
          format: uuid
    DisconnectResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        sessionDuration:
          type: integer
          description:    
        dataExtracted:
          type: integer
        experienceGained:
          type: integer
        disconnectTime:
          type: string
          format: date-time
    NavigateRequest:
      type: object
      required:
      - playerId
      - targetNodeId
      properties:
        playerId:
          type: string
          format: uuid
        targetNodeId:
          type: string
          format: uuid
        useQuickhack:
          type: boolean
          description:   
          default: false
    NavigateResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        fromNodeId:
          type: string
          format: uuid
        toNodeId:
          type: string
          format: uuid
        navigationTime:
          type: integer
          description:    
        bandwidthCost:
          type: integer
        success:
          type: boolean
        detected:
          type: boolean
          description:   
    CyberspaceMapResponse:
      type: object
      properties:
        centerNode:
          $ref: '#/components/schemas/CyberspaceNodeEntity'
        visibleNodes:
          type: array
          items:
            $ref: '#/components/schemas/CyberspaceNodeEntity'
        connections:
          type: array
          items:
            type: object
            properties:
              fromNodeId:
                type: string
                format: uuid
              toNodeId:
                type: string
                format: uuid
              connectionType:
                type: string
                enum:
                - public
                - private
                - secure
                - hidden
              securityLevel:
                type: integer
                minimum: 1
                maximum: 10
        playerPosition:
          type: object
          properties:
            nodeId:
              type: string
              format: uuid
            coordinates:
              type: object
              properties:
                x:
                  type: number
                y:
                  type: number
                z:
                  type: number
    CreateNodeRequest:
      type: object
      required:
      - name
      - type
      - coordinates
      properties:
        name:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 500
        type:
          type: string
          enum:
          - data
          - security
          - corporate
          - black_market
          - public
        coordinates:
          type: object
          required:
          - x
          - y
          - z
          properties:
            x:
              type: number
            y:
              type: number
            z:
              type: number
        corporationId:
          type: string
          format: uuid
        securityLevel:
          type: integer
          minimum: 1
          maximum: 10
        iceSystems:
          type: array
          items:
            $ref: '#/components/schemas/ICESystemEntity'
        dataVaults:
          type: array
          items:
            $ref: '#/components/schemas/DataVaultEntity'
    UpdateNodeRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 500
        type:
          type: string
          enum:
          - data
          - security
          - corporate
          - black_market
          - public
        coordinates:
          type: object
          properties:
            x:
              type: number
            y:
              type: number
            z:
              type: number
        securityLevel:
          type: integer
          minimum: 1
          maximum: 10
        iceSystems:
          type: array
          items:
            $ref: '#/components/schemas/ICESystemEntity'
        dataVaults:
          type: array
          items:
            $ref: '#/components/schemas/DataVaultEntity'
        isActive:
          type: boolean
    NodeResponse:
      type: object
      properties:
        node:
          $ref: '#/components/schemas/CyberspaceNodeEntity'
        metadata:
          type: object
          properties:
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
    NodeListResponse:
      type: object
      properties:
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/CyberspaceNodeEntity'
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 100
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean
    NodeDataResponse:
      type: object
      properties:
        nodeId:
          type: string
          format: uuid
        data:
          type: object
          additionalProperties: true
          description:  
        accessLevel:
          type: string
          enum:
          - public
          - restricted
          - classified
          - black_ice
        lastAccessed:
          type: string
          format: date-time
    ExtractDataRequest:
      type: object
      required:
      - playerId
      - dataType
      - extractionMethod
      properties:
        playerId:
          type: string
          format: uuid
        dataType:
          type: string
          enum:
          - files
          - logs
          - credentials
          - financial
          - intel
        extractionMethod:
          type: string
          enum:
          - quick
          - stealth
          - brute_force
          - social_engineering
        targetSize:
          type: integer
          description:   
          minimum: 1
          maximum: 10485760
    ExtractDataResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        nodeId:
          type: string
          format: uuid
        extractedData:
          type: object
          additionalProperties: true
        dataSize:
          type: integer
          minimum: 0
        extractionTime:
          type: integer
          description:    
        detectionRisk:
          type: number
          minimum: 0
          maximum: 1
        success:
          type: boolean
    BreakICERequest:
      type: object
      required:
      - playerId
      - nodeId
      - iceType
      - hackingMethod
      properties:
        playerId:
          type: string
          format: uuid
        nodeId:
          type: string
          format: uuid
        iceType:
          type: string
          enum:
          - black_ice
          - white_ice
          - killer_ice
          - spider_ice
        hackingMethod:
          type: string
          enum:
          - bypass
          - overload
          - exploit
          - brute_force
        tools:
          type: array
          description:  
          items:
            type: string
    BreakICEResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        nodeId:
          type: string
          format: uuid
        success:
          type: boolean
        iceIntegrity:
          type: integer
          minimum: 0
          maximum: 100
        damageDealt:
          type: integer
          minimum: 0
        traceIncrease:
          type: number
          minimum: 0
          maximum: 1
        timeElapsed:
          type: integer
          description:   
    CombatICERequest:
      type: object
      required:
      - playerId
      - iceId
      - action
      properties:
        playerId:
          type: string
          format: uuid
        iceId:
          type: string
          format: uuid
        action:
          type: string
          enum:
          - attack
          - defend
          - evade
          - counter
        power:
          type: integer
          description:  
          minimum: 1
          maximum: 100
    CombatICEResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        iceId:
          type: string
          format: uuid
        playerHealth:
          type: integer
          minimum: 0
          maximum: 100
        iceIntegrity:
          type: integer
          minimum: 0
          maximum: 100
        actionResult:
          type: string
          enum:
          - hit
          - miss
          - critical
          - evaded
        damage:
          type: integer
          minimum: 0
        traceIncrease:
          type: number
          minimum: 0
          maximum: 1
        combatEnded:
          type: boolean
    TraceDetectionResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        traceLevel:
          type: number
          minimum: 0
          maximum: 1
        detectionRisk:
          type: string
          enum:
          - low
          - medium
          - high
          - critical
        estimatedTime:
          type: integer
          description:      
        countermeasures:
          type: array
          items:
            type: string
            enum:
            - disconnect
            - use_proxy
            - clean_logs
            - deploy_decoys
    NeuralLinkStatusResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        quality:
          type: number
          minimum: 0
          maximum: 1
        stability:
          type: number
          minimum: 0
          maximum: 1
        bandwidth:
          type: integer
          minimum: 0
        latency:
          type: integer
          description:   
        lastCalibration:
          type: string
          format: date-time
        warnings:
          type: array
          items:
            type: string
            enum:
            - low_quality
            - instability
            - overheating
            - interference
    CalibrateNeuralLinkRequest:
      type: object
      required:
      - playerId
      properties:
        playerId:
          type: string
          format: uuid
        calibrationType:
          type: string
          enum:
          - quick
          - full
          - emergency
          default: quick
    CalibrateNeuralLinkResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        success:
          type: boolean
        qualityBefore:
          type: number
          minimum: 0
          maximum: 1
        qualityAfter:
          type: number
          minimum: 0
          maximum: 1
        calibrationTime:
          type: integer
          description:    
        recommendations:
          type: array
          items:
            type: string
    PlayerCyberspaceSessionResponse:
      type: object
      properties:
        session:
          $ref: '#/components/schemas/PlayerCyberspaceSessionEntity'
        statistics:
          type: object
          properties:
            totalSessions:
              type: integer
              minimum: 0
            averageSessionTime:
              type: integer
              description:     
            totalDataExtracted:
              type: integer
              minimum: 0
            successRate:
              type: number
              minimum: 0
              maximum: 1
            favoriteNodeType:
              type: string
              enum:
              - data
              - security
              - corporate
              - black_market
              - public
    CyberspaceAnalyticsResponse:
      type: object
      properties:
        period:
          type: string
          enum:
          - hourly
          - daily
          - weekly
          - monthly
        totalSessions:
          type: integer
          minimum: 0
        activePlayers:
          type: integer
          minimum: 0
        dataExtracted:
          type: integer
          minimum: 0
        iceEncounters:
          type: integer
          minimum: 0
        nodeTypeDistribution:
          type: object
          additionalProperties:
            type: integer
            minimum: 0
        peakHours:
          type: array
          items:
            type: object
            properties:
              hour:
                type: integer
                minimum: 0
                maximum: 23
              sessionCount:
                type: integer
                minimum: 0
        securityIncidents:
          type: integer
          minimum: 0

