openapi: 3.0.3
info:
  title: Cyberspace Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Cyberspace Navigation API for NECPGAME**

    This API manages digital realm navigation, risk assessment, and interactive elements
    in the cyberspace, providing neural implant integration, connection management,
    and survival mechanics.

    ## Key Features

    - **Neural Navigation**: Real-time cyberspace exploration with implant integration
    - **Risk Assessment**: Dynamic risk calculation for Blackwall interactions
    - **Connection Management**: Strength and time management for digital presence
    - **Easter Eggs**: Hidden content discovery with rewards and achievements
    - **Survival Mechanics**: Stress management and consequence application
    - **Performance Optimized**: MMOFPS-grade performance with <50ms P99 latency

    ## Domain Purpose

    The Cyberspace domain handles all aspects of digital realm navigation in Night City.
    Players explore networks, discover hidden content, assess risks, and manage their
    digital survival through neural implants and cyberware.

    ## Performance Targets

    - P99 Latency: <50ms for navigation operations
    - Memory: <25KB per active cyberspace session
    - Concurrent users: 50,000+ simultaneous explorations
    - Risk calculations: <10ms response time

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/cyberspace
  description: Production server
- url: https://staging-api.necpgame.com/v1/cyberspace
  description: Staging server
- url: http://localhost:8080/api/v1/cyberspace
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Cyberspace Navigation
  description: Core cyberspace navigation operations
- name: Risk Assessment
  description: Blackwall risk calculation and consequences
- name: Easter Eggs
  description: Hidden content discovery and rewards
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Example domain health check
      description: '**Enterprise-grade health check endpoint**


        Provides real-time health status of the example domain microservice.

        Critical for service discovery, load balancing, and monitoring.


        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: cyberspaceServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /health/batch:
    post:
      summary: Batch health check for multiple domain services
      description: '**Performance optimization:** Check multiple domain health in
        single request


        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.


        **Use case:** Service mesh health checks, Kubernetes readiness probes

        '
      operationId: cyberspaceServiceBatchHealthCheck
      tags:
      - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                    - example-domain
                    - system-domain
                    - specialized-domain
                    maxItems: 10
                  description: List of services to check
      responses:
        '200':
          $ref: '#/components/responses/HealthBatchSuccess'
        '400':
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description: '**Performance optimization:** Real-time health updates without
        polling


        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.


        **Protocol:** WebSocket with JSON payloads

        **Heartbeat:** 30 second intervals

        **Reconnection:** Automatic with exponential backoff

        '
      operationId: cyberspaceServiceHealthWebSocket
      tags:
      - Health Monitoring
      parameters:
      - name: services
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - example-domain
            - system-domain
            - specialized-domain
        description: Services to monitor (optional, monitors all if not specified)
      responses:
        '200':
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/example-domain/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                    - health-monitoring-v1
        '101':
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSocketHealthMessage'
        '400':
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /navigation/sessions:
    get:
      summary: List active cyberspace navigation sessions
      description: '**Enterprise-grade listing endpoint for cyberspace sessions**


        Supports filtering by character, connection strength, and time remaining.

        Optimized for real-time monitoring with proper indexing.


        **Performance:** <10ms P95, supports 1000+ concurrent explorations

        '
      operationId: listCyberspaceSessions
      tags:
      - Cyberspace Navigation
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Page number for pagination
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Number of items per page
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at
          - name
          - priority
          default: created_at
        description: Sort field
      - name: sort_order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Sort order
      - name: filter_status
        in: query
        schema:
          type: string
          enum:
          - active
          - inactive
          - pending
        description: Filter by status
      responses:
        '200':
          $ref: '#/components/responses/CyberspaceSessionListSuccess'
        '400':
          description: Invalid request - malformed query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create new example
      description: '**Enterprise-grade creation endpoint**


        Validates business rules, applies security checks, and ensures data consistency.

        Supports optimistic locking for concurrent operations.


        **Performance:** <50ms P95, includes validation and business logic

        '
      operationId: createCyberspaceSession
      tags:
      - Example Domain
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCyberspaceSessionRequest'
      responses:
        '201':
          $ref: '#/components/responses/CyberspaceSessionCreated'
        '400':
          description: Invalid request - malformed or missing data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - example with this identifier already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - creation rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /navigation/sessions/{session_id}:
    get:
      summary: Get specific example by ID
      description: '**Enterprise-grade retrieval endpoint**


        Optimized with proper caching strategies and database indexing.

        Supports conditional requests with ETags.


        **Performance:** <5ms P95 with Redis caching

        '
      operationId: getCyberspaceSession
      tags:
      - Example Domain
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Cyberspace session unique identifier
      - name: include_related
        in: query
        schema:
          type: boolean
          default: false
        description: Include related data in response
      - name: If-None-Match
        in: header
        schema:
          type: string
        description: Conditional request - return 304 if ETag matches
      - name: If-Modified-Since
        in: header
        schema:
          type: string
          format: date-time
        description: Conditional request - return 304 if not modified since this time
      responses:
        '200':
          $ref: '#/components/responses/CyberspaceSessionRetrieved'
        '304':
          description: Not modified - resource has not changed
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
        '400':
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Example not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update existing example
      description: '**Enterprise-grade update endpoint**


        Supports partial updates, optimistic locking, and audit trails.

        Ensures data consistency with event sourcing patterns.


        **Performance:** <25ms P95, includes validation and conflict resolution

        '
      operationId: updateCyberspaceSession
      tags:
      - Example Domain
      security:
      - BearerAuth: []
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Cyberspace session unique identifier
      - name: If-Match
        in: header
        schema:
          type: string
        description: ETag for optimistic locking - prevents concurrent updates
      - name: If-Unmodified-Since
        in: header
        schema:
          type: string
          format: date-time
        description: Conditional update - proceed only if not modified since this
          time
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCyberspaceSessionRequest'
      responses:
        '200':
          $ref: '#/components/responses/CyberspaceSessionUpdated'
        '400':
          description: Invalid request - malformed data or example ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Example not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - concurrent modification detected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition failed - resource state has changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - update rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete example
      description: '**Enterprise-grade deletion endpoint**


        Supports soft deletes with audit trails and cleanup scheduling.

        Ensures referential integrity and cascading deletes.


        **Performance:** <15ms P95, includes cleanup operations

        '
      operationId: deleteCyberspaceSession
      tags:
      - Example Domain
      security:
      - BearerAuth: []
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Cyberspace session unique identifier
      responses:
        '204':
          $ref: '#/components/responses/CyberspaceSessionDeleted'
        '400':
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Example not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - example cannot be deleted (referential integrity)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - deletion rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /navigation/enter:
    post:
      summary: Enter cyberspace navigation session
      description: '**Enterprise-grade cyberspace entry endpoint**

        Creates a new cyberspace navigation session with neural implant integration.

        Validates character eligibility, implant compatibility, and network access.

        **Performance:** <50ms P95, includes risk assessment and implant validation

        '
      operationId: enterCyberspace
      tags:
      - Cyberspace Navigation
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CyberspaceEntryRequest'
      responses:
        '201':
          $ref: '#/components/responses/CyberspaceSessionCreated'
        '400':
          description: Invalid entry request - character not eligible or implant incompatible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access denied - insufficient permissions or banned character
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - cyberspace entry rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /risk/assess:
    post:
      summary: Assess Blackwall interaction risks
      description: '**Enterprise-grade risk assessment endpoint**

        Calculates mortality rates and consequences for Blackwall interactions.

        Considers character skills, equipment, and preparation level.

        **Performance:** <10ms P95, complex algorithmic calculations

        '
      operationId: assessBlackwallRisk
      tags:
      - Risk Assessment
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RiskAssessmentRequest'
      responses:
        '200':
          description: Risk assessment completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskAssessment'
        '400':
          description: Invalid risk assessment request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - risk assessment rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 10
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /easter-eggs:
    get:
      summary: Get available easter eggs for discovery
      description: '**Enterprise-grade easter egg discovery endpoint**

        Lists hidden content available for discovery in current network area.

        Filters by player level, location, and discovery difficulty.

        **Performance:** <20ms P95, cached content with real-time availability

        '
      operationId: getAvailableEasterEggs
      tags:
      - Easter Eggs
      parameters:
      - name: category
        in: query
        schema:
          type: string
          enum:
          - technology
          - cultural
          - historical
          - humorous
        description: Filter by easter egg category
      - name: difficulty
        in: query
        schema:
          type: string
          enum:
          - easy
          - medium
          - hard
          - legendary
        description: Filter by discovery difficulty
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: Maximum number of easter eggs to return
      responses:
        '200':
          description: Easter eggs retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EasterEggListResponse'
        '429':
          description: Too many requests - easter egg discovery rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 5
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  responses:
    HealthBatchSuccess:
      $ref: ../common/responses/success.yaml#/HealthBatchSuccess
    CyberspaceSessionListSuccess:
      description: Cyberspace sessions retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
        X-Total-Count:
          schema:
            type: integer
            example: 150
            description: Total number of examples matching criteria
        X-Page-Count:
          schema:
            type: integer
            example: 8
            description: Total number of pages
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CyberspaceSessionListResponse'
    CyberspaceSessionCreated:
      description: Cyberspace session created successfully
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/examples/550e8400-e29b-41d4-a716-446655440000
            description: URL of the created example
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching and optimistic locking
        Cache-Control:
          schema:
            type: string
            example: no-cache
      content:
        application/json:
            schema:
              $ref: '#/components/schemas/CyberspaceSessionResponse'
    CyberspaceSessionRetrieved:
      description: Cyberspace session retrieved successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
            description: Cache control directives
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: '2025-12-21T10:00:00Z'
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 5
            description: Processing time in milliseconds
      content:
        application/json:
            schema:
              $ref: '#/components/schemas/CyberspaceSessionResponse'
    CyberspaceSessionUpdated:
      description: Cyberspace session updated successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v2"'
            description: New entity tag after update
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: '2025-12-21T10:05:00Z'
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 25
            description: Processing time in milliseconds
      content:
        application/json:
            schema:
              $ref: '#/components/schemas/CyberspaceSessionResponse'
    CyberspaceSessionDeleted:
      description: Cyberspace session deleted successfully
      headers:
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
    OK:
      $ref: ../common/responses/success.yaml#/OK
    Created:
      $ref: ../common/responses/success.yaml#/Created
    BadRequest:
      $ref: ../common/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common/responses/error.yaml#/Unauthorized
    Forbidden:
      $ref: ../common/responses/error.yaml#/Forbidden
    NotFound:
      $ref: ../common/responses/error.yaml#/NotFound
    Conflict:
      $ref: ../common/responses/error.yaml#/Conflict
    InternalServerError:
      $ref: ../common/responses/error.yaml#/InternalServerError
    HealthOK:
      $ref: ../common/responses/success.yaml#/HealthOK
  schemas:
    HealthResponse:
      $ref: ../common/schemas/health.yaml#/HealthResponse
    WebSocketHealthMessage:
      type: object
      required:
      - type
      - timestamp
      - health
      properties:
        type:
          type: string
          enum:
          - health_update
          - health_alert
          - service_down
          example: health_update
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          maxLength: 255
        message_timestamp:
          type: string
          format: date-time
          description: Timestamp of the health message
          maxLength: 1000
        health:
          $ref: '#/components/schemas/HealthResponse'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    Error:
      $ref: ../common/schemas/error.yaml#/Error
    CyberspaceSession:
      type: object
      required:
      - session_id
      - character_id
      - current_node
      - connection_strength
      - time_remaining
      - created_at
      - status
      - is_active
      properties:
        session_id:
          type: string
          format: uuid
          description: Cyberspace session unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        character_id:
          type: string
          format: uuid
          description: Character unique identifier
          example: 550e8400-e29b-41d4-a716-446655440001
        current_node:
          type: string
          format: uuid
          description: Current network node identifier
          example: 550e8400-e29b-41d4-a716-446655440002
        connection_strength:
          type: number
          minimum: 0
          maximum: 1
          description: Neural connection strength (0-1)
          example: 0.85
        time_remaining:
          type: integer
          minimum: 0
          description: Time remaining in seconds
          example: 245
        implant_level:
          type: integer
          minimum: 1
          maximum: 5
          description: Neural implant level
          example: 3
        created_at:
          type: string
          format: date-time
          description: Session creation timestamp
          example: '2025-12-28T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-28T10:05:00Z'
        status:
          type: string
          enum:
          - active
          - disconnected
          - terminated
          - suspended
          default: active
          description: Current session status
          example: active
        stress_level:
          type: integer
          minimum: 0
          maximum: 100
          description: Current stress level
          example: 15
        active_hacks:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Active hacking operations
          example:
          - firewall_bypass
          - data_extraction
          - ice_breaker
        is_active:
          type: boolean
          description: Whether this session is active
          example: true
        risk_level:
          type: string
          enum:
          - low
          - medium
          - high
          - extreme
          description: Current risk assessment
          example: medium
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Real-time session optimization required.'
    CreateCyberspaceSessionRequest:
      type: object
      required:
      - character_id
      - entry_point_id
      properties:
        character_id:
          type: string
          format: uuid
          description: Character initiating cyberspace navigation
          example: 550e8400-e29b-41d4-a716-446655440001
        entry_point_id:
          type: string
          format: uuid
          description: Network entry point identifier
          example: 550e8400-e29b-41d4-a716-446655440002
        implant_level:
          type: integer
          minimum: 1
          maximum: 5
          description: Neural implant level
          example: 3
        duration:
          type: integer
          minimum: 30
          maximum: 300
          default: 180
          description: Session duration in seconds
        initial_hacks:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 5
          description: Initial hacking operations to activate
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    UpdateCyberspaceSessionRequest:
      type: object
      properties:
        current_node:
          type: string
          format: uuid
          description: New current network node
          example: 550e8400-e29b-41d4-a716-446655440003
        connection_strength:
          type: number
          minimum: 0
          maximum: 1
          description: Updated connection strength
          example: 0.75
        stress_level:
          type: integer
          minimum: 0
          maximum: 100
          description: Updated stress level
          example: 25
        status:
          type: string
          enum:
          - active
          - disconnected
          - terminated
          - suspended
          description: New session status
          example: active
        active_hacks:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Updated active hacking operations
        risk_level:
          type: string
          enum:
          - low
          - medium
          - high
          - extreme
          description: Updated risk assessment
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    CyberspaceSessionResponse:
      type: object
      required:
      - session
      properties:
        session:
          $ref: '#/components/schemas/CyberspaceSession'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%.'
    CyberspaceSessionListResponse:
      type: object
      required:
      - sessions
      - total_count
      - has_more
      properties:
        sessions:
          type: array
          items:
            $ref: '#/components/schemas/CyberspaceSession'
          description: List of cyberspace sessions
        has_more:
          type: boolean
          description: Whether there are more results available
          example: true
        total_count:
          type: integer
          description: Total number of sessions matching criteria
          example: 150
        page:
          type: integer
          description: Current page number
          example: 1
        limit:
          type: integer
          description: Items per page
          example: 20
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Paginated responses optimized for memory
        efficiency.'
    PaginationParams:
      $ref: ../common/schemas/pagination.yaml#/PaginationParams
    PaginatedResponse:
      $ref: ../common/schemas/pagination.yaml#/PaginatedResponse
    CyberspaceEntryRequest:
      type: object
      required:
      - character_id
      - entry_point_id
      properties:
        character_id:
          type: string
          format: uuid
          description: Character initiating cyberspace navigation
        entry_point_id:
          type: string
          format: uuid
          description: Network entry point identifier
        implant_level:
          type: integer
          minimum: 1
          maximum: 5
          description: Neural implant level
        duration:
          type: integer
          minimum: 30
          maximum: 300
          default: 180
          description: Session duration in seconds
        initial_risk_assessment:
          type: boolean
          default: true
          description: Perform initial risk assessment
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    RiskAssessmentRequest:
      type: object
      required:
      - character_id
      - action_type
      - preparation_level
      properties:
        character_id:
          type: string
          format: uuid
          description: Character identifier for risk assessment
        action_type:
          type: string
          enum:
          - surface_mapping
          - barrier_interaction
          - penetration
          - deep_expedition
          description: Type of Blackwall interaction
        preparation_level:
          type: object
          properties:
            equipment:
              type: boolean
              description: Has proper equipment
            skills:
              type: boolean
              description: Has sufficient skills
            team_support:
              type: boolean
              description: Has team support
            maps:
              type: boolean
              description: Has weakness maps
          description: Preparation assessment
        equipment_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Equipment identifiers
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    RiskAssessment:
      type: object
      required:
      - risk_level
      - mortality_rate
      - consequence_probabilities
      properties:
        risk_level:
          type: string
          enum:
          - low
          - medium
          - high
          - extreme
          description: Overall risk level
        mortality_rate:
          type: integer
          minimum: 0
          maximum: 100
          description: Mortality percentage
        consequence_probabilities:
          type: object
          properties:
            digital_infection:
              type: integer
              minimum: 0
              maximum: 100
            cyberpsychosis:
              type: integer
              minimum: 0
              maximum: 100
            neural_damage:
              type: integer
              minimum: 0
              maximum: 100
            deck_damage:
              type: integer
              minimum: 0
              maximum: 100
            critical_condition:
              type: integer
              minimum: 0
              maximum: 100
            permadeath:
              type: integer
              minimum: 0
              maximum: 100
          description: Probability of each consequence type
        recommendations:
          type: array
          items:
            type: string
          description: Risk mitigation recommendations
        warnings:
          type: array
          items:
            type: string
          description: Critical warnings
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    EasterEggListResponse:
      type: object
      required:
      - easter_eggs
      - total_count
      - has_more
      properties:
        easter_eggs:
          type: array
          items:
            $ref: '#/components/schemas/EasterEggSummary'
          description: List of available easter eggs
        total_count:
          type: integer
          minimum: 0
          description: Total number of easter eggs
        has_more:
          type: boolean
          description: Whether more results are available
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    EasterEggSummary:
      type: object
      required:
      - id
      - name
      - category
      - difficulty
      properties:
        id:
          type: string
          description: Easter egg unique identifier
        name:
          type: string
          description: Display name
        category:
          type: string
          enum:
          - technology
          - cultural
          - historical
          - humorous
          description: Easter egg category
        difficulty:
          type: string
          enum:
          - easy
          - medium
          - hard
          - legendary
          description: Discovery difficulty
        description:
          type: string
          description: Brief description
        hints_available:
          type: integer
          minimum: 0
          description: Number of hints available
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
