openapi: 3.0.3
info:
  title: Cyberspace Service API
  description: 'Enterprise-grade Cyberspace Navigation System  NECPGAME .


    ## 🎯 **Cyberspace Service Overview**


    Cyberspace Service NECPGAME  enterprise-grade   .


    ### ** **

    - **Node Management**:

    - **Navigation System**:

    - **ICE Breaking**:    (Intrusion Countermeasures Electronics)

    - **Data Extraction**:


    ### ** **

    - **Data Nodes**:

    - **Security Nodes**:

    - **Corporate Nodes**:

    - **Black Market Nodes**:


    ### ** **

    - **Neural Interface**:

    - **ICE Combat**:    ICE

    - **Trace Detection**:

    - **Data Mining**:


    ## 📊 **Performance Targets**

    - **P99 Latency**: <20ms

    - **Throughput**: 40,000+ cyberspace operations/second

    - **Concurrent Players**: 500,000+

    - **Memory per Player**: <3KB


    ## 🔐 **Security**

    - JWT RS256

    - Rate limiting

    - Input validation  sanitization

    - Audit logging

    '
  version: 1.0.0
  contact:
    name: NECPGAME Platform Team
    email: platform@necpgame.com
  license:
    name: Proprietary
    url: https://necpgame.com/license
servers:
- url: https://cyberspace.necpgame.com/api/v1
  description: Production Environment
- url: https://cyberspace-staging.necpgame.com/api/v1
  description: Staging Environment
- url: http://localhost:8080/api/v1
  description: Local Development
security:
- BearerAuth: []
tags:
- name: Cyberspace Navigation
  description: null
- name: Node Management
  description: null
- name: ICE Systems
  description: ICE
- name: Data Operations
  description: null
- name: Neural Interface
  description: null
- name: Health
  description: null
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /cyberspace/connect:
    $ref: ./paths/cyberspace-connect.yaml#/paths/~1cyberspace~1connect
  /cyberspace/disconnect:
    $ref: ./paths/cyberspace-disconnect.yaml#/paths/~1cyberspace~1disconnect
  /cyberspace/navigate:
    $ref: ./paths/cyberspace-navigate.yaml#/paths/~1cyberspace~1navigate
  /cyberspace/map:
    $ref: ./paths/cyberspace-map.yaml#/paths/~1cyberspace~1map
  /nodes:
    $ref: ./paths/nodes.yaml#/paths/~1nodes
  /nodes/{nodeId}:
    $ref: ./paths/nodes-{nodeId}.yaml#/paths/~1nodes~1{nodeId}
  /nodes/{nodeId}/data:
    $ref: ./paths/nodes-{nodeId}-data.yaml#/paths/~1nodes~1{nodeId}~1data
  /nodes/{nodeId}/data/extract:
    $ref: ./paths/nodes-{nodeId}-data-extract.yaml#/paths/~1nodes~1{nodeId}~1data~1extract
  /ice/break:
    $ref: ./paths/ice-break.yaml#/paths/~1ice~1break
  /ice/combat:
    $ref: ./paths/ice-combat.yaml#/paths/~1ice~1combat
  /trace/detect:
    $ref: ./paths/trace-detect.yaml#/paths/~1trace~1detect
  /neural-link/status:
    $ref: ./paths/neural-link-status.yaml#/paths/~1neural-link~1status
  /neural-link/calibrate:
    $ref: ./paths/neural-link-calibrate.yaml#/paths/~1neural-link~1calibrate
  /players/{playerId}/cyberspace-session:
    $ref: ./paths/players-{playerId}-cyberspace-session.yaml#/paths/~1players~1{playerId}~1cyberspace-session
  /analytics/cyberspace-activity:
    $ref: ./paths/analytics-cyberspace-activity.yaml#/paths/~1analytics~1cyberspace-activity
components:
  schemas:
    CharacterEntity:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/CharacterEntity
    BaseEntity:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/BaseEntity
    OptimisticLock:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/OptimisticLock
    ErrorResponse:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/ErrorResponse
    HealthResponse:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/HealthResponse
    HealthBatchRequest:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/HealthBatchRequest
    HealthBatchResponse:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/HealthBatchResponse
    CyberspaceNodeEntity:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/CyberspaceNodeEntity
    ICESystemEntity:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/ICESystemEntity
    DataVaultEntity:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/DataVaultEntity
    PlayerCyberspaceSessionEntity:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/PlayerCyberspaceSessionEntity
    ConnectRequest:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/ConnectRequest
    ConnectResponse:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/ConnectResponse
    DisconnectRequest:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/DisconnectRequest
    DisconnectResponse:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/DisconnectResponse
    NavigateRequest:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/NavigateRequest
    NavigateResponse:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/NavigateResponse
    CyberspaceMapResponse:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/CyberspaceMapResponse
    CreateNodeRequest:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/CreateNodeRequest
    UpdateNodeRequest:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/UpdateNodeRequest
    NodeResponse:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/NodeResponse
    NodeListResponse:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/NodeListResponse
    NodeDataResponse:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/NodeDataResponse
    ExtractDataRequest:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/ExtractDataRequest
    ExtractDataResponse:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/ExtractDataResponse
    BreakICERequest:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/BreakICERequest
    BreakICEResponse:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/BreakICEResponse
    CombatICERequest:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/CombatICERequest
    CombatICEResponse:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/CombatICEResponse
    TraceDetectionResponse:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/TraceDetectionResponse
    NeuralLinkStatusResponse:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/NeuralLinkStatusResponse
    CalibrateNeuralLinkRequest:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/CalibrateNeuralLinkRequest
    CalibrateNeuralLinkResponse:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/CalibrateNeuralLinkResponse
    PlayerCyberspaceSessionResponse:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/PlayerCyberspaceSessionResponse
    CyberspaceAnalyticsResponse:
      $ref: ./schemas/cyberspace-service-schemas.yaml#/components/schemas/CyberspaceAnalyticsResponse
  responses: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
