# Target Architecture:
# - Microservice: social-service (port 8084)
# - API Base: /api/v1/chat/channels
# - Dependencies: guild-service, party-service, notification-service, Redis membership cache
# - Frontend Module: modules/social/chat (useChatStore)
# - UI: ChannelPicker, ChannelSettingsModal, ChannelBadge

openapi: 3.0.3
info:
  title: Chat Channels API
  version: 1.0.0
  description: Управление текстовыми чат-каналами NECPGAME.
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/chat
    package: com.necpgame.socialservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - name: ChannelCatalog
    description: Каталог типов каналов и метаданные.
  - name: Membership
    description: Вступление и выход из каналов.
  - name: ChannelAdmin
    description: Настройки каналов, модерация, управление.
paths:
  /chat/channels:
    get:
      tags: [ChannelCatalog]
      summary: Получить список каналов, доступных игроку
      operationId: listChatChannels
      security: [ { BearerAuth: [chat.channels.read] } ]
      parameters:
        - $ref: './chat-channels-components.yaml#/components/parameters/ChannelScope'
        - $ref: './chat-channels-components.yaml#/components/parameters/IncludeSystem'
        - $ref: './chat-channels-components.yaml#/components/parameters/ZoneId'
      responses:
        '200':
          description: Список каналов.
          headers:
            X-Channel-Scope: { $ref: './chat-channels-components.yaml#/components/headers/ChannelScopeHeader' }
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelList' }
              examples: { global: { $ref: './chat-channels-examples.yaml#/components/examples/ChannelListGlobal' } }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
    post:
      tags: [ChannelAdmin]
      summary: Создать кастомный или event-канал
      operationId: createChatChannel
      security: [ { BearerAuth: [chat.channels.manage] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './chat-channels-components.yaml#/components/schemas/CreateChannelRequest' }
            examples: { custom: { $ref: './chat-channels-examples.yaml#/components/examples/CreateCustomChannelRequest' } }
      responses:
        '201':
          description: Канал создан.
          headers:
            Location:
              schema: { type: string }
              description: URL канала.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelDefinition' }
        '409':
          description: Имя канала занято или канал уже существует.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelError' }
        '422':
          description: Некорректные параметры создания.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelError' }
  /chat/channels/catalog:
    get:
      tags: [ChannelCatalog]
      summary: Получить каталог типов каналов
      operationId: getChatChannelCatalog
      security: [ { BearerAuth: [chat.channels.read] } ]
      responses:
        '200':
          description: Каталог каналов.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelCatalog' }
              examples: { catalog: { $ref: './chat-channels-examples.yaml#/components/examples/ChannelCatalog' } }
  /chat/channels/join:
    post:
      tags: [Membership]
      summary: Присоединиться к каналу
      operationId: joinChatChannel
      security: [ { BearerAuth: [chat.channels.write] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './chat-channels-components.yaml#/components/schemas/JoinChannelRequest' }
            examples: { party: { $ref: './chat-channels-examples.yaml#/components/examples/JoinPartyChannel' } }
      responses:
        '200':
          description: Успешное вступление в канал.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelMembership' }
              examples: { membership: { $ref: './chat-channels-examples.yaml#/components/examples/ChannelMembershipResponse' } }
        '403':
          description: Нет прав для вступления.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelError' }
        '404':
          description: Канал не найден.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelError' }
  /chat/channels/leave:
    post:
      tags: [Membership]
      summary: Покинуть канал
      operationId: leaveChatChannel
      security: [ { BearerAuth: [chat.channels.write] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './chat-channels-components.yaml#/components/schemas/LeaveChannelRequest' }
      responses:
        '204': { description: Канал покинут. }
        '404':
          description: Канал не найден.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelError' }
  /chat/channels/{channelId}:
    parameters:
      - $ref: './chat-channels-components.yaml#/components/parameters/ChannelId'
    get:
      tags: [ChannelAdmin]
      summary: Получить описание канала
      operationId: getChatChannel
      security: [ { BearerAuth: [chat.channels.read] } ]
      responses:
        '200':
          description: Настройки канала.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelDefinition' }
        '404':
          description: Канал не найден.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelError' }
    patch:
      tags: [ChannelAdmin]
      summary: Обновить настройки канала
      operationId: updateChatChannel
      security: [ { BearerAuth: [chat.channels.manage] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './chat-channels-components.yaml#/components/schemas/UpdateChannelSettingsRequest' }
            examples: { raid: { $ref: './chat-channels-examples.yaml#/components/examples/UpdateChannelSettingsRequest' } }
      responses:
        '200':
          description: Настройки обновлены.
          headers:
            X-Channel-Cooldown: { $ref: './chat-channels-components.yaml#/components/headers/ChannelCooldownHeader' }
            X-Channel-Max-Length: { $ref: './chat-channels-components.yaml#/components/headers/ChannelMaxLengthHeader' }
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelDefinition' }
        '403':
          description: Недостаточно прав.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelError' }
        '404':
          description: Канал не найден.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelError' }
  /chat/channels/{channelType}/members:
    get:
      tags: [Membership]
      summary: Получить участников канала
      operationId: listChatChannelMembers
      security: [ { BearerAuth: [chat.channels.read] } ]
      parameters:
        - name: channelType
          in: path
          required: true
          schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelType' }
        - name: channelId
          in: query
          required: true
          schema: { type: string }
        - $ref: './chat-channels-components.yaml#/components/parameters/OnlineOnly'
        - $ref: './chat-channels-components.yaml#/components/parameters/MembersLimit'
      responses:
        '200':
          description: Список участников.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelMembersPage' }
              examples: { guild: { $ref: './chat-channels-examples.yaml#/components/examples/ChannelMembersPage' } }
        '404':
          description: Канал не найден.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelError' }
  /chat/channels/{channelId}/moderators:
    post:
      tags: [ChannelAdmin]
      summary: Управление модераторами канала
      operationId: updateChatChannelModerators
      security: [ { BearerAuth: [chat.channels.manage] } ]
      parameters:
        - $ref: './chat-channels-components.yaml#/components/parameters/ChannelId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelModeratorsRequest' }
      responses:
        '200': { description: Список модераторов обновлён. }
        '403':
          description: Нет прав на изменение модераторов.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelError' }
        '404':
          description: Канал не найден.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelError' }
  /chat/channels/{channelId}/suspend:
    post:
      tags: [ChannelAdmin]
      summary: Временно приостановить канал
      operationId: suspendChatChannel
      security: [ { BearerAuth: [chat.channels.manage] } ]
      parameters:
        - $ref: './chat-channels-components.yaml#/components/parameters/ChannelId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelSuspendRequest' }
            examples: { suspend: { $ref: './chat-channels-examples.yaml#/components/examples/ChannelSuspendRequest' } }
      responses:
        '202': { description: Канал поставлен на паузу. }
        '404':
          description: Канал не найден.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelError' }
  /chat/channels/{channelId}/settings:
    get:
      tags: [ChannelAdmin]
      summary: Получить настройки канала
      operationId: getChatChannelSettings
      security: [ { BearerAuth: [chat.channels.read] } ]
      parameters:
        - $ref: './chat-channels-components.yaml#/components/parameters/ChannelId'
      responses:
        '200':
          description: Настройки канала.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelSettings' }
        '404':
          description: Канал не найден.
          content:
            application/json:
              schema: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelError' }

x-kafka:
  publishes:
    - topic: chat.channel.created
      payload: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelDefinition' }
    - topic: chat.channel.updated
      payload: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelDefinition' }
    - topic: chat.channel.closed
      payload:
        type: object
        properties:
          channelId: { type: string }
          reason: { type: string }
    - topic: chat.channel.member.joined
      payload: { $ref: './chat-channels-components.yaml#/components/schemas/ChannelMembership' }
  subscribes:
    - topic: guild.member.joined
      payload:
        type: object
        properties:
          guildId: { type: string, format: uuid }
          playerId: { type: string, format: uuid }
    - topic: party.updated
      payload:
        type: object
        properties:
          partyId: { type: string, format: uuid }
          members:
            type: array
            items: { type: string, format: uuid }

components:
  securitySchemes:
    BearerAuth: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth' }


