# Target Architecture:
# - Примеры: список каналов, создание, join, settings

openapi: 3.0.3
info:
  title: Chat Channels Examples
  version: 1.0.0
  description: Примеры запросов/ответов для Chat Channels API.
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
paths: {}
components:
  examples:
    ChannelListGlobal:
      summary: Доступные глобальные и локальные каналы
      value:
        items:
          - channelId: "global-general"
            channelType: "GLOBAL"
            channelName: "General"
            scope: "SERVER"
            settings:
              messageCooldownSeconds: 5
              maxMessageLength: 280
              maxMembers: null
              isPublic: true
              isModerated: true
              allowMentions: true
              permissions:
                canRead: [{ type: "ROLE", value: "PLAYER" }]
                canWrite: [{ type: "ROLE", value: "PLAYER" }]
                canModerate: [{ type: "ROLE", value: "GM" }]
            createdAt: "2025-01-01T00:00:00Z"
            isActive: true
          - channelId: "zone-neo-tokyo-17"
            channelType: "ZONE"
            channelName: "Neo-Tokyo District 17"
            scope: "ZONE"
            settings:
              messageCooldownSeconds: 2
              maxMessageLength: 200
              maxMembers: 500
              isPublic: true
              isModerated: false
              allowMentions: true
              permissions:
                canRead: [{ type: "ROLE", value: "PLAYER" }]
                canWrite: [{ type: "ROLE", value: "PLAYER" }]
                canModerate: [{ type: "ROLE", value: "MODERATOR" }]
            createdAt: "2025-11-08T20:00:00Z"
            expiresAt: null
            isActive: true
        total: 2
    JoinPartyChannel:
      summary: Запрос на вступление в party-канал
      value:
        channelType: "PARTY"
        partyId: "7f4f0b2c-e41e-4a37-b4a9-4f90d3cc85ba"
        metadata:
          preferredLanguage: "ru-RU"
    ChannelMembershipResponse:
      summary: Ответ о вступлении в канал
      value:
        channelId: "party-7f4f0b2c-e41e-4a37-b4a9-4f90d3cc85ba"
        playerId: "2d6f8331-20bf-4d45-bad8-19f8613bc1c5"
        joinedAt: "2025-11-08T22:25:00Z"
        role: "MEMBER"
        muted: false
        notificationsMuted: false
    CreateCustomChannelRequest:
      summary: Создание приватного кастомного канала
      value:
        channelName: "NightRaid Squad"
        channelType: "CUSTOM"
        settings:
          messageCooldownSeconds: 1
          maxMessageLength: 512
          maxMembers: 20
          isPublic: false
          isModerated: true
          allowMentions: true
          permissions:
            canRead:
              - { type: "PLAYER", value: "2d6f8331-20bf-4d45-bad8-19f8613bc1c5" }
            canWrite:
              - { type: "PLAYER", value: "2d6f8331-20bf-4d45-bad8-19f8613bc1c5" }
            canModerate:
              - { type: "PLAYER", value: "d9f90100-e92d-4813-8f9d-2c3f5cf3ad8e" }
        inviteOnly: true
        expiresAt: "2025-11-09T02:00:00Z"
    UpdateChannelSettingsRequest:
      summary: Изменение настроек рейд-канала
      value:
        messageCooldownSeconds: 3
        maxMessageLength: 256
        maxMembers: 25
        permissions:
          canWrite:
            - { type: "ROLE", value: "RAID_MEMBER" }
            - { type: "PLAYER", value: "8a9d5f1c-9a9d-4f04-8e56-d2ab665dcae4" }
          canModerate:
            - { type: "ROLE", value: "RAID_LEADER" }
        moderators:
          - "8a9d5f1c-9a9d-4f04-8e56-d2ab665dcae4"
    ChannelMembersPage:
      summary: Участники гильдейского канала
      value:
        items:
          - playerId: "111e1c24-0a8a-4ad6-9a31-6a41b5f78f9c"
            nickname: "CyberFox"
            role: "OWNER"
            online: true
            joinedAt: "2025-11-01T10:00:00Z"
          - playerId: "3c9614d5-1869-4c84-8c3b-4e5817d4d8fb"
            nickname: "GlitchBlade"
            role: "MODERATOR"
            online: false
            joinedAt: "2025-11-02T14:21:00Z"
        nextCursor: null
        total: 42
    ChannelCatalog:
      summary: Метаданные каналов
      value:
        channels:
          - channelType: "GLOBAL"
            scope: "SERVER"
            cooldownSeconds: 5
            maxMessageLength: 280
            maxMembers: null
            description: "Основной серверный канал"
            defaultPermissions:
              canRead: [{ type: "ROLE", value: "PLAYER" }]
              canWrite: [{ type: "ROLE", value: "PLAYER" }]
              canModerate: [{ type: "ROLE", value: "GM" }]
          - channelType: "TRADE"
            scope: "SERVER"
            cooldownSeconds: 30
            maxMessageLength: 300
            description: "Торговый канал"
            defaultPermissions:
              canRead: [{ type: "ROLE", value: "PLAYER" }]
              canWrite: [{ type: "ROLE", value: "ROLE_TRADE_UNLOCKED" }]
              canModerate: [{ type: "ROLE", value: "GM" }]
        combatChannels:
          - channelType: "RAID"
            scope: "GROUP"
            cooldownSeconds: 1
            maxMessageLength: 200
            maxMembers: 25
            description: "Канал рейд-группы"
            defaultPermissions:
              canRead: [{ type: "ROLE", value: "RAID_MEMBER" }]
              canWrite: [{ type: "ROLE", value: "RAID_MEMBER" }]
              canModerate: [{ type: "ROLE", value: "RAID_LEADER" }]
    ChannelSuspendRequest:
      summary: Временная приостановка канала
      value:
        reason: "Maintenance event"
        durationMinutes: 60
        notifyMembers: true

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
