# Target Architecture:
# - Microservice: social-service (port 8084)
# - API Base: /api/v1/chat/moderation
# - Dependencies: anti-cheat-service, support-service, security-audit-service
# - Frontend Module: modules/social/chat/moderation (useModerationStore)

openapi: 3.0.3
info:
  title: Chat Moderation Components
  version: 1.0.0
  description: Переиспользуемые параметры и схемы для Chat Moderation API.
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
paths: {}
components:
  parameters:
    ReportId:
      name: reportId
      in: path
      required: true
      description: Идентификатор жалобы.
      schema: { type: string, format: uuid }
    BanId:
      name: banId
      in: path
      required: true
      description: Идентификатор бана.
      schema: { type: string, format: uuid }
    ReportStatus:
      name: status
      in: query
      required: false
      schema: { type: string, enum: [OPEN, IN_REVIEW, RESOLVED] }
    ChannelType:
      name: channelType
      in: query
      required: false
      schema: { type: string }
    PlayerId:
      name: playerId
      in: query
      required: false
      schema: { type: string, format: uuid }
    IncludeExpired:
      name: includeExpired
      in: query
      required: false
      schema: { type: boolean, default: false }
    AuditReason:
      name: X-Audit-Reason
      in: header
      required: false
      schema: { type: string, maxLength: 120 }
    ModeratorIdHeader:
      name: X-Moderator-Id
      in: header
      required: false
      schema: { type: string, format: uuid }

  schemas:
    ReportStatus:
      type: string
      enum: [OPEN, IN_REVIEW, RESOLVED]
    ReportPriority:
      type: string
      enum: [NORMAL, HIGH, CRITICAL]
    BanSeverity:
      type: string
      enum: [LOW, MEDIUM, HIGH]
    ReportReason:
      type: string
      enum: [ABUSE, SPAM, HATE, SCAM, OTHER]

    ChatReportRequest:
      type: object
      required: [reporterId, accusedPlayerId, reason]
      properties:
        reporterId: { type: string, format: uuid }
        messageId: { type: string, format: uuid }
        channelId: { type: string }
        accusedPlayerId: { type: string, format: uuid }
        reason: { $ref: '#/components/schemas/ReportReason' }
        evidenceUrls:
          type: array
          items: { type: string, format: uri }
        comment: { type: string, maxLength: 500 }

    ReportTicket:
      type: object
      required: [reportId, status, createdAt]
      properties:
        reportId: { type: string, format: uuid }
        status: { $ref: '#/components/schemas/ReportStatus' }
        createdAt: { type: string, format: date-time }
        priority: { $ref: '#/components/schemas/ReportPriority' }
        assignedModeratorId: { type: string, format: uuid }

    ReportDetail:
      allOf:
        - $ref: '#/components/schemas/ReportTicket'
        - type: object
          properties:
            resolution: { type: string, enum: [WARN, BAN, NO_ACTION] }
            notes: { type: string }
            appliedBanId: { type: string, format: uuid }
            history:
              type: array
              items:
                type: object
                properties:
                  timestamp: { type: string, format: date-time }
                  moderatorId: { type: string, format: uuid }
                  action: { type: string }
                  notes: { type: string }

    ReportPage:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/ReportTicket' }
        page: { type: integer }
        pageSize: { type: integer }
        total: { type: integer }

    ReportResolutionRequest:
      type: object
      required: [resolution]
      properties:
        resolution: { type: string, enum: [WARN, BAN, NO_ACTION] }
        notes: { type: string, maxLength: 500 }
        appliedBanId: { type: string, format: uuid }

    ChatBanRequest:
      type: object
      required: [playerId, reason]
      properties:
        playerId: { type: string, format: uuid }
        channelType: { type: string }
        channelId: { type: string }
        reason: { type: string }
        durationMinutes: { type: integer, minimum: 1 }
        severity: { $ref: '#/components/schemas/BanSeverity' }
        evidence:
          type: array
          items: { type: string, format: uri }

    ChatBan:
      type: object
      required: [banId, playerId, reason, issuedBy, issuedAt]
      properties:
        banId: { type: string, format: uuid }
        playerId: { type: string, format: uuid }
        channelType: { type: string }
        channelId: { type: string }
        reason: { type: string }
        issuedBy: { type: string, format: uuid }
        issuedAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time }
        severity: { $ref: '#/components/schemas/BanSeverity' }
        isActive: { type: boolean }

    ChatBanPage:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/ChatBan' }
        total: { type: integer }
        page: { type: integer }

    ModerationCheckRequest:
      type: object
      required: [text, channelType]
      properties:
        text: { type: string, maxLength: 2000 }
        channelType: { type: string }
        playerId: { type: string, format: uuid }

    Violation:
      type: object
      required: [type, severity]
      properties:
        type: { type: string, enum: [PROFANITY, URL, CAPS, REPEAT, SEVERE] }
        severity: { type: string, enum: [LOW, MEDIUM, HIGH] }
        context: { type: string }

    ModerationCheckResponse:
      type: object
      required: [filteredText, violations, spamScore]
      properties:
        filteredText: { type: string }
        violations:
          type: array
          items: { $ref: '#/components/schemas/Violation' }
        spamScore: { type: number, format: float, minimum: 0, maximum: 1 }
        autoBanTriggered: { type: boolean, default: false }

    ModerationRuleSet:
      type: object
      required: [bannedWords]
      properties:
        bannedWords:
          type: array
          items: { type: string }
        severeViolations:
          type: array
          items: { type: string }
        urlWhitelist:
          type: array
          items: { type: string, format: uri }
        capsThreshold: { type: integer }
        repeatCharLimit: { type: integer }
        updatedAt: { type: string, format: date-time }

    AutoBanTrigger:
      type: object
      required: [playerId, source, confidence]
      properties:
        playerId: { type: string, format: uuid }
        source: { type: string, enum: [SPAM, PROFANITY, CHEAT_ALERT] }
        confidence: { type: number, format: float, minimum: 0, maximum: 1 }
        metadata: { type: object, additionalProperties: true }

    ApiError:
      allOf:
        - $ref: '../../shared/common/responses.yaml#/components/schemas/Error'
        - type: object
          properties:
            error:
              type: object
              properties:
                code:
                  type: string
                  enum:
                    - BIZ_CHAT_MOD_REPORT_DUPLICATE
                    - BIZ_CHAT_MOD_BAN_ALREADY_ACTIVE
                    - BIZ_CHAT_MOD_ACCESS_DENIED
                    - VAL_CHAT_MOD_INVALID_RULE
                    - VAL_CHAT_MOD_INVALID_REPORT
                    - VAL_CHAT_MOD_EXCESSIVE_RATE
                    - INT_CHAT_MOD_PERSISTENCE_FAILURE
                    - INT_CHAT_MOD_SERVICE_UNAVAILABLE
              required: [code, message]

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
