# Target Architecture:
# - Microservice: social-service (port 8084)
# - API Base: /api/v1/chat
# - Dependencies: voice-lobby-service, translation-service, moderation-service, Redis history cache
# - Frontend Module: modules/social/chat (useChatStore)
# - UI: ChatInput, CommandPalette, VoiceChannelPanel, TranslationToggle

openapi: 3.0.3
info:
  title: Chat Features API
  version: 1.0.0
  description: >
    Расширенные функции чата NECPGAME: команды, форматирование, голосовые возможности,
    перевод сообщений и доступ к истории.
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/chat
    package: com.necpgame.socialservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - name: Commands
    description: Slash-команды и форматирование текста.
  - name: Voice
    description: Голосовые каналы WebRTC.
  - name: Translation
    description: Настройки и выполнение перевода сообщений.
  - name: History
    description: Доступ к истории сообщений и аналитике.
paths:
  /chat/commands:
    post:
      tags: [Commands]
      summary: Выполнить slash-команду
      operationId: executeChatCommand
      security: [ { BearerAuth: [chat.commands.execute] } ]
      parameters:
        - $ref: './chat-features-components.yaml#/components/parameters/VoiceClientHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './chat-features-components.yaml#/components/schemas/ChatCommandRequest' }
            examples: { whisper: { $ref: './chat-features-examples.yaml#/components/examples/ChatCommandRequestWhisper' } }
      responses:
        '200':
          description: Команда обработана.
          content:
            application/json:
              schema: { $ref: './chat-features-components.yaml#/components/schemas/ChatCommandResult' }
              examples: { ok: { $ref: './chat-features-examples.yaml#/components/examples/ChatCommandResultSuccess' } }
        '400':
          description: Неизвестная или недоступная команда.
          content:
            application/json:
              schema: { $ref: './chat-features-components.yaml#/components/schemas/ApiError' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '429':
          description: Превышен лимит команд (5 за 10 секунд).
          content:
            application/json:
              schema: { $ref: './chat-features-components.yaml#/components/schemas/ApiError' }
  /chat/commands/catalog:
    get:
      tags: [Commands]
      summary: Получить список доступных команд
      operationId: getChatCommandCatalog
      security: [ { BearerAuth: [chat.commands.read] } ]
      parameters:
        - $ref: './chat-features-components.yaml#/components/parameters/CommandScope'
      responses:
        '200':
          description: Каталог команд.
          content:
            application/json:
              schema: { $ref: './chat-features-components.yaml#/components/schemas/CommandCatalog' }
              examples: { catalog: { $ref: './chat-features-examples.yaml#/components/examples/CommandCatalog' } }
  /chat/format:
    post:
      tags: [Commands]
      summary: Предпросмотр форматирования сообщения
      description: Возвращает HTML-представление сообщения с безопасными тегами (<strong>, <em>, <a>, <mention>).
      operationId: previewChatFormatting
      security: [ { BearerAuth: [chat.commands.read] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './chat-features-components.yaml#/components/schemas/FormatPreviewRequest' }
      responses:
        '200':
          description: Превью форматирования.
          content:
            application/json:
              schema: { $ref: './chat-features-components.yaml#/components/schemas/FormatPreviewResponse' }
              examples: { preview: { $ref: './chat-features-examples.yaml#/components/examples/FormatPreviewResponse' } }
  /chat/voice/join:
    post:
      tags: [Voice]
      summary: Подключиться к голосовому каналу
      description: WebRTC handshake. Требует указать SDP offer и capabilities.
      operationId: joinVoiceChannel
      security: [ { BearerAuth: [chat.voice.join] } ]
      parameters:
        - $ref: './chat-features-components.yaml#/components/parameters/VoiceClientHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './chat-features-components.yaml#/components/schemas/VoiceJoinRequest' }
            examples: { raid: { $ref: './chat-features-examples.yaml#/components/examples/VoiceJoinRequest' } }
      responses:
        '200':
          description: Возвращает SDP answer и настройки ICE.
          content:
            application/json:
              schema: { $ref: './chat-features-components.yaml#/components/schemas/VoiceJoinResponse' }
              examples: { voice: { $ref: './chat-features-examples.yaml#/components/examples/VoiceJoinResponse' } }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404':
          description: Голосовой канал не найден.
          content:
            application/json:
              schema: { $ref: './chat-features-components.yaml#/components/schemas/ApiError' }
  /chat/voice/leave:
    post:
      tags: [Voice]
      summary: Покинуть голосовой канал
      operationId: leaveVoiceChannel
      security: [ { BearerAuth: [chat.voice.join] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [voiceSessionId]
              properties:
                voiceSessionId: { type: string, format: uuid }
      responses:
        '204': { description: Успешный выход из голосовой сессии. }
  /chat/voice/participants:
    get:
      tags: [Voice]
      summary: Получить участников голосового канала
      operationId: listVoiceParticipants
      security: [ { BearerAuth: [chat.voice.read] } ]
      parameters:
        - $ref: './chat-features-components.yaml#/components/parameters/VoiceSessionId'
      responses:
        '200':
          description: Список участников и их статус.
          content:
            application/json:
              schema: { $ref: './chat-features-components.yaml#/components/schemas/VoiceParticipantsResponse' }
              examples: { participants: { $ref: './chat-features-examples.yaml#/components/examples/VoiceParticipantsResponse' } }
        '404':
          description: Сессия не найдена.
          content:
            application/json:
              schema: { $ref: './chat-features-components.yaml#/components/schemas/ApiError' }
  /chat/voice/mute:
    post:
      tags: [Voice]
      summary: Управление mute в голосовом канале
      operationId: muteVoiceParticipant
      security: [ { BearerAuth: [chat.voice.manage] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './chat-features-components.yaml#/components/schemas/VoiceMuteRequest' }
      responses:
        '200': { description: Mute/Unmute применён. }
        '404':
          description: Сессия или участник не найдены.
          content:
            application/json:
              schema: { $ref: './chat-features-components.yaml#/components/schemas/ApiError' }
  /chat/settings/translation:
    put:
      tags: [Translation]
      summary: Обновить настройки автоперевода
      operationId: updateTranslationSettings
      security: [ { BearerAuth: [chat.translation.manage] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './chat-features-components.yaml#/components/schemas/TranslationSettingsRequest' }
      responses:
        '200':
          description: Текущие настройки автоперевода.
          content:
            application/json:
              schema: { $ref: './chat-features-components.yaml#/components/schemas/TranslationSettings' }
              examples: { settings: { $ref: './chat-features-examples.yaml#/components/examples/TranslationSettings' } }
  /chat/translate:
    post:
      tags: [Translation]
      summary: Выполнить перевод сообщения
      operationId: translateChatMessage
      security: [ { BearerAuth: [chat.translation.execute] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './chat-features-components.yaml#/components/schemas/TranslateMessageRequest' }
      responses:
        '200':
          description: Результат перевода.
          content:
            application/json:
              schema: { $ref: './chat-features-components.yaml#/components/schemas/TranslateMessageResponse' }
              examples: { translations: { $ref: './chat-features-examples.yaml#/components/examples/TranslateMessageResponse' } }
        '422':
          description: Язык не поддерживается.
          content:
            application/json:
              schema: { $ref: './chat-features-components.yaml#/components/schemas/ApiError' }
  /chat/history/{channelType}:
    get:
      tags: [History]
      summary: Получить историю сообщений канала
      operationId: getChatHistory
      security: [ { BearerAuth: [chat.history.read] } ]
      parameters:
        - name: channelType
          in: path
          required: true
          schema: { type: string }
        - $ref: './chat-features-components.yaml#/components/parameters/ChannelId'
        - $ref: './chat-features-components.yaml#/components/parameters/HistoryLimit'
        - $ref: './chat-features-components.yaml#/components/parameters/BeforeMessage'
        - $ref: './chat-features-components.yaml#/components/parameters/AfterMessage'
      responses:
        '200':
          description: История сообщений.
          content:
            application/json:
              schema: { $ref: './chat-features-components.yaml#/components/schemas/ChatHistoryResponse' }
              examples: { history: { $ref: './chat-features-examples.yaml#/components/examples/ChatHistoryResponse' } }
        '404':
          description: Канал не найден.
          content:
            application/json:
              schema: { $ref: './chat-features-components.yaml#/components/schemas/ApiError' }

x-kafka:
  publishes:
    - topic: chat.command.executed
      payload: { $ref: './chat-features-components.yaml#/components/schemas/ChatCommandResult' }
    - topic: chat.voice.channel.created
      payload: { $ref: './chat-features-components.yaml#/components/schemas/VoiceJoinResponse' }
    - topic: chat.voice.participant.joined
      payload: { $ref: './chat-features-components.yaml#/components/schemas/VoiceParticipantsResponse' }
  subscribes:
    - topic: moderation.chat.mute
      payload:
        type: object
        properties:
          playerId: { type: string, format: uuid }
          channelId: { type: string }
          durationSeconds: { type: integer }
    - topic: event.schedule.voice
      payload:
        type: object
        properties:
          channelId: { type: string }
          startAt: { type: string, format: date-time }

components:
  securitySchemes:
    BearerAuth: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth' }


