openapi: 3.0.3
info:
  title: Loot Distribution API
  version: 1.1.0
  description: |
    REST API для управления drop-событиями и распределением лута между
    персонажами. Покрывает просмотр дропов, выдачу предметов, авто-лут и
    историю. Основано на `.BRAIN/05-technical/backend/loot-system/` (v1.0.2).
  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/loot
    package: com.necpgame.gameplay.loot
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: LootDrops
    description: Работа с drop-событиями и их содержимым
  - name: LootSettings
    description: Настройки авто-лут и режимов получения
  - name: LootHistory
    description: История полученного лута

paths:
  /loot/drops/{dropId}:
    get:
      tags: [LootDrops]
      summary: Получить информацию о drop-событии
      description: Возвращает детальную информацию о дропе, предметах, доступных участниках и режиме распределения.
      operationId: getLootDrop
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/DropId'
      responses:
        '200':
          description: Информация о дропе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LootDropDetails'
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '404': { "$ref": "../../shared/common/responses.yaml#/components/responses/NotFound" }

  /loot/drops/{dropId}/claim:
    post:
      tags: [LootDrops]
      summary: Получить предметы из drop-а
      description: Выдаёт предметы персонажу в режимах solo/personal. Возвращает список добавленных предметов и флаги переполнения инвентаря.
      operationId: claimLoot
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/DropId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LootClaimRequest'
      responses:
        '200':
          description: Предметы добавлены в инвентарь
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LootClaimResponse'
        '400': { "$ref": "../../shared/common/responses.yaml#/components/responses/BadRequest" }
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
        '404': { "$ref": "../../shared/common/responses.yaml#/components/responses/NotFound" }
        '409': { "$ref": "../../shared/common/responses.yaml#/components/responses/Conflict" }

  /loot/drops/nearby:
    get:
      tags: [LootDrops]
      summary: Получить список ближайших drop-ов
      description: Возвращает активные drop-события в радиусе вокруг персонажа (10 метров по умолчанию).
      operationId: getNearbyLootDrops
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: character_id
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: radius
          schema:
            type: number
            format: float
            default: 10
          description: Радиус поиска в метрах
      responses:
        '200':
          description: Доступные drop-ы
          content:
            application/json:
              schema:
                type: object
                properties:
                  drops:
                    type: array
                    items:
                      $ref: '#/components/schemas/LootDropSummary'
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }

  /loot/settings:
    post:
      tags: [LootSettings]
      summary: Обновить настройки авто-лут
      description: Сохраняет авто-подбор по качеству, типам предметов и режиму уведомлений.
      operationId: updateLootSettings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LootSettings'
      responses:
        '200':
          description: Настройки обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LootSettings'
        '400': { "$ref": "../../shared/common/responses.yaml#/components/responses/BadRequest" }
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }

  /loot/history:
    get:
      tags: [LootHistory]
      summary: Получить историю полученного лута
      description: Возвращает список полученных предметов по персонажу с пагинацией. Сохраняется 30 дней.
      operationId: getLootHistory
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: character_id
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: История лута
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LootHistoryPage'
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }

components:
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'

  parameters:
    DropId:
      name: dropId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Идентификатор drop-события

  schemas:
    LootDropDetails:
      type: object
      required: [drop_id, items, loot_mode, expires_at]
      properties:
        drop_id:
          type: string
          format: uuid
        loot_mode:
          $ref: './loot-generation.yaml#/components/schemas/LootDistributionMode'
        items:
          type: array
          items:
            $ref: './loot-generation.yaml#/components/schemas/GeneratedItem'
        eligible_players:
          type: array
          items:
            $ref: '#/components/schemas/LootParticipantStatus'
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        boss_rewards:
          type: array
          description: Гарантированные награды (для рейдовых боссов)
          items:
            $ref: './loot-generation.yaml#/components/schemas/GeneratedItem'
        personal_instances:
          type: array
          description: В персональном режиме список персонаж → предметы
          items:
            $ref: '#/components/schemas/PersonalLootInstance'
    LootParticipantStatus:
      type: object
      required: [character_id, status]
      properties:
        character_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [eligible, claimed, passed, rolled]
        contribution_percent:
          type: number
          format: float
          nullable: true
        auto_loot_enabled:
          type: boolean
          default: false
    PersonalLootInstance:
      type: object
      required: [character_id, items]
      properties:
        character_id:
          type: string
          format: uuid
        items:
          type: array
          items:
            $ref: './loot-generation.yaml#/components/schemas/GeneratedItem'
    LootDropSummary:
      type: object
      required: [drop_id, position, expires_at]
      properties:
        drop_id:
          type: string
          format: uuid
        position:
          type: object
          properties:
            x: { type: number, format: float }
            y: { type: number, format: float }
            z: { type: number, format: float }
        loot_mode:
          $ref: './loot-generation.yaml#/components/schemas/LootDistributionMode'
        expires_at:
          type: string
          format: date-time
        distance:
          type: number
          format: float
    LootClaimRequest:
      type: object
      required: [character_id]
      properties:
        character_id:
          type: string
          format: uuid
        item_ids:
          type: array
          description: Ограничение на конкретные предметы (если partial claim)
          items:
            type: string
    LootClaimResponse:
      type: object
      required: [items_added, inventory_full]
      properties:
        items_added:
          type: array
          items:
            $ref: './loot-generation.yaml#/components/schemas/GeneratedItem'
        inventory_full:
          type: boolean
        warnings:
          type: array
          items:
            type: string
    LootSettings:
      type: object
      required: [auto_loot_enabled, quality_threshold]
      properties:
        auto_loot_enabled:
          type: boolean
        quality_threshold:
          type: string
          enum: [common, uncommon, rare, epic, legendary, mythic]
        auto_loot_types:
          type: array
          items:
            type: string
            enum: [weapons, armor, consumables, materials, quest_items, credits]
        notify_party:
          type: boolean
          default: false
    LootHistoryPage:
      type: object
      required: [items, page, size, total]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/LootHistoryEntry'
        page:
          type: integer
          format: int32
        size:
          type: integer
          format: int32
        total:
          type: integer
          format: int32
    LootHistoryEntry:
      type: object
      required: [loot_id, character_id, item]
      properties:
        loot_id:
          type: string
          format: uuid
        character_id:
          type: string
          format: uuid
        item:
          $ref: './loot-generation.yaml#/components/schemas/GeneratedItem'
        claimed_at:
          type: string
          format: date-time
        distribution_mode:
          $ref: './loot-generation.yaml#/components/schemas/LootDistributionMode'
        was_auto_loot:
          type: boolean
