openapi: 3.0.3
info:
  title: Party Examples
  version: 1.0.0
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social/party
    package: com.necpgame.socialservice
paths: {}
components:
  examples:
    CreateParty:
      summary: Создание новой party для рейда
      value:
        name: "Blackwall Raiders"
        mode: "RAID"
        visibility: "FRIENDS"
        maxMembers: 8
        lootSettings:
          mode: "NEED_GREED"
          threshold: "EPIC"
          autoDistribute: false
    PartyDetail:
      summary: Текущее состояние party
      value:
        partyId: "party-8a5f"
        name: "Blackwall Raiders"
        leaderId: "player-neo-01"
        mode: "RAID"
        visibility: "FRIENDS"
        status: "READY_CHECK"
        maxMembers: 8
        lootSettings:
          mode: "NEED_GREED"
          threshold: "EPIC"
          masterLooter: "player-glitch-77"
          autoDistribute: false
        queueStatus:
          queueId: "queue-4432"
          state: "QUEUED"
          estimatedWait: 120
        createdAt: "2025-11-07T19:20:00Z"
        members:
          - memberId: "member-1"
            playerId: "player-neo-01"
            displayName: "Neo"
            role: "LEADER"
            isLeader: true
            readyState: "READY"
          - memberId: "member-2"
            playerId: "player-glitch-77"
            displayName: "Glitch"
            role: "HEALER"
            isLeader: false
            readyState: "READY"
    PartyInviteRequest:
      summary: Приглашение друга в группу
      value:
        targetId: "player-cypher-12"
        message: "Залетай на Blackwall raid"
        crossPlatform: true
        autoJoin: false
        notify: true
    LootDistributeRequest:
      summary: Распределение эпического предмета
      value:
        itemId: "loot-epic-sabre"
        itemRarity: "EPIC"
        winnerMemberId: "member-2"
        votes:
          - memberId: "member-1"
            choice: "NEED"
          - memberId: "member-2"
            choice: "NEED"
          - memberId: "member-3"
            choice: "GREED"
        idempotencyKey: "raid-20251107-epic-sabre"
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
