# Gameplay Actions API
# Источник: .BRAIN/05-technical/ui-main-game.md (v1.1.0)
# Task ID: API-TASK-034

openapi: 3.0.3
info:
  title: Gameplay Actions API
  version: 1.0.0
  description: API для выполнения игровых действий в локациях NECPGAME.

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/actions
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

paths:
  /gameplay/actions/explore:
    post:
      summary: Осмотреться в локации
      operationId: exploreLocation
      tags: [Gameplay, Actions]
      security: [{BearerAuth: []}]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [characterId, locationId]
              properties:
                characterId: {type: string, format: uuid}
                locationId: {type: string}
      responses:
        '200':
          description: Детальное описание локации
          content:
            application/json:
              schema:
                type: object
                properties:
                  description: {type: string}
                  pointsOfInterest: {type: array, items: {type: string}}
                  hiddenObjects: {type: array, items: {type: string}, nullable: true}

  /gameplay/actions/rest:
    post:
      summary: Отдохнуть
      operationId: restAction
      tags: [Gameplay, Actions]
      security: [{BearerAuth: []}]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [characterId]
              properties:
                characterId: {type: string, format: uuid}
                duration: {type: integer, minimum: 1, description: "Минуты отдыха"}
      responses:
        '200':
          description: Результат отдыха
          content:
            application/json:
              schema:
                type: object
                properties:
                  healthRestored: {type: integer}
                  energyRestored: {type: integer}
                  timePassed: {type: integer}

  /gameplay/actions/use:
    post:
      summary: Использовать объект в локации
      operationId: useObject
      tags: [Gameplay, Actions]
      security: [{BearerAuth: []}]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [characterId, locationId, objectId]
              properties:
                characterId: {type: string, format: uuid}
                locationId: {type: string}
                objectId: {type: string}
      responses:
        '200':
          description: Результат использования объекта
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  result: {type: string}
                  reward: {type: object, nullable: true}

  /gameplay/actions/hack:
    post:
      summary: Хакнуть систему
      operationId: hackSystem
      tags: [Gameplay, Actions]
      security: [{BearerAuth: []}]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [characterId, targetId]
              properties:
                characterId: {type: string, format: uuid}
                targetId: {type: string}
                method: {type: string, enum: [breach, quickhack, daemon]}
      responses:
        '200':
          description: Результат взлома
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  result: {type: string}
                  dataAccessed: {type: array, items: {type: string}, nullable: true}

components:
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'

