openapi: 3.0.3
info:
  title: Location Service API - Enterprise-Grade Location Management
  description: '**Enterprise-Grade Location API for NECPGAME**

    Location Service manages geographical locations, coordinates, zones, and spatial
    relationships within the game world. Provides location-based services, proximity
    calculations, and world navigation.

    ## Key Features

    - **Geographical coordinate system** with high precision - **Location-based queries**
    and proximity searches - **Zone management** and boundary definitions - **Spatial
    relationships** and distance calculations - **Performance-optimized** for real-time
    positioning - **Scalable** world coordinate system

    ## Domain Purpose

    Manages all location-related operations including coordinate storage, proximity
    calculations, zone boundaries, and spatial queries. Essential for world navigation,
    proximity-based features, and location-aware gameplay.

    ## Performance Targets

    - P99 Latency: <25ms for coordinate queries - Memory: <30KB per active location
    session - Concurrent users: 50,000+ simultaneous location updates - Spatial queries:
    <100ms response time

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/location
  description: Production server
- url: https://staging-api.necpgame.com/v1/location
  description: Staging server
- url: http://localhost:8080/api/v1/location
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Auctions
  description: Auction creation and management
- name: Bidding
  description: Bid placement and validation
- name: Auction Lifecycle
  description: Auction start, end, and settlement
- name: Auction Items
  description: Item management in auctions
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /location/create:
    $ref: ./paths/location-create.yaml#/paths/~1location~1create
  /location/{auctionId}/bid:
    $ref: ./paths/location-{auctionId}-bid.yaml#/paths/~1location~1{auctionId}~1bid
  /location/{auctionId}:
    $ref: ./paths/location-{auctionId}.yaml#/paths/~1location~1{auctionId}
  /location/{auctionId}/bids:
    $ref: ./paths/location-{auctionId}-bids.yaml#/paths/~1location~1{auctionId}~1bids
  /location/list:
    $ref: ./paths/location-list.yaml#/paths/~1location~1list
components:
  schemas:
    Error:
      $ref: ./schemas/location-service-schemas.yaml#/components/schemas/Error
    HealthResponse:
      $ref: ./schemas/location-service-schemas.yaml#/components/schemas/HealthResponse
    LoginRequest:
      $ref: ./schemas/location-service-schemas.yaml#/components/schemas/LoginRequest
    RegisterRequest:
      $ref: ./schemas/location-service-schemas.yaml#/components/schemas/RegisterRequest
    AuthResponse:
      $ref: ./schemas/location-service-schemas.yaml#/components/schemas/AuthResponse
    RegisterResponse:
      $ref: ./schemas/location-service-schemas.yaml#/components/schemas/RegisterResponse
    UserSummary:
      $ref: ./schemas/location-service-schemas.yaml#/components/schemas/UserSummary
    UserProfile:
      $ref: ./schemas/location-service-schemas.yaml#/components/schemas/UserProfile
    PaginationParams:
      $ref: ./schemas/location-service-schemas.yaml#/components/schemas/PaginationParams
    PaginatedResponse:
      $ref: ./schemas/location-service-schemas.yaml#/components/schemas/PaginatedResponse
  responses:
    HealthBatchSuccess:
      $ref: ./schemas/location-service-responses.yaml#/components/responses/HealthBatchSuccess
    TooManyRequests:
      $ref: ./schemas/location-service-responses.yaml#/components/responses/TooManyRequests
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
  parameters:
    AuctionId:
      name: auctionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Unique identifier of the auction
