openapi: 3.0.3
info:
  title: Equipment Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Equipment Management API for NECPGAME**

    This API manages equipment systems, item generation, and equipment analytics in
    the Night City universe, providing comprehensive equipment workflows, procedural
    generation, and performance optimization.

    ## Key Features

    - **Equipment Catalog**: Comprehensive equipment database with filtering - **Procedural
    Generation**: Dynamic equipment creation with quality control - **Iconic Equipment**:
    Legendary equipment timeline and unlock mechanics - **Equipment Matrix**: Attribute
    calculation and equipment synergies - **Equipment Analytics**: Usage statistics
    and balance monitoring - **Performance Optimized**: MMOFPS-grade performance with
    <30ms P99 latency

    ## Domain Purpose

    The Equipment domain handles all aspects of character equipment in Night City.
    Players equip gear that affects their abilities, appearance, and combat effectiveness.
    Equipment ranges from basic items to legendary cyberware and weapons.

    ## Performance Targets

    - P99 Latency: <30ms for equipment operations - Memory: <25KB per equipment query
    - Concurrent users: 50,000+ simultaneous equipment operations - Generation time:
    <10ms for procedural equipment

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/equipment
  description: Production server
- url: https://staging-api.necpgame.com/v1/equipment
  description: Staging server
- url: http://localhost:8080/api/v1/equipment
  description: Local development server
tags:
- name: Equipment Catalog
  description:  
- name: Iconic Equipment
  description:  
- name: Equipment Matrix
  description:   
- name: Equipment Analytics
  description:  
- name: Health Monitoring
  description: System health and performance monitoring
- name: AI Generation
  description: AI-powered equipment generation
- name: AI Training
  description: Equipment AI model training
security:
- BearerAuth: []
paths:
  /health:
    get:
      summary: Equipment Service Health Check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the equipment service.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: equipmentServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: ../common/schemas/health.yaml#/HealthResponse
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../common/schemas/health.yaml#/HealthResponse
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /health/batch:
    post:
      summary: Batch health check for multiple domain services
      description: '**Performance optimization:** Check multiple domain health in
        single request

        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.

        **Use case:** Service mesh health checks, Kubernetes readiness probes

        '
      operationId: equipmentServiceBatchHealthCheck
      tags:
      - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                    - inventory
                    - economy
                    - gameplay
                    - narrative
      responses:
        '200':
          description: Batch health check results
          content:
            application/json:
              schema:
                $ref: ../common/responses/success.yaml#/HealthBatchSuccess
        '207':
          description: Partial success - some services unhealthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: object
                    additionalProperties:
                      $ref: ../common/schemas/health.yaml#/HealthResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /equipment/catalog:
    get:
      tags:
      - Equipment Catalog
      summary:   
      description: '     .

        '
      operationId: getEquipmentCatalog
      security:
      - BearerAuth: []
      parameters:
      - name: category
        in: query
        schema:
          type: string
        description:   
      - name: brand_id
        in: query
        schema:
          type: string
          format: uuid
        description:   
      - name: rarity
        in: query
        schema:
          $ref: '#/components/schemas/EquipmentRarity'
        description:   
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CatalogItem'
                  total:
                    type: integer
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        '500':
          $ref: ../common/responses/error.yaml#/InternalServerError
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /equipment/catalog/{id}:
    get:
      tags:
      - Equipment Catalog
      summary:    
      description: '      .

        '
      operationId: getCatalogItem
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description:  
      responses:
        '200':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogItem'
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        '404':
          $ref: ../common/responses/error.yaml#/NotFound
        '500':
          $ref: ../common/responses/error.yaml#/InternalServerError
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /equipment/iconic/timeline:
    get:
      tags:
      - Iconic Equipment
      summary:     
      description: '       (2020-2093).

        '
      operationId: getIconicTimeline
      security:
      - BearerAuth: []
      parameters:
      - name: year
        in: query
        schema:
          type: integer
          minimum: 2020
          maximum: 2093
        description:   
      - name: unlocked_only
        in: query
        schema:
          type: boolean
        description:   
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description:    
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/IconicItem'
                  total:
                    type: integer
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        '500':
          $ref: ../common/responses/error.yaml#/InternalServerError
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /equipment/iconic/{id}:
    get:
      tags:
      - Iconic Equipment
      summary:   
      description: '     .

        '
      operationId: getIconicItem
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description:   
      responses:
        '200':
          description:    
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IconicItem'
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        '404':
          $ref: ../common/responses/error.yaml#/NotFound
        '500':
          $ref: ../common/responses/error.yaml#/InternalServerError
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /equipment/analytics:
    get:
      tags:
      - Equipment Analytics
      summary:   
      description: '    .

        '
      operationId: getEquipmentAnalytics
      security:
      - BearerAuth: []
      parameters:
      - name: period
        in: query
        schema:
          type: string
          enum:
          - day
          - week
          - month
          - year
        description:  
      - name: category
        in: query
        schema:
          type: string
        description:   
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentAnalytics'
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        '500':
          $ref: ../common/responses/error.yaml#/InternalServerError
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /equipment/generate:
    post:
      tags:
      - Equipment Matrix
      summary:   
      operationId: generateEquipment
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateEquipmentRequest'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedItem'
        '400':
          $ref: ../common/responses/error.yaml#/BadRequest
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        '500':
          $ref: ../common/responses/error.yaml#/InternalServerError
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /equipment/matrix:
    get:
      tags:
      - Equipment Matrix
      summary:   
      operationId: getEquipmentMatrix
      security:
      - BearerAuth: []
      parameters:
      - name: brand_id
        in: query
        schema:
          type: string
          format: uuid
      - name: item_type
        in: query
        schema:
          $ref: '#/components/schemas/EquipmentItemType'
      - name: rarity
        in: query
        schema:
          $ref: '#/components/schemas/EquipmentRarity'
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquipmentMatrix'
        '400':
          $ref: ../common/responses/error.yaml#/BadRequest
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        '500':
          $ref: ../common/responses/error.yaml#/InternalServerError
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /equipment/brands:
    get:
      tags:
      - Equipment Matrix
      summary:   
      operationId: getEquipmentBrands
      security:
      - BearerAuth: []
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandsListResponse'
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        '500':
          $ref: ../common/responses/error.yaml#/InternalServerError
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /equipment/rarities:
    get:
      tags:
      - Equipment Matrix
      summary:   
      operationId: getEquipmentRarities
      security:
      - BearerAuth: []
      responses:
        '200':
          description:  
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaritiesListResponse'
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        '500':
          $ref: ../common/responses/error.yaml#/InternalServerError
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /equipment/stat-pools:
    get:
      tags:
      - Equipment Matrix
      summary:   
      operationId: getStatPools
      security:
      - BearerAuth: []
      parameters:
      - name: item_type
        in: query
        schema:
          $ref: '#/components/schemas/EquipmentItemType'
      responses:
        '200':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatPoolsListResponse'
        '400':
          $ref: ../common/responses/error.yaml#/BadRequest
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        '500':
          $ref: ../common/responses/error.yaml#/InternalServerError
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /equipment/validate-balance:
    post:
      tags:
      - Equipment Matrix
      summary:   
      operationId: validateEquipmentBalance
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateBalanceRequest'
      responses:
        '200':
          description:   
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceValidationResult'
        '400':
          $ref: ../common/responses/error.yaml#/BadRequest
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        '500':
          $ref: ../common/responses/error.yaml#/InternalServerError
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50
      description: Number of items to return
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Number of items to skip
  responses:
    OK:
      $ref: ../common/responses/success.yaml#/OK
    Created:
      $ref: ../common/responses/success.yaml#/Created
    Updated:
      $ref: ../common/responses/success.yaml#/Updated
    Deleted:
      $ref: ../common/responses/success.yaml#/Deleted
    BadRequest:
      $ref: ../common/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common/responses/error.yaml#/Unauthorized
    NotFound:
      $ref: ../common/responses/error.yaml#/NotFound
    TooManyRequests:
      $ref: ../common/responses/error.yaml#/TooManyRequests
  schemas:
    HealthResponse:
      $ref: ../common/schemas/health.yaml#/HealthResponse
    Error:
      $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    Equipment:
      allOf:
      - $ref: ../common/schemas/game-entities.yaml#/components/schemas/ItemEntity
      - type: object
        properties:
          equipment_type:
            type: string
            enum:
            - weapon
            - armor
            - implant
            - cyberware
            - clothing
            - accessory
            description: Specific equipment category
            example: weapon
          level_requirement:
            type: integer
            minimum: 1
            maximum: 50
            description: Required character level
            example: 15
          stats:
            type: object
            properties:
              attack:
                type: integer
                minimum: 0
                description: Attack stat bonus
                example: 45
              defense:
                type: integer
                minimum: 0
                description: Defense stat bonus
                example: 30
              health:
                type: integer
                minimum: 0
                description: Health stat bonus
                example: 100
              stamina:
                type: integer
                minimum: 0
                description: Stamina stat bonus
                example: 25
            description: Equipment stat bonuses
          durability:
            type: object
            properties:
              current:
                type: integer
                minimum: 0
                description: Current durability
                example: 85
              maximum:
                type: integer
                minimum: 1
                description: Maximum durability
                example: 100
            description: Equipment durability status
          equipped_by:
            type: array
            items:
              $ref: ../common/schemas/common.yaml#/components/schemas/UUID
            description: Character IDs currently equipping this item
            example:
            - 123e4567-e89b-12d3-a456-426614174000
    CatalogItem:
      allOf:
      - $ref: ../common/schemas/common.yaml#/BaseEntity
      - type: object
        properties:
          name:
            type: string
            description: Equipment display name
          category:
            type: string
            enum:
            - weapon
            - armor
            - accessory
            description: Equipment category
          rarity:
            type: string
            enum:
            - common
            - uncommon
            - rare
            - epic
            - legendary
            description: Equipment rarity
          level_requirement:
            type: integer
            minimum: 1
            description: Required character level
          stats:
            type: object
            properties:
              attack:
                type: integer
                minimum: 0
              defense:
                type: integer
                minimum: 0
      description: 'BACKEND NOTE: Equipment catalog item. Struct-aligned for performance.'
    IconicItem:
      allOf:
      - $ref: '#/components/schemas/CatalogItem'
      - type: object
        properties:
          timeline_year:
            type: integer
            minimum: 2000
            maximum: 2100
            description: Year this iconic item was introduced
          lore_description:
            type: string
            description: Historical significance in Night City lore
      description: 'BACKEND NOTE: Iconic equipment with historical significance.'
    EquipmentAnalytics:
      type: object
      properties:
        total_items:
          type: integer
          minimum: 0
        popular_rarities:
          type: object
          additionalProperties:
            type: integer
            minimum: 0
        category_distribution:
          type: object
          additionalProperties:
            type: integer
            minimum: 0
      description: 'BACKEND NOTE: Equipment usage analytics.'
    GenerateEquipmentRequest:
      type: object
      required:
      - category
      - rarity
      - level
      properties:
        category:
          type: string
          enum:
          - weapon
          - armor
          - accessory
        rarity:
          type: string
          enum:
          - common
          - uncommon
          - rare
          - epic
          - legendary
        level:
          type: integer
          minimum: 1
          maximum: 50
        seed:
          type: integer
          description: Random seed for reproducible generation
      description: 'BACKEND NOTE: Request for procedural equipment generation.'
    GeneratedItem:
      allOf:
      - $ref: '#/components/schemas/CatalogItem'
      - type: object
      description: 'BACKEND NOTE: Procedurally generated equipment item.'
    EquipmentMatrix:
      type: object
      properties:
        brand_id:
          type: string
          format: uuid
        matrix_data:
          type: object
          additionalProperties: true
      description: 'BACKEND NOTE: Equipment compatibility matrix.'
    BrandsListResponse:
      type: object
      properties:
        brands:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              description:
                type: string
      description: 'BACKEND NOTE: List of equipment brands.'
    RaritiesListResponse:
      type: object
      properties:
        rarities:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              color:
                type: string
              drop_rate:
                type: number
                minimum: 0
                maximum: 1
      description: 'BACKEND NOTE: List of equipment rarities.'
    StatPoolsListResponse:
      type: object
      properties:
        stat_pools:
          type: array
          items:
            type: object
            properties:
              item_type:
                type: string
                enum:
                - weapon
                - armor
                - accessory
              available_stats:
                type: array
                items:
                  type: string
      description: 'BACKEND NOTE: Available stat pools by item type.'
    BalanceValidationResult:
      type: object
      properties:
        is_balanced:
          type: boolean
        issues:
          type: array
          items:
            type: string
        suggestions:
          type: array
          items:
            type: string
      description: 'BACKEND NOTE: Equipment balance validation result.'
    EquipmentItemType:
      type: string
      enum:
      - weapon
      - armor
      - implant
      - cyberware
      - clothing
      - accessory
      description: Equipment item types
    EquipmentRarity:
      type: string
      enum:
      - common
      - uncommon
      - rare
      - epic
      - legendary
      - unique
    ValidateBalanceRequest:
      type: object
      required:
        - character_id
        - equipment_id
      properties:
        character_id:
          type: string
          format: uuid
          description: Character identifier
        equipment_id:
          type: string
          format: uuid
          description: Equipment item identifier
        current_equipment:
          type: array
          items:
            type: string
            format: uuid
          description: Currently equipped items IDs
      description: Request to validate equipment balance
    BalanceValidationResult:
      type: object
      required:
        - is_valid
        - issues
      properties:
        is_valid:
          type: boolean
          description: Whether the equipment balance is valid
        issues:
          type: array
          items:
            type: string
          description: List of balance issues found
        suggestions:
          type: array
          items:
            type: string
          description: Suggestions for fixing balance issues
      description: Result of equipment balance validation
      description: Equipment rarity levels
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          example: 500
          format: int32
          minimum: 100
          maximum: 599
        message:
          type: string
          example: "Internal server error"
          maxLength: 1000
        details:
          type: object
          description: "Additional error details"
      description: "Standard error response format"
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth

