openapi: 3.0.3
info:
  title: Equipment Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Equipment Management API for NECPGAME**

    This API manages equipment systems, item generation, and equipment analytics in
    the Night City universe, providing comprehensive equipment workflows, procedural
    generation, and performance optimization.

    ## Key Features

    - **Equipment Catalog**: Comprehensive equipment database with filtering - **Procedural
    Generation**: Dynamic equipment creation with quality control - **Iconic Equipment**:
    Legendary equipment timeline and unlock mechanics - **Equipment Matrix**: Attribute
    calculation and equipment synergies - **Equipment Analytics**: Usage statistics
    and balance monitoring - **Performance Optimized**: MMOFPS-grade performance with
    <30ms P99 latency

    ## Domain Purpose

    The Equipment domain handles all aspects of character equipment in Night City.
    Players equip gear that affects their abilities, appearance, and combat effectiveness.
    Equipment ranges from basic items to legendary cyberware and weapons.

    ## Performance Targets

    - P99 Latency: <30ms for equipment operations - Memory: <25KB per equipment query
    - Concurrent users: 50,000+ simultaneous equipment operations - Generation time:
    <10ms for procedural equipment

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/equipment
  description: Production server
- url: https://staging-api.necpgame.com/v1/equipment
  description: Staging server
- url: http://localhost:8080/api/v1/equipment
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Equipment Catalog
  description: null
- name: Iconic Equipment
  description: null
- name: Equipment Matrix
  description: null
- name: Equipment Analytics
  description: null
- name: Health Monitoring
  description: System health and performance monitoring
- name: AI Generation
  description: AI-powered equipment generation
- name: AI Training
  description: Equipment AI model training
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /equipment/catalog:
    $ref: ./paths/equipment-catalog.yaml#/paths/~1equipment~1catalog
  /equipment/catalog/{id}:
    $ref: ./paths/equipment-catalog-{id}.yaml#/paths/~1equipment~1catalog~1{id}
  /equipment/iconic/timeline:
    $ref: ./paths/equipment-iconic-timeline.yaml#/paths/~1equipment~1iconic~1timeline
  /equipment/iconic/{id}:
    $ref: ./paths/equipment-iconic-{id}.yaml#/paths/~1equipment~1iconic~1{id}
  /equipment/analytics:
    $ref: ./paths/equipment-analytics.yaml#/paths/~1equipment~1analytics
  /equipment/generate:
    $ref: ./paths/equipment-generate.yaml#/paths/~1equipment~1generate
  /equipment/matrix:
    $ref: ./paths/equipment-matrix.yaml#/paths/~1equipment~1matrix
  /equipment/brands:
    $ref: ./paths/equipment-brands.yaml#/paths/~1equipment~1brands
  /equipment/rarities:
    $ref: ./paths/equipment-rarities.yaml#/paths/~1equipment~1rarities
  /equipment/stat-pools:
    $ref: ./paths/equipment-stat-pools.yaml#/paths/~1equipment~1stat-pools
  /equipment/validate-balance:
    $ref: ./paths/equipment-validate-balance.yaml#/paths/~1equipment~1validate-balance
components:
  schemas:
    HealthResponse:
      $ref: ./schemas/equipment-service-schemas.yaml#/components/schemas/HealthResponse
    Error:
      $ref: ./schemas/equipment-service-schemas.yaml#/components/schemas/Error
    Equipment:
      $ref: ./schemas/equipment-service-schemas.yaml#/components/schemas/Equipment
    CatalogItem:
      $ref: ./schemas/equipment-service-schemas.yaml#/components/schemas/CatalogItem
    IconicItem:
      $ref: ./schemas/equipment-service-schemas.yaml#/components/schemas/IconicItem
    EquipmentAnalytics:
      $ref: ./schemas/equipment-service-schemas.yaml#/components/schemas/EquipmentAnalytics
    GenerateEquipmentRequest:
      $ref: ./schemas/equipment-service-schemas.yaml#/components/schemas/GenerateEquipmentRequest
    GeneratedItem:
      $ref: ./schemas/equipment-service-schemas.yaml#/components/schemas/GeneratedItem
    EquipmentMatrix:
      $ref: ./schemas/equipment-service-schemas.yaml#/components/schemas/EquipmentMatrix
    BrandsListResponse:
      $ref: ./schemas/equipment-service-schemas.yaml#/components/schemas/BrandsListResponse
    RaritiesListResponse:
      $ref: ./schemas/equipment-service-schemas.yaml#/components/schemas/RaritiesListResponse
    StatPoolsListResponse:
      $ref: ./schemas/equipment-service-schemas.yaml#/components/schemas/StatPoolsListResponse
    BalanceValidationResult:
      $ref: ./schemas/equipment-service-schemas.yaml#/components/schemas/BalanceValidationResult
    EquipmentItemType:
      $ref: ./schemas/equipment-service-schemas.yaml#/components/schemas/EquipmentItemType
    EquipmentRarity:
      $ref: ./schemas/equipment-service-schemas.yaml#/components/schemas/EquipmentRarity
    ValidateBalanceRequest:
      $ref: ./schemas/equipment-service-schemas.yaml#/components/schemas/ValidateBalanceRequest
  responses:
    OK:
      $ref: ./schemas/equipment-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/equipment-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/equipment-service-responses.yaml#/components/responses/Updated
    Deleted:
      $ref: ./schemas/equipment-service-responses.yaml#/components/responses/Deleted
    BadRequest:
      $ref: ./schemas/equipment-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/equipment-service-responses.yaml#/components/responses/Unauthorized
    NotFound:
      $ref: ./schemas/equipment-service-responses.yaml#/components/responses/NotFound
    TooManyRequests:
      $ref: ./schemas/equipment-service-responses.yaml#/components/responses/TooManyRequests
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50
      description: Number of items to return
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Number of items to skip
