openapi: 3.0.3
info:
  title: Romance Event Engine API
  description: |
    API для продвинутого алгоритма генерации романтических событий.
    
    **Алгоритм включает:**
    - Filtering: Фильтрация доступных событий
    - Weighting: Взвешивание по параметрам
    - Scoring: Подсчет scores для событий
    - Selection: Выбор оптимального события
    
    **Используется для:**
    - Генерации романтических событий для 1000 NPC
    - Динамического выбора событий на основе контекста
    - Персонализации романтического контента
    - Управления прогрессией отношений
  version: 1.0.0

  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/gameplay/social
    package: com.necpgame.socialservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Event Generation
    description: Генерация романтических событий
  - name: Event Triggering
    description: Триггер и выполнение событий
  - name: Algorithm Configuration
    description: Конфигурация алгоритмов

paths:
  /gameplay/social/romance/events/generate:
    post:
      tags:
        - Event Generation
      summary: Генерация романтических событий
      description: |
        Генерирует список подходящих романтических событий
        для конкретного NPC и игрока используя продвинутый алгоритм:
        1. Filtering - фильтрует события по критериям
        2. Weighting - применяет веса параметров
        3. Scoring - вычисляет scores
        4. Selection - выбирает топ события
      operationId: generateRomanceEvents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RomanceEventGenerationRequest'
            example:
              player_id: "player_123"
              npc_id: "npc_panam"
              context:
                location: "nomad_camp"
                time_of_day: "evening"
                relationship_stage: 3
                recent_events: ["quest_completed", "gift_given"]
              generation_params:
                max_events: 5
                min_score: 0.7
                diversity_factor: 0.3
      responses:
        '200':
          description: События сгенерированы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RomanceEventGenerationResponse'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/social/romance/events/available:
    get:
      tags:
        - Event Generation
      summary: Получить доступные романтические события
      description: |
        Возвращает список всех романтических событий
        доступных для конкретной пары игрок-NPC.
      operationId: getAvailableRomanceEvents
      parameters:
        - name: player_id
          in: query
          required: true
          schema:
            type: string
        - name: npc_id
          in: query
          required: true
          schema:
            type: string
        - name: relationship_stage
          in: query
          description: Фильтр по стадии отношений
          schema:
            type: integer
            minimum: 1
            maximum: 9
        - name: include_locked
          in: query
          description: Включить заблокированные события
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Available events
          content:
            application/json:
              schema:
                type: object
                properties:
                  available_events:
                    type: array
                    items:
                      $ref: '#/components/schemas/RomanceEventInfo'
                  locked_events:
                    type: array
                    items:
                      type: object
                      properties:
                        event:
                          $ref: '#/components/schemas/RomanceEventInfo'
                        unlock_requirements:
                          type: array
                          items:
                            type: string

  /gameplay/social/romance/events/{event_id}/trigger:
    post:
      tags:
        - Event Triggering
      summary: Триггер романтического события
      description: |
        Запускает выполнение романтического события.
        Проверяет prerequisites, обновляет relationship state.
      operationId: triggerRomanceEvent
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - player_id
                - npc_id
              properties:
                player_id:
                  type: string
                npc_id:
                  type: string
                choices:
                  type: object
                  description: Player choices during event
                  additionalProperties: true
      responses:
        '200':
          description: Event triggered
          content:
            application/json:
              schema:
                type: object
                properties:
                  event_id:
                    type: string
                  success:
                    type: boolean
                  outcome:
                    type: string
                    enum: ["success", "neutral", "failure"]
                  relationship_changes:
                    type: object
                    properties:
                      affection_change:
                        type: integer
                      trust_change:
                        type: integer
                      romance_stage_change:
                        type: integer
                  unlocked_events:
                    type: array
                    description: События разблокированные этим
                    items:
                      type: string
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'

  /gameplay/social/romance/algorithms/filters:
    get:
      tags:
        - Algorithm Configuration
      summary: Получить активные фильтры
      description: |
        Возвращает конфигурацию фильтров используемых
        алгоритмом генерации событий.
      operationId: getRomanceFilters
      responses:
        '200':
          description: Filters configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  filters:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterCriteria'

  /gameplay/social/romance/algorithms/weights:
    get:
      tags:
        - Algorithm Configuration
      summary: Получить веса параметров
      description: |
        Возвращает конфигурацию весов используемых
        для scoring романтических событий.
      operationId: getRomanceWeights
      responses:
        '200':
          description: Weighting configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeightingParameters'

  /gameplay/social/romance/events/{event_id}/score:
    post:
      tags:
        - Event Generation
      summary: Вычислить score события
      description: |
        Вычисляет score конкретного события
        для данного контекста. Для тестирования алгоритма.
      operationId: calculateEventScore
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                player_id:
                  type: string
                npc_id:
                  type: string
                context:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Score calculated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoringResult'

components:
  schemas:
    RomanceEventGenerationRequest:
      type: object
      required:
        - player_id
        - npc_id
      properties:
        player_id:
          type: string
        npc_id:
          type: string
        context:
          type: object
          description: Текущий контекст
          properties:
            location:
              type: string
              example: "nomad_camp"
            time_of_day:
              type: string
              enum: ["morning", "day", "evening", "night"]
            relationship_stage:
              type: integer
              minimum: 1
              maximum: 9
            recent_events:
              type: array
              items:
                type: string
            mood:
              type: string
              enum: ["happy", "neutral", "sad", "angry"]
        generation_params:
          type: object
          properties:
            max_events:
              type: integer
              description: Максимум событий в результате
              default: 5
              minimum: 1
              maximum: 20
            min_score:
              type: number
              description: Минимальный score (0-1)
              default: 0.5
              minimum: 0
              maximum: 1
            diversity_factor:
              type: number
              description: Фактор разнообразия (0-1)
              default: 0.3
              minimum: 0
              maximum: 1

    RomanceEventGenerationResponse:
      type: object
      properties:
        generated_events:
          type: array
          items:
            type: object
            properties:
              event:
                $ref: '#/components/schemas/RomanceEventInfo'
              score:
                $ref: '#/components/schemas/ScoringResult'
        generation_metadata:
          type: object
          properties:
            total_candidates:
              type: integer
              description: Всего кандидатов после фильтрации
            filtered_out:
              type: integer
              description: Отфильтровано событий
            generation_time_ms:
              type: integer
            algorithm_version:
              type: string

    RomanceEventInfo:
      type: object
      properties:
        event_id:
          type: string
          example: "romantic_dinner"
        event_name:
          type: string
          example: "Romantic Dinner Under Stars"
        event_type:
          type: string
          enum: [
            "conversation",
            "activity",
            "gift",
            "quest",
            "intimate",
            "conflict",
            "milestone"
          ]
        description:
          type: string
        required_stage:
          type: integer
          description: Минимальная стадия отношений
          minimum: 1
          maximum: 9
        duration_minutes:
          type: integer
          description: Длительность события
        location_requirements:
          type: array
          items:
            type: string
        time_requirements:
          type: array
          items:
            type: string
        prerequisites:
          type: array
          description: Необходимые предыдущие события
          items:
            type: string
        affection_impact:
          type: integer
          description: Влияние на affection (-100 to +100)
        trust_impact:
          type: integer
          description: Влияние на trust (-100 to +100)
        tags:
          type: array
          items:
            type: string

    FilterCriteria:
      type: object
      properties:
        filter_id:
          type: string
        filter_name:
          type: string
        filter_type:
          type: string
          enum: [
            "relationship_stage",
            "location",
            "time_of_day",
            "prerequisites",
            "cooldown",
            "mood",
            "quest_status"
          ]
        enabled:
          type: boolean
        parameters:
          type: object
          additionalProperties: true

    WeightingParameters:
      type: object
      properties:
        weights:
          type: object
          properties:
            relationship_compatibility:
              type: number
              example: 0.3
            context_match:
              type: number
              example: 0.25
            player_preferences:
              type: number
              example: 0.2
            npc_personality:
              type: number
              example: 0.15
            story_progression:
              type: number
              example: 0.1
        total_weight:
          type: number
          description: Сумма весов (должна быть 1.0)
          example: 1.0

    ScoringResult:
      type: object
      properties:
        total_score:
          type: number
          description: Итоговый score (0-1)
          example: 0.85
          minimum: 0
          maximum: 1
        component_scores:
          type: object
          description: Scores по компонентам
          properties:
            relationship_compatibility:
              type: number
            context_match:
              type: number
            player_preferences:
              type: number
            npc_personality:
              type: number
            story_progression:
              type: number
        weighted_scores:
          type: object
          description: Взвешенные scores
          additionalProperties:
            type: number
        explanation:
          type: string
          description: Объяснение почему этот score
          example: "High compatibility due to matching interests and current relationship stage"

security:
  - BearerAuth: []


