# Target Architecture:
# - Microservice: economy-service (port 8085)
# - API Base: /api/v1/economy/inventory
# - Dependencies: auth-service, item-service, loot-service, trade-service, mail-service, quest-service, progression-service, analytics-service, notification-service
# - Frontend Module: modules/inventory/core (useInventoryStore)
# - UI: InventoryGrid, EquipmentPanel, WeightIndicator, ItemTooltip, StashPanel, ItemContextMenu
# - Forms: ItemTransferForm, ItemSplitForm, EquipItemForm, DropItemConfirm
# - Hooks: useInventory, useEquipment, useItemFilters, useWeightCalc

openapi: 3.0.3
info:
  title: Inventory Core API
  description: "Управление базовым инвентарём игроков: контейнеры, предметы, вес, экипировка, банк и резервы."
  version: 1.0.0
  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/economy/inventory
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - name: Inventory
    description: Общая информация и контейнеры
  - name: Items
    description: Операции с предметами
  - name: Equipment
    description: Управление экипировкой
  - name: Weight
    description: Вес и перегрузка
  - name: Reserve
    description: Резервирование предметов
paths:
  /inventory/players/{playerId}:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/PlayerId'
    get:
      tags: [Inventory]
      summary: Получить состояние инвентаря игрока
      responses:
        '200':
          description: Инвентарь и контейнеры
          content:
            application/json:
              schema: { $ref: './inventory-components.yaml#/components/schemas/Inventory' }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../../shared/common/responses.yaml#/components/responses/NotFound' }
  /inventory/players/{playerId}/containers/{containerId}:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/PlayerId'
      - $ref: './inventory-components.yaml#/components/parameters/ContainerId'
    get:
      tags: [Inventory]
      summary: Получить содержимое контейнера
      responses:
        '200':
          description: Контейнер и слоты
          content:
            application/json:
              schema: { $ref: './inventory-components.yaml#/components/schemas/Container' }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../../shared/common/responses.yaml#/components/responses/NotFound' }
  /inventory/players/{playerId}/items/pickup:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/PlayerId'
    post:
      tags: [Items]
      summary: Подобрать предмет и добавить в инвентарь
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './inventory-components.yaml#/components/schemas/ItemPickupRequest' }
            examples:
              pickupLoot:
                $ref: './inventory-examples.yaml#/components/examples/PickupLoot'
      responses:
        '200':
          description: Предмет добавлен
          content:
            application/json:
              schema: { $ref: './inventory-components.yaml#/components/schemas/ItemOperationResult' }
        '400':
          description: Нет места или вес превышен
          content:
            application/json:
              schema: { $ref: './inventory-components.yaml#/components/schemas/InventoryError' }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /inventory/players/{playerId}/items/drop:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/PlayerId'
    post:
      tags: [Items]
      summary: Сбросить предмет в мир
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './inventory-components.yaml#/components/schemas/ItemDropRequest' }
      responses:
        '200':
          description: "Предмет удалён"
        '400':
          description: Предмет не найден или зарезервирован
          content:
            application/json:
              schema: { $ref: './inventory-components.yaml#/components/schemas/InventoryError' }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /inventory/players/{playerId}/items/move:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/PlayerId'
    post:
      tags: [Items]
      summary: Переместить предмет
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './inventory-components.yaml#/components/schemas/ItemMoveRequest' }
      responses:
        '200':
          description: "Предмет перемещён"
        '400': { description: Конфликт контейнеров, content: { application/json: { schema: { $ref: './inventory-components.yaml#/components/schemas/InventoryError' } } } }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /inventory/players/{playerId}/items/split:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/PlayerId'
    post:
      tags: [Items]
      summary: Разделить стек предметов
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './inventory-components.yaml#/components/schemas/ItemSplitRequest' }
      responses:
        '200':
          description: "Стек разделён"
        '400': { description: Недостаточное количество или место, content: { application/json: { schema: { $ref: './inventory-components.yaml#/components/schemas/InventoryError' } } } }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /inventory/players/{playerId}/items/merge:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/PlayerId'
    post:
      tags: [Items]
      summary: Объединить стеки
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './inventory-components.yaml#/components/schemas/ItemMergeRequest' }
      responses:
        '200':
          description: "Стеки объединены"
        '400': { description: Объединение невозможно, content: { application/json: { schema: { $ref: './inventory-components.yaml#/components/schemas/InventoryError' } } } }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /inventory/players/{playerId}/items/equip:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/PlayerId'
    post:
      tags: [Equipment]
      summary: Экипировать предмет
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './inventory-components.yaml#/components/schemas/ItemEquipRequest' }
            examples:
              equipArmor:
                $ref: './inventory-examples.yaml#/components/examples/EquipArmor'
      responses:
        '200':
          description: "Предмет экипирован"
        '400': { description: Требования не выполнены, content: { application/json: { schema: { $ref: './inventory-components.yaml#/components/schemas/InventoryError' } } } }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /inventory/players/{playerId}/items/unequip:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/PlayerId'
    post:
      tags: [Equipment]
      summary: Снять предмет
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './inventory-components.yaml#/components/schemas/ItemUnequipRequest' }
      responses:
        '200':
          description: "Предмет снят"
        '400': { description: Нет места в контейнере, content: { application/json: { schema: { $ref: './inventory-components.yaml#/components/schemas/InventoryError' } } } }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /inventory/players/{playerId}/items/consume:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/PlayerId'
    post:
      tags: [Items]
      summary: Использовать потребляемый предмет
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './inventory-components.yaml#/components/schemas/ItemConsumeRequest' }
      responses:
        '200':
          description: "Предмет использован"
        '400': { description: Нельзя использовать, content: { application/json: { schema: { $ref: './inventory-components.yaml#/components/schemas/InventoryError' } } } }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /inventory/players/{playerId}/weight:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/PlayerId'
    get:
      tags: [Weight]
      summary: Получить информацию о весе
      responses:
        '200':
          description: Вес и лимиты
          content:
            application/json:
              schema: { $ref: './inventory-components.yaml#/components/schemas/WeightInfo' }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /inventory/players/{playerId}/stash/transfer:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/PlayerId'
    post:
      tags: [Inventory]
      summary: Перемещение между backpack и stash/bank
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './inventory-components.yaml#/components/schemas/StashTransferRequest' }
      responses:
        '200':
          description: "Перемещение выполнено"
        '400': { description: Лимит банка или нет места, content: { application/json: { schema: { $ref: './inventory-components.yaml#/components/schemas/InventoryError' } } } }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /inventory/players/{playerId}/history:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/PlayerId'
    get:
      tags: [Inventory]
      summary: Журнал операций с инвентарём
      parameters:
        - in: query
          name: event
          schema: { type: string }
        - $ref: '../../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: История инвентаря
          content:
            application/json:
              schema: { $ref: './inventory-components.yaml#/components/schemas/InventoryHistoryResponse' }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /inventory/players/{playerId}/reserve:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/PlayerId'
    post:
      tags: [Reserve]
      summary: Зарезервировать предметы
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './inventory-components.yaml#/components/schemas/ReservationRequest' }
            examples:
              reserveTrade:
                $ref: './inventory-examples.yaml#/components/examples/ReserveTrade'
      responses:
        '201':
          description: Резерв создан
          content:
            application/json:
              schema: { $ref: './inventory-components.yaml#/components/schemas/Reservation' }
        '400': { description: Конфликт резерва, content: { application/json: { schema: { $ref: './inventory-components.yaml#/components/schemas/InventoryError' } } } }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /inventory/players/{playerId}/release:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/PlayerId'
    post:
      tags: [Reserve]
      summary: Снять резерв предметов
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './inventory-components.yaml#/components/schemas/ReservationReleaseRequest' }
      responses:
        '200':
          description: "Резерв снят"
        '400': { description: Резерв не найден, content: { application/json: { schema: { $ref: './inventory-components.yaml#/components/schemas/InventoryError' } } } }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /inventory/players/{playerId}/filters:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/PlayerId'
    get:
      tags: [Inventory]
      summary: Активные фильтры и пресеты
      responses:
        '200':
          description: Фильтры инвентаря
          content:
            application/json:
              schema: { $ref: './inventory-components.yaml#/components/schemas/InventoryFiltersResponse' }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /inventory/players/{playerId}/auto-sort:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/PlayerId'
    post:
      tags: [Inventory]
      summary: Автоматическая сортировка инвентаря
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './inventory-components.yaml#/components/schemas/AutoSortRequest' }
      responses:
        '202':
          description: "Сортировка запущена"
        '400': { description: Функция отключена, content: { application/json: { schema: { $ref: './inventory-components.yaml#/components/schemas/InventoryError' } } } }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /inventory/players/{playerId}/cleanup:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/PlayerId'
    post:
      tags: [Inventory]
      summary: Удалить предметы класса junk
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './inventory-components.yaml#/components/schemas/CleanupRequest' }
      responses:
        '200':
          description: "Очистка выполнена"
        '400': { description: Нет прав или предметов, content: { application/json: { schema: { $ref: './inventory-components.yaml#/components/schemas/InventoryError' } } } }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /inventory/templates/items/{itemId}:
    parameters:
      - $ref: './inventory-components.yaml#/components/parameters/ItemId'
    get:
      tags: [Inventory]
      summary: Получить метаданные предмета
      responses:
        '200':
          description: Метаданные предмета
          content:
            application/json:
              schema: { $ref: './inventory-components.yaml#/components/schemas/ItemTemplate' }
        '401': { $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../../shared/common/responses.yaml#/components/responses/NotFound' }

x-websocket:
  url: wss://api.necp.game/v1/inventory/players/{playerId}/stream
  description: Realtime события инвентаря игрока
  parameters:
    - name: playerId
      in: path
      required: true
      schema: { type: string }
  messages:
    itemAdded:
      summary: Добавлен новый предмет
      payload: { $ref: './inventory-components.yaml#/components/schemas/ItemEvent' }
    itemRemoved:
      summary: Предмет удалён
      payload: { $ref: './inventory-components.yaml#/components/schemas/ItemEvent' }
    itemUpdated:
      summary: Обновление предмета (статус, прочность)
      payload: { $ref: './inventory-components.yaml#/components/schemas/ItemEvent' }
    containerUpdated:
      summary: Изменения контейнера
      payload: { $ref: './inventory-components.yaml#/components/schemas/ContainerEvent' }
    weightUpdated:
      summary: Обновление веса и перегрузки
      payload: { $ref: './inventory-components.yaml#/components/schemas/WeightEvent' }
    reservationUpdated:
      summary: Изменение резерва
      payload: { $ref: './inventory-components.yaml#/components/schemas/ReservationEvent' }
    equipmentChanged:
      summary: Обновление экипировки
      payload: { $ref: './inventory-components.yaml#/components/schemas/EquipmentEvent' }
components:
  securitySchemes:
    BearerAuth: { $ref: '../../../shared/common/security.yaml#/components/securitySchemes/BearerAuth' }
    ServiceToken: { $ref: '../../../shared/common/security.yaml#/components/securitySchemes/ServiceToken' }
    GMToken: { $ref: '../../../shared/common/security.yaml#/components/securitySchemes/GMToken' }
  parameters:
    PlayerId: { $ref: './inventory-components.yaml#/components/parameters/PlayerId' }
    ContainerId: { $ref: './inventory-components.yaml#/components/parameters/ContainerId' }
    ItemId: { $ref: './inventory-components.yaml#/components/parameters/ItemId' }
  schemas:
    Inventory: { $ref: './inventory-components.yaml#/components/schemas/Inventory' }
    InventoryError: { $ref: './inventory-components.yaml#/components/schemas/InventoryError' }
    WeightInfo: { $ref: './inventory-components.yaml#/components/schemas/WeightInfo' }
  examples:
    PickupLoot: { $ref: './inventory-examples.yaml#/components/examples/PickupLoot' }
    EquipArmor: { $ref: './inventory-examples.yaml#/components/examples/EquipArmor' }
    ReserveTrade: { $ref: './inventory-examples.yaml#/components/examples/ReserveTrade' }

