openapi: 3.0.3
info:
  title: Friend System API
  version: 1.0.0
  description: |
    API для системы друзей.
    
    Источник: .BRAIN/05-technical/backend/friend-system.md v1.0.0
    
    Tier 2 система. Социальная функциональность!
    
    Возможности:
    - Friend list (список друзей)
    - Friend requests (отправка/принятие)
    - Online status (статус онлайн)
    - Ignore/block list (игнор/блокировка)
    - Recent players (недавние игроки)
    
    БД структура:
    - friendships (id, player1_id, player2_id, status, created_at)

  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Friends
    description: Система друзей

paths:
  /social/friends:
    get:
      summary: Получить список друзей
      description: Возвращает список друзей с online статусом
      operationId: getFriends
      tags:
        - Friends
      security:
        - bearerAuth: []
      parameters:
        - name: player_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Список друзей
          content:
            application/json:
              schema:
                type: object
                properties:
                  friends:
                    type: array
                    items:
                      $ref: '#/components/schemas/Friend'

  /social/friends/request:
    post:
      summary: Отправить запрос в друзья
      description: Отправляет запрос на добавление в друзья
      operationId: sendFriendRequest
      tags:
        - Friends
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - player_id
                - target_player_name
              properties:
                player_id:
                  type: string
                target_player_name:
                  type: string
      responses:
        '200':
          description: Запрос отправлен
          content:
            application/json:
              schema:
                type: object

  /social/friends/request/{request_id}/accept:
    post:
      summary: Принять запрос в друзья
      description: Принимает запрос, добавляет в friends list
      operationId: acceptFriendRequest
      tags:
        - Friends
      security:
        - bearerAuth: []
      parameters:
        - name: request_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Запрос принят
          content:
            application/json:
              schema:
                type: object

  /social/friends/{friend_id}/remove:
    delete:
      summary: Удалить из друзей
      description: Удаляет игрока из списка друзей
      operationId: removeFriend
      tags:
        - Friends
      security:
        - bearerAuth: []
      parameters:
        - name: friend_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Удален из друзей
          content:
            application/json:
              schema:
                type: object

  /social/friends/block:
    post:
      summary: Заблокировать игрока
      description: |
        Добавляет игрока в block list.
        Блокирует сообщения, invites, trade.
      operationId: blockPlayer
      tags:
        - Friends
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - player_id
                - target_player_id
              properties:
                player_id:
                  type: string
                target_player_id:
                  type: string
      responses:
        '200':
          description: Игрок заблокирован
          content:
            application/json:
              schema:
                type: object

components:
  schemas:
    Friend:
      type: object
      properties:
        player_id:
          type: string
        player_name:
          type: string
        is_online:
          type: boolean
        current_character:
          type: object
        added_at:
          type: string
          format: date-time

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT


