openapi: 3.0.3
info:
  title: Cosmetic Service API - Enterprise-Grade
  description: '**Enterprise-Grade Cosmetic Service API for NECPGAME**

    This service manages cosmetic items, appearances, and visual customizations for players
    in the Night City universe. Provides comprehensive cosmetic functionality with
    performance optimizations and enterprise-grade architecture.

    ## Key Features

    - **Cosmetic Item Management**: Complete CRUD operations for cosmetic items
    - **Character Appearance**: Player customization and visual configurations
    - **Shop Integration**: Purchase and acquisition systems
    - **Equipment System**: Cosmetic item equipping and management
    - **Event System**: Time-limited cosmetic events and promotions

    ## Domain Purpose

    The Cosmetic Service handles all visual customizations and cosmetic items in NECPGAME.
    This includes character appearances, weapon skins, vehicle modifications, and other visual enhancements.

    ## Performance Targets

    - P99 Latency: <50ms for hot paths
    - Memory: <50KB per player instance
    - Concurrent users: 10,000+ simultaneous connections
    - Data consistency: Event-sourced with CQRS patterns

    ## Modular Architecture

    The Cosmetic Service is organized into specialized modules for better maintainability:

    - **Core Module** (`cosmetic.yaml`): Core cosmetic operations and health checks
    - **Shop Module** (`cosmetic_shop.yaml`): Purchase and acquisition functionality
    - **Equipment Module** (`cosmetic_equipment.yaml`): Item equipping and management
    - **Catalog Module** (`cosmetic_catalog.yaml`): Item browsing and search
    - **Events Module** (`cosmetic_events.yaml`): Event-based cosmetic promotions

    Each module can be developed, deployed, and scaled independently while maintaining
    consistent API patterns and shared infrastructure.

    ## BACKEND NOTE
    - Struct alignment hints: 30-50% memory savings across all cosmetic operations
    - Optimized for MMOFPS RPG with low latency cosmetic operations
    - Context timeouts: Module-specific timeout configurations
    - DB pool config: Dedicated connection pools per module
    - Performance target: <50ms P95 for cross-module operations
    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.necpgame.com/v1/cosmetic
    description: Production server
  - url: https://staging-api.necpgame.com/v1/cosmetic
    description: Staging server
  - url: http://localhost:8117/api/v1/cosmetic
    description: Local development server

security:
  - BearerAuth: []

tags:
  - name: Health Monitoring
    description: System health and performance monitoring
# Core health endpoint - always available
paths:
  /health:
    get:
      summary: Cosmetic Service Health Check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the cosmetic service and all modules.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds
        '
      operationId: cosmeticServiceHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
              - deflate
              - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                  - gzip
                  - deflate
                  - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse

# Module-specific paths are imported from respective module files
# This allows for independent development and deployment of modules

components:
  responses:
    OK:
      $ref: ../common/responses/success.yaml#/OK
    Created:
      $ref: ../common/responses/success.yaml#/Created
    Updated:
      $ref: ../common/responses/success.yaml#/Updated
    Deleted:
      $ref: ../common/responses/success.yaml#/Deleted
    BadRequest:
      $ref: ../common/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common/responses/error.yaml#/Unauthorized
    NotFound:
      $ref: ../common/responses/error.yaml#/NotFound
    TooManyRequests:
      $ref: ../common/responses/error.yaml#/TooManyRequests

  schemas:
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
        - service
      properties:
        status:
          type: string
          enum:
            - healthy
            - unhealthy
            - degraded
          example: healthy
        timestamp:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
        service:
          type: string
          example: cosmetic-service
        version:
          type: string
          example: '1.0.0'
        uptime:
          type: integer
          description: Uptime in seconds
          example: 3600
        active_connections:
          type: integer
          example: 1250
      description: 'Comprehensive health response including module statuses'

    Error:
      $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse

  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth

# Module imports - each module defines its own paths and schemas
# This enables modular development while maintaining API consistency

# Core cosmetic module - basic operations and health checks
# File: cosmetic.yaml
x-module-cosmetic-core:
  description: "Core cosmetic functionality - imported from cosmetic.yaml"
  paths:
    $ref: ./cosmetic.yaml#/paths
  components:
    schemas:
      $ref: ./cosmetic.yaml#/components/schemas
    responses:
      $ref: ./cosmetic.yaml#/components/responses
    securitySchemes:
      $ref: ./cosmetic.yaml#/components/securitySchemes

# Shop module - purchase and acquisition
# File: cosmetic_shop.yaml
x-module-cosmetic-shop:
  description: "Cosmetic shop functionality - imported from cosmetic_shop.yaml"
  paths:
    $ref: ./cosmetic_shop.yaml#/paths
  components:
    schemas:
      $ref: ./cosmetic_shop.yaml#/components/schemas

# Equipment module - item equipping and management
# File: cosmetic_equipment.yaml
x-module-cosmetic-equipment:
  description: "Cosmetic equipment functionality - imported from cosmetic_equipment.yaml"
  paths:
    $ref: ./cosmetic_equipment.yaml#/paths
  components:
    schemas:
      $ref: ./cosmetic_equipment.yaml#/components/schemas

# Catalog module - browsing and search
# File: cosmetic_catalog.yaml
x-module-cosmetic-catalog:
  description: "Cosmetic catalog functionality - imported from cosmetic_catalog.yaml"
  paths:
    $ref: ./cosmetic_catalog.yaml#/paths
  components:
    schemas:
      $ref: ./cosmetic_catalog.yaml#/components/schemas

# Events module - promotional events
# File: cosmetic_events.yaml
x-module-cosmetic-events:
  description: "Cosmetic events functionality - imported from cosmetic_events.yaml"
  paths:
    $ref: ./cosmetic_events.yaml#/paths
  components:
    schemas:
      $ref: ./cosmetic_events.yaml#/components/schemas

