openapi: 3.0.3
info:
  title: Trading Routes API
  version: 1.0.0
  description: |
    API для глобальных торговых маршрутов.
    
    Источник: .BRAIN/02-gameplay/economy/trading-routes-global.md v1.0.0
    
    Торговые узлы:
    - Tier 1 (Мегаполисы): Night City, Токио, Лондон, Шанхай, Москва
    - Tier 2 (Региональные центры): 20+ городов
    
    Торговые маршруты: Trans-Pacific, Euro-Express, American Run, Silk Road 2.0, African Network
    
    Механики:
    - Товары: Кибер-импланты, электроника, braindance, оружие, наркотики
    - Время доставки: 48-96 часов игрового времени
    - Прибыль: 10-40% (зависит от Trading skill и риска)
    - Риски: Пираты, таможня, картели, корп-проверки, банды
    
    Вдохновение: EVE Online, KENSHI

  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Trading Routes
    description: Торговые маршруты

paths:
  /gameplay/economy/trading-routes:
    get:
      summary: Получить доступные маршруты
      description: |
        Возвращает список торговых маршрутов.
        Фильтруется по региону, прибыли, риску.
      operationId: getTradingRoutes
      tags:
        - Trading Routes
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
        - name: from_hub
          in: query
          schema:
            type: string
        - name: to_hub
          in: query
          schema:
            type: string
        - name: min_profit
          in: query
          schema:
            type: number
      responses:
        '200':
          description: Торговые маршруты
          content:
            application/json:
              schema:
                type: object
                properties:
                  routes:
                    type: array
                    items:
                      $ref: '#/components/schemas/TradingRoute'

  /gameplay/economy/trading-routes/{route_id}/start:
    post:
      summary: Начать торговлю
      description: |
        Начинает торговую операцию по маршруту.
        Требует покупки товаров в стартовом узле.
      operationId: startTradingRun
      tags:
        - Trading Routes
      parameters:
        - name: route_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - cargo
              properties:
                character_id:
                  type: string
                cargo:
                  type: array
                  items:
                    type: object
                    properties:
                      item_id:
                        type: string
                      quantity:
                        type: integer
      responses:
        '200':
          description: Торговля начата
          content:
            application/json:
              schema:
                type: object
                properties:
                  run_id:
                    type: string
                  route_id:
                    type: string
                  estimated_arrival:
                    type: string
                    format: date-time
                  estimated_profit:
                    type: number
                  risk_events:
                    type: array
                    items:
                      type: string

  /gameplay/economy/trading-routes/{route_id}/calculate-profit:
    get:
      summary: Рассчитать прибыль
      description: |
        Рассчитывает потенциальную прибыль от торговой операции.
        Учитывает навыки, репутацию, риски.
      operationId: calculateTradeProfit
      tags:
        - Trading Routes
      parameters:
        - name: route_id
          in: path
          required: true
          schema:
            type: string
        - name: character_id
          in: query
          required: true
          schema:
            type: string
        - name: cargo_value
          in: query
          required: true
          schema:
            type: number
      responses:
        '200':
          description: Расчет прибыли
          content:
            application/json:
              schema:
                type: object
                properties:
                  base_profit:
                    type: number
                  skill_bonus:
                    type: number
                  reputation_bonus:
                    type: number
                  risk_factor:
                    type: number
                  estimated_profit:
                    type: number

  /gameplay/economy/trading-hubs:
    get:
      summary: Получить торговые узлы
      description: Возвращает список торговых узлов (городов)
      operationId: getTradingHubs
      tags:
        - Trading Routes
      responses:
        '200':
          description: Торговые узлы
          content:
            application/json:
              schema:
                type: object
                properties:
                  hubs:
                    type: array
                    items:
                      $ref: '#/components/schemas/TradingHub'

components:
  schemas:
    TradingRoute:
      type: object
      properties:
        route_id:
          type: string
        name:
          type: string
        from_hub:
          type: string
        to_hub:
          type: string
        distance:
          type: number
        delivery_time:
          type: number
          description: Время доставки (часы)
        base_profit_margin:
          type: number
        risk_level:
          type: string
          enum: [low, medium, high, extreme]
        requirements:
          type: object

    TradingHub:
      type: object
      properties:
        hub_id:
          type: string
        name:
          type: string
        tier:
          type: integer
        region:
          type: string
        market_prices:
          type: object


