openapi: 3.0.3
info:
  title: World domain API
  description: "Consolidated world domain Domain API for NECPGAME.


    This domain consolidates all world functionality.

    "
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
servers:
  - url: https://api.necpgame.com/api/v1
    description: Production server
security:
  - BearerAuth: []
tags:
  - name: World domain
    description: world domain domain endpoints
paths:
  # Location Service Integration - enterprise-grade location management
  /api/v1/locations/health:
    $ref: "./locations/main.yaml#/paths/~1api~1v1~1locations~1health"
  /api/v1/locations:
    $ref: "./locations/main.yaml#/paths/~1api~1v1~1locations"
  /api/v1/locations/{location_id}:
    $ref: "./locations/main.yaml#/paths/~1api~1v1~1locations~1{location_id}"
  /api/v1/locations/{location_id}/nearby:
    $ref: "./locations/main.yaml#/paths/~1api~1v1~1locations~1{location_id}~1nearby"

  # World Cities Service Integration - enterprise-grade global city management
  /api/v1/cities:
    $ref: "./cities/world-cities-service.yaml#/paths/~1api~1v1~1cities"
  /api/v1/cities/{city_id}:
    $ref: "./cities/world-cities-service.yaml#/paths/~1api~1v1~1cities~1{city_id}"
  /api/v1/cities/nearby:
    $ref: "./cities/world-cities-service.yaml#/paths/~1api~1v1~1cities~1nearby"
  /api/v1/cities/regions:
    $ref: "./cities/world-cities-service.yaml#/paths/~1api~1v1~1cities~1regions"
  /api/v1/cities/stats:
    $ref: "./cities/world-cities-service.yaml#/paths/~1api~1v1~1cities~1stats"
  /api/v1/cities/search:
    $ref: "./cities/world-cities-service.yaml#/paths/~1api~1v1~1cities~1search"

  # World Bosses Service Integration - enterprise-grade world boss events management
  /api/v1/world/bosses/catalog:
    $ref: "./world-bosses-service.yaml#/paths/~1api~1v1~1world~1bosses~1catalog"
  /api/v1/world/bosses/{boss_id}:
    $ref: "./world-bosses-service.yaml#/paths/~1api~1v1~1world~1bosses~1{boss_id}"
  /api/v1/world/bosses/schedule:
    $ref: "./world-bosses-service.yaml#/paths/~1api~1v1~1world~1bosses~1schedule"
  /api/v1/world/bosses/events/{event_id}:
    $ref: "./world-bosses-service.yaml#/paths/~1api~1v1~1world~1bosses~1events~1{event_id}"
  /api/v1/world/bosses/events/{event_id}/register:
    $ref: "./world-bosses-service.yaml#/paths/~1api~1v1~1world~1bosses~1events~1{event_id}~1register"
  /api/v1/world/bosses/events/{event_id}/participants:
    $ref: "./world-bosses-service.yaml#/paths/~1api~1v1~1world~1bosses~1events~1{event_id}~1participants"
  /api/v1/world/bosses/events/{event_id}/status:
    $ref: "./world-bosses-service.yaml#/paths/~1api~1v1~1world~1bosses~1events~1{event_id}~1status"
  /api/v1/world/bosses/events/{event_id}/telemetry:
    $ref: "./world-bosses-service.yaml#/paths/~1api~1v1~1world~1bosses~1events~1{event_id}~1telemetry"
  /api/v1/world/bosses/events/{event_id}/aftermath:
    $ref: "./world-bosses-service.yaml#/paths/~1api~1v1~1world~1bosses~1events~1{event_id}~1aftermath"
  /api/v1/world/bosses/events/{event_id}/rewards/{player_id}:
    $ref: "./world-bosses-service.yaml#/paths/~1api~1v1~1world~1bosses~1events~1{event_id}~1rewards~1{player_id}"

  /api/v1/world-domain/health:
    get:
      summary: world domain domain health check
      operationId: world-domainHealthCheck
      tags:
        - World domain
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=300, s-maxage=600
            ETag:
              schema:
                type: string
                example: '"-api-v1-world-domain-health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                  - gzip
                  - deflate
                  - br
  /api/v1/world-domain/health/batch:
    post:
      summary: Batch health check for multiple domains
      operationId: batchHealthCheck
      tags:
        - System
      description: "Performance optimization: Check multiple domain health in single request"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - domains
              properties:
                domains:
                  type: array
                  items:
                    type: string
                  maxItems: 10
      responses:
        "200":
          description: Batch health results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/HealthResponse"
                  total_time_ms:
                    type: integer
                    description: Total processing time
  /api/v1/world-domain/health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      operationId: healthWebSocket
      tags:
        - System
      description: Real-time health updates without polling
      responses:
        "101":
          description: WebSocket connection established
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    # Location Service Schemas Integration
    Location:
      $ref: "./locations/main.yaml#/components/schemas/Location"
    LocationDetailResponse:
      $ref: "./locations/main.yaml#/components/schemas/LocationDetailResponse"
    LocationListResponse:
      $ref: "./locations/main.yaml#/components/schemas/LocationListResponse"
    NearbyLocationsResponse:
      $ref: "./locations/main.yaml#/components/schemas/NearbyLocationsResponse"

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: healthy
          maxLength: 255
        domain:
          type: string
          example: world-domain
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          maxLength: 255
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    # World Cities Service Schemas Integration
    City:
      $ref: "./cities/world-cities-service.yaml#/components/schemas/City"
    CreateCityRequest:
      $ref: "./cities/world-cities-service.yaml#/components/schemas/CreateCityRequest"
    UpdateCityRequest:
      $ref: "./cities/world-cities-service.yaml#/components/schemas/UpdateCityRequest"
    CitiesStats:
      $ref: "./cities/world-cities-service.yaml#/components/schemas/CitiesStats"
    Region:
      $ref: "./cities/world-cities-service.yaml#/components/schemas/Region"
    CityTimelineEntry:
      $ref: "./cities/world-cities-service.yaml#/components/schemas/CityTimelineEntry"

    # World Bosses Service Schemas Integration - enterprise-grade world boss events management
    WorldBossesCatalogResponse:
      $ref: "./world-bosses-service.yaml#/components/schemas/WorldBossesCatalogResponse"
    WorldBossSummary:
      $ref: "./world-bosses-service.yaml#/components/schemas/WorldBossSummary"
    BossRotationCycle:
      $ref: "./world-bosses-service.yaml#/components/schemas/BossRotationCycle"
    WorldBossDetailResponse:
      $ref: "./world-bosses-service.yaml#/components/schemas/WorldBossDetailResponse"
    WorldBoss:
      $ref: "./world-bosses-service.yaml#/components/schemas/WorldBoss"
    BossPhase:
      $ref: "./world-bosses-service.yaml#/components/schemas/BossPhase"
    BossAbility:
      $ref: "./world-bosses-service.yaml#/components/schemas/BossAbility"
    SkillCheck:
      $ref: "./world-bosses-service.yaml#/components/schemas/SkillCheck"
    BossRewards:
      $ref: "./world-bosses-service.yaml#/components/schemas/BossRewards"
    LootEntry:
      $ref: "./world-bosses-service.yaml#/components/schemas/LootEntry"
    WorldFlagChange:
      $ref: "./world-bosses-service.yaml#/components/schemas/WorldFlagChange"
    BossStatistics:
      $ref: "./world-bosses-service.yaml#/components/schemas/BossStatistics"
    WorldBossesScheduleResponse:
      $ref: "./world-bosses-service.yaml#/components/schemas/WorldBossesScheduleResponse"
    WorldBossEventSummary:
      $ref: "./world-bosses-service.yaml#/components/schemas/WorldBossEventSummary"
    ScheduleWorldBossRequest:
      $ref: "./world-bosses-service.yaml#/components/schemas/ScheduleWorldBossRequest"
    WorldBossEventScheduledResponse:
      $ref: "./world-bosses-service.yaml#/components/schemas/WorldBossEventScheduledResponse"
    WorldBossEventDetailResponse:
      $ref: "./world-bosses-service.yaml#/components/schemas/WorldBossEventDetailResponse"
    WorldBossEvent:
      $ref: "./world-bosses-service.yaml#/components/schemas/WorldBossEvent"
    EventParticipant:
      $ref: "./world-bosses-service.yaml#/components/schemas/EventParticipant"
    EventTelemetrySummary:
      $ref: "./world-bosses-service.yaml#/components/schemas/EventTelemetrySummary"
    UpdateWorldBossEventRequest:
      $ref: "./world-bosses-service.yaml#/components/schemas/UpdateWorldBossEventRequest"
    WorldBossEventResponse:
      $ref: "./world-bosses-service.yaml#/components/schemas/WorldBossEventResponse"
    RegisterForEventRequest:
      $ref: "./world-bosses-service.yaml#/components/schemas/RegisterForEventRequest"
    RegistrationResponse:
      $ref: "./world-bosses-service.yaml#/components/schemas/RegistrationResponse"
    EventParticipantsResponse:
      $ref: "./world-bosses-service.yaml#/components/schemas/EventParticipantsResponse"
    WorldBossEventStatusResponse:
      $ref: "./world-bosses-service.yaml#/components/schemas/WorldBossEventStatusResponse"
    TelemetryEvent:
      $ref: "./world-bosses-service.yaml#/components/schemas/TelemetryEvent"
    WorldBossTelemetryResponse:
      $ref: "./world-bosses-service.yaml#/components/schemas/WorldBossTelemetryResponse"
    WorldBossAftermathResponse:
      $ref: "./world-bosses-service.yaml#/components/schemas/WorldBossAftermathResponse"
    AftermathEffects:
      $ref: "./world-bosses-service.yaml#/components/schemas/AftermathEffects"
    EconomicImpacts:
      $ref: "./world-bosses-service.yaml#/components/schemas/EconomicImpacts"
    ProcessAftermathRequest:
      $ref: "./world-bosses-service.yaml#/components/schemas/ProcessAftermathRequest"
    AftermathProcessedResponse:
      $ref: "./world-bosses-service.yaml#/components/schemas/AftermathProcessedResponse"
    PlayerRewardsResponse:
      $ref: "./world-bosses-service.yaml#/components/schemas/PlayerRewardsResponse"
    PlayerRewards:
      $ref: "./world-bosses-service.yaml#/components/schemas/PlayerRewards"
