# Target Architecture:
# - Microservice: gameplay-service (port 8083)
# - API Base: /api/v1/gameplay/cosmetics
# - Dependencies: auth-service, inventory-service, economy-service, notification-service, analytics-service, incident-service
# - Frontend Module: modules/gameplay/cosmetics (useCosmeticsStore)
# - UI: CosmeticInventoryGrid, CosmeticDetailModal, ShopRotationCarousel, BundlePreview, EmoteWheel
# - Forms: PurchaseCosmeticForm, EquipCosmeticForm, GiftCosmeticForm
# - Layouts: GameLayout, CosmeticHubLayout
# - Hooks: useCosmeticInventory, useShopRotations, useCollections

openapi: 3.0.3
info:
  title: Cosmetic System API
  description: "Косметическая экосистема NECPGAME: каталог, магазин ротаций, инвентарь, экипировка, подарки и аналитика."
  version: 1.0.0
  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/cosmetics
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - name: Catalog
    description: Каталог косметических предметов и управление контентом
  - name: Inventory
    description: Инвентарь игрока, экипировка и сбор коллекций
  - name: Shop
    description: Магазин косметики, ротации, bundles и подарки
  - name: Analytics
    description: Отчёты, лидерборды и монетизация
  - name: Governance
    description: Администраторские операции и интеграции cron/incident
paths:
  /gameplay/cosmetics/catalog:
    get:
      tags: [Catalog]
      summary: Получить каталог косметических предметов
      parameters:
        - name: type
          in: query
          schema: { type: string, enum: [skin_character, skin_weapon, emote, title, nameplate, pose, effect] }
        - name: rarity
          in: query
          schema: { type: string, enum: [common, rare, epic, legendary, mythic] }
        - name: source
          in: query
          schema: { type: string, enum: [purchase, achievement, event, battle_pass, promo] }
        - name: purchasable
          in: query
          schema: { type: boolean }
      responses:
        '200':
          description: Каталог с фильтрами и пагинацией
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/CatalogResponse' }
              examples:
                catalog:
                  $ref: './examples.yaml#/components/examples/CatalogPage'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/cosmetics/items/{itemId}:
    parameters:
      - $ref: './cosmetic-components.yaml#/components/parameters/ItemId'
    get:
      tags: [Catalog]
      summary: Получить детали косметического предмета
      responses:
        '200':
          description: Полная карточка предмета
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/CosmeticItem' }
              examples:
                item:
                  $ref: './examples.yaml#/components/examples/CosmeticItemDetail'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /gameplay/cosmetics/items:
    post:
      tags: [Governance]
      summary: Создать или обновить предмет (админ)
      security:
        - ServiceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './cosmetic-components.yaml#/components/schemas/AdminItemRequest' }
      responses:
        '201':
          description: Предмет создан/обновлён
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/CosmeticItem' }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '409':
          description: Код предмета уже используется
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/CosmeticError' }
  /gameplay/cosmetics/purchase:
    post:
      tags: [Shop]
      summary: Купить косметический предмет
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './cosmetic-components.yaml#/components/schemas/PurchaseRequest' }
            examples:
              legendarySkin:
                $ref: './examples.yaml#/components/examples/PurchaseRequest'
      responses:
        '200':
          description: Покупка завершена, баланс обновлён
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/PurchaseResponse' }
              examples:
                purchaseReceipt:
                  $ref: './examples.yaml#/components/examples/PurchaseResponse'
        '400':
          description: Недостаточно информации или дубликат
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/CosmeticError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '409':
          description: Недостаточно средств или блокировка региона
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/CosmeticError' }
  /gameplay/cosmetics/redeem:
    post:
      tags: [Inventory]
      summary: Получить косметику из награды или промокода
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './cosmetic-components.yaml#/components/schemas/RedeemRequest' }
      responses:
        '201':
          description: "Предмет начислен, событие опубликовано"
        '400':
          description: Источник недействителен или лимит исчерпан
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/CosmeticError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/cosmetics/inventory:
    get:
      tags: [Inventory]
      summary: Получить инвентарь косметики игрока
      parameters:
        - name: playerId
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Список владения и источников
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/InventoryResponse' }
              examples:
                inventory:
                  $ref: './examples.yaml#/components/examples/InventoryResponse'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/cosmetics/equip:
    post:
      tags: [Inventory]
      summary: Экипировать косметический предмет
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './cosmetic-components.yaml#/components/schemas/EquipRequest' }
            examples:
              equipEmote:
                $ref: './examples.yaml#/components/examples/EquipRequest'
      responses:
        '200':
          description: Загруженный loadout
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/EquippedLoadoutResponse' }
        '400':
          description: Слот недоступен или предмет не принадлежит игроку
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/CosmeticError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/cosmetics/unequip:
    post:
      tags: [Inventory]
      summary: Снять косметический предмет
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './cosmetic-components.yaml#/components/schemas/UnequipRequest' }
      responses:
        '200':
          description: Обновлённый loadout игрока
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/EquippedLoadoutResponse' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /gameplay/cosmetics/equipped:
    get:
      tags: [Inventory]
      summary: Получить текущий loadout косметики игрока
      parameters:
        - name: playerId
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Активные скины, эмоты, титулы
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/EquippedLoadoutResponse' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/cosmetics/shop/rotations:
    get:
      tags: [Shop]
      summary: Получить текущие ротации магазина
      parameters:
        - name: region
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Текущие daily/weekly/featured/ bundles
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/ShopRotationResponse' }
              examples:
                rotation:
                  $ref: './examples.yaml#/components/examples/ShopRotations'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
    post:
      tags: [Governance]
      summary: Обновить ротацию магазина
      security:
        - ServiceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './cosmetic-components.yaml#/components/schemas/RotationUpdateRequest' }
      responses:
        '202': { description: Ротация поставлена в очередь публикаций }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/cosmetics/bundles:
    post:
      tags: [Shop]
      summary: Купить набор косметики
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './cosmetic-components.yaml#/components/schemas/BundlePurchaseRequest' }
      responses:
        '200':
          description: Bundle куплен, предметы начислены
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/BundlePurchaseResponse' }
        '400':
          description: Неверный bundle или блокировка
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/CosmeticError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/cosmetics/gift:
    post:
      tags: [Shop]
      summary: Подарить косметику другому игроку
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './cosmetic-components.yaml#/components/schemas/GiftRequest' }
      responses:
        '202': { description: Подарок отправлен и обработается асинхронно }
        '400':
          description: Превышен дневной лимит подарков или нет дружбы
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/CosmeticError' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/cosmetics/collections:
    get:
      tags: [Inventory]
      summary: Получить прогресс коллекций игрока
      parameters:
        - name: playerId
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Коллекции и награды
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/CollectionProgressResponse' }
              examples:
                collections:
                  $ref: './examples.yaml#/components/examples/CollectionProgress'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/cosmetics/analytics:
    get:
      tags: [Analytics]
      summary: Получить аналитику косметической системы
      parameters:
        - name: range
          in: query
          schema: { type: string, enum: [7d, 30d, 90d], default: 30d }
        - name: region
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Продажи, популярность, ретеншн
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/AnalyticsResponse' }
              examples:
                analytics:
                  $ref: './examples.yaml#/components/examples/CosmeticAnalytics'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/cosmetics/leaderboard:
    get:
      tags: [Analytics]
      summary: Лидерборд владельцев эксклюзивов
      parameters:
        - name: metric
          in: query
          schema: { type: string, enum: [collection_completion, rare_ownership, emote_usage], default: collection_completion }
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Таблица лидеров по косметике
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/LeaderboardResponse' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/cosmetics/incidents:
    post:
      tags: [Governance]
      summary: Отправить событие в incident-service
      security:
        - ServiceToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: './cosmetic-components.yaml#/components/schemas/CosmeticIncidentReport' }
      responses:
        '202': { description: Инцидент зарегистрирован }
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
  /gameplay/cosmetics/settings:
    get:
      tags: [Governance]
      summary: Получить конфигурацию программы косметики
      responses:
        '200':
          description: Настройки лимитов, регионы, анти-абуз
          content:
            application/json:
              schema: { $ref: './cosmetic-components.yaml#/components/schemas/CosmeticSettings' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
components:
  securitySchemes:
    BearerAuth: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth' }
    ServiceToken: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/ServiceToken' }
  parameters:
    ItemId: { $ref: './cosmetic-components.yaml#/components/parameters/ItemId' }
  schemas:
    CosmeticError: { $ref: './cosmetic-components.yaml#/components/schemas/CosmeticError' }
    CosmeticItem: { $ref: './cosmetic-components.yaml#/components/schemas/CosmeticItem' }
    PurchaseResponse: { $ref: './cosmetic-components.yaml#/components/schemas/PurchaseResponse' }
    ShopRotationResponse: { $ref: './cosmetic-components.yaml#/components/schemas/ShopRotationResponse' }
    AnalyticsResponse: { $ref: './cosmetic-components.yaml#/components/schemas/AnalyticsResponse' }
  examples:
    CatalogPage: { $ref: './examples.yaml#/components/examples/CatalogPage' }
    CosmeticItemDetail: { $ref: './examples.yaml#/components/examples/CosmeticItemDetail' }
    PurchaseRequest: { $ref: './examples.yaml#/components/examples/PurchaseRequest' }
    PurchaseResponse: { $ref: './examples.yaml#/components/examples/PurchaseResponse' }
    ShopRotations: { $ref: './examples.yaml#/components/examples/ShopRotations' }
    InventoryResponse: { $ref: './examples.yaml#/components/examples/InventoryResponse' }
    EquipRequest: { $ref: './examples.yaml#/components/examples/EquipRequest' }
    CollectionProgress: { $ref: './examples.yaml#/components/examples/CollectionProgress' }
    CosmeticAnalytics: { $ref: './examples.yaml#/components/examples/CosmeticAnalytics' }

