openapi: 3.0.3
info:
  title: Cosmetic Examples
  version: 1.0.0
  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay
    package: com.necpgame.gameplayservice
paths: {}

components:
  examples:
    CatalogPage:
      summary: Каталог косметики (страница 1)
      value:
        pagination: { page: 1, size: 25, total: 240 }
        items:
          - itemId: item-skin-nyxcrow
            code: skin_nyx_crow
            name: "Nyx Crow Operative"
            description: "Легендарный skin с неоновыми крыльями."
            type: skin_character
            category: stealth
            rarity: legendary
            price: { amount: 2400, currency: premium_tokens, discountedAmount: 1900 }
            exclusivity: { type: event_only, season: "Blackwall 2077", regions: [global] }
            availability: { purchasable: true, rotationTags: [featured, neon_fest], startAt: "2025-11-07T00:00:00Z", endAt: "2025-11-14T00:00:00Z" }
            assets: { iconUrl: "https://cdn.necpgame.com/cosmetics/icons/nyx_crow.png", previewUrl: "https://cdn.necpgame.com/cosmetics/previews/nyx_crow.mp4" }
            metadata: { collectionId: coll-nightguard, bundleIds: [bundle-neon-fury], tags: [stealth, neon] }
    CosmeticItemDetail:
      summary: Полная карточка предмета
      value:
        itemId: item-emote-ggwave
        code: emote_gg_wave
        name: "GG Wave"
        description: "Анимированный приветственный сигнал с голографическим эффектом."
        type: emote
        category: social
        rarity: rare
        price: { amount: 800, currency: shards }
        exclusivity: { type: none }
        availability: { purchasable: true, rotationTags: [daily], startAt: "2025-11-07T00:00:00Z", endAt: "2025-11-08T00:00:00Z" }
        assets: { iconUrl: "https://cdn.necpgame.com/cosmetics/icons/ggwave.png", previewUrl: "https://cdn.necpgame.com/cosmetics/previews/ggwave.webm" }
        metadata: { collectionId: coll-gestures, bundleIds: [], tags: [emote, social] }
    PurchaseRequest:
      summary: Покупка легендарного skin
      value:
        playerId: player-501
        itemId: item-skin-nyxcrow
        paymentMethod: premium_currency
        expectedPrice: { amount: 1900, currency: premium_tokens }
        region: EU-CEN
        doubleSpendToken: "purchase-req-77f8"
    PurchaseResponse:
      summary: Ответ на покупку
      value:
        itemId: item-skin-nyxcrow
        playerId: player-501
        grantedAt: "2025-11-07T22:50:00Z"
        updatedBalance: { currency: premium_tokens, amount: 1250 }
        rewardTokens: [bp_xp_250]
    InventoryResponse:
      summary: Инвентарь игрока
      value:
        playerId: player-501
        items:
          - itemId: item-skin-nyxcrow
            acquiredAt: "2025-11-07T22:50:00Z"
            source: purchase
            duplicateCount: 0
            favorite: true
            usageStats: { equippedCount: 5, lastEquippedAt: "2025-11-07T22:51:00Z" }
          - itemId: item-emote-ggwave
            acquiredAt: "2025-11-06T18:10:00Z"
            source: battle_pass
            duplicateCount: 1
            favorite: false
            usageStats: { equippedCount: 12, lastEquippedAt: "2025-11-06T19:00:00Z" }
    EquipRequest:
      summary: Экипировка эмоты в слот
      value:
        playerId: player-501
        slotType: emote_slot
        slotIndex: 2
        itemId: item-emote-ggwave
    ShopRotations:
      summary: Ротация магазина
      value:
        region: Global
        rotations:
          - rotationId: rot-daily-2025-11-07
            type: daily
            startAt: "2025-11-07T00:00:00Z"
            endAt: "2025-11-08T00:00:00Z"
            items:
              - { itemId: item-emote-ggwave, displayOrder: 1, discountPercent: 15 }
              - { itemId: item-title-nightcrawler, displayOrder: 2 }
          - rotationId: rot-featured-week45
            type: featured
            startAt: "2025-11-04T00:00:00Z"
            endAt: "2025-11-11T00:00:00Z"
            items:
              - { itemId: item-skin-nyxcrow, displayOrder: 1 }
              - { itemId: item-skin-quantumblade, displayOrder: 2, limitedQuantity: 500, remainingQuantity: 120 }
            bundlePrice: { amount: 3500, currency: premium_tokens }
    CollectionProgress:
      summary: Прогресс коллекции
      value:
        playerId: player-501
        collections:
          - collectionId: coll-nightguard
            name: "Nightguard Set"
            totalItems: 6
            ownedItems: 4
            rewardPreview: "Nightguard Title"
            completionReward: { type: title, amount: 1 }
            items: [item-skin-nyxcrow, item-emote-nightguard, item-title-nightguard, item-nameplate-nightguard]
    CosmeticAnalytics:
      summary: Аналитика косметики
      value:
        generatedAt: "2025-11-07T22:40:00Z"
        range: 30d
        region: Global
        topItems:
          - { itemId: item-skin-nyxcrow, name: "Nyx Crow Operative", purchases: 5400, equipRate: 0.82, averageRevenue: 2100 }
          - { itemId: item-emote-ggwave, name: "GG Wave", purchases: 8900, equipRate: 0.68, averageRevenue: 720 }
        revenue:
          total: 17850000
          byCurrency:
            - { currency: premium_tokens, amount: 12500000 }
            - { currency: shards, amount: 5350000 }
        usageRate: 0.74
        conversionRate: 0.38
        rarityDistribution:
          - { rarity: legendary, share: 0.24 }
          - { rarity: epic, share: 0.31 }
          - { rarity: rare, share: 0.45 }
        retention: { day7: 0.66, day30: 0.47 }
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
