# Issue: #141889956
openapi: 3.0.3
info:
  title: Stock Protection Alerts Service API
  description: |
    API для управления surveillance alerts (алерты о подозрительной активности) на фондовой бирже.
    
    Функционал:
    - Получение списка алертов
    - Получение деталей алерта
    - Обновление статуса алерта (moderator/admin)
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: Economy Team
    email: economy@necp.game

servers:
  - url: https://api.necp.game/v1
    description: Production
  - url: https://api-stage.necp.game/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: alerts
    description: Алерты о подозрительной активности

paths:
  /stocks/protection/alerts:
    get:
      tags:
        - alerts
      summary: Получить список surveillance alerts
      description: |
        Возвращает алерты о подозрительной активности на бирже.
      operationId: getSurveillanceAlerts
      security:
        - BearerAuth: [ ]
      parameters:
        - name: alert_type
          in: query
          required: false
          description: Тип алерта
          schema:
            type: string
            enum:
              - insider_trading
              - spoofing
              - wash_trading
              - pump_and_dump
              - price_manipulation
        - name: severity
          in: query
          required: false
          description: Серьезность
          schema:
            type: string
            enum:
              - low
              - medium
              - high
              - critical
        - name: status
          in: query
          required: false
          description: Статус расследования
          schema:
            type: string
            enum:
              - new
              - under_review
              - confirmed
              - dismissed
              - escalated
        - name: stock_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - $ref: "../../common-schemas.yaml#/components/parameters/Limit"
        - $ref: "../../common-schemas.yaml#/components/parameters/Offset"
      responses:
        "200":
          description: Алерты успешно получены
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "stock-protection-schemas.yaml#/components/schemas/SurveillanceAlert"
                  pagination:
                    $ref: "../../common-schemas.yaml#/components/schemas/PaginationResponse"
        "401":
          $ref: "../../common-schemas.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "../../common-schemas.yaml#/components/responses/Forbidden"
        "500":
          $ref: "../../common-schemas.yaml#/components/responses/InternalServerError"

  /stocks/protection/alerts/{alert_id}:
    get:
      tags:
        - alerts
      summary: Получить детали алерта
      description: |
        Возвращает детальную информацию об алерте.
      operationId: getAlertDetails
      security:
        - BearerAuth: [ ]
      parameters:
        - name: alert_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Детали алерта
          content:
            application/json:
              schema:
                $ref: "stock-protection-schemas.yaml#/components/schemas/SurveillanceAlertDetailed"
        "401":
          $ref: "../../common-schemas.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "../../common-schemas.yaml#/components/responses/Forbidden"
        "404":
          $ref: "../../common-schemas.yaml#/components/responses/NotFound"
        "500":
          $ref: "../../common-schemas.yaml#/components/responses/InternalServerError"
    patch:
      tags:
        - alerts
      summary: Обновить статус алерта
      description: |
        Обновляет статус расследования алерта.
        Требуется роль moderator или admin.
      operationId: updateAlertStatus
      security:
        - BearerAuth: [ ]
      parameters:
        - name: alert_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum:
                    - under_review
                    - confirmed
                    - dismissed
                    - escalated
                notes:
                  type: string
                  description: Комментарий модератора
      responses:
        "200":
          description: Статус обновлен
          content:
            application/json:
              schema:
                $ref: "stock-protection-schemas.yaml#/components/schemas/SurveillanceAlert"
        "400":
          $ref: "../../common-schemas.yaml#/components/responses/BadRequest"
        "401":
          $ref: "../../common-schemas.yaml#/components/responses/Unauthorized"
        "403":
          $ref: "../../common-schemas.yaml#/components/responses/Forbidden"
        "404":
          $ref: "../../common-schemas.yaml#/components/responses/NotFound"
        "500":
          $ref: "../../common-schemas.yaml#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      $ref: "../../common-schemas.yaml#/components/securitySchemes/BearerAuth"

