openapi: 3.0.3
info:
  title: Boss Service API - Enterprise-Grade Boss Management
  description: '**Enterprise-Grade Boss API for NECPGAME**

    Boss Service manages world bosses, elite champions, raid coordination, and boss-related
    gameplay mechanics. Provides comprehensive boss lifecycle management, league systems,
    real-time telemetry, and reward distribution for epic encounters.

    ## Key Features

    - **World Boss Management**: Complete boss lifecycle from spawning to aftermath
    - **League System**: Bronze to Mythic difficulty progression with scaling - **Elite
    Champions**: Enhanced boss variants with unique mechanics - **Real-time Coordination**:
    WebSocket telemetry and raid synchronization - **Reward Systems**: Dynamic loot
    tables and achievement tracking - **Performance Optimized**: High-throughput boss
    operations with <50ms P99 latency

    ## Domain Purpose

    Manages all boss-related gameplay in Night City, from routine world bosses to
    epic elite champion encounters. Creates memorable, challenging experiences that
    drive community engagement and progression systems.

    ## Performance Targets

    - P99 Latency: <50ms for boss operations during events - Memory: <30KB per active
    boss session - Concurrent users: 50,000+ simultaneous participants - Telemetry
    throughput: 10,000+ events per second - Event load: 5000+ RPS during active boss
    encounters

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/boss
  description: Production server
- url: https://staging-api.necpgame.com/v1/boss
  description: Staging server
- url: http://localhost:8080/api/v1/boss
  description: Local development server
security:
- BearerAuth: []
tags:
- name: World Bosses
  description: Core world boss management and lifecycle
- name: Elite Champions
  description: Enhanced boss variants and champion raids
- name: Boss Telemetry
  description: Real-time boss encounter monitoring
- name: League System
  description: Difficulty progression and ranking
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /bosses/active:
    $ref: ./paths/bosses-active.yaml#/paths/~1bosses~1active
  /bosses/{boss_id}/encounter:
    $ref: ./paths/bosses-{boss_id}-encounter.yaml#/paths/~1bosses~1{boss_id}~1encounter
  /encounters/{encounter_id}:
    $ref: ./paths/encounters-{encounter_id}.yaml#/paths/~1encounters~1{encounter_id}
  /encounters/{encounter_id}/join:
    $ref: ./paths/encounters-{encounter_id}-join.yaml#/paths/~1encounters~1{encounter_id}~1join
  /encounters/{encounter_id}/rewards:
    $ref: ./paths/encounters-{encounter_id}-rewards.yaml#/paths/~1encounters~1{encounter_id}~1rewards
  /champions/elite/active:
    $ref: ./paths/champions-elite-active.yaml#/paths/~1champions~1elite~1active
  /telemetry/encounters/{encounter_id}/stream:
    $ref: ./paths/telemetry-encounters-{encounter_id}-stream.yaml#/paths/~1telemetry~1encounters~1{encounter_id}~1stream
components:
  schemas:
    Error:
      $ref: ./schemas/boss-service-schemas.yaml#/components/schemas/Error
    WorldBoss:
      $ref: ./schemas/boss-service-schemas.yaml#/components/schemas/WorldBoss
    BossPhase:
      $ref: ./schemas/boss-service-schemas.yaml#/components/schemas/BossPhase
    BossReward:
      $ref: ./schemas/boss-service-schemas.yaml#/components/schemas/BossReward
    EliteChampion:
      $ref: ./schemas/boss-service-schemas.yaml#/components/schemas/EliteChampion
    BossEncounter:
      $ref: ./schemas/boss-service-schemas.yaml#/components/schemas/BossEncounter
  responses: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: '**JWT Bearer token authentication**

        Required for all authenticated endpoints. Token must be obtained from auth-service
        and included in Authorization header.

        **Format:** `Authorization: Bearer <token>`

        **Token Expiry:** 15 minutes for access tokens, 7 days for refresh tokens '
