openapi: 3.0.3
info:
  title: Boss Service API - Enterprise-Grade Boss Management
  description: '**Enterprise-Grade Boss API for NECPGAME**

    Boss Service manages world bosses, elite champions, raid coordination, and boss-related
    gameplay mechanics. Provides comprehensive boss lifecycle management, league systems,
    real-time telemetry, and reward distribution for epic encounters.

    ## Key Features

    - **World Boss Management**: Complete boss lifecycle from spawning to aftermath
    - **League System**: Bronze to Mythic difficulty progression with scaling - **Elite
    Champions**: Enhanced boss variants with unique mechanics - **Real-time Coordination**:
    WebSocket telemetry and raid synchronization - **Reward Systems**: Dynamic loot
    tables and achievement tracking - **Performance Optimized**: High-throughput boss
    operations with <50ms P99 latency

    ## Domain Purpose

    Manages all boss-related gameplay in Night City, from routine world bosses to
    epic elite champion encounters. Creates memorable, challenging experiences that
    drive community engagement and progression systems.

    ## Performance Targets

    - P99 Latency: <50ms for boss operations during events - Memory: <30KB per active
    boss session - Concurrent users: 50,000+ simultaneous participants - Telemetry
    throughput: 10,000+ events per second - Event load: 5000+ RPS during active boss
    encounters

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/boss
  description: Production server
- url: https://staging-api.necpgame.com/v1/boss
  description: Staging server
- url: http://localhost:8080/api/v1/boss
  description: Local development server
security:
- BearerAuth: []
tags:
- name: World Bosses
  description: Core world boss management and lifecycle
- name: Elite Champions
  description: Enhanced boss variants and champion raids
- name: Boss Telemetry
  description: Real-time boss encounter monitoring
- name: League System
  description: Difficulty progression and ranking
- name: Health Monitoring
  description: System health and performance monitoring
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: '**JWT Bearer token authentication**

        Required for all authenticated endpoints. Token must be obtained from auth-service
        and included in Authorization header.

        **Format:** `Authorization: Bearer <token>`

        **Token Expiry:** 15 minutes for access tokens, 7 days for refresh tokens '
  schemas:
    Error:
      $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    WorldBoss:
      type: object
      description: World boss definition and configuration
      properties:
        id:
          type: string
          format: uuid
          description: Unique boss identifier
        name:
          type: string
          description: Boss display name
        description:
          type: string
          description: Boss lore and encounter description
        level:
          type: integer
          minimum: 1
          description: Boss level requirement
        league:
          type: string
          enum:
          - bronze
          - silver
          - gold
          - platinum
          - diamond
          - master
          - mythic
          description: Difficulty league
        health:
          type: integer
          description: Base health points
        phases:
          type: array
          items:
            $ref: '#/components/schemas/BossPhase'
          description: Boss encounter phases
        location:
          type: object
          properties:
            zoneId:
              type: string
              format: uuid
            coordinates:
              type: object
              properties:
                x:
                  type: number
                y:
                  type: number
                z:
                  type: number
          description: Boss spawn location
        schedule:
          type: object
          properties:
            type:
              type: string
              enum:
              - timed
              - event
              - random
            interval:
              type: integer
              description: Spawn interval in minutes
            duration:
              type: integer
              description: Active duration in minutes
          description: Boss spawn schedule
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/BossReward'
          description: Available rewards
        isActive:
          type: boolean
          description: Whether boss is currently active
        lastSpawn:
          type: string
          format: date-time
          description: Last spawn timestamp
        defeatedBy:
          type: string
          format: uuid
          description: Character ID of final blow
      required:
      - id
      - name
      - level
      - league
      - health
      - phases
      - location
      - schedule
    BossPhase:
      type: object
      description: Individual boss encounter phase
      properties:
        id:
          type: integer
          minimum: 1
        name:
          type: string
        description:
          type: string
        healthThreshold:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Health percentage to trigger phase
        mechanics:
          type: array
          items:
            type: string
          description: Special mechanics for this phase
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/BossReward'
          description: Phase-specific rewards
      required:
      - id
      - name
      - healthThreshold
    BossReward:
      type: object
      description: Boss encounter reward
      properties:
        type:
          type: string
          enum:
          - currency
          - item
          - experience
          - achievement
          - title
          - cosmetic
        value:
          oneOf:
          - type: integer
          - type: string
          description: Reward value or identifier
        rarity:
          type: string
          enum:
          - common
          - uncommon
          - rare
          - epic
          - legendary
          - mythic
        dropRate:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Drop probability
      required:
      - type
      - value
      - rarity
    EliteChampion:
      type: object
      description: Elite champion boss variant
      properties:
        id:
          type: string
          format: uuid
        baseBossId:
          type: string
          format: uuid
          description: Reference to base boss
        name:
          type: string
        description:
          type: string
        modifiers:
          type: object
          properties:
            healthMultiplier:
              type: number
              format: float
              default: 2.0
            damageMultiplier:
              type: number
              format: float
              default: 1.5
            speedMultiplier:
              type: number
              format: float
              default: 1.2
          description: Stat modifiers vs base boss
        uniqueMechanics:
          type: array
          items:
            type: string
          description: Special mechanics unique to elite variant
        spawnCondition:
          type: string
          description: Condition for elite variant to spawn
        exclusiveRewards:
          type: array
          items:
            $ref: '#/components/schemas/BossReward'
          description: Elite-exclusive rewards
      required:
      - id
      - baseBossId
      - name
      - modifiers
    BossEncounter:
      type: object
      description: Active boss encounter state
      properties:
        encounterId:
          type: string
          format: uuid
        bossId:
          type: string
          format: uuid
        isElite:
          type: boolean
          default: false
        startTime:
          type: string
          format: date-time
        participants:
          type: array
          items:
            type: object
            properties:
              characterId:
                type: string
                format: uuid
              joinTime:
                type: string
                format: date-time
              damageDealt:
                type: integer
                default: 0
              healingDone:
                type: integer
                default: 0
              isActive:
                type: boolean
                default: true
          description: Active participants
        currentPhase:
          type: integer
          minimum: 1
        bossHealth:
          type: object
          properties:
            current:
              type: integer
            maximum:
              type: integer
            percentage:
              type: number
              format: float
          description: Current boss health state
        status:
          type: string
          enum:
          - spawning
          - active
          - defeated
          - escaped
          - terminated
        endTime:
          type: string
          format: date-time
          description: Encounter end timestamp (if completed)
      required:
      - encounterId
      - bossId
      - startTime
      - participants
      - currentPhase
      - bossHealth
      - status
paths:
  /health:
    get:
      summary: Boss service health check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the boss microservice.

        Critical for service discovery, load balancing, and monitoring.


        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: bossHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - healthy
                    example: healthy
                  timestamp:
                    type: string
                    format: date-time
                    example: '2024-01-15T10:30:00Z'
                  version:
                    type: string
                    example: 1.0.0
                  uptime:
                    type: integer
                    description: Uptime in seconds
                    example: 3600
                  memory:
                    type: object
                    properties:
                      used:
                        type: integer
                        description: Memory used in MB
                        example: 256
                      total:
                        type: integer
                        description: Total memory in MB
                        example: 1024
                      percentage:
                        type: number
                        format: float
                        example: 25.0
                required:
                - status
                - timestamp
                - version
        '503':
          $ref: ../common/responses/error.yaml#/InternalServerError
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /bosses/active:
    get:
      summary: Get active world bosses
      description: '**Get currently active world bosses**

        Returns list of bosses currently available for encounters, including elite
        champions and special variants.

        **Performance:** <25ms response time, cached for 10 seconds '
      operationId: getActiveBosses
      tags:
      - World Bosses
      security:
      - BearerAuth: []
      parameters:
      - name: character_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: Character identifier for availability filtering
      - name: league
        in: query
        schema:
          type: string
          enum:
          - bronze
          - silver
          - gold
          - platinum
          - diamond
          - master
          - mythic
        description: Filter by difficulty league
      - name: include_elite
        in: query
        schema:
          type: boolean
          default: true
        description: Include elite champion variants
      - name: zone_id
        in: query
        schema:
          type: string
          format: uuid
        description: Filter by specific zone
      responses:
        '200':
          description: Active bosses retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorldBoss'
        '400':
          $ref: ../common/responses/error.yaml#/NotFound
        '401':
          $ref: ../common/responses/error.yaml#/NotFound
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /bosses/{boss_id}/encounter:
    post:
      summary: Start boss encounter
      description: '**Initiate boss encounter**

        Creates new boss encounter session and registers initial participants. Handles
        both regular bosses and elite champions.

        **Performance:** <100ms response time for encounter creation '
      operationId: startBossEncounter
      tags:
      - World Bosses
      security:
      - BearerAuth: []
      parameters:
      - name: boss_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Boss identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                characterId:
                  type: string
                  format: uuid
                  description: Character initiating encounter
                participants:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Additional participant character IDs
                isElite:
                  type: boolean
                  default: false
                  description: Request elite champion variant
              required:
              - characterId
      responses:
        '201':
          description: Boss encounter started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/BossEncounter'
        '400':
          $ref: ../common/responses/error.yaml#/NotFound
        '401':
          $ref: ../common/responses/error.yaml#/NotFound
        '409':
          $ref: ../common/responses/error.yaml#/Conflict
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /encounters/{encounter_id}:
    get:
      summary: Get boss encounter details
      description: '**Get detailed boss encounter information**

        Returns current encounter state, participants, and real-time telemetry.

        **Performance:** <10ms response time for cached encounter data '
      operationId: getBossEncounter
      tags:
      - World Bosses
      security:
      - BearerAuth: []
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Encounter identifier
      - name: include_telemetry
        in: query
        schema:
          type: boolean
          default: false
        description: Include detailed telemetry data
      responses:
        '200':
          description: Encounter details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    allOf:
                    - $ref: '#/components/schemas/BossEncounter'
                    - type: object
                      properties:
                        telemetry:
                          type: object
                          description: Real-time encounter telemetry (if requested)
                          properties:
                            damagePerSecond:
                              type: number
                              format: float
                            healingPerSecond:
                              type: number
                              format: float
                            participantCount:
                              type: integer
                            phaseProgress:
                              type: number
                              format: float
                              description: Current phase progress (0-1)
        '404':
          description: Encounter not found
          content:
            application/json:
              schema:
                $ref: ../common/responses/error.yaml#/NotFound
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /encounters/{encounter_id}/join:
    post:
      summary: Join active boss encounter
      description: '**Join ongoing boss encounter**

        Adds character to active encounter as participant.

        **Performance:** <50ms response time for participant registration '
      operationId: joinBossEncounter
      tags:
      - World Bosses
      security:
      - BearerAuth: []
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Encounter identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                characterId:
                  type: string
                  format: uuid
                  description: Character joining encounter
              required:
              - characterId
      responses:
        '200':
          description: Successfully joined encounter
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      encounterId:
                        type: string
                        format: uuid
                      participantId:
                        type: string
                        format: uuid
                      joinTime:
                        type: string
                        format: date-time
        '400':
          $ref: ../common/responses/error.yaml#/NotFound
        '404':
          description: Encounter not found or not joinable
          content:
            application/json:
              schema:
                $ref: ../common/responses/error.yaml#/NotFound
        '409':
          description: Character already participating or encounter full
          content:
            application/json:
              schema:
                $ref: ../common/responses/error.yaml#/NotFound
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /encounters/{encounter_id}/rewards:
    get:
      summary: Get encounter rewards
      description: '**Get available rewards for completed encounter**

        Returns loot table and achievements available based on participation and performance
        in the boss encounter.

        **Performance:** <25ms response time, cached for 5 minutes '
      operationId: getEncounterRewards
      tags:
      - World Bosses
      security:
      - BearerAuth: []
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Encounter identifier
      - name: character_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: Character identifier for personalization
      responses:
        '200':
          description: Encounter rewards retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      availableRewards:
                        type: array
                        items:
                          $ref: '#/components/schemas/BossReward'
                      claimedRewards:
                        type: array
                        items:
                          type: object
                          properties:
                            reward:
                              $ref: '#/components/schemas/BossReward'
                            claimedAt:
                              type: string
                              format: date-time
                      participation:
                        type: object
                        properties:
                          damageDealt:
                            type: integer
                          healingDone:
                            type: integer
                          timeParticipated:
                            type: integer
                            description: Time in seconds
                          rank:
                            type: integer
                            description: Participation ranking
        '404':
          description: Encounter or character not found
          content:
            application/json:
              schema:
                $ref: ../common/responses/error.yaml#/NotFound
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /champions/elite/active:
    get:
      summary: Get active elite champions
      description: '**Get currently active elite champion encounters**

        Returns list of elite boss variants currently available for epic encounters.

        **Performance:** <30ms response time, cached for 15 seconds '
      operationId: getActiveEliteChampions
      tags:
      - Elite Champions
      security:
      - BearerAuth: []
      parameters:
      - name: character_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: Character identifier for availability check
      - name: difficulty
        in: query
        schema:
          type: string
          enum:
          - normal
          - hard
          - nightmare
          - apocalyptic
        description: Filter by elite difficulty
      responses:
        '200':
          description: Active elite champions retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      allOf:
                      - $ref: '#/components/schemas/WorldBoss'
                      - type: object
                        properties:
                          eliteModifiers:
                            $ref: '#/components/schemas/EliteChampion'
                  total:
                    type: integer
        '400':
          $ref: ../common/responses/error.yaml#/NotFound
        '401':
          $ref: ../common/responses/error.yaml#/NotFound
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /telemetry/encounters/{encounter_id}/stream:
    get:
      summary: Stream boss encounter telemetry
      description: '**Real-time boss encounter telemetry stream**

        WebSocket endpoint for real-time encounter updates, participant stats, and
        boss health monitoring.

        **Performance:** Real-time streaming with <5ms latency '
      operationId: streamEncounterTelemetry
      tags:
      - Boss Telemetry
      security:
      - BearerAuth: []
      parameters:
      - name: encounter_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Encounter identifier
      responses:
        '101':
          description: WebSocket connection established
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
        '400':
          $ref: ../common/responses/error.yaml#/NotFound
        '401':
          $ref: ../common/responses/error.yaml#/NotFound
        '404':
          description: Encounter not found
          content:
            application/json:
              schema:
                $ref: ../common/responses/error.yaml#/NotFound
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse

