openapi: 3.0.3
info:
  title: Trading Service API - Enterprise-Grade Domain Service
  description: "**Enterprise-Grade Player-to-Player Trading API for NECPGAME**

    This API manages all aspects of P2P trading between players, including trade sessions,
    item exchanges, transaction validation, and trade history tracking.

    ## Key Features

    - **Trade Sessions**: Secure trade session management with escrow protection
    - **Item Validation**: Real-time validation of item ownership and tradability
    - **Transaction Security**: Anti-fraud measures and transaction rollback capabilities
    - **Trade History**: Comprehensive trade history and analytics
    - **Real-time Updates**: WebSocket notifications for trade status changes
    - **Performance Optimized**: MMOFPS-grade performance with <50ms P99 latency

    ## Domain Purpose

    The Trading domain enables secure player-to-player commerce in Night City.
    Players can safely exchange items, currency, and resources with fraud protection
    and dispute resolution mechanisms.

    ## Performance Targets

    - P99 Latency: <50ms for trade operations
    - Memory: <30KB per active trade session
    - Concurrent users: 25,000+ simultaneous trades
    - Transaction throughput: 5,000+ TPS

    "
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.necpgame.com/v1/trading
    description: Production server
  - url: https://staging-api.necpgame.com/v1/trading
    description: Staging server
  - url: http://localhost:8080/api/v1/trading
    description: Local development server
security:
  - BearerAuth: []
tags:
  - name: Trading Operations
    description: Core trading operations and management
  - name: Health Monitoring
    description: System health and performance monitoring
paths:
  # ============================================================================
  # HEALTH ENDPOINTS
  # ============================================================================

  /health:
    get:
      summary: Trading service health check
      description: "**Enterprise-grade health check endpoint**

        Provides real-time health status of the trading service microservice.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds"
      operationId: tradingServiceHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
              - deflate
              - br
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"trading-health-v1.0"'
          content:
            application/json:
              schema:
                $ref: "../common/schemas/health.yaml#/HealthResponse"
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: "../common/schemas/health.yaml#/HealthResponse"

  # ============================================================================
  # TRADE SESSION ENDPOINTS
  # ============================================================================

  /trade-sessions:
    post:
      summary: Create new trade session
      description: "**Create secure P2P trade session with escrow protection**

        Initiates a new trade session between multiple players with automatic
        escrow handling and fraud prevention.

        **Security:** All trades are escrowed until both parties confirm
        **Performance:** <50ms P99 latency for trade creation"
      operationId: createTradeSession
      tags:
        - Trading Operations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTradeSessionRequest"
      responses:
        "201":
          description: Trade session created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeSessionResponse"
        "400":
          description: Invalid trade session data
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "409":
          description: Trade session conflict (duplicate or invalid participants)
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"

    get:
      summary: List trade sessions
      description: "**Get paginated list of trade sessions**

        Returns active trade sessions for the authenticated user with
        pagination and filtering support.

        **Performance:** Optimized with database indexes on status and timestamps"
      operationId: listTradeSessions
      tags:
        - Trading Operations
      parameters:
        - $ref: "#/components/schemas/PaginationParams"
        - name: status
          in: query
          schema:
            type: string
            enum:
              - negotiating
              - pending_confirmation
              - confirmed
              - completed
              - cancelled
              - disputed
          description: Filter by trade session status
        - name: participant_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by participant UUID
      responses:
        "200":
          description: Trade sessions retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/TradeSessionResponse"

  /trade-sessions/{sessionId}:
    get:
      summary: Get trade session details
      description: "**Retrieve detailed trade session information**

        Returns complete trade session data including current offers,
        participants, and transaction history.

        **Security:** Only participants can view session details"
      operationId: getTradeSession
      tags:
        - Trading Operations
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Trade session UUID
      responses:
        "200":
          description: Trade session details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeSessionResponse"
        "404":
          description: Trade session not found
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "403":
          description: Access denied - not a participant
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"

    put:
      summary: Update trade session
      description: "**Update trade session offer or status**

        Allows participants to modify trade offers, accept/reject terms,
        or update session status.

        **Concurrency:** Optimistic locking prevents race conditions"
      operationId: updateTradeSession
      tags:
        - Trading Operations
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Trade session UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - negotiating
                    - pending_confirmation
                    - confirmed
                    - cancelled
                  description: New session status
                current_offer:
                  type: object
                  description: Updated trade offer
                  properties:
                    offered_items:
                      type: array
                      items:
                        type: object
                        required:
                          - item_id
                          - quantity
                        properties:
                          item_id:
                            $ref: '../common/schemas/common.yaml#/UUID'
                          quantity:
                            type: integer
                            minimum: 1
                    requested_items:
                      type: array
                      items:
                        type: object
                        required:
                          - item_id
                          - quantity
                        properties:
                          item_id:
                            $ref: '../common/schemas/common.yaml#/UUID'
                          quantity:
                            type: integer
                            minimum: 1
                    offered_currency:
                      type: object
                      properties:
                        amount:
                          type: number
                          minimum: 0
                        currency_code:
                          type: string
                          pattern: '^[A-Z]{3}$'
                    requested_currency:
                      type: object
                      properties:
                        amount:
                          type: number
                          minimum: 0
                        currency_code:
                          type: string
                          pattern: '^[A-Z]{3}$'
      responses:
        "200":
          description: Trade session updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeSessionResponse"
        "400":
          description: Invalid update data
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "409":
          description: Optimistic locking conflict - session was modified
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"

  /trade-sessions/{sessionId}/confirm:
    post:
      summary: Confirm trade session
      description: "**Confirm and execute trade session**

        Finalizes the trade session, executes item transfers and currency
        transactions through escrow system.

        **Atomicity:** All operations are executed in single transaction"
      operationId: confirmTradeSession
      tags:
        - Trading Operations
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Trade session UUID
      responses:
        "200":
          description: Trade completed successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - session
                  - transactions
                properties:
                  session:
                    $ref: "#/components/schemas/TradeSessionResponse"
                  transactions:
                    type: array
                    items:
                      $ref: "#/components/schemas/TransactionEntity"
        "400":
          description: Trade cannot be confirmed (invalid state or items)
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"

  # ============================================================================
  # WALLET ENDPOINTS
  # ============================================================================

  /wallets/{walletId}:
    get:
      summary: Get wallet details
      description: "**Retrieve wallet information and balance**

        Returns wallet details including current balance, transaction history,
        and frozen status.

        **Security:** Only wallet owner can access details"
      operationId: getWallet
      tags:
        - Wallet Management
      parameters:
        - name: walletId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Wallet UUID
      responses:
        "200":
          description: Wallet details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletEntity"
        "404":
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"

  /wallets/{walletId}/transactions:
    get:
      summary: Get wallet transaction history
      description: "**Get paginated transaction history for wallet**

        Returns chronological list of all transactions for the specified wallet.

        **Performance:** Indexed queries with pagination optimization"
      operationId: getWalletTransactions
      tags:
        - Wallet Management
      parameters:
        - name: walletId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Wallet UUID
        - $ref: "#/components/schemas/PaginationParams"
        - name: type
          in: query
          schema:
            type: string
            enum:
              - deposit
              - withdrawal
              - transfer
              - purchase
              - sale
              - refund
              - fee
              - reward
          description: Filter by transaction type
        - name: currency_code
          in: query
          schema:
            type: string
            pattern: '^[A-Z]{3}$'
          description: Filter by currency code
      responses:
        "200":
          description: Transaction history retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/TransactionEntity"
        "401":
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
  /examples:
    get:
      summary: List examples with filtering and pagination
      description: "**Enterprise-grade listing endpoint**


        Supports complex filtering, sorting, and pagination patterns.

        Optimized for high-throughput scenarios with proper indexing.


        **Performance:** <10ms P95, supports 1000+ concurrent requests

        "
      operationId: listExamples
      tags:
        - Example Domain
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number for pagination
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of items per page
        - name: sort_by
          in: query
          schema:
            type: string
            enum:
              - created_at
              - name
              - priority
            default: created_at
          description: Sort field
        - name: sort_order
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          description: Sort order
        - name: filter_status
          in: query
          schema:
            type: string
            enum:
              - active
              - inactive
              - pending
          description: Filter by status
      responses:
        "200":
          $ref: "#/components/responses/ExampleListSuccess"
        "400":
          description: Invalid request - malformed query parameters
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "422":
          description: Unprocessable entity - validation failed
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
    post:
      summary: Create new example
      description: "**Enterprise-grade creation endpoint**


        Validates business rules, applies security checks, and ensures data consistency.

        Supports optimistic locking for concurrent operations.


        **Performance:** <50ms P95, includes validation and business logic

        "
      operationId: createExample
      tags:
        - Example Domain
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateExampleRequest"
      responses:
        "201":
          $ref: "#/components/responses/ExampleCreated"
        "400":
          description: Invalid request - malformed or missing data
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "409":
          description: Conflict - example with this identifier already exists
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "422":
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - creation rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
  /examples/{example_id}:
    get:
      summary: Get specific example by ID
      description: "**Enterprise-grade retrieval endpoint**


        Optimized with proper caching strategies and database indexing.

        Supports conditional requests with ETags.


        **Performance:** <5ms P95 with Redis caching

        "
      operationId: getExample
      tags:
        - Example Domain
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
        - name: include_related
          in: query
          schema:
            type: boolean
            default: false
          description: Include related data in response
        - name: If-None-Match
          in: header
          schema:
            type: string
          description: Conditional request - return 304 if ETag matches
        - name: If-Modified-Since
          in: header
          schema:
            type: string
            format: date-time
          description: Conditional request - return 304 if not modified since this time
      responses:
        "200":
          $ref: "#/components/responses/ExampleRetrieved"
        "304":
          description: Not modified - resource has not changed
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
        "400":
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
    put:
      summary: Update existing example
      description: "**Enterprise-grade update endpoint**


        Supports partial updates, optimistic locking, and audit trails.

        Ensures data consistency with event sourcing patterns.


        **Performance:** <25ms P95, includes validation and conflict resolution

        "
      operationId: updateExample
      tags:
        - Example Domain
      security:
        - BearerAuth: []
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
        - name: If-Match
          in: header
          schema:
            type: string
          description: ETag for optimistic locking - prevents concurrent updates
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
          description:
            Conditional update - proceed only if not modified since this
            time
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateExampleRequest"
      responses:
        "200":
          $ref: "#/components/responses/ExampleUpdated"
        "400":
          description: Invalid request - malformed data or example ID
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "409":
          description:
            Conflict - version conflict (optimistic locking) or precondition
            failed
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "412":
          description:
            Precondition failed - If-Match or If-Unmodified-Since condition
            not met
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "422":
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - update rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
    delete:
      summary: Delete example
      description: "**Enterprise-grade deletion endpoint**


        Supports soft deletes with audit trails and cleanup scheduling.

        Ensures referential integrity and cascading deletes.


        **Performance:** <15ms P95, includes cleanup operations

        "
      operationId: deleteExample
      tags:
        - Example Domain
      security:
        - BearerAuth: []
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
      responses:
        "204":
          $ref: "#/components/responses/ExampleDeleted"
        "400":
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "409":
          description: Conflict - example cannot be deleted (referential integrity)
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - deletion rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
components:
  responses:
    HealthBatchSuccess:
      $ref: ../common/responses/success.yaml#/HealthBatchSuccess
    ExampleListSuccess:
      description: Examples retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
        X-Total-Count:
          schema:
            type: integer
            example: 150
            description: Total number of examples matching criteria
        X-Page-Count:
          schema:
            type: integer
            example: 8
            description: Total number of pages
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleListResponse"
    ExampleCreated:
      description: Example created successfully
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/examples/550e8400-e29b-41d4-a716-446655440000
            description: URL of the created example
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching and optimistic locking
        Cache-Control:
          schema:
            type: string
            example: no-cache
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"
    ExampleRetrieved:
      description: Example retrieved successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
            description: Cache control directives
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: "2025-12-21T10:00:00Z"
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 5
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"
    ExampleUpdated:
      description: Example updated successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v2"'
            description: New entity tag after update
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: "2025-12-21T10:05:00Z"
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 25
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"
    ExampleDeleted:
      description: Example deleted successfully
      headers:
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
    OK:
      $ref: ../common/responses/success.yaml#/OK
    Created:
      $ref: ../common/responses/success.yaml#/Created
    BadRequest:
      $ref: ../common/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common/responses/error.yaml#/Unauthorized
    Forbidden:
      $ref: ../common/responses/error.yaml#/Forbidden
    NotFound:
      $ref: ../common/responses/error.yaml#/NotFound
    Conflict:
      $ref: ../common/responses/error.yaml#/Conflict
    InternalServerError:
      $ref: ../common/responses/error.yaml#/InternalServerError
    HealthOK:
      $ref: ../common/responses/success.yaml#/HealthOK
  schemas:
    # ============================================================================
    # ECONOMY DOMAIN ENTITIES - SOLID/DRY INHERITANCE
    # ============================================================================

    # Trade Session Entity - inherits from economy-entities.yaml
    TradeSessionEntity:
      allOf:
        - $ref: '../common/schemas/economy-entities.yaml#/TradeSessionEntity'
        - type: object
          # Domain-specific extensions can be added here if needed

    # Trade Offer Entity - inherits from economy-entities.yaml
    TradeOfferEntity:
      allOf:
        - $ref: '../common/schemas/economy-entities.yaml#/TradeOfferEntity'
        - type: object
          # Domain-specific extensions can be added here if needed

    # Transaction Entity - inherits from economy-entities.yaml
    TransactionEntity:
      allOf:
        - $ref: '../common/schemas/economy-entities.yaml#/TransactionEntity'
        - type: object
          # Domain-specific extensions can be added here if needed

    # Wallet Entity - inherits from economy-entities.yaml
    WalletEntity:
      allOf:
        - $ref: '../common/schemas/economy-entities.yaml#/WalletEntity'
        - type: object
          # Domain-specific extensions can be added here if needed

    # ============================================================================
    # TRADING DOMAIN SPECIFIC SCHEMAS
    # ============================================================================

    # Trade Request Schemas
    CreateTradeSessionRequest:
      allOf:
        - $ref: '../common/schemas/common.yaml#/AuditableEntity'
        - type: object
          required:
            - participants
            - offer
          properties:
            participants:
              type: array
              items:
                $ref: '../common/schemas/common.yaml#/UUID'
              minItems: 2
              maxItems: 10
              description: "Users participating in trade"
            offer:
              type: object
              required:
                - offered_items
                - requested_items
              properties:
                offered_items:
                  type: array
                  items:
                    type: object
                    required:
                      - item_id
                      - quantity
                    properties:
                      item_id:
                        $ref: '../common/schemas/common.yaml#/UUID'
                      quantity:
                        type: integer
                        minimum: 1
                  description: "Items offered in trade"
                requested_items:
                  type: array
                  items:
                    type: object
                    required:
                      - item_id
                      - quantity
                    properties:
                      item_id:
                        $ref: '../common/schemas/common.yaml#/UUID'
                      quantity:
                        type: integer
                        minimum: 1
                  description: "Items requested in trade"
                offered_currency:
                  type: object
                  properties:
                    amount:
                      type: number
                      minimum: 0
                    currency_code:
                      type: string
                      pattern: '^[A-Z]{3}$'
                  description: "Currency offered"
                requested_currency:
                  type: object
                  properties:
                    amount:
                      type: number
                      minimum: 0
                    currency_code:
                      type: string
                      pattern: '^[A-Z]{3}$'
                  description: "Currency requested"
            expires_at:
              $ref: '../common/schemas/common.yaml#/Timestamp'
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Optimistic locking for concurrent trades."

    # Trade Response Schemas
    TradeSessionResponse:
      allOf:
        - $ref: '#/components/schemas/TradeSessionEntity'
        - type: object
          # Response-specific fields can be added here if needed

    TradeOfferResponse:
      allOf:
        - $ref: '#/components/schemas/TradeOfferEntity'
        - type: object
          # Response-specific fields can be added here if needed

    # ============================================================================
    # COMMON SCHEMAS (from common architecture)
    # ============================================================================

    HealthResponse:
      $ref: ../common/schemas/health.yaml#/HealthResponse
    Error:
      $ref: ../common/schemas/error.yaml#/Error
    CreateExampleRequest:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Desired example name
          example: My New Example
        description:
          type: string
          maxLength: 1000
          description: Example description
          example: A new example following enterprise-grade patterns.
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Initial tags
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Processing priority
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    UpdateExampleRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: New example name
          example: Updated Example Name
        description:
          type: string
          maxLength: 1000
          description: New description
        status:
          type: string
          enum:
            - active
            - inactive
            - pending
            - archived
          description: New status
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Replace all tags
        is_active:
          type: boolean
          description: Update active status
        priority:
          type: integer
          minimum: 1
          maximum: 10
          description: New priority
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    ExampleResponse:
      type: object
      required:
        - example
      properties:
        example:
          $ref: "#/components/schemas/Example"
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    ExampleListResponse:
      type: object
      required:
        - examples
        - total_count
        - has_more
      properties:
        examples:
          type: array
          items:
            $ref: "#/components/schemas/Example"
          description: List of examples
        has_more:
          type: boolean
          description: Whether there are more results available
          example: true
        total_count:
          type: integer
          description: Total number of examples matching criteria
          example: 150
        page:
          type: integer
          description: Current page number
          example: 1
        limit:
          type: integer
          description: Items per page
          example: 20
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Paginated responses optimized for memory
        efficiency."
    PaginationParams:
      $ref: ../common/schemas/pagination.yaml#/PaginationParams
    PaginatedResponse:
      $ref: ../common/schemas/pagination.yaml#/PaginatedResponse
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
