openapi: 3.0.3
info:
  title: Trading Service API
  description: "Enterprise-grade P2P Item Trading System  NECPGAME .\n\n## \U0001F3AF\
    \ **Trading Service Overview**\n\nTrading Service    P2P     NECPGAME  enterprise-grade\
    \   .\n\n### ** **\n- **Trade Creation**:   \n- **Trade Negotiation**:    \n-\
    \ **Trade Execution**:    \n- **Trade History**:    \n\n### ** **\n- **Item Trading**:\
    \  \n- **Currency Exchange**:  \n- **Bulk Trading**:  \n- **Secure Trading**:\
    \    \n\n### ** **\n- **Trade Matching**:   \n- **Price Analytics**:     \n- **Fraud\
    \ Prevention**:   \n- **Trade Arbitration**:   \n\n## \U0001F4CA **Performance\
    \ Targets**\n- **P99 Latency**: <30ms   \n- **Throughput**: 20,000+ trades/second\n\
    - **Concurrent Traders**: 200,000+  \n- **Trade Volume**: 1M+   \n\n## \U0001F510\
    \ **Security**\n- JWT RS256 \n- Rate limiting   \n- Input validation  sanitization\n\
    - Audit logging  \n"
  version: 1.0.0
  contact:
    name: NECPGAME Platform Team
    email: platform@necpgame.com
  license:
    name: Proprietary
    url: https://necpgame.com/license
servers:
- url: https://trading.necpgame.com/api/v1
  description: Production Environment
- url: https://trading-staging.necpgame.com/api/v1
  description: Staging Environment
- url: http://localhost:8080/api/v1
  description: Local Development
security:
- BearerAuth: []
tags:
- name: Trade Management
  description: ' '
- name: Trade Negotiation
  description: '  '
- name: Trade Execution
  description: ' '
- name: Trade History
  description: ' '
- name: Market Analytics
  description: ' '
- name: Dispute Resolution
  description: ' '
- name: Health
  description: '  '
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /trades:
    $ref: ./paths/trades.yaml#/paths/~1trades
  /trades/{tradeId}:
    $ref: ./paths/trades-{tradeId}.yaml#/paths/~1trades~1{tradeId}
  /trades/{tradeId}/negotiate:
    $ref: ./paths/trades-{tradeId}-negotiate.yaml#/paths/~1trades~1{tradeId}~1negotiate
  /trades/{tradeId}/accept:
    $ref: ./paths/trades-{tradeId}-accept.yaml#/paths/~1trades~1{tradeId}~1accept
  /trades/{tradeId}/execute:
    $ref: ./paths/trades-{tradeId}-execute.yaml#/paths/~1trades~1{tradeId}~1execute
  /players/{playerId}/trades/history:
    $ref: ./paths/players-{playerId}-trades-history.yaml#/paths/~1players~1{playerId}~1trades~1history
  /trades/matching:
    $ref: ./paths/trades-matching.yaml#/paths/~1trades~1matching
  /market/analytics:
    $ref: ./paths/market-analytics.yaml#/paths/~1market~1analytics
  /trades/{tradeId}/dispute:
    $ref: ./paths/trades-{tradeId}-dispute.yaml#/paths/~1trades~1{tradeId}~1dispute
  /disputes/{disputeId}:
    $ref: ./paths/disputes-{disputeId}.yaml#/paths/~1disputes~1{disputeId}
components:
  schemas:
    CharacterEntity:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/CharacterEntity
    BaseEntity:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/BaseEntity
    OptimisticLock:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/OptimisticLock
    ErrorResponse:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/ErrorResponse
    HealthResponse:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/HealthResponse
    HealthBatchRequest:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/HealthBatchRequest
    HealthBatchResponse:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/HealthBatchResponse
    TradeEntity:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/TradeEntity
    TradeItemEntity:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/TradeItemEntity
    TradeDisputeEntity:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/TradeDisputeEntity
    CreateTradeRequest:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/CreateTradeRequest
    UpdateTradeRequest:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/UpdateTradeRequest
    TradeResponse:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/TradeResponse
    TradeListResponse:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/TradeListResponse
    NegotiateTradeRequest:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/NegotiateTradeRequest
    AcceptTradeRequest:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/AcceptTradeRequest
    ExecuteTradeRequest:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/ExecuteTradeRequest
    TradeExecutionResponse:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/TradeExecutionResponse
    TradeHistoryResponse:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/TradeHistoryResponse
    MatchingTradesResponse:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/MatchingTradesResponse
    MarketAnalyticsResponse:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/MarketAnalyticsResponse
    CreateDisputeRequest:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/CreateDisputeRequest
    UpdateDisputeRequest:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/UpdateDisputeRequest
    DisputeResponse:
      $ref: ./schemas/trading-service-schemas.yaml#/components/schemas/DisputeResponse
  responses: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
