openapi: "3.0.3"

info:
  title: "Trading Service API"
  description: |
    Enterprise-grade P2P Item Trading System  NECPGAME .

    ## 🎯 **Trading Service Overview**

    Trading Service    P2P     NECPGAME  enterprise-grade   .

    ### ** **
    - **Trade Creation**:   
    - **Trade Negotiation**:    
    - **Trade Execution**:    
    - **Trade History**:    

    ### ** **
    - **Item Trading**:  
    - **Currency Exchange**:  
    - **Bulk Trading**:  
    - **Secure Trading**:    

    ### ** **
    - **Trade Matching**:   
    - **Price Analytics**:     
    - **Fraud Prevention**:   
    - **Trade Arbitration**:   

    ## 📊 **Performance Targets**
    - **P99 Latency**: <30ms   
    - **Throughput**: 20,000+ trades/second
    - **Concurrent Traders**: 200,000+  
    - **Trade Volume**: 1M+   

    ## 🔐 **Security**
    - JWT RS256 
    - Rate limiting   
    - Input validation  sanitization
    - Audit logging  

  version: "1.0.0"
  contact:
    name: "NECPGAME Platform Team"
    email: "platform@necpgame.com"
  license:
    name: "Proprietary"
    url: "https://necpgame.com/license"

servers:
  - url: "https://trading.necpgame.com/api/v1"
    description: "Production Environment"
  - url: "https://trading-staging.necpgame.com/api/v1"
    description: "Staging Environment"
  - url: "http://localhost:8080/api/v1"
    description: "Local Development"

security:
  - BearerAuth: []

tags:
  - name: "Trade Management"
    description: " "
  - name: "Trade Negotiation"
    description: "  "
  - name: "Trade Execution"
    description: " "
  - name: "Trade History"
    description: " "
  - name: "Market Analytics"
    description: " "
  - name: "Dispute Resolution"
    description: " "
  - name: "Health"
    description: "  "

paths:
  /health:
    get:
      summary: "  "
      operationId: "healthCheck"
      tags: ["Health"]
      responses:
        "200":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /health/batch:
    post:
      summary: "  "
      operationId: "healthBatchCheck"
      tags: ["Health"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthBatchRequest"
      responses:
        "200":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthBatchResponse"
        "400":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /health/ws:
    get:
      summary: "WebSocket  "
      operationId: "healthWebSocketCheck"
      tags: ["Health"]
      responses:
        "101":
          description: "WebSocket  "
        "503":
          description: "WebSocket "

  /trades:
    post:
      summary: "   "
      operationId: "createTrade"
      tags: ["Trade Management"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTradeRequest"
      responses:
        "201":
          description: "   "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeResponse"
        "400":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: "   "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      summary: "   "
      operationId: "getTrades"
      tags: ["Trade Management"]
      parameters:
        - name: "status"
          in: "query"
          schema:
            type: string
            enum: ["pending", "negotiating", "accepted", "completed", "cancelled"]
            default: "pending"
        - name: "type"
          in: "query"
          schema:
            type: string
            enum: ["item_trade", "currency_exchange", "bulk_trade", "secure_trade"]
        - name: "playerId"
          in: "query"
          schema:
            type: string
            format: "uuid"
            description: "   "
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
      responses:
        "200":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeListResponse"

  /trades/{tradeId}:
    get:
      summary: "   "
      operationId: "getTrade"
      tags: ["Trade Management"]
      parameters:
        - name: "tradeId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeResponse"
        "404":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      summary: "   "
      operationId: "updateTrade"
      tags: ["Trade Management"]
      parameters:
        - name: "tradeId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTradeRequest"
      responses:
        "200":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeResponse"
        "403":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      summary: " "
      operationId: "cancelTrade"
      tags: ["Trade Management"]
      parameters:
        - name: "tradeId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeResponse"
        "403":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /trades/{tradeId}/negotiate:
    post:
      summary: "   "
      operationId: "negotiateTrade"
      tags: ["Trade Negotiation"]
      parameters:
        - name: "tradeId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NegotiateTradeRequest"
      responses:
        "200":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeResponse"
        "400":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: "   "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /trades/{tradeId}/accept:
    post:
      summary: "   "
      operationId: "acceptTrade"
      tags: ["Trade Execution"]
      parameters:
        - name: "tradeId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcceptTradeRequest"
      responses:
        "200":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeResponse"
        "400":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: "    "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /trades/{tradeId}/execute:
    post:
      summary: " "
      operationId: "executeTrade"
      tags: ["Trade Execution"]
      parameters:
        - name: "tradeId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecuteTradeRequest"
      responses:
        "200":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeExecutionResponse"
        "400":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: "    "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /players/{playerId}/trades/history:
    get:
      summary: "  "
      operationId: "getPlayerTradeHistory"
      tags: ["Trade History"]
      parameters:
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
        - name: "status"
          in: "query"
          schema:
            type: string
            enum: ["all", "completed", "cancelled", "disputed"]
            default: "all"
        - name: "type"
          in: "query"
          schema:
            type: string
            enum: ["item_trade", "currency_exchange", "bulk_trade", "secure_trade"]
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
      responses:
        "200":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeHistoryResponse"

  /trades/matching:
    get:
      summary: "  "
      operationId: "findMatchingTrades"
      tags: ["Trade Management"]
      parameters:
        - name: "offeredItems"
          in: "query"
          schema:
            type: array
            items:
              type: string
              format: "uuid"
        - name: "requestedItems"
          in: "query"
          schema:
            type: array
            items:
              type: string
              format: "uuid"
        - name: "priceRange"
          in: "query"
          schema:
            type: object
            properties:
              min:
                type: integer
                minimum: 0
              max:
                type: integer
                minimum: 0
      responses:
        "200":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchingTradesResponse"

  /market/analytics:
    get:
      summary: " "
      operationId: "getMarketAnalytics"
      tags: ["Market Analytics"]
      parameters:
        - name: "itemType"
          in: "query"
          schema:
            type: string
        - name: "period"
          in: "query"
          schema:
            type: string
            enum: ["hourly", "daily", "weekly", "monthly"]
            default: "daily"
        - name: "region"
          in: "query"
          schema:
            type: string
            description: " "
      responses:
        "200":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketAnalyticsResponse"

  /trades/{tradeId}/dispute:
    post:
      summary: "   "
      operationId: "createTradeDispute"
      tags: ["Dispute Resolution"]
      parameters:
        - name: "tradeId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDisputeRequest"
      responses:
        "201":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisputeResponse"
        "400":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /disputes/{disputeId}:
    get:
      summary: "   "
      operationId: "getDispute"
      tags: ["Dispute Resolution"]
      parameters:
        - name: "disputeId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisputeResponse"
        "404":
          description: "  "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      summary: "  "
      operationId: "updateDispute"
      tags: ["Dispute Resolution"]
      parameters:
        - name: "disputeId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDisputeRequest"
      responses:
        "200":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisputeResponse"
        "403":
          description: " "
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Common inherited entities
    CharacterEntity:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/CharacterEntity"
    BaseEntity:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/BaseEntity"
    OptimisticLock:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/OptimisticLock"
    ErrorResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse"
    HealthResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthResponse"
    HealthBatchRequest:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthBatchRequest"
    HealthBatchResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthBatchResponse"

    # Trading specific schemas
    TradeEntity:
      type: object
      description: " "
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - initiatorId
            - type
            - status
          properties:
            initiatorId:
              type: string
              description: "ID  "
              format: uuid
              example: "123e4567-e89b-12d3-a456-426614174000"
            participantId:
              type: string
              description: "ID  "
              format: uuid
            type:
              type: string
              description: " "
              enum: ["item_trade", "currency_exchange", "bulk_trade", "secure_trade"]
              example: "item_trade"
            status:
              type: string
              description: " "
              enum: ["pending", "negotiating", "accepted", "executed", "completed", "cancelled", "disputed"]
              example: "pending"
            offeredItems:
              type: array
              description: " "
              items:
                $ref: "#/components/schemas/TradeItemEntity"
            requestedItems:
              type: array
              description: " "
              items:
                $ref: "#/components/schemas/TradeItemEntity"
            offeredCurrency:
              type: object
              description: " "
              properties:
                currency:
                  type: string
                  enum: ["eddies", "eurobucks", "credits"]
                  example: "eddies"
                amount:
                  type: integer
                  minimum: 0
                  example: 5000
            requestedCurrency:
              type: object
              description: " "
              properties:
                currency:
                  type: string
                  enum: ["eddies", "eurobucks", "credits"]
                  example: "eddies"
                amount:
                  type: integer
                  minimum: 0
                  example: 3000
            expiresAt:
              type: string
              description: "  "
              format: date-time
            acceptedAt:
              type: string
              description: " "
              format: date-time
            executedAt:
              type: string
              description: " "
              format: date-time
            completedAt:
              type: string
              description: " "
              format: date-time
            escrowEnabled:
              type: boolean
              description: " "
              default: false
            escrowReleased:
              type: boolean
              description: " "
              default: false
            negotiationHistory:
              type: array
              description: " "
              items:
                type: object
                properties:
                  playerId:
                    type: string
                    format: uuid
                  timestamp:
                    type: string
                    format: date-time
                  action:
                    type: string
                    enum: ["counter_offer", "accept", "modify", "cancel"]
                  details:
                    type: object
                    additionalProperties: true
            $ref: "#/components/schemas/OptimisticLock"

    TradeItemEntity:
      type: object
      description: "  "
      required:
        - itemId
        - quantity
      properties:
        itemId:
          type: string
          description: "ID "
          format: uuid
          example: "456e7890-e89b-12d3-a456-426614174001"
        quantity:
          type: integer
          description: ""
          minimum: 1
          example: 1
        itemName:
          type: string
          description: " "
          maxLength: 100
          example: "Militech M-10AF Lexington"
        itemType:
          type: string
          description: " "
          enum: ["weapon", "armor", "cyberware", "consumable", "misc"]
          example: "weapon"
        rarity:
          type: string
          description: " "
          enum: ["common", "uncommon", "rare", "epic", "legendary"]
          example: "rare"
        estimatedValue:
          type: integer
          description: " "
          minimum: 0
          example: 25000

    TradeDisputeEntity:
      type: object
      description: "   "
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - tradeId
            - initiatorId
            - reason
          properties:
            tradeId:
              type: string
              description: "ID "
              format: uuid
            initiatorId:
              type: string
              description: "ID  "
              format: uuid
            reason:
              type: string
              description: " "
              enum: ["item_not_delivered", "wrong_item", "payment_not_received", "item_damaged", "other"]
              example: "item_not_delivered"
            description:
              type: string
              description: " "
              maxLength: 1000
            evidence:
              type: array
              description: ""
              items:
                type: object
                properties:
                  type:
                    type: string
                    enum: ["screenshot", "log", "witness_statement"]
                  url:
                    type: string
                    format: uri
                  description:
                    type: string
                    maxLength: 200
            status:
              type: string
              description: " "
              enum: ["open", "investigating", "resolved", "escalated"]
              example: "open"
            resolution:
              type: string
              description: " "
              enum: ["initiator_wins", "participant_wins", "refund", "compensation", "dismissed"]
            resolvedAt:
              type: string
              description: " "
              format: date-time
            assignedModerator:
              type: string
              description: " "
              format: uuid
            $ref: "#/components/schemas/OptimisticLock"

    # Request/Response schemas
    CreateTradeRequest:
      type: object
      required:
        - type
        - offeredItems
        - requestedItems
      properties:
        type:
          type: string
          enum: ["item_trade", "currency_exchange", "bulk_trade", "secure_trade"]
        offeredItems:
          type: array
          items:
            $ref: "#/components/schemas/TradeItemEntity"
        requestedItems:
          type: array
          items:
            $ref: "#/components/schemas/TradeItemEntity"
        offeredCurrency:
          type: object
          properties:
            currency:
              type: string
              enum: ["eddies", "eurobucks", "credits"]
            amount:
              type: integer
              minimum: 0
        requestedCurrency:
          type: object
          properties:
            currency:
              type: string
              enum: ["eddies", "eurobucks", "credits"]
            amount:
              type: integer
              minimum: 0
        expiresIn:
          type: integer
          description: "    "
          minimum: 5
          maximum: 1440
          default: 60
        escrowEnabled:
          type: boolean
          default: false
        notes:
          type: string
          description: "  "
          maxLength: 500

    UpdateTradeRequest:
      type: object
      properties:
        offeredItems:
          type: array
          items:
            $ref: "#/components/schemas/TradeItemEntity"
        requestedItems:
          type: array
          items:
            $ref: "#/components/schemas/TradeItemEntity"
        offeredCurrency:
          type: object
          properties:
            currency:
              type: string
              enum: ["eddies", "eurobucks", "credits"]
            amount:
              type: integer
              minimum: 0
        requestedCurrency:
          type: object
          properties:
            currency:
              type: string
              enum: ["eddies", "eurobucks", "credits"]
            amount:
              type: integer
              minimum: 0
        expiresIn:
          type: integer
          description: "    "
          minimum: 5
          maximum: 1440
        notes:
          type: string
          maxLength: 500

    TradeResponse:
      type: object
      properties:
        trade:
          $ref: "#/components/schemas/TradeEntity"
        metadata:
          type: object
          properties:
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
            timeRemaining:
              type: integer
              description: "   "

    TradeListResponse:
      type: object
      properties:
        trades:
          type: array
          items:
            $ref: "#/components/schemas/TradeEntity"
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 100
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean

    NegotiateTradeRequest:
      type: object
      required:
        - action
      properties:
        action:
          type: string
          enum: ["counter_offer", "accept", "modify", "cancel"]
        modifiedOffer:
          type: object
          description: " "
          properties:
            offeredItems:
              type: array
              items:
                $ref: "#/components/schemas/TradeItemEntity"
            requestedItems:
              type: array
              items:
                $ref: "#/components/schemas/TradeItemEntity"
            offeredCurrency:
              type: object
              properties:
                currency:
                  type: string
                  enum: ["eddies", "eurobucks", "credits"]
                amount:
                  type: integer
                  minimum: 0
            requestedCurrency:
              type: object
              properties:
                currency:
                  type: string
                  enum: ["eddies", "eurobucks", "credits"]
                amount:
                  type: integer
                  minimum: 0
        message:
          type: string
          description: "   "
          maxLength: 500

    AcceptTradeRequest:
      type: object
      required:
        - playerId
      properties:
        playerId:
          type: string
          format: uuid

    ExecuteTradeRequest:
      type: object
      required:
        - executorId
      properties:
        executorId:
          type: string
          format: uuid
        confirmationCode:
          type: string
          description: "    "
          pattern: "^[A-Z0-9]{6}$"

    TradeExecutionResponse:
      type: object
      properties:
        tradeId:
          type: string
          format: uuid
        status:
          type: string
          enum: ["executed", "pending_escrow", "completed"]
        executedAt:
          type: string
          format: date-time
        itemsTransferred:
          type: array
          items:
            type: object
            properties:
              fromPlayer:
                type: string
                format: uuid
              toPlayer:
                type: string
                format: uuid
              item:
                $ref: "#/components/schemas/TradeItemEntity"
        currencyTransferred:
          type: array
          items:
            type: object
            properties:
              fromPlayer:
                type: string
                format: uuid
              toPlayer:
                type: string
                format: uuid
              currency:
                type: string
                enum: ["eddies", "eurobucks", "credits"]
              amount:
                type: integer
                minimum: 0
        escrowHeld:
          type: boolean
          description: "   "

    TradeHistoryResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        trades:
          type: array
          items:
            $ref: "#/components/schemas/TradeEntity"
        statistics:
          type: object
          properties:
            totalTrades:
              type: integer
              minimum: 0
            successfulTrades:
              type: integer
              minimum: 0
            cancelledTrades:
              type: integer
              minimum: 0
            disputedTrades:
              type: integer
              minimum: 0
            totalValueTraded:
              type: integer
              minimum: 0
            successRate:
              type: number
              minimum: 0
              maximum: 1
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 100
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean

    MatchingTradesResponse:
      type: object
      properties:
        offeredItems:
          type: array
          items:
            type: string
            format: uuid
        requestedItems:
          type: array
          items:
            type: string
            format: uuid
        matches:
          type: array
          items:
            type: object
            properties:
              trade:
                $ref: "#/components/schemas/TradeEntity"
              matchScore:
                type: number
                minimum: 0
                maximum: 1
                description: "  (0-1)"
              priceDifference:
                type: integer
                description: "   ( = )"
        totalMatches:
          type: integer
          minimum: 0

    MarketAnalyticsResponse:
      type: object
      properties:
        itemType:
          type: string
        period:
          type: string
          enum: ["hourly", "daily", "weekly", "monthly"]
        region:
          type: string
        priceTrends:
          type: object
          properties:
            averagePrice:
              type: number
            minPrice:
              type: number
            maxPrice:
              type: number
            priceChange:
              type: number
              description: "   "
        tradeVolume:
          type: integer
          minimum: 0
        activeListings:
          type: integer
          minimum: 0
        mostTradedItems:
          type: array
          items:
            type: object
            properties:
              itemId:
                type: string
                format: uuid
              itemName:
                type: string
              tradeCount:
                type: integer
                minimum: 0
              averagePrice:
                type: number

    CreateDisputeRequest:
      type: object
      required:
        - reason
        - description
      properties:
        reason:
          type: string
          enum: ["item_not_delivered", "wrong_item", "payment_not_received", "item_damaged", "other"]
        description:
          type: string
          maxLength: 1000
        evidence:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: ["screenshot", "log", "witness_statement"]
              url:
                type: string
                format: uri
              description:
                type: string
                maxLength: 200

    UpdateDisputeRequest:
      type: object
      properties:
        status:
          type: string
          enum: ["investigating", "resolved", "escalated"]
        resolution:
          type: string
          enum: ["initiator_wins", "participant_wins", "refund", "compensation", "dismissed"]
        moderatorNotes:
          type: string
          maxLength: 1000

    DisputeResponse:
      type: object
      properties:
        dispute:
          $ref: "#/components/schemas/TradeDisputeEntity"
        trade:
          $ref: "#/components/schemas/TradeEntity"
        metadata:
          type: object
          properties:
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time

