openapi: 3.0.0
info:
  title: Blackwall ICE Protection Service API
  description: 'Enterprise-grade Blackwall ICE Protection system for cyberpunk MMOFPS
    RPG.


    ## BACKEND NOTE

    - Struct alignment hints: 30-50% memory savings for ICE protection operations

    - Optimized for MMOFPS RPG with low latency intrusion detection (<50ms P95)

    - Context timeouts: 3s for ICE activation, 5s for adaptive responses, 10s for
    bulk operations

    - DB pool config: connection pooling for intrusion logs and threat intelligence

    - Performance target: <100ms P95 for threat evaluation, <200ms for ICE deployment

    - Memory optimized: ICE state management with efficient caching


    ## BUSINESS CONTEXT

    Blackwall ICE Protection System provides multi-layered cyber defense for corporate
    and government networks.

    Features adaptive AI-driven countermeasures, psychological warfare effects, and
    real-time threat response.

    Supports multiple ICE types: Black ICE (lethal), White ICE (non-lethal), and specialized
    variants.


    ## KEY FEATURES

    - **Adaptive AI Learning**: ICE systems learn from intrusion patterns and adapt
    defenses

    - **Psychological Warfare**: Neural interface effects create fear and confusion
    in attackers

    - **Multi-Layer Protection**: Perimeter defense, intrusion detection, active countermeasures

    - **Real-time Monitoring**: Live threat assessment and automated response systems

    - **Forensic Analysis**: Detailed intrusion logs and attack pattern recognition

    '
  version: 1.0.0
  contact:
    name: Blackwall Security Team
    email: blackwall-security@necpgame.com
servers:
- url: https://blackwall.necpgame.com/api/v1
  description: Production Blackwall ICE Protection Service
- url: https://staging-blackwall.necpgame.com/api/v1
  description: Staging environment
security: []
tags:
- name: ice-management
  description: Core ICE system management and configuration
- name: intrusion-detection
  description: Real-time intrusion detection and monitoring
- name: adaptive-defense
  description: Adaptive AI learning and threat response systems
- name: psychological-warfare
  description: Neural interface effects and psychological countermeasures
- name: threat-intelligence
  description: Threat analysis and intelligence gathering
- name: system-health
  description: Health monitoring and diagnostic endpoints
paths:
  /ice/deployments:
    $ref: ./paths/ice-deployments.yaml#/paths/~1ice~1deployments
  /ice/deployments/{deployment_id}:
    $ref: ./paths/ice-deployments-{deployment_id}.yaml#/paths/~1ice~1deployments~1{deployment_id}
  /intrusions/active:
    $ref: ./paths/intrusions-active.yaml#/paths/~1intrusions~1active
  /intrusions/{intrusion_id}/response:
    $ref: ./paths/intrusions-{intrusion_id}-response.yaml#/paths/~1intrusions~1{intrusion_id}~1response
  /adaptive/learning/{segment_id}:
    $ref: ./paths/adaptive-learning-{segment_id}.yaml#/paths/~1adaptive~1learning~1{segment_id}
  /psychological/effects/{target_id}:
    $ref: ./paths/psychological-effects-{target_id}.yaml#/paths/~1psychological~1effects~1{target_id}
  /psychological/effects/active:
    $ref: ./paths/psychological-effects-active.yaml#/paths/~1psychological~1effects~1active
  /threats/intelligence:
    $ref: ./paths/threats-intelligence.yaml#/paths/~1threats~1intelligence
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/detailed:
    $ref: ./paths/health-detailed.yaml#/paths/~1health~1detailed
components:
  schemas:
    ErrorResponse:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/ErrorResponse
    ICEDploymentListResponse:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/ICEDploymentListResponse
    ICEDploymentSummary:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/ICEDploymentSummary
    ICEDeployRequest:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/ICEDeployRequest
    ICEConfiguration:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/ICEConfiguration
    ICEDeploymentResponse:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/ICEDeploymentResponse
    ICEDploymentDetails:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/ICEDploymentDetails
    ICEDploymentStatistics:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/ICEDploymentStatistics
    ICEUpdateRequest:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/ICEUpdateRequest
    ActiveIntrusionsResponse:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/ActiveIntrusionsResponse
    IntrusionSummary:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/IntrusionSummary
    IntrusionDetails:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/IntrusionDetails
    IntrusionResponseRequest:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/IntrusionResponseRequest
    IntrusionResponseResponse:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/IntrusionResponseResponse
    AdaptiveLearningResponse:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/AdaptiveLearningResponse
    LearningPattern:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/LearningPattern
    AdaptiveLearningUpdateRequest:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/AdaptiveLearningUpdateRequest
    PatternUpdate:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/PatternUpdate
    PsychologicalEffectRequest:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/PsychologicalEffectRequest
    PsychologicalEffectResponse:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/PsychologicalEffectResponse
    ActivePsychologicalEffectsResponse:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/ActivePsychologicalEffectsResponse
    PsychologicalEffectStatus:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/PsychologicalEffectStatus
    ThreatIntelligenceResponse:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/ThreatIntelligenceResponse
    AttackPattern:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/AttackPattern
    EmergingThreat:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/EmergingThreat
    ThreatUpdate:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/ThreatUpdate
    ThreatIntelligence:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/ThreatIntelligence
    HealthResponse:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/HealthResponse
    DetailedHealthResponse:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/DetailedHealthResponse
    SegmentHealth:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/SegmentHealth
    SystemMetrics:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/SystemMetrics
    PaginationInfo:
      $ref: ./schemas/blackwall-ice-protection-service-schemas.yaml#/components/schemas/PaginationInfo
  responses:
    BadRequest:
      $ref: ./schemas/blackwall-ice-protection-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/blackwall-ice-protection-service-responses.yaml#/components/responses/Unauthorized
    InternalError:
      $ref: ./schemas/blackwall-ice-protection-service-responses.yaml#/components/responses/InternalError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
