openapi: 3.0.3
info:
  title: Auction House Core API
  version: 1.0.0
  description: |
    API для аукцион дома - центральной системы торговли между игроками.
    
    Источник: .BRAIN/02-gameplay/economy/economy-auction-house.md v1.0.0 (1654 строки!)
    
    Механики:
    - Размещение лотов (12ч, 24ч, 48ч)
    - Система ордеров (buy orders, sell orders)
    - Bid/buyout system
    - Поиск и фильтрация
    - История цен
    - Комиссии (listing fee + exchange fee)
    - Региональные рынки
    
    Вдохновение: WOW, GW2, FFXIV, Albion Online
    
    ПРИМЕЧАНИЕ: Дополнительные файлы:
    - auction-house-orders.yaml - система ордеров
    - auction-house-search.yaml - поиск и фильтрация
    - auction-house-history.yaml - история и статистика

  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Auction House
    description: Аукцион дом

paths:
  /gameplay/economy/auction/lots:
    get:
      summary: Получить активные лоты
      description: |
        Возвращает список активных лотов на аукционе.
        Поддерживает пагинацию и фильтрацию.
      operationId: getAuctionLots
      tags:
        - Auction House
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: category
          in: query
          schema:
            type: string
        - name: rarity
          in: query
          schema:
            type: string
        - name: min_price
          in: query
          schema:
            type: number
        - name: max_price
          in: query
          schema:
            type: number
      responses:
        '200':
          description: Список лотов
          content:
            application/json:
              schema:
                type: object
                properties:
                  lots:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuctionLot'
                  pagination:
                    $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginationMeta'
    post:
      summary: Создать лот
      description: |
        Создает новый лот на аукционе.
        Требует listing fee (зависит от длительности).
      operationId: createAuctionLot
      tags:
        - Auction House
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - item_id
                - starting_price
                - duration
              properties:
                character_id:
                  type: string
                item_id:
                  type: string
                quantity:
                  type: integer
                  default: 1
                starting_price:
                  type: number
                buyout_price:
                  type: number
                  description: Опциональная цена мгновенного выкупа
                duration:
                  type: string
                  enum: ["12h", "24h", "48h"]
            examples:
              legendary_weapon:
                summary: Продажа легендарного оружия
                value:
                  character_id: "char_123"
                  item_id: "legendary_weapon_001"
                  quantity: 1
                  starting_price: 50000
                  buyout_price: 100000
                  duration: "48h"
      responses:
        '200':
          description: Лот создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  lot_id:
                    type: string
                  listing_fee:
                    type: number
                  expires_at:
                    type: string
                    format: date-time
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/economy/auction/lots/{lot_id}:
    get:
      summary: Получить детали лота
      description: Возвращает детальную информацию о лоте
      operationId: getAuctionLot
      tags:
        - Auction House
      parameters:
        - name: lot_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Детали лота
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuctionLotDetails'

  /gameplay/economy/auction/bid:
    post:
      summary: Сделать ставку
      description: |
        Делает ставку на лот.
        Ставка должна быть выше текущей минимум на 5%.
      operationId: bidOnLot
      tags:
        - Auction House
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - lot_id
                - bid_amount
              properties:
                character_id:
                  type: string
                lot_id:
                  type: string
                bid_amount:
                  type: number
      responses:
        '200':
          description: Ставка сделана
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  lot_id:
                    type: string
                  bid_amount:
                    type: number
                  is_winning:
                    type: boolean
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'

  /gameplay/economy/auction/buyout:
    post:
      summary: Мгновенный выкуп
      description: |
        Мгновенно выкупает лот по buyout цене.
        Завершает аукцион немедленно.
      operationId: buyoutLot
      tags:
        - Auction House
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - lot_id
              properties:
                character_id:
                  type: string
                lot_id:
                  type: string
      responses:
        '200':
          description: Лот выкуплен
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  lot_id:
                    type: string
                  price_paid:
                    type: number
                  exchange_fee:
                    type: number

  /gameplay/economy/auction/my-lots:
    get:
      summary: Получить свои лоты
      description: Возвращает лоты, созданные персонажем
      operationId: getMyLots
      tags:
        - Auction House
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, sold, expired, cancelled]
      responses:
        '200':
          description: Мои лоты
          content:
            application/json:
              schema:
                type: object
                properties:
                  lots:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuctionLot'

  /gameplay/economy/auction/my-bids:
    get:
      summary: Получить свои ставки
      description: Возвращает ставки, сделанные персонажем
      operationId: getMyBids
      tags:
        - Auction House
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Мои ставки
          content:
            application/json:
              schema:
                type: object
                properties:
                  bids:
                    type: array
                    items:
                      type: object

components:
  schemas:
    AuctionLot:
      type: object
      properties:
        lot_id:
          type: string
        seller_id:
          type: string
        seller_name:
          type: string
        item_id:
          type: string
        item_name:
          type: string
        quantity:
          type: integer
        starting_price:
          type: number
        current_price:
          type: number
        buyout_price:
          type: number
        bids_count:
          type: integer
        expires_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [active, sold, expired, cancelled]

    AuctionLotDetails:
      allOf:
        - $ref: '#/components/schemas/AuctionLot'
        - type: object
          properties:
            item_details:
              type: object
            bid_history:
              type: array
              items:
                type: object
            time_remaining:
              type: number
              description: Оставшееся время (секунды)

