openapi: 3.0.0
info:
  title: Battle Pass Service API
  description: 'Enterprise-grade Battle Pass system for seasonal progression and rewards.


    ## BACKEND NOTE

    - Struct alignment hints: 30-50% memory savings for player progress operations

    - Optimized for MMOFPS RPG with low latency reward distribution

    - Context timeouts: 5s for progress updates, 10s for bulk operations

    - DB pool config: connection pooling for seasonal data loads

    - Performance target: <50ms P95 for reward claims, <200ms for season queries


    ## BUSINESS CONTEXT

    Battle Pass provides seasonal progression with free and premium tiers.

    Players earn XP through gameplay to unlock rewards and cosmetic items.

    Premium pass unlocks additional rewards and accelerated progression.

    '
  version: 1.0.0
  contact:
    name: Battle Pass Team
    email: battlepass@necpgame.com
servers:
- url: https://api.necpgame.com/battle-pass
  description: Production server
- url: https://staging-api.necpgame.com/battle-pass
  description: Staging server
security: []
tags:
- name: Seasons
  description: Battle Pass season management
- name: Progress
  description: Player progression tracking
- name: Rewards
  description: Reward claiming and management
- name: Statistics
  description: Analytics and reporting
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /seasons/current:
    $ref: ./paths/seasons-current.yaml#/paths/~1seasons~1current
  /seasons/{seasonId}:
    $ref: ./paths/seasons-{seasonId}.yaml#/paths/~1seasons~1{seasonId}
  /progress/{playerId}:
    $ref: ./paths/progress-{playerId}.yaml#/paths/~1progress~1{playerId}
  /progress/{playerId}/xp:
    $ref: ./paths/progress-{playerId}-xp.yaml#/paths/~1progress~1{playerId}~1xp
  /rewards/{playerId}/claim:
    $ref: ./paths/rewards-{playerId}-claim.yaml#/paths/~1rewards~1{playerId}~1claim
  /rewards/{playerId}/available:
    $ref: ./paths/rewards-{playerId}-available.yaml#/paths/~1rewards~1{playerId}~1available
  /statistics/player/{playerId}:
    $ref: ./paths/statistics-player-{playerId}.yaml#/paths/~1statistics~1player~1{playerId}
components:
  schemas:
    Season:
      $ref: ./schemas/battle-pass-service-schemas.yaml#/components/schemas/Season
    SeasonReward:
      $ref: ./schemas/battle-pass-service-schemas.yaml#/components/schemas/SeasonReward
    Reward:
      $ref: ./schemas/battle-pass-service-schemas.yaml#/components/schemas/Reward
    PlayerProgress:
      $ref: ./schemas/battle-pass-service-schemas.yaml#/components/schemas/PlayerProgress
    AvailableReward:
      $ref: ./schemas/battle-pass-service-schemas.yaml#/components/schemas/AvailableReward
    ClaimResult:
      $ref: ./schemas/battle-pass-service-schemas.yaml#/components/schemas/ClaimResult
    PlayerStatistics:
      $ref: ./schemas/battle-pass-service-schemas.yaml#/components/schemas/PlayerStatistics
  responses: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT token for authentication
