openapi: 3.0.3
info:
  title: Performance Monitoring Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Performance Monitoring API for NECPGAME**

    This API manages comprehensive performance monitoring, metrics collection, and
    observability systems for all NECPGAME microservices and game systems.

    ## Key Features

    - **Health Monitoring**: Real-time health checks for all services - **Metrics
    Collection**: Performance metrics and KPIs tracking - **Alert Management**: Automated
    alerting and incident response - **Observability**: Distributed tracing and logging
    aggregation - **Performance Analytics**: Trend analysis and bottleneck detection
    - **Resource Monitoring**: CPU, memory, network, and storage metrics

    ## Domain Purpose

    The Performance Monitoring domain provides comprehensive observability and monitoring
    capabilities for the entire NECPGAME ecosystem, ensuring high availability and
    performance.

    ## Performance Targets

    - P99 Latency: <50ms for metrics queries - Memory: <100KB per monitoring instance
    - Concurrent users: 100,000+ simultaneous monitoring operations - Alert delivery:
    <5s from detection to notification

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/performance-monitoring
  description: Production server
- url: https://staging-api.necpgame.com/v1/performance-monitoring
  description: Staging server
- url: http://localhost:8080/api/v1/performance-monitoring
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Health Monitoring
  description: Service health checks and status monitoring
- name: Metrics Collection
  description: Performance metrics and KPIs tracking
- name: Alert Management
  description: Automated alerting and incident management
- name: Observability
  description: Distributed tracing and logging
- name: Resource Monitoring
  description: System resource monitoring
- name: Analytics
  description: Performance analytics and reporting
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /services/health:
    $ref: ./paths/services-health.yaml#/paths/~1services~1health
  /metrics/{service_name}:
    $ref: ./paths/metrics-{service_name}.yaml#/paths/~1metrics~1{service_name}
  /alerts:
    $ref: ./paths/alerts.yaml#/paths/~1alerts
  /alerts/{alert_id}/acknowledge:
    $ref: ./paths/alerts-{alert_id}-acknowledge.yaml#/paths/~1alerts~1{alert_id}~1acknowledge
  /traces/{trace_id}:
    $ref: ./paths/traces-{trace_id}.yaml#/paths/~1traces~1{trace_id}
  /analytics/performance:
    $ref: ./paths/analytics-performance.yaml#/paths/~1analytics~1performance
components:
  schemas:
    HealthResponse:
      $ref: ./schemas/performance-monitoring-service-schemas.yaml#/components/schemas/HealthResponse
    Error:
      $ref: ./schemas/performance-monitoring-service-schemas.yaml#/components/schemas/Error
    ServicesHealthResponse:
      $ref: ./schemas/performance-monitoring-service-schemas.yaml#/components/schemas/ServicesHealthResponse
    ServiceHealthStatus:
      $ref: ./schemas/performance-monitoring-service-schemas.yaml#/components/schemas/ServiceHealthStatus
    HealthSummary:
      $ref: ./schemas/performance-monitoring-service-schemas.yaml#/components/schemas/HealthSummary
    ServiceMetricsResponse:
      $ref: ./schemas/performance-monitoring-service-schemas.yaml#/components/schemas/ServiceMetricsResponse
    MetricData:
      $ref: ./schemas/performance-monitoring-service-schemas.yaml#/components/schemas/MetricData
    AlertsResponse:
      $ref: ./schemas/performance-monitoring-service-schemas.yaml#/components/schemas/AlertsResponse
    Alert:
      $ref: ./schemas/performance-monitoring-service-schemas.yaml#/components/schemas/Alert
    CreateAlertRequest:
      $ref: ./schemas/performance-monitoring-service-schemas.yaml#/components/schemas/CreateAlertRequest
    AlertResponse:
      $ref: ./schemas/performance-monitoring-service-schemas.yaml#/components/schemas/AlertResponse
    TraceResponse:
      $ref: ./schemas/performance-monitoring-service-schemas.yaml#/components/schemas/TraceResponse
    Span:
      $ref: ./schemas/performance-monitoring-service-schemas.yaml#/components/schemas/Span
    PerformanceAnalyticsResponse:
      $ref: ./schemas/performance-monitoring-service-schemas.yaml#/components/schemas/PerformanceAnalyticsResponse
    TrendAnalysis:
      $ref: ./schemas/performance-monitoring-service-schemas.yaml#/components/schemas/TrendAnalysis
    DataPoint:
      $ref: ./schemas/performance-monitoring-service-schemas.yaml#/components/schemas/DataPoint
    ResourceUsageAnalysis:
      $ref: ./schemas/performance-monitoring-service-schemas.yaml#/components/schemas/ResourceUsageAnalysis
    Bottleneck:
      $ref: ./schemas/performance-monitoring-service-schemas.yaml#/components/schemas/Bottleneck
  responses:
    HealthBatchSuccess:
      $ref: ./schemas/performance-monitoring-service-responses.yaml#/components/responses/HealthBatchSuccess
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
