openapi: 3.0.3
info:
  title: Performance Monitoring Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Performance Monitoring API for NECPGAME**

    This API manages comprehensive performance monitoring, metrics collection, and
    observability systems for all NECPGAME microservices and game systems.

    ## Key Features

    - **Health Monitoring**: Real-time health checks for all services - **Metrics
    Collection**: Performance metrics and KPIs tracking - **Alert Management**: Automated
    alerting and incident response - **Observability**: Distributed tracing and logging
    aggregation - **Performance Analytics**: Trend analysis and bottleneck detection
    - **Resource Monitoring**: CPU, memory, network, and storage metrics

    ## Domain Purpose

    The Performance Monitoring domain provides comprehensive observability and monitoring
    capabilities for the entire NECPGAME ecosystem, ensuring high availability and
    performance.

    ## Performance Targets

    - P99 Latency: <50ms for metrics queries - Memory: <100KB per monitoring instance
    - Concurrent users: 100,000+ simultaneous monitoring operations - Alert delivery:
    <5s from detection to notification

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/performance-monitoring
  description: Production server
- url: https://staging-api.necpgame.com/v1/performance-monitoring
  description: Staging server
- url: http://localhost:8080/api/v1/performance-monitoring
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Health Monitoring
  description: Service health checks and status monitoring
- name: Metrics Collection
  description: Performance metrics and KPIs tracking
- name: Alert Management
  description: Automated alerting and incident management
- name: Observability
  description: Distributed tracing and logging
- name: Resource Monitoring
  description: System resource monitoring
- name: Analytics
  description: Performance analytics and reporting
paths:
  /health:
    get:
      summary: Performance monitoring service health check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the performance monitoring service microservice.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds '
      operationId: performanceMonitoringServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"performance-monitoring-health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: ../common/schemas/health.yaml#/HealthResponse
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../common/schemas/health.yaml#/HealthResponse
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /services/health:
    get:
      summary: Get health status of all services
      operationId: getAllServicesHealth
      tags:
      - Health Monitoring
      security:
      - BearerAuth: []
      parameters:
      - name: service_filter
        in: query
        schema:
          type: string
          enum:
          - all
          - critical
          - game-services
          - infrastructure
          default: all
        description: Filter services by category
      responses:
        '200':
          description: Services health status retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicesHealthResponse'
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        '500':
          $ref: ../common/responses/error.yaml#/InternalServerError
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /metrics/{service_name}:
    get:
      summary: Get performance metrics for a specific service
      operationId: getServiceMetrics
      tags:
      - Metrics Collection
      security:
      - BearerAuth: []
      parameters:
      - name: service_name
        in: path
        required: true
        schema:
          type: string
        description: Name of the service to get metrics for
      - name: time_range
        in: query
        schema:
          type: string
          enum:
          - 1h
          - 6h
          - 24h
          - 7d
          - 30d
          default: 1h
        description: Time range for metrics
      - name: metric_types
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - response_time
            - throughput
            - error_rate
            - cpu_usage
            - memory_usage
            - disk_usage
        description: Types of metrics to retrieve
      responses:
        '200':
          description: Service metrics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMetricsResponse'
        '404':
          $ref: ../common/responses/error.yaml#/NotFound
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /alerts:
    get:
      summary: Get active alerts and incidents
      operationId: getActiveAlerts
      tags:
      - Alert Management
      security:
      - BearerAuth: []
      parameters:
      - name: severity
        in: query
        schema:
          type: string
          enum:
          - critical
          - high
          - medium
          - low
          - all
          default: all
        description: Filter alerts by severity
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - acknowledged
          - resolved
          - all
          default: active
        description: Filter alerts by status
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: Maximum number of alerts to return
      responses:
        '200':
          description: Active alerts retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertsResponse'
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    post:
      summary: Create a new alert
      operationId: createAlert
      tags:
      - Alert Management
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAlertRequest'
      responses:
        '201':
          description: Alert created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertResponse'
        '400':
          $ref: ../common/responses/error.yaml#/BadRequest
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /alerts/{alert_id}/acknowledge:
    post:
      summary: Acknowledge an alert
      operationId: acknowledgeAlert
      tags:
      - Alert Management
      security:
      - BearerAuth: []
      parameters:
      - name: alert_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Alert unique identifier
      responses:
        '200':
          description: Alert acknowledged successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertResponse'
        '404':
          $ref: ../common/responses/error.yaml#/NotFound
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /traces/{trace_id}:
    get:
      summary: Get distributed trace information
      operationId: getDistributedTrace
      tags:
      - Observability
      security:
      - BearerAuth: []
      parameters:
      - name: trace_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Trace unique identifier
      - name: include_spans
        in: query
        schema:
          type: boolean
          default: true
        description: Include span details in response
      responses:
        '200':
          description: Trace information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TraceResponse'
        '404':
          $ref: ../common/responses/error.yaml#/NotFound
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
  /analytics/performance:
    get:
      summary: Get performance analytics and trends
      operationId: getPerformanceAnalytics
      tags:
      - Analytics
      security:
      - BearerAuth: []
      parameters:
      - name: service_name
        in: query
        schema:
          type: string
        description: Filter by specific service
      - name: time_range
        in: query
        schema:
          type: string
          enum:
          - 1h
          - 24h
          - 7d
          - 30d
          - 90d
          default: 7d
        description: Time range for analytics
      - name: metric_type
        in: query
        schema:
          type: string
          enum:
          - latency
          - throughput
          - error_rate
          - resource_usage
          - availability
        description: Type of performance metric to analyze
      responses:
        '200':
          description: Performance analytics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceAnalyticsResponse'
        '400':
          $ref: ../common/responses/error.yaml#/BadRequest
        '401':
          $ref: ../common/responses/error.yaml#/Unauthorized
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
components:
  schemas:
    HealthResponse:
      $ref: ../common/schemas/health.yaml#/HealthResponse
    Error:
      $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    ServicesHealthResponse:
      type: object
      required:
      - services
      - summary
      - timestamp
      properties:
        services:
          type: array
          items:
            $ref: '#/components/schemas/ServiceHealthStatus'
        summary:
          $ref: '#/components/schemas/HealthSummary'
        timestamp:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Fields ordered for optimal memory alignment.'
    ServiceHealthStatus:
      type: object
      required:
      - service_name
      - status
      - last_checked
      properties:
        service_name:
          type: string
          maxLength: 100
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
          - unknown
        response_time_ms:
          type: number
          format: float
          minimum: 0
        last_checked:
          type: string
          format: date-time
        error_message:
          type: string
          maxLength: 500
    HealthSummary:
      type: object
      required:
      - total_services
      - healthy_count
      - degraded_count
      - unhealthy_count
      properties:
        total_services:
          type: integer
          minimum: 0
        healthy_count:
          type: integer
          minimum: 0
        degraded_count:
          type: integer
          minimum: 0
        unhealthy_count:
          type: integer
          minimum: 0
        overall_status:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
    ServiceMetricsResponse:
      type: object
      required:
      - service_name
      - time_range
      - metrics
      properties:
        service_name:
          type: string
        time_range:
          type: string
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/MetricData'
    MetricData:
      type: object
      required:
      - metric_type
      - timestamp
      - value
      properties:
        metric_type:
          type: string
          enum:
          - response_time
          - throughput
          - error_rate
          - cpu_usage
          - memory_usage
          - disk_usage
        timestamp:
          type: string
          format: date-time
        value:
          type: number
          format: float
        unit:
          type: string
          enum:
          - ms
          - rps
          - percentage
          - bytes
          - count
        labels:
          type: object
          additionalProperties:
            type: string
    AlertsResponse:
      type: object
      required:
      - alerts
      - total_count
      properties:
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/Alert'
        total_count:
          type: integer
          minimum: 0
        has_more:
          type: boolean
          default: false
    Alert:
      type: object
      required:
      - id
      - title
      - severity
      - status
      - created_at
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 1000
        severity:
          type: string
          enum:
          - critical
          - high
          - medium
          - low
        status:
          type: string
          enum:
          - active
          - acknowledged
          - resolved
        service_name:
          type: string
          maxLength: 100
        created_at:
          type: string
          format: date-time
        acknowledged_at:
          type: string
          format: date-time
          nullable: true
        resolved_at:
          type: string
          format: date-time
          nullable: true
        acknowledged_by:
          type: string
          format: uuid
          nullable: true
    CreateAlertRequest:
      type: object
      required:
      - title
      - severity
      - service_name
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          maxLength: 1000
        severity:
          type: string
          enum:
          - critical
          - high
          - medium
          - low
        service_name:
          type: string
          minLength: 1
          maxLength: 100
    AlertResponse:
      type: object
      required:
      - alert
      properties:
        alert:
          $ref: '#/components/schemas/Alert'
    TraceResponse:
      type: object
      required:
      - trace_id
      - service_name
      - start_time
      - duration_ms
      properties:
        trace_id:
          type: string
          format: uuid
        service_name:
          type: string
        operation_name:
          type: string
        start_time:
          type: string
          format: date-time
        duration_ms:
          type: number
          format: float
          minimum: 0
        status:
          type: string
          enum:
          - success
          - error
          - unknown
        spans:
          type: array
          items:
            $ref: '#/components/schemas/Span'
    Span:
      type: object
      required:
      - span_id
      - operation_name
      - start_time
      - duration_ms
      properties:
        span_id:
          type: string
          format: uuid
        operation_name:
          type: string
        start_time:
          type: string
          format: date-time
        duration_ms:
          type: number
          format: float
          minimum: 0
        tags:
          type: object
          additionalProperties: true
    PerformanceAnalyticsResponse:
      type: object
      required:
      - time_range
      - analytics
      properties:
        service_name:
          type: string
        time_range:
          type: string
        analytics:
          type: object
          properties:
            latency_trends:
              $ref: '#/components/schemas/TrendAnalysis'
            throughput_trends:
              $ref: '#/components/schemas/TrendAnalysis'
            error_rate_trends:
              $ref: '#/components/schemas/TrendAnalysis'
            resource_usage:
              $ref: '#/components/schemas/ResourceUsageAnalysis'
            bottlenecks:
              type: array
              items:
                $ref: '#/components/schemas/Bottleneck'
    TrendAnalysis:
      type: object
      properties:
        current_value:
          type: number
          format: float
        previous_value:
          type: number
          format: float
        change_percentage:
          type: number
          format: float
        trend:
          type: string
          enum:
          - improving
          - degrading
          - stable
        data_points:
          type: array
          items:
            $ref: '#/components/schemas/DataPoint'
    DataPoint:
      type: object
      required:
      - timestamp
      - value
      properties:
        timestamp:
          type: string
          format: date-time
        value:
          type: number
          format: float
    ResourceUsageAnalysis:
      type: object
      properties:
        cpu_average:
          type: number
          format: float
          minimum: 0
          maximum: 100
        memory_average_mb:
          type: number
          format: float
          minimum: 0
        disk_usage_gb:
          type: number
          format: float
          minimum: 0
        network_in_mb:
          type: number
          format: float
          minimum: 0
        network_out_mb:
          type: number
          format: float
          minimum: 0
    Bottleneck:
      type: object
      required:
      - type
      - severity
      - description
      properties:
        type:
          type: string
          enum:
          - cpu
          - memory
          - disk_io
          - network
          - database
          - external_service
        severity:
          type: string
          enum:
          - high
          - medium
          - low
        description:
          type: string
          maxLength: 500
        affected_service:
          type: string
        recommendation:
          type: string
          maxLength: 500
  responses:
    HealthBatchSuccess:
      $ref: ../common/responses/success.yaml#/HealthBatchSuccess
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth

