openapi: 3.0.3
info:
  title: Implant Service API
  description: '**Enterprise-grade API for Cybernetic Implant Management**


    ## Domain Purpose

    Comprehensive implant management service providing installation, upgrades, compatibility
    checking,

    and cyberpsychosis risk management for the NECPGAME cyberpunk universe.


    ## Business Value

    - Real-time implant compatibility validation and synergy calculations

    - Advanced cyberpsychosis risk assessment and mitigation

    - Performance-optimized implant state synchronization

    - Enterprise-grade scalability for millions of cybernetically enhanced players

    - Comprehensive implant upgrade and maintenance systems


    ## Performance Targets

    - P99 Latency: <35ms for implant operations

    - Throughput: 25,000+ implant operations per second

    - Concurrent Implants: 200,000+ active implants supported

    - Memory per Character: <3KB for implant storage


    ## Domain Inheritance

    This service inherits from game-entities.yaml providing:

    - Implant templates as game entities with versioning

    - Character implant tracking with optimistic locking

    - Combat action integration for implant usage

    - Effect system integration for implant effects

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/implant-service
  description: Production environment
- url: https://staging-api.necpgame.com/v1/implant-service
  description: Staging environment
- url: http://localhost:8080/api/v1/implant-service
  description: Local development
security:
- BearerAuth: []
tags:
- name: Implant Management
  description: Core implant installation and lifecycle operations
- name: Compatibility System
  description: Implant compatibility validation and synergy checking
- name: Upgrade System
  description: Implant upgrades and modifications
- name: Risk Management
  description: Cyberpsychosis risk assessment and mitigation
- name: Maintenance System
  description: Implant maintenance and repair operations
- name: Analytics & Balancing
  description: Implant usage analytics and balancing tools
- name: Health Monitoring
  description: Service health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /implants/install:
    $ref: ./paths/implants-install.yaml#/paths/~1implants~1install
  /implants/remove:
    $ref: ./paths/implants-remove.yaml#/paths/~1implants~1remove
  /implants/upgrade:
    $ref: ./paths/implants-upgrade.yaml#/paths/~1implants~1upgrade
  /characters/{characterId}/implants:
    $ref: ./paths/characters-{characterId}-implants.yaml#/paths/~1characters~1{characterId}~1implants
  /implants/compatibility/check:
    $ref: ./paths/implants-compatibility-check.yaml#/paths/~1implants~1compatibility~1check
  /implants/risk/assess:
    $ref: ./paths/implants-risk-assess.yaml#/paths/~1implants~1risk~1assess
  /implants/maintenance/schedule:
    $ref: ./paths/implants-maintenance-schedule.yaml#/paths/~1implants~1maintenance~1schedule
  /implants/maintenance/perform:
    $ref: ./paths/implants-maintenance-perform.yaml#/paths/~1implants~1maintenance~1perform
  /templates:
    $ref: ./paths/templates.yaml#/paths/~1templates
  /analytics/usage:
    $ref: ./paths/analytics-usage.yaml#/paths/~1analytics~1usage
components:
  schemas:
    InstalledImplant:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/InstalledImplant
    ImplantTemplate:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/ImplantTemplate
    SlotRequirements:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/SlotRequirements
    CompatibilityRules:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/CompatibilityRules
    UpgradeTier:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/UpgradeTier
    MaintenanceRequirements:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/MaintenanceRequirements
    RiskFactors:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/RiskFactors
    SideEffect:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/SideEffect
    ImplantModification:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/ImplantModification
    CharacterImplantSummary:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/CharacterImplantSummary
    CompatibilityResult:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/CompatibilityResult
    RiskAssessment:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/RiskAssessment
    MaintenanceSchedule:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/MaintenanceSchedule
    MaintenanceResult:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/MaintenanceResult
    StatChanges:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/StatChanges
    ImplantUsageAnalytics:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/ImplantUsageAnalytics
    ImplantTemplateSummary:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/ImplantTemplateSummary
    InstallImplantRequest:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/InstallImplantRequest
    RemoveImplantRequest:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/RemoveImplantRequest
    UpgradeImplantRequest:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/UpgradeImplantRequest
    CompatibilityCheckRequest:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/CompatibilityCheckRequest
    RiskAssessmentRequest:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/RiskAssessmentRequest
    MaintenanceScheduleRequest:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/MaintenanceScheduleRequest
    PerformMaintenanceRequest:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/PerformMaintenanceRequest
    CreateImplantTemplateRequest:
      $ref: ./schemas/implant-service-schemas.yaml#/components/schemas/CreateImplantTemplateRequest
  responses:
    OK:
      $ref: ./schemas/implant-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/implant-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/implant-service-responses.yaml#/components/responses/Updated
    BadRequest:
      $ref: ./schemas/implant-service-responses.yaml#/components/responses/BadRequest
    NotFound:
      $ref: ./schemas/implant-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/implant-service-responses.yaml#/components/responses/Conflict
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
