# Enterprise-Grade Implant Service API - SOLID/DRY Domain Inheritance
# Game domain service for cybernetic implant management
# Issue: #openapi-refactor

openapi: 3.0.3
info:
  title: Implant Service API
  description: |
    **Enterprise-grade API for Cybernetic Implant Management**

    ## Domain Purpose
    Comprehensive implant management service providing installation, upgrades, compatibility checking,
    and cyberpsychosis risk management for the NECPGAME cyberpunk universe.

    ## Business Value
    - Real-time implant compatibility validation and synergy calculations
    - Advanced cyberpsychosis risk assessment and mitigation
    - Performance-optimized implant state synchronization
    - Enterprise-grade scalability for millions of cybernetically enhanced players
    - Comprehensive implant upgrade and maintenance systems

    ## Performance Targets
    - P99 Latency: <35ms for implant operations
    - Throughput: 25,000+ implant operations per second
    - Concurrent Implants: 200,000+ active implants supported
    - Memory per Character: <3KB for implant storage

    ## Domain Inheritance
    This service inherits from game-entities.yaml providing:
    - Implant templates as game entities with versioning
    - Character implant tracking with optimistic locking
    - Combat action integration for implant usage
    - Effect system integration for implant effects
    - Strict typing with validation rules

  version: "1.0.0"
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT

servers:
  - url: https://api.necpgame.com/v1/implant-service
    description: Production environment
  - url: https://staging-api.necpgame.com/v1/implant-service
    description: Staging environment
  - url: http://localhost:8080/api/v1/implant-service
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: Implant Management
    description: Core implant installation and lifecycle operations
  - name: Compatibility System
    description: Implant compatibility validation and synergy checking
  - name: Upgrade System
    description: Implant upgrades and modifications
  - name: Risk Management
    description: Cyberpsychosis risk assessment and mitigation
  - name: Maintenance System
    description: Implant maintenance and repair operations
  - name: Analytics & Balancing
    description: Implant usage analytics and balancing tools
  - name: Health Monitoring
    description: Service health and performance monitoring

paths:

  /health:
    get:
      operationId: implantServiceHealthCheck
      summary: Basic health check
      description: Returns service health status
      tags: [Health Monitoring]
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '../common/schemas/health.yaml#/HealthResponse'

  /implants/install:
    post:
      operationId: implantServiceInstallImplant
      summary: Install implant on character
      description: |
        Install a cybernetic implant on a character with risk assessment.

        **Installation Process:**
        - Validate implant compatibility and requirements
        - Calculate cyberpsychosis risk increase
        - Check available installation slots
        - Perform installation with effect application
        - Update character stats and abilities
      tags: [Implant Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallImplantRequest'
      responses:
        '201':
          description: Implant installed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/Created'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InstalledImplant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Implant incompatible or slot unavailable
          content:
            application/json:
              schema:
                $ref: '../common/responses/error.yaml#/Conflict'

  /implants/remove:
    post:
      operationId: implantServiceRemoveImplant
      summary: Remove implant from character
      description: |
        Remove an installed implant from a character.

        **Removal Process:**
        - Validate removal requirements and risks
        - Calculate cyberpsychosis risk decrease
        - Remove implant effects and bonuses
        - Update character stats and abilities
        - Handle removal side effects
      tags: [Implant Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveImplantRequest'
      responses:
        '200':
          description: Implant removed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          removed_implant_id:
                            type: string
                            format: uuid
                            description: ID of removed implant
                          side_effects:
                            type: array
                            items:
                              $ref: '#/components/schemas/SideEffect'
                            description: Removal side effects
                          stat_changes:
                            $ref: '#/components/schemas/StatChanges'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /implants/upgrade:
    post:
      operationId: implantServiceUpgradeImplant
      summary: Upgrade installed implant
      description: |
        Upgrade an installed implant to higher tier or quality.

        **Upgrade Process:**
        - Validate upgrade requirements and compatibility
        - Calculate upgrade costs and risks
        - Apply upgrade with enhanced effects
        - Update implant stats and capabilities
      tags: [Upgrade System]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpgradeImplantRequest'
      responses:
        '200':
          description: Implant upgraded successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/InstalledImplant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /characters/{characterId}/implants:
    get:
      operationId: implantServiceGetCharacterImplants
      summary: Get character implants
      description: |
        Retrieve all implants installed on a character with current status.

        **Implant Status:**
        - Installed implants with current tier and condition
        - Active effects and stat bonuses
        - Maintenance status and degradation level
        - Cyberpsychosis risk contribution
      tags: [Implant Management]
      parameters:
        - name: characterId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Character unique identifier
        - name: include_inactive
          in: query
          schema:
            type: boolean
            default: false
          description: Include inactive/degraded implants
      responses:
        '200':
          description: Character implants retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/InstalledImplant'
                      summary:
                        $ref: '#/components/schemas/CharacterImplantSummary'
        '404':
          $ref: '#/components/responses/NotFound'

  /implants/compatibility/check:
    post:
      operationId: implantServiceCheckCompatibility
      summary: Check implant compatibility
      description: |
        Check compatibility between implants or with character's current setup.

        **Compatibility Analysis:**
        - Slot compatibility and conflicts
        - Synergy calculations and bonuses
        - Risk assessment and warnings
        - Performance impact evaluation
      tags: [Compatibility System]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompatibilityCheckRequest'
      responses:
        '200':
          description: Compatibility analysis completed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CompatibilityResult'
        '400':
          $ref: '#/components/responses/BadRequest'

  /implants/risk/assess:
    post:
      operationId: implantServiceAssessRisk
      summary: Assess cyberpsychosis risk
      description: |
        Assess cyberpsychosis risk for implant installation or current setup.

        **Risk Assessment:**
        - Calculate total cyberpsychosis risk
        - Analyze risk factors and contributors
        - Provide mitigation recommendations
        - Predict future risk development
      tags: [Risk Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RiskAssessmentRequest'
      responses:
        '200':
          description: Risk assessment completed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/RiskAssessment'
        '400':
          $ref: '#/components/responses/BadRequest'

  /implants/maintenance/schedule:
    post:
      operationId: implantServiceScheduleMaintenance
      summary: Schedule implant maintenance
      description: |
        Schedule maintenance operations for implants.

        **Maintenance Scheduling:**
        - Preventive maintenance scheduling
        - Degradation monitoring and alerts
        - Automatic maintenance recommendations
        - Resource and time estimation
      tags: [Maintenance System]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaintenanceScheduleRequest'
      responses:
        '201':
          description: Maintenance scheduled successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/Created'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MaintenanceSchedule'
        '400':
          $ref: '#/components/responses/BadRequest'

  /implants/maintenance/perform:
    post:
      operationId: implantServicePerformMaintenance
      summary: Perform implant maintenance
      description: |
        Perform maintenance operations on implants.

        **Maintenance Operations:**
        - Repair and calibration procedures
        - Performance optimization
        - Degradation reversal
        - Effect restoration
      tags: [Maintenance System]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PerformMaintenanceRequest'
      responses:
        '200':
          description: Maintenance completed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          maintenance_results:
                            type: array
                            items:
                              $ref: '#/components/schemas/MaintenanceResult'
                          stat_changes:
                            $ref: '#/components/schemas/StatChanges'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /templates:
    post:
      operationId: implantServiceCreateTemplate
      summary: Create implant template
      description: |
        Create a new implant template with comprehensive configuration.

        **Template Creation:**
        - Define implant properties and effects
        - Configure compatibility rules and requirements
        - Set risk factors and maintenance needs
        - Define upgrade paths and synergies
      tags: [Implant Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImplantTemplateRequest'
      responses:
        '201':
          description: Implant template created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/Created'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ImplantTemplate'
        '400':
          $ref: '#/components/responses/BadRequest'

    get:
      operationId: implantServiceListTemplates
      summary: List implant templates
      description: Retrieve paginated list of implant templates
      tags: [Implant Management]
      parameters:
        - name: implant_type
          in: query
          schema:
            type: string
            enum: [combat, utility, medical, neural]
          description: Filter by implant type
        - name: rarity
          in: query
          schema:
            type: string
            enum: [common, uncommon, rare, epic, legendary]
          description: Filter by rarity
        - name: active_only
          in: query
          schema:
            type: boolean
            default: true
          description: Include only active templates
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of templates to return
      responses:
        '200':
          description: Implant templates retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ImplantTemplateSummary'

  /analytics/usage:
    get:
      operationId: implantServiceGetUsageAnalytics
      summary: Get implant usage analytics
      description: |
        Retrieve comprehensive analytics about implant usage and effectiveness.

        **Analytics Coverage:**
        - Implant installation frequency and patterns
        - Popular implant combinations and synergies
        - Cyberpsychosis risk trends and mitigation
        - Performance impact and balancing effectiveness
        - Maintenance patterns and failure rates
      tags: [Analytics & Balancing]
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date-time
          description: Start date for analytics
        - name: end_date
          in: query
          schema:
            type: string
            format: date-time
          description: End date for analytics
        - name: implant_type
          in: query
          schema:
            type: string
            enum: [combat, utility, medical, neural]
          description: Filter by implant type
        - name: template_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by specific template
      responses:
        '200':
          description: Usage analytics retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../common/responses/success.yaml#/OK'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ImplantUsageAnalytics'

components:

  responses:
    OK:
      $ref: '../common/responses/success.yaml#/OK'
    Created:
      $ref: '../common/responses/success.yaml#/Created'
    Updated:
      $ref: '../common/responses/success.yaml#/Updated'
    BadRequest:
      $ref: '../common/responses/error.yaml#/BadRequest'
    NotFound:
      $ref: '../common/responses/error.yaml#/NotFound'
    Conflict:
      $ref: '../common/responses/error.yaml#/Conflict'

  schemas:

    # Domain Inheritance - Implant Service Entities
    InstalledImplant:
      description: Character's installed implant instance with game domain inheritance
      type: object
      required:
        - id
        - character_id
        - template_id
        - installed_at
        - current_tier
        - condition
      properties:
        id:
          type: string
          format: uuid
          description: Implant instance unique identifier
        character_id:
          type: string
          format: uuid
          description: Character this implant is installed in
        template_id:
          type: string
          format: uuid
          description: Implant template used
        current_tier:
          type: integer
          minimum: 1
          maximum: 10
          description: Current implant tier/quality level
        installed_at:
          type: string
          format: date-time
          description: When implant was installed
        condition:
          type: number
          minimum: 0
          maximum: 1
          description: Implant condition (0 = broken, 1 = perfect)
        degradation_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Daily degradation rate
        last_maintenance_at:
          type: string
          format: date-time
          description: Last maintenance date
        next_maintenance_due:
          type: string
          format: date-time
          description: Next maintenance due date
        stat_modifiers:
          type: object
          description: Active stat modifications
          additionalProperties:
            type: number
          example:
            strength: 15
            reaction_time: -20
            cyberpsychosis_risk: 0.05
        active_effects:
          type: array
          items:
            type: string
            format: uuid
          description: IDs of active implant effects
        compatibility_score:
          type: number
          minimum: 0
          maximum: 1
          description: Current compatibility with other implants
        cyberpsychosis_contribution:
          type: number
          minimum: 0
          maximum: 1
          description: Cyberpsychosis risk contribution
        upgrade_slots_used:
          type: integer
          minimum: 0
          description: Number of upgrade slots consumed
        custom_modifications:
          type: array
          items:
            $ref: '#/components/schemas/ImplantModification'
          description: Applied custom modifications

    ImplantTemplate:
      description: Implant template configuration with game domain inheritance
      allOf:
        - $ref: '../common/schemas/game-entities.yaml#/BaseGameEntity'
        - type: object
          properties:
            name:
              type: string
              minLength: 1
              maxLength: 100
              description: Implant template name
            description:
              type: string
              maxLength: 500
              description: Implant description
            implant_type:
              type: string
              enum: [combat, utility, medical, neural]
              description: Primary implant type
            category:
              type: string
              minLength: 1
              maxLength: 50
              description: Implant category for organization
            rarity:
              type: string
              enum: [common, uncommon, rare, epic, legendary]
              default: "common"
              description: Implant rarity level
            base_installation_cost:
              type: integer
              minimum: 0
              description: Base eddies cost for installation
            slot_requirements:
              $ref: '#/components/schemas/SlotRequirements'
            stat_modifiers:
              type: object
              description: Base stat modifications
              additionalProperties:
                type: number
              example:
                strength: "+10"
                agility: "+5"
                cyberpsychosis_risk: "+0.02"
            effect_ids:
              type: array
              items:
                type: string
                format: uuid
              description: Associated effect IDs
            compatibility_rules:
              $ref: '#/components/schemas/CompatibilityRules'
            upgrade_path:
              type: array
              items:
                $ref: '#/components/schemas/UpgradeTier'
              description: Available upgrade tiers
            maintenance_requirements:
              $ref: '#/components/schemas/MaintenanceRequirements'
            risk_factors:
              $ref: '#/components/schemas/RiskFactors'
            visual_config:
              type: object
              properties:
                model_id:
                  type: string
                  description: 3D model identifier
                icon_id:
                  type: string
                  description: UI icon identifier
                glow_color:
                  type: string
                  pattern: '^#[0-9A-Fa-f]{6}$'
                  description: Implant glow color
              description: Visual configuration
            is_active:
              type: boolean
              default: true
              description: Whether template is active

    # Supporting schemas
    SlotRequirements:
      description: Implant slot requirements
      type: object
      properties:
        required_slots:
          type: integer
          minimum: 1
          description: Number of implant slots required
        allowed_body_parts:
          type: array
          items:
            type: string
            enum: [head, eyes, arms, hands, torso, legs, spine, brain]
          description: Body parts where implant can be installed
        exclusive_slots:
          type: array
          items:
            type: string
            format: uuid
          description: Implant templates that cannot be installed simultaneously

    CompatibilityRules:
      description: Implant compatibility rules
      type: object
      properties:
        synergy_bonuses:
          type: array
          items:
            type: object
            required:
              - partner_implant_type
              - bonus_type
              - bonus_value
            properties:
              partner_implant_type:
                type: string
                enum: [combat, utility, medical, neural]
                description: Compatible implant type
              bonus_type:
                type: string
                enum: [stat_multiplier, effect_amplifier, risk_reducer]
                description: Type of synergy bonus
              bonus_value:
                type: number
                description: Bonus magnitude
          description: Synergy bonuses with other implants
        conflict_penalties:
          type: array
          items:
            type: object
            required:
              - conflicting_type
              - penalty_type
              - penalty_value
            properties:
              conflicting_type:
                type: string
                enum: [combat, utility, medical, neural]
                description: Conflicting implant type
              penalty_type:
                type: string
                enum: [stat_reducer, effect_weakener, risk_increaser]
                description: Type of conflict penalty
              penalty_value:
                type: number
                description: Penalty magnitude
          description: Conflict penalties with other implants

    UpgradeTier:
      description: Implant upgrade tier configuration
      type: object
      required:
        - tier
        - upgrade_cost
      properties:
        tier:
          type: integer
          minimum: 2
          maximum: 10
          description: Upgrade tier level
        upgrade_cost:
          type: integer
          minimum: 0
          description: Eddies cost for upgrade
        required_materials:
          type: object
          additionalProperties:
            type: integer
            minimum: 0
          description: Required materials for upgrade
        stat_improvements:
          type: object
          additionalProperties:
            type: number
          description: Additional stat improvements
        new_effects:
          type: array
          items:
            type: string
            format: uuid
          description: New effect IDs unlocked
        risk_reduction:
          type: number
          minimum: 0
          maximum: 1
          description: Cyberpsychosis risk reduction

    MaintenanceRequirements:
      description: Implant maintenance requirements
      type: object
      properties:
        maintenance_interval_days:
          type: integer
          minimum: 1
          description: Days between maintenance
        maintenance_cost:
          type: integer
          minimum: 0
          description: Eddies cost per maintenance
        required_parts:
          type: object
          additionalProperties:
            type: integer
            minimum: 0
          description: Required replacement parts
        degradation_prevention:
          type: number
          minimum: 0
          maximum: 1
          description: Degradation prevented by maintenance

    RiskFactors:
      description: Implant risk factors
      type: object
      properties:
        base_cyberpsychosis_risk:
          type: number
          minimum: 0
          maximum: 1
          description: Base cyberpsychosis risk contribution
        stability_rating:
          type: number
          minimum: 0
          maximum: 1
          description: Implant stability (higher = more stable)
        failure_probability:
          type: number
          minimum: 0
          maximum: 1
          description: Probability of catastrophic failure
        side_effects:
          type: array
          items:
            $ref: '#/components/schemas/SideEffect'
          description: Possible side effects

    SideEffect:
      description: Implant side effect
      type: object
      required:
        - effect_type
        - severity
      properties:
        effect_type:
          type: string
          enum: [stat_penalty, hallucination, pain, system_overload, mental_instability]
          description: Type of side effect
        severity:
          type: number
          minimum: 0
          maximum: 1
          description: Effect severity (0-1)
        duration_seconds:
          type: integer
          minimum: 0
          description: Effect duration (0 = permanent)
        trigger_probability:
          type: number
          minimum: 0
          maximum: 1
          description: Probability of effect triggering
        description:
          type: string
          maxLength: 200
          description: Human-readable effect description

    ImplantModification:
      description: Custom implant modification
      type: object
      required:
        - modification_type
        - applied_at
      properties:
        modification_type:
          type: string
          enum: [performance_tune, risk_reduction, effect_enhancement, cosmetic_change]
          description: Type of modification
        applied_at:
          type: string
          format: date-time
          description: When modification was applied
        cost_paid:
          type: integer
          minimum: 0
          description: Eddies paid for modification
        stat_changes:
          type: object
          additionalProperties:
            type: number
          description: Stat changes from modification
        risk_changes:
          type: object
          additionalProperties:
            type: number
          description: Risk changes from modification

    CharacterImplantSummary:
      description: Summary of character implants
      type: object
      properties:
        total_implants:
          type: integer
          description: Total installed implants
        active_implants:
          type: integer
          description: Implants in good condition
        degraded_implants:
          type: integer
          description: Implants needing maintenance
        cyberpsychosis_risk:
          type: number
          minimum: 0
          maximum: 1
          description: Total cyberpsychosis risk
        compatibility_score:
          type: number
          minimum: 0
          maximum: 1
          description: Overall implant compatibility
        implants_by_type:
          type: object
          additionalProperties:
            type: integer
          description: Count by implant type

    CompatibilityResult:
      description: Result of implant compatibility check
      type: object
      required:
        - compatible
        - compatibility_score
      properties:
        compatible:
          type: boolean
          description: Whether implants are compatible
        compatibility_score:
          type: number
          minimum: 0
          maximum: 1
          description: Compatibility score (0 = incompatible, 1 = perfect)
        synergy_bonuses:
          type: array
          items:
            type: object
            properties:
              bonus_type:
                type: string
                description: Type of synergy bonus
              bonus_value:
                type: number
                description: Bonus magnitude
              description:
                type: string
                description: Human-readable bonus description
          description: Available synergy bonuses
        conflict_warnings:
          type: array
          items:
            type: object
            properties:
              conflict_type:
                type: string
                description: Type of conflict
              severity:
                type: number
                minimum: 0
                maximum: 1
                description: Conflict severity
              description:
                type: string
                description: Human-readable conflict description
          description: Compatibility warnings
        recommended_actions:
          type: array
          items:
            type: string
          description: Recommended actions to improve compatibility

    RiskAssessment:
      description: Cyberpsychosis risk assessment
      type: object
      required:
        - total_risk
        - risk_level
      properties:
        total_risk:
          type: number
          minimum: 0
          maximum: 1
          description: Total cyberpsychosis risk (0-1)
        risk_level:
          type: string
          enum: [low, moderate, high, critical, imminent]
          description: Risk level category
        risk_contributors:
          type: array
          items:
            type: object
            properties:
              implant_id:
                type: string
                format: uuid
                description: Contributing implant ID
              risk_contribution:
                type: number
                minimum: 0
                maximum: 1
                description: Risk contribution from this implant
              risk_factors:
                type: array
                items:
                  type: string
                description: Specific risk factors
          description: Breakdown of risk contributors
        mitigation_recommendations:
          type: array
          items:
            type: object
            properties:
              action_type:
                type: string
                enum: [remove_implant, upgrade_implant, maintenance, therapy]
                description: Recommended action type
              priority:
                type: string
                enum: [low, medium, high, urgent]
                description: Action priority
              description:
                type: string
                description: Action description
              expected_risk_reduction:
                type: number
                minimum: 0
                maximum: 1
                description: Expected risk reduction
          description: Recommended risk mitigation actions
        predicted_risk_timeline:
          type: array
          items:
            type: object
            properties:
              time_point:
                type: string
                format: date-time
                description: Future time point
              predicted_risk:
                type: number
                minimum: 0
                maximum: 1
                description: Predicted risk at this time
          description: Risk prediction over time

    MaintenanceSchedule:
      description: Scheduled implant maintenance
      type: object
      required:
        - implant_id
        - scheduled_for
        - maintenance_type
      properties:
        implant_id:
          type: string
          format: uuid
          description: Implant requiring maintenance
        scheduled_for:
          type: string
          format: date-time
          description: Scheduled maintenance time
        maintenance_type:
          type: string
          enum: [preventive, repair, calibration, upgrade_prep]
          description: Type of maintenance
        estimated_cost:
          type: integer
          minimum: 0
          description: Estimated eddies cost
        estimated_duration_minutes:
          type: integer
          minimum: 1
          description: Estimated duration in minutes
        required_parts:
          type: object
          additionalProperties:
            type: integer
            minimum: 0
          description: Required parts and quantities
        priority:
          type: string
          enum: [low, normal, high, critical]
          description: Maintenance priority

    MaintenanceResult:
      description: Result of maintenance operation
      type: object
      required:
        - implant_id
        - maintenance_type
        - success
      properties:
        implant_id:
          type: string
          format: uuid
          description: Maintained implant ID
        maintenance_type:
          type: string
          enum: [preventive, repair, calibration, upgrade_prep]
          description: Type of maintenance performed
        success:
          type: boolean
          description: Whether maintenance was successful
        condition_improvement:
          type: number
          minimum: 0
          maximum: 1
          description: Condition improvement achieved
        degradation_reduction:
          type: number
          minimum: 0
          maximum: 1
          description: Degradation rate reduction
        cost_incurred:
          type: integer
          minimum: 0
          description: Actual cost incurred
        parts_used:
          type: object
          additionalProperties:
            type: integer
            minimum: 0
          description: Parts actually used
        next_maintenance_due:
          type: string
          format: date-time
          description: Next maintenance due date

    StatChanges:
      description: Summary of stat changes from implant operations
      type: object
      properties:
        strength:
          type: number
          description: Strength change
        agility:
          type: number
          description: Agility change
        intelligence:
          type: number
          description: Intelligence change
        reaction_time:
          type: number
          description: Reaction time change
        cyberpsychosis_risk:
          type: number
          description: Cyberpsychosis risk change

    ImplantUsageAnalytics:
      description: Comprehensive implant usage analytics
      type: object
      properties:
        time_range:
          type: object
          properties:
            start_date:
              type: string
              format: date-time
            end_date:
              type: string
              format: date-time
        total_installations:
          type: integer
          description: Total implant installations
        unique_characters:
          type: integer
          description: Number of unique characters with implants
        average_implants_per_character:
          type: number
          description: Average implants per character
        implant_type_distribution:
          type: object
          additionalProperties:
            type: integer
          description: Distribution by implant type
        popular_templates:
          type: array
          items:
            type: object
            properties:
              template_id:
                type: string
                format: uuid
              installation_count:
                type: integer
              average_tier:
                type: number
              failure_rate:
                type: number
                minimum: 0
                maximum: 1
          description: Most installed implant templates
        risk_analytics:
          type: object
          properties:
            average_cyberpsychosis_risk:
              type: number
              minimum: 0
              maximum: 1
              description: Average cyberpsychosis risk
            risk_distribution:
              type: object
              additionalProperties:
                type: integer
              description: Characters by risk level
            cyberpsychosis_incidents:
              type: integer
              description: Number of cyberpsychosis incidents
            risk_mitigation_effectiveness:
              type: number
              minimum: 0
              maximum: 1
              description: Effectiveness of risk mitigation
        maintenance_analytics:
          type: object
          properties:
            average_maintenance_cost:
              type: integer
              description: Average cost per maintenance
            maintenance_frequency_days:
              type: number
              description: Average days between maintenance
            maintenance_compliance_rate:
              type: number
              minimum: 0
              maximum: 1
              description: Rate of timely maintenance
            failure_prevention_rate:
              type: number
              minimum: 0
              maximum: 1
              description: Rate of failures prevented by maintenance

    ImplantTemplateSummary:
      description: Implant template summary for listings
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        implant_type:
          type: string
          enum: [combat, utility, medical, neural]
        rarity:
          type: string
          enum: [common, uncommon, rare, epic, legendary]
        base_installation_cost:
          type: integer
        is_active:
          type: boolean
        last_updated:
          type: string
          format: date-time

    # Request/Response schemas
    InstallImplantRequest:
      description: Request payload for implant installation
      type: object
      required:
        - character_id
        - template_id
        - target_body_part
      properties:
        character_id:
          type: string
          format: uuid
          description: Character to install implant on
        template_id:
          type: string
          format: uuid
          description: Implant template to install
        target_body_part:
          type: string
          enum: [head, eyes, arms, hands, torso, legs, spine, brain]
          description: Body part for installation
        installation_quality:
          type: string
          enum: [standard, premium, black_market]
          default: "standard"
          description: Installation quality affecting risk
        override_compatibility:
          type: boolean
          default: false
          description: Override compatibility warnings
        custom_modifications:
          type: array
          items:
            $ref: '#/components/schemas/ImplantModification'
          description: Custom modifications to apply

    RemoveImplantRequest:
      description: Request payload for implant removal
      type: object
      required:
        - implant_instance_id
      properties:
        implant_instance_id:
          type: string
          format: uuid
          description: Implant instance to remove
        removal_method:
          type: string
          enum: [surgical, emergency, self_removal]
          default: "surgical"
          description: Removal method affecting side effects
        preserve_upgrades:
          type: boolean
          default: false
          description: Attempt to preserve upgrade investments

    UpgradeImplantRequest:
      description: Request payload for implant upgrade
      type: object
      required:
        - implant_instance_id
        - target_tier
      properties:
        implant_instance_id:
          type: string
          format: uuid
          description: Implant instance to upgrade
        target_tier:
          type: integer
          minimum: 2
          maximum: 10
          description: Desired tier level
        upgrade_quality:
          type: string
          enum: [standard, premium, experimental]
          default: "standard"
          description: Upgrade quality affecting success rate

    CompatibilityCheckRequest:
      description: Request payload for compatibility check
      type: object
      required:
        - character_id
        - implant_template_id
      properties:
        character_id:
          type: string
          format: uuid
          description: Character to check compatibility for
        implant_template_id:
          type: string
          format: uuid
          description: Implant template to check
        target_body_part:
          type: string
          enum: [head, eyes, arms, hands, torso, legs, spine, brain]
          description: Target installation location
        include_synergy_analysis:
          type: boolean
          default: true
          description: Include synergy bonus analysis

    RiskAssessmentRequest:
      description: Request payload for risk assessment
      type: object
      required:
        - character_id
      properties:
        character_id:
          type: string
          format: uuid
          description: Character to assess risk for
        include_future_predictions:
          type: boolean
          default: true
          description: Include risk predictions over time
        assessment_scope:
          type: string
          enum: [current, with_planned_implants, hypothetical]
          default: "current"
          description: Scope of risk assessment
        hypothetical_implants:
          type: array
          items:
            type: string
            format: uuid
          description: Hypothetical implants to include in assessment

    MaintenanceScheduleRequest:
      description: Request payload for maintenance scheduling
      type: object
      required:
        - implant_instance_id
        - maintenance_type
      properties:
        implant_instance_id:
          type: string
          format: uuid
          description: Implant requiring maintenance
        maintenance_type:
          type: string
          enum: [preventive, repair, calibration, upgrade_prep]
          description: Type of maintenance needed
        preferred_schedule:
          type: string
          format: date-time
          description: Preferred maintenance time
        priority_override:
          type: string
          enum: [low, normal, high, critical]
          description: Override default priority

    PerformMaintenanceRequest:
      description: Request payload for performing maintenance
      type: object
      required:
        - implant_instance_id
        - maintenance_type
      properties:
        implant_instance_id:
          type: string
          format: uuid
          description: Implant to maintain
        maintenance_type:
          type: string
          enum: [preventive, repair, calibration, upgrade_prep]
          description: Maintenance to perform
        use_premium_parts:
          type: boolean
          default: false
          description: Use premium parts for better results
        rush_service:
          type: boolean
          default: false
          description: Rush service for faster completion

    CreateImplantTemplateRequest:
      description: Request payload for creating implant template
      type: object
      required:
        - name
        - implant_type
        - category
        - slot_requirements
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Template name
        description:
          type: string
          maxLength: 500
          description: Template description
        implant_type:
          type: string
          enum: [combat, utility, medical, neural]
          description: Implant type
        category:
          type: string
          minLength: 1
          maxLength: 50
          description: Implant category
        rarity:
          type: string
          enum: [common, uncommon, rare, epic, legendary]
          default: "common"
          description: Implant rarity
        base_installation_cost:
          type: integer
          minimum: 0
          description: Base installation cost
        slot_requirements:
          $ref: '#/components/schemas/SlotRequirements'
        stat_modifiers:
          type: object
          description: Stat modifications
          additionalProperties:
            type: number
        effect_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Associated effect IDs
        compatibility_rules:
          $ref: '#/components/schemas/CompatibilityRules'
        upgrade_path:
          type: array
          items:
            $ref: '#/components/schemas/UpgradeTier'
          description: Upgrade tiers
        maintenance_requirements:
          $ref: '#/components/schemas/MaintenanceRequirements'
        risk_factors:
          $ref: '#/components/schemas/RiskFactors'

  securitySchemes:
    BearerAuth:
      $ref: '../common/security/security.yaml#/BearerAuth'
    ServiceAuth:
      $ref: '../common/security/security.yaml#/ServiceAuth'

# Performance and optimization notes
x-performance:
  p99-latency: "<35ms"
  throughput-target: "25,000+ implant operations/second"
  concurrent-implants-target: "200,000+ active implants"
  memory-per-character-target: "<3KB for implants"
  database-indexes: "Composite indexes on (character_id, condition), (template_id, implant_type), (installed_at, next_maintenance_due)"

# Monitoring and observability
x-monitoring:
  metrics:
    - implant_install_rate
    - compatibility_check_rate
    - cyberpsychosis_risk_average
    - maintenance_compliance
    - implant_failure_rate
  alerts:
    - cyberpsychosis_risk_average > 0.7
    - implant_failure_rate > 0.05
    - maintenance_compliance < 0.8

# Implant system specifics
x-implant-system:
  cyberpsychosis-model: "Multi-factor risk assessment with implant synergy calculations"
  compatibility-engine: "Real-time compatibility validation with conflict detection"
  maintenance-scheduler: "Predictive maintenance based on usage patterns and degradation models"
  upgrade-system: "Tier-based progression with material and cost scaling"

# Domain inheritance documentation
x-domain-inheritance:
  inherits-from: "common/schemas/game-entities.yaml"
  inherited-entities: "BaseGameEntity, CharacterEntity, CombatActionEntity, AbilityEntity"
  additional-schemas: "Implant compatibility rules, cyberpsychosis risk models, maintenance scheduling, upgrade systems"
  no-duplication: "All common fields inherited, implant-specific cyberpunk mechanics and risk systems added"

