# Combat Implants Limits API - Request/Response модели
# Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md (v1.0.0)
# Раздел: Request/Response модели для endpoints

openapi: 3.0.3
info:
  title: Combat Implants Limits - Request/Response Models
  version: 1.0.0

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay
    package: com.necpgame.gameplayservice
paths: {}

components:
  schemas:
    # Request модели
    CompatibilityCheckRequest:
      type: object
      required:
        - implant_id
        - target_slot
      description: Запрос на проверку совместимости
      properties:
        implant_id:
          type: string
          format: uuid
          description: Идентификатор импланта для проверки
        target_slot:
          type: string
          format: uuid
          description: Целевой слот для установки

    CalculateLimitRequest:
      type: object
      description: Запрос на расчет лимита имплантов
      properties:
        class_bonus:
          type: integer
          minimum: 0
          description: Бонус от класса
        progression_bonus:
          type: integer
          minimum: 0
          description: Бонус от прокачки
        humanity_level:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Уровень человечности (0-100)

    CalculateEnergyRequest:
      type: object
      required:
        - implant_ids
      description: Запрос на расчет энергетического потребления
      properties:
        implant_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Идентификаторы имплантов для расчета

    RestoreEnergyRequest:
      type: object
      required:
        - amount
        - method
      description: Запрос на восстановление энергии
      properties:
        amount:
          type: number
          format: float
          minimum: 0
          description: Количество энергии для восстановления
        method:
          type: string
          enum: [natural, consumable, ability, other]
          description: Метод восстановления энергии

    ValidateInstallRequest:
      type: object
      required:
        - implant_id
        - target_slot
      description: Запрос на валидацию установки импланта
      properties:
        implant_id:
          type: string
          format: uuid
          description: Идентификатор импланта для установки
        target_slot:
          type: string
          format: uuid
          description: Целевой слот для установки






















servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
