# Combat Implants Limits API - Главный файл
# Источник: .BRAIN/02-gameplay/combat/combat-implants-limits.md (v1.0.0)
# Задание: API-SWAGGER/tasks/active/queue/task-003-combat-implants-limits-api.md
# Task ID: API-TASK-003

openapi: 3.0.3
info:
  title: Combat Implants Limits API
  version: 1.0.0
  description: |
    # API для ограничений и энергетики имплантов
    
    ## Описание
    
    Система ограничений имплантов определяет правила установки и использования имплантов персонажа.
    API предоставляет функционал для проверки ограничений имплантов, управления лимитом имплантов
    и управления энергетическим лимитом.
    
    ## Источники
    
    - Оригинальный документ: `.BRAIN/02-gameplay/combat/combat-implants-limits.md`
    - Версия документа: v1.0.0
    - Задание: `API-SWAGGER/tasks/active/queue/task-003-combat-implants-limits-api.md`
    - Task ID: API-TASK-003
    
    ## Структура API
    
    API разбито на несколько файлов для удобства поддержки:
    - Endpoints: `implants-limits-endpoints.yaml`
    - Модели: `implants-limits-models.yaml`
    - Request/Response: `implants-limits-requests.yaml`
    
    ## Комментарии для исполнителя
    
    - Все данные хранятся в БД PostgreSQL
    - Валидация выполняется на бекенде
    - Все операции проверяют ограничения имплантов (слоты, совместимость, общий лимит)
    - Все операции проверяют энергетический лимит (общий пул, индивидуальные ограничения)
    - Все операции учитывают влияние человечности на лимиты

  x-microservice:
    name: gameplay-service
    port: 8083
    domain: gameplay
    base-path: /api/v1/gameplay/combat
    package: com.necpgame.gameplayservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

paths:
  # Все endpoints определены в отдельных файлах через $ref
  # См. implants-limits-endpoints.yaml
  /gameplay/combat/implants/{player_id}/slots:
    $ref: './implants-limits-endpoints.yaml#/paths/~1gameplay~1combat~1implants~1{player_id}~1slots'
  /gameplay/combat/implants/{player_id}/compatibility:
    $ref: './implants-limits-endpoints.yaml#/paths/~1gameplay~1combat~1implants~1{player_id}~1compatibility'
  /gameplay/combat/implants/{player_id}/limits:
    $ref: './implants-limits-endpoints.yaml#/paths/~1gameplay~1combat~1implants~1{player_id}~1limits'
  /gameplay/combat/implants/{player_id}/limit:
    $ref: './implants-limits-endpoints.yaml#/paths/~1gameplay~1combat~1implants~1{player_id}~1limit'
  /gameplay/combat/implants/{player_id}/limit/calculate:
    $ref: './implants-limits-endpoints.yaml#/paths/~1gameplay~1combat~1implants~1{player_id}~1limit~1calculate'
  /gameplay/combat/implants/{player_id}/energy:
    $ref: './implants-limits-endpoints.yaml#/paths/~1gameplay~1combat~1implants~1{player_id}~1energy'
  /gameplay/combat/implants/{player_id}/energy/calculate:
    $ref: './implants-limits-endpoints.yaml#/paths/~1gameplay~1combat~1implants~1{player_id}~1energy~1calculate'
  /gameplay/combat/implants/{player_id}/energy/restore:
    $ref: './implants-limits-endpoints.yaml#/paths/~1gameplay~1combat~1implants~1{player_id}~1energy~1restore'
  /gameplay/combat/implants/{player_id}/energy/limits:
    $ref: './implants-limits-endpoints.yaml#/paths/~1gameplay~1combat~1implants~1{player_id}~1energy~1limits'
  /gameplay/combat/implants/{player_id}/validate-install:
    $ref: './implants-limits-endpoints.yaml#/paths/~1gameplay~1combat~1implants~1{player_id}~1validate-install'

components:
  # Импорт схем из отдельных файлов
  schemas:
    # Базовые модели
    ImplantSlots:
      $ref: './implants-limits-models.yaml#/components/schemas/ImplantSlots'
    SlotInfo:
      $ref: './implants-limits-models.yaml#/components/schemas/SlotInfo'
    CompatibilityResult:
      $ref: './implants-limits-models.yaml#/components/schemas/CompatibilityResult'
    Conflict:
      $ref: './implants-limits-models.yaml#/components/schemas/Conflict'
    Warning:
      $ref: './implants-limits-models.yaml#/components/schemas/Warning'
    
    # Лимиты имплантов
    ImplantLimits:
      $ref: './implants-limits-models.yaml#/components/schemas/ImplantLimits'
    ImplantLimitInfo:
      $ref: './implants-limits-models.yaml#/components/schemas/ImplantLimitInfo'
    ImplantLimitCalculation:
      $ref: './implants-limits-models.yaml#/components/schemas/ImplantLimitCalculation'
    
    # Энергетический лимит
    EnergyPoolInfo:
      $ref: './implants-limits-models.yaml#/components/schemas/EnergyPoolInfo'
    EnergyCalculation:
      $ref: './implants-limits-models.yaml#/components/schemas/EnergyCalculation'
    IndividualLimit:
      $ref: './implants-limits-models.yaml#/components/schemas/IndividualLimit'
    EnergyRestoreResult:
      $ref: './implants-limits-models.yaml#/components/schemas/EnergyRestoreResult'
    IndividualEnergyLimits:
      $ref: './implants-limits-models.yaml#/components/schemas/IndividualEnergyLimits'
    
    # Валидация
    ValidationResult:
      $ref: './implants-limits-models.yaml#/components/schemas/ValidationResult'
    Reason:
      $ref: './implants-limits-models.yaml#/components/schemas/Reason'
    Error:
      $ref: './implants-limits-models.yaml#/components/schemas/Error'
    
    # Request/Response модели
    CompatibilityCheckRequest:
      $ref: './implants-limits-requests.yaml#/components/schemas/CompatibilityCheckRequest'
    CalculateLimitRequest:
      $ref: './implants-limits-requests.yaml#/components/schemas/CalculateLimitRequest'
    CalculateEnergyRequest:
      $ref: './implants-limits-requests.yaml#/components/schemas/CalculateEnergyRequest'
    RestoreEnergyRequest:
      $ref: './implants-limits-requests.yaml#/components/schemas/RestoreEnergyRequest'
    ValidateInstallRequest:
      $ref: './implants-limits-requests.yaml#/components/schemas/ValidateInstallRequest'
  
  # Импорт стандартных ответов
  responses:
    BadRequest:
      $ref: '../../../shared/common/responses.yaml#/components/responses/BadRequest'
    Unauthorized:
      $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized'
    Forbidden:
      $ref: '../../../shared/common/responses.yaml#/components/responses/Forbidden'
    NotFound:
      $ref: '../../../shared/common/responses.yaml#/components/responses/NotFound'
    Conflict:
      $ref: '../../../shared/common/responses.yaml#/components/responses/Conflict'
    UnprocessableEntity:
      $ref: '../../../shared/common/responses.yaml#/components/responses/UnprocessableEntity'
    InternalServerError:
      $ref: '../../../shared/common/responses.yaml#/components/responses/InternalServerError'
  
  # Импорт схем безопасности
  securitySchemes:
    BearerAuth:
      $ref: '../../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'

