openapi: 3.0.3
info:
  title: Common Components for Progression Domain
  description: Shared parameters, responses, and schemas for progression services
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.necpgame.com/v1/progression
    description: Production server
  - url: http://localhost:8080/v1/progression
    description: Local development

paths: { }

components:
  parameters:
    Limit:
      name: limit
      in: query
      description: Maximum number of items to return
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 100
        default: 20

    Offset:
      name: offset
      in: query
      description: Number of items to skip
      required: false
      schema:
        type: integer
        format: int32
        minimum: 0
        default: 0

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            required:
              - message
              - code
            properties:
              message:
                type: string
                example: Resource not found
              code:
                type: integer
                format: int32
                example: 404

    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            type: object
            required:
              - message
              - code
            properties:
              message:
                type: string
                example: Authentication required
              code:
                type: integer
                format: int32
                example: 401

    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            type: object
            required:
              - message
              - code
            properties:
              message:
                type: string
                example: Invalid request parameters
              code:
                type: integer
                format: int32
                example: 400

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            required:
              - message
              - code
            properties:
              message:
                type: string
                example: Internal server error
              code:
                type: integer
                format: int32
                example: 500

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
