openapi: 3.0.3
info:
  title: Combat Damage Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Combat Damage Calculation API for NECPGAME**

    This API manages all combat damage calculations, damage modifiers, critical hits,
    damage resistances, and damage-over-time effects in the Night City universe, providing
    comprehensive damage processing for MMOFPS gameplay.

    ## Key Features

    - **Damage Calculation**: Real-time damage computation with modifiers and resistances
    - **Critical Hit System**: Dynamic crit chance and damage multipliers - **Damage
    Mitigation**: Armor, shields, and resistance calculations - **DOT Effects**: Damage-over-time
    effects with stacking and refresh mechanics - **Performance Optimized**: MMOFPS-grade
    performance with <5ms P99 latency - **Struct Alignment**: 30-50% memory savings
    for damage calculation structs

    ## Domain Purpose

    The Combat Damage domain handles all damage-related calculations in Night City.
    Players deal and receive damage that defines combat outcomes and strategic gameplay
    in dynamic battle scenarios.

    ## Performance Targets

    - P99 Latency: <5ms for damage operations - Memory: <8KB per active damage session
    - Concurrent users: 75,000+ simultaneous damage calculations - Calculation time:
    <2ms response time

    '
  version: 1.0.0
  license:
    name: Proprietary
    url: https://necpgame.com/license
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@combat-damage.necpgame.com
servers:
- url: https://api.necpgame.com/v1/combat-damage
  description: Production server
- url: https://staging-api.necpgame.com/v1/combat-damage
  description: Staging server
- url: http://localhost:8080/api/v1/combat-damage
  description: Local development server
security: []
tags:
- name: Damage Calculation
  description: Core damage computation operations
- name: Critical Hits
  description: Critical hit chance and damage calculations
- name: Damage Mitigation
  description: Armor, shields, and resistance mechanics
- name: Damage Over Time
  description: DOT effects and stacking mechanics
- name: Damage Analytics
  description: Damage statistics and performance metrics
- name: Anti-Cheat
  description: Damage validation and cheat prevention
- name: AI Optimization
  description: AI-powered damage prediction and optimization
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /combat/damage/calculate:
    $ref: ./paths/combat-damage-calculate.yaml#/paths/~1combat~1damage~1calculate
  /combat/damage/critical:
    $ref: ./paths/combat-damage-critical.yaml#/paths/~1combat~1damage~1critical
  /combat/damage/mitigation:
    $ref: ./paths/combat-damage-mitigation.yaml#/paths/~1combat~1damage~1mitigation
  /combat/damage/dot:
    $ref: ./paths/combat-damage-dot.yaml#/paths/~1combat~1damage~1dot
  /combat/damage/analytics/{session_id}:
    $ref: ./paths/combat-damage-analytics-{session_id}.yaml#/paths/~1combat~1damage~1analytics~1{session_id}
  /combat/damage/validate:
    $ref: ./paths/combat-damage-validate.yaml#/paths/~1combat~1damage~1validate
components:
  schemas:
    DamageCalculationRequest:
      $ref: ./schemas/combat-damage-service-schemas.yaml#/components/schemas/DamageCalculationRequest
    DamageCalculationResponse:
      $ref: ./schemas/combat-damage-service-schemas.yaml#/components/schemas/DamageCalculationResponse
    DamageModifier:
      $ref: ./schemas/combat-damage-service-schemas.yaml#/components/schemas/DamageModifier
    CriticalHitRequest:
      $ref: ./schemas/combat-damage-service-schemas.yaml#/components/schemas/CriticalHitRequest
    CriticalHitResponse:
      $ref: ./schemas/combat-damage-service-schemas.yaml#/components/schemas/CriticalHitResponse
    DamageMitigationRequest:
      $ref: ./schemas/combat-damage-service-schemas.yaml#/components/schemas/DamageMitigationRequest
    DamageMitigationResponse:
      $ref: ./schemas/combat-damage-service-schemas.yaml#/components/schemas/DamageMitigationResponse
    DotApplicationRequest:
      $ref: ./schemas/combat-damage-service-schemas.yaml#/components/schemas/DotApplicationRequest
    DotApplicationResponse:
      $ref: ./schemas/combat-damage-service-schemas.yaml#/components/schemas/DotApplicationResponse
    DamageAnalyticsResponse:
      $ref: ./schemas/combat-damage-service-schemas.yaml#/components/schemas/DamageAnalyticsResponse
    DamageValidationRequest:
      $ref: ./schemas/combat-damage-service-schemas.yaml#/components/schemas/DamageValidationRequest
    DamageValidationResponse:
      $ref: ./schemas/combat-damage-service-schemas.yaml#/components/schemas/DamageValidationResponse
    Error:
      $ref: ./schemas/combat-damage-service-schemas.yaml#/components/schemas/Error
  responses:
    BadRequest:
      $ref: ./schemas/combat-damage-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/combat-damage-service-responses.yaml#/components/responses/Unauthorized
    Forbidden:
      $ref: ./schemas/combat-damage-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/combat-damage-service-responses.yaml#/components/responses/NotFound
    OK:
      $ref: ./schemas/combat-damage-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/combat-damage-service-responses.yaml#/components/responses/Created
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
