openapi: 3.0.3
info:
  title: World State API
  version: 1.0.0
  description: |
    API для глобального состояния мира (живой мир).
    
    Источник: .BRAIN/02-gameplay/world/world-state-player-impact.md v1.0.0
    
    5 уровней влияния: Individual → Group → Faction → Regional → Global
    Категории: Territory Control, Faction Power, Economy, Technology, Social, Quest Progress, Environmental
    
    Философия: KENSHI + RIMWORLD + EVE Online (мир живет сам по себе)

  x-microservice:
    name: world-service
    port: 8086
    domain: world
    base-path: /api/v1/gameplay/world
    package: com.necpgame.worldservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: World State
    description: Глобальное состояние мира
  - name: Player Impact
    description: Влияние игроков на мир

paths:
  /gameplay/world/world-state:
    get:
      summary: Получить глобальное состояние мира
      description: |
        Возвращает текущее состояние мира по категориям.
        Можно фильтровать по категории, региону, фракции.
      operationId: getWorldState
      tags:
        - World State
      parameters:
        - name: category
          in: query
          required: false
          schema:
            type: string
            enum: [territory_control, faction_power, economic_state, technology_level, social_structure, quest_progress, environmental]
        - name: region_id
          in: query
          required: false
          schema:
            type: string
        - name: faction_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Состояние мира
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorldState'
              examples:
                night_city_state:
                  summary: Состояние Night City
                  value:
                    region: "night_city"
                    categories:
                      territory_control:
                        dominant_faction: "arasaka"
                        control_percentage: 45
                        contested_districts: ["pacifica", "watson"]
                      faction_power:
                        arasaka: 85
                        militech: 72
                        gangs: 55
                      economic_state:
                        prosperity_level: 65
                        unemployment: 35
                        crime_rate: 72

  /gameplay/world/world-state/{region_id}:
    get:
      summary: Получить состояние региона
      description: Возвращает детальное состояние конкретного региона
      operationId: getRegionState
      tags:
        - World State
      parameters:
        - name: region_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Состояние региона
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionState'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /gameplay/world/world-state/impact:
    post:
      summary: Зарегистрировать влияние на мир
      description: |
        Регистрирует действие игрока, влияющее на состояние мира.
        Влияние агрегируется от индивидуального к глобальному.
      operationId: registerWorldImpact
      tags:
        - Player Impact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorldImpact'
      responses:
        '200':
          description: Влияние зарегистрировано
          content:
            application/json:
              schema:
                type: object
                properties:
                  impact_id:
                    type: string
                  aggregated_level:
                    type: string
                    enum: [individual, group, faction, regional, global]
                  consequences:
                    type: array
                    items:
                      type: object

  /gameplay/world/world-state/faction-power:
    get:
      summary: Получить расстановку сил фракций
      description: Возвращает текущую расстановку сил между фракциями
      operationId: getFactionPower
      tags:
        - World State
      parameters:
        - name: region_id
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Расстановка сил
          content:
            application/json:
              schema:
                type: object
                properties:
                  factions:
                    type: array
                    items:
                      type: object
                      properties:
                        faction_id:
                          type: string
                        power_level:
                          type: number
                        controlled_territories:
                          type: array
                          items:
                            type: string

components:
  schemas:
    WorldState:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: Время состояния (игровое время)
        region:
          type: string
        categories:
          type: object
          description: Состояние по категориям
          properties:
            territory_control:
              type: object
            faction_power:
              type: object
            economic_state:
              type: object
            technology_level:
              type: object
            social_structure:
              type: object
            quest_progress:
              type: object
            environmental:
              type: object

    RegionState:
      type: object
      properties:
        region_id:
          type: string
        name:
          type: string
        dominant_faction:
          type: string
        stability:
          type: number
          description: Стабильность региона (0-100)
        prosperity:
          type: number
        crime_rate:
          type: number
        player_activity:
          type: number
        active_events:
          type: array
          items:
            type: string

    WorldImpact:
      type: object
      required:
        - character_id
        - impact_type
        - impact_category
      properties:
        character_id:
          type: string
        impact_type:
          type: string
          enum: [quest_completion, combat_action, economic_action, social_action, territory_capture]
        impact_category:
          type: string
          enum: [territory_control, faction_power, economic_state, technology_level, social_structure, environmental]
        magnitude:
          type: number
          description: Величина влияния
        affected_entities:
          type: array
          description: Затронутые сущности (регионы, фракции)
          items:
            type: string
        metadata:
          type: object
          description: Дополнительные данные о влиянии
