openapi: 3.0.3
info:
  title: Reputation Service API - Dynamic Reputation System
  description: '**Enterprise-Grade Dynamic Reputation Management API for NECPGAME**

    This API provides advanced reputation decay and recovery mechanics with adaptive
    algorithms that respond to player behavior and game events.

    ## Key Features

    - **Dynamic Decay**: Time-based reputation degradation with contextual factors
    - **Adaptive Recovery**: Behavior-driven reputation restoration algorithms
    - **Multi-dimensional Reputation**: Player, faction, and regional reputation tracking
    - **Real-time Updates**: Event-driven reputation changes with immediate effects
    - **Analytics Integration**: Reputation trends and player behavior insights
    - **Performance Optimized**: MMOFPS-grade performance with <15ms P99 latency

    ## Domain Purpose

    The Reputation Service manages the social fabric of NECPGAME, enabling dynamic
    player relationships that evolve based on actions, time, and social context.

    ## Performance Targets

    - P99 Latency: <15ms for reputation queries, <25ms for updates
    - Memory: <50KB per active reputation profile
    - Concurrent updates: 100,000+ simultaneous reputation changes
    - Decay calculations: Real-time (<5ms per player)

    '
  version: 1.0.0
  contact:
    name: NECPGAME Social Systems API Support
    url: https://necpgame.com/support
    email: social@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/reputation
  description: Production server
- url: https://staging-api.necpgame.com/v1/reputation
  description: Staging server
- url: http://localhost:8080/api/v1/reputation
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Reputation Management
  description: Core reputation tracking and updates
- name: Decay & Recovery
  description: Reputation decay and recovery algorithms
- name: Analytics
  description: Reputation statistics and trends
- name: Configuration
  description: Reputation system configuration
paths:
  /health:
    get:
      summary: Service health check
      description: '**Enterprise-grade health check for reputation service**

        Provides real-time health status including reputation calculations,
        decay processing, and database connectivity.

        Critical for social systems reliability and player trust.

        **Performance:** <2ms response time, cached for 30 seconds
        '
      operationId: reputationServiceHealthCheck
      tags:
      - Analytics
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: ../../../proto/openapi/common/schemas/health.yaml#/HealthResponse
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../../../proto/openapi/common/schemas/health.yaml#/HealthResponse

  /players/{player_id}/reputation:
    get:
      summary: Get player reputation profile
      description: '**Retrieve comprehensive reputation profile for a player**

        Returns current reputation scores across all dimensions (player, faction, region)
        with decay/recovery status and recent history.

        **Performance:** <8ms for cached queries, <20ms for full profile
        '
      operationId: getPlayerReputation
      tags:
      - Reputation Management
      parameters:
      - name: player_id
        in: path
        required: true
        description: Player identifier
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Player reputation profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerReputationProfile'
        '404':
          description: Player not found
          content:
            application/json:
              schema:
                $ref: ../../../proto/openapi/common/responses/errors.yaml#/ErrorResponse

    put:
      summary: Update player reputation
      description: '**Update reputation scores for a player**

        Applies reputation changes with decay/recovery calculations.
        Triggers immediate recalculation of derived reputation metrics.

        **Performance:** <15ms for single update, <50ms for complex calculations
        '
      operationId: updatePlayerReputation
      tags:
      - Reputation Management
      parameters:
      - name: player_id
        in: path
        required: true
        description: Player identifier
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReputationUpdate'
      responses:
        '200':
          description: Reputation updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerReputationProfile'
        '400':
          description: Invalid reputation update
          content:
            application/json:
              schema:
                $ref: ../../../proto/openapi/common/responses/errors.yaml#/ErrorResponse

  /players/{player_id}/reputation/history:
    get:
      summary: Get reputation change history
      description: '**Retrieve reputation change history for a player**

        Returns chronological history of reputation changes with reasons,
        decay events, and recovery activities.

        **Performance:** <12ms for recent history, <30ms for full history
        '
      operationId: getReputationHistory
      tags:
      - Analytics
      parameters:
      - name: player_id
        in: path
        required: true
        description: Player identifier
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        description: Maximum number of records
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      - name: offset
        in: query
        description: Pagination offset
        schema:
          type: integer
          minimum: 0
          default: 0
      - name: reputation_type
        in: query
        description: Filter by reputation type
        schema:
          type: string
          enum: [player, faction, region, global]
      responses:
        '200':
          description: Reputation history retrieved
          content:
            application/json:
              schema:
                type: object
                required: [player_id, history, total_count]
                properties:
                  player_id:
                    type: string
                    format: uuid
                  history:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReputationChange'
                  total_count:
                    type: integer
                    minimum: 0

  /players/{player_id}/reputation/decay:
    post:
      summary: Trigger reputation decay calculation
      description: '**Force immediate decay calculation for a player**

        Manually triggers decay algorithm for testing or administrative purposes.
        Normally runs automatically on schedule.

        **Performance:** <25ms for full decay calculation
        '
      operationId: triggerReputationDecay
      tags:
      - Decay & Recovery
      security:
      - BearerAuth: [admin]
      parameters:
      - name: player_id
        in: path
        required: true
        description: Player identifier
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Decay calculation completed
          content:
            application/json:
              schema:
                type: object
                required: [player_id, decay_applied, new_reputation]
                properties:
                  player_id:
                    type: string
                    format: uuid
                  decay_applied:
                    type: number
                    minimum: 0
                  new_reputation:
                    $ref: '#/components/schemas/PlayerReputationProfile'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: ../../../proto/openapi/common/responses/errors.yaml#/ErrorResponse

  /players/{player_id}/reputation/recovery:
    post:
      summary: Trigger reputation recovery
      description: '**Initiate reputation recovery process**

        Applies recovery algorithms based on player behavior and time factors.
        May include bonus recovery for positive actions.

        **Performance:** <20ms for recovery calculation
        '
      operationId: triggerReputationRecovery
      tags:
      - Decay & Recovery
      parameters:
      - name: player_id
        in: path
        required: true
        description: Player identifier
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecoveryRequest'
      responses:
        '200':
          description: Recovery applied successfully
          content:
            application/json:
              schema:
                type: object
                required: [player_id, recovery_applied, new_reputation]
                properties:
                  player_id:
                    type: string
                    format: uuid
                  recovery_applied:
                    type: number
                    minimum: 0
                  new_reputation:
                    $ref: '#/components/schemas/PlayerReputationProfile'
        '400':
          description: Invalid recovery request
          content:
            application/json:
              schema:
                $ref: ../../../proto/openapi/common/responses/errors.yaml#/ErrorResponse

  /config/decay-rules:
    get:
      summary: Get decay configuration
      description: '**Retrieve current decay algorithm configuration**

        Returns active decay rules and parameters for all reputation types.

        **Performance:** <5ms cached response
        '
      operationId: getDecayConfiguration
      tags:
      - Configuration
      responses:
        '200':
          description: Decay configuration retrieved
          content:
            application/json:
              schema:
                type: object
                required: [decay_rules, last_updated]
                properties:
                  decay_rules:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/DecayRule'
                  last_updated:
                    type: string
                    format: date-time

    put:
      summary: Update decay configuration
      description: '**Update decay algorithm parameters**

        Modifies decay rules and rates. Requires admin privileges.

        **Performance:** <10ms for configuration update
        '
      operationId: updateDecayConfiguration
      tags:
      - Configuration
      security:
      - BearerAuth: [admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decay_rules]
              properties:
                decay_rules:
                  type: object
                  additionalProperties:
                    $ref: '#/components/schemas/DecayRule'
      responses:
        '200':
          description: Decay configuration updated
          content:
            application/json:
              schema:
                type: object
                required: [decay_rules, last_updated]
                properties:
                  decay_rules:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/DecayRule'
                  last_updated:
                    type: string
                    format: date-time
        '400':
          description: Invalid configuration
          content:
            application/json:
              schema:
                $ref: ../../../proto/openapi/common/responses/errors.yaml#/ErrorResponse

  /analytics/reputation-stats:
    get:
      summary: Get reputation system statistics
      description: '**Retrieve comprehensive reputation system analytics**

        Provides system-wide reputation statistics, trends, and health metrics.

        **Performance:** <15ms for statistics aggregation
        '
      operationId: getReputationStatistics
      tags:
      - Analytics
      parameters:
      - name: timeframe
        in: query
        description: Analysis timeframe
        schema:
          type: string
          enum: [1h, 6h, 24h, 7d, 30d]
          default: 24h
      responses:
        '200':
          description: Reputation statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReputationStatistics'

components:
  schemas:
    PlayerReputationProfile:
      type: object
      required: [player_id, reputation_scores, decay_status, recovery_status, last_updated]
      properties:
        player_id:
          type: string
          format: uuid
          description: Player identifier
        reputation_scores:
          type: object
          description: Reputation scores by type
          additionalProperties:
            $ref: '#/components/schemas/ReputationScore'
        decay_status:
          $ref: '#/components/schemas/DecayStatus'
        recovery_status:
          $ref: '#/components/schemas/RecoveryStatus'
        last_updated:
          type: string
          format: date-time
        reputation_level:
          type: string
          enum: [outcast, neutral, respected, honored, legendary]
          description: Overall reputation level

    ReputationScore:
      type: object
      required: [current_value, base_value, decay_rate, recovery_rate, last_decay, next_decay]
      properties:
        current_value:
          type: number
          minimum: -1000
          maximum: 1000
          description: Current reputation value
        base_value:
          type: number
          minimum: -1000
          maximum: 1000
          description: Base reputation value (before decay)
        decay_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Daily decay rate (0-1)
        recovery_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Recovery rate multiplier
        last_decay:
          type: string
          format: date-time
          description: Last decay application
        next_decay:
          type: string
          format: date-time
          description: Next scheduled decay
        reputation_type:
          type: string
          enum: [player, faction, region, global]
        target_id:
          type: string
          format: uuid
          description: Target entity ID (faction_id, region_id, etc.)

    DecayStatus:
      type: object
      required: [is_active, last_run, next_run, total_decayed]
      properties:
        is_active:
          type: boolean
          description: Whether decay is active for this player
        last_run:
          type: string
          format: date-time
        next_run:
          type: string
          format: date-time
        total_decayed:
          type: number
          minimum: 0
          description: Total reputation lost to decay
        decay_multiplier:
          type: number
          minimum: 0.1
          maximum: 5.0
          description: Current decay speed multiplier

    RecoveryStatus:
      type: object
      required: [available_recovery, last_recovery, recovery_cooldown]
      properties:
        available_recovery:
          type: number
          minimum: 0
          description: Available recovery points
        last_recovery:
          type: string
          format: date-time
        recovery_cooldown:
          type: integer
          minimum: 0
          description: Seconds until next recovery available
        recovery_streak:
          type: integer
          minimum: 0
          description: Current recovery streak

    ReputationUpdate:
      type: object
      required: [reputation_type, change_amount, reason]
      properties:
        reputation_type:
          type: string
          enum: [player, faction, region, global]
        target_id:
          type: string
          format: uuid
          description: Target entity ID
        change_amount:
          type: number
          minimum: -1000
          maximum: 1000
          description: Reputation change amount
        reason:
          type: string
          minLength: 1
          maxLength: 200
          description: Reason for reputation change
        event_id:
          type: string
          format: uuid
          description: Associated game event ID
        metadata:
          type: object
          description: Additional event metadata
          additionalProperties: true

    ReputationChange:
      type: object
      required: [id, timestamp, reputation_type, old_value, new_value, change_amount, reason]
      properties:
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        reputation_type:
          type: string
          enum: [player, faction, region, global, decay, recovery]
        target_id:
          type: string
          format: uuid
        old_value:
          type: number
        new_value:
          type: number
        change_amount:
          type: number
        reason:
          type: string
        event_id:
          type: string
          format: uuid

    RecoveryRequest:
      type: object
      required: [recovery_type, context]
      properties:
        recovery_type:
          type: string
          enum: [time_based, action_based, event_based, bonus]
          description: Type of recovery to apply
        context:
          type: object
          description: Recovery context information
          additionalProperties: true
        bonus_multiplier:
          type: number
          minimum: 1.0
          maximum: 5.0
          description: Bonus recovery multiplier

    DecayRule:
      type: object
      required: [reputation_type, base_decay_rate, decay_interval_hours, min_reputation, max_reputation]
      properties:
        reputation_type:
          type: string
          enum: [player, faction, region, global]
        base_decay_rate:
          type: number
          minimum: 0
          maximum: 1
          description: Base daily decay rate (0-1)
        decay_interval_hours:
          type: integer
          minimum: 1
          maximum: 168
          description: Hours between decay applications
        min_reputation:
          type: number
          minimum: -1000
          maximum: 0
          description: Minimum reputation before decay stops
        max_reputation:
          type: number
          minimum: 0
          maximum: 1000
          description: Maximum reputation for decay calculations
        activity_multiplier:
          type: number
          minimum: 0.1
          maximum: 2.0
          description: Decay multiplier based on player activity
        faction_modifier:
          type: number
          minimum: 0.5
          maximum: 2.0
          description: Decay modifier for faction relationships

    ReputationStatistics:
      type: object
      required: [timeframe, total_players, average_reputation, reputation_distribution, decay_events, recovery_events]
      properties:
        timeframe:
          type: string
          enum: [1h, 6h, 24h, 7d, 30d]
        total_players:
          type: integer
          minimum: 0
        average_reputation:
          type: object
          additionalProperties:
            type: number
        reputation_distribution:
          type: object
          description: Reputation level distribution
          properties:
            outcast:
              type: integer
              minimum: 0
            neutral:
              type: integer
              minimum: 0
            respected:
              type: integer
              minimum: 0
            honored:
              type: integer
              minimum: 0
            legendary:
              type: integer
              minimum: 0
        decay_events:
          type: integer
          minimum: 0
          description: Total decay events in timeframe
        recovery_events:
          type: integer
          minimum: 0
          description: Total recovery events in timeframe
        most_changed_players:
          type: array
          items:
            type: object
            required: [player_id, reputation_change]
            properties:
              player_id:
                type: string
                format: uuid
              reputation_change:
                type: number

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: '**JWT Bearer token authentication for reputation operations**

        Use `Authorization: Bearer {token}` header for API access.

        Admin operations require `admin` role in token claims.
        '