openapi: 3.0.3
info:
  title: Raid Blackwall Expedition API
  version: 1.0.0
  description: |
    API для endgame raid "Blackwall Expedition".
    
    Источник: .BRAIN/05-technical/start-content/endgame-raids/raid-blackwall-expedition.md v1.0.0
    
    Параметры:
    - 10-15 игроков
    - Уровень 12+, Gear Score 300+
    - Длительность 60-90 минут
    - Эпоха 2077-2093
    
    Требования:
    - Завершённые квесты
    - Репутация NetWatch 50+
    - Специальный токен доступа
    
    3 фазы:
    - Infiltration (проникновение)
    - Deep Zone (глубокая зона)
    - Core Breach (взлом ядра)
    
    Механики:
    - AI-сущности
    - Реальностные аномалии
    - Безумие (sanity system)
    
    Награды: Legendary gear, Blackwall fragments, титулы

  x-microservice:
    name: narrative-service
    port: 8087
    domain: narrative
    base-path: /api/v1/narrative
    package: com.necpgame.narrativeservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Raids
    description: Endgame рейды
  - name: Blackwall Expedition
    description: Рейд за Blackwall

paths:
  /narrative/raids/blackwall/requirements:
    get:
      summary: Проверить требования для рейда
      description: |
        Проверяет, выполнены ли требования для доступа к рейду.
        Уровень, Gear Score, репутация, завершенные квесты.
      operationId: checkBlackwallRequirements
      tags:
        - Blackwall Expedition
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Требования проверены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaidRequirements'
              examples:
                eligible:
                  summary: Игрок подходит
                  value:
                    character_id: "char_123"
                    eligible: true
                    level: 15
                    gear_score: 350
                    netwatch_reputation: 75
                    completed_quests: ["blackwall_prep_1", "blackwall_prep_2"]
                    access_token_required: true
                not_eligible:
                  summary: Не подходит
                  value:
                    character_id: "char_456"
                    eligible: false
                    reasons:
                      - "Level too low (10/12 required)"
                      - "NetWatch reputation insufficient (30/50 required)"

  /narrative/raids/blackwall/start:
    post:
      summary: Начать рейд Blackwall Expedition
      description: |
        Начинает рейд для группы игроков.
        Проверяет требования всех участников.
      operationId: startBlackwallRaid
      tags:
        - Blackwall Expedition
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - party_id
                - leader_id
              properties:
                party_id:
                  type: string
                leader_id:
                  type: string
                access_token:
                  type: string
                  description: Специальный токен доступа
            examples:
              start_raid:
                summary: Начать рейд
                value:
                  party_id: "party_001"
                  leader_id: "char_123"
                  access_token: "blackwall_token_xyz"
      responses:
        '200':
          description: Рейд начат
          content:
            application/json:
              schema:
                type: object
                properties:
                  raid_id:
                    type: string
                  party_id:
                    type: string
                  phase:
                    type: string
                    enum: [infiltration, deep_zone, core_breach]
                    default: infiltration
                  started_at:
                    type: string
                    format: date-time
                  estimated_duration:
                    type: number
                    description: Оценка длительности (минуты)
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'

  /narrative/raids/blackwall/{raid_id}/status:
    get:
      summary: Получить статус рейда
      description: |
        Возвращает текущий статус активного рейда.
        Фаза, прогресс, состояние участников, sanity levels.
      operationId: getBlackwallRaidStatus
      tags:
        - Blackwall Expedition
      parameters:
        - name: raid_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Статус рейда
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaidStatus'
              examples:
                phase1:
                  summary: Фаза 1 - Infiltration
                  value:
                    raid_id: "raid_001"
                    phase: "infiltration"
                    phase_progress: 45
                    players_alive: 12
                    players_total: 12
                    sanity_levels:
                      average: 75
                      critical: []
                    anomalies_active: 2
                    ai_entities_defeated: 5

  /narrative/raids/blackwall/{raid_id}/phase/advance:
    post:
      summary: Перейти к следующей фазе
      description: |
        Переводит рейд на следующую фазу.
        Требует выполнения всех условий текущей фазы.
      operationId: advanceBlackwallPhase
      tags:
        - Blackwall Expedition
      parameters:
        - name: raid_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
              properties:
                character_id:
                  type: string
                  description: ID лидера группы
      responses:
        '200':
          description: Фаза изменена
          content:
            application/json:
              schema:
                type: object
                properties:
                  raid_id:
                    type: string
                  previous_phase:
                    type: string
                  new_phase:
                    type: string
                  phase_started_at:
                    type: string
                    format: date-time
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /narrative/raids/blackwall/{raid_id}/sanity:
    get:
      summary: Получить уровни безумия
      description: |
        Возвращает уровни sanity для всех участников.
        Sanity влияет на восприятие реальности в Deep Zone.
      operationId: getSanityLevels
      tags:
        - Blackwall Expedition
      parameters:
        - name: raid_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Уровни sanity
          content:
            application/json:
              schema:
                type: object
                properties:
                  raid_id:
                    type: string
                  players:
                    type: array
                    items:
                      type: object
                      properties:
                        character_id:
                          type: string
                        sanity_level:
                          type: number
                          minimum: 0
                          maximum: 100
                        status:
                          type: string
                          enum: [stable, unstable, critical, insane]

  /narrative/raids/blackwall/{raid_id}/anomaly:
    post:
      summary: Обработать реальностную аномалию
      description: |
        Обрабатывает встречу с реальностной аномалией.
        Требует специальных действий от группы.
      operationId: handleRealityAnomaly
      tags:
        - Blackwall Expedition
      parameters:
        - name: raid_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - anomaly_id
                - action
              properties:
                character_id:
                  type: string
                anomaly_id:
                  type: string
                action:
                  type: string
                  enum: [stabilize, neutralize, bypass]
      responses:
        '200':
          description: Аномалия обработана
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  anomaly_id:
                    type: string
                  sanity_impact:
                    type: number
                    description: Влияние на sanity группы

  /narrative/raids/blackwall/{raid_id}/complete:
    post:
      summary: Завершить рейд
      description: |
        Завершает рейд и распределяет награды.
        Вызывается после победы над финальным боссом.
      operationId: completeBlackwallRaid
      tags:
        - Blackwall Expedition
      parameters:
        - name: raid_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
              properties:
                character_id:
                  type: string
                  description: ID лидера группы
      responses:
        '200':
          description: Рейд завершен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaidCompletion'

components:
  schemas:
    RaidRequirements:
      type: object
      properties:
        character_id:
          type: string
        eligible:
          type: boolean
        level:
          type: integer
        level_required:
          type: integer
        gear_score:
          type: integer
        gear_score_required:
          type: integer
        netwatch_reputation:
          type: integer
        netwatch_reputation_required:
          type: integer
        completed_quests:
          type: array
          items:
            type: string
        required_quests:
          type: array
          items:
            type: string
        access_token_required:
          type: boolean
        reasons:
          type: array
          items:
            type: string
          description: Причины, если не подходит

    RaidStatus:
      type: object
      properties:
        raid_id:
          type: string
        phase:
          type: string
          enum: [infiltration, deep_zone, core_breach]
        phase_progress:
          type: number
          minimum: 0
          maximum: 100
          description: Прогресс текущей фазы (%)
        players_alive:
          type: integer
        players_total:
          type: integer
        sanity_levels:
          type: object
          properties:
            average:
              type: number
            critical:
              type: array
              items:
                type: string
        anomalies_active:
          type: integer
        ai_entities_defeated:
          type: integer
        time_elapsed:
          type: number
          description: Время в рейде (минуты)

    RaidCompletion:
      type: object
      properties:
        raid_id:
          type: string
        completed_at:
          type: string
          format: date-time
        duration:
          type: number
          description: Длительность рейда (минуты)
        players_participated:
          type: integer
        rewards:
          type: object
          properties:
            legendary_items:
              type: array
              items:
                type: string
            blackwall_fragments:
              type: integer
            titles:
              type: array
              items:
                type: string
            experience:
              type: number
            currency:
              type: number


