openapi: 3.0.3
info:
  title: Raid Corpo Tower Assault API
  version: 1.0.0
  description: |
    API для endgame raid "Corpo Tower Assault".
    
    Источник: .BRAIN/05-technical/start-content/endgame-raids/raid-corpo-tower-assault.md v1.0.0
    
    Параметры:
    - 10-15 игроков
    - Уровень 12+, Gear Score 300+
    - Длительность 45-75 минут
    - Эпоха 2060-2077
    
    Требования:
    - Завершённые квесты faction war
    - Выбор стороны (Arasaka OR Militech)
    - Специальная access card
    
    3 фазы:
    - Infiltration (проникновение, stealth опции)
    - Combat Floors (боевые этажи, тяжелый бой)
    - CEO Boss Fight (босс-файт с CEO)
    
    Механики:
    - Dynamic encounter scaling
    - Stealth vs Combat пути
    - Class diversity required
    
    Награды: Legendary gear, корпоративные артефакты

  x-microservice:
    name: narrative-service
    port: 8087
    domain: narrative
    base-path: /api/v1/narrative
    package: com.necpgame.narrativeservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Raids
    description: Endgame рейды
  - name: Corpo Tower Assault
    description: Штурм корпоративной башни

paths:
  /narrative/raids/corpo-tower/requirements:
    get:
      summary: Проверить требования для рейда
      description: |
        Проверяет требования для доступа к рейду.
        Уровень, Gear Score, завершенные квесты, выбор стороны.
      operationId: checkCorpoTowerRequirements
      tags:
        - Corpo Tower Assault
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Требования проверены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorpoTowerRequirements'

  /narrative/raids/corpo-tower/start:
    post:
      summary: Начать рейд Corpo Tower Assault
      description: |
        Начинает рейд для группы.
        Требует выбор корпорации (Arasaka или Militech).
      operationId: startCorpoTowerRaid
      tags:
        - Corpo Tower Assault
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - party_id
                - leader_id
                - target_corporation
              properties:
                party_id:
                  type: string
                leader_id:
                  type: string
                target_corporation:
                  type: string
                  enum: [arasaka, militech]
                  description: Целевая корпорация для штурма
                access_card:
                  type: string
                  description: Специальная карта доступа
                approach:
                  type: string
                  enum: [stealth, combat, mixed]
                  default: mixed
                  description: Подход к рейду
            examples:
              stealth_approach:
                summary: Стелс подход
                value:
                  party_id: "party_002"
                  leader_id: "char_123"
                  target_corporation: "arasaka"
                  access_card: "arasaka_card_001"
                  approach: "stealth"
      responses:
        '200':
          description: Рейд начат
          content:
            application/json:
              schema:
                type: object
                properties:
                  raid_id:
                    type: string
                  party_id:
                    type: string
                  target_corporation:
                    type: string
                  phase:
                    type: string
                    enum: [infiltration, combat_floors, ceo_boss]
                    default: infiltration
                  approach:
                    type: string
                  started_at:
                    type: string
                    format: date-time

  /narrative/raids/corpo-tower/{raid_id}/status:
    get:
      summary: Получить статус рейда
      description: |
        Возвращает текущий статус рейда.
        Фаза, прогресс, состояние участников, текущий этаж.
      operationId: getCorpoTowerRaidStatus
      tags:
        - Corpo Tower Assault
      parameters:
        - name: raid_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Статус рейда
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorpoTowerRaidStatus'

  /narrative/raids/corpo-tower/{raid_id}/floor/{floor_number}/approach:
    post:
      summary: Выбрать подход к этажу
      description: |
        Выбирает подход к текущему этажу.
        Stealth (скрытное проникновение) или Combat (прямой бой).
      operationId: chooseFloorApproach
      tags:
        - Corpo Tower Assault
      parameters:
        - name: raid_id
          in: path
          required: true
          schema:
            type: string
        - name: floor_number
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - approach
              properties:
                character_id:
                  type: string
                approach:
                  type: string
                  enum: [stealth, combat]
      responses:
        '200':
          description: Подход выбран
          content:
            application/json:
              schema:
                type: object
                properties:
                  floor_number:
                    type: integer
                  approach:
                    type: string
                  difficulty_modifier:
                    type: number
                    description: Модификатор сложности

  /narrative/raids/corpo-tower/{raid_id}/ceo-fight:
    post:
      summary: Начать бой с CEO
      description: |
        Начинает финальный босс-файт с CEO корпорации.
        Требует завершения всех предыдущих фаз.
      operationId: startCEOFight
      tags:
        - Corpo Tower Assault
      parameters:
        - name: raid_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
              properties:
                character_id:
                  type: string
                  description: ID лидера группы
      responses:
        '200':
          description: Бой с CEO начат
          content:
            application/json:
              schema:
                type: object
                properties:
                  raid_id:
                    type: string
                  boss_id:
                    type: string
                  boss_name:
                    type: string
                  phase:
                    type: string
                    default: ceo_boss
                  fight_started_at:
                    type: string
                    format: date-time

  /narrative/raids/corpo-tower/{raid_id}/complete:
    post:
      summary: Завершить рейд
      description: |
        Завершает рейд после победы над CEO.
        Распределяет награды.
      operationId: completeCorpoTowerRaid
      tags:
        - Corpo Tower Assault
      parameters:
        - name: raid_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
              properties:
                character_id:
                  type: string
      responses:
        '200':
          description: Рейд завершен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RaidCompletion'

components:
  schemas:
    CorpoTowerRequirements:
      type: object
      properties:
        character_id:
          type: string
        eligible:
          type: boolean
        level:
          type: integer
        level_required:
          type: integer
        gear_score:
          type: integer
        gear_score_required:
          type: integer
        faction_war_quests_completed:
          type: boolean
        side_chosen:
          type: string
          enum: [arasaka, militech, none]
        access_card_required:
          type: boolean
        reasons:
          type: array
          items:
            type: string

    CorpoTowerRaidStatus:
      type: object
      properties:
        raid_id:
          type: string
        target_corporation:
          type: string
        phase:
          type: string
          enum: [infiltration, combat_floors, ceo_boss]
        current_floor:
          type: integer
        total_floors:
          type: integer
        phase_progress:
          type: number
        players_alive:
          type: integer
        players_total:
          type: integer
        approach_used:
          type: string
          enum: [stealth, combat, mixed]
        enemies_defeated:
          type: integer
        time_elapsed:
          type: number

    RaidCompletion:
      type: object
      properties:
        raid_id:
          type: string
        completed_at:
          type: string
          format: date-time
        duration:
          type: number
        players_participated:
          type: integer
        rewards:
          type: object
          properties:
            legendary_items:
              type: array
              items:
                type: string
            corporate_artifacts:
              type: array
              items:
                type: string
            experience:
              type: number
            currency:
              type: number


