openapi: 3.0.3
info:
  title: Session Service API
  description: '**Enterprise-grade API for Session Management**


    ## Domain Purpose

    Core session management service providing secure session lifecycle, token validation,

    device tracking, and security monitoring for the NECPGAME platform.


    ## Business Value

    - Secure session lifecycle management

    - JWT token validation and rotation

    - Device fingerprinting and tracking

    - Geographic session monitoring

    - Suspicious activity detection


    ## Performance Targets

    - P99 Latency: <30ms for all endpoints

    - Memory per Instance: <40KB baseline

    - Redis Operations: <5ms average response

    - Concurrent Sessions: 100,000+ supported


    ## Domain Inheritance

    This service inherits from infrastructure-entities.yaml providing:

    - SessionEntity for session data structure

    - AuditLogEntity for security auditing

    - Optimistic locking for concurrent operations

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/session-service
  description: Production environment
- url: https://staging-api.necpgame.com/v1/session-service
  description: Staging environment
- url: http://localhost:8080/api/v1/session-service
  description: Local development
security:
- BearerAuth: []
tags:
- name: Session Management
  description: Core session operations
- name: Security Monitoring
  description: Session security and monitoring
- name: Health Monitoring
  description: Service health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /sessions:
    $ref: ./paths/sessions.yaml#/paths/~1sessions
  /sessions/{sessionId}:
    $ref: ./paths/sessions-{sessionId}.yaml#/paths/~1sessions~1{sessionId}
  /sessions/{sessionId}/extend:
    $ref: ./paths/sessions-{sessionId}-extend.yaml#/paths/~1sessions~1{sessionId}~1extend
  /sessions/{sessionId}/revoke:
    $ref: ./paths/sessions-{sessionId}-revoke.yaml#/paths/~1sessions~1{sessionId}~1revoke
  /sessions/user/{userId}/active:
    $ref: ./paths/sessions-user-{userId}-active.yaml#/paths/~1sessions~1user~1{userId}~1active
  /sessions/security/validate:
    $ref: ./paths/sessions-security-validate.yaml#/paths/~1sessions~1security~1validate
components:
  schemas:
    Session:
      $ref: ./schemas/session-service-schemas.yaml#/components/schemas/Session
    SessionSummary:
      $ref: ./schemas/session-service-schemas.yaml#/components/schemas/SessionSummary
    SecurityEvent:
      $ref: ./schemas/session-service-schemas.yaml#/components/schemas/SecurityEvent
    CreateSessionRequest:
      $ref: ./schemas/session-service-schemas.yaml#/components/schemas/CreateSessionRequest
    UpdateSessionRequest:
      $ref: ./schemas/session-service-schemas.yaml#/components/schemas/UpdateSessionRequest
    ExtendSessionRequest:
      $ref: ./schemas/session-service-schemas.yaml#/components/schemas/ExtendSessionRequest
    ValidateSessionRequest:
      $ref: ./schemas/session-service-schemas.yaml#/components/schemas/ValidateSessionRequest
    SessionValidationResult:
      $ref: ./schemas/session-service-schemas.yaml#/components/schemas/SessionValidationResult
    SessionAuditLog:
      $ref: ./schemas/session-service-schemas.yaml#/components/schemas/SessionAuditLog
  responses:
    OK:
      $ref: ./schemas/session-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/session-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/session-service-responses.yaml#/components/responses/Updated
    Deleted:
      $ref: ./schemas/session-service-responses.yaml#/components/responses/Deleted
    BadRequest:
      $ref: ./schemas/session-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/session-service-responses.yaml#/components/responses/Unauthorized
    NotFound:
      $ref: ./schemas/session-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/session-service-responses.yaml#/components/responses/Conflict
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
