openapi: 3.0.3
info:
  title: Cyberware Service API
  description: '**Enterprise-grade API for Cybernetic Prosthetics and Implants Management**


    ## Domain Purpose

    Comprehensive cyberware management service providing installation, maintenance,
    calibration,

    and compatibility checking for cybernetic prosthetics in the NECPGAME cyberpunk
    universe.


    ## Business Value

    - Real-time cyberware compatibility validation and performance optimization

    - Advanced maintenance scheduling and cyberpsychosis risk management

    - Performance-optimized calibration and upgrade systems

    - Enterprise-grade scalability for millions of cybernetically enhanced players

    - Comprehensive integration with character progression and combat systems


    ## Performance Targets

    - P99 Latency: <40ms for cyberware operations

    - Throughput: 15,000+ cyberware operations per second

    - Concurrent Cyberware: 150,000+ active cyberware instances supported

    - Memory per Character: <4KB for cyberware storage


    ## Domain Inheritance

    This service inherits from game-entities.yaml providing:

    - Cyberware template management with versioning

    - Character cyberware tracking with optimistic locking

    - Combat integration for cyberware effects

    - Ability system integration for cyberware skills

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/cyberware-service
  description: Production environment
- url: https://staging-api.necpgame.com/v1/cyberware-service
  description: Staging environment
- url: http://localhost:8080/api/v1/cyberware-service
  description: Local development
security:
- BearerAuth: []
tags:
- name: Cyberware Management
  description: Core cyberware installation and lifecycle operations
- name: Compatibility System
  description: Cyberware compatibility validation and synergy checking
- name: Calibration System
  description: Cyberware calibration and performance optimization
- name: Maintenance System
  description: Cyberware maintenance and repair operations
- name: Upgrade System
  description: Cyberware upgrades and modifications
- name: Cyberpsychosis Management
  description: Cyberpsychosis risk assessment and mitigation
- name: Analytics & Balancing
  description: Cyberware usage analytics and balancing tools
- name: Health Monitoring
  description: Service health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /cyberware/install:
    $ref: ./paths/cyberware-install.yaml#/paths/~1cyberware~1install
  /cyberware/remove:
    $ref: ./paths/cyberware-remove.yaml#/paths/~1cyberware~1remove
  /characters/{characterId}/cyberware:
    $ref: ./paths/characters-{characterId}-cyberware.yaml#/paths/~1characters~1{characterId}~1cyberware
  /cyberware/calibrate:
    $ref: ./paths/cyberware-calibrate.yaml#/paths/~1cyberware~1calibrate
  /cyberware/compatibility/check:
    $ref: ./paths/cyberware-compatibility-check.yaml#/paths/~1cyberware~1compatibility~1check
  /cyberware/maintenance/schedule:
    $ref: ./paths/cyberware-maintenance-schedule.yaml#/paths/~1cyberware~1maintenance~1schedule
  /cyberware/maintenance/perform:
    $ref: ./paths/cyberware-maintenance-perform.yaml#/paths/~1cyberware~1maintenance~1perform
  /cyberware/upgrade:
    $ref: ./paths/cyberware-upgrade.yaml#/paths/~1cyberware~1upgrade
  /cyberware/cyberpsychosis/assess:
    $ref: ./paths/cyberware-cyberpsychosis-assess.yaml#/paths/~1cyberware~1cyberpsychosis~1assess
  /cyberware/templates:
    $ref: ./paths/cyberware-templates.yaml#/paths/~1cyberware~1templates
  /analytics/usage:
    $ref: ./paths/analytics-usage.yaml#/paths/~1analytics~1usage
components:
  schemas:
    InstalledCyberware:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/InstalledCyberware
    CyberwareTemplate:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/CyberwareTemplate
    CyberwareCompatibilityRules:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/CyberwareCompatibilityRules
    CyberwareMaintenanceRequirements:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/CyberwareMaintenanceRequirements
    CyberwareRiskFactors:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/CyberwareRiskFactors
    UpgradeTier:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/UpgradeTier
    SideEffect:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/SideEffect
    CyberwareModification:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/CyberwareModification
    CharacterCyberwareSummary:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/CharacterCyberwareSummary
    CompatibilityResult:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/CompatibilityResult
    CalibrationResult:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/CalibrationResult
    CyberpsychosisAssessment:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/CyberpsychosisAssessment
    MaintenanceSchedule:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/MaintenanceSchedule
    MaintenanceResult:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/MaintenanceResult
    StatChanges:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/StatChanges
    CyberwareUsageAnalytics:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/CyberwareUsageAnalytics
    CyberwareTemplateSummary:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/CyberwareTemplateSummary
    InstallCyberwareRequest:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/InstallCyberwareRequest
    RemoveCyberwareRequest:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/RemoveCyberwareRequest
    CalibrateCyberwareRequest:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/CalibrateCyberwareRequest
    CompatibilityCheckRequest:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/CompatibilityCheckRequest
    MaintenanceScheduleRequest:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/MaintenanceScheduleRequest
    PerformMaintenanceRequest:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/PerformMaintenanceRequest
    UpgradeCyberwareRequest:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/UpgradeCyberwareRequest
    CyberpsychosisAssessmentRequest:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/CyberpsychosisAssessmentRequest
    CreateCyberwareTemplateRequest:
      $ref: ./schemas/cyberware-service-schemas.yaml#/components/schemas/CreateCyberwareTemplateRequest
  responses:
    OK:
      $ref: ./schemas/cyberware-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/cyberware-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/cyberware-service-responses.yaml#/components/responses/Updated
    BadRequest:
      $ref: ./schemas/cyberware-service-responses.yaml#/components/responses/BadRequest
    NotFound:
      $ref: ./schemas/cyberware-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/cyberware-service-responses.yaml#/components/responses/Conflict
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
