openapi: 3.0.3
info:
  title: Achievement System Service API - Enterprise-Grade Achievement Management
  description: "**Enterprise-Grade Achievement System Service API for NECPGAME**

    Comprehensive achievement and milestone management system enabling player progression
    tracking, unlockable rewards, and gamification features with enterprise-grade reliability,
    performance optimizations, and real-time achievement processing.

    ## Key Features

    - **Achievement Management**: Create, update, and manage achievement definitions
    - **Player Progress Tracking**: Real-time progress monitoring and milestone tracking
    - **Reward Distribution**: Automated reward granting for achievement unlocks
    - **Milestone Systems**: Complex multi-stage achievements with progress tracking
    - **Event-Driven Processing**: Real-time achievement unlocking via Kafka events
    - **Anti-Cheat Integration**: Achievement validation and fraud prevention
    - **Performance Analytics**: Achievement completion statistics and player engagement
    - **Scalable Architecture**: Support for 100k+ concurrent achievement checks

    ## Domain Purpose

    This Achievement System provides comprehensive gamification infrastructure for NECPGAME,
    enabling player engagement through unlockable rewards, progression tracking, and
    milestone-based motivation systems with enterprise-grade reliability.

    ## Performance Targets

    - P99 Latency: <50ms for achievement unlocks
    - Memory: <100KB per player achievement state
    - Concurrent users: 50,000+ simultaneous tracking
    - Throughput: 10k+ achievement checks/sec
    - Data consistency: Event-sourced with CQRS

    "
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    email: api@necpgame.com
    url: https://github.com/gc-lover/necpgame-monorepo
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.necpgame.com/v1/achievements
    description: Production server
  - url: https://staging-api.necpgame.com/v1/achievements
    description: Staging server
  - url: http://localhost:8080/api/v1/achievements
    description: Local development server
security:
  - BearerAuth: []
tags:
  - name: Achievement Management
    description: Core achievement definition and management operations
  - name: Player Achievements
    description: Player progress tracking and achievement unlocks
  - name: Reward Distribution
    description: Achievement reward granting and management
  - name: Achievement Analytics
    description: Achievement completion statistics and insights
  - name: Health Monitoring
    description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Achievement system service health check
      description: "**Enterprise-grade health check endpoint**

        Provides real-time health status of the achievement system microservice.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds

        "
      operationId: achievementSystemHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
              - deflate
              - br
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                  - gzip
                  - deflate
                  - br
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /health/batch:
    post:
      summary: Batch health check for multiple achievement services
      description: "**Performance optimization:** Check multiple achievement services in single request

        Enables efficient health monitoring across distributed achievement microservices.

        **Use case:** Service mesh health checks, Kubernetes readiness probes

        "
      operationId: achievementSystemBatchHealthCheck
      tags:
        - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                      - achievement-system
                      - reward-system
                      - analytics-system
                  maxItems: 10
                  description: List of services to check
      responses:
        "200":
          $ref: "#/components/responses/HealthBatchSuccess"
        "400":
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /health/ws:
    get:
      summary: Real-time achievement health monitoring WebSocket
      description: "**Performance optimization:** Real-time health updates without polling

        Enables live monitoring of achievement system performance metrics.

        **Reconnection:** Automatic with exponential backoff

        "
      operationId: achievementSystemHealthWebSocket
      tags:
        - Health Monitoring
      parameters:
        - name: services
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - achievement-system
                - reward-system
                - analytics-system
          description: Services to monitor (optional, monitors all if not specified)
      responses:
        "200":
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: "wss://api.necpgame.com/v1/achievements/health"
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                      - health-monitoring-v1
        "101":
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
        "400":
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /achievements:
    get:
      summary: List achievements with filtering and pagination
      description: "**Enterprise-grade achievement listing endpoint**

        Supports complex filtering by category, difficulty, rewards, and completion status.

        Optimized for achievement browsing and discovery.

        **Performance:** <25ms P95, supports 1000+ concurrent requests

        "
      operationId: listAchievements
      tags:
        - Achievement Management
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number for pagination
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of items per page
        - name: category
          in: query
          schema:
            type: string
            enum:
              - combat
              - exploration
              - social
              - economy
              - progression
              - special
          description: Filter by achievement category
        - name: difficulty
          in: query
          schema:
            type: string
            enum:
              - easy
              - medium
              - hard
              - legendary
          description: Filter by difficulty level
        - name: reward_type
          in: query
          schema:
            type: string
            enum:
              - cosmetic
              - currency
              - item
              - title
              - boost
              - none
          description: Filter by reward type
      responses:
        "200":
          description: Achievements retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AchievementListResponse"
        "400":
          description: Invalid request - malformed query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Unprocessable entity - validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      summary: Create new achievement
      description: "**Enterprise-grade achievement creation endpoint**

        Creates new achievement definitions with complex requirements and rewards.

        Validates achievement logic and ensures uniqueness.

        **Performance:** <100ms P95, includes validation and reward calculation

        "
      operationId: createAchievement
      tags:
        - Achievement Management
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAchievementRequest"
      responses:
        "201":
          description: Achievement created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AchievementResponse"
        "400":
          description: Invalid request - malformed achievement data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict - achievement with this ID already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Unprocessable entity - validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /achievements/{achievement_id}:
    get:
      summary: Get specific achievement by ID
      description: "**Enterprise-grade achievement retrieval endpoint**

        Returns detailed achievement information including requirements and rewards.

        Supports conditional requests with ETags for caching optimization.

        **Performance:** <10ms P95 with Redis caching

        "
      operationId: getAchievement
      tags:
        - Achievement Management
      parameters:
        - name: achievement_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Achievement unique identifier
        - name: include_progress
          in: query
          schema:
            type: boolean
            default: false
          description: Include global progress statistics
        - name: If-None-Match
          in: header
          schema:
            type: string
          description: Conditional request - return 304 if ETag matches
      responses:
        "200":
          description: Achievement retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
            ETag:
              schema:
                type: string
                example: '"achievement-123-v1"'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AchievementResponse"
        "304":
          description: Not modified - achievement has not changed
        "404":
          description: Achievement not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      summary: Update existing achievement
      description: "**Enterprise-grade achievement update endpoint**

        Updates achievement definitions, requirements, or rewards.

        Maintains data consistency and validates changes.

        **Performance:** <50ms P95, includes validation and cache invalidation

        "
      operationId: updateAchievement
      tags:
        - Achievement Management
      security:
        - BearerAuth: []
      parameters:
        - name: achievement_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Achievement unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAchievementRequest"
      responses:
        "200":
          description: Achievement updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AchievementResponse"
        "400":
          description: Invalid request - malformed data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Achievement not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict - concurrent update detected
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      summary: Delete achievement
      description: "**Enterprise-grade achievement deletion endpoint**

        Removes achievement definitions and associated progress data.

        Cascades cleanup operations for data consistency.

        **Performance:** <30ms P95, includes cleanup operations

        "
      operationId: deleteAchievement
      tags:
        - Achievement Management
      security:
        - BearerAuth: []
      parameters:
        - name: achievement_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Achievement unique identifier
      responses:
        "204":
          description: Achievement deleted successfully
        "404":
          description: Achievement not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict - achievement cannot be deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /players/{player_id}/achievements:
    get:
      summary: Get player achievement progress
      description: "**Player achievement progress tracking endpoint**

        Returns player's unlocked achievements and progress towards locked ones.

        Supports filtering by completion status and category.

        **Performance:** <50ms P95, optimized for frequent player dashboard queries

        "
      operationId: getPlayerAchievements
      tags:
        - Player Achievements
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Player unique identifier
        - name: status
          in: query
          schema:
            type: string
            enum:
              - unlocked
              - in_progress
              - locked
              - all
            default: all
          description: Filter by achievement status
        - name: category
          in: query
          schema:
            type: string
            enum:
              - combat
              - exploration
              - social
              - economy
              - progression
              - special
          description: Filter by achievement category
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Maximum number of achievements to return
      responses:
        "200":
          description: Player achievements retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerAchievementsResponse"
        "404":
          description: Player not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /players/{player_id}/achievements/{achievement_id}:
    get:
      summary: Get specific player achievement progress
      description: "**Detailed player achievement progress endpoint**

        Returns detailed progress information for a specific achievement.

        Includes progress history and next milestone information.

        **Performance:** <15ms P95 with player-specific caching

        "
      operationId: getPlayerAchievementProgress
      tags:
        - Player Achievements
      parameters:
        - name: player_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Player unique identifier
        - name: achievement_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Achievement unique identifier
      responses:
        "200":
          description: Achievement progress retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerAchievementProgressResponse"
        "404":
          description: Achievement or player not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /achievements/events/unlock:
    post:
      summary: Process achievement unlock event
      description: "**Real-time achievement unlock processing endpoint**

        Processes player actions and determines achievement unlocks.

        Supports batch processing for high-throughput scenarios.

        **Performance:** <25ms P99, optimized for event-driven processing

        "
      operationId: processAchievementUnlock
      tags:
        - Player Achievements
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AchievementUnlockEvent"
      responses:
        "200":
          description: Achievement unlock processed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AchievementUnlockResponse"
        "400":
          description: Invalid unlock event
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /achievements/rewards/claim:
    post:
      summary: Claim achievement rewards
      description: "**Achievement reward claiming endpoint**

        Processes reward distribution for unlocked achievements.

        Supports batch claiming and reward validation.

        **Performance:** <100ms P95, includes inventory/reward distribution

        "
      operationId: claimAchievementRewards
      tags:
        - Reward Distribution
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClaimRewardsRequest"
      responses:
        "200":
          description: Rewards claimed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClaimRewardsResponse"
        "400":
          description: Invalid claim request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Rewards already claimed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /achievements/analytics/completion:
    get:
      summary: Get achievement completion analytics
      description: "**Achievement completion statistics endpoint**

        Provides global and category-specific achievement completion rates.

        Supports time-based filtering and trend analysis.

        **Performance:** <200ms P95, optimized for dashboard queries

        "
      operationId: getAchievementAnalytics
      tags:
        - Achievement Analytics
      security:
        - BearerAuth: []
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum:
              - combat
              - exploration
              - social
              - economy
              - progression
              - special
          description: Filter by achievement category
        - name: timeframe
          in: query
          schema:
            type: string
            enum:
              - day
              - week
              - month
              - all
            default: week
          description: Time period for analytics
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Maximum number of results
      responses:
        "200":
          description: Achievement analytics retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AchievementAnalyticsResponse"
        "403":
          description: Insufficient permissions for analytics access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  responses:
    HealthBatchSuccess:
      description: Batch health results retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: max-age=30
      content:
        application/json:
          schema:
            type: object
            required:
              - results
              - total_time_ms
            properties:
              results:
                type: array
                items:
                  $ref: "#/components/schemas/HealthResponse"
                description: Health status for each requested service
              total_time_ms:
                type: integer
                description: Total processing time in milliseconds
                example: 1500

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "JWT Bearer token authentication.

      **Security Features:**
      - HS256 algorithm with 256-bit secrets
      - Token expiration and refresh support
      - Role-based access control
      - Revocation support via Redis

      "

  schemas:
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
        - service
      properties:
        service:
          type: string
          example: achievement-system
          maxLength: 100
        status:
          type: string
          enum:
            - healthy
            - degraded
            - unhealthy
          example: healthy
          maxLength: 20
        timestamp:
          type: string
          format: date-time
          example: "2025-12-27T16:00:00Z"
          maxLength: 30
        version:
          type: string
          example: "1.0.0"
          maxLength: 20
        uptime_seconds:
          type: integer
          example: 3600
          description: Service uptime in seconds
        cache_hit_rate:
          type: number
          minimum: 0
          maximum: 1
          example: 0.95
          description: Redis cache hit rate percentage
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          minimum: 400
          maximum: 599
          example: 500
        message:
          type: string
          maxLength: 200
          example: "Internal server error"
        details:
          type: string
          maxLength: 1000
          description: Additional error details
        timestamp:
          type: string
          format: date-time
          example: "2025-12-27T16:00:00Z"
        request_id:
          type: string
          maxLength: 50
          description: Request correlation ID
        path:
          type: string
          maxLength: 500
          description: API endpoint path
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Memory savings: 30-50% for error responses."

    Achievement:
      type: object
      required:
        - id
        - name
        - category
        - difficulty
        - requirements
        - rewards
        - created_at
        - is_active
      properties:
        id:
          type: string
          format: uuid
          description: Achievement unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Achievement display name
          example: "First Blood"
        description:
          type: string
          maxLength: 500
          description: Achievement description
          example: "Get your first kill in combat"
        category:
          type: string
          enum:
            - combat
            - exploration
            - social
            - economy
            - progression
            - special
          description: Achievement category
          example: combat
        difficulty:
          type: string
          enum:
            - easy
            - medium
            - hard
            - legendary
          description: Achievement difficulty level
          example: easy
        requirements:
          $ref: "#/components/schemas/AchievementRequirements"
        rewards:
          type: array
          items:
            $ref: "#/components/schemas/AchievementReward"
          maxItems: 5
          description: Achievement unlock rewards
        points:
          type: integer
          minimum: 0
          maximum: 1000
          description: Achievement point value
          example: 10
        is_hidden:
          type: boolean
          default: false
          description: Whether achievement is hidden until unlocked
          example: false
        prerequisites:
          type: array
          items:
            type: string
            format: uuid
          maxItems: 10
          description: Required achievements to unlock this one
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2025-12-27T16:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2025-12-27T16:00:00Z"
        is_active:
          type: boolean
          default: true
          description: Whether achievement is currently active
          example: true
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Memory savings: 30-50% for achievement operations."

    AchievementRequirements:
      type: object
      properties:
        type:
          type: string
          enum:
            - stat_threshold
            - action_count
            - time_based
            - combination
            - custom
          description: Requirement type
          example: stat_threshold
        stat_name:
          type: string
          maxLength: 100
          description: Player statistic to check
          example: "kills"
        threshold:
          type: integer
          minimum: 0
          description: Required threshold value
          example: 1
        time_window:
          type: integer
          minimum: 0
          description: Time window in seconds (for time-based requirements)
          example: 3600
        conditions:
          type: array
          items:
            $ref: "#/components/schemas/AchievementCondition"
          maxItems: 10
          description: Additional conditions for combination requirements
      description: "Achievement unlock requirements definition."

    AchievementCondition:
      type: object
      required:
        - type
        - value
      properties:
        type:
          type: string
          enum:
            - stat_equals
            - stat_greater
            - stat_less
            - item_owned
            - location_visited
            - custom
          example: stat_greater
        field:
          type: string
          maxLength: 100
          example: "level"
        value:
          type: string
          maxLength: 200
          example: "5"
      description: "Individual condition for complex achievement requirements."

    AchievementReward:
      type: object
      required:
        - type
        - value
      properties:
        type:
          type: string
          enum:
            - currency
            - item
            - cosmetic
            - title
            - boost
            - unlock
          description: Reward type
          example: currency
        value:
          type: string
          maxLength: 200
          description: Reward value/identifier
          example: "100"
        quantity:
          type: integer
          minimum: 1
          default: 1
          description: Reward quantity
          example: 100
        metadata:
          type: object
          additionalProperties: true
          description: Additional reward metadata
      description: "Achievement unlock reward definition."

    PlayerAchievementProgress:
      type: object
      required:
        - player_id
        - achievement_id
        - status
        - progress
        - updated_at
      properties:
        player_id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440001
        achievement_id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
        status:
          type: string
          enum:
            - locked
            - in_progress
            - unlocked
          example: unlocked
        progress:
          type: object
          additionalProperties:
            type: number
          description: Current progress values
          example:
            kills: 5
            level: 10
        current_value:
          type: number
          description: Current progress value
          example: 5
        target_value:
          type: number
          description: Required target value
          example: 10
        unlocked_at:
          type: string
          format: date-time
          description: Unlock timestamp
          example: "2025-12-27T16:00:00Z"
        claimed_at:
          type: string
          format: date-time
          description: Reward claim timestamp
          example: "2025-12-27T16:05:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2025-12-27T16:00:00Z"
      description: "Player achievement progress tracking."

    AchievementUnlockEvent:
      type: object
      required:
        - player_id
        - event_type
        - event_data
      properties:
        player_id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440001
        event_type:
          type: string
          enum:
            - player_action
            - stat_update
            - milestone_reached
            - custom_event
          example: stat_update
        event_data:
          type: object
          additionalProperties: true
          description: Event-specific data
          example:
            stat_name: "kills"
            old_value: 4
            new_value: 5
        timestamp:
          type: string
          format: date-time
          example: "2025-12-27T16:00:00Z"
        session_id:
          type: string
          maxLength: 100
          description: Player session identifier
      description: "Event triggering achievement unlock processing."

    ClaimRewardsRequest:
      type: object
      required:
        - player_id
        - achievement_ids
      properties:
        player_id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440001
        achievement_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          maxItems: 50
          example:
            - 550e8400-e29b-41d4-a716-446655440000
      description: "Request to claim rewards for unlocked achievements."

    AchievementListResponse:
      type: object
      required:
        - achievements
        - total_count
        - has_more
      properties:
        achievements:
          type: array
          items:
            $ref: "#/components/schemas/Achievement"
          description: List of achievements
        total_count:
          type: integer
          description: Total number of achievements available
          example: 150
        has_more:
          type: boolean
          description: Whether there are more achievements available
          example: true
        page:
          type: integer
          description: Current page number
          example: 1
        limit:
          type: integer
          description: Items per page
          example: 20
      description: "Paginated achievement listing response."

    AchievementResponse:
      type: object
      required:
        - achievement
      properties:
        achievement:
          $ref: "#/components/schemas/Achievement"
      description: "Single achievement response."

    PlayerAchievementsResponse:
      type: object
      required:
        - player_id
        - achievements
        - summary
      properties:
        player_id:
          type: string
          format: uuid
          example: 550e8400-e29b-41d4-a716-446655440001
        achievements:
          type: array
          items:
            $ref: "#/components/schemas/PlayerAchievementProgress"
          description: Player's achievement progress
        summary:
          $ref: "#/components/schemas/PlayerAchievementSummary"
      description: "Player achievements progress response."

    PlayerAchievementSummary:
      type: object
      properties:
        total_achievements:
          type: integer
          example: 150
        unlocked_count:
          type: integer
          example: 45
        in_progress_count:
          type: integer
          example: 12
        total_points:
          type: integer
          example: 1250
        completion_percentage:
          type: number
          minimum: 0
          maximum: 1
          example: 0.3
        recent_unlocks:
          type: array
          items:
            $ref: "#/components/schemas/Achievement"
          maxItems: 5
          description: Recently unlocked achievements
      description: "Player achievement statistics summary."

    PlayerAchievementProgressResponse:
      type: object
      required:
        - progress
        - achievement
      properties:
        progress:
          $ref: "#/components/schemas/PlayerAchievementProgress"
        achievement:
          $ref: "#/components/schemas/Achievement"
        next_milestone:
          type: object
          description: Next progress milestone information
          properties:
            description:
              type: string
              example: "Reach 10 kills"
            current_value:
              type: number
              example: 5
            target_value:
              type: number
              example: 10
            progress_percentage:
              type: number
              minimum: 0
              maximum: 1
              example: 0.5
      description: "Detailed player achievement progress response."

    AchievementUnlockResponse:
      type: object
      required:
        - processed_events
        - unlocked_achievements
      properties:
        processed_events:
          type: integer
          description: Number of events processed
          example: 1
        unlocked_achievements:
          type: array
          items:
            $ref: "#/components/schemas/Achievement"
          description: Newly unlocked achievements
        progress_updates:
          type: array
          items:
            $ref: "#/components/schemas/PlayerAchievementProgress"
          description: Updated achievement progress
        rewards_granted:
          type: array
          items:
            $ref: "#/components/schemas/AchievementReward"
          description: Rewards granted for unlocks
      description: "Achievement unlock processing response."

    ClaimRewardsResponse:
      type: object
      required:
        - claimed_rewards
        - success
      properties:
        success:
          type: boolean
          example: true
        claimed_rewards:
          type: array
          items:
            type: object
            required:
              - achievement_id
              - rewards
            properties:
              achievement_id:
                type: string
                format: uuid
                example: 550e8400-e29b-41d4-a716-446655440000
              rewards:
                type: array
                items:
                  $ref: "#/components/schemas/AchievementReward"
                description: Claimed rewards for this achievement
          description: Successfully claimed rewards
        failed_claims:
          type: array
          items:
            type: object
            required:
              - achievement_id
              - error
            properties:
              achievement_id:
                type: string
                format: uuid
                example: 550e8400-e29b-41d4-a716-446655440000
              error:
                type: string
                example: "Rewards already claimed"
          description: Failed reward claims
      description: "Achievement reward claiming response."

    AchievementAnalyticsResponse:
      type: object
      required:
        - total_achievements
        - completion_stats
      properties:
        total_achievements:
          type: integer
          example: 150
        completion_stats:
          type: object
          properties:
            overall_completion_rate:
              type: number
              minimum: 0
              maximum: 1
              example: 0.35
            category_breakdown:
              type: object
              additionalProperties:
                type: object
                properties:
                  total:
                    type: integer
                    example: 25
                  completed:
                    type: integer
                    example: 8
                  completion_rate:
                    type: number
                    minimum: 0
                    maximum: 1
                    example: 0.32
            difficulty_breakdown:
              type: object
              additionalProperties:
                type: object
                properties:
                  total:
                    type: integer
                    example: 50
                  completed:
                    type: integer
                    example: 15
                  completion_rate:
                    type: number
                    minimum: 0
                    maximum: 1
                    example: 0.3
            trending_achievements:
              type: array
              items:
                type: object
                required:
                  - achievement_id
                  - unlocks_last_week
                  - completion_rate
                properties:
                  achievement_id:
                    type: string
                    format: uuid
                    example: 550e8400-e29b-41d4-a716-446655440000
                  name:
                    type: string
                    example: "First Blood"
                  unlocks_last_week:
                    type: integer
                    example: 1250
                  completion_rate:
                    type: number
                    minimum: 0
                    maximum: 1
                    example: 0.45
              maxItems: 20
              description: Most popular achievements by recent unlocks
      description: "Achievement completion analytics response."

    CreateAchievementRequest:
      type: object
      required:
        - name
        - category
        - difficulty
        - requirements
        - rewards
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          example: "First Blood"
        description:
          type: string
          maxLength: 500
          example: "Get your first kill in combat"
        category:
          type: string
          enum:
            - combat
            - exploration
            - social
            - economy
            - progression
            - special
          example: combat
        difficulty:
          type: string
          enum:
            - easy
            - medium
            - hard
            - legendary
          example: easy
        requirements:
          $ref: "#/components/schemas/AchievementRequirements"
        rewards:
          type: array
          items:
            $ref: "#/components/schemas/AchievementReward"
          minItems: 1
          maxItems: 5
        points:
          type: integer
          minimum: 0
          maximum: 1000
          default: 10
        is_hidden:
          type: boolean
          default: false
        prerequisites:
          type: array
          items:
            type: string
            format: uuid
          maxItems: 10
      description: "Request to create a new achievement definition."

    UpdateAchievementRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        requirements:
          $ref: "#/components/schemas/AchievementRequirements"
        rewards:
          type: array
          items:
            $ref: "#/components/schemas/AchievementReward"
          minItems: 1
          maxItems: 5
        points:
          type: integer
          minimum: 0
          maximum: 1000
        is_hidden:
          type: boolean
        is_active:
          type: boolean
      description: "Request to update an existing achievement."