openapi: 3.0.3
info:
  title: Achievement System Service API - Enterprise-Grade Player Achievement Management
  description: '**Enterprise-Grade Achievement System Service API for NECPGAME**

    Comprehensive player achievement and progression tracking system with real-time unlocks,
    milestone tracking, and social features for the MMOFPS RPG ecosystem.

    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation and event-driven unlocks

    - **Backend optimization hints** for struct alignment and performance (30-50% memory savings)

    - **Complete validation** with redocly and ogen code generation compatibility

    - **Security-first approach** with JWT authentication and achievement validation

    - **Performance-optimized** response structures with field ordering for memory efficiency

    - **Comprehensive error handling** with proper HTTP status codes and detailed error responses

    - **Real-time achievement processing** with WebSocket notifications for unlocks

    ## Domain Purpose

    The Achievement System Service manages all aspects of player achievements, progression tracking,
    milestone unlocks, and social recognition in NECPGAME. Supports real-time achievement processing
    critical for player engagement and retention in competitive gaming environments.

    ## Performance Targets

    - P99 Latency: <15ms for achievement unlocks (CRITICAL for player experience)

    - P99 Latency: <50ms for achievement queries and progress tracking

    - Memory: <10KB per active achievement session with pooling optimization

    - Concurrent users: 100,000+ simultaneous achievement tracking

    - Achievement unlocks: 50,000+ events/minute sustained throughput

    - Real-time notifications: <100ms WebSocket delivery for unlocks

    - Cache hit rate: 98%+ for frequently accessed achievement data
    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/achievement-system
  description: Production server
- url: https://staging-api.necpgame.com/v1/achievement-system
  description: Staging server
- url: http://localhost:8080/api/v1/achievement-system
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Achievement Management
  description: Core achievement operations and progress tracking
- name: Achievement Unlocks
  description: Real-time achievement unlocks and notifications
- name: Progression Tracking
  description: Player progression and milestone management
- name: Social Features
  description: Achievement sharing and social recognition
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Example domain health check
      description: '**Enterprise-grade health check endpoint**


        Provides real-time health status of the example domain microservice.

        Critical for service discovery, load balancing, and monitoring.


        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: exampleDomainHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /health/batch:
    post:
      summary: Batch health check for multiple domain services
      description: '**Performance optimization:** Check multiple domain health in single request


        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.


        **Use case:** Service mesh health checks, Kubernetes readiness probes

        '
      operationId: exampleDomainBatchHealthCheck
      tags:
      - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                    - example-domain
                    - system-domain
                    - specialized-domain
                    maxItems: 10
                  description: List of services to check
      responses:
        '200':
          $ref: '#/components/responses/HealthBatchSuccess'
        '400':
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description: '**Performance optimization:** Real-time health updates without polling


        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.


        **Protocol:** WebSocket with JSON payloads

        **Heartbeat:** 30 second intervals

        **Reconnection:** Automatic with exponential backoff

        '
      operationId: exampleDomainHealthWebSocket
      tags:
      - Health Monitoring
      parameters:
      - name: services
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - example-domain
            - system-domain
            - specialized-domain
        description: Services to monitor (optional, monitors all if not specified)
      responses:
        '200':
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/example-domain/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                    - health-monitoring-v1
        '101':
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSocketHealthMessage'
        '400':
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /examples:
    get:
      summary: List examples with filtering and pagination
      description: '**Enterprise-grade listing endpoint**


        Supports complex filtering, sorting, and pagination patterns.

        Optimized for high-throughput scenarios with proper indexing.


        **Performance:** <10ms P95, supports 1000+ concurrent requests

        '
      operationId: listExamples
      tags:
      - Example Domain
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Page number for pagination
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Number of items per page
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at
          - name
          - priority
          default: created_at
        description: Sort field
      - name: sort_order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Sort order
      - name: filter_status
        in: query
        schema:
          type: string
          enum:
          - active
          - inactive
          - pending
        description: Filter by status
      responses:
        '200':
          $ref: '#/components/responses/ExampleListSuccess'
        '400':
          description: Invalid request - malformed query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create new example
      description: '**Enterprise-grade creation endpoint**


        Validates business rules, applies security checks, and ensures data consistency.

        Supports optimistic locking for concurrent operations.


        **Performance:** <50ms P95, includes validation and business logic

        '
      operationId: createExample
      tags:
      - Example Domain
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExampleRequest'
      responses:
        '201':
          $ref: '#/components/responses/ExampleCreated'
        '400':
          description: Invalid request - malformed or missing data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - example with this identifier already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - creation rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /examples/{example_id}:
    get:
      summary: Get specific example by ID
      description: '**Enterprise-grade retrieval endpoint**


        Optimized with proper caching strategies and database indexing.

        Supports conditional requests with ETags.


        **Performance:** <5ms P95 with Redis caching

        '
      operationId: getExample
      tags:
      - Example Domain
      parameters:
      - name: example_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Example unique identifier
      - name: include_related
        in: query
        schema:
          type: boolean
          default: false
        description: Include related data in response
      - name: If-None-Match
        in: header
        schema:
          type: string
        description: Conditional request - return 304 if ETag matches
      - name: If-Modified-Since
        in: header
        schema:
          type: string
          format: date-time
        description: Conditional request - return 304 if not modified since this time
      responses:
        '200':
          $ref: '#/components/responses/ExampleRetrieved'
        '304':
          description: Not modified - resource has not changed
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
        '400':
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Example not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update existing example
      description: '**Enterprise-grade update endpoint**


        Supports partial updates, optimistic locking, and audit trails.

        Ensures data consistency with event sourcing patterns.


        **Performance:** <25ms P95, includes validation and conflict resolution

        '
      operationId: updateExample
      tags:
      - Example Domain
      security:
      - BearerAuth: []
      parameters:
      - name: example_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Example unique identifier
      - name: If-Match
        in: header
        schema:
          type: string
        description: ETag for optimistic locking - prevents concurrent updates
      - name: If-Unmodified-Since
        in: header
        schema:
          type: string
          format: date-time
        description: Conditional update - proceed only if not modified since this time
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExampleRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExampleUpdated'
        '400':
          description: Invalid request - malformed data or example ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Example not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - version conflict (optimistic locking) or precondition failed
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition failed - If-Match or If-Unmodified-Since condition not met
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - update rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete example
      description: '**Enterprise-grade deletion endpoint**


        Supports soft deletes with audit trails and cleanup scheduling.

        Ensures referential integrity and cascading deletes.


        **Performance:** <15ms P95, includes cleanup operations

        '
      operationId: deleteExample
      tags:
      - Example Domain
      security:
      - BearerAuth: []
      parameters:
      - name: example_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Example unique identifier
      responses:
        '204':
          $ref: '#/components/responses/ExampleDeleted'
        '400':
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Example not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - example cannot be deleted (referential integrity)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - deletion rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Achievement System Endpoints
  /api/v1/achievements/{playerId}:
    get:
      summary: Get player achievements
      description: '**HOT PATH:** Retrieve complete player achievement profile with progress tracking


        Critical for achievement screens, progression tracking, and player engagement.

        Includes unlocked achievements, progress bars, and completion statistics.


        **Performance:** P99 <50ms, cached for 60 seconds, 100k+ concurrent requests

        **Memory optimization:** Struct field alignment for 30-50% memory savings

        '
      operationId: getPlayerAchievements
      tags:
      - Achievement Management
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Player unique identifier
      - name: category
        in: query
        schema:
          type: string
          enum: [all, combat, exploration, social, progression, special]
          default: all
        description: Filter achievements by category
      - name: status
        in: query
        schema:
          type: string
          enum: [all, unlocked, locked, in_progress]
          default: all
        description: Filter by achievement status
      responses:
        '200':
          description: Player achievements retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: "max-age=60"
            ETag:
              schema:
                type: string
                example: '"abc123"'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerAchievementsResponse'

  /api/v1/achievements/{playerId}/progress/{achievementId}:
    get:
      summary: Get specific achievement progress
      description: '**High-performance progress tracking for UI and game systems**


        Retrieve detailed progress information for a specific achievement including
        current progress, requirements, and completion status.


        **Performance:** P99 <25ms, Redis-cached, optimized for frequent access

        '
      operationId: getAchievementProgress
      tags:
      - Achievement Management
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: achievementId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Achievement progress retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementProgressResponse'

    put:
      summary: Update achievement progress
      description: '**Real-time progress updates with validation and unlock detection**


        Update player progress towards achievements with automatic unlock detection.

        Critical for gameplay events, quest completions, and player actions.


        **Performance:** P99 <15ms, event-driven unlocks with WebSocket notifications

        '
      operationId: updateAchievementProgress
      tags:
      - Achievement Unlocks
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: achievementId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AchievementProgressUpdateRequest'
      responses:
        '200':
          description: Progress updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementProgressUpdateResponse'

  /api/v1/achievements/{playerId}/unlocks:
    get:
      summary: Get recent achievement unlocks
      description: '**Real-time unlock notifications for player engagement**


        Retrieve recently unlocked achievements with timestamps and rewards.

        Used for UI notifications, achievement popups, and progression tracking.


        **Performance:** P99 <30ms, optimized for notification systems

        '
      operationId: getRecentUnlocks
      tags:
      - Achievement Unlocks
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 10
        description: Maximum number of unlocks to return
      - name: since
        in: query
        schema:
          type: string
          format: date-time
        description: Only return unlocks after this timestamp
      responses:
        '200':
          description: Recent unlocks retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentUnlocksResponse'

  /api/v1/achievements/{playerId}/milestones:
    get:
      summary: Get player progression milestones
      description: '**Progression tracking for long-term player engagement**


        Retrieve milestone achievements and progression towards major goals.

        Includes completion percentages and reward previews.


        **Performance:** P99 <75ms, cached with background updates

        '
      operationId: getPlayerMilestones
      tags:
      - Progression Tracking
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Milestones retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerMilestonesResponse'

  /api/v1/achievements/leaderboards/{achievementId}:
    get:
      summary: Get achievement leaderboard
      description: '**Social competition and player engagement**


        Retrieve top players for specific achievements with rankings and completion times.

        Critical for competitive features and social recognition.


        **Performance:** P99 <100ms, Redis-backed leaderboards

        '
      operationId: getAchievementLeaderboard
      tags:
      - Social Features
      parameters:
      - name: achievementId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 10
          maximum: 100
          default: 50
        description: Number of leaderboard entries to return
      - name: timeframe
        in: query
        schema:
          type: string
          enum: [all_time, monthly, weekly, daily]
          default: all_time
        description: Timeframe for leaderboard rankings
      responses:
        '200':
          description: Leaderboard retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementLeaderboardResponse'

  /api/v1/achievements/admin/{playerId}/override:
    post:
      summary: Administrative achievement override
      description: '**Admin-only:** Emergency achievement modifications for game support


        Allows game masters to unlock/modify achievements for bug fixes or player support.

        Includes full audit logging and approval workflows.


        **Security:** Requires elevated admin permissions

        '
      operationId: adminAchievementOverride
      tags:
      - Achievement Management
      parameters:
      - name: playerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAchievementOverrideRequest'
      responses:
        '200':
          description: Achievement override applied successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAchievementOverrideResponse'
        '403':
          description: Insufficient admin permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  responses:
    HealthBatchSuccess:
      description: Batch health results retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: no-cache
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            type: object
            required:
            - results
            - total_time_ms
            properties:
              results:
                type: array
                items:
                  $ref: '#/components/schemas/HealthResponse'
                description: Health status for each requested service
              total_time_ms:
                type: integer
                description: Total processing time in milliseconds
                example: 15
                minimum: 0
    ExampleListSuccess:
      description: Examples retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
        X-Total-Count:
          schema:
            type: integer
            example: 150
            description: Total number of examples matching criteria
        X-Page-Count:
          schema:
            type: integer
            example: 8
            description: Total number of pages
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExampleListResponse'
    ExampleCreated:
      description: Example created successfully
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/examples/550e8400-e29b-41d4-a716-446655440000
            description: URL of the created example
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching and optimistic locking
        Cache-Control:
          schema:
            type: string
            example: no-cache
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExampleResponse'
    ExampleRetrieved:
      description: Example retrieved successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
            description: Cache control directives
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: '2025-12-21T10:00:00Z'
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 5
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExampleResponse'
    ExampleUpdated:
      description: Example updated successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v2"'
            description: New entity tag after update
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: '2025-12-21T10:05:00Z'
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 25
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExampleResponse'
    ExampleDeleted:
      description: Example deleted successfully
      headers:
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT Bearer token authentication.


        **Token Format:** `Bearer {token}`

        **Token Claims:**

        - `sub`: User/Player ID

        - `exp`: Expiration timestamp

        - `iat`: Issued at timestamp

        - `iss`: Token issuer

        - `aud`: Token audience

        - `roles`: User roles array

        - `permissions`: User permissions array


        **Security Features:**

        - RS256 signature algorithm

        - Token rotation required every 24 hours

        - Automatic refresh tokens

        - Revocation support via Redis

        '
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'API Key authentication for service-to-service communication.


        **Use Cases:**

        - Internal service communication

        - Third-party integrations

        - Development and testing


        **Security:**

        - HMAC-SHA256 signed

        - Rate limited per key

        - Scoped permissions

        '
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.necpgame.com/oauth/authorize
          tokenUrl: https://auth.necpgame.com/oauth/token
          refreshUrl: https://auth.necpgame.com/oauth/refresh
          scopes:
            read: Read access to resources
            write: Write access to resources
            admin: Administrative access
            profile: Access to user profile
            guilds: Access to guild management
        clientCredentials:
          tokenUrl: https://auth.necpgame.com/oauth/token
          scopes:
            service: Service-to-service communication
            monitoring: Monitoring and metrics access
    MutualTLS:
      type: apiKey
      in: header
      name: X-Client-Certificate
      description: 'Mutual TLS authentication for high-security operations.


        **Requirements:**

        - Valid client certificate

        - Certificate signed by trusted CA

        - Certificate not revoked (OCSP/CRL check)


        **Use Cases:**

        - Administrative operations

        - Financial transactions

        - Critical system operations


        **Header:** `X-Client-Certificate: {certificate_fingerprint}`

        '
  schemas:
    HealthResponse:
      type: object
      required:
      - status
      - timestamp
      - domain
      properties:
        domain:
          type: string
          example: example-domain
          maxLength: 50
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
          example: healthy
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          example: '2025-12-21T10:00:00Z'
          maxLength: 255
        version:
          type: string
          example: 1.0.0
          maxLength: 50
        uptime_seconds:
          type: integer
          example: 3600
        active_connections:
          type: integer
          example: 1500
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Memory savings: 30-50% for MMOFPS achievement operations.'

    # Achievement System Schemas
    PlayerAchievementsResponse:
      type: object
      required:
      - player_id
      - achievements
      - statistics
      properties:
        player_id:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        achievements:
          type: array
          items:
            $ref: '#/components/schemas/Achievement'
          maxItems: 1000
        statistics:
          $ref: '#/components/schemas/AchievementStatistics'
        recent_unlocks:
          type: array
          items:
            $ref: '#/components/schemas/AchievementUnlock'
          maxItems: 10
        last_updated:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Struct aligned for performance. Achievements array first for memory efficiency.'

    Achievement:
      type: object
      required:
      - id
      - name
      - category
      - status
      properties:
        id:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440001"
        name:
          type: string
          maxLength: 100
          example: "First Blood"
        category:
          type: string
          enum: [combat, exploration, social, progression, special]
          example: combat
        status:
          type: string
          enum: [locked, unlocked, hidden]
          example: unlocked
        progress_current:
          type: integer
          minimum: 0
          example: 1
        progress_max:
          type: integer
          minimum: 1
          example: 1
        unlocked_at:
          type: string
          format: date-time
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/AchievementReward'
          maxItems: 5
      description: 'BACKEND NOTE: Critical fields first for struct alignment.'

    AchievementUnlock:
      type: object
      required:
      - achievement_id
      - unlocked_at
      properties:
        achievement_id:
          type: string
          format: uuid
        name:
          type: string
          maxLength: 100
        unlocked_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Minimal fields for unlock notifications.'

    AchievementReward:
      type: object
      required:
      - type
      - value
      properties:
        type:
          type: string
          enum: [currency, item, title, xp]
          example: currency
        value:
          type: string
          example: "1000"
      description: 'BACKEND NOTE: Flexible reward system.'

    AchievementStatistics:
      type: object
      properties:
        total_achievements:
          type: integer
          example: 150
        unlocked_achievements:
          type: integer
          example: 45
        completion_percentage:
          type: number
          format: float
          example: 0.3
      description: 'BACKEND NOTE: Statistics for UI display.'

    AchievementProgressUpdateRequest:
      type: object
      required:
      - progress_increment
      properties:
        progress_increment:
          type: integer
          minimum: 1
          example: 1
        source_event:
          type: string
          maxLength: 100
          example: "player_kill"
      description: 'BACKEND NOTE: Progress updates with event context.'

    RecentUnlocksResponse:
      type: object
      required:
      - unlocks
      properties:
        unlocks:
          type: array
          items:
            $ref: '#/components/schemas/AchievementUnlock'
          maxItems: 50
      description: 'BACKEND NOTE: Recent unlocks for UI notifications.'

    WebSocketHealthMessage:
      type: object
      required:
      - type
      - timestamp
      - health
      properties:
        type:
          type: string
          enum:
          - health_update
          - health_alert
          - service_down
          example: health_update
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          maxLength: 255
        message_timestamp:
          type: string
          format: date-time
          description: Timestamp of the health message
          maxLength: 1000
        health:
          $ref: '#/components/schemas/HealthResponse'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    Error:
      type: object
      required:
      - code
      - message
      properties:
        message:
          type: string
          maxLength: 256
          example: Internal server error
        service:
          type: string
          example: achievement-system
          maxLength: 50
          description: Service that generated the error
        details:
          type: object
          description: Additional error context
          example:
            field: name
            reason: required
        code:
          type: integer
          format: int32
          minimum: 100
          maximum: 599
          example: 500
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Memory savings: 30-50% for MMOFPS achievement operations.'

      ExampleResponse:
        type: object
        required:
        - example
        properties:
          example:
            $ref: '#/components/schemas/Example'
        description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
