# Enterprise-Grade OpenAPI Template - SOLID/DRY Domain Inheritance
# AI Service - Advanced artificial intelligence systems for NECPGAME MMOFPS RPG
# Issue: #2025

openapi: 3.0.3
info:
  title: AI Service API
  description: |
    **Enterprise-grade API for Artificial Intelligence Systems**

    ## Domain Purpose
    Provides comprehensive AI capabilities for NECPGAME MMOFPS RPG including adaptive difficulty scaling, NPC behavior management, content personalization, player behavior analytics, procedural quest generation, combat AI optimization, and anti-cheat detection.

    ## Key Features

    - **Adaptive Difficulty Scaling**: Dynamic difficulty adjustment based on real-time player skill assessment
    - **NPC Behavior Management**: NPC AI behavior patterns and procedural generation with configurable AI parameters
    - **Content Personalization**: Personalized content and recommendation algorithms based on player behavior
    - **Player Behavior Analytics**: Player behavior pattern recognition for engagement optimization
    - **Procedural Quest Generation**: Dynamic quest generation with procedural narratives and objectives
    - **Combat AI Optimization**: Combat AI strategy prediction and counter-play suggestions
    - **Anti-Cheat Detection**: AI-powered anti-cheat detection using machine learning anomaly detection
    - **Model Training**: AI model training pipelines for continuous improvement

    ## Performance Targets

    - P99 Latency: <15ms for AI operations and predictions
    - Memory per Instance: <50KB baseline with struct alignment optimizations
    - Concurrent Users: 10,000+ supported
    - Throughput: 2000+ RPS sustained load capacity
    - Uptime: 99.9% SLA

    ## Domain Inheritance (SOLID/DRY)
    This service inherits from common entities providing:
    - Consistent base entity structure (id, timestamps, version)
    - Domain-specific business entities through `allOf` pattern
    - Optimistic locking for concurrent operations (version field)
    - Strict typing with validation rules (min/max, patterns, enums)

  version: "1.0.0"
  contact:
    name: NECPGAME AI API Team
    email: ai@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.necpgame.com/v1/ai
    description: Production environment
  - url: https://staging-api.necpgame.com/v1/ai
    description: Staging environment
  - url: http://localhost:8090/api/v1/ai
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: Adaptive Difficulty
    description: Dynamic difficulty scaling and player adaptation
  - name: NPC Behavior
    description: NPC AI behavior management and generation
  - name: Content Personalization
    description: Personalized content and recommendations
  - name: Behavior Analytics
    description: Player behavior analysis and insights
  - name: Procedural Generation
    description: Dynamic content generation
  - name: Combat AI
    description: Combat AI optimization and strategy
  - name: Anti-Cheat
    description: AI-powered anti-cheat detection
  - name: Model Training
    description: AI model training and management
  - name: Health Monitoring
    description: Service health and performance monitoring

paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /adaptive-difficulty/player/{playerId}/assessment:
    $ref: ./paths/adaptive-difficulty-player-assessment.yaml#/paths/~1adaptive-difficulty~1player~1{playerId}~1assessment
  /adaptive-difficulty/session/{sessionId}/scaling:
    $ref: ./paths/adaptive-difficulty-session-scaling.yaml#/paths/~1adaptive-difficulty~1session~1{sessionId}~1scaling
  /npc-behavior/npcs/{npcId}/behavior:
    $ref: ./paths/npc-behavior-npcs-behavior.yaml#/paths/~1npc-behavior~1npcs~1{npcId}~1behavior
  /npc-behavior/generate:
    $ref: ./paths/npc-behavior-generate.yaml#/paths/~1npc-behavior~1generate
  /personalization/player/{playerId}/recommendations:
    $ref: ./paths/personalization-player-recommendations.yaml#/paths/~1personalization~1player~1{playerId}~1recommendations
  /analytics/player/{playerId}/behavior:
    $ref: ./paths/analytics-player-behavior.yaml#/paths/~1analytics~1player~1{playerId}~1behavior
  /procedural/quest/generate:
    $ref: ./paths/procedural-quest-generate.yaml#/paths/~1procedural~1quest~1generate
  /combat-ai/strategy/predict:
    $ref: ./paths/combat-ai-strategy-predict.yaml#/paths/~1combat-ai~1strategy~1predict
  /anti-cheat/detect:
    $ref: ./paths/anti-cheat-detect.yaml#/paths/~1anti-cheat~1detect
  /models/train:
    $ref: ./paths/models-train.yaml#/paths/~1models~1train
  /models/{modelId}:
    $ref: ./paths/models-modelId.yaml#/paths/~1models~1{modelId}

components:
  responses:
    OK:
      $ref: ../common/responses/success.yaml#/components/responses/OK
    Created:
      $ref: ../common/responses/success.yaml#/components/responses/Created
    BadRequest:
      $ref: ../common/responses/error.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ../common/responses/error.yaml#/components/responses/Unauthorized
    NotFound:
      $ref: ../common/responses/error.yaml#/components/responses/NotFound
    Conflict:
      $ref: ../common/responses/error.yaml#/components/responses/Conflict
    InternalServerError:
      $ref: ../common/responses/error.yaml#/components/responses/InternalServerError

  schemas:
    PlayerSkillAssessment:
      $ref: ./schemas/ai-service-schemas.yaml#/components/schemas/PlayerSkillAssessment
    DifficultyScaling:
      $ref: ./schemas/ai-service-schemas.yaml#/components/schemas/DifficultyScaling
    NpcBehavior:
      $ref: ./schemas/ai-service-schemas.yaml#/components/schemas/NpcBehavior
    PersonalizedRecommendations:
      $ref: ./schemas/ai-service-schemas.yaml#/components/schemas/PersonalizedRecommendations
    PlayerBehaviorAnalytics:
      $ref: ./schemas/ai-service-schemas.yaml#/components/schemas/PlayerBehaviorAnalytics
    GeneratedQuest:
      $ref: ./schemas/ai-service-schemas.yaml#/components/schemas/GeneratedQuest
    CombatStrategyPrediction:
      $ref: ./schemas/ai-service-schemas.yaml#/components/schemas/CombatStrategyPrediction
    AntiCheatDetection:
      $ref: ./schemas/ai-service-schemas.yaml#/components/schemas/AntiCheatDetection
    ModelTrainingRequest:
      $ref: ./schemas/ai-service-schemas.yaml#/components/schemas/ModelTrainingRequest
    ModelTrainingResponse:
      $ref: ./schemas/ai-service-schemas.yaml#/components/schemas/ModelTrainingResponse
    AIModel:
      $ref: ./schemas/ai-service-schemas.yaml#/components/schemas/AIModel

  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/components/securitySchemes/BearerAuth
