openapi: 3.0.3
info:
  title: Crafting System API
  version: 1.0.0
  description: |
    API для системы крафта.

  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Recipes
    description: Рецепты крафта
  - name: Crafting
    description: Процесс крафта
  - name: Blueprints
    description: Чертежи

paths:
  /gameplay/economy/crafting/recipes:
    $ref: './paths/list-recipes.yaml#/paths/~1gameplay~1economy~1crafting~1recipes'
  /gameplay/economy/crafting/recipes/{recipe_id}:
    $ref: './paths/get-recipe.yaml#/paths/~1gameplay~1economy~1crafting~1recipes~1{recipe_id}'
  /gameplay/economy/crafting/character/{character_id}/known-recipes:
    $ref: './paths/get-known-recipes.yaml#/paths/~1gameplay~1economy~1crafting~1character~1{character_id}~1known-recipes'
  /gameplay/economy/crafting/character/{character_id}/learn-recipe:
    $ref: './paths/learn-recipe.yaml#/paths/~1gameplay~1economy~1crafting~1character~1{character_id}~1learn-recipe'
  /gameplay/economy/crafting/craft:
    $ref: './paths/craft-item.yaml#/paths/~1gameplay~1economy~1crafting~1craft'
  /gameplay/economy/crafting/sessions/{session_id}:
    $ref: './paths/get-crafting-session.yaml#/paths/~1gameplay~1economy~1crafting~1sessions~1{session_id}'
  /gameplay/economy/crafting/sessions/{session_id}/complete:
    $ref: './paths/complete-crafting.yaml#/paths/~1gameplay~1economy~1crafting~1sessions~1{session_id}~1complete'
  /gameplay/economy/crafting/stations:
    $ref: './paths/get-crafting-stations.yaml#/paths/~1gameplay~1economy~1crafting~1stations'
  /gameplay/economy/crafting/calculate:
    $ref: './paths/calculate-crafting-chance.yaml#/paths/~1gameplay~1economy~1crafting~1calculate'

components:
  schemas:
    CraftingRecipe:
      $ref: './schemas/index.yaml#/components/schemas/CraftingRecipe'
    CraftingRecipeDetailed:
      $ref: './schemas/index.yaml#/components/schemas/CraftingRecipeDetailed'
    ComponentRequirement:
      $ref: './schemas/index.yaml#/components/schemas/ComponentRequirement'
    CraftRequest:
      $ref: './schemas/index.yaml#/components/schemas/CraftRequest'
    CraftingSession:
      $ref: './schemas/index.yaml#/components/schemas/CraftingSession'
    CraftingResult:
      $ref: './schemas/index.yaml#/components/schemas/CraftingResult'
    CraftingStation:
      $ref: './schemas/index.yaml#/components/schemas/CraftingStation'
    CraftingCalculation:
      $ref: './schemas/index.yaml#/components/schemas/CraftingCalculation'
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'

security:
  - BearerAuth: []
