openapi: 3.0.3
info:
  title: Network Infrastructure Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Network Infrastructure API for NECPGAME**

    This API manages all network communications, real-time connections, and infrastructure
    within the NECPGAME ecosystem, providing WebSocket management, message routing,
    connection handling, audio streaming, and network analysis capabilities.

    ## Key Features

    - **WebSocket Management**: High-performance WebSocket connection handling with
    clustering - **Real-time Messaging**: Low-latency message routing and delivery
    systems - **Connection Management**: Advanced connection state tracking and lifecycle
    management - **Audio Streaming**: Real-time audio communication for voice chat
    and game audio - **Network Analysis**: Traffic monitoring, performance metrics,
    and network diagnostics - **Load Balancing**: Intelligent routing and load distribution
    across network nodes

    ## Domain Purpose

    The Network Infrastructure Service handles all network communications and real-time
    connectivity within NECPGAME. It ensures reliable, high-performance connections
    for real-time gameplay, voice communication, and system monitoring across distributed
    infrastructure.

    ## Performance Targets

    - Connection Latency: <10ms for WebSocket message delivery - Concurrent Connections:
    500,000+ active WebSocket connections - Message Throughput: 100,000+ messages
    per second - Audio Streaming: <50ms end-to-end audio latency - Network Monitoring:
    <1s response time for diagnostics

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/network
  description: Production server
- url: https://staging-api.necpgame.com/v1/network
  description: Staging server
- url: http://localhost:8080/api/v1/network
  description: Local development server
security:
- BearerAuth: []
tags:
- name: WebSocket Management
  description: WebSocket connection handling and real-time communication
- name: Connection Management
  description: Connection lifecycle, state tracking, and routing
- name: Audio Streaming
  description: Real-time audio communication and voice chat
- name: Network Analysis
  description: Network monitoring, diagnostics, and performance metrics
- name: Message Routing
  description: Message delivery, routing, and load balancing
- name: Health Monitoring
  description: Service health and monitoring endpoints
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /ws:
    $ref: ./paths/ws.yaml#/paths/~1ws
  /ws/connections:
    $ref: ./paths/ws-connections.yaml#/paths/~1ws~1connections
  /ws/connections/{connection_id}:
    $ref: ./paths/ws-connections-{connection_id}.yaml#/paths/~1ws~1connections~1{connection_id}
  /connections/{connection_id}/subscribe:
    $ref: ./paths/connections-{connection_id}-subscribe.yaml#/paths/~1connections~1{connection_id}~1subscribe
  /connections/{connection_id}/unsubscribe:
    $ref: ./paths/connections-{connection_id}-unsubscribe.yaml#/paths/~1connections~1{connection_id}~1unsubscribe
  /audio/streams:
    $ref: ./paths/audio-streams.yaml#/paths/~1audio~1streams
  /audio/streams/{stream_id}:
    $ref: ./paths/audio-streams-{stream_id}.yaml#/paths/~1audio~1streams~1{stream_id}
  /audio/streams/{stream_id}/participants:
    $ref: ./paths/audio-streams-{stream_id}-participants.yaml#/paths/~1audio~1streams~1{stream_id}~1participants
  /network/analysis/traffic:
    $ref: ./paths/network-analysis-traffic.yaml#/paths/~1network~1analysis~1traffic
  /network/analysis/connections:
    $ref: ./paths/network-analysis-connections.yaml#/paths/~1network~1analysis~1connections
  /network/analysis/routes:
    $ref: ./paths/network-analysis-routes.yaml#/paths/~1network~1analysis~1routes
components:
  schemas:
    ConnectionDetails:
      $ref: ./schemas/network-infrastructure-service-schemas.yaml#/components/schemas/ConnectionDetails
    ConnectionListResponse:
      $ref: ./schemas/network-infrastructure-service-schemas.yaml#/components/schemas/ConnectionListResponse
    ConnectionMetrics:
      $ref: ./schemas/network-infrastructure-service-schemas.yaml#/components/schemas/ConnectionMetrics
    SubscriptionRequest:
      $ref: ./schemas/network-infrastructure-service-schemas.yaml#/components/schemas/SubscriptionRequest
    SubscriptionResponse:
      $ref: ./schemas/network-infrastructure-service-schemas.yaml#/components/schemas/SubscriptionResponse
    UnsubscriptionRequest:
      $ref: ./schemas/network-infrastructure-service-schemas.yaml#/components/schemas/UnsubscriptionRequest
    CreateAudioStreamRequest:
      $ref: ./schemas/network-infrastructure-service-schemas.yaml#/components/schemas/CreateAudioStreamRequest
    AudioStream:
      $ref: ./schemas/network-infrastructure-service-schemas.yaml#/components/schemas/AudioStream
    AudioStreamListResponse:
      $ref: ./schemas/network-infrastructure-service-schemas.yaml#/components/schemas/AudioStreamListResponse
    AddParticipantRequest:
      $ref: ./schemas/network-infrastructure-service-schemas.yaml#/components/schemas/AddParticipantRequest
    StreamParticipant:
      $ref: ./schemas/network-infrastructure-service-schemas.yaml#/components/schemas/StreamParticipant
    ParticipantListResponse:
      $ref: ./schemas/network-infrastructure-service-schemas.yaml#/components/schemas/ParticipantListResponse
    NetworkTrafficAnalysis:
      $ref: ./schemas/network-infrastructure-service-schemas.yaml#/components/schemas/NetworkTrafficAnalysis
    RegionalMetrics:
      $ref: ./schemas/network-infrastructure-service-schemas.yaml#/components/schemas/RegionalMetrics
    ConnectionAnalysis:
      $ref: ./schemas/network-infrastructure-service-schemas.yaml#/components/schemas/ConnectionAnalysis
    RoutingAnalysis:
      $ref: ./schemas/network-infrastructure-service-schemas.yaml#/components/schemas/RoutingAnalysis
    RouteMetrics:
      $ref: ./schemas/network-infrastructure-service-schemas.yaml#/components/schemas/RouteMetrics
  responses:
    BadRequest:
      $ref: ./schemas/network-infrastructure-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/network-infrastructure-service-responses.yaml#/components/responses/Unauthorized
    NotFound:
      $ref: ./schemas/network-infrastructure-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/network-infrastructure-service-responses.yaml#/components/responses/Conflict
    InternalServerError:
      $ref: ./schemas/network-infrastructure-service-responses.yaml#/components/responses/InternalServerError
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
