openapi: 3.0.3
info:
  title: Network Infrastructure Service API - Enterprise-Grade Domain Service
  description: "**Enterprise-Grade Network Infrastructure API for NECPGAME**

    This API manages all network communications, real-time connections, and infrastructure
    within the NECPGAME ecosystem, providing WebSocket management, message routing,
    connection handling, audio streaming, and network analysis capabilities.

    ## Key Features

    - **WebSocket Management**: High-performance WebSocket connection handling with clustering
    - **Real-time Messaging**: Low-latency message routing and delivery systems
    - **Connection Management**: Advanced connection state tracking and lifecycle management
    - **Audio Streaming**: Real-time audio communication for voice chat and game audio
    - **Network Analysis**: Traffic monitoring, performance metrics, and network diagnostics
    - **Load Balancing**: Intelligent routing and load distribution across network nodes

    ## Domain Purpose

    The Network Infrastructure Service handles all network communications and real-time
    connectivity within NECPGAME. It ensures reliable, high-performance connections for
    real-time gameplay, voice communication, and system monitoring across distributed
    infrastructure.

    ## Performance Targets

    - Connection Latency: <10ms for WebSocket message delivery
    - Concurrent Connections: 500,000+ active WebSocket connections
    - Message Throughput: 100,000+ messages per second
    - Audio Streaming: <50ms end-to-end audio latency
    - Network Monitoring: <1s response time for diagnostics

    "
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.necpgame.com/v1/network
    description: Production server
  - url: https://staging-api.necpgame.com/v1/network
    description: Staging server
  - url: http://localhost:8080/api/v1/network
    description: Local development server
security:
  - BearerAuth: [ ]
tags:
  - name: WebSocket Management
    description: WebSocket connection handling and real-time communication
  - name: Connection Management
    description: Connection lifecycle, state tracking, and routing
  - name: Audio Streaming
    description: Real-time audio communication and voice chat
  - name: Network Analysis
    description: Network monitoring, diagnostics, and performance metrics
  - name: Message Routing
    description: Message delivery, routing, and load balancing
  - name: Health Monitoring
    description: Service health and monitoring endpoints
paths:
  # Health monitoring endpoints
  /health:
    get:
      summary: Network service health check
      description: "**Enterprise-grade health check endpoint**

        Provides real-time health status of the network infrastructure service.

        Critical for service discovery, load balancing, and monitoring."
      operationId: getHealth
      tags:
        - Health Monitoring
      security:
        - BearerAuth: [ ]
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
              - deflate
              - br
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/health.yaml#/HealthResponse"
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/health.yaml#/HealthResponse"
        "429":
          description: Too many requests - rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"

  /health/batch:
    post:
      summary: Batch health check for network components
      description: "**Performance optimization:** Check multiple network components health in single request

        Reduces network overhead by ~80% for monitoring dashboards.

        **Input:** Array of component names
        **Output:** Health status for each network component"
      operationId: getBatchHealth
      tags:
        - Health Monitoring
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - components
              properties:
                components:
                  type: array
                  items:
                    type: string
                  description: List of network components to check
      responses:
        "200":
          description: Batch health status retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: "../common-service/schemas/health.yaml#/HealthResponse"
                  timestamp:
                    type: string
                    format: date-time
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"

  # WebSocket Management endpoints
  /ws:
    get:
      summary: Establish WebSocket connection
      description: "**Real-time communication endpoint**

        Establishes persistent WebSocket connection for real-time messaging,
        game events, and live updates. Supports connection clustering and
        automatic failover.

        **Features:**
        - Connection pooling and load balancing
        - Automatic reconnection with exponential backoff
        - Message compression and batching
        - Heartbeat monitoring (30s intervals)
        - Per-connection rate limiting"
      operationId: establishWebSocket
      tags:
        - WebSocket Management
      security:
        - BearerAuth: [ ]
      parameters:
        - name: protocol
          in: query
          schema:
            type: string
            enum:
              - game-events
              - chat
              - voice
              - system
            default: game-events
          description: Communication protocol type
        - name: compression
          in: query
          schema:
            type: string
            enum:
              - none
              - gzip
              - deflate
            default: gzip
          description: Message compression method
      responses:
        "101":
          description: WebSocket connection established
          headers:
            Sec-WebSocket-Protocol:
              schema:
                type: string
                example: game-events
        "400":
          description: Invalid connection parameters
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        "401":
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"
        "429":
          description: Connection limit exceeded
          content:
            application/json:
              schema:
                $ref: "../common-service/schemas/error.yaml#/Error"

  /ws/connections:
    get:
      summary: List active WebSocket connections
      description: Retrieve information about active WebSocket connections
      operationId: listConnections
      tags:
        - WebSocket Management
      security:
        - BearerAuth: [ ]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum:
              - active
              - inactive
              - all
            default: active
          description: Filter by connection status
        - name: protocol
          in: query
          schema:
            type: string
            enum:
              - game-events
              - chat
              - voice
              - system
          description: Filter by protocol type
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          description: Maximum number of connections to return
      responses:
        "200":
          description: Connections retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionListResponse"
        "400":
          $ref: "../common-service/responses/error.yaml#/BadRequest"
        "401":
          $ref: "../common-service/responses/error.yaml#/Unauthorized"

  /ws/connections/{connection_id}:
    get:
      summary: Get connection details
      description: Retrieve detailed information about a specific WebSocket connection
      operationId: getConnection
      tags:
        - WebSocket Management
      security:
        - BearerAuth: [ ]
      parameters:
        - name: connection_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Connection unique identifier
      responses:
        "200":
          description: Connection details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionDetails"
        "404":
          $ref: "../common-service/responses/error.yaml#/NotFound"
        "401":
          $ref: "../common-service/responses/error.yaml#/Unauthorized"

    delete:
      summary: Close WebSocket connection
      description: Forcefully close a WebSocket connection
      operationId: closeConnection
      tags:
        - WebSocket Management
      security:
        - BearerAuth: [ ]
      parameters:
        - name: connection_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Connection unique identifier
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for closing the connection
                code:
                  type: integer
                  minimum: 1000
                  maximum: 4999
                  default: 1000
                  description: WebSocket close code
      responses:
        "200":
          description: Connection closed successfully
        "404":
          $ref: "../common-service/responses/error.yaml#/NotFound"
        "401":
          $ref: "../common-service/responses/error.yaml#/Unauthorized"

  # Connection Management endpoints
  /connections/{connection_id}/subscribe:
    post:
      summary: Subscribe connection to topics
      description: Subscribe a WebSocket connection to specific topics for targeted messaging
      operationId: subscribeConnection
      tags:
        - Connection Management
      security:
        - BearerAuth: [ ]
      parameters:
        - name: connection_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Connection unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubscriptionRequest"
      responses:
        "200":
          description: Subscription created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionResponse"
        "400":
          $ref: "../common-service/responses/error.yaml#/BadRequest"
        "404":
          $ref: "../common-service/responses/error.yaml#/NotFound"
        "401":
          $ref: "../common-service/responses/error.yaml#/Unauthorized"

  /connections/{connection_id}/unsubscribe:
    post:
      summary: Unsubscribe connection from topics
      description: Remove topic subscriptions from a WebSocket connection
      operationId: unsubscribeConnection
      tags:
        - Connection Management
      security:
        - BearerAuth: [ ]
      parameters:
        - name: connection_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Connection unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnsubscriptionRequest"
      responses:
        "200":
          description: Unsubscription completed successfully
        "400":
          $ref: "../common-service/responses/error.yaml#/BadRequest"
        "404":
          $ref: "../common-service/responses/error.yaml#/NotFound"
        "401":
          $ref: "../common-service/responses/error.yaml#/Unauthorized"

  # Audio Streaming endpoints
  /audio/streams:
    post:
      summary: Create audio stream
      description: Create a new audio streaming session for voice chat or game audio
      operationId: createAudioStream
      tags:
        - Audio Streaming
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAudioStreamRequest"
      responses:
        "201":
          description: Audio stream created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioStream"
        "400":
          $ref: "../common-service/responses/error.yaml#/BadRequest"
        "401":
          $ref: "../common-service/responses/error.yaml#/Unauthorized"

    get:
      summary: List audio streams
      description: Retrieve list of active audio streams
      operationId: listAudioStreams
      tags:
        - Audio Streaming
      security:
        - BearerAuth: [ ]
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum:
              - voice
              - game
              - music
              - all
            default: all
          description: Filter by stream type
        - name: status
          in: query
          schema:
            type: string
            enum:
              - active
              - inactive
              - all
            default: active
          description: Filter by stream status
      responses:
        "200":
          description: Audio streams retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioStreamListResponse"
        "401":
          $ref: "../common-service/responses/error.yaml#/Unauthorized"

  /audio/streams/{stream_id}:
    get:
      summary: Get audio stream details
      description: Retrieve detailed information about an audio stream
      operationId: getAudioStream
      tags:
        - Audio Streaming
      security:
        - BearerAuth: [ ]
      parameters:
        - name: stream_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Audio stream unique identifier
      responses:
        "200":
          description: Audio stream details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioStream"
        "404":
          $ref: "../common-service/responses/error.yaml#/NotFound"
        "401":
          $ref: "../common-service/responses/error.yaml#/Unauthorized"

    delete:
      summary: Close audio stream
      description: Close an active audio streaming session
      operationId: closeAudioStream
      tags:
        - Audio Streaming
      security:
        - BearerAuth: [ ]
      parameters:
        - name: stream_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Audio stream unique identifier
      responses:
        "200":
          description: Audio stream closed successfully
        "404":
          $ref: "../common-service/responses/error.yaml#/NotFound"
        "401":
          $ref: "../common-service/responses/error.yaml#/Unauthorized"

  /audio/streams/{stream_id}/participants:
    post:
      summary: Add participant to audio stream
      description: Add a user as a participant in an audio stream
      operationId: addStreamParticipant
      tags:
        - Audio Streaming
      security:
        - BearerAuth: [ ]
      parameters:
        - name: stream_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Audio stream unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddParticipantRequest"
      responses:
        "200":
          description: Participant added successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamParticipant"
        "400":
          $ref: "../common-service/responses/error.yaml#/BadRequest"
        "404":
          $ref: "../common-service/responses/error.yaml#/NotFound"
        "401":
          $ref: "../common-service/responses/error.yaml#/Unauthorized"

    get:
      summary: List stream participants
      description: Get list of participants in an audio stream
      operationId: listStreamParticipants
      tags:
        - Audio Streaming
      security:
        - BearerAuth: [ ]
      parameters:
        - name: stream_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Audio stream unique identifier
      responses:
        "200":
          description: Participants retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParticipantListResponse"
        "404":
          $ref: "../common-service/responses/error.yaml#/NotFound"
        "401":
          $ref: "../common-service/responses/error.yaml#/Unauthorized"

  # Network Analysis endpoints
  /network/analysis/traffic:
    get:
      summary: Get network traffic analysis
      description: Retrieve network traffic statistics and analysis
      operationId: getNetworkTraffic
      tags:
        - Network Analysis
      security:
        - BearerAuth: [ ]
      parameters:
        - name: timeframe
          in: query
          schema:
            type: string
            enum:
              - 1m
              - 5m
              - 15m
              - 1h
              - 24h
            default: 1h
          description: Analysis timeframe
        - name: granularity
          in: query
          schema:
            type: string
            enum:
              - second
              - minute
              - hour
            default: minute
          description: Data granularity
        - name: metric
          in: query
          schema:
            type: string
            enum:
              - bandwidth
              - latency
              - packet_loss
              - connections
              - all
            default: all
          description: Specific metric to analyze
      responses:
        "200":
          description: Network traffic analysis retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NetworkTrafficAnalysis"
        "400":
          $ref: "../common-service/responses/error.yaml#/BadRequest"
        "401":
          $ref: "../common-service/responses/error.yaml#/Unauthorized"

  /network/analysis/connections:
    get:
      summary: Get connection analysis
      description: Analyze WebSocket connection patterns and performance
      operationId: getConnectionAnalysis
      tags:
        - Network Analysis
      security:
        - BearerAuth: [ ]
      parameters:
        - name: region
          in: query
          schema:
            type: string
          description: Filter by geographic region
        - name: protocol
          in: query
          schema:
            type: string
            enum:
              - websocket
              - tcp
              - udp
              - all
            default: all
          description: Protocol type filter
        - name: timeframe
          in: query
          schema:
            type: string
            enum:
              - 1h
              - 6h
              - 24h
              - 7d
            default: 24h
          description: Analysis timeframe
      responses:
        "200":
          description: Connection analysis retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionAnalysis"
        "400":
          $ref: "../common-service/responses/error.yaml#/BadRequest"
        "401":
          $ref: "../common-service/responses/error.yaml#/Unauthorized"

  /network/analysis/routes:
    get:
      summary: Get routing analysis
      description: Analyze message routing efficiency and performance
      operationId: getRoutingAnalysis
      tags:
        - Network Analysis
      security:
        - BearerAuth: [ ]
      parameters:
        - name: route_type
          in: query
          schema:
            type: string
            enum:
              - websocket
              - http
              - internal
              - all
            default: all
          description: Route type filter
        - name: timeframe
          in: query
          schema:
            type: string
            enum:
              - 1h
              - 6h
              - 24h
            default: 1h
          description: Analysis timeframe
      responses:
        "200":
          description: Routing analysis retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoutingAnalysis"
        "400":
          $ref: "../common-service/responses/error.yaml#/BadRequest"
        "401":
          $ref: "../common-service/responses/error.yaml#/Unauthorized"

components:
  securitySchemes:
    BearerAuth:
      $ref: ../common-service/security/security.yaml#/BearerAuth
  responses:
    BadRequest:
      $ref: "../common-service/responses/error.yaml#/BadRequest"
    Unauthorized:
      $ref: "../common-service/responses/error.yaml#/Unauthorized"
    NotFound:
      $ref: "../common-service/responses/error.yaml#/NotFound"
    Conflict:
      $ref: "../common-service/responses/error.yaml#/Conflict"
    InternalServerError:
      $ref: "../common-service/responses/error.yaml#/InternalServerError"
  schemas:
    # WebSocket Management schemas
    ConnectionDetails:
      type: object
      properties:
        connection_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - connecting
            - connected
            - disconnected
            - error
        protocol:
          type: string
          enum:
            - game-events
            - chat
            - voice
            - system
        connected_at:
          type: string
          format: date-time
        last_activity:
          type: string
          format: date-time
        ip_address:
          type: string
        user_agent:
          type: string
        subscriptions:
          type: array
          items:
            type: string
          description: Active topic subscriptions
        metrics:
          $ref: "#/components/schemas/ConnectionMetrics"
      required:
        - connection_id
        - user_id
        - status
        - protocol
        - connected_at

    ConnectionListResponse:
      type: object
      properties:
        connections:
          type: array
          items:
            $ref: "#/components/schemas/ConnectionDetails"
        total_count:
          type: integer
        active_count:
          type: integer
        timestamp:
          type: string
          format: date-time

    ConnectionMetrics:
      type: object
      properties:
        messages_sent:
          type: integer
          minimum: 0
        messages_received:
          type: integer
          minimum: 0
        bytes_sent:
          type: integer
          minimum: 0
        bytes_received:
          type: integer
          minimum: 0
        average_latency_ms:
          type: number
          minimum: 0
        uptime_seconds:
          type: integer
          minimum: 0

    # Connection Management schemas
    SubscriptionRequest:
      type: object
      required:
        - topics
      properties:
        topics:
          type: array
          items:
            type: string
          minItems: 1
          description: Topics to subscribe to
        filters:
          type: object
          additionalProperties: true
          description: Optional subscription filters

    SubscriptionResponse:
      type: object
      properties:
        connection_id:
          type: string
          format: uuid
        subscribed_topics:
          type: array
          items:
            type: string
        subscription_id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time

    UnsubscriptionRequest:
      type: object
      required:
        - topics
      properties:
        topics:
          type: array
          items:
            type: string
          minItems: 1
          description: Topics to unsubscribe from

    # Audio Streaming schemas
    CreateAudioStreamRequest:
      type: object
      required:
        - type
        - quality
      properties:
        type:
          type: string
          enum:
            - voice
            - game
            - music
          description: Audio stream type
        quality:
          type: string
          enum:
            - low
            - medium
            - high
            - ultra
          default: medium
          description: Audio quality setting
        max_participants:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
          description: Maximum number of participants
        bitrate:
          type: integer
          minimum: 8000
          maximum: 512000
          description: Audio bitrate in bps
        channels:
          type: integer
          enum: [ 1, 2 ]
          default: 2
          description: Audio channels (mono/stereo)
        name:
          type: string
          maxLength: 100
          description: Optional stream name

    AudioStream:
      type: object
      properties:
        stream_id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - voice
            - game
            - music
        status:
          type: string
          enum:
            - creating
            - active
            - paused
            - ended
            - error
        quality:
          type: string
          enum:
            - low
            - medium
            - high
            - ultra
        created_at:
          type: string
          format: date-time
        participant_count:
          type: integer
          minimum: 0
        max_participants:
          type: integer
          minimum: 1
        bitrate:
          type: integer
        channels:
          type: integer
        host_user_id:
          type: string
          format: uuid
        name:
          type: string
      required:
        - stream_id
        - type
        - status
        - quality
        - created_at

    AudioStreamListResponse:
      type: object
      properties:
        streams:
          type: array
          items:
            $ref: "#/components/schemas/AudioStream"
        total_count:
          type: integer
        active_count:
          type: integer

    AddParticipantRequest:
      type: object
      required:
        - user_id
      properties:
        user_id:
          type: string
          format: uuid
          description: User to add as participant
        permissions:
          type: string
          enum:
            - speak
            - listen
            - moderate
          default: speak
          description: Participant permissions

    StreamParticipant:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        joined_at:
          type: string
          format: date-time
        permissions:
          type: string
          enum:
            - speak
            - listen
            - moderate
        is_muted:
          type: boolean
          default: false
        is_deafened:
          type: boolean
          default: false
        quality:
          type: string
          enum:
            - low
            - medium
            - high
            - ultra
      required:
        - user_id
        - joined_at

    ParticipantListResponse:
      type: object
      properties:
        participants:
          type: array
          items:
            $ref: "#/components/schemas/StreamParticipant"
        stream_id:
          type: string
          format: uuid
        count:
          type: integer

    # Network Analysis schemas
    NetworkTrafficAnalysis:
      type: object
      properties:
        timeframe:
          type: string
        granularity:
          type: string
        metrics:
          type: object
          properties:
            total_bandwidth_mb:
              type: number
            peak_bandwidth_mbps:
              type: number
            average_latency_ms:
              type: number
            packet_loss_percent:
              type: number
            active_connections:
              type: integer
            messages_per_second:
              type: number
        data_points:
          type: array
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
              bandwidth_mbps:
                type: number
              latency_ms:
                type: number
              packet_loss:
                type: number
              connections:
                type: integer
        regions:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/RegionalMetrics"
      required:
        - timeframe
        - granularity
        - metrics

    RegionalMetrics:
      type: object
      properties:
        bandwidth_mbps:
          type: number
        latency_ms:
          type: number
        packet_loss_percent:
          type: number
        active_connections:
          type: integer
        server_count:
          type: integer

    ConnectionAnalysis:
      type: object
      properties:
        total_connections:
          type: integer
        active_connections:
          type: integer
        connections_by_protocol:
          type: object
          additionalProperties:
            type: integer
        connections_by_region:
          type: object
          additionalProperties:
            type: integer
        average_connection_duration_seconds:
          type: number
        connection_success_rate:
          type: number
        peak_concurrent_connections:
          type: integer
        connection_errors:
          type: object
          properties:
            total:
              type: integer
            by_type:
              type: object
              additionalProperties:
                type: integer
      required:
        - total_connections
        - active_connections

    RoutingAnalysis:
      type: object
      properties:
        route_type:
          type: string
        timeframe:
          type: string
        total_messages_routed:
          type: integer
        average_routing_latency_ms:
          type: number
        routing_success_rate:
          type: number
        routes_by_type:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/RouteMetrics"
        failed_routes:
          type: integer
        route_errors:
          type: object
          additionalProperties:
            type: integer
      required:
        - route_type
        - timeframe

    RouteMetrics:
      type: object
      properties:
        message_count:
          type: integer
        average_latency_ms:
          type: number
        success_rate:
          type: number
        error_count:
          type: integer
