openapi: 3.0.3
info:
  title: Notification Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Notification & Messaging API for NECPGAME**

    This API manages all forms of notifications, messages, and real-time communication
    within the NECPGAME ecosystem, including chat systems, event-driven messaging,
    message queues, and Kafka-based event streaming.

    ## Key Features

    - **Real-time Messaging**: WebSocket-based chat systems for global, guild, and
    private channels - **Event Streaming**: Kafka-based event publishing for player
    activities and system events - **Message Queues**: High-throughput message queuing
    with priority and TTL support - **Notification Delivery**: Reliable push notifications
    and in-game alerts - **Social Communication**: Multi-channel chat with moderation
    and formatting - **Performance Optimized**: MMOFPS-grade performance with <20ms
    message delivery

    ## Domain Purpose

    The Notification Service handles all communication and messaging within NECPGAME,
    from real-time chat conversations to system-wide event notifications. It ensures
    reliable message delivery, proper moderation, and scalable event processing.

    ## Performance Targets

    - Message Delivery: <20ms P99 latency for real-time messages - Throughput: 100,000+
    messages per second sustained - Concurrent Connections: 500,000+ WebSocket connections
    - Queue Processing: <5ms average dequeue time - Event Streaming: Sub-millisecond
    publish latency

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/notification
  description: Production server
- url: https://staging-api.necpgame.com/v1/notification
  description: Staging server
- url: http://localhost:8080/api/v1/notification
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Chat Messaging
  description: Real-time chat and messaging operations
- name: Event Streaming
  description: Kafka-based event publishing and consumption
- name: Message Queues
  description: Message queue operations and management
- name: Notifications
  description: Push notifications and alerts
- name: Health Monitoring
  description: Service health and monitoring endpoints
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /chat/messages:
    $ref: ./paths/chat-messages.yaml#/paths/~1chat~1messages
  /chat/channels:
    $ref: ./paths/chat-channels.yaml#/paths/~1chat~1channels
  /queues/messages:
    $ref: ./paths/queues-messages.yaml#/paths/~1queues~1messages
  /queues/messages/{messageId}/ack:
    $ref: ./paths/queues-messages-{messageId}-ack.yaml#/paths/~1queues~1messages~1{messageId}~1ack
  /queues:
    $ref: ./paths/queues.yaml#/paths/~1queues
  /events/publish:
    $ref: ./paths/events-publish.yaml#/paths/~1events~1publish
  /events/topics:
    $ref: ./paths/events-topics.yaml#/paths/~1events~1topics
  /notifications:
    $ref: ./paths/notifications.yaml#/paths/~1notifications
components:
  schemas:
    ChatMessage:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/ChatMessage
    Channel:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/Channel
    MessageListResponse:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/MessageListResponse
    SendMessageRequest:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/SendMessageRequest
    CreateChannelRequest:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/CreateChannelRequest
    ChannelListResponse:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/ChannelListResponse
    EnqueueMessageRequest:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/EnqueueMessageRequest
    EnqueueMessageResponse:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/EnqueueMessageResponse
    DequeueMessageResponse:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/DequeueMessageResponse
    QueueMessage:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/QueueMessage
    AcknowledgeMessageRequest:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/AcknowledgeMessageRequest
    AcknowledgeMessageResponse:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/AcknowledgeMessageResponse
    CreateQueueRequest:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/CreateQueueRequest
    CreateQueueResponse:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/CreateQueueResponse
    BaseEvent:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/BaseEvent
    PublishEventRequest:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/PublishEventRequest
    PublishEventResponse:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/PublishEventResponse
    EventTopicsResponse:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/EventTopicsResponse
    Notification:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/Notification
    NotificationListResponse:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/NotificationListResponse
    SendNotificationRequest:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/SendNotificationRequest
    WebSocketHealthMessage:
      $ref: ./schemas/notification-service-schemas.yaml#/components/schemas/WebSocketHealthMessage
  responses:
    BadRequest:
      $ref: ./schemas/notification-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/notification-service-responses.yaml#/components/responses/Unauthorized
    NotFound:
      $ref: ./schemas/notification-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/notification-service-responses.yaml#/components/responses/Conflict
    InternalServerError:
      $ref: ./schemas/notification-service-responses.yaml#/components/responses/InternalServerError
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
