openapi: 3.0.3
info:
  title: Faction Service API - Enterprise-Grade Diplomacy Systems
  description: '**Enterprise-Grade Faction Service API for NECPGAME**

    This API manages faction systems, diplomacy mechanics, and inter-faction
    relationships in the Night City universe, providing comprehensive political
    simulation, reputation management, and competitive faction dynamics.

    ## Key Features

    - **Faction Management**: Creation, hierarchy, and administration - **Diplomacy Systems**: Alliances, wars, treaties, and negotiations - **Reputation Mechanics**: Standing, influence, and relationship tracking - **Territory Control**: Influence zones, borders, and territorial disputes - **Performance Optimized**: MMOFPS-grade performance with <15ms P99 latency

    ## Domain Purpose

    The Faction domain handles all aspects of political organization and
    inter-group relationships in Night City. Players form factions to control
    territory, wage wars, form alliances, and shape the political landscape
    of the game world.

    ## Performance Targets

    - P99 Latency: <15ms for faction operations - Memory: <10KB per active faction member - Concurrent factions: 100,000+ active factions - Diplomacy updates: <25ms propagation time - Faction chat: 2000+ concurrent users

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/faction
  description: Production server
- url: https://staging-api.necpgame.com/v1/faction
  description: Staging server
- url: http://localhost:8080/api/v1/faction
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Faction Management
  description: Core faction creation and administration
- name: Diplomacy Management
  description: Alliances, wars, and treaty negotiations
- name: Territory Control
  description: Influence zones and territorial disputes
- name: Reputation System
  description: Standing, influence, and relationship tracking
- name: Faction Competition
  description: Rankings, PvP, and inter-faction conflicts
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Faction service health check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the faction microservice.
        Critical for service discovery, load balancing, and monitoring.
        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: factionServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"faction-health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        "429":
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /health/batch:
    post:
      summary: Batch health check for multiple faction services
      description: '**Performance optimization:** Check multiple faction health in
        single request

        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.

        **Use case:** Service mesh health checks, Kubernetes readiness probes

        '
      operationId: factionServiceBatchHealthCheck
      tags:
      - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                    - faction-service
                    - diplomacy-service
                    - territory-service
                  maxItems: 10
                  description: List of services to check
      responses:
        '200':
          $ref: '../common/responses/success.yaml#/components/responses/HealthBatchSuccess'
        '400':
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /factions:
    get:
      summary: List factions with filtering and pagination
      description: '**Enterprise-grade faction listing endpoint**

        Retrieves factions with advanced filtering by reputation, influence,
        and diplomatic status. Supports comprehensive search and discovery.

        **Performance:** <12ms P95 with database indexing

        **Features:** Full-text search, influence-based filtering, diplomacy status

        '
      operationId: listFactions
      tags:
      - Faction Management
      parameters:
      - name: name
        in: query
        schema:
          type: string
          minLength: 1
          maxLength: 50
      - name: reputation_min
        in: query
        schema:
          type: integer
          minimum: -1000
      - name: reputation_max
        in: query
        schema:
          type: integer
          maximum: 1000
      - name: influence_min
        in: query
        schema:
          type: integer
          minimum: 0
      - name: diplomatic_status
        in: query
        schema:
          type: string
          enum:
          - neutral
          - allied
          - hostile
          - at_war
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
      responses:
        '200':
          description: Factions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactionListResponse'
          headers:
            X-Total-Count:
              schema:
                type: integer
              description: Total number of factions matching criteria
            X-Page-Count:
              schema:
                type: integer
              description: Total number of pages
            Cache-Control:
              schema:
                type: string
                example: max-age=60, private
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
    post:
      summary: Create new faction
      description: '**Faction creation endpoint**

        Creates a new faction with initial diplomatic status and influence.
        Validates faction name uniqueness and founder eligibility.

        **Performance:** <40ms P95 including validation and initial setup

        **Validation:** Name uniqueness, founder permissions, creation limits

        '
      operationId: createFaction
      tags:
      - Faction Management
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFactionRequest'
      responses:
        '201':
          description: Faction created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactionResponse'
          headers:
            Location:
              schema:
                type: string
                example: /api/v1/faction/factions/550e8400-e29b-41d4-a716-446655440000
        '400':
          description: Invalid faction configuration
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '409':
          description: Faction name already exists or creation limit reached
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /factions/{faction_id}:
    get:
      summary: Get faction details
      description: '**Faction details retrieval endpoint**

        Retrieves comprehensive faction information including members,
        diplomatic relations, and influence zones.

        **Performance:** <8ms P95 with Redis caching

        **Features:** Conditional requests, partial member loading

        '
      operationId: getFaction
      tags:
      - Faction Management
      parameters:
      - name: faction_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: include_members
        in: query
        schema:
          type: boolean
          default: true
      - name: include_diplomacy
        in: query
        schema:
          type: boolean
          default: true
      - name: If-None-Match
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Faction details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactionResponse'
          headers:
            ETag:
              schema:
                type: string
                example: '"faction-123-v1"'
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
        '304':
          description: Not modified - faction has not changed
        '404':
          description: Faction not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
    put:
      summary: Update faction configuration
      description: '**Faction update endpoint**

        Updates faction settings, diplomatic stance, and configuration.
        Supports partial updates with optimistic locking.

        **Performance:** <20ms P95 with conflict resolution

        **Security:** Leadership permissions required

        '
      operationId: updateFaction
      tags:
      - Faction Management
      security:
      - BearerAuth: []
      parameters:
      - name: faction_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: If-Match
        in: header
        schema:
          type: string
        description: Optimistic locking version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFactionRequest'
      responses:
        '200':
          description: Faction updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactionResponse'
        '400':
          description: Invalid update parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions to update faction
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '404':
          description: Faction not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '409':
          description: Version conflict - faction was modified concurrently
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
    delete:
      summary: Disband faction
      description: '**Faction disband endpoint**

        Permanently disbands a faction, handling member reassignment and
        diplomatic cleanup. Requires leadership consensus.

        **Performance:** <80ms P95 including diplomatic dissolution

        **Security:** Strict permission checks and confirmation required

        '
      operationId: disbandFaction
      tags:
      - Faction Management
      security:
      - BearerAuth: []
      parameters:
      - name: faction_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - confirmation_code
              properties:
                confirmation_code:
                  type: string
                  description: Faction disband confirmation code
                member_reassignment:
                  type: string
                  enum:
                  - neutral_faction
                  - disband_members
                  - merge_to_faction
                  default: neutral_faction
                merge_target_faction_id:
                  type: string
                  format: uuid
                  description: Required if member_reassignment is merge_to_faction
      responses:
        '204':
          description: Faction disbanded successfully
        '400':
          description: Invalid confirmation or parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions to disband faction
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '404':
          description: Faction not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /factions/{faction_id}/diplomacy:
    get:
      summary: Get faction diplomatic relations
      description: '**Diplomatic relations endpoint**

        Retrieves all diplomatic relationships for a faction including
        alliances, wars, and treaties with other factions.

        **Performance:** <15ms P95 with relationship indexing

        '
      operationId: getFactionDiplomacy
      tags:
      - Diplomacy Management
      parameters:
      - name: faction_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Diplomatic relations retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactionDiplomacyResponse'
        '404':
          description: Faction not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
    post:
      summary: Initiate diplomatic action
      description: '**Diplomatic action endpoint**

        Initiates diplomatic actions like declaring war, proposing alliances,
        or offering peace treaties between factions.

        **Performance:** <30ms P95 including notification dispatch

        **Validation:** Diplomatic rules and faction permissions

        '
      operationId: initiateDiplomaticAction
      tags:
      - Diplomacy Management
      security:
      - BearerAuth: []
      parameters:
      - name: faction_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiplomaticActionRequest'
      responses:
        '201':
          description: Diplomatic action initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiplomaticActionResponse'
        '400':
          description: Invalid diplomatic action parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions to initiate diplomatic action
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '404':
          description: Faction not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '409':
          description: Diplomatic action violates current relations or rules
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /factions/{faction_id}/territory:
    get:
      summary: Get faction territory and influence zones
      description: '**Territory control endpoint**

        Retrieves faction-controlled territories, influence zones,
        and border dispute information.

        **Performance:** <18ms P95 with spatial indexing

        **Features:** Geographic boundaries, influence gradients

        '
      operationId: getFactionTerritory
      tags:
      - Territory Control
      parameters:
      - name: faction_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Territory information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactionTerritoryResponse'
        '404':
          description: Faction not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
    post:
      summary: Claim territory for faction
      description: '**Territory claim endpoint**

        Initiates territory claim process with influence expansion
        and potential border disputes.

        **Performance:** <35ms P95 including dispute resolution

        **Validation:** Territory availability, influence requirements

        '
      operationId: claimTerritory
      tags:
      - Territory Control
      security:
      - BearerAuth: []
      parameters:
      - name: faction_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerritoryClaimRequest'
      responses:
        '201':
          description: Territory claim initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerritoryClaimResponse'
        '400':
          description: Invalid territory claim parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions or influence to claim territory
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '404':
          description: Faction not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '409':
          description: Territory already claimed or in dispute
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /factions/{faction_id}/reputation:
    get:
      summary: Get faction reputation and standing
      description: '**Reputation tracking endpoint**

        Retrieves faction reputation scores, standing with other factions,
        and influence metrics across the game world.

        **Performance:** <12ms P95 with reputation caching

        '
      operationId: getFactionReputation
      tags:
      - Reputation System
      parameters:
      - name: faction_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Reputation information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactionReputationResponse'
        '404':
          description: Faction not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
    post:
      summary: Adjust faction reputation
      description: '**Reputation adjustment endpoint**

        Modifies faction reputation through events, achievements,
        or administrative actions.

        **Performance:** <20ms P95 with reputation recalculation

        **Security:** Admin permissions required for manual adjustments

        '
      operationId: adjustFactionReputation
      tags:
      - Reputation System
      security:
      - BearerAuth: []
      parameters:
      - name: faction_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReputationAdjustmentRequest'
      responses:
        '200':
          description: Reputation adjusted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactionReputationResponse'
        '400':
          description: Invalid reputation adjustment parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '401':
          $ref: '../common/responses/error.yaml#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions to adjust reputation
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '404':
          description: Faction not found
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
  /factions/rankings:
    get:
      summary: Get faction rankings and statistics
      description: '**Faction rankings endpoint**

        Retrieves global faction rankings by reputation, influence,
        and diplomatic power. Supports different ranking categories.

        **Performance:** <20ms P95 with cached rankings

        **Caching:** Rankings updated hourly with real-time deltas

        '
      operationId: getFactionRankings
      tags:
      - Faction Competition
      parameters:
      - name: category
        in: query
        schema:
          type: string
          enum:
          - reputation
          - influence
          - territory_control
          - diplomatic_power
          default: reputation
      - name: time_period
        in: query
        schema:
          type: string
          enum:
          - daily
          - weekly
          - monthly
          - all_time
          default: all_time
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      responses:
        '200':
          description: Faction rankings retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FactionRankingsResponse'
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=3600, public
        '400':
          description: Invalid ranking parameters
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
        '429':
          $ref: '../common/responses/error.yaml#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse'
components:
  responses:
    HealthBatchSuccess:
      description: Batch health check successful
      content:
        application/json:
          schema:
            type: object
            required:
            - services
            properties:
              services:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/HealthResponse'
    OK:
      description: Success
      content:
        application/json:
          schema:
            type: object
            required:
            - message
            properties:
              message:
                type: string
    Created:
      description: Resource created
      content:
        application/json:
          schema:
            type: object
            required:
            - message
            properties:
              message:
                type: string
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    HealthOK:
      description: Health check OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HealthResponse'
  schemas:
    HealthResponse:
      type: object
      required:
      - status
      - timestamp
      properties:
        status:
          type: string
          enum:
          - healthy
          - unhealthy
        message:
          type: string
        timestamp:
          type: string
          format: date-time
        details:
          $ref: '#/components/schemas/HealthDetails'
    HealthDetails:
      type: object
      properties:
        totalFactions:
          type: integer
        activeFactions:
          type: integer
        totalDiplomacy:
          type: integer
        activeDiplomacy:
          type: integer
    ErrorResponse:
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object
    FactionListResponse:
      type: object
      required:
      - factions
      - pagination
      properties:
        factions:
          type: array
          items:
            $ref: '#/components/schemas/FactionSummary'
        pagination:
          type: object
          required:
          - page
          - limit
          - total_count
          - total_pages
          properties:
            page:
              type: integer
            limit:
              type: integer
            total_count:
              type: integer
            total_pages:
              type: integer
      description: 'BACKEND NOTE: Faction list response optimized for discovery UI.
        Paginated results prevent large payloads.'
    FactionSummary:
      type: object
      required:
      - faction_id
      - name
      - reputation
      properties:
        faction_id:
          type: string
          format: uuid
        name:
          type: string
          maxLength: 50
        reputation:
          type: integer
          minimum: -1000
          maximum: 1000
        influence:
          type: integer
          minimum: 0
        diplomatic_status:
          type: string
          enum:
          - neutral
          - allied
          - hostile
          - at_war
        member_count:
          type: integer
          minimum: 0
        description:
          type: string
          maxLength: 200
        created_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Faction summary optimized for listing performance.
        Minimal fields for search and discovery.'
    Faction:
      type: object
      required:
      - faction_id
      - name
      - leader_id
      - created_at
      properties:
        faction_id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 3
          maxLength: 50
        description:
          type: string
          maxLength: 1000
        leader_id:
          type: string
          format: uuid
        reputation:
          type: integer
          minimum: -1000
          maximum: 1000
          default: 0
        influence:
          type: integer
          minimum: 0
          default: 0
        diplomatic_stance:
          type: string
          enum:
          - neutral
          - expansionist
          - defensive
          - isolationist
          default: neutral
        member_count:
          type: integer
          minimum: 1
          maximum: 10000
        max_members:
          type: integer
          minimum: 1
          maximum: 10000
          default: 1000
        activity_status:
          type: string
          enum:
          - active
          - dormant
          - disbanding
          default: active
        requirements:
          $ref: '#/components/schemas/FactionRequirements'
        statistics:
          $ref: '#/components/schemas/FactionStatistics'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Faction data structure optimized for MMOFPS performance.
        Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    FactionRequirements:
      type: object
      properties:
        min_reputation:
          type: integer
          minimum: -1000
          maximum: 1000
          default: -100
        min_influence:
          type: integer
          minimum: 0
          default: 0
        application_required:
          type: boolean
          default: false
        approval_required:
          type: boolean
          default: true
        min_member_level:
          type: integer
          minimum: 1
          default: 1
      description: 'BACKEND NOTE: Faction requirements optimized for fast validation.
        Boolean flags enable efficient permission checks.'
    FactionStatistics:
      type: object
      properties:
        wars_declared:
          type: integer
          minimum: 0
        wars_won:
          type: integer
          minimum: 0
        alliances_formed:
          type: integer
          minimum: 0
        territories_claimed:
          type: integer
          minimum: 0
        influence_gained:
          type: integer
          minimum: 0
        average_member_reputation:
          type: number
          format: float
        last_diplomatic_action:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Faction statistics optimized for ranking calculations.
        Integer fields enable fast sorting and aggregation.'
    CreateFactionRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 50
          description: Faction name (must be unique)
        description:
          type: string
          maxLength: 1000
          description: Faction description
        diplomatic_stance:
          type: string
          enum:
          - neutral
          - expansionist
          - defensive
          - isolationist
          default: neutral
        max_members:
          type: integer
          minimum: 5
          maximum: 10000
          default: 1000
        requirements:
          $ref: '#/components/schemas/FactionRequirements'
      description: 'BACKEND NOTE: Faction creation request optimized for validation.
        Minimal required fields reduce input overhead.'
    UpdateFactionRequest:
      type: object
      properties:
        description:
          type: string
          maxLength: 1000
        diplomatic_stance:
          type: string
          enum:
          - neutral
          - expansionist
          - defensive
          - isolationist
        requirements:
          $ref: '#/components/schemas/FactionRequirements'
      description: 'BACKEND NOTE: Faction update request supports partial updates.
        Optional fields enable flexible configuration changes.'
    FactionResponse:
      type: object
      required:
      - faction
      properties:
        faction:
          $ref: '#/components/schemas/Faction'
      description: 'BACKEND NOTE: Faction response optimized for single-entity operations.
        Consistent wrapper pattern across all faction endpoints.'
    FactionDiplomacyResponse:
      type: object
      required:
      - diplomacy
      properties:
        diplomacy:
          type: array
          items:
            $ref: '#/components/schemas/DiplomaticRelation'
      description: 'BACKEND NOTE: Diplomacy response optimized for relationship management.
        Array structure enables efficient diplomatic queries.'
    DiplomaticRelation:
      type: object
      required:
      - target_faction_id
      - status
      - established_at
      properties:
        target_faction_id:
          type: string
          format: uuid
        target_faction_name:
          type: string
          maxLength: 50
        status:
          type: string
          enum:
          - neutral
          - allied
          - hostile
          - at_war
        standing:
          type: integer
          minimum: -1000
          maximum: 1000
          description: Reputation standing with this faction
        established_at:
          type: string
          format: date-time
        last_action_at:
          type: string
          format: date-time
        treaties:
          type: array
          items:
            $ref: '#/components/schemas/Treaty'
      description: 'BACKEND NOTE: Diplomatic relation data optimized for status tracking.
        Status enums enable fast diplomatic state checks.'
    Treaty:
      type: object
      required:
      - treaty_id
      - treaty_type
      - signed_at
      properties:
        treaty_id:
          type: string
          format: uuid
        treaty_type:
          type: string
          enum:
          - alliance
          - trade_agreement
          - non_aggression_pact
          - ceasefire
        signed_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        terms:
          type: string
          maxLength: 1000
      description: 'BACKEND NOTE: Treaty data optimized for diplomatic agreements.
        Structured terms enable automated treaty enforcement.'
    DiplomaticActionRequest:
      type: object
      required:
      - action_type
      - target_faction_id
      properties:
        action_type:
          type: string
          enum:
          - declare_war
          - propose_alliance
          - offer_peace
          - break_alliance
          - propose_trade
        target_faction_id:
          type: string
          format: uuid
        message:
          type: string
          maxLength: 500
          description: Optional diplomatic message
        treaty_terms:
          type: string
          maxLength: 1000
          description: Required for treaty proposals
      description: 'BACKEND NOTE: Diplomatic action request optimized for validation.
        Action type enums enable efficient diplomatic processing.'
    DiplomaticActionResponse:
      type: object
      required:
      - action_id
      - status
      properties:
        action_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - pending
          - accepted
          - rejected
          - expired
        target_faction_response_deadline:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Diplomatic action response optimized for tracking.
        Status tracking enables diplomatic workflow management.'
    FactionTerritoryResponse:
      type: object
      required:
      - territories
      properties:
        territories:
          type: array
          items:
            $ref: '#/components/schemas/Territory'
        influence_zones:
          type: array
          items:
            $ref: '#/components/schemas/InfluenceZone'
        border_disputes:
          type: array
          items:
            $ref: '#/components/schemas/BorderDispute'
      description: 'BACKEND NOTE: Territory response optimized for geographic operations.
        Separate arrays enable efficient spatial queries.'
    Territory:
      type: object
      required:
      - territory_id
      - boundaries
      - control_level
      properties:
        territory_id:
          type: string
          format: uuid
        name:
          type: string
          maxLength: 100
        boundaries:
          type: object
          description: Geographic boundary coordinates
          additionalProperties:
            type: array
            items:
              type: object
              required:
              - x
              - y
              properties:
                x:
                  type: number
                  format: float
                y:
                  type: number
                  format: float
        control_level:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Level of territorial control (0.0-1.0)
        claimed_at:
          type: string
          format: date-time
        last_conflict_at:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Territory data optimized for spatial operations.
        Boundary coordinates enable geographic calculations.'
    InfluenceZone:
      type: object
      required:
      - zone_id
      - center
      - radius
      - influence_level
      properties:
        zone_id:
          type: string
          format: uuid
        center:
          type: object
          required:
          - x
          - y
          properties:
            x:
              type: number
              format: float
            y:
              type: number
              format: float
        radius:
          type: number
          format: float
          minimum: 0
        influence_level:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
        contested_by:
          type: array
          items:
            type: string
            format: uuid
          description: IDs of factions contesting this zone
      description: 'BACKEND NOTE: Influence zone data optimized for conflict calculations.
        Center and radius enable efficient overlap detection.'
    BorderDispute:
      type: object
      required:
      - dispute_id
      - disputed_territory
      - claimants
      properties:
        dispute_id:
          type: string
          format: uuid
        disputed_territory:
          type: string
          format: uuid
        claimants:
          type: array
          items:
            type: string
            format: uuid
          minItems: 2
        dispute_started_at:
          type: string
          format: date-time
        resolution_deadline:
          type: string
          format: date-time
      description: 'BACKEND NOTE: Border dispute data optimized for conflict resolution.
        Claimant array enables multi-party dispute tracking.'
    TerritoryClaimRequest:
      type: object
      required:
      - territory_coordinates
      properties:
        territory_coordinates:
          type: object
          required:
          - center_x
          - center_y
          - radius
          properties:
            center_x:
              type: number
              format: float
            center_y:
              type: number
              format: float
            radius:
              type: number
              format: float
              minimum: 10
              maximum: 1000
        claim_type:
          type: string
          enum:
          - expansion
          - reclamation
          - conquest
          default: expansion
        justification:
          type: string
          maxLength: 500
      description: 'BACKEND NOTE: Territory claim request optimized for validation.
        Coordinate structure enables efficient boundary calculations.'
    TerritoryClaimResponse:
      type: object
      required:
      - claim_id
      - status
      properties:
        claim_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - pending
          - approved
          - contested
          - rejected
        territory_id:
          type: string
          format: uuid
        established_at:
          type: string
          format: date-time
        dispute_period_days:
          type: integer
          minimum: 1
          maximum: 30
          default: 7
      description: 'BACKEND NOTE: Territory claim response optimized for tracking.
        Status tracking enables claim workflow management.'
    FactionReputationResponse:
      type: object
      required:
      - reputation
      - standing
      properties:
        reputation:
          type: integer
          minimum: -1000
          maximum: 1000
        standing:
          type: object
          additionalProperties:
            type: integer
            minimum: -1000
            maximum: 1000
          description: Standing with other factions
        influence_metrics:
          $ref: '#/components/schemas/InfluenceMetrics'
        reputation_history:
          type: array
          items:
            $ref: '#/components/schemas/ReputationEvent'
          maxItems: 50
      description: 'BACKEND NOTE: Reputation response optimized for relationship queries.
        Standing object enables efficient diplomatic lookups.'
    InfluenceMetrics:
      type: object
      properties:
        global_influence:
          type: integer
          minimum: 0
        regional_influence:
          type: integer
          minimum: 0
        diplomatic_power:
          type: integer
          minimum: 0
        economic_influence:
          type: integer
          minimum: 0
      description: 'BACKEND NOTE: Influence metrics optimized for ranking calculations.
        Separate metrics enable detailed influence analysis.'
    ReputationEvent:
      type: object
      required:
      - event_type
      - value_change
      - timestamp
      properties:
        event_type:
          type: string
          enum:
          - diplomatic_action
          - territory_claim
          - war_outcome
          - alliance_formation
          - reputation_adjustment
        value_change:
          type: integer
          minimum: -500
          maximum: 500
        timestamp:
          type: string
          format: date-time
        description:
          type: string
          maxLength: 200
      description: 'BACKEND NOTE: Reputation event data optimized for history tracking.
        Event types enable efficient reputation trend analysis.'
    ReputationAdjustmentRequest:
      type: object
      required:
      - adjustment_type
      - value
      properties:
        adjustment_type:
          type: string
          enum:
          - manual_adjustment
          - event_bonus
          - administrative_penalty
        value:
          type: integer
          minimum: -500
          maximum: 500
        reason:
          type: string
          maxLength: 500
        target_faction_id:
          type: string
          format: uuid
          description: For standing adjustments with specific factions
      description: 'BACKEND NOTE: Reputation adjustment request optimized for validation.
        Adjustment types enable proper reputation change tracking.'
    FactionRankingsResponse:
      type: object
      required:
      - rankings
      - pagination
      properties:
        rankings:
          type: array
          items:
            $ref: '#/components/schemas/FactionRanking'
        pagination:
          type: object
          required:
          - page
          - limit
          - total_count
          properties:
            page:
              type: integer
            limit:
              type: integer
            total_count:
              type: integer
        category:
          type: string
        time_period:
          type: string
      description: 'BACKEND NOTE: Faction rankings response optimized for leaderboard display.
        Cached results reduce database load on popular categories.'
    FactionRanking:
      type: object
      required:
      - faction_id
      - name
      - rank
      - score
      properties:
        faction_id:
          type: string
          format: uuid
        name:
          type: string
        rank:
          type: integer
          minimum: 1
        score:
          type: integer
          minimum: 0
        previous_rank:
          type: integer
          minimum: 1
        rank_change:
          type: integer
          description: Positive for rank improvement, negative for decline
        reputation:
          type: integer
          minimum: -1000
          maximum: 1000
        influence:
          type: integer
          minimum: 0
      description: 'BACKEND NOTE: Faction ranking data optimized for leaderboard calculations.
        Rank change tracking enables trend analysis.'
  securitySchemes:
    BearerAuth:
      $ref: '../common/security/security.yaml#/components/securitySchemes/BearerAuth'
    ApiKeyAuth:
      $ref: '../common/security/security.yaml#/components/security/security.yaml#/components/securitySchemes/ApiKeyAuth'
    ServiceAuth:
      $ref: '../common/security/security.yaml#/components/securitySchemes/ServiceAuth'