# Target Architecture:
# - Microservice: social-service (8084)
# - Dependencies: world-service, economy-service, gameplay-service, realtime-service
# - Frontend Module: modules/social/npc-schedules
# - State: useSocialStore(npcSchedules)
# - UI: NpcScheduleTimeline, ScheduleHeatmap, SlotDetailDrawer, StatusPill, DiffViewer
# - Forms: ScheduleRecalcForm, TemplateAssignForm, FilterForm
# - Hooks: useRealtime, useNpcFilters, useQuestContext
# - Events: social.npc.schedule.updated, social.npc.schedule.job.*
# - API Base: /api/v1/social/npc/*
openapi: 3.0.3
info:
  title: NPC Schedule Service API
  version: 1.0.0
  description: |
    Контракт социального сервиса для управления расписаниями NPC:
    получение расписаний, шаблонов, запуск пересчётов и отслеживание заданий.

    Источник: `.BRAIN/05-technical/content-generation/city-life-population-algorithm.md` v1.0.0
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
security:
  - BearerAuth: []
tags:
  - name: NPC Schedules
    description: Получение и управление расписаниями NPC
  - name: Schedule Jobs
    description: Асинхронные задания пересчёта расписаний
  - name: Schedule Templates
    description: Шаблоны расписаний и их использование
paths:
  /social/npc/schedules:
    get:
      tags: [NPC Schedules]
      summary: Список расписаний NPC
      description: Возвращает расписания NPC с фильтрами по району, роли и режиму.
      operationId: listNpcSchedules
      parameters:
        - $ref: './schemas/schedules-components.yaml#/components/parameters/DistrictFilter'
        - $ref: './schemas/schedules-components.yaml#/components/parameters/ModeFilter'
        - $ref: './schemas/schedules-components.yaml#/components/parameters/RoleFilter'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Расписания найдены
          content:
            application/json:
              schema:
                $ref: './schemas/schedules-components.yaml#/components/schemas/ScheduleListResponse'
              examples:
                watsonVendor:
                  $ref: './schemas/schedules-components.yaml#/components/examples/ScheduleWatsonVendor'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '500': { $ref: '../../shared/common/responses.yaml#/components/responses/InternalServerError' }
  /social/npc/schedules/{scheduleId}:
    parameters:
      - $ref: './schemas/schedules-components.yaml#/components/parameters/ScheduleId'
    get:
      tags: [NPC Schedules]
      summary: Получить расписание NPC
      description: Возвращает подробную информацию о расписании конкретного NPC.
      operationId: getNpcSchedule
      responses:
        '200':
          description: Расписание найдено
          content:
            application/json:
              schema:
                $ref: './schemas/schedules-components.yaml#/components/schemas/NpcSchedule'
              examples:
                watsonVendor:
                  $ref: './schemas/schedules-components.yaml#/components/examples/ScheduleWatsonVendor'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /social/npc/{npcId}/schedule:
    parameters:
      - $ref: './schemas/schedules-components.yaml#/components/parameters/NpcId'
    get:
      tags: [NPC Schedules]
      summary: Получить актуальное расписание NPC
      description: Возвращает актуальное расписание NPC с учётом событий и player impact.
      operationId: getNpcActiveSchedule
      parameters:
        - $ref: './schemas/schedules-components.yaml#/components/parameters/WindowFilter'
      responses:
        '200':
          description: Актуальное расписание сформировано
          content:
            application/json:
              schema:
                $ref: './schemas/schedules-components.yaml#/components/schemas/NpcSchedule'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /social/npc/schedules/recalculate:
    post:
      tags: [Schedule Jobs]
      summary: Запустить пересчёт расписаний
      description: Стартует пересчёт расписаний для набора NPC или районов.
      operationId: recalcNpcSchedules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/schedules-components.yaml#/components/schemas/ScheduleRecalcRequest'
            examples:
              playerImpact:
                $ref: './schemas/schedules-components.yaml#/components/examples/ScheduleRecalcPlayerImpact'
      responses:
        '202':
          description: Задание пересчёта создано
          content:
            application/json:
              schema:
                $ref: './schemas/schedules-components.yaml#/components/schemas/ScheduleRecalcJob'
        '400': { $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest' }
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '409': { $ref: '../../shared/common/responses.yaml#/components/responses/Conflict' }
        '422': { $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity' }
  /social/npc/schedules/jobs:
    get:
      tags: [Schedule Jobs]
      summary: Получить задания пересчёта
      description: Возвращает список заданий пересчёта с фильтрами по статусу и триггеру.
      operationId: listScheduleJobs
      parameters:
        - $ref: './schemas/schedules-components.yaml#/components/parameters/StatusFilter'
        - $ref: './schemas/schedules-components.yaml#/components/parameters/TriggerFilter'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Задания найдены
          content:
            application/json:
              schema:
                $ref: './schemas/schedules-components.yaml#/components/schemas/ScheduleJobListResponse'
              examples:
                running:
                  $ref: './schemas/schedules-components.yaml#/components/examples/ScheduleJobRunning'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
  /social/npc/schedules/jobs/{jobId}:
    parameters:
      - $ref: './schemas/schedules-components.yaml#/components/parameters/JobId'
    get:
      tags: [Schedule Jobs]
      summary: Получить задание пересчёта
      description: Возвращает детальную информацию о конкретном задании пересчёта.
      operationId: getScheduleJob
      responses:
        '200':
          description: Задание найдено
          content:
            application/json:
              schema:
                $ref: './schemas/schedules-components.yaml#/components/schemas/ScheduleRecalcJob'
              examples:
                running:
                  $ref: './schemas/schedules-components.yaml#/components/examples/ScheduleJobRunning'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
  /social/npc/schedules/templates:
    get:
      tags: [Schedule Templates]
      summary: Получить шаблоны расписаний
      description: Возвращает шаблоны расписаний для генерации NPC.
      operationId: listScheduleTemplates
      parameters:
        - $ref: './schemas/schedules-components.yaml#/components/parameters/TemplateFilter'
      responses:
        '200':
          description: Шаблоны найдены
          content:
            application/json:
              schema:
                $ref: './schemas/schedules-components.yaml#/components/schemas/ScheduleTemplateListResponse'
              examples:
                vendorTemplate:
                  $ref: './schemas/schedules-components.yaml#/components/examples/ScheduleTemplateVendor'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
  /social/npc/{npcId}/schedule/diff:
    parameters:
      - $ref: './schemas/schedules-components.yaml#/components/parameters/NpcId'
    get:
      tags: [NPC Schedules]
      summary: Получить изменения расписания NPC
      description: Возвращает сравнение текущего расписания с baseline.
      operationId: getNpcScheduleDiff
      responses:
        '200':
          description: Дифф сформирован
          content:
            application/json:
              schema:
                $ref: './schemas/schedules-components.yaml#/components/schemas/ScheduleDiffResponse'
        '401': { $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized' }
        '403': { $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden' }
        '404': { $ref: '../../shared/common/responses.yaml#/components/responses/NotFound' }
components:
  securitySchemes:
    BearerAuth: { $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth' }
x-kafka-topics:
  social.npc.schedule.updated:
    summary: Обновление расписания NPC
    payload:
      $ref: './schemas/schedules-components.yaml#/components/schemas/NpcSchedule'
  social.npc.schedule.job.started:
    summary: Старт задания пересчёта расписаний
    payload:
      $ref: './schemas/schedules-components.yaml#/components/schemas/ScheduleRecalcJob'
  social.npc.schedule.job.completed:
    summary: Завершение задания пересчёта
    payload:
      $ref: './schemas/schedules-components.yaml#/components/schemas/ScheduleRecalcJob'
  social.npc.schedule.job.failed:
    summary: Ошибка задания пересчёта
    payload:
      $ref: './schemas/schedules-components.yaml#/components/schemas/ScheduleRecalcJob'


