openapi: 3.0.3
info:
  title: Session Management Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Session Management API for NECPGAME**

    This API manages all types of game sessions, including combat sessions, player
    sessions, authentication sessions, and session state management across the entire
    platform.

    ## Key Features

    - **Session Lifecycle Management**: Creation, updates, termination of game sessions
    - **Session State Tracking**: Real-time session state and statistics - **Multi-type
    Sessions**: Combat, player, auth, and custom session types - **Session Analytics**:
    Performance metrics and session behavior analysis - **Concurrent Session Handling**:
    Support for thousands of simultaneous sessions - **Session Persistence**: Durable
    session storage with recovery capabilities

    ## Domain Purpose

    The Session Management Service handles all session-related operations across NECPGAME,
    providing a unified interface for session creation, management, and analytics.
    It ensures proper session isolation, state consistency, and performance optimization.

    ## Performance Targets

    - Session Creation: <50ms average response time - Concurrent Sessions: 100,000+
    active sessions supported - Session Queries: <10ms P95 response time - State Updates:
    <5ms average latency - Memory Usage: <8KB per active session

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/session
  description: Production server
- url: https://staging-api.necpgame.com/v1/session
  description: Staging server
- url: http://localhost:8080/api/v1/session
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Session Management
  description: Core session lifecycle operations
- name: Combat Sessions
  description: Combat-specific session management
- name: Session Analytics
  description: Session performance and analytics
- name: Health Monitoring
  description: Service health and monitoring endpoints
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /sessions:
    $ref: ./paths/sessions.yaml#/paths/~1sessions
  /sessions/{session_id}:
    $ref: ./paths/sessions-{session_id}.yaml#/paths/~1sessions~1{session_id}
  /combat/sessions:
    $ref: ./paths/combat-sessions.yaml#/paths/~1combat~1sessions
  /combat/sessions/{session_id}/actions:
    $ref: ./paths/combat-sessions-{session_id}-actions.yaml#/paths/~1combat~1sessions~1{session_id}~1actions
  /combat/sessions/{session_id}/state:
    $ref: ./paths/combat-sessions-{session_id}-state.yaml#/paths/~1combat~1sessions~1{session_id}~1state
  /analytics/sessions:
    $ref: ./paths/analytics-sessions.yaml#/paths/~1analytics~1sessions
components:
  schemas:
    CreateSessionRequest:
      $ref: ./schemas/session-management-service-schemas.yaml#/components/schemas/CreateSessionRequest
    Session:
      $ref: ./schemas/session-management-service-schemas.yaml#/components/schemas/Session
    SessionListResponse:
      $ref: ./schemas/session-management-service-schemas.yaml#/components/schemas/SessionListResponse
    SessionDetails:
      $ref: ./schemas/session-management-service-schemas.yaml#/components/schemas/SessionDetails
    UpdateSessionRequest:
      $ref: ./schemas/session-management-service-schemas.yaml#/components/schemas/UpdateSessionRequest
    SessionLogEntry:
      $ref: ./schemas/session-management-service-schemas.yaml#/components/schemas/SessionLogEntry
    SessionStats:
      $ref: ./schemas/session-management-service-schemas.yaml#/components/schemas/SessionStats
    CreateCombatSessionRequest:
      $ref: ./schemas/session-management-service-schemas.yaml#/components/schemas/CreateCombatSessionRequest
    CombatSession:
      $ref: ./schemas/session-management-service-schemas.yaml#/components/schemas/CombatSession
    CombatParticipant:
      $ref: ./schemas/session-management-service-schemas.yaml#/components/schemas/CombatParticipant
    CombatSessionListResponse:
      $ref: ./schemas/session-management-service-schemas.yaml#/components/schemas/CombatSessionListResponse
    CombatActionRequest:
      $ref: ./schemas/session-management-service-schemas.yaml#/components/schemas/CombatActionRequest
    CombatActionResult:
      $ref: ./schemas/session-management-service-schemas.yaml#/components/schemas/CombatActionResult
    CombatSessionState:
      $ref: ./schemas/session-management-service-schemas.yaml#/components/schemas/CombatSessionState
    CombatSessionStats:
      $ref: ./schemas/session-management-service-schemas.yaml#/components/schemas/CombatSessionStats
    SessionAnalytics:
      $ref: ./schemas/session-management-service-schemas.yaml#/components/schemas/SessionAnalytics
  responses:
    BadRequest:
      $ref: ./schemas/session-management-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/session-management-service-responses.yaml#/components/responses/Unauthorized
    NotFound:
      $ref: ./schemas/session-management-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/session-management-service-responses.yaml#/components/responses/Conflict
    InternalServerError:
      $ref: ./schemas/session-management-service-responses.yaml#/components/responses/InternalServerError
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
