openapi: 3.0.3
info:
  title: Auction Service API
  description: "Enterprise-grade Auction System  NECPGAME .\n\n## \U0001F3AF **Auction\
    \ Service Overview**\n\nAuction Service       NECPGAME  enterprise-grade   .\n\
    \n### ** **\n- **Auction Creation**:     \n- **Bidding System**:    \n- **Real-time\
    \ Updates**:    \n- **Auction Completion**:    \n\n### ** **\n- **English Auction**:\
    \     \n- **Dutch Auction**:     \n- **Sealed Bid**:     \n- **Reserve Auction**:\
    \    \n\n### ** **\n- **Auto-bidding**:  \n- **Auction Analytics**:  \n- **Fraud\
    \ Prevention**:   \n- **Multi-item Auctions**:    \n\n## \U0001F4CA **Performance\
    \ Targets**\n- **P99 Latency**: <25ms    \n- **Throughput**: 50,000+ bids/second\n\
    - **Concurrent Auctions**: 10,000+  \n- **Real-time Updates**: <100ms   \n\n##\
    \ \U0001F510 **Security**\n- JWT RS256 \n- Rate limiting   \n- Input validation\
    \  sanitization\n- Audit logging  \n"
  version: 1.0.0
  contact:
    name: NECPGAME Platform Team
    email: platform@necpgame.com
  license:
    name: Proprietary
    url: https://necpgame.com/license
servers:
- url: https://auction.necpgame.com/api/v1
  description: Production Environment
- url: https://auction-staging.necpgame.com/api/v1
  description: Staging Environment
- url: http://localhost:8080/api/v1
  description: Local Development
security:
- BearerAuth: []
tags:
- name: Auction Management
  description: ' '
- name: Bidding Operations
  description: '  '
- name: Auction Monitoring
  description: ' '
- name: Analytics
  description: ' '
- name: Auto-bidding
  description: ' '
- name: Health
  description: '  '
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /auctions:
    $ref: ./paths/auctions.yaml#/paths/~1auctions
  /auctions/{auctionId}:
    $ref: ./paths/auctions-{auctionId}.yaml#/paths/~1auctions~1{auctionId}
  /auctions/{auctionId}/bid:
    $ref: ./paths/auctions-{auctionId}-bid.yaml#/paths/~1auctions~1{auctionId}~1bid
  /auctions/{auctionId}/bids:
    $ref: ./paths/auctions-{auctionId}-bids.yaml#/paths/~1auctions~1{auctionId}~1bids
  /auctions/{auctionId}/auto-bid:
    $ref: ./paths/auctions-{auctionId}-auto-bid.yaml#/paths/~1auctions~1{auctionId}~1auto-bid
  /auctions/{auctionId}/watch:
    $ref: ./paths/auctions-{auctionId}-watch.yaml#/paths/~1auctions~1{auctionId}~1watch
  /players/{playerId}/auctions:
    $ref: ./paths/players-{playerId}-auctions.yaml#/paths/~1players~1{playerId}~1auctions
  /auctions/{auctionId}/complete:
    $ref: ./paths/auctions-{auctionId}-complete.yaml#/paths/~1auctions~1{auctionId}~1complete
  /auctions/analytics/summary:
    $ref: ./paths/auctions-analytics-summary.yaml#/paths/~1auctions~1analytics~1summary
  /auctions/popular:
    $ref: ./paths/auctions-popular.yaml#/paths/~1auctions~1popular
components:
  schemas:
    CharacterEntity:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/CharacterEntity
    BaseEntity:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/BaseEntity
    OptimisticLock:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/OptimisticLock
    ErrorResponse:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/ErrorResponse
    HealthResponse:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/HealthResponse
    HealthBatchRequest:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/HealthBatchRequest
    HealthBatchResponse:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/HealthBatchResponse
    AuctionEntity:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/AuctionEntity
    AuctionItemEntity:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/AuctionItemEntity
    BidEntity:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/BidEntity
    AutoBidEntity:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/AutoBidEntity
    AuctionWatcherEntity:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/AuctionWatcherEntity
    CreateAuctionRequest:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/CreateAuctionRequest
    UpdateAuctionRequest:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/UpdateAuctionRequest
    AuctionResponse:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/AuctionResponse
    AuctionListResponse:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/AuctionListResponse
    PlaceBidRequest:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/PlaceBidRequest
    BidResponse:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/BidResponse
    AuctionBidsResponse:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/AuctionBidsResponse
    SetAutoBidRequest:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/SetAutoBidRequest
    AutoBidResponse:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/AutoBidResponse
    WatchAuctionRequest:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/WatchAuctionRequest
    WatchResponse:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/WatchResponse
    PlayerAuctionsResponse:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/PlayerAuctionsResponse
    CompleteAuctionRequest:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/CompleteAuctionRequest
    AuctionCompletionResponse:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/AuctionCompletionResponse
    AuctionAnalyticsResponse:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/AuctionAnalyticsResponse
    PopularAuctionsResponse:
      $ref: ./schemas/auction-service-schemas.yaml#/components/schemas/PopularAuctionsResponse
  responses: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
