openapi: 3.0.3
info:
  title: Auction Service API - Enterprise-Grade Auction System
  description: "**Enterprise-Grade Auction API for NECPGAME**

    Auction Service handles real-time bidding, auction management, bid validation,
    and auction lifecycle operations. Supports both traditional auctions and real-time
    competitive bidding systems.

    ## Key Features

    - **Real-time bidding** with WebSocket support - **Auction lifecycle management**
    from creation to settlement - **Bid validation** and fraud prevention - **Multi-item
    auctions** with complex rules - **Performance-optimized** for high-frequency bidding
    - **Enterprise-grade** transaction handling

    ## Domain Purpose

    Handles all auction operations including bid placement, auction creation, bid
    validation, winner determination, and settlement. Provides both traditional timed
    auctions and real-time competitive bidding.

    ## Performance Targets

    - P99 Latency: <50ms for bid placement - Memory: <50KB per active auction - Concurrent
    users: 10,000+ simultaneous bidders - Real-time updates: <100ms delivery

    "
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.necpgame.com/v1/auction
    description: Production server
  - url: https://staging-api.necpgame.com/v1/auction
    description: Staging server
  - url: http://localhost:8080/api/v1/auction
    description: Local development server
security:
  - BearerAuth: []
tags:
  - name: Auctions
    description: Auction creation and management
  - name: Bidding
    description: Bid placement and validation
  - name: Auction Lifecycle
    description: Auction start, end, and settlement
  - name: Auction Items
    description: Item management in auctions
paths:
  /health:
    get:
      summary: Auction service health check
      description: "**Enterprise-grade health check endpoint**

        Provides real-time health status of the auction service microservice.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds"
      operationId: auctionServiceHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            example: "gzip"
            description: "Accepted encoding types"
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"auction-health-v1.0"'
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/health.yaml#/HealthResponse
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/health.yaml#/HealthResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /auctions:
    post:
      summary: Create new auction
      description: "**Create auction for item with bidding system**

        Initiates a timed auction with configurable bidding rules and buyout options.

        **Security:** Only item owner can create auctions **Performance:** <50ms P99
        latency for auction creation"
      operationId: createAuction
      tags:
        - Auction Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAuctionRequest"
      responses:
        "201":
          description: Auction created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuctionResponse"
        "400":
          description: Invalid auction data
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
        "403":
          description: Not authorized to auction this item
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    get:
      summary: List auctions
      description: "**Get paginated list of active auctions**

        Returns auctions with filtering by status, item type, and price range.

        **Performance:** Optimized with database indexes on status and end_time"
      operationId: listAuctions
      tags:
        - Auction Management
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
          description: Number of items to return
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
          description: Number of items to skip
        - name: status
          in: query
          schema:
            type: string
            enum:
              - scheduled
              - active
              - ended
              - cancelled
          description: Filter by auction status
        - name: min_price
          in: query
          schema:
            type: number
            minimum: 0
          description: Minimum current bid price
        - name: max_price
          in: query
          schema:
            type: number
            minimum: 0
          description: Maximum current bid price
      responses:
        "200":
          description: Auctions retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/AuctionResponse"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /auctions/{auctionId}:
    get:
      summary: Get auction details
      description: "**Retrieve detailed auction information**

        Returns complete auction data including bidding history and current bids.

        **Performance:** Cached for active auctions"
      operationId: getAuction
      tags:
        - Auction Management
      parameters:
        - name: auctionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Auction UUID
      responses:
        "200":
          description: Auction details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuctionResponse"
        "404":
          description: Auction not found
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    put:
      summary: Update auction
      description: "**Update auction configuration**

        Allows auction owner to modify auction settings before start.

        **Security:** Only auction creator can update"
      operationId: updateAuction
      tags:
        - Auction Management
      parameters:
        - name: auctionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Auction UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                buyout_price:
                  type: number
                  minimum: 0
                  description: New buyout price
                minimum_bid_increment:
                  type: number
                  minimum: 0.01
                  description: New minimum bid increment
                description:
                  type: string
                  maxLength: 1000
                  description: New auction description
      responses:
        "200":
          description: Auction updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuctionResponse"
        "403":
          description: Not authorized to update this auction
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
        "409":
          description: Auction already started
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /auctions/{auctionId}/bids:
    post:
      summary: Place bid on auction
      description: "**Place a bid on active auction**

        Validates bid amount, updates current price, and handles automatic bidding.

        **Concurrency:** Optimistic locking prevents bid conflicts **Performance:**
        <30ms P99 latency for bid placement"
      operationId: placeBid
      tags:
        - Bidding Operations
      parameters:
        - name: auctionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Auction UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceBidRequest"
      responses:
        "200":
          description: Bid placed successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - auction
                  - bid_result
                properties:
                  auction:
                    $ref: "#/components/schemas/AuctionResponse"
                  bid_result:
                    type: object
                    properties:
                      bid_amount:
                        type: number
                        description: Actual bid amount placed
                      is_winning:
                        type: boolean
                        description: Whether this bid is currently winning
                      outbid_previous:
                        type: boolean
                        description: Whether previous bidder was outbid
        "400":
          description: Invalid bid (too low, auction ended, etc.)
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
        "409":
          description: Optimistic locking conflict - auction state changed
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    get:
      summary: Get auction bidding history
      description: "**Get paginated bidding history for auction**

        Returns chronological list of all bids placed on the auction.

        **Performance:** Indexed queries with efficient pagination"
      operationId: getAuctionBids
      tags:
        - Bidding Operations
      parameters:
        - name: auctionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Auction UUID
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
          description: Number of items to return
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
          description: Number of items to skip
      responses:
        "200":
          description: Bidding history retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          required:
                            - bidder_id
                            - bid_amount
                            - bid_time
                          properties:
                            bidder_id:
                              $ref: ../common-service/schemas/common.yaml#/UUID
                            bid_amount:
                              type: number
                              description: Bid amount
                            bid_time:
                              $ref: ../common-service/schemas/common.yaml#/Timestamp
                            is_auto_bid:
                              type: boolean
                              description: Whether this was an automatic bid
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /auctions/{auctionId}/buyout:
    post:
      summary: Buyout auction immediately
      description: "**Immediately purchase auction at buyout price**

        Ends auction early if buyout price is set and buyer has sufficient funds.

        **Atomicity:** All operations executed in single transaction"
      operationId: buyoutAuction
      tags:
        - Auction Management
      parameters:
        - name: auctionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Auction UUID
      responses:
        "200":
          description: Auction bought out successfully
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/health.yaml#/HealthResponse
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
              ETag:
                schema:
                  type: string
                  example: '"health-v1.0"'
              Content-Encoding:
                schema:
                  type: string
                  enum:
                    - gzip
                    - deflate
                    - br
        "400":
          description: Buyout not available or insufficient funds
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
              Content-Encoding:
                schema:
                  type: string
                  enum:
                    - gzip
                    - deflate
                    - br
        503:
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/health.yaml#/HealthResponse
        429:
          $ref: "#/components/responses/TooManyRequests"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /health/batch:
    post:
      summary: Batch health check for multiple services
      description:
        "**Performance optimization:** Check multiple services health in
        single request

        Reduces N HTTP calls to 1 call. Critical for orchestration.

        **Use case:** Service mesh health checks, Kubernetes readiness probes

        "
      operationId: auctionServiceBatchHealthCheck
      tags:
        - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                      - auth-service
                      - user-service
                      - session-service
                  maxItems: 10
                  description: List of services to check
      responses:
        "200":
          $ref: "#/components/responses/HealthBatchSuccess"
        "400":
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
        "429":
          $ref: "#/components/responses/TooManyRequests"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description:
        "**Performance optimization:** Real-time health updates without
        polling

        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.

        **Protocol:** WebSocket with JSON payloads

        **Heartbeat:** 30 second intervals

        **Reconnection:** Automatic with exponential backoff

        "
      operationId: auctionServiceHealthWebSocket
      tags:
        - Health Monitoring
      parameters:
        - name: services
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - auth-service
                - user-service
                - session-service
          description: Services to monitor (optional, monitors all if not specified)
      responses:
        "200":
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/auction/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                      - health-monitoring-v1
        "101":
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
        "400":
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
        "401":
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
        "429":
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
components:
  schemas:
    AuctionEntity:
      description: Auction entity with economy domain inheritance
      allOf:
        - $ref: ../common-service/schemas/economy-entities.yaml#/AuctionEntity
        - type: object
    MarketplaceListingEntity:
      allOf:
        - $ref: ../common-service/schemas/economy-entities.yaml#/MarketplaceListingEntity
        - type: object
    TransactionEntity:
      allOf:
        - $ref: ../common-service/schemas/economy-entities.yaml#/TransactionEntity
        - type: object
    CreateAuctionRequest:
      allOf:
        - $ref: ../common-service/schemas/common.yaml#/AuditableEntity
        - type: object
          required:
            - item_id
            - starting_price
            - currency_code
            - start_time
            - end_time
          properties:
            item_id:
              $ref: ../common-service/schemas/common.yaml#/UUID
            starting_price:
              type: number
              minimum: 0.01
              description: Auction starting price
              example: 100.0
            currency_code:
              type: string
              pattern: ^[A-Z]{3}$
              description: Auction currency
              example: EDY
            minimum_bid_increment:
              type: number
              minimum: 0.01
              description: Minimum bid increase
              example: 10.0
            buyout_price:
              type: number
              minimum: 0
              description: Optional buyout price
              example: 500.0
            start_time:
              $ref: ../common-service/schemas/common.yaml#/Timestamp
            end_time:
              $ref: ../common-service/schemas/common.yaml#/Timestamp
            description:
              type: string
              maxLength: 1000
              description: Auction description
              example: Rare cybernetic implant from Arasaka raid
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Optimistic locking for concurrent auctions."
    PlaceBidRequest:
      type: object
      required:
        - auction_id
        - bid_amount
      properties:
        auction_id:
          $ref: ../common-service/schemas/common.yaml#/UUID
        bid_amount:
          type: number
          minimum: 0.01
          description: Bid amount
          example: 150.0
        max_bid:
          type: number
          minimum: 0
          description: Maximum bid for automatic bidding
          example: 300.0
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."
    AuctionResponse:
      allOf:
        - $ref: "#/components/schemas/AuctionEntity"
        - type: object
    Error:
      $ref: ../common-service/schemas/error.yaml#/Error
    HealthResponse:
      $ref: ../common-service/schemas/health.yaml#/HealthResponse
    PaginationParams:
      $ref: ../common-service/schemas/pagination.yaml#/PaginationParams
    PaginatedResponse:
      $ref: ../common-service/schemas/pagination.yaml#/PaginatedResponse
  responses:
    HealthBatchSuccess:
      $ref: ../common-service/responses/success.yaml#/HealthBatchSuccess
    TooManyRequests:
      description: Too many requests - rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
            example: 60
            description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: ../common-service/schemas/error.yaml#/Error
  securitySchemes:
    BearerAuth:
      $ref: ../common-service/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common-service/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common-service/security/security.yaml#/ServiceAuth
