openapi: "3.0.3"

info:
  title: "Auction Service API"
  description: |
    Enterprise-grade Auction System для NECPGAME платформы.

    ## 🎯 **Auction Service Overview**

    Auction Service предоставляет комплексную систему аукционов для платформы NECPGAME с enterprise-grade производительностью и масштабируемостью.

    ### **Ключевые Возможности**
    - **Auction Creation**: Создание аукционов с различными правилами
    - **Bidding System**: Система ставок и конкуренции
    - **Real-time Updates**: Обновления в реальном времени
    - **Auction Completion**: Автоматическое завершение и распределение

    ### **Типы Аукционов**
    - **English Auction**: Английский аукцион с повышением ставок
    - **Dutch Auction**: Голландский аукцион с понижением цены
    - **Sealed Bid**: Закрытый аукцион с тайными ставками
    - **Reserve Auction**: Аукцион с резервной ценой

    ### **Расширенные Возможности**
    - **Auto-bidding**: Автоматические ставки
    - **Auction Analytics**: Аналитика аукционов
    - **Fraud Prevention**: Защита от мошенничества
    - **Multi-item Auctions**: Аукционы с множеством предметов

    ## 📊 **Performance Targets**
    - **P99 Latency**: <25ms для операций с ставками
    - **Throughput**: 50,000+ bids/second
    - **Concurrent Auctions**: 10,000+ активных аукционов
    - **Real-time Updates**: <100ms для обновлений ставок

    ## 🔐 **Security**
    - JWT RS256 аутентификация
    - Rate limiting для предотвращения спама
    - Input validation и sanitization
    - Audit logging всех операций

  version: "1.0.0"
  contact:
    name: "NECPGAME Platform Team"
    email: "platform@necpgame.com"
  license:
    name: "Proprietary"
    url: "https://necpgame.com/license"

servers:
  - url: "https://auction.necpgame.com/api/v1"
    description: "Production Environment"
  - url: "https://auction-staging.necpgame.com/api/v1"
    description: "Staging Environment"
  - url: "http://localhost:8080/api/v1"
    description: "Local Development"

security:
  - BearerAuth: []

tags:
  - name: "Auction Management"
    description: "Управление аукционами"
  - name: "Bidding Operations"
    description: "Операции со ставками"
  - name: "Auction Monitoring"
    description: "Мониторинг аукционов"
  - name: "Analytics"
    description: "Аналитика аукционов"
  - name: "Auto-bidding"
    description: "Автоматические ставки"
  - name: "Health"
    description: "Мониторинг здоровья сервиса"

paths:
  /health:
    get:
      summary: "Проверка здоровья сервиса"
      operationId: "healthCheck"
      tags: ["Health"]
      responses:
        "200":
          description: "Сервис работает корректно"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: "Сервис недоступен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /health/batch:
    post:
      summary: "Пакетная проверка здоровья"
      operationId: "healthBatchCheck"
      tags: ["Health"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthBatchRequest"
      responses:
        "200":
          description: "Результаты проверки здоровья"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthBatchResponse"
        "400":
          description: "Некорректный запрос"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /health/ws:
    get:
      summary: "WebSocket проверка здоровья"
      operationId: "healthWebSocketCheck"
      tags: ["Health"]
      responses:
        "101":
          description: "WebSocket соединение установлено"
        "503":
          description: "WebSocket недоступен"

  /auctions:
    post:
      summary: "Создание аукциона"
      operationId: "createAuction"
      tags: ["Auction Management"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAuctionRequest"
      responses:
        "201":
          description: "Аукцион создан"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuctionResponse"
        "400":
          description: "Некорректные данные"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: "Предметы недоступны для аукциона"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      summary: "Получение списка аукционов"
      operationId: "getAuctions"
      tags: ["Auction Management"]
      parameters:
        - name: "status"
          in: "query"
          schema:
            type: string
            enum: ["pending", "active", "ended", "cancelled"]
            default: "active"
        - name: "type"
          in: "query"
          schema:
            type: string
            enum: ["english", "dutch", "sealed_bid", "reserve"]
        - name: "category"
          in: "query"
          schema:
            type: string
            enum: ["weapons", "armor", "cyberware", "vehicles", "misc"]
        - name: "minPrice"
          in: "query"
          schema:
            type: integer
            minimum: 0
        - name: "maxPrice"
          in: "query"
          schema:
            type: integer
            minimum: 0
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
        - name: "offset"
          in: "query"
          schema:
            type: "integer"
            minimum: 0
            default: 0
      responses:
        "200":
          description: "Список аукционов"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuctionListResponse"

  /auctions/{auctionId}:
    get:
      summary: "Получение информации об аукционе"
      operationId: "getAuction"
      tags: ["Auction Management"]
      parameters:
        - name: "auctionId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "Информация об аукционе"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuctionResponse"
        "404":
          description: "Аукцион не найден"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      summary: "Обновление аукциона"
      operationId: "updateAuction"
      tags: ["Auction Management"]
      parameters:
        - name: "auctionId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAuctionRequest"
      responses:
        "200":
          description: "Аукцион обновлен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuctionResponse"
        "403":
          description: "Недостаточно прав"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "Аукцион не найден"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      summary: "Отмена аукциона"
      operationId: "cancelAuction"
      tags: ["Auction Management"]
      parameters:
        - name: "auctionId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "Аукцион отменен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuctionResponse"
        "403":
          description: "Невозможно отменить аукцион"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "Аукцион не найден"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auctions/{auctionId}/bid:
    post:
      summary: "Сделать ставку"
      operationId: "placeBid"
      tags: ["Bidding Operations"]
      parameters:
        - name: "auctionId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceBidRequest"
      responses:
        "200":
          description: "Ставка принята"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BidResponse"
        "400":
          description: "Некорректная ставка"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: "Ставка слишком низкая или аукцион завершен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auctions/{auctionId}/bids:
    get:
      summary: "Получение ставок аукциона"
      operationId: "getAuctionBids"
      tags: ["Bidding Operations"]
      parameters:
        - name: "auctionId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 50
            default: 20
      responses:
        "200":
          description: "Ставки аукциона"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuctionBidsResponse"
        "404":
          description: "Аукцион не найден"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auctions/{auctionId}/auto-bid:
    post:
      summary: "Установить авто-ставку"
      operationId: "setAutoBid"
      tags: ["Auto-bidding"]
      parameters:
        - name: "auctionId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetAutoBidRequest"
      responses:
        "200":
          description: "Авто-ставка установлена"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutoBidResponse"
        "400":
          description: "Некорректные параметры авто-ставки"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      summary: "Отменить авто-ставку"
      operationId: "cancelAutoBid"
      tags: ["Auto-bidding"]
      parameters:
        - name: "auctionId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "Авто-ставка отменена"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutoBidResponse"

  /auctions/{auctionId}/watch:
    post:
      summary: "Следить за аукционом"
      operationId: "watchAuction"
      tags: ["Auction Monitoring"]
      parameters:
        - name: "auctionId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WatchAuctionRequest"
      responses:
        "200":
          description: "Подписка на аукцион установлена"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WatchResponse"
        "409":
          description: "Уже подписаны на этот аукцион"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      summary: "Прекратить следить за аукционом"
      operationId: "unwatchAuction"
      tags: ["Auction Monitoring"]
      parameters:
        - name: "auctionId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      responses:
        "200":
          description: "Подписка отменена"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WatchResponse"

  /players/{playerId}/auctions:
    get:
      summary: "Аукционы игрока"
      operationId: "getPlayerAuctions"
      tags: ["Auction Management"]
      parameters:
        - name: "playerId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
        - name: "role"
          in: "query"
          schema:
            type: string
            enum: ["seller", "bidder", "watcher"]
            default: "seller"
        - name: "status"
          in: "query"
          schema:
            type: string
            enum: ["active", "won", "lost", "ended"]
      responses:
        "200":
          description: "Аукционы игрока"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerAuctionsResponse"

  /auctions/{auctionId}/complete:
    post:
      summary: "Завершить аукцион"
      operationId: "completeAuction"
      tags: ["Auction Management"]
      parameters:
        - name: "auctionId"
          in: "path"
          required: true
          schema:
            type: string
            format: "uuid"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteAuctionRequest"
      responses:
        "200":
          description: "Аукцион завершен"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuctionCompletionResponse"
        "400":
          description: "Невозможно завершить аукцион"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auctions/analytics/summary:
    get:
      summary: "Аналитика аукционов"
      operationId: "getAuctionAnalytics"
      tags: ["Analytics"]
      parameters:
        - name: "period"
          in: "query"
          schema:
            type: string
            enum: ["hourly", "daily", "weekly", "monthly"]
            default: "daily"
        - name: "category"
          in: "query"
          schema:
            type: string
            enum: ["weapons", "armor", "cyberware", "vehicles", "misc"]
      responses:
        "200":
          description: "Аналитика аукционов"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuctionAnalyticsResponse"

  /auctions/popular:
    get:
      summary: "Популярные аукционы"
      operationId: "getPopularAuctions"
      tags: ["Analytics"]
      parameters:
        - name: "limit"
          in: "query"
          schema:
            type: "integer"
            minimum: 1
            maximum: 50
            default: 20
      responses:
        "200":
          description: "Популярные аукционы"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopularAuctionsResponse"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Common inherited entities
    CharacterEntity:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/CharacterEntity"
    BaseEntity:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/BaseEntity"
    OptimisticLock:
      $ref: "../common/schemas/game-entities.yaml#/components/schemas/OptimisticLock"
    ErrorResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/ErrorResponse"
    HealthResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthResponse"
    HealthBatchRequest:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthBatchRequest"
    HealthBatchResponse:
      $ref: "../common/schemas/infrastructure-entities.yaml#/components/schemas/HealthBatchResponse"

    # Auction specific schemas
    AuctionEntity:
      type: object
      description: "Сущность аукциона"
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - sellerId
            - item
            - type
            - startingPrice
            - status
          properties:
            sellerId:
              type: string
              description: "ID продавца"
              format: uuid
              example: "123e4567-e89b-12d3-a456-426614174000"
            item:
              $ref: "#/components/schemas/AuctionItemEntity"
            type:
              type: string
              description: "Тип аукциона"
              enum: ["english", "dutch", "sealed_bid", "reserve"]
              example: "english"
            startingPrice:
              type: integer
              description: "Стартовая цена"
              minimum: 1
              example: 1000
            reservePrice:
              type: integer
              description: "Резервная цена (для reserve аукционов)"
              minimum: 1
            buyoutPrice:
              type: integer
              description: "Цена выкупа"
              minimum: 1
            currentPrice:
              type: integer
              description: "Текущая цена"
              minimum: 0
            status:
              type: string
              description: "Статус аукциона"
              enum: ["pending", "active", "ended", "cancelled", "completed"]
              example: "active"
            startTime:
              type: string
              description: "Время начала"
              format: date-time
            endTime:
              type: string
              description: "Время окончания"
              format: date-time
            duration:
              type: integer
              description: "Длительность в минутах"
              minimum: 5
              maximum: 10080
              example: 1440
            winnerId:
              type: string
              description: "ID победителя"
              format: uuid
            winningBid:
              type: integer
              description: "Победная ставка"
              minimum: 0
            totalBids:
              type: integer
              description: "Общее количество ставок"
              minimum: 0
            uniqueBidders:
              type: integer
              description: "Уникальных участников"
              minimum: 0
            watchers:
              type: integer
              description: "Количество наблюдателей"
              minimum: 0
            category:
              type: string
              description: "Категория предмета"
              enum: ["weapons", "armor", "cyberware", "vehicles", "misc"]
              example: "weapons"
            rules:
              type: object
              description: "Правила аукциона"
              properties:
                minBidIncrement:
                  type: integer
                  description: "Минимальный шаг ставки"
                  minimum: 1
                  default: 1
                maxBidsPerPlayer:
                  type: integer
                  description: "Максимум ставок от игрока"
                  minimum: 1
                allowAutoBidding:
                  type: boolean
                  description: "Разрешить авто-ставки"
                  default: true
                requireVerification:
                  type: boolean
                  description: "Требовать верификацию"
                  default: false
            isActive:
              type: boolean
              description: "Аукцион активен"
              default: true
            $ref: "#/components/schemas/OptimisticLock"

    AuctionItemEntity:
      type: object
      description: "Предмет аукциона"
      required:
        - itemId
        - quantity
      properties:
        itemId:
          type: string
          description: "ID предмета"
          format: uuid
          example: "456e7890-e89b-12d3-a456-426614174001"
        quantity:
          type: integer
          description: "Количество"
          minimum: 1
          example: 1
        itemName:
          type: string
          description: "Название предмета"
          maxLength: 100
          example: "Militech M-10AF Lexington"
        itemType:
          type: string
          description: "Тип предмета"
          enum: ["weapon", "armor", "cyberware", "consumable", "misc"]
          example: "weapon"
        rarity:
          type: string
          description: "Редкость предмета"
          enum: ["common", "uncommon", "rare", "epic", "legendary"]
          example: "rare"
        level:
          type: integer
          description: "Уровень предмета"
          minimum: 1
          example: 15
        description:
          type: string
          description: "Описание предмета"
          maxLength: 500
        attributes:
          type: object
          description: "Атрибуты предмета"
          additionalProperties: true
        images:
          type: array
          description: "Изображения предмета"
          items:
            type: string
            format: uri

    BidEntity:
      type: object
      description: "Сущность ставки"
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - auctionId
            - bidderId
            - amount
          properties:
            auctionId:
              type: string
              description: "ID аукциона"
              format: uuid
            bidderId:
              type: string
              description: "ID участника"
              format: uuid
            amount:
              type: integer
              description: "Сумма ставки"
              minimum: 1
              example: 1500
            bidTime:
              type: string
              description: "Время ставки"
              format: date-time
            isAutoBid:
              type: boolean
              description: "Автоматическая ставка"
              default: false
            bidPosition:
              type: integer
              description: "Позиция ставки в аукционе"
              minimum: 1
            outbid:
              type: boolean
              description: "Ставка перебита"
              default: false
            $ref: "#/components/schemas/OptimisticLock"

    AutoBidEntity:
      type: object
      description: "Сущность авто-ставки"
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - auctionId
            - bidderId
            - maxAmount
            - increment
          properties:
            auctionId:
              type: string
              description: "ID аукциона"
              format: uuid
            bidderId:
              type: string
              description: "ID участника"
              format: uuid
            maxAmount:
              type: integer
              description: "Максимальная сумма"
              minimum: 1
              example: 5000
            increment:
              type: integer
              description: "Шаг увеличения"
              minimum: 1
              example: 100
            isActive:
              type: boolean
              description: "Авто-ставка активна"
              default: true
            lastBidAmount:
              type: integer
              description: "Последняя сумма ставки"
              minimum: 0
            bidsPlaced:
              type: integer
              description: "Количество размещенных ставок"
              minimum: 0
            $ref: "#/components/schemas/OptimisticLock"

    AuctionWatcherEntity:
      type: object
      description: "Наблюдатель аукциона"
      allOf:
        - $ref: "#/components/schemas/BaseEntity"
        - type: object
          required:
            - auctionId
            - watcherId
          properties:
            auctionId:
              type: string
              description: "ID аукциона"
              format: uuid
            watcherId:
              type: string
              description: "ID наблюдателя"
              format: uuid
            watchStarted:
              type: string
              description: "Время начала наблюдения"
              format: date-time
            notificationsEnabled:
              type: boolean
              description: "Уведомления включены"
              default: true
            lastActivity:
              type: string
              description: "Последняя активность"
              format: date-time
            $ref: "#/components/schemas/OptimisticLock"

    # Request/Response schemas
    CreateAuctionRequest:
      type: object
      required:
        - item
        - type
        - startingPrice
        - duration
      properties:
        item:
          $ref: "#/components/schemas/AuctionItemEntity"
        type:
          type: string
          enum: ["english", "dutch", "sealed_bid", "reserve"]
        startingPrice:
          type: integer
          minimum: 1
        reservePrice:
          type: integer
          minimum: 1
        buyoutPrice:
          type: integer
          minimum: 1
        duration:
          type: integer
          minimum: 5
          maximum: 10080
        category:
          type: string
          enum: ["weapons", "armor", "cyberware", "vehicles", "misc"]
        rules:
          type: object
          properties:
            minBidIncrement:
              type: integer
              minimum: 1
            maxBidsPerPlayer:
              type: integer
              minimum: 1
            allowAutoBidding:
              type: boolean
            requireVerification:
              type: boolean

    UpdateAuctionRequest:
      type: object
      properties:
        reservePrice:
          type: integer
          minimum: 1
        buyoutPrice:
          type: integer
          minimum: 1
        duration:
          type: integer
          minimum: 5
          maximum: 10080
        rules:
          type: object
          properties:
            minBidIncrement:
              type: integer
              minimum: 1
            maxBidsPerPlayer:
              type: integer
              minimum: 1
            allowAutoBidding:
              type: boolean
            requireVerification:
              type: boolean

    AuctionResponse:
      type: object
      properties:
        auction:
          $ref: "#/components/schemas/AuctionEntity"
        metadata:
          type: object
          properties:
            createdAt:
              type: string
              format: date-time
            timeRemaining:
              type: integer
              description: "Оставшееся время в секундах"
            currentHighestBid:
              type: integer
            totalBids:
              type: integer

    AuctionListResponse:
      type: object
      properties:
        auctions:
          type: array
          items:
            $ref: "#/components/schemas/AuctionEntity"
        pagination:
          type: object
          properties:
            total:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 1
              maximum: 100
            offset:
              type: integer
              minimum: 0
            hasNext:
              type: boolean

    PlaceBidRequest:
      type: object
      required:
        - bidderId
        - amount
      properties:
        bidderId:
          type: string
          format: uuid
        amount:
          type: integer
          minimum: 1
        isAutoBid:
          type: boolean
          default: false

    BidResponse:
      type: object
      properties:
        bid:
          $ref: "#/components/schemas/BidEntity"
        auction:
          $ref: "#/components/schemas/AuctionEntity"
        bidAccepted:
          type: boolean
        newHighestBid:
          type: boolean
        outbidPlayers:
          type: array
          items:
            type: string
            format: uuid
        timeRemaining:
          type: integer
          description: "Оставшееся время в секундах"

    AuctionBidsResponse:
      type: object
      properties:
        auctionId:
          type: string
          format: uuid
        bids:
          type: array
          items:
            type: object
            properties:
              bidderId:
                type: string
                format: uuid
              amount:
                type: integer
              bidTime:
                type: string
                format: date-time
              isAutoBid:
                type: boolean
        highestBid:
          type: integer
        totalBids:
          type: integer

    SetAutoBidRequest:
      type: object
      required:
        - bidderId
        - maxAmount
        - increment
      properties:
        bidderId:
          type: string
          format: uuid
        maxAmount:
          type: integer
          minimum: 1
        increment:
          type: integer
          minimum: 1

    AutoBidResponse:
      type: object
      properties:
        autoBid:
          $ref: "#/components/schemas/AutoBidEntity"
        currentBid:
          type: integer
          description: "Текущая ставка аукциона"

    WatchAuctionRequest:
      type: object
      required:
        - watcherId
      properties:
        watcherId:
          type: string
          format: uuid
        notificationsEnabled:
          type: boolean
          default: true

    WatchResponse:
      type: object
      properties:
        auctionId:
          type: string
          format: uuid
        watcherId:
          type: string
          format: uuid
        isWatching:
          type: boolean
        watchersCount:
          type: integer

    PlayerAuctionsResponse:
      type: object
      properties:
        playerId:
          type: string
          format: uuid
        auctions:
          type: array
          items:
            $ref: "#/components/schemas/AuctionEntity"
        statistics:
          type: object
          properties:
            totalAuctions:
              type: integer
              minimum: 0
            activeAuctions:
              type: integer
              minimum: 0
            wonAuctions:
              type: integer
              minimum: 0
            lostAuctions:
              type: integer
              minimum: 0

    CompleteAuctionRequest:
      type: object
      required:
        - completedBy
      properties:
        completedBy:
          type: string
          format: uuid

    AuctionCompletionResponse:
      type: object
      properties:
        auctionId:
          type: string
          format: uuid
        winnerId:
          type: string
          format: uuid
        winningBid:
          type: integer
        sellerId:
          type: string
          format: uuid
        item:
          $ref: "#/components/schemas/AuctionItemEntity"
        completionTime:
          type: string
          format: date-time
        transactionId:
          type: string
          format: uuid

    AuctionAnalyticsResponse:
      type: object
      properties:
        period:
          type: string
          enum: ["hourly", "daily", "weekly", "monthly"]
        totalAuctions:
          type: integer
          minimum: 0
        totalValue:
          type: integer
          minimum: 0
        averageAuctionPrice:
          type: number
        auctionsByCategory:
          type: object
          additionalProperties:
            type: integer
            minimum: 0
        auctionsByType:
          type: object
          additionalProperties:
            type: integer
            minimum: 0
        completionRate:
          type: number
          minimum: 0
          maximum: 1
        averageBidsPerAuction:
          type: number

    PopularAuctionsResponse:
      type: object
      properties:
        auctions:
          type: array
          items:
            type: object
            properties:
              auction:
                $ref: "#/components/schemas/AuctionEntity"
              popularityScore:
                type: number
              watchersCount:
                type: integer
              bidsCount:
                type: integer
              timeRemaining:
                type: integer