openapi: 3.0.3
info:
  title: Auction Service API - Enterprise-Grade Auction System
  description: "**Enterprise-Grade Auction API for NECPGAME**

    Auction Service handles real-time bidding, auction management, bid validation,
    and auction lifecycle operations. Supports both traditional auctions and
    real-time competitive bidding systems.

    ## Key Features

    - **Real-time bidding** with WebSocket support
    - **Auction lifecycle management** from creation to settlement
    - **Bid validation** and fraud prevention
    - **Multi-item auctions** with complex rules
    - **Performance-optimized** for high-frequency bidding
    - **Enterprise-grade** transaction handling

    ## Domain Purpose

    Handles all auction operations including bid placement, auction creation,
    bid validation, winner determination, and settlement. Provides both
    traditional timed auctions and real-time competitive bidding.

    ## Performance Targets

    - P99 Latency: <50ms for bid placement
    - Memory: <50KB per active auction
    - Concurrent users: 10,000+ simultaneous bidders
    - Real-time updates: <100ms delivery

    "
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.necpgame.com/v1/auction
    description: Production server
  - url: https://staging-api.necpgame.com/v1/auction
    description: Staging server
  - url: http://localhost:8080/api/v1/auction
    description: Local development server
security:
  - BearerAuth: []
tags:
  - name: Auctions
    description: Auction creation and management
  - name: Bidding
    description: Bid placement and validation
  - name: Auction Lifecycle
    description: Auction start, end, and settlement
  - name: Auction Items
    description: Item management in auctions
paths:
  # ============================================================================
  # HEALTH ENDPOINTS
  # ============================================================================

  /health:
    get:
      summary: Auction service health check
      description: "**Enterprise-grade health check endpoint**

        Provides real-time health status of the auction service microservice.

        Critical for service discovery, load balancing, and monitoring.

        **Performance:** <1ms response time, cached for 30 seconds"
      operationId: auctionServiceHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum:
              - gzip
              - deflate
              - br
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"auction-health-v1.0"'
          content:
            application/json:
              schema:
                $ref: "../common/schemas/health.yaml#/HealthResponse"
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: "../common/schemas/health.yaml#/HealthResponse"

  # ============================================================================
  # AUCTION ENDPOINTS
  # ============================================================================

  /auctions:
    post:
      summary: Create new auction
      description: "**Create auction for item with bidding system**

        Initiates a timed auction with configurable bidding rules and buyout options.

        **Security:** Only item owner can create auctions
        **Performance:** <50ms P99 latency for auction creation"
      operationId: createAuction
      tags:
        - Auction Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAuctionRequest"
      responses:
        "201":
          description: Auction created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuctionResponse"
        "400":
          description: Invalid auction data
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "403":
          description: Not authorized to auction this item
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"

    get:
      summary: List auctions
      description: "**Get paginated list of active auctions**

        Returns auctions with filtering by status, item type, and price range.

        **Performance:** Optimized with database indexes on status and end_time"
      operationId: listAuctions
      tags:
        - Auction Management
      parameters:
        - $ref: "#/components/schemas/PaginationParams"
        - name: status
          in: query
          schema:
            type: string
            enum:
              - scheduled
              - active
              - ended
              - cancelled
          description: Filter by auction status
        - name: min_price
          in: query
          schema:
            type: number
            minimum: 0
          description: Minimum current bid price
        - name: max_price
          in: query
          schema:
            type: number
            minimum: 0
          description: Maximum current bid price
      responses:
        "200":
          description: Auctions retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/AuctionResponse"

  /auctions/{auctionId}:
    get:
      summary: Get auction details
      description: "**Retrieve detailed auction information**

        Returns complete auction data including bidding history and current bids.

        **Performance:** Cached for active auctions"
      operationId: getAuction
      tags:
        - Auction Management
      parameters:
        - name: auctionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Auction UUID
      responses:
        "200":
          description: Auction details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuctionResponse"
        "404":
          description: Auction not found
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"

    put:
      summary: Update auction
      description: "**Update auction configuration**

        Allows auction owner to modify auction settings before start.

        **Security:** Only auction creator can update"
      operationId: updateAuction
      tags:
        - Auction Management
      parameters:
        - name: auctionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Auction UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                buyout_price:
                  type: number
                  minimum: 0
                  description: "New buyout price"
                minimum_bid_increment:
                  type: number
                  minimum: 0.01
                  description: "New minimum bid increment"
                description:
                  type: string
                  maxLength: 1000
                  description: "New auction description"
      responses:
        "200":
          description: Auction updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuctionResponse"
        "403":
          description: Not authorized to update this auction
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "409":
          description: Auction already started
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"

  /auctions/{auctionId}/bids:
    post:
      summary: Place bid on auction
      description: "**Place a bid on active auction**

        Validates bid amount, updates current price, and handles automatic bidding.

        **Concurrency:** Optimistic locking prevents bid conflicts
        **Performance:** <30ms P99 latency for bid placement"
      operationId: placeBid
      tags:
        - Bidding Operations
      parameters:
        - name: auctionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Auction UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceBidRequest"
      responses:
        "200":
          description: Bid placed successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - auction
                  - bid_result
                properties:
                  auction:
                    $ref: "#/components/schemas/AuctionResponse"
                  bid_result:
                    type: object
                    properties:
                      bid_amount:
                        type: number
                        description: "Actual bid amount placed"
                      is_winning:
                        type: boolean
                        description: "Whether this bid is currently winning"
                      outbid_previous:
                        type: boolean
                        description: "Whether previous bidder was outbid"
        "400":
          description: Invalid bid (too low, auction ended, etc.)
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "409":
          description: Optimistic locking conflict - auction state changed
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"

    get:
      summary: Get auction bidding history
      description: "**Get paginated bidding history for auction**

        Returns chronological list of all bids placed on the auction.

        **Performance:** Indexed queries with efficient pagination"
      operationId: getAuctionBids
      tags:
        - Bidding Operations
      parameters:
        - name: auctionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Auction UUID
        - $ref: "#/components/schemas/PaginationParams"
      responses:
        "200":
          description: Bidding history retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          required:
                            - bidder_id
                            - bid_amount
                            - bid_time
                          properties:
                            bidder_id:
                              $ref: '../common/schemas/common.yaml#/UUID'
                            bid_amount:
                              type: number
                              description: "Bid amount"
                            bid_time:
                              $ref: '../common/schemas/common.yaml#/Timestamp'
                            is_auto_bid:
                              type: boolean
                              description: "Whether this was an automatic bid"

  /auctions/{auctionId}/buyout:
    post:
      summary: Buyout auction immediately
      description: "**Immediately purchase auction at buyout price**

        Ends auction early if buyout price is set and buyer has sufficient funds.

        **Atomicity:** All operations executed in single transaction"
      operationId: buyoutAuction
      tags:
        - Auction Management
      parameters:
        - name: auctionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Auction UUID
      responses:
        "200":
          description: Auction bought out successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - auction
                  - transaction
                properties:
                  auction:
                    $ref: "#/components/schemas/AuctionResponse"
                  transaction:
                    $ref: "#/components/schemas/TransactionEntity"
        "400":
          description: Buyout not available or insufficient funds
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
            enum:
              - gzip
              - deflate
              - br
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                  - gzip
                  - deflate
                  - br
          content:
            application/json:
              schema:
                $ref: "../common/schemas/health.yaml#/HealthResponse"
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: "../common/schemas/health.yaml#/HealthResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /health/batch:
    post:
      summary: Batch health check for multiple services
      description:
        "**Performance optimization:** Check multiple services health in single request

        Reduces N HTTP calls to 1 call. Critical for orchestration.

        **Use case:** Service mesh health checks, Kubernetes readiness probes

        "
      operationId: auctionServiceBatchHealthCheck
      tags:
        - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                      - auth-service
                      - user-service
                      - session-service
                  maxItems: 10
                  description: List of services to check
      responses:
        "200":
          $ref: "#/components/responses/HealthBatchSuccess"
        "400":
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description:
        "**Performance optimization:** Real-time health updates without polling

        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.

        **Protocol:** WebSocket with JSON payloads

        **Heartbeat:** 30 second intervals

        **Reconnection:** Automatic with exponential backoff

        "
      operationId: auctionServiceHealthWebSocket
      tags:
        - Health Monitoring
      parameters:
        - name: services
          in: query
          schema:
            type: array
            items:
              type: string
              enum:
                - auth-service
                - user-service
                - session-service
          description: Services to monitor (optional, monitors all if not specified)
      responses:
        "200":
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/auction/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                      - health-monitoring-v1
        "101":
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
        "400":
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "401":
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
  /auction/create:
    post:
      summary: User registration
      description: "**Enterprise-grade user registration endpoint**

        Creates new user account with email/# Add custom fields here if neededword authentication.

        Includes email verification, # Add custom fields here if neededword strength validation, and duplicate checking.

        **Performance:** <100ms P95, includes # Add custom fields here if neededword hashing and email sending

        **Security:** Argon2id # Add custom fields here if neededword hashing, email verification required

        "
      operationId: auctionRegister
      tags:
        - Registration
      security: [] # No auth required for registration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: User registered successfully - email verification required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          description: Invalid request - malformed data or validation failed
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "409":
          description: Conflict - user with this email already exists
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - registration rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 300
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
  /auction/{auctionId}/bid:
    parameters:
      - $ref: "#/components/parameters/AuctionId"
    post:
      summary: User login with credentials
      description: "**Enterprise-grade authentication endpoint**

        Authenticates user credentials and returns JWT access token.

        Supports # Add custom fields here if neededword-based authentication with optional MFA.

        Implements rate limiting and brute-force protection.

        **Performance:** <25ms P95, includes # Add custom fields here if neededword hashing verification

        **Security:** Argon2id # Add custom fields here if neededword hashing, JWT tokens with expiration

        "
      operationId: auctionLogin
      tags:
        - Authentication
      security: [] # No auth required for login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login successful - returns access token
          headers:
            X-Rate-Limit-Remaining:
              schema:
                type: integer
                example: 47
                description: Remaining login attempts in current window
            X-Rate-Limit-Reset:
              schema:
                type: integer
                example: 3600
                description: Seconds until rate limit resets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          description: Invalid request - malformed credentials
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - login rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 300
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
  /auction/{auctionId}:
    parameters:
      - $ref: "#/components/parameters/AuctionId"
    post:
      summary: User logout
      description: "**Secure logout endpoint**

        Invalidates current session and refresh tokens.

        Supports global logout from all devices.

        **Performance:** <10ms P95

        "
      operationId: auctionLogout
      tags:
        - Authentication
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Logged out successfully"
        "401":
          description: Unauthorized - invalid or expired token
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - logout rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 10
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
  /auction/{auctionId}/bids:
    parameters:
      - $ref: "#/components/parameters/AuctionId"
    post:
      summary: Refresh access token
      description: "**Token refresh endpoint**

        Exchanges refresh token for new access token.

        Maintains user session without re-authentication.

        **Performance:** <15ms P95

        **Security:** Refresh token rotation, short-lived access tokens

        "
      operationId: auctionRefresh
      tags:
        - Authentication
      security: [] # Uses refresh token in body
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
                  description: Valid refresh token
                  example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
      responses:
        "200":
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          description: Invalid refresh token
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "401":
          description: Refresh token expired or revoked
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - token refresh rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
  /auction/list:
    get:
      summary: Get current user information
      description: "**Current user profile endpoint**

        Returns authenticated user's profile information.

        Used for client-side user data display and session validation.

        **Performance:** <5ms P95 with caching

        "
      operationId: auctionGetCurrentUser
      tags:
        - User Management
      security:
        - BearerAuth: []
      responses:
        "200":
          description: User information retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: private, max-age=300
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "401":
          description: Unauthorized - invalid or expired token
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "../common/schemas/error.yaml#/Error"
components:
  schemas:
    # ============================================================================
    # ECONOMY DOMAIN ENTITIES - SOLID/DRY INHERITANCE
    # ============================================================================

    # Auction Entity - inherits from economy-entities.yaml
    AuctionEntity:
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Unique identifier of the auction
  responses:
    HealthBatchSuccess:
      $ref: ../common/responses/success.yaml#/HealthBatchSuccess
    TooManyRequests:
      description: Too many requests - rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
            example: 60
            description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: "../common/schemas/error.yaml#/Error"
  schemas:
    # ============================================================================
    # ECONOMY DOMAIN ENTITIES - SOLID/DRY INHERITANCE
    # ============================================================================

    # Auction Entity - inherits from economy-entities.yaml
    AuctionEntity:
      allOf:
        - $ref: '../common/schemas/economy-entities.yaml#/AuctionEntity'
        - type: object
          # Domain-specific extensions can be added here if needed

    # Marketplace Listing Entity - inherits from economy-entities.yaml
    MarketplaceListingEntity:
      allOf:
        - $ref: '../common/schemas/economy-entities.yaml#/MarketplaceListingEntity'
        - type: object
          # Domain-specific extensions can be added here if needed

    # Transaction Entity - inherits from economy-entities.yaml
    TransactionEntity:
      allOf:
        - $ref: '../common/schemas/economy-entities.yaml#/TransactionEntity'
        - type: object
          # Domain-specific extensions can be added here if needed

    # ============================================================================
    # AUCTION DOMAIN SPECIFIC SCHEMAS
    # ============================================================================

    # Auction Creation Request
    CreateAuctionRequest:
      allOf:
        - $ref: '../common/schemas/common.yaml#/AuditableEntity'
        - type: object
          required:
            - item_id
            - starting_price
            - currency_code
            - start_time
            - end_time
          properties:
            item_id:
              $ref: '../common/schemas/common.yaml#/UUID'
            starting_price:
              type: number
              minimum: 0.01
              description: "Auction starting price"
              example: 100.00
            currency_code:
              type: string
              pattern: '^[A-Z]{3}$'
              description: "Auction currency"
              example: "EDY"
            minimum_bid_increment:
              type: number
              minimum: 0.01
              description: "Minimum bid increase"
              example: 10.00
            buyout_price:
              type: number
              minimum: 0
              description: "Optional buyout price"
              example: 500.00
            start_time:
              $ref: '../common/schemas/common.yaml#/Timestamp'
            end_time:
              $ref: '../common/schemas/common.yaml#/Timestamp'
            description:
              type: string
              maxLength: 1000
              description: "Auction description"
              example: "Rare cybernetic implant from Arasaka raid"
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%. Optimistic locking for concurrent auctions."

    # Bid Request
    PlaceBidRequest:
      type: object
      required:
        - auction_id
        - bid_amount
      properties:
        auction_id:
          $ref: '../common/schemas/common.yaml#/UUID'
        bid_amount:
          type: number
          minimum: 0.01
          description: "Bid amount"
          example: 150.00
        max_bid:
          type: number
          minimum: 0
          description: "Maximum bid for automatic bidding"
          example: 300.00
      description:
        "BACKEND NOTE: Fields ordered for struct alignment (large → small).
        Expected memory savings: 30-50%."

    # Auction Response
    AuctionResponse:
      allOf:
        - $ref: '#/components/schemas/AuctionEntity'
        - type: object
          # Response-specific fields can be added here if needed

    # ============================================================================
    # COMMON SCHEMAS (from common architecture)
    # ============================================================================

    Error:
      $ref: "../common/schemas/error.yaml#/Error"
    HealthResponse:
      $ref: "../common/schemas/health.yaml#/HealthResponse"

    # ============================================================================
    # PAGINATION SCHEMAS (from common architecture)
    # ============================================================================

    PaginationParams:
      $ref: "../common/schemas/pagination.yaml#/PaginationParams"
    PaginatedResponse:
      $ref: "../common/schemas/pagination.yaml#/PaginatedResponse"
  securitySchemes:
        - # Add custom fields here if neededword
      properties:
        email:
          type: string
          format: email
          description: User email address
          example: user@necpgame.com
        # Add custom fields here if neededword:
          type: string
          minLength: 8
          maxLength: 128
          description: User # Add custom fields here if neededword
          example: "MySecurePass123!"
        remember_me:
          type: boolean
          description: Extend session duration
          example: true
          default: false
        mfa_code:
          type: string
          minLength: 6
          maxLength: 8
          description: Multi-factor authentication code (if enabled)
          example: "123456"
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."
    RegisterRequest:
      type: object
      required:
        - email
        - # Add custom fields here if neededword
        - username
      properties:
        email:
          type: string
          format: email
          description: User email address
          example: newuser@necpgame.com
        # Add custom fields here if neededword:
          type: string
          minLength: 8
          maxLength: 128
          description: User # Add custom fields here if neededword (must meet complexity requirements)
          example: "MySecurePass123!"
        username:
          type: string
          minLength: 3
          maxLength: 50
          pattern: "^[a-zA-Z0-9_-]+$"
          description: Unique username
          example: cyber_runner_2077
        accept_terms:
          type: boolean
          description: User accepts terms of service
          example: true
        marketing_consent:
          type: boolean
          description: Consent for marketing communications
          example: false
          default: false
        referral_code:
          type: string
          maxLength: 50
          description: Referral code from another user
          example: "FRIEND123"
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."
    AuthResponse:
      type: object
      required:
        - access_token
        - token_type
        - expires_in
      properties:
        access_token:
          type: string
          description: JWT access token for API authentication
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        token_type:
          type: string
          enum: [Bearer]
          example: Bearer
        expires_in:
          type: integer
          description: Token expiration time in seconds
          example: 3600
        refresh_token:
          type: string
          description: Refresh token for obtaining new access tokens
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        user:
          $ref: "#/components/schemas/UserSummary"
        session_id:
          type: string
          format: uuid
          description: Session identifier
          example: 550e8400-e29b-41d4-a716-446655440000
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."
    RegisterResponse:
      type: object
      required:
        - user_id
        - email
        - verification_required
      properties:
        user_id:
          type: string
          format: uuid
          description: Newly created user ID
          example: 550e8400-e29b-41d4-a716-446655440000
        email:
          type: string
          format: email
          description: Registered email address
          example: newuser@necpgame.com
        username:
          type: string
          description: Registered username
          example: cyber_runner_2077
        verification_required:
          type: boolean
          description: Whether email verification is required
          example: true
        verification_token_expires:
          type: string
          format: date-time
          description: When verification token expires
          example: "2025-12-21T12:00:00Z"
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."
    UserSummary:
      type: object
      required:
        - id
        - email
        - username
      properties:
        id:
          type: string
          format: uuid
          description: User unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        email:
          type: string
          format: email
          description: User email address
          example: user@necpgame.com
        username:
          type: string
          description: User display name
          example: cyber_runner_2077
        avatar_url:
          type: string
          format: uri
          description: User avatar image URL
          example: https://cdn.necpgame.com/avatars/550e8400-e29b-41d4-a716-446655440000.jpg
        level:
          type: integer
          minimum: 1
          description: User level
          example: 25
        is_verified:
          type: boolean
          description: Email verification status
          example: true
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."
    UserProfile:
      type: object
      required:
        - id
        - email
        - username
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: User unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        email:
          type: string
          format: email
          description: User email address
          example: user@necpgame.com
        username:
          type: string
          description: User display name
          example: cyber_runner_2077
        avatar_url:
          type: string
          format: uri
          description: User avatar image URL
          example: https://cdn.necpgame.com/avatars/550e8400-e29b-41d4-a716-446655440000.jpg
        level:
          type: integer
          minimum: 1
          description: User level
          example: 25
        experience:
          type: integer
          minimum: 0
          description: Total experience points
          example: 12500
        created_at:
          type: string
          format: date-time
          description: Account creation timestamp
          example: "2025-01-15T10:30:00Z"
        last_login:
          type: string
          format: date-time
          description: Last login timestamp
          example: "2025-12-21T08:15:00Z"
        is_verified:
          type: boolean
          description: Email verification status
          example: true
        preferences:
          type: object
          description: User preferences and settings
          properties:
            theme:
              type: string
              enum: [light, dark, cyberpunk]
              example: cyberpunk
            language:
              type: string
              example: en
            notifications:
              type: object
              properties:
                email:
                  type: boolean
                  example: true
                push:
                  type: boolean
                  example: false
        stats:
          type: object
          description: User statistics
          properties:
            games_played:
              type: integer
              minimum: 0
              example: 150
            hours_played:
              type: integer
              minimum: 0
              example: 250
            achievements_unlocked:
              type: integer
              minimum: 0
              example: 25
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."
    PaginationParams:
      $ref: "../common/schemas/pagination.yaml#/PaginationParams"
    PaginatedResponse:
      $ref: "../common/schemas/pagination.yaml#/PaginatedResponse"
  securitySchemes:
    BearerAuth:
      $ref: "../common/security/security.yaml#/BearerAuth"
    ApiKeyAuth:
      $ref: "../common/security/security.yaml#/ApiKeyAuth"
    ServiceAuth:
      $ref: "../common/security/security.yaml#/ServiceAuth"
