openapi: 3.0.3
info:
  title: AI Algorithms API
  version: 1.0.0
  description: |
    API для внутренних AI алгоритмов.
    INTERNAL USE ONLY - для backend services.
    
    Функционал:
    - Romance algorithms (dialogue, relationship, triggers)
    - NPC personality engine
    - Romance AI decision making
    - Compatibility calculations
    - Dialogue generation
    - Relationship progression algorithms
    
    Используется backend сервисами:
    - Quest Engine
    - NPC Management
    - Romance System
    - Dialogue System
    
    Источники: .BRAIN/05-technical/algorithms/ & ai-systems/ (5 documents)

  x-microservice:
    name: admin-service
    port: 8088
    domain: admin
    base-path: /api/v1/internal
    package: com.necpgame.adminservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Romance Algorithms
    description: Алгоритмы романтики
  - name: NPC Personality
    description: Личность NPC
  - name: AI Decision
    description: AI решения

paths:
  /internal/ai/romance/calculate-compatibility:
    post:
      summary: Рассчитать совместимость для романа
      operationId: calculateRomanceCompatibility
      tags: [Romance Algorithms]
      description: Internal service call
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                character_id:
                  type: string
                  format: uuid
                npc_id:
                  type: string
                character_attributes:
                  type: object
                npc_personality:
                  type: object
      responses:
        '200':
          description: Совместимость рассчитана
          content:
            application/json:
              schema:
                type: object
                properties:
                  compatibility_score:
                    type: integer
                  factors:
                    type: object
                  recommendation:
                    type: string

  /internal/ai/romance/generate-dialogue:
    post:
      summary: Сгенерировать романтический диалог
      operationId: generateRomanceDialogue
      tags: [Romance Algorithms]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                npc_id:
                  type: string
                relationship_stage:
                  type: string
                context:
                  type: object
                affection_level:
                  type: integer
      responses:
        '200':
          description: Диалог сгенерирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  dialogue_text:
                    type: string
                  tone:
                    type: string
                  choices:
                    type: array
                    items:
                      type: object

  /internal/ai/romance/determine-trigger:
    post:
      summary: Определить триггер романтического события
      operationId: determineRomanceTrigger
      tags: [Romance Algorithms]
      description: Когда должно произойти событие
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                relationship_id:
                  type: string
                  format: uuid
                current_state:
                  type: object
                recent_interactions:
                  type: array
                  items:
                    type: object
                    properties:
                      interaction_type:
                        type: string
                      timestamp:
                        type: string
                        format: date-time
                      impact_score:
                        type: number
      responses:
        '200':
          description: Триггер определен
          content:
            application/json:
              schema:
                type: object
                properties:
                  should_trigger:
                    type: boolean
                  event_id:
                    type: string
                    nullable: true
                  trigger_probability:
                    type: number

  /internal/ai/npc/generate-personality:
    post:
      summary: Сгенерировать личность NPC
      operationId: generateNPCPersonality
      tags: [NPC Personality]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                npc_template:
                  type: string
                faction:
                  type: string
                region:
                  type: string
                role:
                  type: string
      responses:
        '200':
          description: Личность сгенерирована
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NPCPersonality'

  /internal/ai/npc/personality/{npc_id}:
    get:
      summary: Получить личность NPC
      operationId: getNPCPersonality
      tags: [NPC Personality]
      parameters:
        - name: npc_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Личность NPC
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NPCPersonality'

  /internal/ai/npc/decision:
    post:
      summary: Получить AI решение NPC
      operationId: getNPCDecision
      tags: [AI Decision]
      description: Что NPC делает в ситуации
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                npc_id:
                  type: string
                situation:
                  type: object
                player_actions:
                  type: array
                  items:
                    type: object
                    properties:
                      action:
                        type: string
                      timestamp:
                        type: string
                        format: date-time
                      intensity:
                        type: number
                relationship_level:
                  type: integer
      responses:
        '200':
          description: Решение NPC
          content:
            application/json:
              schema:
                type: object
                properties:
                  decision:
                    type: string
                  reasoning:
                    type: string
                  emotional_state:
                    type: string
                  relationship_change:
                    type: integer

  /internal/ai/dialogue/generate:
    post:
      summary: Сгенерировать диалог
      operationId: generateDialogue
      tags: [NPC Personality]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                npc_id:
                  type: string
                context:
                  type: string
                mood:
                  type: string
                player_reputation:
                  type: integer
      responses:
        '200':
          description: Диалог сгенерирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                  tone:
                    type: string
                  emotion:
                    type: string

components:
  schemas:
    LoginScreenData:
      type: object
      properties:
        background_image_url:
          type: string
        logo_url:
          type: string
        news_items:
          type: array
          items:
            type: object
            properties:
              headline:
                type: string
              summary:
                type: string
              image_url:
                type: string
        server_status:
          type: string
        version_info:
          type: string

    ServerInfo:
      type: object
      properties:
        server_id:
          type: string
        name:
          type: string
        region:
          type: string
        population:
          type: integer
        max_population:
          type: integer
        status:
          type: string
        recommended:
          type: boolean

    CharacterCreationFlow:
      type: object
      properties:
        steps:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              title:
                type: string
              component:
                type: string
              order:
                type: integer

    AppearanceOptions:
      type: object
      properties:
        body_types:
          type: array
          items:
            type: string
        faces:
          type: array
          items:
            type: string
        hair:
          type: array
          items:
            type: string
        scars:
          type: array
          items:
            type: string
        tattoos:
          type: array
          items:
            type: string
        cyberware_visible:
          type: array
          items:
            type: string

    CharacterSelectInfo:
      type: object
      properties:
        character_id:
          type: string
          format: uuid
        name:
          type: string
        level:
          type: integer
        class:
          type: string
        thumbnail_url:
          type: string
        last_location:
          type: string

    HUDData:
      type: object
      properties:
        health_bar:
          type: object
        stamina_bar:
          type: object
        minimap_data:
          type: object
        quest_tracker:
          type: array
          items:
            type: object
            properties:
              quest_id:
                type: string
              title:
                type: string
              status:
                type: string
        quick_slots:
          type: array
          items:
            type: object
            properties:
              slot:
                type: integer
              ability_id:
                type: string
        buffs_debuffs:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              remaining_seconds:
                type: integer

    UIFeature:
      type: object
      properties:
        feature_id:
          type: string
        name:
          type: string
        enabled:
          type: boolean
        beta:
          type: boolean

    UISettings:
      type: object
      properties:
        hud_scale:
          type: number
        opacity:
          type: number
        color_scheme:
          type: string
        keybindings:
          type: object
        audio_settings:
          type: object

    NPCPersonality:
      type: object
      properties:
        npc_id:
          type: string
        traits:
          type: array
          items:
            type: string
        values:
          type: object
          additionalProperties:
            type: integer
        quirks:
          type: array
          items:
            type: string
        speech_pattern:
          type: string
        emotional_range:
          type: object

  securitySchemes:
    InternalAuth:
      type: apiKey
      in: header
      name: X-Internal-Service-Key

security:
  - InternalAuth: []

