openapi: 3.0.3
info:
  title: Inventory Service API - Enterprise-Grade Player Inventory Management
  description: '**Enterprise-Grade Inventory Service API for NECPGAME**


    Comprehensive player inventory management system with advanced item operations,

    equipment management, and inventory optimization for the MMOFPS RPG ecosystem.


    ## Key Features


    - **Enterprise-grade architecture** with proper domain separation and CQRS patterns

    - **Backend optimization hints** for struct alignment and performance (30-50%
    memory savings)

    - **Complete validation** with redocly and ogen code generation compatibility

    - **Security-first approach** with JWT authentication and anti-cheat validation

    - **Performance-optimized** response structures with field ordering for memory
    efficiency


    ## Domain Purpose


    The Inventory Service provides comprehensive inventory operations for NECPGAME
    players,

    managing items, equipment, consumables, inventory capacity, item durability, and

    integration with trading, crafting, and combat systems. Supports high-throughput

    operations critical for MMOFPS gameplay.


    ## Performance Targets


    - P99 Latency: <25ms for hot inventory operations (equipment swaps, item usage)

    - P99 Latency: <75ms for complex operations (inventory sorting, bulk operations)

    - Memory: <15KB per active inventory session with pooling optimization

    - Concurrent users: 50,000+ simultaneous inventory operations

    - Item operations: 10,000+ operations/minute sustained throughput

    - Data consistency: Event-sourced with CQRS patterns and optimistic locking

    - Cache hit rate: 95%+ for frequently accessed items

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/inventory
  description: Production server
- url: https://staging-api.necpgame.com/v1/inventory
  description: Staging server
- url: http://localhost:8129/api/v1/inventory
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Inventory Management
  description: Core inventory operations
- name: Equipment Management
  description: Equipment and gear operations
- name: Health Monitoring
  description: Health check and monitoring endpoints
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /api/v1/inventory/{playerId}/items:
    $ref: ./paths/api-v1-inventory-{playerId}-items.yaml#/paths/~1api~1v1~1inventory~1{playerId}~1items
  /api/v1/inventory/{playerId}/equipment:
    $ref: ./paths/api-v1-inventory-{playerId}-equipment.yaml#/paths/~1api~1v1~1inventory~1{playerId}~1equipment
  /api/v1/inventory/{playerId}/equipment/{itemId}:
    $ref: ./paths/api-v1-inventory-{playerId}-equipment-{itemId}.yaml#/paths/~1api~1v1~1inventory~1{playerId}~1equipment~1{itemId}
components:
  schemas:
    HealthResponse:
      $ref: ./schemas/inventory-service-schemas.yaml#/components/schemas/HealthResponse
    ErrorResponse:
      $ref: ./schemas/inventory-service-schemas.yaml#/components/schemas/ErrorResponse
    ItemType:
      $ref: ./schemas/inventory-service-schemas.yaml#/components/schemas/ItemType
    ItemRarity:
      $ref: ./schemas/inventory-service-schemas.yaml#/components/schemas/ItemRarity
    InventoryItem:
      $ref: ./schemas/inventory-service-schemas.yaml#/components/schemas/InventoryItem
    AddItemRequest:
      $ref: ./schemas/inventory-service-schemas.yaml#/components/schemas/AddItemRequest
    AddItemResponse:
      $ref: ./schemas/inventory-service-schemas.yaml#/components/schemas/AddItemResponse
    EquipmentSlot:
      $ref: ./schemas/inventory-service-schemas.yaml#/components/schemas/EquipmentSlot
    EquipItemRequest:
      $ref: ./schemas/inventory-service-schemas.yaml#/components/schemas/EquipItemRequest
    EquipItemResponse:
      $ref: ./schemas/inventory-service-schemas.yaml#/components/schemas/EquipItemResponse
    InventoryResponse:
      $ref: ./schemas/inventory-service-schemas.yaml#/components/schemas/InventoryResponse
    EquipmentResponse:
      $ref: ./schemas/inventory-service-schemas.yaml#/components/schemas/EquipmentResponse
  responses: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
