openapi: 3.0.3
info:
  title: Trading Guilds API
  version: 1.0.0
  description: |
    API для торговых гильдий.
    
    Функционал:
    - Trading guild creation & types
    - Role structure (Guild Master, Treasurer, Merchant, Trader)
    - Guild treasury (общий капитал)
    - Profit distribution
    - Trading quotas
    - Exclusive trade routes
    - Guild halls & upgrades
    - Guild levels (1-5)
    - Inter-guild trading
    - Guild reputation
    
    Типы гильдий:
    - MERCHANT (товары)
    - CRAFTSMAN (крафт и продажа)
    - TRANSPORT (логистика)
    - FINANCIAL (инвестиции и кредиты)
    - MIXED (универсальные)
    
    Источник: .BRAIN/02-gameplay/economy/economy-trading-guilds.md v1.0.0

  x-microservice:
    name: economy-service
    port: 8085
    domain: economy
    base-path: /api/v1/gameplay/economy
    package: com.necpgame.economyservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Trading Guilds
    description: Управление торговыми гильдиями
  - name: Guild Treasury
    description: Казна гильдии
  - name: Guild Trading
    description: Торговые операции

paths:
  /gameplay/economy/trading-guilds:
    get:
      summary: Получить список торговых гильдий
      operationId: listTradingGuilds
      tags: [Trading Guilds]
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [MERCHANT, CRAFTSMAN, TRANSPORT, FINANCIAL, MIXED]
        - name: min_level
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - name: region
          in: query
          schema:
            type: string
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Список гильдий
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/TradingGuild'

    post:
      summary: Создать торговую гильдию
      operationId: createTradingGuild
      tags: [Trading Guilds]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGuildRequest'
      responses:
        '201':
          description: Гильдия создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingGuild'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/economy/trading-guilds/{guild_id}:
    get:
      summary: Получить информацию о гильдии
      operationId: getTradingGuild
      tags: [Trading Guilds]
      parameters:
        - name: guild_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Информация о гильдии
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingGuildDetailed'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /gameplay/economy/trading-guilds/{guild_id}/members:
    get:
      summary: Получить членов гильдии
      operationId: getGuildMembers
      tags: [Trading Guilds]
      parameters:
        - name: guild_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Члены гильдии
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/GuildMember'
                  roles_distribution:
                    type: object
                    additionalProperties:
                      type: integer

    post:
      summary: Добавить члена гильдии
      operationId: addGuildMember
      tags: [Trading Guilds]
      parameters:
        - name: guild_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                character_id:
                  type: string
                  format: uuid
                role:
                  type: string
                  enum: [GUILD_MASTER, TREASURER, MERCHANT, TRADER, RECRUIT]
      responses:
        '200':
          description: Член добавлен
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/economy/trading-guilds/{guild_id}/treasury:
    get:
      summary: Получить состояние казны
      operationId: getGuildTreasury
      tags: [Guild Treasury]
      parameters:
        - name: guild_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Состояние казны
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuildTreasury'

  /gameplay/economy/trading-guilds/{guild_id}/treasury/contribute:
    post:
      summary: Внести вклад в казну
      operationId: contributeToTreasury
      tags: [Guild Treasury]
      parameters:
        - name: guild_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContributionRequest'
      responses:
        '200':
          description: Вклад принят
          content:
            application/json:
              schema:
                type: object
                properties:
                  contribution_id:
                    type: string
                    format: uuid
                  new_balance:
                    type: integer
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/economy/trading-guilds/{guild_id}/profits/distribute:
    post:
      summary: Распределить прибыль
      operationId: distributeProfits
      tags: [Guild Treasury]
      description: Только для Guild Master/Treasurer
      parameters:
        - name: guild_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributeProfitsRequest'
      responses:
        '200':
          description: Прибыль распределена
          content:
            application/json:
              schema:
                type: object
                properties:
                  distribution_id:
                    type: string
                    format: uuid
                  total_distributed:
                    type: integer
                  distributions:
                    type: array
                    items:
                      type: object
                      properties:
                        character_id:
                          type: string
                          format: uuid
                        amount:
                          type: integer
        '403':
          $ref: '../../shared/common/responses.yaml#/components/responses/Forbidden'

  /gameplay/economy/trading-guilds/{guild_id}/trade-routes:
    get:
      summary: Получить торговые маршруты гильдии
      operationId: getGuildTradeRoutes
      tags: [Guild Trading]
      parameters:
        - name: guild_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Торговые маршруты
          content:
            application/json:
              schema:
                type: object
                properties:
                  active_routes:
                    type: array
                    items:
                      $ref: '#/components/schemas/TradeRoute'
                  exclusive_routes:
                    type: array
                    description: Эксклюзивные маршруты гильдии
                    items:
                      $ref: '#/components/schemas/TradeRoute'

  /gameplay/economy/trading-guilds/{guild_id}/quotas:
    get:
      summary: Получить торговые квоты
      operationId: getGuildQuotas
      tags: [Guild Trading]
      parameters:
        - name: guild_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Квоты
          content:
            application/json:
              schema:
                type: object
                properties:
                  quotas:
                    type: array
                    items:
                      $ref: '#/components/schemas/TradingQuota'

  /gameplay/economy/trading-guilds/{guild_id}/upgrade:
    post:
      summary: Улучшить гильдию
      operationId: upgradeGuild
      tags: [Trading Guilds]
      parameters:
        - name: guild_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                upgrade_type:
                  type: string
                  enum: [LEVEL_UP, GUILD_HALL, WAREHOUSE, TRADE_OFFICE]
      responses:
        '200':
          description: Улучшение применено
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

components:
  schemas:
    TradingGuild:
      type: object
      properties:
        guild_id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
          enum: [MERCHANT, CRAFTSMAN, TRANSPORT, FINANCIAL, MIXED]
        level:
          type: integer
          minimum: 1
          maximum: 5
        member_count:
          type: integer
        headquarters_location:
          type: string
        reputation:
          type: integer
        created_at:
          type: string
          format: date-time

    TradingGuildDetailed:
      allOf:
        - $ref: '#/components/schemas/TradingGuild'
        - type: object
          properties:
            guild_master:
              type: object
              properties:
                character_id:
                  type: string
                  format: uuid
                character_name:
                  type: string
            description:
              type: string
            specialization:
              type: array
              items:
                type: string
            bonuses:
              type: object
              properties:
                trading_fee_reduction:
                  type: number
                  format: float
                profit_margin_increase:
                  type: number
                exclusive_routes_count:
                  type: integer
            upgrades:
              type: object
              properties:
                guild_hall_level:
                  type: integer
                warehouse_capacity:
                  type: integer
                trade_office_count:
                  type: integer

    GuildMember:
      type: object
      properties:
        character_id:
          type: string
          format: uuid
        character_name:
          type: string
        role:
          type: string
          enum: [GUILD_MASTER, TREASURER, MERCHANT, TRADER, RECRUIT]
        contribution_total:
          type: integer
          description: Общий вклад в казну
        trades_completed:
          type: integer
        joined_at:
          type: string
          format: date-time

    GuildTreasury:
      type: object
      properties:
        guild_id:
          type: string
          format: uuid
        balance:
          type: integer
        currencies:
          type: object
          additionalProperties:
            type: integer
        assets:
          type: array
          description: Товары и ресурсы в казне
          items:
            type: object
            properties:
              item_id:
                type: string
                format: uuid
              quantity:
                type: integer
              estimated_value:
                type: integer
        recent_transactions:
          type: array
          items:
            $ref: '#/components/schemas/TreasuryTransaction'

    TreasuryTransaction:
      type: object
      properties:
        transaction_id:
          type: string
          format: uuid
        type:
          type: string
          enum: [CONTRIBUTION, WITHDRAWAL, PROFIT, EXPENSE, DISTRIBUTION]
        amount:
          type: integer
        character_id:
          type: string
          format: uuid
          nullable: true
        description:
          type: string
        timestamp:
          type: string
          format: date-time

    ContributionRequest:
      type: object
      required:
        - character_id
        - amount
      properties:
        character_id:
          type: string
          format: uuid
        amount:
          type: integer
        currency:
          type: string
          default: "eddies"

    DistributeProfitsRequest:
      type: object
      required:
        - distribution_type
      properties:
        distribution_type:
          type: string
          enum: [EQUAL, BY_CONTRIBUTION, BY_ROLE, CUSTOM]
        total_amount:
          type: integer
        custom_distributions:
          type: array
          nullable: true
          items:
            type: object
            properties:
              character_id:
                type: string
                format: uuid
              amount:
                type: integer

    TradeRoute:
      type: object
      properties:
        route_id:
          type: string
        name:
          type: string
        origin:
          type: string
        destination:
          type: string
        goods:
          type: array
          items:
            type: string
        profit_margin:
          type: number
          format: float
        is_exclusive:
          type: boolean
        danger_level:
          type: string
          enum: [LOW, MEDIUM, HIGH, EXTREME]

    TradingQuota:
      type: object
      properties:
        item_category:
          type: string
        max_quantity_per_week:
          type: integer
        current_used:
          type: integer
        resets_at:
          type: string
          format: date-time

    CreateGuildRequest:
      type: object
      required:
        - name
        - type
        - character_id
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 50
        type:
          type: string
          enum: [MERCHANT, CRAFTSMAN, TRANSPORT, FINANCIAL, MIXED]
        character_id:
          type: string
          format: uuid
          description: Guild Master
        headquarters_location:
          type: string
        description:
          type: string

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

