openapi: 3.0.3
info:
  title: Item Service API - Enterprise-Grade Item Management
  description: '**Enterprise-Grade Item Management API for NECPGAME**


    This API manages all aspects of in-game items, including inventory management,

    item properties, crafting materials, equipment stats, and item transactions.


    ## Key Features


    - **Item Management**: Creation, modification, and lifecycle management of game
    items

    - **Inventory Operations**: Item storage, retrieval, and organization

    - **Item Properties**: Dynamic properties, stats, and metadata management

    - **Crafting Integration**: Material requirements and crafting recipe validation

    - **Equipment System**: Weapon, armor, and accessory management with stats

    - **Performance Optimized**: Real-time inventory operations with <30ms P99 latency


    ## Domain Purpose


    The Item domain handles all item-related operations in Night City. Players collect,

    craft, equip, and trade items through secure and performant APIs that support

    massive concurrent inventory operations.


    ## Performance Targets


    - P99 Latency: <30ms for item operations

    - Memory: <40KB per active inventory session

    - Concurrent users: 75,000+ simultaneous operations

    - Item throughput: 5,000+ operations/sec

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    email: api@necpgame.com
    url: https://github.com/gc-lover/necpgame-monorepo
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/item
  description: Production server
- url: https://staging-api.necpgame.com/v1/item
  description: Staging server
- url: http://localhost:8080/api/v1/item
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Item Management
  description: Core item operations and lifecycle management
- name: Inventory Operations
  description: Item storage, retrieval, and organization
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /items:
    $ref: ./paths/items.yaml#/paths/~1items
  /items/{itemId}:
    $ref: ./paths/items-{itemId}.yaml#/paths/~1items~1{itemId}
components:
  schemas:
    HealthResponse:
      $ref: ./schemas/item-service-schemas.yaml#/components/schemas/HealthResponse
    WebSocketHealthMessage:
      $ref: ./schemas/item-service-schemas.yaml#/components/schemas/WebSocketHealthMessage
    Error:
      $ref: ./schemas/item-service-schemas.yaml#/components/schemas/Error
    Example:
      $ref: ./schemas/item-service-schemas.yaml#/components/schemas/Example
    CreateExampleRequest:
      $ref: ./schemas/item-service-schemas.yaml#/components/schemas/CreateExampleRequest
    UpdateExampleRequest:
      $ref: ./schemas/item-service-schemas.yaml#/components/schemas/UpdateExampleRequest
    ExampleResponse:
      $ref: ./schemas/item-service-schemas.yaml#/components/schemas/ExampleResponse
    ExampleListResponse:
      $ref: ./schemas/item-service-schemas.yaml#/components/schemas/ExampleListResponse
    PaginationParams:
      $ref: ./schemas/item-service-schemas.yaml#/components/schemas/PaginationParams
    PaginatedResponse:
      $ref: ./schemas/item-service-schemas.yaml#/components/schemas/PaginatedResponse
    Item:
      $ref: ./schemas/item-service-schemas.yaml#/components/schemas/Item
  responses:
    HealthBatchSuccess:
      $ref: ./schemas/item-service-responses.yaml#/components/responses/HealthBatchSuccess
    ExampleListSuccess:
      $ref: ./schemas/item-service-responses.yaml#/components/responses/ExampleListSuccess
    ExampleCreated:
      $ref: ./schemas/item-service-responses.yaml#/components/responses/ExampleCreated
    ExampleRetrieved:
      $ref: ./schemas/item-service-responses.yaml#/components/responses/ExampleRetrieved
    ExampleUpdated:
      $ref: ./schemas/item-service-responses.yaml#/components/responses/ExampleUpdated
    ExampleDeleted:
      $ref: ./schemas/item-service-responses.yaml#/components/responses/ExampleDeleted
    OK:
      $ref: ./schemas/item-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/item-service-responses.yaml#/components/responses/Created
    BadRequest:
      $ref: ./schemas/item-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/item-service-responses.yaml#/components/responses/Unauthorized
    Forbidden:
      $ref: ./schemas/item-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/item-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/item-service-responses.yaml#/components/responses/Conflict
    InternalServerError:
      $ref: ./schemas/item-service-responses.yaml#/components/responses/InternalServerError
    HealthOK:
      $ref: ./schemas/item-service-responses.yaml#/components/responses/HealthOK
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
