openapi: 3.0.3
info:
  title: Game Mechanic Service API
  description: '**Enterprise-grade API for Core Game Mechanics and Systems**


    ## Domain Purpose

    Comprehensive core game mechanics service providing validation, state management,

    event processing, and rule execution for the NECPGAME platform.


    ## Business Value

    - Real-time game mechanics validation and execution

    - Advanced state synchronization and conflict resolution

    - Performance-optimized event processing pipeline

    - Enterprise-grade scalability for millions of concurrent gaming sessions

    - Comprehensive game rule engine and scripting support


    ## Performance Targets

    - P99 Latency: <15ms for core operations

    - Throughput: 200,000+ mechanic operations per second

    - Concurrent Sessions: 500,000+ active game sessions supported

    - Memory per Session: <2KB for game state storage


    ## Domain Inheritance

    This service inherits from game-entities.yaml providing:

    - Game session state tracking with optimistic locking

    - Event processing integration with combat and ability systems

    - Character state validation and synchronization

    - Rule engine integration with effect and ability systems

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
servers:
- url: https://api.necpgame.com/v1/game-mechanic-service
  description: Production environment
- url: https://staging-api.necpgame.com/v1/game-mechanic-service
  description: Staging environment
- url: http://localhost:8080/api/v1/game-mechanic-service
  description: Local development
security:
- BearerAuth: []
tags:
- name: Core Mechanics
  description: Fundamental game mechanics validation and execution
- name: State Management
  description: Game state synchronization and conflict resolution
- name: Event Processing
  description: Game event processing and pipeline management
- name: Rule Engine
  description: Game rule execution and scripting system
- name: Validation System
  description: Real-time game state and action validation
- name: Performance Monitoring
  description: Game mechanics performance monitoring and analytics
- name: Health Monitoring
  description: Service health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /mechanics/validate:
    $ref: ./paths/mechanics-validate.yaml#/paths/~1mechanics~1validate
  /mechanics/execute:
    $ref: ./paths/mechanics-execute.yaml#/paths/~1mechanics~1execute
  /state/sync:
    $ref: ./paths/state-sync.yaml#/paths/~1state~1sync
  /state/validate:
    $ref: ./paths/state-validate.yaml#/paths/~1state~1validate
  /events/process:
    $ref: ./paths/events-process.yaml#/paths/~1events~1process
  /events/batch/validate:
    $ref: ./paths/events-batch-validate.yaml#/paths/~1events~1batch~1validate
  /rules/execute:
    $ref: ./paths/rules-execute.yaml#/paths/~1rules~1execute
  /rules/validate:
    $ref: ./paths/rules-validate.yaml#/paths/~1rules~1validate
  /validation/batch:
    $ref: ./paths/validation-batch.yaml#/paths/~1validation~1batch
  /performance/metrics:
    $ref: ./paths/performance-metrics.yaml#/paths/~1performance~1metrics
components:
  schemas:
    GameMechanic:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/GameMechanic
    GameEvent:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/GameEvent
    GameRule:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/GameRule
    GameState:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/GameState
    ValidationRule:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/ValidationRule
    ExecutionRule:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/ExecutionRule
    PerformanceRequirements:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/PerformanceRequirements
    RuleCondition:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/RuleCondition
    RuleAction:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/RuleAction
    PerformanceLimits:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/PerformanceLimits
    RetryPolicy:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/RetryPolicy
    PerformanceMetrics:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/PerformanceMetrics
    OperationMetrics:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/OperationMetrics
    ValidateMechanicRequest:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/ValidateMechanicRequest
    MechanicValidationResult:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/MechanicValidationResult
    ExecuteMechanicRequest:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/ExecuteMechanicRequest
    MechanicExecutionResult:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/MechanicExecutionResult
    SyncStateRequest:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/SyncStateRequest
    StateSyncResult:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/StateSyncResult
    ValidateStateRequest:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/ValidateStateRequest
    StateValidationResult:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/StateValidationResult
    ProcessEventsRequest:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/ProcessEventsRequest
    EventProcessingResult:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/EventProcessingResult
    ValidateEventBatchRequest:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/ValidateEventBatchRequest
    EventBatchValidationResult:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/EventBatchValidationResult
    ExecuteRuleRequest:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/ExecuteRuleRequest
    RuleExecutionResult:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/RuleExecutionResult
    ValidateRuleRequest:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/ValidateRuleRequest
    RuleValidationResult:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/RuleValidationResult
    BatchValidationRequest:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/BatchValidationRequest
    BatchValidationResult:
      $ref: ./schemas/game-mechanic-service-schemas.yaml#/components/schemas/BatchValidationResult
  responses:
    OK:
      $ref: ./schemas/game-mechanic-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/game-mechanic-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/game-mechanic-service-responses.yaml#/components/responses/Updated
    BadRequest:
      $ref: ./schemas/game-mechanic-service-responses.yaml#/components/responses/BadRequest
    NotFound:
      $ref: ./schemas/game-mechanic-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/game-mechanic-service-responses.yaml#/components/responses/Conflict
    UnprocessableEntity:
      $ref: ./schemas/game-mechanic-service-responses.yaml#/components/responses/UnprocessableEntity
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
