openapi: 3.0.3
info:
  title: Experience Service API
  description: "Enterprise-grade Experience & Progression System  NECPGAME .\n\n##\
    \ \U0001F3AF **Experience Service Overview**\n\nExperience Service         NECPGAME\
    \  enterprise-grade   .\n\n### ** **\n- **Experience Tracking**:   \n- **Level\
    \ Progression**:    \n- **Experience Sources**:    \n- **Milestone Rewards**:\
    \    \n\n### ** **\n- **Combat Experience**:    \n- **Crafting Experience**: \
    \  \n- **Social Experience**:    \n- **Exploration Experience**:   \n\n### **\
    \ **\n- **Experience Multipliers**:  \n- **Level Scaling**:  \n- **Progress Visualization**:\
    \  \n- **Achievement Integration**:   \n\n## \U0001F4CA **Performance Targets**\n\
    - **P99 Latency**: <20ms    \n- **Throughput**: 50,000+ experience operations/second\n\
    - **Concurrent Players**: 500,000+  \n- **Memory per Player**: <1KB   \n\n## \U0001F510\
    \ **Security**\n- JWT RS256 \n- Rate limiting   \n- Input validation  sanitization\n\
    - Audit logging  \n"
  version: 1.0.0
  contact:
    name: NECPGAME Platform Team
    email: platform@necpgame.com
  license:
    name: Proprietary
    url: https://necpgame.com/license
servers:
- url: https://experience.necpgame.com/api/v1
  description: Production Environment
- url: https://experience-staging.necpgame.com/api/v1
  description: Staging Environment
- url: http://localhost:8080/api/v1
  description: Local Development
security:
- BearerAuth: []
tags:
- name: Experience Management
  description: ' '
- name: Level Progression
  description: ' '
- name: Experience Sources
  description: ' '
- name: Rewards
  description: '  '
- name: Analytics
  description: ' '
- name: Health
  description: '  '
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /experience/award:
    $ref: ./paths/experience-award.yaml#/paths/~1experience~1award
  /experience/batch-award:
    $ref: ./paths/experience-batch-award.yaml#/paths/~1experience~1batch-award
  /players/{playerId}/experience:
    $ref: ./paths/players-{playerId}-experience.yaml#/paths/~1players~1{playerId}~1experience
  /players/{playerId}/experience/history:
    $ref: ./paths/players-{playerId}-experience-history.yaml#/paths/~1players~1{playerId}~1experience~1history
  /experience/level-up:
    $ref: ./paths/experience-level-up.yaml#/paths/~1experience~1level-up
  /players/{playerId}/level:
    $ref: ./paths/players-{playerId}-level.yaml#/paths/~1players~1{playerId}~1level
  /experience/multipliers:
    $ref: ./paths/experience-multipliers.yaml#/paths/~1experience~1multipliers
  /experience/rewards/claim:
    $ref: ./paths/experience-rewards-claim.yaml#/paths/~1experience~1rewards~1claim
  /experience/leaderboard:
    $ref: ./paths/experience-leaderboard.yaml#/paths/~1experience~1leaderboard
  /experience/analytics/summary:
    $ref: ./paths/experience-analytics-summary.yaml#/paths/~1experience~1analytics~1summary
  /experience/scaling/config:
    $ref: ./paths/experience-scaling-config.yaml#/paths/~1experience~1scaling~1config
components:
  schemas:
    CharacterEntity:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/CharacterEntity
    BaseEntity:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/BaseEntity
    OptimisticLock:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/OptimisticLock
    ErrorResponse:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/ErrorResponse
    HealthResponse:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/HealthResponse
    HealthBatchRequest:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/HealthBatchRequest
    HealthBatchResponse:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/HealthBatchResponse
    ExperienceEntity:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/ExperienceEntity
    ExperienceMultiplierEntity:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/ExperienceMultiplierEntity
    LevelRewardEntity:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/LevelRewardEntity
    AwardExperienceRequest:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/AwardExperienceRequest
    AwardExperienceResponse:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/AwardExperienceResponse
    BatchAwardExperienceRequest:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/BatchAwardExperienceRequest
    BatchAwardExperienceResponse:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/BatchAwardExperienceResponse
    PlayerExperienceResponse:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/PlayerExperienceResponse
    ExperienceHistoryResponse:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/ExperienceHistoryResponse
    LevelUpRequest:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/LevelUpRequest
    LevelUpResponse:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/LevelUpResponse
    PlayerLevelResponse:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/PlayerLevelResponse
    ExperienceMultipliersResponse:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/ExperienceMultipliersResponse
    ApplyMultiplierRequest:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/ApplyMultiplierRequest
    ApplyMultiplierResponse:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/ApplyMultiplierResponse
    ClaimRewardsRequest:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/ClaimRewardsRequest
    ClaimRewardsResponse:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/ClaimRewardsResponse
    ExperienceLeaderboardResponse:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/ExperienceLeaderboardResponse
    ProgressionAnalyticsResponse:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/ProgressionAnalyticsResponse
    LevelScalingConfigResponse:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/LevelScalingConfigResponse
    UpdateLevelScalingRequest:
      $ref: ./schemas/experience-service-schemas.yaml#/components/schemas/UpdateLevelScalingRequest
  responses: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
