openapi: 3.0.3
info:
  title: Relationship Service API - Enterprise-Grade Social Domain Service
  description: '**Enterprise-Grade Relationship Management API for NECPGAME Social
    Domain**

    This API manages all character relationships in the cyberpunk MMOFPS RPG, including
    friendship, romance, rivalry, mentorship, and business connections between players.

    ## Key Features

    - **Multi-Type Relationships**: Friendship, romance, rivalry, mentorship, business
    - **Dynamic Relationship Levels**: Intensity tracking from -10 to +10 - **Reputation
    System**: Community standing and trust metrics - **Social History**: Interaction
    tracking and relationship evolution - **Performance Optimized**: MMOFPS-grade
    performance with <50ms P99 latency

    ## Domain Purpose

    The Relationship domain handles all social connections between characters in Night
    City. Players form alliances, rivalries, romantic connections, and mentorship
    bonds that affect gameplay, reputation, and community standing.

    ## Performance Targets

    - P99 Latency: <50ms for relationship operations, <30ms for reputation queries
    - Memory: <60KB per active user relationship network - Concurrent users: 75,000+
    simultaneous relationship updates - Database queries: <25ms average response time

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/relationship
  description: Production server
- url: https://staging-api.necpgame.com/v1/relationship
  description: Staging server
- url: http://localhost:8080/api/v1/relationship
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Relationships
  description: Core relationship management
- name: Friendship
  description: Friendship-specific operations
- name: Reputation
  description: Reputation and trust metrics
- name: Social Network
  description: Social graph and connections
- name: Mentorship
  description: Mentorship and guidance relationships
- name: Romance
  description: Romantic relationship management
- name: Rivalry
  description: Rivalry and conflict tracking
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /relationships:
    $ref: ./paths/relationships.yaml#/paths/~1relationships
  /relationships/{relationshipId}:
    $ref: ./paths/relationships-{relationshipId}.yaml#/paths/~1relationships~1{relationshipId}
  /relationships/search:
    $ref: ./paths/relationships-search.yaml#/paths/~1relationships~1search
  /friendships:
    $ref: ./paths/friendships.yaml#/paths/~1friendships
  /friendships/{friendshipId}:
    $ref: ./paths/friendships-{friendshipId}.yaml#/paths/~1friendships~1{friendshipId}
  /reputation/{userId}:
    $ref: ./paths/reputation-{userId}.yaml#/paths/~1reputation~1{userId}
  /reputation/{userId}/history:
    $ref: ./paths/reputation-{userId}-history.yaml#/paths/~1reputation~1{userId}~1history
  /reputation/events:
    $ref: ./paths/reputation-events.yaml#/paths/~1reputation~1events
  /social-network/{userId}/connections:
    $ref: ./paths/social-network-{userId}-connections.yaml#/paths/~1social-network~1{userId}~1connections
  /social-network/{userId}/influence:
    $ref: ./paths/social-network-{userId}-influence.yaml#/paths/~1social-network~1{userId}~1influence
  /mentorship:
    $ref: ./paths/mentorship.yaml#/paths/~1mentorship
  /mentorship/{mentorshipId}:
    $ref: ./paths/mentorship-{mentorshipId}.yaml#/paths/~1mentorship~1{mentorshipId}
  /mentorship/{mentorshipId}/progress:
    $ref: ./paths/mentorship-{mentorshipId}-progress.yaml#/paths/~1mentorship~1{mentorshipId}~1progress
  /romance:
    $ref: ./paths/romance.yaml#/paths/~1romance
  /romance/proposals:
    $ref: ./paths/romance-proposals.yaml#/paths/~1romance~1proposals
  /rivalries:
    $ref: ./paths/rivalries.yaml#/paths/~1rivalries
components:
  schemas:
    RelationshipResponse:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/RelationshipResponse
    RelationshipDetailResponse:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/RelationshipDetailResponse
    CreateRelationshipRequest:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/CreateRelationshipRequest
    UpdateRelationshipRequest:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/UpdateRelationshipRequest
    FriendshipResponse:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/FriendshipResponse
    SendFriendRequest:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/SendFriendRequest
    FriendRequestResponse:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/FriendRequestResponse
    UserReputationResponse:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/UserReputationResponse
    ReputationCategory:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/ReputationCategory
    ReputationEventResponse:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/ReputationEventResponse
    RecordReputationEventRequest:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/RecordReputationEventRequest
    SocialNetworkResponse:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/SocialNetworkResponse
    SocialInfluenceResponse:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/SocialInfluenceResponse
    MentorshipResponse:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/MentorshipResponse
    InitiateMentorshipRequest:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/InitiateMentorshipRequest
    UpdateMentorshipRequest:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/UpdateMentorshipRequest
    RecordProgressRequest:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/RecordProgressRequest
    MentorshipProgressResponse:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/MentorshipProgressResponse
    RomanticRelationshipResponse:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/RomanticRelationshipResponse
    RomanticProposalRequest:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/RomanticProposalRequest
    RomanticProposalResponse:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/RomanticProposalResponse
    RivalryResponse:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/RivalryResponse
    DeclareRivalryRequest:
      $ref: ./schemas/relationship-service-schemas.yaml#/components/schemas/DeclareRivalryRequest
  responses:
    OK:
      $ref: ./schemas/relationship-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/relationship-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/relationship-service-responses.yaml#/components/responses/Updated
    Deleted:
      $ref: ./schemas/relationship-service-responses.yaml#/components/responses/Deleted
    BadRequest:
      $ref: ./schemas/relationship-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/relationship-service-responses.yaml#/components/responses/Unauthorized
    Forbidden:
      $ref: ./schemas/relationship-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/relationship-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/relationship-service-responses.yaml#/components/responses/Conflict
    TooManyRequests:
      $ref: ./schemas/relationship-service-responses.yaml#/components/responses/TooManyRequests
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/ServiceAuth
