# api-readiness: ready
# api-readiness-check-date: 2025-11-08 12:20
# api-readiness-notes: Production URL и x-microservice обновлены под актуальную микросервисную архитектуру
openapi: 3.0.3
info:
  title: Romance Events API
  description: |
    API для системы романтических событий - модульная система создания динамических 
    романтических отношений с любым NPC через комбинирование 1550+ событий.
  version: 1.0.0
  contact:
    name: NECPGAME Romance System
    url: https://github.com/gc-lover/BRAIN
  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/social
    package: com.necpgame.socialservice

servers:
  - url: https://api.necp.game/v1/social
    description: Production via API Gateway
  - url: http://localhost:8080/api/v1/social
    description: Development via API Gateway

tags:
  - name: Events
    description: Управление романтическими событиями
  - name: Relationships
    description: Управление отношениями с NPC
  - name: Chemistry
    description: Расчёт совместимости
  - name: Triggers
    description: Система триггеров событий
  - name: Memory
    description: История отношений
  - name: Cultural
    description: Культурная адаптация

paths:
  /romance/events:
    get:
      summary: Получить доступные романтические события
      tags: [Events]
      parameters:
        - name: relationship
          in: query
          description: Текущий уровень отношений (0-100)
          schema:
            type: integer
            minimum: 0
            maximum: 100
        - name: category
          in: query
          description: Категория события
          schema:
            type: string
            enum: [meeting, friendship, flirting, dating, intimacy, conflict, reconciliation, commitment, crisis, regional]
        - name: region
          in: query
          description: Регион для региональных событий
          schema:
            type: string
            enum: [asia, europe, america, cis, africa, middle-east, oceania]
        - name: city
          in: query
          description: Конкретный город
          schema:
            type: string
        - name: npcId
          in: query
          required: true
          description: ID NPC для фильтрации доступных событий
          schema:
            type: string
        - name: playerId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Список доступных событий
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/RomanceEvent'
                  recommended:
                    type: array
                    description: Рекомендованные события на основе AI
                    items:
                      $ref: '#/components/schemas/RomanceEvent'
                  count:
                    type: integer

  /romance/events/{eventId}:
    get:
      summary: Получить детали события
      tags: [Events]
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Детали события
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RomanceEventDetailed'

  /romance/trigger:
    post:
      summary: Триггер романтического события
      tags: [Events]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [playerId, npcId, eventId]
              properties:
                playerId:
                  type: string
                npcId:
                  type: string
                eventId:
                  type: string
                location:
                  type: string
                context:
                  type: object
                  description: Дополнительный контекст события
      responses:
        '200':
          description: Событие триггернуто успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventOutcome'
        '400':
          description: Событие недоступно (не выполнены условия)

  /romance/choice:
    post:
      summary: Сделать выбор в событии
      tags: [Events]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [playerId, npcId, eventId, choiceId]
              properties:
                playerId:
                  type: string
                npcId:
                  type: string
                eventId:
                  type: string
                choiceId:
                  type: string
                skillCheckRoll:
                  type: integer
                  description: Результат броска d20 (если skill check)
      responses:
        '200':
          description: Выбор обработан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChoiceOutcome'

  /romance/relationship/{npcId}:
    get:
      summary: Получить статус отношений с NPC
      tags: [Relationships]
      parameters:
        - name: npcId
          in: path
          required: true
          schema:
            type: string
        - name: playerId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Статус отношений
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipStatus'

  /romance/chemistry/calculate:
    post:
      summary: Рассчитать chemistry между игроком и NPC
      tags: [Chemistry]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [playerId, npcId]
              properties:
                playerId:
                  type: string
                npcId:
                  type: string
      responses:
        '200':
          description: Chemistry score рассчитан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChemistryResult'

  /romance/generate-arc:
    post:
      summary: Сгенерировать романтическую арку для NPC
      tags: [Events]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [playerId, npcId]
              properties:
                playerId:
                  type: string
                npcId:
                  type: string
                region:
                  type: string
                  description: Предпочтительный регион для событий
                preferences:
                  type: object
                  description: Предпочтения игрока (темп, стиль и т.д.)
      responses:
        '200':
          description: Сгенерированная романтическая арка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RomanceArc'

  /romance/history/{npcId}:
    get:
      summary: История отношений с NPC
      tags: [Memory]
      parameters:
        - name: npcId
          in: path
          required: true
          schema:
            type: string
        - name: playerId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: История событий
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipHistory'

  /romance/npcs/available:
    get:
      summary: Получить список доступных NPC для романсов
      tags: [Relationships]
      parameters:
        - name: playerId
          in: query
          required: true
          schema:
            type: string
        - name: region
          in: query
          schema:
            type: string
        - name: sexualOrientation
          in: query
          description: Фильтр по сексуальной ориентации
          schema:
            type: string
            enum: [any, heterosexual, homosexual, bisexual]
      responses:
        '200':
          description: Список доступных NPC
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RomanceableNPC'

  /romance/cultural/adapt:
    post:
      summary: Адаптировать событие под культуру
      tags: [Cultural]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [eventId, culture, region]
              properties:
                eventId:
                  type: string
                culture:
                  type: string
                region:
                  type: string
      responses:
        '200':
          description: Адаптированное событие
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CulturallyAdaptedEvent'

components:
  schemas:
    RomanceEvent:
      type: object
      required: [eventId, category, name, relationshipRange, triggers]
      properties:
        eventId:
          type: string
          example: "RE-001"
        category:
          type: string
          enum: [meeting, friendship, flirting, dating, intimacy, conflict, reconciliation, commitment, crisis, regional]
        name:
          type: string
          example: "Случайная встреча в баре"
        description:
          type: string
        relationshipRange:
          type: array
          items:
            type: integer
          minItems: 2
          maxItems: 2
          example: [0, 10]
        triggers:
          $ref: '#/components/schemas/EventTriggers'
        skillCheck:
          $ref: '#/components/schemas/SkillCheck'
        choices:
          type: array
          items:
            $ref: '#/components/schemas/EventChoice'
        culturalTags:
          type: array
          items:
            type: string
          example: ["traditional", "romantic", "public"]
        region:
          type: string
          example: "asia"
        city:
          type: string
          example: "tokyo"
        country:
          type: string
          example: "japan"

    RomanceEventDetailed:
      allOf:
        - $ref: '#/components/schemas/RomanceEvent'
        - type: object
          properties:
            dialogue:
              type: object
              properties:
                npc:
                  type: string
                text:
                  type: string
                responses:
                  type: array
