openapi: 3.0.3
info:
  title: Faction Service API - Enterprise-Grade Diplomacy Systems
  description: '**Enterprise-Grade Faction Service API for NECPGAME**

    This API manages faction systems, diplomacy mechanics, and inter-faction relationships
    in the Night City universe, providing comprehensive political simulation, reputation
    management, and competitive faction dynamics.

    ## Key Features

    - **Faction Management**: Creation, hierarchy, and administration - **Diplomacy
    Systems**: Alliances, wars, treaties, and negotiations - **Reputation Mechanics**:
    Standing, influence, and relationship tracking - **Territory Control**: Influence
    zones, borders, and territorial disputes - **Performance Optimized**: MMOFPS-grade
    performance with <15ms P99 latency

    ## Domain Purpose

    The Faction domain handles all aspects of political organization and inter-group
    relationships in Night City. Players form factions to control territory, wage
    wars, form alliances, and shape the political landscape of the game world.

    ## Performance Targets

    - P99 Latency: <15ms for faction operations - Memory: <10KB per active faction
    member - Concurrent factions: 100,000+ active factions - Diplomacy updates: <25ms
    propagation time - Faction chat: 2000+ concurrent users

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/faction
  description: Production server
- url: https://staging-api.necpgame.com/v1/faction
  description: Staging server
- url: http://localhost:8080/api/v1/faction
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Faction Management
  description: Core faction creation and administration
- name: Diplomacy Management
  description: Alliances, wars, and treaty negotiations
- name: Territory Control
  description: Influence zones and territorial disputes
- name: Reputation System
  description: Standing, influence, and relationship tracking
- name: Faction Competition
  description: Rankings, PvP, and inter-faction conflicts
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /factions:
    $ref: ./paths/factions.yaml#/paths/~1factions
  /factions/{faction_id}:
    $ref: ./paths/factions-{faction_id}.yaml#/paths/~1factions~1{faction_id}
  /factions/{faction_id}/diplomacy:
    $ref: ./paths/factions-{faction_id}-diplomacy.yaml#/paths/~1factions~1{faction_id}~1diplomacy
  /factions/{faction_id}/territory:
    $ref: ./paths/factions-{faction_id}-territory.yaml#/paths/~1factions~1{faction_id}~1territory
  /factions/{faction_id}/reputation:
    $ref: ./paths/factions-{faction_id}-reputation.yaml#/paths/~1factions~1{faction_id}~1reputation
  /factions/rankings:
    $ref: ./paths/factions-rankings.yaml#/paths/~1factions~1rankings
components:
  schemas:
    HealthResponse:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/HealthResponse
    FactionListResponse:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/FactionListResponse
    FactionSummary:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/FactionSummary
    Faction:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/Faction
    FactionRequirements:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/FactionRequirements
    FactionStatistics:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/FactionStatistics
    CreateFactionRequest:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/CreateFactionRequest
    UpdateFactionRequest:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/UpdateFactionRequest
    FactionResponse:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/FactionResponse
    FactionDiplomacyResponse:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/FactionDiplomacyResponse
    DiplomaticRelation:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/DiplomaticRelation
    Treaty:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/Treaty
    DiplomaticActionRequest:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/DiplomaticActionRequest
    DiplomaticActionResponse:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/DiplomaticActionResponse
    FactionTerritoryResponse:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/FactionTerritoryResponse
    Territory:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/Territory
    InfluenceZone:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/InfluenceZone
    BorderDispute:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/BorderDispute
    TerritoryClaimRequest:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/TerritoryClaimRequest
    TerritoryClaimResponse:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/TerritoryClaimResponse
    FactionReputationResponse:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/FactionReputationResponse
    InfluenceMetrics:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/InfluenceMetrics
    ReputationEvent:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/ReputationEvent
    ReputationAdjustmentRequest:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/ReputationAdjustmentRequest
    FactionRankingsResponse:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/FactionRankingsResponse
    FactionRanking:
      $ref: ./schemas/faction-service-schemas.yaml#/components/schemas/FactionRanking
  responses:
    HealthBatchSuccess:
      $ref: ./schemas/faction-service-responses.yaml#/components/responses/HealthBatchSuccess
    OK:
      $ref: ./schemas/faction-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/faction-service-responses.yaml#/components/responses/Created
    BadRequest:
      $ref: ./schemas/faction-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/faction-service-responses.yaml#/components/responses/Unauthorized
    Forbidden:
      $ref: ./schemas/faction-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/faction-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/faction-service-responses.yaml#/components/responses/Conflict
    InternalServerError:
      $ref: ./schemas/faction-service-responses.yaml#/components/responses/InternalServerError
    HealthOK:
      $ref: ./schemas/faction-service-responses.yaml#/components/responses/HealthOK
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/components/securitySchemes/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/components/security/security.yaml#/components/securitySchemes/ApiKeyAuth
    ServiceAuth:
      $ref: ../common/security/security.yaml#/components/securitySchemes/ServiceAuth
