openapi: 3.0.3
info:
  title: Narrative Coherence API
  version: 1.0.0
  description: |
    API для системы нарративной когерентности.
    
    Функционал:
    - Event Matrix (матрица событий и их взаимосвязей)
    - Player Impact System (влияние игрока на мир)
    - World State Tracking (отслеживание состояния мира)
    - Consequence Propagation (распространение последствий)
    - Timeline Integrity (целостность временной линии)
    - Quest Dependencies (зависимости квестов)
    - NPC Lifecycle (жизненный цикл NPC)
    - Faction Evolution (эволюция фракций)
    
    Источники: .BRAIN/04-narrative/narrative-coherence/ (3 phase documents)

  x-microservice:
    name: narrative-service
    port: 8087
    domain: narrative
    base-path: /api/v1/narrative
    package: com.necpgame.narrativeservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Event Matrix
    description: Событийная матрица
  - name: Player Impact
    description: Влияние игрока
  - name: World State
    description: Состояние мира

paths:
  /narrative/coherence/event-matrix:
    get:
      summary: Получить событийную матрицу
      operationId: getEventMatrix
      tags: [Event Matrix]
      description: Матрица взаимосвязей событий в мире
      responses:
        '200':
          description: Событийная матрица
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventMatrix'

  /narrative/coherence/event-matrix/{event_id}/dependencies:
    get:
      summary: Получить зависимости события
      operationId: getEventDependencies
      tags: [Event Matrix]
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Зависимости события
          content:
            application/json:
              schema:
                type: object
                properties:
                  event_id:
                    type: string
                  prerequisites:
                    type: array
                    description: Что должно произойти перед этим событием
                    items:
                      type: string
                  consequences:
                    type: array
                    description: Что происходит после этого события
                    items:
                      type: string
                  mutually_exclusive:
                    type: array
                    description: События, несовместимые с этим
                    items:
                      type: string

  /narrative/coherence/player-impact/character/{character_id}:
    get:
      summary: Получить влияние персонажа на мир
      operationId: getPlayerImpact
      tags: [Player Impact]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Влияние на мир
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerImpact'

  /narrative/coherence/player-impact/record:
    post:
      summary: Записать влияние действия игрока
      operationId: recordPlayerAction
      tags: [Player Impact]
      description: Backend записывает влияние действий
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordImpactRequest'
      responses:
        '200':
          description: Влияние записано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImpactResult'

  /narrative/coherence/world-state:
    get:
      summary: Получить текущее состояние мира
      operationId: getWorldState
      tags: [World State]
      responses:
        '200':
          description: Состояние мира
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorldState'

  /narrative/coherence/world-state/timeline:
    get:
      summary: Получить временную линию событий
      operationId: getTimeline
      tags: [World State]
      parameters:
        - name: start_year
          in: query
          schema:
            type: integer
        - name: end_year
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Временная линия
          content:
            application/json:
              schema:
                type: object
                properties:
                  timeline:
                    type: array
                    items:
                      $ref: '#/components/schemas/TimelineEvent'

  /narrative/coherence/validation/check:
    post:
      summary: Проверить целостность нарратива
      operationId: validateNarrativeCoherence
      tags: [World State]
      description: Проверить, что действия игрока не нарушают целостность
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                character_id:
                  type: string
                  format: uuid
                proposed_action:
                  type: string
                quest_id:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Результат проверки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoherenceValidation'

  /narrative/coherence/consequences/pending:
    get:
      summary: Получить отложенные последствия
      operationId: getPendingConsequences
      tags: [Player Impact]
      description: Последствия, которые проявятся позже
      parameters:
        - name: character_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Отложенные последствия
          content:
            application/json:
              schema:
                type: object
                properties:
                  consequences:
                    type: array
                    items:
                      $ref: '#/components/schemas/PendingConsequence'

  /narrative/coherence/factions/evolution:
    get:
      summary: Получить эволюцию фракций
      operationId: getFactionEvolution
      tags: [World State]
      description: Как фракции меняются со временем
      responses:
        '200':
          description: Эволюция фракций
          content:
            application/json:
              schema:
                type: object
                properties:
                  factions:
                    type: array
                    items:
                      $ref: '#/components/schemas/FactionEvolution'

  /narrative/coherence/npcs/lifecycle:
    get:
      summary: Получить жизненный цикл NPC
      operationId: getNPCLifecycle
      tags: [World State]
      parameters:
        - name: npc_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Жизненный цикл NPC
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NPCLifecycle'

components:
  schemas:
    EventMatrix:
      type: object
      properties:
        total_events:
          type: integer
        event_categories:
          type: object
          additionalProperties:
            type: integer
        relationships:
          type: array
          description: Связи между событиями
          items:
            type: object
            properties:
              event_a:
                type: string
              event_b:
                type: string
              relationship_type:
                type: string
                enum: [PREREQUISITE, CONSEQUENCE, EXCLUSIVE, PARALLEL]
        critical_paths:
          type: array
          description: Критические пути сюжета
          items:
            type: object

    PlayerImpact:
      type: object
      properties:
        character_id:
          type: string
          format: uuid
        total_impact_score:
          type: integer
          description: Общее влияние на мир
        impacts_by_category:
          type: object
          properties:
            faction_relations:
              type: object
              additionalProperties:
                type: integer
            world_events_triggered:
              type: integer
            npcs_affected:
              type: integer
            economy_impact:
              type: number
            region_changes:
              type: integer
        major_decisions:
          type: array
          description: Важные решения персонажа
          items:
            type: object
            properties:
              decision_id:
                type: string
              description:
                type: string
              consequences:
                type: array
                items:
                  type: string
              timestamp:
                type: string
                format: date-time

    RecordImpactRequest:
      type: object
      required:
        - character_id
        - action_type
      properties:
        character_id:
          type: string
          format: uuid
        action_type:
          type: string
          enum: [QUEST_CHOICE, FACTION_ACTION, NPC_INTERACTION, WORLD_EVENT, ECONOMIC_ACTION]
        action_id:
          type: string
        impact_data:
          type: object
          additionalProperties: true

    ImpactResult:
      type: object
      properties:
        impact_id:
          type: string
          format: uuid
        immediate_consequences:
          type: array
          items:
            type: string
        delayed_consequences:
          type: array
          items:
            $ref: '#/components/schemas/PendingConsequence'
        world_state_changes:
          type: object
        reputation_changes:
          type: object

    WorldState:
      type: object
      properties:
        current_year:
          type: integer
        current_era:
          type: string
        faction_power_balance:
          type: object
          additionalProperties:
            type: number
        active_global_events:
          type: array
          items:
            type: string
        economic_state:
          type: string
        technology_level:
          type: integer
        player_population:
          type: integer
        world_coherence_score:
          type: number
          description: Оценка целостности мира (0-100)

    TimelineEvent:
      type: object
      properties:
        year:
          type: integer
        event_id:
          type: string
        event_name:
          type: string
        event_type:
          type: string
        player_caused:
          type: boolean
        affected_entities:
          type: array
          items:
            type: string

    CoherenceValidation:
      type: object
      properties:
        valid:
          type: boolean
        violations:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [TIMELINE_CONFLICT, DEPENDENCY_MISSING, EXCLUSIVE_VIOLATION, STATE_INCONSISTENCY]
              description:
                type: string
              severity:
                type: string
                enum: [WARNING, ERROR, CRITICAL]
        warnings:
          type: array
          items:
            type: string
        can_proceed:
          type: boolean

    PendingConsequence:
      type: object
      properties:
        consequence_id:
          type: string
          format: uuid
        action_id:
          type: string
        description:
          type: string
        trigger_condition:
          type: string
          description: Когда проявится
        estimated_trigger_time:
          type: string
          format: date-time
          nullable: true
        impact_level:
          type: string
          enum: [MINOR, MODERATE, MAJOR, WORLD_CHANGING]

    FactionEvolution:
      type: object
      properties:
        faction_id:
          type: string
        faction_name:
          type: string
        evolution_stages:
          type: array
          items:
            type: object
            properties:
              year:
                type: integer
              power_level:
                type: integer
              territory:
                type: array
                items:
                  type: string
              key_events:
                type: array
                items:
                  type: string

    NPCLifecycle:
      type: object
      properties:
        npc_id:
          type: string
        name:
          type: string
        lifecycle_stages:
          type: array
          items:
            type: object
            properties:
              stage:
                type: string
                enum: [INTRODUCTION, ACTIVE, MAJOR_ROLE, RETIRED, DECEASED, UNKNOWN]
              year:
                type: integer
              location:
                type: string
              quests_involved:
                type: array
                items:
                  type: string
        current_status:
          type: string
        player_interactions_count:
          type: integer

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

