openapi: 3.0.3
info:
  title: Alliance Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Alliance Management API for NECPGAME**

    This API manages alliances between guilds and factions, providing diplomatic relations,
    treaty management, and cooperative gameplay mechanics in Night City.

    ## Key Features

    - **Alliance Formation**: Strategic alliance creation and management - **Diplomatic
    Relations**: Complex relationship systems between groups - **Treaty Management**:
    Binding agreements and contract enforcement - **Cooperative Gameplay**: Joint
    operations and shared objectives - **Political Dynamics**: Dynamic alliance shifts
    and betrayals - **Performance Optimized**: MMOFPS-grade performance with <50ms
    P99 latency

    ## Domain Purpose

    The Alliance domain handles all aspects of inter-group cooperation and diplomacy
    in Night City. Players form alliances, negotiate treaties, and engage in cooperative
    activities through structured diplomatic systems and political gameplay mechanics.

    ## Performance Targets

    - P99 Latency: <50ms for alliance operations - Memory: <30KB per active alliance
    session - Concurrent users: 100,000+ simultaneous diplomatic operations - Treaty
    calculations: <15ms response time

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/alliance
  description: Production server
- url: https://staging-api.necpgame.com/v1/alliance
  description: Staging server
- url: http://localhost:8080/api/v1/alliance
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Alliance Management
  description: Core alliance formation and management operations
- name: Treaty Management
  description: Alliance treaties and agreements
- name: Diplomatic Relations
  description: Inter-alliance diplomacy and politics
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Alliance service health check
      description: '**Enterprise-grade health check endpoint**


        Provides real-time health status of the alliance service microservice.

        Critical for service discovery, load balancing, and monitoring.


        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: allianceServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/health.yaml#/HealthResponse
        '500':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /alliances:
    get:
      summary: List alliances with filtering and pagination
      description: '**Enterprise-grade alliance listing endpoint**

        Supports complex filtering by type, member count, influence, and relationships.
        Optimized for high-throughput scenarios with proper indexing.

        **Performance:** <15ms P95, supports 1000+ concurrent requests

        '
      operationId: listAlliances
      tags:
      - Alliance Management
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Page number for pagination
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Number of items per page
      - name: alliance_type
        in: query
        schema:
          type: string
          enum:
          - military
          - trade
          - political
          - research
          - criminal
          - all
          default: all
        description: Filter by alliance type
      - name: influence_level
        in: query
        schema:
          type: string
          enum:
          - dominant
          - major
          - minor
          - emerging
          - all
          default: all
        description: Filter by influence level
      - name: member_count_min
        in: query
        schema:
          type: integer
          minimum: 2
        description: Minimum member count filter
      responses:
        '200':
          description: Alliances retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllianceListResponse'
        '400':
          description: Invalid request - malformed query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    post:
      summary: Create new alliance
      description: '**Enterprise-grade alliance creation endpoint**

        Validates alliance uniqueness, political landscape impact, and business rules.
        Supports alliance-specific initialization and member invitations.

        **Performance:** <75ms P95, includes validation and political impact calculation

        '
      operationId: createAlliance
      tags:
      - Alliance Management
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAllianceRequest'
      responses:
        '201':
          description: Alliance created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllianceResponse'
        '400':
          description: Invalid request - validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - alliance name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - political landscape constraints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /alliances/{allianceId}:
    get:
      summary: Get alliance details
      description: '**Enterprise-grade alliance retrieval endpoint**

        Retrieves complete alliance information including members, treaties, diplomatic
        relations, and political standing.

        Optimized with caching and conditional requests.

        **Performance:** <10ms P95 with Redis caching

        '
      operationId: getAlliance
      tags:
      - Alliance Management
      parameters:
      - name: allianceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Alliance unique identifier
      - name: include_members
        in: query
        schema:
          type: boolean
          default: false
        description: Include alliance member details
      - name: include_treaties
        in: query
        schema:
          type: boolean
          default: true
        description: Include active treaties
      - name: include_relations
        in: query
        schema:
          type: boolean
          default: true
        description: Include diplomatic relationships
      responses:
        '200':
          description: Alliance retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllianceResponse'
        '404':
          description: Alliance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    put:
      summary: Update alliance
      description: '**Enterprise-grade alliance update endpoint**

        Supports partial updates with political impact assessment and validation.
        Ensures alliance integrity and political balance maintenance.

        **Performance:** <40ms P95, includes political impact calculation

        '
      operationId: updateAlliance
      tags:
      - Alliance Management
      security:
      - BearerAuth: []
      parameters:
      - name: allianceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Alliance unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAllianceRequest'
      responses:
        '200':
          description: Alliance updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllianceResponse'
        '400':
          description: Invalid request - validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Alliance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - political constraints violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /alliances/{allianceId}/join:
    post:
      summary: Join alliance
      description: '**Enterprise-grade alliance membership endpoint**

        Handles faction/guild alliance joining with treaty acceptance and integration.
        Validates membership criteria and updates alliance statistics.

        **Performance:** <50ms P95, includes treaty validation

        '
      operationId: joinAlliance
      tags:
      - Alliance Management
      security:
      - BearerAuth: []
      parameters:
      - name: allianceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Alliance unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinAllianceRequest'
      responses:
        '200':
          description: Successfully joined alliance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipResponse'
        '400':
          description: Invalid request - membership criteria not met
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient diplomatic authority
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Alliance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - already member of rival alliance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /alliances/{allianceId}/leave:
    post:
      summary: Leave alliance
      description: '**Enterprise-grade alliance departure endpoint**

        Handles clean alliance departure with treaty termination and impact assessment.
        Updates alliance statistics and applies departure penalties.

        **Performance:** <30ms P95, includes treaty recalculation

        '
      operationId: leaveAlliance
      tags:
      - Alliance Management
      security:
      - BearerAuth: []
      parameters:
      - name: allianceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Alliance unique identifier
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveAllianceRequest'
      responses:
        '200':
          description: Successfully left alliance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveAllianceResponse'
        '400':
          description: Invalid request - cannot leave during critical period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - leadership position or treaty obligations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Alliance not found or not a member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /alliances/{allianceId}/treaties:
    get:
      summary: Get alliance treaties
      description: '**Enterprise-grade treaty management endpoint**

        Retrieves all active treaties for the alliance including trade agreements,
        military pacts, and diplomatic arrangements.

        Critical for alliance strategy and obligations tracking.

        **Performance:** <20ms P95, cached with 5-minute TTL

        '
      operationId: getAllianceTreaties
      tags:
      - Treaty Management
      parameters:
      - name: allianceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Alliance unique identifier
      - name: treaty_type
        in: query
        schema:
          type: string
          enum:
          - trade
          - military
          - research
          - territorial
          - all
          default: all
        description: Filter by treaty type
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - pending
          - expired
          - breached
          - all
          default: active
        description: Filter by treaty status
      responses:
        '200':
          description: Treaties retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TreatyResponse'
        '404':
          description: Alliance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    post:
      summary: Propose new treaty
      description: '**Enterprise-grade treaty proposal endpoint**

        Initiates treaty negotiations with other alliances or factions. Validates
        proposal legitimacy and diplomatic standing.

        **Performance:** <60ms P95, includes diplomatic validation

        '
      operationId: proposeTreaty
      tags:
      - Treaty Management
      security:
      - BearerAuth: []
      parameters:
      - name: allianceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Alliance unique identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TreatyProposalRequest'
      responses:
        '201':
          description: Treaty proposal submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TreatyProposalResponse'
        '400':
          description: Invalid proposal - validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient diplomatic authority
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - existing treaty negotiation in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /alliances/{allianceId}/diplomacy:
    get:
      summary: Get diplomatic relations
      description: '**Enterprise-grade diplomatic relations endpoint**

        Retrieves complete diplomatic matrix for alliance including relationships
        with other alliances, factions, and political entities.

        Essential for strategic decision making and political navigation.

        **Performance:** <25ms P95, cached with 5-minute TTL

        '
      operationId: getAllianceDiplomacy
      tags:
      - Diplomatic Relations
      parameters:
      - name: allianceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Alliance unique identifier
      - name: relation_type
        in: query
        schema:
          type: string
          enum:
          - allied
          - neutral
          - hostile
          - at_war
          - all
          default: all
        description: Filter by relationship type
      responses:
        '200':
          description: Diplomatic relations retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiplomacyResponse'
        '404':
          description: Alliance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
components:
  schemas:
    Error:
      $ref: ../common-service/schemas/error.yaml#/Error
    HealthResponse:
      $ref: ../common-service/schemas/health.yaml#/HealthResponse
    PaginationMeta:
      $ref: ../common-service/schemas/pagination.yaml#/PaginationMeta
    Alliance:
      type: object
      required:
      - id
      - name
      - alliance_type
      - member_count
      - founded_date
      - is_active
      properties:
        id:
          type: string
          format: uuid
          description: Alliance unique identifier
        name:
          type: string
          minLength: 3
          maxLength: 100
          description: Alliance display name
          example: Pacific Rim Alliance
        description:
          type: string
          maxLength: 2000
          description: Alliance description and charter
        alliance_type:
          type: string
          enum:
          - military
          - trade
          - political
          - research
          - criminal
          description: Type of alliance
          example: military
        influence_level:
          type: string
          enum:
          - dominant
          - major
          - minor
          - emerging
          description: Current influence level
          example: major
        member_count:
          type: integer
          minimum: 2
          description: Number of member factions/guilds
          example: 8
        reputation_score:
          type: integer
          minimum: -1000
          maximum: 1000
          description: Alliance reputation score
          example: 650
        founded_date:
          type: string
          format: date-time
          description: Alliance founding date
        leader_faction_id:
          type: string
          format: uuid
          description: Leading faction in the alliance
        is_active:
          type: boolean
          description: Whether alliance is currently active
          example: true
        member_factions:
          type: array
          items:
            type: string
            format: uuid
          description: List of member faction IDs
        total_influence:
          type: integer
          minimum: 0
          description: Combined influence of all members
          example: 25000
      description: '"BACKEND NOTE: Fields ordered for struct alignment (large → small).

        Expected memory savings: 30-50%. Alliance data optimized for frequent diplomatic
        operations."

        '
    CreateAllianceRequest:
      type: object
      required:
      - name
      - alliance_type
      - description
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
          description: Desired alliance name
          example: United Corporate Front
        description:
          type: string
          minLength: 10
          maxLength: 2000
          description: Alliance charter and objectives
        alliance_type:
          type: string
          enum:
          - military
          - trade
          - political
          - research
          - criminal
          description: Type of alliance to create
        founding_members:
          type: array
          items:
            type: string
            format: uuid
          minItems: 2
          maxItems: 10
          description: Initial founding member faction/guild IDs
        initial_treaty_terms:
          type: object
          description: Initial treaty terms for the alliance
          additionalProperties: true
      description: '"BACKEND NOTE: Validation includes name uniqueness and political
        constraints.

        Founding members must have compatible diplomatic relations."

        '
    UpdateAllianceRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
          description: New alliance name
        description:
          type: string
          minLength: 10
          maxLength: 2000
          description: Updated alliance charter
        leader_faction_id:
          type: string
          format: uuid
          description: New alliance leader
        is_active:
          type: boolean
          description: Activate/deactivate alliance
      description: '"BACKEND NOTE: Partial updates supported. Leadership changes require
        diplomatic consensus.

        Deactivation may affect ongoing treaties and relations."

        '
    AllianceResponse:
      type: object
      required:
      - alliance
      properties:
        alliance:
          $ref: '#/components/schemas/Alliance'
      description: '"BACKEND NOTE: Single alliance response wrapper.

        Includes full alliance data with optional related information."

        '
    AllianceListResponse:
      type: object
      required:
      - alliances
      - total_count
      - has_more
      properties:
        alliances:
          type: array
          items:
            $ref: '#/components/schemas/Alliance'
          description: List of alliances
        total_count:
          type: integer
          minimum: 0
          description: Total number of alliances matching criteria
          example: 23
        has_more:
          type: boolean
          description: Whether there are more results available
          example: true
        page:
          type: integer
          minimum: 1
          description: Current page number
          example: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
          description: Items per page
          example: 20
      description: '"BACKEND NOTE: Paginated alliance list with metadata.

        Optimized for large alliance directories."

        '
    JoinAllianceRequest:
      type: object
      properties:
        faction_id:
          type: string
          format: uuid
          description: Faction requesting membership
        sponsor_member_id:
          type: string
          format: uuid
          description: Existing alliance member sponsoring the request
        membership_terms:
          type: object
          description: Specific membership terms and conditions
          additionalProperties: true
      description: '"BACKEND NOTE: Optional sponsor required for some alliance types.

        Terms validation ensures diplomatic compatibility."

        '
    MembershipResponse:
      type: object
      required:
      - alliance_id
      - member_id
      - membership_status
      - joined_at
      properties:
        alliance_id:
          type: string
          format: uuid
          description: Alliance identifier
        member_id:
          type: string
          format: uuid
          description: New member identifier
        membership_status:
          type: string
          enum:
          - active
          - probation
          - pending_approval
          description: Initial membership status
          example: probation
        joined_at:
          type: string
          format: date-time
          description: Membership start timestamp
        membership_terms:
          type: object
          description: Agreed membership terms and obligations
          additionalProperties: true
      description: '"BACKEND NOTE: Membership status affects diplomatic relations
        and treaty obligations.

        Probation period may apply for new members."

        '
    LeaveAllianceRequest:
      type: object
      properties:
        reason:
          type: string
          enum:
          - strategic_realignment
          - internal_conflict
          - treaty_violation
          - voluntary_withdrawal
          description: Reason for leaving
          example: strategic_realignment
        exit_statement:
          type: string
          maxLength: 500
          description: Optional formal statement about departure
      description: '"BACKEND NOTE: Some reasons may incur diplomatic penalties or
        treaty breaches.

        Leadership positions require special withdrawal procedures."

        '
    LeaveAllianceResponse:
      type: object
      required:
      - alliance_id
      - member_id
      - left_at
      - diplomatic_impact
      properties:
        alliance_id:
          type: string
          format: uuid
          description: Alliance identifier
        member_id:
          type: string
          format: uuid
          description: Former member identifier
        left_at:
          type: string
          format: date-time
          description: Departure timestamp
        diplomatic_impact:
          type: integer
          description: Diplomatic reputation change
          example: -25
        treaty_obligations:
          type: array
          items:
            type: string
          description: Remaining treaty obligations
        cooldown_period:
          type: string
          format: duration
          description: Cooldown before rejoining alliances
      description: '"BACKEND NOTE: Diplomatic impact varies by reason and alliance
        type.

        Some departures trigger automatic treaty reviews."

        '
    Treaty:
      type: object
      required:
      - id
      - type
      - parties
      - terms
      - status
      - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Treaty unique identifier
        type:
          type: string
          enum:
          - trade
          - military
          - research
          - territorial
          - non_aggression
          description: Type of treaty
          example: trade
        parties:
          type: array
          items:
            type: string
            format: uuid
          minItems: 2
          description: Participating alliance/faction IDs
        terms:
          type: object
          description: Specific treaty terms and conditions
          additionalProperties: true
        status:
          type: string
          enum:
          - active
          - pending
          - expired
          - breached
          - terminated
          description: Current treaty status
          example: active
        created_at:
          type: string
          format: date-time
          description: Treaty creation timestamp
        expires_at:
          type: string
          format: date-time
          description: Treaty expiration date
        last_updated:
          type: string
          format: date-time
          description: Last treaty modification
      description: '"BACKEND NOTE: Treaty data affects diplomatic relations and gameplay
        mechanics.

        Status changes trigger diplomatic event notifications."

        '
    TreatyResponse:
      type: object
      required:
      - treaties
      - total_count
      properties:
        treaties:
          type: array
          items:
            $ref: '#/components/schemas/Treaty'
          description: List of treaties
        total_count:
          type: integer
          minimum: 0
          description: Total number of treaties
          example: 12
        active_count:
          type: integer
          minimum: 0
          description: Number of active treaties
          example: 8
      description: '"BACKEND NOTE: Treaty summary for alliance diplomatic overview.

        Active count affects alliance diplomatic strength."

        '
    TreatyProposalRequest:
      type: object
      required:
      - treaty_type
      - target_party_id
      - proposed_terms
      properties:
        treaty_type:
          type: string
          enum:
          - trade
          - military
          - research
          - territorial
          - non_aggression
          description: Type of treaty to propose
          example: trade
        target_party_id:
          type: string
          format: uuid
          description: Target alliance/faction for treaty
        proposed_terms:
          type: object
          description: Proposed treaty terms and conditions
          additionalProperties: true
        justification:
          type: string
          maxLength: 1000
          description: Diplomatic justification for the treaty
        duration_days:
          type: integer
          minimum: 1
          maximum: 3650
          description: Proposed treaty duration in days
      description: '"BACKEND NOTE: Terms validation includes diplomatic compatibility
        checks.

        Duration affects treaty negotiation complexity."

        '
    TreatyProposalResponse:
      type: object
      required:
      - proposal_id
      - treaty_type
      - status
      - submitted_at
      properties:
        proposal_id:
          type: string
          format: uuid
          description: Unique treaty proposal identifier
        treaty_type:
          type: string
          description: Type of proposed treaty
        status:
          type: string
          enum:
          - submitted
          - under_review
          - accepted
          - rejected
          - counter_proposed
          description: Current proposal status
          example: submitted
        submitted_at:
          type: string
          format: date-time
          description: Proposal submission timestamp
        target_response_deadline:
          type: string
          format: date-time
          description: Deadline for target party response
        diplomatic_impact:
          type: object
          description: Expected diplomatic consequences
          additionalProperties: true
      description: '"BACKEND NOTE: Proposal status tracks treaty negotiation lifecycle.

        Response deadlines vary by treaty type and diplomatic relations."

        '
    DiplomaticRelation:
      type: object
      required:
      - target_party_id
      - relation_type
      - relation_strength
      - established_date
      properties:
        target_party_id:
          type: string
          format: uuid
          description: Related alliance/faction identifier
        relation_type:
          type: string
          enum:
          - allied
          - friendly
          - neutral
          - strained
          - hostile
          - at_war
          description: Type of diplomatic relationship
          example: allied
        relation_strength:
          type: integer
          minimum: -100
          maximum: 100
          description: Strength of relationship (-100 to +100)
          example: 75
        established_date:
          type: string
          format: date-time
          description: When relationship was established
        last_incident:
          type: string
          format: date-time
          description: Last diplomatic incident or interaction
        active_conflicts:
          type: array
          items:
            type: string
          description: Currently active diplomatic conflicts
        shared_treaties:
          type: array
          items:
            type: string
            format: uuid
          description: Treaties shared between parties
      description: '"BACKEND NOTE: Relation strength affects gameplay mechanics and
        NPC interactions.

        Dynamic relationships change based on alliance actions and treaty compliance."

        '
    DiplomacyResponse:
      type: object
      required:
      - alliance_id
      - diplomatic_relations
      - overall_standing
      properties:
        alliance_id:
          type: string
          format: uuid
          description: Source alliance identifier
        diplomatic_relations:
          type: array
          items:
            $ref: '#/components/schemas/DiplomaticRelation'
          description: All diplomatic relationships
        overall_standing:
          type: string
          enum:
          - dominant
          - influential
          - balanced
          - struggling
          - isolated
          description: Overall diplomatic position
          example: influential
        ally_count:
          type: integer
          minimum: 0
          description: Number of allied relationships
          example: 5
        rival_count:
          type: integer
          minimum: 0
          description: Number of rival relationships
          example: 2
        war_count:
          type: integer
          minimum: 0
          description: Number of active wars
          example: 1
      description: '"BACKEND NOTE: Complete diplomatic overview for strategic decision
        making.

        Relationship counts help assess alliance political position."

        '
  securitySchemes:
    BearerAuth:
      $ref: ../common-service/security/security.yaml#/BearerAuth
