openapi: 3.0.3
info:
  title: Alliance Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Alliance Management API for NECPGAME**

    This API manages alliances between guilds and factions, providing diplomatic relations,
    treaty management, and cooperative gameplay mechanics in Night City.

    ## Key Features

    - **Alliance Formation**: Strategic alliance creation and management - **Diplomatic
    Relations**: Complex relationship systems between groups - **Treaty Management**:
    Binding agreements and contract enforcement - **Cooperative Gameplay**: Joint
    operations and shared objectives - **Political Dynamics**: Dynamic alliance shifts
    and betrayals - **Performance Optimized**: MMOFPS-grade performance with <50ms
    P99 latency

    ## Domain Purpose

    The Alliance domain handles all aspects of inter-group cooperation and diplomacy
    in Night City. Players form alliances, negotiate treaties, and engage in cooperative
    activities through structured diplomatic systems and political gameplay mechanics.

    ## Performance Targets

    - P99 Latency: <50ms for alliance operations - Memory: <30KB per active alliance
    session - Concurrent users: 100,000+ simultaneous diplomatic operations - Treaty
    calculations: <15ms response time

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/alliance
  description: Production server
- url: https://staging-api.necpgame.com/v1/alliance
  description: Staging server
- url: http://localhost:8080/api/v1/alliance
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Alliance Management
  description: Core alliance formation and management operations
- name: Treaty Management
  description: Alliance treaties and agreements
- name: Diplomatic Relations
  description: Inter-alliance diplomacy and politics
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /alliances:
    $ref: ./paths/alliances.yaml#/paths/~1alliances
  /alliances/{allianceId}:
    $ref: ./paths/alliances-{allianceId}.yaml#/paths/~1alliances~1{allianceId}
  /alliances/{allianceId}/join:
    $ref: ./paths/alliances-{allianceId}-join.yaml#/paths/~1alliances~1{allianceId}~1join
  /alliances/{allianceId}/leave:
    $ref: ./paths/alliances-{allianceId}-leave.yaml#/paths/~1alliances~1{allianceId}~1leave
  /alliances/{allianceId}/treaties:
    $ref: ./paths/alliances-{allianceId}-treaties.yaml#/paths/~1alliances~1{allianceId}~1treaties
  /alliances/{allianceId}/diplomacy:
    $ref: ./paths/alliances-{allianceId}-diplomacy.yaml#/paths/~1alliances~1{allianceId}~1diplomacy
components:
  schemas:
    Error:
      $ref: ./schemas/alliance-service-schemas.yaml#/components/schemas/Error
    HealthResponse:
      $ref: ./schemas/alliance-service-schemas.yaml#/components/schemas/HealthResponse
    PaginationMeta:
      $ref: ./schemas/alliance-service-schemas.yaml#/components/schemas/PaginationMeta
    Alliance:
      $ref: ./schemas/alliance-service-schemas.yaml#/components/schemas/Alliance
    CreateAllianceRequest:
      $ref: ./schemas/alliance-service-schemas.yaml#/components/schemas/CreateAllianceRequest
    UpdateAllianceRequest:
      $ref: ./schemas/alliance-service-schemas.yaml#/components/schemas/UpdateAllianceRequest
    AllianceResponse:
      $ref: ./schemas/alliance-service-schemas.yaml#/components/schemas/AllianceResponse
    AllianceListResponse:
      $ref: ./schemas/alliance-service-schemas.yaml#/components/schemas/AllianceListResponse
    JoinAllianceRequest:
      $ref: ./schemas/alliance-service-schemas.yaml#/components/schemas/JoinAllianceRequest
    MembershipResponse:
      $ref: ./schemas/alliance-service-schemas.yaml#/components/schemas/MembershipResponse
    LeaveAllianceRequest:
      $ref: ./schemas/alliance-service-schemas.yaml#/components/schemas/LeaveAllianceRequest
    LeaveAllianceResponse:
      $ref: ./schemas/alliance-service-schemas.yaml#/components/schemas/LeaveAllianceResponse
    Treaty:
      $ref: ./schemas/alliance-service-schemas.yaml#/components/schemas/Treaty
    TreatyResponse:
      $ref: ./schemas/alliance-service-schemas.yaml#/components/schemas/TreatyResponse
    TreatyProposalRequest:
      $ref: ./schemas/alliance-service-schemas.yaml#/components/schemas/TreatyProposalRequest
    TreatyProposalResponse:
      $ref: ./schemas/alliance-service-schemas.yaml#/components/schemas/TreatyProposalResponse
    DiplomaticRelation:
      $ref: ./schemas/alliance-service-schemas.yaml#/components/schemas/DiplomaticRelation
    DiplomacyResponse:
      $ref: ./schemas/alliance-service-schemas.yaml#/components/schemas/DiplomacyResponse
  responses: {}
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth
