openapi: 3.0.3
info:
  title: Auth Onboarding Schemas
  version: 1.0.0
  description: Модели запросов и ответов для Auth Onboarding API.
  x-microservice:
    name: auth-service
    port: 8081
    domain: auth
    base-path: /api/v1/auth
    directory: api/v1/auth/onboarding
    package: com.necpgame.authservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
paths: {}
components:
  schemas:
    RegisterRequest:
      type: object
      required:
        - email
        - username
        - password
        - passwordConfirm
        - termsAccepted
      properties:
        email:
          type: string
          format: email
          description: Email игрока, должен быть уникален.
        username:
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 3
          maxLength: 20
          description: Уникальный логин игрока.
        password:
          type: string
          format: password
          minLength: 8
          description: Пароль с обязательными буквами, цифрами и спецсимволами.
        passwordConfirm:
          type: string
          format: password
          description: Подтверждение пароля, должно совпадать с password.
        termsAccepted:
          type: boolean
          description: Подтверждение согласия с условиями использования.
    RegisterResponse:
      type: object
      required:
        - accountId
        - message
      properties:
        accountId:
          type: string
          format: uuid
          description: Идентификатор созданного аккаунта.
        message:
          type: string
          description: Сообщение о результате регистрации.
    LoginRequest:
      type: object
      required:
        - login
        - password
      properties:
        login:
          type: string
          description: Email или username игрока.
        password:
          type: string
          format: password
          description: Пароль игрока.
    LoginResponse:
      type: object
      required:
        - accessToken
        - refreshToken
        - account
        - expiresAt
      properties:
        accessToken:
          type: string
          description: JWT токен доступа.
        refreshToken:
          type: string
          description: Токен для обновления сессии.
        expiresAt:
          type: string
          format: date-time
          description: Время истечения access токена.
        account:
          $ref: '#/components/schemas/AccountSummary'
    AccountSummary:
      type: object
      required:
        - id
        - email
        - username
        - createdAt
        - status
      properties:
        id:
          type: string
          format: uuid
          description: Идентификатор аккаунта.
        email:
          type: string
          format: email
          description: Email аккаунта.
        username:
          type: string
          description: Username аккаунта.
        createdAt:
          type: string
          format: date-time
          description: Дата регистрации аккаунта.
        status:
          type: string
          enum:
            - active
            - blocked
            - pending
          description: Статус аккаунта.
    RefreshRequest:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string
          description: Действующий refresh токен.
    ForgotPasswordRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          description: Email, на который отправляется письмо для восстановления.
    ResetPasswordRequest:
      type: object
      required:
        - token
        - newPassword
        - newPasswordConfirm
      properties:
        token:
          type: string
          description: Токен восстановления пароля.
        newPassword:
          type: string
          format: password
          minLength: 8
          description: Новый пароль.
        newPasswordConfirm:
          type: string
          format: password
          description: Подтверждение нового пароля.
