openapi: 3.0.3
info:
  title: Auth Onboarding API
  version: 1.0.0
  description: |
    API регистрации и управления сессиями аккаунтов на старте игры.
    Источник: .BRAIN/05-technical/ui-character-creation.md (v1.1.0).
    Задание: API-SWAGGER/tasks/completed/2025-11-06/task-026-character-creation-api.md.
  x-microservice:
    name: auth-service
    port: 8081
    domain: auth
    base-path: /api/v1/auth
    directory: api/v1/auth/onboarding
    package: com.necpgame.authservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
paths:
  /register:
    post:
      summary: Регистрация нового аккаунта
      description: Создает учетную запись игрока, проверяет уникальность email и username, инициирует событие account:created.
      operationId: registerAccount
      tags:
        - Auth Onboarding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            examples:
              valid:
                summary: Валидная регистрация
                value:
                  email: player@example.com
                  username: player123
                  password: SecurePass123!
                  passwordConfirm: SecurePass123!
                  termsAccepted: true
      responses:
        '201':
          description: Аккаунт создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '409':
          $ref: '../../shared/common/responses.yaml#/components/responses/Conflict'
        '422':
          $ref: '../../shared/common/responses.yaml#/components/responses/UnprocessableEntity'
      security: []
  /login:
    post:
      summary: Вход в аккаунт
      description: Аутентифицирует игрока по email или username и возвращает токены доступа.
      operationId: loginAccount
      tags:
        - Auth Onboarding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Успешный вход
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '423':
          description: Аккаунт заблокирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
  /logout:
    post:
      summary: Завершение сессии
      description: Отзывает активный access и refresh токены игрока.
      operationId: logoutAccount
      tags:
        - Auth Onboarding
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Сессия завершена
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
  /refresh:
    post:
      summary: Обновление токена
      description: Генерирует новую пару access и refresh токенов по валидному refresh токену.
      operationId: refreshToken
      tags:
        - Auth Onboarding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: Токены обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
      security: []
  /password/forgot:
    post:
      summary: Запрос на сброс пароля
      description: Отправляет письмо со ссылкой для восстановления пароля.
      operationId: requestPasswordReset
      tags:
        - Auth Onboarding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '202':
          description: Письмо отправлено
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'
      security: []
  /password/reset:
    post:
      summary: Сброс пароля
      description: Устанавливает новый пароль по действующему reset токену.
      operationId: resetPassword
      tags:
        - Auth Onboarding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: Пароль обновлен
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../shared/common/responses.yaml#/components/responses/Unauthorized'
      security: []
components:
  schemas:
    RegisterRequest:
      $ref: './auth-sessions-requests.yaml#/components/schemas/RegisterRequest'
    RegisterResponse:
      $ref: './auth-sessions-requests.yaml#/components/schemas/RegisterResponse'
    LoginRequest:
      $ref: './auth-sessions-requests.yaml#/components/schemas/LoginRequest'
    LoginResponse:
      $ref: './auth-sessions-requests.yaml#/components/schemas/LoginResponse'
    RefreshRequest:
      $ref: './auth-sessions-requests.yaml#/components/schemas/RefreshRequest'
    ForgotPasswordRequest:
      $ref: './auth-sessions-requests.yaml#/components/schemas/ForgotPasswordRequest'
    ResetPasswordRequest:
      $ref: './auth-sessions-requests.yaml#/components/schemas/ResetPasswordRequest'
    Error:
      $ref: '../../shared/common/responses.yaml#/components/schemas/Error'
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'
