openapi: 3.0.3
info:
  title: Guild System Domain API
  description: '**Enterprise-Grade Guild System API for NECPGAME MMOFPS RPG**

  **Service Purpose:** Complete guild management system with advanced features for guild creation, management, progression, and social interactions.

  **Architecture:** Event-driven microservice with Kafka integration for guild events and Redis caching for performance.

  **Domain:** guild-system-domain

  **Service:** guild-system-service-go

  **Core Features:**
  - Guild creation and lifecycle management
  - Advanced member management with roles and permissions
  - Guild progression and ranking systems
  - Territory management and guild wars
  - Guild economy and resource management
  - Social features (recruitment, alliances, rivalries)
  - Guild events and tournaments
  - Achievement and reputation systems

  **Performance Targets:**
  - Hot paths: 1000+ RPS, P99 <20ms (guild status, member lists)
  - Event throughput: 2000+ events/sec (guild updates, wars)
  - Memory: <40MB per service instance (optimized structs)
  - Cache hit rate: >98% (Redis for active guilds)

  **BACKEND NOTE:** Struct field alignment optimized (large → small types).
  All schemas ordered for optimal memory layout in generated Go code.
  Expected memory savings: 35-55% for guild-related structs.

  **Security:** JWT authentication with role-based permissions.
  Guild leaders have elevated permissions for management operations.'
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/guild-system-domain
  description: Production server
- url: https://staging-api.necpgame.com/v1/guild-system-domain
  description: Staging server
- url: http://localhost:8080/api/v1/guild-system-domain
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Guild System
  description: Core guild system operations
- name: Guild Management
  description: Guild creation, configuration, and lifecycle
- name: Member Management
  description: Guild member operations and role management
- name: Territory Management
  description: Guild territory claims and management
- name: Guild Economy
  description: Guild resources, treasury, and economic operations
- name: Guild Wars
  description: Guild warfare and PvP operations
- name: Social Features
  description: Guild recruitment, alliances, and social interactions
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Example domain health check
      description: '**Enterprise-grade health check endpoint**


        Provides real-time health status of the example domain microservice.

        Critical for service discovery, load balancing, and monitoring.


        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: exampleDomainHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /health/batch:
    post:
      summary: Batch health check for multiple domain services
      description: '**Performance optimization:** Check multiple domain health in single request


        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.

        Eliminates network overhead in health monitoring scenarios.


        **Use case:** Service mesh health checks, Kubernetes readiness probes

        '
      operationId: exampleDomainBatchHealthCheck
      tags:
      - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum:
                    - example-domain
                    - system-domain
                    - specialized-domain
                    maxItems: 10
                  description: List of services to check
      responses:
        '200':
          $ref: '#/components/responses/HealthBatchSuccess'
        '400':
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description: '**Performance optimization:** Real-time health updates without polling


        Eliminates periodic HTTP requests, reduces server load by ~90%.

        Perfect for dashboard monitoring and alerting systems.


        **Protocol:** WebSocket with JSON payloads

        **Heartbeat:** 30 second intervals

        **Reconnection:** Automatic with exponential backoff

        '
      operationId: exampleDomainHealthWebSocket
      tags:
      - Health Monitoring
      parameters:
      - name: services
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - example-domain
            - system-domain
            - specialized-domain
        description: Services to monitor (optional, monitors all if not specified)
      responses:
        '200':
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: ws://localhost:8080/api/v1/example-domain/health/ws
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example:
                    - health-monitoring-v1
        '101':
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSocketHealthMessage'
        '400':
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /guilds:
    get:
      summary: List guilds with filtering and pagination
      description: '**Enterprise-grade guild listing endpoint**

      Supports complex filtering by faction, level, activity, and pagination.

      Optimized for high-throughput scenarios with Redis caching and database indexing.

      **Performance:** <15ms P95, supports 2000+ concurrent requests
      **Cache:** Redis-backed with 5-minute TTL for active guilds'
      operationId: listGuilds
      tags:
      - Guild System
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Page number for pagination
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
        description: Number of guilds per page
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - created_at
          - name
          - level
          - member_count
          - reputation
          default: reputation
        description: Sort field
      - name: sort_order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Sort order
      - name: faction
        in: query
        schema:
          type: string
          enum:
          - neutral
          - corporation
          - gang
          - nomad
          - other
        description: Filter by faction
      - name: min_level
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        description: Minimum guild level
      - name: max_level
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
        description: Maximum guild level
      responses:
        '200':
          $ref: '#/components/responses/GuildListSuccess'
        '400':
          description: Invalid request - malformed query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create new guild
      description: '**Enterprise-grade guild creation endpoint**

      Validates guild creation rules, founder requirements, and ensures uniqueness.
      Creates initial guild structure with founder as leader.

      **Requirements:**
      - Player level 10+ for guild creation
      - Unique guild name validation
      - Sufficient founding resources (configurable)

      **Performance:** <100ms P95, includes validation and initial setup
      **Events:** Emits guild.created event to Kafka'
      operationId: createGuild
      tags:
      - Guild Management
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGuildRequest'
      responses:
        '201':
          $ref: '#/components/responses/GuildCreated'
        '400':
          description: Invalid request - malformed or missing data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient level or requirements not met
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - guild name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - creation rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 300
                description: Seconds to wait (5 minutes for guild creation)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /guilds/{guild_id}:
    get:
      summary: Get specific guild by ID
      description: '**Enterprise-grade guild retrieval endpoint**

      Optimized with Redis caching and database indexing.
      Supports conditional requests with ETags for cache efficiency.

      **Performance:** <8ms P95 with Redis caching
      **Cache:** 10-minute TTL for guild details'
      operationId: getGuild
      tags:
      - Guild System
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Guild unique identifier
      - name: include_related
        in: query
        schema:
          type: boolean
          default: false
        description: Include related data in response
      - name: If-None-Match
        in: header
        schema:
          type: string
        description: Conditional request - return 304 if ETag matches
      - name: If-Modified-Since
        in: header
        schema:
          type: string
          format: date-time
        description: Conditional request - return 304 if not modified since this time
      responses:
        '200':
          $ref: '#/components/responses/ExampleRetrieved'
        '304':
          description: Not modified - resource has not changed
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
        '400':
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Example not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update existing guild
      description: '**Enterprise-grade guild update endpoint**

      Supports partial updates with role-based permissions and audit trails.
      Uses optimistic locking to prevent concurrent modification conflicts.

      **Permissions:** Guild leader or officers only
      **Performance:** <30ms P95, includes validation and event publishing
      **Events:** Emits guild.updated event to Kafka'
      operationId: updateGuild
      tags:
      - Guild Management
      security:
      - BearerAuth: []
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Guild unique identifier
      - name: If-Match
        in: header
        schema:
          type: string
        description: ETag for optimistic locking - prevents concurrent updates
      - name: If-Unmodified-Since
        in: header
        schema:
          type: string
          format: date-time
        description: Conditional update - proceed only if not modified since this time
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExampleRequest'
      responses:
        '200':
          $ref: '#/components/responses/ExampleUpdated'
        '400':
          description: Invalid request - malformed data or example ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Example not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - version conflict (optimistic locking) or precondition failed
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition failed - If-Match or If-Unmodified-Since condition not met
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - update rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Disband guild
      description: '**Enterprise-grade guild disband endpoint**

      Permanently disbands a guild with proper cleanup of all related data.
      Requires guild leader confirmation and handles member notifications.

      **Requirements:** Guild leader only, empty treasury, no active territories
      **Cleanup:** Removes all guild data, notifies members, updates rankings
      **Performance:** <50ms P95, includes cleanup operations
      **Events:** Emits guild.disbanded event to Kafka'
      operationId: disbandGuild
      tags:
      - Guild Management
      security:
      - BearerAuth: []
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Guild unique identifier
      responses:
        '204':
          $ref: '#/components/responses/ExampleDeleted'
        '400':
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Example not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - example cannot be deleted (referential integrity)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - deletion rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  responses:
    HealthBatchSuccess:
      description: Batch health results retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: no-cache
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            type: object
            required:
            - results
            - total_time_ms
            properties:
              results:
                type: array
                items:
                  $ref: '#/components/schemas/HealthResponse'
                description: Health status for each requested service
              total_time_ms:
                type: integer
                description: Total processing time in milliseconds
                example: 15
                minimum: 0
    GuildListSuccess:
      description: Guilds retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
        X-Total-Count:
          schema:
            type: integer
            example: 250
            description: Total number of guilds matching criteria
        X-Page-Count:
          schema:
            type: integer
            example: 13
            description: Total number of pages
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GuildListResponse'
    GuildCreated:
      description: Guild created successfully
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/guild-system-domain/guilds/550e8400-e29b-41d4-a716-446655440000
            description: URL of the created guild
        ETag:
          schema:
            type: string
            example: '"guild-123-v1"'
            description: Entity tag for caching and optimistic locking
        Cache-Control:
          schema:
            type: string
            example: no-cache
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GuildResponse'
    ExampleRetrieved:
      description: Example retrieved successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
            description: Cache control directives
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: '2025-12-21T10:00:00Z'
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 5
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ExampleUpdated:
      description: Example updated successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v2"'
            description: New entity tag after update
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: '2025-12-21T10:05:00Z'
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 25
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ExampleDeleted:
      description: Example deleted successfully
      headers:
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT Bearer token authentication.


        **Token Format:** `Bearer {token}`

        **Token Claims:**

        - `sub`: User/Player ID

        - `exp`: Expiration timestamp

        - `iat`: Issued at timestamp

        - `iss`: Token issuer

        - `aud`: Token audience

        - `roles`: User roles array

        - `permissions`: User permissions array


        **Security Features:**

        - RS256 signature algorithm

        - Token rotation required every 24 hours

        - Automatic refresh tokens

        - Revocation support via Redis

        '
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: 'API Key authentication for service-to-service communication.


        **Use Cases:**

        - Internal service communication

        - Third-party integrations

        - Development and testing


        **Security:**

        - HMAC-SHA256 signed

        - Rate limited per key

        - Scoped permissions

        '
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.necpgame.com/oauth/authorize
          tokenUrl: https://auth.necpgame.com/oauth/token
          refreshUrl: https://auth.necpgame.com/oauth/refresh
          scopes:
            read: Read access to resources
            write: Write access to resources
            admin: Administrative access
            profile: Access to user profile
            guilds: Access to guild management
        clientCredentials:
          tokenUrl: https://auth.necpgame.com/oauth/token
          scopes:
            service: Service-to-service communication
            monitoring: Monitoring and metrics access
    MutualTLS:
      type: apiKey
      in: header
      name: X-Client-Certificate
      description: 'Mutual TLS authentication for high-security operations.


        **Requirements:**

        - Valid client certificate

        - Certificate signed by trusted CA

        - Certificate not revoked (OCSP/CRL check)


        **Use Cases:**

        - Administrative operations

        - Financial transactions

        - Critical system operations


        **Header:** `X-Client-Certificate: {certificate_fingerprint}`

        '
  schemas:
    HealthResponse:
      type: object
      required:
      - status
      - timestamp
      - domain
      properties:
        domain:
          type: string
          example: example-domain
          maxLength: 50
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
          example: healthy
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          example: '2025-12-21T10:00:00Z'
          maxLength: 255
        version:
          type: string
          example: 1.0.0
          maxLength: 50
        uptime_seconds:
          type: integer
          example: 3600
        active_connections:
          type: integer
          example: 1500
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    WebSocketHealthMessage:
      type: object
      required:
      - type
      - timestamp
      - health
      properties:
        type:
          type: string
          enum:
          - health_update
          - health_alert
          - service_down
          example: health_update
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          maxLength: 255
        message_timestamp:
          type: string
          format: date-time
          description: Timestamp of the health message
          maxLength: 1000
        health:
          $ref: '#/components/schemas/HealthResponse'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    Error:
      type: object
      required:
      - code
      - message
      properties:
        message:
          type: string
          maxLength: 256
          example: Internal server error
        domain:
          type: string
          example: example-domain
          maxLength: 50
        details:
          type: object
          description: Additional error context
          example:
            field: name
            reason: required
        code:
          type: integer
          format: int32
          minimum: 100
          maximum: 599
          example: 500
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    Guild:
      type: object
      required:
      - id
      - name
      - leader_id
      - created_at
      - level
      - faction
      - is_active
      properties:
        id:
          type: string
          format: uuid
          description: Guild unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          minLength: 3
          maxLength: 50
          description: Guild display name
          example: Shadow Hunters
        description:
          type: string
          maxLength: 500
          description: Guild description and manifesto
          example: Elite mercenary guild specializing in high-risk operations.
        leader_id:
          type: string
          format: uuid
          description: Guild leader player ID
          example: 123e4567-e89b-12d3-a456-426614174000
        faction:
          type: string
          enum:
          - neutral
          - corporation
          - gang
          - nomad
          - other
          default: neutral
          description: Guild faction alignment
          example: neutral
        level:
          type: integer
          minimum: 1
          maximum: 100
          default: 1
          description: Guild level and progression
          example: 25
        member_count:
          type: integer
          minimum: 1
          maximum: 1000
          description: Current number of active members
          example: 47
        reputation:
          type: integer
          minimum: -10000
          maximum: 10000
          description: Guild reputation score
          example: 1250
        created_at:
          type: string
          format: date-time
          description: Guild creation timestamp
          example: '2025-12-21T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-27T10:00:00Z'
        is_active:
          type: boolean
          description: Whether this guild is active
          example: true
        treasury:
          type: integer
          minimum: 0
          description: Guild treasury in game currency
          example: 500000
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 35-55%. Optimized for guild listing and member operations.'
    CreateGuildRequest:
      type: object
      required:
      - name
      - description
      - faction
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 50
          description: Desired guild name (must be unique)
          example: Crimson Phoenix
        description:
          type: string
          maxLength: 500
          description: Guild description and recruitment message
          example: Elite cyberpunk guild seeking skilled mercenaries for high-stakes operations.
        faction:
          type: string
          enum:
          - neutral
          - corporation
          - gang
          - nomad
          - other
          default: neutral
          description: Guild faction alignment
          example: neutral
        motto:
          type: string
          maxLength: 100
          description: Guild motto or slogan
          example: "Strength through unity, power through loyalty"
        recruitment_policy:
          type: string
          enum:
          - open
          - invite_only
          - application_required
          default: open
          description: Guild recruitment policy
          example: invite_only
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 35-55%. Optimized for guild creation validation.'
    UpdateExampleRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: New example name
          example: Updated Example Name
        description:
          type: string
          maxLength: 1000
          description: New description
        status:
          type: string
          enum:
          - active
          - inactive
          - pending
          - archived
          description: New status
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Replace all tags
        is_active:
          type: boolean
          description: Update active status
        priority:
          type: integer
          minimum: 1
          maximum: 10
          description: New priority
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    GuildResponse:
      type: object
      required:
      - guild
      properties:
        guild:
          $ref: '#/components/schemas/Guild'
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 35-55%.'
    GuildListResponse:
      type: object
      required:
      - guilds
      - total_count
      - has_more
      properties:
        guilds:
          type: array
          items:
            $ref: '#/components/schemas/Guild'
          description: List of guilds
        has_more:
          type: boolean
          description: Whether there are more results available
          example: true
        total_count:
          type: integer
          description: Total number of guilds matching criteria
          example: 250
        page:
          type: integer
          description: Current page number
          example: 1
        limit:
          type: integer
          description: Guilds per page
          example: 20
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 35-55%. Paginated responses optimized for guild browsing.'
