openapi: 3.0.3
info:
  title: Player Analytics Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Player Analytics API for NECPGAME**

    This API manages comprehensive player behavior analysis, performance metrics,
    and data-driven insights for game optimization and player experience enhancement
    in Night City.

    ## Key Features

    - **Behavior Analysis**: Deep analysis of player actions and patterns - **Performance
    Metrics**: Real-time tracking of player performance indicators - **Retention Analytics**:
    Player engagement and retention modeling - **Personalization Engine**: Data-driven
    player experience optimization - **Fraud Detection**: Advanced anomaly detection
    and cheating prevention - **Performance Optimized**: High-throughput analytics
    with <100ms P99 latency

    ## Domain Purpose

    The Player Analytics domain provides comprehensive insights into player behavior
    and game performance. Game designers and systems use this data to optimize gameplay,
    detect issues, and enhance player experience through data-driven decision making
    and automated optimization systems.

    ## Performance Targets

    - P99 Latency: <100ms for analytics queries - Memory: <50KB per active analytics
    session - Concurrent users: 1,000,000+ simultaneous analytics operations - Query
    processing: <200ms response time

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/player-analytics
  description: Production server
- url: https://staging-api.necpgame.com/v1/player-analytics
  description: Staging server
- url: http://localhost:8080/api/v1/player-analytics
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Player Analytics
  description: Core player behavior analysis and metrics operations
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Player analytics service health check
      description: '**Enterprise-grade health check endpoint**


        Provides real-time health status of the player analytics service microservice.

        Critical for service discovery, load balancing, and monitoring.


        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: playerAnalyticsServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/health.yaml#/HealthResponse
        '500':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
components:
  responses:
    OK:
      $ref: ../common-service/responses/success.yaml#/OK
    BadRequest:
      $ref: ../common-service/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common-service/responses/error.yaml#/Unauthorized
    NotFound:
      $ref: ../common-service/responses/error.yaml#/NotFound
    Conflict:
      $ref: ../common-service/responses/error.yaml#/Conflict
    TooManyRequests:
      $ref: ../common-service/responses/error.yaml#/TooManyRequests
    InternalServerError:
      $ref: ../common-service/responses/error.yaml#/InternalServerError
  schemas:
    Error:
      $ref: ../common-service/schemas/error.yaml#/Error
    HealthResponse:
      $ref: ../common-service/schemas/health.yaml#/HealthResponse
    PaginationMeta:
      $ref: ../common-service/schemas/pagination.yaml#/PaginationMeta
  securitySchemes:
    BearerAuth:
      $ref: ../common-service/security/security.yaml#/BearerAuth


