openapi: 3.0.3
info:
  title: Player Orders Extended API
  version: 1.0.0
  description: |
    API для расширенной системы заказов между игроками.
    
    Функционал:
    - Order types (Crafting, Gathering, Combat Assistance, Transportation)
    - Order creation (детальные требования)
    - Order execution (выполнение заказов)
    - Via NPC execution (выполнение через нанятых NPC)
    - Economy integration (pricing, fees, escrow)
    - Reputation system (рейтинг исполнителей)
    - Advanced features (bulk orders, recurring, premium)
    - World impact (спрос и предложение)
    
    Источники: .BRAIN/02-gameplay/social/player-orders-*.md (8 documents)

  x-microservice:
    name: social-service
    port: 8084
    domain: social
    base-path: /api/v1/gameplay/social
    package: com.necpgame.socialservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: Orders
    description: Заказы игроков
  - name: Order Execution
    description: Выполнение заказов
  - name: Order Economy
    description: Экономика заказов

paths:
  /gameplay/social/player-orders:
    get:
      summary: Получить доступные заказы
      operationId: getAvailableOrders
      tags: [Orders]
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [CRAFTING, GATHERING, COMBAT_ASSISTANCE, TRANSPORTATION, SERVICE]
        - name: min_payment
          in: query
          schema:
            type: integer
        - name: difficulty
          in: query
          schema:
            type: string
            enum: [EASY, MEDIUM, HARD, EXPERT]
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageNumber'
        - $ref: '../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Доступные заказы
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PlayerOrder'

    post:
      summary: Создать заказ
      operationId: createPlayerOrder
      tags: [Orders]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Заказ создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerOrder'
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/social/player-orders/{order_id}:
    get:
      summary: Получить детали заказа
      operationId: getPlayerOrder
      tags: [Orders]
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Детали заказа
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerOrderDetailed'
        '404':
          $ref: '../../shared/common/responses.yaml#/components/responses/NotFound'

  /gameplay/social/player-orders/{order_id}/accept:
    post:
      summary: Принять заказ
      operationId: acceptPlayerOrder
      tags: [Order Execution]
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                executor_id:
                  type: string
                  format: uuid
                estimated_completion_time:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Заказ принят
        '400':
          $ref: '../../shared/common/responses.yaml#/components/responses/BadRequest'

  /gameplay/social/player-orders/{order_id}/complete:
    post:
      summary: Завершить заказ
      operationId: completePlayerOrder
      tags: [Order Execution]
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                executor_id:
                  type: string
                  format: uuid
                completion_proof:
                  type: object
                  description: Доказательство выполнения
      responses:
        '200':
          description: Заказ завершен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCompletionResult'

  /gameplay/social/player-orders/{order_id}/cancel:
    post:
      summary: Отменить заказ
      operationId: cancelPlayerOrder
      tags: [Orders]
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                character_id:
                  type: string
                  format: uuid
                reason:
                  type: string
      responses:
        '200':
          description: Заказ отменен

  /gameplay/social/player-orders/character/{character_id}/created:
    get:
      summary: Получить заказы созданные персонажем
      operationId: getCreatedOrders
      tags: [Orders]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [OPEN, IN_PROGRESS, COMPLETED, CANCELLED]
      responses:
        '200':
          description: Созданные заказы
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlayerOrder'

  /gameplay/social/player-orders/character/{character_id}/executing:
    get:
      summary: Получить заказы, выполняемые персонажем
      operationId: getExecutingOrders
      tags: [Order Execution]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Выполняемые заказы
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlayerOrder'

  /gameplay/social/player-orders/{order_id}/execute-via-npc:
    post:
      summary: Выполнить заказ через нанятого NPC
      operationId: executeOrderViaNPC
      tags: [Order Execution]
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                executor_id:
                  type: string
                  format: uuid
                hired_npc_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Заказ принят NPC
          content:
            application/json:
              schema:
                type: object
                properties:
                  estimated_completion:
                    type: string
                    format: date-time
                  npc_efficiency:
                    type: number
                    format: float

  /gameplay/social/player-orders/reputation/{character_id}:
    get:
      summary: Получить репутацию исполнителя
      operationId: getExecutorReputation
      tags: [Order Economy]
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Репутация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutorReputation'

  /gameplay/social/player-orders/market:
    get:
      summary: Получить рыночную статистику заказов
      operationId: getOrdersMarket
      tags: [Order Economy]
      responses:
        '200':
          description: Рыночная статистика
          content:
            application/json:
              schema:
                type: object
                properties:
                  active_orders_count:
                    type: integer
                  average_payment:
                    type: integer
                  popular_types:
                    type: array
                    items:
                      type: object
                  high_demand_skills:
                    type: array
                    items:
                      type: string

components:
  schemas:
    CreateOrderRequest:
      type: object
      required:
        - creator_id
        - type
        - description
        - payment
      properties:
        creator_id:
          type: string
          format: uuid
        type:
          type: string
          enum: [CRAFTING, GATHERING, COMBAT_ASSISTANCE, TRANSPORTATION, SERVICE]
        title:
          type: string
        description:
          type: string
        requirements:
          type: object
          properties:
            min_level:
              type: integer
            required_skills:
              type: object
              additionalProperties:
                type: integer
            required_equipment:
              type: array
              items:
                type: string
        payment:
          type: integer
        deadline:
          type: string
          format: date-time
          nullable: true
        recurring:
          type: boolean
          default: false
        premium:
          type: boolean
          description: Премиум заказ (больше видимость)

    PlayerOrder:
      type: object
      properties:
        order_id:
          type: string
          format: uuid
        creator_id:
          type: string
          format: uuid
        creator_name:
          type: string
        type:
          type: string
        title:
          type: string
        description:
          type: string
        payment:
          type: integer
        status:
          type: string
          enum: [OPEN, IN_PROGRESS, COMPLETED, CANCELLED, EXPIRED]
        difficulty:
          type: string
        executor_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
        deadline:
          type: string
          format: date-time
          nullable: true
        views:
          type: integer

    PlayerOrderDetailed:
      allOf:
        - $ref: '#/components/schemas/PlayerOrder'
        - type: object
          properties:
            requirements:
              type: object
            deliverables:
              type: object
              description: Что нужно предоставить
            escrow:
              type: object
              nullable: true
              properties:
                amount_held:
                  type: integer
                release_condition:
                  type: string
            reviews:
              type: array
              items:
                type: object
                properties:
                  reviewer_id:
                    type: string
                  rating:
                    type: integer
                  comment:
                    type: string

    OrderCompletionResult:
      type: object
      properties:
        order_id:
          type: string
          format: uuid
        payment_released:
          type: integer
        reputation_earned:
          type: integer
        bonuses:
          type: object
          properties:
            early_completion:
              type: integer
            quality_bonus:
              type: integer
        next_tier_unlocked:
          type: boolean

    ExecutorReputation:
      type: object
      properties:
        character_id:
          type: string
          format: uuid
        reputation_score:
          type: integer
        tier:
          type: string
          enum: [NOVICE, COMPETENT, EXPERT, MASTER, LEGENDARY]
        orders_completed:
          type: integer
        success_rate:
          type: number
          format: float
        average_rating:
          type: number
          format: float
        total_earned:
          type: integer
        specializations:
          type: array
          items:
            type: string
        reviews:
          type: array
          items:
            type: object

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

