openapi: 3.0.3
info:
  title: World Events 2060-2077 API
  version: 1.0.0
  description: |
    API для мировых событий эпохи 2060-2077 "Преддверие современности".
    
    Источник: .BRAIN/02-gameplay/world/events/world-events-2060-2077.md v0.1.0
    
    Эпоха: Пик корпоративного контроля (независимость Night City)
    
    DC-скейлинг:
    - Социальные: 16/20/24
    - Тех/Хак: 20/24/28
    - Боевые: 16/20/24
    
    AI-слайдеры фракций:
    - Агрессия: 3
    - Экспансия: 4
    - Дипломатия: 4
    - Шпионаж: 5
    
    Экономика: Ресурсы ×1.1, Волатильность средняя, Пошлины +2 (корп.контроль)
    Технологии: Импланты топовые, Сеть глобальная, Безопасность очень высокая
    
    D&D генератор событий (d100):
    - 01-15: Корпорат. аудит
    - 16-30: Подполье сопротивления
    - 31-45: Нейроинтерфейсные сбои
    - 46-60: Высокий протокол безопасности
    - 61-75: Политическая интрига
    - 76-90: Космическая логистика
    - 91-00: Независимость Night City

  x-microservice:
    name: world-service
    port: 8086
    domain: world
    base-path: /api/v1/gameplay/world
    package: com.necpgame.worldservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

tags:
  - name: World Events
    description: Мировые события
  - name: Era 2060-2077
    description: Преддверие современности

paths:
  /gameplay/world/events/2060-2077/generate:
    post:
      summary: Сгенерировать событие эпохи
      description: |
        Генерирует случайное событие эпохи 2060-2077.
        Использует d100 генератор с таблицей событий.
      operationId: generateEvent2060_2077
      tags:
        - Era 2060-2077
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - character_id
                - location_id
              properties:
                character_id:
                  type: string
                location_id:
                  type: string
                roll_override:
                  type: integer
                  minimum: 1
                  maximum: 100
      responses:
        '200':
          description: Событие сгенерировано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorldEvent'
              examples:
                corporate_audit:
                  summary: Корпоративный аудит
                  value:
                    event_id: "event_003"
                    event_type: "corporate_audit"
                    era: "2060-2077"
                    location_id: "city_center"
                    dc_scaling:
                      social: 16
                      tech_hack: 20
                      combat: 16
                    description: "Arasaka проводит масштабный аудит в районе"
                    consequences:
                      - "Усиление безопасности"
                      - "Проверки документов"
                    quest_hooks:
                      - "Помощь подполью"
                      - "Корпоративная интрига"

  /gameplay/world/events/2060-2077/active:
    get:
      summary: Получить активные события эпохи
      description: Возвращает список активных событий эпохи 2060-2077
      operationId: getActiveEvents2060_2077
      tags:
        - Era 2060-2077
      parameters:
        - name: event_type
          in: query
          schema:
            type: string
            enum: [corporate_audit, resistance_underground, neuro_interface_failure, high_security_protocol, political_intrigue, space_logistics, night_city_independence]
      responses:
        '200':
          description: Активные события
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorldEvent'

  /gameplay/world/events/2060-2077/era-settings:
    get:
      summary: Получить настройки эпохи
      description: Возвращает параметры эпохи 2060-2077
      operationId: getEraSettings2060_2077
      tags:
        - Era 2060-2077
      responses:
        '200':
          description: Настройки эпохи
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EraSettings'

components:
  schemas:
    WorldEvent:
      type: object
      properties:
        event_id:
          type: string
        event_type:
          type: string
          enum: [corporate_audit, resistance_underground, neuro_interface_failure, high_security_protocol, political_intrigue, space_logistics, night_city_independence]
        era:
          type: string
        location_id:
          type: string
        dc_scaling:
          type: object
          properties:
            social:
              type: integer
            tech_hack:
              type: integer
            combat:
              type: integer
        description:
          type: string
        consequences:
          type: array
          items:
            type: string
        quest_hooks:
          type: array
          items:
            type: string
        started_at:
          type: string
          format: date-time
        duration:
          type: number

    EraSettings:
      type: object
      properties:
        era:
          type: string
        dc_scaling:
          type: object
        faction_sliders:
          type: object
        economy:
          type: object
        technologies:
          type: object


