openapi: 3.0.3
info:
  title: Get Active Events
  version: 1.0.0
  x-microservice:
    name: world-service
    port: 8086
    domain: world
    base-path: /api/v1/gameplay/world
    package: com.necpgame.worldservice
paths:
  /gameplay/world/random-events/character/{character_id}/active:
    get:
      summary: Получить активные события для персонажа
      operationId: getActiveEvents
      tags:
        - Random Events
      security:
        - BearerAuth: []
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Активные события
          content:
            application/json:
              schema:
                type: object
                properties:
                  active_events:
                    type: array
                    items:
                      $ref: '../schemas/index.yaml#/components/schemas/ActiveEventInstance'
                  max_active_events:
                    type: integer
                    example: 5
        '401':
          $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../shared/common/responses.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../shared/common/responses.yaml#/components/responses/NotFound'
        '400':
          $ref: '../../../shared/common/responses.yaml#/components/responses/BadRequest'
        '500':
          $ref: '../../../shared/common/responses.yaml#/components/responses/InternalServerError'

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
