openapi: 3.0.3
info:
  title: Get Event History
  version: 1.0.0
  x-microservice:
    name: world-service
    port: 8086
    domain: world
    base-path: /api/v1/gameplay/world
    package: com.necpgame.worldservice
paths:
  /gameplay/world/random-events/character/{character_id}/history:
    get:
      summary: Получить историю случайных событий
      operationId: getEventHistory
      tags:
        - Event History
      security:
        - BearerAuth: []
      parameters:
        - name: character_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: period
          in: query
          schema:
            type: string
        - $ref: '../../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: История событий
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '../schemas/index.yaml#/components/schemas/EventHistoryEntry'
        '400':
          $ref: '../../../shared/common/responses.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../shared/common/responses.yaml#/components/responses/Forbidden'
        '404':
          $ref: '../../../shared/common/responses.yaml#/components/responses/NotFound'
        '500':
          $ref: '../../../shared/common/responses.yaml#/components/responses/InternalServerError'

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
