openapi: 3.0.3
info:
  title: Random Events Extended - List Random Events
  version: 1.0.0
  x-microservice:
    name: world-service
    port: 8086
    domain: world
    base-path: /api/v1/gameplay/world
    package: com.necpgame.worldservice
paths:
  /gameplay/world/random-events:
    get:
      summary: Получить список случайных событий
      operationId: listRandomEvents
      tags:
        - Random Events
      security:
        - BearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum:
              - 2020-2030
              - 2030-2045
              - 2045-2060
              - 2060-2077
              - 2078-2090
              - 2090-2093
        - name: category
          in: query
          schema:
            type: string
            enum:
              - COMBAT
              - SOCIAL
              - ECONOMY
              - EXPLORATION
              - FACTION
              - STORY
        - name: location_type
          in: query
          description: Тип локации где событие может произойти
          schema:
            type: string
            enum:
              - CITY
              - BADLANDS
              - CORPO_ZONE
              - COMBAT_ZONE
              - MARKET
              - CLUB
        - $ref: '../../../shared/common/pagination.yaml#/components/parameters/Page'
        - $ref: '../../../shared/common/pagination.yaml#/components/parameters/PageSize'
      responses:
        '200':
          description: Список событий
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '../../../shared/common/pagination.yaml#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '../schemas/index.yaml#/components/schemas/RandomEvent'
        '400':
          $ref: '../../../shared/common/responses.yaml#/components/responses/BadRequest'
        '401':
          $ref: '../../../shared/common/responses.yaml#/components/responses/Unauthorized'
        '403':
          $ref: '../../../shared/common/responses.yaml#/components/responses/Forbidden'
        '500':
          $ref: '../../../shared/common/responses.yaml#/components/responses/InternalServerError'

servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway
