openapi: 3.0.3
info:
  title: League Service API - Enterprise-Grade Competitive Gaming Systems
  description: |
    **Enterprise-Grade League Service API for NECPGAME**

    Comprehensive competitive gaming infrastructure managing leagues, tournaments, rankings,
    matchmaking, competitive statistics, and esports functionality for the NECPGAME ecosystem.

    ## Key Features
    - **Enterprise-grade architecture** with proper domain separation
    - **Backend optimization hints** for struct alignment and performance (30-50% memory savings)
    - **Complete validation** with redocly and ogen code generation
    - **Security-first approach** with JWT authentication and competitive integrity
    - **Performance-optimized** response structures with field ordering
    - **Comprehensive error handling** with proper HTTP status codes

    ## Domain Purpose
    The League Service manages all competitive gaming aspects of NECPGAME including league systems,
    tournament management, ranking algorithms, competitive matchmaking, statistics tracking,
    and fair play enforcement for competitive gameplay.

    ## Performance Targets
    - P99 Latency: <30ms for ranking queries (HOT PATH)
    - P99 Latency: <75ms for tournament operations
    - Memory: <25KB per active competitive session
    - Concurrent users: 50,000+ simultaneous competitive operations
    - Matchmaking throughput: 5000+ matches/minute
    - Data consistency: Event-sourced with CQRS patterns
  version: "1.0.0"
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.necpgame.com/v1/league
    description: Production server
  - url: https://staging-api.necpgame.com/v1/league
    description: Staging server
  - url: http://localhost:8080/api/v1/league
    description: Local development server

security:
  - BearerAuth: [ ]

tags:
  - name: League Management
    description: League creation, configuration, and administration
  - name: Tournament Operations
    description: Tournament lifecycle, brackets, and match management
  - name: Ranking System
    description: Player rankings, leaderboards, and skill calculations
  - name: Matchmaking
    description: Competitive matchmaking and queue management
  - name: Health Monitoring
    description: System health and performance monitoring

paths:
  # Health Check - ОБЯЗАТЕЛЬНО для всех доменов
  /health:
    get:
      summary: League service health check
      description: |
        **Enterprise-grade health check endpoint**

        Provides real-time health status of the league service microservice.
        Critical for service discovery, load balancing, and monitoring.
        Includes competitive systems and matchmaking status.

        **Performance:** <1ms response time, cached for 30 seconds
      operationId: leagueServiceHealthCheck
      tags:
        - Health Monitoring
      parameters:
        - name: Accept-Encoding
          in: header
          schema:
            type: string
            enum: [ gzip, deflate, br ]
      responses:
        "200":
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum: [ gzip, deflate, br ]
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Batch Health Check - ОБЯЗАТЕЛЬНО для enterprise-grade доменов
  /health/batch:
    post:
      summary: Batch health check for multiple domain services
      description: |
        **Performance optimization:** Check multiple domain health in single request

        Reduces N HTTP calls to 1 call. Critical for microservice orchestration.
        Eliminates network overhead in health monitoring scenarios.

        **Use case:** Service mesh health checks, Kubernetes readiness probes
      operationId: exampleDomainBatchHealthCheck
      tags:
        - Health Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - services
              properties:
                services:
                  type: array
                  items:
                    type: string
                    enum: [ example-domain, system-domain, specialized-domain ]
                    maxItems: 10
                  description: List of services to check
      responses:
        "200":
          $ref: "#/components/responses/HealthBatchSuccess"
        "400":
          description: Invalid request - malformed service list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
                description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # WebSocket Health Monitoring - ОБЯЗАТЕЛЬНО для real-time доменов
  /health/ws:
    get:
      summary: Real-time health monitoring WebSocket
      description: |
        **Performance optimization:** Real-time health updates without polling

        Eliminates periodic HTTP requests, reduces server load by ~90%.
        Perfect for dashboard monitoring and alerting systems.

        **Protocol:** WebSocket with JSON payloads
        **Heartbeat:** 30 second intervals
        **Reconnection:** Automatic with exponential backoff
      operationId: exampleDomainHealthWebSocket
      tags:
        - Health Monitoring
      parameters:
        - name: services
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [ example-domain, system-domain, specialized-domain ]
          description: Services to monitor (optional, monitors all if not specified)
      responses:
        "200":
          description: WebSocket upgrade information returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  websocket_url:
                    type: string
                    example: "ws://localhost:8080/api/v1/example-domain/health/ws"
                  supported_protocols:
                    type: array
                    items:
                      type: string
                    example: [ "health-monitoring-v1" ]
        "101":
          description: WebSocket connection established successfully
          headers:
            Upgrade:
              schema:
                type: string
                example: websocket
            Connection:
              schema:
                type: string
                example: Upgrade
            Sec-WebSocket-Accept:
              schema:
                type: string
                description: WebSocket handshake acceptance key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebSocketHealthMessage"
        "400":
          description: Invalid request - malformed service parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - authentication required for WebSocket
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # League Management - League administration and configuration
  /leagues:
    get:
      summary: Get available leagues
      description: |
        **Enterprise-grade league listing endpoint**

        Retrieves available leagues with filtering by game mode, skill level, and status.
        Critical for players to find and join appropriate competitive leagues.

        **Performance:** <20ms P95, supports 1000+ concurrent requests
        **Memory optimization:** 30-50% savings through struct field alignment
      operationId: getAvailableLeagues
      tags:
        - League Management
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number for pagination
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of items per page
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [ created_at, name, priority ]
            default: created_at
          description: Sort field
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [ asc, desc ]
            default: desc
          description: Sort order
        - name: filter_status
          in: query
          schema:
            type: string
            enum: [ active, inactive, pending ]
          description: Filter by status
      responses:
        "200":
          $ref: "#/components/responses/ExampleListSuccess"
        "400":
          description: Invalid request - malformed query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Unprocessable entity - validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      summary: Create new example
      description: |
        **Enterprise-grade creation endpoint**

        Validates business rules, applies security checks, and ensures data consistency.
        Supports optimistic locking for concurrent operations.

        **Performance:** <50ms P95, includes validation and business logic
      operationId: createExample
      tags:
        - Example Domain
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateExampleRequest"
      responses:
        "201":
          $ref: "#/components/responses/ExampleCreated"
        "400":
          description: Invalid request - malformed or missing data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict - example with this identifier already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - creation rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /examples/{example_id}:
    get:
      summary: Get specific example by ID
      description: |
        **Enterprise-grade retrieval endpoint**

        Optimized with proper caching strategies and database indexing.
        Supports conditional requests with ETags.

        **Performance:** <5ms P95 with Redis caching
      operationId: getExample
      tags:
        - Example Domain
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
        - name: include_related
          in: query
          schema:
            type: boolean
            default: false
          description: Include related data in response
        - name: If-None-Match
          in: header
          schema:
            type: string
          description: Conditional request - return 304 if ETag matches
        - name: If-Modified-Since
          in: header
          schema:
            type: string
            format: date-time
          description: Conditional request - return 304 if not modified since this time
      responses:
        "200":
          $ref: "#/components/responses/ExampleRetrieved"
        "304":
          description: Not modified - resource has not changed
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
            Cache-Control:
              schema:
                type: string
                example: max-age=300, private
        "400":
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      summary: Update existing example
      description: |
        **Enterprise-grade update endpoint**

        Supports partial updates, optimistic locking, and audit trails.
        Ensures data consistency with event sourcing patterns.

        **Performance:** <25ms P95, includes validation and conflict resolution
      operationId: updateExample
      tags:
        - Example Domain
      security:
        - BearerAuth: [ ]
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
        - name: If-Match
          in: header
          schema:
            type: string
          description: ETag for optimistic locking - prevents concurrent updates
        - name: If-Unmodified-Since
          in: header
          schema:
            type: string
            format: date-time
          description: Conditional update - proceed only if not modified since this time
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateExampleRequest"
      responses:
        "200":
          $ref: "#/components/responses/ExampleUpdated"
        "400":
          description: Invalid request - malformed data or example ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict - version conflict (optimistic locking) or precondition failed
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "412":
          description: Precondition failed - If-Match or If-Unmodified-Since condition not met
          headers:
            ETag:
              schema:
                type: string
                example: '"example-123-v1"'
                description: Current entity tag
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Unprocessable entity - business rule validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - update rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      summary: Delete example
      description: |
        **Enterprise-grade deletion endpoint**

        Supports soft deletes with audit trails and cleanup scheduling.
        Ensures referential integrity and cascading deletes.

        **Performance:** <15ms P95, includes cleanup operations
      operationId: deleteExample
      tags:
        - Example Domain
      security:
        - BearerAuth: [ ]
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Example unique identifier
      responses:
        "204":
          $ref: "#/components/responses/ExampleDeleted"
        "400":
          description: Invalid request - malformed example ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Example not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Conflict - example cannot be deleted (referential integrity)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests - deletion rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Ranking System - Player rankings and leaderboards
  /rankings:
    get:
      summary: Get player rankings and leaderboards
      description: |
        **Enterprise-grade ranking endpoint**

        Retrieves player rankings, leaderboards, and competitive statistics.
        Supports multiple ranking types (global, regional, seasonal) with filtering.

        **Performance:** <30ms P95 (HOT PATH), optimized ranking queries
        **Features:** Real-time ranking updates, seasonal resets, regional divisions
      operationId: getPlayerRankings
      tags:
        - Ranking System
      parameters:
        - name: league_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by specific league
        - name: season
          in: query
          schema:
            type: string
            enum: [ current, previous, all ]
            default: current
          description: Season to get rankings for
        - name: region
          in: query
          schema:
            type: string
            enum: [ global, na, eu, asia, sa ]
            default: global
          description: Regional rankings
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Number of rankings to return
        - name: around_player
          in: query
          schema:
            type: boolean
            default: false
          description: Get rankings around current player's position
      responses:
        "200":
          description: Rankings retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=60, public
            X-Ranking-Timestamp:
              schema:
                type: string
                format: date-time
                example: "2025-12-22T10:30:00Z"
          content:
            application/json:
              schema:
                type: object
                required:
                  - rankings
                  - season_info
                  - player_rank
                properties:
                  rankings:
                    type: array
                    items:
                      $ref: "#/components/schemas/PlayerRanking"
                    description: Ranked players list
                  season_info:
                    type: object
                    required:
                      - season_id
                      - season_name
                      - start_date
                      - end_date
                      - days_remaining
                    properties:
                      season_id:
                        type: string
                        format: uuid
                        example: "550e8400-e29b-41d4-a716-446655440000"
                      season_name:
                        type: string
                        example: "Winter Championship 2025"
                      start_date:
                        type: string
                        format: date-time
                        example: "2025-12-01T00:00:00Z"
                      end_date:
                        type: string
                        format: date-time
                        example: "2025-12-31T23:59:59Z"
                      days_remaining:
                        type: integer
                        example: 9
                  player_rank:
                    type: object
                    description: Current player's ranking information
                    required:
                      - rank
                      - rating
                      - percentile
                    properties:
                      rank:
                        type: integer
                        description: Global rank position
                        example: 1547
                      rating:
                        type: integer
                        description: Competitive rating points
                        example: 1850
                      percentile:
                        type: number
                        format: float
                        description: Percentile ranking (0.0-1.0)
                        example: 0.783

  # Tournament Operations - Tournament management and matches
  /tournaments:
    get:
      summary: Get active tournaments
      description: |
        **Enterprise-grade tournament listing endpoint**

        Retrieves active and upcoming tournaments with registration status and brackets.
        Critical for tournament discovery and player participation.

        **Performance:** <25ms P95, optimized tournament queries
        **Features:** Real-time registration tracking, bracket visualization, prize pools
      operationId: getActiveTournaments
      tags:
        - Tournament Operations
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ upcoming, registering, in_progress, completed ]
            default: registering
          description: Tournament status filter
        - name: game_mode
          in: query
          schema:
            type: string
            enum: [ solo, duo, squad, battle_royale ]
          description: Game mode filter
        - name: prize_min
          in: query
          schema:
            type: integer
            minimum: 0
          description: Minimum prize pool filter
        - name: entry_fee_max
          in: query
          schema:
            type: integer
            minimum: 0
          description: Maximum entry fee filter
      responses:
        "200":
          description: Tournaments retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - tournaments
                  - pagination
                properties:
                  tournaments:
                    type: array
                    items:
                      $ref: "#/components/schemas/Tournament"
                    description: List of tournaments
                  pagination:
                    $ref: "#/components/schemas/PaginationInfo"

    post:
      summary: Register for tournament
      description: |
        **Enterprise-grade tournament registration endpoint**

        Registers player or team for tournament with validation and payment processing.
        Supports both individual and team registrations with eligibility checks.

        **Performance:** <50ms P95, includes payment validation
        **Business rules:** Tournament capacity, skill requirements, payment processing
      operationId: registerForTournament
      tags:
        - Tournament Operations
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tournament_id
              properties:
                tournament_id:
                  type: string
                  format: uuid
                  description: Tournament to register for
                  example: "550e8400-e29b-41d4-a716-446655440000"
                team_members:
                  type: array
                  items:
                    type: string
                    format: uuid
                  maxItems: 4
                  description: Additional team members (for team tournaments)
                  example: [ "550e8400-e29b-41d4-a716-446655440001" ]
                payment_method:
                  type: string
                  enum: [ wallet, premium_currency, free ]
                  description: Payment method for entry fee
                  example: "wallet"
      responses:
        "201":
          description: Tournament registration successful
          headers:
            Location:
              schema:
                type: string
                example: "/api/v1/league/tournaments/550e8400-e29b-41d4-a716-446655440000/participants/player123"
          content:
            application/json:
              schema:
                type: object
                required:
                  - registration_id
                  - tournament_id
                  - status
                  - registered_at
                  - estimated_start
                properties:
                  registration_id:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440002"
                  tournament_id:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  status:
                    type: string
                    enum: [ registered, confirmed, waiting_list, cancelled ]
                    example: registered
                  registered_at:
                    type: string
                    format: date-time
                    example: "2025-12-22T10:30:00Z"
                  estimated_start:
                    type: string
                    format: date-time
                    example: "2025-12-22T14:00:00Z"
                  queue_position:
                    type: integer
                    description: Position in waiting queue (if applicable)
                    example: null
        "400":
          description: Invalid registration request or tournament full
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "402":
          description: Insufficient funds for entry fee
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Already registered or eligibility requirements not met
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # Matchmaking - Competitive queue management
  /matchmaking:
    post:
      summary: Join matchmaking queue
      description: |
        **Enterprise-grade matchmaking endpoint**

        Places player in competitive matchmaking queue with skill-based matching.
        Supports solo and team queueing with estimated wait times and queue priorities.

        **Performance:** <40ms P95, includes skill calculation
        **Features:** Skill-based matching, regional preferences, queue dodging detection
      operationId: joinMatchmakingQueue
      tags:
        - Matchmaking
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - game_mode
                - queue_type
              properties:
                game_mode:
                  type: string
                  enum: [ ranked_solo, ranked_duo, ranked_squad, casual ]
                  description: Game mode for matchmaking
                  example: "ranked_solo"
                queue_type:
                  type: string
                  enum: [ standard, priority, tournament ]
                  description: Queue priority type
                  example: "standard"
                region_preference:
                  type: string
                  enum: [ auto, na, eu, asia, sa ]
                  default: auto
                  description: Preferred region for matchmaking
                  example: "auto"
                max_wait_time:
                  type: integer
                  minimum: 30
                  maximum: 300
                  default: 120
                  description: Maximum wait time in seconds
                  example: 120
                team_members:
                  type: array
                  items:
                    type: string
                    format: uuid
                  maxItems: 3
                  description: Team member IDs (for duo/squad modes)
      responses:
        "202":
          description: Successfully joined matchmaking queue
          headers:
            X-Queue-Id:
              schema:
                type: string
                example: "queue-1234567890"
          content:
            application/json:
              schema:
                type: object
                required:
                  - queue_id
                  - position
                  - estimated_wait
                  - skill_range
                properties:
                  queue_id:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440003"
                  position:
                    type: integer
                    description: Current position in queue
                    example: 15
                  estimated_wait:
                    type: integer
                    description: Estimated wait time in seconds
                    example: 45
                  skill_range:
                    type: object
                    required:
                      - min_rating
                      - max_rating
                    properties:
                      min_rating:
                        type: integer
                        description: Minimum skill rating for matches
                        example: 1700
                      max_rating:
                        type: integer
                        description: Maximum skill rating for matches
                        example: 2000
                  queue_info:
                    type: object
                    description: Additional queue information
                    properties:
                      total_queued:
                        type: integer
                        example: 1250
                      average_wait:
                        type: integer
                        example: 67
        "400":
          description: Invalid matchmaking request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Already in queue or recent queue dodge penalty
          headers:
            X-Retry-After:
              schema:
                type: integer
                example: 300
                description: Seconds until penalty expires
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      summary: Leave matchmaking queue
      description: |
        **Enterprise-grade queue exit endpoint**

        Removes player from matchmaking queue with dodge detection and penalties.
        Supports graceful queue exit and penalty system for frequent dodgers.

        **Performance:** <15ms P95, quick queue removal
        **Business rules:** Dodge penalties, queue statistics tracking
      operationId: leaveMatchmakingQueue
      tags:
        - Matchmaking
      security:
        - BearerAuth: [ ]
      responses:
        "200":
          description: Successfully left matchmaking queue
          content:
            application/json:
              schema:
                type: object
                required:
                  - left_at
                  - queue_time
                  - dodge_penalty
                properties:
                  left_at:
                    type: string
                    format: date-time
                    example: "2025-12-22T10:32:15Z"
                  queue_time:
                    type: integer
                    description: Time spent in queue in seconds
                    example: 45
                  dodge_penalty:
                    type: object
                    description: Any dodge penalties applied
                    properties:
                      applied:
                        type: boolean
                        example: false
                      penalty_duration:
                        type: integer
                        description: Penalty duration in seconds
                        example: null
                      reason:
                        type: string
                        example: null
        "404":
          description: Not currently in matchmaking queue
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  responses:
    # Common response definitions with headers
    HealthBatchSuccess:
      description: Batch health results retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: no-cache
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            type: object
            required:
              - results
              - total_time_ms
            properties:
              results:
                type: array
                items:
                  $ref: "#/components/schemas/HealthResponse"
                description: Health status for each requested service
              total_time_ms:
                type: integer
                description: Total processing time in milliseconds
                example: 15
                minimum: 0

    ExampleListSuccess:
      description: Examples retrieved successfully
      headers:
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
        X-Total-Count:
          schema:
            type: integer
            example: 150
            description: Total number of examples matching criteria
        X-Page-Count:
          schema:
            type: integer
            example: 8
            description: Total number of pages
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleListResponse"

    ExampleCreated:
      description: Example created successfully
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/examples/550e8400-e29b-41d4-a716-446655440000
            description: URL of the created example
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching and optimistic locking
        Cache-Control:
          schema:
            type: string
            example: no-cache
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"

    ExampleRetrieved:
      description: Example retrieved successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v1"'
            description: Entity tag for caching
        Cache-Control:
          schema:
            type: string
            example: max-age=300, private
            description: Cache control directives
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: "2025-12-21T10:00:00Z"
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 5
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"

    ExampleUpdated:
      description: Example updated successfully
      headers:
        ETag:
          schema:
            type: string
            example: '"example-123-v2"'
            description: New entity tag after update
        Last-Modified:
          schema:
            type: string
            format: date-time
            example: "2025-12-21T10:05:00Z"
            description: Last modification timestamp
        X-Processing-Time:
          schema:
            type: integer
            example: 25
            description: Processing time in milliseconds
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExampleResponse"

    ExampleDeleted:
      description: Example deleted successfully
      headers:
        X-Processing-Time:
          schema:
            type: integer
            example: 15
            description: Processing time in milliseconds

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token authentication.

        **Token Format:** `Bearer {token}`
        **Token Claims:**
        - `sub`: User/Player ID
        - `exp`: Expiration timestamp
        - `iat`: Issued at timestamp
        - `iss`: Token issuer
        - `aud`: Token audience
        - `roles`: User roles array
        - `permissions`: User permissions array

        **Security Features:**
        - RS256 signature algorithm
        - Token rotation required every 24 hours
        - Automatic refresh tokens
        - Revocation support via Redis
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API Key authentication for service-to-service communication.

        **Use Cases:**
        - Internal service communication
        - Third-party integrations
        - Development and testing

        **Security:**
        - HMAC-SHA256 signed
        - Rate limited per key
        - Scoped permissions
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.necpgame.com/oauth/authorize
          tokenUrl: https://auth.necpgame.com/oauth/token
          refreshUrl: https://auth.necpgame.com/oauth/refresh
          scopes:
            read: Read access to resources
            write: Write access to resources
            admin: Administrative access
            profile: Access to user profile
            guilds: Access to guild management
        clientCredentials:
          tokenUrl: https://auth.necpgame.com/oauth/token
          scopes:
            service: Service-to-service communication
            monitoring: Monitoring and metrics access
    MutualTLS:
      type: apiKey
      in: header
      name: X-Client-Certificate
      description: |
        Mutual TLS authentication for high-security operations.

        **Requirements:**
        - Valid client certificate
        - Certificate signed by trusted CA
        - Certificate not revoked (OCSP/CRL check)

        **Use Cases:**
        - Administrative operations
        - Financial transactions
        - Critical system operations

        **Header:** `X-Client-Certificate: {certificate_fingerprint}`

  schemas:

    # Health schemas - ОБЯЗАТЕЛЬНЫ для всех доменов
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
        - domain
      properties:
        domain:
          type: string
          example: example-domain
          maxLength: 50
        status:
          type: string
          enum: [ healthy, degraded, unhealthy ]
          example: healthy
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          example: "2025-12-21T10:00:00Z"
          maxLength: 255
        version:
          type: string
          example: "1.0.0"
          maxLength: 50
        uptime_seconds:
          type: integer
          example: 3600
        active_connections:
          type: integer
          example: 1500
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    WebSocketHealthMessage:
      type: object
      required:
        - type
        - timestamp
        - health
      properties:
        type:
          type: string
          enum: [ health_update, health_alert, service_down ]
          example: health_update
          maxLength: 255
        timestamp:
          type: string
          format: date-time
          maxLength: 255
        message_timestamp:
          type: string
          format: date-time
          description: Timestamp of the health message
          maxLength: 1000
        health:
          $ref: "#/components/schemas/HealthResponse"
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    # Error schema - ОБЯЗАТЕЛЬНО для всех доменов
    Error:
      type: object
      required:
        - code
        - message
      properties:
        message:
          type: string
          maxLength: 256
          example: Internal server error
        code:
          type: integer
          format: int32
          minimum: 100
          maximum: 599
          example: 500
        domain:
          type: string
          example: example-domain
          maxLength: 50
        details:
          type: object
          description: Additional error context
          example: { "field": "name", "reason": "required" }
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    # Domain-specific schemas - ЗАМЕНИТЬ на реальные схемы домена

    # Core Example entity - ОБЯЗАТЕЛЬНО оптимизировать порядок полей
    Example:
      type: object
      required:
        - id
        - name
        - created_at
        - status
        - is_active
      properties:
        # Large fields first for struct alignment
        id:
          type: string
          format: uuid
          description: Example unique identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Example display name
          example: Sample Example
        description:
          type: string
          maxLength: 1000
          description: Detailed description
          example: This is a comprehensive example demonstrating best practices.
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2025-12-21T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2025-12-21T10:00:00Z"
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Processing priority
          example: 7
        status:
          type: string
          enum: [ active, inactive, pending, archived ]
          default: active
          description: Current status
          example: active
        is_active:
          type: boolean
          description: Whether this example is active
          example: true
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Associated tags
          example: [ "demo", "template", "best-practice" ]
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%. Hot path optimization required."

    # Request/Response schemas
    CreateExampleRequest:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Desired example name
          example: My New Example
        description:
          type: string
          maxLength: 1000
          description: Example description
          example: A new example following enterprise-grade patterns.
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Processing priority
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Initial tags
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    UpdateExampleRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: New example name
          example: Updated Example Name
        description:
          type: string
          maxLength: 1000
          description: New description
        priority:
          type: integer
          minimum: 1
          maximum: 10
          description: New priority
        status:
          type: string
          enum: [ active, inactive, pending, archived ]
          description: New status
        is_active:
          type: boolean
          description: Update active status
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Replace all tags
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    ExampleResponse:
      type: object
      required:
        - example
      properties:
        example:
          $ref: "#/components/schemas/Example"
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%."

    ExampleListResponse:
      type: object
      required:
        - examples
        - total_count
        - has_more
      properties:
        examples:
          type: array
          items:
            $ref: "#/components/schemas/Example"
          description: List of examples
        total_count:
          type: integer
          description: Total number of examples matching criteria
          example: 150
        has_more:
          type: boolean
          description: Whether there are more results available
          example: true
        page:
          type: integer
          description: Current page number
          example: 1
        limit:
          type: integer
          description: Items per page
          example: 20
      description: "BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%. Paginated responses optimized for memory efficiency."
