openapi: 3.0.3
info:
  title: Seasonal Challenges Service API
  description: '**Enterprise-grade API for Seasonal Challenges System**


    ## Domain Purpose

    Manages seasonal challenges, trials, and competitive events with real-time progression
    tracking, rewards distribution, and leaderboards for MMOFPS RPG gameplay.


    ## Performance Targets

    - P99 Latency: <50ms for all endpoints

    - Memory per Instance: <50KB baseline

    - Concurrent Users: 10,000+ supported

    - Uptime: 99.9% SLA


    ## Domain Inheritance

    This service inherits from seasonal-challenges-entities.yaml providing:

    - Consistent base entity structure (id, timestamps, version)

    - Domain-specific business entities

    - Optimistic locking for concurrent operations

    - Strict typing with validation rules

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Team
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/seasonal-challenges
  description: Production environment
- url: https://staging-api.necpgame.com/v1/seasonal-challenges
  description: Staging environment
- url: http://localhost:8080/api/v1/seasonal-challenges
  description: Local development
security:
- BearerAuth: []
tags:
- name: Seasonal Challenges
  description: Core seasonal challenges operations
- name: Leaderboards
  description: Seasonal leaderboard management and rankings
- name: Rewards
  description: Seasonal rewards distribution and claiming
- name: Events
  description: Real-time seasonal events and notifications
- name: Health Monitoring
  description: Service health and performance monitoring
- name: Administration
  description: Administrative operations
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /health/detailed:
    $ref: ./paths/health-detailed.yaml#/paths/~1health~1detailed
  /health/batch:
    $ref: ./paths/health-batch.yaml#/paths/~1health~1batch
  /health/ws:
    $ref: ./paths/health-ws.yaml#/paths/~1health~1ws
  /seasons:
    $ref: ./paths/seasons.yaml#/paths/~1seasons
  /seasons/{season_id}:
    $ref: ./paths/seasons-{season_id}.yaml#/paths/~1seasons~1{season_id}
  /seasons/{season_id}/challenges:
    $ref: ./paths/seasons-{season_id}-challenges.yaml#/paths/~1seasons~1{season_id}~1challenges
  /challenges/{challenge_id}/progress:
    $ref: ./paths/challenges-{challenge_id}-progress.yaml#/paths/~1challenges~1{challenge_id}~1progress
  /leaderboards/{season_id}:
    $ref: ./paths/leaderboards-{season_id}.yaml#/paths/~1leaderboards~1{season_id}
  /rewards/{player_id}/claim:
    $ref: ./paths/rewards-{player_id}-claim.yaml#/paths/~1rewards~1{player_id}~1claim
  /ws/events:
    $ref: ./paths/ws-events.yaml#/paths/~1ws~1events
  /events/{season_id}/broadcast:
    $ref: ./paths/events-{season_id}-broadcast.yaml#/paths/~1events~1{season_id}~1broadcast
components:
  schemas:
    Season:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/Season
    SeasonSummary:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/SeasonSummary
    Challenge:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/Challenge
    ChallengeWithProgress:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/ChallengeWithProgress
    ChallengeObjective:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/ChallengeObjective
    ChallengeProgress:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/ChallengeProgress
    ObjectiveProgress:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/ObjectiveProgress
    SeasonLeaderboard:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/SeasonLeaderboard
    LeaderboardEntry:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/LeaderboardEntry
    Reward:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/Reward
    SeasonRewardPool:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/SeasonRewardPool
    ClaimedRewards:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/ClaimedRewards
    CreateSeasonRequest:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/CreateSeasonRequest
    UpdateSeasonRequest:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/UpdateSeasonRequest
    UpdateProgressRequest:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/UpdateProgressRequest
    ClaimRewardsRequest:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/ClaimRewardsRequest
    BroadcastEventRequest:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/BroadcastEventRequest
    SeasonalChallengesConfiguration:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/SeasonalChallengesConfiguration
    SeasonalChallengeAuditLog:
      $ref: ./schemas/seasonal-challenges-service-schemas.yaml#/components/schemas/SeasonalChallengeAuditLog
  responses:
    OK:
      $ref: ./schemas/seasonal-challenges-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/seasonal-challenges-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/seasonal-challenges-service-responses.yaml#/components/responses/Updated
    Deleted:
      $ref: ./schemas/seasonal-challenges-service-responses.yaml#/components/responses/Deleted
    ChallengeCompletedSuccess:
      $ref: ./schemas/seasonal-challenges-service-responses.yaml#/components/responses/ChallengeCompletedSuccess
    BadRequest:
      $ref: ./schemas/seasonal-challenges-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/seasonal-challenges-service-responses.yaml#/components/responses/Unauthorized
    Forbidden:
      $ref: ./schemas/seasonal-challenges-service-responses.yaml#/components/responses/Forbidden
    NotFound:
      $ref: ./schemas/seasonal-challenges-service-responses.yaml#/components/responses/NotFound
    Conflict:
      $ref: ./schemas/seasonal-challenges-service-responses.yaml#/components/responses/Conflict
    TooManyRequests:
      $ref: ./schemas/seasonal-challenges-service-responses.yaml#/components/responses/TooManyRequests
    InternalServerError:
      $ref: ./schemas/seasonal-challenges-service-responses.yaml#/components/responses/InternalServerError
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/components/securitySchemes/BearerAuth
    ApiKeyAuth:
      $ref: ../common/security/security.yaml#/components/securitySchemes/ApiKeyAuth
    ServiceAuth:
      type: http
      scheme: bearer
      description: Service-to-service authentication
