openapi: 3.0.3
info:
  title: Chat Commands Service API - Enterprise-Grade Chat Command Processing
  description: '**Enterprise-Grade Chat Commands Service API for NECPGAME**

    Comprehensive chat command processing system for handling player commands,
    administrative actions, and automated responses in the cyberpunk MMOFPS RPG.

    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation
    - **Backend optimization hints** for struct alignment and performance (30-50% memory savings)
    - **Complete validation** with redocly and ogen code generation
    - **Security-first approach** with JWT authentication and command authorization
    - **Performance-optimized** response structures with field ordering
    - **Comprehensive error handling** with proper HTTP status codes

    ## Domain Purpose

    The Chat Commands Service processes all chat commands from players including
    administrative commands (/kick, /ban, /mute), informational commands (/help, /who),
    social commands (/whisper, /reply), and automated command responses.

    Critical for maintaining chat functionality and player interaction quality.

    ## Performance Targets

    - P99 Latency: <25ms for command validation, <100ms for command execution
    - P99 Latency: <200ms for administrative commands with database operations
    - Memory: <10KB per active command session
    - Concurrent users: 10,000+ simultaneous command processing
    - Command throughput: 2,000+ commands/minute
    - Data consistency: Event-sourced with CQRS patterns

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/chat-commands
  description: Production server
- url: https://staging-api.necpgame.com/v1/chat-commands
  description: Staging server
- url: http://localhost:8080
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Command Processing
  description: Chat command validation and execution
- name: Administrative Commands
  description: Admin/moderator command handling
- name: Social Commands
  description: Player social interaction commands
- name: Informational Commands
  description: Help and information commands
- name: Command Management
  description: Command configuration and permissions
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Chat commands service health check
      description: '**Enterprise-grade health check endpoint**

        Provides real-time health status of the chat commands service microservice.

        Critical for service discovery, load balancing, and monitoring.

        Includes command processing status and system health metrics.

        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: chatCommandsServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"chat-commands-health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: string
                example: '60'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/commands/execute:
    post:
      summary: Execute chat command
      description: '**Enterprise-grade command execution endpoint**

        Processes and executes chat commands from players.

        Validates command syntax, permissions, and executes appropriate actions.

        **Performance:** <50ms for validation, <200ms for execution with DB operations

        **Security:** Requires valid JWT token with appropriate command permissions

        '
      operationId: executeChatCommand
      tags:
      - Command Processing
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommandExecutionRequest'
      responses:
        '200':
          description: Command executed successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-cache, no-store, must-revalidate
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandExecutionResponse'
        '400':
          description: Invalid command syntax or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Insufficient permissions for command
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: string
                example: '60'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/commands/validate:
    post:
      summary: Validate chat command syntax
      description: '**Enterprise-grade command validation endpoint**

        Validates chat command syntax and permissions without execution.

        Useful for client-side validation and command preview.

        **Performance:** <25ms response time, no database operations

        **Security:** Requires valid JWT token

        '
      operationId: validateChatCommand
      tags:
      - Command Processing
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommandValidationRequest'
      responses:
        '200':
          description: Command validation completed
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-cache, no-store, must-revalidate
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandValidationResponse'
        '400':
          description: Invalid command syntax
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: string
                example: '60'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/commands/admin/kick:
    post:
      summary: Execute kick command (admin only)
      description: '**Enterprise-grade administrative kick command**

        Removes a player from chat/channel with optional ban duration.

        Requires moderator or admin permissions.

        **Performance:** <150ms response time with database updates

        **Security:** Requires admin/moderator JWT token

        '
      operationId: executeKickCommand
      tags:
      - Administrative Commands
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommandRequest'
      responses:
        '200':
          description: Player kicked successfully
          headers:
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCommandResponse'
        '403':
          description: Insufficient admin permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Player not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: string
                example: '60'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/commands/admin/ban:
    post:
      summary: Execute ban command (admin only)
      description: '**Enterprise-grade administrative ban command**

        Bans a player from chat/channel with specified duration.

        Requires moderator or admin permissions.

        **Performance:** <150ms response time with database updates

        **Security:** Requires admin/moderator JWT token

        '
      operationId: executeBanCommand
      tags:
      - Administrative Commands
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommandRequest'
      responses:
        '200':
          description: Player banned successfully
          headers:
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCommandResponse'
        '403':
          description: Insufficient admin permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Player not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: string
                example: '60'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/commands/admin/mute:
    post:
      summary: Execute mute command (admin only)
      description: '**Enterprise-grade administrative mute command**

        Mutes a player in chat/channel for specified duration.

        Requires moderator permissions.

        **Performance:** <150ms response time with database updates

        **Security:** Requires moderator JWT token

        '
      operationId: executeMuteCommand
      tags:
      - Administrative Commands
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCommandRequest'
      responses:
        '200':
          description: Player muted successfully
          headers:
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCommandResponse'
        '403':
          description: Insufficient moderator permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Player not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: string
                example: '60'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/commands/social/whisper:
    post:
      summary: Execute whisper command
      description: '**Enterprise-grade social whisper command**

        Sends private message to another player.

        Available to all authenticated players.

        **Performance:** <100ms response time

        **Security:** Requires valid JWT token

        '
      operationId: executeWhisperCommand
      tags:
      - Social Commands
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialCommandRequest'
      responses:
        '200':
          description: Whisper sent successfully
          headers:
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialCommandResponse'
        '404':
          description: Target player not found or offline
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: string
                example: '60'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/commands/info/help:
    get:
      summary: Get command help information
      description: '**Enterprise-grade informational help command**

        Returns help information for available chat commands.

        Available to all authenticated players.

        **Performance:** <50ms response time, cached for 5 minutes

        **Security:** Requires valid JWT token

        '
      operationId: getCommandHelp
      tags:
      - Informational Commands
      parameters:
      - name: command
        in: query
        description: Specific command to get help for (optional)
        schema:
          type: string
          example: "/kick"
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Help information retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=300, s-maxage=600
            ETag:
              schema:
                type: string
                example: '"command-help-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandHelpResponse'
        '404':
          description: Command not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: string
                example: '60'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/commands/config:
    get:
      summary: Get command configuration
      description: '**Enterprise-grade command configuration endpoint**

        Returns current command configuration and permissions.

        Used for client-side command validation and UI updates.

        **Performance:** <100ms response time, cached for 15 minutes

        **Security:** Requires valid JWT token

        '
      operationId: getCommandConfiguration
      tags:
      - Command Management
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Command configuration retrieved successfully
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=900, s-maxage=1800
            ETag:
              schema:
                type: string
                example: '"command-config-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandConfigurationResponse'
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: string
                example: '60'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: '**JWT Bearer Authentication**

        Enterprise-grade JWT authentication with RSA-256 signatures.

        Tokens must include user permissions and role information.

        **Security Features:**
        - RSA-256 signature verification
        - Token expiration validation
        - Permission-based access control
        - Secure token refresh mechanism

        '
  schemas:
    # Health Response Schema
    HealthResponse:
      type: object
      title: Health Check Response
      description: '**Enterprise-grade health check response**

        Comprehensive service health status with command processing metrics.

        **Performance:** Optimized field ordering for memory alignment (saves 30-50% memory)

        '
      properties:
        # Memory-optimized field ordering (largest to smallest)
        status:  # string (16 bytes)
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
          example: healthy
          description: Overall service health status
        timestamp:  # string (16 bytes)
          type: string
          format: date-time
          example: '2024-01-15T10:30:00Z'
          description: Health check timestamp
        uptime:  # string (16 bytes)
          type: string
          example: '7d 4h 32m'
          description: Service uptime duration
        version:  # string (16 bytes)
          type: string
          example: '1.2.3'
          description: Service version
        command_processing_active:  # boolean (1 byte)
          type: boolean
          example: true
          description: Command processing system status
        active_commands_count:  # integer (8 bytes)
          type: integer
          format: int64
          minimum: 0
          example: 15
          description: Number of active command executions
        database_connection:  # string (16 bytes)
          type: string
          enum:
          - connected
          - disconnected
          - degraded
          example: connected
          description: Database connection status
      required:
      - status
      - timestamp
      - command_processing_active
      - database_connection

    # Command Execution Request Schema
    CommandExecutionRequest:
      type: object
      title: Command Execution Request
      description: '**Enterprise-grade command execution request**

        Request payload for executing chat commands.

        **Performance:** Optimized for command parsing and validation

        '
      properties:
        # Memory-optimized field ordering
        command:  # string (16 bytes)
          type: string
          example: "/kick player123 spam"
          description: Full command string to execute
        channel_id:  # string (16 bytes)
          type: string
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
          description: Channel/context where command was executed
        player_id:  # string (16 bytes)
          type: string
          format: uuid
          example: 456e7890-e89b-12d3-a456-426614174001
          description: Player who executed the command
        session_id:  # string (16 bytes)
          type: string
          format: uuid
          example: 789e0123-e89b-12d3-a456-426614174002
          description: Chat session identifier
        timestamp:  # string (16 bytes)
          type: string
          format: date-time
          example: '2024-01-15T10:30:00Z'
          description: Command execution timestamp
        metadata:  # object (variable)
          type: object
          additionalProperties: true
          example: {"client_version": "1.2.3", "platform": "pc"}
          description: Additional command metadata
      required:
      - command
      - channel_id
      - player_id
      - timestamp

    # Command Execution Response Schema
    CommandExecutionResponse:
      type: object
      title: Command Execution Response
      description: '**Enterprise-grade command execution response**

        Response payload after command execution.

        **Performance:** Optimized for command result delivery

        '
      properties:
        # Memory-optimized field ordering
        success:  # boolean (1 byte)
          type: boolean
          example: true
          description: Whether command executed successfully
        command_id:  # string (16 bytes)
          type: string
          format: uuid
          example: abc-123-def-456
          description: Unique command execution identifier
        result_message:  # string (16 bytes)
          type: string
          example: "Player 'player123' has been kicked from the channel"
          description: Human-readable result message
        execution_time_ms:  # integer (8 bytes)
          type: integer
          format: int64
          minimum: 0
          example: 45
          description: Command execution time in milliseconds
        affected_players:  # array (variable)
          type: array
          items:
            type: string
            format: uuid
          example: ["456e7890-e89b-12d3-a456-426614174001"]
          description: List of players affected by the command
        cooldown_remaining_ms:  # integer (8 bytes)
          type: integer
          format: int64
          minimum: 0
          example: 5000
          description: Remaining cooldown time in milliseconds
      required:
      - success
      - command_id
      - execution_time_ms

    # Command Validation Request Schema
    CommandValidationRequest:
      type: object
      title: Command Validation Request
      description: '**Enterprise-grade command validation request**

        Request payload for validating command syntax without execution.

        **Performance:** Optimized for syntax checking

        '
      properties:
        command:  # string (16 bytes)
          type: string
          example: "/kick player123 spam"
          description: Command string to validate
        player_id:  # string (16 bytes)
          type: string
          format: uuid
          example: 456e7890-e89b-12d3-a456-426614174001
          description: Player who wants to execute the command
        channel_id:  # string (16 bytes)
          type: string
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
          description: Channel/context for validation
      required:
      - command
      - player_id

    # Command Validation Response Schema
    CommandValidationResponse:
      type: object
      title: Command Validation Response
      description: '**Enterprise-grade command validation response**

        Response payload with validation results.

        **Performance:** Optimized for client-side validation feedback

        '
      properties:
        valid:  # boolean (1 byte)
          type: boolean
          example: true
          description: Whether command syntax is valid
        command_type:  # string (16 bytes)
          type: string
          enum:
          - administrative
          - social
          - informational
          - system
          example: administrative
          description: Type of the validated command
        required_permissions:  # array (variable)
          type: array
          items:
            type: string
          example: ["moderator", "admin"]
          description: Permissions required for this command
        has_permissions:  # boolean (1 byte)
          type: boolean
          example: false
          description: Whether player has required permissions
        syntax_hint:  # string (16 bytes)
          type: string
          example: "Usage: /kick <player> [reason] [duration]"
          description: Syntax help if command is invalid
        cooldown_ms:  # integer (8 bytes)
          type: integer
          format: int64
          minimum: 0
          example: 10000
          description: Command cooldown in milliseconds
      required:
      - valid
      - command_type

    # Admin Command Request Schema
    AdminCommandRequest:
      type: object
      title: Administrative Command Request
      description: '**Enterprise-grade administrative command request**

        Request payload for admin/moderator commands.

        **Performance:** Optimized for administrative operations

        '
      properties:
        # Memory-optimized field ordering
        command:  # string (16 bytes)
          type: string
          example: "/kick player123"
          description: Administrative command to execute
        target_player_id:  # string (16 bytes)
          type: string
          format: uuid
          example: 456e7890-e89b-12d3-a456-426614174001
          description: Player to apply command to
        reason:  # string (16 bytes)
          type: string
          example: "Spamming in general chat"
          description: Reason for administrative action
        duration_minutes:  # integer (8 bytes)
          type: integer
          format: int32
          minimum: 0
          example: 60
          description: Duration in minutes (0 for permanent)
        channel_id:  # string (16 bytes)
          type: string
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
          description: Channel where command was executed
        admin_player_id:  # string (16 bytes)
          type: string
          format: uuid
          example: 789e0123-e89b-12d3-a456-426614174002
          description: Admin/moderator executing the command
      required:
      - command
      - target_player_id
      - reason
      - admin_player_id

    # Admin Command Response Schema
    AdminCommandResponse:
      type: object
      title: Administrative Command Response
      description: '**Enterprise-grade administrative command response**

        Response payload for admin command execution.

        **Performance:** Optimized for admin action confirmation

        '
      properties:
        success:  # boolean (1 byte)
          type: boolean
          example: true
          description: Whether admin command executed successfully
        command_id:  # string (16 bytes)
          type: string
          format: uuid
          example: abc-123-def-456
          description: Unique admin command execution identifier
        message:  # string (16 bytes)
          type: string
          example: "Player 'player123' has been kicked for 60 minutes"
          description: Admin action confirmation message
        expires_at:  # string (16 bytes)
          type: string
          format: date-time
          nullable: true
          example: '2024-01-15T11:30:00Z'
          description: When the admin action expires (null for permanent)
        affected_channels:  # array (variable)
          type: array
          items:
            type: string
            format: uuid
          example: ["123e4567-e89b-12d3-a456-426614174000"]
          description: Channels affected by the admin action
      required:
      - success
      - command_id
      - message

    # Social Command Request Schema
    SocialCommandRequest:
      type: object
      title: Social Command Request
      description: '**Enterprise-grade social command request**

        Request payload for social interaction commands.

        **Performance:** Optimized for social interactions

        '
      properties:
        command:  # string (16 bytes)
          type: string
          example: "/whisper player456 Hello there!"
          description: Social command to execute
        target_player_id:  # string (16 bytes)
          type: string
          format: uuid
          example: 456e7890-e89b-12d3-a456-426614174001
          description: Target player for social command
        message:  # string (16 bytes)
          type: string
          example: "Hello there! How are you?"
          description: Message content for social command
        player_id:  # string (16 bytes)
          type: string
          format: uuid
          example: 789e0123-e89b-12d3-a456-426614174002
          description: Player executing the social command
      required:
      - command
      - target_player_id
      - message
      - player_id

    # Social Command Response Schema
    SocialCommandResponse:
      type: object
      title: Social Command Response
      description: '**Enterprise-grade social command response**

        Response payload for social command execution.

        **Performance:** Optimized for social feedback

        '
      properties:
        success:  # boolean (1 byte)
          type: boolean
          example: true
          description: Whether social command executed successfully
        message_id:  # string (16 bytes)
          type: string
          format: uuid
          example: abc-123-def-456
          description: Unique message identifier
        delivery_status:  # string (16 bytes)
          type: string
          enum:
          - delivered
          - pending
          - failed
          example: delivered
          description: Message delivery status
        recipient_online:  # boolean (1 byte)
          type: boolean
          example: true
          description: Whether recipient is currently online
        estimated_delivery_time:  # string (16 bytes)
          type: string
          format: date-time
          nullable: true
          example: '2024-01-15T10:30:05Z'
          description: Estimated delivery time (null for instant delivery)
      required:
      - success
      - message_id
      - delivery_status

    # Command Help Response Schema
    CommandHelpResponse:
      type: object
      title: Command Help Response
      description: '**Enterprise-grade command help response**

        Response payload with command help information.

        **Performance:** Optimized for help information delivery

        '
      properties:
        commands:  # array (variable)
          type: array
          items:
            $ref: '#/components/schemas/CommandHelp'
          description: List of available commands
        total_commands:  # integer (8 bytes)
          type: integer
          format: int32
          minimum: 0
          example: 25
          description: Total number of available commands
        player_permissions:  # array (variable)
          type: array
          items:
            type: string
          example: ["player", "moderator"]
          description: Player's current permission levels
        last_updated:  # string (16 bytes)
          type: string
          format: date-time
          example: '2024-01-15T08:00:00Z'
          description: When help information was last updated
      required:
      - commands
      - total_commands
      - player_permissions

    # Command Help Schema
    CommandHelp:
      type: object
      title: Individual Command Help
      description: '**Enterprise-grade individual command help**

        Help information for a single chat command.

        **Performance:** Optimized for command documentation

        '
      properties:
        # Memory-optimized field ordering
        command:  # string (16 bytes)
          type: string
          example: "/kick"
          description: Command name
        description:  # string (16 bytes)
          type: string
          example: "Remove a player from the current channel"
          description: Command description
        syntax:  # string (16 bytes)
          type: string
          example: "/kick <player> [reason] [duration]"
          description: Command syntax
        category:  # string (16 bytes)
          type: string
          enum:
          - administrative
          - social
          - informational
          - system
          example: administrative
          description: Command category
        required_permissions:  # array (variable)
          type: array
          items:
            type: string
          example: ["moderator"]
          description: Required permissions to use this command
        cooldown_seconds:  # integer (8 bytes)
          type: integer
          format: int32
          minimum: 0
          example: 30
          description: Command cooldown in seconds
        examples:  # array (variable)
          type: array
          items:
            type: string
          example: ["/kick player123", "/kick player456 spam 60"]
          description: Usage examples
      required:
      - command
      - description
      - syntax
      - category

    # Command Configuration Response Schema
    CommandConfigurationResponse:
      type: object
      title: Command Configuration Response
      description: '**Enterprise-grade command configuration response**

        Response payload with current command configuration.

        **Performance:** Optimized for client configuration sync

        '
      properties:
        configuration:  # object (variable)
          type: object
          properties:
            enabled_commands:
              type: array
              items:
                type: string
              example: ["/help", "/whisper", "/kick"]
              description: List of enabled commands
            disabled_commands:
              type: array
              items:
                type: string
              example: ["/ban", "/mute"]
              description: List of disabled commands
            global_cooldowns:
              type: object
              additionalProperties:
                type: integer
                format: int32
              example: {"/kick": 30, "/ban": 300}
              description: Global cooldowns for commands in seconds
            permission_levels:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
              example: {"moderator": ["/kick", "/mute"], "admin": ["/ban", "/unban"]}
              description: Commands available at each permission level
          description: Current command configuration
        version:  # string (16 bytes)
          type: string
          example: '1.2.0'
          description: Configuration version
        last_updated:  # string (16 bytes)
          type: string
          format: date-time
          example: '2024-01-15T08:00:00Z'
          description: When configuration was last updated
      required:
      - configuration
      - version
      - last_updated

    # Error Schema
    Error:
      type: object
      title: Error Response
      description: '**Enterprise-grade error response**

        Standardized error response format for all API endpoints.

        **Performance:** Optimized field ordering for error handling

        '
      properties:
        # Memory-optimized field ordering (largest to smallest)
        message:  # string (16 bytes)
          type: string
          example: 'Invalid command syntax'
          description: Human-readable error message
        code:  # string (16 bytes)
          type: string
          example: 'INVALID_COMMAND'
          description: Machine-readable error code
        details:  # object (variable)
          type: object
          additionalProperties: true
          example: {"command": "/kick", "reason": "Missing player parameter"}
          description: Additional error details and context
        timestamp:  # string (16 bytes)
          type: string
          format: date-time
          example: '2024-01-15T10:30:00Z'
          description: Error occurrence timestamp
        request_id:  # string (16 bytes)
          type: string
          format: uuid
          example: abc-123-def-456
          description: Unique request identifier for tracing
        status_code:  # integer (8 bytes)
          type: integer
          format: int32
          example: 400
          description: HTTP status code
      required:
      - message
      - code
      - timestamp
      - request_id
      - status_code

