openapi: 3.0.3
info:
  title: Chat Commands Service API - Enterprise-Grade Chat Command Processing
  description: '**Enterprise-Grade Chat Commands Service API for NECPGAME**

    Comprehensive chat command processing system for handling player commands, administrative
    actions, and automated responses in the cyberpunk MMOFPS RPG.

    ## Key Features

    - **Enterprise-grade architecture** with proper domain separation - **Backend
    optimization hints** for struct alignment and performance (30-50% memory savings)
    - **Complete validation** with redocly and ogen code generation - **Security-first
    approach** with JWT authentication and command authorization - **Performance-optimized**
    response structures with field ordering - **Comprehensive error handling** with
    proper HTTP status codes

    ## Domain Purpose

    The Chat Commands Service processes all chat commands from players including administrative
    commands (/kick, /ban, /mute), informational commands (/help, /who), social commands
    (/whisper, /reply), and automated command responses.

    Critical for maintaining chat functionality and player interaction quality.

    ## Performance Targets

    - P99 Latency: <25ms for command validation, <100ms for command execution - P99
    Latency: <200ms for administrative commands with database operations - Memory:
    <10KB per active command session - Concurrent users: 10,000+ simultaneous command
    processing - Command throughput: 2,000+ commands/minute - Data consistency: Event-sourced
    with CQRS patterns

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/chat-commands
  description: Production server
- url: https://staging-api.necpgame.com/v1/chat-commands
  description: Staging server
- url: http://localhost:8080
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Command Processing
  description: Chat command validation and execution
- name: Administrative Commands
  description: Admin/moderator command handling
- name: Social Commands
  description: Player social interaction commands
- name: Informational Commands
  description: Help and information commands
- name: Command Management
  description: Command configuration and permissions
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /api/v1/commands/execute:
    $ref: ./paths/api-v1-commands-execute.yaml#/paths/~1api~1v1~1commands~1execute
  /api/v1/commands/validate:
    $ref: ./paths/api-v1-commands-validate.yaml#/paths/~1api~1v1~1commands~1validate
  /api/v1/commands/admin/kick:
    $ref: ./paths/api-v1-commands-admin-kick.yaml#/paths/~1api~1v1~1commands~1admin~1kick
  /api/v1/commands/admin/ban:
    $ref: ./paths/api-v1-commands-admin-ban.yaml#/paths/~1api~1v1~1commands~1admin~1ban
  /api/v1/commands/admin/mute:
    $ref: ./paths/api-v1-commands-admin-mute.yaml#/paths/~1api~1v1~1commands~1admin~1mute
  /api/v1/commands/social/whisper:
    $ref: ./paths/api-v1-commands-social-whisper.yaml#/paths/~1api~1v1~1commands~1social~1whisper
  /api/v1/commands/info/help:
    $ref: ./paths/api-v1-commands-info-help.yaml#/paths/~1api~1v1~1commands~1info~1help
  /api/v1/commands/config:
    $ref: ./paths/api-v1-commands-config.yaml#/paths/~1api~1v1~1commands~1config
components:
  schemas:
    HealthResponse:
      $ref: ./schemas/chat-commands-service-schemas.yaml#/components/schemas/HealthResponse
    CommandExecutionRequest:
      $ref: ./schemas/chat-commands-service-schemas.yaml#/components/schemas/CommandExecutionRequest
    CommandExecutionResponse:
      $ref: ./schemas/chat-commands-service-schemas.yaml#/components/schemas/CommandExecutionResponse
    CommandValidationRequest:
      $ref: ./schemas/chat-commands-service-schemas.yaml#/components/schemas/CommandValidationRequest
    CommandValidationResponse:
      $ref: ./schemas/chat-commands-service-schemas.yaml#/components/schemas/CommandValidationResponse
    AdminCommandRequest:
      $ref: ./schemas/chat-commands-service-schemas.yaml#/components/schemas/AdminCommandRequest
    AdminCommandResponse:
      $ref: ./schemas/chat-commands-service-schemas.yaml#/components/schemas/AdminCommandResponse
    SocialCommandRequest:
      $ref: ./schemas/chat-commands-service-schemas.yaml#/components/schemas/SocialCommandRequest
    SocialCommandResponse:
      $ref: ./schemas/chat-commands-service-schemas.yaml#/components/schemas/SocialCommandResponse
    CommandHelpResponse:
      $ref: ./schemas/chat-commands-service-schemas.yaml#/components/schemas/CommandHelpResponse
    CommandHelp:
      $ref: ./schemas/chat-commands-service-schemas.yaml#/components/schemas/CommandHelp
    CommandConfigurationResponse:
      $ref: ./schemas/chat-commands-service-schemas.yaml#/components/schemas/CommandConfigurationResponse
    Error:
      $ref: ./schemas/chat-commands-service-schemas.yaml#/components/schemas/Error
  responses: {}
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: '**JWT Bearer Authentication**

        Enterprise-grade JWT authentication with RSA-256 signatures.

        Tokens must include user permissions and role information.

        **Security Features:** - RSA-256 signature verification - Token expiration
        validation - Permission-based access control - Secure token refresh mechanism

        '
