openapi: 3.0.3
info:
  title: Mail Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Mail Management API for NECPGAME**

    This API manages character mail, notifications, and messaging systems in the Night
    City universe, providing comprehensive mail delivery, attachment handling, and
    communication tracking with anti-spam and moderation features.

    ## Key Features

    - **Mail Delivery**: Real-time mail delivery with attachment support - **Notification
    System**: Push notifications and in-game alerts - **Attachment Handling**: Secure
    item and currency transfers via mail - **Anti-Spam Protection**: Advanced spam
    detection and moderation - **Bulk Messaging**: Mass mailings and system announcements
    - **Performance Optimized**: MMOFPS-grade performance with <8ms P99 latency -
    **Struct Alignment**: 35-55% memory savings for mail structs

    ## Domain Purpose

    The Mail domain handles all character communications and notifications in Night
    City. Players send messages, trade items, and receive system notifications through
    a comprehensive mail system that ensures secure and reliable delivery.

    ## Performance Targets

    - P99 Latency: <8ms for mail operations - Memory: <6KB per active mail session
    - Concurrent users: 65,000+ simultaneous mail operations - Delivery rate: 5000+
    messages per second

    '
  version: 1.0.0
  license:
    name: Proprietary
    url: https://necpgame.com/license
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@mail-delivery.necpgame.com
servers:
- url: https://api.necpgame.com/v1/mail
  description: Production server
- url: https://staging-api.necpgame.com/v1/mail
  description: Staging server
- url: http://localhost:8080/api/v1/mail
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Mail Management
  description: Mail lifecycle operations
- name: Mail Delivery
  description: Sending and receiving mail
- name: Mail Attachments
  description: Item and currency attachments
- name: Mail Notifications
  description: Push notifications and alerts
- name: Mail Moderation
  description: Spam detection and content moderation
- name: Bulk Messaging
  description: Mass mailings and announcements
- name: Anti-Spam
  description: Spam prevention and filtering
- name: Mail Analytics
  description: Mail statistics and reporting
- name: AI Training
  description: AI-powered mail learning and adaptation
- name: AI Recommendations
  description: Personalized mail recommendations
paths:
  /health:
    $ref: ./paths/health.yaml#/paths/~1health
  /mail:
    $ref: ./paths/mail.yaml#/paths/~1mail
  /mail/{mail_id}:
    $ref: ./paths/mail-{mail_id}.yaml#/paths/~1mail~1{mail_id}
  /mail/{mail_id}/read:
    $ref: ./paths/mail-{mail_id}-read.yaml#/paths/~1mail~1{mail_id}~1read
  /mail/{mail_id}/archive:
    $ref: ./paths/mail-{mail_id}-archive.yaml#/paths/~1mail~1{mail_id}~1archive
  /mail/{mail_id}/attachments/claim:
    $ref: ./paths/mail-{mail_id}-attachments-claim.yaml#/paths/~1mail~1{mail_id}~1attachments~1claim
  /mail/batch:
    $ref: ./paths/mail-batch.yaml#/paths/~1mail~1batch
  /mail/bulk/send:
    $ref: ./paths/mail-bulk-send.yaml#/paths/~1mail~1bulk~1send
  /mail/notifications:
    $ref: ./paths/mail-notifications.yaml#/paths/~1mail~1notifications
  /mail/search:
    $ref: ./paths/mail-search.yaml#/paths/~1mail~1search
  /mail/analytics/summary:
    $ref: ./paths/mail-analytics-summary.yaml#/paths/~1mail~1analytics~1summary
  /mail/moderation/report:
    $ref: ./paths/mail-moderation-report.yaml#/paths/~1mail~1moderation~1report
  /mail/validate:
    $ref: ./paths/mail-validate.yaml#/paths/~1mail~1validate
  /mail/adaptive/train:
    $ref: ./paths/mail-adaptive-train.yaml#/paths/~1mail~1adaptive~1train
  /mail/adaptive/recommend:
    $ref: ./paths/mail-adaptive-recommend.yaml#/paths/~1mail~1adaptive~1recommend
components:
  schemas:
    Error:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/Error
    Mail:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/Mail
    MailAttachment:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/MailAttachment
    SendMailRequest:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/SendMailRequest
    SendMailResponse:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/SendMailResponse
    ListMailResponse:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/ListMailResponse
    MailSummary:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/MailSummary
    MailResponse:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/MailResponse
    MarkAsReadRequest:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/MarkAsReadRequest
    MarkAsReadResponse:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/MarkAsReadResponse
    ArchiveMailRequest:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/ArchiveMailRequest
    ArchiveMailResponse:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/ArchiveMailResponse
    ClaimAttachmentsRequest:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/ClaimAttachmentsRequest
    ClaimAttachmentsResponse:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/ClaimAttachmentsResponse
    BatchMailOperationsRequest:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/BatchMailOperationsRequest
    BatchMailOperationsResponse:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/BatchMailOperationsResponse
    SendBulkMailRequest:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/SendBulkMailRequest
    SendBulkMailResponse:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/SendBulkMailResponse
    MailNotificationsResponse:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/MailNotificationsResponse
    SearchMailResponse:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/SearchMailResponse
    MailAnalyticsResponse:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/MailAnalyticsResponse
    ReportMailRequest:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/ReportMailRequest
    ReportMailResponse:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/ReportMailResponse
    ValidateMailRequest:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/ValidateMailRequest
    ValidateMailResponse:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/ValidateMailResponse
    MailTrainingData:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/MailTrainingData
    TrainingResponse:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/TrainingResponse
    MailRecommendations:
      $ref: ./schemas/mail-service-schemas.yaml#/components/schemas/MailRecommendations
  responses:
    OK:
      $ref: ./schemas/mail-service-responses.yaml#/components/responses/OK
    Created:
      $ref: ./schemas/mail-service-responses.yaml#/components/responses/Created
    Updated:
      $ref: ./schemas/mail-service-responses.yaml#/components/responses/Updated
    Deleted:
      $ref: ./schemas/mail-service-responses.yaml#/components/responses/Deleted
    BadRequest:
      $ref: ./schemas/mail-service-responses.yaml#/components/responses/BadRequest
    Unauthorized:
      $ref: ./schemas/mail-service-responses.yaml#/components/responses/Unauthorized
    NotFound:
      $ref: ./schemas/mail-service-responses.yaml#/components/responses/NotFound
    TooManyRequests:
      $ref: ./schemas/mail-service-responses.yaml#/components/responses/TooManyRequests
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT Bearer token authentication
    AdminAuth:
      type: http
      scheme: bearer
      description: Admin JWT Bearer token authentication
