openapi: 3.0.3
info:
  title: Mail Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Mail Management API for NECPGAME**

    This API manages character mail, notifications, and messaging systems in the Night
    City universe, providing comprehensive mail delivery, attachment handling,
    and communication tracking with anti-spam and moderation features.

    ## Key Features

    - **Mail Delivery**: Real-time mail delivery with attachment support - **Notification System**: Push notifications and in-game alerts - **Attachment Handling**: Secure item and currency transfers via mail - **Anti-Spam Protection**: Advanced spam detection and moderation - **Bulk Messaging**: Mass mailings and system announcements - **Performance Optimized**: MMOFPS-grade performance with <8ms P99 latency - **Struct Alignment**: 35-55% memory savings for mail structs

    ## Domain Purpose

    The Mail domain handles all character communications and notifications in Night
    City. Players send messages, trade items, and receive system notifications through
    a comprehensive mail system that ensures secure and reliable delivery.

    ## Performance Targets

    - P99 Latency: <8ms for mail operations - Memory: <6KB per active mail session - Concurrent users: 65,000+ simultaneous mail operations - Delivery rate: 5000+ messages per second

    '
  version: 1.0.0
  license:
    name: Proprietary
    url: https://necpgame.com/license
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@mail-delivery.necpgame.com
servers:
- url: https://api.necpgame.com/v1/mail
  description: Production server
- url: https://staging-api.necpgame.com/v1/mail
  description: Staging server
- url: http://localhost:8080/api/v1/mail
  description: Local development server
tags:
- name: Mail Management
  description: Mail lifecycle operations
- name: Mail Delivery
  description: Sending and receiving mail
- name: Mail Attachments
  description: Item and currency attachments
- name: Mail Notifications
  description: Push notifications and alerts
- name: Mail Moderation
  description: Spam detection and content moderation
- name: Bulk Messaging
  description: Mass mailings and announcements
- name: Anti-Spam
  description: Spam prevention and filtering
- name: Mail Analytics
  description: Mail statistics and reporting
- name: AI Training
  description: AI-powered mail learning and adaptation
- name: AI Recommendations
  description: Personalized mail recommendations
paths:
  /health:
    get:
      summary: Service health check
      operationId: mailHealthCheck
      tags:
      - Health
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /mail:
    post:
      summary: Send mail
      operationId: mailSendMail
      description: 'Send mail to one or multiple recipients with optional attachments.

        **BACKEND NOTE:** Transactional operation with inventory integration. '
      tags:
      - Mail Delivery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMailRequest'
      responses:
        '201':
          description: Mail sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          description: Insufficient funds for mail cost
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    get:
      summary: List mail
      operationId: mailListMail
      description: Get list of mail for a character with filtering and pagination.
      tags:
      - Mail Management
      parameters:
      - name: character_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: Character ID
      - name: mailbox_type
        in: query
        schema:
          type: string
          enum:
          - inbox
          - sent
          - archive
          - deleted
          default: inbox
        description: Mailbox type to list
      - name: status
        in: query
        schema:
          type: string
          enum:
          - unread
          - read
          - all
          default: all
        description: Mail status filter
      - name: has_attachments
        in: query
        schema:
          type: boolean
        description: Filter by presence of attachments
      - name: sender_filter
        in: query
        schema:
          type: string
          format: uuid
        description: Filter by specific sender
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Maximum number of mails to return
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Number of mails to skip
      responses:
        '200':
          description: List of mail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMailResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /mail/{mail_id}:
    get:
      summary: Get mail details
      operationId: mailGetMail
      description: Get detailed information about a specific mail.
      tags:
      - Mail Management
      parameters:
      - name: mail_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Mail ID
      - name: character_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: Character ID (for access control)
      - name: mark_as_read
        in: query
        schema:
          type: boolean
          default: false
        description: Mark mail as read when retrieving
      responses:
        '200':
          description: Mail details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailResponse'
        '404':
          description: Mail not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
    delete:
      summary: Delete mail
      operationId: mailDeleteMail
      description: 'Move mail to deleted folder or permanently delete.

        **BACKEND NOTE:** Soft delete with retention policy. '
      tags:
      - Mail Management
      parameters:
      - name: mail_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Mail ID
      - name: character_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: Character ID
      - name: permanent
        in: query
        schema:
          type: boolean
          default: false
        description: Permanently delete instead of moving to deleted folder
      responses:
        '204':
          description: Mail deleted successfully
        '404':
          description: Mail not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /mail/{mail_id}/read:
    post:
      summary: Mark mail as read
      operationId: mailMarkAsRead
      description: Mark a specific mail as read.
      tags:
      - Mail Management
      parameters:
      - name: mail_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Mail ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkAsReadRequest'
      responses:
        '200':
          description: Mail marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarkAsReadResponse'
        '404':
          description: Mail not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /mail/{mail_id}/archive:
    post:
      summary: Archive mail
      operationId: mailArchiveMail
      description: Move mail to archive folder.
      tags:
      - Mail Management
      parameters:
      - name: mail_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Mail ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveMailRequest'
      responses:
        '200':
          description: Mail archived successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveMailResponse'
        '404':
          description: Mail not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /mail/{mail_id}/attachments/claim:
    post:
      summary: Claim mail attachments
      operationId: mailClaimAttachments
      description: 'Claim items and currency from mail attachments.

        **BACKEND NOTE:** Transactional operation with inventory integration. '
      tags:
      - Mail Attachments
      parameters:
      - name: mail_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Mail ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimAttachmentsRequest'
      responses:
        '200':
          description: Attachments claimed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimAttachmentsResponse'
        '400':
          description: Mail has no attachments or already claimed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Mail not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Attachment claiming conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /mail/batch:
    post:
      summary: Batch mail operations
      operationId: mailBatchOperations
      description: 'Perform batch operations on multiple mails (delete, archive, mark as read).

        **BACKEND NOTE:** Optimized for bulk operations. '
      tags:
      - Mail Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchMailOperationsRequest'
      responses:
        '200':
          description: Batch operations completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchMailOperationsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /mail/bulk/send:
    post:
      summary: Send bulk mail
      operationId: mailSendBulkMail
      description: 'Send mail to multiple recipients (system announcements, events).

        **BACKEND NOTE:** Admin-only, high-throughput operation. '
      tags:
      - Bulk Messaging
      security:
      - BearerAuth: []
      - AdminAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendBulkMailRequest'
      responses:
        '202':
          description: Bulk mail queued for sending
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendBulkMailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /mail/notifications:
    get:
      summary: Get mail notifications
      operationId: mailGetNotifications
      description: Get unread mail count and recent notifications.
      tags:
      - Mail Notifications
      parameters:
      - name: character_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: Character ID
      - name: include_details
        in: query
        schema:
          type: boolean
          default: false
        description: Include details of unread mails
      responses:
        '200':
          description: Mail notifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailNotificationsResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /mail/search:
    get:
      summary: Search mail
      operationId: mailSearchMail
      description: Search mail by content, sender, subject, etc.
      tags:
      - Mail Management
      parameters:
      - name: character_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: Character ID
      - name: query
        in: query
        schema:
          type: string
          minLength: 1
          maxLength: 100
        description: Search query (subject, body, sender name)
      - name: mailbox_type
        in: query
        schema:
          type: string
          enum:
          - inbox
          - sent
          - archive
          - all
          default: all
        description: Mailbox type to search in
      - name: date_from
        in: query
        schema:
          type: string
          format: date-time
        description: Search from date
      - name: date_to
        in: query
        schema:
          type: string
          format: date-time
        description: Search to date
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
        description: Maximum number of results
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchMailResponse'
        '400':
          description: Invalid search query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /mail/analytics/summary:
    get:
      summary: Get mail analytics
      operationId: mailGetAnalyticsSummary
      description: Get mail usage statistics and analytics.
      tags:
      - Mail Analytics
      parameters:
      - name: character_id
        in: query
        schema:
          type: string
          format: uuid
        description: Character ID for personal analytics (optional)
      - name: timeframe
        in: query
        schema:
          type: string
          enum:
          - day
          - week
          - month
          - all
          default: week
        description: Time period for analytics
      responses:
        '200':
          description: Mail analytics summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailAnalyticsResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /mail/moderation/report:
    post:
      summary: Report mail for moderation
      operationId: mailReportForModeration
      description: Report inappropriate mail content for moderation review.
      tags:
      - Mail Moderation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportMailRequest'
      responses:
        '202':
          description: Report submitted for review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportMailResponse'
        '400':
          description: Invalid report or mail already reported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /mail/validate:
    post:
      summary: Validate mail content
      operationId: mailValidateContent
      description: 'Validate mail content for spam and inappropriate content.

        **BACKEND NOTE:** Anti-spam validation with AI filtering. '
      tags:
      - Anti-Spam
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateMailRequest'
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateMailResponse'
        '400':
          description: Invalid validation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common-service/schemas/error.yaml#/Error
  /mail/adaptive/train:
    post:
      summary: Submit mail data for AI training
      operationId: trainMailAI
      description: 'Submit mail interaction patterns for adaptive AI learning.

        **AI Integration:** Trains models for spam detection and personalization.

        **BACKEND NOTE:** Hot path for AI training data, batched processing.'
      tags:
      - AI Training
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
          schema:
            $ref: '#/components/schemas/MailTrainingData'
      responses:
        '200':
          description: Training data accepted
          content:
            application/json:
            schema:
              $ref: '#/components/schemas/TrainingResponse'
        '400':
          description: Invalid training data
          content:
            application/json:
            schema:
              $ref: '#/components/schemas/Error'
  /mail/adaptive/recommend:
    get:
      summary: Get AI-powered mail recommendations
      operationId: getMailRecommendations
      description: 'Get personalized mail filtering and organization recommendations.

        **AI Integration:** Uses trained models for smart inbox management.'
      tags:
      - AI Recommendations
      security:
      - BearerAuth: []
      parameters:
      - name: character_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
        description: Character ID for personalization
      responses:
        '200':
          description: Mail recommendations
          content:
            application/json:
            schema:
              $ref: '#/components/schemas/MailRecommendations'
        '404':
          description: Character not found
          content:
            application/json:
            schema:
              $ref: '#/components/schemas/Error'
components:
  responses:
    OK:
      $ref: ../common-service/responses/success.yaml#/OK
    Created:
      $ref: ../common-service/responses/success.yaml#/Created
    Updated:
      $ref: ../common-service/responses/success.yaml#/Updated
    Deleted:
      $ref: ../common-service/responses/success.yaml#/Deleted
    BadRequest:
      $ref: ../common-service/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common-service/responses/error.yaml#/Unauthorized
    NotFound:
      $ref: ../common-service/responses/error.yaml#/NotFound
    TooManyRequests:
      $ref: ../common-service/responses/error.yaml#/TooManyRequests
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: JWT Bearer token authentication
    AdminAuth:
      type: http
      scheme: bearer
      description: Admin JWT Bearer token authentication
  schemas:
    Error:
      $ref: ../common-service/schemas/error.yaml#/Error
    Mail:
      allOf:
      - $ref: ../common-service/schemas/common.yaml#/BaseEntity
      - type: object
        required:
        - sender_id
        - recipient_ids
        - subject
        - body
        properties:
          sender_id:
            type: string
            format: uuid
            description: 'BACKEND NOTE: UUID - 16 bytes, ordered first for struct alignment'
          sender_name:
            type: string
            description: Display name of sender
            maxLength: 50
          recipient_ids:
            type: array
            items:
              type: string
              format: uuid
            description: 'BACKEND NOTE: Array of recipient UUIDs'
            minItems: 1
            maxItems: 50
          recipient_names:
            type: array
            items:
              type: string
              maxLength: 50
            description: Display names of recipients
          subject:
            type: string
            description: Mail subject line
            maxLength: 200
            minLength: 1
          body:
            type: string
            description: Mail content/body
            maxLength: 10000
          mail_type:
            type: string
            enum:
            - player_to_player
            - system_notification
            - event_announcement
            - trade_offer
            - guild_message
            - admin_message
            description: Type of mail
            default: player_to_player
          priority:
            type: string
            enum:
            - low
            - normal
            - high
            - urgent
            description: Mail priority level
            default: normal
          attachments:
            type: array
            items:
              $ref: '#/components/schemas/MailAttachment'
            description: Mail attachments (items, currency)
            maxItems: 10
          is_read:
            type: boolean
            description: Whether mail has been read by recipient
          read_at:
            type: string
            format: date-time
            description: When mail was first read
          expires_at:
            type: string
            format: date-time
            description: Mail expiration date
          is_deleted:
            type: boolean
            description: Whether mail is marked as deleted
          deleted_at:
            type: string
            format: date-time
            description: When mail was deleted
          attachments_claimed:
            type: boolean
            description: Whether attachments have been claimed
          claimed_at:
            type: string
            format: date-time
            description: When attachments were claimed
      - type: object
        properties:
          spam_score:
            type: number
            format: float
            minimum: 0
            maximum: 1
            description: Spam detection score (0-1)
          moderation_status:
            type: string
            enum:
            - pending
            - approved
            - rejected
            - quarantined
            description: Content moderation status
          moderation_reason:
            type: string
            description: Reason for moderation action
          anti_spam_token:
            type: string
            description: Token for anti-spam validation
          delivery_status:
            type: string
            enum:
            - pending
            - delivered
            - failed
            - bounced
            description: Mail delivery status
          delivery_attempts:
            type: integer
            minimum: 0
            description: Number of delivery attempts
          last_delivery_attempt:
            type: string
            format: date-time
            description: Last delivery attempt timestamp
      description: 'BACKEND NOTE: Mail entity with domain inheritance (SOLID/DRY).'
    MailAttachment:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - item
          - currency
          - cosmetic
          - experience
          - reputation
          description: Type of attachment
        item_id:
          type: string
          format: uuid
          description: Item ID for item attachments
        item_quantity:
          type: integer
          minimum: 1
          description: Quantity of items
        currency_type:
          type: string
          enum:
          - eurodollars
          - street_cred
          - premium_currency
          description: Currency type for currency attachments
        currency_amount:
          type: integer
          minimum: 0
          description: Amount of currency
        cosmetic_id:
          type: string
          format: uuid
          description: Cosmetic item ID
        experience_amount:
          type: integer
          minimum: 0
          description: Experience points to grant
        reputation_type:
          type: string
          description: Type of reputation (faction, guild, etc.)
        reputation_amount:
          type: integer
          description: Reputation points to grant (can be negative)
        is_claimed:
          type: boolean
          description: Whether this attachment has been claimed
        claimed_at:
          type: string
          format: date-time
          description: When attachment was claimed
      description: 'BACKEND NOTE: Union-like structure for different attachment types.'
    SendMailRequest:
      type: object
      required:
      - sender_id
      - recipient_ids
      - subject
      - body
      properties:
        sender_id:
          type: string
          format: uuid
          description: 'BACKEND NOTE: UUID - 16 bytes, ordered first for struct alignment'
        recipient_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Array of recipient character IDs
          minItems: 1
          maxItems: 50
        subject:
          type: string
          maxLength: 200
          minLength: 1
        body:
          type: string
          maxLength: 10000
          minLength: 1
        mail_type:
          type: string
          enum:
          - player_to_player
          - trade_offer
          - guild_message
          default: player_to_player
        priority:
          type: string
          enum:
          - low
          - normal
          - high
          default: normal
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/MailAttachment'
          maxItems: 10
        expires_in_days:
          type: integer
          minimum: 1
          maximum: 365
          default: 30
          description: Mail expiration in days
        cost_override:
          type: integer
          minimum: 0
          description: Override default mail sending cost
        client_version:
          type: string
          description: Client version for compatibility checks
        timestamp:
          type: integer
          format: int64
          description: Client timestamp for anti-spam validation
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small types).'
    SendMailResponse:
      type: object
      required:
      - success
      - mail_id
      - cost
      properties:
        mail_id:
          type: string
          format: uuid
          description: 'BACKEND NOTE: UUID - 16 bytes, ordered first for struct alignment'
        success:
          type: boolean
          description: 'BACKEND NOTE: bool - 1 byte, ordered last for struct alignment'
        cost:
          type: integer
          description: Mail sending cost in eurodollars
        delivery_estimate:
          type: integer
          format: int32
          description: Estimated delivery time in seconds
        recipient_count:
          type: integer
          format: int32
          description: Number of recipients
        moderation_pending:
          type: boolean
          description: Whether mail is pending moderation review
        spam_score:
          type: number
          format: float
          description: Spam detection score (0-1)
      description: 'BACKEND NOTE: Response optimized for struct alignment.'
    ListMailResponse:
      type: object
      required:
      - mails
      - total_count
      properties:
        pagination:
          type: object
          properties:
            offset:
              type: integer
              format: int32
            limit:
              type: integer
              format: int32
            has_more:
              type: boolean
          description: Pagination information
        mails:
          type: array
          items:
            $ref: '#/components/schemas/MailSummary'
          description: 'BACKEND NOTE: Array of mail summaries, ordered for optimal struct layout'
        total_count:
          type: integer
          format: int32
          description: Total number of mails available
        unread_count:
          type: integer
          format: int32
          description: Number of unread mails
        filters_applied:
          type: object
          properties:
            mailbox_type:
              type: string
            status:
              type: string
            has_attachments:
              type: boolean
          description: Applied filters for this request
      description: 'BACKEND NOTE: Response optimized for struct alignment with large arrays first.'
    MailSummary:
      type: object
      required:
      - id
      - sender_name
      - subject
      - sent_at
      - is_read
      properties:
        id:
          type: string
          format: uuid
          description: 'BACKEND NOTE: UUID - 16 bytes, ordered first for struct alignment'
        sender_name:
          type: string
          description: Sender display name
        subject:
          type: string
          description: Mail subject (truncated if too long)
        sent_at:
          type: string
          format: date-time
          description: When mail was sent
        is_read:
          type: boolean
          description: Whether mail has been read
        has_attachments:
          type: boolean
          description: Whether mail has attachments
        priority:
          type: string
          enum:
          - low
          - normal
          - high
          - urgent
        expires_at:
          type: string
          format: date-time
          description: Mail expiration date
        mail_type:
          type: string
          description: Type of mail
      description: 'BACKEND NOTE: Optimized summary for list views.'
    MailResponse:
      type: object
      required:
      - mail
      properties:
        mail:
          $ref: '#/components/schemas/Mail'
        previous_mail_id:
          type: string
          format: uuid
          description: ID of previous mail in inbox
        next_mail_id:
          type: string
          format: uuid
          description: ID of next mail in inbox
      description: 'BACKEND NOTE: Full mail response with navigation.'
    MarkAsReadRequest:
      type: object
      required:
      - character_id
      properties:
        character_id:
          type: string
          format: uuid
          description: Character ID marking mail as read
      description: 'BACKEND NOTE: Simple request for read status update.'
    MarkAsReadResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
          description: 'BACKEND NOTE: bool - 1 byte, ordered last for struct alignment'
        marked_at:
          type: string
          format: date-time
          description: When mail was marked as read
      description: 'BACKEND NOTE: Optimized response for read status.'
    ArchiveMailRequest:
      type: object
      required:
      - character_id
      properties:
        character_id:
          type: string
          format: uuid
          description: Character ID archiving the mail
      description: 'BACKEND NOTE: Simple request for archiving.'
    ArchiveMailResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
          description: 'BACKEND NOTE: bool - 1 byte, ordered last for struct alignment'
        archived_at:
          type: string
          format: date-time
          description: When mail was archived
      description: 'BACKEND NOTE: Optimized response for archiving.'
    ClaimAttachmentsRequest:
      type: object
      required:
      - character_id
      properties:
        character_id:
          type: string
          format: uuid
          description: 'BACKEND NOTE: UUID - 16 bytes, ordered first for struct alignment'
        claim_all:
          type: boolean
          description: Claim all attachments at once
          default: true
        specific_attachments:
          type: array
          items:
            type: integer
            minimum: 0
          description: Indices of specific attachments to claim (if not claiming all)
        inventory_location:
          type: string
          format: uuid
          description: Specific inventory location for item attachments
      description: 'BACKEND NOTE: Fields ordered for struct alignment.'
    ClaimAttachmentsResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
          description: 'BACKEND NOTE: bool - 1 byte, ordered last for struct alignment'
        claimed_attachments:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - item
                - currency
                - cosmetic
                - experience
                - reputation
              amount:
                type: integer
              item_id:
                type: string
                format: uuid
              inventory_slot:
                type: string
                format: uuid
            description: Details of successfully claimed attachments
          description: List of claimed attachments with results
        failed_attachments:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              type:
                type: string
              reason:
                type: string
            description: Attachments that failed to claim
          description: List of attachments that failed to claim
        inventory_updates:
          type: array
          items:
            type: object
            properties:
              item_id:
                type: string
                format: uuid
              quantity_change:
                type: integer
              new_total:
                type: integer
            description: Inventory changes from claimed attachments
          description: Inventory updates from attachment claiming
      description: 'BACKEND NOTE: Response optimized for struct alignment.'
    BatchMailOperationsRequest:
      type: object
      required:
      - character_id
      - operations
      properties:
        character_id:
          type: string
          format: uuid
          description: Character ID performing operations
        operations:
          type: array
          items:
            type: object
            required:
            - operation
            - mail_ids
            properties:
              operation:
                type: string
                enum:
                - delete
                - archive
                - mark_read
                - mark_unread
              mail_ids:
                type: array
                items:
                  type: string
                  format: uuid
                minItems: 1
                maxItems: 100
            description: 'BACKEND NOTE: Batch operation specification'
          description: Array of batch operations to perform
          maxItems: 10
      description: 'BACKEND NOTE: Batch request for multiple mail operations.'
    BatchMailOperationsResponse:
      type: object
      required:
      - results
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              operation:
                type: string
                enum:
                - delete
                - archive
                - mark_read
                - mark_unread
              success_count:
                type: integer
              failed_count:
                type: integer
              failed_mail_ids:
                type: array
                items:
                  type: string
                  format: uuid
              errors:
                type: array
                items:
                  type: string
            description: Result for each batch operation
          description: Results for each operation in the batch
        summary:
          type: object
          properties:
            total_operations:
              type: integer
            successful_operations:
              type: integer
            total_mails_affected:
              type: integer
          description: Summary statistics for the batch
      description: 'BACKEND NOTE: Batch response with detailed operation results.'
    SendBulkMailRequest:
      type: object
      required:
      - sender_type
      - recipient_criteria
      - subject
      - body
      properties:
        sender_type:
          type: string
          enum:
          - system
          - admin
          - event
          description: Type of bulk sender
        recipient_criteria:
          type: object
          properties:
            all_online:
              type: boolean
              description: Send to all online players
            faction_id:
              type: string
              format: uuid
              description: Send to specific faction
            region_id:
              type: string
              format: uuid
              description: Send to specific region
            level_range:
              type: object
              properties:
                min:
                  type: integer
                  minimum: 1
                max:
                  type: integer
                  minimum: 1
              description: Send to players in level range
            custom_recipient_ids:
              type: array
              items:
                type: string
                format: uuid
              maxItems: 10000
              description: Specific list of recipient IDs
          description: Criteria for selecting bulk recipients
        subject:
          type: string
          maxLength: 200
          minLength: 1
        body:
          type: string
          maxLength: 10000
          minLength: 1
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/MailAttachment'
          maxItems: 5
        priority:
          type: string
          enum:
          - low
          - normal
          - high
          - urgent
          default: normal
        expires_in_days:
          type: integer
          minimum: 1
          maximum: 365
          default: 7
        scheduled_send_time:
          type: string
          format: date-time
          description: When to send the bulk mail (for scheduling)
      description: 'BACKEND NOTE: Bulk mail request with recipient selection criteria.'
    SendBulkMailResponse:
      type: object
      required:
      - batch_id
      - estimated_recipients
      properties:
        batch_id:
          type: string
          format: uuid
          description: Unique identifier for the bulk mail batch
        estimated_recipients:
          type: integer
          description: Estimated number of recipients
        scheduled_time:
          type: string
          format: date-time
          description: When the bulk mail will be sent
        processing_status:
          type: string
          enum:
          - queued
          - processing
          - completed
          - failed
          description: Current processing status
      description: 'BACKEND NOTE: Bulk mail response with batch tracking.'
    MailNotificationsResponse:
      type: object
      required:
      - unread_count
      - notifications
      properties:
        unread_count:
          type: integer
          format: int32
          description: Total number of unread mails
        notifications:
          type: array
          items:
            type: object
            properties:
              mail_id:
                type: string
                format: uuid
              sender_name:
                type: string
              subject:
                type: string
              sent_at:
                type: string
                format: date-time
              priority:
                type: string
                enum:
                - low
                - normal
                - high
                - urgent
              has_attachments:
                type: boolean
            description: Recent unread mail notifications
          description: List of recent unread mail notifications
          maxItems: 10
        last_checked:
          type: string
          format: date-time
          description: When notifications were last checked
      description: 'BACKEND NOTE: Optimized notification response.'
    SearchMailResponse:
      type: object
      required:
      - results
      - total_count
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/MailSummary'
          description: 'BACKEND NOTE: Array of search results'
        total_count:
          type: integer
          format: int32
          description: Total number of matching mails
        search_metadata:
          type: object
          properties:
            query:
              type: string
              description: Original search query
            execution_time_ms:
              type: integer
              format: int32
              description: Search execution time
            mailbox_types_searched:
              type: array
              items:
                type: string
          description: Search execution metadata
      description: 'BACKEND NOTE: Search response with performance metadata.'
    MailAnalyticsResponse:
      type: object
      required:
      - summary
      properties:
        summary:
          type: object
          properties:
            total_mails_sent:
              type: integer
            total_mails_received:
              type: integer
            unread_mails:
              type: integer
            mails_with_attachments:
              type: integer
            average_response_time:
              type: integer
              format: int64
            top_senders:
              type: array
              items:
                type: object
                properties:
                  sender_name:
                    type: string
                  mail_count:
                    type: integer
                description: Top sender statistics
              maxItems: 10
            mail_type_distribution:
              type: object
              properties:
                player_to_player:
                  type: integer
                system_notification:
                  type: integer
                event_announcement:
                  type: integer
                trade_offer:
                  type: integer
                guild_message:
                  type: integer
                admin_message:
                  type: integer
            spam_reports:
              type: integer
          description: Mail usage analytics summary
        timeframe:
          type: string
          description: Applied timeframe filter
        character_id:
          type: string
          format: uuid
          description: Character ID (null for global analytics)
      description: 'BACKEND NOTE: Analytics response optimized for dashboard consumption.'
    ReportMailRequest:
      type: object
      required:
      - reporter_id
      - mail_id
      - report_reason
      properties:
        reporter_id:
          type: string
          format: uuid
          description: Character ID of reporter
        mail_id:
          type: string
          format: uuid
          description: ID of mail being reported
        report_reason:
          type: string
          enum:
          - spam
          - harassment
          - inappropriate_content
          - scam
          - hate_speech
          - other
          description: Reason for reporting
        additional_details:
          type: string
          maxLength: 500
          description: Additional context for the report
      description: 'BACKEND NOTE: Moderation report request.'
    ReportMailResponse:
      type: object
      required:
      - report_id
      - status
      properties:
        report_id:
          type: string
          format: uuid
          description: Unique report identifier
        status:
          type: string
          enum:
          - submitted
          - under_review
          - resolved
          description: Report processing status
        estimated_review_time:
          type: string
          description: Estimated time for review completion
      description: 'BACKEND NOTE: Report submission response.'
    ValidateMailRequest:
      type: object
      required:
      - content
      properties:
        content:
          type: object
          properties:
            subject:
              type: string
              maxLength: 200
            body:
              type: string
              maxLength: 10000
            sender_id:
              type: string
              format: uuid
            recipient_ids:
              type: array
              items:
                type: string
                format: uuid
              maxItems: 50
          description: Mail content to validate
        validation_context:
          type: object
          properties:
            sender_reputation:
              type: number
              minimum: 0
              maximum: 100
            recent_send_count:
              type: integer
              minimum: 0
            client_version:
              type: string
          description: Additional context for validation
      description: 'BACKEND NOTE: Anti-spam validation request.'
    ValidateMailResponse:
      type: object
      required:
      - is_valid
      - validation_score
      properties:
        is_valid:
          type: boolean
          description: Whether mail content passes validation
        validation_score:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Overall validation score (0-1, higher is better)
        spam_score:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Spam detection score (0-1, higher means more spammy)
        content_flags:
          type: array
          items:
            type: string
            enum:
            - excessive_capitalization
            - suspicious_links
            - repetitive_content
            - inappropriate_language
            - potential_scam
          description: Specific content flags detected
        recommendations:
          type: array
          items:
            type: string
          description: Suggestions for content improvement
        confidence_score:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: AI confidence in validation result
      description: 'BACKEND NOTE: Validation response with detailed scoring.'
    MailTrainingData:
      type: object
      required:
      - character_id
      - mail_interaction
      - outcome
      properties:
        character_id:
          type: string
          format: uuid
          description: Character whose mail behavior is being analyzed
        mail_interaction:
          type: object
          properties:
            mail_type:
              type: string
              enum:
              - received
              - sent
              - reported
              - archived
              - deleted
            sender_reputation:
              type: number
              minimum: 0
              maximum: 100
            content_length:
              type: integer
              minimum: 0
            has_attachments:
              type: boolean
            response_time:
              type: integer
              format: int64
              description: Time to respond (for received mails)
          description: Details of the mail interaction
        outcome:
          type: object
          properties:
            user_action:
              type: string
              enum:
              - read_immediately
              - archived
              - reported_spam
              - responded_quickly
              - ignored
              - deleted_unread
            satisfaction_score:
              type: number
              minimum: 1
              maximum: 5
              description: User satisfaction with mail handling
            future_engagement:
              type: boolean
              description: Whether user continued conversation
          description: Outcome metrics of mail interaction
        timestamp:
          type: string
          format: date-time
          description: Interaction timestamp
      description: 'BACKEND NOTE: AI training data for mail personalization. Large object first for struct alignment.'
    TrainingResponse:
      type: object
      properties:
        training_data_id:
          type: string
          format: uuid
          description: Unique training data identifier
        status:
          type: string
          enum:
          - accepted
          - processed
          - rejected
          description: Training data processing status
        message:
          type: string
          description: Processing result message
      description: 'BACKEND NOTE: Response for training data submission.'
    MailRecommendations:
      type: object
      properties:
        character_id:
          type: string
          format: uuid
          description: Character ID
        recommendations:
          type: array
          items:
            type: object
            properties:
              recommendation_type:
                type: string
                enum:
                - auto_archive
                - priority_boost
                - spam_filter
                - quick_reply
                description: Type of mail recommendation
              target_sender:
                type: string
                description: Specific sender for recommendation
              confidence_score:
                type: number
                minimum: 0
                maximum: 1
                description: AI confidence in recommendation
              reasoning:
                type: string
                description: AI reasoning for recommendation
              estimated_benefit:
                type: string
                description: Expected benefit of following recommendation
            description: Individual recommendation
          description: List of mail management recommendations
        generated_at:
          type: string
          format: date-time
          description: Recommendation generation timestamp
        personalization_factors:
          type: array
          items:
            type: string
          description: Factors used for personalization
      description: 'BACKEND NOTE: AI-generated mail recommendations.'
security:
- BearerAuth: []




