openapi: 3.0.3
info:
  title: Cyberware Service API
  description: Advanced Cyberware Integration System - управление боевыми имплантами, киберпсихозом и синергиями
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: Backend Team
    email: backend@necp.game
servers:
- url: https://api.necp.game/v1
  description: Production server
- url: http://localhost:8086
  description: Local development server
security:
- bearerAuth: []
paths:
  /cyberware/catalog:
    get:
      summary: Получить каталог имплантов
      description: Возвращает полный каталог доступных имплантов с фильтрацией
      operationId: getCyberwareCatalog
      parameters:
      - name: type
        in: query
        schema:
          type: string
          enum:
          - combat
          - movement
          - os
          - visual
      - name: category
        in: query
        schema:
          type: string
      - name: rarity
        in: query
        schema:
          type: string
          enum:
          - common
          - uncommon
          - rare
          - epic
          - legendary
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImplantCatalogResponse'
  /cyberware/catalog/{implantId}:
    get:
      summary: Получить информацию об импланте
      operationId: getImplantDetails
      parameters:
      - name: implantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImplantDetailResponse'
        '404':
          description: Имплант не найден
  /cyberware/characters/{characterId}/implants:
    get:
      summary: Получить импланты персонажа
      operationId: getCharacterImplants
      parameters:
      - name: characterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: active_only
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterImplantsResponse'
  /cyberware/characters/{characterId}/implants/acquire:
    post:
      summary: Приобрести имплант
      operationId: acquireImplant
      parameters:
      - name: characterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcquireImplantRequest'
      responses:
        '200':
          description: Имплант приобретен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcquireImplantResponse'
        '400':
          description: Недостаточно средств или лимиты превышены
  /cyberware/characters/{characterId}/implants/install:
    post:
      summary: Установить имплант
      operationId: installImplant
      parameters:
      - name: characterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallImplantRequest'
      responses:
        '200':
          description: Имплант установлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstallImplantResponse'
        '400':
          description: Лимиты превышены или несовместимость
  /cyberware/characters/{characterId}/implants/{implantId}/uninstall:
    post:
      summary: Удалить имплант
      operationId: uninstallImplant
      parameters:
      - name: characterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: implantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Имплант удален
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UninstallImplantResponse'
  /cyberware/characters/{characterId}/implants/{implantId}/upgrade:
    post:
      summary: Улучшить имплант
      operationId: upgradeImplant
      parameters:
      - name: characterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: implantId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpgradeImplantRequest'
      responses:
        '200':
          description: Имплант улучшен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradeImplantResponse'
        '400':
          description: Недостаточно материалов или максимальный уровень
  /cyberware/characters/{characterId}/limits:
    get:
      summary: Проверить лимиты имплантов
      operationId: getImplantLimits
      parameters:
      - name: characterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImplantLimitsResponse'
  /cyberware/characters/{characterId}/compatibility:
    post:
      summary: Проверить совместимость имплантов
      operationId: checkImplantCompatibility
      parameters:
      - name: characterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompatibilityCheckRequest'
      responses:
        '200':
          description: Результат проверки совместимости
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompatibilityCheckResponse'
  /cyberware/characters/{characterId}/cyberpsychosis:
    get:
      summary: Получить состояние киберпсихоза
      operationId: getCyberpsychosis
      parameters:
      - name: characterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CyberpsychosisStateResponse'
  /cyberware/characters/{characterId}/synergies:
    get:
      summary: Получить активные синергии
      operationId: getImplantSynergies
      parameters:
      - name: characterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveSynergiesResponse'
  /cyberware/characters/{characterId}/visuals:
    get:
      summary: Получить настройки визуализации
      operationId: getImplantVisuals
      parameters:
      - name: characterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImplantVisualsResponse'
    put:
      summary: Обновить настройки визуализации
      operationId: updateImplantVisuals
      parameters:
      - name: characterId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVisualsRequest'
      responses:
        '200':
          description: Настройки обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateVisualsResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ImplantType:
      type: string
      enum:
      - combat
      - movement
      - os
      - visual
    ImplantRarity:
      type: string
      enum:
      - common
      - uncommon
      - rare
      - epic
      - legendary
    ImplantCategory:
      type: string
      enum:
      - offensive
      - defensive
      - tactical
      - speed
      - jump
      - parkour
      - cyberdeck
      - sandevistan
      - berserk
      - eyes
      - skin
      - limbs
    ImplantCatalogItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        slot_type:
          type: string
        effects:
          type: object
          additionalProperties: true
        compatibility:
          type: object
          additionalProperties: true
        category:
          $ref: '#/components/schemas/ImplantCategory'
        rarity:
          $ref: '#/components/schemas/ImplantRarity'
        type:
          $ref: '#/components/schemas/ImplantType'
        base_price:
          type: number
          minimum: 0
        energy_cost:
          type: integer
          minimum: 0
        humanity_cost:
          type: integer
          minimum: 0
        max_level:
          type: integer
          minimum: 1
      required:
      - id
      - name
      - type
      - category
      - rarity
      - effects
      - energy_cost
      - humanity_cost
      - slot_type
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    ImplantCatalogResponse:
      type: object
      properties:
        implants:
          type: array
          items:
            $ref: '#/components/schemas/ImplantCatalogItem'
        has_more:
          type: boolean
        total_count:
          type: integer
      required:
      - implants
      - total_count
      - has_more
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    ImplantDetailResponse:
      type: object
      properties:
        implant:
          $ref: '#/components/schemas/ImplantCatalogItem'
        upgrade_costs:
          type: array
          items:
            type: object
            properties:
              level:
                type: integer
              materials:
                type: object
                additionalProperties:
                  type: integer
              price:
                type: number
      required:
      - implant
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    CharacterImplant:
      type: object
      properties:
        id:
          type: string
          format: uuid
        implant_id:
          type: string
          format: uuid
        name:
          type: string
        slot:
          type: string
        installed_at:
          type: string
          format: date-time
        effects:
          type: object
          additionalProperties: true
        category:
          $ref: '#/components/schemas/ImplantCategory'
        type:
          $ref: '#/components/schemas/ImplantType'
        is_active:
          type: boolean
        current_level:
          type: integer
          minimum: 1
        max_level:
          type: integer
          minimum: 1
      required:
      - id
      - implant_id
      - name
      - type
      - category
      - current_level
      - max_level
      - slot
      - is_active
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    CharacterImplantsResponse:
      type: object
      properties:
        implants:
          type: array
          items:
            $ref: '#/components/schemas/CharacterImplant'
        total_energy_used:
          type: integer
        max_energy:
          type: integer
        total_humanity_lost:
          type: integer
        max_humanity:
          type: integer
      required:
      - implants
      - total_energy_used
      - max_energy
      - total_humanity_lost
      - max_humanity
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    AcquireImplantRequest:
      type: object
      properties:
        implant_id:
          type: string
          format: uuid
        payment_method:
          type: string
          enum:
          - credits
          - materials
          - quest_reward
      required:
      - implant_id
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    AcquireImplantResponse:
      type: object
      properties:
        implant_id:
          type: string
          format: uuid
        transaction_id:
          type: string
          format: uuid
        remaining_balance:
          type: number
        success:
          type: boolean
      required:
      - success
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    InstallImplantRequest:
      type: object
      properties:
        implant_id:
          type: string
          format: uuid
        slot:
          type: string
      required:
      - implant_id
      - slot
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    InstallImplantResponse:
      type: object
      properties:
        implant_id:
          type: string
          format: uuid
        slot:
          type: string
        warnings:
          type: array
          items:
            type: string
        success:
          type: boolean
        cyberpsychosis_increase:
          type: integer
        energy_used:
          type: integer
        humanity_lost:
          type: integer
      required:
      - success
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    UninstallImplantResponse:
      type: object
      properties:
        implant_id:
          type: string
          format: uuid
        success:
          type: boolean
        cyberpsychosis_decrease:
          type: integer
        energy_freed:
          type: integer
        humanity_restored:
          type: integer
      required:
      - success
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    UpgradeImplantRequest:
      type: object
      properties:
        materials:
          type: object
          additionalProperties:
            type: integer
      required:
      - materials
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    UpgradeImplantResponse:
      type: object
      properties:
        enhanced_effects:
          type: object
          additionalProperties: true
        materials_consumed:
          type: object
          additionalProperties:
            type: integer
        success:
          type: boolean
        new_level:
          type: integer
      required:
      - success
      - new_level
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    ImplantLimitsResponse:
      type: object
      properties:
        energy:
          type: object
          properties:
            used:
              type: integer
            max:
              type: integer
            available:
              type: integer
          required:
          - used
          - max
          - available
        humanity:
          type: object
          properties:
            lost:
              type: integer
            max:
              type: integer
            remaining:
              type: integer
          required:
          - lost
          - max
          - remaining
        slots:
          type: object
          additionalProperties:
            type: object
            properties:
              used:
                type: integer
              max:
                type: integer
              available:
                type: integer
            required:
            - used
            - max
            - available
        warnings:
          type: array
          items:
            type: string
      required:
      - energy
      - humanity
      - slots
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    CompatibilityCheckRequest:
      type: object
      properties:
        target_slot:
          type: string
        implant_ids:
          type: array
          items:
            type: string
            format: uuid
      required:
      - implant_ids
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    CompatibilityCheckResponse:
      type: object
      properties:
        conflicts:
          type: array
          items:
            type: object
            properties:
              implant_a:
                type: string
                format: uuid
              implant_b:
                type: string
                format: uuid
              reason:
                type: string
            required:
            - implant_a
            - implant_b
            - reason
        warnings:
          type: array
          items:
            type: string
        compatible:
          type: boolean
      required:
      - compatible
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    CyberpsychosisStateResponse:
      type: object
      properties:
        risk_assessment:
          type: string
          enum:
          - low
          - medium
          - high
          - critical
        effects_active:
          type: array
          items:
            type: object
            properties:
              effect_type:
                type: string
              severity:
                type: string
                enum:
                - mild
                - moderate
                - severe
                - critical
              description:
                type: string
            required:
            - effect_type
            - severity
            - description
        current_level:
          type: integer
          minimum: 0
        threshold_level:
          type: integer
          minimum: 0
      required:
      - current_level
      - threshold_level
      - effects_active
      - risk_assessment
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    ActiveSynergy:
      type: object
      properties:
        synergy_id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        activated_at:
          type: string
          format: date-time
        bonus_effects:
          type: object
          additionalProperties: true
        active_implants:
          type: array
          items:
            type: string
            format: uuid
      required:
      - synergy_id
      - name
      - active_implants
      - bonus_effects
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    ActiveSynergiesResponse:
      type: object
      properties:
        synergies:
          type: array
          items:
            $ref: '#/components/schemas/ActiveSynergy'
      required:
      - synergies
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    ImplantVisualsResponse:
      type: object
      properties:
        implants:
          type: array
          items:
            type: object
            properties:
              implant_id:
                type: string
                format: uuid
              visuals:
                type: object
                properties:
                  glow_color:
                    type: string
                  particle_effects:
                    type: boolean
                  animation_speed:
                    type: number
                  custom_texture:
                    type: string
                additionalProperties: true
            required:
            - implant_id
            - visuals
      required:
      - implants
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    UpdateVisualsRequest:
      type: object
      properties:
        implant_id:
          type: string
          format: uuid
        visuals:
          type: object
          additionalProperties: true
      required:
      - implant_id
      - visuals
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    UpdateVisualsResponse:
      type: object
      properties:
        implant_id:
          type: string
          format: uuid
        updated_visuals:
          type: object
          additionalProperties: true
        success:
          type: boolean
      required:
      - success
      - implant_id
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
