openapi: 3.0.3
info:
  title: Player Profile API
  version: 1.0.0
  description: |
    REST API для управления данными игрока (account-wide). Описывает доступ к
    профилю, настройкам и статистике игрока. Основано на документе
    `.BRAIN/05-technical/backend/player-character-management.md` (v1.0.0).
  x-microservice:
    name: character-service
    port: 8082
    domain: players
    base-path: /api/v1/players
    package: com.necpgame.characterservice
servers:
  - url: https://api.necp.game/v1
    description: Production API Gateway
  - url: http://localhost:8080/api/v1
    description: Local API Gateway

x-tags:
  - Players
  - PlayerStatistics

paths:
  /players/me:
    get:
      tags: [Players]
      summary: Получить профиль игрока
      description: Возвращает профиль игрока, включая настройки и премиальную валюту.
      operationId: getPlayerProfile
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Профиль игрока
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerProfile'
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }
    patch:
      tags: [Players]
      summary: Обновить профиль игрока
      description: |
        Обновляет пользовательские настройки. Валидация выполняется на уровне сервиса.
      operationId: updatePlayerProfile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerProfileUpdateRequest'
      responses:
        '200':
          description: Профиль обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerProfile'
        '400': { "$ref": "../../shared/common/responses.yaml#/components/responses/BadRequest" }
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }

  /players/me/statistics:
    get:
      tags: [PlayerStatistics]
      summary: Получить статистику игрока
      description: Возвращает агрегированную статистику по аккаунту.
      operationId: getPlayerStatistics
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Статистика игрока
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerStatistics'
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }

  /players/me/slots:
    get:
      tags: [Players]
      summary: Получить информацию о слотах персонажей
      description: Возвращает количество доступных/использованных слотов персонажей.
      operationId: getCharacterSlots
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Информация о слотах персонажей
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CharacterSlotSummary'
        '401': { "$ref": "../../shared/common/responses.yaml#/components/responses/Unauthorized" }

components:
  securitySchemes:
    BearerAuth:
      $ref: '../../shared/common/security.yaml#/components/securitySchemes/BearerAuth'

  schemas:
    PlayerProfile:
      type: object
      required: [player_id, account_id, created_at]
      properties:
        player_id:
          type: string
          format: uuid
        account_id:
          type: string
          format: uuid
        premium_currency:
          type: integer
          format: int32
          description: Количество NECP Coins
        settings:
          $ref: '#/components/schemas/PlayerSettings'
        created_at:
          type: string
          format: date-time
        last_login_at:
          type: string
          format: date-time
          nullable: true
    PlayerSettings:
      type: object
      properties:
        language:
          type: string
          description: ISO 639-1
        timezone:
          type: string
          description: Olson timezone identifier
        ui_settings:
          type: object
          additionalProperties:
            type: string
        audio_settings:
          type: object
          additionalProperties:
            type: string
        graphics_settings:
          type: object
          additionalProperties:
            type: string
    PlayerProfileUpdateRequest:
      type: object
      properties:
        language:
          type: string
        timezone:
          type: string
        ui_settings:
          type: object
          additionalProperties:
            type: string
        audio_settings:
          type: object
          additionalProperties:
            type: string
        graphics_settings:
          type: object
          additionalProperties:
            type: string
    PlayerStatistics:
      type: object
      properties:
        total_playtime_minutes:
          type: integer
          format: int32
          description: Суммарное время в игре (мин)
        characters_created:
          type: integer
          format: int32
        active_character_id:
          type: string
          format: uuid
          nullable: true
        achievement_points:
          type: integer
          format: int32
        last_session_duration_minutes:
          type: integer
          format: int32
        seasons_completed:
          type: integer
          format: int32
    CharacterSlotSummary:
      type: object
      properties:
        total_slots:
          type: integer
          description: Всего доступных слотов (максимум 5)
        used_slots:
          type: integer
        premium_slots_unlocked:
          type: integer
        available_slots:
          type: integer
          description: Остаток свободных слотов
