openapi: 3.0.3
info:
  title: Diplomacy Service API - Enterprise-Grade Domain Service
  description: '**Enterprise-Grade Diplomacy Management API for NECPGAME**

    This API manages diplomatic relations between factions, guilds, and groups, providing
    negotiation systems, treaty enforcement, and political relationship mechanics
    in Night City.

    ## Key Features

    - **Diplomatic Relations**: Complex relationship tracking between entities - **Negotiation
    Systems**: Structured diplomatic negotiations and proposals - **Treaty Enforcement**:
    Automatic enforcement of diplomatic agreements - **Political Alliances**: Formation
    and management of political coalitions - **Reputation Systems**: Diplomatic reputation
    and trust mechanics - **Performance Optimized**: MMOFPS-grade performance with
    <50ms P99 latency

    ## Domain Purpose

    The Diplomacy domain handles all aspects of inter-entity relations and political
    interactions in Night City. Players engage in diplomatic negotiations, form alliances,
    and navigate complex political landscapes through structured diplomatic systems
    and relationship management.

    ## Performance Targets

    - P99 Latency: <50ms for diplomatic operations - Memory: <25KB per active diplomatic
    session - Concurrent users: 150,000+ simultaneous diplomatic operations - Relation
    calculations: <10ms response time

    '
  version: 1.0.0
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.necpgame.com/v1/diplomacy
  description: Production server
- url: https://staging-api.necpgame.com/v1/diplomacy
  description: Staging server
- url: http://localhost:8080/api/v1/diplomacy
  description: Local development server
security:
- BearerAuth: []
tags:
- name: Diplomacy Management
  description: Core diplomatic relations and negotiation operations
- name: Health Monitoring
  description: System health and performance monitoring
paths:
  /health:
    get:
      summary: Diplomacy service health check
      description: '**Enterprise-grade health check endpoint**


        Provides real-time health status of the diplomacy service microservice.

        Critical for service discovery, load balancing, and monitoring.


        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: diplomacyServiceHealthCheck
      tags:
      - Health Monitoring
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"health-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: ../common/schemas/health.yaml#/HealthResponse
        '500':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
components:
  responses:
    OK:
      $ref: ../common/responses/success.yaml#/OK
    BadRequest:
      $ref: ../common/responses/error.yaml#/BadRequest
    Unauthorized:
      $ref: ../common/responses/error.yaml#/Unauthorized
    NotFound:
      $ref: ../common/responses/error.yaml#/NotFound
    Conflict:
      $ref: ../common/responses/error.yaml#/Conflict
    TooManyRequests:
      $ref: ../common/responses/error.yaml#/TooManyRequests
    InternalServerError:
      $ref: ../common/responses/error.yaml#/InternalServerError
  schemas:
    Error:
      $ref: ../common/schemas/infrastructure-entities.yaml#/ErrorResponse
    HealthResponse:
      $ref: ../common/schemas/health.yaml#/HealthResponse
    PaginationMeta:
      $ref: ../common/schemas/pagination.yaml#/PaginationMeta
  securitySchemes:
    BearerAuth:
      $ref: ../common/security/security.yaml#/BearerAuth








