openapi: 3.0.3
info:
  title: Cyberspace Easter Eggs Service API
  description: |
    **Enterprise-Grade Cyberspace Easter Eggs Management Service**

    Handles discovery, rewards, and state management for hidden interactive objects
    in cyberspace. Optimized for MMOFPS performance with real-time player tracking.

    **Key Features:**
    - Real-time easter egg discovery validation (P99 <25ms)
    - Reward distribution and achievement tracking
    - Anti-cheat position validation for discovery claims
    - Telemetry collection for player behavior analytics
    - Scalable to 10,000+ concurrent discoveries

    **Performance Targets:**
    - Discovery validation: P99 <25ms, 2000+ RPS
    - Reward processing: P99 <50ms, 1000+ RPS
    - State synchronization: P99 <15ms, 5000+ RPS
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: Backend Team
    email: backend@necp.game

servers:
  - url: https://api.necpgame.com/v1
    description: Production server
  - url: https://staging-api.necpgame.com/v1
    description: Staging server

security:
  - bearerAuth: []

paths:
  /cyberspace/easter-eggs/discover:
    post:
      summary: Validate and process easter egg discovery
      description: |
        Validates player discovery claim with anti-cheat checks,
        processes rewards, and updates player progress.

        **Performance:** HOT PATH - P99 <25ms, 2000+ RPS
      operationId: validateEasterEggDiscovery
      tags:
        - Easter Eggs
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EasterEggDiscoveryRequest'
      responses:
        '200':
          description: Discovery validated and rewards processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EasterEggDiscoveryResponse'
        '400':
          description: Invalid discovery claim or anti-cheat violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Easter egg not found
        '429':
          description: Rate limited - too many discovery attempts

  /cyberspace/easter-eggs/{eggId}/state:
    get:
      summary: Get easter egg state for player
      description: Returns discovery state and available hints for specific easter egg
      operationId: getEasterEggState
      tags:
        - Easter Eggs
      security:
        - bearerAuth: []
      parameters:
        - name: eggId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Easter egg unique identifier
      responses:
        '200':
          description: Easter egg state retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EasterEggStateResponse'
        '404':
          description: Easter egg not found

  /cyberspace/easter-eggs/player/{playerId}/discovered:
    get:
      summary: Get all discovered easter eggs for player
      description: Returns list of all easter eggs discovered by player with timestamps
      operationId: getPlayerDiscoveredEasterEggs
      tags:
        - Easter Eggs
      security:
        - bearerAuth: []
      parameters:
        - name: playerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Player unique identifier
        - name: category
          in: query
          schema:
            type: string
            enum: [technology, culture, history, humor]
          description: Filter by category
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Maximum number of results
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Pagination offset
      responses:
        '200':
          description: Player discovered easter eggs retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerEasterEggsResponse'

  /cyberspace/easter-eggs/{eggId}/hint:
    post:
      summary: Request hint for easter egg
      description: Provides contextual hint for easter egg discovery
      operationId: requestEasterEggHint
      tags:
        - Easter Eggs
      security:
        - bearerAuth: []
      parameters:
        - name: eggId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Easter egg unique identifier
      responses:
        '200':
          description: Hint provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EasterEggHintResponse'
        '402':
          description: Payment required for premium hint
        '404':
          description: Easter egg not found
        '429':
          description: Too many hint requests

  /cyberspace/easter-eggs/{eggId}/rewards:
    get:
      summary: Get available rewards for easter egg
      description: Returns rewards available for discovering specific easter egg
      operationId: getEasterEggRewards
      tags:
        - Easter Eggs
      parameters:
        - name: eggId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Easter egg unique identifier
      responses:
        '200':
          description: Easter egg rewards retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EasterEggRewardsResponse'

  /cyberspace/easter-eggs/stats:
    get:
      summary: Get easter eggs discovery statistics
      description: Returns global and player-specific easter eggs statistics
      operationId: getEasterEggsStats
      tags:
        - Easter Eggs
      security:
        - bearerAuth: []
      parameters:
        - name: playerId
          in: query
          schema:
            type: string
            format: uuid
          description: Optional player ID for personal stats
      responses:
        '200':
          description: Easter eggs statistics retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EasterEggsStatsResponse'

  /cyberspace/easter-eggs/telemetry:
    post:
      summary: Record player telemetry for easter egg discovery
      description: |
        Records player behavior telemetry for analytics and anti-cheat.
        Used for pattern analysis and discovery optimization.
      operationId: recordEasterEggTelemetry
      tags:
        - Easter Eggs
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EasterEggTelemetryRequest'
      responses:
        '200':
          description: Telemetry recorded successfully
        '400':
          description: Invalid telemetry data

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    EasterEggDiscoveryRequest:
      type: object
      required:
        - playerId
        - eggId
        - discoveryMethod
        - position
        - timestamp
      properties:
        playerId:
          type: string
          format: uuid
          description: 'BACKEND NOTE: Player identifier for discovery tracking'
        eggId:
          type: string
          format: uuid
          description: 'BACKEND NOTE: Easter egg identifier'
        discoveryMethod:
          type: string
          enum: [scanning, pattern_following, deep_scan, event_triggered, command_execution]
          description: 'BACKEND NOTE: Method used to discover the easter egg'
        position:
          $ref: '#/components/schemas/CyberspacePosition'
        timestamp:
          type: string
          format: date-time
          description: 'BACKEND NOTE: Discovery timestamp for anti-cheat validation'
        additionalData:
          type: object
          description: 'BACKEND NOTE: Optional discovery context data'
      description: 'BACKEND NOTE: Struct alignment optimized (UUID, string, enum, object, timestamp)'

    EasterEggDiscoveryResponse:
      type: object
      required:
        - success
        - eggId
        - rewards
      properties:
        success:
          type: boolean
          description: 'BACKEND NOTE: Discovery validation result'
        eggId:
          type: string
          format: uuid
          description: 'BACKEND NOTE: Confirmed easter egg identifier'
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/EasterEggReward'
          description: 'BACKEND NOTE: Granted rewards for discovery'
        firstDiscovery:
          type: boolean
          description: 'BACKEND NOTE: True if player discovered this egg first time'
        globalFirst:
          type: boolean
          description: 'BACKEND NOTE: True if player was first to discover globally'
        telemetryRecorded:
          type: boolean
          description: 'BACKEND NOTE: Telemetry recording status'
      description: 'BACKEND NOTE: Struct alignment optimized for response serialization'

    EasterEggStateResponse:
      type: object
      required:
        - eggId
        - discovered
      properties:
        eggId:
          type: string
          format: uuid
        discovered:
          type: boolean
          description: 'BACKEND NOTE: Whether player has discovered this egg'
        discoveredAt:
          type: string
          format: date-time
          description: 'BACKEND NOTE: Discovery timestamp if discovered'
        availableHints:
          type: array
          items:
            $ref: '#/components/schemas/EasterEggHint'
          description: 'BACKEND NOTE: Available hints for this egg'
        category:
          type: string
          enum: [technology, culture, history, humor]
        difficulty:
          type: string
          enum: [easy, medium, hard, legendary]
      description: 'BACKEND NOTE: Optimized for frequent state checks (P99 <15ms)'

    PlayerEasterEggsResponse:
      type: object
      required:
        - playerId
        - discoveredEggs
        - totalCount
      properties:
        playerId:
          type: string
          format: uuid
        discoveredEggs:
          type: array
          items:
            $ref: '#/components/schemas/PlayerEasterEggDiscovery'
        totalCount:
          type: integer
          description: 'BACKEND NOTE: Total number of discovered easter eggs'
        categories:
          type: object
          properties:
            technology:
              type: integer
            culture:
              type: integer
            history:
              type: integer
            humor:
              type: integer
          description: 'BACKEND NOTE: Discovery count by category'
      description: 'BACKEND NOTE: Pagination support for large discovery lists'

    EasterEggHintResponse:
      type: object
      required:
        - hint
        - cost
      properties:
        hint:
          $ref: '#/components/schemas/EasterEggHint'
        cost:
          type: integer
          description: 'BACKEND NOTE: Eddies cost for premium hints'
        playerBalance:
          type: integer
          description: 'BACKEND NOTE: Remaining player balance after purchase'
      description: 'BACKEND NOTE: Hint system with optional payment'

    EasterEggRewardsResponse:
      type: object
      required:
        - eggId
        - rewards
      properties:
        eggId:
          type: string
          format: uuid
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/EasterEggReward'
        firstTimeBonus:
          type: array
          items:
            $ref: '#/components/schemas/EasterEggReward'
          description: 'BACKEND NOTE: Additional rewards for first discovery'

    EasterEggsStatsResponse:
      type: object
      properties:
        globalStats:
          type: object
          properties:
            totalEggs:
              type: integer
            totalDiscoveries:
              type: integer
            uniqueDiscoveries:
              type: integer
            categoryBreakdown:
              type: object
              properties:
                technology:
                  type: integer
                culture:
                  type: integer
                history:
                  type: integer
                humor:
                  type: integer
        playerStats:
          type: object
          properties:
            playerId:
              type: string
              format: uuid
            discoveredCount:
              type: integer
            firstDiscoveries:
              type: integer
            completionPercentage:
              type: number
              format: float
            rareEggsDiscovered:
              type: integer
            lastDiscovery:
              type: string
              format: date-time
      description: 'BACKEND NOTE: Statistics for gameplay analytics and leaderboards'

    EasterEggTelemetryRequest:
      type: object
      required:
        - playerId
        - eventType
        - timestamp
      properties:
        playerId:
          type: string
          format: uuid
        eventType:
          type: string
          enum: [scan_attempt, pattern_detected, navigation_path, command_used, position_update]
        timestamp:
          type: string
          format: date-time
        position:
          $ref: '#/components/schemas/CyberspacePosition'
        metadata:
          type: object
          description: 'BACKEND NOTE: Event-specific telemetry data'
      description: 'BACKEND NOTE: Telemetry for anti-cheat and player behavior analysis'

    # Supporting schemas
    CyberspacePosition:
      type: object
      required:
        - networkId
        - x
        - y
        - z
      properties:
        networkId:
          type: string
          format: uuid
          description: 'BACKEND NOTE: Cyberspace network identifier'
        x:
          type: number
          format: float
          description: 'BACKEND NOTE: X coordinate in cyberspace'
        y:
          type: number
          format: float
          description: 'BACKEND NOTE: Y coordinate in cyberspace'
        z:
          type: number
          format: float
          description: 'BACKEND NOTE: Z coordinate in cyberspace'
        networkType:
          type: string
          enum: [corporate, educational, entertainment, government, underground]
          description: 'BACKEND NOTE: Type of cyberspace network'
      description: 'BACKEND NOTE: Position in cyberspace with network context'

    EasterEggReward:
      type: object
      required:
        - type
        - name
      properties:
        type:
          type: string
          enum: [experience, currency, item, achievement, implant_buff, cosmetic, lore_unlock]
          description: 'BACKEND NOTE: Reward type for inventory/achievement processing'
        name:
          type: string
          description: 'BACKEND NOTE: Human-readable reward name'
        value:
          type: integer
          description: 'BACKEND NOTE: Numeric value for quantifiable rewards'
        itemId:
          type: string
          format: uuid
          description: 'BACKEND NOTE: Item identifier for inventory rewards'
        achievementId:
          type: string
          format: uuid
          description: 'BACKEND NOTE: Achievement identifier for progression rewards'
      description: 'BACKEND NOTE: Flexible reward system supporting multiple reward types'

    EasterEggHint:
      type: object
      required:
        - text
        - type
      properties:
        text:
          type: string
          description: 'BACKEND NOTE: Hint text content'
        type:
          type: string
          enum: [direct, indirect, premium]
          description: 'BACKEND NOTE: Hint specificity level'
        cost:
          type: integer
          default: 0
          description: 'BACKEND NOTE: Eddies cost for premium hints'
        enabled:
          type: boolean
          default: true
          description: 'BACKEND NOTE: Whether hint is currently available'
      description: 'BACKEND NOTE: Progressive hint system with payment options'

    PlayerEasterEggDiscovery:
      type: object
      required:
        - eggId
        - discoveredAt
      properties:
        eggId:
          type: string
          format: uuid
        discoveredAt:
          type: string
          format: date-time
          description: 'BACKEND NOTE: Discovery timestamp'
        category:
          type: string
          enum: [technology, culture, history, humor]
        difficulty:
          type: string
          enum: [easy, medium, hard, legendary]
        firstDiscovery:
          type: boolean
          description: 'BACKEND NOTE: Whether player was first to discover'
      description: 'BACKEND NOTE: Discovery record with metadata'

    ErrorResponse:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: 'BACKEND NOTE: Error code identifier'
        message:
          type: string
          description: 'BACKEND NOTE: Human-readable error message'
        details:
          type: object
          description: 'BACKEND NOTE: Additional error context'
        timestamp:
          type: string
          format: date-time
          description: 'BACKEND NOTE: Error occurrence timestamp'
      description: 'BACKEND NOTE: Standardized error response format'
