openapi: 3.0.3
info:
  title: Game Mechanics Service API
  description: '**Enterprise-Grade Game Mechanics Service for NECPGAME**


    This service provides centralized management and integration of all game mechanics

    across four core domains: Economy, Social, World, and Combat.


    **Core Domains Integration:**

    - **Economy**: Resource management, trading, production chains, market dynamics

    - **Social**: Guilds, relationships, reputation, mentorship, parties

    - **World**: Locations, cities, factions, world events, environmental mechanics

    - **Combat**: Weapon systems, abilities, roles, synergies, progression


    **BACKEND NOTE**: Enterprise-grade mechanics management with cross-domain integration.

    Optimized for high-performance MMOFPS RPG with real-time mechanics synchronization.


    **PERFORMANCE**:

    - Real-time mechanics state synchronization across domains

    - Optimized queries with geospatial and temporal indexes

    - Caching strategies for frequently accessed mechanics data

    - P99 latency < 50ms for critical mechanics operations


    **SCALING**: Designed for horizontal scaling to handle millions of concurrent

    mechanics operations across all game domains.

    '
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: NECPGAME API Support
    url: https://necpgame.com/support
    email: api@necpgame.com
servers:
- url: https://api.necpgame.com/v1/mechanics
  description: Production server
- url: https://staging-api.necpgame.com/v1/mechanics
  description: Staging server
security:
- BearerAuth: []
tags:
- name: Game Mechanics
  description: Core mechanics management and integration
- name: Economy Mechanics
  description: Economic systems and resource management
- name: Social Mechanics
  description: Social interactions and relationships
- name: World Mechanics
  description: World systems and environmental mechanics
- name: Combat Mechanics
  description: Combat systems and battle mechanics
- name: Mechanics Validation
  description: Mechanics validation and conflict resolution
paths:
  /api/v1/mechanics/health:
    get:
      summary: Game mechanics service health check
      description: '**Enterprise-grade health check endpoint**


        Provides real-time health status of the game mechanics microservice.

        Critical for service discovery, load balancing, and monitoring.


        **Performance:** <1ms response time, cached for 30 seconds

        '
      operationId: mechanicsHealthCheck
      tags:
      - Game Mechanics
      security: []
      parameters:
      - name: Accept-Encoding
        in: header
        schema:
          type: string
          enum:
          - gzip
          - deflate
          - br
      responses:
        '200':
          description: Service is healthy
          headers:
            Cache-Control:
              schema:
                type: string
                example: max-age=30, s-maxage=60
            ETag:
              schema:
                type: string
                example: '"mechanics-v1.0"'
            Content-Encoding:
              schema:
                type: string
                enum:
                - gzip
                - deflate
                - br
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/mechanics/health/batch:
    post:
      summary: Batch health check for mechanics domains
      description: '**Enterprise-grade batch health check**


        Allows checking the health of multiple mechanics domains in a single request.

        Optimizes network overhead for monitoring systems.


        **Performance:** Aggregated response <10ms, parallel checks

        '
      operationId: mechanicsBatchHealthCheck
      tags:
      - Game Mechanics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domains:
                  type: array
                  items:
                    type: string
                    enum:
                    - economy
                    - social
                    - world
                    - combat
                  description: List of mechanics domains to check
              required:
              - domains
      responses:
        '200':
          description: Batch health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  domains:
                    type: array
                    items:
                      type: object
                      properties:
                        domain:
                          type: string
                          enum:
                          - economy
                          - social
                          - world
                          - combat
                        status:
                          type: string
                          enum:
                          - healthy
                          - degraded
                          - unhealthy
                        details:
                          type: string
                      required:
                      - domain
                      - status
                required:
                - domains
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          description: Too many requests - rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/mechanics/health/ws:
    get:
      summary: WebSocket health check for real-time mechanics
      description: '**Enterprise-grade WebSocket health check**


        Verifies the connectivity and responsiveness of the WebSocket infrastructure

        used for real-time mechanics data streaming.


        **Performance:** Instant connection, low overhead

        '
      operationId: mechanicsWebSocketHealthCheck
      tags:
      - Game Mechanics
      responses:
        '200':
          description: WebSocket infrastructure is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: WebSocket service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '429':
          description: Too many requests - WebSocket connection limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/mechanics:
    get:
      summary: Get all game mechanics
      description: 'Retrieves a comprehensive list of all game mechanics across all domains.

        Includes filtering and pagination for performance optimization.

        '
      operationId: getAllMechanics
      tags:
      - Game Mechanics
      security:
      - BearerAuth: []
      parameters:
      - name: domain
        in: query
        schema:
          type: string
          enum:
          - economy
          - social
          - world
          - combat
        description: Filter by mechanics domain
      - name: category
        in: query
        schema:
          type: string
        description: Filter by specific category within domain
      - name: active
        in: query
        schema:
          type: boolean
          default: true
        description: Filter by active mechanics only
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 50
        description: Maximum number of mechanics to return
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Pagination offset
      responses:
        '200':
          description: List of game mechanics
          content:
            application/json:
              schema:
                type: object
                properties:
                  mechanics:
                    type: array
                    items:
                      $ref: '#/components/schemas/GameMechanic'
                  pagination:
                    $ref: '#/components/schemas/PaginationInfo'
                  total_count:
                    type: integer
                    minimum: 0
                required:
                - mechanics
                - pagination
                - total_count
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/mechanics/{mechanic_id}:
    get:
      summary: Get specific game mechanic details
      description: 'Retrieves detailed information about a specific game mechanic,

        including its configuration, state, and domain-specific parameters.

        '
      operationId: getMechanicDetails
      tags:
      - Game Mechanics
      security:
      - BearerAuth: []
      parameters:
      - name: mechanic_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Unique identifier of the mechanic
      responses:
        '200':
          description: Mechanic details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameMechanicDetail'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/mechanics/economy/resources/health:
    get:
      summary: Economy resources mechanics health check
      description: Health check for resources mechanics integration
      operationId: resourcesMechanicsHealthCheck
      tags:
      - Economy Mechanics
      security: []
      responses:
        '200':
          description: Resources mechanics healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Resources mechanics unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/v1/mechanics/economy/trade/health:
    get:
      summary: Economy trade mechanics health check
      description: Health check for trade mechanics integration
      operationId: tradeMechanicsHealthCheck
      tags:
      - Economy Mechanics
      security: []
      responses:
        '200':
          description: Trade mechanics healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Trade mechanics unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/v1/mechanics/economy/production/health:
    get:
      summary: Economy production mechanics health check
      description: Health check for production mechanics integration
      operationId: productionMechanicsHealthCheck
      tags:
      - Economy Mechanics
      security: []
      responses:
        '200':
          description: Production mechanics healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Production mechanics unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/v1/mechanics/social/guilds/health:
    get:
      summary: Social guilds mechanics health check
      description: Health check for guilds mechanics integration
      operationId: guildsMechanicsHealthCheck
      tags:
      - Social Mechanics
      security: []
      responses:
        '200':
          description: Guilds mechanics healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Guilds mechanics unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/v1/mechanics/social/relationships/health:
    get:
      summary: Social relationships mechanics health check
      description: Health check for relationships mechanics integration
      operationId: relationshipsMechanicsHealthCheck
      tags:
      - Social Mechanics
      security: []
      responses:
        '200':
          description: Relationships mechanics healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Relationships mechanics unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/v1/mechanics/social/reputation/health:
    get:
      summary: Social reputation mechanics health check
      description: Health check for reputation mechanics integration
      operationId: reputationMechanicsHealthCheck
      tags:
      - Social Mechanics
      security: []
      responses:
        '200':
          description: Reputation mechanics healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Reputation mechanics unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/v1/mechanics/world/locations/health:
    get:
      summary: World locations mechanics health check
      description: Health check for locations mechanics integration
      operationId: locationsMechanicsHealthCheck
      tags:
      - World Mechanics
      security: []
      responses:
        '200':
          description: Locations mechanics healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Locations mechanics unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/v1/mechanics/world/cities/health:
    get:
      summary: World cities mechanics health check
      description: Health check for cities mechanics integration
      operationId: citiesMechanicsHealthCheck
      tags:
      - World Mechanics
      security: []
      responses:
        '200':
          description: Cities mechanics healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Cities mechanics unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/v1/mechanics/world/factions/health:
    get:
      summary: World factions mechanics health check
      description: Health check for factions mechanics integration
      operationId: factionsMechanicsHealthCheck
      tags:
      - World Mechanics
      security: []
      responses:
        '200':
          description: Factions mechanics healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Factions mechanics unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/v1/mechanics/combat/system/health:
    get:
      summary: Combat system mechanics health check
      description: Health check for combat system mechanics integration
      operationId: combatSystemMechanicsHealthCheck
      tags:
      - Combat Mechanics
      security: []
      responses:
        '200':
          description: Combat system mechanics healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Combat system mechanics unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/v1/mechanics/combat/abilities/health:
    get:
      summary: Combat abilities mechanics health check
      description: Health check for abilities mechanics integration
      operationId: combatAbilitiesMechanicsHealthCheck
      tags:
      - Combat Mechanics
      security: []
      responses:
        '200':
          description: Abilities mechanics healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Abilities mechanics unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/v1/mechanics/combat/weapons/health:
    get:
      summary: Combat weapons mechanics health check
      description: Health check for weapons mechanics integration
      operationId: weaponsMechanicsHealthCheck
      tags:
      - Combat Mechanics
      security: []
      responses:
        '200':
          description: Weapons mechanics healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Weapons mechanics unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /api/v1/mechanics/validate:
    post:
      summary: Validate mechanics configuration
      description: 'Validates a mechanics configuration for conflicts and consistency.

        Ensures that mechanics settings don''t create gameplay imbalances.

        '
      operationId: validateMechanicsConfig
      tags:
      - Mechanics Validation
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mechanics_config:
                  type: object
                  additionalProperties: true
                  description: Mechanics configuration to validate
                domain:
                  type: string
                  enum:
                  - economy
                  - social
                  - world
                  - combat
                  description: Primary domain for validation
                strict_mode:
                  type: boolean
                  default: false
                  description: Enable strict validation rules
              required:
              - mechanics_config
      responses:
        '200':
          description: Validation successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                    example: true
                  warnings:
                    type: array
                    items:
                      type: string
                  suggestions:
                    type: array
                    items:
                      type: string
                required:
                - valid
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                    example: false
                  errors:
                    type: array
                    items:
                      type: string
                  conflicts:
                    type: array
                    items:
                      $ref: '#/components/schemas/MechanicConflict'
                required:
                - valid
                - errors
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/v1/mechanics/conflicts:
    get:
      summary: Get mechanics conflicts
      description: 'Retrieves a list of current mechanics conflicts that need resolution.

        Helps identify gameplay balance issues and mechanic interactions.

        '
      operationId: getMechanicsConflicts
      tags:
      - Mechanics Validation
      security:
      - BearerAuth: []
      parameters:
      - name: domain
        in: query
        schema:
          type: string
          enum:
          - economy
          - social
          - world
          - combat
        description: Filter conflicts by domain
      - name: severity
        in: query
        schema:
          type: string
          enum:
          - low
          - medium
          - high
          - critical
        description: Filter by conflict severity
      - name: resolved
        in: query
        schema:
          type: boolean
          default: false
        description: Include resolved conflicts
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Maximum number of conflicts to return
      responses:
        '200':
          description: List of mechanics conflicts
          content:
            application/json:
              schema:
                type: object
                properties:
                  conflicts:
                    type: array
                    items:
                      $ref: '#/components/schemas/MechanicConflict'
                  pagination:
                    $ref: '#/components/schemas/PaginationInfo'
                required:
                - conflicts
                - pagination
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    HealthResponse:
      type: object
      required:
      - status
      - timestamp
      - version
      - service
      properties:
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
          description: Current health status of the service
        timestamp:
          type: string
          format: date-time
          description: Time of the health check
        version:
          type: string
          description: Service version
        service:
          type: string
          description: Name of the service
        details:
          type: object
          additionalProperties:
            type: string
          description: Additional health details
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    Error:
      type: object
      required:
      - message
      - code
      properties:
        message:
          type: string
          maxLength: 1000
        domain:
          type: string
          maxLength: 255
          default: mechanics
        timestamp:
          type: string
          format: date-time
        code:
          type: integer
          minimum: 100
          maximum: 599
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    PaginationInfo:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
        total:
          type: integer
          minimum: 0
        total_pages:
          type: integer
          minimum: 0
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    GameMechanic:
      type: object
      required:
      - id
      - name
      - domain
      - category
      - active
      - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the mechanic
        name:
          type: string
          maxLength: 255
          description: Human-readable name of the mechanic
        domain:
          type: string
          enum:
          - economy
          - social
          - world
          - combat
          description: Primary domain this mechanic belongs to
        category:
          type: string
          maxLength: 100
          description: Specific category within the domain
        description:
          type: string
          maxLength: 2000
          description: Detailed description of the mechanic
        version:
          type: string
          maxLength: 50
          description: Version of the mechanic implementation
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        tags:
          type: array
          items:
            type: string
          description: Tags for categorization and filtering
        active:
          type: boolean
          description: Whether this mechanic is currently active
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    GameMechanicDetail:
      allOf:
      - $ref: '#/components/schemas/GameMechanic'
      - type: object
        properties:
          configuration:
            type: object
            additionalProperties: true
            description: Detailed configuration parameters
          dependencies:
            type: array
            items:
              type: string
              format: uuid
            description: IDs of mechanics this mechanic depends on
          conflicts:
            type: array
            items:
              $ref: '#/components/schemas/MechanicConflict'
            description: Known conflicts with other mechanics
          performance_metrics:
            type: object
            properties:
              avg_response_time_ms:
                type: number
                format: float
              throughput_per_second:
                type: number
                format: float
              error_rate_percent:
                type: number
                format: float
              memory_usage_mb:
                type: number
                format: float
            description: Performance metrics for this mechanic
          last_validated_at:
            type: string
            format: date-time
          validation_status:
            type: string
            enum:
            - valid
            - warning
            - error
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
    MechanicConflict:
      type: object
      required:
      - id
      - mechanic_a_id
      - mechanic_b_id
      - conflict_type
      - severity
      - description
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the conflict
        mechanic_a_id:
          type: string
          format: uuid
          description: ID of the first mechanic in conflict
        mechanic_b_id:
          type: string
          format: uuid
          description: ID of the second mechanic in conflict
        resolved_by:
          type: string
          format: uuid
          nullable: true
          description: ID of the user who resolved the conflict
        conflict_type:
          type: string
          enum:
          - balance
          - dependency
          - resource
          - timing
          - state
          description: Type of conflict
        severity:
          type: string
          enum:
          - low
          - medium
          - high
          - critical
          description: Severity level of the conflict
        description:
          type: string
          maxLength: 1000
          description: Detailed description of the conflict
        suggested_resolution:
          type: string
          maxLength: 1000
          description: Suggested way to resolve the conflict
        resolved_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        resolved:
          type: boolean
          default: false
          description: Whether the conflict has been resolved
      description: 'BACKEND NOTE: Fields ordered for struct alignment (large → small). Expected memory savings: 30-50%.'
  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Access denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
            description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
